{
  "kind": "discovery#restDescription",
  "revision": "20260918",
  "rootUrl": "https://testing.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "baseUrl": "https://testing.googleapis.com/",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "discoveryVersion": "v1",
  "name": "testing",
  "basePath": "",
  "id": "testing:v1",
  "title": "Cloud Testing API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "resources": {
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "testing.testEnvironmentCatalog.get",
          "path": "v1/testEnvironmentCatalog/{environmentType}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog.",
              "location": "query"
            },
            "includeViewableModels": {
              "type": "boolean",
              "description": "Optional. Whether to include viewable only models in the response. This is only applicable for Android models.",
              "location": "query"
            },
            "environmentType": {
              "required": true,
              "description": "Required. The type of environment that should be listed.",
              "type": "string",
              "enumDescriptions": [
                "Do not use. For proto versioning only.",
                "A device running a version of the Android OS.",
                "A device running a version of iOS.",
                "A network configuration to use when running a test.",
                "The software environment provided by TestExecutionService.",
                "The IP blocks used by devices in the test environment."
              ],
              "location": "path",
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE",
                "DEVICE_IP_BLOCKS"
              ]
            }
          },
          "parameterOrder": [
            "environmentType"
          ],
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "description": "Gets the catalog of supported test environments. May return any of the following canonical error codes: - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL - if an internal error occurred"
        }
      }
    },
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "parameterOrder": [],
          "id": "testing.applicationDetailService.getApkDetails",
          "path": "v1/applicationDetailService/getApkDetails",
          "httpMethod": "POST",
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "description": "Gets the details of an Android application APK.",
          "parameters": {
            "bundleLocation.gcsPath": {
              "type": "string",
              "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)",
              "location": "query"
            }
          },
          "request": {
            "$ref": "FileReference"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "testMatrices": {
          "methods": {
            "create": {
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "request": {
                "$ref": "TestMatrix"
              },
              "httpMethod": "POST",
              "path": "v1/projects/{projectId}/testMatrices",
              "description": "Creates and runs a matrix of tests according to the given specifications. Unsupported environments will be returned in the state UNSUPPORTED. A test matrix is limited to use at most 2000 devices in parallel. The returned matrix will not yet contain the executions that will be created for this matrix. Execution creation happens later on and will require a call to GetTestMatrix. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed or if the matrix tries to use too many simultaneous devices.",
              "id": "testing.projects.testMatrices.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "TestMatrix"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The GCE project under which this job will run."
                },
                "requestId": {
                  "description": "A string id used to detect duplicated requests. Ids are automatically scoped to a project, so users should ensure the ID is unique per-project. A UUID is recommended. Optional, but strongly recommended.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId"
              ]
            },
            "get": {
              "description": "Checks the status of a test matrix and the executions once they are created. The test matrix will contain the list of test executions to run if and only if the resultStorage.toolResultsExecution fields have been populated. Note: Flaky test executions may be added to the matrix at a later stage. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Cloud project that owns the test matrix."
                },
                "testMatrixId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Unique test matrix id which was assigned by the service."
                }
              },
              "response": {
                "$ref": "TestMatrix"
              },
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "httpMethod": "GET",
              "id": "testing.projects.testMatrices.get",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}"
            },
            "cancel": {
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "parameters": {
                "testMatrixId": {
                  "type": "string",
                  "required": true,
                  "description": "Test matrix that will be canceled.",
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "description": "Cloud project that owns the test.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "id": "testing.projects.testMatrices.cancel"
            }
          }
        },
        "deviceSessions": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
                }
              },
              "id": "testing.projects.deviceSessions.get",
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "GET /v1/projects/{project_id}/deviceSessions/{device_session_id} Return a DeviceSession, which documents the allocation status and whether the device is allocated. Clients making requests from this API must poll GetDeviceSession.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DeviceSession"
              }
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "id": "testing.projects.deviceSessions.cancel",
              "description": "POST /v1/projects/{project_id}/deviceSessions/{device_session_id}:cancel Changes the DeviceSession to state FINISHED and terminates all connections. Canceled sessions are not deleted and can be retrieved or listed by the user until they expire based on the 28 day deletion policy.",
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CancelDeviceSessionRequest"
              }
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "httpMethod": "POST",
              "id": "testing.projects.deviceSessions.create",
              "description": "POST /v1/projects/{project_id}/deviceSessions",
              "path": "v1/{+parent}/deviceSessions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The Compute Engine project under which this device will be allocated. \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "request": {
                "$ref": "DeviceSession"
              },
              "response": {
                "$ref": "DeviceSession"
              }
            },
            "patch": {
              "response": {
                "$ref": "DeviceSession"
              },
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to update."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "type": "string"
                }
              },
              "description": "PATCH /v1/projects/{projectId}/deviceSessions/deviceSessionId}:updateDeviceSession Updates the current device session to the fields described by the update_mask.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DeviceSession"
              },
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.deviceSessions.patch",
              "httpMethod": "PATCH"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "id": "testing.projects.deviceSessions.list",
              "response": {
                "$ref": "ListDeviceSessionsResponse"
              },
              "description": "GET /v1/projects/{project_id}/deviceSessions Lists device Sessions owned by the project user.",
              "parameters": {
                "filter": {
                  "description": "Optional. If specified, responses will be filtered by the given filter. Allowed fields are: session_state.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A continuation token for paging."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of DeviceSessions to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the parent to request, e.g. \"projects/{project_id}\"",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/deviceSessions"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "schemas": {
    "TestEnvironmentCatalog": {
      "id": "TestEnvironmentCatalog",
      "type": "object",
      "description": "A description of a test environment.",
      "properties": {
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        },
        "softwareCatalog": {
          "$ref": "ProvidedSoftwareCatalog",
          "description": "The software test environment provided by TestExecutionService."
        },
        "deviceIpBlockCatalog": {
          "description": "The IP blocks used by devices in the test environment.",
          "$ref": "DeviceIpBlockCatalog"
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "iosDeviceCatalog": {
          "description": "Supported iOS devices.",
          "$ref": "IosDeviceCatalog"
        }
      }
    },
    "TestMatrix": {
      "id": "TestMatrix",
      "properties": {
        "extendedInvalidMatrixDetails": {
          "description": "Output only. Details about why a matrix was deemed invalid. If multiple checks can be safely performed, they will be reported but no assumptions should be made about the length of this list.",
          "items": {
            "$ref": "MatrixErrorDetail"
          },
          "type": "array",
          "readOnly": true
        },
        "testMatrixId": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "environmentMatrix": {
          "description": "Required. The devices the tests are being executed on.",
          "$ref": "EnvironmentMatrix"
        },
        "testExecutions": {
          "items": {
            "$ref": "TestExecution"
          },
          "description": "Output only. The list of test executions that the service creates for this matrix.",
          "type": "array"
        },
        "testSpecification": {
          "description": "Required. How to run the test.",
          "$ref": "TestSpecification"
        },
        "invalidMatrixDetails": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by the user or in the manifest file. This can be caused by one of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported",
            "The matrix expanded to contain too many executions.",
            "Not enough test quota to run the executions in this matrix.",
            "A required cloud service api is not activated. See: https://firebase.google.com/docs/test-lab/android/continuous#requirements",
            "There was an unknown permission issue running this test."
          ],
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK",
            "MATRIX_TOO_LARGE",
            "TEST_QUOTA_EXCEEDED",
            "SERVICE_NOT_ACTIVATED",
            "UNKNOWN_PERMISSION_ERROR"
          ],
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state."
        },
        "flakyTestAttempts": {
          "format": "int32",
          "type": "integer",
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns."
        },
        "failFast": {
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "Output only. Indicates the current progress of the test matrix.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Output only. The time this test matrix was initially created.",
          "format": "google-datetime"
        },
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Information about the client which invoked the test."
        },
        "resultStorage": {
          "$ref": "ResultStorage",
          "description": "Required. Where the results for the matrix are written."
        },
        "outcomeSummary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test cases failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ],
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED.",
          "type": "string",
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ]
        },
        "projectId": {
          "description": "The cloud project that owns the test matrix.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome."
    },
    "AndroidRuntimeConfiguration": {
      "properties": {
        "locales": {
          "description": "The set of available locales.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        },
        "orientations": {
          "items": {
            "$ref": "Orientation"
          },
          "type": "array",
          "description": "The set of available orientations."
        }
      },
      "type": "object",
      "id": "AndroidRuntimeConfiguration",
      "description": "Android configuration that can be selected at the time a test is run."
    },
    "ApkSplits": {
      "description": "A single dynamic feature apk.",
      "properties": {
        "bundleSplits": {
          "type": "array",
          "items": {
            "$ref": "FileReference"
          },
          "description": "A list of .apk files generated by bundletool to install to the device under test as a single android app with adb install-multiple. If specified, requires one or more bundle_splits. The first split specified represents the base APK, while subsequent splits represent feature apks."
        }
      },
      "id": "ApkSplits",
      "type": "object"
    },
    "IosVersion": {
      "description": "An iOS version.",
      "properties": {
        "supportedXcodeVersionIds": {
          "description": "The available Xcode versions for this version.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array"
        },
        "majorVersion": {
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\".",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService."
        },
        "minorVersion": {
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\".",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "IosVersion"
    },
    "Metadata": {
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The android:value value"
        },
        "name": {
          "type": "string",
          "description": "The android:name value"
        }
      },
      "id": "Metadata"
    },
    "NoActivityIntent": {
      "properties": {},
      "type": "object",
      "description": "Skips the starting activity",
      "id": "NoActivityIntent"
    },
    "AndroidDevice": {
      "description": "A single Android device.",
      "properties": {
        "androidModelId": {
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidVersionId": {
          "type": "string",
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "id": "AndroidDevice",
      "type": "object"
    },
    "AndroidVersion": {
      "type": "object",
      "properties": {
        "distribution": {
          "description": "Market share for this version.",
          "$ref": "Distribution"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array"
        },
        "apiLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The API level for this Android version. Examples: 18, 19."
        },
        "id": {
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "releaseDate": {
          "description": "The date this Android version became available in the market.",
          "$ref": "Date"
        },
        "versionString": {
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\".",
          "type": "string"
        },
        "codeName": {
          "type": "string",
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\"."
        }
      },
      "description": "A version of the Android OS.",
      "id": "AndroidVersion"
    },
    "IosTestSetup": {
      "description": "A description of how to set up an iOS device prior to running the test.",
      "type": "object",
      "id": "IosTestSetup",
      "properties": {
        "additionalIpas": {
          "type": "array",
          "description": "iOS apps to install in addition to those being directly tested.",
          "items": {
            "$ref": "FileReference"
          }
        },
        "pushFiles": {
          "items": {
            "$ref": "IosDeviceFile"
          },
          "type": "array",
          "description": "List of files to push to the device before starting the test."
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "pullDirectories": {
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          },
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID."
        }
      }
    },
    "AndroidTestLoop": {
      "id": "AndroidTestLoop",
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being.",
      "type": "object",
      "properties": {
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default is determined by examining the application's manifest."
        },
        "scenarioLabels": {
          "items": {
            "type": "string"
          },
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field.",
          "type": "array"
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "scenarios": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest.",
          "type": "array"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        }
      }
    },
    "UsesPermissionTag": {
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "maxSdkVersion": {
          "type": "integer",
          "description": "The android:name value",
          "format": "int32"
        }
      },
      "id": "UsesPermissionTag",
      "type": "object",
      "description": "The tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-permission-element.html"
    },
    "IosModel": {
      "description": "A description of an iOS device tests may be run on.",
      "type": "object",
      "id": "IosModel",
      "properties": {
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "formFactor": {
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ],
          "type": "string"
        },
        "deviceCapabilities": {
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\".",
          "type": "string"
        },
        "supportedVersionIds": {
          "type": "array",
          "description": "The set of iOS major software versions this device supports.",
          "items": {
            "type": "string"
          }
        },
        "screenY": {
          "type": "integer",
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "format": "int32"
        },
        "screenDensity": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI."
        },
        "perVersionInfo": {
          "type": "array",
          "description": "Version-specific information of an iOS model.",
          "items": {
            "$ref": "PerIosVersionInfo"
          }
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ClientInfoDetail": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of detailed client information."
        },
        "value": {
          "description": "Required. The value of detailed client information.",
          "type": "string"
        }
      },
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.",
      "id": "ClientInfoDetail"
    },
    "Environment": {
      "id": "Environment",
      "description": "The environment in which the test is run.",
      "properties": {
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        },
        "androidDevice": {
          "description": "An Android device which must be used with an Android test.",
          "$ref": "AndroidDevice"
        }
      },
      "type": "object"
    },
    "ProvidedSoftwareCatalog": {
      "properties": {
        "androidxOrchestratorVersion": {
          "type": "string",
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator."
        },
        "orchestratorVersion": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator."
        }
      },
      "id": "ProvidedSoftwareCatalog",
      "type": "object",
      "description": "The currently provided software environment on the devices under test."
    },
    "DeviceFile": {
      "description": "A single device file description.",
      "id": "DeviceFile",
      "properties": {
        "obbFile": {
          "description": "A reference to an opaque binary blob file.",
          "$ref": "ObbFile"
        },
        "regularFile": {
          "description": "A reference to a regular file.",
          "$ref": "RegularFile"
        }
      },
      "type": "object"
    },
    "IosDeviceList": {
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "id": "IosDeviceList",
      "properties": {
        "iosDevices": {
          "items": {
            "$ref": "IosDevice"
          },
          "type": "array",
          "description": "Required. A list of iOS devices."
        }
      },
      "type": "object"
    },
    "ListDeviceSessionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deviceSessions": {
          "type": "array",
          "items": {
            "$ref": "DeviceSession"
          },
          "description": "The sessions matching the specified filter in the given cloud project."
        }
      },
      "description": "A list of device sessions.",
      "type": "object",
      "id": "ListDeviceSessionsResponse"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Identifies an account and how to log into it.",
      "properties": {
        "googleAuto": {
          "$ref": "GoogleAuto",
          "description": "An automatic google login account."
        }
      }
    },
    "RegularFile": {
      "properties": {
        "content": {
          "description": "Required. The source file.",
          "$ref": "FileReference"
        },
        "devicePath": {
          "type": "string",
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way."
        }
      },
      "description": "A file or directory to install on the device before the test starts.",
      "id": "RegularFile",
      "type": "object"
    },
    "IosTestLoop": {
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "id": "IosTestLoop",
      "type": "object",
      "properties": {
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The .ipa of the application to test."
        },
        "scenarios": {
          "type": "array",
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "SessionStateEvent": {
      "properties": {
        "sessionState": {
          "type": "string",
          "description": "Output only. The session_state tracked by this event",
          "readOnly": true,
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ]
        },
        "stateMessage": {
          "description": "Output only. A human-readable message to explain the state.",
          "type": "string",
          "readOnly": true
        },
        "eventTime": {
          "description": "Output only. The time that the session_state first encountered that state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states.",
      "id": "SessionStateEvent",
      "type": "object"
    },
    "ToolResultsStep": {
      "id": "ToolResultsStep",
      "description": "Represents a tool results step resource. This has the results of a TestExecution.",
      "properties": {
        "stepId": {
          "description": "Output only. A tool results step ID.",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "executionId": {
          "description": "Output only. A tool results execution ID.",
          "type": "string"
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results step.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IosDeviceCatalog": {
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "IosModel"
          },
          "description": "The set of supported iOS device models."
        },
        "versions": {
          "description": "The set of supported iOS software versions.",
          "items": {
            "$ref": "IosVersion"
          },
          "type": "array"
        },
        "xcodeVersions": {
          "items": {
            "$ref": "XcodeVersion"
          },
          "type": "array",
          "description": "The set of supported Xcode versions."
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "IosRuntimeConfiguration"
        }
      },
      "type": "object",
      "description": "The currently supported iOS devices.",
      "id": "IosDeviceCatalog"
    },
    "DirectAccessVersionInfo": {
      "id": "DirectAccessVersionInfo",
      "properties": {
        "directAccessSupported": {
          "type": "boolean",
          "description": "Whether direct access is supported at all. Clients are expected to filter down the device list to only android models and versions which support Direct Access when that is the user intent."
        },
        "minimumAndroidStudioVersion": {
          "type": "string",
          "description": "Output only. Indicates client-device compatibility, where a device is known to work only with certain workarounds implemented in the Android Studio client. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\"."
        }
      },
      "description": "Denotes whether Direct Access is supported, and by which client versions. DirectAccessService is currently available as a preview to select developers. You can register today on behalf of you and your team at https://developer.android.com/studio/preview/android-device-streaming",
      "type": "object"
    },
    "DeviceIpBlockCatalog": {
      "type": "object",
      "id": "DeviceIpBlockCatalog",
      "description": "List of IP blocks used by the Firebase Test Lab",
      "properties": {
        "ipBlocks": {
          "items": {
            "$ref": "DeviceIpBlock"
          },
          "type": "array",
          "description": "The device IP blocks used by Firebase Test Lab"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LabInfo": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the lab where the device is hosted. E.g. \"US\" for United States, \"CH\" for Switzerland."
        },
        "name": {
          "type": "string",
          "description": "Lab name where the device is hosted. If empty, the device is hosted in a Google owned lab."
        }
      },
      "id": "LabInfo",
      "description": "Lab specific information for a device.",
      "type": "object"
    },
    "GoogleAuto": {
      "description": "Enables automatic Google account login. If set, the service automatically generates a Google test account and adds it to the device, before executing the test. Note that test accounts might be reused. Many applications show their full set of functionalities when an account is present on the device. Logging into the device with these generated accounts allows testing more functionalities.",
      "id": "GoogleAuto",
      "properties": {},
      "type": "object"
    },
    "AndroidMatrix": {
      "type": "object",
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored.",
      "id": "AndroidMatrix",
      "properties": {
        "androidVersionIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array"
        },
        "androidModelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientations": {
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "locales": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      }
    },
    "Distribution": {
      "description": "Data about the relative number of devices running a given configuration of the Android platform.",
      "properties": {
        "measurementTime": {
          "type": "string",
          "description": "Output only. The time this distribution was measured.",
          "format": "google-datetime"
        },
        "marketShare": {
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Distribution"
    },
    "UniformSharding": {
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "properties": {
        "numShards": {
          "type": "integer",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "UniformSharding"
    },
    "NetworkConfiguration": {
      "id": "NetworkConfiguration",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        },
        "upRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the upload traffic."
        },
        "downRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the download traffic."
        }
      }
    },
    "Shard": {
      "properties": {
        "estimatedShardDuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The estimated shard duration based on previous test case timing records, if available.",
          "format": "google-duration"
        },
        "numShards": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of shards.",
          "format": "int32"
        },
        "testTargetsForShard": {
          "$ref": "TestTargetsForShard",
          "readOnly": true,
          "description": "Output only. Test targets for each shard. Only set for manual sharding."
        },
        "shardIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The index of the shard among all the shards."
        }
      },
      "id": "Shard",
      "type": "object",
      "description": "Output only. Details about the shard."
    },
    "LauncherActivityIntent": {
      "properties": {},
      "id": "LauncherActivityIntent",
      "type": "object",
      "description": "Specifies an intent that starts the main launcher activity."
    },
    "TrafficRule": {
      "id": "TrafficRule",
      "type": "object",
      "properties": {
        "delay": {
          "type": "string",
          "format": "google-duration",
          "description": "Packet delay, must be >= 0."
        },
        "packetDuplicationRatio": {
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "type": "number",
          "format": "float"
        },
        "packetLossRatio": {
          "format": "float",
          "type": "number",
          "description": "Packet loss ratio (0.0 - 1.0)."
        },
        "burst": {
          "format": "float",
          "type": "number",
          "description": "Burst size in kbits."
        },
        "bandwidth": {
          "description": "Bandwidth in kbits/second.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Network emulation parameters."
    },
    "IosDeviceFile": {
      "type": "object",
      "properties": {
        "devicePath": {
          "description": "Location of the file on the device, inside the app's sandboxed filesystem",
          "type": "string"
        },
        "bundleId": {
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device.",
          "type": "string"
        },
        "content": {
          "$ref": "FileReference",
          "description": "The source file"
        }
      },
      "id": "IosDeviceFile",
      "description": "A file or directory to install on the device before the test starts."
    },
    "AndroidInstrumentationTest": {
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "id": "AndroidInstrumentationTest",
      "type": "object",
      "properties": {
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "testApk": {
          "description": "Required. The APK containing the test code to be executed.",
          "$ref": "FileReference"
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "orchestratorOption": {
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ]
        },
        "shardingOption": {
          "description": "The option to run tests in multiple shards in parallel.",
          "$ref": "ShardingOption"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest.",
          "type": "string"
        }
      }
    },
    "PerAndroidVersionInfo": {
      "type": "object",
      "description": "A version-specific information of an Android model.",
      "id": "PerAndroidVersionInfo",
      "properties": {
        "versionId": {
          "type": "string",
          "description": "An Android version."
        },
        "deviceCapacity": {
          "type": "string",
          "description": "The number of online devices for an Android version.",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        },
        "directAccessVersionInfo": {
          "$ref": "DirectAccessVersionInfo",
          "readOnly": true,
          "description": "Output only. Identifies supported clients for DirectAccess for this Android version."
        },
        "interactiveDeviceAvailabilityEstimate": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The estimated wait time for a single interactive device session using Direct Access.",
          "format": "google-duration"
        }
      }
    },
    "AppBundle": {
      "id": "AppBundle",
      "type": "object",
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "properties": {
        "apks": {
          "description": ".apk files generated by bundletool to install as a single android app.",
          "$ref": "ApkSplits"
        },
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        }
      }
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "key": {
          "description": "Key for the environment variable.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        }
      },
      "type": "object",
      "description": "A key-value pair passed as an environment variable to the test."
    },
    "StartActivityIntent": {
      "id": "StartActivityIntent",
      "type": "object",
      "description": "A starting intent specified by an action, uri, and categories.",
      "properties": {
        "categories": {
          "description": "Intent categories to set on the intent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "URI for the action.",
          "type": "string"
        },
        "action": {
          "description": "Action name. Required for START_ACTIVITY.",
          "type": "string"
        }
      }
    },
    "IosRoboTest": {
      "type": "object",
      "description": "A test that explores an iOS application on an iOS device.",
      "id": "IosRoboTest",
      "properties": {
        "roboScript": {
          "$ref": "FileReference",
          "description": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts. The maximum allowed file size of the roboscript is 10MiB."
        },
        "appBundleId": {
          "type": "string",
          "description": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file."
        },
        "appIpa": {
          "description": "Required. The ipa stored at this file should be used to run the test.",
          "$ref": "FileReference"
        }
      }
    },
    "MatrixErrorDetail": {
      "type": "object",
      "description": "Describes a single error or issue with a matrix.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Output only. The reason for the error. This is a constant value in UPPER_SNAKE_CASE that identifies the cause of the error.",
          "readOnly": true
        },
        "message": {
          "description": "Output only. A human-readable message about how the error in the TestMatrix. Expands on the `reason` field with additional details and possible options to fix the issue.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MatrixErrorDetail"
    },
    "GetApkDetailsResponse": {
      "description": "Response containing the details of the specified Android application.",
      "id": "GetApkDetailsResponse",
      "properties": {
        "apkDetail": {
          "$ref": "ApkDetail",
          "description": "Details of the Android App."
        }
      },
      "type": "object"
    },
    "ShardingOption": {
      "id": "ShardingOption",
      "description": "Options for enabling sharding.",
      "properties": {
        "manualSharding": {
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods.",
          "$ref": "ManualSharding"
        },
        "uniformSharding": {
          "description": "Uniformly shards test cases given a total number of shards.",
          "$ref": "UniformSharding"
        },
        "smartSharding": {
          "description": "Shards test based on previous test case timing records.",
          "$ref": "SmartSharding"
        }
      },
      "type": "object"
    },
    "ApkDetail": {
      "description": "Android application details based on application manifest and archive contents.",
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "type": "object",
      "id": "ApkDetail"
    },
    "IosRuntimeConfiguration": {
      "description": "iOS configuration that can be selected at the time a test is run.",
      "id": "IosRuntimeConfiguration",
      "properties": {
        "orientations": {
          "description": "The set of available orientations.",
          "type": "array",
          "items": {
            "$ref": "Orientation"
          }
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The set of available locales."
        }
      },
      "type": "object"
    },
    "AndroidModel": {
      "id": "AndroidModel",
      "description": "A description of an Android device tests may be run on.",
      "properties": {
        "supportedAbis": {
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labInfo": {
          "readOnly": true,
          "description": "Output only. Lab info of this device.",
          "$ref": "LabInfo"
        },
        "screenX": {
          "format": "int32",
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\"."
        },
        "manufacturer": {
          "description": "The manufacturer of this device.",
          "type": "string"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "screenY": {
          "type": "integer",
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels."
        },
        "lowFpsVideoRecording": {
          "type": "boolean",
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config."
        },
        "perVersionInfo": {
          "description": "Version-specific information of an Android model.",
          "type": "array",
          "items": {
            "$ref": "PerAndroidVersionInfo"
          }
        },
        "screenDensity": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density"
        },
        "codename": {
          "type": "string",
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE."
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image (photo) of the device.",
          "type": "string"
        },
        "formFactor": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ],
          "description": "Whether this device is a phone, tablet, wearable, etc."
        },
        "supportedVersionIds": {
          "items": {
            "type": "string"
          },
          "description": "The set of Android versions this device supports.",
          "type": "array"
        },
        "form": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "description": "Whether this device is virtual or physical.",
          "type": "string",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ]
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessDeniedReasons": {
          "type": "array",
          "description": "Reasons for access denial. This model is accessible if this list is empty, otherwise the model is viewable only.",
          "items": {
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Do not use. For proto versioning only.",
              "The model is for viewing purposes only. Access and utilization require acceptance of an End User License Agreement (EULA)."
            ]
          }
        },
        "brand": {
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResultStorage": {
      "type": "object",
      "id": "ResultStorage",
      "properties": {
        "resultsUrl": {
          "type": "string",
          "description": "Output only. URL to the results in the Firebase Web Console."
        },
        "toolResultsHistory": {
          "$ref": "ToolResultsHistory",
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value."
        },
        "googleCloudStorage": {
          "$ref": "GoogleCloudStorage",
          "description": "Required."
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        }
      },
      "description": "Locations where the results of running the test are stored."
    },
    "EnvironmentMatrix": {
      "id": "EnvironmentMatrix",
      "description": "The matrix of environments in which the test is to be executed.",
      "properties": {
        "androidMatrix": {
          "$ref": "AndroidMatrix",
          "description": "A matrix of Android devices."
        },
        "iosDeviceList": {
          "description": "A list of iOS devices.",
          "$ref": "IosDeviceList"
        },
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified devices.",
          "$ref": "AndroidDeviceList"
        }
      },
      "type": "object"
    },
    "CancelTestMatrixResponse": {
      "properties": {
        "testState": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect.",
          "type": "string"
        }
      },
      "description": "Response containing the current state of the specified test matrix.",
      "type": "object",
      "id": "CancelTestMatrixResponse"
    },
    "DeviceIpBlock": {
      "properties": {
        "addedDate": {
          "description": "The date this block was added to Firebase Test Lab",
          "$ref": "Date"
        },
        "block": {
          "description": "An IP address block in CIDR notation eg: 34.68.194.64/29",
          "type": "string"
        },
        "form": {
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "type": "string",
          "description": "Whether this block is used by physical or virtual devices",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ]
        }
      },
      "description": "A single device IP block",
      "type": "object",
      "id": "DeviceIpBlock"
    },
    "ApkManifest": {
      "type": "object",
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "properties": {
        "services": {
          "type": "array",
          "description": "Services contained in the tag.",
          "items": {
            "$ref": "Service"
          }
        },
        "usesPermission": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum API level required for the application to run."
        },
        "packageName": {
          "type": "string",
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\"."
        },
        "versionName": {
          "description": "Version number shown to users.",
          "type": "string"
        },
        "usesFeature": {
          "description": "Feature usage tags defined in the manifest.",
          "type": "array",
          "items": {
            "$ref": "UsesFeature"
          }
        },
        "targetSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the API Level on which the application is designed to run."
        },
        "applicationLabel": {
          "type": "string",
          "description": "User-readable name for the application."
        },
        "intentFilters": {
          "type": "array",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "versionCode": {
          "type": "string",
          "description": "Version number used internally by the app.",
          "format": "int64"
        },
        "maxSdkVersion": {
          "description": "Maximum API level on which the application is designed to run.",
          "format": "int32",
          "type": "integer"
        },
        "metadata": {
          "description": "Meta-data tags defined in the manifest.",
          "type": "array",
          "items": {
            "$ref": "Metadata"
          }
        },
        "usesPermissionTags": {
          "type": "array",
          "items": {
            "$ref": "UsesPermissionTag"
          },
          "description": "Permissions declared to be used by the application"
        }
      },
      "id": "ApkManifest"
    },
    "IosXcTest": {
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "type": "object",
      "properties": {
        "xctestrun": {
          "$ref": "FileReference",
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip."
        },
        "testsZip": {
          "$ref": "FileReference",
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified."
        },
        "testSpecialEntitlements": {
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement.",
          "type": "boolean"
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "xcodeVersion": {
          "type": "string",
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports."
        }
      },
      "id": "IosXcTest"
    },
    "NetworkConfigurationCatalog": {
      "properties": {
        "configurations": {
          "items": {
            "$ref": "NetworkConfiguration"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NetworkConfigurationCatalog"
    },
    "IntentFilter": {
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "type": "object",
      "id": "IntentFilter",
      "properties": {
        "actionNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The android:name value of the tag."
        },
        "categoryNames": {
          "items": {
            "type": "string"
          },
          "description": "The android:name value of the tag.",
          "type": "array"
        },
        "mimeType": {
          "description": "The android:mimeType value of the tag.",
          "type": "string"
        }
      }
    },
    "ManualSharding": {
      "id": "ManualSharding",
      "properties": {
        "testTargetsForShard": {
          "type": "array",
          "items": {
            "$ref": "TestTargetsForShard"
          },
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500."
        }
      },
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "type": "object"
    },
    "Locale": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A human-friendly name for this language/locale. Example: \"English\"."
        },
        "region": {
          "type": "string",
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale."
        },
        "id": {
          "type": "string",
          "description": "The id for this locale. Example: \"en_US\"."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Example: \"default\"."
        }
      },
      "id": "Locale",
      "description": "A location/region designation for language.",
      "type": "object"
    },
    "SystraceSetup": {
      "properties": {
        "durationSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "deprecated": true
        }
      },
      "id": "SystraceSetup",
      "type": "object"
    },
    "RoboStartingIntent": {
      "type": "object",
      "id": "RoboStartingIntent",
      "description": "Message for specifying the start activities to crawl.",
      "properties": {
        "startActivity": {
          "description": "An intent that starts an activity with specific details.",
          "$ref": "StartActivityIntent"
        },
        "launcherActivity": {
          "description": "An intent that starts the main launcher activity.",
          "$ref": "LauncherActivityIntent"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Timeout in seconds for each intent."
        },
        "noActivity": {
          "$ref": "NoActivityIntent",
          "description": "Skips the starting activity"
        }
      }
    },
    "ClientInfo": {
      "type": "object",
      "id": "ClientInfo",
      "description": "Information about the client which invoked the test.",
      "properties": {
        "clientInfoDetails": {
          "description": "The list of detailed information about client.",
          "items": {
            "$ref": "ClientInfoDetail"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Client name, such as gcloud.",
          "type": "string"
        }
      }
    },
    "AndroidDeviceList": {
      "description": "A list of Android device configurations in which the test is to be executed.",
      "type": "object",
      "id": "AndroidDeviceList",
      "properties": {
        "androidDevices": {
          "items": {
            "$ref": "AndroidDevice"
          },
          "type": "array",
          "description": "Required. A list of Android devices."
        }
      }
    },
    "PerIosVersionInfo": {
      "properties": {
        "versionId": {
          "type": "string",
          "description": "An iOS version."
        },
        "deviceCapacity": {
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "type": "string",
          "description": "The number of online devices for an iOS version.",
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        }
      },
      "type": "object",
      "id": "PerIosVersionInfo",
      "description": "A version-specific information of an iOS model."
    },
    "DeviceSession": {
      "id": "DeviceSession",
      "description": "Protobuf message describing the device message, used from several RPCs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
        },
        "stateHistories": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The historical state transitions of the session_state message including the current session state.",
          "items": {
            "$ref": "SessionStateEvent"
          }
        },
        "inactivityTimeout": {
          "format": "google-duration",
          "description": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time that the Session was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The title of the DeviceSession to be presented in the UI.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED.",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes.",
          "type": "string",
          "format": "google-duration"
        },
        "androidDevice": {
          "description": "Required. The requested device.",
          "$ref": "AndroidDevice"
        },
        "activeStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp that the session first became ACTIVE."
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the DeviceSession.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudStorage": {
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path."
        }
      },
      "type": "object",
      "description": "A storage location within Google cloud storage (GCS).",
      "id": "GoogleCloudStorage"
    },
    "UsesFeature": {
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "isRequired": {
          "type": "boolean",
          "description": "The android:required value"
        }
      },
      "id": "UsesFeature",
      "type": "object",
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html"
    },
    "ToolResultsExecution": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results execution.",
          "type": "string"
[...]
