{
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://testing.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20261002",
  "title": "Cloud Testing API",
  "servicePath": "",
  "ownerName": "Google",
  "id": "testing:v1",
  "resources": {
    "projects": {
      "resources": {
        "deviceSessions": {
          "methods": {
            "patch": {
              "description": "PATCH /v1/projects/{projectId}/deviceSessions/deviceSessionId}:updateDeviceSession Updates the current device session to the fields described by the update_mask.",
              "id": "testing.projects.deviceSessions.patch",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "DeviceSession"
              },
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "request": {
                "$ref": "DeviceSession"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$"
                },
                "updateMask": {
                  "description": "Required. The list of fields to update.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "id": "testing.projects.deviceSessions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "description": "GET /v1/projects/{project_id}/deviceSessions/{device_session_id} Return a DeviceSession, which documents the allocation status and whether the device is allocated. Clients making requests from this API must poll GetDeviceSession.",
              "response": {
                "$ref": "DeviceSession"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "location": "path"
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/deviceSessions",
              "parameterOrder": [
                "parent"
              ],
              "description": "POST /v1/projects/{project_id}/deviceSessions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.deviceSessions.create",
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "request": {
                "$ref": "DeviceSession"
              },
              "response": {
                "$ref": "DeviceSession"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The Compute Engine project under which this device will be allocated. \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "cancel": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
                }
              },
              "path": "v1/{+name}:cancel",
              "description": "POST /v1/projects/{project_id}/deviceSessions/{device_session_id}:cancel Changes the DeviceSession to state FINISHED and terminates all connections. Canceled sessions are not deleted and can be retrieved or listed by the user until they expire based on the 28 day deletion policy.",
              "id": "testing.projects.deviceSessions.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "CancelDeviceSessionRequest"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "testing.projects.deviceSessions.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If specified, responses will be filtered by the given filter. Allowed fields are: session_state."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of DeviceSessions to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the parent to request, e.g. \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A continuation token for paging."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/deviceSessions",
              "description": "GET /v1/projects/{project_id}/deviceSessions Lists device Sessions owned by the project user.",
              "response": {
                "$ref": "ListDeviceSessionsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/deviceSessions"
            }
          }
        },
        "testMatrices": {
          "methods": {
            "cancel": {
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "Cloud project that owns the test.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "testMatrixId": {
                  "description": "Test matrix that will be canceled.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "id": "testing.projects.testMatrices.cancel"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates and runs a matrix of tests according to the given specifications. Unsupported environments will be returned in the state UNSUPPORTED. A test matrix is limited to use at most 2000 devices in parallel. The returned matrix will not yet contain the executions that will be created for this matrix. Execution creation happens later on and will require a call to GetTestMatrix. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed or if the matrix tries to use too many simultaneous devices.",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "The GCE project under which this job will run.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "requestId": {
                  "type": "string",
                  "description": "A string id used to detect duplicated requests. Ids are automatically scoped to a project, so users should ensure the ID is unique per-project. A UUID is recommended. Optional, but strongly recommended.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "id": "testing.projects.testMatrices.create",
              "path": "v1/projects/{projectId}/testMatrices",
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "request": {
                "$ref": "TestMatrix"
              },
              "response": {
                "$ref": "TestMatrix"
              }
            },
            "get": {
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "httpMethod": "GET",
              "parameters": {
                "testMatrixId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Unique test matrix id which was assigned by the service."
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Cloud project that owns the test matrix."
                }
              },
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "response": {
                "$ref": "TestMatrix"
              },
              "description": "Checks the status of a test matrix and the executions once they are created. The test matrix will contain the list of test executions to run if and only if the resultStorage.toolResultsExecution fields have been populated. Note: Flaky test executions may be added to the matrix at a later stage. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "id": "testing.projects.testMatrices.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ]
            }
          }
        }
      }
    },
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "httpMethod": "POST",
          "parameters": {
            "bundleLocation.gcsPath": {
              "location": "query",
              "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)",
              "type": "string"
            }
          },
          "id": "testing.applicationDetailService.getApkDetails",
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "path": "v1/applicationDetailService/getApkDetails",
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "parameterOrder": [],
          "request": {
            "$ref": "FileReference"
          },
          "description": "Gets the details of an Android application APK.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "path": "v1/testEnvironmentCatalog/{environmentType}",
          "description": "Gets the catalog of supported test environments. May return any of the following canonical error codes: - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL - if an internal error occurred",
          "httpMethod": "GET",
          "parameters": {
            "includeViewableModels": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Whether to include viewable only models in the response. This is only applicable for Android models."
            },
            "environmentType": {
              "type": "string",
              "location": "path",
              "description": "Required. The type of environment that should be listed.",
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE",
                "DEVICE_IP_BLOCKS"
              ],
              "required": true,
              "enumDescriptions": [
                "Do not use. For proto versioning only.",
                "A device running a version of the Android OS.",
                "A device running a version of iOS.",
                "A network configuration to use when running a test.",
                "The software environment provided by TestExecutionService.",
                "The IP blocks used by devices in the test environment."
              ]
            },
            "projectId": {
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "environmentType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "testing.testEnvironmentCatalog.get",
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}"
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://testing.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "testing",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "ownerDomain": "google.com",
  "schemas": {
    "Environment": {
      "type": "object",
      "properties": {
        "androidDevice": {
          "description": "An Android device which must be used with an Android test.",
          "$ref": "AndroidDevice"
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      },
      "id": "Environment",
      "description": "The environment in which the test is run."
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "A key-value pair passed as an environment variable to the test.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for the environment variable."
        },
        "value": {
          "description": "Value for the environment variable.",
          "type": "string"
        }
      }
    },
    "AndroidDeviceCatalog": {
      "type": "object",
      "id": "AndroidDeviceCatalog",
      "properties": {
        "models": {
          "type": "array",
          "description": "The set of supported Android device models.",
          "items": {
            "$ref": "AndroidModel"
          }
        },
        "versions": {
          "items": {
            "$ref": "AndroidVersion"
          },
          "type": "array",
          "description": "The set of supported Android OS versions."
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "AndroidRuntimeConfiguration"
        }
      },
      "description": "The currently supported Android devices."
    },
    "UsesPermissionTag": {
      "id": "UsesPermissionTag",
      "type": "object",
      "properties": {
        "maxSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "The android:name value"
        },
        "name": {
          "type": "string",
          "description": "The android:name value"
        }
      },
      "description": "The tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-permission-element.html"
    },
    "ListDeviceSessionsResponse": {
      "id": "ListDeviceSessionsResponse",
      "description": "A list of device sessions.",
      "type": "object",
      "properties": {
        "deviceSessions": {
          "items": {
            "$ref": "DeviceSession"
          },
          "description": "The sessions matching the specified filter in the given cloud project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "IosDeviceCatalog": {
      "description": "The currently supported iOS devices.",
      "type": "object",
      "id": "IosDeviceCatalog",
      "properties": {
        "xcodeVersions": {
          "items": {
            "$ref": "XcodeVersion"
          },
          "description": "The set of supported Xcode versions.",
          "type": "array"
        },
        "models": {
          "items": {
            "$ref": "IosModel"
          },
          "type": "array",
          "description": "The set of supported iOS device models."
        },
        "runtimeConfiguration": {
          "$ref": "IosRuntimeConfiguration",
          "description": "The set of supported runtime configurations."
        },
        "versions": {
          "items": {
            "$ref": "IosVersion"
          },
          "type": "array",
          "description": "The set of supported iOS software versions."
        }
      }
    },
    "RoboDirective": {
      "id": "RoboDirective",
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "properties": {
        "actionType": {
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ],
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "inputText": {
          "type": "string",
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name."
        }
      },
      "type": "object"
    },
    "Metadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The android:name value"
        },
        "value": {
          "description": "The android:value value",
          "type": "string"
        }
      },
      "id": "Metadata",
      "type": "object",
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html"
    },
    "CancelDeviceSessionRequest": {
      "id": "CancelDeviceSessionRequest",
      "description": "The request object for cancelling a Device Session.",
      "properties": {},
      "type": "object"
    },
    "SessionStateEvent": {
      "description": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states.",
      "type": "object",
      "id": "SessionStateEvent",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Output only. The time that the session_state first encountered that state.",
          "format": "google-datetime",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A human-readable message to explain the state.",
          "readOnly": true
        },
        "sessionState": {
          "type": "string",
          "description": "Output only. The session_state tracked by this event",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "readOnly": true
        }
      }
    },
    "Shard": {
      "properties": {
        "numShards": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total number of shards.",
          "readOnly": true
        },
        "estimatedShardDuration": {
          "description": "Output only. The estimated shard duration based on previous test case timing records, if available.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "shardIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The index of the shard among all the shards."
        },
        "testTargetsForShard": {
          "description": "Output only. Test targets for each shard. Only set for manual sharding.",
          "readOnly": true,
          "$ref": "TestTargetsForShard"
        }
      },
      "type": "object",
      "id": "Shard",
      "description": "Output only. Details about the shard."
    },
    "TestExecution": {
      "description": "A single test executed in a single environment.",
      "properties": {
        "testDetails": {
          "$ref": "TestDetails",
          "description": "Output only. Additional details about the running test."
        },
        "toolResultsStep": {
          "description": "Output only. Where the results for this execution are written.",
          "$ref": "ToolResultsStep"
        },
        "environment": {
          "description": "Output only. How the host machine(s) are configured.",
          "$ref": "Environment"
        },
        "shard": {
          "description": "Output only. Details about the shard.",
          "$ref": "Shard"
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the test execution.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique id set by the service."
        },
        "testSpecification": {
          "description": "Output only. How to run the test.",
          "$ref": "TestSpecification"
        },
        "timestamp": {
          "description": "Output only. The time this test execution was initially created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED).",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ]
        },
        "matrixId": {
          "description": "Output only. Id of the containing TestMatrix.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TestExecution"
    },
    "ObbFile": {
      "properties": {
        "obbFileName": {
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device.",
          "type": "string"
        },
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        }
      },
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "id": "ObbFile",
      "type": "object"
    },
    "AppBundle": {
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "id": "AppBundle",
      "type": "object",
      "properties": {
        "apks": {
          "description": ".apk files generated by bundletool to install as a single android app.",
          "$ref": "ApkSplits"
        },
        "bundleLocation": {
          "$ref": "FileReference",
          "description": ".aab file representing the app bundle under test."
        }
      }
    },
    "CancelTestMatrixResponse": {
      "properties": {
        "testState": {
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string"
        }
      },
      "description": "Response containing the current state of the specified test matrix.",
      "type": "object",
      "id": "CancelTestMatrixResponse"
    },
    "AndroidRoboTest": {
      "properties": {
        "appInitialActivity": {
          "type": "string",
          "description": "The initial activity that should be used to start the app."
        },
        "roboDirectives": {
          "items": {
            "$ref": "RoboDirective"
          },
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "type": "array"
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "roboScript": {
          "$ref": "FileReference",
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl."
        },
        "maxDepth": {
          "deprecated": true,
          "format": "int32",
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50.",
          "type": "integer"
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "startingIntents": {
          "type": "array",
          "items": {
            "$ref": "RoboStartingIntent"
          },
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly)."
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "maxSteps": {
          "type": "integer",
          "deprecated": true,
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "format": "int32"
        },
        "roboMode": {
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Deprecated: Use ROBO_VERSION_1 instead for all use cases. Runs Robo in standard Espresso with UIAutomator fallback"
          ]
        }
      },
      "type": "object",
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "id": "AndroidRoboTest"
    },
    "IosVersion": {
      "properties": {
        "supportedXcodeVersionIds": {
          "description": "The available Xcode versions for this version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minorVersion": {
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\".",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "majorVersion": {
          "type": "integer",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\".",
          "format": "int32"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An iOS version.",
      "type": "object",
      "id": "IosVersion"
    },
    "IosRoboTest": {
      "type": "object",
      "description": "A test that explores an iOS application on an iOS device.",
      "properties": {
        "appBundleId": {
          "type": "string",
          "description": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file."
        },
        "appIpa": {
          "description": "Required. The ipa stored at this file should be used to run the test.",
          "$ref": "FileReference"
        },
        "roboScript": {
          "description": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts. The maximum allowed file size of the roboscript is 10MiB.",
          "$ref": "FileReference"
        }
      },
      "id": "IosRoboTest"
    },
    "PerIosVersionInfo": {
      "id": "PerIosVersionInfo",
      "properties": {
        "versionId": {
          "description": "An iOS version.",
          "type": "string"
        },
        "deviceCapacity": {
          "type": "string",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "description": "The number of online devices for an iOS version.",
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        }
      },
      "description": "A version-specific information of an iOS model.",
      "type": "object"
    },
    "IosDevice": {
      "description": "A single iOS device.",
      "id": "IosDevice",
      "type": "object",
      "properties": {
        "iosVersionId": {
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosModelId": {
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      }
    },
    "NoActivityIntent": {
      "properties": {},
      "description": "Skips the starting activity",
      "id": "NoActivityIntent",
      "type": "object"
    },
    "RoboStartingIntent": {
      "type": "object",
      "id": "RoboStartingIntent",
      "properties": {
        "startActivity": {
          "$ref": "StartActivityIntent",
          "description": "An intent that starts an activity with specific details."
        },
        "noActivity": {
          "description": "Skips the starting activity",
          "$ref": "NoActivityIntent"
        },
        "launcherActivity": {
          "$ref": "LauncherActivityIntent",
          "description": "An intent that starts the main launcher activity."
        },
        "timeout": {
          "description": "Timeout in seconds for each intent.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Message for specifying the start activities to crawl."
    },
    "EnvironmentMatrix": {
      "properties": {
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified devices.",
          "$ref": "AndroidDeviceList"
        },
        "androidMatrix": {
          "description": "A matrix of Android devices.",
          "$ref": "AndroidMatrix"
        },
        "iosDeviceList": {
          "description": "A list of iOS devices.",
          "$ref": "IosDeviceList"
        }
      },
      "id": "EnvironmentMatrix",
      "description": "The matrix of environments in which the test is to be executed.",
      "type": "object"
    },
    "IntentFilter": {
      "id": "IntentFilter",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "type": "object",
      "properties": {
        "actionNames": {
          "description": "The android:name value of the tag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "categoryNames": {
          "description": "The android:name value of the tag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "The android:mimeType value of the tag."
        }
      }
    },
    "TestSetup": {
      "description": "A description of how to set up the Android device prior to running the test.",
      "id": "TestSetup",
      "type": "object",
      "properties": {
        "systrace": {
          "deprecated": true,
          "$ref": "SystraceSetup",
          "description": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results."
        },
        "additionalApks": {
          "description": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Limited to a combined total of 100 initial setup and additional files.",
          "items": {
            "$ref": "Apk"
          },
          "type": "array"
        },
        "initialSetupApks": {
          "items": {
            "$ref": "Apk"
          },
          "description": "Optional. Initial setup APKs to install before the app under test is installed. Limited to a combined total of 100 initial setup and additional files.",
          "type": "array"
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "account": {
          "description": "The device will be logged in on this account for the duration of the test.",
          "$ref": "Account"
        },
        "environmentVariables": {
          "description": "Environment variables to set for the test (only applicable for instrumentation tests).",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "directoriesToPull": {
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dontAutograntPermissions": {
          "type": "boolean",
          "description": "Whether to prevent all runtime permissions to be granted at app install"
        },
        "filesToPush": {
          "description": "List of files to push to the device before starting the test.",
          "items": {
            "$ref": "DeviceFile"
          },
          "type": "array"
        }
      }
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element",
      "properties": {
        "intentFilter": {
          "items": {
            "$ref": "IntentFilter"
          },
          "description": "Intent filters in the service",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The android:name value"
        }
      }
    },
    "LauncherActivityIntent": {
      "properties": {},
      "id": "LauncherActivityIntent",
      "description": "Specifies an intent that starts the main launcher activity.",
      "type": "object"
    },
    "AndroidModel": {
      "type": "object",
      "id": "AndroidModel",
      "properties": {
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "lowFpsVideoRecording": {
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config.",
          "type": "boolean"
        },
        "formFactor": {
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ],
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\"."
        },
        "supportedVersionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of Android versions this device supports."
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image (photo) of the device.",
          "type": "string"
        },
        "form": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "description": "Whether this device is virtual or physical.",
          "type": "string",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ]
        },
        "codename": {
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "supportedAbis": {
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "accessDeniedReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Do not use. For proto versioning only.",
              "The model is for viewing purposes only. Access and utilization require acceptance of an End User License Agreement (EULA)."
            ],
            "type": "string",
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ]
          },
          "description": "Reasons for access denial. This model is accessible if this list is empty, otherwise the model is viewable only."
        },
        "perVersionInfo": {
          "type": "array",
          "description": "Version-specific information of an Android model.",
          "items": {
            "$ref": "PerAndroidVersionInfo"
          }
        },
        "screenDensity": {
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density",
          "type": "integer",
          "format": "int32"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of this device."
        },
        "name": {
          "type": "string",
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\"."
        },
        "labInfo": {
          "$ref": "LabInfo",
          "readOnly": true,
          "description": "Output only. Lab info of this device."
        }
      },
      "description": "A description of an Android device tests may be run on."
    },
    "Account": {
      "type": "object",
      "description": "Identifies an account and how to log into it.",
      "id": "Account",
      "properties": {
        "googleAuto": {
          "description": "An automatic google login account.",
          "$ref": "GoogleAuto"
        }
      }
    },
    "SystraceSetup": {
      "properties": {
        "durationSeconds": {
          "format": "int32",
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "deprecated": true,
          "type": "integer"
        }
      },
      "id": "SystraceSetup",
      "type": "object"
    },
    "FileReference": {
      "description": "A reference to a file, used for user inputs.",
      "properties": {
        "gcsPath": {
          "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)",
          "type": "string"
        }
      },
      "id": "FileReference",
      "type": "object"
    },
    "AndroidMatrix": {
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored.",
      "properties": {
        "androidModelIds": {
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "androidVersionIds": {
          "type": "array",
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          }
        },
        "locales": {
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "orientations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "type": "object",
      "id": "AndroidMatrix"
    },
    "TestDetails": {
      "type": "object",
      "description": "Additional details about the progress of the running test.",
      "id": "TestDetails",
      "properties": {
        "progressMessages": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages.",
          "type": "array"
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error."
        }
      }
    },
    "DirectAccessVersionInfo": {
      "properties": {
        "directAccessSupported": {
          "description": "Whether direct access is supported at all. Clients are expected to filter down the device list to only android models and versions which support Direct Access when that is the user intent.",
          "type": "boolean"
        },
        "minimumAndroidStudioVersion": {
          "description": "Output only. Indicates client-device compatibility, where a device is known to work only with certain workarounds implemented in the Android Studio client. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "type": "string"
        }
      },
      "id": "DirectAccessVersionInfo",
      "description": "Denotes whether Direct Access is supported, and by which client versions. DirectAccessService is currently available as a preview to select developers. You can register today on behalf of you and your team at https://developer.android.com/studio/preview/android-device-streaming",
      "type": "object"
    },
    "IosModel": {
      "type": "object",
      "description": "A description of an iOS device tests may be run on.",
      "properties": {
        "screenX": {
          "type": "integer",
          "format": "int32",
          "description": "Screen size in the horizontal (X) dimension measured in pixels."
        },
        "screenY": {
          "type": "integer",
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "format": "int32"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "formFactor": {
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ],
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "type": "string"
        },
        "screenDensity": {
          "description": "Screen density in DPI.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\"."
        },
        "supportedVersionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of iOS major software versions this device supports."
        },
        "deviceCapabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html"
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
        },
        "perVersionInfo": {
          "items": {
            "$ref": "PerIosVersionInfo"
          },
          "type": "array",
          "description": "Version-specific information of an iOS model."
        }
      },
      "id": "IosModel"
    },
    "TestSpecification": {
      "description": "A description of how to run the test.",
      "type": "object",
      "properties": {
        "androidTestLoop": {
          "description": "An Android Application with a Test Loop.",
          "$ref": "AndroidTestLoop"
        },
        "iosXcTest": {
          "description": "An iOS XCTest, via an .xctestrun file.",
          "$ref": "IosXcTest"
        },
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        },
        "testSetup": {
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts.",
          "$ref": "TestSetup"
        },
        "disablePerformanceMetrics": {
          "description": "Disables performance metrics recording. May reduce test latency.",
          "type": "boolean"
        },
        "disableVideoRecording": {
          "description": "Disables video recording. May reduce test latency.",
          "type": "boolean"
        },
        "testTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min."
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "iosTestLoop": {
          "description": "An iOS application with a test loop.",
          "$ref": "IosTestLoop"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosTestSetup": {
          "description": "Test setup requirements for iOS.",
          "$ref": "IosTestSetup"
        }
      },
      "id": "TestSpecification"
    },
    "AndroidVersion": {
      "properties": {
        "versionString": {
          "type": "string",
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\"."
        },
        "releaseDate": {
          "description": "The date this Android version became available in the market.",
          "$ref": "Date"
        },
        "apiLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The API level for this Android version. Examples: 18, 19."
        },
        "codeName": {
          "type": "string",
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\"."
        },
        "id": {
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "distribution": {
          "description": "Market share for this version.",
          "$ref": "Distribution"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A version of the Android OS.",
      "id": "AndroidVersion",
      "type": "object"
    },
    "TestEnvironmentCatalog": {
      "properties": {
        "deviceIpBlockCatalog": {
          "$ref": "DeviceIpBlockCatalog",
          "description": "The IP blocks used by devices in the test environment."
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        },
        "iosDeviceCatalog": {
          "$ref": "IosDeviceCatalog",
          "description": "Supported iOS devices."
        },
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        }
      },
      "description": "A description of a test environment.",
      "type": "object",
      "id": "TestEnvironmentCatalog"
    },
    "AndroidInstrumentationTest": {
      "type": "object",
      "id": "AndroidInstrumentationTest",
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "properties": {
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testPackageId": {
          "type": "string",
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest."
        },
        "testApk": {
          "$ref": "FileReference",
          "description": "Required. The APK containing the test code to be executed."
        },
        "shardingOption": {
          "$ref": "ShardingOption",
          "description": "The option to run tests in multiple shards in parallel."
        },
        "orchestratorOption": {
          "type": "string",
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ]
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        }
      }
    },
    "Locale": {
      "properties": {
        "name": {
          "description": "A human-friendly name for this language/locale. Example: \"English\".",
          "type": "string"
        },
        "id": {
          "description": "The id for this locale. Example: \"en_US\".",
          "type": "string"
        },
        "region": {
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale.",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A location/region designation for language.",
      "id": "Locale",
      "type": "object"
    },
    "AndroidRuntimeConfiguration": {
      "description": "Android configuration that can be selected at the time a test is run.",
      "id": "AndroidRuntimeConfiguration",
      "type": "object",
      "properties": {
        "orientations": {
          "description": "The set of available orientations.",
          "type": "array",
          "items": {
            "$ref": "Orientation"
          }
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The set of available locales."
        }
      }
    },
    "IosTestLoop": {
      "type": "object",
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "id": "IosTestLoop",
      "properties": {
        "scenarios": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified."
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The .ipa of the application to test."
        }
      }
    },
    "GetApkDetailsResponse": {
      "description": "Response containing the details of the specified Android application.",
      "type": "object",
      "id": "GetApkDetailsResponse",
      "properties": {
        "apkDetail": {
          "description": "Details of the Android App.",
          "$ref": "ApkDetail"
        }
      }
    },
    "MatrixErrorDetail": {
      "id": "MatrixErrorDetail",
      "type": "object",
      "description": "Describes a single error or issue with a matrix.",
      "properties": {
        "reason": {
          "readOnly": true,
          "description": "Output only. The reason for the error. This is a constant value in UPPER_SNAKE_CASE that identifies the cause of the error.",
          "type": "string"
        },
        "message": {
          "description": "Output only. A human-readable message about how the error in the TestMatrix. Expands on the `reason` field with additional details and possible options to fix the issue.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UniformSharding": {
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "type": "object",
      "properties": {
        "numShards": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500."
        }
      },
      "id": "UniformSharding"
    },
    "IosDeviceList": {
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "id": "IosDeviceList",
      "type": "object",
      "properties": {
        "iosDevices": {
          "items": {
            "$ref": "IosDevice"
          },
          "type": "array",
          "description": "Required. A list of iOS devices."
        }
      }
    },
    "LabInfo": {
      "type": "object",
      "id": "LabInfo",
      "properties": {
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the lab where the device is hosted. E.g. \"US\" for United States, \"CH\" for Switzerland.",
          "type": "string"
        },
        "name": {
          "description": "Lab name where the device is hosted. If empty, the device is hosted in a Google owned lab.",
          "type": "string"
        }
      },
      "description": "Lab specific information for a device."
    },
    "ApkDetail": {
      "id": "ApkDetail",
      "type": "object",
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "description": "Android application details based on application manifest and archive contents."
    },
    "PerAndroidVersionInfo": {
      "type": "object",
      "properties": {
        "deviceCapacity": {
          "description": "The number of online devices for an Android version.",
          "type": "string",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        },
        "interactiveDeviceAvailabilityEstimate": {
          "description": "Output only. The estimated wait time for a single interactive device session using Direct Access.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "versionId": {
          "type": "string",
          "description": "An Android version."
        },
        "directAccessVersionInfo": {
          "description": "Output only. Identifies supported clients for DirectAccess for this Android version.",
          "$ref": "DirectAccessVersionInfo",
          "readOnly": true
        }
      },
      "description": "A version-specific information of an Android model.",
      "id": "PerAndroidVersionInfo"
    },
    "AndroidTestLoop": {
      "properties": {
        "appPackageId": {
          "description": "The java package for the application under test. The default is determined by examining the application's manifest.",
          "type": "string"
        },
        "scenarioLabels": {
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "scenarios": {
          "type": "array",
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        }
      },
      "type": "object",
      "id": "AndroidTestLoop",
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being."
    },
    "ProvidedSoftwareCatalog": {
      "id": "ProvidedSoftwareCatalog",
      "description": "The currently provided software environment on the devices under test.",
      "properties": {
        "orchestratorVersion": {
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator.",
          "type": "string",
          "deprecated": true
        },
        "androidxOrchestratorVersion": {
          "type": "string",
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator."
        }
      },
      "type": "object"
    },
    "DeviceSession": {
      "description": "Protobuf message describing the device message, used from several RPCs.",
      "type": "object",
      "id": "DeviceSession",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED."
        },
        "stateHistories": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SessionStateEvent"
          },
          "description": "Output only. The historical state transitions of the session_state message including the current session state."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The title of the DeviceSession to be presented in the UI.",
          "readOnly": true
        },
        "inactivityTimeout": {
          "format": "google-duration",
          "description": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
          "type": "string"
        },
        "androidDevice": {
          "description": "Required. The requested device.",
          "$ref": "AndroidDevice"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time that the Session was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the DeviceSession."
        },
        "ttl": {
          "format": "google-duration",
          "description": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes.",
          "type": "string"
        },
        "activeStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp that the session first became ACTIVE."
        }
      }
    },
    "NetworkConfiguration": {
      "id": "NetworkConfiguration",
      "type": "object",
      "properties": {
        "downRule": {
          "description": "The emulation rule applying to the download traffic.",
          "$ref": "TrafficRule"
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        },
        "upRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the upload traffic."
        }
      }
    },
    "IosRuntimeConfiguration": {
      "properties": {
        "orientations": {
          "description": "The set of available orientations.",
          "type": "array",
          "items": {
            "$ref": "Orientation"
          }
        },
        "locales": {
          "type": "array",
          "items": {
            "$ref": "Locale"
          },
          "description": "The set of available locales."
        }
      },
      "type": "object",
      "id": "IosRuntimeConfiguration",
      "description": "iOS configuration that can be selected at the time a test is run."
    },
    "UsesFeature": {
      "id": "UsesFeature",
      "type": "object",
      "properties": {
        "isRequired": {
          "description": "The android:required value",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The android:name value"
        }
      },
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "NetworkConfigurationCatalog": {
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "NetworkConfiguration"
          }
        }
      },
      "id": "NetworkConfigurationCatalog",
      "type": "object"
    },
    "DeviceFile": {
      "id": "DeviceFile",
      "properties": {
        "regularFile": {
          "description": "A reference to a regular file.",
          "$ref": "RegularFile"
        },
        "obbFile": {
          "$ref": "ObbFile",
          "description": "A reference to an opaque binary blob file."
        }
      },
      "type": "object",
      "description": "A single device file description."
    },
    "ApkManifest": {
      "properties": {
        "metadata": {
          "items": {
            "$ref": "Metadata"
          },
          "description": "Meta-data tags defined in the manifest.",
          "type": "array"
        },
        "minSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum API level required for the application to run."
        },
        "packageName": {
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\".",
          "type": "string"
        },
        "usesPermission": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum API level on which the application is designed to run."
        },
        "versionCode": {
          "format": "int64",
          "description": "Version number used internally by the app.",
          "type": "string"
        },
        "versionName": {
          "description": "Version number shown to users.",
          "type": "string"
        },
        "usesFeature": {
          "items": {
            "$ref": "UsesFeature"
          },
          "description": "Feature usage tags defined in the manifest.",
          "type": "array"
        },
        "applicationLabel": {
          "description": "User-readable name for the application.",
          "type": "string"
        },
        "usesPermissionTags": {
          "type": "array",
          "items": {
            "$ref": "UsesPermissionTag"
          },
          "description": "Permissions declared to be used by the application"
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "Services contained in the tag."
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "type": "integer",
          "format": "int32"
        },
        "intentFilters": {
          "type": "array",
          "items": {
            "$ref": "IntentFilter"
          }
        }
      },
      "type": "object",
      "id": "ApkManifest",
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html"
    },
    "Orientation": {
      "description": "Screen orientation of the device.",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for this dimension. Example: \"default\"."
        },
        "id": {
          "description": "The id for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A human-friendly name for this orientation. Example: \"portrait\"."
        }
      },
      "id": "Orientation"
    },
    "AndroidDeviceList": {
      "properties": {
        "androidDevices": {
          "type": "array",
          "items": {
            "$ref": "AndroidDevice"
          },
          "description": "Required. A list of Android devices."
        }
      },
      "description": "A list of Android device configurations in which the test is to be executed.",
      "id": "AndroidDeviceList",
      "type": "object"
    },
    "ClientInfoDetail": {
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.",
      "type": "object",
      "id": "ClientInfoDetail",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of detailed client information."
        },
        "value": {
          "description": "Required. The value of detailed client information.",
          "type": "string"
        }
      }
    },
    "XcodeVersion": {
      "id": "XcodeVersion",
      "description": "An Xcode version that an iOS version is compatible with.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The id for this version. Example: \"9.2\"."
        },
        "tags": {
          "description": "Tags for this Xcode version. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Apk": {
      "description": "An Android package file to install.",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest."
        },
        "location": {
          "$ref": "FileReference",
          "description": "The path to an APK to be installed on the device before the test begins."
        }
      },
      "id": "Apk"
    },
    "ManualSharding": {
      "properties": {
        "testTargetsForShard": {
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "type": "array",
          "items": {
            "$ref": "TestTargetsForShard"
          }
        }
      },
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "type": "object",
      "id": "ManualSharding"
    },
    "DeviceIpBlockCatalog": {
      "description": "List of IP blocks used by the Firebase Test Lab",
      "type": "object",
      "id": "DeviceIpBlockCatalog",
      "properties": {
        "ipBlocks": {
          "description": "The device IP blocks used by Firebase Test Lab",
          "items": {
            "$ref": "DeviceIpBlock"
          },
          "type": "array"
        }
      }
    },
    "ClientInfo": {
      "id": "ClientInfo",
      "type": "object",
      "description": "Information about the client which invoked the test.",
      "properties": {
        "clientInfoDetails": {
          "items": {
            "$ref": "ClientInfoDetail"
          },
          "description": "The list of detailed information about client.",
          "type": "array"
        },
        "name": {
          "description": "Required. Client name, such as gcloud.",
          "type": "string"
        }
      }
    },
    "IosXcTest": {
      "id": "IosXcTest",
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "type": "object",
      "properties": {
        "xcodeVersion": {
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports.",
          "type": "string"
        },
        "xctestrun": {
          "$ref": "FileReference",
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip."
        },
        "testSpecialEntitlements": {
          "type": "boolean",
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement."
        },
        "appBundleId": {
          "description": "Output only. The bundle id for the application under test.",
          "type": "string"
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        }
      }
    },
    "IosTestSetup": {
      "type": "object",
      "description": "A description of how to set up an iOS device prior to running the test.",
      "properties": {
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "pushFiles": {
          "type": "array",
          "description": "List of files to push to the device before starting the test.",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "additionalIpas": {
          "items": {
            "$ref": "FileReference"
          },
          "description": "iOS apps to install in addition to those being directly tested.",
          "type": "array"
        },
        "pullDirectories": {
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID.",
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          }
        }
      },
      "id": "IosTestSetup"
    },
    "ShardingOption": {
      "type": "object",
      "id": "ShardingOption",
      "properties": {
        "manualSharding": {
          "$ref": "ManualSharding",
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods."
        },
        "uniformSharding": {
          "description": "Uniformly shards test cases given a total number of shards.",
          "$ref": "UniformSharding"
        },
        "smartSharding": {
          "$ref": "SmartSharding",
          "description": "Shards test based on previous test case timing records."
        }
      },
      "description": "Options for enabling sharding."
    },
    "GoogleCloudStorage": {
      "description": "A storage location within Google cloud storage (GCS).",
      "type": "object",
      "properties": {
        "gcsPath": {
          "type": "string",
[...]
