{
  "servicePath": "",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "testing:v1",
  "protocol": "rest",
  "name": "testing",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Cloud Testing API",
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260901",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "baseUrl": "https://testing.googleapis.com/",
  "schemas": {
    "StartActivityIntent": {
      "properties": {
        "action": {
          "type": "string",
          "description": "Action name. Required for START_ACTIVITY."
        },
        "categories": {
          "type": "array",
          "description": "Intent categories to set on the intent.",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "URI for the action.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A starting intent specified by an action, uri, and categories.",
      "id": "StartActivityIntent"
    },
    "AndroidMatrix": {
      "properties": {
        "androidVersionIds": {
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "androidModelIds": {
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locales": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "id": "AndroidMatrix",
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored.",
      "type": "object"
    },
    "NoActivityIntent": {
      "description": "Skips the starting activity",
      "type": "object",
      "properties": {},
      "id": "NoActivityIntent"
    },
    "UniformSharding": {
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "id": "UniformSharding",
      "properties": {
        "numShards": {
          "type": "integer",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AppBundle": {
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "properties": {
        "apks": {
          "$ref": "ApkSplits",
          "description": ".apk files generated by bundletool to install as a single android app."
        },
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        }
      },
      "type": "object",
      "id": "AppBundle"
    },
    "AndroidDevice": {
      "description": "A single Android device.",
      "properties": {
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidModelId": {
          "type": "string",
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidVersionId": {
          "type": "string",
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "type": "object",
      "id": "AndroidDevice"
    },
    "AndroidRoboTest": {
      "type": "object",
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "properties": {
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.",
          "type": "string"
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "roboMode": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Deprecated: Use ROBO_VERSION_1 instead for all use cases. Runs Robo in standard Espresso with UIAutomator fallback"
          ],
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically."
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "startingIntents": {
          "type": "array",
          "items": {
            "$ref": "RoboStartingIntent"
          },
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly)."
        },
        "roboScript": {
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl.",
          "$ref": "FileReference"
        },
        "roboDirectives": {
          "items": {
            "$ref": "RoboDirective"
          },
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "type": "array"
        },
        "maxDepth": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50."
        },
        "maxSteps": {
          "type": "integer",
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "deprecated": true,
          "format": "int32"
        }
      },
      "id": "AndroidRoboTest"
    },
    "LabInfo": {
      "id": "LabInfo",
      "properties": {
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the lab where the device is hosted. E.g. \"US\" for United States, \"CH\" for Switzerland.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Lab name where the device is hosted. If empty, the device is hosted in a Google owned lab."
        }
      },
      "type": "object",
      "description": "Lab specific information for a device."
    },
    "AndroidModel": {
      "properties": {
        "accessDeniedReasons": {
          "description": "Reasons for access denial. This model is accessible if this list is empty, otherwise the model is viewable only.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Do not use. For proto versioning only.",
              "The model is for viewing purposes only. Access and utilization require acceptance of an End User License Agreement (EULA)."
            ],
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string"
          }
        },
        "brand": {
          "type": "string",
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\"."
        },
        "form": {
          "type": "string",
          "description": "Whether this device is virtual or physical.",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ]
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image (photo) of the device.",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of this device."
        },
        "lowFpsVideoRecording": {
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config.",
          "type": "boolean"
        },
        "formFactor": {
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "type": "string"
        },
        "codename": {
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\"."
        },
        "supportedVersionIds": {
          "description": "The set of Android versions this device supports.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "supportedAbis": {
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "perVersionInfo": {
          "type": "array",
          "items": {
            "$ref": "PerAndroidVersionInfo"
          },
          "description": "Version-specific information of an Android model."
        },
        "labInfo": {
          "readOnly": true,
          "$ref": "LabInfo",
          "description": "Output only. Lab info of this device."
        },
        "screenDensity": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density"
        },
        "screenY": {
          "type": "integer",
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels."
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "screenX": {
          "format": "int32",
          "type": "integer",
          "description": "Screen size in the horizontal (X) dimension measured in pixels."
        }
      },
      "description": "A description of an Android device tests may be run on.",
      "id": "AndroidModel",
      "type": "object"
    },
    "IosDevice": {
      "description": "A single iOS device.",
      "id": "IosDevice",
      "type": "object",
      "properties": {
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosModelId": {
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "iosVersionId": {
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      }
    },
    "GoogleAuto": {
      "id": "GoogleAuto",
      "description": "Enables automatic Google account login. If set, the service automatically generates a Google test account and adds it to the device, before executing the test. Note that test accounts might be reused. Many applications show their full set of functionalities when an account is present on the device. Logging into the device with these generated accounts allows testing more functionalities.",
      "properties": {},
      "type": "object"
    },
    "ProvidedSoftwareCatalog": {
      "type": "object",
      "id": "ProvidedSoftwareCatalog",
      "properties": {
        "androidxOrchestratorVersion": {
          "type": "string",
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator."
        },
        "orchestratorVersion": {
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "The currently provided software environment on the devices under test."
    },
    "DeviceIpBlock": {
      "description": "A single device IP block",
      "properties": {
        "form": {
          "description": "Whether this block is used by physical or virtual devices",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "type": "string"
        },
        "addedDate": {
          "description": "The date this block was added to Firebase Test Lab",
          "$ref": "Date"
        },
        "block": {
          "type": "string",
          "description": "An IP address block in CIDR notation eg: 34.68.194.64/29"
        }
      },
      "type": "object",
      "id": "DeviceIpBlock"
    },
    "ToolResultsExecution": {
      "type": "object",
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix.",
      "properties": {
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results execution.",
          "type": "string"
        }
      },
      "id": "ToolResultsExecution"
    },
    "DeviceFile": {
      "id": "DeviceFile",
      "type": "object",
      "properties": {
        "obbFile": {
          "description": "A reference to an opaque binary blob file.",
          "$ref": "ObbFile"
        },
        "regularFile": {
          "description": "A reference to a regular file.",
          "$ref": "RegularFile"
        }
      },
      "description": "A single device file description."
    },
    "SmartSharding": {
      "description": "Shards test based on previous test case timing records.",
      "id": "SmartSharding",
      "properties": {
        "targetedShardDuration": {
          "description": "The amount of time tests within a shard should take. Default: 300 seconds (5 minutes). The minimum allowed: 120 seconds (2 minutes). The shard count is dynamically set based on time, up to the maximum shard limit (described below). To guarantee at least one test case for each shard, the number of shards will not exceed the number of test cases. Shard duration will be exceeded if: - The maximum shard limit is reached and there is more calculated test time remaining to allocate into shards. - Any individual test is estimated to be longer than the targeted shard duration. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. The rules for finding the test case timing records are: - If the service has processed a test case in the last 30 days, the record of the latest successful test case will be used. - For new test cases, the average duration of other known test cases will be used. - If there are no previous test case timing records available, the default test case duration is 15 seconds. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed test timeout (45 minutes for physical devices and 60 minutes for virtual), or that you use the custom test timeout value that you set. This approach avoids cancelling the shard before all tests can finish. Note that there is a limit for maximum number of shards. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500. To guarantee at least one test case for per shard, the number of shards will not exceed the number of test cases. Each shard created counts toward daily test quota.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudStorage": {
      "id": "GoogleCloudStorage",
      "description": "A storage location within Google cloud storage (GCS).",
      "properties": {
        "gcsPath": {
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AndroidDeviceList": {
      "id": "AndroidDeviceList",
      "type": "object",
      "description": "A list of Android device configurations in which the test is to be executed.",
      "properties": {
        "androidDevices": {
          "type": "array",
          "items": {
            "$ref": "AndroidDevice"
          },
          "description": "Required. A list of Android devices."
        }
      }
    },
    "IosTestSetup": {
      "id": "IosTestSetup",
      "properties": {
        "pullDirectories": {
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          },
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID."
        },
        "pushFiles": {
          "description": "List of files to push to the device before starting the test.",
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "additionalIpas": {
          "description": "iOS apps to install in addition to those being directly tested.",
          "items": {
            "$ref": "FileReference"
          },
          "type": "array"
        }
      },
      "description": "A description of how to set up an iOS device prior to running the test.",
      "type": "object"
    },
    "Orientation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A human-friendly name for this orientation. Example: \"portrait\"."
        },
        "id": {
          "description": "The id for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Screen orientation of the device.",
      "type": "object",
      "id": "Orientation"
    },
    "AndroidTestLoop": {
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being.",
      "id": "AndroidTestLoop",
      "properties": {
        "scenarios": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest."
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default is determined by examining the application's manifest."
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "scenarioLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field."
        }
      },
      "type": "object"
    },
    "Distribution": {
      "id": "Distribution",
      "description": "Data about the relative number of devices running a given configuration of the Android platform.",
      "properties": {
        "marketShare": {
          "type": "number",
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration.",
          "format": "double"
        },
        "measurementTime": {
          "description": "Output only. The time this distribution was measured.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RoboStartingIntent": {
      "properties": {
        "timeout": {
          "description": "Timeout in seconds for each intent.",
          "format": "google-duration",
          "type": "string"
        },
        "noActivity": {
          "description": "Skips the starting activity",
          "$ref": "NoActivityIntent"
        },
        "launcherActivity": {
          "description": "An intent that starts the main launcher activity.",
          "$ref": "LauncherActivityIntent"
        },
        "startActivity": {
          "$ref": "StartActivityIntent",
          "description": "An intent that starts an activity with specific details."
        }
      },
      "description": "Message for specifying the start activities to crawl.",
      "type": "object",
      "id": "RoboStartingIntent"
    },
    "AndroidInstrumentationTest": {
      "type": "object",
      "properties": {
        "shardingOption": {
          "$ref": "ShardingOption",
          "description": "The option to run tests in multiple shards in parallel."
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "testApk": {
          "$ref": "FileReference",
          "description": "Required. The APK containing the test code to be executed."
        },
        "testPackageId": {
          "type": "string",
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest."
        },
        "orchestratorOption": {
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "type": "string"
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array"
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "id": "AndroidInstrumentationTest"
    },
    "LauncherActivityIntent": {
      "id": "LauncherActivityIntent",
      "description": "Specifies an intent that starts the main launcher activity.",
      "properties": {},
      "type": "object"
    },
    "ApkSplits": {
      "type": "object",
      "description": "A single dynamic feature apk.",
      "properties": {
        "bundleSplits": {
          "description": "A list of .apk files generated by bundletool to install to the device under test as a single android app with adb install-multiple. If specified, requires one or more bundle_splits. The first split specified represents the base APK, while subsequent splits represent feature apks.",
          "type": "array",
          "items": {
            "$ref": "FileReference"
          }
        }
      },
      "id": "ApkSplits"
    },
    "CancelDeviceSessionRequest": {
      "description": "The request object for cancelling a Device Session.",
      "type": "object",
      "properties": {},
      "id": "CancelDeviceSessionRequest"
    },
    "ApkManifest": {
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "description": "Services contained in the tag.",
          "items": {
            "$ref": "Service"
          }
        },
        "metadata": {
          "items": {
            "$ref": "Metadata"
          },
          "type": "array",
          "description": "Meta-data tags defined in the manifest."
        },
        "versionCode": {
          "description": "Version number used internally by the app.",
          "format": "int64",
          "type": "string"
        },
        "usesPermissionTags": {
          "items": {
            "$ref": "UsesPermissionTag"
          },
          "type": "array",
          "description": "Permissions declared to be used by the application"
        },
        "minSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum API level required for the application to run."
        },
        "versionName": {
          "type": "string",
          "description": "Version number shown to users."
        },
        "targetSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the API Level on which the application is designed to run."
        },
        "maxSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum API level on which the application is designed to run."
        },
        "packageName": {
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\".",
          "type": "string"
        },
        "intentFilters": {
          "type": "array",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "applicationLabel": {
          "type": "string",
          "description": "User-readable name for the application."
        },
        "usesFeature": {
          "type": "array",
          "description": "Feature usage tags defined in the manifest.",
          "items": {
            "$ref": "UsesFeature"
          }
        },
        "usesPermission": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "id": "ApkManifest"
    },
    "TestEnvironmentCatalog": {
      "id": "TestEnvironmentCatalog",
      "type": "object",
      "description": "A description of a test environment.",
      "properties": {
        "iosDeviceCatalog": {
          "description": "Supported iOS devices.",
          "$ref": "IosDeviceCatalog"
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        },
        "androidDeviceCatalog": {
          "$ref": "AndroidDeviceCatalog",
          "description": "Supported Android devices."
        },
        "networkConfigurationCatalog": {
          "description": "Supported network configurations.",
          "$ref": "NetworkConfigurationCatalog"
        },
        "deviceIpBlockCatalog": {
          "$ref": "DeviceIpBlockCatalog",
          "description": "The IP blocks used by devices in the test environment."
        }
      }
    },
    "DeviceIpBlockCatalog": {
      "type": "object",
      "id": "DeviceIpBlockCatalog",
      "properties": {
        "ipBlocks": {
          "items": {
            "$ref": "DeviceIpBlock"
          },
          "description": "The device IP blocks used by Firebase Test Lab",
          "type": "array"
        }
      },
      "description": "List of IP blocks used by the Firebase Test Lab"
    },
    "Service": {
      "type": "object",
      "properties": {
        "intentFilter": {
          "type": "array",
          "description": "Intent filters in the service",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "name": {
          "type": "string",
          "description": "The android:name value"
        }
      },
      "id": "Service",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element"
    },
    "Apk": {
      "description": "An Android package file to install.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest."
        },
        "location": {
          "description": "The path to an APK to be installed on the device before the test begins.",
          "$ref": "FileReference"
        }
      },
      "id": "Apk",
      "type": "object"
    },
    "IntentFilter": {
      "type": "object",
      "id": "IntentFilter",
      "properties": {
        "actionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The android:name value of the tag."
        },
        "mimeType": {
          "type": "string",
          "description": "The android:mimeType value of the tag."
        },
        "categoryNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The android:name value of the tag."
        }
      },
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html"
    },
    "NetworkConfigurationCatalog": {
      "id": "NetworkConfigurationCatalog",
      "type": "object",
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "NetworkConfiguration"
          }
        }
      }
    },
    "Environment": {
      "type": "object",
      "id": "Environment",
      "properties": {
        "androidDevice": {
          "$ref": "AndroidDevice",
          "description": "An Android device which must be used with an Android test."
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      },
      "description": "The environment in which the test is run."
    },
    "TrafficRule": {
      "description": "Network emulation parameters.",
      "type": "object",
      "properties": {
        "bandwidth": {
          "format": "float",
          "type": "number",
          "description": "Bandwidth in kbits/second."
        },
        "delay": {
          "type": "string",
          "description": "Packet delay, must be >= 0.",
          "format": "google-duration"
        },
        "packetLossRatio": {
          "type": "number",
          "description": "Packet loss ratio (0.0 - 1.0).",
          "format": "float"
        },
        "burst": {
          "description": "Burst size in kbits.",
          "format": "float",
          "type": "number"
        },
        "packetDuplicationRatio": {
          "type": "number",
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "format": "float"
        }
      },
      "id": "TrafficRule"
    },
    "Account": {
      "properties": {
        "googleAuto": {
          "$ref": "GoogleAuto",
          "description": "An automatic google login account."
        }
      },
      "type": "object",
      "id": "Account",
      "description": "Identifies an account and how to log into it."
    },
    "IosRuntimeConfiguration": {
      "description": "iOS configuration that can be selected at the time a test is run.",
      "type": "object",
      "properties": {
        "locales": {
          "type": "array",
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          }
        },
        "orientations": {
          "items": {
            "$ref": "Orientation"
          },
          "type": "array",
          "description": "The set of available orientations."
        }
      },
      "id": "IosRuntimeConfiguration"
    },
    "EnvironmentVariable": {
      "type": "object",
      "id": "EnvironmentVariable",
      "description": "A key-value pair passed as an environment variable to the test.",
      "properties": {
        "key": {
          "description": "Key for the environment variable.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        }
      }
    },
    "ApkDetail": {
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "description": "Android application details based on application manifest and archive contents.",
      "type": "object",
      "id": "ApkDetail"
    },
    "IosRoboTest": {
      "id": "IosRoboTest",
      "type": "object",
      "description": "A test that explores an iOS application on an iOS device.",
      "properties": {
        "appBundleId": {
          "description": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file.",
          "type": "string"
        },
        "appIpa": {
          "description": "Required. The ipa stored at this file should be used to run the test.",
          "$ref": "FileReference"
        },
        "roboScript": {
          "description": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts. The maximum allowed file size of the roboscript is 10MiB.",
          "$ref": "FileReference"
        }
      }
    },
    "TestDetails": {
      "properties": {
        "errorMessage": {
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error.",
          "type": "string"
        },
        "progressMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages."
        }
      },
      "description": "Additional details about the progress of the running test.",
      "id": "TestDetails",
      "type": "object"
    },
    "ToolResultsStep": {
      "id": "ToolResultsStep",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        },
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results step.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a tool results step resource. This has the results of a TestExecution."
    },
    "ToolResultsHistory": {
      "properties": {
        "historyId": {
          "description": "Required. A tool results history ID.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The cloud project that owns the tool results history."
        }
      },
      "description": "Represents a tool results history resource.",
      "id": "ToolResultsHistory",
      "type": "object"
    },
    "ShardingOption": {
      "properties": {
        "manualSharding": {
          "$ref": "ManualSharding",
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods."
        },
        "uniformSharding": {
          "$ref": "UniformSharding",
          "description": "Uniformly shards test cases given a total number of shards."
        },
        "smartSharding": {
          "$ref": "SmartSharding",
          "description": "Shards test based on previous test case timing records."
        }
      },
      "id": "ShardingOption",
      "description": "Options for enabling sharding.",
      "type": "object"
    },
    "TestSetup": {
      "description": "A description of how to set up the Android device prior to running the test.",
      "id": "TestSetup",
      "type": "object",
      "properties": {
        "additionalApks": {
          "type": "array",
          "description": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Limited to a combined total of 100 initial setup and additional files.",
          "items": {
            "$ref": "Apk"
          }
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "initialSetupApks": {
          "description": "Optional. Initial setup APKs to install before the app under test is installed. Limited to a combined total of 100 initial setup and additional files.",
          "type": "array",
          "items": {
            "$ref": "Apk"
          }
        },
        "systrace": {
          "description": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results.",
          "$ref": "SystraceSetup",
          "deprecated": true
        },
        "environmentVariables": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Environment variables to set for the test (only applicable for instrumentation tests)."
        },
        "directoriesToPull": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device."
        },
        "dontAutograntPermissions": {
          "type": "boolean",
          "description": "Whether to prevent all runtime permissions to be granted at app install"
        },
        "account": {
          "description": "The device will be logged in on this account for the duration of the test.",
          "$ref": "Account"
        },
        "filesToPush": {
          "description": "List of files to push to the device before starting the test.",
          "type": "array",
          "items": {
            "$ref": "DeviceFile"
          }
        }
      }
    },
    "EnvironmentMatrix": {
      "id": "EnvironmentMatrix",
      "properties": {
        "androidMatrix": {
          "$ref": "AndroidMatrix",
          "description": "A matrix of Android devices."
        },
        "iosDeviceList": {
          "description": "A list of iOS devices.",
          "$ref": "IosDeviceList"
        },
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified devices.",
          "$ref": "AndroidDeviceList"
        }
      },
      "description": "The matrix of environments in which the test is to be executed.",
      "type": "object"
    },
    "RoboDirective": {
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "inputText": {
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name.",
          "type": "string"
        },
        "actionType": {
          "type": "string",
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ]
        }
      },
      "id": "RoboDirective",
      "type": "object"
    },
    "DeviceSession": {
      "type": "object",
      "id": "DeviceSession",
      "description": "Protobuf message describing the device message, used from several RPCs.",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time that the Session was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "activeStartTime": {
          "description": "Output only. The timestamp that the session first became ACTIVE.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "inactivityTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.",
          "readOnly": true
        },
        "name": {
          "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED."
        },
        "stateHistories": {
          "readOnly": true,
          "items": {
            "$ref": "SessionStateEvent"
          },
          "description": "Output only. The historical state transitions of the session_state message including the current session state.",
          "type": "array"
        },
        "androidDevice": {
          "description": "Required. The requested device",
          "$ref": "AndroidDevice"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "description": "Output only. Current state of the DeviceSession."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The title of the DeviceSession to be presented in the UI.",
          "type": "string"
        }
      }
    },
    "ManualSharding": {
      "properties": {
        "testTargetsForShard": {
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "items": {
            "$ref": "TestTargetsForShard"
          },
          "type": "array"
        }
      },
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "type": "object",
      "id": "ManualSharding"
    },
    "GetApkDetailsResponse": {
      "id": "GetApkDetailsResponse",
      "properties": {
        "apkDetail": {
          "$ref": "ApkDetail",
          "description": "Details of the Android App."
        }
      },
      "description": "Response containing the details of the specified Android application.",
      "type": "object"
    },
    "SessionStateEvent": {
      "description": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states.",
      "type": "object",
      "properties": {
        "stateMessage": {
          "readOnly": true,
          "description": "Output only. A human-readable message to explain the state.",
          "type": "string"
        },
        "sessionState": {
          "description": "Output only. The session_state tracked by this event",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "type": "string"
        },
        "eventTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time that the session_state first encountered that state.",
          "type": "string"
        }
      },
      "id": "SessionStateEvent"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "XcodeVersion": {
      "type": "object",
      "id": "XcodeVersion",
      "description": "An Xcode version that an iOS version is compatible with.",
      "properties": {
        "version": {
          "description": "The id for this version. Example: \"9.2\".",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this Xcode version. Example: \"default\"."
        }
      }
    },
    "DirectAccessVersionInfo": {
      "type": "object",
      "description": "Denotes whether Direct Access is supported, and by which client versions. DirectAccessService is currently available as a preview to select developers. You can register today on behalf of you and your team at https://developer.android.com/studio/preview/android-device-streaming",
      "properties": {
        "directAccessSupported": {
          "type": "boolean",
          "description": "Whether direct access is supported at all. Clients are expected to filter down the device list to only android models and versions which support Direct Access when that is the user intent."
        },
        "minimumAndroidStudioVersion": {
          "description": "Output only. Indicates client-device compatibility, where a device is known to work only with certain workarounds implemented in the Android Studio client. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "type": "string"
        }
      },
      "id": "DirectAccessVersionInfo"
    },
    "UsesPermissionTag": {
      "properties": {
        "maxSdkVersion": {
          "description": "The android:name value",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The android:name value",
          "type": "string"
        }
      },
      "description": "The tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-permission-element.html",
      "type": "object",
      "id": "UsesPermissionTag"
    },
    "AndroidDeviceCatalog": {
      "description": "The currently supported Android devices.",
      "properties": {
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "AndroidRuntimeConfiguration"
        },
        "models": {
          "description": "The set of supported Android device models.",
          "type": "array",
          "items": {
            "$ref": "AndroidModel"
          }
        },
        "versions": {
          "description": "The set of supported Android OS versions.",
          "items": {
            "$ref": "AndroidVersion"
          },
          "type": "array"
        }
      },
      "id": "AndroidDeviceCatalog",
      "type": "object"
    },
    "IosDeviceFile": {
      "description": "A file or directory to install on the device before the test starts.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The source file",
          "$ref": "FileReference"
        },
        "bundleId": {
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device.",
          "type": "string"
        },
        "devicePath": {
          "description": "Location of the file on the device, inside the app's sandboxed filesystem",
          "type": "string"
        }
      },
      "id": "IosDeviceFile"
    },
    "MatrixErrorDetail": {
      "properties": {
        "reason": {
          "readOnly": true,
          "description": "Output only. The reason for the error. This is a constant value in UPPER_SNAKE_CASE that identifies the cause of the error.",
          "type": "string"
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable message about how the error in the TestMatrix. Expands on the `reason` field with additional details and possible options to fix the issue."
        }
      },
      "id": "MatrixErrorDetail",
      "description": "Describes a single error or issue with a matrix.",
      "type": "object"
    },
    "TestExecution": {
      "type": "object",
      "id": "TestExecution",
      "description": "A single test executed in a single environment.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. Unique id set by the service."
        },
        "matrixId": {
          "type": "string",
          "description": "Output only. Id of the containing TestMatrix."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this test execution was initially created."
        },
        "shard": {
          "description": "Output only. Details about the shard.",
          "$ref": "Shard"
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the test execution.",
          "type": "string"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Output only. How the host machine(s) are configured."
        },
        "testSpecification": {
          "$ref": "TestSpecification",
          "description": "Output only. How to run the test."
        },
        "state": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED).",
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ]
        },
        "testDetails": {
          "$ref": "TestDetails",
          "description": "Output only. Additional details about the running test."
        },
        "toolResultsStep": {
          "description": "Output only. Where the results for this execution are written.",
          "$ref": "ToolResultsStep"
        }
      }
    },
    "TestTargetsForShard": {
      "id": "TestTargetsForShard",
      "type": "object",
      "properties": {
        "testTargets": {
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Test targets for a shard."
    },
    "ClientInfoDetail": {
      "id": "ClientInfoDetail",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of detailed client information."
        },
        "value": {
          "description": "Required. The value of detailed client information.",
          "type": "string"
        }
      },
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.",
      "type": "object"
    },
    "ObbFile": {
      "id": "ObbFile",
      "type": "object",
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "properties": {
        "obbFileName": {
          "type": "string",
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
        },
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        }
      }
    },
    "IosDeviceList": {
      "type": "object",
      "id": "IosDeviceList",
      "properties": {
        "iosDevices": {
          "type": "array",
          "items": {
            "$ref": "IosDevice"
          },
          "description": "Required. A list of iOS devices."
        }
      },
      "description": "A list of iOS device configurations in which the test is to be executed."
    },
    "IosXcTest": {
      "type": "object",
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "id": "IosXcTest",
      "properties": {
        "xcodeVersion": {
          "type": "string",
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports."
        },
        "testsZip": {
          "$ref": "FileReference",
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified."
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "xctestrun": {
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip.",
          "$ref": "FileReference"
        },
        "testSpecialEntitlements": {
          "type": "boolean",
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement."
        }
      }
    },
    "AndroidRuntimeConfiguration": {
      "type": "object",
      "properties": {
        "orientations": {
          "type": "array",
          "items": {
            "$ref": "Orientation"
          },
          "description": "The set of available orientations."
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "description": "The set of available locales.",
          "type": "array"
        }
      },
      "id": "AndroidRuntimeConfiguration",
      "description": "Android configuration that can be selected at the time a test is run."
    },
    "Locale": {
      "type": "object",
      "properties": {
        "name": {
          "description": "A human-friendly name for this language/locale. Example: \"English\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The id for this locale. Example: \"en_US\"."
        },
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "region": {
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale.",
          "type": "string"
        }
      },
      "description": "A location/region designation for language.",
      "id": "Locale"
    },
    "ClientInfo": {
      "properties": {
        "clientInfoDetails": {
          "type": "array",
          "description": "The list of detailed information about client.",
          "items": {
            "$ref": "ClientInfoDetail"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Client name, such as gcloud."
        }
      },
      "type": "object",
      "description": "Information about the client which invoked the test.",
      "id": "ClientInfo"
    },
    "Metadata": {
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The android:value value"
        }
      },
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html",
      "type": "object",
      "id": "Metadata"
    },
    "TestSpecification": {
      "type": "object",
      "properties": {
        "testTimeout": {
          "format": "google-duration",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min.",
          "type": "string"
        },
        "iosTestSetup": {
          "$ref": "IosTestSetup",
          "description": "Test setup requirements for iOS."
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "An iOS XCTest, via an .xctestrun file."
        },
        "disablePerformanceMetrics": {
          "description": "Disables performance metrics recording. May reduce test latency.",
          "type": "boolean"
        },
        "androidTestLoop": {
          "$ref": "AndroidTestLoop",
          "description": "An Android Application with a Test Loop."
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "testSetup": {
          "$ref": "TestSetup",
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts."
        },
        "iosRoboTest": {
          "$ref": "IosRoboTest",
          "description": "An iOS Robo test."
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "iosTestLoop": {
          "description": "An iOS application with a test loop.",
          "$ref": "IosTestLoop"
        },
        "disableVideoRecording": {
          "description": "Disables video recording. May reduce test latency.",
          "type": "boolean"
        }
      },
      "description": "A description of how to run the test.",
      "id": "TestSpecification"
    },
    "PerIosVersionInfo": {
      "description": "A version-specific information of an iOS model.",
      "id": "PerIosVersionInfo",
      "type": "object",
      "properties": {
        "versionId": {
          "type": "string",
          "description": "An iOS version."
        },
        "deviceCapacity": {
          "description": "The number of online devices for an iOS version.",
          "type": "string",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        }
      }
    },
    "TestMatrix": {
      "id": "TestMatrix",
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this test matrix was initially created."
        },
        "testMatrixId": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "extendedInvalidMatrixDetails": {
          "description": "Output only. Details about why a matrix was deemed invalid. If multiple checks can be safely performed, they will be reported but no assumptions should be made about the length of this list.",
          "items": {
            "$ref": "MatrixErrorDetail"
          },
          "readOnly": true,
          "type": "array"
        },
        "flakyTestAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns."
        },
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Information about the client which invoked the test."
        },
        "environmentMatrix": {
          "description": "Required. The devices the tests are being executed on.",
          "$ref": "EnvironmentMatrix"
        },
        "invalidMatrixDetails": {
          "type": "string",
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK",
            "MATRIX_TOO_LARGE",
            "TEST_QUOTA_EXCEEDED",
            "SERVICE_NOT_ACTIVATED",
            "UNKNOWN_PERMISSION_ERROR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by the user or in the manifest file. This can be caused by one of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported",
            "The matrix expanded to contain too many executions.",
            "Not enough test quota to run the executions in this matrix.",
            "A required cloud service api is not activated. See: https://firebase.google.com/docs/test-lab/android/continuous#requirements",
            "There was an unknown permission issue running this test."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state."
        },
        "testExecutions": {
          "description": "Output only. The list of test executions that the service creates for this matrix.",
          "items": {
            "$ref": "TestExecution"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. Indicates the current progress of the test matrix.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "type": "string"
        },
        "testSpecification": {
          "description": "Required. How to run the test.",
          "$ref": "TestSpecification"
        },
        "failFast": {
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation.",
          "type": "boolean"
        },
        "outcomeSummary": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test cases failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ],
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED.",
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ]
        },
        "projectId": {
          "type": "string",
          "description": "The cloud project that owns the test matrix."
        },
        "resultStorage": {
          "description": "Required. Where the results for the matrix are written.",
          "$ref": "ResultStorage"
        }
      },
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome."
    },
    "CancelTestMatrixResponse": {
      "type": "object",
      "description": "Response containing the current state of the specified test matrix.",
      "properties": {
        "testState": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ]
        }
      },
      "id": "CancelTestMatrixResponse"
    },
    "ListDeviceSessionsResponse": {
      "description": "A list of device sessions.",
      "type": "object",
      "id": "ListDeviceSessionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deviceSessions": {
          "description": "The sessions matching the specified filter in the given cloud project.",
          "type": "array",
          "items": {
            "$ref": "DeviceSession"
          }
        }
      }
    },
    "AndroidVersion": {
      "properties": {
        "distribution": {
          "description": "Market share for this version.",
          "$ref": "Distribution"
        },
        "versionString": {
          "type": "string",
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\"."
        },
        "releaseDate": {
          "description": "The date this Android version became available in the market.",
          "$ref": "Date"
        },
        "id": {
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "apiLevel": {
          "type": "integer",
          "description": "The API level for this Android version. Examples: 18, 19.",
          "format": "int32"
        },
        "codeName": {
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\".",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AndroidVersion",
      "description": "A version of the Android OS."
    },
    "Shard": {
      "properties": {
        "testTargetsForShard": {
          "$ref": "TestTargetsForShard",
          "description": "Output only. Test targets for each shard. Only set for manual sharding.",
          "readOnly": true
        },
        "numShards": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The total number of shards."
        },
        "shardIndex": {
          "description": "Output only. The index of the shard among all the shards.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "estimatedShardDuration": {
          "readOnly": true,
          "description": "Output only. The estimated shard duration based on previous test case timing records, if available.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "Shard",
      "description": "Output only. Details about the shard.",
      "type": "object"
    },
    "IosDeviceCatalog": {
      "properties": {
        "runtimeConfiguration": {
          "$ref": "IosRuntimeConfiguration",
          "description": "The set of supported runtime configurations."
        },
        "models": {
          "description": "The set of supported iOS device models.",
          "type": "array",
          "items": {
            "$ref": "IosModel"
          }
        },
        "xcodeVersions": {
          "description": "The set of supported Xcode versions.",
          "type": "array",
          "items": {
            "$ref": "XcodeVersion"
          }
        },
        "versions": {
          "items": {
            "$ref": "IosVersion"
          },
          "description": "The set of supported iOS software versions.",
          "type": "array"
        }
      },
      "id": "IosDeviceCatalog",
      "description": "The currently supported iOS devices.",
      "type": "object"
    },
    "ResultStorage": {
      "properties": {
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        },
        "googleCloudStorage": {
          "description": "Required.",
          "$ref": "GoogleCloudStorage"
        },
        "toolResultsHistory": {
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value.",
          "$ref": "ToolResultsHistory"
        },
        "resultsUrl": {
          "description": "Output only. URL to the results in the Firebase Web Console.",
          "type": "string"
        }
      },
      "description": "Locations where the results of running the test are stored.",
      "type": "object",
      "id": "ResultStorage"
    },
    "SystraceSetup": {
      "id": "SystraceSetup",
      "type": "object",
      "properties": {
        "durationSeconds": {
          "deprecated": true,
          "format": "int32",
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "type": "integer"
        }
      }
    },
    "RegularFile": {
      "id": "RegularFile",
      "type": "object",
      "properties": {
        "devicePath": {
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way.",
          "type": "string"
        },
        "content": {
          "$ref": "FileReference",
          "description": "Required. The source file."
        }
      },
      "description": "A file or directory to install on the device before the test starts."
    },
    "IosModel": {
      "properties": {
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\".",
          "type": "string"
        },
        "screenY": {
          "type": "integer",
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "format": "int32"
        },
        "screenDensity": {
          "type": "integer",
          "description": "Screen density in DPI.",
          "format": "int32"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "supportedVersionIds": {
          "description": "The set of iOS major software versions this device supports.",
          "items": {
[...]
