{
  "ownerName": "Google",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://testing.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "parameters": {
            "environmentType": {
              "location": "path",
              "description": "Required. The type of environment that should be listed.",
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE",
                "DEVICE_IP_BLOCKS"
              ],
              "required": true,
              "enumDescriptions": [
                "Do not use. For proto versioning only.",
                "A device running a version of the Android OS.",
                "A device running a version of iOS.",
                "A network configuration to use when running a test.",
                "The software environment provided by TestExecutionService.",
                "The IP blocks used by devices in the test environment."
              ],
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog.",
              "location": "query"
            },
            "includeViewableModels": {
              "description": "Optional. Whether to include viewable only models in the response. This is only applicable for Android models.",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "testing.testEnvironmentCatalog.get",
          "parameterOrder": [
            "environmentType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/testEnvironmentCatalog/{environmentType}",
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "description": "Gets the catalog of supported test environments. May return any of the following canonical error codes: - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL - if an internal error occurred",
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
          "httpMethod": "GET"
        }
      }
    },
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "httpMethod": "POST",
          "request": {
            "$ref": "FileReference"
          },
          "description": "Gets the details of an Android application APK.",
          "parameterOrder": [],
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "id": "testing.applicationDetailService.getApkDetails",
          "parameters": {
            "bundleLocation.gcsPath": {
              "location": "query",
              "type": "string",
              "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)"
            }
          },
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/applicationDetailService/getApkDetails"
        }
      }
    },
    "projects": {
      "resources": {
        "deviceSessions": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "type": "string"
                }
              },
              "id": "testing.projects.deviceSessions.get",
              "response": {
                "$ref": "DeviceSession"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "GET /v1/projects/{project_id}/deviceSessions/{device_session_id} Return a DeviceSession, which documents the allocation status and whether the device is allocated. Clients making requests from this API must poll GetDeviceSession.",
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "id": "testing.projects.deviceSessions.list",
              "response": {
                "$ref": "ListDeviceSessionsResponse"
              },
              "description": "GET /v1/projects/{project_id}/deviceSessions Lists device Sessions owned by the project user.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of DeviceSessions to return."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A continuation token for paging.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. If specified, responses will be filtered by the given filter. Allowed fields are: session_state.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the parent to request, e.g. \"projects/{project_id}\""
                }
              },
              "path": "v1/{+parent}/deviceSessions"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "description": "POST /v1/projects/{project_id}/deviceSessions/{device_session_id}:cancel Changes the DeviceSession to state FINISHED and terminates all connections. Canceled sessions are not deleted and can be retrieved or listed by the user until they expire based on the 28 day deletion policy.",
              "id": "testing.projects.deviceSessions.cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}:cancel",
              "request": {
                "$ref": "CancelDeviceSessionRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "request": {
                "$ref": "DeviceSession"
              },
              "id": "testing.projects.deviceSessions.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "POST /v1/projects/{project_id}/deviceSessions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The Compute Engine project under which this device will be allocated. \"projects/{project_id}\"",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "path": "v1/{+parent}/deviceSessions",
              "response": {
                "$ref": "DeviceSession"
              }
            },
            "patch": {
              "description": "PATCH /v1/projects/{projectId}/deviceSessions/deviceSessionId}:updateDeviceSession Updates the current device session to the fields described by the update_mask.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "id": "testing.projects.deviceSessions.patch",
              "response": {
                "$ref": "DeviceSession"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "request": {
                "$ref": "DeviceSession"
              },
              "path": "v1/{+name}"
            }
          }
        },
        "testMatrices": {
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "id": "testing.projects.testMatrices.get",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "TestMatrix"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Checks the status of a test matrix and the executions once they are created. The test matrix will contain the list of test executions to run if and only if the resultStorage.toolResultsExecution fields have been populated. Note: Flaky test executions may be added to the matrix at a later stage. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Cloud project that owns the test matrix.",
                  "location": "path"
                },
                "testMatrixId": {
                  "description": "Unique test matrix id which was assigned by the service.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ]
            },
            "create": {
              "request": {
                "$ref": "TestMatrix"
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "description": "Creates and runs a matrix of tests according to the given specifications. Unsupported environments will be returned in the state UNSUPPORTED. A test matrix is limited to use at most 2000 devices in parallel. The returned matrix will not yet contain the executions that will be created for this matrix. Execution creation happens later on and will require a call to GetTestMatrix. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed or if the matrix tries to use too many simultaneous devices.",
              "path": "v1/projects/{projectId}/testMatrices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.testMatrices.create",
              "response": {
                "$ref": "TestMatrix"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The GCE project under which this job will run.",
                  "location": "path"
                },
                "requestId": {
                  "type": "string",
                  "location": "query",
                  "description": "A string id used to detect duplicated requests. Ids are automatically scoped to a project, so users should ensure the ID is unique per-project. A UUID is recommended. Optional, but strongly recommended."
                }
              },
              "httpMethod": "POST"
            },
            "cancel": {
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "id": "testing.projects.testMatrices.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Cloud project that owns the test.",
                  "location": "path"
                },
                "testMatrixId": {
                  "required": true,
                  "type": "string",
                  "description": "Test matrix that will be canceled.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist"
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Cloud Testing API",
  "name": "testing",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "protocol": "rest",
  "id": "testing:v1",
  "revision": "20260922",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "rootUrl": "https://testing.googleapis.com/",
  "schemas": {
    "SessionStateEvent": {
      "description": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states.",
      "properties": {
        "sessionState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ],
          "description": "Output only. The session_state tracked by this event",
          "type": "string",
          "readOnly": true
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable message to explain the state."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time that the session_state first encountered that state."
        }
      },
      "type": "object",
      "id": "SessionStateEvent"
    },
    "IosXcTest": {
      "properties": {
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        },
        "xctestrun": {
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip.",
          "$ref": "FileReference"
        },
        "appBundleId": {
          "description": "Output only. The bundle id for the application under test.",
          "type": "string"
        },
        "testSpecialEntitlements": {
          "type": "boolean",
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement."
        },
        "xcodeVersion": {
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports.",
          "type": "string"
        }
      },
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "id": "IosXcTest",
      "type": "object"
    },
    "RoboStartingIntent": {
      "type": "object",
      "description": "Message for specifying the start activities to crawl.",
      "properties": {
        "startActivity": {
          "$ref": "StartActivityIntent",
          "description": "An intent that starts an activity with specific details."
        },
        "noActivity": {
          "$ref": "NoActivityIntent",
          "description": "Skips the starting activity"
        },
        "launcherActivity": {
          "description": "An intent that starts the main launcher activity.",
          "$ref": "LauncherActivityIntent"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Timeout in seconds for each intent.",
          "type": "string"
        }
      },
      "id": "RoboStartingIntent"
    },
    "IosDeviceList": {
      "type": "object",
      "properties": {
        "iosDevices": {
          "type": "array",
          "items": {
            "$ref": "IosDevice"
          },
          "description": "Required. A list of iOS devices."
        }
      },
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "id": "IosDeviceList"
    },
    "DeviceSession": {
      "id": "DeviceSession",
      "properties": {
        "expireTime": {
          "description": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time that the Session was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "inactivityTimeout": {
          "description": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The title of the DeviceSession to be presented in the UI.",
          "readOnly": true
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the DeviceSession.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ]
        },
        "name": {
          "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
          "type": "string"
        },
        "stateHistories": {
          "description": "Output only. The historical state transitions of the session_state message including the current session state.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "SessionStateEvent"
          }
        },
        "activeStartTime": {
          "readOnly": true,
          "description": "Output only. The timestamp that the session first became ACTIVE.",
          "type": "string",
          "format": "google-datetime"
        },
        "androidDevice": {
          "description": "Required. The requested device.",
          "$ref": "AndroidDevice"
        }
      },
      "type": "object",
      "description": "Protobuf message describing the device message, used from several RPCs."
    },
    "IosDevice": {
      "properties": {
        "iosModelId": {
          "type": "string",
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosVersionId": {
          "type": "string",
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "description": "A single iOS device.",
      "id": "IosDevice",
      "type": "object"
    },
    "Service": {
      "properties": {
        "intentFilter": {
          "type": "array",
          "description": "Intent filters in the service",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "name": {
          "description": "The android:name value",
          "type": "string"
        }
      },
      "id": "Service",
      "type": "object",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element"
    },
    "TrafficRule": {
      "description": "Network emulation parameters.",
      "properties": {
        "packetDuplicationRatio": {
          "type": "number",
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "format": "float"
        },
        "delay": {
          "type": "string",
          "format": "google-duration",
          "description": "Packet delay, must be >= 0."
        },
        "packetLossRatio": {
          "format": "float",
          "type": "number",
          "description": "Packet loss ratio (0.0 - 1.0)."
        },
        "bandwidth": {
          "description": "Bandwidth in kbits/second.",
          "format": "float",
          "type": "number"
        },
        "burst": {
          "type": "number",
          "description": "Burst size in kbits.",
          "format": "float"
        }
      },
      "id": "TrafficRule",
      "type": "object"
    },
    "ClientInfoDetail": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of detailed client information."
        },
        "key": {
          "type": "string",
          "description": "Required. The key of detailed client information."
        }
      },
      "id": "ClientInfoDetail",
      "type": "object",
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}."
    },
    "NoActivityIntent": {
      "description": "Skips the starting activity",
      "properties": {},
      "id": "NoActivityIntent",
      "type": "object"
    },
    "ListDeviceSessionsResponse": {
      "description": "A list of device sessions.",
      "type": "object",
      "id": "ListDeviceSessionsResponse",
      "properties": {
        "deviceSessions": {
          "items": {
            "$ref": "DeviceSession"
          },
          "type": "array",
          "description": "The sessions matching the specified filter in the given cloud project."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "AppBundle": {
      "type": "object",
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "properties": {
        "bundleLocation": {
          "$ref": "FileReference",
          "description": ".aab file representing the app bundle under test."
        },
        "apks": {
          "$ref": "ApkSplits",
          "description": ".apk files generated by bundletool to install as a single android app."
        }
      },
      "id": "AppBundle"
    },
    "GetApkDetailsResponse": {
      "properties": {
        "apkDetail": {
          "description": "Details of the Android App.",
          "$ref": "ApkDetail"
        }
      },
      "id": "GetApkDetailsResponse",
      "description": "Response containing the details of the specified Android application.",
      "type": "object"
    },
    "SmartSharding": {
      "type": "object",
      "description": "Shards test based on previous test case timing records.",
      "id": "SmartSharding",
      "properties": {
        "targetedShardDuration": {
          "description": "The amount of time tests within a shard should take. Default: 300 seconds (5 minutes). The minimum allowed: 120 seconds (2 minutes). The shard count is dynamically set based on time, up to the maximum shard limit (described below). To guarantee at least one test case for each shard, the number of shards will not exceed the number of test cases. Shard duration will be exceeded if: - The maximum shard limit is reached and there is more calculated test time remaining to allocate into shards. - Any individual test is estimated to be longer than the targeted shard duration. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. The rules for finding the test case timing records are: - If the service has processed a test case in the last 30 days, the record of the latest successful test case will be used. - For new test cases, the average duration of other known test cases will be used. - If there are no previous test case timing records available, the default test case duration is 15 seconds. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed test timeout (45 minutes for physical devices and 60 minutes for virtual), or that you use the custom test timeout value that you set. This approach avoids cancelling the shard before all tests can finish. Note that there is a limit for maximum number of shards. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500. To guarantee at least one test case for per shard, the number of shards will not exceed the number of test cases. Each shard created counts toward daily test quota.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "LauncherActivityIntent": {
      "description": "Specifies an intent that starts the main launcher activity.",
      "properties": {},
      "id": "LauncherActivityIntent",
      "type": "object"
    },
    "GoogleCloudStorage": {
      "description": "A storage location within Google cloud storage (GCS).",
      "properties": {
        "gcsPath": {
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudStorage"
    },
    "PerAndroidVersionInfo": {
      "type": "object",
      "description": "A version-specific information of an Android model.",
      "properties": {
        "deviceCapacity": {
          "type": "string",
          "description": "The number of online devices for an Android version.",
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ],
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ]
        },
        "directAccessVersionInfo": {
          "description": "Output only. Identifies supported clients for DirectAccess for this Android version.",
          "$ref": "DirectAccessVersionInfo",
          "readOnly": true
        },
        "versionId": {
          "type": "string",
          "description": "An Android version."
        },
        "interactiveDeviceAvailabilityEstimate": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The estimated wait time for a single interactive device session using Direct Access."
        }
      },
      "id": "PerAndroidVersionInfo"
    },
    "ManualSharding": {
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "properties": {
        "testTargetsForShard": {
          "items": {
            "$ref": "TestTargetsForShard"
          },
          "type": "array",
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500."
        }
      },
      "type": "object",
      "id": "ManualSharding"
    },
    "AndroidInstrumentationTest": {
      "properties": {
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "orchestratorOption": {
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "type": "string"
        },
        "shardingOption": {
          "$ref": "ShardingOption",
          "description": "The option to run tests in multiple shards in parallel."
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        },
        "testApk": {
          "$ref": "FileReference",
          "description": "Required. The APK containing the test code to be executed."
        }
      },
      "type": "object",
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "id": "AndroidInstrumentationTest"
    },
    "Shard": {
      "id": "Shard",
      "description": "Output only. Details about the shard.",
      "type": "object",
      "properties": {
        "shardIndex": {
          "type": "integer",
          "description": "Output only. The index of the shard among all the shards.",
          "format": "int32",
          "readOnly": true
        },
        "estimatedShardDuration": {
          "type": "string",
          "description": "Output only. The estimated shard duration based on previous test case timing records, if available.",
          "format": "google-duration",
          "readOnly": true
        },
        "numShards": {
          "format": "int32",
          "description": "Output only. The total number of shards.",
          "type": "integer",
          "readOnly": true
        },
        "testTargetsForShard": {
          "readOnly": true,
          "$ref": "TestTargetsForShard",
          "description": "Output only. Test targets for each shard. Only set for manual sharding."
        }
      }
    },
    "XcodeVersion": {
      "id": "XcodeVersion",
      "type": "object",
      "description": "An Xcode version that an iOS version is compatible with.",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this Xcode version. Example: \"default\".",
          "type": "array"
        },
        "version": {
          "description": "The id for this version. Example: \"9.2\".",
          "type": "string"
        }
      }
    },
    "IosDeviceCatalog": {
      "type": "object",
      "description": "The currently supported iOS devices.",
      "id": "IosDeviceCatalog",
      "properties": {
        "models": {
          "items": {
            "$ref": "IosModel"
          },
          "type": "array",
          "description": "The set of supported iOS device models."
        },
        "xcodeVersions": {
          "description": "The set of supported Xcode versions.",
          "items": {
            "$ref": "XcodeVersion"
          },
          "type": "array"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "IosVersion"
          },
          "description": "The set of supported iOS software versions."
        },
        "runtimeConfiguration": {
          "$ref": "IosRuntimeConfiguration",
          "description": "The set of supported runtime configurations."
        }
      }
    },
    "AndroidDevice": {
      "type": "object",
      "properties": {
        "androidVersionId": {
          "type": "string",
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "androidModelId": {
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "description": "A single Android device.",
      "id": "AndroidDevice"
    },
    "MatrixErrorDetail": {
      "id": "MatrixErrorDetail",
      "description": "Describes a single error or issue with a matrix.",
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. A human-readable message about how the error in the TestMatrix. Expands on the `reason` field with additional details and possible options to fix the issue.",
          "type": "string"
        },
        "reason": {
          "description": "Output only. The reason for the error. This is a constant value in UPPER_SNAKE_CASE that identifies the cause of the error.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ToolResultsHistory": {
      "type": "object",
      "id": "ToolResultsHistory",
      "description": "Represents a tool results history resource.",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "Required. A tool results history ID."
        },
        "projectId": {
          "description": "Required. The cloud project that owns the tool results history.",
          "type": "string"
        }
      }
    },
    "AndroidTestLoop": {
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being.",
      "properties": {
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "scenarioLabels": {
          "type": "array",
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field.",
          "items": {
            "type": "string"
          }
        },
        "scenarios": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest."
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default is determined by examining the application's manifest.",
          "type": "string"
        }
      },
      "id": "AndroidTestLoop",
      "type": "object"
    },
    "TestTargetsForShard": {
      "type": "object",
      "description": "Test targets for a shard.",
      "id": "TestTargetsForShard",
      "properties": {
        "testTargets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0."
        }
      }
    },
    "Environment": {
      "description": "The environment in which the test is run.",
      "properties": {
        "androidDevice": {
          "description": "An Android device which must be used with an Android test.",
          "$ref": "AndroidDevice"
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      },
      "id": "Environment",
      "type": "object"
    },
    "ApkManifest": {
      "properties": {
        "intentFilters": {
          "items": {
            "$ref": "IntentFilter"
          },
          "type": "array"
        },
        "usesFeature": {
          "items": {
            "$ref": "UsesFeature"
          },
          "description": "Feature usage tags defined in the manifest.",
          "type": "array"
        },
        "usesPermissionTags": {
          "type": "array",
          "items": {
            "$ref": "UsesPermissionTag"
          },
          "description": "Permissions declared to be used by the application"
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "type": "integer",
          "format": "int32"
        },
        "packageName": {
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\".",
          "type": "string"
        },
        "versionCode": {
          "description": "Version number used internally by the app.",
          "type": "string",
          "format": "int64"
        },
        "versionName": {
          "type": "string",
          "description": "Version number shown to users."
        },
        "maxSdkVersion": {
          "type": "integer",
          "description": "Maximum API level on which the application is designed to run.",
          "format": "int32"
        },
        "metadata": {
          "description": "Meta-data tags defined in the manifest.",
          "type": "array",
          "items": {
            "$ref": "Metadata"
          }
        },
        "usesPermission": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum API level required for the application to run."
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "Services contained in the tag."
        },
        "applicationLabel": {
          "description": "User-readable name for the application.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "id": "ApkManifest"
    },
    "UsesFeature": {
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html",
      "type": "object",
      "id": "UsesFeature",
      "properties": {
        "isRequired": {
          "type": "boolean",
          "description": "The android:required value"
        },
        "name": {
          "description": "The android:name value",
          "type": "string"
        }
      }
    },
    "NetworkConfiguration": {
      "id": "NetworkConfiguration",
      "type": "object",
      "properties": {
        "downRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the download traffic."
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        },
        "upRule": {
          "description": "The emulation rule applying to the upload traffic.",
          "$ref": "TrafficRule"
        }
      }
    },
    "ApkSplits": {
      "description": "A single dynamic feature apk.",
      "type": "object",
      "properties": {
        "bundleSplits": {
          "description": "A list of .apk files generated by bundletool to install to the device under test as a single android app with adb install-multiple. If specified, requires one or more bundle_splits. The first split specified represents the base APK, while subsequent splits represent feature apks.",
          "items": {
            "$ref": "FileReference"
          },
          "type": "array"
        }
      },
      "id": "ApkSplits"
    },
    "LabInfo": {
      "description": "Lab specific information for a device.",
      "properties": {
        "regionCode": {
          "description": "The Unicode country/region code (CLDR) of the lab where the device is hosted. E.g. \"US\" for United States, \"CH\" for Switzerland.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Lab name where the device is hosted. If empty, the device is hosted in a Google owned lab."
        }
      },
      "type": "object",
      "id": "LabInfo"
    },
    "ProvidedSoftwareCatalog": {
      "id": "ProvidedSoftwareCatalog",
      "type": "object",
      "properties": {
        "orchestratorVersion": {
          "deprecated": true,
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator.",
          "type": "string"
        },
        "androidxOrchestratorVersion": {
          "type": "string",
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator."
        }
      },
      "description": "The currently provided software environment on the devices under test."
    },
    "ObbFile": {
      "type": "object",
      "id": "ObbFile",
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "properties": {
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        },
        "obbFileName": {
          "type": "string",
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
        }
      }
    },
    "Account": {
      "properties": {
        "googleAuto": {
          "$ref": "GoogleAuto",
          "description": "An automatic google login account."
        }
      },
      "type": "object",
      "id": "Account",
      "description": "Identifies an account and how to log into it."
    },
    "IosModel": {
      "id": "IosModel",
      "type": "object",
      "description": "A description of an iOS device tests may be run on.",
      "properties": {
        "perVersionInfo": {
          "items": {
            "$ref": "PerIosVersionInfo"
          },
          "type": "array",
          "description": "Version-specific information of an iOS model."
        },
        "deviceCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html",
          "type": "array"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "supportedVersionIds": {
          "type": "array",
          "description": "The set of iOS major software versions this device supports.",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI."
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "formFactor": {
          "type": "string",
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ]
        },
        "name": {
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\".",
          "type": "string"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "screenY": {
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "type": "integer"
        }
      }
    },
    "RoboDirective": {
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "type": "object",
      "properties": {
        "actionType": {
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ],
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "inputText": {
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name.",
          "type": "string"
        }
      },
      "id": "RoboDirective"
    },
    "ApkDetail": {
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "id": "ApkDetail",
      "description": "Android application details based on application manifest and archive contents.",
      "type": "object"
    },
    "IosVersion": {
      "id": "IosVersion",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "majorVersion": {
          "type": "integer",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\".",
          "format": "int32"
        },
        "minorVersion": {
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\".",
          "type": "integer",
          "format": "int32"
        },
        "supportedXcodeVersionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available Xcode versions for this version."
        },
        "id": {
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        }
      },
      "description": "An iOS version."
    },
    "CancelDeviceSessionRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelDeviceSessionRequest",
      "description": "The request object for cancelling a Device Session."
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "A key-value pair passed as an environment variable to the test.",
      "properties": {
        "key": {
          "description": "Key for the environment variable.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        }
      },
      "type": "object"
    },
    "ResultStorage": {
      "description": "Locations where the results of running the test are stored.",
      "id": "ResultStorage",
      "type": "object",
      "properties": {
        "resultsUrl": {
          "type": "string",
          "description": "Output only. URL to the results in the Firebase Web Console."
        },
        "googleCloudStorage": {
          "description": "Required.",
          "$ref": "GoogleCloudStorage"
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        },
        "toolResultsHistory": {
          "$ref": "ToolResultsHistory",
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value."
        }
      }
    },
    "StartActivityIntent": {
      "type": "object",
      "description": "A starting intent specified by an action, uri, and categories.",
      "id": "StartActivityIntent",
      "properties": {
        "uri": {
          "description": "URI for the action.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Action name. Required for START_ACTIVITY."
        },
        "categories": {
          "type": "array",
          "description": "Intent categories to set on the intent.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IosTestLoop": {
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "type": "object",
      "properties": {
        "scenarios": {
          "type": "array",
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The .ipa of the application to test."
        }
      },
      "id": "IosTestLoop"
    },
    "TestEnvironmentCatalog": {
      "properties": {
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        },
        "deviceIpBlockCatalog": {
          "$ref": "DeviceIpBlockCatalog",
          "description": "The IP blocks used by devices in the test environment."
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        },
        "iosDeviceCatalog": {
          "description": "Supported iOS devices.",
          "$ref": "IosDeviceCatalog"
        }
      },
      "description": "A description of a test environment.",
      "type": "object",
      "id": "TestEnvironmentCatalog"
    },
    "TestMatrix": {
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The cloud project that owns the test matrix."
        },
        "testExecutions": {
          "type": "array",
          "items": {
            "$ref": "TestExecution"
          },
          "description": "Output only. The list of test executions that the service creates for this matrix."
        },
        "invalidMatrixDetails": {
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK",
            "MATRIX_TOO_LARGE",
            "TEST_QUOTA_EXCEEDED",
            "SERVICE_NOT_ACTIVATED",
            "UNKNOWN_PERMISSION_ERROR"
          ],
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by the user or in the manifest file. This can be caused by one of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported",
            "The matrix expanded to contain too many executions.",
            "Not enough test quota to run the executions in this matrix.",
            "A required cloud service api is not activated. See: https://firebase.google.com/docs/test-lab/android/continuous#requirements",
            "There was an unknown permission issue running this test."
          ]
        },
        "testSpecification": {
          "description": "Required. How to run the test.",
          "$ref": "TestSpecification"
        },
        "clientInfo": {
          "description": "Information about the client which invoked the test.",
          "$ref": "ClientInfo"
        },
        "outcomeSummary": {
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ],
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test cases failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ]
        },
        "testMatrixId": {
          "type": "string",
          "description": "Output only. Unique id set by the service."
        },
        "failFast": {
          "type": "boolean",
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation."
        },
        "flakyTestAttempts": {
          "format": "int32",
          "type": "integer",
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns."
        },
        "extendedInvalidMatrixDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MatrixErrorDetail"
          },
          "description": "Output only. Details about why a matrix was deemed invalid. If multiple checks can be safely performed, they will be reported but no assumptions should be made about the length of this list."
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test matrix.",
          "type": "string"
        },
        "environmentMatrix": {
          "description": "Required. The devices the tests are being executed on.",
          "$ref": "EnvironmentMatrix"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this test matrix was initially created."
        },
        "resultStorage": {
          "$ref": "ResultStorage",
          "description": "Required. Where the results for the matrix are written."
        }
      },
      "id": "TestMatrix"
    },
    "DeviceFile": {
      "type": "object",
      "description": "A single device file description.",
      "properties": {
        "obbFile": {
          "description": "A reference to an opaque binary blob file.",
          "$ref": "ObbFile"
        },
        "regularFile": {
          "$ref": "RegularFile",
          "description": "A reference to a regular file."
        }
      },
      "id": "DeviceFile"
    },
    "NetworkConfigurationCatalog": {
      "id": "NetworkConfigurationCatalog",
      "properties": {
        "configurations": {
          "items": {
            "$ref": "NetworkConfiguration"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Metadata": {
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The android:value value"
        }
      },
      "type": "object",
      "id": "Metadata",
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "id": "Date",
      "type": "object"
    },
    "Distribution": {
      "description": "Data about the relative number of devices running a given configuration of the Android platform.",
      "id": "Distribution",
      "properties": {
        "measurementTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this distribution was measured."
        },
        "marketShare": {
          "format": "double",
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "AndroidRoboTest": {
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "id": "AndroidRoboTest",
      "properties": {
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.",
          "type": "string"
        },
        "roboMode": {
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically.",
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Deprecated: Use ROBO_VERSION_1 instead for all use cases. Runs Robo in standard Espresso with UIAutomator fallback"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "roboDirectives": {
          "items": {
            "$ref": "RoboDirective"
          },
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "type": "array"
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "maxSteps": {
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "maxDepth": {
          "deprecated": true,
          "type": "integer",
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50.",
          "format": "int32"
        },
        "roboScript": {
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl.",
          "$ref": "FileReference"
        },
        "startingIntents": {
          "items": {
            "$ref": "RoboStartingIntent"
          },
          "type": "array",
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly)."
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        }
      },
      "type": "object"
    },
    "DeviceIpBlockCatalog": {
      "properties": {
        "ipBlocks": {
          "items": {
            "$ref": "DeviceIpBlock"
          },
          "description": "The device IP blocks used by Firebase Test Lab",
          "type": "array"
        }
      },
      "id": "DeviceIpBlockCatalog",
      "type": "object",
      "description": "List of IP blocks used by the Firebase Test Lab"
    },
    "ToolResultsExecution": {
      "type": "object",
      "id": "ToolResultsExecution",
      "properties": {
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results execution.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        },
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        }
      },
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix."
    },
    "ToolResultsStep": {
      "properties": {
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the tool results step."
        },
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        }
      },
      "description": "Represents a tool results step resource. This has the results of a TestExecution.",
      "type": "object",
      "id": "ToolResultsStep"
    },
    "AndroidModel": {
      "id": "AndroidModel",
      "properties": {
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "accessDeniedReasons": {
          "description": "Reasons for access denial. This model is accessible if this list is empty, otherwise the model is viewable only.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Do not use. For proto versioning only.",
              "The model is for viewing purposes only. Access and utilization require acceptance of an End User License Agreement (EULA)."
            ],
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string"
          }
        },
        "name": {
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\".",
          "type": "string"
        },
        "perVersionInfo": {
          "type": "array",
          "items": {
            "$ref": "PerAndroidVersionInfo"
          },
          "description": "Version-specific information of an Android model."
        },
        "manufacturer": {
          "description": "The manufacturer of this device.",
          "type": "string"
        },
        "supportedAbis": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version."
        },
        "lowFpsVideoRecording": {
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config.",
          "type": "boolean"
        },
        "form": {
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "description": "Whether this device is virtual or physical.",
          "type": "string"
        },
        "supportedVersionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of Android versions this device supports."
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image (photo) of the device."
        },
        "screenX": {
          "format": "int32",
          "type": "integer",
          "description": "Screen size in the horizontal (X) dimension measured in pixels."
        },
        "codename": {
          "type": "string",
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE."
        },
        "labInfo": {
          "readOnly": true,
          "description": "Output only. Lab info of this device.",
          "$ref": "LabInfo"
        },
        "screenDensity": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density"
        },
        "formFactor": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "type": "string",
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ]
        },
        "brand": {
          "type": "string",
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\"."
        }
      },
      "description": "A description of an Android device tests may be run on.",
      "type": "object"
    },
    "TestSetup": {
      "id": "TestSetup",
      "type": "object",
      "description": "A description of how to set up the Android device prior to running the test.",
      "properties": {
        "environmentVariables": {
          "description": "Environment variables to set for the test (only applicable for instrumentation tests).",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "account": {
          "$ref": "Account",
          "description": "The device will be logged in on this account for the duration of the test."
        },
        "directoriesToPull": {
          "type": "array",
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device.",
          "items": {
            "type": "string"
          }
        },
        "systrace": {
          "$ref": "SystraceSetup",
          "deprecated": true,
          "description": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results."
        },
        "networkProfile": {
          "type": "string",
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
        },
        "filesToPush": {
          "description": "List of files to push to the device before starting the test.",
          "type": "array",
          "items": {
            "$ref": "DeviceFile"
          }
        },
        "initialSetupApks": {
          "description": "Optional. Initial setup APKs to install before the app under test is installed. Limited to a combined total of 100 initial setup and additional files.",
          "type": "array",
          "items": {
            "$ref": "Apk"
          }
        },
        "additionalApks": {
          "items": {
            "$ref": "Apk"
          },
          "description": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Limited to a combined total of 100 initial setup and additional files.",
          "type": "array"
        },
        "dontAutograntPermissions": {
          "description": "Whether to prevent all runtime permissions to be granted at app install",
          "type": "boolean"
        }
      }
    },
    "TestSpecification": {
      "properties": {
        "testTimeout": {
          "format": "google-duration",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min.",
          "type": "string"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "disableVideoRecording": {
          "type": "boolean",
          "description": "Disables video recording. May reduce test latency."
        },
        "testSetup": {
          "$ref": "TestSetup",
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts."
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        },
        "androidTestLoop": {
          "description": "An Android Application with a Test Loop.",
          "$ref": "AndroidTestLoop"
        },
        "iosTestLoop": {
          "description": "An iOS application with a test loop.",
          "$ref": "IosTestLoop"
        },
        "disablePerformanceMetrics": {
          "type": "boolean",
          "description": "Disables performance metrics recording. May reduce test latency."
        },
        "iosXcTest": {
          "description": "An iOS XCTest, via an .xctestrun file.",
          "$ref": "IosXcTest"
        },
        "iosTestSetup": {
          "description": "Test setup requirements for iOS.",
          "$ref": "IosTestSetup"
        }
      },
      "description": "A description of how to run the test.",
      "id": "TestSpecification",
      "type": "object"
    },
    "IosRuntimeConfiguration": {
      "properties": {
        "locales": {
          "type": "array",
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          }
        },
        "orientations": {
          "description": "The set of available orientations.",
          "items": {
            "$ref": "Orientation"
          },
          "type": "array"
        }
      },
      "description": "iOS configuration that can be selected at the time a test is run.",
      "id": "IosRuntimeConfiguration",
      "type": "object"
    },
    "AndroidDeviceList": {
      "properties": {
        "androidDevices": {
          "items": {
            "$ref": "AndroidDevice"
          },
          "description": "Required. A list of Android devices.",
          "type": "array"
        }
      },
      "id": "AndroidDeviceList",
      "description": "A list of Android device configurations in which the test is to be executed.",
      "type": "object"
    },
    "AndroidRuntimeConfiguration": {
      "type": "object",
      "id": "AndroidRuntimeConfiguration",
      "properties": {
        "orientations": {
          "items": {
            "$ref": "Orientation"
          },
          "description": "The set of available orientations.",
          "type": "array"
        },
        "locales": {
          "items": {
            "$ref": "Locale"
          },
          "type": "array",
          "description": "The set of available locales."
        }
      },
      "description": "Android configuration that can be selected at the time a test is run."
    },
    "DeviceIpBlock": {
      "description": "A single device IP block",
      "properties": {
        "addedDate": {
          "description": "The date this block was added to Firebase Test Lab",
          "$ref": "Date"
        },
        "form": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
[...]
