{
  "version_module": true,
  "title": "Cloud Text-to-Speech API",
  "batchPath": "batch",
  "name": "texttospeech",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "texttospeech:v1beta1",
  "kind": "discovery#restDescription",
  "canonicalName": "Texttospeech",
  "servicePath": "",
  "ownerName": "Google",
  "schemas": {
    "SafetySetting": {
      "properties": {
        "threshold": {
          "enumDescriptions": [
            "The harm block threshold is unspecified.",
            "Block content with a low harm probability or higher.",
            "Block content with a medium harm probability or higher.",
            "Block content with a high harm probability.",
            "Do not block any content, regardless of its harm probability.",
            "Turn off the safety filter entirely."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "The harm block threshold for the safety setting."
        },
        "category": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Content that promotes violence or incites hatred against individuals or groups based on certain attributes.",
            "Content that promotes, facilitates, or enables dangerous activities.",
            "Abusive, threatening, or content intended to bully, torment, or ridicule.",
            "Content that contains sexually explicit material."
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ],
          "description": "The harm category to apply the safety setting to."
        }
      },
      "type": "object",
      "id": "SafetySetting",
      "description": "Safety setting for a single harm category."
    },
    "SafetySettings": {
      "id": "SafetySettings",
      "description": "Safety settings for the request.",
      "type": "object",
      "properties": {
        "settings": {
          "description": "The safety settings for the request.",
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "CustomPronunciations": {
      "properties": {
        "pronunciations": {
          "items": {
            "$ref": "CustomPronunciationParams"
          },
          "type": "array",
          "description": "The pronunciation customizations are applied."
        }
      },
      "id": "CustomPronunciations",
      "description": "A collection of pronunciation customizations.",
      "type": "object"
    },
    "Turn": {
      "properties": {
        "text": {
          "description": "Required. The text to speak.",
          "type": "string"
        },
        "speaker": {
          "description": "Required. The speaker of the turn, for example, 'O' or 'Q'. Please refer to documentation for available speakers.",
          "type": "string"
        }
      },
      "id": "Turn",
      "description": "A multi-speaker turn.",
      "type": "object"
    },
    "CustomVoiceParams": {
      "id": "CustomVoiceParams",
      "description": "Description of the custom voice to be synthesized.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Required. The name of the AutoML model that synthesizes the custom voice.",
          "type": "string"
        },
        "reportedUsage": {
          "enumDescriptions": [
            "Request with reported usage unspecified will be rejected.",
            "For scenarios where the synthesized audio is not downloadable and can only be used once. For example, real-time request in IVR system.",
            "For scenarios where the synthesized audio is downloadable and can be reused. For example, the synthesized audio is downloaded, stored in customer service system and played repeatedly."
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "REPORTED_USAGE_UNSPECIFIED",
            "REALTIME",
            "OFFLINE"
          ],
          "description": "Optional. Deprecated. The usage of the synthesized audio to be reported."
        }
      }
    },
    "SynthesizeSpeechRequest": {
      "properties": {
        "input": {
          "description": "Required. The Synthesizer requires either plain text or SSML as input.",
          "$ref": "SynthesisInput"
        },
        "audioConfig": {
          "$ref": "AudioConfig",
          "description": "Required. The configuration of the synthesized audio."
        },
        "enableTimePointing": {
          "description": "Whether and what timepoints are returned in the response.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified. No timepoint information will be returned.",
              "Timepoint information of `` tags in SSML input will be returned."
            ],
            "type": "string",
            "enum": [
              "TIMEPOINT_TYPE_UNSPECIFIED",
              "SSML_MARK"
            ]
          }
        },
        "advancedVoiceOptions": {
          "description": "Optional. Advanced voice options.",
          "$ref": "AdvancedVoiceOptions"
        },
        "voice": {
          "description": "Required. The desired voice of the synthesized audio.",
          "$ref": "VoiceSelectionParams"
        }
      },
      "type": "object",
      "id": "SynthesizeSpeechRequest",
      "description": "The top-level message sent by the client for the `SynthesizeSpeech` method."
    },
    "SynthesisInput": {
      "properties": {
        "markup": {
          "description": "Markup for Chirp 3: HD voices specifically. This field may not be used with any other voices.",
          "type": "string"
        },
        "customPronunciations": {
          "description": "Optional. The pronunciation customizations are applied to the input. If this is set, the input is synthesized using the given pronunciation customizations. The initial support is for en-us, with plans to expand to other locales in the future. Instant Clone voices aren't supported. In order to customize the pronunciation of a phrase, there must be an exact match of the phrase in the input types. If using SSML, the phrase must not be inside a phoneme tag.",
          "$ref": "CustomPronunciations"
        },
        "ssml": {
          "description": "The SSML document to be synthesized. The SSML document must be valid and well-formed. Otherwise the RPC will fail and return google.rpc.Code.INVALID_ARGUMENT. For more information, see [SSML](https://cloud.google.com/text-to-speech/docs/ssml).",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The raw text to be synthesized."
        },
        "multiSpeakerMarkup": {
          "$ref": "MultiSpeakerMarkup",
          "description": "The multi-speaker input to be synthesized. Only applicable for multi-speaker synthesis."
        },
        "prompt": {
          "type": "string",
          "description": "This system instruction is supported only for controllable/promptable voice models. If this system instruction is used, we pass the unedited text to Gemini-TTS. Otherwise, a default system instruction is used. AI Studio calls this system instruction, Style Instructions."
        }
      },
      "type": "object",
      "id": "SynthesisInput",
      "description": "Contains text input to be synthesized. Either `text` or `ssml` must be supplied. Supplying both or neither returns google.rpc.Code.INVALID_ARGUMENT. The input size is limited to 5000 bytes."
    },
    "CustomPronunciationParams": {
      "type": "object",
      "id": "CustomPronunciationParams",
      "description": "Pronunciation customization for a phrase.",
      "properties": {
        "phrase": {
          "description": "The phrase to which the customization is applied. The phrase can be multiple words, such as proper nouns, but shouldn't span the length of the sentence.",
          "type": "string"
        },
        "phoneticEncoding": {
          "description": "The phonetic encoding of the phrase.",
          "type": "string",
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA",
            "PHONETIC_ENCODING_JAPANESE_YOMIGANA",
            "PHONETIC_ENCODING_PINYIN"
          ],
          "enumDescriptions": [
            "Not specified.",
            "IPA, such as apple -> ˈæpəl. https://en.wikipedia.org/wiki/International_Phonetic_Alphabet",
            "X-SAMPA, such as apple -> \"{p@l\". https://en.wikipedia.org/wiki/X-SAMPA",
            "For reading-to-pron conversion to work well, the `pronunciation` field should only contain Kanji, Hiragana, and Katakana. The pronunciation can also contain pitch accents. The start of a pitch phrase is specified with `^` and the down-pitch position is specified with `!`, for example: phrase:端 pronunciation:^はし phrase:箸 pronunciation:^は!し phrase:橋 pronunciation:^はし! We currently only support the Tokyo dialect, which allows at most one down-pitch per phrase (i.e. at most one `!` between `^`).",
            "Used to specify pronunciations for Mandarin words. See https://en.wikipedia.org/wiki/Pinyin. For example: 朝阳, the pronunciation is \"chao2 yang2\". The number represents the tone, and there is a space between syllables. Neutral tones are represented by 5, for example 孩子 \"hai2 zi5\"."
          ]
        },
        "pronunciation": {
          "type": "string",
          "description": "The pronunciation of the phrase. This must be in the phonetic encoding specified above."
        }
      }
    },
    "AudioConfig": {
      "type": "object",
      "id": "AudioConfig",
      "description": "Description of audio data to be synthesized.",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The synthesis sample rate (in hertz) for this audio. When this is specified in SynthesizeSpeechRequest, if this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality), unless the specified sample rate is not supported for the encoding chosen, in which case it will fail the request and return google.rpc.Code.INVALID_ARGUMENT."
        },
        "speakingRate": {
          "type": "number",
          "description": "Optional. Input only. Speaking rate/speed, in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. If unset(0.0), defaults to the native 1.0 speed. Any other values < 0.25 or > 2.0 will return an error.",
          "format": "double"
        },
        "effectsProfileId": {
          "description": "Optional. Input only. An identifier which selects 'audio effects' profiles that are applied on (post synthesized) text to speech. Effects are applied on top of each other in the order they are given. See [audio profiles](https://cloud.google.com/text-to-speech/docs/audio-profiles) for current supported profile ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pitch": {
          "description": "Optional. Input only. Speaking pitch, in the range [-20.0, 20.0]. 20 means increase 20 semitones from the original pitch. -20 means decrease 20 semitones from the original pitch.",
          "type": "number",
          "format": "double"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "LINEAR16",
            "MP3",
            "MP3_64_KBPS",
            "OGG_OPUS",
            "MULAW",
            "ALAW",
            "PCM",
            "M4A"
          ],
          "description": "Required. The format of the audio byte stream.",
          "enumDescriptions": [
            "Not specified. Only used by GenerateVoiceCloningKey. Otherwise, will return result google.rpc.Code.INVALID_ARGUMENT.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result is a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law. Audio content returned as MULAW also contains a WAV header.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/A-law. Audio content returned as ALAW also contains a WAV header.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Note that as opposed to LINEAR16, audio won't be wrapped in a WAV (or any other) header.",
            "M4A audio."
          ]
        },
        "volumeGainDb": {
          "format": "double",
          "type": "number",
          "description": "Optional. Input only. Volume gain (in dB) of the normal native volume supported by the specific voice, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. Strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
        }
      }
    },
    "ListVoicesResponse": {
      "type": "object",
      "id": "ListVoicesResponse",
      "description": "The message returned to the client by the `ListVoices` method.",
      "properties": {
        "voices": {
          "items": {
            "$ref": "Voice"
          },
          "type": "array",
          "description": "The list of voices."
        }
      }
    },
    "SynthesizeLongAudioMetadata": {
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercentage": {
          "description": "The progress of the most recent processing update in percentage, ie. 70.0%.",
          "type": "number",
          "format": "double"
        },
        "lastUpdateTime": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. Do not use.",
          "format": "google-datetime"
        }
      },
      "id": "SynthesizeLongAudioMetadata",
      "description": "Metadata for response returned by the `SynthesizeLongAudio` method.",
      "type": "object"
    },
    "VoiceCloneParams": {
      "properties": {
        "voiceCloningKey": {
          "description": "Required. Created by GenerateVoiceCloningKey.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VoiceCloneParams",
      "description": "The configuration of Voice Clone feature."
    },
    "GoogleCloudTexttospeechV1beta1SynthesizeLongAudioMetadata": {
      "type": "object",
      "id": "GoogleCloudTexttospeechV1beta1SynthesizeLongAudioMetadata",
      "description": "Metadata for response returned by the `SynthesizeLongAudio` method.",
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Deprecated. Do not use.",
          "deprecated": true,
          "type": "string"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercentage": {
          "format": "double",
          "description": "The progress of the most recent processing update in percentage, ie. 70.0%.",
          "type": "number"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "MultiSpeakerMarkup": {
      "properties": {
        "turns": {
          "items": {
            "$ref": "Turn"
          },
          "description": "Required. Speaker turns.",
          "type": "array"
        }
      },
      "id": "MultiSpeakerMarkup",
      "description": "A collection of turns for multi-speaker synthesis.",
      "type": "object"
    },
    "SynthesizeLongAudioRequest": {
      "id": "SynthesizeLongAudioRequest",
      "description": "The top-level message sent by the client for the `SynthesizeLongAudio` method.",
      "type": "object",
      "properties": {
        "audioConfig": {
          "$ref": "AudioConfig",
          "description": "Required. The configuration of the synthesized audio."
        },
        "outputGcsUri": {
          "type": "string",
          "description": "Required. Specifies a Cloud Storage URI for the synthesis results. Must be specified in the format: `gs://bucket_name/object_name`, and the bucket must already exist."
        },
        "voice": {
          "description": "Required. The desired voice of the synthesized audio.",
          "$ref": "VoiceSelectionParams"
        },
        "input": {
          "description": "Required. The Synthesizer requires either plain text or SSML as input.",
          "$ref": "SynthesisInput"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "SynthesizeSpeechResponse": {
      "type": "object",
      "id": "SynthesizeSpeechResponse",
      "description": "The message returned to the client by the `SynthesizeSpeech` method.",
      "properties": {
        "audioConfig": {
          "description": "The audio metadata of `audio_content`.",
          "$ref": "AudioConfig"
        },
        "timepoints": {
          "type": "array",
          "description": "A link between a position in the original request input and a corresponding time in the output audio. It's only supported via `` of SSML input.",
          "items": {
            "$ref": "Timepoint"
          }
        },
        "audioContent": {
          "format": "byte",
          "description": "The audio data bytes encoded as specified in the request, including the header for encodings that are wrapped in containers (e.g. MP3, OGG_OPUS). For LINEAR16 audio, we include the WAV header. Note: as with all bytes fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string"
        }
      }
    },
    "Timepoint": {
      "type": "object",
      "id": "Timepoint",
      "description": "This contains a mapping between a certain point in the input text and a corresponding time in the output audio.",
      "properties": {
        "markName": {
          "description": "Timepoint name as received from the client within `` tag.",
          "type": "string"
        },
        "timeSeconds": {
          "type": "number",
          "description": "Time offset in seconds from the start of the synthesized audio.",
          "format": "double"
        }
      }
    },
    "AdvancedVoiceOptions": {
      "type": "object",
      "id": "AdvancedVoiceOptions",
      "description": "Used for advanced voice options.",
      "properties": {
        "lowLatencyJourneySynthesis": {
          "description": "Only for Journey voices. If false, the synthesis is context aware and has a higher latency.",
          "type": "boolean"
        },
        "enableTextnorm": {
          "type": "boolean",
          "description": "Optional. If true, textnorm will be applied to text input. This feature is enabled by default. Only applies for Gemini TTS."
        },
        "relaxSafetyFilters": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Input only. Deprecated, use safety_settings instead. If true, relaxes safety filters for Gemini TTS."
        },
        "safetySettings": {
          "$ref": "SafetySettings",
          "description": "Optional. Input only. This applies to Gemini TTS only. If set, the category specified in the safety setting will be blocked if the harm probability is above the threshold. Otherwise, the safety filter will be disabled by default."
        }
      }
    },
    "Voice": {
      "id": "Voice",
      "description": "Description of a voice supported by the TTS service.",
      "type": "object",
      "properties": {
        "languageCodes": {
          "type": "array",
          "description": "The languages that this voice supports, expressed as [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags (e.g. \"en-US\", \"es-419\", \"cmn-tw\").",
          "items": {
            "type": "string"
          }
        },
        "naturalSampleRateHertz": {
          "description": "The natural sample rate (in hertz) for this voice.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of this voice. Each distinct voice has a unique name.",
          "type": "string"
        },
        "ssmlGender": {
          "enumDescriptions": [
            "An unspecified gender. In VoiceSelectionParams, this means that the client doesn't care which gender the selected voice will have. In the Voice field of ListVoicesResponse, this may mean that the voice doesn't fit any of the other categories in this enum, or that the gender of the voice isn't known.",
            "A male voice.",
            "A female voice.",
            "A gender-neutral voice. This voice is not yet supported."
          ],
          "description": "The gender of this voice.",
          "type": "string",
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "MALE",
            "FEMALE",
            "NEUTRAL"
          ]
        }
      }
    },
    "MultispeakerPrebuiltVoice": {
      "id": "MultispeakerPrebuiltVoice",
      "description": "Configuration for a single speaker in a Gemini TTS multi-speaker setup. Enables dialogue between two speakers.",
      "type": "object",
      "properties": {
        "speakerId": {
          "description": "Required. The speaker ID of the voice. See https://cloud.google.com/text-to-speech/docs/gemini-tts#voice_options for available values.",
          "type": "string"
        },
        "speakerAlias": {
          "description": "Required. The speaker alias of the voice. This is the user-chosen speaker name that is used in the multispeaker text input, such as \"Speaker1\".",
          "type": "string"
        }
      }
    },
    "VoiceSelectionParams": {
      "type": "object",
      "id": "VoiceSelectionParams",
      "description": "Description of which voice to use for a synthesis request.",
      "properties": {
        "voiceClone": {
          "$ref": "VoiceCloneParams",
          "description": "Optional. The configuration for a voice clone. If [VoiceCloneParams.voice_clone_key] is set, the service chooses the voice clone matching the specified configuration."
        },
        "name": {
          "type": "string",
          "description": "The name of the voice. If both the name and the gender are not set, the service will choose a voice based on the other parameters such as language_code."
        },
        "ssmlGender": {
          "enumDescriptions": [
            "An unspecified gender. In VoiceSelectionParams, this means that the client doesn't care which gender the selected voice will have. In the Voice field of ListVoicesResponse, this may mean that the voice doesn't fit any of the other categories in this enum, or that the gender of the voice isn't known.",
            "A male voice.",
            "A female voice.",
            "A gender-neutral voice. This voice is not yet supported."
          ],
          "type": "string",
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "MALE",
            "FEMALE",
            "NEUTRAL"
          ],
          "description": "The preferred gender of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and name. Note that this is only a preference, not requirement; if a voice of the appropriate gender is not available, the synthesizer should substitute a voice with a different gender rather than failing the request."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language (and potentially also the region) of the voice expressed as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag, e.g. \"en-US\". This should not include a script tag (e.g. use \"cmn-cn\" rather than \"cmn-Hant-cn\"), because the script will be inferred from the input provided in the SynthesisInput. The TTS service will use this parameter to help choose an appropriate voice. Note that the TTS service may choose a voice with a slightly different language code than the one selected; it may substitute a different region (e.g. using en-US rather than en-CA if there isn't a Canadian voice available), or even a different language, e.g. using \"nb\" (Norwegian Bokmal) instead of \"no\" (Norwegian)\"."
        },
        "modelName": {
          "type": "string",
          "description": "Optional. The name of the model. If set, the service will choose the model matching the specified configuration."
        },
        "multiSpeakerVoiceConfig": {
          "description": "Optional. The configuration for a Gemini multi-speaker text-to-speech setup. Enables the use of two distinct voices in a single synthesis request.",
          "$ref": "MultiSpeakerVoiceConfig"
        },
        "customVoice": {
          "$ref": "CustomVoiceParams",
          "description": "The configuration for a custom voice. If [CustomVoiceParams.model] is set, the service will choose the custom voice matching the specified configuration."
        }
      }
    },
    "MultiSpeakerVoiceConfig": {
      "properties": {
        "speakerVoiceConfigs": {
          "items": {
            "$ref": "MultispeakerPrebuiltVoice"
          },
          "description": "Required. A list of configurations for the voices of the speakers. Exactly two speaker voice configurations must be provided.",
          "type": "array"
        }
      },
      "id": "MultiSpeakerVoiceConfig",
      "description": "Configuration for a multi-speaker text-to-speech setup. Enables the use of up to two distinct voices in a single synthesis request.",
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/text-to-speech/",
  "baseUrl": "https://texttospeech.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "mtlsRootUrl": "https://texttospeech.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "text": {
      "methods": {
        "synthesize": {
          "parameters": {},
          "request": {
            "$ref": "SynthesizeSpeechRequest"
          },
          "response": {
            "$ref": "SynthesizeSpeechResponse"
          },
          "parameterOrder": [],
          "id": "texttospeech.text.synthesize",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/text:synthesize",
          "httpMethod": "POST",
          "flatPath": "v1beta1/text:synthesize",
          "description": "Synthesizes speech synchronously: receive results after all text input has been processed."
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "synthesizeLongAudio": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "The resource states of the request in the form of `projects/*/locations/*`.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "SynthesizeLongAudioRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "texttospeech.projects.locations.synthesizeLongAudio",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}:synthesizeLongAudio",
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}:synthesizeLongAudio",
              "description": "Synthesizes long form text asynchronously."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "texttospeech.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "id": "texttospeech.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "voices": {
      "methods": {
        "list": {
          "description": "Returns a list of Voice supported for synthesis.",
          "flatPath": "v1beta1/voices",
          "httpMethod": "GET",
          "path": "v1beta1/voices",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "texttospeech.voices.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListVoicesResponse"
          },
          "parameters": {
            "languageCode": {
              "description": "Optional. Recommended. [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. If not specified, the API will return all supported voices. If specified, the ListVoices call will only return voices that can be used to synthesize this language_code. For example, if you specify `\"en-NZ\"`, all `\"en-NZ\"` voices will be returned. If you specify `\"no\"`, both `\"no-\\*\"` (Norwegian) and `\"nb-\\*\"` (Norwegian Bokmal) voices will be returned.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://texttospeech.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260811",
  "version": "v1beta1",
  "description": "Synthesizes natural-sounding speech by applying powerful neural network models."
}