{
  "protocol": "rest",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "revision": "20260830",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "description": "threatintelligence.googleapis.com API.",
  "batchPath": "batch",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "version": "v1beta",
  "canonicalName": "Threat Intelligence Service",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "title": "Threat Intelligence API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    }
  ],
  "id": "threatintelligence:v1beta",
  "kind": "discovery#restDescription",
  "name": "threatintelligence",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "description": "Gets a specific document associated with an alert.",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "read": {
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "id": "threatintelligence.projects.alerts.read",
              "description": "Marks an alert as read - READ.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}"
                }
              },
              "path": "v1beta/{+name}:read",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "falsePositive": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "id": "threatintelligence.projects.alerts.falsePositive",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}:falsePositive",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "getPassword": {
              "id": "threatintelligence.projects.alerts.getPassword",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "httpMethod": "GET",
              "description": "Get the decrypted password of an alert.",
              "path": "v1beta/{+name}:getPassword",
              "parameterOrder": [
                "name"
              ]
            },
            "trackExternally": {
              "path": "v1beta/{+name}:trackExternally",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.trackExternally",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY."
            },
            "triage": {
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:triage",
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              }
            },
            "escalate": {
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.escalate",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "response": {
                "$ref": "Alert"
              }
            },
            "duplicate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "path": "v1beta/{+name}:duplicate",
              "id": "threatintelligence.projects.alerts.duplicate",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token to retrieve the next page of results."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.alerts.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "path": "v1beta/{+parent}/alerts"
            },
            "notActionable": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "id": "threatintelligence.projects.alerts.notActionable",
              "path": "v1beta/{+name}:notActionable",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST"
            },
            "get": {
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.get",
              "description": "Get an alert by name.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "resolve": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:resolve",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.resolve",
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "httpMethod": "POST",
              "description": "Marks an alert to closed state - RESOLVED."
            },
            "benign": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.benign",
              "path": "v1beta/{+name}:benign",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as benign - BENIGN.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "enumerateFacets": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated."
                },
                "parent": {
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "path": "v1beta/{+parent}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the findings.",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Finding"
              },
              "id": "threatintelligence.projects.findings.get",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`"
            },
            "search": {
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "parent": {
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search"
            }
          }
        },
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/revisions",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specify ordering of response"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Page Size",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token provided by the API",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "upsert": {
              "path": "v1beta/{+parent}/configurations:upsert",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "httpMethod": "POST",
              "request": {
                "$ref": "Configuration"
              },
              "id": "threatintelligence.projects.configurations.upsert",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "publishTime": {
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "type": "string",
                  "location": "query",
                  "format": "google-datetime"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent of the configuration.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates or updates a configuration.",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              }
            },
            "get": {
              "description": "Get a configuration by name.",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "id": "threatintelligence.projects.configurations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Configuration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.configurations.list",
              "description": "Get a list of configurations that meet the filter criteria.",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/configurations"
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "description": "Triggers the generation of a Customer Profile for a project.",
          "httpMethod": "POST",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "parameters": {
            "name": {
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "id": "threatintelligence.projects.generateOrgProfile",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "schemas": {
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "description": "Response message for ListFindings."
    },
    "TargetTechnologyAlertDetail": {
      "id": "TargetTechnologyAlertDetail",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "type": "object",
      "description": "Contains details for a technology watchlist alert."
    },
    "DomainConfiguration": {
      "description": "Configuration holding settings for one or more monitored domains.",
      "properties": {
        "domainSettings": {
          "items": {
            "$ref": "DomainSetting"
          },
          "description": "Optional. A list of settings for individual domains.",
          "type": "array"
        }
      },
      "id": "DomainConfiguration",
      "type": "object"
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "id": "CustomerProfileIndustry",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        }
      },
      "description": "Industry information for the customer profile."
    },
    "TechnologyWatchListConfig": {
      "id": "TechnologyWatchListConfig",
      "type": "object",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "properties": {
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        },
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        }
      }
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "properties": {
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        },
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the product."
        }
      },
      "description": "Product information for the customer profile.",
      "type": "object"
    },
    "CustomerProfileCitedString": {
      "description": "A string with citation ids.",
      "type": "object",
      "id": "CustomerProfileCitedString",
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "$ref": "AlertDetail",
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true,
          "$ref": "RelevanceAnalysis"
        },
        "priorityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "$ref": "PriorityAnalysis"
        },
        "state": {
          "description": "Output only. State of the alert.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A short title for the alert.",
          "type": "string"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Findings that are covered by this alert."
        },
        "externalId": {
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true
        },
        "configurations": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "type": "array"
        },
        "duplicatedBy": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "type": "array"
        },
        "findingCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64"
        }
      },
      "id": "Alert",
      "type": "object"
    },
    "Evidence": {
      "type": "object",
      "id": "Evidence",
      "properties": {
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Details the evidence used to determine the relevance verdict."
    },
    "Association": {
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the association.",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        }
      },
      "description": "Represents an association with a vulnerability.",
      "id": "Association",
      "type": "object"
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "id": "SeverityAnalysis",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "description": "The level of severity.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        }
      }
    },
    "Configuration": {
      "properties": {
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable name for the configuration."
        },
        "etag": {
          "type": "string",
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "id": "Configuration"
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "id": "ProductFix",
      "properties": {
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The published time of the fix."
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DomainSetting": {
      "description": "Feature settings and toggles for a single specific domain.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain name to match against.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "description": "Output only. The verification state of the domain.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "readOnly": true
        },
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        }
      },
      "id": "DomainSetting"
    },
    "DocumentQuery": {
      "description": "Represents a query to match documents.",
      "type": "object",
      "properties": {
        "dataModel": {
          "description": "Required. The data model to query against.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "type": "string",
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ]
        },
        "queryType": {
          "description": "Required. The type of query.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ]
        },
        "query": {
          "type": "string",
          "description": "Required. The query string."
        }
      },
      "id": "DocumentQuery"
    },
    "RelevanceAnalysis": {
      "properties": {
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant."
        },
        "relevanceLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "description": "The level of relevance."
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        }
      },
      "description": "Structured relevance analysis for a threat.",
      "type": "object",
      "id": "RelevanceAnalysis"
    },
    "CustomerProfileWebPresence": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the web presence.",
          "type": "array"
        }
      },
      "description": "Web presence information for the customer profile.",
      "id": "CustomerProfileWebPresence",
      "type": "object"
    },
    "GetPasswordResponse": {
      "id": "GetPasswordResponse",
      "type": "object",
      "description": "Response message for GetPassword.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The decrypted cleartext password for the compromised credential."
        }
      }
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the person."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerProfilePerson"
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsDuplicate.",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      }
    },
    "MarkAlertAsTriagedRequest": {
      "properties": {},
      "id": "MarkAlertAsTriagedRequest",
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object"
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "type": "array"
        }
      },
      "description": "Security considerations for the customer profile."
    },
    "ConfigurationDetail": {
      "type": "object",
      "id": "ConfigurationDetail",
      "properties": {
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        },
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        },
        "detailType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        }
      },
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes."
    },
    "PriorityAnalysis": {
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "priorityLevel": {
          "description": "The level of Priority.",
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        }
      },
      "description": "Structured priority analysis for a threat.",
      "type": "object",
      "id": "PriorityAnalysis"
    },
    "FacetCount": {
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339."
        },
        "count": {
          "description": "Count of records with the value.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FacetCount"
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsBenign."
    },
    "MarkAlertAsEscalatedRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsEscalated.",
      "id": "MarkAlertAsEscalatedRequest"
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "id": "AlertDocumentTranslation",
      "type": "object",
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        },
        "translatedTitle": {
          "type": "string",
          "description": "Output only. The translated title of the document.",
          "readOnly": true
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsNotActionable."
    },
    "ListAlertsResponse": {
      "type": "object",
      "description": "Response message for ListAlerts.",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "List of alerts."
        }
      },
      "id": "ListAlertsResponse"
    },
    "CustomerProfileCompany": {
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          }
        },
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        }
      },
      "description": "Company information for the customer profile.",
      "id": "CustomerProfileCompany",
      "type": "object"
    },
    "InitialAccessBrokerAlertDetail": {
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array"
        }
      },
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "Configuration"
          },
          "description": "List of configurations."
        }
      },
      "description": "Response message for ListConfigurations.",
      "id": "ListConfigurationsResponse",
      "type": "object"
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "type": "object",
      "properties": {
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "brands": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of brands."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "CustomThreatScenarioConfig": {
      "properties": {
        "legacyMonitorMetadata": {
          "readOnly": true,
          "$ref": "LegacyMetadata",
          "description": "Output only. Legacy metadata associated with this scenario/monitor."
        },
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true,
          "type": "string"
        },
        "documentQuery": {
          "$ref": "DocumentQuery",
          "description": "Optional. The query used to match documents."
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        }
      },
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "type": "object",
      "id": "CustomThreatScenarioConfig"
    },
    "Facet": {
      "type": "object",
      "id": "Facet",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "properties": {
        "facetCounts": {
          "type": "array",
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          }
        },
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of records that contain this facet with ANY value."
        }
      }
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "type": "object",
      "description": "A document that is associated with an alert.",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "aiSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AI summary of the document."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "translation": {
          "$ref": "AlertDocumentTranslation",
          "readOnly": true,
          "description": "Output only. The translation of the document, if available."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the original external publication of the document.",
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the document.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the document, if available."
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUri": {
          "type": "string",
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true
        },
        "ingestTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when GTI received the intel."
        },
        "sourceUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the intel was last updated by the source."
        }
      }
    },
    "SearchFindingsResponse": {
      "type": "object",
      "id": "SearchFindingsResponse",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "description": "Response message for SearchFindings."
    },
    "ConfigurationRevision": {
      "id": "ConfigurationRevision",
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "$ref": "Configuration",
          "description": "The snapshot of the configuration"
        },
        "createTime": {
          "description": "Output only. The time the Revision was created",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable."
    },
    "DomainMonitoringFeatureConfig": {
      "type": "object",
      "id": "DomainMonitoringFeatureConfig",
      "description": "Specific configuration for the Domain Monitoring feature.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain."
        }
      }
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "properties": {
        "configuration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created configuration ID with server assigned id."
        }
      },
      "description": "Response message for UpsertConfiguration.",
      "type": "object",
      "id": "UpsertConfigurationResponse"
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "configurations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "severity": {
          "deprecated": true,
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "type": "number"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "type": "array",
          "readOnly": true,
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest."
    },
    "GenerateOrgProfileConfigurationRequest": {
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest",
      "type": "object"
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "description": "Container for different types of alert details.",
      "properties": {
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved."
    },
    "LegacyMetadata": {
      "properties": {
        "tenantId": {
          "readOnly": true,
          "description": "Output only. ID of the tenant owning the monitor.",
          "type": "string"
        },
        "aggregationEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor."
        },
        "templateId": {
          "readOnly": true,
          "description": "Output only. ID of the template this monitor was created from.",
          "type": "string"
        },
        "legacyMonitorId": {
          "description": "Output only. Unique identifier of the legacy monitor.",
          "readOnly": true,
          "type": "string"
        },
        "emailNotificationEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the legacy monitor.",
          "readOnly": true
        },
        "conditionVersion": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Version of the condition schema."
        },
        "staleTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the legacy monitor was considered stale."
        },
        "updaterUserId": {
          "readOnly": true,
          "description": "Output only. User ID who last updated the monitor.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Name of the legacy monitor.",
          "type": "string"
        },
        "emailNotificationImmediate": {
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true,
          "readOnly": true,
          "type": "boolean"
        },
        "aggregationSimilarity": {
          "description": "Output only. Similarity threshold for aggregation.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "disabledReason": {
          "type": "string",
          "description": "Output only. Reason why the monitor is disabled (if applicable).",
          "readOnly": true
        },
        "creatorUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User ID who created the monitor."
        },
        "version": {
          "description": "Output only. Version of the monitor configuration.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "disabledCode": {
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "LegacyMetadata",
      "description": "Legacy metadata associated with this scenario/monitor."
    },
    "InsiderThreatFindingDetail": {
      "description": "A detail object for a InsiderThreat finding.",
      "properties": {
        "matchScore": {
          "format": "float",
          "type": "number",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "id": "InsiderThreatFindingDetail",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CustomerProfileConfig": {
      "properties": {
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "industries": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in."
        },
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCompany"
          }
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "org": {
          "type": "string",
          "description": "Required. The name of the organization."
        },
        "executives": {
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "description": "Optional. Executives of the organization.",
          "type": "array"
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "description": "Optional. Contact information for the organization.",
          "type": "array"
        },
        "webPresences": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "description": "Optional. Web presence of the organization."
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "type": "array"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "citations": {
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array",
          "description": "Optional. Citations for the organization profile."
        },
        "technologyPresence": {
          "type": "string",
          "description": "Optional. Technology presence of the organization."
        }
      },
      "id": "CustomerProfileConfig",
      "type": "object",
      "description": "CustomerProfileConfig is the configuration for the customer profile."
    },
    "DataLeakFindingDetail": {
      "id": "DataLeakFindingDetail",
      "properties": {
        "matchScore": {
          "format": "float",
          "type": "number",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "severity": {
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "description": "A detail object for a Data Leak finding.",
      "type": "object"
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "releaseTime": {
          "type": "string",
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime"
        },
        "exploitGrade": {
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "sizeBytes": {
          "type": "string",
          "description": "Optional. The size of the exploit.",
          "format": "int64"
        },
        "exploitReliability": {
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        }
      },
      "id": "PublicExploit"
    },
    "InsiderThreatAlertDetail": {
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert.",
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      }
    },
    "TargetTechnologyFindingDetail": {
      "type": "object",
      "id": "TargetTechnologyFindingDetail",
      "description": "Contains details for a technology watchlist finding.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object",
      "properties": {}
    },
    "VulnerabilityMatch": {
      "properties": {
        "associations": {
          "type": "array",
          "items": {
            "$ref": "Association"
          },
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float",
          "type": "number"
        },
        "publicExploits": {
          "items": {
            "$ref": "PublicExploit"
          },
          "description": "Optional. List of public exploits.",
          "type": "array"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "disclosureTime": {
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability.",
          "type": "string"
        },
        "exploitationState": {
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ]
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          }
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean",
          "readOnly": true
        },
        "cvss3Score": {
          "format": "float",
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4."
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "exploitationVectors": {
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          },
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "type": "array"
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array"
        },
        "riskRating": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Required. The risk rating of the vulnerability."
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "collectionId": {
          "type": "string",
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\"."
        }
      },
      "type": "object",
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match."
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "properties": {
        "facets": {
          "type": "array",
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "type": "object",
      "description": "Response message for EnumerateAlertFacets."
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "properties": {}
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "properties": {
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "type": "string",
          "format": "google-datetime"
        },
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "uri": {
[...]
