{
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "id": "threatintelligence:v1beta",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "servicePath": "",
  "batchPath": "batch",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "kind": "discovery#restDescription",
  "version": "v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "threatintelligence.googleapis.com API.",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "name": "threatintelligence",
  "schemas": {
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "ListAlertsResponse",
      "type": "object",
      "description": "Response message for ListAlerts."
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "id": "CustomerProfileCitation",
      "type": "object",
      "properties": {
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "format": "google-datetime",
          "description": "The time the citation was retrieved.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "type": "object",
      "properties": {
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit",
          "readOnly": true
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true,
          "$ref": "RelevanceAnalysis"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "duplicatedBy": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true
        },
        "configurations": {
          "readOnly": true,
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "findingCount": {
          "format": "int64",
          "description": "Output only. The number of findings associated with this alert.",
          "type": "string",
          "readOnly": true
        },
        "priorityAnalysis": {
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true
        },
        "duplicateOf": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
        },
        "etag": {
          "type": "string",
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "state": {
          "description": "Output only. State of the alert.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ]
        },
        "externalId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A short title for the alert.",
          "type": "string"
        }
      },
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "CustomerProfileProduct": {
      "description": "Product information for the customer profile.",
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        }
      },
      "type": "object",
      "id": "CustomerProfileProduct"
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "id": "MarkAlertAsReadRequest",
      "type": "object",
      "properties": {}
    },
    "VulnerabilityMatch": {
      "type": "object",
      "properties": {
        "exploitationState": {
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ]
        },
        "riskRating": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "description": "Required. The risk rating of the vulnerability."
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\"."
        },
        "disclosureTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "cvss3Score": {
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float"
        },
        "epssScore": {
          "type": "number",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float"
        },
        "exploitationVectors": {
          "type": "array",
          "items": {
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string"
          },
          "description": "Optional. List of exploitation vectors for the vulnerability."
        },
        "associations": {
          "type": "array",
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          }
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the vulnerability."
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether a publicly available exploit exists."
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "matchedTechnologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        },
        "exploitationConsequences": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          },
          "description": "Optional. List of exploitation consequences for the vulnerability."
        },
        "productFixes": {
          "type": "array",
          "description": "Optional. List of product fixes for the vulnerability.",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "publicExploits": {
          "items": {
            "$ref": "PublicExploit"
          },
          "type": "array",
          "description": "Optional. List of public exploits."
        }
      },
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match."
    },
    "Configuration": {
      "type": "object",
      "id": "Configuration",
      "properties": {
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "state": {
          "type": "string",
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "etag": {
          "type": "string",
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        }
      },
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "description": "Contact information for the customer profile.",
      "properties": {
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "The email address of the contact."
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "other": {
          "type": "string",
          "description": "The other contact information."
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        }
      },
      "id": "CustomerProfileContactInfo"
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "type": "object",
      "id": "AlertDocumentTranslation",
      "properties": {
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "readOnly": true,
          "type": "string"
        },
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DomainConfiguration": {
      "type": "object",
      "description": "Configuration holding settings for one or more monitored domains.",
      "id": "DomainConfiguration",
      "properties": {
        "domainSettings": {
          "type": "array",
          "description": "Optional. A list of settings for individual domains.",
          "items": {
            "$ref": "DomainSetting"
          }
        }
      }
    },
    "TechnologyWatchListAlertThreshold": {
      "id": "TechnologyWatchListAlertThreshold",
      "type": "object",
      "properties": {
        "cvssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0]."
        },
        "exploitationStates": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "description": "Optional. The exploitation states of the alert.",
          "type": "array"
        },
        "riskRatingMinimum": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "type": "string",
          "description": "Optional. The minimum risk rating for the alert."
        },
        "epssScoreMinimum": {
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float",
          "type": "number"
        },
        "priorityMinimum": {
          "type": "string",
          "description": "Optional. The minimum priority for the alert.",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        }
      },
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "type": "object",
      "description": "A detail object for a InsiderThreat finding.",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation"
    },
    "InsiderThreatAlertDetail": {
      "id": "InsiderThreatAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "DomainMonitoringFeatureConfig": {
      "id": "DomainMonitoringFeatureConfig",
      "description": "Specific configuration for the Domain Monitoring feature.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain.",
          "type": "boolean"
        }
      }
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "type": "object",
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "priorityLevel": {
          "type": "string",
          "description": "The level of Priority.",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict."
        }
      }
    },
    "CustomerProfilePerson": {
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the person."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        }
      },
      "description": "Person information for the customer profile.",
      "type": "object",
      "id": "CustomerProfilePerson"
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      },
      "id": "MarkAlertAsDuplicateRequest"
    },
    "DocumentQuery": {
      "properties": {
        "queryType": {
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ],
          "description": "Required. The type of query.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "type": "string"
        },
        "dataModel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "type": "string",
          "description": "Required. The data model to query against.",
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ]
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        }
      },
      "description": "Represents a query to match documents.",
      "id": "DocumentQuery",
      "type": "object"
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ]
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "releaseTime": {
          "format": "google-datetime",
          "description": "Optional. The release time of the exploit.",
          "type": "string"
        },
        "exploitReliability": {
          "type": "string",
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the exploit."
        }
      },
      "type": "object",
      "id": "PublicExploit"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Captures the specific details of Data Leak alert."
    },
    "FacetCount": {
      "id": "FacetCount",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count of records with the value."
        }
      },
      "description": "FacetCount represents a count of records with each facet value."
    },
    "MarkAlertAsResolvedRequest": {
      "properties": {},
      "id": "MarkAlertAsResolvedRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsResolved."
    },
    "InitialAccessBrokerFindingDetail": {
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "format": "float",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number"
        }
      },
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object",
      "id": "InitialAccessBrokerFindingDetail"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest",
      "type": "object",
      "description": "Request message for GenerateOrgProfileConfiguration."
    },
    "CustomerProfileCompany": {
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileCompany",
      "type": "object",
      "description": "Company information for the customer profile."
    },
    "GetPasswordResponse": {
      "type": "object",
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword.",
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      }
    },
    "ListConfigurationsResponse": {
      "description": "Response message for ListConfigurations.",
      "type": "object",
      "id": "ListConfigurationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "configurations": {
          "items": {
            "$ref": "Configuration"
          },
          "description": "List of configurations.",
          "type": "array"
        }
      }
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "description": "Security considerations for the customer profile.",
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        }
      }
    },
    "DomainSetting": {
      "properties": {
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        },
        "domain": {
          "description": "Required. The domain name to match against.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "description": "Output only. The verification state of the domain."
        }
      },
      "id": "DomainSetting",
      "description": "Feature settings and toggles for a single specific domain.",
      "type": "object"
    },
    "Facet": {
      "id": "Facet",
      "type": "object",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "properties": {
        "totalCount": {
          "type": "string",
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64"
        },
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "facetCounts": {
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical).",
          "type": "array"
        },
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "id": "MarkAlertAsTriagedRequest",
      "properties": {},
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "description": "Contains details for a technology watchlist finding.",
      "id": "TargetTechnologyFindingDetail"
    },
    "CustomerProfileWebPresence": {
      "id": "CustomerProfileWebPresence",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Web presence information for the customer profile.",
      "type": "object"
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "properties": {
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        }
      },
      "type": "object",
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "EnumerateAlertFacetsResponse": {
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          },
          "type": "array"
        }
      },
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert."
    },
    "CustomerProfileIndustry": {
      "description": "Industry information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileIndustry",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object",
      "id": "ListConfigurationRevisionsResponse"
    },
    "ConfigurationRevision": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "$ref": "Configuration",
          "description": "The snapshot of the configuration"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object"
    },
    "RelevanceAnalysis": {
      "properties": {
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string"
        },
        "relevanceLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "description": "The level of relevance.",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevant": {
          "type": "boolean",
          "description": "Indicates whether the threat is considered relevant."
        }
      },
      "id": "RelevanceAnalysis",
      "description": "Structured relevance analysis for a threat.",
      "type": "object"
    },
    "DataLeakFindingDetail": {
      "properties": {
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string"
        }
      },
      "description": "A detail object for a Data Leak finding.",
      "id": "DataLeakFindingDetail",
      "type": "object"
    },
    "ProductFix": {
      "type": "object",
      "description": "Contains details about a product fix.",
      "id": "ProductFix",
      "properties": {
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "sourceId": {
          "type": "string",
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\"."
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The published time of the fix."
        }
      }
    },
    "AlertDocument": {
      "description": "A document that is associated with an alert.",
      "type": "object",
      "id": "AlertDocument",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document."
        },
        "sourceUri": {
          "readOnly": true,
          "description": "Output only. URI of the intel item from the source.",
          "type": "string"
        },
        "ingestTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when GTI received the intel."
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the document."
        },
        "collectionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the origin source collected the intel."
        },
        "title": {
          "type": "string",
          "description": "Output only. The title of the document, if available.",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "type": "string",
          "readOnly": true
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true,
          "$ref": "AlertDocumentTranslation"
        },
        "source": {
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "description": "Output only. The content of the document.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "author": {
          "description": "Output only. The author of the document.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. Logical source of this finding (name of the sub-engine)."
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis"
        },
        "configurations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Configuration names that are bound to this finding."
        },
        "severity": {
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "deprecated": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "audit": {
          "$ref": "Audit",
          "readOnly": true,
          "description": "Output only. Audit data about the finding."
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "items": {
            "format": "google-datetime",
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding."
        },
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        }
      }
    },
    "CustomerProfileConfig": {
      "id": "CustomerProfileConfig",
      "properties": {
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array"
        },
        "locations": {
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in."
        },
        "citations": {
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array",
          "description": "Optional. Citations for the organization profile."
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "org": {
          "type": "string",
          "description": "Required. The name of the organization."
        },
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization.",
          "type": "array"
        },
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "executives": {
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array",
          "description": "Optional. Executives of the organization."
        },
        "products": {
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array",
          "description": "Optional. Product information for the organization."
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated."
    },
    "Evidence": {
      "properties": {
        "distinctThemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        },
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Details the evidence used to determine the relevance verdict.",
      "id": "Evidence",
      "type": "object"
    },
    "LegacyMetadata": {
      "type": "object",
      "description": "Legacy metadata associated with this scenario/monitor.",
      "properties": {
        "aggregationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether aggregation is enabled for alerts from this monitor."
        },
        "emailNotificationImmediate": {
          "type": "boolean",
          "description": "Optional. Whether email notifications are intermediate/immediate."
        },
        "emailNotificationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether email notifications are enabled."
        },
        "templateId": {
          "type": "string",
          "description": "Optional. ID of the template this monitor was created from."
        },
        "disabledCode": {
          "type": "string",
          "description": "Optional. Code indicating why the monitor is disabled (if applicable)."
        },
        "aggregationSimilarity": {
          "format": "double",
          "description": "Optional. Similarity threshold for aggregation.",
          "type": "number"
        },
        "legacyMonitorId": {
          "description": "Optional. Unique identifier of the legacy monitor.",
          "type": "string"
        },
        "updaterUserId": {
          "type": "string",
          "description": "Optional. User ID who last updated the monitor."
        },
        "version": {
          "format": "int32",
          "description": "Optional. Version of the monitor configuration.",
          "type": "integer"
        },
        "creatorUserId": {
          "type": "string",
          "description": "Optional. User ID who created the monitor."
        },
        "displayName": {
          "description": "Optional. Name of the legacy monitor.",
          "type": "string"
        },
        "tenantId": {
          "description": "Optional. ID of the tenant owning the monitor.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the legacy monitor.",
          "type": "string"
        },
        "conditionVersion": {
          "type": "integer",
          "description": "Optional. Version of the condition schema.",
          "format": "int32"
        },
        "staleTime": {
          "description": "Optional. Time the legacy monitor was considered stale.",
          "type": "string",
          "format": "google-datetime"
        },
        "disabledReason": {
          "type": "string",
          "description": "Optional. Reason why the monitor is disabled (if applicable)."
        }
      },
      "id": "LegacyMetadata"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object",
      "properties": {}
    },
    "CustomerProfileCitedString": {
      "id": "CustomerProfileCitedString",
      "type": "object",
      "description": "A string with citation ids.",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest"
    },
    "CustomerProfileLocation": {
      "properties": {
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the location."
        },
        "brand": {
          "type": "string",
          "description": "Required. The brand of the location."
        },
        "address": {
          "type": "string",
          "description": "Required. The address of the location."
        }
      },
      "id": "CustomerProfileLocation",
      "type": "object",
      "description": "Location information for the customer profile."
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat.",
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity."
        },
        "severityLevel": {
          "type": "string",
          "description": "The level of severity.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        }
      },
      "type": "object"
    },
    "ConfigurationDetail": {
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "properties": {
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        },
        "domainConfiguration": {
          "$ref": "DomainConfiguration",
          "description": "Domain Configuration detail config."
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        }
      },
      "type": "object",
      "id": "ConfigurationDetail"
    },
    "MarkAlertAsBenignRequest": {
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsBenignRequest"
    },
    "InitialAccessBrokerAlertDetail": {
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert."
    },
    "CustomThreatScenarioConfig": {
      "type": "object",
      "properties": {
        "legacyMonitorMetadata": {
          "description": "Optional. Legacy metadata associated with this scenario/monitor.",
          "$ref": "LegacyMetadata"
        },
        "documentQuery": {
          "$ref": "DocumentQuery",
          "description": "Optional. The query used to match documents."
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        },
        "compiledLuceneQuery": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The compiled Lucene query string."
        }
      },
      "id": "CustomThreatScenarioConfig",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration."
    },
    "TechnologyWatchListConfig": {
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "properties": {
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        },
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        }
      },
      "id": "TechnologyWatchListConfig",
      "type": "object"
    },
    "Association": {
      "description": "Represents an association with a vulnerability.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        },
        "type": {
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association.",
          "type": "string"
        }
      },
      "id": "Association"
    },
    "ListFindingsResponse": {
      "type": "object",
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        }
      }
    },
    "Audit": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of creation."
        },
        "updater": {
          "readOnly": true,
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "type": "string"
        }
      },
      "description": "Tracks basic CRUD facts.",
      "type": "object",
      "id": "Audit"
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object",
      "id": "FindingDetail",
      "properties": {
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        }
      }
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration.",
      "properties": {
        "configuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id."
        }
      },
      "type": "object"
    },
    "SearchFindingsResponse": {
      "type": "object",
      "description": "Response message for SearchFindings.",
      "id": "SearchFindingsResponse",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "type": "object",
      "properties": {
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "detailType": {
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true
        },
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        }
      },
      "description": "Container for different types of alert details."
    },
    "MarkAlertAsNotActionableRequest": {
      "properties": {},
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object"
    }
  },
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "canonicalName": "Threat Intelligence Service",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "description": "Gets a specific document associated with an alert.",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "notActionable": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:notActionable",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}"
                }
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE."
            },
            "enumerateFacets": {
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Parent of the alerts.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}"
                }
              },
              "path": "v1beta/{+parent}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "id": "threatintelligence.projects.alerts.list"
            },
            "benign": {
              "id": "threatintelligence.projects.alerts.benign",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:benign",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "description": "Marks an alert as benign - BENIGN.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign"
            },
            "trackExternally": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:trackExternally",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "description": "Get an alert by name.",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.get"
            },
            "resolve": {
              "description": "Marks an alert to closed state - RESOLVED.",
              "id": "threatintelligence.projects.alerts.resolve",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:resolve",
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path"
                }
              }
            },
            "falsePositive": {
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}"
                }
              },
              "path": "v1beta/{+name}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "getPassword": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "path": "v1beta/{+name}:getPassword",
              "id": "threatintelligence.projects.alerts.getPassword",
              "parameterOrder": [
                "name"
              ],
              "description": "Get the decrypted password of an alert.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "read": {
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "description": "Marks an alert as read - READ.",
              "parameterOrder": [
                "name"
              ]
            },
            "duplicate": {
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:duplicate",
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.duplicate",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE."
            },
            "escalate": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.escalate",
              "path": "v1beta/{+name}:escalate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "description": "Marks an alert as escalated - ESCALATED.",
              "response": {
                "$ref": "Alert"
              }
            },
            "triage": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as triaged - TRIAGED.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:triage",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.triage",
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage"
            }
          }
        },
        "findings": {
          "methods": {
            "search": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                }
              },
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "path": "v1beta/{+parent}/findings:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.search",
              "response": {
                "$ref": "SearchFindingsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "id": "threatintelligence.projects.findings.get",
              "response": {
                "$ref": "Finding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$"
                }
              }
            },
[...]
