{
  "basePath": "",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    }
  ],
  "servicePath": "",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "name": "threatintelligence",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Triggers the generation of a Customer Profile for a project.",
          "id": "threatintelligence.projects.generateOrgProfile",
          "parameters": {
            "name": {
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          }
        }
      },
      "resources": {
        "findings": {
          "methods": {
            "search": {
              "path": "v1beta/{+parent}/findings:search",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.search",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Page size."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "query": {
                  "location": "query",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SearchFindingsResponse"
              }
            },
            "get": {
              "id": "threatintelligence.projects.findings.get",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Finding"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "path": "v1beta/{+parent}/findings",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Parent of the findings.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "id": "threatintelligence.projects.findings.list",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              }
            }
          }
        },
        "alerts": {
          "methods": {
            "resolve": {
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "path": "v1beta/{+name}:resolve",
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.resolve",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "duplicate": {
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "httpMethod": "POST",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "id": "threatintelligence.projects.alerts.duplicate",
              "path": "v1beta/{+name}:duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "falsePositive": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "notActionable": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:notActionable",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST"
            },
            "getPassword": {
              "id": "threatintelligence.projects.alerts.getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "path": "v1beta/{+name}:getPassword",
              "description": "Get the decrypted password of an alert.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "enumerateFacets": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the alerts.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query"
                }
              },
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/alerts",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.alerts.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`"
                },
                "pageToken": {
                  "description": "Optional. Page token to retrieve the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page."
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "description": "Get a list of alerts that meet the filter criteria."
            },
            "triage": {
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as triaged - TRIAGED.",
              "id": "threatintelligence.projects.alerts.triage",
              "path": "v1beta/{+name}:triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an alert by name.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.get"
            },
            "read": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.read",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "path": "v1beta/{+name}:read",
              "description": "Marks an alert as read - READ.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read"
            },
            "trackExternally": {
              "path": "v1beta/{+name}:trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.trackExternally",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "httpMethod": "POST",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "escalate": {
              "id": "threatintelligence.projects.alerts.escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "path": "v1beta/{+name}:escalate",
              "response": {
                "$ref": "Alert"
              }
            },
            "benign": {
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:benign",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Marks an alert as benign - BENIGN.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "path": "v1beta/{+name}",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets a specific document associated with an alert.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "description": "Creates or updates a configuration.",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration."
                },
                "publishTime": {
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "id": "threatintelligence.projects.configurations.get",
              "description": "Get a configuration by name.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a list of configurations that meet the filter criteria.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "path": "v1beta/{+parent}/configurations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "threatintelligence.projects.configurations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/revisions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Page Size",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify ordering of response",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token provided by the API",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260924",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "protocol": "rest",
  "version": "v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "threatintelligence.googleapis.com API.",
  "ownerName": "Google",
  "title": "Threat Intelligence API",
  "canonicalName": "Threat Intelligence Service",
  "kind": "discovery#restDescription",
  "version_module": true,
  "schemas": {
    "CustomerProfileContactInfo": {
      "description": "Contact information for the customer profile.",
      "id": "CustomerProfileContactInfo",
      "type": "object",
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information.",
          "type": "array"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        },
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "email": {
          "type": "string",
          "description": "The email address of the contact."
        }
      }
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "description": "Request message for MarkAlertAsDuplicate."
    },
    "DomainMonitoringWhoIsDetails": {
      "properties": {
        "retrievalTime": {
          "type": "string",
          "description": "Optional. The time the whois details were retrieved.",
          "format": "google-datetime"
        },
        "whois": {
          "description": "Optional. The whois details of the domain.",
          "type": "string"
        }
      },
      "description": "The whois details of the domain.",
      "type": "object",
      "id": "DomainMonitoringWhoIsDetails"
    },
    "CertificateDetails": {
      "description": "Details regarding the SSL certificate configuration.",
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Optional. The SSL certificate issuer."
        },
        "subjectAlternativeNames": {
          "type": "array",
          "description": "Optional. The SSL subject alternative names.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CertificateDetails"
    },
    "MarkAlertAsBenignRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsBenign.",
      "id": "MarkAlertAsBenignRequest"
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "type": "object",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedContent": {
          "type": "string",
          "description": "Output only. The translated content of the document.",
          "readOnly": true
        }
      },
      "id": "AlertDocumentTranslation"
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object",
      "properties": {}
    },
    "VulnerabilityMatch": {
      "properties": {
        "exploitationVectors": {
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          }
        },
        "productFixes": {
          "items": {
            "$ref": "ProductFix"
          },
          "type": "array",
          "description": "Optional. List of product fixes for the vulnerability."
        },
        "collectionId": {
          "type": "string",
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\"."
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          },
          "type": "array"
        },
        "riskRating": {
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability."
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\"."
        },
        "cvss3Score": {
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float"
        },
        "publicExploits": {
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          },
          "description": "Optional. List of public exploits."
        },
        "disclosureTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "matchedTechnologies": {
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          }
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean"
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\"."
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        },
        "epssScore": {
          "format": "float",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number"
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        }
      },
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match.",
      "type": "object"
    },
    "CustomerProfileConfig": {
      "properties": {
        "products": {
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array"
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array",
          "description": "Optional. The parent companies of the organization."
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "technologies": {
          "items": {
            "$ref": "CustomerProfileTechnology"
          },
          "description": "Optional. Technologies associated with the organization.",
          "type": "array"
        },
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in.",
          "type": "array"
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "citations": {
          "type": "array",
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "webPresences": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "description": "Optional. Web presence of the organization."
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "description": "Optional. Contact information for the organization.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "id": "CustomerProfileConfig"
    },
    "DomainConfiguration": {
      "properties": {
        "domainSettings": {
          "type": "array",
          "items": {
            "$ref": "DomainSetting"
          },
          "description": "Optional. A list of settings for individual domains."
        }
      },
      "id": "DomainConfiguration",
      "type": "object",
      "description": "Configuration holding settings for one or more monitored domains."
    },
    "DomainMonitoringDnsDetails": {
      "type": "object",
      "id": "DomainMonitoringDnsDetails",
      "description": "The DNS details of the domain.",
      "properties": {
        "dnsRecords": {
          "type": "array",
          "items": {
            "$ref": "DomainMonitoringDnsRecord"
          },
          "description": "Optional. The DNS records of the domain."
        },
        "retrievalTime": {
          "format": "google-datetime",
          "description": "Optional. The time the DNS details were retrieved.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "properties": {
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "description": "Output only. State of the alert.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "readOnly": true
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis"
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis"
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "duplicatedBy": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
        },
        "externalId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates."
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short title for the alert."
        },
        "configurations": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "type": "array"
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true,
          "$ref": "PriorityAnalysis"
        },
        "etag": {
          "type": "string",
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Alert",
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "AVDetections": {
      "properties": {
        "totalVendorCount": {
          "format": "int32",
          "description": "Optional. Total number of vendors.",
          "type": "integer"
        },
        "detectedVendorCount": {
          "format": "int32",
          "description": "Optional. Number of vendors that detected the threat.",
          "type": "integer"
        }
      },
      "description": "Details about the detection vendors.",
      "id": "AVDetections",
      "type": "object"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration."
    },
    "CustomerProfileSummary": {
      "properties": {
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "entityType": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The entity type of the customer."
        }
      },
      "id": "CustomerProfileSummary",
      "type": "object",
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "properties": {
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents.",
          "type": "array",
          "deprecated": true
        },
        "discoveryDocuments": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DiscoveryDocument"
          },
          "description": "Output only. New structured metadata payload."
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "type": "object"
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "id": "Facet",
      "properties": {
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of records that contain this facet with ANY value."
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "facetCounts": {
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical).",
          "type": "array"
        }
      }
    },
    "CommunicationContext": {
      "type": "object",
      "properties": {
        "channelDescription": {
          "description": "Optional. Description of the communication channel.",
          "type": "string"
        },
        "channelPath": {
          "description": "Optional. Channel path (e.g. forum path or sub-channel).",
          "type": "string"
        },
        "channelUrl": {
          "description": "Optional. URL of the communication channel.",
          "type": "string"
        },
        "threadId": {
          "type": "string",
          "description": "Optional. Conversation thread identifier."
        },
        "serviceName": {
          "description": "Optional. Service from the collection event origin (e.g. forum or chat service name).",
          "type": "string"
        },
        "channelName": {
          "type": "string",
          "description": "Optional. Name of the communication channel."
        }
      },
      "id": "CommunicationContext",
      "description": "Detailed communication context metadata for documents originating from deep and dark web communication channels."
    },
    "DnsRegistrationDetails": {
      "type": "object",
      "properties": {
        "registrationTime": {
          "type": "string",
          "description": "Optional. The specific timestamp when the domain registration was created.",
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The specific timestamp when the current domain registration expires."
        },
        "registrar": {
          "description": "Optional. The registrar where the domain was registered (e.g., NameCheap).",
          "type": "string"
        },
        "privateRegistration": {
          "type": "boolean",
          "description": "Optional. Indicates whether private registration is enabled on the WHOIS record."
        },
        "registrantCountry": {
          "type": "string",
          "description": "Optional. The country code of the registrant (e.g., US). Use ISO 3166-1 alpha-2 codes"
        }
      },
      "description": "Extracted WHOIS and DNS registration details of the domain.",
      "id": "DnsRegistrationDetails"
    },
    "TargetTechnologyFindingDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyFindingDetail",
      "type": "object",
      "description": "Contains details for a technology watchlist finding."
    },
    "TechnologyWatchListAlertThreshold": {
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "id": "TechnologyWatchListAlertThreshold",
      "properties": {
        "priorityMinimum": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "description": "Optional. The minimum priority for the alert."
        },
        "epssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float"
        },
        "cvssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float"
        },
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "type": "array"
        },
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        }
      },
      "type": "object"
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "type": "object",
      "description": "Company information for the customer profile.",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PublicExploit": {
      "type": "object",
      "properties": {
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        },
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "sizeBytes": {
          "type": "string",
          "description": "Optional. The size of the exploit.",
          "format": "int64"
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "exploitName": {
          "type": "string",
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\"."
        },
        "exploitReliability": {
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        }
      },
      "id": "PublicExploit",
      "description": "Contains details about a public exploit."
    },
    "ListAlertsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "List of alerts."
        }
      },
      "description": "Response message for ListAlerts.",
      "id": "ListAlertsResponse",
      "type": "object"
    },
    "Infrastructure": {
      "properties": {
        "certificateDetails": {
          "$ref": "CertificateDetails",
          "description": "Optional. SSL certificate details."
        },
        "urlResponse": {
          "description": "Optional. The raw URL response string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Core infrastructure observations associated with the URL or Domain.",
      "id": "Infrastructure"
    },
    "DiscoveryDocument": {
      "type": "object",
      "properties": {
        "documentId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the discovery document."
        },
        "documentType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The classification/type of the document (e.g. `COMMUNICATION`, `DDW_COMMUNICATION`, `message`)."
        },
        "communicationContext": {
          "$ref": "CommunicationContext",
          "description": "Optional. Detailed communication context metadata for documents originating from deep and dark web communication channels."
        }
      },
      "id": "DiscoveryDocument",
      "description": "Replaces the raw string ID to hold associated metadata."
    },
    "DomainMonitoringAlertDetail": {
      "description": "A detailed object for a Domain or URL alert.",
      "type": "object",
      "id": "DomainMonitoringAlertDetail",
      "properties": {
        "threatAttributionDetails": {
          "$ref": "ThreatAttributionDetails",
          "description": "Optional. The threat attribution details of the domain or URL."
        },
        "dnsDetails": {
          "description": "Optional. The DNS details of the domain or URL.",
          "$ref": "DomainMonitoringDnsDetails"
        },
        "matchedDomain": {
          "type": "string",
          "description": "Optional. The matched domain."
        },
        "protectedBrand": {
          "description": "The protected brand name that triggered the alert.",
          "type": "string"
        },
        "domainDetails": {
          "description": "Details specific to a monitored domain.",
          "$ref": "DomainMonitoringDomainDetails"
        },
        "relationships": {
          "description": "Optional. The relationships of the domain or URL.",
          "$ref": "Relationships"
        },
        "whoisDetails": {
          "$ref": "DomainMonitoringWhoIsDetails",
          "description": "Optional. The whois details of the domain or URL."
        },
        "protectedDomain": {
          "description": "The protected domain that triggered the alert.",
          "$ref": "DomainMonitoringDomainDetails"
        },
        "urlDetails": {
          "description": "Details specific to a monitored URL.",
          "$ref": "DomainMonitoringUrlDetails"
        },
        "gtiDetails": {
          "$ref": "DomainMonitoringGtiDetails",
          "description": "Optional. The GTI details of the domain or URL."
        },
        "infrastructure": {
          "description": "Optional. The infrastructure of the domain or URL.",
          "$ref": "Infrastructure"
        },
        "registrationDetails": {
          "$ref": "DnsRegistrationDetails",
          "description": "Optional. Extracted WHOIS and DNS registration details."
        }
      }
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids.",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "properties": {
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        },
        "domainMonitoring": {
          "description": "Domain Monitoring alert detail type.",
          "$ref": "DomainMonitoringAlertDetail"
        },
        "detailType": {
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        }
      },
      "type": "object",
      "description": "Container for different types of alert details."
    },
    "GetPasswordResponse": {
      "type": "object",
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      },
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword."
    },
    "ProductFix": {
      "id": "ProductFix",
      "type": "object",
      "properties": {
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The published time of the fix."
        },
        "uri": {
          "description": "Optional. The URI of the fix.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "sourceId": {
          "type": "string",
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\"."
        }
      },
      "description": "Contains details about a product fix."
    },
    "DomainMonitoringDomainDetails": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        }
      },
      "description": "Details specific to a monitored domain.",
      "id": "DomainMonitoringDomainDetails"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest"
    },
    "Relationships": {
      "description": "Related entities and domains observed for the target.",
      "id": "Relationships",
      "type": "object",
      "properties": {
        "relatedUrls": {
          "description": "Optional. Related URLs associated with the domain.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "siblingDomains": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Sibling domains sharing the same IP address.",
          "type": "array"
        },
        "subdomains": {
          "description": "Optional. Subdomains associated with the target domain or URL.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "id": "TargetTechnologyAlertDetail",
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "type": "object"
    },
    "Evidence": {
      "description": "Details the evidence used to determine the relevance verdict.",
      "id": "Evidence",
      "type": "object",
      "properties": {
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array"
        },
        "distinctThemes": {
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "Association": {
      "description": "Represents an association with a vulnerability.",
      "id": "Association",
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "description": "Required. The type of the association.",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ]
        }
      },
      "type": "object"
    },
    "LegacyMetadata": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. Name of the legacy monitor.",
          "readOnly": true
        },
        "emailNotificationEnabled": {
          "type": "boolean",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub."
        },
        "legacyMonitorId": {
          "type": "string",
          "description": "Output only. Unique identifier of the legacy monitor.",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Description of the legacy monitor.",
          "readOnly": true,
          "type": "string"
        },
        "aggregationEnabled": {
          "readOnly": true,
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor.",
          "type": "boolean"
        },
        "version": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Version of the monitor configuration."
        },
        "disabledReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reason why the monitor is disabled (if applicable)."
        },
        "disabledCode": {
          "type": "string",
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "readOnly": true
        },
        "creatorUserId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User ID who created the monitor."
        },
        "tenantId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the tenant owning the monitor."
        },
        "conditionVersion": {
          "description": "Output only. Version of the condition schema.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "staleTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the legacy monitor was considered stale."
        },
        "aggregationSimilarity": {
          "type": "number",
          "description": "Output only. Similarity threshold for aggregation.",
          "format": "double",
          "readOnly": true
        },
        "emailNotificationImmediate": {
          "deprecated": true,
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub."
        },
        "updaterUserId": {
          "readOnly": true,
          "description": "Output only. User ID who last updated the monitor.",
          "type": "string"
        },
        "templateId": {
          "description": "Output only. ID of the template this monitor was created from.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Legacy metadata associated with this scenario/monitor.",
      "id": "LegacyMetadata"
    },
    "AlertDocument": {
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document."
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "ingestTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when GTI received the intel."
        },
        "translation": {
          "$ref": "AlertDocumentTranslation",
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true
        },
        "sourceUpdateTime": {
          "readOnly": true,
          "description": "Output only. Time when the intel was last updated by the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "aiSummary": {
          "type": "string",
          "description": "Output only. AI summary of the document.",
          "readOnly": true
        },
        "author": {
          "type": "string",
          "description": "Output only. The author of the document.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The language code of the document.",
          "readOnly": true
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "AlertDocument",
      "description": "A document that is associated with an alert."
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array",
          "description": "The Configuration Revisions associated with the specified Configuration"
        }
      },
      "id": "ListConfigurationRevisionsResponse",
      "type": "object",
      "description": "Response message for ListConfigurationRevisions."
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {}
    },
    "CustomThreatScenarioConfig": {
      "type": "object",
      "id": "CustomThreatScenarioConfig",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "properties": {
        "scenarioType": {
          "type": "string",
          "enum": [
            "CUSTOM_THREAT_SCENARIO_TYPE_UNSPECIFIED",
            "DATA_LEAKS",
            "DEEP_DARK_WEB",
            "DOMAIN_PROTECTION",
            "RANSOMWARE_THREATS",
            "INITIAL_ACCESS_BROKER",
            "NETBLOCKS_AND_DOMAIN_MENTIONS",
            "SUPPLY_CHAIN_COMPROMISE",
            "CARD_SHOPS",
            "CUSTOM_MONITOR"
          ],
          "description": "Optional. The custom threat scenario type used to create this configuration.",
          "enumDescriptions": [
            "Unspecified scenario type.",
            "Data Leaks.",
            "Deep & Dark Web.",
            "Domain Protection.",
            "Ransomware Threats.",
            "Initial Access Broker.",
            "Netblocks and Domain Mentions.",
            "Supply Chain Compromise.",
            "Card Shops.",
            "Custom Monitor (Non-templated legacy monitor)."
          ]
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        },
        "documentQuery": {
          "$ref": "DocumentQuery",
          "description": "Optional. The query used to match documents."
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "readOnly": true,
          "description": "Output only. Legacy metadata associated with this scenario/monitor."
        },
        "compiledLuceneQuery": {
          "readOnly": true,
          "description": "Output only. The compiled Lucene query string.",
          "type": "string"
        }
      }
    },
    "CustomerProfileLocation": {
      "properties": {
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileLocation",
      "type": "object",
      "description": "Location information for the customer profile."
    },
    "CustomerProfileTechnology": {
      "id": "CustomerProfileTechnology",
      "type": "object",
      "description": "Technology information for the customer profile.",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the technology.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "technology": {
          "description": "Required. The name of the technology.",
          "type": "string"
        }
      }
    },
    "DomainMonitoringUrlDetails": {
      "id": "DomainMonitoringUrlDetails",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. The URL to match against.",
          "type": "string"
        }
      },
      "description": "Details specific to a monitored URL."
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "properties": {
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: Use `discovery_documents` instead. Array of ids to accommodate multiple discovery documents.",
          "deprecated": true,
          "type": "array"
        },
        "discoveryDocuments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiscoveryDocument"
          },
          "description": "Output only. New structured metadata payload."
        },
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "description": "Captures the specific details of Data Leak alert.",
      "type": "object"
    },
    "ConfigurationRevision": {
      "properties": {
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the Revision was created",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable."
    },
    "DomainMonitoringGtiDetails": {
      "properties": {
        "domainPermutation": {
          "description": "Optional. The permutation technique used for the domain (e.g., dictionary, homoglyph).",
          "type": "string"
        },
        "gtiDomainUri": {
          "type": "string",
          "description": "Optional. The GTI link for the domain."
        },
        "avDetections": {
          "$ref": "AVDetections",
          "description": "Optional. Detection counts across vendor feeds."
        },
        "gtiScore": {
          "description": "Optional. The GTI score of the domain. The threat score is a number between 0 and 100.",
          "type": "integer",
          "format": "int32"
        },
        "threatClassification": {
          "description": "Optional. The threat classification of the domain, obtained from the domain report (e.g. DomainMonitoring).",
          "type": "string"
        },
        "verdict": {
          "enumDescriptions": [
            "Default value. The verdict is not set or unspecified.",
            "Verdict is clean; the entity is considered harmless.",
            "Verdict is undetected; no immediate evidence of malicious intent.",
            "Verdict is suspicious; possible malicious activity detected.",
            "Verdict is malicious; high confidence that the entity poses a threat.",
            "Verdict is not applicable; not able to generate a verdict for this entity."
          ],
          "type": "string",
          "enum": [
            "DOMAIN_MONITORING_GTI_VERDICT_UNSPECIFIED",
            "DOMAIN_MONITORING_GTI_VERDICT_BENIGN",
            "DOMAIN_MONITORING_GTI_VERDICT_UNDETECTED",
            "DOMAIN_MONITORING_GTI_VERDICT_SUSPICIOUS",
            "DOMAIN_MONITORING_GTI_VERDICT_MALICIOUS",
            "DOMAIN_MONITORING_GTI_VERDICT_UNKNOWN"
          ],
          "description": "Output only. The verdict of the domain.",
          "readOnly": true
        }
      },
      "id": "DomainMonitoringGtiDetails",
      "description": "The GTI details of the domain.",
      "type": "object"
    },
    "RelevanceAnalysis": {
      "properties": {
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant."
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        }
      },
      "id": "RelevanceAnalysis",
      "description": "Structured relevance analysis for a threat.",
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "description": "Response message for EnumerateAlertFacets.",
      "id": "EnumerateAlertFacetsResponse"
    },
    "Configuration": {
      "type": "object",
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "id": "Configuration",
      "properties": {
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration."
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "id": "MarkAlertAsEscalatedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object"
    },
    "TechnologyWatchListConfig": {
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "type": "object",
      "id": "TechnologyWatchListConfig",
      "properties": {
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        },
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        }
      }
    },
    "DomainMonitoringFindingDetail": {
      "id": "DomainMonitoringFindingDetail",
      "type": "object",
      "description": "A detailed object for a Domain or URL finding.",
      "properties": {
        "registrationDetails": {
          "description": "Optional. Extracted WHOIS and DNS registration details.",
          "$ref": "DnsRegistrationDetails"
        },
        "urlDetails": {
          "description": "Details specific to a monitored URL.",
          "$ref": "DomainMonitoringUrlDetails"
        },
        "gtiDetails": {
          "description": "Optional. The GTI details of the domain or URL.",
          "$ref": "DomainMonitoringGtiDetails"
        },
        "protectedDomain": {
          "$ref": "DomainMonitoringDomainDetails",
          "description": "The protected domain that triggered the alert."
        },
        "dnsDetails": {
          "description": "Optional. The DNS details of the domain or URL.",
          "$ref": "DomainMonitoringDnsDetails"
        },
        "matchedDomain": {
          "description": "Optional. The matched domain.",
          "type": "string"
        },
        "domainDetails": {
          "$ref": "DomainMonitoringDomainDetails",
          "description": "Details specific to a monitored domain."
        },
        "relationships": {
          "description": "Optional. The relationships of the domain or URL.",
          "$ref": "Relationships"
        },
        "protectedBrand": {
          "type": "string",
          "description": "The protected brand name that triggered the alert."
        },
        "whoisDetails": {
          "description": "Optional. The whois details of the domain or URL.",
          "$ref": "DomainMonitoringWhoIsDetails"
        },
        "threatAttributionDetails": {
          "description": "Optional. The threat attribution details of the domain or URL.",
          "$ref": "ThreatAttributionDetails"
        },
        "infrastructure": {
          "description": "Optional. The infrastructure of the domain or URL.",
          "$ref": "Infrastructure"
        }
      }
    },
    "SeverityAnalysis": {
      "description": "Structured severity analysis for a threat.",
      "type": "object",
      "id": "SeverityAnalysis",
      "properties": {
[...]
