{
  "canonicalName": "Threat Intelligence Service",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "version": "v1beta",
  "id": "threatintelligence:v1beta",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "description": "threatintelligence.googleapis.com API.",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "findings": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.findings.list",
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "path": "v1beta/{+parent}/findings",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Parent of the findings."
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "httpMethod": "GET",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Finding"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "httpMethod": "GET",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.findings.get"
            },
            "search": {
              "id": "threatintelligence.projects.findings.search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "path": "v1beta/{+parent}/findings:search",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "parameters": {
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings:search"
            }
          }
        },
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a specific document associated with an alert."
                }
              }
            }
          },
          "methods": {
            "read": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as read - READ.",
              "httpMethod": "POST"
            },
            "enumerateFacets": {
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "id": "threatintelligence.projects.alerts.enumerateFacets"
            },
            "falsePositive": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "path": "v1beta/{+name}:falsePositive",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "triage": {
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "httpMethod": "POST",
              "description": "Marks an alert as triaged - TRIAGED.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:triage"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.alerts.get",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "httpMethod": "GET",
              "description": "Get an alert by name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "getPassword": {
              "path": "v1beta/{+name}:getPassword",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "parameterOrder": [
                "name"
              ],
              "description": "Get the decrypted password of an alert.",
              "id": "threatintelligence.projects.alerts.getPassword",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "path": "v1beta/{+parent}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token to retrieve the next page of results."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "id": "threatintelligence.projects.alerts.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "resolve": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.resolve",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:resolve"
            },
            "trackExternally": {
              "id": "threatintelligence.projects.alerts.trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "path": "v1beta/{+name}:trackExternally",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally"
            },
            "duplicate": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:duplicate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              }
            },
            "benign": {
              "httpMethod": "POST",
              "path": "v1beta/{+name}:benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.benign",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as benign - BENIGN.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign"
            },
            "notActionable": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1beta/{+name}:notActionable",
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Alert"
              }
            },
            "escalate": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.escalate",
              "path": "v1beta/{+name}:escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Get a configuration by name.",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "id": "threatintelligence.projects.configurations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "required": true,
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Configuration"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Page size."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "path": "v1beta/{+parent}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "httpMethod": "GET",
              "description": "Get a list of configurations that meet the filter criteria.",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "upsert": {
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "description": "Creates or updates a configuration.",
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.configurations.upsert",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Parent of the configuration.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "publishTime": {
                  "location": "query",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Page Size",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token provided by the API",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify ordering of response",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "description": "List configuration revisions that meet the filter criteria.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/revisions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "threatintelligence.projects.configurations.revisions.list"
                }
              }
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "description": "Triggers the generation of a Customer Profile for a project.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "threatintelligence.projects.generateOrgProfile",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "httpMethod": "POST"
        }
      }
    }
  },
  "title": "Threat Intelligence API",
  "servicePath": "",
  "schemas": {
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "retrievalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the citation was retrieved."
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        }
      },
      "description": "Citation information for the customer profile.",
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert.",
      "type": "object",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      }
    },
    "AlertDocument": {
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the document, if available."
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language code of the document."
        },
        "aiSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AI summary of the document."
        },
        "sourceUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the intel was last updated by the source."
        },
        "author": {
          "description": "Output only. The author of the document.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The content of the document."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "type": "string"
        },
        "ingestTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when GTI received the intel."
        },
        "collectionTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the origin source collected the intel.",
          "readOnly": true,
          "type": "string"
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true,
          "$ref": "AlertDocumentTranslation"
        }
      },
      "type": "object",
      "description": "A document that is associated with an alert.",
      "id": "AlertDocument"
    },
    "InsiderThreatAlertDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "Audit": {
      "description": "Tracks basic CRUD facts.",
      "id": "Audit",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time of creation.",
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        },
        "updater": {
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time of creation or last update.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DomainSetting": {
      "type": "object",
      "id": "DomainSetting",
      "description": "Feature settings and toggles for a single specific domain.",
      "properties": {
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "description": "Output only. The verification state of the domain.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "CustomThreatScenarioConfig": {
      "properties": {
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true,
          "type": "string"
        },
        "documentQuery": {
          "description": "Optional. The query used to match documents.",
          "$ref": "DocumentQuery"
        },
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "description": "Optional. Legacy metadata associated with this scenario/monitor."
        }
      },
      "type": "object",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "id": "CustomThreatScenarioConfig"
    },
    "CustomerProfileCompany": {
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the company."
        }
      },
      "type": "object",
      "description": "Company information for the customer profile.",
      "id": "CustomerProfileCompany"
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object",
      "id": "MarkAlertAsTriagedRequest",
      "properties": {}
    },
    "MarkAlertAsFalsePositiveRequest": {
      "description": "Request message for MarkAlertAsFalsePositive.",
      "id": "MarkAlertAsFalsePositiveRequest",
      "type": "object",
      "properties": {}
    },
    "MarkAlertAsEscalatedRequest": {
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object"
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object",
      "id": "FindingDetail",
      "properties": {
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "dataLeak": {
          "$ref": "DataLeakFindingDetail",
          "description": "Data Leak finding detail type."
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyFindingDetail",
          "description": "Technology Watchlist finding detail type."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        }
      }
    },
    "TechnologyWatchListConfig": {
      "id": "TechnologyWatchListConfig",
      "properties": {
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        },
        "technologies": {
          "type": "array",
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "type": "object"
    },
    "VulnerabilityMatch": {
      "description": "Contains details about a vulnerability match.",
      "type": "object",
      "id": "VulnerabilityMatch",
      "properties": {
        "exploitationConsequences": {
          "type": "array",
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "items": {
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ]
          }
        },
        "riskRating": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\"."
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the vulnerability."
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "items": {
            "$ref": "ProductFix"
          },
          "type": "array"
        },
        "exploitationState": {
          "type": "string",
          "description": "Required. The exploitation state of the vulnerability.",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ]
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "exploitationVectors": {
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string"
          }
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "cvss3Score": {
          "format": "float",
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4."
        },
        "epssScore": {
          "type": "number",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float"
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "readOnly": true,
          "type": "boolean"
        },
        "publicExploits": {
          "description": "Optional. List of public exploits.",
          "items": {
            "$ref": "PublicExploit"
          },
          "type": "array"
        },
        "technologies": {
          "type": "array",
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          }
        },
        "matchedTechnologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        },
        "disclosureTime": {
          "type": "string",
          "description": "Optional. The disclosure time of the vulnerability.",
          "format": "google-datetime"
        }
      }
    },
    "UpsertConfigurationResponse": {
      "description": "Response message for UpsertConfiguration.",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "UpsertConfigurationResponse"
    },
    "CustomerProfileWebPresence": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Web presence information for the customer profile.",
      "id": "CustomerProfileWebPresence"
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "type": "object",
      "properties": {}
    },
    "Alert": {
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string",
          "readOnly": true
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Findings that are covered by this alert.",
          "type": "array"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert."
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "readOnly": true,
          "type": "string"
        },
        "configurations": {
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "description": "Output only. State of the alert.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ]
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        },
        "findingCount": {
          "format": "int64",
          "description": "Output only. The number of findings associated with this alert.",
          "readOnly": true,
          "type": "string"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true,
          "$ref": "SeverityAnalysis"
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true,
          "$ref": "PriorityAnalysis"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}"
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "type": "string",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        }
      },
      "id": "Alert",
      "type": "object"
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        }
      },
      "type": "object",
      "description": "Captures the specific details of Data Leak alert."
    },
    "CustomerProfilePerson": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        }
      },
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile."
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "type": "object",
      "description": "Security considerations for the customer profile.",
      "properties": {
        "considerations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        },
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        }
      }
    },
    "TargetTechnologyFindingDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyFindingDetail",
      "type": "object",
      "description": "Contains details for a technology watchlist finding."
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "type": "object",
      "description": "Structured relevance analysis for a threat.",
      "properties": {
        "relevanceLevel": {
          "type": "string",
          "description": "The level of relevance.",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string"
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        }
      }
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids."
    },
    "PublicExploit": {
      "type": "object",
      "description": "Contains details about a public exploit.",
      "id": "PublicExploit",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ]
        },
        "exploitReliability": {
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ]
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the exploit."
        },
        "exploitName": {
          "type": "string",
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\"."
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "properties": {
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity."
        },
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string",
          "description": "The level of severity.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "confidence": {
          "type": "string",
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        }
      },
      "description": "Structured severity analysis for a threat.",
      "type": "object"
    },
    "TechnologyWatchListAlertThreshold": {
      "properties": {
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string"
        },
        "epssScoreMinimum": {
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "type": "number",
          "format": "float"
        },
        "exploitationStates": {
          "type": "array",
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          }
        },
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "cvssScoreMinimum": {
          "format": "float",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "type": "number"
        }
      },
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "type": "object"
    },
    "CustomerProfileConfig": {
      "properties": {
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "executives": {
          "type": "array",
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "description": "Optional. Locations the organization is present or conducts business in."
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array",
          "description": "Optional. The parent companies of the organization."
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "technologyPresence": {
          "type": "string",
          "description": "Optional. Technology presence of the organization."
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "citations": {
          "type": "array",
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in.",
          "type": "array"
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object",
      "id": "CustomerProfileConfig"
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for MarkAlertAsRead.",
      "id": "MarkAlertAsReadRequest"
    },
    "CustomerProfileLocation": {
      "type": "object",
      "description": "Location information for the customer profile.",
      "id": "CustomerProfileLocation",
      "properties": {
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        }
      }
    },
    "CustomerProfileProduct": {
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the product.",
          "type": "array"
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        }
      },
      "id": "CustomerProfileProduct",
      "type": "object",
      "description": "Product information for the customer profile."
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest"
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "id": "AlertDocumentTranslation",
      "type": "object",
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "description": "Output only. The translated content of the document.",
          "type": "string"
        },
        "translatedTitle": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The translated title of the document."
        }
      }
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "description": "A detail object for a Data Leak finding.",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "id": "DataLeakFindingDetail"
    },
    "ProductFix": {
      "properties": {
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "publishTime": {
          "type": "string",
          "description": "Optional. The published time of the fix.",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        }
      },
      "description": "Contains details about a product fix.",
      "type": "object",
      "id": "ProductFix"
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object",
      "properties": {
        "creatorUserId": {
          "description": "Optional. User ID who created the monitor.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Name of the legacy monitor.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the monitor configuration.",
          "type": "integer",
          "format": "int32"
        },
        "aggregationEnabled": {
          "description": "Optional. Whether aggregation is enabled for alerts from this monitor.",
          "type": "boolean"
        },
        "templateId": {
          "description": "Optional. ID of the template this monitor was created from.",
          "type": "string"
        },
        "emailNotificationImmediate": {
          "type": "boolean",
          "description": "Optional. Whether email notifications are intermediate/immediate."
        },
        "description": {
          "description": "Optional. Description of the legacy monitor.",
          "type": "string"
        },
        "staleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time the legacy monitor was considered stale."
        },
        "aggregationSimilarity": {
          "format": "double",
          "type": "number",
          "description": "Optional. Similarity threshold for aggregation."
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. ID of the tenant owning the monitor."
        },
        "disabledCode": {
          "type": "string",
          "description": "Optional. Code indicating why the monitor is disabled (if applicable)."
        },
        "conditionVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Version of the condition schema."
        },
        "disabledReason": {
          "type": "string",
          "description": "Optional. Reason why the monitor is disabled (if applicable)."
        },
        "emailNotificationEnabled": {
          "description": "Optional. Whether email notifications are enabled.",
          "type": "boolean"
        },
        "updaterUserId": {
          "type": "string",
          "description": "Optional. User ID who last updated the monitor."
        },
        "legacyMonitorId": {
          "type": "string",
          "description": "Optional. Unique identifier of the legacy monitor."
        }
      },
      "id": "LegacyMetadata"
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings."
    },
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "matchScore": {
          "format": "float",
          "type": "number",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A detail object for an Initial Access Broker (IAB) finding."
    },
    "GetPasswordResponse": {
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for GetPassword.",
      "id": "GetPasswordResponse"
    },
    "ConfigurationDetail": {
      "type": "object",
      "properties": {
        "customThreatScenario": {
          "$ref": "CustomThreatScenarioConfig",
          "description": "Custom Threat Scenario detail config."
        },
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "domainConfiguration": {
          "$ref": "DomainConfiguration",
          "description": "Domain Configuration detail config."
        }
      },
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes."
    },
    "Facet": {
      "properties": {
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "totalCount": {
          "format": "int64",
          "description": "Total number of records that contain this facet with ANY value.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facetCounts": {
          "items": {
            "$ref": "FacetCount"
          },
          "type": "array",
          "description": "List of counts for the facet (if categorical)."
        }
      },
      "id": "Facet",
      "type": "object",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
    },
    "ListConfigurationRevisionsResponse": {
      "description": "Response message for ListConfigurationRevisions.",
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration"
        }
      },
      "type": "object"
    },
    "Evidence": {
      "type": "object",
      "id": "Evidence",
      "properties": {
        "distinctThemes": {
          "type": "array",
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          }
        },
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array"
        }
      },
      "description": "Details the evidence used to determine the relevance verdict."
    },
    "CustomerProfileContactInfo": {
      "id": "CustomerProfileContactInfo",
      "description": "Contact information for the customer profile.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information."
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "Finding": {
      "properties": {
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "severity": {
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "deprecated": true,
          "format": "float"
        },
        "configurations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array"
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit data about the finding.",
          "readOnly": true
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        }
      },
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding",
      "type": "object"
    },
    "DocumentQuery": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. The query string."
        },
        "queryType": {
          "description": "Required. The type of query.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ]
        },
        "dataModel": {
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "type": "string",
          "description": "Required. The data model to query against."
        }
      },
      "description": "Represents a query to match documents.",
      "id": "DocumentQuery",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "id": "SearchFindingsResponse",
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "description": "Response message for SearchFindings."
    },
    "Association": {
      "id": "Association",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        },
        "type": {
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association."
        }
      },
      "type": "object",
      "description": "Represents an association with a vulnerability."
    },
    "ListAlertsResponse": {
      "description": "Response message for ListAlerts.",
      "id": "ListAlertsResponse",
      "type": "object",
      "properties": {
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "List of alerts."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "ListConfigurationsResponse": {
      "description": "Response message for ListConfigurations.",
      "type": "object",
      "id": "ListConfigurationsResponse",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    },
    "AlertDetail": {
      "properties": {
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Container for different types of alert details.",
      "id": "AlertDetail",
      "type": "object"
    },
    "CustomerProfileIndustry": {
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile.",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ConfigurationRevision": {
      "type": "object",
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the Revision was created"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        }
      }
    },
    "DomainConfiguration": {
      "type": "object",
      "description": "Configuration holding settings for one or more monitored domains.",
      "id": "DomainConfiguration",
      "properties": {
        "domainSettings": {
          "type": "array",
          "description": "Optional. A list of settings for individual domains.",
          "items": {
            "$ref": "DomainSetting"
          }
        }
      }
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      }
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object"
    },
    "FacetCount": {
      "id": "FacetCount",
      "properties": {
        "count": {
          "type": "integer",
          "description": "Count of records with the value.",
          "format": "int32"
        },
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object"
    },
    "DomainMonitoringFeatureConfig": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain.",
[...]
