{
  "version": "v1beta",
  "servicePath": "",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    }
  ],
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "id": "threatintelligence:v1beta",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "title": "Threat Intelligence API",
  "revision": "20260830",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "VulnerabilityMatch": {
      "type": "object",
      "properties": {
        "exploitationVectors": {
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ]
          }
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number",
          "format": "float"
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. A description of the vulnerability."
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "publicExploits": {
          "description": "Optional. List of public exploits.",
          "items": {
            "$ref": "PublicExploit"
          },
          "type": "array"
        },
        "associations": {
          "type": "array",
          "items": {
            "$ref": "Association"
          },
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "riskRating": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "matchedTechnologies": {
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          }
        },
        "disclosureTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The disclosure time of the vulnerability."
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\"."
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean",
          "readOnly": true
        },
        "cvss3Score": {
          "type": "number",
          "format": "float",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4."
        },
        "exploitationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "description": "Required. The exploitation state of the vulnerability."
        },
        "cveId": {
          "type": "string",
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information."
        },
        "exploitationConsequences": {
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          },
          "type": "array",
          "description": "Optional. List of exploitation consequences for the vulnerability."
        }
      },
      "description": "Contains details about a vulnerability match.",
      "id": "VulnerabilityMatch"
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "id": "InsiderThreatAlertDetail",
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      }
    },
    "CustomerProfileConfig": {
      "properties": {
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "type": "array",
          "description": "Optional. The industries the organization is involved in."
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array"
        },
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        },
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "contactInfo": {
          "type": "array",
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        }
      },
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "id": "CustomerProfileConfig",
      "type": "object"
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "type": "string",
          "format": "int64"
        },
        "facetCounts": {
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical)."
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        }
      },
      "id": "Facet"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "properties": {
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant."
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        }
      },
      "type": "object",
      "description": "Structured relevance analysis for a threat."
    },
    "FacetCount": {
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object",
      "id": "FacetCount",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Count of records with the value."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      }
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "properties": {
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "severity": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "type": "number"
        },
        "reoccurrenceTimes": {
          "items": {
            "format": "google-datetime",
            "type": "string"
          },
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "type": "array"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "readOnly": true
        }
      },
      "id": "Finding",
      "type": "object"
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information.",
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        }
      },
      "id": "CustomerProfileContactInfo",
      "description": "Contact information for the customer profile."
    },
    "MarkAlertAsBenignRequest": {
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "id": "MarkAlertAsBenignRequest",
      "properties": {}
    },
    "DomainMonitoringFeatureConfig": {
      "description": "Specific configuration for the Domain Monitoring feature.",
      "type": "object",
      "id": "DomainMonitoringFeatureConfig",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain.",
          "type": "boolean"
        }
      }
    },
    "CustomerProfileCitation": {
      "description": "Citation information for the customer profile.",
      "properties": {
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        },
        "retrievalTime": {
          "type": "string",
          "description": "The time the citation was retrieved.",
          "format": "google-datetime"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerProfileCitation"
    },
    "SearchFindingsResponse": {
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings.",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        }
      },
      "type": "object"
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "description": "A detail object for a Data Leak finding.",
      "id": "DataLeakFindingDetail",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      }
    },
    "GenerateOrgProfileConfigurationRequest": {
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest"
    },
    "PublicExploit": {
      "properties": {
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ]
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "releaseTime": {
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the exploit."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "exploitReliability": {
          "type": "string",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ]
        }
      },
      "id": "PublicExploit",
      "description": "Contains details about a public exploit.",
      "type": "object"
    },
    "DocumentQuery": {
      "properties": {
        "dataModel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "type": "string",
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ],
          "description": "Required. The data model to query against."
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        },
        "queryType": {
          "description": "Required. The type of query.",
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ]
        }
      },
      "description": "Represents a query to match documents.",
      "id": "DocumentQuery",
      "type": "object"
    },
    "CustomerProfileSummary": {
      "properties": {
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "id": "CustomerProfileSummary",
      "type": "object"
    },
    "LegacyMetadata": {
      "id": "LegacyMetadata",
      "type": "object",
      "properties": {
        "conditionVersion": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Version of the condition schema."
        },
        "creatorUserId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User ID who created the monitor."
        },
        "tenantId": {
          "type": "string",
          "description": "Output only. ID of the tenant owning the monitor.",
          "readOnly": true
        },
        "updaterUserId": {
          "description": "Output only. User ID who last updated the monitor.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the legacy monitor."
        },
        "legacyMonitorId": {
          "description": "Output only. Unique identifier of the legacy monitor.",
          "readOnly": true,
          "type": "string"
        },
        "templateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the template this monitor was created from."
        },
        "aggregationEnabled": {
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor.",
          "readOnly": true,
          "type": "boolean"
        },
        "disabledCode": {
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "type": "string",
          "readOnly": true
        },
        "emailNotificationImmediate": {
          "readOnly": true,
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub."
        },
        "version": {
          "description": "Output only. Version of the monitor configuration.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "staleTime": {
          "format": "google-datetime",
          "description": "Output only. Time the legacy monitor was considered stale.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Output only. Description of the legacy monitor.",
          "readOnly": true,
          "type": "string"
        },
        "emailNotificationEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "readOnly": true
        },
        "disabledReason": {
          "readOnly": true,
          "description": "Output only. Reason why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "aggregationSimilarity": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Similarity threshold for aggregation."
        }
      },
      "description": "Legacy metadata associated with this scenario/monitor."
    },
    "DomainConfiguration": {
      "id": "DomainConfiguration",
      "properties": {
        "domainSettings": {
          "items": {
            "$ref": "DomainSetting"
          },
          "description": "Optional. A list of settings for individual domains.",
          "type": "array"
        }
      },
      "description": "Configuration holding settings for one or more monitored domains.",
      "type": "object"
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "type": "object",
      "description": "A detail object for a InsiderThreat finding."
    },
    "DomainSetting": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "description": "Output only. The verification state of the domain."
        },
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        }
      },
      "description": "Feature settings and toggles for a single specific domain.",
      "id": "DomainSetting",
      "type": "object"
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "description": "Company information for the customer profile.",
      "properties": {
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the company.",
          "type": "array"
        },
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpsertConfigurationResponse": {
      "properties": {
        "configuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id."
        }
      },
      "id": "UpsertConfigurationResponse",
      "type": "object",
      "description": "Response message for UpsertConfiguration."
    },
    "MarkAlertAsDuplicateRequest": {
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "description": "Request message for MarkAlertAsDuplicate.",
      "id": "MarkAlertAsDuplicateRequest"
    },
    "CustomerProfileWebPresence": {
      "type": "object",
      "id": "CustomerProfileWebPresence",
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the web presence."
        },
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        }
      },
      "description": "Web presence information for the customer profile."
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "$ref": "Facet"
          },
          "description": "List of facets and the counts."
        }
      }
    },
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts."
    },
    "Audit": {
      "properties": {
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of creation."
        },
        "updater": {
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true
        }
      },
      "description": "Tracks basic CRUD facts.",
      "id": "Audit",
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyFindingDetail",
      "description": "Contains details for a technology watchlist finding.",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "properties": {
        "configurations": {
          "items": {
            "$ref": "Configuration"
          },
          "type": "array",
          "description": "List of configurations."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations."
    },
    "CustomerProfileIndustry": {
      "description": "Industry information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileIndustry",
      "properties": {
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the industry."
        }
      }
    },
    "AlertDocument": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The language code of the document.",
          "readOnly": true
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The author of the document."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "description": "Output only. The content of the document.",
          "readOnly": true
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "sourceUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the intel was last updated by the source.",
          "readOnly": true
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "description": "Output only. The title of the document, if available.",
          "type": "string"
        },
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "collectionTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime"
        }
      },
      "id": "AlertDocument",
      "description": "A document that is associated with an alert.",
      "type": "object"
    },
    "InitialAccessBrokerAlertDetail": {
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        }
      },
      "type": "object",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "id": "InitialAccessBrokerAlertDetail"
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the string.",
          "type": "array"
        }
      },
      "description": "A string with citation ids.",
      "id": "CustomerProfileCitedString"
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        }
      },
      "description": "Product information for the customer profile."
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array"
        }
      }
    },
    "CustomerProfileLocation": {
      "properties": {
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Location information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileLocation"
    },
    "InitialAccessBrokerFindingDetail": {
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InitialAccessBrokerFindingDetail",
      "description": "A detail object for an Initial Access Broker (IAB) finding."
    },
    "Association": {
      "type": "object",
      "description": "Represents an association with a vulnerability.",
      "id": "Association",
      "properties": {
        "id": {
          "description": "Required. The ID of the association.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association.",
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        }
      }
    },
    "TechnologyWatchListConfig": {
      "properties": {
        "alertThreshold": {
          "$ref": "TechnologyWatchListAlertThreshold",
          "description": "Optional. Alert thresholds to effectively reduce noise."
        },
        "technologies": {
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "type": "object",
      "id": "TechnologyWatchListConfig"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object"
    },
    "MarkAlertAsEscalatedRequest": {
      "id": "MarkAlertAsEscalatedRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsEscalated."
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "description": "The level of severity."
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      },
      "type": "object",
      "description": "Structured severity analysis for a threat."
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object"
    },
    "ConfigurationRevision": {
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "id": "ConfigurationRevision",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "$ref": "Configuration",
          "description": "The snapshot of the configuration"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the Revision was created"
        }
      }
    },
    "GetPasswordResponse": {
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword."
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive."
    },
    "TechnologyWatchListAlertThreshold": {
      "properties": {
        "exploitationStates": {
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ]
          },
          "type": "array"
        },
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "type": "number",
          "format": "float"
        },
        "epssScoreMinimum": {
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "type": "number"
        },
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "riskRatingMinimum": {
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Optional. The minimum risk rating for the alert."
        }
      },
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "type": "object"
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        }
      },
      "id": "CustomerProfilePerson"
    },
    "AlertDocumentTranslation": {
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "description": "Output only. The translated content of the document.",
          "type": "string"
        },
        "translatedTitle": {
          "readOnly": true,
          "description": "Output only. The translated title of the document.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AlertDocumentTranslation",
      "description": "The translation of an alert document."
    },
    "Configuration": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ]
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Human readable name for the configuration.",
          "type": "string"
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Configuration",
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "CustomerProfileSecurityConsiderations": {
      "properties": {
        "considerations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        },
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Security considerations for the customer profile.",
      "id": "CustomerProfileSecurityConsiderations"
    },
    "Evidence": {
      "id": "Evidence",
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object",
      "properties": {
        "commonThemes": {
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        }
      }
    },
    "PriorityAnalysis": {
      "type": "object",
      "id": "PriorityAnalysis",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "priorityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "description": "The level of Priority.",
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ]
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        }
      },
      "description": "Structured priority analysis for a threat."
    },
    "Alert": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "type": "string",
          "description": "Output only. State of the alert.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "configurations": {
          "readOnly": true,
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "type": "string",
          "readOnly": true
        },
        "priorityAnalysis": {
          "readOnly": true,
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "duplicatedBy": {
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "findings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true
        },
        "detail": {
          "$ref": "AlertDetail",
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object."
        },
        "duplicateOf": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
        },
        "externalId": {
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert.",
          "readOnly": true
        }
      },
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "id": "Alert"
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsTriaged.",
      "properties": {},
      "id": "MarkAlertAsTriagedRequest"
    },
    "CustomThreatScenarioConfig": {
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "properties": {
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        },
        "documentQuery": {
          "description": "Optional. The query used to match documents.",
          "$ref": "DocumentQuery"
        },
        "compiledLuceneQuery": {
          "type": "string",
          "description": "Output only. The compiled Lucene query string.",
          "readOnly": true
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "readOnly": true,
          "description": "Output only. Legacy metadata associated with this scenario/monitor."
        }
      },
      "id": "CustomThreatScenarioConfig",
      "type": "object"
    },
    "MarkAlertAsResolvedRequest": {
      "type": "object",
      "id": "MarkAlertAsResolvedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved."
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "id": "ProductFix",
      "type": "object",
      "properties": {
        "publishTime": {
          "format": "google-datetime",
          "description": "Optional. The published time of the fix.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        }
      }
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "type": "object",
      "id": "MarkAlertAsReadRequest",
      "properties": {}
    },
    "ListConfigurationRevisionsResponse": {
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array"
        }
      },
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "id": "TargetTechnologyAlertDetail",
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "type": "object"
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "id": "FindingDetail",
      "type": "object",
      "properties": {
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        }
      }
    },
    "AlertDetail": {
      "type": "object",
      "properties": {
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        }
      },
      "description": "Container for different types of alert details.",
      "id": "AlertDetail"
    },
    "ConfigurationDetail": {
      "properties": {
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        },
        "technologyWatchlist": {
          "description": "Technology Watchlist detail config.",
          "$ref": "TechnologyWatchListConfig"
        },
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        }
      },
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    }
  },
  "version_module": true,
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "threatintelligence.googleapis.com API.",
  "ownerDomain": "google.com",
  "canonicalName": "Threat Intelligence Service",
  "batchPath": "batch",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "id": "threatintelligence.projects.generateOrgProfile",
          "parameterOrder": [
            "name"
          ],
          "description": "Triggers the generation of a Customer Profile for a project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "description": "List configuration revisions that meet the filter criteria.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "path": "v1beta/{+parent}/revisions",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specify ordering of response",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Page Size",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token provided by the API"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a configuration by name.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.configurations.get",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Configuration"
              }
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of configurations that meet the filter criteria.",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "path": "v1beta/{+parent}/configurations",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "request": {
                "$ref": "Configuration"
              },
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "location": "path"
                },
                "publishTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team."
                }
              },
              "description": "Creates or updates a configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/configurations:upsert",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert"
            }
          }
        },
        "findings": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Finding"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "description": "Required. Name of the finding to get.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.findings.get"
            },
            "search": {
              "path": "v1beta/{+parent}/findings:search",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "parameters": {
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "id": "threatintelligence.projects.findings.search"
            },
            "list": {
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "path": "v1beta/{+parent}/findings",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the findings.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter criteria."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                }
              },
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.findings.list"
            }
          }
        },
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a specific document associated with an alert.",
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}"
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "id": "threatintelligence.projects.alerts.resolve",
              "path": "v1beta/{+name}:resolve",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "benign": {
              "description": "Marks an alert as benign - BENIGN.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:benign",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.benign",
              "parameterOrder": [
                "name"
              ]
            },
            "triage": {
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "id": "threatintelligence.projects.alerts.triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v1beta/{+name}:triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.get",
              "description": "Get an alert by name.",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "escalate": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "id": "threatintelligence.projects.alerts.escalate",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:escalate",
              "description": "Marks an alert as escalated - ESCALATED."
            },
            "list": {
              "id": "threatintelligence.projects.alerts.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
[...]
