{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    }
  ],
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20260823",
  "version": "v1beta",
  "schemas": {
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "type": "object",
      "properties": {}
    },
    "DomainSetting": {
      "type": "object",
      "description": "Feature settings and toggles for a single specific domain.",
      "properties": {
        "state": {
          "description": "Output only. The verification state of the domain.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ]
        },
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        },
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        }
      },
      "id": "DomainSetting"
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsTriagedRequest"
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "id": "CustomerProfileCitedString",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the string."
        }
      },
      "description": "A string with citation ids."
    },
    "CustomerProfileCitation": {
      "type": "object",
      "id": "CustomerProfileCitation",
      "properties": {
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "retrievalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the citation was retrieved."
        },
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        }
      },
      "description": "Citation information for the customer profile."
    },
    "Finding": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding."
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "audit": {
          "$ref": "Audit",
          "description": "Output only. Audit data about the finding.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "configurations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Configuration names that are bound to this finding."
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true
        },
        "severity": {
          "format": "float",
          "type": "number",
          "deprecated": true,
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source."
        }
      },
      "type": "object",
      "id": "Finding",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest."
    },
    "DomainConfiguration": {
      "id": "DomainConfiguration",
      "description": "Configuration holding settings for one or more monitored domains.",
      "type": "object",
      "properties": {
        "domainSettings": {
          "description": "Optional. A list of settings for individual domains.",
          "type": "array",
          "items": {
            "$ref": "DomainSetting"
          }
        }
      }
    },
    "AlertDocument": {
      "type": "object",
      "id": "AlertDocument",
      "properties": {
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the intel was last updated by the source."
        },
        "source": {
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true
        },
        "ingestTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when GTI received the intel."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "format": "google-datetime",
          "readOnly": true
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the document.",
          "type": "string"
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The content of the document."
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "readOnly": true,
          "type": "string"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Output only. The title of the document, if available.",
          "readOnly": true
        }
      },
      "description": "A document that is associated with an alert."
    },
    "ListConfigurationRevisionsResponse": {
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        }
      },
      "type": "object"
    },
    "ConfigurationRevision": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "$ref": "Configuration",
          "description": "The snapshot of the configuration"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the Revision was created"
        }
      },
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "id": "ConfigurationRevision",
      "type": "object"
    },
    "CustomerProfileContactInfo": {
      "id": "CustomerProfileContactInfo",
      "type": "object",
      "description": "Contact information for the customer profile.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "other": {
          "type": "string",
          "description": "The other contact information."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information."
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        }
      }
    },
    "FacetCount": {
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of records with the value.",
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "id": "FacetCount"
    },
    "InsiderThreatAlertDetail": {
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "AlertDocumentTranslation": {
      "properties": {
        "translatedTitle": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The translated title of the document."
        },
        "translatedContent": {
          "readOnly": true,
          "description": "Output only. The translated content of the document.",
          "type": "string"
        }
      },
      "description": "The translation of an alert document.",
      "id": "AlertDocumentTranslation",
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "description": "Contains details for a technology watchlist alert.",
      "type": "object",
      "id": "TargetTechnologyAlertDetail"
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest"
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "properties": {
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "facetCounts": {
          "type": "array",
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          }
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "totalCount": {
          "format": "int64",
          "description": "Total number of records that contain this facet with ANY value.",
          "type": "string"
        }
      },
      "id": "Facet"
    },
    "PriorityAnalysis": {
      "type": "object",
      "id": "PriorityAnalysis",
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "priorityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "description": "The level of Priority.",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ]
        }
      }
    },
    "VulnerabilityMatch": {
      "properties": {
        "exploitationVectors": {
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          }
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        },
        "disclosureTime": {
          "description": "Optional. The disclosure time of the vulnerability.",
          "type": "string",
          "format": "google-datetime"
        },
        "publicExploits": {
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          },
          "description": "Optional. List of public exploits."
        },
        "exploitationConsequences": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ],
            "type": "string"
          },
          "description": "Optional. List of exploitation consequences for the vulnerability."
        },
        "productFixes": {
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          }
        },
        "cvss3Score": {
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "type": "number",
          "format": "float"
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "epssScore": {
          "format": "float",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "type": "number"
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether a publicly available exploit exists."
        },
        "exploitationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ],
          "description": "Required. The exploitation state of the vulnerability."
        },
        "priority": {
          "type": "string",
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ]
        },
        "riskRating": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VulnerabilityMatch",
      "description": "Contains details about a vulnerability match."
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object"
    },
    "Evidence": {
      "type": "object",
      "description": "Details the evidence used to determine the relevance verdict.",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Evidence"
    },
    "CustomerProfileProduct": {
      "description": "Product information for the customer profile.",
      "properties": {
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        },
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileProduct",
      "type": "object"
    },
    "Audit": {
      "description": "Tracks basic CRUD facts.",
      "properties": {
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        },
        "updater": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of creation.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Audit"
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "properties": {
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        },
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      },
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object"
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "id": "Configuration",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "etag": {
          "type": "string",
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "description": "Optional. State of the configuration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "TargetTechnologyFindingDetail": {
      "properties": {
        "vulnerabilityMatch": {
          "$ref": "VulnerabilityMatch",
          "description": "Optional. The vulnerability match details."
        }
      },
      "id": "TargetTechnologyFindingDetail",
      "description": "Contains details for a technology watchlist finding.",
      "type": "object"
    },
    "MarkAlertAsNotActionableRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "properties": {}
    },
    "AlertDetail": {
      "properties": {
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerAlertDetail",
          "description": "Initial Access Broker alert detail type."
        }
      },
      "id": "AlertDetail",
      "type": "object",
      "description": "Container for different types of alert details."
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsBenign."
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile.",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\"."
        }
      }
    },
    "DataLeakFindingDetail": {
      "description": "A detail object for a Data Leak finding.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      },
      "id": "DataLeakFindingDetail",
      "type": "object"
    },
    "CustomerProfileLocation": {
      "id": "CustomerProfileLocation",
      "description": "Location information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Required. The address of the location."
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        }
      }
    },
    "PublicExploit": {
      "description": "Contains details about a public exploit.",
      "type": "object",
      "id": "PublicExploit",
      "properties": {
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "releaseTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The release time of the exploit."
        },
        "exploitGrade": {
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\".",
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ]
        },
        "exploitReliability": {
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "type": "string"
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the exploit."
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        }
      }
    },
    "CustomerProfileWebPresence": {
      "id": "CustomerProfileWebPresence",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Web presence information for the customer profile."
    },
    "TechnologyWatchListAlertThreshold": {
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting.",
      "properties": {
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ]
        },
        "cvssScoreMinimum": {
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "type": "number",
          "format": "float"
        },
        "epssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float"
        },
        "priorityMinimum": {
          "description": "Optional. The minimum priority for the alert.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string"
        },
        "exploitationStates": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "description": "Optional. The exploitation states of the alert."
        }
      },
      "type": "object",
      "id": "TechnologyWatchListAlertThreshold"
    },
    "Association": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        },
        "type": {
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ],
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association."
        }
      },
      "type": "object",
      "id": "Association",
      "description": "Represents an association with a vulnerability."
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "type": "object",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        },
        "relevanceLevel": {
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "description": "The level of relevance."
        }
      },
      "description": "Structured relevance analysis for a threat."
    },
    "ListAlertsResponse": {
      "type": "object",
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts.",
      "properties": {
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "List of alerts."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "SeverityAnalysis": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "description": "The level of severity.",
          "type": "string"
        }
      },
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat."
    },
    "CustomerProfileIndustry": {
      "id": "CustomerProfileIndustry",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        }
      },
      "description": "Industry information for the customer profile.",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "id": "SearchFindingsResponse",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Required. The domain of the organization to generate the profile for."
        }
      },
      "description": "Request message for GenerateOrgProfileConfiguration."
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object",
      "id": "LegacyMetadata",
      "properties": {
        "aggregationSimilarity": {
          "type": "number",
          "description": "Optional. Similarity threshold for aggregation.",
          "format": "double"
        },
        "displayName": {
          "description": "Optional. Name of the legacy monitor.",
          "type": "string"
        },
        "staleTime": {
          "format": "google-datetime",
          "description": "Optional. Time the legacy monitor was considered stale.",
          "type": "string"
        },
        "updaterUserId": {
          "type": "string",
          "description": "Optional. User ID who last updated the monitor."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Version of the monitor configuration."
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. ID of the tenant owning the monitor."
        },
        "templateId": {
          "type": "string",
          "description": "Optional. ID of the template this monitor was created from."
        },
        "disabledReason": {
          "description": "Optional. Reason why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "conditionVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Version of the condition schema."
        },
        "emailNotificationEnabled": {
          "description": "Optional. Whether email notifications are enabled.",
          "type": "boolean"
        },
        "aggregationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether aggregation is enabled for alerts from this monitor."
        },
        "description": {
          "description": "Optional. Description of the legacy monitor.",
          "type": "string"
        },
        "disabledCode": {
          "type": "string",
          "description": "Optional. Code indicating why the monitor is disabled (if applicable)."
        },
        "creatorUserId": {
          "type": "string",
          "description": "Optional. User ID who created the monitor."
        },
        "emailNotificationImmediate": {
          "type": "boolean",
          "description": "Optional. Whether email notifications are intermediate/immediate."
        },
        "legacyMonitorId": {
          "description": "Optional. Unique identifier of the legacy monitor.",
          "type": "string"
        }
      }
    },
    "InsiderThreatFindingDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A detail object for a InsiderThreat finding.",
      "id": "InsiderThreatFindingDetail"
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the company."
        },
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        }
      },
      "id": "CustomerProfileCompany"
    },
    "DocumentQuery": {
      "id": "DocumentQuery",
      "description": "Represents a query to match documents.",
      "type": "object",
      "properties": {
        "dataModel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ],
          "description": "Required. The data model to query against.",
          "type": "string"
        },
        "queryType": {
          "description": "Required. The type of query.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ]
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        }
      }
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "type": "object",
      "description": "Response message for UpsertConfiguration.",
      "properties": {
        "configuration": {
          "readOnly": true,
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string"
        }
      }
    },
    "Alert": {
      "id": "Alert",
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "readOnly": true,
          "type": "string"
        },
        "configurations": {
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "duplicatedBy": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "readOnly": true
        },
        "detail": {
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the alert.",
          "type": "string"
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true,
          "$ref": "RelevanceAnalysis"
        },
        "priorityAnalysis": {
          "$ref": "PriorityAnalysis",
          "readOnly": true,
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}"
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "description": "Output only. State of the alert.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "audit": {
          "$ref": "Audit",
          "readOnly": true,
          "description": "Output only. Audit information for the alert."
        }
      }
    },
    "CustomerProfileSummary": {
      "properties": {
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        },
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "brands": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of brands."
        },
        "headquarters": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The headquarters of the customer."
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "type": "object",
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "id": "CustomerProfileSummary"
    },
    "ListFindingsResponse": {
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "description": "Response message for ListFindings."
    },
    "FindingDetail": {
      "type": "object",
      "id": "FindingDetail",
      "properties": {
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyFindingDetail",
          "description": "Technology Watchlist finding detail type."
        }
      },
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes."
    },
    "CustomerProfileConfig": {
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "properties": {
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "securityConsiderations": {
          "$ref": "CustomerProfileSecurityConsiderations",
          "description": "Optional. Security considerations for the organization."
        },
        "citations": {
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array",
          "description": "Optional. Citations for the organization profile."
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "webPresences": {
          "type": "array",
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "parentCompanies": {
          "type": "array",
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          }
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array",
          "description": "Optional. Contact information for the organization."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        }
      },
      "id": "CustomerProfileConfig",
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "type": "object",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "InitialAccessBrokerFindingDetail": {
      "properties": {
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat."
        }
      },
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object",
      "id": "InitialAccessBrokerFindingDetail"
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "description": "Request message for MarkAlertAsRead.",
      "type": "object",
      "id": "MarkAlertAsReadRequest"
    },
    "GetPasswordResponse": {
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword.",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "The decrypted cleartext password for the compromised credential."
        }
      }
    },
    "ConfigurationDetail": {
      "type": "object",
      "properties": {
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        },
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        }
      },
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes."
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object",
      "properties": {
        "facets": {
          "items": {
            "$ref": "Facet"
          },
          "type": "array",
          "description": "List of facets and the counts."
        }
      }
    },
    "DomainMonitoringFeatureConfig": {
      "id": "DomainMonitoringFeatureConfig",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain.",
          "type": "boolean"
        }
      },
      "description": "Specific configuration for the Domain Monitoring feature."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      }
    },
    "ProductFix": {
      "id": "ProductFix",
      "properties": {
        "displayName": {
          "description": "Required. The name of the fix. Ex: \"Magento\".",
          "type": "string"
        },
        "sourceId": {
          "type": "string",
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\"."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "publishTime": {
          "type": "string",
          "description": "Optional. The published time of the fix.",
          "format": "google-datetime"
        }
      },
      "description": "Contains details about a product fix.",
      "type": "object"
    },
    "CustomThreatScenarioConfig": {
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "properties": {
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "type": "string",
          "readOnly": true
        },
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        },
        "documentQuery": {
          "description": "Optional. The query used to match documents.",
          "$ref": "DocumentQuery"
        },
        "legacyMonitorMetadata": {
          "description": "Optional. Legacy metadata associated with this scenario/monitor.",
          "$ref": "LegacyMetadata"
        }
      },
      "type": "object",
      "id": "CustomThreatScenarioConfig"
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations.",
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "Configuration"
          },
          "description": "List of configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    },
    "TechnologyWatchListConfig": {
      "id": "TechnologyWatchListConfig",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "properties": {
        "technologies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "type": "array"
        },
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        }
      },
      "type": "object"
    },
    "CustomerProfilePerson": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the person.",
          "type": "array"
        }
      },
      "description": "Person information for the customer profile.",
      "id": "CustomerProfilePerson",
      "type": "object"
    }
  },
  "canonicalName": "Threat Intelligence Service",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "title": "Threat Intelligence API",
  "version_module": true,
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "threatintelligence.googleapis.com API.",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "description": "Gets a specific document associated with an alert."
                }
              }
            }
          },
          "methods": {
            "benign": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.benign",
              "description": "Marks an alert as benign - BENIGN.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign"
            },
            "get": {
              "description": "Get an alert by name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "id": "threatintelligence.projects.alerts.get",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "description": "Get a list of alerts that meet the filter criteria.",
              "id": "threatintelligence.projects.alerts.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "path": "v1beta/{+parent}/alerts",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token to retrieve the next page of results."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page."
                }
              }
            },
            "falsePositive": {
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path"
                }
              }
            },
            "notActionable": {
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:notActionable",
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.notActionable"
            },
            "escalate": {
              "path": "v1beta/{+name}:escalate",
              "id": "threatintelligence.projects.alerts.escalate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as escalated - ESCALATED.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              }
            },
            "duplicate": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:duplicate",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "id": "threatintelligence.projects.alerts.duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE."
            },
            "getPassword": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}:getPassword",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the decrypted password of an alert.",
              "id": "threatintelligence.projects.alerts.getPassword"
            },
            "resolve": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.resolve",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "path": "v1beta/{+name}:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "description": "Marks an alert to closed state - RESOLVED.",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              }
            },
            "trackExternally": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "id": "threatintelligence.projects.alerts.trackExternally",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "path": "v1beta/{+name}:trackExternally"
            },
            "enumerateFacets": {
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Parent of the alerts."
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "triage": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.triage",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:triage",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "read": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "description": "Marks an alert as read - READ.",
              "id": "threatintelligence.projects.alerts.read",
              "path": "v1beta/{+name}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              }
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent of the findings.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.list",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}"
            },
            "search": {
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.findings.search",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "query": {
                  "location": "query",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
[...]
