{
  "revision": "20260830",
  "fullyEncodeReservedExpansion": true,
  "name": "threatintelligence",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a specific document associated with an alert.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "path": "v1beta/{+name}"
                }
              }
            }
          },
          "methods": {
            "duplicate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:duplicate",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.duplicate",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "threatintelligence.projects.alerts.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token to retrieve the next page of results."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "path": "v1beta/{+parent}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "benign": {
              "description": "Marks an alert as benign - BENIGN.",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1beta/{+name}:benign",
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.benign",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign"
            },
            "getPassword": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/{+name}:getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "httpMethod": "GET",
              "description": "Get the decrypted password of an alert.",
              "id": "threatintelligence.projects.alerts.getPassword",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword"
            },
            "notActionable": {
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "id": "threatintelligence.projects.alerts.notActionable",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:notActionable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable"
            },
            "trackExternally": {
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "path": "v1beta/{+name}:trackExternally",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path"
                }
              },
              "id": "threatintelligence.projects.alerts.trackExternally"
            },
            "resolve": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "path": "v1beta/{+name}:resolve",
              "id": "threatintelligence.projects.alerts.resolve"
            },
            "read": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "id": "threatintelligence.projects.alerts.read",
              "path": "v1beta/{+name}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as read - READ."
            },
            "escalate": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Marks an alert as escalated - ESCALATED.",
              "path": "v1beta/{+name}:escalate",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.escalate"
            },
            "get": {
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.get",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "description": "Get an alert by name.",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "falsePositive": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive"
            },
            "triage": {
              "path": "v1beta/{+name}:triage",
              "id": "threatintelligence.projects.alerts.triage",
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "enumerateFacets": {
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts.",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "description": "List configuration revisions that meet the filter criteria.",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "path": "v1beta/{+parent}/revisions",
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Page Size",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An AIP-160 filter string",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Configuration to retrieve Revisions for"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specify ordering of response"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "httpMethod": "GET",
              "id": "threatintelligence.projects.configurations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "description": "Get a list of configurations that meet the filter criteria.",
              "id": "threatintelligence.projects.configurations.list",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            },
            "upsert": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates or updates a configuration.",
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "path": "v1beta/{+parent}/configurations:upsert",
              "request": {
                "$ref": "Configuration"
              },
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "publishTime": {
                  "type": "string",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "format": "google-datetime"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.configurations.upsert"
            }
          }
        },
        "findings": {
          "methods": {
            "search": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "query": {
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "path": "v1beta/{+parent}/findings:search",
              "httpMethod": "GET",
              "id": "threatintelligence.projects.findings.search",
              "response": {
                "$ref": "SearchFindingsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Finding"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "id": "threatintelligence.projects.findings.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "description": "Required. Name of the finding to get.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/findings",
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the findings.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Page size."
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter criteria.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "id": "threatintelligence.projects.findings.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "description": "Triggers the generation of a Customer Profile for a project.",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta/{+name}:generateOrgProfile",
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "threatintelligence.projects.generateOrgProfile"
        }
      }
    }
  },
  "version": "v1beta",
  "canonicalName": "Threat Intelligence Service",
  "ownerName": "Google",
  "servicePath": "",
  "id": "threatintelligence:v1beta",
  "basePath": "",
  "version_module": true,
  "batchPath": "batch",
  "schemas": {
    "MarkAlertAsBenignRequest": {
      "properties": {},
      "description": "Request message for MarkAlertAsBenign.",
      "id": "MarkAlertAsBenignRequest",
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "type": "object",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "discoveryDocumentIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        }
      }
    },
    "CustomThreatScenarioConfig": {
      "type": "object",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "id": "CustomThreatScenarioConfig",
      "properties": {
        "documentCondition": {
          "type": "string",
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents."
        },
        "legacyMonitorMetadata": {
          "$ref": "LegacyMetadata",
          "readOnly": true,
          "description": "Output only. Legacy metadata associated with this scenario/monitor."
        },
        "compiledLuceneQuery": {
          "readOnly": true,
          "description": "Output only. The compiled Lucene query string.",
          "type": "string"
        },
        "documentQuery": {
          "description": "Optional. The query used to match documents.",
          "$ref": "DocumentQuery"
        }
      }
    },
    "CustomerProfileConfig": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "org": {
          "type": "string",
          "description": "Required. The name of the organization."
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "products": {
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "description": "Optional. Product information for the organization.",
          "type": "array"
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "contactInfo": {
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array",
          "description": "Optional. Contact information for the organization."
        },
        "citations": {
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array",
          "description": "Optional. Citations for the organization profile."
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "industries": {
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "type": "array",
          "description": "Optional. The industries the organization is involved in."
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "parentCompanies": {
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization.",
          "type": "array"
        }
      },
      "id": "CustomerProfileConfig",
      "type": "object",
      "description": "CustomerProfileConfig is the configuration for the customer profile."
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "description": "Response message for ListConfigurations.",
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "Configuration"
          },
          "description": "List of configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "ListConfigurationsResponse"
    },
    "ConfigurationDetail": {
      "type": "object",
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "properties": {
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        },
        "customThreatScenario": {
          "description": "Custom Threat Scenario detail config.",
          "$ref": "CustomThreatScenarioConfig"
        }
      }
    },
    "TechnologyWatchListAlertThreshold": {
      "type": "object",
      "properties": {
        "priorityMinimum": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The minimum priority for the alert.",
          "type": "string"
        },
        "epssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0]."
        },
        "riskRatingMinimum": {
          "description": "Optional. The minimum risk rating for the alert.",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "type": "string"
        },
        "cvssScoreMinimum": {
          "type": "number",
          "format": "float",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0]."
        },
        "exploitationStates": {
          "type": "array",
          "description": "Optional. The exploitation states of the alert.",
          "items": {
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ],
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "type": "string"
          }
        }
      },
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "MarkAlertAsResolvedRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsResolved.",
      "id": "MarkAlertAsResolvedRequest",
      "properties": {}
    },
    "ProductFix": {
      "id": "ProductFix",
      "type": "object",
      "description": "Contains details about a product fix.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "sourceId": {
          "type": "string",
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\"."
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Optional. The published time of the fix.",
          "type": "string"
        }
      }
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        }
      },
      "id": "InitialAccessBrokerFindingDetail"
    },
    "SearchFindingsResponse": {
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "description": "List of findings.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "type": "object",
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings."
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally."
    },
    "CustomerProfileContactInfo": {
      "properties": {
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        }
      },
      "id": "CustomerProfileContactInfo",
      "type": "object",
      "description": "Contact information for the customer profile."
    },
    "PublicExploit": {
      "type": "object",
      "description": "Contains details about a public exploit.",
      "id": "PublicExploit",
      "properties": {
        "releaseTime": {
          "type": "string",
          "description": "Optional. The release time of the exploit.",
          "format": "google-datetime"
        },
        "exploitName": {
          "type": "string",
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\"."
        },
        "uri": {
          "description": "Optional. The URI of the exploit.",
          "type": "string"
        },
        "exploitGrade": {
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\"."
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the exploit."
        },
        "exploitReliability": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ],
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ]
        }
      }
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "properties": {
        "configuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id."
        }
      },
      "type": "object",
      "description": "Response message for UpsertConfiguration."
    },
    "Alert": {
      "type": "object",
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "detail": {
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail"
        },
        "configurations": {
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "duplicateOf": {
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "externalId": {
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "description": "Output only. State of the alert.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the alert."
        },
        "findingCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of findings associated with this alert.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. A short title for the alert.",
          "type": "string"
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Findings that are covered by this alert.",
          "readOnly": true,
          "type": "array"
        },
        "duplicatedBy": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "readOnly": true
        },
        "priorityAnalysis": {
          "$ref": "PriorityAnalysis",
          "readOnly": true,
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert."
        }
      }
    },
    "ConfigurationRevision": {
      "type": "object",
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the Revision was created",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "snapshot": {
          "$ref": "Configuration",
          "description": "The snapshot of the configuration"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        }
      }
    },
    "SeverityAnalysis": {
      "type": "object",
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat.",
      "properties": {
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "description": "The level of severity.",
          "type": "string"
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string"
        }
      }
    },
    "DomainMonitoringFeatureConfig": {
      "properties": {
        "disabled": {
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain.",
          "type": "boolean"
        }
      },
      "description": "Specific configuration for the Domain Monitoring feature.",
      "type": "object",
      "id": "DomainMonitoringFeatureConfig"
    },
    "ListConfigurationRevisionsResponse": {
      "properties": {
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object",
      "id": "MarkAlertAsFalsePositiveRequest",
      "properties": {}
    },
    "MarkAlertAsReadRequest": {
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "description": "Request message for MarkAlertAsRead.",
      "type": "object"
    },
    "MarkAlertAsDuplicateRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsDuplicate.",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "id": "MarkAlertAsDuplicateRequest"
    },
    "Facet": {
      "properties": {
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          },
          "type": "array"
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of records that contain this facet with ANY value."
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Facet",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI."
    },
    "Association": {
      "type": "object",
      "id": "Association",
      "description": "Represents an association with a vulnerability.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "description": "Required. The type of the association.",
          "type": "string",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        }
      }
    },
    "GenerateOrgProfileConfigurationRequest": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "id": "GenerateOrgProfileConfigurationRequest"
    },
    "Audit": {
      "properties": {
        "creator": {
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "readOnly": true
        },
        "updater": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        },
        "updateTime": {
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time of creation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Tracks basic CRUD facts.",
      "type": "object",
      "id": "Audit"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "PriorityAnalysis": {
      "description": "Structured priority analysis for a threat.",
      "type": "object",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string"
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "priorityLevel": {
          "description": "The level of Priority.",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "type": "string"
        }
      },
      "id": "PriorityAnalysis"
    },
    "TechnologyWatchListConfig": {
      "properties": {
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        },
        "technologies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*",
          "type": "array"
        }
      },
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "id": "TechnologyWatchListConfig",
      "type": "object"
    },
    "InitialAccessBrokerAlertDetail": {
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "type": "object",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "id": "InitialAccessBrokerAlertDetail"
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "type": "object",
      "id": "InsiderThreatAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding",
      "type": "object",
      "properties": {
        "audit": {
          "$ref": "Audit",
          "readOnly": true,
          "description": "Output only. Audit data about the finding."
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "severity": {
          "deprecated": true,
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "type": "number"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "reoccurrenceTimes": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "severityAnalysis": {
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "description": "Required. Logical source of this finding (name of the sub-engine)."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "readOnly": true,
          "$ref": "RelevanceAnalysis"
        }
      }
    },
    "DomainConfiguration": {
      "type": "object",
      "id": "DomainConfiguration",
      "properties": {
        "domainSettings": {
          "description": "Optional. A list of settings for individual domains.",
          "type": "array",
          "items": {
            "$ref": "DomainSetting"
          }
        }
      },
      "description": "Configuration holding settings for one or more monitored domains."
    },
    "AlertDocumentTranslation": {
      "id": "AlertDocumentTranslation",
      "properties": {
        "translatedTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated title of the document."
        },
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        }
      },
      "description": "The translation of an alert document.",
      "type": "object"
    },
    "CustomerProfileLocation": {
      "description": "Location information for the customer profile.",
      "id": "CustomerProfileLocation",
      "properties": {
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        },
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Evidence": {
      "description": "Details the evidence used to determine the relevance verdict.",
      "id": "Evidence",
      "properties": {
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array"
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "description": "Response message for ListFindings.",
      "id": "ListFindingsResponse"
    },
    "AlertDocument": {
      "properties": {
        "aiSummary": {
          "description": "Output only. AI summary of the document.",
          "type": "string",
          "readOnly": true
        },
        "ingestTime": {
          "type": "string",
          "description": "Output only. Time when GTI received the intel.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "title": {
          "readOnly": true,
          "description": "Output only. The title of the document, if available.",
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "collectionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "type": "string",
          "readOnly": true
        },
        "sourceUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the intel was last updated by the source."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "source": {
          "readOnly": true,
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "type": "string"
        },
        "translation": {
          "readOnly": true,
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation"
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The author of the document."
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "type": "string"
        }
      },
      "description": "A document that is associated with an alert.",
      "id": "AlertDocument",
      "type": "object"
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsTriagedRequest"
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "description": "Security considerations for the customer profile.",
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "MarkAlertAsEscalatedRequest": {
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object"
    },
    "ListAlertsResponse": {
      "type": "object",
      "description": "Response message for ListAlerts.",
      "id": "ListAlertsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "alerts": {
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        }
      }
    },
    "FindingDetail": {
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "id": "FindingDetail",
      "properties": {
        "targetTechnology": {
          "description": "Technology Watchlist finding detail type.",
          "$ref": "TargetTechnologyFindingDetail"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object",
      "id": "LegacyMetadata",
      "properties": {
        "creatorUserId": {
          "description": "Output only. User ID who created the monitor.",
          "type": "string",
          "readOnly": true
        },
        "legacyMonitorId": {
          "description": "Output only. Unique identifier of the legacy monitor.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Version of the monitor configuration.",
          "format": "int32"
        },
        "tenantId": {
          "readOnly": true,
          "description": "Output only. ID of the tenant owning the monitor.",
          "type": "string"
        },
        "emailNotificationEnabled": {
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "type": "boolean",
          "deprecated": true,
          "readOnly": true
        },
        "aggregationSimilarity": {
          "description": "Output only. Similarity threshold for aggregation.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "updaterUserId": {
          "description": "Output only. User ID who last updated the monitor.",
          "readOnly": true,
          "type": "string"
        },
        "templateId": {
          "readOnly": true,
          "description": "Output only. ID of the template this monitor was created from.",
          "type": "string"
        },
        "emailNotificationImmediate": {
          "deprecated": true,
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the legacy monitor.",
          "type": "string"
        },
        "disabledCode": {
          "readOnly": true,
          "description": "Output only. Code indicating why the monitor is disabled (if applicable).",
          "type": "string"
        },
        "aggregationEnabled": {
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor.",
          "type": "boolean",
          "readOnly": true
        },
        "conditionVersion": {
          "format": "int32",
          "description": "Output only. Version of the condition schema.",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the legacy monitor."
        },
        "staleTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the legacy monitor was considered stale."
        },
        "disabledReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reason why the monitor is disabled (if applicable)."
        }
      }
    },
    "AlertDetail": {
      "type": "object",
      "properties": {
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "targetTechnology": {
          "description": "Technology Watchlist alert detail type.",
          "$ref": "TargetTechnologyAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        }
      },
      "id": "AlertDetail",
      "description": "Container for different types of alert details."
    },
    "VulnerabilityMatch": {
      "id": "VulnerabilityMatch",
      "properties": {
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "publiclyAvailableExploit": {
          "readOnly": true,
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean"
        },
        "cveId": {
          "type": "string",
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information."
        },
        "cvss3Score": {
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float"
        },
        "exploitationVectors": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          },
          "description": "Optional. List of exploitation vectors for the vulnerability.",
          "type": "array"
        },
        "exploitationState": {
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "type": "string",
          "description": "Required. The exploitation state of the vulnerability.",
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        },
        "exploitationConsequences": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          },
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array"
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disclosureTime": {
          "description": "Optional. The disclosure time of the vulnerability.",
          "format": "google-datetime",
          "type": "string"
        },
        "productFixes": {
          "type": "array",
          "items": {
            "$ref": "ProductFix"
          },
          "description": "Optional. List of product fixes for the vulnerability."
        },
        "epssScore": {
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float",
          "type": "number"
        },
        "publicExploits": {
          "type": "array",
          "description": "Optional. List of public exploits.",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "priority": {
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "matchedTechnologies": {
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "riskRating": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "associations": {
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting.",
          "items": {
            "$ref": "Association"
          },
          "type": "array"
        }
      },
      "description": "Contains details about a vulnerability match.",
      "type": "object"
    },
    "GetPasswordResponse": {
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The decrypted cleartext password for the compromised credential."
        }
      },
      "type": "object"
    },
    "CustomerProfilePerson": {
      "type": "object",
      "description": "Person information for the customer profile.",
      "properties": {
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        }
      },
      "id": "CustomerProfilePerson"
    },
    "Configuration": {
      "id": "Configuration",
      "properties": {
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "readOnly": true,
          "$ref": "Audit"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "description": "Optional. State of the configuration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "CustomerProfileCitation": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "type": "string",
          "format": "google-datetime"
        },
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        }
      },
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile."
    },
    "DomainSetting": {
      "type": "object",
      "id": "DomainSetting",
      "description": "Feature settings and toggles for a single specific domain.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name to match against."
        },
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ],
          "description": "Output only. The verification state of the domain."
        }
      }
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "description": "A string with citation ids.",
      "id": "CustomerProfileCitedString",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        }
      }
    },
    "DocumentQuery": {
      "type": "object",
      "description": "Represents a query to match documents.",
      "properties": {
        "dataModel": {
          "type": "string",
          "description": "Required. The data model to query against.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ]
        },
        "queryType": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "description": "Required. The type of query.",
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ]
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        }
      },
      "id": "DocumentQuery"
    },
    "CustomerProfileIndustry": {
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileIndustry",
      "type": "object",
      "description": "Industry information for the customer profile."
    },
[...]
