{
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "canonicalName": "Threat Intelligence Service",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "threatintelligence.googleapis.com API.",
  "version": "v1beta",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "threatintelligence:v1beta",
  "title": "Threat Intelligence API",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    }
  ],
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "revision": "20260830",
  "schemas": {
    "MarkAlertAsDuplicateRequest": {
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      },
      "id": "MarkAlertAsDuplicateRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsDuplicate."
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsTriaged.",
      "properties": {},
      "id": "MarkAlertAsTriagedRequest"
    },
    "Configuration": {
      "id": "Configuration",
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "type": "object",
      "properties": {
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration."
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "If included when updating a configuration, this should be set to the current etag of the configuration. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        }
      }
    },
    "DomainSetting": {
      "id": "DomainSetting",
      "description": "Feature settings and toggles for a single specific domain.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain name to match against.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "description": "Output only. The verification state of the domain.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Verification is pending. The customer needs to add the TXT record.",
            "Verification succeeded."
          ]
        },
        "domainMonitoringConfig": {
          "description": "Optional. If not present, Domain Monitoring is enabled.",
          "$ref": "DomainMonitoringFeatureConfig"
        }
      }
    },
    "DocumentQuery": {
      "description": "Represents a query to match documents.",
      "type": "object",
      "id": "DocumentQuery",
      "properties": {
        "dataModel": {
          "description": "Required. The data model to query against.",
          "enum": [
            "DATA_MODEL_UNSPECIFIED",
            "DATA_MODEL_GTI"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "GTI data model."
          ],
          "type": "string"
        },
        "query": {
          "description": "Required. The query string.",
          "type": "string"
        },
        "queryType": {
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_LUCENE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Lucene query type."
          ],
          "description": "Required. The type of query."
        }
      }
    },
    "MarkAlertAsBenignRequest": {
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "id": "MarkAlertAsBenignRequest",
      "properties": {}
    },
    "CustomerProfileLocation": {
      "properties": {
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Required. The brand of the location."
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileLocation",
      "description": "Location information for the customer profile.",
      "type": "object"
    },
    "MarkAlertAsFalsePositiveRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "id": "MarkAlertAsFalsePositiveRequest"
    },
    "UpsertConfigurationResponse": {
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration.",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "items": {
            "$ref": "Finding"
          },
          "description": "List of findings."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings."
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "id": "MarkAlertAsTrackedExternallyRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for MarkAlertAsTrackedExternally."
    },
    "ConfigurationRevision": {
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "id": "ConfigurationRevision",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        }
      }
    },
    "EnumerateAlertFacetsResponse": {
      "description": "Response message for EnumerateAlertFacets.",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnumerateAlertFacetsResponse"
    },
    "Evidence": {
      "id": "Evidence",
      "properties": {
        "commonThemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict."
        },
        "distinctThemes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        }
      },
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "configurations": {
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListConfigurations.",
      "id": "ListConfigurationsResponse",
      "type": "object"
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile.",
      "properties": {
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "retrievalTime": {
          "format": "google-datetime",
          "description": "The time the citation was retrieved.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TargetTechnologyAlertDetail": {
      "description": "Contains details for a technology watchlist alert.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      },
      "id": "TargetTechnologyAlertDetail",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object"
    },
    "CustomerProfileIndustry": {
      "id": "CustomerProfileIndustry",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The citation ids for the industry."
        }
      },
      "description": "Industry information for the customer profile.",
      "type": "object"
    },
    "DomainMonitoringFeatureConfig": {
      "id": "DomainMonitoringFeatureConfig",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the Domain Monitoring feature is disabled for the domain."
        }
      },
      "description": "Specific configuration for the Domain Monitoring feature.",
      "type": "object"
    },
    "CustomThreatScenarioConfig": {
      "type": "object",
      "id": "CustomThreatScenarioConfig",
      "description": "CustomThreatScenarioConfig represents a user-defined threat scenario configuration.",
      "properties": {
        "documentQuery": {
          "description": "Optional. The query used to match documents.",
          "$ref": "DocumentQuery"
        },
        "documentCondition": {
          "description": "Required. The condition driving the scenario, stored as a stringified JSON. This is used to query/filter documents.",
          "type": "string"
        },
        "legacyMonitorMetadata": {
          "readOnly": true,
          "$ref": "LegacyMetadata",
          "description": "Output only. Legacy metadata associated with this scenario/monitor."
        },
        "compiledLuceneQuery": {
          "description": "Output only. The compiled Lucene query string.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProductFix": {
      "description": "Contains details about a product fix.",
      "id": "ProductFix",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The name of the fix. Ex: \"Magento\"."
        },
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The published time of the fix."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the fix."
        },
        "sourceId": {
          "description": "Required. The source ID of the fix. Ex: \"APPSEC-1420\".",
          "type": "string"
        }
      }
    },
    "GetPasswordResponse": {
      "properties": {
        "password": {
          "description": "The decrypted cleartext password for the compromised credential.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GetPasswordResponse",
      "description": "Response message for GetPassword."
    },
    "Audit": {
      "id": "Audit",
      "description": "Tracks basic CRUD facts.",
      "properties": {
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        },
        "updater": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time of creation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "type": "object",
      "description": "A document that is associated with an alert.",
      "properties": {
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "sourceUpdateTime": {
          "readOnly": true,
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "type": "string"
        },
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "author": {
          "description": "Output only. The author of the document.",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "description": "Output only. The content of the document.",
          "readOnly": true,
          "type": "string"
        },
        "translation": {
          "$ref": "AlertDocumentTranslation",
          "description": "Output only. The translation of the document, if available.",
          "readOnly": true
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "type": "string",
          "readOnly": true
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The language code of the document.",
          "type": "string"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "aiSummary": {
          "type": "string",
          "description": "Output only. AI summary of the document.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of the original external publication of the document.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        }
      }
    },
    "FindingDetail": {
      "type": "object",
      "id": "FindingDetail",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "properties": {
        "targetTechnology": {
          "$ref": "TargetTechnologyFindingDetail",
          "description": "Technology Watchlist finding detail type."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "initialAccessBroker": {
          "$ref": "InitialAccessBrokerFindingDetail",
          "description": "Initial Access Broker finding detail type."
        },
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        }
      }
    },
    "CustomerProfileConfig": {
      "type": "object",
      "id": "CustomerProfileConfig",
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "properties": {
        "industries": {
          "description": "Optional. The industries the organization is involved in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "webPresences": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "description": "Optional. Web presence of the organization."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "executives": {
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "description": "Optional. Executives of the organization.",
          "type": "array"
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "contactInfo": {
          "type": "array",
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "summary": {
          "$ref": "CustomerProfileSummary",
          "description": "Optional. A summarized version of the customer profile."
        },
        "citations": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "description": "Optional. Citations for the organization profile."
        },
        "org": {
          "type": "string",
          "description": "Required. The name of the organization."
        }
      }
    },
    "ListConfigurationRevisionsResponse": {
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CustomerProfileContactInfo": {
      "id": "CustomerProfileContactInfo",
      "description": "Contact information for the customer profile.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information."
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "description": "Captures the specific details of InsiderThreat alert.",
      "id": "InsiderThreatAlertDetail",
      "type": "object",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Insider Threat alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      }
    },
    "LegacyMetadata": {
      "description": "Legacy metadata associated with this scenario/monitor.",
      "type": "object",
      "id": "LegacyMetadata",
      "properties": {
        "disabledCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Code indicating why the monitor is disabled (if applicable)."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the legacy monitor."
        },
        "legacyMonitorId": {
          "type": "string",
          "description": "Output only. Unique identifier of the legacy monitor.",
          "readOnly": true
        },
        "emailNotificationEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Whether email notifications are enabled. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true
        },
        "version": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Version of the monitor configuration.",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the legacy monitor."
        },
        "creatorUserId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User ID who created the monitor."
        },
        "staleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the legacy monitor was considered stale.",
          "readOnly": true
        },
        "aggregationEnabled": {
          "type": "boolean",
          "description": "Output only. Whether aggregation is enabled for alerts from this monitor.",
          "readOnly": true
        },
        "emailNotificationImmediate": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Whether email notifications are intermediate/immediate. This field will not be used as email notifications are handled through the GTI Mail Hub.",
          "deprecated": true
        },
        "aggregationSimilarity": {
          "description": "Output only. Similarity threshold for aggregation.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "tenantId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the tenant owning the monitor."
        },
        "updaterUserId": {
          "type": "string",
          "description": "Output only. User ID who last updated the monitor.",
          "readOnly": true
        },
        "templateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the template this monitor was created from."
        },
        "conditionVersion": {
          "format": "int32",
          "description": "Output only. Version of the condition schema.",
          "type": "integer",
          "readOnly": true
        },
        "disabledReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason why the monitor is disabled (if applicable)."
        }
      }
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "type": "object",
      "description": "Container for different types of alert details.",
      "properties": {
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "targetTechnology": {
          "$ref": "TargetTechnologyAlertDetail",
          "description": "Technology Watchlist alert detail type."
        }
      }
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "properties": {
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of records that contain this facet with ANY value."
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        },
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "maxValue": {
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value.",
          "type": "string"
        },
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          },
          "type": "array"
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        }
      },
      "id": "Facet",
      "type": "object"
    },
    "MarkAlertAsResolvedRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsResolved.",
      "properties": {},
      "id": "MarkAlertAsResolvedRequest"
    },
    "Alert": {
      "id": "Alert",
      "properties": {
        "configurations": {
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "duplicateOf": {
          "readOnly": true,
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "externalId": {
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "type": "string",
          "description": "Output only. State of the alert.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "readOnly": true
        },
        "findings": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Findings that are covered by this alert.",
          "type": "array"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the alert."
        },
        "etag": {
          "type": "string",
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "findingCount": {
          "readOnly": true,
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "type": "string"
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "duplicatedBy": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "items": {
            "type": "string"
          }
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "readOnly": true,
          "$ref": "PriorityAnalysis"
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "type": "string",
          "readOnly": true
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "MarkAlertAsReadRequest": {
      "description": "Request message for MarkAlertAsRead.",
      "id": "MarkAlertAsReadRequest",
      "properties": {},
      "type": "object"
    },
    "TechnologyWatchListAlertThreshold": {
      "properties": {
        "cvssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum CVSS score for the alert. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Ex: 7.0. Valid range is [0.0, 10.0].",
          "format": "float"
        },
        "epssScoreMinimum": {
          "type": "number",
          "description": "Optional. The minimum epss score for the alert. Ex: 0.8. Valid range is [0.0, 1.0].",
          "format": "float"
        },
        "riskRatingMinimum": {
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ],
          "description": "Optional. The minimum risk rating for the alert.",
          "type": "string"
        },
        "priorityMinimum": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "description": "Optional. The minimum priority for the alert.",
          "type": "string"
        },
        "exploitationStates": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation state.",
              "No known exploitation.",
              "Exploitation has been reported.",
              "Exploitation is suspected.",
              "Exploitation is confirmed.",
              "Widespread exploitation."
            ],
            "enum": [
              "EXPLOITATION_STATE_UNSPECIFIED",
              "EXPLOITATION_STATE_NO_KNOWN",
              "EXPLOITATION_STATE_REPORTED",
              "EXPLOITATION_STATE_SUSPECTED",
              "EXPLOITATION_STATE_CONFIRMED",
              "EXPLOITATION_STATE_WIDESPREAD"
            ]
          },
          "description": "Optional. The exploitation states of the alert.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TechnologyWatchListAlertThreshold",
      "description": "TechnologyWatchListAlertThreshold contains the thresholds for alerting."
    },
    "CustomerProfileCitedString": {
      "description": "A string with citation ids.",
      "id": "CustomerProfileCitedString",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the string.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "description": "Response message for ListFindings.",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "List of findings."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    },
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "List of alerts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts."
    },
    "Association": {
      "id": "Association",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID of the association."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified object type.",
            "Threat actor object type.",
            "Malware object type.",
            "Report object type.",
            "Campaign object type.",
            "IoC Collection object type.",
            "Software and toolkits object type.",
            "Vulnerability object type."
          ],
          "type": "string",
          "description": "Required. The type of the association.",
          "enum": [
            "THREAT_INTEL_OBJECT_TYPE_UNSPECIFIED",
            "THREAT_INTEL_OBJECT_TYPE_THREAT_ACTOR",
            "THREAT_INTEL_OBJECT_TYPE_MALWARE",
            "THREAT_INTEL_OBJECT_TYPE_REPORT",
            "THREAT_INTEL_OBJECT_TYPE_CAMPAIGN",
            "THREAT_INTEL_OBJECT_TYPE_IOC_COLLECTION",
            "THREAT_INTEL_OBJECT_TYPE_SOFTWARE_AND_TOOLKITS",
            "THREAT_INTEL_OBJECT_TYPE_VULNERABILITY"
          ]
        }
      },
      "description": "Represents an association with a vulnerability.",
      "type": "object"
    },
    "DataLeakFindingDetail": {
      "description": "A detail object for a Data Leak finding.",
      "id": "DataLeakFindingDetail",
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      },
      "type": "object"
    },
    "VulnerabilityMatch": {
      "properties": {
        "description": {
          "description": "Required. A description of the vulnerability.",
          "type": "string"
        },
        "cvss3Score": {
          "type": "number",
          "description": "Required. The CVSS score of the vulnerability. Evaluates to CVSS v3 when available with a fallback to v2 and v4. Example: 6.4.",
          "format": "float"
        },
        "collectionId": {
          "description": "Required. The collection ID of the vulnerability. Ex: \"vulnerability--cve-2025-9876\".",
          "type": "string"
        },
        "exploitationConsequences": {
          "description": "Optional. List of exploitation consequences for the vulnerability.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified exploitation consequence.",
              "Code execution consequence.",
              "Command execution consequence.",
              "Data loss consequence.",
              "Data manipulation consequence.",
              "Denial-of-Service consequence.",
              "Information disclosure consequence.",
              "Unauthorized access consequence.",
              "Privilege escalation consequence.",
              "Sandbox escape consequence.",
              "Security bypass consequence.",
              "Container escape consequence.",
              "Spoofing consequence."
            ],
            "enum": [
              "EXPLOITATION_CONSEQUENCE_UNSPECIFIED",
              "CODE_EXECUTION",
              "COMMAND_EXECUTION",
              "DATA_LOSS",
              "DATA_MANIPULATION",
              "DENIAL_OF_SERVICE",
              "INFORMATION_DISCLOSURE",
              "UNAUTHORIZED_ACCESS",
              "PRIVILEGE_ESCALATION",
              "SANDBOX_ESCAPE",
              "SECURITY_BYPASS",
              "CONTAINER_ESCAPE",
              "SPOOFING"
            ]
          }
        },
        "matchedTechnologies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The specific technologies from the configured watchlist that triggered the match. Ex: \"Apache Struts\"."
        },
        "technologies": {
          "description": "Required. All technologies affected by the vulnerability. Ex: \"Apache Struts\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publicExploits": {
          "description": "Optional. List of public exploits.",
          "type": "array",
          "items": {
            "$ref": "PublicExploit"
          }
        },
        "epssScore": {
          "type": "number",
          "description": "Optional. The EPSS score, representing the probability of exploitation. Example: 0.87.",
          "format": "float"
        },
        "productFixes": {
          "items": {
            "$ref": "ProductFix"
          },
          "description": "Optional. List of product fixes for the vulnerability.",
          "type": "array"
        },
        "disclosureTime": {
          "description": "Optional. The disclosure time of the vulnerability.",
          "type": "string",
          "format": "google-datetime"
        },
        "priority": {
          "enumDescriptions": [
            "Unspecified priority.",
            "Priority level 0.",
            "Priority level 1.",
            "Priority level 2.",
            "Priority level 3.",
            "Priority level 4."
          ],
          "type": "string",
          "description": "Optional. The priority level of the vulnerability data. Ex: \"P1\".",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ]
        },
        "associations": {
          "items": {
            "$ref": "Association"
          },
          "type": "array",
          "description": "Optional. Associated threat actors, malware, etc. This is embedded as a snapshot because the details of the association at the time of the vulnerability match are important for context and reporting."
        },
        "exploitationVectors": {
          "items": {
            "enumDescriptions": [
              "Unspecified exploitation vector.",
              "Administrative interface vector.",
              "Bluetooth access vector.",
              "Browser vector.",
              "Compromised communication channel vector.",
              "Email vector.",
              "Exposed web application vector.",
              "Local network access vector.",
              "Malicious application vector.",
              "Malicious file vector.",
              "Malicious server vector.",
              "Open port vector.",
              "Physical access vector.",
              "Short range radio vector.",
              "Unspecified local vector.",
              "Unspecified remote vector.",
              "VPN access vector.",
              "WiFi access vector."
            ],
            "type": "string",
            "enum": [
              "EXPLOITATION_VECTOR_UNSPECIFIED",
              "ADMINISTRATIVE_INTERFACE",
              "BLUETOOTH_ACCESS",
              "BROWSER",
              "COMPROMISED_COMMUNICATION_CHANNEL",
              "EMAIL",
              "EXPOSED_WEB_APPLICATION",
              "LOCAL_NETWORK_ACCESS",
              "MALICIOUS_APPLICATION",
              "MALICIOUS_FILE",
              "MALICIOUS_SERVER",
              "OPEN_PORT",
              "PHYSICAL_ACCESS",
              "SHORT_RANGE_RADIO",
              "UNSPECIFIED_LOCAL_VECTOR",
              "UNSPECIFIED_REMOTE_VECTOR",
              "VPN_ACCESS",
              "WIFI_ACCESS"
            ]
          },
          "type": "array",
          "description": "Optional. List of exploitation vectors for the vulnerability."
        },
        "riskRating": {
          "description": "Required. The risk rating of the vulnerability.",
          "type": "string",
          "enum": [
            "RISK_RATING_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL",
            "UNRATED"
          ],
          "enumDescriptions": [
            "Unspecified risk rating. This is the default value when the risk rating is not set.",
            "Low risk rating.",
            "Medium risk rating.",
            "High risk rating.",
            "Critical risk rating.",
            "The vulnerability has been assessed, but a specific risk rating could not be determined or assigned."
          ]
        },
        "publiclyAvailableExploit": {
          "description": "Output only. Whether a publicly available exploit exists.",
          "type": "boolean",
          "readOnly": true
        },
        "cveId": {
          "description": "Required. The CVE ID of the vulnerability. Ex: \"CVE-2025-9876\". See https://www.cve.org/ for more information.",
          "type": "string"
        },
        "exploitationState": {
          "description": "Required. The exploitation state of the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exploitation state.",
            "No known exploitation.",
            "Exploitation has been reported.",
            "Exploitation is suspected.",
            "Exploitation is confirmed.",
            "Widespread exploitation."
          ],
          "enum": [
            "EXPLOITATION_STATE_UNSPECIFIED",
            "EXPLOITATION_STATE_NO_KNOWN",
            "EXPLOITATION_STATE_REPORTED",
            "EXPLOITATION_STATE_SUSPECTED",
            "EXPLOITATION_STATE_CONFIRMED",
            "EXPLOITATION_STATE_WIDESPREAD"
          ]
        }
      },
      "type": "object",
      "description": "Contains details about a vulnerability match.",
      "id": "VulnerabilityMatch"
    },
    "InitialAccessBrokerFindingDetail": {
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "id": "InitialAccessBrokerFindingDetail",
      "type": "object",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AlertDocumentTranslation": {
      "description": "The translation of an alert document.",
      "properties": {
        "translatedTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated title of the document."
        },
        "translatedContent": {
          "type": "string",
          "description": "Output only. The translated content of the document.",
          "readOnly": true
        }
      },
      "id": "AlertDocumentTranslation",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "FacetCount": {
      "type": "object",
      "description": "FacetCount represents a count of records with each facet value.",
      "properties": {
        "count": {
          "description": "Count of records with the value.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "id": "FacetCount"
    },
    "DataLeakAlertDetail": {
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "Required. The severity of the Data Leak alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`"
        }
      },
      "id": "DataLeakAlertDetail",
      "type": "object"
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "description": "Structured relevance analysis for a threat.",
      "type": "object",
      "properties": {
        "confidence": {
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string"
        },
        "relevant": {
          "type": "boolean",
          "description": "Indicates whether the threat is considered relevant."
        },
        "relevanceLevel": {
          "type": "string",
          "description": "The level of relevance.",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "evidence": {
          "$ref": "Evidence",
          "description": "Evidence supporting the verdict, including matched and unmatched items."
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "properties": {},
      "type": "object"
    },
    "CustomerProfilePerson": {
      "id": "CustomerProfilePerson",
      "properties": {
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        }
      },
      "description": "Person information for the customer profile.",
      "type": "object"
    },
    "InsiderThreatFindingDetail": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string"
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      },
      "id": "InsiderThreatFindingDetail",
      "type": "object",
      "description": "A detail object for a InsiderThreat finding."
    },
    "CustomerProfileWebPresence": {
      "id": "CustomerProfileWebPresence",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the web presence."
        }
      },
      "description": "Web presence information for the customer profile."
    },
    "ConfigurationDetail": {
      "properties": {
        "detailType": {
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true
        },
        "domainConfiguration": {
          "description": "Domain Configuration detail config.",
          "$ref": "DomainConfiguration"
        },
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        },
        "customThreatScenario": {
          "$ref": "CustomThreatScenarioConfig",
          "description": "Custom Threat Scenario detail config."
        },
        "technologyWatchlist": {
          "$ref": "TechnologyWatchListConfig",
          "description": "Technology Watchlist detail config."
        }
      },
      "id": "ConfigurationDetail",
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes."
    },
    "CustomerProfileSummary": {
      "id": "CustomerProfileSummary",
      "type": "object",
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "properties": {
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The entity type of the customer."
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The parent company of the customer."
        },
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        }
      }
    },
    "CustomerProfileProduct": {
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the product."
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        }
      },
      "type": "object",
      "description": "Product information for the customer profile.",
      "id": "CustomerProfileProduct"
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "type": "object",
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "priorityLevel": {
          "description": "The level of Priority.",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "type": "string"
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        }
      }
    },
    "CustomerProfileCompany": {
      "description": "Company information for the customer profile.",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the company.",
          "type": "array"
        }
      },
      "id": "CustomerProfileCompany",
      "type": "object"
    },
    "GenerateOrgProfileConfigurationRequest": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        },
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration."
    },
    "TargetTechnologyFindingDetail": {
      "type": "object",
      "id": "TargetTechnologyFindingDetail",
      "description": "Contains details for a technology watchlist finding.",
      "properties": {
        "vulnerabilityMatch": {
          "description": "Optional. The vulnerability match details.",
          "$ref": "VulnerabilityMatch"
        }
      }
    },
    "DomainConfiguration": {
      "id": "DomainConfiguration",
      "properties": {
        "domainSettings": {
          "description": "Optional. A list of settings for individual domains.",
          "items": {
            "$ref": "DomainSetting"
          },
          "type": "array"
        }
      },
      "description": "Configuration holding settings for one or more monitored domains.",
      "type": "object"
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "note": {
          "description": "Optional. A note about the security considerations.",
          "type": "string"
        },
        "considerations": {
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Security considerations for the customer profile."
    },
    "PublicExploit": {
      "type": "object",
      "id": "PublicExploit",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the exploit."
        },
        "exploitName": {
          "description": "Required. The name of the exploit. Ex: \"Magentounauth.php.txt\".",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the exploit."
        },
        "exploitGrade": {
          "enumDescriptions": [
            "Unspecified exploit grade.",
            "Unevaluated exploit grade.",
            "Proof-of-concept exploit grade.",
            "Non-weaponized exploit grade.",
            "Weaponized exploit grade.",
            "Scanner exploit grade.",
            "Fake exploit grade."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_GRADE_UNSPECIFIED",
            "UNEVALUATED",
            "PROOF_OF_CONCEPT",
            "NON_WEAPONIZED",
            "WEAPONIZED",
            "SCANNER",
            "FAKE"
          ],
          "description": "Optional. The grade of the exploit. Ex: \"non-weaponized\"."
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The release time of the exploit."
        },
        "exploitReliability": {
          "type": "string",
          "description": "Optional. The reliability of the exploit. Ex: \"Unreviewed\".",
          "enum": [
            "EXPLOIT_RELIABILITY_UNSPECIFIED",
            "UNREVIEWED",
            "REVIEWED",
            "TESTED"
          ],
          "enumDescriptions": [
            "Unspecified exploit reliability.",
            "Confirmed exploit reliability.",
            "Uncorroborated exploit reliability.",
            "Unconfirmed exploit reliability."
          ]
        }
      },
      "description": "Contains details about a public exploit."
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "id": "MarkAlertAsEscalatedRequest",
      "type": "object",
      "properties": {}
    },
    "InitialAccessBrokerAlertDetail": {
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "id": "InitialAccessBrokerAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. The severity of the Initial Access Broker (IAB) alert. Allowed values are: * `LOW` * `MEDIUM` * `HIGH` * `CRITICAL`",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat.",
      "properties": {
        "severityLevel": {
          "description": "The level of severity.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string"
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity."
        },
        "confidence": {
          "type": "string",
          "description": "The level of confidence in the given verdict.",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        }
      },
      "type": "object"
    },
    "TechnologyWatchListConfig": {
      "properties": {
        "technologies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of vendor, technology or cpe fingerprint. example: Microsoft office 360 Apache Server 3.5 cpe:2.3:a:microsoft:outlook:*:*:*:*:*:*:*:*"
        },
        "alertThreshold": {
          "description": "Optional. Alert thresholds to effectively reduce noise.",
          "$ref": "TechnologyWatchListAlertThreshold"
        }
      },
      "type": "object",
      "description": "TechnologyWatchListConfig is the configuration for the technology watchlist.",
      "id": "TechnologyWatchListConfig"
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "id": "Finding",
      "type": "object",
      "properties": {
        "detail": {
          "$ref": "FindingDetail",
          "description": "Required. Holder of the domain specific details of the finding."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "deprecated": true,
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "relevanceAnalysis": {
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Logical source of this finding (name of the sub-engine)."
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit",
          "readOnly": true
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "reoccurrenceTimes": {
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "type": "array",
          "readOnly": true
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "version_module": true,
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "name": "threatintelligence",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$"
                    }
                  },
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a specific document associated with an alert.",
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}"
                }
              }
            }
          },
          "methods": {
            "resolve": {
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "description": "Marks an alert to closed state - RESOLVED.",
              "id": "threatintelligence.projects.alerts.resolve",
              "path": "v1beta/{+name}:resolve",
              "httpMethod": "POST"
            },
            "duplicate": {
              "parameterOrder": [
                "name"
              ],
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "httpMethod": "POST",
              "path": "v1beta/{+name}:duplicate",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}"
                }
              },
              "id": "threatintelligence.projects.alerts.duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "enumerateFacets": {
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "path": "v1beta/{+parent}/alerts:enumerateFacets"
            },
            "falsePositive": {
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "path": "v1beta/{+name}:falsePositive",
              "id": "threatintelligence.projects.alerts.falsePositive"
            },
            "benign": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.benign",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as benign - BENIGN.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:benign",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Get a list of alerts that meet the filter criteria.",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/alerts",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Page size. Default to 100 alerts per page. Maximum is 1000 alerts per page.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token to retrieve the next page of results."
                },
                "filter": {
                  "description": "Optional. Filter criteria. Supported fields for filtering include: * `audit.create_time` * `audit.creator` * `audit.update_time` * `audit.updater` * `detail.data_leak.discovery_document_ids` * `detail.data_leak.severity` * `detail.detail_type` * `detail.initial_access_broker.discovery_document_ids` * `detail.initial_access_broker.severity` * `detail.insider_threat.discovery_document_ids` * `detail.insider_threat.severity` * `finding_count` * `priority_analysis.priority_level` * `relevance_analysis.confidence` * `relevance_analysis.relevance_level` * `relevance_analysis.relevant` * `severity_analysis.severity_level` * `state` Examples: * `detail.detail_type = \"initial_access_broker\"` * `detail.detail_type != \"data_leak\"` * `detail.insider_threat.severity = \"HIGH\"` * `audit.create_time >= \"2026-04-03T00:00:00Z\" AND audit.create_time < \"2026-04-06T00:00:00Z\"` * `state = \"NEW\" OR state = \"TRIAGED\"` * `severity_analysis.severity_level = \"SEVERITY_LEVEL_CRITICAL\"`",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1, field2 desc\" or \"field1, field2\" or \"field1 asc, field2\". If a field is specified without `asc` or `desc`, ascending order is used by default. Supported fields for ordering are identical to those supported for filtering. Examples: * `audit.create_time desc` * `audit.update_time asc` * `audit.create_time desc, severity_analysis.severity_level desc`",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              }
            },
            "triage": {
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:triage",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "id": "threatintelligence.projects.alerts.triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "httpMethod": "POST",
              "description": "Marks an alert as triaged - TRIAGED.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getPassword": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:getPassword",
              "response": {
                "$ref": "GetPasswordResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the alert to get password for. Format: projects/{project}/alerts/{alert}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.getPassword",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:getPassword",
              "description": "Get the decrypted password of an alert."
            },
            "escalate": {
              "path": "v1beta/{+name}:escalate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "trackExternally": {
              "httpMethod": "POST",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "required": true
                }
              },
              "path": "v1beta/{+name}:trackExternally",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY."
            },
            "read": {
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:read",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.read",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Marks an alert as read - READ."
            },
            "get": {
              "httpMethod": "GET",
              "id": "threatintelligence.projects.alerts.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "description": "Get an alert by name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            },
            "notActionable": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "path": "v1beta/{+name}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable"
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "id": "threatintelligence.projects.configurations.get",
              "path": "v1beta/{+name}",
              "description": "Get a configuration by name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "description": "Get a list of configurations that meet the filter criteria.",
              "parameterOrder": [
                "parent"
              ],
[...]
