{
  "canonicalName": "Tool Results",
  "protocol": "rest",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260827",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://toolresults.googleapis.com/",
  "baseUrl": "https://toolresults.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "version": "v1beta3",
  "ownerDomain": "google.com",
  "title": "Cloud Tool Results API",
  "schemas": {
    "Duration": {
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive."
        },
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years"
        }
      },
      "id": "Duration",
      "type": "object"
    },
    "UIElementTooDeep": {
      "properties": {
        "depth": {
          "format": "int32",
          "description": "The depth of the screen element",
          "type": "integer"
        },
        "screenStateId": {
          "type": "string",
          "description": "The screen state id of the element"
        },
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        }
      },
      "type": "object",
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "id": "UIElementTooDeep"
    },
    "SuggestionClusterProto": {
      "type": "object",
      "description": "A set of similar suggestions that we suspect are closely related. This proto and most of the nested protos are branched from foxandcrown.prelaunchreport.service.SuggestionClusterProto, replacing PLR's dependencies with FTL's.",
      "id": "SuggestionClusterProto",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "SuggestionProto"
          },
          "description": "A sequence of suggestions. All of the suggestions within a cluster must have the same SuggestionPriority and belong to the same SuggestionCategory. Suggestions with the same screenshot URL should be adjacent."
        },
        "category": {
          "type": "string",
          "enum": [
            "unknownCategory",
            "contentLabeling",
            "touchTargetSize",
            "lowContrast",
            "implementation"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Category in which these types of suggestions should appear. Always set."
        }
      }
    },
    "ShardSummary": {
      "description": "Result summary for a shard in an environment.",
      "id": "ShardSummary",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "StepSummary"
          },
          "description": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number."
        },
        "shardResult": {
          "description": "Merged result of the shard.",
          "$ref": "MergedResult"
        }
      },
      "type": "object"
    },
    "PerfMetricsSummary": {
      "id": "PerfMetricsSummary",
      "properties": {
        "graphicsStats": {
          "deprecated": true,
          "description": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run.",
          "$ref": "GraphicsStats"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "stepId": {
          "type": "string",
          "description": "A tool results step ID. @OutputOnly"
        },
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "appStartTime": {
          "$ref": "AppStartTime"
        },
        "perfEnvironment": {
          "$ref": "PerfEnvironment",
          "description": "Describes the environment in which the performance metrics were collected"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "perfMetricTypeUnspecified",
              "memory",
              "cpu",
              "network",
              "graphics"
            ]
          }
        }
      },
      "type": "object",
      "description": "A summary of perf metrics collected and performance environment info"
    },
    "FailedToInstall": {
      "id": "FailedToInstall",
      "description": "Failed to install the App.",
      "type": "object",
      "properties": {}
    },
    "ToolExecution": {
      "id": "ToolExecution",
      "description": "An execution of an arbitrary tool. It could be a test runner or a tool copying artifacts or deploying code.",
      "type": "object",
      "properties": {
        "toolLogs": {
          "description": "References to any plain text logs output the tool execution. This field can be set before the tool has exited in order to be able to have access to a live view of the logs while the tool is running. The maximum allowed number of tool logs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list",
          "type": "array",
          "items": {
            "$ref": "FileReference"
          }
        },
        "exitCode": {
          "description": "Tool execution exit code. This field will be set once the tool has exited. - In response: present if set by create/update request - In create request: optional - In update request: optional, a FAILED_PRECONDITION error will be returned if an exit_code is already set.",
          "$ref": "ToolExitCode"
        },
        "toolOutputs": {
          "items": {
            "$ref": "ToolOutputReference"
          },
          "description": "References to opaque files of any format output by the tool execution. The maximum allowed number of tool outputs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list",
          "type": "array"
        },
        "commandLineArguments": {
          "items": {
            "type": "string"
          },
          "description": "The full tokenized command line including the program name (equivalent to argv in a C program). - In response: present if set by create request - In create request: optional - In update request: never set",
          "type": "array"
        }
      }
    },
    "AndroidTestLoop": {
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.",
      "type": "object",
      "id": "AndroidTestLoop",
      "properties": {}
    },
    "GraphicsStats": {
      "properties": {
        "slowUiThreadCount": {
          "type": "string",
          "format": "int64",
          "description": "Total \"slow UI thread\" events."
        },
        "p95Millis": {
          "format": "int64",
          "type": "string",
          "description": "95th percentile frame render time in milliseconds."
        },
        "highInputLatencyCount": {
          "format": "int64",
          "type": "string",
          "description": "Total \"high input latency\" events."
        },
        "slowDrawCount": {
          "description": "Total \"slow draw\" events.",
          "type": "string",
          "format": "int64"
        },
        "slowBitmapUploadCount": {
          "format": "int64",
          "description": "Total \"slow bitmap upload\" events.",
          "type": "string"
        },
        "p50Millis": {
          "description": "50th percentile frame render time in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "totalFrames": {
          "format": "int64",
          "type": "string",
          "description": "Total frames rendered by package."
        },
        "jankyFrames": {
          "type": "string",
          "format": "int64",
          "description": "Total frames with slow render time. Should be <= total_frames."
        },
        "missedVsyncCount": {
          "description": "Total \"missed vsync\" events.",
          "format": "int64",
          "type": "string"
        },
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "GraphicsStatsBucket"
          },
          "description": "Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)"
        },
        "p90Millis": {
          "format": "int64",
          "type": "string",
          "description": "90th percentile frame render time in milliseconds."
        },
        "p99Millis": {
          "description": "99th percentile frame render time in milliseconds.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GraphicsStats",
      "description": "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+."
    },
    "InsufficientCoverage": {
      "id": "InsufficientCoverage",
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "type": "object",
      "properties": {}
    },
    "ProjectSettings": {
      "description": "Per-project settings for the Tool Results service.",
      "type": "object",
      "id": "ProjectSettings",
      "properties": {
        "defaultBucket": {
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional",
          "type": "string"
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set",
          "type": "string"
        }
      }
    },
    "PerfSample": {
      "properties": {
        "value": {
          "description": "Value observed",
          "format": "double",
          "type": "number"
        },
        "sampleTime": {
          "description": "Timestamp of collection.",
          "$ref": "Timestamp"
        }
      },
      "id": "PerfSample",
      "description": "Resource representing a single performance measure or data point",
      "type": "object"
    },
    "ScreenshotCluster": {
      "type": "object",
      "properties": {
        "screens": {
          "items": {
            "$ref": "Screen"
          },
          "description": "Full list of screens.",
          "type": "array"
        },
        "keyScreen": {
          "$ref": "Screen",
          "description": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm"
        },
        "clusterId": {
          "description": "A unique identifier for the cluster. @OutputOnly",
          "type": "string"
        },
        "activity": {
          "type": "string",
          "description": "A string that describes the activity of every screen in the cluster."
        }
      },
      "id": "ScreenshotCluster"
    },
    "AndroidRoboTest": {
      "id": "AndroidRoboTest",
      "description": "A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.",
      "properties": {
        "maxSteps": {
          "type": "integer",
          "description": "The max number of steps/actions Robo can execute. Default is no limit (0). Optional",
          "format": "int32"
        },
        "bootstrapPackageId": {
          "type": "string",
          "description": "The java package for the bootstrap. Optional"
        },
        "bootstrapRunnerClass": {
          "description": "The runner class for the bootstrap. Optional",
          "type": "string"
        },
        "maxDepth": {
          "type": "integer",
          "description": "The max depth of the traversal stack Robo can explore. Optional",
          "format": "int32"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app. Optional",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IosRoboTest": {
      "id": "IosRoboTest",
      "properties": {},
      "type": "object",
      "description": "A Robo test for an iOS application."
    },
    "SkippedDetail": {
      "properties": {
        "incompatibleDevice": {
          "description": "If the requested OS version doesn't run on the specific device model.",
          "type": "boolean"
        },
        "incompatibleAppVersion": {
          "type": "boolean",
          "description": "If the App doesn't support the specific API level."
        },
        "incompatibleArchitecture": {
          "description": "If the App doesn't run on the specific architecture, for example, x86.",
          "type": "boolean"
        },
        "pendingTimeout": {
          "description": "Indicates that the test could not be scheduled in the requested time because no suitable device was available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Details for an outcome with a SKIPPED outcome summary.",
      "id": "SkippedDetail"
    },
    "CrashDialogError": {
      "type": "object",
      "id": "CrashDialogError",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      },
      "description": "Crash dialog was detected during the test execution"
    },
    "PublishXunitXmlFilesRequest": {
      "description": "Request message for StepService.PublishXunitXmlFiles.",
      "id": "PublishXunitXmlFilesRequest",
      "type": "object",
      "properties": {
        "xunitXmlFiles": {
          "items": {
            "$ref": "FileReference"
          },
          "description": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required.",
          "type": "array"
        }
      }
    },
    "AppStartTime": {
      "id": "AppStartTime",
      "properties": {
        "fullyDrawnTime": {
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full",
          "$ref": "Duration"
        },
        "initialDisplayTime": {
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial",
          "$ref": "Duration"
        }
      },
      "type": "object"
    },
    "MemoryInfo": {
      "properties": {
        "memoryTotalInKibibyte": {
          "description": "Total memory available on the device in KiB",
          "type": "string",
          "format": "int64"
        },
        "memoryCapInKibibyte": {
          "description": "Maximum memory that can be allocated to the process in KiB",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MemoryInfo",
      "type": "object"
    },
    "PerfEnvironment": {
      "type": "object",
      "description": "Encapsulates performance environment info",
      "properties": {
        "cpuInfo": {
          "description": "CPU related environment info",
          "$ref": "CPUInfo"
        },
        "memoryInfo": {
          "description": "Memory related environment info",
          "$ref": "MemoryInfo"
        }
      },
      "id": "PerfEnvironment"
    },
    "AndroidAppInfo": {
      "description": "Android app information.",
      "id": "AndroidAppInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app. Optional"
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name of the app. Required.",
          "type": "string"
        },
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request"
        }
      },
      "id": "ListPerfSamplesResponse",
      "type": "object"
    },
    "BasicPerfSampleSeries": {
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "type": "object",
      "id": "BasicPerfSampleSeries",
      "properties": {
        "perfUnit": {
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "perfMetricType": {
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sampleSeriesLabel": {
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ],
          "type": "string"
        }
      }
    },
    "ListPerfSampleSeriesResponse": {
      "id": "ListPerfSampleSeriesResponse",
      "type": "object",
      "properties": {
        "perfSampleSeries": {
          "items": {
            "$ref": "PerfSampleSeries"
          },
          "type": "array",
          "description": "The resulting PerfSampleSeries sorted by id"
        }
      }
    },
    "TestCase": {
      "id": "TestCase",
      "properties": {
        "status": {
          "description": "The status of the test case. Required.",
          "type": "string",
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "stackTraces": {
          "items": {
            "$ref": "StackTrace"
          },
          "type": "array",
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed."
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly",
          "type": "array",
          "items": {
            "$ref": "ToolOutputReference"
          }
        },
        "testCaseReference": {
          "$ref": "TestCaseReference",
          "description": "Test case reference, e.g. name, class name and test suite name. Required."
        },
        "skippedMessage": {
          "description": "Why the test case was skipped. Present only for skipped test case",
          "type": "string"
        },
        "elapsedTime": {
          "description": "The elapsed run time of the test case. Required.",
          "$ref": "Duration"
        },
        "endTime": {
          "$ref": "Timestamp",
          "description": "The end time of the test case."
        },
        "startTime": {
          "description": "The start time of the test case.",
          "$ref": "Timestamp"
        },
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestIssue": {
      "description": "An issue detected occurring during a test execution.",
      "id": "TestIssue",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A brief human-readable message describing the issue. Required."
        },
        "warning_migration": {
          "description": "Warning message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings",
          "$ref": "Any"
        },
        "stackTrace": {
          "$ref": "StackTrace",
          "deprecated": true,
          "description": "Deprecated in favor of stack trace fields inside specific warnings."
        },
        "type": {
          "type": "string",
          "description": "Type of issue. Required.",
          "enumDescriptions": [
            "Default unspecified type. Do not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not Android UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
            "Robo did not crawl some potentially important parts of the app.",
            "Robo crawl involved some in-app purchases.",
            "Crash dialog was detected during the test execution",
            "UI element depth is greater than the threshold",
            "Blank screen is found in the Robo crawl",
            "Overlapping UI elements are found in the Robo crawl",
            "An uncaught Unity exception was detected (these don't crash apps).",
            "Device running out of memory was detected",
            "Problems detected while collecting logcat",
            "Robo detected a splash screen provided by app (vs. Android OS splash screen).",
            "There was an issue with the assets in this test.",
            "Licensing protection termination (Pairip) was detected.",
            "Anti-tampering termination was detected."
          ],
          "enum": [
            "unspecifiedType",
            "fatalException",
            "nativeCrash",
            "anr",
            "unusedRoboDirective",
            "compatibleWithOrchestrator",
            "launcherActivityNotFound",
            "startActivityNotFound",
            "incompleteRoboScriptExecution",
            "completeRoboScriptExecution",
            "failedToInstall",
            "availableDeepLinks",
            "nonSdkApiUsageViolation",
            "nonSdkApiUsageReport",
            "encounteredNonAndroidUiWidgetScreen",
            "encounteredLoginScreen",
            "performedGoogleLogin",
            "iosException",
            "iosCrash",
            "performedMonkeyActions",
            "usedRoboDirective",
            "usedRoboIgnoreDirective",
            "insufficientCoverage",
            "inAppPurchases",
            "crashDialogError",
            "uiElementsTooDeep",
            "blankScreen",
            "overlappingUiElements",
            "unityException",
            "deviceOutOfMemory",
            "logcatCollectionError",
            "detectedAppSplashScreen",
            "assetIssue",
            "licensingProtectionTermination",
            "antiTamperingTermination"
          ]
        },
        "category": {
          "enum": [
            "unspecifiedCategory",
            "common",
            "robo"
          ],
          "enumDescriptions": [
            "Default unspecified category. Do not use. For versioning only.",
            "Issue is not specific to a particular test kind (e.g., a native crash).",
            "Issue is specific to Robo run."
          ],
          "type": "string",
          "description": "Category of issue. Required."
        },
        "severity": {
          "enumDescriptions": [
            "Default unspecified severity. Do not use. For versioning only.",
            "Non critical issue, providing users with some info about the test run.",
            "Non critical issue, providing users with some hints on improving their testing experience, e.g., suggesting to use Game Loops.",
            "Potentially critical issue.",
            "Critical issue."
          ],
          "type": "string",
          "description": "Severity of issue. Required.",
          "enum": [
            "unspecifiedSeverity",
            "info",
            "suggestion",
            "warning",
            "severe"
          ]
        }
      }
    },
    "IosAppInfo": {
      "description": "iOS app information",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app. Required"
        }
      },
      "id": "IosAppInfo"
    },
    "PerfSampleSeries": {
      "description": "Resource representing a collection of performance samples (or data points)",
      "type": "object",
      "id": "PerfSampleSeries",
      "properties": {
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The cloud project @OutputOnly"
        },
        "stepId": {
          "type": "string",
          "description": "A tool results step ID. @OutputOnly"
        },
        "sampleSeriesId": {
          "type": "string",
          "description": "A sample series id @OutputOnly"
        },
        "basicPerfSampleSeries": {
          "description": "Basic series represented by a line chart",
          "$ref": "BasicPerfSampleSeries"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        }
      }
    },
    "GraphicsStatsBucket": {
      "type": "object",
      "properties": {
        "frameCount": {
          "description": "Number of frames in the bucket.",
          "type": "string",
          "format": "int64"
        },
        "renderMillis": {
          "type": "string",
          "description": "Lower bound of render time in milliseconds.",
          "format": "int64"
        }
      },
      "id": "GraphicsStatsBucket"
    },
    "Environment": {
      "type": "object",
      "id": "Environment",
      "description": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes).",
      "properties": {
        "shardSummaries": {
          "type": "array",
          "items": {
            "$ref": "ShardSummary"
          },
          "description": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService."
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. An Execution id."
        },
        "dimensionValue": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          },
          "description": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set"
        },
        "projectId": {
          "description": "Output only. A Project id.",
          "type": "string"
        },
        "completionTime": {
          "description": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.",
          "$ref": "Timestamp"
        },
        "creationTime": {
          "description": "Output only. The time when the Environment was created.",
          "$ref": "Timestamp"
        },
        "historyId": {
          "description": "Output only. A History id.",
          "type": "string"
        },
        "environmentId": {
          "description": "Output only. An Environment id.",
          "type": "string"
        },
        "resultsStorage": {
          "description": "The location where output files are stored in the user bucket.",
          "$ref": "ResultsStorage"
        },
        "environmentResult": {
          "description": "Merged result of the environment.",
          "$ref": "MergedResult"
        }
      }
    },
    "IosAppCrashed": {
      "description": "Additional details for an iOS app crash.",
      "id": "IosAppCrashed",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      },
      "type": "object"
    },
    "ListExecutionsResponse": {
      "properties": {
        "executions": {
          "type": "array",
          "description": "Executions. Always set.",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch."
        }
      },
      "id": "ListExecutionsResponse",
      "type": "object"
    },
    "Outcome": {
      "id": "Outcome",
      "properties": {
        "inconclusiveDetail": {
          "description": "More information about an INCONCLUSIVE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE. Optional",
          "$ref": "InconclusiveDetail"
        },
        "successDetail": {
          "$ref": "SuccessDetail",
          "description": "More information about a SUCCESS outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS. Optional"
        },
        "failureDetail": {
          "description": "More information about a FAILURE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE. Optional",
          "$ref": "FailureDetail"
        },
        "skippedDetail": {
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional",
          "$ref": "SkippedDetail"
        },
        "summary": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "description": "The simplest way to interpret a result. Required",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string"
        }
      },
      "description": "Interprets a result so that humans and machines can act on it.",
      "type": "object"
    },
    "NonSdkApiUsageViolationReport": {
      "type": "object",
      "id": "NonSdkApiUsageViolationReport",
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "properties": {
        "minSdkVersion": {
          "type": "integer",
          "description": "Minimum API level required for the application to run.",
          "format": "int32"
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32",
          "type": "integer"
        },
        "exampleApis": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages."
        },
        "uniqueApis": {
          "format": "int32",
          "description": "Total number of unique Non-SDK API's accessed.",
          "type": "integer"
        }
      }
    },
    "AvailableDeepLinks": {
      "type": "object",
      "id": "AvailableDeepLinks",
      "properties": {},
      "description": "A suggestion to use deep links for a Robo run."
    },
    "PerformedGoogleLogin": {
      "properties": {},
      "description": "A notification that Robo signed in with Google.",
      "type": "object",
      "id": "PerformedGoogleLogin"
    },
    "IosTest": {
      "id": "IosTest",
      "properties": {
        "iosRoboTest": {
          "$ref": "IosRoboTest",
          "description": "An iOS Robo test."
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "iosTestLoop": {
          "description": "An iOS test loop.",
          "$ref": "IosTestLoop"
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "An iOS XCTest."
        },
        "iosAppInfo": {
          "$ref": "IosAppInfo",
          "description": "Information about the application under test."
        }
      },
      "type": "object",
      "description": "A iOS mobile test specification"
    },
    "History": {
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
        },
        "displayName": {
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional",
          "type": "string"
        },
        "name": {
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set",
          "type": "string"
        },
        "testPlatform": {
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown.",
          "type": "string"
        }
      },
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
      "id": "History",
      "type": "object"
    },
    "ListStepsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more steps to read, by calling list again with this value in the page_token field."
        },
        "steps": {
          "items": {
            "$ref": "Step"
          },
          "type": "array",
          "description": "Steps."
        }
      },
      "type": "object",
      "description": "Response message for StepService.List.",
      "id": "ListStepsResponse"
    },
    "Step": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name. - In response: always set - In create request: always set - In update request: never set"
        },
        "outcome": {
          "description": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run. If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration. PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set. - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional"
        },
        "dimensionValue": {
          "description": "If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions. The keys must exactly match the dimension_definition of the execution. For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']` If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']` If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset. A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution. A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different. A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys. - In response: present if set by create - In create request: optional - In update request: never set",
          "type": "array",
          "items": {
            "$ref": "StepDimensionValueEntry"
          }
        },
        "testExecutionStep": {
          "description": "An execution of a test runner.",
          "$ref": "TestExecutionStep"
        },
        "creationTime": {
          "description": "The time when the step was created. - In response: always set - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "hasImages": {
          "description": "Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails. - In response: always set - In create/update request: never set",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -> COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "type": "string"
        },
        "multiStep": {
          "description": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional",
          "$ref": "MultiStep"
        },
        "description": {
          "description": "A description of this tool For example: mvn clean package -D skipTests=true - In response: present if set by create/update request - In create/update request: optional",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "Arbitrary user-supplied key/value pairs that are associated with the step. Users are responsible for managing the key namespace such that keys don't accidentally collide. An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters. - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value",
          "items": {
            "$ref": "StepLabelsEntry"
          }
        },
        "completionTime": {
          "$ref": "Timestamp",
          "description": "The time when the step status was set to complete. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
        },
        "stepId": {
          "type": "string",
          "description": "A unique identifier within a Execution for this Step. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response: always set - In create/update request: never set"
        },
        "toolExecutionStep": {
          "$ref": "ToolExecutionStep",
          "description": "An execution of a tool (used for steps we don't explicitly support)."
        },
        "deviceUsageDuration": {
          "description": "How much the device resource is used to perform the test. This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage. PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set. - In response: present if previously set. - In create request: optional - In update request: optional",
          "$ref": "Duration"
        }
      },
      "id": "Step",
      "description": "A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler). Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel). Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates a TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE A Step can be updated until its state is set to COMPLETE at which points it becomes immutable."
    },
    "IosTestLoop": {
      "description": "A game loop test of an iOS application.",
      "type": "object",
      "properties": {
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        }
      },
      "id": "IosTestLoop"
    },
    "Thumbnail": {
      "description": "A single thumbnail, with its size and format.",
      "id": "Thumbnail",
      "type": "object",
      "properties": {
        "heightPx": {
          "description": "The height of the thumbnail, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        },
        "widthPx": {
          "type": "integer",
          "description": "The width of the thumbnail, in pixels. Always set.",
          "format": "int32"
        },
        "contentType": {
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set.",
          "type": "string"
        },
        "data": {
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ListTestCasesResponse": {
      "id": "ListTestCasesResponse",
      "description": "Response message for StepService.ListTestCases.",
      "type": "object",
      "properties": {
        "testCases": {
          "description": "List of test cases.",
          "type": "array",
          "items": {
            "$ref": "TestCase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "EncounteredLoginScreen": {
      "type": "object",
      "id": "EncounteredLoginScreen",
      "description": "Additional details about encountered login screens.",
      "properties": {
        "distinctScreens": {
          "description": "Number of encountered distinct login screens.",
          "format": "int32",
          "type": "integer"
        },
        "screenIds": {
          "description": "Subset of login screens.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Any": {
      "type": "object",
      "id": "Any",
      "properties": {
        "value": {
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "type": "string"
        },
        "typeUrl": {
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.",
          "type": "string"
        }
      },
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"
    },
    "InAppPurchasesFound": {
      "description": "Additional details of in-app purchases encountered during the crawl.",
      "type": "object",
      "properties": {
        "inAppPurchasesFlowsStarted": {
          "type": "integer",
          "description": "The total number of in-app purchases flows started.",
          "format": "int32"
        },
        "inAppPurchasesFlowsExplored": {
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "InAppPurchasesFound"
    },
    "PendingGoogleUpdateInsight": {
      "description": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action.",
      "type": "object",
      "id": "PendingGoogleUpdateInsight",
      "properties": {
        "nameOfGoogleLibrary": {
          "type": "string",
          "description": "The name of the Google-provided library with the non-SDK API dependency."
        }
      }
    },
    "TestCaseReference": {
      "description": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name.",
      "type": "object",
      "id": "TestCaseReference",
      "properties": {
        "className": {
          "type": "string",
          "description": "The name of the class."
        },
        "testSuiteName": {
          "type": "string",
          "description": "The name of the test suite to which this test case belongs."
        },
        "name": {
          "description": "The name of the test case. Required.",
          "type": "string"
        }
      }
    },
    "TestSuiteOverview": {
      "properties": {
        "failureCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never"
        },
        "errorCount": {
          "format": "int32",
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer"
        },
        "xmlSource": {
          "$ref": "FileReference",
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "flakyCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases."
        },
        "name": {
          "description": "The name of the test suite. - In create/response: always set - In update request: never",
          "type": "string"
        },
        "elapsedTime": {
          "description": "Elapsed time of test suite.",
          "$ref": "Duration"
        },
        "skippedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        }
      },
      "type": "object",
      "id": "TestSuiteOverview",
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step."
    },
    "IosXcTest": {
      "properties": {
        "xcodeVersion": {
          "description": "Xcode version that the test was run with.",
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        }
      },
      "id": "IosXcTest",
      "type": "object",
      "description": "A test of an iOS application that uses the XCTest framework."
    },
    "StepLabelsEntry": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "StepLabelsEntry"
    },
    "AndroidTest": {
      "description": "An Android mobile test specification.",
      "properties": {
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        }
      },
      "type": "object",
      "id": "AndroidTest"
    },
    "MatrixDimensionDefinition": {
      "type": "object",
      "properties": {},
      "id": "MatrixDimensionDefinition",
      "description": "One dimension of the matrix of different runs of a step."
    },
    "SuccessDetail": {
      "description": "Details for an outcome with a SUCCESS outcome summary. LINT.IfChange",
      "type": "object",
      "id": "SuccessDetail",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process other than the app crashed.",
          "type": "boolean"
        }
      }
    },
    "UpgradeInsight": {
      "id": "UpgradeInsight",
      "type": "object",
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The name of the package to be upgraded."
        },
        "upgradeToVersion": {
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem",
          "type": "string"
        }
      }
    },
    "LogcatCollectionError": {
      "properties": {},
      "type": "object",
      "id": "LogcatCollectionError",
      "description": "A warning that there were issues in logcat collection."
    },
    "InconclusiveDetail": {
      "type": "object",
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary.",
      "id": "InconclusiveDetail",
      "properties": {
        "abortedByUser": {
          "type": "boolean",
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running."
        },
        "infrastructureFailure": {
          "type": "boolean",
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail."
        },
        "hasErrorLogs": {
          "type": "boolean",
          "description": "If results are being provided to the user in certain cases of infrastructure failures"
        }
      }
    },
    "ListScreenshotClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "The set of clusters associated with an execution Always set",
          "items": {
            "$ref": "ScreenshotCluster"
          }
        }
      },
      "id": "ListScreenshotClustersResponse"
    },
    "MultiStep": {
      "id": "MultiStep",
      "properties": {
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        },
        "multistepNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
        },
        "primaryStep": {
          "$ref": "PrimaryStep",
          "description": "Present if it is a primary (original) step."
        }
      },
      "type": "object",
      "description": "Details when multiple steps are run with the same configuration as a group."
    },
    "Execution": {
      "id": "Execution",
      "properties": {
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set",
          "type": "string"
        },
        "completionTime": {
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "dimensionDefinitions": {
          "type": "array",
          "items": {
            "$ref": "MatrixDimensionDefinition"
          },
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set"
        },
        "executionId": {
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set",
          "type": "string"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "specification": {
          "$ref": "Specification",
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional"
        },
        "creationTime": {
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "state": {
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable."
    },
    "PerformedMonkeyActions": {
      "type": "object",
      "id": "PerformedMonkeyActions",
      "description": "A notification that Robo performed some monkey actions.",
      "properties": {
        "totalActions": {
          "description": "The total number of monkey actions performed during the crawl.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Screen": {
      "properties": {
        "fileReference": {
          "type": "string",
          "description": "File reference of the png file. Required."
        },
        "model": {
          "type": "string",
          "description": "Model of the device that the screenshot was taken on. Required."
        },
        "version": {
          "description": "OS version of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of the device that the screenshot was taken on. Required.",
          "type": "string"
        }
      },
      "id": "Screen",
      "type": "object"
    },
    "RoboScriptExecution": {
      "id": "RoboScriptExecution",
      "description": "Execution stats for a user-provided Robo script.",
      "type": "object",
      "properties": {
        "successfulActions": {
          "type": "integer",
          "description": "The number of Robo script actions executed successfully.",
          "format": "int32"
        },
        "totalActions": {
          "format": "int32",
          "description": "The total number of actions in the Robo script.",
          "type": "integer"
        }
      }
    },
    "ListHistoriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "items": {
            "$ref": "History"
          },
          "type": "array",
          "description": "Histories."
        }
      },
      "description": "Response message for HistoryService.List",
      "type": "object",
      "id": "ListHistoriesResponse"
    },
    "DetectedAppSplashScreen": {
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "properties": {},
      "type": "object",
      "id": "DetectedAppSplashScreen"
    },
    "FileReference": {
      "properties": {
        "fileUri": {
          "description": "The URI of a file stored in Google Cloud Storage. For example: `http://storage.googleapis.com/mybucket/path/to/test.xml` or in Cloud Storage URI format: `gs://mybucket/path/to/test.xml` with version-specific info, `gs://mybucket/path/to/test.xml#1360383693690000` An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set",
          "type": "string"
        }
      },
      "id": "FileReference",
      "type": "object",
      "description": "A reference to a file."
    },
    "TestTiming": {
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional",
          "$ref": "Duration"
        }
      },
      "id": "TestTiming",
      "type": "object",
      "description": "Testing timing break down to know phases."
    },
    "NonSdkApi": {
      "type": "object",
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "properties": {
        "insights": {
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "description": "Optional debugging insights for non-SDK API violations.",
          "type": "array"
        },
        "invocationCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of times this API was observed to have been called."
        },
        "list": {
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R",
            "GREY_MAX_S"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Which list this API appears on",
          "type": "string"
        },
        "apiSignature": {
          "type": "string",
          "description": "The signature of the Non-SDK API"
        },
        "exampleStackTraces": {
          "type": "array",
          "description": "Example stack traces of this API being called.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "NonSdkApi"
    },
    "UsedRoboDirective": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was used."
        }
      },
      "type": "object",
      "description": "Additional details of a used Robo directive.",
      "id": "UsedRoboDirective"
    },
    "BatchCreatePerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      },
      "type": "object",
      "id": "BatchCreatePerfSamplesResponse"
    },
    "PrimaryStep": {
      "type": "object",
      "id": "PrimaryStep",
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.",
      "properties": {
        "individualOutcome": {
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          },
          "description": "Step Id and outcome of each individual step."
        },
        "rollUp": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string"
        }
      }
    },
    "OverlappingUIElements": {
      "type": "object",
      "id": "OverlappingUIElements",
      "properties": {
        "resourceName": {
          "description": "Resource names of the overlapping screen elements",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "screenId": {
          "description": "The screen id of the elements",
          "type": "string"
        }
      },
      "description": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue."
    },
    "FatalException": {
      "description": "Additional details for a fatal exception.",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the fatal exception. Optional."
        }
      },
      "type": "object",
      "id": "FatalException"
    },
    "Image": {
      "id": "Image",
      "description": "An image, with a link to the main image and a thumbnail.",
      "properties": {
        "sourceImage": {
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set.",
          "$ref": "ToolOutputReference"
        },
        "stepId": {
          "type": "string",
          "description": "The step to which the image is attached. Always set."
        },
        "thumbnail": {
          "description": "The thumbnail.",
          "$ref": "Thumbnail"
        },
        "error": {
          "description": "An error explaining why the thumbnail could not be rendered.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "NativeCrash": {
      "id": "NativeCrash",
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the native crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "description": "Additional details for a native crash."
    },
    "StackTrace": {
      "properties": {
        "exception": {
          "type": "string",
          "description": "The stack trace message. Required"
        }
      },
      "description": "A stacktrace.",
      "type": "object",
      "id": "StackTrace"
    },
    "AntiTamperingTermination": {
      "properties": {},
      "id": "AntiTamperingTermination",
      "type": "object",
      "description": "Anti-tampering termination was detected."
    },
    "NonSdkApiUsageViolation": {
      "properties": {
        "uniqueApis": {
          "type": "integer",
          "description": "Total number of unique hidden API's accessed.",
          "format": "int32"
        },
        "apiSignatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Signatures of a subset of those hidden API's."
        }
      },
      "id": "NonSdkApiUsageViolation",
      "type": "object",
      "description": "Additional details for a non-sdk API usage violation."
    },
    "LauncherActivityNotFound": {
      "type": "object",
      "properties": {},
      "id": "LauncherActivityNotFound",
      "description": "Failed to find the launcher activity of an app."
    },
    "ListStepThumbnailsResponse": {
      "description": "A response containing the thumbnails in a step.",
      "type": "object",
      "properties": {
        "thumbnails": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep)."
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field.",
          "type": "string"
        }
      },
      "id": "ListStepThumbnailsResponse"
    },
    "FailureDetail": {
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "id": "FailureDetail",
      "type": "object",
      "properties": {
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        },
        "notInstalled": {
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
          "type": "boolean"
        },
        "otherNativeCrash": {
          "type": "boolean",
          "description": "If a native process (including any other than the app) crashed."
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "timedOut": {
          "description": "If the test overran some time limit, and that is why it failed.",
          "type": "boolean"
        },
        "deviceOutOfMemory": {
          "type": "boolean",
          "description": "If the device ran out of memory during a test, causing the test to crash."
        },
        "failedRoboscript": {
          "type": "boolean",
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl."
        }
      }
    },
    "Timestamp": {
      "type": "object",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "properties": {
        "seconds": {
          "type": "string",
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.",
          "format": "int64"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive."
        }
      },
      "id": "Timestamp"
    },
    "BlankScreen": {
      "description": "A warning that Robo encountered a screen that was mostly blank; this may indicate a problem with the app.",
      "type": "object",
      "id": "BlankScreen",
      "properties": {
        "screenId": {
          "description": "The screen id of the element",
          "type": "string"
        }
      }
    },
    "ToolOutputReference": {
      "type": "object",
      "id": "ToolOutputReference",
      "description": "A reference to a ToolExecution output file.",
      "properties": {
        "output": {
          "$ref": "FileReference",
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional"
        },
        "testCase": {
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "TestCaseReference"
        }
      }
    },
    "ANR": {
      "description": "Additional details for an ANR crash.",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the ANR crash. Optional."
        }
      },
      "id": "ANR",
      "type": "object"
    },
    "ListStepAccessibilityClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "SuggestionClusterProto"
          },
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster."
        },
        "name": {
          "type": "string",
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents."
        }
      },
      "id": "ListStepAccessibilityClustersResponse",
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters."
    },
    "NonSdkApiInsight": {
      "description": "Non-SDK API insights (to address debugging solutions).",
      "type": "object",
      "properties": {
        "upgradeInsight": {
          "description": "An insight indicating that the hidden API usage originates from the use of a library that needs to be upgraded.",
          "$ref": "UpgradeInsight"
        },
        "pendingGoogleUpdateInsight": {
          "description": "An insight indicating that the hidden API usage originates from a Google-provided library.",
          "$ref": "PendingGoogleUpdateInsight"
        },
        "exampleTraceMessages": {
          "items": {
            "type": "string"
          },
          "description": "Optional sample stack traces, for which this insight applies (there should be at least one).",
          "type": "array"
        },
        "matcherId": {
          "type": "string",
          "description": "A unique ID, to be used for determining the effectiveness of this particular insight in the context of a matcher. (required)"
        }
      },
      "id": "NonSdkApiInsight"
    },
    "ToolExitCode": {
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set"
        }
      },
      "id": "ToolExitCode",
      "description": "Exit code from a tool execution.",
      "type": "object"
    },
    "Specification": {
      "id": "Specification",
      "properties": {
        "androidTest": {
          "$ref": "AndroidTest",
          "description": "An Android mobile test execution specification."
        },
        "iosTest": {
          "$ref": "IosTest",
          "description": "An iOS mobile test execution specification."
        }
      },
      "type": "object",
      "description": "The details about how to run the execution."
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "properties": {
        "environments": {
          "type": "array",
          "description": "Environments. Always set.",
          "items": {
            "$ref": "Environment"
          }
        },
        "historyId": {
          "description": "A History id. Always set.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "A Execution id Always set."
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "A Project id. Always set."
        }
      },
      "id": "ListEnvironmentsResponse"
    },
    "LicensingProtectionTermination": {
      "properties": {},
      "type": "object",
      "id": "LicensingProtectionTermination",
      "description": "Licensing protection termination (Pairip) was detected."
    },
    "StepSummary": {
      "properties": {},
      "description": "Lightweight summary of a step within this execution.",
      "type": "object",
      "id": "StepSummary"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "UnusedRoboDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      },
      "description": "Additional details of an unused robodirective.",
      "id": "UnusedRoboDirective"
    },
    "AssetIssue": {
      "properties": {},
      "id": "AssetIssue",
      "description": "There was an issue with the assets in this test.",
      "type": "object"
    },
    "BatchCreatePerfSamplesRequest": {
      "type": "object",
      "description": "The request must provide up to a maximum of 5000 samples to be created; a larger sample size will cause an INVALID_ARGUMENT error",
      "id": "BatchCreatePerfSamplesRequest",
      "properties": {
        "perfSamples": {
          "description": "The set of PerfSamples to create should not include existing timestamps",
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      }
    },
    "SafeHtmlProto": {
      "type": "object",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      },
      "id": "SafeHtmlProto"
    },
    "ResultsStorage": {
      "id": "ResultsStorage",
      "type": "object",
      "properties": {
        "xunitXmlFile": {
          "description": "The path to the Xunit XML file.",
          "$ref": "FileReference"
        },
        "resultsStoragePath": {
          "description": "The root directory for test results.",
          "$ref": "FileReference"
        }
      },
      "description": "The storage for test results."
    },
    "DeviceOutOfMemory": {
      "type": "object",
      "properties": {},
      "id": "DeviceOutOfMemory",
      "description": "A warning that device ran out of memory"
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "type": "object",
      "properties": {
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class. Required",
          "type": "string"
        },
        "testTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run."
        },
        "useOrchestrator": {
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not.",
          "type": "boolean"
        }
      }
    },
    "EnvironmentDimensionValueEntry": {
      "id": "EnvironmentDimensionValueEntry",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "TestExecutionStep": {
      "type": "object",
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "id": "TestExecutionStep",
      "properties": {
        "testSuiteOverviews": {
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)",
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "type": "array"
        },
        "testTiming": {
          "$ref": "TestTiming",
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional"
        },
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testIssues": {
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          }
        }
      }
    },
    "MergedResult": {
      "description": "Merged test result for environment. If the environment has only one step (no reruns or shards), then the merged result is the same as the step result. If the environment has multiple shards and/or reruns, then the results of shards and reruns that belong to the same environment are merged into one environment result.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of the resource",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
[...]
