{
  "version": "v1beta3",
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "toolresults",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "title": "Cloud Tool Results API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://toolresults.googleapis.com/",
  "schemas": {
    "InconclusiveDetail": {
      "properties": {
        "infrastructureFailure": {
          "type": "boolean",
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail."
        },
        "abortedByUser": {
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.",
          "type": "boolean"
        },
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of infrastructure failures",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "InconclusiveDetail",
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary."
    },
    "Environment": {
      "description": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes).",
      "type": "object",
      "id": "Environment",
      "properties": {
        "environmentId": {
          "description": "Output only. An Environment id.",
          "type": "string"
        },
        "environmentResult": {
          "$ref": "MergedResult",
          "description": "Merged result of the environment."
        },
        "historyId": {
          "description": "Output only. A History id.",
          "type": "string"
        },
        "executionId": {
          "description": "Output only. An Execution id.",
          "type": "string"
        },
        "shardSummaries": {
          "description": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService.",
          "items": {
            "$ref": "ShardSummary"
          },
          "type": "array"
        },
        "displayName": {
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27.",
          "type": "string"
        },
        "resultsStorage": {
          "description": "The location where output files are stored in the user bucket.",
          "$ref": "ResultsStorage"
        },
        "dimensionValue": {
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          },
          "description": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set",
          "type": "array"
        },
        "projectId": {
          "type": "string",
          "description": "Output only. A Project id."
        },
        "creationTime": {
          "description": "Output only. The time when the Environment was created.",
          "$ref": "Timestamp"
        },
        "completionTime": {
          "description": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.",
          "$ref": "Timestamp"
        }
      }
    },
    "StepDimensionValueEntry": {
      "type": "object",
      "id": "StepDimensionValueEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TestSuiteOverview": {
      "properties": {
        "errorCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "elapsedTime": {
          "description": "Elapsed time of test suite.",
          "$ref": "Duration"
        },
        "xmlSource": {
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never",
          "$ref": "FileReference"
        },
        "skippedCount": {
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer",
          "format": "int32"
        },
        "failureCount": {
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never",
          "format": "int32",
          "type": "integer"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never"
        },
        "flakyCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases."
        },
        "name": {
          "description": "The name of the test suite. - In create/response: always set - In update request: never",
          "type": "string"
        }
      },
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step.",
      "id": "TestSuiteOverview",
      "type": "object"
    },
    "BatchCreatePerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchCreatePerfSamplesResponse"
    },
    "DetectedAppSplashScreen": {
      "type": "object",
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "id": "DetectedAppSplashScreen",
      "properties": {}
    },
    "Specification": {
      "id": "Specification",
      "properties": {
        "androidTest": {
          "description": "An Android mobile test execution specification.",
          "$ref": "AndroidTest"
        },
        "iosTest": {
          "description": "An iOS mobile test execution specification.",
          "$ref": "IosTest"
        }
      },
      "type": "object",
      "description": "The details about how to run the execution."
    },
    "ANR": {
      "description": "Additional details for an ANR crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the ANR crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "type": "object",
      "id": "ANR"
    },
    "ToolExitCode": {
      "properties": {
        "number": {
          "format": "int32",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set",
          "type": "integer"
        }
      },
      "id": "ToolExitCode",
      "description": "Exit code from a tool execution.",
      "type": "object"
    },
    "Screen": {
      "properties": {
        "version": {
          "description": "OS version of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Model of the device that the screenshot was taken on. Required."
        },
        "fileReference": {
          "description": "File reference of the png file. Required.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Locale of the device that the screenshot was taken on. Required."
        }
      },
      "id": "Screen",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "properties": {
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "description": "Executions. Always set.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch.",
          "type": "string"
        }
      }
    },
    "PerfSample": {
      "properties": {
        "sampleTime": {
          "$ref": "Timestamp",
          "description": "Timestamp of collection."
        },
        "value": {
          "description": "Value observed",
          "format": "double",
          "type": "number"
        }
      },
      "id": "PerfSample",
      "type": "object",
      "description": "Resource representing a single performance measure or data point"
    },
    "PublishXunitXmlFilesRequest": {
      "type": "object",
      "properties": {
        "xunitXmlFiles": {
          "description": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required.",
          "items": {
            "$ref": "FileReference"
          },
          "type": "array"
        }
      },
      "id": "PublishXunitXmlFilesRequest",
      "description": "Request message for StepService.PublishXunitXmlFiles."
    },
    "InAppPurchasesFound": {
      "description": "Additional details of in-app purchases encountered during the crawl.",
      "properties": {
        "inAppPurchasesFlowsExplored": {
          "type": "integer",
          "description": "The total number of in-app purchases flows explored: how many times the robo tries to buy a SKU.",
          "format": "int32"
        },
        "inAppPurchasesFlowsStarted": {
          "type": "integer",
          "description": "The total number of in-app purchases flows started.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "InAppPurchasesFound"
    },
    "StartActivityNotFound": {
      "type": "object",
      "id": "StartActivityNotFound",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "description": "User provided intent failed to resolve to an activity."
    },
    "EnvironmentDimensionValueEntry": {
      "id": "EnvironmentDimensionValueEntry",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LauncherActivityNotFound": {
      "properties": {},
      "description": "Failed to find the launcher activity of an app.",
      "id": "LauncherActivityNotFound",
      "type": "object"
    },
    "SkippedDetail": {
      "description": "Details for an outcome with a SKIPPED outcome summary.",
      "properties": {
        "incompatibleAppVersion": {
          "description": "If the App doesn't support the specific API level.",
          "type": "boolean"
        },
        "incompatibleDevice": {
          "description": "If the requested OS version doesn't run on the specific device model.",
          "type": "boolean"
        },
        "pendingTimeout": {
          "type": "boolean",
          "description": "Indicates that the test could not be scheduled in the requested time because no suitable device was available."
        },
        "incompatibleArchitecture": {
          "description": "If the App doesn't run on the specific architecture, for example, x86.",
          "type": "boolean"
        }
      },
      "id": "SkippedDetail",
      "type": "object"
    },
    "Outcome": {
      "description": "Interprets a result so that humans and machines can act on it.",
      "type": "object",
      "properties": {
        "skippedDetail": {
          "$ref": "SkippedDetail",
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional"
        },
        "inconclusiveDetail": {
          "description": "More information about an INCONCLUSIVE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE. Optional",
          "$ref": "InconclusiveDetail"
        },
        "summary": {
          "description": "The simplest way to interpret a result. Required",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ]
        },
        "failureDetail": {
          "description": "More information about a FAILURE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE. Optional",
          "$ref": "FailureDetail"
        },
        "successDetail": {
          "$ref": "SuccessDetail",
          "description": "More information about a SUCCESS outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS. Optional"
        }
      },
      "id": "Outcome"
    },
    "SafeHtmlProto": {
      "type": "object",
      "id": "SafeHtmlProto",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      }
    },
    "DeviceOutOfMemory": {
      "properties": {},
      "id": "DeviceOutOfMemory",
      "type": "object",
      "description": "A warning that device ran out of memory"
    },
    "ShardSummary": {
      "description": "Result summary for a shard in an environment.",
      "properties": {
        "runs": {
          "type": "array",
          "items": {
            "$ref": "StepSummary"
          },
          "description": "Summaries of the steps belonging to the shard. With flaky_test_attempts enabled from TestExecutionService, more than one run (Step) can present. And the runs will be sorted by multistep_number."
        },
        "shardResult": {
          "description": "Merged result of the shard.",
          "$ref": "MergedResult"
        }
      },
      "id": "ShardSummary",
      "type": "object"
    },
    "ProjectSettings": {
      "description": "Per-project settings for the Tool Results service.",
      "properties": {
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set",
          "type": "string"
        },
        "defaultBucket": {
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProjectSettings"
    },
    "ListEnvironmentsResponse": {
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A History id. Always set."
        },
        "projectId": {
          "type": "string",
          "description": "A Project id. Always set."
        },
        "environments": {
          "description": "Environments. Always set.",
          "items": {
            "$ref": "Environment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch.",
          "type": "string"
        },
        "executionId": {
          "description": "A Execution id Always set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "id": "ListEnvironmentsResponse"
    },
    "Duration": {
      "type": "object",
      "id": "Duration",
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive."
        },
        "seconds": {
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TestCaseReference": {
      "id": "TestCaseReference",
      "properties": {
        "testSuiteName": {
          "description": "The name of the test suite to which this test case belongs.",
          "type": "string"
        },
        "name": {
          "description": "The name of the test case. Required.",
          "type": "string"
        },
        "className": {
          "description": "The name of the class.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name."
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "properties": {
        "widthPx": {
          "type": "integer",
          "description": "The width of the thumbnail, in pixels. Always set.",
          "format": "int32"
        },
        "heightPx": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the thumbnail, in pixels. Always set."
        },
        "data": {
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set.",
          "type": "string",
          "format": "byte"
        },
        "contentType": {
          "type": "string",
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set."
        }
      },
      "description": "A single thumbnail, with its size and format.",
      "type": "object"
    },
    "PerformedGoogleLogin": {
      "id": "PerformedGoogleLogin",
      "description": "A notification that Robo signed in with Google.",
      "type": "object",
      "properties": {}
    },
    "PendingGoogleUpdateInsight": {
      "type": "object",
      "id": "PendingGoogleUpdateInsight",
      "description": "This insight indicates that the hidden API usage originates from a Google-provided library. Users need not take any action.",
      "properties": {
        "nameOfGoogleLibrary": {
          "description": "The name of the Google-provided library with the non-SDK API dependency.",
          "type": "string"
        }
      }
    },
    "ToolExecution": {
      "id": "ToolExecution",
      "type": "object",
      "properties": {
        "toolLogs": {
          "type": "array",
          "items": {
            "$ref": "FileReference"
          },
          "description": "References to any plain text logs output the tool execution. This field can be set before the tool has exited in order to be able to have access to a live view of the logs while the tool is running. The maximum allowed number of tool logs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list"
        },
        "exitCode": {
          "$ref": "ToolExitCode",
          "description": "Tool execution exit code. This field will be set once the tool has exited. - In response: present if set by create/update request - In create request: optional - In update request: optional, a FAILED_PRECONDITION error will be returned if an exit_code is already set."
        },
        "commandLineArguments": {
          "description": "The full tokenized command line including the program name (equivalent to argv in a C program). - In response: present if set by create request - In create request: optional - In update request: never set",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution. The maximum allowed number of tool outputs per step is 1000. - In response: present if set by create/update request - In create request: optional - In update request: optional, any value provided will be appended to the existing list",
          "items": {
            "$ref": "ToolOutputReference"
          },
          "type": "array"
        }
      },
      "description": "An execution of an arbitrary tool. It could be a test runner or a tool copying artifacts or deploying code."
    },
    "UnspecifiedWarning": {
      "properties": {},
      "type": "object",
      "description": "Default unspecified warning.",
      "id": "UnspecifiedWarning"
    },
    "ListTestCasesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "testCases": {
          "description": "List of test cases.",
          "items": {
            "$ref": "TestCase"
          },
          "type": "array"
        }
      },
      "id": "ListTestCasesResponse",
      "description": "Response message for StepService.ListTestCases.",
      "type": "object"
    },
    "InsufficientCoverage": {
      "id": "InsufficientCoverage",
      "type": "object",
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "properties": {}
    },
    "PerfSampleSeries": {
      "id": "PerfSampleSeries",
      "description": "Resource representing a collection of performance samples (or data points)",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The cloud project @OutputOnly"
        },
        "executionId": {
          "type": "string",
          "description": "A tool results execution ID. @OutputOnly"
        },
        "basicPerfSampleSeries": {
          "description": "Basic series represented by a line chart",
          "$ref": "BasicPerfSampleSeries"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "sampleSeriesId": {
          "description": "A sample series id @OutputOnly",
          "type": "string"
        },
        "stepId": {
          "type": "string",
          "description": "A tool results step ID. @OutputOnly"
        }
      }
    },
    "Timestamp": {
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer"
        },
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Timestamp",
      "type": "object"
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "type": "object",
      "properties": {
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. Required"
        },
        "useOrchestrator": {
          "type": "boolean",
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not."
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        },
        "testTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run."
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests."
    },
    "CrashDialogError": {
      "description": "Crash dialog was detected during the test execution",
      "id": "CrashDialogError",
      "type": "object",
      "properties": {
        "crashPackage": {
          "type": "string",
          "description": "The name of the package that caused the dialog."
        }
      }
    },
    "IosAppInfo": {
      "id": "IosAppInfo",
      "properties": {
        "name": {
          "description": "The name of the app. Required",
          "type": "string"
        }
      },
      "type": "object",
      "description": "iOS app information"
    },
    "AndroidRoboTest": {
      "properties": {
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app. Optional",
          "type": "string"
        },
        "maxDepth": {
          "description": "The max depth of the traversal stack Robo can explore. Optional",
          "type": "integer",
          "format": "int32"
        },
        "bootstrapRunnerClass": {
          "description": "The runner class for the bootstrap. Optional",
          "type": "string"
        },
        "bootstrapPackageId": {
          "type": "string",
          "description": "The java package for the bootstrap. Optional"
        },
        "maxSteps": {
          "type": "integer",
          "description": "The max number of steps/actions Robo can execute. Default is no limit (0). Optional",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.",
      "id": "AndroidRoboTest"
    },
    "RegionProto": {
      "description": "A rectangular region.",
      "type": "object",
      "properties": {
        "topPx": {
          "description": "The top of the rectangle, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        },
        "widthPx": {
          "format": "int32",
          "description": "The width, in pixels. Always set.",
          "type": "integer"
        },
        "heightPx": {
          "description": "The height, in pixels. Always set.",
          "type": "integer",
          "format": "int32"
        },
        "leftPx": {
          "format": "int32",
          "description": "The left side of the rectangle, in pixels. Always set.",
          "type": "integer"
        }
      },
      "id": "RegionProto"
    },
    "RoboScriptExecution": {
      "id": "RoboScriptExecution",
      "type": "object",
      "description": "Execution stats for a user-provided Robo script.",
      "properties": {
        "successfulActions": {
          "format": "int32",
          "description": "The number of Robo script actions executed successfully.",
          "type": "integer"
        },
        "totalActions": {
          "description": "The total number of actions in the Robo script.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MultiStep": {
      "type": "object",
      "properties": {
        "multistepNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
        },
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        },
        "primaryStep": {
          "$ref": "PrimaryStep",
          "description": "Present if it is a primary (original) step."
        }
      },
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "id": "MultiStep"
    },
    "TestExecutionStep": {
      "type": "object",
      "properties": {
        "testSuiteOverviews": {
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)",
          "type": "array"
        },
        "testIssues": {
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          },
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional"
        },
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testTiming": {
          "$ref": "TestTiming",
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional"
        }
      },
      "id": "TestExecutionStep",
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field."
    },
    "PrimaryStep": {
      "type": "object",
      "id": "PrimaryStep",
      "properties": {
        "individualOutcome": {
          "description": "Step Id and outcome of each individual step.",
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          }
        },
        "rollUp": {
          "type": "string",
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        }
      },
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step."
    },
    "ListPerfSampleSeriesResponse": {
      "id": "ListPerfSampleSeriesResponse",
      "type": "object",
      "properties": {
        "perfSampleSeries": {
          "description": "The resulting PerfSampleSeries sorted by id",
          "items": {
            "$ref": "PerfSampleSeries"
          },
          "type": "array"
        }
      }
    },
    "ToolOutputReference": {
      "properties": {
        "output": {
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set",
          "$ref": "FileReference"
        },
        "testCase": {
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "TestCaseReference"
        },
        "creationTime": {
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Timestamp"
        }
      },
      "id": "ToolOutputReference",
      "description": "A reference to a ToolExecution output file.",
      "type": "object"
    },
    "TestTiming": {
      "type": "object",
      "properties": {
        "testProcessDuration": {
          "$ref": "Duration",
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional"
        }
      },
      "description": "Testing timing break down to know phases.",
      "id": "TestTiming"
    },
    "FileReference": {
      "type": "object",
      "description": "A reference to a file.",
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "The URI of a file stored in Google Cloud Storage. For example: `http://storage.googleapis.com/mybucket/path/to/test.xml` or in Cloud Storage URI format: `gs://mybucket/path/to/test.xml` with version-specific info, `gs://mybucket/path/to/test.xml#1360383693690000` An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set"
        }
      },
      "id": "FileReference"
    },
    "ListStepThumbnailsResponse": {
      "type": "object",
      "id": "ListStepThumbnailsResponse",
      "properties": {
        "thumbnails": {
          "type": "array",
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep).",
          "items": {
            "$ref": "Image"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field."
        }
      },
      "description": "A response containing the thumbnails in a step."
    },
    "ListScreenshotClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "The set of clusters associated with an execution Always set",
          "items": {
            "$ref": "ScreenshotCluster"
          }
        }
      },
      "id": "ListScreenshotClustersResponse"
    },
    "SuggestionClusterProto": {
      "type": "object",
      "id": "SuggestionClusterProto",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "SuggestionProto"
          },
          "type": "array",
          "description": "A sequence of suggestions. All of the suggestions within a cluster must have the same SuggestionPriority and belong to the same SuggestionCategory. Suggestions with the same screenshot URL should be adjacent."
        },
        "category": {
          "type": "string",
          "description": "Category in which these types of suggestions should appear. Always set.",
          "enum": [
            "unknownCategory",
            "contentLabeling",
            "touchTargetSize",
            "lowContrast",
            "implementation"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "A set of similar suggestions that we suspect are closely related. This proto and most of the nested protos are branched from foxandcrown.prelaunchreport.service.SuggestionClusterProto, replacing PLR's dependencies with FTL's."
    },
    "NonSdkApiUsageViolationReport": {
      "type": "object",
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "properties": {
        "minSdkVersion": {
          "format": "int32",
          "description": "Minimum API level required for the application to run.",
          "type": "integer"
        },
        "exampleApis": {
          "type": "array",
          "description": "Examples of the detected API usages.",
          "items": {
            "$ref": "NonSdkApi"
          }
        },
        "uniqueApis": {
          "description": "Total number of unique Non-SDK API's accessed.",
          "type": "integer",
          "format": "int32"
        },
        "targetSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the API Level on which the application is designed to run."
        }
      },
      "id": "NonSdkApiUsageViolationReport"
    },
    "IosXcTest": {
      "properties": {
        "xcodeVersion": {
          "type": "string",
          "description": "Xcode version that the test was run with."
        },
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      },
      "id": "IosXcTest",
      "type": "object",
      "description": "A test of an iOS application that uses the XCTest framework."
    },
    "PerfEnvironment": {
      "description": "Encapsulates performance environment info",
      "type": "object",
      "properties": {
        "cpuInfo": {
          "description": "CPU related environment info",
          "$ref": "CPUInfo"
        },
        "memoryInfo": {
          "description": "Memory related environment info",
          "$ref": "MemoryInfo"
        }
      },
      "id": "PerfEnvironment"
    },
    "History": {
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
        },
        "name": {
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set",
          "type": "string"
        },
        "testPlatform": {
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown."
        }
      },
      "id": "History",
      "type": "object"
    },
    "Step": {
      "properties": {
        "deviceUsageDuration": {
          "description": "How much the device resource is used to perform the test. This is the device usage used for billing purpose, which is different from the run_duration, for example, infrastructure failure won't be charged for device usage. PRECONDITION_FAILED will be returned if one attempts to set a device_usage on a step which already has this field set. - In response: present if previously set. - In create request: optional - In update request: optional",
          "$ref": "Duration"
        },
        "labels": {
          "description": "Arbitrary user-supplied key/value pairs that are associated with the step. Users are responsible for managing the key namespace such that keys don't accidentally collide. An INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the length of any of the keys or values exceeds 100 characters. - In response: always set - In create request: optional - In update request: optional; any new key/value pair will be added to the map, and any new value for an existing key will update that key's value",
          "type": "array",
          "items": {
            "$ref": "StepLabelsEntry"
          }
        },
        "description": {
          "description": "A description of this tool For example: mvn clean package -D skipTests=true - In response: present if set by create/update request - In create/update request: optional",
          "type": "string"
        },
        "dimensionValue": {
          "description": "If the execution containing this step has any dimension_definition set, then this field allows the child to specify the values of the dimensions. The keys must exactly match the dimension_definition of the execution. For example, if the execution has `dimension_definition = ['attempt', 'device']` then a step must define values for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']` If a step does not participate in one dimension of the matrix, the value for that dimension should be empty string. For example, if one of the tests is executed by a runner which does not support retries, the step could have `dimension_value = ['attempt': '', 'device': 'Nexus 6']` If the step does not participate in any dimensions of the matrix, it may leave dimension_value unset. A PRECONDITION_FAILED will be returned if any of the keys do not exist in the dimension_definition of the execution. A PRECONDITION_FAILED will be returned if another step in this execution already has the same name and dimension_value, but differs on other data fields, for example, step field is different. A PRECONDITION_FAILED will be returned if dimension_value is set, and there is a dimension_definition in the execution which is not specified as one of the keys. - In response: present if set by create - In create request: optional - In update request: never set",
          "items": {
            "$ref": "StepDimensionValueEntry"
          },
          "type": "array"
        },
        "name": {
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Clean build A PRECONDITION_FAILED will be returned upon creating a new step if it shares its name and dimension_value with an existing step. If two steps represent a similar action, but have different dimension values, they should share the same name. For instance, if the same set of tests is run on two different platforms, the two steps should have the same name. - In response: always set - In create request: always set - In update request: never set",
          "type": "string"
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run. If unset, this is set to the difference between creation_time and completion_time when the step is set to the COMPLETE state. In some cases, it is appropriate to set this value separately: For instance, if a step is created, but the operation it represents is queued for a few minutes before it executes, it would be appropriate not to include the time spent queued in its run_duration. PRECONDITION_FAILED will be returned if one attempts to set a run_duration on a step which already has this field set. - In response: present if previously set; always present on COMPLETE step - In create request: optional - In update request: optional"
        },
        "completionTime": {
          "description": "The time when the step status was set to complete. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "state": {
          "type": "string",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -> COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional"
        },
        "stepId": {
          "description": "A unique identifier within a Execution for this Step. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response: always set - In create/update request: never set",
          "type": "string"
        },
        "toolExecutionStep": {
          "$ref": "ToolExecutionStep",
          "description": "An execution of a tool (used for steps we don't explicitly support)."
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the step was created. - In response: always set - In create/update request: never set"
        },
        "outcome": {
          "description": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "hasImages": {
          "description": "Whether any of the outputs of this step are images whose thumbnails can be fetched with ListThumbnails. - In response: always set - In create/update request: never set",
          "type": "boolean"
        },
        "testExecutionStep": {
          "description": "An execution of a test runner.",
          "$ref": "TestExecutionStep"
        },
        "multiStep": {
          "$ref": "MultiStep",
          "description": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional"
        }
      },
      "description": "A Step represents a single operation performed as part of Execution. A step can be used to represent the execution of a tool ( for example a test runner execution or an execution of a compiler). Steps can overlap (for instance two steps might have the same start time if some operations are done in parallel). Here is an example, let's consider that we have a continuous build is executing a test runner for each iteration. The workflow would look like: - user creates a Execution with id 1 - user creates a TestExecutionStep with id 100 for Execution 1 - user update TestExecutionStep with id 100 to add a raw xml log + the service parses the xml logs and returns a TestExecutionStep with updated TestResult(s). - user update the status of TestExecutionStep with id 100 to COMPLETE A Step can be updated until its state is set to COMPLETE at which points it becomes immutable.",
      "type": "object",
      "id": "Step"
    },
    "PerfMetricsSummary": {
      "id": "PerfMetricsSummary",
      "description": "A summary of perf metrics collected and performance environment info",
      "type": "object",
      "properties": {
        "appStartTime": {
          "$ref": "AppStartTime"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The cloud project @OutputOnly"
        },
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "perfMetricTypeUnspecified",
              "memory",
              "cpu",
              "network",
              "graphics"
            ]
          }
        },
        "stepId": {
          "type": "string",
          "description": "A tool results step ID. @OutputOnly"
        },
        "graphicsStats": {
          "$ref": "GraphicsStats",
          "description": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run.",
          "deprecated": true
        },
        "perfEnvironment": {
          "$ref": "PerfEnvironment",
          "description": "Describes the environment in which the performance metrics were collected"
        }
      }
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "type": "object",
      "description": "Additional details for an iOS app crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "description": "Additional details about encountered screens with elements that are not Android UI widgets.",
      "id": "EncounteredNonAndroidUiWidgetScreen",
      "type": "object",
      "properties": {
        "distinctScreens": {
          "type": "integer",
          "format": "int32",
          "description": "Number of encountered distinct screens with non Android UI widgets."
        },
        "screenIds": {
          "description": "Subset of screens which contain non Android UI widgets.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AndroidAppInfo": {
      "type": "object",
      "id": "AndroidAppInfo",
      "description": "Android app information.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the app. Required."
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        },
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the app. Optional"
        }
      }
    },
    "UIElementTooDeep": {
      "properties": {
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        },
        "depth": {
          "format": "int32",
          "type": "integer",
          "description": "The depth of the screen element"
        },
        "screenStateId": {
          "type": "string",
          "description": "The screen state id of the element"
        }
      },
      "id": "UIElementTooDeep",
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "type": "object"
    },
    "TestIssue": {
      "id": "TestIssue",
      "properties": {
        "stackTrace": {
          "deprecated": true,
          "$ref": "StackTrace",
          "description": "Deprecated in favor of stack trace fields inside specific warnings."
        },
        "warning_migration": {
          "$ref": "Any",
          "description": "Warning message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings"
        },
        "severity": {
          "enumDescriptions": [
            "Default unspecified severity. Do not use. For versioning only.",
            "Non critical issue, providing users with some info about the test run.",
            "Non critical issue, providing users with some hints on improving their testing experience, e.g., suggesting to use Game Loops.",
            "Potentially critical issue.",
            "Critical issue."
          ],
          "type": "string",
          "description": "Severity of issue. Required.",
          "enum": [
            "unspecifiedSeverity",
            "info",
            "suggestion",
            "warning",
            "severe"
          ]
        },
        "category": {
          "enumDescriptions": [
            "Default unspecified category. Do not use. For versioning only.",
            "Issue is not specific to a particular test kind (e.g., a native crash).",
            "Issue is specific to Robo run."
          ],
          "enum": [
            "unspecifiedCategory",
            "common",
            "robo"
          ],
          "type": "string",
          "description": "Category of issue. Required."
        },
        "errorMessage": {
          "type": "string",
          "description": "A brief human-readable message describing the issue. Required."
        },
        "type": {
          "description": "Type of issue. Required.",
          "enumDescriptions": [
            "Default unspecified type. Do not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not Android UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
            "Robo did not crawl some potentially important parts of the app.",
            "Robo crawl involved some in-app purchases.",
            "Crash dialog was detected during the test execution",
            "UI element depth is greater than the threshold",
            "Blank screen is found in the Robo crawl",
            "Overlapping UI elements are found in the Robo crawl",
            "An uncaught Unity exception was detected (these don't crash apps).",
            "Device running out of memory was detected",
            "Problems detected while collecting logcat",
            "Robo detected a splash screen provided by app (vs. Android OS splash screen).",
            "There was an issue with the assets in this test.",
            "Licensing protection termination (Pairip) was detected.",
            "Anti-tampering termination was detected."
          ],
          "type": "string",
          "enum": [
            "unspecifiedType",
            "fatalException",
            "nativeCrash",
            "anr",
            "unusedRoboDirective",
            "compatibleWithOrchestrator",
            "launcherActivityNotFound",
            "startActivityNotFound",
            "incompleteRoboScriptExecution",
            "completeRoboScriptExecution",
            "failedToInstall",
            "availableDeepLinks",
            "nonSdkApiUsageViolation",
            "nonSdkApiUsageReport",
            "encounteredNonAndroidUiWidgetScreen",
            "encounteredLoginScreen",
            "performedGoogleLogin",
            "iosException",
            "iosCrash",
            "performedMonkeyActions",
            "usedRoboDirective",
            "usedRoboIgnoreDirective",
            "insufficientCoverage",
            "inAppPurchases",
            "crashDialogError",
            "uiElementsTooDeep",
            "blankScreen",
            "overlappingUiElements",
            "unityException",
            "deviceOutOfMemory",
            "logcatCollectionError",
            "detectedAppSplashScreen",
            "assetIssue",
            "licensingProtectionTermination",
            "antiTamperingTermination"
          ]
        }
      },
      "description": "An issue detected occurring during a test execution.",
      "type": "object"
    },
    "OverlappingUIElements": {
      "id": "OverlappingUIElements",
      "description": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue.",
      "properties": {
        "screenId": {
          "description": "The screen id of the elements",
          "type": "string"
        },
        "resourceName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of the overlapping screen elements"
        }
      },
      "type": "object"
    },
    "UsedRoboDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was used."
        }
      },
      "id": "UsedRoboDirective",
      "description": "Additional details of a used Robo directive."
    },
    "UpgradeInsight": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The name of the package to be upgraded."
        },
        "upgradeToVersion": {
          "type": "string",
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem"
        }
      },
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs.",
      "id": "UpgradeInsight",
      "type": "object"
    },
    "UnusedRoboDirective": {
      "type": "object",
      "description": "Additional details of an unused robodirective.",
      "id": "UnusedRoboDirective",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      }
    },
    "ResultsStorage": {
      "id": "ResultsStorage",
      "type": "object",
      "description": "The storage for test results.",
      "properties": {
        "xunitXmlFile": {
          "$ref": "FileReference",
          "description": "The path to the Xunit XML file."
        },
        "resultsStoragePath": {
          "description": "The root directory for test results.",
          "$ref": "FileReference"
        }
      }
    },
    "AvailableDeepLinks": {
      "id": "AvailableDeepLinks",
      "type": "object",
      "properties": {},
      "description": "A suggestion to use deep links for a Robo run."
    },
    "MergedResult": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "description": "State of the resource",
          "type": "string",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ]
        },
        "outcome": {
          "$ref": "Outcome",
          "description": "Outcome of the resource"
        },
        "testSuiteOverviews": {
          "type": "array",
          "description": "The combined and rolled-up result of each test suite that was run as part of this environment. Combining: When the test cases from a suite are run in different steps (sharding), the results are added back together in one overview. (e.g., if shard1 has 2 failures and shard2 has 1 failure than the overview failure_count = 3). Rollup: When test cases from the same suite are run multiple times (flaky), the results are combined (e.g., if testcase1.run1 fails, testcase1.run2 passes, and both testcase2.run1 and testcase2.run2 fail then the overview flaky_count = 1 and failure_count = 1).",
          "items": {
            "$ref": "TestSuiteOverview"
          }
        }
      },
      "id": "MergedResult",
      "description": "Merged test result for environment. If the environment has only one step (no reruns or shards), then the merged result is the same as the step result. If the environment has multiple shards and/or reruns, then the results of shards and reruns that belong to the same environment are merged into one environment result.",
      "type": "object"
    },
    "NonSdkApiUsageViolation": {
      "description": "Additional details for a non-sdk API usage violation.",
      "type": "object",
      "properties": {
        "apiSignatures": {
          "description": "Signatures of a subset of those hidden API's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uniqueApis": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of unique hidden API's accessed."
        }
      },
      "id": "NonSdkApiUsageViolation"
    },
    "Image": {
      "id": "Image",
      "properties": {
        "stepId": {
          "type": "string",
          "description": "The step to which the image is attached. Always set."
        },
        "thumbnail": {
          "$ref": "Thumbnail",
          "description": "The thumbnail."
        },
        "sourceImage": {
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set.",
          "$ref": "ToolOutputReference"
        },
        "error": {
          "description": "An error explaining why the thumbnail could not be rendered.",
          "$ref": "Status"
        }
      },
      "description": "An image, with a link to the main image and a thumbnail.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "BasicPerfSampleSeries": {
      "type": "object",
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "id": "BasicPerfSampleSeries",
      "properties": {
        "perfUnit": {
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sampleSeriesLabel": {
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ],
          "type": "string"
        },
        "perfMetricType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ]
        }
      }
    },
    "EncounteredLoginScreen": {
      "type": "object",
      "properties": {
        "screenIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Subset of login screens."
        },
        "distinctScreens": {
          "description": "Number of encountered distinct login screens.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "EncounteredLoginScreen",
      "description": "Additional details about encountered login screens."
    },
    "UsedRoboIgnoreDirective": {
      "id": "UsedRoboIgnoreDirective",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was ignored.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Additional details of a used Robo directive with an ignore action. Note: This is a different scenario than unused directive."
    },
    "StepSummary": {
      "properties": {},
      "description": "Lightweight summary of a step within this execution.",
      "type": "object",
      "id": "StepSummary"
    },
    "ScreenshotCluster": {
      "properties": {
        "clusterId": {
          "description": "A unique identifier for the cluster. @OutputOnly",
          "type": "string"
        },
        "activity": {
          "type": "string",
          "description": "A string that describes the activity of every screen in the cluster."
        },
        "screens": {
          "type": "array",
          "items": {
            "$ref": "Screen"
          },
          "description": "Full list of screens."
        },
        "keyScreen": {
          "$ref": "Screen",
          "description": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm"
        }
      },
      "id": "ScreenshotCluster",
      "type": "object"
    },
    "SuggestionProto": {
      "id": "SuggestionProto",
      "type": "object",
      "properties": {
        "priority": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "unknownPriority",
            "error",
            "warning",
            "info"
          ],
          "description": "Relative importance of a suggestion. Always set."
        },
        "longMessage": {
          "description": "Message, in the user's language, explaining the suggestion, which may contain markup. Always set.",
          "$ref": "SafeHtmlProto"
        },
        "resourceName": {
          "description": "Reference to a view element, identified by its resource name, if it has one.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "General title for the suggestion, in the user's language, without markup. Always set."
        },
        "helpUrl": {
          "description": "Reference to a help center article concerning this type of suggestion. Always set.",
          "type": "string"
        },
        "screenId": {
          "type": "string",
          "description": "ID of the screen for the suggestion. It is used for getting the corresponding screenshot path. For example, screen_id \"1\" corresponds to \"1.png\" file in GCS. Always set."
        },
        "pseudoResourceId": {
          "description": "A somewhat human readable identifier of the source view, if it does not have a resource_name. This is a path within the accessibility hierarchy, an element with resource name; similar to an XPath.",
          "type": "string"
        },
        "secondaryPriority": {
          "format": "double",
          "type": "number",
          "description": "Relative importance of a suggestion as compared with other suggestions that have the same priority and category. This is a meaningless value that can be used to order suggestions that are in the same category and have the same priority. The larger values have higher priority (i.e., are more important). Optional."
        },
        "region": {
          "$ref": "RegionProto",
          "description": "Region within the screenshot that is relevant to this suggestion. Optional."
        },
        "shortMessage": {
          "description": "Concise message, in the user's language, representing the suggestion, which may contain markup. Always set.",
          "$ref": "SafeHtmlProto"
        }
      }
    },
    "NativeCrash": {
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the native crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "description": "Additional details for a native crash.",
      "type": "object",
      "id": "NativeCrash"
    },
    "ListPerfSamplesResponse": {
      "id": "ListPerfSamplesResponse",
      "type": "object",
      "properties": {
        "perfSamples": {
          "items": {
            "$ref": "PerfSample"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        }
      }
    },
    "IosTestLoop": {
      "type": "object",
      "id": "IosTestLoop",
      "description": "A game loop test of an iOS application.",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      }
    },
    "ListHistoriesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes."
        },
        "histories": {
          "items": {
            "$ref": "History"
          },
          "type": "array",
          "description": "Histories."
        }
      },
      "type": "object",
      "id": "ListHistoriesResponse",
      "description": "Response message for HistoryService.List"
    },
    "AssetIssue": {
      "id": "AssetIssue",
      "type": "object",
      "description": "There was an issue with the assets in this test.",
      "properties": {}
    },
    "IosRoboTest": {
      "id": "IosRoboTest",
      "description": "A Robo test for an iOS application.",
      "properties": {},
      "type": "object"
    },
    "MemoryInfo": {
      "id": "MemoryInfo",
      "type": "object",
      "properties": {
        "memoryCapInKibibyte": {
          "description": "Maximum memory that can be allocated to the process in KiB",
          "type": "string",
          "format": "int64"
        },
        "memoryTotalInKibibyte": {
          "description": "Total memory available on the device in KiB",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AndroidTestLoop": {
      "id": "AndroidTestLoop",
      "type": "object",
      "properties": {},
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent."
    },
    "AndroidTest": {
      "type": "object",
      "properties": {
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        },
        "androidTestLoop": {
          "$ref": "AndroidTestLoop",
          "description": "An Android test loop."
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        }
      },
      "description": "An Android mobile test specification.",
      "id": "AndroidTest"
    },
    "FailedToInstall": {
      "description": "Failed to install the App.",
      "properties": {},
      "id": "FailedToInstall",
      "type": "object"
    },
    "SuccessDetail": {
      "id": "SuccessDetail",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process other than the app crashed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Details for an outcome with a SUCCESS outcome summary. LINT.IfChange"
    },
    "Execution": {
      "id": "Execution",
      "type": "object",
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.",
      "properties": {
        "dimensionDefinitions": {
          "type": "array",
          "items": {
            "$ref": "MatrixDimensionDefinition"
          },
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set"
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "type": "string"
        },
        "specification": {
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional",
          "$ref": "Specification"
        },
        "testExecutionMatrixId": {
          "type": "string",
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "completionTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
        },
        "executionId": {
          "type": "string",
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
        }
      }
    },
    "GraphicsStatsBucket": {
      "type": "object",
      "properties": {
        "renderMillis": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound of render time in milliseconds."
        },
        "frameCount": {
          "description": "Number of frames in the bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GraphicsStatsBucket"
    },
    "CPUInfo": {
      "properties": {
        "cpuProcessor": {
          "type": "string",
          "description": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'"
        },
        "numberOfCores": {
          "format": "int32",
          "description": "the number of CPU cores",
          "type": "integer"
        },
        "cpuSpeedInGhz": {
          "format": "float",
          "type": "number",
          "description": "the CPU clock speed in GHz"
        }
      },
      "id": "CPUInfo",
      "type": "object"
    },
    "LogcatCollectionError": {
      "id": "LogcatCollectionError",
      "description": "A warning that there were issues in logcat collection.",
      "type": "object",
      "properties": {}
    },
    "FatalException": {
      "description": "Additional details for a fatal exception.",
      "type": "object",
      "id": "FatalException",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the fatal exception. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "Any": {
      "description": " `Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". # JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\": } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message google.protobuf.Duration): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }",
      "properties": {
        "typeUrl": {
          "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: * If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield a google.protobuf.Type value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.",
          "type": "string"
        },
        "value": {
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Any"
    },
    "AppStartTime": {
      "properties": {
        "initialDisplayTime": {
          "$ref": "Duration",
          "description": "The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial"
        },
        "fullyDrawnTime": {
          "description": "Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full",
          "$ref": "Duration"
        }
      },
      "type": "object",
      "id": "AppStartTime"
    },
    "ListStepsResponse": {
      "id": "ListStepsResponse",
      "type": "object",
      "description": "Response message for StepService.List.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more steps to read, by calling list again with this value in the page_token field."
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "Steps."
        }
      }
    },
    "TestCase": {
      "id": "TestCase",
      "properties": {
        "startTime": {
          "description": "The start time of the test case.",
          "$ref": "Timestamp"
        },
        "status": {
          "type": "string",
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "description": "The status of the test case. Required.",
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "skippedMessage": {
          "description": "Why the test case was skipped. Present only for skipped test case",
          "type": "string"
        },
        "stackTraces": {
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed.",
          "items": {
            "$ref": "StackTrace"
          },
          "type": "array"
        },
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly",
          "items": {
            "$ref": "ToolOutputReference"
          },
          "type": "array"
        },
        "endTime": {
          "$ref": "Timestamp",
          "description": "The end time of the test case."
        },
        "elapsedTime": {
          "$ref": "Duration",
          "description": "The elapsed run time of the test case. Required."
        },
        "testCaseReference": {
          "description": "Test case reference, e.g. name, class name and test suite name. Required.",
          "$ref": "TestCaseReference"
        }
      },
      "type": "object"
    },
    "NonSdkApiInsight": {
      "type": "object",
      "id": "NonSdkApiInsight",
      "properties": {
        "matcherId": {
          "type": "string",
          "description": "A unique ID, to be used for determining the effectiveness of this particular insight in the context of a matcher. (required)"
        },
        "exampleTraceMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional sample stack traces, for which this insight applies (there should be at least one)."
        },
        "upgradeInsight": {
          "description": "An insight indicating that the hidden API usage originates from the use of a library that needs to be upgraded.",
          "$ref": "UpgradeInsight"
        },
        "pendingGoogleUpdateInsight": {
          "$ref": "PendingGoogleUpdateInsight",
          "description": "An insight indicating that the hidden API usage originates from a Google-provided library."
        }
      },
      "description": "Non-SDK API insights (to address debugging solutions)."
    },
    "IosTest": {
      "description": "A iOS mobile test specification",
      "id": "IosTest",
      "properties": {
        "iosAppInfo": {
          "$ref": "IosAppInfo",
          "description": "Information about the application under test."
        },
        "iosXcTest": {
          "description": "An iOS XCTest.",
          "$ref": "IosXcTest"
        },
        "iosRoboTest": {
          "$ref": "IosRoboTest",
          "description": "An iOS Robo test."
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "iosTestLoop": {
          "$ref": "IosTestLoop",
          "description": "An iOS test loop."
        }
      },
      "type": "object"
    },
    "StepLabelsEntry": {
      "id": "StepLabelsEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GraphicsStats": {
      "type": "object",
      "description": "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+.",
      "properties": {
        "p90Millis": {
          "type": "string",
          "format": "int64",
          "description": "90th percentile frame render time in milliseconds."
        },
        "p99Millis": {
          "description": "99th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "totalFrames": {
          "format": "int64",
          "type": "string",
          "description": "Total frames rendered by package."
        },
        "p50Millis": {
          "description": "50th percentile frame render time in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "jankyFrames": {
          "description": "Total frames with slow render time. Should be <= total_frames.",
          "format": "int64",
          "type": "string"
        },
        "slowDrawCount": {
          "description": "Total \"slow draw\" events.",
          "type": "string",
          "format": "int64"
        },
        "p95Millis": {
          "format": "int64",
          "type": "string",
          "description": "95th percentile frame render time in milliseconds."
        },
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "GraphicsStatsBucket"
          },
          "description": "Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)"
        },
        "highInputLatencyCount": {
          "type": "string",
          "description": "Total \"high input latency\" events.",
          "format": "int64"
        },
        "slowUiThreadCount": {
          "type": "string",
          "description": "Total \"slow UI thread\" events.",
          "format": "int64"
        },
        "slowBitmapUploadCount": {
          "type": "string",
          "description": "Total \"slow bitmap upload\" events.",
          "format": "int64"
        },
        "missedVsyncCount": {
          "description": "Total \"missed vsync\" events.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GraphicsStats"
    },
    "MatrixDimensionDefinition": {
      "type": "object",
      "properties": {},
      "description": "One dimension of the matrix of different runs of a step.",
      "id": "MatrixDimensionDefinition"
    },
    "ListStepAccessibilityClustersResponse": {
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters.",
      "type": "object",
      "id": "ListStepAccessibilityClustersResponse",
      "properties": {
        "name": {
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.",
          "type": "string"
        },
        "clusters": {
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.",
          "type": "array",
          "items": {
            "$ref": "SuggestionClusterProto"
          }
        }
      }
    },
    "NonSdkApi": {
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "properties": {
        "exampleStackTraces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Example stack traces of this API being called."
        },
        "insights": {
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "description": "Optional debugging insights for non-SDK API violations.",
          "type": "array"
        },
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
[...]
