{
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "response": {
            "$ref": "ProjectSettings"
          },
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "id": "toolresults.projects.initializeSettings",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "parameters": {
            "projectId": {
              "description": "A Project id. Required.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSettings": {
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "A Project id. Required.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "id": "toolresults.projects.getSettings",
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "parameterOrder": [
            "projectId"
          ]
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "get": {
              "id": "toolresults.projects.histories.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "historyId": {
                  "location": "path",
                  "description": "A History id. Required.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "response": {
                "$ref": "History"
              },
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist"
            },
            "create": {
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "History"
              },
              "id": "toolresults.projects.histories.create",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories"
            },
            "list": {
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "id": "toolresults.projects.histories.list",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "A Project id. Required.",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A continuation token to resume the query at the next item. Optional."
                },
                "pageSize": {
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filterByName": {
                  "type": "string",
                  "location": "query",
                  "description": "If set, only return histories with the given name. Optional."
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories"
            }
          },
          "resources": {
            "executions": {
              "methods": {
                "get": {
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.get",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A Project id. Required."
                    },
                    "executionId": {
                      "description": "An Execution id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}"
                },
                "patch": {
                  "request": {
                    "$ref": "Execution"
                  },
                  "id": "toolresults.projects.histories.executions.patch",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "executionId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required.",
                      "required": true
                    },
                    "historyId": {
                      "type": "string",
                      "description": "Required.",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required.",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ]
                },
                "list": {
                  "parameters": {
                    "projectId": {
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "historyId": {
                      "location": "path",
                      "type": "string",
                      "description": "A History id. Required.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "toolresults.projects.histories.executions.list",
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query",
                      "type": "string"
                    },
                    "historyId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A History id. Required."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "id": "toolresults.projects.histories.executions.create",
                  "request": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "response": {
                    "$ref": "Execution"
                  }
                }
              },
              "resources": {
                "clusters": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "clusterId": {
                          "location": "path",
                          "description": "A Cluster id Required.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required."
                        },
                        "executionId": {
                          "location": "path",
                          "description": "An Execution id. Required.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "description": "Retrieves a single screenshot cluster by its ID"
                    },
                    "list": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "httpMethod": "GET",
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "parameters": {
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "historyId": {
                          "description": "Required. A History id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. An Execution id.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Required. A Project id.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "get": {
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. A Project id."
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A History id."
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "environmentId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Environment id.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "response": {
                        "$ref": "Environment"
                      }
                    }
                  }
                },
                "steps": {
                  "methods": {
                    "accessibilityClusters": {
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "parameters": {
                        "locale": {
                          "location": "query",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "required": true,
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      }
                    },
                    "getPerfMetricsSummary": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "parameters": {
                        "stepId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A tool results step ID."
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A tool results history ID.",
                          "location": "path"
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A tool results execution ID."
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "The cloud project",
                          "location": "path"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "httpMethod": "GET"
                    },
                    "publishXunitXmlFiles": {
                      "parameters": {
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "stepId": {
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles"
                    },
                    "patch": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "request": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "stepId": {
                          "location": "path",
                          "description": "A Step id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query"
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "create": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. A Project id."
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id."
                        },
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "request": {
                        "$ref": "Step"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "location": "query",
                          "format": "int32"
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path"
                        },
                        "executionId": {
                          "required": true,
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "required": true,
                          "description": "A Execution id. Required.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "A Project id. Required.",
                          "required": true
                        },
                        "stepId": {
                          "description": "A Step id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "parameters": {
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "description": "A Project id. Required.",
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A History id. Required."
                            },
                            "executionId": {
                              "type": "string",
                              "required": true,
                              "description": "A Execution id Required.",
                              "location": "path"
                            },
                            "testCaseId": {
                              "required": true,
                              "description": "A Test Case id. Required.",
                              "type": "string",
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "TestCase"
                          },
                          "id": "toolresults.projects.histories.executions.steps.testCases.get"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "httpMethod": "GET",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "parameters": {
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "description": "A Execution id Required.",
                              "type": "string"
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "description": "A Project id. Required.",
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query",
                              "type": "string"
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "historyId": {
                              "type": "string",
                              "required": true,
                              "description": "A History id. Required.",
                              "location": "path"
                            },
                            "pageSize": {
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "historyId": {
                              "description": "A History id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "description": "An Execution id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional."
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Required.",
                              "location": "path"
                            },
                            "projectId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A Project id. Required."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "parameters": {
                                "stepId": {
                                  "location": "path",
                                  "type": "string",
                                  "description": "A tool results step ID.",
                                  "required": true
                                },
                                "projectId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "The cloud project",
                                  "required": true
                                },
                                "executionId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results execution ID.",
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A sample series id"
                                },
                                "historyId": {
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "httpMethod": "POST",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ]
                            },
                            "list": {
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "parameters": {
                                "historyId": {
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "location": "path",
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "projectId": {
                                  "location": "path",
                                  "description": "The cloud project",
                                  "required": true,
                                  "type": "string"
                                },
                                "pageToken": {
                                  "description": "Optional, the next_page_token returned in the previous response",
                                  "location": "query",
                                  "type": "string"
                                },
                                "stepId": {
                                  "required": true,
                                  "location": "path",
                                  "description": "A tool results step ID.",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "executionId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "A tool results execution ID.",
                                  "location": "path"
                                }
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "httpMethod": "GET",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "get": {
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "parameters": {
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results step ID.",
                              "location": "path"
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "sampleSeriesId": {
                              "location": "path",
                              "description": "A sample series id",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project"
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "create": {
                          "httpMethod": "POST",
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameters": {
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "type": "string",
                              "required": true
                            },
                            "stepId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results step ID.",
                              "location": "path"
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project"
                            }
                          },
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create"
                        },
                        "list": {
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "repeated": true,
                              "type": "string",
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ]
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results step ID.",
                              "location": "path"
                            },
                            "executionId": {
                              "location": "path",
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The cloud project"
                            }
                          },
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list"
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "stepId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results step ID.",
                              "location": "path"
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID.",
                              "location": "path"
                            },
                            "executionId": {
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "location": "path"
                            },
                            "projectId": {
                              "location": "path",
                              "description": "The cloud project",
                              "type": "string",
                              "required": true
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Image": {
      "description": "An image, with a link to the main image and a thumbnail.",
      "type": "object",
      "properties": {
        "sourceImage": {
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set.",
          "$ref": "ToolOutputReference"
        },
        "thumbnail": {
          "$ref": "Thumbnail",
          "description": "The thumbnail."
        },
        "error": {
          "description": "An error explaining why the thumbnail could not be rendered.",
          "$ref": "Status"
        },
        "stepId": {
          "type": "string",
          "description": "The step to which the image is attached. Always set."
        }
      },
      "id": "Image"
    },
    "RoboScriptExecution": {
      "properties": {
        "successfulActions": {
          "format": "int32",
          "type": "integer",
          "description": "The number of Robo script actions executed successfully."
        },
        "totalActions": {
          "format": "int32",
          "description": "The total number of actions in the Robo script.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "RoboScriptExecution",
      "description": "Execution stats for a user-provided Robo script."
    },
    "UnspecifiedWarning": {
      "properties": {},
      "description": "Default unspecified warning.",
      "id": "UnspecifiedWarning",
      "type": "object"
    },
    "ListPerfSamplesResponse": {
      "properties": {
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        },
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListPerfSamplesResponse"
    },
    "ToolExitCode": {
      "type": "object",
      "properties": {
        "number": {
          "format": "int32",
          "type": "integer",
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set"
        }
      },
      "description": "Exit code from a tool execution.",
      "id": "ToolExitCode"
    },
    "ListPerfSampleSeriesResponse": {
      "type": "object",
      "id": "ListPerfSampleSeriesResponse",
      "properties": {
        "perfSampleSeries": {
          "description": "The resulting PerfSampleSeries sorted by id",
          "items": {
            "$ref": "PerfSampleSeries"
          },
          "type": "array"
        }
      }
    },
    "MergedResult": {
      "properties": {
        "outcome": {
          "$ref": "Outcome",
          "description": "Outcome of the resource"
        },
        "testSuiteOverviews": {
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "The combined and rolled-up result of each test suite that was run as part of this environment. Combining: When the test cases from a suite are run in different steps (sharding), the results are added back together in one overview. (e.g., if shard1 has 2 failures and shard2 has 1 failure than the overview failure_count = 3). Rollup: When test cases from the same suite are run multiple times (flaky), the results are combined (e.g., if testcase1.run1 fails, testcase1.run2 passes, and both testcase2.run1 and testcase2.run2 fail then the overview flaky_count = 1 and failure_count = 1)."
        },
        "state": {
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "State of the resource",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "MergedResult",
      "description": "Merged test result for environment. If the environment has only one step (no reruns or shards), then the merged result is the same as the step result. If the environment has multiple shards and/or reruns, then the results of shards and reruns that belong to the same environment are merged into one environment result."
    },
    "ToolExecutionStep": {
      "type": "object",
      "id": "ToolExecutionStep",
      "properties": {
        "toolExecution": {
          "description": "A Tool execution. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "ToolExecution"
        }
      },
      "description": "Generic tool step to be used for binaries we do not explicitly support. For example: running cp to copy artifacts from one location to another."
    },
    "PublishXunitXmlFilesRequest": {
      "id": "PublishXunitXmlFilesRequest",
      "properties": {
        "xunitXmlFiles": {
          "items": {
            "$ref": "FileReference"
          },
          "description": "URI of the Xunit XML files to publish. The maximum size of the file this reference is pointing to is 50MB. Required.",
          "type": "array"
        }
      },
      "description": "Request message for StepService.PublishXunitXmlFiles.",
      "type": "object"
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "properties": {
        "distinctScreens": {
          "description": "Number of encountered distinct screens with non Android UI widgets.",
          "type": "integer",
          "format": "int32"
        },
        "screenIds": {
          "type": "array",
          "description": "Subset of screens which contain non Android UI widgets.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Additional details about encountered screens with elements that are not Android UI widgets.",
      "type": "object",
      "id": "EncounteredNonAndroidUiWidgetScreen"
    },
    "AndroidInstrumentationTest": {
      "properties": {
        "useOrchestrator": {
          "type": "boolean",
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not."
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class. Required",
          "type": "string"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "type": "object",
      "id": "AndroidInstrumentationTest"
    },
    "AndroidTestLoop": {
      "type": "object",
      "properties": {},
      "id": "AndroidTestLoop",
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent."
    },
    "Screen": {
      "type": "object",
      "id": "Screen",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model of the device that the screenshot was taken on. Required."
        },
        "fileReference": {
          "description": "File reference of the png file. Required.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of the device that the screenshot was taken on. Required.",
          "type": "string"
        },
        "version": {
          "description": "OS version of the device that the screenshot was taken on. Required.",
          "type": "string"
        }
      }
    },
    "TestExecutionStep": {
      "id": "TestExecutionStep",
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "type": "object",
      "properties": {
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testIssues": {
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "items": {
            "$ref": "TestIssue"
          },
          "type": "array"
        },
        "testTiming": {
          "$ref": "TestTiming",
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional"
        },
        "testSuiteOverviews": {
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)"
        }
      }
    },
    "NativeCrash": {
      "id": "NativeCrash",
      "description": "Additional details for a native crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the native crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "type": "object"
    },
    "LogcatCollectionError": {
      "id": "LogcatCollectionError",
      "properties": {},
      "type": "object",
      "description": "A warning that there were issues in logcat collection."
    },
    "AndroidAppInfo": {
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app. Required."
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app. Optional",
          "type": "string"
        }
      },
      "description": "Android app information.",
      "id": "AndroidAppInfo"
    },
    "CrashDialogError": {
      "description": "Crash dialog was detected during the test execution",
      "id": "CrashDialogError",
      "properties": {
        "crashPackage": {
          "type": "string",
          "description": "The name of the package that caused the dialog."
        }
      },
      "type": "object"
    },
    "UnusedRoboDirective": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was unused."
        }
      },
      "type": "object",
      "id": "UnusedRoboDirective",
      "description": "Additional details of an unused robodirective."
    },
    "StepSummary": {
      "type": "object",
      "properties": {},
      "description": "Lightweight summary of a step within this execution.",
      "id": "StepSummary"
    },
    "TestTiming": {
      "properties": {
        "testProcessDuration": {
          "$ref": "Duration",
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional"
        }
      },
      "description": "Testing timing break down to know phases.",
      "type": "object",
      "id": "TestTiming"
    },
    "PerfSample": {
      "description": "Resource representing a single performance measure or data point",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Timestamp of collection.",
          "$ref": "Timestamp"
        },
        "value": {
          "description": "Value observed",
          "format": "double",
          "type": "number"
        }
      },
      "id": "PerfSample"
    },
    "AvailableDeepLinks": {
      "type": "object",
      "properties": {},
      "id": "AvailableDeepLinks",
      "description": "A suggestion to use deep links for a Robo run."
    },
    "ListHistoriesResponse": {
      "type": "object",
      "id": "ListHistoriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "description": "Histories.",
          "type": "array",
          "items": {
            "$ref": "History"
          }
        }
      },
      "description": "Response message for HistoryService.List"
    },
    "PerformedMonkeyActions": {
      "description": "A notification that Robo performed some monkey actions.",
      "id": "PerformedMonkeyActions",
      "properties": {
        "totalActions": {
          "type": "integer",
          "description": "The total number of monkey actions performed during the crawl.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "PrimaryStep": {
      "type": "object",
      "id": "PrimaryStep",
      "properties": {
        "individualOutcome": {
          "description": "Step Id and outcome of each individual step.",
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          }
        },
        "rollUp": {
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        }
      },
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step."
    },
    "StepLabelsEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "StepLabelsEntry"
    },
    "MultiStep": {
      "id": "MultiStep",
      "type": "object",
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "properties": {
        "multistepNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
        },
        "primaryStep": {
          "description": "Present if it is a primary (original) step.",
          "$ref": "PrimaryStep"
        },
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        }
      }
    },
    "Duration": {
      "description": " A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.",
      "id": "Duration",
      "properties": {
        "nanos": {
          "description": "Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "string",
          "description": "Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "NonSdkApi": {
      "type": "object",
      "properties": {
        "list": {
          "deprecated": true,
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R",
            "GREY_MAX_S"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Which list this API appears on",
          "type": "string"
        },
        "exampleStackTraces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example stack traces of this API being called."
        },
        "invocationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of times this API was observed to have been called."
        },
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
          "type": "string"
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "description": "Optional debugging insights for non-SDK API violations."
        }
      },
      "id": "NonSdkApi",
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces"
    },
    "FailureDetail": {
      "id": "FailureDetail",
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "type": "object",
      "properties": {
        "timedOut": {
          "type": "boolean",
          "description": "If the test overran some time limit, and that is why it failed."
        },
        "otherNativeCrash": {
          "type": "boolean",
          "description": "If a native process (including any other than the app) crashed."
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "notInstalled": {
          "type": "boolean",
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform."
        },
        "deviceOutOfMemory": {
          "description": "If the device ran out of memory during a test, causing the test to crash.",
          "type": "boolean"
        },
        "failedRoboscript": {
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl.",
          "type": "boolean"
        },
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        }
      }
    },
    "FatalException": {
      "description": "Additional details for a fatal exception.",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the fatal exception. Optional."
        }
      },
      "id": "FatalException",
      "type": "object"
    },
    "StartActivityNotFound": {
      "id": "StartActivityNotFound",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      },
      "description": "User provided intent failed to resolve to an activity."
    },
    "CPUInfo": {
      "type": "object",
      "properties": {
        "cpuProcessor": {
          "type": "string",
          "description": "description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'"
        },
        "cpuSpeedInGhz": {
          "format": "float",
          "type": "number",
          "description": "the CPU clock speed in GHz"
        },
        "numberOfCores": {
          "type": "integer",
          "format": "int32",
          "description": "the number of CPU cores"
        }
      },
      "id": "CPUInfo"
    },
    "InsufficientCoverage": {
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "type": "object",
      "properties": {},
      "id": "InsufficientCoverage"
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "type": "object",
      "description": "Additional details for an iOS app crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "Step": {
      "type": "object",
      "properties": {
        "outcome": {
          "$ref": "Outcome",
          "description": "Classification of the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
        },
        "multiStep": {
          "$ref": "MultiStep",
          "description": "Details when multiple steps are run with the same configuration as a group. These details can be used identify which group this step is part of. It also identifies the groups 'primary step' which indexes all the group members. - In response: present if previously set. - In create request: optional, set iff this step was performed more than once. - In update request: optional"
        },
        "state": {
          "type": "string",
          "description": "The initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS -> COMPLETE A PRECONDITION_FAILED will be returned if an invalid transition is requested. It is valid to create Step with a state set to COMPLETE. The state can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the state is set to COMPLETE multiple times. - In response: always set - In create/update request: optional",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
[...]
