{
  "kind": "discovery#restDescription",
  "canonicalName": "Tool Results",
  "discoveryVersion": "v1",
  "rootUrl": "https://toolresults.googleapis.com/",
  "baseUrl": "https://toolresults.googleapis.com/",
  "description": "API to publish and access results from developer tools.",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "histories": {
          "resources": {
            "executions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.list",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required.",
                      "location": "path"
                    },
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required."
                    }
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.get",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "parameters": {
                    "executionId": {
                      "description": "An Execution id. Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "historyId": {
                      "required": true,
                      "location": "path",
                      "description": "A History id. Required.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "projectId": {
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "historyId": {
                      "type": "string",
                      "required": true,
                      "description": "Required.",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string",
                      "location": "query"
                    },
                    "executionId": {
                      "description": "Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.patch",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "request": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Execution"
                  }
                },
                "create": {
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "A Project id. Required.",
                      "location": "path",
                      "type": "string"
                    },
                    "historyId": {
                      "required": true,
                      "type": "string",
                      "description": "A History id. Required.",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    }
                  },
                  "id": "toolresults.projects.histories.executions.create",
                  "response": {
                    "$ref": "Execution"
                  },
                  "request": {
                    "$ref": "Execution"
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                }
              },
              "resources": {
                "steps": {
                  "methods": {
                    "publishXunitXmlFiles": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameters": {
                        "stepId": {
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "httpMethod": "POST",
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A Project id.",
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query"
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Execution id."
                        }
                      },
                      "request": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "description": "A Execution id. Required.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A continuation token to resume the query at the next item. Optional."
                        }
                      },
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "accessibilityClusters": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "required": true,
                          "location": "path"
                        },
                        "locale": {
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "parameters": {
                        "stepId": {
                          "description": "A Step id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "executionId": {
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "request": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A Execution id. Required."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Project id. Required."
                        },
                        "historyId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A History id. Required."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "stepId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Required."
                        }
                      }
                    },
                    "getPerfMetricsSummary": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "parameters": {
                        "executionId": {
                          "description": "A tool results execution ID.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "stepId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A tool results step ID."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The cloud project",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A tool results history ID.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "type": "string",
                              "location": "query"
                            },
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "An Execution id. Required."
                            },
                            "stepId": {
                              "description": "A Step id. Required.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "A Project id. Required.",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true
                            },
                            "pageSize": {
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "parameters": {
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Execution id Required."
                            },
                            "projectId": {
                              "location": "path",
                              "description": "A Project id. Required.",
                              "type": "string",
                              "required": true
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A History id. Required."
                            },
                            "stepId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "testCaseId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Test Case id. Required."
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "response": {
                            "$ref": "TestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist"
                        },
                        "list": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Execution id Required."
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "projectId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A Project id. Required."
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A History id. Required."
                            },
                            "pageSize": {
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional."
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          }
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameters": {
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results execution ID."
                            },
                            "stepId": {
                              "type": "string",
                              "location": "path",
                              "description": "A tool results step ID.",
                              "required": true
                            },
                            "projectId": {
                              "description": "The cloud project",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results history ID."
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "httpMethod": "POST",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "parameters": {
                                "stepId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results step ID.",
                                  "location": "path"
                                },
                                "executionId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results execution ID.",
                                  "required": true
                                },
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "projectId": {
                                  "description": "The cloud project",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "historyId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results history ID."
                                }
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist"
                            },
                            "list": {
                              "parameters": {
                                "pageToken": {
                                  "description": "Optional, the next_page_token returned in the previous response",
                                  "type": "string",
                                  "location": "query"
                                },
                                "sampleSeriesId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A sample series id",
                                  "type": "string"
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "stepId": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results step ID."
                                },
                                "projectId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "The cloud project",
                                  "location": "path"
                                },
                                "historyId": {
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "location": "path",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "type": "integer",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "httpMethod": "GET",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples"
                            }
                          }
                        }
                      },
                      "methods": {
                        "list": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "parameters": {
                            "stepId": {
                              "description": "A tool results step ID.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "executionId": {
                              "type": "string",
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true
                            },
                            "filter": {
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "type": "string",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "repeated": true,
                              "location": "query",
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result"
                            },
                            "projectId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "The cloud project"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "GET",
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist"
                        },
                        "get": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "parameters": {
                            "executionId": {
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "location": "path"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "required": true,
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "sampleSeriesId": {
                              "type": "string",
                              "location": "path",
                              "description": "A sample series id",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get"
                        },
                        "create": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameters": {
                            "stepId": {
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "required": true,
                              "location": "path"
                            },
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist"
                        }
                      }
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "description": "An Execution id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "A Project id. Required.",
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "required": true,
                          "description": "A Cluster id Required.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Retrieves a single screenshot cluster by its ID"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters"
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "parameters": {
                        "environmentId": {
                          "description": "Required. An Environment id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "description": "Required. A History id.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Environment"
                      },
                      "id": "toolresults.projects.histories.executions.environments.get"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. A Project id."
                        },
                        "historyId": {
                          "type": "string",
                          "description": "Required. A History id.",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "A Project id. Required."
                },
                "historyId": {
                  "description": "A History id. Required.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "id": "toolresults.projects.histories.get",
              "httpMethod": "GET",
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}"
            },
            "list": {
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "id": "toolresults.projects.histories.list",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameters": {
                "filterByName": {
                  "description": "If set, only return histories with the given name. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "A Project id. Required.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "request": {
                "$ref": "History"
              },
              "response": {
                "$ref": "History"
              },
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "requestId": {
                  "location": "query",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "type": "string"
                }
              },
              "id": "toolresults.projects.histories.create",
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "initializeSettings": {
          "response": {
            "$ref": "ProjectSettings"
          },
          "httpMethod": "POST",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "toolresults.projects.initializeSettings",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "A Project id. Required.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "getSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "httpMethod": "GET",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "response": {
            "$ref": "ProjectSettings"
          },
          "id": "toolresults.projects.getSettings",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "A Project id. Required.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings"
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "id": "toolresults:v1beta3",
  "protocol": "rest",
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260903",
  "name": "toolresults",
  "schemas": {
    "AndroidInstrumentationTest": {
      "properties": {
        "useOrchestrator": {
          "type": "boolean",
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not."
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. Required"
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "id": "AndroidInstrumentationTest",
      "type": "object"
    },
    "ListHistoriesResponse": {
      "description": "Response message for HistoryService.List",
      "id": "ListHistoriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "type": "array",
          "items": {
            "$ref": "History"
          },
          "description": "Histories."
        }
      },
      "type": "object"
    },
    "Specification": {
      "id": "Specification",
      "type": "object",
      "properties": {
        "iosTest": {
          "$ref": "IosTest",
          "description": "An iOS mobile test execution specification."
        },
        "androidTest": {
          "$ref": "AndroidTest",
          "description": "An Android mobile test execution specification."
        }
      },
      "description": "The details about how to run the execution."
    },
    "ProjectSettings": {
      "description": "Per-project settings for the Tool Results service.",
      "properties": {
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set",
          "type": "string"
        },
        "defaultBucket": {
          "type": "string",
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional"
        }
      },
      "type": "object",
      "id": "ProjectSettings"
    },
    "DetectedAppSplashScreen": {
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen).",
      "properties": {},
      "id": "DetectedAppSplashScreen",
      "type": "object"
    },
    "UnusedRoboDirective": {
      "description": "Additional details of an unused robodirective.",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UnusedRoboDirective"
    },
    "NonSdkApiUsageViolation": {
      "type": "object",
      "id": "NonSdkApiUsageViolation",
      "description": "Additional details for a non-sdk API usage violation.",
      "properties": {
        "uniqueApis": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of unique hidden API's accessed."
        },
        "apiSignatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Signatures of a subset of those hidden API's."
        }
      }
    },
    "EnvironmentDimensionValueEntry": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "EnvironmentDimensionValueEntry"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "properties": {
        "data": {
          "type": "string",
          "description": "The thumbnail file itself. That is, the bytes here are precisely the bytes that make up the thumbnail file; they can be served as an image as-is (with the appropriate content type.) Always set.",
          "format": "byte"
        },
        "heightPx": {
          "description": "The height of the thumbnail, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        },
        "contentType": {
          "type": "string",
          "description": "The thumbnail's content type, i.e. \"image/png\". Always set."
        },
        "widthPx": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the thumbnail, in pixels. Always set."
        }
      },
      "description": "A single thumbnail, with its size and format.",
      "type": "object"
    },
    "FatalException": {
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the fatal exception. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "FatalException",
      "type": "object",
      "description": "Additional details for a fatal exception."
    },
    "FailedToInstall": {
      "description": "Failed to install the App.",
      "properties": {},
      "id": "FailedToInstall",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Executions to fetch."
        },
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "Executions. Always set."
        }
      },
      "id": "ListExecutionsResponse"
    },
    "Execution": {
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.",
      "properties": {
        "outcome": {
          "$ref": "Outcome",
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional"
        },
        "testExecutionMatrixId": {
          "type": "string",
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set"
        },
        "executionId": {
          "type": "string",
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ],
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional",
          "type": "string"
        },
        "specification": {
          "$ref": "Specification",
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional"
        },
        "completionTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set"
        },
        "dimensionDefinitions": {
          "items": {
            "$ref": "MatrixDimensionDefinition"
          },
          "type": "array",
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set"
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "BasicPerfSampleSeries": {
      "id": "BasicPerfSampleSeries",
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "properties": {
        "perfUnit": {
          "type": "string",
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "perfMetricType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ],
          "type": "string"
        },
        "sampleSeriesLabel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ],
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ]
        }
      },
      "type": "object"
    },
    "AndroidAppInfo": {
      "description": "Android app information.",
      "type": "object",
      "id": "AndroidAppInfo",
      "properties": {
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app. Optional",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app. Required."
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        }
      }
    },
    "IosRoboTest": {
      "type": "object",
      "id": "IosRoboTest",
      "properties": {},
      "description": "A Robo test for an iOS application."
    },
    "StepSummary": {
      "type": "object",
      "properties": {},
      "description": "Lightweight summary of a step within this execution.",
      "id": "StepSummary"
    },
    "SafeHtmlProto": {
      "type": "object",
      "description": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests.",
      "id": "SafeHtmlProto",
      "properties": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "type": "string",
          "description": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
        }
      }
    },
    "PerfEnvironment": {
      "type": "object",
      "id": "PerfEnvironment",
      "description": "Encapsulates performance environment info",
      "properties": {
        "memoryInfo": {
          "$ref": "MemoryInfo",
          "description": "Memory related environment info"
        },
        "cpuInfo": {
          "description": "CPU related environment info",
          "$ref": "CPUInfo"
        }
      }
    },
    "History": {
      "id": "History",
      "properties": {
        "historyId": {
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set",
          "type": "string"
        },
        "name": {
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
        },
        "testPlatform": {
          "type": "string",
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown.",
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch."
    },
    "NonSdkApi": {
      "id": "NonSdkApi",
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "type": "object",
      "properties": {
        "apiSignature": {
          "type": "string",
          "description": "The signature of the Non-SDK API"
        },
        "list": {
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R",
            "GREY_MAX_S"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Which list this API appears on",
          "deprecated": true
        },
        "exampleStackTraces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Example stack traces of this API being called."
        },
        "invocationCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of times this API was observed to have been called."
        },
        "insights": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApiInsight"
          },
          "description": "Optional debugging insights for non-SDK API violations."
        }
      }
    },
    "Timestamp": {
      "properties": {
        "seconds": {
          "format": "int64",
          "type": "string",
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive."
        }
      },
      "type": "object",
      "id": "Timestamp",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970, in the proleptic Gregorian calendar which extends the Gregorian calendar backwards to year one. All minutes are 60 seconds long. Leap seconds are \"smeared\" so that no leap second table is needed for interpretation, using a [24-hour linear smear](https://developers.google.com/time/smear). The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By restricting to that range, we ensure that we can convert to and from [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings."
    },
    "TestIssue": {
      "type": "object",
      "id": "TestIssue",
      "properties": {
        "type": {
          "enum": [
            "unspecifiedType",
            "fatalException",
            "nativeCrash",
            "anr",
            "unusedRoboDirective",
            "compatibleWithOrchestrator",
            "launcherActivityNotFound",
            "startActivityNotFound",
            "incompleteRoboScriptExecution",
            "completeRoboScriptExecution",
            "failedToInstall",
            "availableDeepLinks",
            "nonSdkApiUsageViolation",
            "nonSdkApiUsageReport",
            "encounteredNonAndroidUiWidgetScreen",
            "encounteredLoginScreen",
            "performedGoogleLogin",
            "iosException",
            "iosCrash",
            "performedMonkeyActions",
            "usedRoboDirective",
            "usedRoboIgnoreDirective",
            "insufficientCoverage",
            "inAppPurchases",
            "crashDialogError",
            "uiElementsTooDeep",
            "blankScreen",
            "overlappingUiElements",
            "unityException",
            "deviceOutOfMemory",
            "logcatCollectionError",
            "detectedAppSplashScreen",
            "assetIssue",
            "licensingProtectionTermination",
            "antiTamperingTermination"
          ],
          "enumDescriptions": [
            "Default unspecified type. Do not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not Android UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
[...]
