{
  "revision": "20260827",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "name": "toolresults",
  "servicePath": "",
  "resources": {
    "projects": {
      "methods": {
        "initializeSettings": {
          "parameterOrder": [
            "projectId"
          ],
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "id": "toolresults.projects.initializeSettings",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A Project id. Required."
            }
          },
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSettings": {
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "A Project id. Required.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "toolresults.projects.getSettings",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ProjectSettings"
          }
        }
      },
      "resources": {
        "histories": {
          "resources": {
            "executions": {
              "methods": {
                "get": {
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.get",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "httpMethod": "GET",
                  "parameters": {
                    "executionId": {
                      "type": "string",
                      "location": "path",
                      "description": "An Execution id. Required.",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "description": "A History id. Required.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "id": "toolresults.projects.histories.executions.create",
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "request": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "A Project id. Required.",
                      "type": "string"
                    },
                    "historyId": {
                      "type": "string",
                      "description": "A History id. Required.",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "id": "toolresults.projects.histories.executions.patch",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "request": {
                    "$ref": "Execution"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "A Project id. Required.",
                      "required": true,
                      "location": "path"
                    },
                    "historyId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required."
                    },
                    "executionId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required."
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}"
                },
                "list": {
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional."
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                }
              },
              "resources": {
                "clusters": {
                  "methods": {
                    "list": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "A Project id. Required.",
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "get": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path"
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "An Execution id. Required."
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A Cluster id Required."
                        }
                      },
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "environmentId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. An Environment id."
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Execution id."
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. A Project id."
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. A History id."
                        }
                      },
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "response": {
                        "$ref": "Environment"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. A Project id.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item.",
                          "type": "string",
                          "location": "query"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. A History id."
                        }
                      }
                    }
                  }
                },
                "steps": {
                  "methods": {
                    "get": {
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A Project id. Required."
                        },
                        "historyId": {
                          "required": true,
                          "location": "path",
                          "description": "A History id. Required.",
                          "type": "string"
                        },
                        "stepId": {
                          "description": "A Step id. Required.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "A Project id. Required.",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A History id. Required."
                        },
                        "stepId": {
                          "description": "A Step id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "response": {
                        "$ref": "Step"
                      },
                      "request": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}"
                    },
                    "publishXunitXmlFiles": {
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "stepId": {
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles"
                    },
                    "accessibilityClusters": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$"
                        },
                        "locale": {
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "description": "Required. An Execution id.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. A History id."
                        },
                        "requestId": {
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "Step"
                      }
                    },
                    "getPerfMetricsSummary": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "stepId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A tool results step ID."
                        },
                        "projectId": {
                          "description": "The cloud project",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A tool results history ID.",
                          "required": true,
                          "location": "path"
                        },
                        "executionId": {
                          "type": "string",
                          "description": "A tool results execution ID.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary"
                    },
                    "list": {
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "httpMethod": "GET",
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "required": true,
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "location": "query",
                          "type": "integer"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A History id. Required."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "response": {
                        "$ref": "ListStepsResponse"
                      }
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32"
                            },
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A History id. Required."
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "description": "A Execution id Required.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "httpMethod": "GET",
                          "parameters": {
                            "stepId": {
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "required": true
                            },
                            "testCaseId": {
                              "description": "A Test Case id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "description": "A Execution id Required.",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "historyId": {
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "TestCase"
                          }
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "httpMethod": "POST",
                          "parameters": {
                            "stepId": {
                              "required": true,
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results execution ID.",
                              "type": "string"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary"
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "stepId": {
                              "required": true,
                              "location": "path",
                              "description": "A Step id. Required.",
                              "type": "string"
                            },
                            "executionId": {
                              "required": true,
                              "description": "An Execution id. Required.",
                              "location": "path",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional."
                            },
                            "historyId": {
                              "type": "string",
                              "description": "A History id. Required.",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "POST",
                              "parameters": {
                                "executionId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results execution ID.",
                                  "required": true
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "description": "A sample series id",
                                  "required": true,
                                  "location": "path"
                                },
                                "projectId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "The cloud project",
                                  "location": "path"
                                },
                                "stepId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results step ID.",
                                  "type": "string"
                                },
                                "historyId": {
                                  "required": true,
                                  "description": "A tool results history ID.",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist"
                            },
                            "list": {
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "httpMethod": "GET",
                              "parameters": {
                                "projectId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "The cloud project",
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "A sample series id",
                                  "location": "path"
                                },
                                "stepId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "A tool results step ID."
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "historyId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results history ID."
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples"
                            }
                          }
                        }
                      },
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID."
                            },
                            "sampleSeriesId": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "A sample series id"
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "description": "The cloud project",
                              "type": "string"
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "location": "path"
                            },
                            "stepId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results step ID.",
                              "location": "path"
                            }
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "GET",
                          "parameters": {
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project"
                            },
                            "filter": {
                              "repeated": true,
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "type": "string",
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "location": "query"
                            },
                            "stepId": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "A tool results step ID."
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results execution ID."
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          }
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "POST",
                          "parameters": {
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results execution ID."
                            },
                            "stepId": {
                              "required": true,
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "projectId": {
                              "description": "The cloud project",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "toolresults.projects.histories.list",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional."
                },
                "projectId": {
                  "location": "path",
                  "description": "A Project id. Required.",
                  "required": true,
                  "type": "string"
                },
                "filterByName": {
                  "location": "query",
                  "type": "string",
                  "description": "If set, only return histories with the given name. Optional."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "location": "query"
                }
              },
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist"
            },
            "create": {
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "description": "A Project id. Required.",
                  "required": true,
                  "location": "path"
                },
                "requestId": {
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "History"
              },
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "toolresults.projects.histories.create",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "request": {
                "$ref": "History"
              },
              "parameterOrder": [
                "projectId"
              ]
            },
            "get": {
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "id": "toolresults.projects.histories.get",
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "httpMethod": "GET",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "A Project id. Required."
                },
                "historyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "A History id. Required."
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Cloud Tool Results API",
  "fullyEncodeReservedExpansion": true,
  "description": "API to publish and access results from developer tools.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://toolresults.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://toolresults.googleapis.com/",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "id": "toolresults:v1beta3",
  "canonicalName": "Tool Results",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "PerfEnvironment": {
      "properties": {
        "cpuInfo": {
          "description": "CPU related environment info",
          "$ref": "CPUInfo"
        },
        "memoryInfo": {
          "description": "Memory related environment info",
          "$ref": "MemoryInfo"
        }
      },
      "description": "Encapsulates performance environment info",
      "type": "object",
      "id": "PerfEnvironment"
    },
    "PerformedGoogleLogin": {
      "id": "PerformedGoogleLogin",
      "type": "object",
      "properties": {},
      "description": "A notification that Robo signed in with Google."
    },
    "ListHistoriesResponse": {
      "description": "Response message for HistoryService.List",
      "id": "ListHistoriesResponse",
      "properties": {
        "histories": {
          "description": "Histories.",
          "items": {
            "$ref": "History"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ANR": {
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the ANR crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "type": "object",
      "description": "Additional details for an ANR crash.",
      "id": "ANR"
    },
    "AssetIssue": {
      "properties": {},
      "id": "AssetIssue",
      "type": "object",
      "description": "There was an issue with the assets in this test."
    },
    "History": {
      "properties": {
        "displayName": {
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set"
        },
        "testPlatform": {
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown."
        },
        "historyId": {
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set",
          "type": "string"
        }
      },
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch.",
      "type": "object",
      "id": "History"
    },
    "AndroidAppInfo": {
      "id": "AndroidAppInfo",
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The internal version code of the app. Optional.",
          "type": "string"
        },
        "versionName": {
          "description": "The version name of the app. Optional.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app. Optional",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app. Required."
        }
      },
      "description": "Android app information."
    },
    "StartActivityNotFound": {
      "description": "User provided intent failed to resolve to an activity.",
      "type": "object",
      "id": "StartActivityNotFound",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "AndroidTest": {
      "id": "AndroidTest",
      "properties": {
        "testTimeout": {
          "$ref": "Duration",
          "description": "Max time a test is allowed to run before it is automatically cancelled."
        },
        "androidAppInfo": {
          "$ref": "AndroidAppInfo",
          "description": "Information about the application under test."
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        }
      },
      "type": "object",
      "description": "An Android mobile test specification."
    },
    "TestIssue": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A brief human-readable message describing the issue. Required."
        },
        "type": {
          "description": "Type of issue. Required.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type. Do not use. For versioning only.",
            "Issue is a fatal exception.",
            "Issue is a native crash.",
            "Issue is an ANR crash.",
            "Issue is an unused robo directive.",
            "Issue is a suggestion to use orchestrator.",
            "Issue with finding a launcher activity",
            "Issue with resolving a user-provided intent to start an activity",
            "A Robo script was not fully executed.",
            "A Robo script was fully and successfully executed.",
            "The APK failed to install.",
            "The app-under-test has deep links, but none were provided to Robo.",
            "App accessed a non-sdk Api.",
            "App accessed a non-sdk Api (new detailed report)",
            "Robo crawl encountered at least one screen with elements that are not Android UI widgets.",
            "Robo crawl encountered at least one probable login screen.",
            "Robo signed in with Google.",
            "iOS App crashed with an exception.",
            "iOS App crashed without an exception (e.g. killed).",
            "Robo crawl involved performing some monkey actions.",
            "Robo crawl used a Robo directive.",
            "Robo crawl used a Robo directive to ignore an UI element.",
            "Robo did not crawl some potentially important parts of the app.",
            "Robo crawl involved some in-app purchases.",
            "Crash dialog was detected during the test execution",
            "UI element depth is greater than the threshold",
            "Blank screen is found in the Robo crawl",
            "Overlapping UI elements are found in the Robo crawl",
            "An uncaught Unity exception was detected (these don't crash apps).",
            "Device running out of memory was detected",
            "Problems detected while collecting logcat",
            "Robo detected a splash screen provided by app (vs. Android OS splash screen).",
            "There was an issue with the assets in this test.",
            "Licensing protection termination (Pairip) was detected.",
            "Anti-tampering termination was detected."
          ],
          "enum": [
            "unspecifiedType",
            "fatalException",
            "nativeCrash",
            "anr",
            "unusedRoboDirective",
            "compatibleWithOrchestrator",
            "launcherActivityNotFound",
            "startActivityNotFound",
            "incompleteRoboScriptExecution",
            "completeRoboScriptExecution",
            "failedToInstall",
            "availableDeepLinks",
            "nonSdkApiUsageViolation",
            "nonSdkApiUsageReport",
            "encounteredNonAndroidUiWidgetScreen",
            "encounteredLoginScreen",
            "performedGoogleLogin",
            "iosException",
            "iosCrash",
            "performedMonkeyActions",
            "usedRoboDirective",
            "usedRoboIgnoreDirective",
            "insufficientCoverage",
            "inAppPurchases",
            "crashDialogError",
            "uiElementsTooDeep",
            "blankScreen",
            "overlappingUiElements",
            "unityException",
            "deviceOutOfMemory",
            "logcatCollectionError",
            "detectedAppSplashScreen",
            "assetIssue",
            "licensingProtectionTermination",
            "antiTamperingTermination"
          ]
        },
        "severity": {
          "description": "Severity of issue. Required.",
          "enumDescriptions": [
            "Default unspecified severity. Do not use. For versioning only.",
            "Non critical issue, providing users with some info about the test run.",
            "Non critical issue, providing users with some hints on improving their testing experience, e.g., suggesting to use Game Loops.",
            "Potentially critical issue.",
            "Critical issue."
          ],
          "enum": [
            "unspecifiedSeverity",
            "info",
            "suggestion",
            "warning",
            "severe"
          ],
          "type": "string"
        },
        "warning_migration": {
          "$ref": "Any",
          "description": "Warning message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings"
        },
        "stackTrace": {
          "description": "Deprecated in favor of stack trace fields inside specific warnings.",
          "deprecated": true,
          "$ref": "StackTrace"
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified category. Do not use. For versioning only.",
            "Issue is not specific to a particular test kind (e.g., a native crash).",
            "Issue is specific to Robo run."
          ],
          "description": "Category of issue. Required.",
          "enum": [
            "unspecifiedCategory",
            "common",
            "robo"
          ]
        }
      },
      "type": "object",
      "description": "An issue detected occurring during a test execution.",
      "id": "TestIssue"
    },
    "TestExecutionStep": {
      "id": "TestExecutionStep",
      "type": "object",
      "properties": {
        "testSuiteOverviews": {
          "type": "array",
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)"
        },
        "testTiming": {
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional",
          "$ref": "TestTiming"
        },
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testIssues": {
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          }
        }
      },
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field."
    },
    "IosXcTest": {
      "id": "IosXcTest",
      "properties": {
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        },
        "xcodeVersion": {
          "description": "Xcode version that the test was run with.",
          "type": "string"
        }
      },
      "description": "A test of an iOS application that uses the XCTest framework.",
      "type": "object"
    },
    "OverlappingUIElements": {
      "type": "object",
      "id": "OverlappingUIElements",
      "properties": {
        "screenId": {
          "description": "The screen id of the elements",
          "type": "string"
        },
        "resourceName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of the overlapping screen elements"
        }
      },
      "description": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue."
    },
    "Specification": {
      "id": "Specification",
      "type": "object",
      "description": "The details about how to run the execution.",
      "properties": {
        "androidTest": {
          "description": "An Android mobile test execution specification.",
          "$ref": "AndroidTest"
        },
        "iosTest": {
          "description": "An iOS mobile test execution specification.",
          "$ref": "IosTest"
        }
      }
    },
    "MultiStep": {
      "type": "object",
      "properties": {
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        },
        "primaryStep": {
          "description": "Present if it is a primary (original) step.",
          "$ref": "PrimaryStep"
        },
        "multistepNumber": {
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "type": "integer"
        }
      },
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "id": "MultiStep"
    },
    "LogcatCollectionError": {
      "type": "object",
      "properties": {},
      "description": "A warning that there were issues in logcat collection.",
      "id": "LogcatCollectionError"
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "id": "EncounteredNonAndroidUiWidgetScreen",
      "description": "Additional details about encountered screens with elements that are not Android UI widgets.",
      "properties": {
        "distinctScreens": {
          "format": "int32",
          "type": "integer",
          "description": "Number of encountered distinct screens with non Android UI widgets."
        },
        "screenIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subset of screens which contain non Android UI widgets."
        }
      },
      "type": "object"
    },
    "Execution": {
      "id": "Execution",
      "properties": {
        "state": {
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional",
          "type": "string",
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ]
        },
        "specification": {
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional",
          "$ref": "Specification"
        },
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set"
        },
        "completionTime": {
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "dimensionDefinitions": {
          "items": {
            "$ref": "MatrixDimensionDefinition"
          },
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set",
          "type": "array"
        },
        "creationTime": {
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        }
      },
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.",
      "type": "object"
    },
    "DeviceOutOfMemory": {
      "properties": {},
      "id": "DeviceOutOfMemory",
      "type": "object",
      "description": "A warning that device ran out of memory"
    },
    "ListScreenshotClustersResponse": {
      "id": "ListScreenshotClustersResponse",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "The set of clusters associated with an execution Always set",
          "items": {
            "$ref": "ScreenshotCluster"
          },
          "type": "array"
        }
      }
    },
    "Outcome": {
      "properties": {
        "skippedDetail": {
          "$ref": "SkippedDetail",
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional"
        },
        "summary": {
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string",
          "description": "The simplest way to interpret a result. Required"
        },
        "failureDetail": {
          "$ref": "FailureDetail",
[...]
