{
  "servicePath": "",
  "baseUrl": "https://toolresults.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Tool Results API",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "canonicalName": "Tool Results",
  "version": "v1beta3",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "name": "toolresults",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "API to publish and access results from developer tools.",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "histories": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "History"
              },
              "parameterOrder": [
                "projectId"
              ],
              "id": "toolresults.projects.histories.create",
              "httpMethod": "POST",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "request": {
                "$ref": "History"
              },
              "parameters": {
                "requestId": {
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "description": "A Project id. Required.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist"
            },
            "get": {
              "response": {
                "$ref": "History"
              },
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "httpMethod": "GET",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "historyId": {
                  "description": "A History id. Required.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "toolresults.projects.histories.get"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "filterByName": {
                  "location": "query",
                  "type": "string",
                  "description": "If set, only return histories with the given name. Optional."
                },
                "projectId": {
                  "description": "A Project id. Required.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "id": "toolresults.projects.histories.list"
            }
          },
          "resources": {
            "executions": {
              "resources": {
                "clusters": {
                  "methods": {
                    "list": {
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A Project id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "A Project id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A Cluster id Required."
                        },
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "An Execution id. Required."
                        }
                      }
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id."
                        },
                        "historyId": {
                          "description": "Required. A History id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "type": "string",
                          "description": "Required. An Execution id.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A continuation token to resume the query at the next item."
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments"
                    },
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. An Execution id."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A Project id.",
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "description": "Required. A History id.",
                          "location": "path",
                          "required": true
                        },
                        "environmentId": {
                          "description": "Required. An Environment id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Environment"
                      }
                    }
                  }
                },
                "steps": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "stepId": {
                          "type": "string",
                          "description": "A Step id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "response": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "stepId": {
                          "description": "A Step id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "description": "A Execution id. Required.",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "request": {
                        "$ref": "Step"
                      },
                      "httpMethod": "PATCH",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}"
                    },
                    "accessibilityClusters": {
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "type": "string"
                        },
                        "locale": {
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters"
                    },
                    "getPerfMetricsSummary": {
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "httpMethod": "GET",
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A tool results execution ID."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The cloud project"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "A tool results history ID.",
                          "type": "string"
                        },
                        "stepId": {
                          "description": "A tool results step ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "publishXunitXmlFiles": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "A Project id. Required.",
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required."
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "stepId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                        }
                      },
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "A Project id. Required.",
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    },
                    "create": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "parameters": {
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A History id.",
                          "type": "string"
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Step"
                      },
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "request": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ]
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "list": {
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "parameters": {
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "description": "A Execution id Required.",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "type": "string"
                            },
                            "stepId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "projectId": {
                              "type": "string",
                              "description": "A Project id. Required.",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "description": "A History id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "type": "integer"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases"
                        },
                        "get": {
                          "response": {
                            "$ref": "TestCase"
                          },
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "parameters": {
                            "testCaseId": {
                              "description": "A Test Case id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "projectId": {
                              "type": "string",
                              "description": "A Project id. Required.",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A History id. Required."
                            },
                            "executionId": {
                              "description": "A Execution id Required.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "stepId": {
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "parameters": {
                            "stepId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A tool results step ID."
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The cloud project"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary"
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "type": "integer"
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "description": "A History id. Required.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "stepId": {
                              "type": "string",
                              "description": "A Step id. Required.",
                              "location": "path",
                              "required": true
                            },
                            "executionId": {
                              "type": "string",
                              "description": "An Execution id. Required.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "methods": {
                        "get": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "description": "The cloud project",
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string"
                            },
                            "sampleSeriesId": {
                              "location": "path",
                              "required": true,
                              "description": "A sample series id",
                              "type": "string"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "httpMethod": "GET"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "repeated": true,
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result"
                            },
                            "projectId": {
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path",
                              "required": true
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list"
                        },
                        "create": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The cloud project"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID."
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "list": {
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "parameters": {
                                "stepId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "A tool results step ID.",
                                  "type": "string"
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "pageSize": {
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                },
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "projectId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "The cloud project",
                                  "type": "string"
                                },
                                "historyId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results history ID."
                                }
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples"
                            },
                            "batchCreate": {
                              "parameters": {
                                "projectId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "The cloud project",
                                  "type": "string"
                                },
                                "historyId": {
                                  "type": "string",
                                  "description": "A tool results history ID.",
                                  "location": "path",
                                  "required": true
                                },
                                "executionId": {
                                  "type": "string",
                                  "description": "A tool results execution ID.",
                                  "location": "path",
                                  "required": true
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "description": "A sample series id",
                                  "location": "path",
                                  "required": true
                                },
                                "stepId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results step ID."
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "id": "toolresults.projects.histories.executions.get",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A History id. Required."
                    },
                    "executionId": {
                      "location": "path",
                      "required": true,
                      "description": "An Execution id. Required.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "id": "toolresults.projects.histories.executions.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required."
                    },
                    "executionId": {
                      "location": "path",
                      "required": true,
                      "description": "Required.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    }
                  },
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "request": {
                    "$ref": "Execution"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "GET",
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameters": {
                    "projectId": {
                      "description": "A Project id. Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "A History id. Required."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A continuation token to resume the query at the next item. Optional."
                    }
                  },
                  "id": "toolresults.projects.histories.executions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "request": {
                    "$ref": "Execution"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "A Project id. Required.",
                      "type": "string"
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "toolresults.projects.histories.executions.create",
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "response": {
                    "$ref": "Execution"
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getSettings": {
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A Project id. Required."
            }
          },
          "id": "toolresults.projects.getSettings"
        },
        "initializeSettings": {
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A Project id. Required."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "id": "toolresults.projects.initializeSettings",
          "httpMethod": "POST"
        }
      }
    }
  },
  "rootUrl": "https://toolresults.googleapis.com/",
  "basePath": "",
  "revision": "20260923",
  "schemas": {
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch."
        },
        "environments": {
          "items": {
            "$ref": "Environment"
          },
          "type": "array",
          "description": "Environments. Always set."
        },
        "executionId": {
          "description": "A Execution id Always set.",
          "type": "string"
        },
        "projectId": {
          "description": "A Project id. Always set.",
          "type": "string"
        },
        "historyId": {
          "description": "A History id. Always set.",
          "type": "string"
        }
      }
    },
    "LicensingProtectionTermination": {
      "id": "LicensingProtectionTermination",
      "description": "Licensing protection termination (Pairip) was detected.",
      "properties": {},
      "type": "object"
    },
    "OverlappingUIElements": {
      "id": "OverlappingUIElements",
      "description": "A warning that Robo encountered a screen that has overlapping clickable elements; this may indicate a potential UI issue.",
      "properties": {
        "resourceName": {
          "description": "Resource names of the overlapping screen elements",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenId": {
          "description": "The screen id of the elements",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerfMetricsSummary": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "A tool results history ID. @OutputOnly"
        },
        "appStartTime": {
          "$ref": "AppStartTime"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "perfMetricTypeUnspecified",
              "memory",
              "cpu",
              "network",
              "graphics"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "stepId": {
          "description": "A tool results step ID. @OutputOnly",
          "type": "string"
        },
        "graphicsStats": {
          "$ref": "GraphicsStats",
          "deprecated": true,
          "description": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run."
        },
        "perfEnvironment": {
          "$ref": "PerfEnvironment",
          "description": "Describes the environment in which the performance metrics were collected"
        },
        "executionId": {
          "type": "string",
          "description": "A tool results execution ID. @OutputOnly"
        }
      },
      "id": "PerfMetricsSummary",
      "description": "A summary of perf metrics collected and performance environment info"
    },
    "NonSdkApiUsageViolationReport": {
      "type": "object",
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "id": "NonSdkApiUsageViolationReport",
      "properties": {
        "exampleApis": {
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages.",
          "type": "array"
        },
        "uniqueApis": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of unique Non-SDK API's accessed."
        },
        "minSdkVersion": {
          "description": "Minimum API level required for the application to run.",
          "type": "integer",
          "format": "int32"
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IosTestLoop": {
      "type": "object",
      "id": "IosTestLoop",
      "properties": {
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        }
      },
      "description": "A game loop test of an iOS application."
    },
    "StepSummary": {
      "properties": {},
      "description": "Lightweight summary of a step within this execution.",
      "id": "StepSummary",
      "type": "object"
    },
    "UnusedRoboDirective": {
      "description": "Additional details of an unused robodirective.",
      "id": "UnusedRoboDirective",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      }
    },
    "ListPerfSamplesResponse": {
      "id": "ListPerfSamplesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Optional, returned if result size exceeds the page size specified in the request (or the default page size, 500, if unspecified). It indicates the last sample timestamp to be used as page_token in subsequent request",
          "type": "string"
        },
        "perfSamples": {
          "type": "array",
          "items": {
            "$ref": "PerfSample"
          }
        }
      },
      "type": "object"
    },
    "UsedRoboDirective": {
      "id": "UsedRoboDirective",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was used.",
          "type": "string"
        }
      },
      "description": "Additional details of a used Robo directive.",
      "type": "object"
    },
    "ListHistoriesResponse": {
      "type": "object",
      "id": "ListHistoriesResponse",
      "description": "Response message for HistoryService.List",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "items": {
            "$ref": "History"
          },
          "type": "array",
          "description": "Histories."
        }
      }
    },
    "DeviceOutOfMemory": {
      "properties": {},
      "id": "DeviceOutOfMemory",
      "type": "object",
      "description": "A warning that device ran out of memory"
    },
    "TestExecutionStep": {
      "properties": {
        "testSuiteOverviews": {
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)",
          "type": "array"
        },
        "toolExecution": {
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional",
          "$ref": "ToolExecution"
        },
        "testTiming": {
          "$ref": "TestTiming",
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional"
        },
        "testIssues": {
          "type": "array",
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "items": {
            "$ref": "TestIssue"
          }
        }
      },
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "type": "object",
      "id": "TestExecutionStep"
    },
    "TestCase": {
      "properties": {
        "testCaseId": {
          "description": "A unique identifier within a Step for this Test Case.",
          "type": "string"
        },
        "skippedMessage": {
          "type": "string",
          "description": "Why the test case was skipped. Present only for skipped test case"
        },
        "endTime": {
          "description": "The end time of the test case.",
          "$ref": "Timestamp"
        },
        "testCaseReference": {
          "description": "Test case reference, e.g. name, class name and test suite name. Required.",
          "$ref": "TestCaseReference"
        },
        "status": {
          "type": "string",
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "description": "The status of the test case. Required.",
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "startTime": {
          "description": "The start time of the test case.",
          "$ref": "Timestamp"
        },
        "elapsedTime": {
          "description": "The elapsed run time of the test case. Required.",
          "$ref": "Duration"
        },
        "stackTraces": {
          "type": "array",
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed.",
          "items": {
            "$ref": "StackTrace"
          }
        },
        "toolOutputs": {
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly",
          "type": "array",
          "items": {
            "$ref": "ToolOutputReference"
          }
        }
      },
      "id": "TestCase",
      "type": "object"
    },
    "ListStepThumbnailsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field."
        },
        "thumbnails": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep)."
        }
      },
      "id": "ListStepThumbnailsResponse",
      "type": "object",
      "description": "A response containing the thumbnails in a step."
    },
    "NonSdkApiInsight": {
      "id": "NonSdkApiInsight",
      "description": "Non-SDK API insights (to address debugging solutions).",
      "type": "object",
      "properties": {
        "pendingGoogleUpdateInsight": {
          "description": "An insight indicating that the hidden API usage originates from a Google-provided library.",
          "$ref": "PendingGoogleUpdateInsight"
        },
        "matcherId": {
          "description": "A unique ID, to be used for determining the effectiveness of this particular insight in the context of a matcher. (required)",
          "type": "string"
        },
        "upgradeInsight": {
          "description": "An insight indicating that the hidden API usage originates from the use of a library that needs to be upgraded.",
          "$ref": "UpgradeInsight"
        },
        "exampleTraceMessages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional sample stack traces, for which this insight applies (there should be at least one)."
        }
      }
    },
    "IndividualOutcome": {
      "type": "object",
      "id": "IndividualOutcome",
      "description": "Step Id and outcome of each individual step that was run as a group with other steps with the same configuration.",
      "properties": {
        "multistepNumber": {
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "type": "integer",
          "format": "int32"
        },
        "runDuration": {
          "$ref": "Duration",
          "description": "How long it took for this step to run."
        },
        "stepId": {
          "type": "string"
        },
        "outcomeSummary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ]
        }
      }
    },
    "ListStepAccessibilityClustersResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Always presents.",
          "type": "string"
        },
        "clusters": {
          "description": "A sequence of accessibility suggestions, grouped into clusters. Within the sequence, clusters that belong to the same SuggestionCategory should be adjacent. Within each category, clusters should be ordered by their SuggestionPriority (ERRORs first). The categories should be ordered by their highest priority cluster.",
          "items": {
            "$ref": "SuggestionClusterProto"
          },
          "type": "array"
        }
      },
      "description": "Response message for AccessibilityService.ListStepAccessibilityClusters.",
      "id": "ListStepAccessibilityClustersResponse"
    },
    "ToolOutputReference": {
      "type": "object",
      "properties": {
        "testCase": {
          "description": "The test case to which this output file belongs. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "TestCaseReference"
        },
        "output": {
          "description": "A FileReference to an output file. - In response: always set - In create/update request: always set",
          "$ref": "FileReference"
        },
        "creationTime": {
          "description": "The creation time of the file. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Timestamp"
        }
      },
      "id": "ToolOutputReference",
      "description": "A reference to a ToolExecution output file."
    },
    "MultiStep": {
      "properties": {
        "primaryStep": {
          "description": "Present if it is a primary (original) step.",
          "$ref": "PrimaryStep"
        },
        "primaryStepId": {
          "description": "Step Id of the primary (original) step, which might be this step.",
          "type": "string"
        },
        "multistepNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0."
        }
      },
      "description": "Details when multiple steps are run with the same configuration as a group.",
      "id": "MultiStep",
      "type": "object"
    },
    "AndroidTestLoop": {
      "type": "object",
      "properties": {},
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent.",
      "id": "AndroidTestLoop"
    },
    "AndroidAppInfo": {
      "type": "object",
      "description": "Android app information.",
      "id": "AndroidAppInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app. Optional"
        },
        "packageName": {
          "description": "The package name of the app. Required.",
          "type": "string"
        },
        "versionCode": {
          "type": "string",
          "description": "The internal version code of the app. Optional."
        },
        "versionName": {
          "type": "string",
          "description": "The version name of the app. Optional."
        }
      }
    },
    "FileReference": {
      "properties": {
        "fileUri": {
          "description": "The URI of a file stored in Google Cloud Storage. For example: `http://storage.googleapis.com/mybucket/path/to/test.xml` or in Cloud Storage URI format: `gs://mybucket/path/to/test.xml` with version-specific info, `gs://mybucket/path/to/test.xml#1360383693690000` An INVALID_ARGUMENT error will be returned if the URI format is not supported. - In response: always set - In create/update request: always set",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a file.",
      "id": "FileReference"
    },
    "InconclusiveDetail": {
      "type": "object",
      "id": "InconclusiveDetail",
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary.",
      "properties": {
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of infrastructure failures",
          "type": "boolean"
        },
        "abortedByUser": {
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.",
          "type": "boolean"
        },
        "infrastructureFailure": {
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.",
          "type": "boolean"
        }
      }
    },
    "AndroidInstrumentationTest": {
      "properties": {
        "useOrchestrator": {
          "description": "The flag indicates whether Android Test Orchestrator will be used to run test or not.",
          "type": "boolean"
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. Required"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. Required",
          "type": "string"
        },
        "testTargets": {
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. See for more information on types of Android tests.",
      "type": "object",
      "id": "AndroidInstrumentationTest"
    },
    "PerformedGoogleLogin": {
      "properties": {},
      "description": "A notification that Robo signed in with Google.",
      "id": "PerformedGoogleLogin",
      "type": "object"
    },
    "TestTiming": {
      "properties": {
        "testProcessDuration": {
          "$ref": "Duration",
[...]
