{
  "rootUrl": "https://toolresults.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "name": "toolresults",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "servicePath": "",
  "id": "toolresults:v1beta3",
  "fullyEncodeReservedExpansion": true,
  "description": "API to publish and access results from developer tools.",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://toolresults.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "histories": {
          "methods": {
            "create": {
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "id": "toolresults.projects.histories.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "History"
              },
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "request": {
                "$ref": "History"
              },
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended."
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "parameters": {
                "filterByName": {
                  "description": "If set, only return histories with the given name. Optional.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "description": "A Project id. Required.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "location": "query"
                }
              },
              "id": "toolresults.projects.histories.list",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "historyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "A History id. Required."
                }
              },
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "id": "toolresults.projects.histories.get",
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist"
            }
          },
          "resources": {
            "executions": {
              "methods": {
                "list": {
                  "id": "toolresults.projects.histories.executions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "A Project id. Required.",
                      "required": true
                    },
                    "historyId": {
                      "location": "path",
                      "description": "A History id. Required.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A continuation token to resume the query at the next item. Optional."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "toolresults.projects.histories.executions.get",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "executionId": {
                      "required": true,
                      "type": "string",
                      "description": "An Execution id. Required.",
                      "location": "path"
                    },
                    "historyId": {
                      "type": "string",
                      "location": "path",
                      "description": "A History id. Required.",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required."
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A Project id. Required.",
                      "location": "path"
                    },
                    "executionId": {
                      "required": true,
                      "description": "Required.",
                      "type": "string",
                      "location": "path"
                    },
                    "historyId": {
                      "type": "string",
                      "description": "Required.",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.patch",
                  "response": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A History id. Required."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query"
                    }
                  },
                  "id": "toolresults.projects.histories.executions.create",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "POST",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "request": {
                    "$ref": "Execution"
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ]
                }
              },
              "resources": {
                "clusters": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "clusterId": {
                          "location": "path",
                          "description": "A Cluster id Required.",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "description": "An Execution id. Required.",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required."
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      }
                    },
                    "list": {
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "description": "A History id. Required.",
                          "type": "string",
                          "location": "path"
                        },
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "A Project id. Required.",
                          "required": true
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters"
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Environment"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. An Execution id.",
                          "location": "path"
                        },
                        "historyId": {
                          "required": true,
                          "description": "Required. A History id.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id.",
                          "location": "path"
                        },
                        "environmentId": {
                          "description": "Required. An Environment id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "id": "toolresults.projects.histories.executions.environments.get"
                    },
                    "list": {
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. A Project id.",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "description": "Required. A History id.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A continuation token to resume the query at the next item.",
                          "location": "query"
                        },
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments"
                    }
                  }
                },
                "steps": {
                  "resources": {
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "description": "A Project id. Required.",
                              "required": true
                            },
                            "stepId": {
                              "description": "A Step id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "required": true,
                              "location": "path",
                              "description": "An Execution id. Required.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional."
                            }
                          },
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist"
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "description": "A Project id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "description": "A Execution id Required.",
                              "required": true,
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path"
                            },
                            "pageSize": {
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "historyId": {
                              "required": true,
                              "description": "A History id. Required.",
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "httpMethod": "GET"
                        },
                        "get": {
                          "parameters": {
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Execution id Required."
                            },
                            "historyId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A History id. Required."
                            },
                            "projectId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "A Project id. Required."
                            },
                            "testCaseId": {
                              "location": "path",
                              "required": true,
                              "description": "A Test Case id. Required.",
                              "type": "string"
                            },
                            "stepId": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            }
                          },
                          "response": {
                            "$ref": "TestCase"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "id": "toolresults.projects.histories.executions.steps.testCases.get"
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "location": "path"
                            },
                            "filter": {
                              "location": "query",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "repeated": true,
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "type": "string",
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result"
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The cloud project"
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID.",
                              "location": "path"
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A tool results step ID.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "GET",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          }
                        },
                        "create": {
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "projectId": {
                              "description": "The cloud project",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results execution ID.",
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "description": "A tool results step ID.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "POST"
                        },
                        "get": {
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameters": {
                            "historyId": {
                              "required": true,
                              "location": "path",
                              "description": "A tool results history ID.",
                              "type": "string"
                            },
                            "sampleSeriesId": {
                              "description": "A sample series id",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results execution ID.",
                              "location": "path"
                            },
                            "projectId": {
                              "type": "string",
                              "required": true,
                              "description": "The cloud project",
                              "location": "path"
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A tool results step ID.",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "httpMethod": "GET"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "httpMethod": "POST",
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "parameters": {
                                "stepId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results step ID.",
                                  "required": true
                                },
                                "projectId": {
                                  "required": true,
                                  "description": "The cloud project",
                                  "location": "path",
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "A sample series id",
                                  "location": "path"
                                },
                                "historyId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results history ID.",
                                  "location": "path"
                                },
                                "executionId": {
                                  "location": "path",
                                  "description": "A tool results execution ID.",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ]
                            },
                            "list": {
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "httpMethod": "GET",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "sampleSeriesId": {
                                  "description": "A sample series id",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "location": "query"
                                },
                                "historyId": {
                                  "description": "A tool results history ID.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response",
                                  "type": "string"
                                },
                                "projectId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "The cloud project",
                                  "location": "path"
                                },
                                "stepId": {
                                  "description": "A tool results step ID.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                },
                                "executionId": {
                                  "description": "A tool results execution ID.",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "executionId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results execution ID.",
                              "location": "path"
                            },
                            "historyId": {
                              "required": true,
                              "description": "A tool results history ID.",
                              "type": "string",
                              "location": "path"
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results step ID.",
                              "location": "path"
                            },
                            "projectId": {
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "patch": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "httpMethod": "PATCH",
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "request": {
                        "$ref": "Step"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "executionId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A Execution id. Required."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "stepId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A Step id. Required."
                        }
                      },
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "publishXunitXmlFiles": {
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "stepId": {
                          "required": true,
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required."
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles"
                    },
                    "getPerfMetricsSummary": {
                      "parameters": {
                        "stepId": {
                          "required": true,
                          "description": "A tool results step ID.",
                          "type": "string",
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "location": "path",
                          "description": "A tool results history ID.",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "description": "The cloud project",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "required": true,
                          "description": "A tool results execution ID.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameters": {
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. An Execution id."
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A History id.",
                          "location": "path"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "location": "query"
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. A Project id."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "request": {
                        "$ref": "Step"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A History id. Required."
                        },
                        "stepId": {
                          "location": "path",
                          "description": "A Step id. Required.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Project id. Required."
                        }
                      },
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "id": "toolresults.projects.histories.executions.steps.get"
                    },
                    "accessibilityClusters": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "parameters": {
                        "locale": {
                          "location": "query",
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required."
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string"
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A History id. Required."
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "type": "string",
                          "location": "query"
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "initializeSettings": {
          "response": {
            "$ref": "ProjectSettings"
          },
          "id": "toolresults.projects.initializeSettings",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "A Project id. Required.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "httpMethod": "POST"
        },
        "getSettings": {
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "A Project id. Required.",
              "required": true
            }
          },
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "id": "toolresults.projects.getSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "httpMethod": "GET",
          "path": "toolresults/v1beta3/projects/{projectId}/settings"
        }
      }
    }
  },
  "basePath": "",
  "revision": "20260908",
  "version": "v1beta3",
  "title": "Cloud Tool Results API",
  "canonicalName": "Tool Results",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "schemas": {
    "IosRoboTest": {
      "id": "IosRoboTest",
      "properties": {},
      "description": "A Robo test for an iOS application.",
      "type": "object"
    },
    "Execution": {
      "type": "object",
      "description": "An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step The maximum size of an execution message is 1 MiB. An Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.",
      "id": "Execution",
      "properties": {
        "dimensionDefinitions": {
          "items": {
            "$ref": "MatrixDimensionDefinition"
          },
          "description": "The dimensions along which different steps in this execution may vary. This must remain fixed over the life of the execution. Returns INVALID_ARGUMENT if this field is set in an update request. Returns INVALID_ARGUMENT if the same name occurs in more than one dimension_definition. Returns INVALID_ARGUMENT if the size of the list is over 100. - In response: present if set by create - In create request: optional - In update request: never set",
          "type": "array"
        },
        "creationTime": {
          "$ref": "Timestamp",
          "description": "The time when the Execution was created. This value will be set automatically when CreateExecution is called. - In response: always set - In create/update request: never set"
        },
        "outcome": {
          "description": "Classify the result, for example into SUCCESS or FAILURE - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "Outcome"
        },
        "testExecutionMatrixId": {
          "description": "TestExecution Matrix ID that the TestExecutionService uses. - In response: present if set by create - In create: optional - In update: never set",
          "type": "string"
        },
        "specification": {
          "description": "Lightweight information about execution request. - In response: present if set by create - In create: optional - In update: optional",
          "$ref": "Specification"
        },
        "completionTime": {
          "description": "The time when the Execution status transitioned to COMPLETE. This value will be set automatically when state transitions to COMPLETE. - In response: set if the execution state is COMPLETE. - In create/update request: never set",
          "$ref": "Timestamp"
        },
        "executionId": {
          "description": "A unique identifier within a History for this Execution. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create/update request: never set",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Should never be in this state. Exists for proto deserialization backward compatibility.",
            "The Execution/Step is created, ready to run, but not running yet. If an Execution/Step is created without initial state, it is assumed that the Execution/Step is in PENDING state.",
            "The Execution/Step is in progress.",
            "The finalized, immutable state. Steps/Executions in this state cannot be modified."
          ],
          "type": "string",
          "description": "The initial state is IN_PROGRESS. The only legal state transitions is from IN_PROGRESS to COMPLETE. A PRECONDITION_FAILED will be returned if an invalid transition is requested. The state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times. If the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE. - In response always set - In create/update request: optional",
          "enum": [
            "unknownState",
            "pending",
            "inProgress",
            "complete"
          ]
        }
      }
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "type": "object",
      "description": "Additional details for an iOS app crash.",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "ANR": {
      "id": "ANR",
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the ANR crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "description": "Additional details for an ANR crash."
    },
    "EnvironmentDimensionValueEntry": {
      "id": "EnvironmentDimensionValueEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "NonSdkApiUsageViolation": {
      "properties": {
        "apiSignatures": {
          "items": {
            "type": "string"
          },
          "description": "Signatures of a subset of those hidden API's.",
          "type": "array"
        },
        "uniqueApis": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of unique hidden API's accessed."
        }
      },
      "id": "NonSdkApiUsageViolation",
      "description": "Additional details for a non-sdk API usage violation.",
      "type": "object"
    },
    "RegionProto": {
      "properties": {
        "topPx": {
          "description": "The top of the rectangle, in pixels. Always set.",
          "type": "integer",
          "format": "int32"
        },
        "leftPx": {
          "description": "The left side of the rectangle, in pixels. Always set.",
          "format": "int32",
          "type": "integer"
        },
        "widthPx": {
          "format": "int32",
          "type": "integer",
          "description": "The width, in pixels. Always set."
        },
        "heightPx": {
          "type": "integer",
          "description": "The height, in pixels. Always set.",
          "format": "int32"
        }
      },
      "id": "RegionProto",
      "description": "A rectangular region.",
      "type": "object"
    },
    "DeviceOutOfMemory": {
      "properties": {},
      "id": "DeviceOutOfMemory",
      "description": "A warning that device ran out of memory",
      "type": "object"
    },
    "StartActivityNotFound": {
      "type": "object",
      "id": "StartActivityNotFound",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "description": "User provided intent failed to resolve to an activity."
    },
    "PrimaryStep": {
      "id": "PrimaryStep",
      "type": "object",
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.",
      "properties": {
        "rollUp": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group."
        },
        "individualOutcome": {
          "items": {
            "$ref": "IndividualOutcome"
          },
          "type": "array",
          "description": "Step Id and outcome of each individual step."
        }
      }
    },
    "AvailableDeepLinks": {
      "id": "AvailableDeepLinks",
      "properties": {},
      "description": "A suggestion to use deep links for a Robo run.",
      "type": "object"
    },
    "Environment": {
      "description": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes).",
      "id": "Environment",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "Output only. A History id.",
          "type": "string"
        },
        "shardSummaries": {
          "items": {
            "$ref": "ShardSummary"
          },
          "type": "array",
          "description": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService."
        },
        "resultsStorage": {
          "$ref": "ResultsStorage",
          "description": "The location where output files are stored in the user bucket."
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27."
        },
        "completionTime": {
          "description": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.",
          "$ref": "Timestamp"
        },
        "dimensionValue": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          },
          "description": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set"
        },
        "environmentResult": {
          "$ref": "MergedResult",
          "description": "Merged result of the environment."
        },
        "creationTime": {
          "description": "Output only. The time when the Environment was created.",
          "$ref": "Timestamp"
        },
        "executionId": {
          "type": "string",
          "description": "Output only. An Execution id."
        },
        "projectId": {
          "description": "Output only. A Project id.",
          "type": "string"
        },
        "environmentId": {
          "description": "Output only. An Environment id.",
          "type": "string"
        }
      }
    },
    "UIElementTooDeep": {
      "properties": {
        "depth": {
          "format": "int32",
          "description": "The depth of the screen element",
          "type": "integer"
        },
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        },
        "screenStateId": {
          "description": "The screen state id of the element",
          "type": "string"
        }
      },
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold.",
      "id": "UIElementTooDeep",
      "type": "object"
    },
    "AntiTamperingTermination": {
      "description": "Anti-tampering termination was detected.",
      "type": "object",
      "id": "AntiTamperingTermination",
      "properties": {}
    },
    "LauncherActivityNotFound": {
      "properties": {},
      "id": "LauncherActivityNotFound",
      "type": "object",
      "description": "Failed to find the launcher activity of an app."
    },
    "UnspecifiedWarning": {
      "description": "Default unspecified warning.",
      "id": "UnspecifiedWarning",
      "type": "object",
      "properties": {}
    },
    "IosTest": {
      "id": "IosTest",
      "description": "A iOS mobile test specification",
      "type": "object",
      "properties": {
        "iosXcTest": {
          "description": "An iOS XCTest.",
          "$ref": "IosXcTest"
        },
        "iosAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "IosAppInfo"
        },
        "iosTestLoop": {
          "description": "An iOS test loop.",
          "$ref": "IosTestLoop"
        },
        "iosRoboTest": {
          "$ref": "IosRoboTest",
          "description": "An iOS Robo test."
        },
        "testTimeout": {
          "$ref": "Duration",
          "description": "Max time a test is allowed to run before it is automatically cancelled."
        }
      }
    },
    "TestTiming": {
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional",
          "$ref": "Duration"
        }
      },
      "description": "Testing timing break down to know phases.",
      "type": "object",
      "id": "TestTiming"
    },
    "UsedRoboDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was used.",
          "type": "string"
        }
      },
      "id": "UsedRoboDirective",
      "description": "Additional details of a used Robo directive."
    },
    "IosTestLoop": {
      "type": "object",
      "description": "A game loop test of an iOS application.",
      "id": "IosTestLoop",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      }
    },
    "TestSuiteOverview": {
      "description": "A summary of a test suite result either parsed from XML or uploaded directly by a user. Note: the API related comments are for StepService only. This message is also being used in ExecutionService in a read only mode for the corresponding step.",
      "type": "object",
      "properties": {
        "skippedCount": {
          "description": "Number of test cases not run, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name of the test suite. - In create/response: always set - In update request: never",
          "type": "string"
        },
        "failureCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed test cases, typically set by the service by parsing the xml_source. May also be set by the user. - In create/response: always set - In update request: never"
        },
        "elapsedTime": {
          "$ref": "Duration",
          "description": "Elapsed time of test suite."
        },
        "flakyCount": {
          "type": "integer",
          "description": "Number of flaky test cases, set by the service by rolling up flaky test attempts. Present only for rollup test suite overview at environment level. A step cannot have flaky test cases.",
          "format": "int32"
        },
        "xmlSource": {
          "description": "If this test suite was parsed from XML, this is the URI where the original XML file is stored. Note: Multiple test suites can share the same xml_source Returns INVALID_ARGUMENT if the uri format is not supported. - In create/response: optional - In update request: never",
          "$ref": "FileReference"
        },
        "totalCount": {
          "format": "int32",
          "description": "Number of test cases, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "type": "integer"
        },
        "errorCount": {
          "type": "integer",
          "description": "Number of test cases in error, typically set by the service by parsing the xml_source. - In create/response: always set - In update request: never",
          "format": "int32"
        }
      },
      "id": "TestSuiteOverview"
    },
    "FatalException": {
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the fatal exception. Optional."
        }
      },
      "id": "FatalException",
      "description": "Additional details for a fatal exception.",
      "type": "object"
    },
    "AndroidTestLoop": {
      "type": "object",
      "id": "AndroidTestLoop",
      "properties": {},
      "description": "Test Loops are tests that can be launched by the app itself, determining when to run by listening for an intent."
    },
    "TestExecutionStep": {
      "properties": {
        "testIssues": {
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          },
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional"
        },
        "testSuiteOverviews": {
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "type": "array",
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)"
        },
        "toolExecution": {
          "$ref": "ToolExecution",
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional"
        },
        "testTiming": {
          "$ref": "TestTiming",
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional"
        }
      },
      "type": "object",
      "id": "TestExecutionStep",
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field."
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "description": "Response message for EnvironmentService.ListEnvironments.",
      "id": "ListEnvironmentsResponse",
      "properties": {
        "environments": {
          "type": "array",
          "description": "Environments. Always set.",
          "items": {
            "$ref": "Environment"
          }
        },
        "historyId": {
          "description": "A History id. Always set.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more Environments to fetch."
        },
        "executionId": {
          "type": "string",
          "description": "A Execution id Always set."
        },
        "projectId": {
          "type": "string",
          "description": "A Project id. Always set."
        }
      }
    },
    "NonSdkApiUsageViolationReport": {
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "properties": {
        "targetSdkVersion": {
          "type": "integer",
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32"
        },
        "exampleApis": {
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages.",
          "type": "array"
        },
        "uniqueApis": {
          "type": "integer",
          "description": "Total number of unique Non-SDK API's accessed.",
          "format": "int32"
        },
        "minSdkVersion": {
          "description": "Minimum API level required for the application to run.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "NonSdkApiUsageViolationReport",
      "type": "object"
    },
    "ListTestCasesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "testCases": {
          "items": {
            "$ref": "TestCase"
          },
          "description": "List of test cases.",
          "type": "array"
        }
      },
      "id": "ListTestCasesResponse",
      "description": "Response message for StepService.ListTestCases.",
      "type": "object"
    },
    "StepDimensionValueEntry": {
      "type": "object",
      "id": "StepDimensionValueEntry",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ShardSummary": {
      "description": "Result summary for a shard in an environment.",
      "properties": {
[...]
