{
  "name": "tpu",
  "ownerName": "Google",
  "version": "v2alpha1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "id": "tpu:v2alpha1",
  "title": "Cloud TPU API",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "StartNodeRequest": {
      "type": "object",
      "properties": {},
      "id": "StartNodeRequest",
      "description": "Request for StartNode."
    },
    "RunDuration": {
      "description": "Defines the maximum lifetime of the requested resource.",
      "type": "object",
      "id": "RunDuration",
      "properties": {
        "maxRunDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The maximum duration of the requested resource."
        },
        "terminationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the requested resource will be terminated."
        }
      }
    },
    "DeletingData": {
      "type": "object",
      "description": "Further data for the deleting state.",
      "properties": {},
      "id": "DeletingData"
    },
    "UpcomingMaintenance": {
      "description": "Upcoming Maintenance notification information.",
      "id": "UpcomingMaintenance",
      "properties": {
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "maintenanceStatus": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "description": "The status of the maintenance."
        },
        "type": {
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "description": "Defines the type of maintenance."
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "latestWindowStartTime": {
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "canReschedule": {
          "description": "Indicates if the maintenance can be customer triggered.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RuntimeVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The runtime version."
        },
        "name": {
          "description": "The resource name.",
          "type": "string"
        }
      },
      "description": "A runtime version that a Node can be configured with.",
      "id": "RuntimeVersion"
    },
    "Interval": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "description": "An access config attached to the TPU worker.",
      "type": "object",
      "properties": {
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      }
    },
    "Node": {
      "id": "Node",
      "description": "A TPU instance.",
      "properties": {
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state for the TPU Node.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "readOnly": true
        },
        "acceleratorConfig": {
          "$ref": "AcceleratorConfig",
          "description": "The AccleratorConfig for the TPU Node."
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "autocheckpointEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Autocheckpoint is enabled."
        },
        "health": {
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "description": "The health status of the TPU node.",
          "type": "string",
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "queuedResource": {
          "readOnly": true,
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "healthDescription": {
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "acceleratorType": {
          "type": "string",
          "description": "The type of hardware accelerators associated with this node."
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true
        },
        "networkEndpoints": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "items": {
            "$ref": "NetworkEndpoint"
          }
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. The API version that created this Node.",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ],
          "type": "string",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ]
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "type": "array"
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "readOnly": true,
          "$ref": "UpcomingMaintenance"
        },
        "id": {
          "description": "Output only. The unique identifier for the TPU Node.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "createTime": {
          "description": "Output only. The time when the node was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "symptoms": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Symptom"
          },
          "description": "Output only. The Symptoms that have occurred to the TPU Node."
        },
        "multisliceNode": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the Node belongs to a Multislice group."
        },
        "dataDisks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array",
          "description": "The additional data disks for the Node."
        },
        "networkConfigs": {
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "type": "array",
          "items": {
            "$ref": "NetworkConfig"
          }
        }
      },
      "type": "object"
    },
    "QueuedResource": {
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "type": "object",
      "id": "QueuedResource",
      "properties": {
        "bestEffort": {
          "$ref": "BestEffort",
          "description": "The BestEffort tier."
        },
        "guaranteed": {
          "description": "The Guaranteed tier.",
          "$ref": "Guaranteed"
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ],
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ],
          "description": "Optional. The provisioning model for the resource."
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "readOnly": true
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "runDuration": {
          "description": "Optional. The duration of the requested resource.",
          "$ref": "RunDuration"
        },
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "reservationName": {
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "state": {
          "$ref": "QueuedResourceState",
          "readOnly": true,
          "description": "Output only. State of the QueuedResource request."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the QueuedResource was created."
        },
        "queueingPolicy": {
          "description": "The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "GetGuestAttributesResponse": {
      "description": "Response for GetGuestAttributes.",
      "id": "GetGuestAttributesResponse",
      "type": "object",
      "properties": {
        "guestAttributes": {
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers.",
          "type": "array"
        }
      }
    },
    "NetworkEndpoint": {
      "properties": {
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "The access config for the TPU worker."
        },
        "port": {
          "description": "The port of this network endpoint.",
          "type": "integer",
          "format": "int32"
        },
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        }
      },
      "id": "NetworkEndpoint",
      "type": "object",
      "description": "A network endpoint over which a TPU worker can be reached."
    },
    "Usage": {
      "type": "object",
      "id": "Usage",
      "description": "Usage details of a reservation.",
      "properties": {
        "total": {
          "format": "int64",
          "type": "string",
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units."
        }
      }
    },
    "Symptom": {
      "description": "A Symptom instance.",
      "type": "object",
      "properties": {
        "symptomType": {
          "description": "Type of the Symptom.",
          "type": "string",
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ]
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "description": "Detailed information of the current Symptom.",
          "type": "string"
        }
      },
      "id": "Symptom"
    },
    "MultiNodeParams": {
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params.",
      "id": "MultiNodeParams",
      "properties": {
        "nodeIdPrefix": {
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32",
          "type": "integer"
        },
        "workloadType": {
          "description": "Optional. The workload type for the multi-node request.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ]
        }
      },
      "type": "object"
    },
    "AttachedDisk": {
      "description": "A node-attached disk resource.",
      "id": "AttachedDisk",
      "type": "object",
      "properties": {
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of worker IDs this disk is attached to."
        },
        "mode": {
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "type": "string",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ]
        }
      }
    },
    "NodeUpcomingMaintenanceInfo": {
      "description": "A tuple containing node name / ID and maintenance info.",
      "id": "NodeUpcomingMaintenanceInfo",
      "type": "object",
      "properties": {
        "nodeUid": {
          "description": "UID of this node.",
          "type": "string",
          "format": "int64"
        },
        "nodeName": {
          "type": "string",
          "description": "Unqualified node name."
        },
        "upcomingMaintenance": {
          "description": "Upcoming maintenance info for this node.",
          "$ref": "UpcomingMaintenance"
        }
      }
    },
    "StopNodeRequest": {
      "properties": {},
      "description": "Request for StopNode.",
      "type": "object",
      "id": "StopNodeRequest"
    },
    "GetGuestAttributesRequest": {
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "type": "array",
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GetGuestAttributesRequest",
      "description": "Request for GetGuestAttributes."
    },
    "ServiceIdentity": {
      "id": "ServiceIdentity",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The per-product per-project service identity for Cloud TPU service."
    },
    "SchedulingConfig": {
      "description": "Sets the scheduling options for this node.",
      "id": "SchedulingConfig",
      "properties": {
        "terminationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the node will be terminated.",
          "readOnly": true
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the node should be provisioned.",
          "type": "string"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "provisioningModel": {
          "type": "string",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ],
          "description": "Optional. Defines the provisioning model for the node.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ]
        },
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GuestAttributes": {
      "id": "GuestAttributes",
      "type": "object",
      "description": "A guest attributes.",
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "BootDiskConfig": {
      "type": "object",
      "description": "Boot disk configurations.",
      "properties": {
        "customerEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Customer encryption key for boot disk."
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image.",
          "format": "int64"
        },
        "sourceImage": {
          "description": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`.",
          "type": "string"
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops)."
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle.",
          "format": "int64",
          "type": "string"
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource."
        },
        "enableConfidentialCompute": {
          "description": "Optional. Whether the boot disk will be created with confidential compute mode.",
          "type": "boolean"
        }
      },
      "id": "BootDiskConfig"
    },
    "GetMaintenanceInfoResponse": {
      "id": "GetMaintenanceInfoResponse",
      "type": "object",
      "description": "Response for GetMaintenanceInfo.",
      "properties": {
        "nodeUpcomingMaintenances": {
          "description": "The list of upcoming maintenance entries.",
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListQueuedResourcesResponse": {
      "type": "object",
      "id": "ListQueuedResourcesResponse",
      "description": "Response for ListQueuedResources.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queuedResources": {
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          },
          "type": "array"
        }
      }
    },
    "SuspendingData": {
      "description": "Further data for the suspending state.",
      "type": "object",
      "properties": {},
      "id": "SuspendingData"
    },
    "FailedData": {
      "id": "FailedData",
      "properties": {
        "error": {
          "description": "The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status"
        }
      },
      "description": "Further data for the failed state.",
      "type": "object"
    },
    "CreatingData": {
      "description": "Further data for the creating state.",
      "type": "object",
      "id": "CreatingData",
      "properties": {}
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ServiceAccount": {
      "properties": {
        "scope": {
          "items": {
            "type": "string"
          },
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "Email address of the service account. If empty, default Compute service account will be used."
        }
      },
      "id": "ServiceAccount",
      "type": "object",
      "description": "A service account."
    },
    "Guaranteed": {
      "id": "Guaranteed",
      "type": "object",
      "properties": {
        "reserved": {
          "description": "Optional. Specifies the request should be scheduled on reserved capacity.",
          "type": "boolean"
        },
        "minDuration": {
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Guaranteed tier definition."
    },
    "ListNodesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "nodes": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListNodesResponse",
      "description": "Response for ListNodes.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "QueueingPolicy": {
      "properties": {
        "validAfterDuration": {
          "description": "A relative time after which resources may be created.",
          "format": "google-duration",
          "type": "string"
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        },
        "validUntilTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validAfterTime": {
          "description": "An absolute time at which resources may be created.",
          "type": "string",
          "format": "google-datetime"
        },
        "validUntilDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        }
      },
      "type": "object",
      "id": "QueueingPolicy",
      "description": "Defines the policy of the QueuedRequest."
    },
    "NodeSpec": {
      "id": "NodeSpec",
      "type": "object",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "nodeId": {
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params.",
          "type": "string"
        },
        "multiNodeParams": {
          "description": "Optional. Fields to specify in case of multi-node request.",
          "$ref": "MultiNodeParams"
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        }
      }
    },
    "SimulateMaintenanceEventRequest": {
      "id": "SimulateMaintenanceEventRequest",
      "type": "object",
      "properties": {
        "workerIds": {
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request for SimulateMaintenanceEvent."
    },
    "GuestAttributesEntry": {
      "id": "GuestAttributesEntry",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the guest attribute entry."
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        }
      },
      "description": "A guest attributes namespace/key/value entry."
    },
    "SuspendedData": {
      "properties": {},
      "id": "SuspendedData",
      "description": "Further data for the suspended state.",
      "type": "object"
    },
    "ProvisioningData": {
      "properties": {},
      "type": "object",
      "description": "Further data for the provisioning state.",
      "id": "ProvisioningData"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "queueCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface."
        },
        "enableExternalIps": {
          "type": "boolean",
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled."
        },
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used."
        }
      },
      "description": "Network related configurations.",
      "type": "object"
    },
    "CustomerEncryptionKey": {
      "id": "CustomerEncryptionKey",
      "type": "object",
      "description": "Customer's encryption key.",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "type": "object",
      "id": "AcceleratorConfig",
      "properties": {
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ],
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "description": "Required. Type of TPU."
        }
      },
      "description": "A TPU accelerator configuration."
    },
    "ListReservationsResponse": {
      "type": "object",
      "id": "ListReservationsResponse",
      "description": "Response for ListReservations.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "reservations": {
          "description": "The listed reservations.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        }
      }
    },
    "ListRuntimeVersionsResponse": {
      "type": "object",
      "id": "ListRuntimeVersionsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "runtimeVersions": {
          "items": {
            "$ref": "RuntimeVersion"
          },
          "type": "array",
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "description": "Response for ListRuntimeVersions."
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "properties": {
        "nodeNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the nodes to perform maintenance on."
        }
      },
      "type": "object",
      "description": "Request for PerformMaintenanceQueuedResource.",
      "id": "PerformMaintenanceQueuedResourceRequest"
    },
    "AcceptedData": {
      "properties": {},
      "type": "object",
      "id": "AcceptedData",
      "description": "Further data for the accepted state."
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Metadata describing an Operation",
      "properties": {
        "statusDetail": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "Spot": {
      "type": "object",
      "id": "Spot",
      "properties": {},
      "description": "Spot tier definition."
    },
    "ListAcceleratorTypesResponse": {
      "properties": {
        "acceleratorTypes": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorType"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for ListAcceleratorTypes.",
      "type": "object",
      "id": "ListAcceleratorTypesResponse"
    },
    "Tpu": {
      "properties": {
        "nodeSpec": {
          "type": "array",
          "description": "The TPU node(s) being requested.",
          "items": {
            "$ref": "NodeSpec"
          }
        }
      },
      "id": "Tpu",
      "type": "object",
      "description": "Details of the TPU resource(s) being requested."
    },
    "PerformMaintenanceRequest": {
      "type": "object",
      "description": "Request for PerformMaintenance.",
      "properties": {},
      "id": "PerformMaintenanceRequest"
    },
    "BestEffort": {
      "description": "BestEffort tier definition.",
      "id": "BestEffort",
      "properties": {},
      "type": "object"
    },
    "AcceleratorType": {
      "description": "A accelerator type that a Node can be configured with.",
      "id": "AcceleratorType",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The accelerator type."
        },
        "acceleratorConfigs": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "The accelerator config."
        },
        "name": {
          "description": "The resource name.",
          "type": "string"
        }
      }
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled."
        }
      }
    },
    "ResetQueuedResourceRequest": {
      "id": "ResetQueuedResourceRequest",
      "properties": {},
      "type": "object",
      "description": "Request for ResetQueuedResource."
    },
    "QueuedResourceState": {
      "id": "QueuedResourceState",
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "type": "object",
      "properties": {
        "acceptedData": {
          "$ref": "AcceptedData",
          "description": "Further data for the accepted state."
        },
        "deletingData": {
          "$ref": "DeletingData",
          "description": "Further data for the deleting state."
        },
        "creatingData": {
          "$ref": "CreatingData",
          "description": "Further data for the creating state."
        },
        "activeData": {
          "$ref": "ActiveData",
          "description": "Further data for the active state."
        },
        "suspendedData": {
          "description": "Further data for the suspended state.",
          "$ref": "SuspendedData"
        },
        "state": {
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "description": "State of the QueuedResource request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ]
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "type": "string",
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "readOnly": true
        },
        "provisioningData": {
          "$ref": "ProvisioningData",
          "description": "Further data for the provisioning state."
        },
        "suspendingData": {
          "description": "Further data for the suspending state.",
          "$ref": "SuspendingData"
        },
        "failedData": {
          "description": "Further data for the failed state.",
          "$ref": "FailedData"
        }
      }
    },
    "GuestAttributesValue": {
      "id": "GuestAttributesValue",
      "type": "object",
      "description": "Array of guest attribute namespace/key/value tuples.",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of guest attributes entries.",
          "items": {
            "$ref": "GuestAttributesEntry"
          }
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "type": "object",
      "id": "GenerateServiceIdentityResponse",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      }
    },
    "ActiveData": {
      "type": "object",
      "properties": {},
      "description": "Further data for the active state.",
      "id": "ActiveData"
    },
    "Reservation": {
      "id": "Reservation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}"
        },
        "standard": {
          "$ref": "Standard",
          "description": "A standard reservation."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ],
          "description": "Output only. The state of the Reservation.",
          "readOnly": true,
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ]
        }
      },
      "type": "object",
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time."
    },
    "GenerateServiceIdentityRequest": {
      "description": "Request for GenerateServiceIdentity.",
      "properties": {},
      "type": "object",
      "id": "GenerateServiceIdentityRequest"
    },
    "Standard": {
      "id": "Standard",
      "properties": {
        "capacityUnits": {
          "description": "Capacity units this reservation is measured in.",
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ],
          "type": "string",
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ]
        },
        "interval": {
          "$ref": "Interval",
          "description": "The start and end time of the reservation."
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the reservation."
        },
        "size": {
          "type": "integer",
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "format": "int32"
        },
        "usage": {
          "$ref": "Usage",
          "description": "The current usage of the reservation."
        }
      },
      "description": "Details of a standard reservation.",
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/tpu/",
  "baseUrl": "https://tpu.googleapis.com/",
  "rootUrl": "https://tpu.googleapis.com/",
  "revision": "20260127",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "servicePath": "",
  "basePath": "",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "TPU",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2alpha1/{+name}/locations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "id": "tpu.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "generateServiceIdentity": {
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "httpMethod": "POST",
              "description": "Generates the Cloud TPU service identity for the project.",
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.generateServiceIdentity",
              "path": "v2alpha1/{+parent}:generateServiceIdentity"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "path": "v2alpha1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "queuedResources": {
              "methods": {
                "list": {
                  "id": "tpu.projects.locations.queuedResources.list",
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists queued resources.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v2alpha1/{+name}",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getMaintenanceInfo": {
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo",
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "httpMethod": "GET",
                  "path": "v2alpha1/{+name}:getMaintenanceInfo",
                  "description": "Gets the maintenance info for a queued resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string",
                      "description": "Required. The QueuedResource name.",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2alpha1/{+name}",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a queued resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.get"
                },
                "performMaintenanceQueuedResource": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource",
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on."
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "description": "Creates a QueuedResource TPU instance.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Idempotent request UUID."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name."
                    },
                    "queuedResourceId": {
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.create"
                },
                "reset": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2alpha1/{+name}:reset",
                  "description": "Resets a QueuedResource TPU instance",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the queued resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "description": "Gets AcceleratorType.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "path": "v2alpha1/{+name}",
                  "response": {
                    "$ref": "AcceleratorType"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort results."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    }
                  },
                  "description": "Lists accelerator types supported by this API.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.list"
                }
              }
            },
            "nodes": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a node.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Idempotent request UUID."
                    }
                  },
                  "id": "tpu.projects.locations.nodes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "getGuestAttributes": {
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "description": "Retrieves the guest attributes for the node.",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  }
                },
                "start": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}:start",
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a node.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.start",
                  "httpMethod": "POST"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "tpu.projects.locations.nodes.patch",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Updates the configurations of a node.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Node"
                  },
                  "path": "v2alpha1/{+name}"
                },
                "simulateMaintenanceEvent": {
                  "httpMethod": "POST",
                  "path": "v2alpha1/{+name}:simulateMaintenanceEvent",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:simulateMaintenanceEvent",
                  "request": {
                    "$ref": "SimulateMaintenanceEventRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.simulateMaintenanceEvent",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "description": "Simulates a maintenance event.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "performMaintenance": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "PerformMaintenanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}:performMaintenance",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:performMaintenance",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name."
                    }
                  },
                  "description": "Perform manual maintenance on a node.",
                  "id": "tpu.projects.locations.nodes.performMaintenance"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2alpha1/{+parent}/nodes",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "description": "Lists nodes.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListNodesResponse"
                  }
                },
                "get": {
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a node.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.nodes.get"
                },
                "stop": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "path": "v2alpha1/{+name}:stop",
                  "id": "tpu.projects.locations.nodes.stop"
                },
                "create": {
                  "path": "v2alpha1/{+parent}/nodes",
                  "request": {
                    "$ref": "Node"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "nodeId": {
                      "location": "query",
                      "description": "The unqualified resource name.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name."
                    }
                  },
                  "description": "Creates a node.",
                  "id": "tpu.projects.locations.nodes.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}/operations",
                  "id": "tpu.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "tpu.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v2alpha1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.delete",
                  "path": "v2alpha1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.operations.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v2alpha1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "path": "v2alpha1/{+parent}/reservations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of items to return. Defaults to 0 if not specified, which means no limit.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent for reservations.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
[...]
