{
  "ownerName": "Google",
  "title": "Cloud TPU API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "StopNodeRequest": {
      "properties": {},
      "id": "StopNodeRequest",
      "deprecated": true,
      "type": "object",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Request for StopNode."
    },
    "ListTensorFlowVersionsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "tensorflowVersions": {
          "items": {
            "$ref": "TensorFlowVersion"
          },
          "description": "The listed nodes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTensorFlowVersionsResponse",
      "deprecated": true,
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Response for ListTensorFlowVersions."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "StartNodeRequest": {
      "id": "StartNodeRequest",
      "properties": {},
      "type": "object",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Request for StartNode.",
      "deprecated": true
    },
    "NetworkEndpoint": {
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. A network endpoint over which a TPU worker can be reached.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The port of this network endpoint."
        },
        "ipAddress": {
          "description": "The IP address of this network endpoint.",
          "type": "string"
        }
      },
      "id": "NetworkEndpoint"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "ListNodesResponse": {
      "id": "ListNodesResponse",
      "properties": {
        "nodes": {
          "description": "The listed nodes.",
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Response for ListNodes."
    },
    "AcceleratorType": {
      "type": "object",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. A accelerator type that a Node can be configured with.",
      "id": "AcceleratorType",
      "deprecated": true,
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "type": {
          "description": "the accelerator type.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "Node": {
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. A TPU instance.",
      "type": "object",
      "id": "Node",
      "deprecated": true,
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The name of the TPU",
          "type": "string"
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "network": {
          "type": "string",
          "description": "The name of a network they wish to peer the TPU node to. It must be a preexisting Compute Engine network inside of the project on which this API has been activated. If none is provided, \"default\" will be used."
        },
        "symptoms": {
          "items": {
            "$ref": "Symptom"
          },
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the `help_description` field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "description": "Output only. The current state for the TPU Node.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API version that created this Node.",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ],
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ]
        },
        "healthDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "port": {
          "deprecated": true,
          "description": "Output only. DEPRECATED! Use network_endpoints instead. The network port for the TPU Node as visible to Compute Engine instances.",
          "type": "string"
        },
        "tensorflowVersion": {
          "type": "string",
          "description": "Required. The version of Tensorflow running in the Node."
        },
        "acceleratorType": {
          "type": "string",
          "description": "Required. The type of hardware accelerators associated with this node."
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user-provided metadata."
        },
        "networkEndpoints": {
          "readOnly": true,
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that Tensorflow clients of the node reach out to the 0th entry in this map first.",
          "type": "array",
          "items": {
            "$ref": "NetworkEndpoint"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the node was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account used to run the tensor flow services within the node. To share resources, including Google Cloud Storage data, with the Tensorflow job running in the Node, this account must have permissions to that data."
        },
        "health": {
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unhealthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "description": "The health status of the TPU node.",
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "DEPRECATED_UNHEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "useServiceNetworking": {
          "type": "boolean",
          "description": "Whether the VPC peering for the node is set up through Service Networking API. The VPC Peering should be set up before provisioning the node. If this field is set, cidr_block field should not be specified. If the network, that you want to peer the TPU Node to, is Shared VPC networks, the node must be created with this this field enabled."
        },
        "ipAddress": {
          "type": "string",
          "description": "Output only. DEPRECATED! Use network_endpoints instead. The network address for the TPU Node as visible to Compute Engine instances.",
          "deprecated": true
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        }
      }
    },
    "ListAcceleratorTypesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "type": "array",
          "description": "The listed nodes."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListAcceleratorTypesResponse",
      "deprecated": true,
      "type": "object",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Response for ListAcceleratorTypes."
    },
    "Symptom": {
      "type": "object",
      "deprecated": true,
      "id": "Symptom",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. A Symptom instance.",
      "properties": {
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when the Symptom is created.",
          "type": "string"
        },
        "symptomType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "description": "Type of the Symptom."
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ReimageNodeRequest": {
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Request for ReimageNode.",
      "deprecated": true,
      "id": "ReimageNodeRequest",
      "type": "object",
      "properties": {
        "tensorflowVersion": {
          "description": "The version for reimage to create.",
          "type": "string"
        }
      }
    },
    "TensorFlowVersion": {
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. A tensorflow version that a Node can be configured with.",
      "deprecated": true,
      "type": "object",
      "id": "TensorFlowVersion",
      "properties": {
        "version": {
          "description": "the tensorflow version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        }
      }
    },
    "SchedulingConfig": {
      "properties": {
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "preemptible": {
          "description": "Defines whether the node is preemptible.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SchedulingConfig",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Sets the scheduling options for this node.",
      "deprecated": true
    },
    "OperationMetadata": {
      "properties": {
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version."
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "deprecated": true,
      "id": "OperationMetadata",
      "description": "DEPRECATED: Please use TPU API v2alpha1 instead. Metadata describing an Operation"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "nodes": {
              "deprecated": true,
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Node"
                  },
                  "id": "tpu.projects.locations.nodes.get",
                  "description": "Gets the details of a node.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  }
                },
                "list": {
                  "deprecated": true,
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.nodes.list",
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Lists nodes.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "type": "string"
                    },
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.nodes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a node.",
                  "deprecated": true,
                  "request": {
                    "$ref": "Node"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Idempotent request UUID."
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "description": "Deletes a node.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}"
                },
                "start": {
                  "parameters": {
                    "name": {
                      "description": "The resource name.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "description": "Starts a node.",
                  "path": "v1alpha1/{+name}:start",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "deprecated": true,
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "stop": {
                  "deprecated": true,
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+name}:stop",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The resource name."
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop"
                },
                "reimage": {
                  "request": {
                    "$ref": "ReimageNodeRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The resource name.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+name}:reimage",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:reimage",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "deprecated": true,
                  "id": "tpu.projects.locations.nodes.reimage",
                  "description": "Reimages a node's OS.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "tensorflowVersions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "httpMethod": "GET",
                  "description": "Lists TensorFlow versions supported by this API.",
                  "response": {
                    "$ref": "ListTensorFlowVersionsResponse"
                  },
                  "path": "v1alpha1/{+parent}/tensorflowVersions",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/tensorflowVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.tensorflowVersions.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorflowVersions/[^/]+$"
                    }
                  },
                  "description": "Gets TensorFlow Version.",
                  "response": {
                    "$ref": "TensorFlowVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/tensorflowVersions/{tensorflowVersionsId}",
                  "deprecated": true,
                  "id": "tpu.projects.locations.tensorflowVersions.get",
                  "httpMethod": "GET"
                }
              },
              "deprecated": true
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists accelerator types supported by this API.",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort results."
                    },
                    "filter": {
                      "description": "List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name."
                    }
                  },
                  "path": "v1alpha1/{+parent}/acceleratorTypes"
                },
                "get": {
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "description": "Gets AcceleratorType.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "deprecated": true,
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}"
                }
              },
              "deprecated": true
            },
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "tpu.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.operations.list"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "id": "tpu.projects.locations.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "id": "tpu.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}/locations",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/locations"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location."
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "tpu.projects.locations.get",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}"
            }
          }
        }
      }
    }
  },
  "version": "v1alpha1",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/tpu/",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://tpu.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "tpu:v1alpha1",
  "name": "tpu",
  "baseUrl": "https://tpu.googleapis.com/",
  "canonicalName": "TPU",
  "revision": "20261001",
  "kind": "discovery#restDescription"
}