{
  "id": "tpu:v2",
  "batchPath": "batch",
  "title": "Cloud TPU API",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/tpu/",
  "discoveryVersion": "v1",
  "version_module": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "tpu",
  "rootUrl": "https://tpu.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "TPU",
  "schemas": {
    "RuntimeVersion": {
      "description": "A runtime version that a Node can be configured with.",
      "type": "object",
      "id": "RuntimeVersion",
      "properties": {
        "version": {
          "type": "string",
          "description": "The runtime version."
        },
        "name": {
          "description": "The resource name.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "AcceptedData": {
      "id": "AcceptedData",
      "properties": {},
      "type": "object",
      "description": "Further data for the accepted state."
    },
    "ServiceIdentity": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the service identity."
        }
      },
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "id": "ServiceIdentity"
    },
    "SuspendedData": {
      "properties": {},
      "id": "SuspendedData",
      "description": "Further data for the suspended state.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "AccessConfig": {
      "properties": {
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      },
      "description": "An access config attached to the TPU worker.",
      "id": "AccessConfig",
      "type": "object"
    },
    "ProvisioningData": {
      "type": "object",
      "properties": {},
      "id": "ProvisioningData",
      "description": "Further data for the provisioning state."
    },
    "QueuedResource": {
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "type": "object",
      "id": "QueuedResource",
      "properties": {
        "queueingPolicy": {
          "description": "Optional. The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "state": {
          "description": "Output only. State of the QueuedResource request.",
          "$ref": "QueuedResourceState",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the QueuedResource was created.",
          "format": "google-datetime"
        },
        "guaranteed": {
          "description": "Optional. The Guaranteed tier",
          "$ref": "Guaranteed"
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "readOnly": true
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "tpu": {
          "description": "Optional. Defines a TPU resource.",
          "$ref": "Tpu"
        }
      }
    },
    "ActiveData": {
      "properties": {},
      "type": "object",
      "id": "ActiveData",
      "description": "Further data for the active state."
    },
    "Node": {
      "description": "A TPU instance.",
      "id": "Node",
      "type": "object",
      "properties": {
        "networkEndpoints": {
          "readOnly": true,
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "type": "array"
        },
        "multisliceNode": {
          "type": "boolean",
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "type": "string",
          "description": "Output only. The current state for the TPU Node.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ]
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. The type of hardware accelerators associated with this node."
        },
        "apiVersion": {
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version.",
            "TPU API V2 version."
          ],
          "type": "string",
          "description": "Output only. The API version that created this Node.",
          "readOnly": true,
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1",
            "V2"
          ]
        },
        "runtimeVersion": {
          "description": "Required. The runtime version running in the Node.",
          "type": "string"
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "healthDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "dataDisks": {
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "The additional data disks for the Node."
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The unique identifier for the TPU Node.",
          "type": "string",
          "format": "int64"
        },
        "health": {
          "description": "The health status of the TPU node.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "type": "string",
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the node was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "queuedResource": {
          "type": "string",
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "readOnly": true
        },
        "schedulingConfig": {
          "$ref": "SchedulingConfig",
          "description": "The scheduling options for this node."
        },
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "upcomingMaintenance": {
          "readOnly": true,
          "$ref": "UpcomingMaintenance",
          "description": "Output only. Upcoming maintenance on this TPU node."
        },
        "tags": {
          "type": "array",
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "items": {
            "type": "string"
          }
        },
        "symptoms": {
          "items": {
            "$ref": "Symptom"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node."
        },
        "cidrBlock": {
          "type": "string",
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block."
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used.",
          "$ref": "ServiceAccount"
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "networkConfigs": {
          "type": "array",
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "UpcomingMaintenance": {
      "description": "Upcoming Maintenance notification information.",
      "id": "UpcomingMaintenance",
      "properties": {
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "maintenanceStatus": {
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "description": "The status of the maintenance."
        },
        "latestWindowStartTime": {
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "type": {
          "description": "Defines the type of maintenance.",
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ]
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        }
      },
      "type": "object"
    },
    "Tpu": {
      "description": "Details of the TPU resource(s) being requested.",
      "properties": {
        "nodeSpec": {
          "items": {
            "$ref": "NodeSpec"
          },
          "type": "array",
          "description": "Optional. The TPU node(s) being requested."
        }
      },
      "type": "object",
      "id": "Tpu"
    },
    "ListRuntimeVersionsResponse": {
      "id": "ListRuntimeVersionsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "runtimeVersions": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "RuntimeVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "description": "Response for ListRuntimeVersions.",
      "type": "object"
    },
    "SuspendingData": {
      "id": "SuspendingData",
      "type": "object",
      "properties": {},
      "description": "Further data for the suspending state."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account. If empty, default Compute service account will be used."
        },
        "scope": {
          "type": "array",
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A service account.",
      "id": "ServiceAccount",
      "type": "object"
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityResponse",
      "type": "object",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      }
    },
    "AcceleratorType": {
      "properties": {
        "acceleratorConfigs": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "The accelerator config.",
          "type": "array"
        },
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The accelerator type."
        }
      },
      "type": "object",
      "id": "AcceleratorType",
      "description": "A accelerator type that a Node can be configured with."
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GetGuestAttributesRequest": {
      "id": "GetGuestAttributesRequest",
      "description": "Request for GetGuestAttributes.",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "NetworkEndpoint": {
      "properties": {
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        },
        "port": {
          "type": "integer",
          "description": "The port of this network endpoint.",
          "format": "int32"
        },
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        }
      },
      "description": "A network endpoint over which a TPU worker can be reached.",
      "id": "NetworkEndpoint",
      "type": "object"
    },
    "FailedData": {
      "description": "Further data for the failed state.",
      "id": "FailedData",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error that caused the queued resource to enter the FAILED state."
        }
      }
    },
    "AttachedDisk": {
      "description": "A node-attached disk resource. Next ID: 8;",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "type": "string",
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ]
        },
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        }
      },
      "id": "AttachedDisk",
      "type": "object"
    },
    "Guaranteed": {
      "description": "Guaranteed tier definition.",
      "id": "Guaranteed",
      "properties": {
        "minDuration": {
          "format": "google-duration",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuestAttributes": {
      "type": "object",
      "id": "GuestAttributes",
      "description": "A guest attributes.",
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "$ref": "GuestAttributesValue",
          "description": "The value of the requested queried path."
        }
      }
    },
    "Symptom": {
      "description": "A Symptom instance.",
      "type": "object",
      "id": "Symptom",
      "properties": {
        "symptomType": {
          "type": "string",
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ]
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        },
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerId": {
          "type": "string",
          "description": "A string used to uniquely distinguish a worker within a TPU node."
        }
      }
    },
    "SchedulingConfig": {
      "properties": {
        "reserved": {
          "type": "boolean",
          "description": "Whether the node is created under a reservation."
        },
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SchedulingConfig",
      "description": "Sets the scheduling options for this node."
    },
    "MultisliceParams": {
      "id": "MultisliceParams",
      "description": "Parameters to specify for multislice QueuedResource requests. This message must be populated in case of multislice requests instead of node_id.",
      "properties": {
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provision \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32",
          "type": "integer"
        },
        "nodeIdPrefix": {
          "description": "Optional. Prefix of node_ids in case of multislice request. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetGuestAttributesResponse": {
      "description": "Response for GetGuestAttributes.",
      "id": "GetGuestAttributesResponse",
      "properties": {
        "guestAttributes": {
          "description": "The guest attributes for the TPU workers.",
          "items": {
            "$ref": "GuestAttributes"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "NodeSpec": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "multisliceParams": {
          "description": "Optional. Fields to specify in case of multislice request.",
          "$ref": "MultisliceParams"
        },
        "nodeId": {
          "type": "string",
          "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multislice requests, multislice_params must be populated instead."
        }
      },
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "id": "NodeSpec"
    },
    "ListNodesResponse": {
      "type": "object",
      "description": "Response for ListNodes.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "description": "The listed nodes.",
          "items": {
            "$ref": "Node"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListNodesResponse"
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "description": "Defines the customer encryption key for disk encryption.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 "
        }
      },
      "id": "CustomerEncryptionKey"
    },
    "QueuedResourceState": {
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "type": "object",
      "properties": {
        "creatingData": {
          "$ref": "CreatingData",
          "readOnly": true,
          "description": "Output only. Further data for the creating state."
        },
        "provisioningData": {
          "description": "Output only. Further data for the provisioning state.",
          "readOnly": true,
          "$ref": "ProvisioningData"
        },
        "suspendingData": {
          "$ref": "SuspendingData",
          "readOnly": true,
          "description": "Output only. Further data for the suspending state."
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ]
        },
        "failedData": {
          "readOnly": true,
          "description": "Output only. Further data for the failed state.",
          "$ref": "FailedData"
        },
        "deletingData": {
          "readOnly": true,
          "description": "Output only. Further data for the deleting state.",
          "$ref": "DeletingData"
        },
        "activeData": {
          "readOnly": true,
          "description": "Output only. Further data for the active state.",
          "$ref": "ActiveData"
        },
        "acceptedData": {
          "$ref": "AcceptedData",
          "description": "Output only. Further data for the accepted state.",
          "readOnly": true
        },
        "suspendedData": {
          "$ref": "SuspendedData",
          "readOnly": true,
          "description": "Output only. Further data for the suspended state."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the QueuedResource request.",
          "type": "string",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ]
        }
      },
      "id": "QueuedResourceState"
    },
    "ListAcceleratorTypesResponse": {
      "type": "object",
      "id": "ListAcceleratorTypesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "type": "array",
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "description": "Response for ListAcceleratorTypes."
    },
    "GuestAttributesEntry": {
      "type": "object",
      "description": "A guest attributes namespace/key/value entry.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the guest attribute entry."
        },
        "key": {
          "type": "string",
          "description": "Key for the guest attribute entry."
        },
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        }
      },
      "id": "GuestAttributesEntry"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Metadata describing an Operation",
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version."
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        }
      }
    },
    "StopNodeRequest": {
      "type": "object",
      "description": "Request for StopNode.",
      "id": "StopNodeRequest",
      "properties": {}
    },
    "CreatingData": {
      "description": "Further data for the creating state.",
      "properties": {},
      "id": "CreatingData",
      "type": "object"
    },
    "BootDiskConfig": {
      "type": "object",
      "properties": {
        "customerEncryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Optional. Customer encryption key for boot disk."
        }
      },
      "id": "BootDiskConfig",
      "description": "Sets the boot disk configuration for the TPU node."
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "QueueingPolicy": {
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object",
      "id": "QueueingPolicy",
      "properties": {
        "validUntilTime": {
          "type": "string",
          "description": "Optional. An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-datetime"
        },
        "validInterval": {
          "$ref": "Interval",
          "description": "Optional. An absolute time interval within which resources may be created."
        },
        "validUntilDuration": {
          "description": "Optional. A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-duration",
          "type": "string"
        },
        "validAfterDuration": {
          "description": "Optional. A relative time after which resources may be created.",
          "type": "string",
          "format": "google-duration"
        },
        "validAfterTime": {
          "description": "Optional. An absolute time after which resources may be created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ResetQueuedResourceRequest": {
      "id": "ResetQueuedResourceRequest",
      "properties": {},
      "description": "Request for ResetQueuedResource.",
      "type": "object"
    },
    "StartNodeRequest": {
      "id": "StartNodeRequest",
      "properties": {},
      "type": "object",
      "description": "Request for StartNode."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "Spot": {
      "id": "Spot",
      "description": "Spot tier definition.",
      "type": "object",
      "properties": {}
    },
    "GenerateServiceIdentityRequest": {
      "description": "Request for GenerateServiceIdentity.",
      "type": "object",
      "properties": {},
      "id": "GenerateServiceIdentityRequest"
    },
    "DeletingData": {
      "properties": {},
      "type": "object",
      "id": "DeletingData",
      "description": "Further data for the deleting state."
    },
    "ListQueuedResourcesResponse": {
      "properties": {
        "queuedResources": {
          "type": "array",
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "id": "ListQueuedResourcesResponse",
      "type": "object",
      "description": "Response for ListQueuedResources."
    },
    "NetworkConfig": {
      "properties": {
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        },
        "queueCount": {
          "format": "int32",
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "type": "integer"
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "enableExternalIps": {
          "type": "boolean",
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled."
        }
      },
      "id": "NetworkConfig",
      "type": "object",
      "description": "Network related configurations."
    },
    "AcceleratorConfig": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5p.",
            "TPU v6e."
          ],
          "description": "Required. Type of TPU.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        },
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        }
      },
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "A TPU accelerator configuration."
    },
    "GuestAttributesValue": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of guest attributes entries.",
          "items": {
            "$ref": "GuestAttributesEntry"
          }
        }
      },
      "id": "GuestAttributesValue",
      "type": "object",
      "description": "Array of guest attribute namespace/key/value tuples."
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "generateServiceIdentity": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "tpu.projects.locations.generateServiceIdentity",
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource name.",
                  "required": true
                }
              },
              "description": "Generates the Cloud TPU service identity for the project.",
              "httpMethod": "POST",
              "path": "v2/{+parent}:generateServiceIdentity"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "id": "tpu.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET"
            },
            "list": {
              "path": "v2/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "httpMethod": "GET",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "tpu.projects.locations.list"
            }
          },
          "resources": {
            "queuedResources": {
              "methods": {
                "reset": {
                  "path": "v2/{+name}:reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the queued resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Resets a QueuedResource TPU instance",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name."
                    }
                  },
                  "description": "Lists queued resources.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "id": "tpu.projects.locations.queuedResources.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "path": "v2/{+parent}/queuedResources"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name."
                    },
                    "force": {
                      "description": "Optional. If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. Idempotent request UUID.",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "description": "Deletes a QueuedResource TPU instance."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "description": "Gets details of a queued resource.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+parent}/queuedResources",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "parameters": {
                    "queuedResourceId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Idempotent request UUID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a QueuedResource TPU instance.",
                  "id": "tpu.projects.locations.queuedResources.create"
                }
              }
            },
            "runtimeVersions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "path": "v2/{+parent}/runtimeVersions",
                  "description": "Lists runtime versions supported by this API.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets a runtime version.",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.runtimeVersions.get"
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "tpu.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.operations.list"
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "tpu.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "nodes": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the configurations of a node.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips]."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Node"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.patch",
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}"
                },
                "stop": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.stop",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:stop",
                  "description": "Stops a node. This operation is only available with single TPU nodes."
                },
                "start": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "id": "tpu.projects.locations.nodes.start",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts a node.",
                  "path": "v2/{+name}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "getGuestAttributes": {
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "path": "v2/{+name}:getGuestAttributes",
                  "description": "Retrieves the guest attributes for the node.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "description": "Gets the details of a node."
                },
                "delete": {
                  "id": "tpu.projects.locations.nodes.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "Deletes a node."
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.nodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists nodes.",
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "path": "v2/{+parent}/nodes",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Node"
                  },
                  "id": "tpu.projects.locations.nodes.create",
                  "description": "Creates a node.",
                  "path": "v2/{+parent}/nodes",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets AcceleratorType.",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/acceleratorTypes",
                  "description": "Lists accelerator types supported by this API."
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "revision": "20260127",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "baseUrl": "https://tpu.googleapis.com/"
}