{
  "basePath": "",
  "id": "tpu:v2alpha1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version": "v2alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "title": "Cloud TPU API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://tpu.googleapis.com/",
  "schemas": {
    "MultiNodeParams": {
      "id": "MultiNodeParams",
      "type": "object",
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params.",
      "properties": {
        "nodeIdPrefix": {
          "type": "string",
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix."
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ],
          "description": "Optional. The workload type for the multi-node request.",
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ],
          "type": "string"
        },
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "ResetQueuedResourceRequest": {
      "properties": {},
      "type": "object",
      "description": "Request for ResetQueuedResource.",
      "id": "ResetQueuedResourceRequest"
    },
    "ServiceIdentity": {
      "id": "ServiceIdentity",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The per-product per-project service identity for Cloud TPU service."
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network related configurations.",
      "type": "object",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used."
        },
        "enableExternalIps": {
          "type": "boolean",
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled."
        },
        "canIpForward": {
          "type": "boolean",
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes."
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "type": "integer",
          "format": "int32"
        },
        "network": {
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used.",
          "type": "string"
        }
      }
    },
    "Symptom": {
      "id": "Symptom",
      "type": "object",
      "description": "A Symptom instance.",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "A string used to uniquely distinguish a worker within a TPU node."
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        },
        "symptomType": {
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "type": "string",
          "description": "Type of the Symptom."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the Symptom is created."
        }
      }
    },
    "BootDiskConfig": {
      "description": "Boot disk configurations.",
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image."
        },
        "provisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
        },
        "enableConfidentialCompute": {
          "description": "Optional. Whether the boot disk will be created with confidential compute mode.",
          "type": "boolean"
        },
        "provisionedIops": {
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops).",
          "type": "string",
          "format": "int64"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        },
        "sourceImage": {
          "description": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`.",
          "type": "string"
        }
      },
      "id": "BootDiskConfig",
      "type": "object"
    },
    "BestEffort": {
      "id": "BestEffort",
      "type": "object",
      "properties": {},
      "description": "BestEffort tier definition."
    },
    "Interval": {
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Interval"
    },
    "PerformMaintenanceRequest": {
      "id": "PerformMaintenanceRequest",
      "type": "object",
      "properties": {},
      "description": "Request for PerformMaintenance."
    },
    "Guaranteed": {
      "properties": {
        "minDuration": {
          "format": "google-duration",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "type": "string"
        },
        "reserved": {
          "description": "Optional. Specifies the request should be scheduled on reserved capacity.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Guaranteed",
      "description": "Guaranteed tier definition."
    },
    "Node": {
      "id": "Node",
      "type": "object",
      "description": "A TPU instance.",
      "properties": {
        "autocheckpointEnabled": {
          "description": "Optional. Whether Autocheckpoint is enabled.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true,
          "type": "string"
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "readOnly": true,
          "description": "Output only. The current state for the TPU Node.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ]
        },
        "healthDescription": {
          "readOnly": true,
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the node was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "dataDisks": {
          "description": "The additional data disks for the Node.",
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "apiVersion": {
          "description": "Output only. The API version that created this Node.",
          "type": "string",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ],
          "readOnly": true
        },
        "queuedResource": {
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "acceleratorConfig": {
          "$ref": "AcceleratorConfig",
          "description": "The AccleratorConfig for the TPU Node."
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "runtimeVersion": {
          "description": "Required. The runtime version running in the Node.",
          "type": "string"
        },
        "acceleratorType": {
          "type": "string",
          "description": "The type of hardware accelerators associated with this node."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        },
        "multisliceNode": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the Node belongs to a Multislice group."
        },
        "schedulingConfig": {
          "$ref": "SchedulingConfig",
          "description": "The scheduling options for this node."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique identifier for the TPU Node.",
          "readOnly": true
        },
        "symptoms": {
          "items": {
            "$ref": "Symptom"
          },
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "The user-supplied description of the TPU. Maximum of 512 characters."
        },
        "networkEndpoints": {
          "type": "array",
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "readOnly": true
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "$ref": "UpcomingMaintenance",
          "readOnly": true
        },
        "health": {
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "description": "The health status of the TPU node.",
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array",
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ListNodesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nodes": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      },
      "id": "ListNodesResponse",
      "type": "object",
      "description": "Response for ListNodes."
    },
    "NodeSpec": {
      "type": "object",
      "properties": {
        "multiNodeParams": {
          "$ref": "MultiNodeParams",
          "description": "Optional. Fields to specify in case of multi-node request."
        },
        "nodeId": {
          "type": "string",
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params."
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name."
        }
      },
      "id": "NodeSpec",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
    },
    "Tpu": {
      "id": "Tpu",
      "description": "Details of the TPU resource(s) being requested.",
      "type": "object",
      "properties": {
        "nodeSpec": {
          "description": "The TPU node(s) being requested.",
          "items": {
            "$ref": "NodeSpec"
          },
          "type": "array"
        }
      }
    },
    "GuestAttributes": {
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      },
      "id": "GuestAttributes",
      "description": "A guest attributes."
    },
    "GenerateServiceIdentityRequest": {
      "description": "Request for GenerateServiceIdentity.",
      "type": "object",
      "properties": {},
      "id": "GenerateServiceIdentityRequest"
    },
    "Usage": {
      "type": "object",
      "properties": {
        "total": {
          "format": "int64",
          "type": "string",
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units."
        }
      },
      "id": "Usage",
      "description": "Usage details of a reservation."
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "type": "object",
      "description": "Request for PerformMaintenanceQueuedResource.",
      "id": "PerformMaintenanceQueuedResourceRequest",
      "properties": {
        "nodeNames": {
          "description": "The names of the nodes to perform maintenance on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListRuntimeVersionsResponse": {
      "properties": {
        "runtimeVersions": {
          "items": {
            "$ref": "RuntimeVersion"
          },
          "description": "The listed nodes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response for ListRuntimeVersions.",
      "type": "object",
      "id": "ListRuntimeVersionsResponse"
    },
    "GuestAttributesEntry": {
      "description": "A guest attributes namespace/key/value entry.",
      "id": "GuestAttributesEntry",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the guest attribute entry."
        },
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        }
      }
    },
    "SuspendedData": {
      "id": "SuspendedData",
      "properties": {},
      "description": "Further data for the suspended state.",
      "type": "object"
    },
    "SchedulingConfig": {
      "description": "Sets the scheduling options for this node.",
      "id": "SchedulingConfig",
      "type": "object",
      "properties": {
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "provisioningModel": {
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ],
          "description": "Optional. Defines the provisioning model for the node.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ],
          "type": "string"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "reservationName": {
          "type": "string",
          "description": "Optional. Name of the reservation in which the node should be provisioned."
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        },
        "terminationTimestamp": {
          "readOnly": true,
          "description": "Output only. The time at which the node will be terminated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Standard": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type of the reservation."
        },
        "usage": {
          "description": "The current usage of the reservation.",
          "$ref": "Usage"
        },
        "capacityUnits": {
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ],
          "type": "string",
          "description": "Capacity units this reservation is measured in.",
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ]
        },
        "size": {
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "format": "int32",
          "type": "integer"
        },
        "interval": {
          "description": "The start and end time of the reservation.",
          "$ref": "Interval"
        }
      },
      "description": "Details of a standard reservation.",
      "type": "object",
      "id": "Standard"
    },
    "NetworkEndpoint": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The internal IP address of this network endpoint."
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        },
        "port": {
          "description": "The port of this network endpoint.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "NetworkEndpoint",
      "description": "A network endpoint over which a TPU worker can be reached."
    },
    "GetMaintenanceInfoResponse": {
      "id": "GetMaintenanceInfoResponse",
      "type": "object",
      "description": "Response for GetMaintenanceInfo.",
      "properties": {
        "nodeUpcomingMaintenances": {
          "type": "array",
          "description": "The list of upcoming maintenance entries.",
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          }
        }
      }
    },
    "SuspendingData": {
      "type": "object",
      "id": "SuspendingData",
      "description": "Further data for the suspending state.",
      "properties": {}
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "A set of Shielded Instance options.",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "QueueingPolicy": {
      "id": "QueueingPolicy",
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object",
      "properties": {
        "validUntilDuration": {
          "type": "string",
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-duration"
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "An absolute time at which resources may be created."
        },
        "validUntilTime": {
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-datetime",
          "type": "string"
        },
        "validAfterDuration": {
          "description": "A relative time after which resources may be created.",
          "format": "google-duration",
          "type": "string"
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        }
      }
    },
    "ListAcceleratorTypesResponse": {
      "id": "ListAcceleratorTypesResponse",
      "type": "object",
      "description": "Response for ListAcceleratorTypes.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "acceleratorTypes": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorType"
          },
          "description": "The listed nodes."
        }
      }
    },
    "GetGuestAttributesResponse": {
      "id": "GetGuestAttributesResponse",
      "properties": {
        "guestAttributes": {
          "description": "The guest attributes for the TPU workers.",
          "type": "array",
          "items": {
            "$ref": "GuestAttributes"
          }
        }
      },
      "description": "Response for GetGuestAttributes.",
      "type": "object"
    },
    "StartNodeRequest": {
      "description": "Request for StartNode.",
      "properties": {},
      "type": "object",
      "id": "StartNodeRequest"
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "A node-attached disk resource.",
      "type": "object",
      "properties": {
        "workerIds": {
          "description": "Optional. The list of worker IDs this disk is attached to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "mode": {
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "type": "string"
        }
      }
    },
    "NodeUpcomingMaintenanceInfo": {
      "id": "NodeUpcomingMaintenanceInfo",
      "type": "object",
      "description": "A tuple containing node name / ID and maintenance info.",
      "properties": {
        "nodeUid": {
          "format": "int64",
          "type": "string",
          "description": "UID of this node."
        },
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Upcoming maintenance info for this node."
        },
        "nodeName": {
          "type": "string",
          "description": "Unqualified node name."
        }
      }
    },
    "DeletingData": {
      "description": "Further data for the deleting state.",
      "properties": {},
      "type": "object",
      "id": "DeletingData"
    },
    "FailedData": {
      "id": "FailedData",
      "properties": {
        "error": {
          "description": "The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "Further data for the failed state."
    },
    "Spot": {
      "properties": {},
      "id": "Spot",
      "description": "Spot tier definition.",
      "type": "object"
    },
    "ActiveData": {
      "type": "object",
      "description": "Further data for the active state.",
      "id": "ActiveData",
      "properties": {}
    },
    "AccessConfig": {
      "type": "object",
      "description": "An access config attached to the TPU worker.",
      "properties": {
        "externalIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      },
      "id": "AccessConfig"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RunDuration": {
      "id": "RunDuration",
      "description": "Defines the maximum lifetime of the requested resource.",
      "type": "object",
      "properties": {
        "terminationTime": {
          "format": "google-datetime",
          "description": "The time at which the requested resource will be terminated.",
          "type": "string"
        },
        "maxRunDuration": {
          "description": "The maximum duration of the requested resource.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ListReservationsResponse": {
      "type": "object",
      "description": "Response for ListReservations.",
      "id": "ListReservationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "reservations": {
          "description": "The listed reservations.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "statusDetail": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        }
      },
      "description": "Metadata describing an Operation",
      "type": "object",
      "id": "OperationMetadata"
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "A TPU accelerator configuration.",
      "properties": {
        "topology": {
          "description": "Required. Topology of TPU in chips.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ],
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "description": "Required. Type of TPU.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "ServiceAccount": {
      "description": "A service account.",
      "properties": {
        "scope": {
          "items": {
            "type": "string"
          },
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "Email address of the service account. If empty, default Compute service account will be used."
        }
      },
      "id": "ServiceAccount",
      "type": "object"
    },
    "GuestAttributesValue": {
      "type": "object",
      "description": "Array of guest attribute namespace/key/value tuples.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "description": "The list of guest attributes entries."
        }
      },
      "id": "GuestAttributesValue"
    },
    "UpcomingMaintenance": {
      "type": "object",
      "description": "Upcoming Maintenance notification information.",
      "id": "UpcomingMaintenance",
      "properties": {
        "canReschedule": {
          "description": "Indicates if the maintenance can be customer triggered.",
          "type": "boolean"
        },
        "latestWindowStartTime": {
          "type": "string",
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format."
        },
        "type": {
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "type": "string",
          "description": "Defines the type of maintenance."
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "maintenanceStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "description": "The status of the maintenance.",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ]
        }
      }
    },
    "RuntimeVersion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      },
      "description": "A runtime version that a Node can be configured with.",
      "type": "object",
      "id": "RuntimeVersion"
    },
    "Reservation": {
      "id": "Reservation",
      "type": "object",
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ],
          "description": "Output only. The state of the Reservation."
        },
        "standard": {
          "description": "A standard reservation.",
          "$ref": "Standard"
        }
      }
    },
    "StopNodeRequest": {
      "description": "Request for StopNode.",
      "properties": {},
      "id": "StopNodeRequest",
      "type": "object"
    },
    "ProvisioningData": {
      "properties": {},
      "id": "ProvisioningData",
      "description": "Further data for the provisioning state.",
      "type": "object"
    },
    "AcceptedData": {
      "description": "Further data for the accepted state.",
      "type": "object",
      "properties": {},
      "id": "AcceptedData"
    },
    "GetGuestAttributesRequest": {
      "id": "GetGuestAttributesRequest",
      "description": "Request for GetGuestAttributes.",
      "properties": {
        "queryPath": {
          "type": "string",
          "description": "The guest attributes path to be queried."
        },
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
        }
      },
      "type": "object"
    },
    "GenerateServiceIdentityResponse": {
      "type": "object",
      "description": "Response for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityResponse",
      "properties": {
        "identity": {
          "$ref": "ServiceIdentity",
          "description": "ServiceIdentity that was created or retrieved."
        }
      }
    },
    "QueuedResource": {
      "properties": {
        "queueingPolicy": {
          "description": "The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "bestEffort": {
          "$ref": "BestEffort",
          "description": "The BestEffort tier."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "type": "string"
        },
        "guaranteed": {
          "description": "The Guaranteed tier.",
          "$ref": "Guaranteed"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the QueuedResource was created.",
          "readOnly": true,
          "type": "string"
        },
        "runDuration": {
          "description": "Optional. The duration of the requested resource.",
          "$ref": "RunDuration"
        },
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ],
          "type": "string",
          "description": "Optional. The provisioning model for the resource.",
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ]
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "state": {
          "readOnly": true,
          "$ref": "QueuedResourceState",
          "description": "Output only. State of the QueuedResource request."
        },
        "reservationName": {
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        }
      },
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "id": "QueuedResource",
      "type": "object"
    },
    "QueuedResourceState": {
      "type": "object",
      "id": "QueuedResourceState",
      "properties": {
        "suspendedData": {
          "description": "Further data for the suspended state.",
          "$ref": "SuspendedData"
        },
        "suspendingData": {
          "$ref": "SuspendingData",
          "description": "Further data for the suspending state."
        },
        "stateInitiator": {
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "type": "string",
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "readOnly": true,
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ]
        },
        "acceptedData": {
          "description": "Further data for the accepted state.",
          "$ref": "AcceptedData"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "description": "State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "type": "string"
        },
        "provisioningData": {
          "description": "Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        },
        "activeData": {
          "$ref": "ActiveData",
          "description": "Further data for the active state."
        },
        "failedData": {
          "$ref": "FailedData",
          "description": "Further data for the failed state."
        },
        "deletingData": {
          "$ref": "DeletingData",
          "description": "Further data for the deleting state."
        },
        "creatingData": {
          "description": "Further data for the creating state.",
          "$ref": "CreatingData"
        }
      },
      "description": "QueuedResourceState defines the details of the QueuedResource request."
    },
    "CustomerEncryptionKey": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 "
        }
      },
      "description": "Customer's encryption key.",
      "type": "object",
      "id": "CustomerEncryptionKey"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "AcceleratorType": {
      "type": "object",
      "id": "AcceleratorType",
      "properties": {
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        },
        "acceleratorConfigs": {
          "type": "array",
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        }
      },
      "description": "A accelerator type that a Node can be configured with."
    },
    "SimulateMaintenanceEventRequest": {
      "type": "object",
      "description": "Request for SimulateMaintenanceEvent.",
      "properties": {
        "workerIds": {
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SimulateMaintenanceEventRequest"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "ListQueuedResourcesResponse": {
      "id": "ListQueuedResourcesResponse",
      "description": "Response for ListQueuedResources.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queuedResources": {
          "description": "The listed queued resources.",
          "type": "array",
          "items": {
            "$ref": "QueuedResource"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "type": "object"
    },
    "CreatingData": {
      "properties": {},
      "type": "object",
      "description": "Further data for the creating state.",
      "id": "CreatingData"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "tpu.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "path": "v2alpha1/{+name}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "generateServiceIdentity": {
              "description": "Generates the Cloud TPU service identity for the project.",
              "id": "tpu.projects.locations.generateServiceIdentity",
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "path": "v2alpha1/{+parent}:generateServiceIdentity",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name."
                }
              },
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2alpha1/{+name}",
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.operations.delete"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "id": "tpu.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "path": "v2alpha1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.operations.get",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2alpha1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "runtimeVersions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "description": "Lists runtime versions supported by this API.",
                  "path": "v2alpha1/{+parent}/runtimeVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "description": "Gets a runtime version."
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.reservations.list",
                  "path": "v2alpha1/{+parent}/reservations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent for reservations."
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return. Defaults to 0 if not specified, which means no limit.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Retrieves the reservations for the given project in the given location."
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "parameters": {
                    "orderBy": {
                      "description": "Sort results.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists accelerator types supported by this API.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "description": "Gets AcceleratorType.",
                  "path": "v2alpha1/{+name}"
                }
              }
            },
            "queuedResources": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "type": "string",
                      "location": "query"
                    },
                    "queuedResourceId": {
                      "location": "query",
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "id": "tpu.projects.locations.queuedResources.create",
                  "description": "Creates a QueuedResource TPU instance.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "description": "Deletes a QueuedResource TPU instance."
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists queued resources.",
                  "id": "tpu.projects.locations.queuedResources.list",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    }
                  },
                  "path": "v2alpha1/{+parent}/queuedResources"
                },
                "getMaintenanceInfo": {
                  "path": "v2alpha1/{+name}:getMaintenanceInfo",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "httpMethod": "GET",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The QueuedResource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "description": "Gets the maintenance info for a queued resource.",
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.get",
                  "path": "v2alpha1/{+name}",
                  "description": "Gets details of a queued resource.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "reset": {
                  "httpMethod": "POST",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "path": "v2alpha1/{+name}:reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the queued resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Resets a QueuedResource TPU instance",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "performMaintenanceQueuedResource": {
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource",
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "getGuestAttributes": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieves the guest attributes for the node.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name."
                    }
                  },
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  }
                },
                "create": {
                  "path": "v2alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.create",
                  "request": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    },
                    "nodeId": {
                      "type": "string",
                      "location": "query",
                      "description": "The unqualified resource name."
                    }
                  },
                  "description": "Creates a node.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Idempotent request UUID."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2alpha1/{+name}",
                  "description": "Deletes a node.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "id": "tpu.projects.locations.nodes.delete"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the configurations of a node.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.patch",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "request": {
                    "$ref": "Node"
                  },
                  "parameters": {
                    "name": {
                      "description": "Output only. Immutable. The name of the TPU.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v2alpha1/{+name}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the details of a node.",
                  "response": {
                    "$ref": "Node"
                  },
                  "id": "tpu.projects.locations.nodes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "httpMethod": "GET"
                },
                "stop": {
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "id": "tpu.projects.locations.nodes.stop",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StopNodeRequest"
                  }
                },
                "start": {
                  "description": "Starts a node.",
                  "path": "v2alpha1/{+name}:start",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "id": "tpu.projects.locations.nodes.start",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
[...]
