{
  "version_module": true,
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "baseUrl": "https://tpu.googleapis.com/",
  "name": "tpu",
  "batchPath": "batch",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "protocol": "rest",
  "canonicalName": "TPU",
  "ownerName": "Google",
  "servicePath": "",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/tpu/",
  "revision": "20261001",
  "id": "tpu:v2",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v2/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.list",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location."
                }
              },
              "id": "tpu.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ]
            },
            "generateServiceIdentity": {
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "id": "tpu.projects.locations.generateServiceIdentity",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}:generateServiceIdentity",
              "description": "Generates the Cloud TPU service identity for the project.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "tpu.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}/operations"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "tpu.projects.locations.operations.delete"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.operations.get"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "tpu.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v2/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "nodes": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the configurations of a node.",
                  "request": {
                    "$ref": "Node"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips]."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Output only. Immutable. The name of the TPU.",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "description": "Gets the details of a node.",
                  "id": "tpu.projects.locations.nodes.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "response": {
                    "$ref": "Node"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Node"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.create",
                  "description": "Creates a node.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name."
                    },
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/nodes",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes"
                },
                "list": {
                  "path": "v2/{+parent}/nodes",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource name."
                    }
                  },
                  "description": "Lists nodes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes"
                },
                "start": {
                  "path": "v2/{+name}:start",
                  "id": "tpu.projects.locations.nodes.start",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts a node."
                },
                "getGuestAttributes": {
                  "path": "v2/{+name}:getGuestAttributes",
                  "description": "Retrieves the guest attributes for the node.",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  }
                },
                "stop": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name."
                    }
                  },
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:stop"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a node.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.delete"
                }
              }
            },
            "runtimeVersions": {
              "methods": {
                "get": {
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "path": "v2/{+name}",
                  "description": "Gets a runtime version.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Sort results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "path": "v2/{+parent}/runtimeVersions",
                  "description": "Lists runtime versions supported by this API."
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "description": "Lists accelerator types supported by this API.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "path": "v2/{+parent}/acceleratorTypes",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "description": "Gets AcceleratorType.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "queuedResources": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "id": "tpu.projects.locations.queuedResources.get",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a queued resource."
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. Idempotent request UUID.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state."
                    }
                  },
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a QueuedResource TPU instance.",
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "id": "tpu.projects.locations.queuedResources.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "queuedResourceId": {
                      "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/queuedResources",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/queuedResources",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists queued resources.",
                  "id": "tpu.projects.locations.queuedResources.list"
                },
                "reset": {
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the queued resource.",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+name}:reset",
                  "description": "Resets a QueuedResource TPU instance",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://tpu.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "CustomerEncryptionKey": {
      "description": "Defines the customer encryption key for disk encryption.",
      "type": "object",
      "id": "CustomerEncryptionKey",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 "
        }
      }
    },
    "Spot": {
      "description": "Spot tier definition.",
      "type": "object",
      "id": "Spot",
      "properties": {}
    },
    "FailedData": {
      "description": "Further data for the failed state.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. The error that caused the queued resource to enter the FAILED state.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "FailedData"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "AcceptedData": {
      "id": "AcceptedData",
      "description": "Further data for the accepted state.",
      "properties": {},
      "type": "object"
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityResponse",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      },
      "type": "object"
    },
    "Guaranteed": {
      "description": "Guaranteed tier definition.",
      "id": "Guaranteed",
      "type": "object",
      "properties": {
        "minDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration."
        }
      }
    },
    "ResetQueuedResourceRequest": {
      "properties": {},
      "description": "Request for ResetQueuedResource.",
      "id": "ResetQueuedResourceRequest",
      "type": "object"
    },
    "ListAcceleratorTypesResponse": {
      "type": "object",
      "properties": {
        "acceleratorTypes": {
          "description": "The listed nodes.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorType"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "description": "Response for ListAcceleratorTypes.",
      "id": "ListAcceleratorTypesResponse"
    },
    "ActiveData": {
      "properties": {},
      "type": "object",
      "id": "ActiveData",
      "description": "Further data for the active state."
    },
    "SuspendingData": {
      "properties": {},
      "type": "object",
      "id": "SuspendingData",
      "description": "Further data for the suspending state."
    },
    "GuestAttributesValue": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of guest attributes entries.",
          "type": "array",
          "items": {
            "$ref": "GuestAttributesEntry"
          }
        }
      },
      "description": "Array of guest attribute namespace/key/value tuples.",
      "id": "GuestAttributesValue"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "NetworkEndpoint": {
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The port of this network endpoint."
        },
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "The access config for the TPU worker."
        },
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        }
      },
      "description": "A network endpoint over which a TPU worker can be reached.",
      "id": "NetworkEndpoint",
      "type": "object"
    },
    "GuestAttributesEntry": {
      "description": "A guest attributes namespace/key/value entry.",
      "id": "GuestAttributesEntry",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for the guest attribute entry."
        }
      }
    },
    "MultisliceParams": {
      "id": "MultisliceParams",
      "properties": {
        "nodeIdPrefix": {
          "description": "Optional. Prefix of node_ids in case of multislice request. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Required. Number of nodes with this spec. The system will attempt to provision \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32"
        }
      },
      "description": "Parameters to specify for multislice QueuedResource requests. This message must be populated in case of multislice requests instead of node_id.",
      "type": "object"
    },
    "QueuedResourceState": {
      "id": "QueuedResourceState",
      "properties": {
        "deletingData": {
          "$ref": "DeletingData",
          "readOnly": true,
          "description": "Output only. Further data for the deleting state."
        },
        "activeData": {
          "$ref": "ActiveData",
          "readOnly": true,
          "description": "Output only. Further data for the active state."
        },
        "provisioningData": {
          "description": "Output only. Further data for the provisioning state.",
          "readOnly": true,
          "$ref": "ProvisioningData"
        },
        "acceptedData": {
          "description": "Output only. Further data for the accepted state.",
          "$ref": "AcceptedData",
          "readOnly": true
        },
        "suspendingData": {
          "description": "Output only. Further data for the suspending state.",
          "readOnly": true,
          "$ref": "SuspendingData"
        },
        "creatingData": {
          "description": "Output only. Further data for the creating state.",
          "readOnly": true,
          "$ref": "CreatingData"
        },
        "stateInitiator": {
          "type": "string",
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "readOnly": true
        },
        "suspendedData": {
          "description": "Output only. Further data for the suspended state.",
          "readOnly": true,
          "$ref": "SuspendedData"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "description": "Output only. State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "readOnly": true,
          "type": "string"
        },
        "failedData": {
          "$ref": "FailedData",
          "readOnly": true,
          "description": "Output only. Further data for the failed state."
        }
      },
      "type": "object",
      "description": "QueuedResourceState defines the details of the QueuedResource request."
    },
    "AcceleratorConfig": {
      "properties": {
        "type": {
          "description": "Required. Type of TPU.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5p.",
            "TPU v6e."
          ]
        },
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        }
      },
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "A TPU accelerator configuration."
    },
    "QueueingPolicy": {
      "id": "QueueingPolicy",
      "properties": {
        "validUntilDuration": {
          "type": "string",
          "description": "Optional. A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-duration"
        },
        "validUntilTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validInterval": {
          "$ref": "Interval",
          "description": "Optional. An absolute time interval within which resources may be created."
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. An absolute time after which resources may be created."
        },
        "validAfterDuration": {
          "format": "google-duration",
          "description": "Optional. A relative time after which resources may be created.",
          "type": "string"
        }
      },
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object"
    },
    "SuspendedData": {
      "description": "Further data for the suspended state.",
      "type": "object",
      "properties": {},
      "id": "SuspendedData"
    },
    "AccessConfig": {
      "type": "object",
      "description": "An access config attached to the TPU worker.",
      "id": "AccessConfig",
      "properties": {
        "externalIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      }
    },
    "ServiceAccount": {
      "type": "object",
      "id": "ServiceAccount",
      "description": "A service account.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account. If empty, default Compute service account will be used."
        },
        "scope": {
          "type": "array",
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Symptom": {
      "id": "Symptom",
      "properties": {
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        },
        "createTime": {
          "type": "string",
          "description": "Timestamp when the Symptom is created.",
          "format": "google-datetime"
        },
        "symptomType": {
          "type": "string",
          "description": "Type of the Symptom.",
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ]
        }
      },
      "description": "A Symptom instance.",
      "type": "object"
    },
    "AcceleratorType": {
      "type": "object",
      "id": "AcceleratorType",
      "description": "A accelerator type that a Node can be configured with.",
      "properties": {
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "acceleratorConfigs": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array",
          "description": "The accelerator config."
        }
      }
    },
    "RuntimeVersion": {
      "id": "RuntimeVersion",
      "description": "A runtime version that a Node can be configured with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The runtime version."
        }
      }
    },
    "DeletingData": {
      "type": "object",
      "description": "Further data for the deleting state.",
      "properties": {},
      "id": "DeletingData"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "SchedulingConfig": {
      "id": "SchedulingConfig",
      "description": "Sets the scheduling options for this node.",
      "properties": {
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "preemptible": {
          "description": "Defines whether the node is preemptible.",
          "type": "boolean"
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GenerateServiceIdentityRequest": {
      "properties": {},
      "id": "GenerateServiceIdentityRequest",
      "description": "Request for GenerateServiceIdentity.",
      "type": "object"
    },
    "CreatingData": {
      "properties": {},
      "type": "object",
      "id": "CreatingData",
      "description": "Further data for the creating state."
    },
    "GuestAttributes": {
      "description": "A guest attributes.",
      "id": "GuestAttributes",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      }
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options.",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "id": "ShieldedInstanceConfig",
      "type": "object"
    },
    "Tpu": {
      "description": "Details of the TPU resource(s) being requested.",
      "type": "object",
      "properties": {
        "nodeSpec": {
          "description": "Optional. The TPU node(s) being requested.",
          "items": {
            "$ref": "NodeSpec"
          },
          "type": "array"
        }
      },
      "id": "Tpu"
    },
    "ProvisioningData": {
      "properties": {},
      "description": "Further data for the provisioning state.",
      "type": "object",
      "id": "ProvisioningData"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "UpcomingMaintenance": {
      "properties": {
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Defines the type of maintenance.",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ]
        },
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        },
        "maintenanceStatus": {
          "type": "string",
          "description": "The status of the maintenance.",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ]
        },
        "latestWindowStartTime": {
          "type": "string",
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format."
        },
        "windowStartTime": {
          "type": "string",
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format."
        }
      },
      "id": "UpcomingMaintenance",
      "type": "object",
      "description": "Upcoming Maintenance notification information."
    },
    "ListQueuedResourcesResponse": {
      "properties": {
        "queuedResources": {
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "description": "Response for ListQueuedResources.",
      "id": "ListQueuedResourcesResponse",
      "type": "object"
    },
    "ServiceIdentity": {
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "id": "ServiceIdentity"
    },
    "QueuedResource": {
      "id": "QueuedResource",
      "type": "object",
      "properties": {
        "queueingPolicy": {
          "$ref": "QueueingPolicy",
          "description": "Optional. The queueing policy of the QueuedRequest."
        },
        "tpu": {
          "description": "Optional. Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "state": {
          "readOnly": true,
          "$ref": "QueuedResourceState",
          "description": "Output only. State of the QueuedResource request."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The name of the QueuedResource."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the QueuedResource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "spot": {
          "description": "Optional. The Spot tier.",
          "$ref": "Spot"
        },
        "guaranteed": {
          "$ref": "Guaranteed",
          "description": "Optional. The Guaranteed tier"
        }
      },
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GetGuestAttributesRequest": {
      "id": "GetGuestAttributesRequest",
      "description": "Request for GetGuestAttributes.",
      "properties": {
        "queryPath": {
          "type": "string",
          "description": "The guest attributes path to be queried."
        },
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
        }
      },
      "type": "object"
    },
    "ListRuntimeVersionsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "runtimeVersions": {
          "items": {
            "$ref": "RuntimeVersion"
          },
          "description": "The listed nodes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "id": "ListRuntimeVersionsResponse",
      "description": "Response for ListRuntimeVersions.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "StopNodeRequest": {
      "id": "StopNodeRequest",
      "type": "object",
      "properties": {},
      "description": "Request for StopNode."
    },
    "GetGuestAttributesResponse": {
      "id": "GetGuestAttributesResponse",
      "description": "Response for GetGuestAttributes.",
      "type": "object",
      "properties": {
        "guestAttributes": {
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers.",
          "type": "array"
        }
      }
    },
    "AttachedDisk": {
      "description": "A node-attached disk resource. Next ID: 8;",
      "id": "AttachedDisk",
      "properties": {
        "sourceDisk": {
          "type": "string",
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\"."
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ]
        }
      },
      "type": "object"
    },
    "NodeSpec": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "nodeId": {
          "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multislice requests, multislice_params must be populated instead.",
          "type": "string"
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "multisliceParams": {
          "$ref": "MultisliceParams",
          "description": "Optional. Fields to specify in case of multislice request."
        }
      },
      "id": "NodeSpec",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "type": "object"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "network": {
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        },
        "queueCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface."
        },
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        }
      },
      "description": "Network related configurations.",
      "type": "object"
    },
    "BootDiskConfig": {
      "description": "Sets the boot disk configuration for the TPU node.",
      "type": "object",
      "properties": {
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        }
      },
      "id": "BootDiskConfig"
    },
    "StartNodeRequest": {
      "id": "StartNodeRequest",
      "type": "object",
      "description": "Request for StartNode.",
      "properties": {}
    },
    "ListNodesResponse": {
      "description": "Response for ListNodes.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nodes": {
          "description": "The listed nodes.",
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListNodesResponse"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "description": "Metadata describing an Operation",
      "type": "object"
    },
    "Node": {
      "properties": {
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique identifier for the TPU Node.",
          "readOnly": true
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "multisliceNode": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the Node belongs to a Multislice group."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "apiVersion": {
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version.",
            "TPU API V2 version."
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1",
            "V2"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API version that created this Node."
        },
        "networkEndpoints": {
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "readOnly": true,
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "type": "array"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "description": "Output only. The current state for the TPU Node.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the node was created.",
          "format": "google-datetime"
        },
        "health": {
          "description": "The health status of the TPU node.",
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "symptoms": {
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "readOnly": true,
          "items": {
            "$ref": "Symptom"
          }
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "acceleratorType": {
          "description": "Optional. The type of hardware accelerators associated with this node.",
          "type": "string"
        },
        "healthDescription": {
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user-provided metadata."
        },
        "tags": {
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array",
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        },
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "readOnly": true
        },
        "dataDisks": {
          "description": "The additional data disks for the Node.",
          "type": "array",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "queuedResource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The qualified name of the QueuedResource that requested this Node."
        },
        "protectionTier": {
          "enum": [
            "PROTECTION_TIER_UNSPECIFIED",
            "STANDARD",
            "CAPACITY_OPTIMIZED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Protection tier for the workload which specifies the workload expectations in the event of infrastructure failures at data center (e.g. power and/or cooling failures).",
          "enumDescriptions": [
            "Protection tier is unknown.",
            "STANDARD protection for workload that should be protected by redundancies (e.g. power, cooling) at the data center level. In the event of infrastructure failures at data center (e.g. power and/or cooling failures), this workload is expected to continue as normal using the redundancies.",
            "CAPACITY_OPTIMIZED capacity leverages redundancies (e.g. power, cooling) at the data center during normal operating conditions. In the event of infrastructure failures at data center (e.g. power and/or cooling failures), this workload may be disrupted. As a consequence, it has a weaker availability SLO than STANDARD."
          ]
        }
      },
      "type": "object",
      "description": "A TPU instance.",
      "id": "Node"
    }
  },
  "title": "Cloud TPU API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}