{
  "basePath": "",
  "version": "v2",
  "mtlsRootUrl": "https://trafficdirector.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "name": "trafficdirector",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Traffic Director API",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://trafficdirector.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://trafficdirector.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://trafficdirector.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://trafficdirector.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://trafficdirector.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://trafficdirector.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://trafficdirector.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://trafficdirector.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://trafficdirector.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://trafficdirector.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://trafficdirector.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://trafficdirector.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://trafficdirector.europe-west15.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://trafficdirector.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://trafficdirector.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://trafficdirector.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://trafficdirector.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://trafficdirector.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://trafficdirector.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://trafficdirector.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://trafficdirector.us-west8.rep.googleapis.com/"
    }
  ],
  "resources": {
    "discovery": {
      "methods": {
        "client_status": {
          "parameters": {},
          "id": "trafficdirector.discovery.client_status",
          "response": {
            "$ref": "ClientStatusResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/discovery:client_status",
          "parameterOrder": [],
          "description": "",
          "flatPath": "v2/discovery:client_status",
          "request": {
            "$ref": "ClientStatusRequest"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260925",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "version_module": true,
  "servicePath": "",
  "id": "trafficdirector:v2",
  "protocol": "rest",
  "baseUrl": "https://trafficdirector.googleapis.com/",
  "canonicalName": "Traffic Director Service",
  "schemas": {
    "RoutesConfigDump": {
      "id": "RoutesConfigDump",
      "type": "object",
      "properties": {
        "dynamicRouteConfigs": {
          "type": "array",
          "items": {
            "$ref": "DynamicRouteConfig"
          },
          "description": "The dynamically loaded route configs."
        },
        "staticRouteConfigs": {
          "items": {
            "$ref": "StaticRouteConfig"
          },
          "type": "array",
          "description": "The statically loaded route configs."
        }
      },
      "description": "Envoy's RDS implementation fills this message with all currently loaded routes, as described by their RouteConfiguration objects. Static routes that are either defined in the bootstrap configuration or defined inline while configuring listeners are separated from those configured dynamically via RDS. Route configuration information can be used to recreate an Envoy configuration by populating all routes as static routes or by returning them in RDS responses."
    },
    "SocketAddress": {
      "properties": {
        "ipv4Compat": {
          "description": "When binding to an IPv6 address above, this enables `IPv4 compatibility `_. Binding to ``::`` will allow both IPv4 and IPv6 connections, with peer IPv4 addresses mapped into IPv6 space as ``::FFFF:``.",
          "type": "boolean"
        },
        "namedPort": {
          "type": "string",
          "description": "This is only valid if :ref:`resolver_name ` is specified below and the named resolver is capable of named port resolution."
        },
        "address": {
          "type": "string",
          "description": "The address for this socket. :ref:`Listeners ` will bind to the address. An empty address is not allowed. Specify ``0.0.0.0`` or ``::`` to bind to any address. [#comment:TODO(zuercher) reinstate when implemented: It is possible to distinguish a Listener address via the prefix/suffix matching in :ref:`FilterChainMatch `.] When used within an upstream :ref:`BindConfig `, the address controls the source address of outbound connections. For :ref:`clusters `, the cluster type determines whether the address must be an IP (*STATIC* or *EDS* clusters) or a hostname resolved by DNS (*STRICT_DNS* or *LOGICAL_DNS* clusters). Address resolution can be customized via :ref:`resolver_name `."
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "TCP",
            "UDP"
          ]
        },
        "portValue": {
          "format": "uint32",
          "type": "integer"
        },
        "resolverName": {
          "description": "The name of the custom resolver. This must have been registered with Envoy. If this is empty, a context dependent default applies. If the address is a concrete IP address, no resolution will occur. If address is a hostname this should be set for resolution other than DNS. Specifying a custom resolver with *STRICT_DNS* or *LOGICAL_DNS* will generate an error at runtime.",
          "type": "string"
        }
      },
      "description": "[#next-free-field: 7]",
      "type": "object",
      "id": "SocketAddress"
    },
    "DynamicRouteConfig": {
      "id": "DynamicRouteConfig",
      "type": "object",
      "properties": {
        "routeConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The route config."
        },
        "versionInfo": {
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the route configuration was loaded.",
          "type": "string"
        },
        "lastUpdated": {
          "type": "string",
          "description": "The timestamp when the Route was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "NodeMatcher": {
      "properties": {
        "nodeId": {
          "$ref": "StringMatcher",
          "description": "Specifies match criteria on the node id."
        },
        "nodeMetadatas": {
          "type": "array",
          "description": "Specifies match criteria on the node metadata.",
          "items": {
            "$ref": "StructMatcher"
          }
        }
      },
      "type": "object",
      "description": "Specifies the way to match a Node. The match follows AND semantics.",
      "id": "NodeMatcher"
    },
    "ListMatcher": {
      "description": "Specifies the way to match a list value.",
      "properties": {
        "oneOf": {
          "description": "If specified, at least one of the values in the list must match the value specified.",
          "$ref": "ValueMatcher"
        }
      },
      "id": "ListMatcher",
      "type": "object"
    },
    "PathSegment": {
      "id": "PathSegment",
      "properties": {
        "key": {
          "type": "string",
          "description": "If specified, use the key to retrieve the value in a Struct."
        }
      },
      "description": "Specifies the segment in a path to retrieve value from Struct.",
      "type": "object"
    },
    "ValueMatcher": {
      "type": "object",
      "properties": {
        "stringMatch": {
          "description": "If specified, a match occurs if and only if the target value is a string value and is matched to this field.",
          "$ref": "StringMatcher"
        },
        "nullMatch": {
          "description": "If specified, a match occurs if and only if the target value is a NullValue.",
          "$ref": "NullMatch"
        },
        "boolMatch": {
          "type": "boolean",
          "description": "If specified, a match occurs if and only if the target value is a bool value and is equal to this field."
        },
        "presentMatch": {
          "description": "If specified, value match will be performed based on whether the path is referring to a valid primitive value in the metadata. If the path is referring to a non-primitive value, the result is always not matched.",
          "type": "boolean"
        },
        "listMatch": {
          "$ref": "ListMatcher",
          "description": "If specified, a match occurs if and only if the target value is a list value and is matched to this field."
        },
        "doubleMatch": {
          "description": "If specified, a match occurs if and only if the target value is a double value and is matched to this field.",
          "$ref": "DoubleMatcher"
        }
      },
      "description": "Specifies the way to match a Protobuf::Value. Primitive values and ListValue are supported. StructValue is not supported and is always not matched. [#next-free-field: 7]",
      "id": "ValueMatcher"
    },
    "Extension": {
      "description": "Version and identification for an Envoy extension. [#next-free-field: 6]",
      "id": "Extension",
      "properties": {
        "version": {
          "$ref": "BuildVersion",
          "description": "The version is a property of the extension and maintained independently of other extensions and the Envoy API. This field is not set when extension did not provide version information."
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates that the extension is present but was disabled via dynamic configuration."
        },
        "typeDescriptor": {
          "description": "[#not-implemented-hide:] Type descriptor of extension configuration proto. [#comment:",
          "type": "string"
        },
        "name": {
          "description": "This is the name of the Envoy filter as specified in the Envoy configuration, e.g. envoy.filters.http.router, com.acme.widget.",
          "type": "string"
        },
        "category": {
          "description": "Category of the extension. Extension category names use reverse DNS notation. For instance \"envoy.filters.listener\" for Envoy's built-in listener filters or \"com.acme.filters.http\" for HTTP filters from acme.com vendor. [#comment:",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegexMatcher": {
      "properties": {
        "googleRe2": {
          "$ref": "GoogleRE2",
          "description": "Google's RE2 regex engine."
        },
        "regex": {
          "type": "string",
          "description": "The regex match string. The string must be supported by the configured engine."
        }
      },
      "id": "RegexMatcher",
      "description": "A regex matcher designed for safety when used with untrusted input.",
      "type": "object"
    },
    "BuildVersion": {
      "description": "BuildVersion combines SemVer version of extension with free-form build information (i.e. 'alpha', 'private-build') as a set of strings.",
      "id": "BuildVersion",
      "properties": {
        "version": {
          "description": "SemVer version of extension.",
          "$ref": "SemanticVersion"
        },
        "metadata": {
          "description": "Free-form build information. Envoy defines several well known keys in the source/common/version/version.h file",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "DoubleRange": {
      "properties": {
        "start": {
          "format": "double",
          "description": "start of the range (inclusive)",
          "type": "number"
        },
        "end": {
          "description": "end of the range (exclusive)",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Specifies the double start and end of the range using half-open interval semantics [start, end).",
      "type": "object",
      "id": "DoubleRange"
    },
    "DynamicListenerState": {
      "id": "DynamicListenerState",
      "type": "object",
      "properties": {
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the listener was loaded. In the future, discrete per-listener versions may be supported by the API."
        },
        "listener": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The listener config."
        },
        "lastUpdated": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the Listener was last successfully updated."
        }
      }
    },
    "StaticListener": {
      "description": "Describes a statically loaded listener.",
      "type": "object",
      "properties": {
        "listener": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The listener config.",
          "type": "object"
        },
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the Listener was last successfully updated."
        }
      },
      "id": "StaticListener"
    },
    "DynamicCluster": {
      "id": "DynamicCluster",
      "properties": {
        "lastUpdated": {
          "type": "string",
          "description": "The timestamp when the Cluster was last updated.",
          "format": "google-datetime"
        },
        "cluster": {
          "type": "object",
          "description": "The cluster config.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the cluster was loaded. In the future, discrete per-cluster versions may be supported by the API."
        }
      },
      "description": "Describes a dynamically loaded cluster via the CDS API.",
      "type": "object"
    },
    "Address": {
      "type": "object",
      "properties": {
        "pipe": {
          "$ref": "Pipe"
        },
        "socketAddress": {
          "$ref": "SocketAddress"
        }
      },
      "id": "Address",
      "description": "Addresses specify either a logical or physical address and port, which are used to tell Envoy where to bind/listen, connect to upstream and find management servers."
    },
    "DynamicScopedRouteConfigs": {
      "properties": {
        "scopedRouteConfigs": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "The scoped route configurations."
        },
        "name": {
          "description": "The name assigned to the scoped route configurations.",
          "type": "string"
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the scoped routes configuration was loaded."
        },
        "lastUpdated": {
          "description": "The timestamp when the scoped route config set was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "DynamicScopedRouteConfigs",
      "type": "object"
    },
    "SemanticVersion": {
      "properties": {
        "patch": {
          "type": "integer",
          "format": "uint32"
        },
        "majorNumber": {
          "type": "integer",
          "format": "uint32"
        },
        "minorNumber": {
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "SemanticVersion",
      "description": "Envoy uses SemVer (https://semver.org/). Major/minor versions indicate expected behaviors and APIs, the patch version field is used only for security fixes and can be generally ignored.",
      "type": "object"
    },
    "GoogleRE2": {
      "id": "GoogleRE2",
      "properties": {
        "maxProgramSize": {
          "type": "integer",
          "description": "This field controls the RE2 \"program size\" which is a rough estimate of how complex a compiled regex is to evaluate. A regex that has a program size greater than the configured value will fail to compile. In this case, the configured max program size can be increased or the regex can be simplified. If not specified, the default is 100. This field is deprecated; regexp validation should be performed on the management server instead of being done by each individual client.",
          "format": "uint32",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Google's `RE2 `_ regex engine. The regex string must adhere to the documented `syntax `_. The engine is designed to complete execution in linear time as well as limit the amount of memory used. Envoy supports program size checking via runtime. The runtime keys ``re2.max_program_size.error_level`` and ``re2.max_program_size.warn_level`` can be set to integers as the maximum program size or complexity that a compiled regex can have before an exception is thrown or a warning is logged, respectively. ``re2.max_program_size.error_level`` defaults to 100, and ``re2.max_program_size.warn_level`` has no default if unset (will not check/log a warning). Envoy emits two stats for tracking the program size of regexes: the histogram `re2.program_size`, which records the program size, and the counter `re2.exceeded_warn_level`, which is incremented each time the program size exceeds the warn level threshold."
    },
    "Locality": {
      "description": "Identifies location of where either Envoy runs or where upstream hosts run.",
      "id": "Locality",
      "properties": {
        "subZone": {
          "description": "When used for locality of upstream hosts, this field further splits zone into smaller chunks of sub-zones so they can be load balanced independently.",
          "type": "string"
        },
        "zone": {
          "description": "Defines the local service zone where Envoy is running. Though optional, it should be set if discovery service routing is used and the discovery service exposes :ref:`zone data `, either in this message or via :option:`--service-zone`. The meaning of zone is context dependent, e.g. `Availability Zone (AZ) `_ on AWS, `Zone `_ on GCP, etc.",
          "type": "string"
        },
        "region": {
          "description": "Region this :ref:`zone ` belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StaticRouteConfig": {
      "type": "object",
      "id": "StaticRouteConfig",
      "properties": {
        "lastUpdated": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the Route was last updated."
        },
        "routeConfig": {
          "type": "object",
          "description": "The route config.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "StaticCluster": {
      "id": "StaticCluster",
      "type": "object",
      "description": "Describes a statically loaded cluster.",
      "properties": {
        "lastUpdated": {
          "type": "string",
          "description": "The timestamp when the Cluster was last updated.",
          "format": "google-datetime"
        },
        "cluster": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The cluster config."
        }
      }
    },
    "ScopedRoutesConfigDump": {
      "id": "ScopedRoutesConfigDump",
      "description": "Envoy's scoped RDS implementation fills this message with all currently loaded route configuration scopes (defined via ScopedRouteConfigurationsSet protos). This message lists both the scopes defined inline with the higher order object (i.e., the HttpConnectionManager) and the dynamically obtained scopes via the SRDS API.",
      "properties": {
        "inlineScopedRouteConfigs": {
          "type": "array",
          "items": {
            "$ref": "InlineScopedRouteConfigs"
          },
          "description": "The statically loaded scoped route configs."
        },
        "dynamicScopedRouteConfigs": {
          "items": {
            "$ref": "DynamicScopedRouteConfigs"
          },
          "description": "The dynamically loaded scoped route configs.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Pipe": {
      "properties": {
        "mode": {
          "description": "The mode for the Pipe. Not applicable for abstract sockets.",
          "type": "integer",
          "format": "uint32"
        },
        "path": {
          "type": "string",
          "description": "Unix Domain Socket path. On Linux, paths starting with '@' will use the abstract namespace. The starting '@' is replaced by a null byte by Envoy. Paths starting with '@' will result in an error in environments other than Linux."
        }
      },
      "id": "Pipe",
      "type": "object"
    },
    "UpdateFailureState": {
      "id": "UpdateFailureState",
      "properties": {
        "failedConfiguration": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "What the component configuration would have been if the update had succeeded."
        },
        "lastUpdateAttempt": {
          "format": "google-datetime",
          "description": "Time of the latest failed update attempt.",
          "type": "string"
        },
        "details": {
          "description": "Details about the last failed update attempt.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerXdsConfig": {
      "properties": {
        "listenerConfig": {
          "$ref": "ListenersConfigDump"
        },
        "routeConfig": {
          "$ref": "RoutesConfigDump"
        },
        "scopedRouteConfig": {
          "$ref": "ScopedRoutesConfigDump"
        },
        "clusterConfig": {
          "$ref": "ClustersConfigDump"
        },
        "status": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SYNCED",
            "NOT_SENT",
            "STALE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Status info is not available/unknown.",
            "Management server has sent the config to client and received ACK.",
            "Config is not sent.",
            "Management server has sent the config to client but hasn’t received ACK/NACK.",
            "Management server has sent the config to client but received NACK."
          ]
        }
      },
      "id": "PerXdsConfig",
      "type": "object",
      "description": "Detailed config (per xDS) with status. [#next-free-field: 6]"
    },
    "InlineScopedRouteConfigs": {
      "type": "object",
      "properties": {
        "scopedRouteConfigs": {
          "description": "The scoped route configurations.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "lastUpdated": {
          "description": "The timestamp when the scoped route config set was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The name assigned to the scoped route configurations.",
          "type": "string"
        }
      },
      "id": "InlineScopedRouteConfigs"
    },
    "NullMatch": {
      "id": "NullMatch",
      "description": "NullMatch is an empty message to specify a null value.",
      "type": "object",
      "properties": {}
    },
    "DoubleMatcher": {
      "type": "object",
      "id": "DoubleMatcher",
      "properties": {
        "range": {
          "$ref": "DoubleRange",
          "description": "If specified, the input double value must be in the range specified here. Note: The range is using half-open interval semantics [start, end)."
        },
        "exact": {
          "type": "number",
          "format": "double",
          "description": "If specified, the input double value must be equal to the value specified here."
        }
      },
      "description": "Specifies the way to match a double value."
    },
    "Node": {
      "description": "Identifies a specific Envoy instance. The node identifier is presented to the management server, which may use this identifier to distinguish per Envoy configuration for serving. [#next-free-field: 12]",
      "properties": {
        "locality": {
          "description": "Locality specifying where the Envoy instance is running.",
          "$ref": "Locality"
        },
        "userAgentVersion": {
          "type": "string",
          "description": "Free-form string that identifies the version of the entity requesting config. E.g. \"1.12.2\" or \"abcd1234\", or \"SpecialEnvoyBuild\""
        },
        "userAgentBuildVersion": {
          "description": "Structured version of the entity requesting config.",
          "$ref": "BuildVersion"
        },
        "userAgentName": {
          "description": "Free-form string that identifies the entity requesting config. E.g. \"envoy\" or \"grpc\"",
          "type": "string"
        },
        "listeningAddresses": {
          "description": "Known listening ports on the node as a generic hint to the management server for filtering :ref:`listeners ` to be returned. For example, if there is a listener bound to port 80, the list can optionally contain the SocketAddress `(0.0.0.0,80)`. The field is optional and just a hint.",
          "items": {
            "$ref": "Address"
          },
          "type": "array"
        },
        "buildVersion": {
          "description": "This is motivated by informing a management server during canary which version of Envoy is being tested in a heterogeneous fleet. This will be set by Envoy in management server RPCs. This field is deprecated in favor of the user_agent_name and user_agent_version values.",
          "deprecated": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "An opaque node identifier for the Envoy node. This also provides the local service node name. It should be set if any of the following features are used: :ref:`statsd `, :ref:`CDS `, and :ref:`HTTP tracing `, either in this message or via :option:`--service-node`."
        },
        "clientFeatures": {
          "type": "array",
          "description": "Client feature support list. These are well known features described in the Envoy API repository for a given major version of an API. Client features use reverse DNS naming scheme, for example `com.acme.feature`. See :ref:`the list of features ` that xDS client may support.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Opaque metadata extending the node identifier. Envoy will pass this directly to the management server.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "extensions": {
          "items": {
            "$ref": "Extension"
          },
          "type": "array",
          "description": "List of extensions and their versions supported by the node."
        },
        "cluster": {
          "type": "string",
          "description": "Defines the local service cluster name where Envoy is running. Though optional, it should be set if any of the following features are used: :ref:`statsd `, :ref:`health check cluster verification `, :ref:`runtime override directory `, :ref:`user agent addition `, :ref:`HTTP global rate limiting `, :ref:`CDS `, and :ref:`HTTP tracing `, either in this message or via :option:`--service-cluster`."
        }
      },
      "id": "Node",
      "type": "object"
    },
    "ClustersConfigDump": {
      "description": "Envoy's cluster manager fills this message with all currently known clusters. Cluster configuration information can be used to recreate an Envoy configuration by populating all clusters as static clusters or by returning them in a CDS response.",
      "type": "object",
      "id": "ClustersConfigDump",
      "properties": {
        "staticClusters": {
          "description": "The statically loaded cluster configs.",
          "type": "array",
          "items": {
            "$ref": "StaticCluster"
          }
        },
        "dynamicWarmingClusters": {
          "items": {
            "$ref": "DynamicCluster"
          },
          "description": "The dynamically loaded warming clusters. These are clusters that are currently undergoing warming in preparation to service data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the warming clusters should generally be discarded.",
          "type": "array"
        },
        "versionInfo": {
          "description": "This is the :ref:`version_info ` in the last processed CDS discovery response. If there are only static bootstrap clusters, this field will be \"\".",
          "type": "string"
        },
        "dynamicActiveClusters": {
          "items": {
            "$ref": "DynamicCluster"
          },
          "description": "The dynamically loaded active clusters. These are clusters that are available to service data plane traffic.",
          "type": "array"
        }
      }
    },
    "ClientStatusRequest": {
      "properties": {
        "nodeMatchers": {
          "description": "Management server can use these match criteria to identify clients. The match follows OR semantics.",
          "type": "array",
          "items": {
            "$ref": "NodeMatcher"
          }
        }
      },
      "description": "Request for client status of clients identified by a list of NodeMatchers.",
      "type": "object",
      "id": "ClientStatusRequest"
    },
    "ClientConfig": {
      "id": "ClientConfig",
      "type": "object",
      "description": "All xds configs for a particular client.",
      "properties": {
        "xdsConfig": {
          "items": {
            "$ref": "PerXdsConfig"
          },
          "type": "array"
        },
        "node": {
          "$ref": "Node",
          "description": "Node for a particular client."
        }
      }
    },
    "ListenersConfigDump": {
      "type": "object",
      "properties": {
        "staticListeners": {
          "description": "The statically loaded listener configs.",
          "type": "array",
          "items": {
            "$ref": "StaticListener"
          }
        },
        "versionInfo": {
          "description": "This is the :ref:`version_info ` in the last processed LDS discovery response. If there are only static bootstrap listeners, this field will be \"\".",
          "type": "string"
        },
        "dynamicListeners": {
          "type": "array",
          "items": {
            "$ref": "DynamicListener"
          },
          "description": "State for any warming, active, or draining listeners."
        }
      },
      "description": "Envoy's listener manager fills this message with all currently known listeners. Listener configuration information can be used to recreate an Envoy configuration by populating all listeners as static listeners or by returning them in a LDS response.",
      "id": "ListenersConfigDump"
    },
    "DynamicListener": {
      "id": "DynamicListener",
      "properties": {
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update.",
          "$ref": "UpdateFailureState"
        },
        "warmingState": {
          "$ref": "DynamicListenerState",
          "description": "The listener state for any warming listener by this name. These are listeners that are currently undergoing warming in preparation to service data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the warming listeners should generally be discarded."
        },
        "drainingState": {
          "description": "The listener state for any draining listener by this name. These are listeners that are currently undergoing draining in preparation to stop servicing data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the draining listeners should generally be discarded.",
          "$ref": "DynamicListenerState"
        },
        "name": {
          "type": "string",
          "description": "The name or unique id of this listener, pulled from the DynamicListenerState config."
        },
        "activeState": {
          "description": "The listener state for any active listener by this name. These are listeners that are available to service data plane traffic.",
          "$ref": "DynamicListenerState"
        }
      },
      "description": "Describes a dynamically loaded listener via the LDS API. [#next-free-field: 6]",
      "type": "object"
    },
    "StructMatcher": {
      "properties": {
        "value": {
          "description": "The StructMatcher is matched if the value retrieved by path is matched to this value.",
          "$ref": "ValueMatcher"
        },
        "path": {
          "items": {
            "$ref": "PathSegment"
          },
          "type": "array",
          "description": "The path to retrieve the Value from the Struct."
        }
      },
      "description": "StructMatcher provides a general interface to check if a given value is matched in google.protobuf.Struct. It uses `path` to retrieve the value from the struct and then check if it's matched to the specified value. For example, for the following Struct: .. code-block:: yaml fields: a: struct_value: fields: b: struct_value: fields: c: string_value: pro t: list_value: values: - string_value: m - string_value: n The following MetadataMatcher is matched as the path [a, b, c] will retrieve a string value \"pro\" from the Metadata which is matched to the specified prefix match. .. code-block:: yaml path: - key: a - key: b - key: c value: string_match: prefix: pr The following StructMatcher is matched as the code will match one of the string values in the list at the path [a, t]. .. code-block:: yaml path: - key: a - key: t value: list_match: one_of: string_match: exact: m An example use of StructMatcher is to match metadata in envoy.v*.core.Node.",
      "type": "object",
      "id": "StructMatcher"
    },
    "ClientStatusResponse": {
      "id": "ClientStatusResponse",
      "type": "object",
      "properties": {
        "config": {
          "items": {
            "$ref": "ClientConfig"
          },
          "description": "Client configs for the clients specified in the ClientStatusRequest.",
          "type": "array"
        }
      }
    },
    "StringMatcher": {
      "id": "StringMatcher",
      "type": "object",
      "properties": {
        "safeRegex": {
          "description": "The input string must match the regular expression specified here.",
          "$ref": "RegexMatcher"
        },
        "prefix": {
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * *abc* matches the value *abc.xyz*",
          "type": "string"
        },
        "regex": {
          "deprecated": true,
          "description": "The input string must match the regular expression specified here. The regex grammar is defined `here `_. Examples: * The regex ``\\d{3}`` matches the value *123* * The regex ``\\d{3}`` does not match the value *1234* * The regex ``\\d{3}`` does not match the value *123.456* .. attention:: This field has been deprecated in favor of `safe_regex` as it is not safe for use with untrusted input in all cases.",
          "type": "string"
        },
        "suffix": {
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * *abc* matches the value *xyz.abc*",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "If true, indicates the exact/prefix/suffix matching should be case insensitive. This has no effect for the safe_regex match. For example, the matcher *data* will match both input string *Data* and *data* if set to true."
        },
        "exact": {
          "type": "string",
          "description": "The input string must match exactly the string specified here. Examples: * *abc* only matches the value *abc*."
        }
      },
      "description": "Specifies the way to match a string. [#next-free-field: 7]"
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/traffic-director",
  "rootUrl": "https://trafficdirector.googleapis.com/"
}