{
  "canonicalName": "Traffic Director Service",
  "servicePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://trafficdirector.googleapis.com/",
  "schemas": {
    "StructMatcher": {
      "type": "object",
      "id": "StructMatcher",
      "properties": {
        "value": {
          "$ref": "ValueMatcher",
          "description": "The StructMatcher is matched if the value retrieved by path is matched to this value."
        },
        "path": {
          "type": "array",
          "items": {
            "$ref": "PathSegment"
          },
          "description": "The path to retrieve the Value from the Struct."
        }
      },
      "description": "StructMatcher provides a general interface to check if a given value is matched in google.protobuf.Struct. It uses ``path`` to retrieve the value from the struct and then check if it's matched to the specified value. For example, for the following Struct: .. code-block:: yaml fields: a: struct_value: fields: b: struct_value: fields: c: string_value: pro t: list_value: values: - string_value: m - string_value: n The following MetadataMatcher is matched as the path [a, b, c] will retrieve a string value \"pro\" from the Metadata which is matched to the specified prefix match. .. code-block:: yaml path: - key: a - key: b - key: c value: string_match: prefix: pr The following StructMatcher is matched as the code will match one of the string values in the list at the path [a, t]. .. code-block:: yaml path: - key: a - key: t value: list_match: one_of: string_match: exact: m An example use of StructMatcher is to match metadata in envoy.v*.core.Node."
    },
    "StringMatcher": {
      "description": "Specifies the way to match a string. [#next-free-field: 9]",
      "type": "object",
      "properties": {
        "safeRegex": {
          "$ref": "RegexMatcher",
          "description": "The input string must match the regular expression specified here."
        },
        "exact": {
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``.",
          "type": "string"
        },
        "prefix": {
          "description": "The input string must have the prefix specified here. .. note:: Empty prefix match is not allowed, please use ``safe_regex`` instead. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        },
        "contains": {
          "type": "string",
          "description": "The input string must have the substring specified here. .. note:: Empty contains match is not allowed, please use ``safe_regex`` instead. Examples: * ``abc`` matches the value ``xyz.abc.def``"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "If ``true``, indicates the exact/prefix/suffix/contains matching should be case insensitive. This has no effect for the ``safe_regex`` match. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if this option is set to ``true``."
        },
        "suffix": {
          "description": "The input string must have the suffix specified here. .. note:: Empty suffix match is not allowed, please use ``safe_regex`` instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "custom": {
          "description": "Use an extension as the matcher type. [#extension-category: envoy.string_matcher]",
          "$ref": "TypedExtensionConfig"
        }
      },
      "id": "StringMatcher"
    },
    "OrMatcher": {
      "type": "object",
      "properties": {
        "valueMatchers": {
          "items": {
            "$ref": "ValueMatcher"
          },
          "type": "array"
        }
      },
      "id": "OrMatcher",
      "description": "Specifies a list of alternatives for the match."
    },
    "ClientStatusResponse": {
      "type": "object",
      "properties": {
        "config": {
          "description": "Client configs for the clients specified in the ClientStatusRequest.",
          "type": "array",
          "items": {
            "$ref": "ClientConfig"
          }
        }
      },
      "id": "ClientStatusResponse"
    },
    "Locality": {
      "properties": {
        "subZone": {
          "description": "When used for locality of upstream hosts, this field further splits zone into smaller chunks of sub-zones so they can be load balanced independently.",
          "type": "string"
        },
        "region": {
          "description": "Region this :ref:`zone ` belongs to.",
          "type": "string"
        },
        "zone": {
          "description": "Defines the local service zone where Envoy is running. Though optional, it should be set if discovery service routing is used and the discovery service exposes :ref:`zone data `, either in this message or via :option:`--service-zone`. The meaning of zone is context dependent, e.g. `Availability Zone (AZ) `_ on AWS, `Zone `_ on GCP, etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identifies location of where either Envoy runs or where upstream hosts run.",
      "id": "Locality"
    },
    "ClustersConfigDump": {
      "type": "object",
      "id": "ClustersConfigDump",
      "description": "Envoy's cluster manager fills this message with all currently known clusters. Cluster configuration information can be used to recreate an Envoy configuration by populating all clusters as static clusters or by returning them in a CDS response.",
      "properties": {
        "staticClusters": {
          "type": "array",
          "description": "The statically loaded cluster configs.",
          "items": {
            "$ref": "StaticCluster"
          }
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the :ref:`version_info ` in the last processed CDS discovery response. If there are only static bootstrap clusters, this field will be \"\"."
        },
        "dynamicActiveClusters": {
          "items": {
            "$ref": "DynamicCluster"
          },
          "description": "The dynamically loaded active clusters. These are clusters that are available to service data plane traffic.",
          "type": "array"
        },
        "dynamicWarmingClusters": {
          "items": {
            "$ref": "DynamicCluster"
          },
          "type": "array",
          "description": "The dynamically loaded warming clusters. These are clusters that are currently undergoing warming in preparation to service data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the warming clusters should generally be discarded."
        }
      }
    },
    "SemanticVersion": {
      "id": "SemanticVersion",
      "type": "object",
      "properties": {
        "minorNumber": {
          "type": "integer",
          "format": "uint32"
        },
        "patch": {
          "format": "uint32",
          "type": "integer"
        },
        "majorNumber": {
          "type": "integer",
          "format": "uint32"
        }
      },
      "description": "Envoy uses SemVer (https://semver.org/). Major/minor versions indicate expected behaviors and APIs, the patch version field is used only for security fixes and can be generally ignored."
    },
    "PerXdsConfig": {
      "id": "PerXdsConfig",
      "properties": {
        "listenerConfig": {
          "$ref": "ListenersConfigDump"
        },
        "endpointConfig": {
          "$ref": "EndpointsConfigDump"
        },
        "routeConfig": {
          "$ref": "RoutesConfigDump"
        },
        "clientStatus": {
          "type": "string",
          "enum": [
            "CLIENT_UNKNOWN",
            "CLIENT_REQUESTED",
            "CLIENT_ACKED",
            "CLIENT_NACKED",
            "CLIENT_RECEIVED_ERROR"
          ],
          "enumDescriptions": [
            "Config status is not available/unknown.",
            "Client requested the config but hasn't received any config from management server yet.",
            "Client received the config and replied with ACK.",
            "Client received the config and replied with NACK. Notably, the attached config dump is not the NACKed version, but the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty."
          ],
          "description": "Client config status is populated by xDS clients. Will not be present if the CSDS server is an xDS server. No matter what the client config status is, xDS clients should always dump the most recent accepted xDS config. .. attention:: This field is deprecated. Use :ref:`ClientResourceStatus ` for per-resource config status instead.",
          "deprecated": true
        },
        "scopedRouteConfig": {
          "$ref": "ScopedRoutesConfigDump"
        },
        "clusterConfig": {
          "$ref": "ClustersConfigDump"
        },
        "status": {
          "description": "Config status generated by management servers. Will not be present if the CSDS server is an xDS client.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SYNCED",
            "NOT_SENT",
            "STALE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Status info is not available/unknown.",
            "Management server has sent the config to client and received ACK.",
            "Config is not sent.",
            "Management server has sent the config to client but hasn’t received ACK/NACK.",
            "Management server has sent the config to client but received NACK. The attached config dump will be the latest config (the rejected one), since it is the persisted version in the management server."
          ]
        }
      },
      "type": "object",
      "description": "Detailed config (per xDS) with status. [#next-free-field: 8]"
    },
    "TypedExtensionConfig": {
      "description": "Message type for extension configuration.",
      "id": "TypedExtensionConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of an extension. This is not used to select the extension, instead it serves the role of an opaque identifier.",
          "type": "string"
        },
        "typedConfig": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The typed config for the extension. The type URL will be used to identify the extension. In the case that the type URL is *xds.type.v3.TypedStruct* (or, for historical reasons, *udpa.type.v1.TypedStruct*), the inner type URL of *TypedStruct* will be utilized. See the :ref:`extension configuration overview ` for further details."
        }
      }
    },
    "ValueMatcher": {
      "properties": {
        "nullMatch": {
          "$ref": "NullMatch",
          "description": "If specified, a match occurs if and only if the target value is a NullValue."
        },
        "stringMatch": {
          "description": "If specified, a match occurs if and only if the target value is a string value and is matched to this field.",
          "$ref": "StringMatcher"
        },
        "orMatch": {
          "$ref": "OrMatcher",
          "description": "If specified, a match occurs if and only if any of the alternatives in the match accept the value."
        },
        "presentMatch": {
          "description": "If specified, value match will be performed based on whether the path is referring to a valid primitive value in the metadata. If the path is referring to a non-primitive value, the result is always not matched.",
          "type": "boolean"
        },
        "doubleMatch": {
          "$ref": "DoubleMatcher",
          "description": "If specified, a match occurs if and only if the target value is a double value and is matched to this field."
        },
        "boolMatch": {
          "type": "boolean",
          "description": "If specified, a match occurs if and only if the target value is a bool value and is equal to this field."
        },
        "listMatch": {
          "description": "If specified, a match occurs if and only if the target value is a list value and is matched to this field.",
          "$ref": "ListMatcher"
        }
      },
      "id": "ValueMatcher",
      "type": "object",
      "description": "Specifies the way to match a Protobuf::Value. Primitive values and ListValue are supported. StructValue is not supported and is always not matched. [#next-free-field: 8]"
    },
    "GoogleRE2": {
      "type": "object",
      "properties": {
        "maxProgramSize": {
          "description": "This field controls the RE2 \"program size\" which is a rough estimate of how complex a compiled regex is to evaluate. A regex that has a program size greater than the configured value will fail to compile. In this case, the configured max program size can be increased or the regex can be simplified. If not specified, the default is 100. This field is deprecated; regexp validation should be performed on the management server instead of being done by each individual client. .. note:: Although this field is deprecated, the program size will still be checked against the global ``re2.max_program_size.error_level`` runtime value.",
          "format": "uint32",
          "deprecated": true,
          "type": "integer"
        }
      },
      "description": "Google's `RE2 `_ regex engine. The regex string must adhere to the documented `syntax `_. The engine is designed to complete execution in linear time as well as limit the amount of memory used. Envoy supports program size checking via runtime. The runtime keys ``re2.max_program_size.error_level`` and ``re2.max_program_size.warn_level`` can be set to integers as the maximum program size or complexity that a compiled regex can have before an exception is thrown or a warning is logged, respectively. ``re2.max_program_size.error_level`` defaults to 100, and ``re2.max_program_size.warn_level`` has no default if unset (will not check/log a warning). Envoy emits two stats for tracking the program size of regexes: the histogram ``re2.program_size``, which records the program size, and the counter ``re2.exceeded_warn_level``, which is incremented each time the program size exceeds the warn level threshold.",
      "id": "GoogleRE2"
    },
    "StaticListener": {
      "id": "StaticListener",
      "properties": {
        "listener": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The listener config."
        },
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the Listener was last successfully updated."
        }
      },
      "type": "object",
      "description": "Describes a statically loaded listener."
    },
    "Pipe": {
      "id": "Pipe",
      "properties": {
        "path": {
          "description": "Unix Domain Socket path. On Linux, paths starting with '@' will use the abstract namespace. The starting '@' is replaced by a null byte by Envoy. Paths starting with '@' will result in an error in environments other than Linux.",
          "type": "string"
        },
        "mode": {
          "type": "integer",
          "format": "uint32",
          "description": "The mode for the Pipe. Not applicable for abstract sockets."
        }
      },
      "type": "object"
    },
    "DoubleRange": {
      "type": "object",
      "id": "DoubleRange",
      "description": "Specifies the double start and end of the range using half-open interval semantics [start, end).",
      "properties": {
        "start": {
          "description": "start of the range (inclusive)",
          "type": "number",
          "format": "double"
        },
        "end": {
          "type": "number",
          "format": "double",
          "description": "end of the range (exclusive)"
        }
      }
    },
    "RoutesConfigDump": {
      "properties": {
        "staticRouteConfigs": {
          "type": "array",
          "items": {
            "$ref": "StaticRouteConfig"
          },
          "description": "The statically loaded route configs."
        },
        "dynamicRouteConfigs": {
          "type": "array",
          "items": {
            "$ref": "DynamicRouteConfig"
          },
          "description": "The dynamically loaded route configs."
        }
      },
      "description": "Envoy's RDS implementation fills this message with all currently loaded routes, as described by their RouteConfiguration objects. Static routes that are either defined in the bootstrap configuration or defined inline while configuring listeners are separated from those configured dynamically via RDS. Route configuration information can be used to recreate an Envoy configuration by populating all routes as static routes or by returning them in RDS responses.",
      "type": "object",
      "id": "RoutesConfigDump"
    },
    "NullMatch": {
      "id": "NullMatch",
      "type": "object",
      "properties": {},
      "description": "NullMatch is an empty message to specify a null value."
    },
    "Node": {
      "description": "Identifies a specific Envoy instance. The node identifier is presented to the management server, which may use this identifier to distinguish per Envoy configuration for serving. [#next-free-field: 13]",
      "type": "object",
      "id": "Node",
      "properties": {
        "extensions": {
          "items": {
            "$ref": "Extension"
          },
          "description": "List of extensions and their versions supported by the node.",
          "type": "array"
        },
        "metadata": {
          "description": "Opaque metadata extending the node identifier. Envoy will pass this directly to the management server.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "cluster": {
          "description": "Defines the local service cluster name where Envoy is running. Though optional, it should be set if any of the following features are used: :ref:`statsd `, :ref:`health check cluster verification `, :ref:`runtime override directory `, :ref:`user agent addition `, :ref:`HTTP global rate limiting `, :ref:`CDS `, and :ref:`HTTP tracing `, either in this message or via :option:`--service-cluster`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "An opaque node identifier for the Envoy node. This also provides the local service node name. It should be set if any of the following features are used: :ref:`statsd `, :ref:`CDS `, and :ref:`HTTP tracing `, either in this message or via :option:`--service-node`."
        },
        "userAgentBuildVersion": {
          "description": "Structured version of the entity requesting config.",
          "$ref": "BuildVersion"
        },
        "userAgentVersion": {
          "type": "string",
          "description": "Free-form string that identifies the version of the entity requesting config. E.g. \"1.12.2\" or \"abcd1234\", or \"SpecialEnvoyBuild\""
        },
        "clientFeatures": {
          "items": {
            "type": "string"
          },
          "description": "Client feature support list. These are well known features described in the Envoy API repository for a given major version of an API. Client features use reverse DNS naming scheme, for example ``com.acme.feature``. See :ref:`the list of features ` that xDS client may support.",
          "type": "array"
        },
        "dynamicParameters": {
          "type": "object",
          "description": "Map from xDS resource type URL to dynamic context parameters. These may vary at runtime (unlike other fields in this message). For example, the xDS client may have a shard identifier that changes during the lifetime of the xDS client. In Envoy, this would be achieved by updating the dynamic context on the Server::Instance's LocalInfo context provider. The shard ID dynamic parameter then appears in this field during future discovery requests.",
          "additionalProperties": {
            "$ref": "ContextParams"
          }
        },
        "userAgentName": {
          "type": "string",
          "description": "Free-form string that identifies the entity requesting config. E.g. \"envoy\" or \"grpc\""
        },
        "listeningAddresses": {
          "type": "array",
          "description": "Known listening ports on the node as a generic hint to the management server for filtering :ref:`listeners ` to be returned. For example, if there is a listener bound to port 80, the list can optionally contain the SocketAddress ``(0.0.0.0,80)``. The field is optional and just a hint.",
          "items": {
            "$ref": "Address"
          },
          "deprecated": true
        },
        "locality": {
          "$ref": "Locality",
          "description": "Locality specifying where the Envoy instance is running."
        }
      }
    },
    "StaticCluster": {
      "description": "Describes a statically loaded cluster.",
      "id": "StaticCluster",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "The cluster config.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "lastUpdated": {
          "description": "The timestamp when the Cluster was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GenericXdsConfig": {
      "properties": {
        "xdsConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The xDS resource config. Actual content depends on the type",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Name of the xDS resource"
        },
        "errorState": {
          "$ref": "UpdateFailureState",
          "description": "Set if the last update failed, cleared after the next successful update. The *error_state* field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]"
        },
        "versionInfo": {
          "description": "This is the :ref:`version_info ` in the last processed xDS discovery response. If there are only static bootstrap listeners, this field will be \"\"",
          "type": "string"
        },
        "typeUrl": {
          "description": "Type_url represents the fully qualified name of xDS resource type like envoy.v3.Cluster, envoy.v3.ClusterLoadAssignment etc.",
          "type": "string"
        },
        "configStatus": {
          "type": "string",
          "enumDescriptions": [
            "Status info is not available/unknown.",
            "Management server has sent the config to client and received ACK.",
            "Config is not sent.",
            "Management server has sent the config to client but hasn’t received ACK/NACK.",
            "Management server has sent the config to client but received NACK. The attached config dump will be the latest config (the rejected one), since it is the persisted version in the management server."
          ],
          "enum": [
            "UNKNOWN",
            "SYNCED",
            "NOT_SENT",
            "STALE",
            "ERROR"
          ],
          "description": "Per xDS resource config status. It is generated by management servers. It will not be present if the CSDS server is an xDS client."
        },
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the xDS resource was last updated"
        },
        "isStaticResource": {
          "type": "boolean",
          "description": "Is static resource is true if it is specified in the config supplied through the file at the startup."
        },
        "clientStatus": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "description": "Per xDS resource status from the view of a xDS client"
        }
      },
      "type": "object",
      "description": "GenericXdsConfig is used to specify the config status and the dump of any xDS resource identified by their type URL. It is the generalized version of the now deprecated ListenersConfigDump, ClustersConfigDump etc [#next-free-field: 10]",
      "id": "GenericXdsConfig"
    },
    "ContextParams": {
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ContextParams",
      "description": "Additional parameters that can be used to select resource variants. These include any global context parameters, per-resource type client feature capabilities and per-resource type functional attributes. All per-resource type attributes will be `xds.resource.` prefixed and some of these are documented below: `xds.resource.listening_address`: The value is \"IP:port\" (e.g. \"10.1.1.3:8080\") which is the listening address of a Listener. Used in a Listener resource query."
    },
    "InlineScopedRouteConfigs": {
      "id": "InlineScopedRouteConfigs",
      "type": "object",
      "properties": {
        "scopedRouteConfigs": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "The scoped route configurations.",
          "type": "array"
        },
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the scoped route config set was last updated."
        },
        "name": {
          "description": "The name assigned to the scoped route configurations.",
          "type": "string"
        }
      }
    },
    "DynamicScopedRouteConfigs": {
      "type": "object",
      "id": "DynamicScopedRouteConfigs",
      "description": "[#next-free-field: 7]",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name assigned to the scoped route configurations."
        },
        "errorState": {
          "$ref": "UpdateFailureState",
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]"
        },
        "clientStatus": {
          "description": "The client status of this resource. [#not-implemented-hide:]",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ]
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the scoped routes configuration was loaded."
        },
        "lastUpdated": {
          "format": "google-datetime",
          "description": "The timestamp when the scoped route config set was last updated.",
          "type": "string"
        },
        "scopedRouteConfigs": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "The scoped route configurations.",
          "type": "array"
        }
      }
    },
    "ListenersConfigDump": {
      "id": "ListenersConfigDump",
      "properties": {
        "versionInfo": {
          "type": "string",
          "description": "This is the :ref:`version_info ` in the last processed LDS discovery response. If there are only static bootstrap listeners, this field will be \"\"."
        },
        "staticListeners": {
          "description": "The statically loaded listener configs.",
          "items": {
            "$ref": "StaticListener"
          },
          "type": "array"
        },
        "dynamicListeners": {
          "items": {
            "$ref": "DynamicListener"
          },
          "type": "array",
          "description": "State for any warming, active, or draining listeners."
        }
      },
      "description": "Envoy's listener manager fills this message with all currently known listeners. Listener configuration information can be used to recreate an Envoy configuration by populating all listeners as static listeners or by returning them in a LDS response.",
      "type": "object"
    },
    "EnvoyInternalAddress": {
      "id": "EnvoyInternalAddress",
      "properties": {
        "endpointId": {
          "description": "Specifies an endpoint identifier to distinguish between multiple endpoints for the same internal listener in a single upstream pool. Only used in the upstream addresses for tracking changes to individual endpoints. This, for example, may be set to the final destination IP for the target internal listener.",
          "type": "string"
        },
        "serverListenerName": {
          "type": "string",
          "description": "Specifies the :ref:`name ` of the internal listener."
        }
      },
      "type": "object",
      "description": "The address represents an envoy internal listener. [#comment: "
    },
    "ClientStatusRequest": {
      "properties": {
        "node": {
          "description": "The node making the csds request.",
          "$ref": "Node"
        },
        "excludeResourceContents": {
          "description": "If true, the server will not include the resource contents in the response (i.e., the generic_xds_configs.xds_config field will not be populated). [#not-implemented-hide:]",
          "type": "boolean"
        },
        "nodeMatchers": {
          "description": "Management server can use these match criteria to identify clients. The match follows OR semantics.",
          "type": "array",
          "items": {
            "$ref": "NodeMatcher"
          }
        }
      },
      "type": "object",
      "id": "ClientStatusRequest",
      "description": "Request for client status of clients identified by a list of NodeMatchers."
    },
    "PathSegment": {
      "properties": {
        "key": {
          "description": "If specified, use the key to retrieve the value in a Struct.",
          "type": "string"
        }
      },
      "description": "Specifies the segment in a path to retrieve value from Struct.",
      "id": "PathSegment",
      "type": "object"
    },
    "DynamicListenerState": {
      "properties": {
        "lastUpdated": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the Listener was last successfully updated."
        },
        "listener": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The listener config."
        },
        "versionInfo": {
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the listener was loaded. In the future, discrete per-listener versions may be supported by the API.",
          "type": "string"
        }
      },
      "id": "DynamicListenerState",
      "type": "object"
    },
    "SocketAddress": {
      "description": "[#next-free-field: 8]",
      "id": "SocketAddress",
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "TCP",
            "UDP"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "namedPort": {
          "type": "string",
          "description": "This is only valid if :ref:`resolver_name ` is specified below and the named resolver is capable of named port resolution."
        },
        "networkNamespaceFilepath": {
          "type": "string",
          "description": "Filepath that specifies the Linux network namespace this socket will be created in (see ``man 7 network_namespaces``). If this field is set, Envoy will create the socket in the specified network namespace. .. note:: Setting this parameter requires Envoy to run with the ``CAP_SYS_ADMIN`` capability. .. attention:: Network namespaces are only configurable on Linux. Otherwise, this field has no effect."
        },
        "portValue": {
          "type": "integer",
          "format": "uint32"
        },
        "ipv4Compat": {
          "description": "When binding to an IPv6 address above, this enables `IPv4 compatibility `_. Binding to ``::`` will allow both IPv4 and IPv6 connections, with peer IPv4 addresses mapped into IPv6 space as ``::FFFF:``.",
          "type": "boolean"
        },
        "address": {
          "description": "The address for this socket. :ref:`Listeners ` will bind to the address. An empty address is not allowed. Specify ``0.0.0.0`` or ``::`` to bind to any address. [#comment:TODO(zuercher) reinstate when implemented: It is possible to distinguish a Listener address via the prefix/suffix matching in :ref:`FilterChainMatch `.] When used within an upstream :ref:`BindConfig `, the address controls the source address of outbound connections. For :ref:`clusters `, the cluster type determines whether the address must be an IP (``STATIC`` or ``EDS`` clusters) or a hostname resolved by DNS (``STRICT_DNS`` or ``LOGICAL_DNS`` clusters). Address resolution can be customized via :ref:`resolver_name `.",
          "type": "string"
        },
        "resolverName": {
          "description": "The name of the custom resolver. This must have been registered with Envoy. If this is empty, a context dependent default applies. If the address is a concrete IP address, no resolution will occur. If address is a hostname this should be set for resolution other than DNS. Specifying a custom resolver with ``STRICT_DNS`` or ``LOGICAL_DNS`` will generate an error at runtime.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DynamicEndpointConfig": {
      "description": "[#next-free-field: 6]",
      "type": "object",
      "properties": {
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]",
          "$ref": "UpdateFailureState"
        },
        "endpointConfig": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The endpoint config."
        },
        "versionInfo": {
          "description": "[#not-implemented-hide:] This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the endpoint configuration was loaded.",
          "type": "string"
        },
        "lastUpdated": {
          "type": "string",
          "description": "[#not-implemented-hide:] The timestamp when the Endpoint was last updated.",
          "format": "google-datetime"
        },
        "clientStatus": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]",
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ]
        }
      },
      "id": "DynamicEndpointConfig"
    },
    "RegexMatcher": {
      "id": "RegexMatcher",
      "description": "A regex matcher designed for safety when used with untrusted input.",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The regex match string. The string must be supported by the configured engine. The regex is matched against the full string, not as a partial match."
        },
        "googleRe2": {
          "$ref": "GoogleRE2",
          "deprecated": true,
          "description": "Google's RE2 regex engine."
        }
      },
      "type": "object"
    },
    "StaticRouteConfig": {
      "type": "object",
      "properties": {
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the Route was last updated."
        },
        "routeConfig": {
          "description": "The route config.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "StaticRouteConfig"
    },
    "DynamicListener": {
      "description": "Describes a dynamically loaded listener via the LDS API. [#next-free-field: 7]",
      "properties": {
        "warmingState": {
          "description": "The listener state for any warming listener by this name. These are listeners that are currently undergoing warming in preparation to service data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the warming listeners should generally be discarded.",
          "$ref": "DynamicListenerState"
        },
        "clientStatus": {
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]"
        },
        "drainingState": {
          "description": "The listener state for any draining listener by this name. These are listeners that are currently undergoing draining in preparation to stop servicing data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the draining listeners should generally be discarded.",
          "$ref": "DynamicListenerState"
        },
        "name": {
          "description": "The name or unique id of this listener, pulled from the DynamicListenerState config.",
          "type": "string"
        },
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty.",
          "$ref": "UpdateFailureState"
        },
        "activeState": {
          "description": "The listener state for any active listener by this name. These are listeners that are available to service data plane traffic.",
          "$ref": "DynamicListenerState"
        }
      },
      "id": "DynamicListener",
      "type": "object"
    },
    "DynamicCluster": {
      "description": "Describes a dynamically loaded cluster via the CDS API. [#next-free-field: 6]",
      "type": "object",
      "properties": {
        "cluster": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The cluster config."
        },
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]",
          "$ref": "UpdateFailureState"
        },
        "lastUpdated": {
          "format": "google-datetime",
          "description": "The timestamp when the Cluster was last updated.",
          "type": "string"
        },
        "clientStatus": {
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]"
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the cluster was loaded. In the future, discrete per-cluster versions may be supported by the API."
        }
      },
      "id": "DynamicCluster"
    },
    "UpdateFailureState": {
      "type": "object",
      "id": "UpdateFailureState",
      "properties": {
        "lastUpdateAttempt": {
          "description": "Time of the latest failed update attempt.",
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "description": "Details about the last failed update attempt.",
          "type": "string"
        },
        "failedConfiguration": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "What the component configuration would have been if the update had succeeded. This field may not be populated by xDS clients due to storage overhead."
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the version of the rejected resource. [#not-implemented-hide:]"
        }
      }
    },
    "BuildVersion": {
      "description": "BuildVersion combines SemVer version of extension with free-form build information (i.e. 'alpha', 'private-build') as a set of strings.",
      "id": "BuildVersion",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Free-form build information. Envoy defines several well known keys in the source/common/version/version.h file",
          "type": "object"
        },
        "version": {
          "$ref": "SemanticVersion",
          "description": "SemVer version of extension."
        }
      }
    },
    "ListMatcher": {
      "description": "Specifies the way to match a list value.",
      "id": "ListMatcher",
      "type": "object",
      "properties": {
        "oneOf": {
          "description": "If specified, at least one of the values in the list must match the value specified.",
          "$ref": "ValueMatcher"
        }
      }
    },
    "Address": {
      "id": "Address",
      "description": "Addresses specify either a logical or physical address and port, which are used to tell Envoy where to bind/listen, connect to upstream and find management servers.",
      "properties": {
        "envoyInternalAddress": {
          "$ref": "EnvoyInternalAddress",
          "description": "Specifies a user-space address handled by :ref:`internal listeners `."
        },
        "pipe": {
          "$ref": "Pipe"
        },
        "socketAddress": {
          "$ref": "SocketAddress"
        }
      },
      "type": "object"
    },
    "Extension": {
      "properties": {
        "name": {
          "description": "This is the name of the Envoy filter as specified in the Envoy configuration, e.g. envoy.filters.http.router, com.acme.widget.",
          "type": "string"
        },
        "category": {
          "description": "Category of the extension. Extension category names use reverse DNS notation. For instance \"envoy.filters.listener\" for Envoy's built-in listener filters or \"com.acme.filters.http\" for HTTP filters from acme.com vendor. [#comment:",
          "type": "string"
        },
        "disabled": {
          "description": "Indicates that the extension is present but was disabled via dynamic configuration.",
          "type": "boolean"
        },
        "version": {
          "description": "The version is a property of the extension and maintained independently of other extensions and the Envoy API. This field is not set when extension did not provide version information.",
          "$ref": "BuildVersion"
        },
        "typeDescriptor": {
          "deprecated": true,
          "type": "string",
          "description": "[#not-implemented-hide:] Type descriptor of extension configuration proto. [#comment:"
        },
        "typeUrls": {
          "type": "array",
          "description": "Type URLs of extension configuration protos.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Extension",
      "description": "Version and identification for an Envoy extension. [#next-free-field: 7]"
    },
    "DynamicRouteConfig": {
      "id": "DynamicRouteConfig",
      "description": "[#next-free-field: 6]",
      "properties": {
        "errorState": {
          "$ref": "UpdateFailureState",
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]"
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the route configuration was loaded."
        },
        "lastUpdated": {
          "type": "string",
          "description": "The timestamp when the Route was last updated.",
          "format": "google-datetime"
        },
        "clientStatus": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]"
        },
        "routeConfig": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The route config."
        }
      },
      "type": "object"
    },
    "ClientConfig": {
      "description": "All xds configs for a particular client.",
      "type": "object",
      "properties": {
        "clientScope": {
          "description": "For xDS clients, the scope in which the data is used. For example, gRPC indicates the data plane target or that the data is associated with gRPC server(s).",
          "type": "string"
        },
        "xdsConfig": {
          "description": "This field is deprecated in favor of generic_xds_configs which is much simpler and uniform in structure.",
          "deprecated": true,
          "items": {
            "$ref": "PerXdsConfig"
          },
          "type": "array"
        },
        "node": {
          "$ref": "Node",
          "description": "Node for a particular client."
        },
        "genericXdsConfigs": {
          "items": {
            "$ref": "GenericXdsConfig"
          },
          "description": "Represents generic xDS config and the exact config structure depends on the type URL (like Cluster if it is CDS)",
          "type": "array"
        }
      },
      "id": "ClientConfig"
    },
    "DoubleMatcher": {
      "id": "DoubleMatcher",
      "type": "object",
      "description": "Specifies the way to match a double value.",
      "properties": {
        "range": {
          "$ref": "DoubleRange",
          "description": "If specified, the input double value must be in the range specified here. Note: The range is using half-open interval semantics [start, end)."
        },
        "exact": {
          "description": "If specified, the input double value must be equal to the value specified here.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "NodeMatcher": {
      "id": "NodeMatcher",
      "description": "Specifies the way to match a Node. The match follows AND semantics.",
      "type": "object",
      "properties": {
        "nodeMetadatas": {
          "type": "array",
          "description": "Specifies match criteria on the node metadata.",
          "items": {
            "$ref": "StructMatcher"
          }
        },
        "nodeId": {
          "$ref": "StringMatcher",
          "description": "Specifies match criteria on the node id."
        }
      }
    },
    "EndpointsConfigDump": {
      "type": "object",
      "id": "EndpointsConfigDump",
      "description": "Envoy's admin fill this message with all currently known endpoints. Endpoint configuration information can be used to recreate an Envoy configuration by populating all endpoints as static endpoints or by returning them in an EDS response.",
      "properties": {
        "dynamicEndpointConfigs": {
          "type": "array",
          "items": {
            "$ref": "DynamicEndpointConfig"
          },
          "description": "The dynamically loaded endpoint configs."
        },
        "staticEndpointConfigs": {
          "type": "array",
          "description": "The statically loaded endpoint configs.",
          "items": {
            "$ref": "StaticEndpointConfig"
          }
        }
      }
    },
    "ScopedRoutesConfigDump": {
      "type": "object",
      "properties": {
        "inlineScopedRouteConfigs": {
          "type": "array",
          "items": {
            "$ref": "InlineScopedRouteConfigs"
          },
          "description": "The statically loaded scoped route configs."
        },
        "dynamicScopedRouteConfigs": {
          "type": "array",
          "items": {
            "$ref": "DynamicScopedRouteConfigs"
          },
          "description": "The dynamically loaded scoped route configs."
        }
      },
      "id": "ScopedRoutesConfigDump",
      "description": "Envoy's scoped RDS implementation fills this message with all currently loaded route configuration scopes (defined via ScopedRouteConfigurationsSet protos). This message lists both the scopes defined inline with the higher order object (i.e., the HttpConnectionManager) and the dynamically obtained scopes via the SRDS API."
    },
    "StaticEndpointConfig": {
      "id": "StaticEndpointConfig",
      "type": "object",
      "properties": {
        "endpointConfig": {
          "type": "object",
          "description": "The endpoint config.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "lastUpdated": {
          "description": "[#not-implemented-hide:] The timestamp when the Endpoint was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/traffic-director",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "rootUrl": "https://trafficdirector.googleapis.com/",
  "basePath": "",
  "version": "v3",
  "protocol": "rest",
  "id": "trafficdirector:v3",
  "version_module": true,
  "title": "Traffic Director API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://trafficdirector.mtls.googleapis.com/",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://trafficdirector.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://trafficdirector.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://trafficdirector.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://trafficdirector.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://trafficdirector.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://trafficdirector.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://trafficdirector.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://trafficdirector.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://trafficdirector.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://trafficdirector.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://trafficdirector.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://trafficdirector.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://trafficdirector.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://trafficdirector.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://trafficdirector.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://trafficdirector.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://trafficdirector.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://trafficdirector.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://trafficdirector.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://trafficdirector.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://trafficdirector.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://trafficdirector.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://trafficdirector.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://trafficdirector.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://trafficdirector.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://trafficdirector.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://trafficdirector.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "resources": {
    "discovery": {
      "methods": {
        "client_status": {
          "response": {
            "$ref": "ClientStatusResponse"
          },
          "flatPath": "v3/discovery:client_status",
          "parameterOrder": [],
          "parameters": {},
          "id": "trafficdirector.discovery.client_status",
          "request": {
            "$ref": "ClientStatusRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v3/discovery:client_status",
          "description": ""
        }
      }
    }
  },
  "name": "trafficdirector",
  "ownerName": "Google",
  "revision": "20260824"
}