{
  "description": "",
  "baseUrl": "https://trafficdirector.googleapis.com/",
  "basePath": "",
  "id": "trafficdirector:v3",
  "name": "trafficdirector",
  "servicePath": "",
  "version": "v3",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "discovery": {
      "methods": {
        "client_status": {
          "flatPath": "v3/discovery:client_status",
          "response": {
            "$ref": "ClientStatusResponse"
          },
          "path": "v3/discovery:client_status",
          "id": "trafficdirector.discovery.client_status",
          "parameterOrder": [],
          "request": {
            "$ref": "ClientStatusRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "",
          "httpMethod": "POST"
        }
      }
    }
  },
  "canonicalName": "Traffic Director Service",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/traffic-director",
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://trafficdirector.googleapis.com/",
  "title": "Traffic Director API",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://trafficdirector.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://trafficdirector.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://trafficdirector.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://trafficdirector.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://trafficdirector.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://trafficdirector.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://trafficdirector.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://trafficdirector.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://trafficdirector.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://trafficdirector.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://trafficdirector.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://trafficdirector.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://trafficdirector.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://trafficdirector.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://trafficdirector.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://trafficdirector.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://trafficdirector.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://trafficdirector.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://trafficdirector.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://trafficdirector.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://trafficdirector.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://trafficdirector.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://trafficdirector.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "revision": "20260820",
  "schemas": {
    "ClientConfig": {
      "description": "All xds configs for a particular client.",
      "type": "object",
      "id": "ClientConfig",
      "properties": {
        "genericXdsConfigs": {
          "type": "array",
          "items": {
            "$ref": "GenericXdsConfig"
          },
          "description": "Represents generic xDS config and the exact config structure depends on the type URL (like Cluster if it is CDS)"
        },
        "xdsConfig": {
          "description": "This field is deprecated in favor of generic_xds_configs which is much simpler and uniform in structure.",
          "items": {
            "$ref": "PerXdsConfig"
          },
          "deprecated": true,
          "type": "array"
        },
        "clientScope": {
          "type": "string",
          "description": "For xDS clients, the scope in which the data is used. For example, gRPC indicates the data plane target or that the data is associated with gRPC server(s)."
        },
        "node": {
          "$ref": "Node",
          "description": "Node for a particular client."
        }
      }
    },
    "UpdateFailureState": {
      "properties": {
        "lastUpdateAttempt": {
          "format": "google-datetime",
          "description": "Time of the latest failed update attempt.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Details about the last failed update attempt."
        },
        "versionInfo": {
          "description": "This is the version of the rejected resource. [#not-implemented-hide:]",
          "type": "string"
        },
        "failedConfiguration": {
          "type": "object",
          "description": "What the component configuration would have been if the update had succeeded. This field may not be populated by xDS clients due to storage overhead.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "UpdateFailureState"
    },
    "DynamicEndpointConfig": {
      "id": "DynamicEndpointConfig",
      "type": "object",
      "description": "[#next-free-field: 6]",
      "properties": {
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]",
          "$ref": "UpdateFailureState"
        },
        "lastUpdated": {
          "description": "[#not-implemented-hide:] The timestamp when the Endpoint was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "clientStatus": {
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]"
        },
        "versionInfo": {
          "type": "string",
          "description": "[#not-implemented-hide:] This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the endpoint configuration was loaded."
        },
        "endpointConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The endpoint config.",
          "type": "object"
        }
      }
    },
    "BuildVersion": {
      "id": "BuildVersion",
      "description": "BuildVersion combines SemVer version of extension with free-form build information (i.e. 'alpha', 'private-build') as a set of strings.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Free-form build information. Envoy defines several well known keys in the source/common/version/version.h file"
        },
        "version": {
          "description": "SemVer version of extension.",
          "$ref": "SemanticVersion"
        }
      }
    },
    "DoubleRange": {
      "description": "Specifies the double start and end of the range using half-open interval semantics [start, end).",
      "type": "object",
      "id": "DoubleRange",
      "properties": {
        "start": {
          "description": "start of the range (inclusive)",
          "format": "double",
          "type": "number"
        },
        "end": {
          "type": "number",
          "description": "end of the range (exclusive)",
          "format": "double"
        }
      }
    },
    "DynamicListenerState": {
      "properties": {
        "listener": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The listener config.",
          "type": "object"
        },
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the Listener was last successfully updated."
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the listener was loaded. In the future, discrete per-listener versions may be supported by the API."
        }
      },
      "id": "DynamicListenerState",
      "type": "object"
    },
    "GoogleRE2": {
      "id": "GoogleRE2",
      "properties": {
        "maxProgramSize": {
          "format": "uint32",
          "description": "This field controls the RE2 \"program size\" which is a rough estimate of how complex a compiled regex is to evaluate. A regex that has a program size greater than the configured value will fail to compile. In this case, the configured max program size can be increased or the regex can be simplified. If not specified, the default is 100. This field is deprecated; regexp validation should be performed on the management server instead of being done by each individual client. .. note:: Although this field is deprecated, the program size will still be checked against the global ``re2.max_program_size.error_level`` runtime value.",
          "type": "integer",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Google's `RE2 `_ regex engine. The regex string must adhere to the documented `syntax `_. The engine is designed to complete execution in linear time as well as limit the amount of memory used. Envoy supports program size checking via runtime. The runtime keys ``re2.max_program_size.error_level`` and ``re2.max_program_size.warn_level`` can be set to integers as the maximum program size or complexity that a compiled regex can have before an exception is thrown or a warning is logged, respectively. ``re2.max_program_size.error_level`` defaults to 100, and ``re2.max_program_size.warn_level`` has no default if unset (will not check/log a warning). Envoy emits two stats for tracking the program size of regexes: the histogram ``re2.program_size``, which records the program size, and the counter ``re2.exceeded_warn_level``, which is incremented each time the program size exceeds the warn level threshold."
    },
    "PathSegment": {
      "id": "PathSegment",
      "description": "Specifies the segment in a path to retrieve value from Struct.",
      "type": "object",
      "properties": {
        "key": {
          "description": "If specified, use the key to retrieve the value in a Struct.",
          "type": "string"
        }
      }
    },
    "StaticRouteConfig": {
      "type": "object",
      "id": "StaticRouteConfig",
      "properties": {
        "lastUpdated": {
          "description": "The timestamp when the Route was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "routeConfig": {
          "type": "object",
          "description": "The route config.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "NodeMatcher": {
      "type": "object",
      "id": "NodeMatcher",
      "properties": {
        "nodeId": {
          "description": "Specifies match criteria on the node id.",
          "$ref": "StringMatcher"
        },
        "nodeMetadatas": {
          "description": "Specifies match criteria on the node metadata.",
          "type": "array",
          "items": {
            "$ref": "StructMatcher"
          }
        }
      },
      "description": "Specifies the way to match a Node. The match follows AND semantics."
    },
    "Address": {
      "id": "Address",
      "description": "Addresses specify either a logical or physical address and port, which are used to tell Envoy where to bind/listen, connect to upstream and find management servers.",
      "properties": {
        "pipe": {
          "$ref": "Pipe"
        },
        "socketAddress": {
          "$ref": "SocketAddress"
        },
        "envoyInternalAddress": {
          "description": "Specifies a user-space address handled by :ref:`internal listeners `.",
          "$ref": "EnvoyInternalAddress"
        }
      },
      "type": "object"
    },
    "ListMatcher": {
      "id": "ListMatcher",
      "properties": {
        "oneOf": {
          "$ref": "ValueMatcher",
          "description": "If specified, at least one of the values in the list must match the value specified."
        }
      },
      "description": "Specifies the way to match a list value.",
      "type": "object"
    },
    "OrMatcher": {
      "type": "object",
      "properties": {
        "valueMatchers": {
          "type": "array",
          "items": {
            "$ref": "ValueMatcher"
          }
        }
      },
      "id": "OrMatcher",
      "description": "Specifies a list of alternatives for the match."
    },
    "EnvoyInternalAddress": {
      "description": "The address represents an envoy internal listener. [#comment: ",
      "properties": {
        "serverListenerName": {
          "description": "Specifies the :ref:`name ` of the internal listener.",
          "type": "string"
        },
        "endpointId": {
          "description": "Specifies an endpoint identifier to distinguish between multiple endpoints for the same internal listener in a single upstream pool. Only used in the upstream addresses for tracking changes to individual endpoints. This, for example, may be set to the final destination IP for the target internal listener.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvoyInternalAddress"
    },
    "PerXdsConfig": {
      "properties": {
        "clientStatus": {
          "deprecated": true,
          "enumDescriptions": [
            "Config status is not available/unknown.",
            "Client requested the config but hasn't received any config from management server yet.",
            "Client received the config and replied with ACK.",
            "Client received the config and replied with NACK. Notably, the attached config dump is not the NACKed version, but the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty."
          ],
          "enum": [
            "CLIENT_UNKNOWN",
            "CLIENT_REQUESTED",
            "CLIENT_ACKED",
            "CLIENT_NACKED",
            "CLIENT_RECEIVED_ERROR"
          ],
          "description": "Client config status is populated by xDS clients. Will not be present if the CSDS server is an xDS server. No matter what the client config status is, xDS clients should always dump the most recent accepted xDS config. .. attention:: This field is deprecated. Use :ref:`ClientResourceStatus ` for per-resource config status instead.",
          "type": "string"
        },
        "listenerConfig": {
          "$ref": "ListenersConfigDump"
        },
        "endpointConfig": {
          "$ref": "EndpointsConfigDump"
        },
        "routeConfig": {
          "$ref": "RoutesConfigDump"
        },
        "status": {
          "description": "Config status generated by management servers. Will not be present if the CSDS server is an xDS client.",
          "enumDescriptions": [
            "Status info is not available/unknown.",
            "Management server has sent the config to client and received ACK.",
            "Config is not sent.",
            "Management server has sent the config to client but hasn’t received ACK/NACK.",
            "Management server has sent the config to client but received NACK. The attached config dump will be the latest config (the rejected one), since it is the persisted version in the management server."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SYNCED",
            "NOT_SENT",
            "STALE",
            "ERROR"
          ]
        },
        "scopedRouteConfig": {
          "$ref": "ScopedRoutesConfigDump"
        },
        "clusterConfig": {
          "$ref": "ClustersConfigDump"
        }
      },
      "id": "PerXdsConfig",
      "description": "Detailed config (per xDS) with status. [#next-free-field: 8]",
      "type": "object"
    },
    "StaticListener": {
      "id": "StaticListener",
      "type": "object",
      "description": "Describes a statically loaded listener.",
      "properties": {
        "listener": {
          "type": "object",
          "description": "The listener config.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "lastUpdated": {
          "description": "The timestamp when the Listener was last successfully updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ClientStatusResponse": {
      "id": "ClientStatusResponse",
      "properties": {
        "config": {
          "items": {
            "$ref": "ClientConfig"
          },
          "description": "Client configs for the clients specified in the ClientStatusRequest.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Node": {
      "id": "Node",
      "type": "object",
      "description": "Identifies a specific Envoy instance. The node identifier is presented to the management server, which may use this identifier to distinguish per Envoy configuration for serving. [#next-free-field: 13]",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Defines the local service cluster name where Envoy is running. Though optional, it should be set if any of the following features are used: :ref:`statsd `, :ref:`health check cluster verification `, :ref:`runtime override directory `, :ref:`user agent addition `, :ref:`HTTP global rate limiting `, :ref:`CDS `, and :ref:`HTTP tracing `, either in this message or via :option:`--service-cluster`."
        },
        "metadata": {
          "description": "Opaque metadata extending the node identifier. Envoy will pass this directly to the management server.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "locality": {
          "description": "Locality specifying where the Envoy instance is running.",
          "$ref": "Locality"
        },
        "userAgentName": {
          "description": "Free-form string that identifies the entity requesting config. E.g. \"envoy\" or \"grpc\"",
          "type": "string"
        },
        "listeningAddresses": {
          "deprecated": true,
          "items": {
            "$ref": "Address"
          },
          "description": "Known listening ports on the node as a generic hint to the management server for filtering :ref:`listeners ` to be returned. For example, if there is a listener bound to port 80, the list can optionally contain the SocketAddress ``(0.0.0.0,80)``. The field is optional and just a hint.",
          "type": "array"
        },
        "clientFeatures": {
          "items": {
            "type": "string"
          },
          "description": "Client feature support list. These are well known features described in the Envoy API repository for a given major version of an API. Client features use reverse DNS naming scheme, for example ``com.acme.feature``. See :ref:`the list of features ` that xDS client may support.",
          "type": "array"
        },
        "dynamicParameters": {
          "additionalProperties": {
            "$ref": "ContextParams"
          },
          "description": "Map from xDS resource type URL to dynamic context parameters. These may vary at runtime (unlike other fields in this message). For example, the xDS client may have a shard identifier that changes during the lifetime of the xDS client. In Envoy, this would be achieved by updating the dynamic context on the Server::Instance's LocalInfo context provider. The shard ID dynamic parameter then appears in this field during future discovery requests.",
          "type": "object"
        },
        "extensions": {
          "description": "List of extensions and their versions supported by the node.",
          "items": {
            "$ref": "Extension"
          },
          "type": "array"
        },
        "id": {
          "description": "An opaque node identifier for the Envoy node. This also provides the local service node name. It should be set if any of the following features are used: :ref:`statsd `, :ref:`CDS `, and :ref:`HTTP tracing `, either in this message or via :option:`--service-node`.",
          "type": "string"
        },
        "userAgentBuildVersion": {
          "description": "Structured version of the entity requesting config.",
          "$ref": "BuildVersion"
        },
        "userAgentVersion": {
          "type": "string",
          "description": "Free-form string that identifies the version of the entity requesting config. E.g. \"1.12.2\" or \"abcd1234\", or \"SpecialEnvoyBuild\""
        }
      }
    },
    "Pipe": {
      "id": "Pipe",
      "type": "object",
      "properties": {
        "path": {
          "description": "Unix Domain Socket path. On Linux, paths starting with '@' will use the abstract namespace. The starting '@' is replaced by a null byte by Envoy. Paths starting with '@' will result in an error in environments other than Linux.",
          "type": "string"
        },
        "mode": {
          "description": "The mode for the Pipe. Not applicable for abstract sockets.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "DynamicRouteConfig": {
      "description": "[#next-free-field: 6]",
      "id": "DynamicRouteConfig",
      "type": "object",
      "properties": {
        "clientStatus": {
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ]
        },
        "lastUpdated": {
          "description": "The timestamp when the Route was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "versionInfo": {
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the route configuration was loaded.",
          "type": "string"
        },
        "routeConfig": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The route config."
        },
        "errorState": {
          "$ref": "UpdateFailureState",
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]"
        }
      }
    },
    "GenericXdsConfig": {
      "type": "object",
      "description": "GenericXdsConfig is used to specify the config status and the dump of any xDS resource identified by their type URL. It is the generalized version of the now deprecated ListenersConfigDump, ClustersConfigDump etc [#next-free-field: 10]",
      "properties": {
        "name": {
          "description": "Name of the xDS resource",
          "type": "string"
        },
        "xdsConfig": {
          "description": "The xDS resource config. Actual content depends on the type",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "clientStatus": {
          "description": "Per xDS resource status from the view of a xDS client",
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ]
        },
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update. The *error_state* field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]",
          "$ref": "UpdateFailureState"
        },
        "versionInfo": {
          "description": "This is the :ref:`version_info ` in the last processed xDS discovery response. If there are only static bootstrap listeners, this field will be \"\"",
          "type": "string"
        },
        "configStatus": {
          "description": "Per xDS resource config status. It is generated by management servers. It will not be present if the CSDS server is an xDS client.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SYNCED",
            "NOT_SENT",
            "STALE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Status info is not available/unknown.",
            "Management server has sent the config to client and received ACK.",
            "Config is not sent.",
            "Management server has sent the config to client but hasn’t received ACK/NACK.",
            "Management server has sent the config to client but received NACK. The attached config dump will be the latest config (the rejected one), since it is the persisted version in the management server."
          ]
        },
        "lastUpdated": {
          "format": "google-datetime",
          "description": "Timestamp when the xDS resource was last updated",
          "type": "string"
        },
        "isStaticResource": {
          "description": "Is static resource is true if it is specified in the config supplied through the file at the startup.",
          "type": "boolean"
        },
        "typeUrl": {
          "type": "string",
          "description": "Type_url represents the fully qualified name of xDS resource type like envoy.v3.Cluster, envoy.v3.ClusterLoadAssignment etc."
        }
      },
      "id": "GenericXdsConfig"
    },
    "DynamicListener": {
      "properties": {
        "drainingState": {
          "description": "The listener state for any draining listener by this name. These are listeners that are currently undergoing draining in preparation to stop servicing data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the draining listeners should generally be discarded.",
          "$ref": "DynamicListenerState"
        },
        "activeState": {
          "description": "The listener state for any active listener by this name. These are listeners that are available to service data plane traffic.",
          "$ref": "DynamicListenerState"
        },
        "name": {
          "type": "string",
          "description": "The name or unique id of this listener, pulled from the DynamicListenerState config."
        },
        "errorState": {
          "$ref": "UpdateFailureState",
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty."
        },
        "warmingState": {
          "$ref": "DynamicListenerState",
          "description": "The listener state for any warming listener by this name. These are listeners that are currently undergoing warming in preparation to service data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the warming listeners should generally be discarded."
        },
        "clientStatus": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]",
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ]
        }
      },
      "description": "Describes a dynamically loaded listener via the LDS API. [#next-free-field: 7]",
      "type": "object",
      "id": "DynamicListener"
    },
    "SocketAddress": {
      "type": "object",
      "description": "[#next-free-field: 8]",
      "properties": {
        "namedPort": {
          "description": "This is only valid if :ref:`resolver_name ` is specified below and the named resolver is capable of named port resolution.",
          "type": "string"
        },
        "ipv4Compat": {
          "description": "When binding to an IPv6 address above, this enables `IPv4 compatibility `_. Binding to ``::`` will allow both IPv4 and IPv6 connections, with peer IPv4 addresses mapped into IPv6 space as ``::FFFF:``.",
          "type": "boolean"
        },
        "networkNamespaceFilepath": {
          "description": "Filepath that specifies the Linux network namespace this socket will be created in (see ``man 7 network_namespaces``). If this field is set, Envoy will create the socket in the specified network namespace. .. note:: Setting this parameter requires Envoy to run with the ``CAP_SYS_ADMIN`` capability. .. attention:: Network namespaces are only configurable on Linux. Otherwise, this field has no effect.",
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TCP",
            "UDP"
          ]
        },
        "portValue": {
          "type": "integer",
          "format": "uint32"
        },
        "resolverName": {
          "description": "The name of the custom resolver. This must have been registered with Envoy. If this is empty, a context dependent default applies. If the address is a concrete IP address, no resolution will occur. If address is a hostname this should be set for resolution other than DNS. Specifying a custom resolver with ``STRICT_DNS`` or ``LOGICAL_DNS`` will generate an error at runtime.",
          "type": "string"
        },
        "address": {
          "description": "The address for this socket. :ref:`Listeners ` will bind to the address. An empty address is not allowed. Specify ``0.0.0.0`` or ``::`` to bind to any address. [#comment:TODO(zuercher) reinstate when implemented: It is possible to distinguish a Listener address via the prefix/suffix matching in :ref:`FilterChainMatch `.] When used within an upstream :ref:`BindConfig `, the address controls the source address of outbound connections. For :ref:`clusters `, the cluster type determines whether the address must be an IP (``STATIC`` or ``EDS`` clusters) or a hostname resolved by DNS (``STRICT_DNS`` or ``LOGICAL_DNS`` clusters). Address resolution can be customized via :ref:`resolver_name `.",
          "type": "string"
        }
      },
      "id": "SocketAddress"
    },
    "RegexMatcher": {
      "id": "RegexMatcher",
      "type": "object",
      "description": "A regex matcher designed for safety when used with untrusted input.",
      "properties": {
        "googleRe2": {
          "deprecated": true,
          "description": "Google's RE2 regex engine.",
          "$ref": "GoogleRE2"
        },
        "regex": {
          "description": "The regex match string. The string must be supported by the configured engine. The regex is matched against the full string, not as a partial match.",
          "type": "string"
        }
      }
    },
    "StringMatcher": {
      "type": "object",
      "description": "Specifies the way to match a string. [#next-free-field: 9]",
      "id": "StringMatcher",
      "properties": {
        "safeRegex": {
          "$ref": "RegexMatcher",
          "description": "The input string must match the regular expression specified here."
        },
        "exact": {
          "type": "string",
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``."
        },
        "suffix": {
          "description": "The input string must have the suffix specified here. .. note:: Empty suffix match is not allowed, please use ``safe_regex`` instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "contains": {
          "description": "The input string must have the substring specified here. .. note:: Empty contains match is not allowed, please use ``safe_regex`` instead. Examples: * ``abc`` matches the value ``xyz.abc.def``",
          "type": "string"
        },
        "custom": {
          "$ref": "TypedExtensionConfig",
          "description": "Use an extension as the matcher type. [#extension-category: envoy.string_matcher]"
        },
        "ignoreCase": {
          "description": "If ``true``, indicates the exact/prefix/suffix/contains matching should be case insensitive. This has no effect for the ``safe_regex`` match. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if this option is set to ``true``.",
          "type": "boolean"
        },
        "prefix": {
          "type": "string",
          "description": "The input string must have the prefix specified here. .. note:: Empty prefix match is not allowed, please use ``safe_regex`` instead. Examples: * ``abc`` matches the value ``abc.xyz``"
        }
      }
    },
    "EndpointsConfigDump": {
      "type": "object",
      "description": "Envoy's admin fill this message with all currently known endpoints. Endpoint configuration information can be used to recreate an Envoy configuration by populating all endpoints as static endpoints or by returning them in an EDS response.",
      "properties": {
        "staticEndpointConfigs": {
          "items": {
            "$ref": "StaticEndpointConfig"
          },
          "type": "array",
          "description": "The statically loaded endpoint configs."
        },
        "dynamicEndpointConfigs": {
          "items": {
            "$ref": "DynamicEndpointConfig"
          },
          "type": "array",
          "description": "The dynamically loaded endpoint configs."
        }
      },
      "id": "EndpointsConfigDump"
    },
    "Extension": {
      "properties": {
        "category": {
          "description": "Category of the extension. Extension category names use reverse DNS notation. For instance \"envoy.filters.listener\" for Envoy's built-in listener filters or \"com.acme.filters.http\" for HTTP filters from acme.com vendor. [#comment:",
          "type": "string"
        },
        "typeDescriptor": {
          "description": "[#not-implemented-hide:] Type descriptor of extension configuration proto. [#comment:",
          "type": "string",
          "deprecated": true
        },
        "typeUrls": {
          "type": "array",
          "description": "Type URLs of extension configuration protos.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "This is the name of the Envoy filter as specified in the Envoy configuration, e.g. envoy.filters.http.router, com.acme.widget."
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates that the extension is present but was disabled via dynamic configuration."
        },
        "version": {
          "description": "The version is a property of the extension and maintained independently of other extensions and the Envoy API. This field is not set when extension did not provide version information.",
          "$ref": "BuildVersion"
        }
      },
      "type": "object",
      "description": "Version and identification for an Envoy extension. [#next-free-field: 7]",
      "id": "Extension"
    },
    "SemanticVersion": {
      "properties": {
        "majorNumber": {
          "type": "integer",
          "format": "uint32"
        },
        "minorNumber": {
          "format": "uint32",
          "type": "integer"
        },
        "patch": {
          "format": "uint32",
          "type": "integer"
        }
      },
      "description": "Envoy uses SemVer (https://semver.org/). Major/minor versions indicate expected behaviors and APIs, the patch version field is used only for security fixes and can be generally ignored.",
      "id": "SemanticVersion",
      "type": "object"
    },
    "ScopedRoutesConfigDump": {
      "type": "object",
      "properties": {
        "dynamicScopedRouteConfigs": {
          "items": {
            "$ref": "DynamicScopedRouteConfigs"
          },
          "description": "The dynamically loaded scoped route configs.",
          "type": "array"
        },
        "inlineScopedRouteConfigs": {
          "description": "The statically loaded scoped route configs.",
          "type": "array",
          "items": {
            "$ref": "InlineScopedRouteConfigs"
          }
        }
      },
      "id": "ScopedRoutesConfigDump",
      "description": "Envoy's scoped RDS implementation fills this message with all currently loaded route configuration scopes (defined via ScopedRouteConfigurationsSet protos). This message lists both the scopes defined inline with the higher order object (i.e., the HttpConnectionManager) and the dynamically obtained scopes via the SRDS API."
    },
    "TypedExtensionConfig": {
      "type": "object",
      "description": "Message type for extension configuration.",
      "properties": {
        "name": {
          "description": "The name of an extension. This is not used to select the extension, instead it serves the role of an opaque identifier.",
          "type": "string"
        },
        "typedConfig": {
          "type": "object",
          "description": "The typed config for the extension. The type URL will be used to identify the extension. In the case that the type URL is *xds.type.v3.TypedStruct* (or, for historical reasons, *udpa.type.v1.TypedStruct*), the inner type URL of *TypedStruct* will be utilized. See the :ref:`extension configuration overview ` for further details.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "TypedExtensionConfig"
    },
    "Locality": {
      "id": "Locality",
      "description": "Identifies location of where either Envoy runs or where upstream hosts run.",
      "type": "object",
      "properties": {
        "subZone": {
          "type": "string",
          "description": "When used for locality of upstream hosts, this field further splits zone into smaller chunks of sub-zones so they can be load balanced independently."
        },
        "region": {
          "type": "string",
          "description": "Region this :ref:`zone ` belongs to."
        },
        "zone": {
          "type": "string",
          "description": "Defines the local service zone where Envoy is running. Though optional, it should be set if discovery service routing is used and the discovery service exposes :ref:`zone data `, either in this message or via :option:`--service-zone`. The meaning of zone is context dependent, e.g. `Availability Zone (AZ) `_ on AWS, `Zone `_ on GCP, etc."
        }
      }
    },
    "ClientStatusRequest": {
      "description": "Request for client status of clients identified by a list of NodeMatchers.",
      "type": "object",
      "id": "ClientStatusRequest",
      "properties": {
        "nodeMatchers": {
          "description": "Management server can use these match criteria to identify clients. The match follows OR semantics.",
          "items": {
            "$ref": "NodeMatcher"
          },
          "type": "array"
        },
        "node": {
          "$ref": "Node",
          "description": "The node making the csds request."
        },
        "excludeResourceContents": {
          "type": "boolean",
          "description": "If true, the server will not include the resource contents in the response (i.e., the generic_xds_configs.xds_config field will not be populated). [#not-implemented-hide:]"
        }
      }
    },
    "StructMatcher": {
      "properties": {
        "path": {
          "description": "The path to retrieve the Value from the Struct.",
          "items": {
            "$ref": "PathSegment"
          },
          "type": "array"
        },
        "value": {
          "$ref": "ValueMatcher",
          "description": "The StructMatcher is matched if the value retrieved by path is matched to this value."
        }
      },
      "description": "StructMatcher provides a general interface to check if a given value is matched in google.protobuf.Struct. It uses ``path`` to retrieve the value from the struct and then check if it's matched to the specified value. For example, for the following Struct: .. code-block:: yaml fields: a: struct_value: fields: b: struct_value: fields: c: string_value: pro t: list_value: values: - string_value: m - string_value: n The following MetadataMatcher is matched as the path [a, b, c] will retrieve a string value \"pro\" from the Metadata which is matched to the specified prefix match. .. code-block:: yaml path: - key: a - key: b - key: c value: string_match: prefix: pr The following StructMatcher is matched as the code will match one of the string values in the list at the path [a, t]. .. code-block:: yaml path: - key: a - key: t value: list_match: one_of: string_match: exact: m An example use of StructMatcher is to match metadata in envoy.v*.core.Node.",
      "id": "StructMatcher",
      "type": "object"
    },
    "RoutesConfigDump": {
      "id": "RoutesConfigDump",
      "description": "Envoy's RDS implementation fills this message with all currently loaded routes, as described by their RouteConfiguration objects. Static routes that are either defined in the bootstrap configuration or defined inline while configuring listeners are separated from those configured dynamically via RDS. Route configuration information can be used to recreate an Envoy configuration by populating all routes as static routes or by returning them in RDS responses.",
      "type": "object",
      "properties": {
        "staticRouteConfigs": {
          "type": "array",
          "description": "The statically loaded route configs.",
          "items": {
            "$ref": "StaticRouteConfig"
          }
        },
        "dynamicRouteConfigs": {
          "description": "The dynamically loaded route configs.",
          "items": {
            "$ref": "DynamicRouteConfig"
          },
          "type": "array"
        }
      }
    },
    "ValueMatcher": {
      "type": "object",
      "properties": {
        "doubleMatch": {
          "$ref": "DoubleMatcher",
          "description": "If specified, a match occurs if and only if the target value is a double value and is matched to this field."
        },
        "orMatch": {
          "$ref": "OrMatcher",
          "description": "If specified, a match occurs if and only if any of the alternatives in the match accept the value."
        },
        "listMatch": {
          "description": "If specified, a match occurs if and only if the target value is a list value and is matched to this field.",
          "$ref": "ListMatcher"
        },
        "presentMatch": {
          "type": "boolean",
          "description": "If specified, value match will be performed based on whether the path is referring to a valid primitive value in the metadata. If the path is referring to a non-primitive value, the result is always not matched."
        },
        "stringMatch": {
          "$ref": "StringMatcher",
          "description": "If specified, a match occurs if and only if the target value is a string value and is matched to this field."
        },
        "nullMatch": {
          "description": "If specified, a match occurs if and only if the target value is a NullValue.",
          "$ref": "NullMatch"
        },
        "boolMatch": {
          "description": "If specified, a match occurs if and only if the target value is a bool value and is equal to this field.",
          "type": "boolean"
        }
      },
      "id": "ValueMatcher",
      "description": "Specifies the way to match a Protobuf::Value. Primitive values and ListValue are supported. StructValue is not supported and is always not matched. [#next-free-field: 8]"
    },
    "NullMatch": {
      "description": "NullMatch is an empty message to specify a null value.",
      "type": "object",
      "id": "NullMatch",
      "properties": {}
    },
    "StaticEndpointConfig": {
      "id": "StaticEndpointConfig",
      "type": "object",
      "properties": {
        "endpointConfig": {
          "description": "The endpoint config.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "lastUpdated": {
          "description": "[#not-implemented-hide:] The timestamp when the Endpoint was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "StaticCluster": {
      "properties": {
        "cluster": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The cluster config.",
          "type": "object"
        },
        "lastUpdated": {
          "description": "The timestamp when the Cluster was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Describes a statically loaded cluster.",
      "type": "object",
      "id": "StaticCluster"
    },
    "ClustersConfigDump": {
      "type": "object",
      "properties": {
        "dynamicActiveClusters": {
          "description": "The dynamically loaded active clusters. These are clusters that are available to service data plane traffic.",
          "type": "array",
          "items": {
            "$ref": "DynamicCluster"
          }
        },
        "staticClusters": {
          "description": "The statically loaded cluster configs.",
          "items": {
            "$ref": "StaticCluster"
          },
          "type": "array"
        },
        "dynamicWarmingClusters": {
          "description": "The dynamically loaded warming clusters. These are clusters that are currently undergoing warming in preparation to service data plane traffic. Note that if attempting to recreate an Envoy configuration from a configuration dump, the warming clusters should generally be discarded.",
          "items": {
            "$ref": "DynamicCluster"
          },
          "type": "array"
        },
        "versionInfo": {
          "description": "This is the :ref:`version_info ` in the last processed CDS discovery response. If there are only static bootstrap clusters, this field will be \"\".",
          "type": "string"
        }
      },
      "description": "Envoy's cluster manager fills this message with all currently known clusters. Cluster configuration information can be used to recreate an Envoy configuration by populating all clusters as static clusters or by returning them in a CDS response.",
      "id": "ClustersConfigDump"
    },
    "DynamicScopedRouteConfigs": {
      "description": "[#next-free-field: 7]",
      "id": "DynamicScopedRouteConfigs",
      "properties": {
        "clientStatus": {
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "description": "The client status of this resource. [#not-implemented-hide:]",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ]
        },
        "lastUpdated": {
          "description": "The timestamp when the scoped route config set was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "scopedRouteConfigs": {
          "type": "array",
          "description": "The scoped route configurations.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "versionInfo": {
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the scoped routes configuration was loaded.",
          "type": "string"
        },
        "errorState": {
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]",
          "$ref": "UpdateFailureState"
        },
        "name": {
          "description": "The name assigned to the scoped route configurations.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DoubleMatcher": {
      "description": "Specifies the way to match a double value.",
      "type": "object",
      "id": "DoubleMatcher",
      "properties": {
        "range": {
          "description": "If specified, the input double value must be in the range specified here. Note: The range is using half-open interval semantics [start, end).",
          "$ref": "DoubleRange"
        },
        "exact": {
          "description": "If specified, the input double value must be equal to the value specified here.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ListenersConfigDump": {
      "type": "object",
      "properties": {
        "dynamicListeners": {
          "items": {
            "$ref": "DynamicListener"
          },
          "type": "array",
          "description": "State for any warming, active, or draining listeners."
        },
        "staticListeners": {
          "description": "The statically loaded listener configs.",
          "items": {
            "$ref": "StaticListener"
          },
          "type": "array"
        },
        "versionInfo": {
          "description": "This is the :ref:`version_info ` in the last processed LDS discovery response. If there are only static bootstrap listeners, this field will be \"\".",
          "type": "string"
        }
      },
      "description": "Envoy's listener manager fills this message with all currently known listeners. Listener configuration information can be used to recreate an Envoy configuration by populating all listeners as static listeners or by returning them in a LDS response.",
      "id": "ListenersConfigDump"
    },
    "InlineScopedRouteConfigs": {
      "properties": {
        "lastUpdated": {
          "description": "The timestamp when the scoped route config set was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name assigned to the scoped route configurations."
        },
        "scopedRouteConfigs": {
          "description": "The scoped route configurations.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "InlineScopedRouteConfigs"
    },
    "ContextParams": {
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Additional parameters that can be used to select resource variants. These include any global context parameters, per-resource type client feature capabilities and per-resource type functional attributes. All per-resource type attributes will be `xds.resource.` prefixed and some of these are documented below: `xds.resource.listening_address`: The value is \"IP:port\" (e.g. \"10.1.1.3:8080\") which is the listening address of a Listener. Used in a Listener resource query.",
      "id": "ContextParams",
      "type": "object"
    },
    "DynamicCluster": {
      "type": "object",
      "id": "DynamicCluster",
      "description": "Describes a dynamically loaded cluster via the CDS API. [#next-free-field: 6]",
      "properties": {
        "errorState": {
          "$ref": "UpdateFailureState",
          "description": "Set if the last update failed, cleared after the next successful update. The ``error_state`` field contains the rejected version of this particular resource along with the reason and timestamp. For successfully updated or acknowledged resource, this field should be empty. [#not-implemented-hide:]"
        },
        "clientStatus": {
          "description": "The client status of this resource. [#not-implemented-hide:]",
          "enumDescriptions": [
            "Resource status is not available/unknown.",
            "Client requested this resource but hasn't received any update from management server. The client will not fail requests, but will queue them until update arrives or the client times out waiting for the resource.",
            "This resource has been requested by the client but has either not been delivered by the server or was previously delivered by the server and then subsequently removed from resources provided by the server. For more information, please refer to the :ref:`\"Knowing When a Requested Resource Does Not Exist\" ` section.",
            "Client received this resource and replied with ACK.",
            "Client received this resource and replied with NACK.",
            "Client received an error from the control plane. The attached config dump is the most recent accepted one. If no config is accepted yet, the attached config dump will be empty.",
            "Client timed out waiting for the resource from the control plane."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "REQUESTED",
            "DOES_NOT_EXIST",
            "ACKED",
            "NACKED",
            "RECEIVED_ERROR",
            "TIMEOUT"
          ]
        },
        "versionInfo": {
          "type": "string",
          "description": "This is the per-resource version information. This version is currently taken from the :ref:`version_info ` field at the time that the cluster was loaded. In the future, discrete per-cluster versions may be supported by the API."
        },
        "cluster": {
          "type": "object",
          "description": "The cluster config.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "lastUpdated": {
          "description": "The timestamp when the Cluster was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://trafficdirector.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription"
}