{
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "ownerName": "Google",
  "revision": "20170525",
  "id": "translate:v2",
  "servicePath": "language/translate/",
  "canonicalName": "Translate",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "features": [
    "dataWrapper"
  ],
  "basePath": "/language/translate/",
  "resources": {
    "detections": {
      "methods": {
        "detect": {
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "language.detections.detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "path": "v2/detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "description": "Detects the language of text within a request."
        },
        "list": {
          "id": "language.detections.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "description": "Detects the language of text within a request.",
          "parameterOrder": [
            "q"
          ],
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "required": true
            }
          },
          "path": "v2/detect"
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [
            "q",
            "target"
          ],
          "id": "language.translations.list",
          "httpMethod": "GET",
          "parameters": {
            "format": {
              "location": "query",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            },
            "cid": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The customization id for translate"
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query",
              "type": "string"
            },
            "target": {
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "type": "string"
            },
            "q": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true
            }
          }
        },
        "translate": {
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "parameters": {},
          "id": "language.translations.translate",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "id": "language.languages.list",
          "path": "v2/languages",
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "type": "string",
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            },
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "version": "v2",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "batchPath": "batch/translate",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "translate",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "type": "object",
      "description": "The main language translation response message."
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DetectionsListResponse"
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language."
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        }
      }
    },
    "DetectionsResource": {
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "format": "float",
            "type": "number",
            "description": "The confidence of the detection result of this language."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        }
      },
      "type": "array",
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first."
    },
    "GetSupportedLanguagesRequest": {
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "description": "The request message for discovering supported languages.",
      "type": "object",
      "id": "GetSupportedLanguagesRequest"
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "properties": {
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      },
      "type": "object"
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        },
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TranslateTextRequest"
    },
    "DetectLanguageRequest": {
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The request message for language detection.",
      "type": "object",
      "id": "DetectLanguageRequest"
    }
  },
  "parameters": {
    "pp": {
      "location": "query",
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "title": "Google Cloud Translation API",
  "kind": "discovery#restDescription"
}