{
  "batchPath": "batch/translate",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "q",
            "target"
          ],
          "id": "language.translations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "location": "query",
              "required": true,
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string"
            },
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
            },
            "cid": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The customization id for translate"
            },
            "q": {
              "repeated": true,
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true,
              "location": "query"
            },
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "type": "string",
              "location": "query"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "description": "Translates input text, returning translated text."
        },
        "translate": {
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v2",
          "parameters": {},
          "id": "language.translations.translate",
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "httpMethod": "GET",
          "parameters": {
            "model": {
              "location": "query",
              "type": "string",
              "description": "The model type for which supported languages should be returned."
            },
            "target": {
              "location": "query",
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/languages"
        }
      }
    },
    "detections": {
      "methods": {
        "detect": {
          "description": "Detects the language of text within a request.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.detect"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Detects the language of text within a request.",
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "required": true,
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "id": "language.detections.list"
        }
      }
    }
  },
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "kind": "discovery#restDescription",
  "revision": "20170525",
  "id": "translate:v2",
  "title": "Google Cloud Translation API",
  "ownerDomain": "google.com",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "pp": {
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "bearer_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth bearer token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "version": "v2",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "schemas": {
    "TranslationsListResponse": {
      "type": "object",
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array"
        }
      }
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "type": "array",
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      },
      "type": "object",
      "id": "DetectionsListResponse"
    },
    "DetectLanguageRequest": {
      "type": "object",
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages."
    },
    "TranslateTextRequest": {
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DetectionsResource": {
      "type": "array",
      "id": "DetectionsResource",
      "items": {
        "properties": {
          "confidence": {
            "format": "float",
            "description": "The confidence of the detection result of this language.",
            "type": "number"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          },
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "description": "An array of languages which we detect for the given text The most likely language list first."
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        },
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        }
      }
    },
    "TranslationsResource": {
      "properties": {
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        }
      },
      "id": "TranslationsResource",
      "type": "object"
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      },
      "type": "object",
      "id": "LanguagesListResponse"
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "protocol": "rest",
  "features": [
    "dataWrapper"
  ],
  "name": "translate",
  "canonicalName": "Translate",
  "servicePath": "language/translate/",
  "basePath": "/language/translate/"
}