{
  "name": "translate",
  "canonicalName": "Translate",
  "batchPath": "batch/translate",
  "kind": "discovery#restDescription",
  "id": "translate:v2",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "description": "Translates input text, returning translated text.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "httpMethod": "GET",
          "parameterOrder": [
            "q",
            "target"
          ],
          "id": "language.translations.list",
          "parameters": {
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "format": {
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "location": "query",
              "enum": [
                "html",
                "text"
              ]
            },
            "target": {
              "type": "string",
              "required": true,
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query"
            },
            "q": {
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "type": "string"
            },
            "cid": {
              "repeated": true,
              "type": "string",
              "description": "The customization id for translate",
              "location": "query"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            }
          }
        },
        "translate": {
          "parameterOrder": [],
          "parameters": {},
          "path": "v2",
          "httpMethod": "POST",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.translations.translate"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "id": "language.languages.list",
          "parameters": {
            "target": {
              "type": "string",
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "detections": {
      "methods": {
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameterOrder": [],
          "description": "Detects the language of text within a request.",
          "path": "v2/detect",
          "parameters": {},
          "id": "language.detections.detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ],
          "description": "Detects the language of text within a request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "q": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "id": "language.detections.list",
          "httpMethod": "GET"
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Google Cloud Translation API",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "revision": "20170525",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "basePath": "/language/translate/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "features": [
    "dataWrapper"
  ],
  "version": "v2",
  "servicePath": "language/translate/",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "schemas": {
    "TranslateTextRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        }
      },
      "description": "The main translation request message for the Cloud Translation API.",
      "id": "TranslateTextRequest"
    },
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array"
        }
      },
      "id": "TranslationsListResponse",
      "description": "The main language translation response message.",
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "description": "The request message for discovering supported languages.",
      "id": "GetSupportedLanguagesRequest"
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      }
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        }
      }
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      },
      "type": "object"
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      },
      "type": "object",
      "id": "DetectLanguageRequest"
    },
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      },
      "id": "DetectionsListResponse"
    },
    "DetectionsResource": {
      "items": {
        "properties": {
          "language": {
            "description": "The language we detected.",
            "type": "string"
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "type": "number",
            "format": "float"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        },
        "type": "object"
      },
      "id": "DetectionsResource",
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first."
    }
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth bearer token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "default": "true",
      "description": "Pretty-print response.",
      "type": "boolean"
    }
  }
}