{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "transcoder",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Transcoder",
  "title": "Transcoder API",
  "protocol": "rest",
  "baseUrl": "https://transcoder.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "get": {
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Returns the job template data.",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "description": "Lists job templates in the specified region.",
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "path": "v1/{+parent}/jobTemplates"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "description": "Creates a job template in the specified region.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`"
                    },
                    "jobTemplateId": {
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "path": "v1/{+parent}/jobTemplates"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a job template.",
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true
                    }
                  },
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160."
                    }
                  },
                  "id": "transcoder.projects.locations.jobs.list",
                  "description": "Lists jobs in the specified region."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Returns the job data.",
                  "id": "transcoder.projects.locations.jobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a job.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "id": "transcoder.projects.locations.jobs.delete"
                },
                "create": {
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "POST",
                  "description": "Creates a job in the specified region.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "transcoder.projects.locations.jobs.create",
                  "request": {
                    "$ref": "Job"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "transcoder:v1",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "schemas": {
    "TrackDefinition": {
      "type": "object",
      "id": "TrackDefinition",
      "description": "Track definition for the input asset.",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "detectLanguages": {
          "type": "boolean",
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field."
        },
        "detectedLanguages": {
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inputTrack": {
          "format": "int32",
          "type": "integer",
          "description": "The input track."
        }
      }
    },
    "SpriteSheet": {
      "id": "SpriteSheet",
      "type": "object",
      "properties": {
        "quality": {
          "type": "integer",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "format": "int32"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100."
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "spriteHeightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "rowCount": {
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "format": "int32",
          "type": "integer"
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "type": "string",
          "format": "google-duration"
        },
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`."
        },
        "columnCount": {
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "type": "integer",
          "format": "int32"
        },
        "interval": {
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Sprite sheet configuration."
    },
    "H264ColorFormatHLG": {
      "id": "H264ColorFormatHLG",
      "type": "object",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "properties": {}
    },
    "TextStream": {
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "mapping": {
          "type": "array",
          "items": {
            "$ref": "TextMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs."
        },
        "codec": {
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        }
      },
      "id": "TextStream"
    },
    "Denoise": {
      "id": "Denoise",
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "properties": {
        "strength": {
          "format": "double",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number"
        },
        "tune": {
          "type": "string",
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`"
        }
      }
    },
    "Fairplay": {
      "type": "object",
      "properties": {},
      "id": "Fairplay",
      "description": "Fairplay configuration."
    },
    "Deblock": {
      "id": "Deblock",
      "type": "object",
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "properties": {
        "strength": {
          "type": "number",
          "format": "double",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0."
        },
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "JobConfig": {
      "type": "object",
      "description": "Job configuration",
      "properties": {
        "spriteSheets": {
          "type": "array",
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig.",
          "items": {
            "$ref": "SpriteSheet"
          }
        },
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "description": "List of output manifests.",
          "type": "array"
        },
        "muxStreams": {
          "description": "List of multiplexing settings for output streams.",
          "type": "array",
          "items": {
            "$ref": "MuxStream"
          }
        },
        "encryptions": {
          "items": {
            "$ref": "Encryption"
          },
          "type": "array",
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output."
        },
        "adBreaks": {
          "type": "array",
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "items": {
            "$ref": "AdBreak"
          }
        },
        "elementaryStreams": {
          "type": "array",
          "description": "List of elementary streams.",
          "items": {
            "$ref": "ElementaryStream"
          }
        },
        "editList": {
          "items": {
            "$ref": "EditAtom"
          },
          "type": "array",
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest."
        },
        "overlays": {
          "type": "array",
          "items": {
            "$ref": "Overlay"
          },
          "description": "List of overlays on the output video, in descending Z-order."
        },
        "pubsubDestination": {
          "description": "Destination on Pub/Sub.",
          "$ref": "PubsubDestination"
        },
        "inputs": {
          "type": "array",
          "description": "List of input assets stored in Cloud Storage.",
          "items": {
            "$ref": "Input"
          }
        },
        "output": {
          "$ref": "Output",
          "description": "Output configuration."
        }
      },
      "id": "JobConfig"
    },
    "SecretManagerSource": {
      "description": "Configuration for secrets stored in Google Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported."
        }
      },
      "id": "SecretManagerSource"
    },
    "VideoStream": {
      "id": "VideoStream",
      "description": "Video stream resource.",
      "type": "object",
      "properties": {
        "h264": {
          "description": "H264 codec settings.",
          "$ref": "H264CodecSettings"
        },
        "vp9": {
          "description": "VP9 codec settings.",
          "$ref": "Vp9CodecSettings"
        },
        "h265": {
          "$ref": "H265CodecSettings",
          "description": "H265 codec settings."
        }
      }
    },
    "H265CodecSettings": {
      "id": "H265CodecSettings",
      "type": "object",
      "properties": {
        "gopFrameCount": {
          "type": "integer",
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`."
        },
        "vbvSizeBits": {
          "format": "int32",
          "type": "integer",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`."
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "aqStrength": {
          "format": "double",
          "type": "number",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0."
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        },
        "bFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0."
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer",
          "format": "int32"
        },
        "vbvFullnessBits": {
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.",
          "type": "integer",
          "format": "int32"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H265.",
          "$ref": "H265ColorFormatHLG"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "frameRateConversionStrategy": {
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "type": "string"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "hdr10": {
          "description": "Optional. HDR10 color format setting for H265.",
          "$ref": "H265ColorFormatHDR10"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for H265.",
          "$ref": "H265ColorFormatSDR"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number"
        }
      },
      "description": "H265 codec settings."
    },
    "NormalizedCoordinate": {
      "type": "object",
      "properties": {
        "y": {
          "type": "number",
          "format": "double",
          "description": "Normalized y coordinate."
        },
        "x": {
          "format": "double",
          "type": "number",
          "description": "Normalized x coordinate."
        }
      },
      "id": "NormalizedCoordinate",
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`"
    },
    "AudioStream": {
      "description": "Audio stream resource.",
      "properties": {
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000."
        },
        "channelCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2."
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz."
        },
        "codec": {
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`",
          "type": "string"
        },
        "mapping": {
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
          "items": {
            "$ref": "AudioMapping"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "channelLayout": {
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        }
      },
      "id": "AudioStream",
      "type": "object"
    },
    "Color": {
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "id": "Color",
      "properties": {
        "brightness": {
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "contrast": {
          "type": "number",
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0."
        },
        "saturation": {
          "format": "double",
          "type": "number",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
        }
      },
      "type": "object"
    },
    "Animation": {
      "type": "object",
      "id": "Animation",
      "description": "Animation types.",
      "properties": {
        "animationStatic": {
          "$ref": "AnimationStatic",
          "description": "Display static overlay object."
        },
        "animationEnd": {
          "description": "End previous animation.",
          "$ref": "AnimationEnd"
        },
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        }
      }
    },
    "Encryption": {
      "id": "Encryption",
      "properties": {
        "secretManagerKeySource": {
          "description": "Keys are stored in Google Secret Manager.",
          "$ref": "SecretManagerSource"
        },
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "drmSystems": {
          "$ref": "DrmSystems",
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled."
        },
        "aes128": {
          "$ref": "Aes128Encryption",
          "description": "Configuration for AES-128 encryption."
        },
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "mpegCenc": {
          "$ref": "MpegCommonEncryption",
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC)."
        }
      },
      "type": "object",
      "description": "Encryption settings."
    },
    "Image": {
      "description": "Overlaid image.",
      "type": "object",
      "id": "Image",
      "properties": {
        "alpha": {
          "format": "double",
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "type": "number"
        },
        "resolution": {
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`.",
          "$ref": "NormalizedCoordinate"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported."
        }
      }
    },
    "H265ColorFormatSDR": {
      "type": "object",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "id": "H265ColorFormatSDR"
    },
    "InputAttributes": {
      "id": "InputAttributes",
      "type": "object",
      "description": "Input attributes that provide additional information about the input asset.",
      "properties": {
        "trackDefinitions": {
          "type": "array",
          "items": {
            "$ref": "TrackDefinition"
          },
          "description": "Optional. A list of track definitions for the input asset."
        }
      }
    },
    "Widevine": {
      "description": "Widevine configuration.",
      "properties": {},
      "id": "Widevine",
      "type": "object"
    },
    "PubsubDestination": {
      "id": "PubsubDestination",
      "description": "A Pub/Sub destination.",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`."
        }
      }
    },
    "DashConfig": {
      "id": "DashConfig",
      "description": "`DASH` manifest configuration.",
      "properties": {
        "segmentReferenceScheme": {
          "type": "string",
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ],
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ]
        }
      },
      "type": "object"
    },
    "Pad": {
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "id": "Pad",
      "type": "object",
      "properties": {
        "rightPixels": {
          "description": "The number of pixels to add to the right. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "leftPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the left. The default is 0."
        },
        "bottomPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the bottom. The default is 0."
        },
        "topPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to add to the top. The default is 0."
        }
      }
    },
    "AdBreak": {
      "description": "Ad break.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "type": "string"
        }
      },
      "id": "AdBreak"
    },
    "Fmp4Config": {
      "id": "Fmp4Config",
      "properties": {
        "codecTag": {
          "type": "string",
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`"
        }
      },
      "description": "`fmp4` container configuration.",
      "type": "object"
    },
    "Clearkey": {
      "id": "Clearkey",
      "type": "object",
      "description": "Clearkey configuration.",
      "properties": {}
    },
    "DrmSystems": {
      "description": "Defines configuration for DRM systems in use.",
      "properties": {
        "playready": {
          "description": "Playready configuration.",
          "$ref": "Playready"
        },
        "fairplay": {
          "description": "Fairplay configuration.",
          "$ref": "Fairplay"
        },
        "widevine": {
          "$ref": "Widevine",
          "description": "Widevine configuration."
        },
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        }
      },
      "type": "object",
      "id": "DrmSystems"
    },
    "Vp9CodecSettings": {
      "id": "Vp9CodecSettings",
      "description": "VP9 codec settings.",
      "type": "object",
      "properties": {
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "hlg": {
          "$ref": "Vp9ColorFormatHLG",
          "description": "Optional. HLG color format setting for VP9."
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message.",
          "type": "string"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for VP9.",
          "$ref": "Vp9ColorFormatSDR"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate",
          "type": "string"
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000."
        },
        "crfLevel": {
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "format": "int32"
        },
        "frameRate": {
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double"
        },
        "frameRateConversionStrategy": {
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "gopDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        }
      }
    },
    "Playready": {
      "id": "Playready",
      "type": "object",
      "description": "Playready configuration.",
      "properties": {}
    },
    "ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of regions that could not be reached."
        }
      },
      "description": "Response message for `TranscoderService.ListJobs`.",
      "type": "object",
      "id": "ListJobsResponse"
    },
    "TextMapping": {
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
      "type": "object",
      "id": "TextMapping",
      "properties": {
        "inputTrack": {
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer"
        },
        "atomKey": {
          "type": "string",
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list."
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        }
      }
    },
    "H265ColorFormatHLG": {
      "properties": {},
      "id": "H265ColorFormatHLG",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object"
    },
    "ListJobTemplatesResponse": {
      "id": "ListJobTemplatesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of regions that could not be reached."
        },
        "jobTemplates": {
          "description": "List of job templates in the specified region.",
          "type": "array",
          "items": {
            "$ref": "JobTemplate"
          }
        },
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for `TranscoderService.ListJobTemplates`."
    },
    "Audio": {
      "description": "Audio preprocessing configuration.",
      "properties": {
        "lufs": {
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "format": "double",
          "type": "number"
        },
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "lowBoost": {
          "type": "boolean",
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported."
        }
      },
      "type": "object",
      "id": "Audio"
    },
    "JobTemplate": {
      "description": "Transcoding job template resource.",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this template."
        },
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this job template. You can use these to organize and group your job templates.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "JobTemplate"
    },
    "Overlay": {
      "type": "object",
      "id": "Overlay",
      "description": "Overlay configuration.",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Image overlay."
        },
        "animations": {
          "type": "array",
          "items": {
            "$ref": "Animation"
          },
          "description": "List of animations. The list should be chronological, without any time overlap."
        }
      }
    },
    "Vp9ColorFormatHLG": {
      "id": "Vp9ColorFormatHLG",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object",
      "properties": {}
    },
    "H265ColorFormatHDR10": {
      "id": "H265ColorFormatHDR10",
      "properties": {},
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video.",
      "type": "object"
    },
    "H264CodecSettings": {
      "type": "object",
      "description": "H264 codec settings.",
      "id": "H264CodecSettings",
      "properties": {
        "heightPixels": {
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "vbvFullnessBits": {
          "type": "integer",
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits."
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "type": "string",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "hlg": {
          "$ref": "H264ColorFormatHLG",
          "description": "Optional. HLG color format setting for H264."
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "bitrateBps": {
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "format": "int32"
        },
        "frameRate": {
          "format": "double",
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120."
        },
        "sdr": {
          "$ref": "H264ColorFormatSDR",
          "description": "Optional. SDR color format setting for H264."
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32",
          "type": "integer"
        },
        "vbvSizeBits": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps."
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "aqStrength": {
          "format": "double",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "crfLevel": {
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32"
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Input": {
      "properties": {
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "attributes": {
          "$ref": "InputAttributes",
          "description": "Optional. Input Attributes."
        }
      },
      "id": "Input",
      "type": "object",
      "description": "Input asset."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "ElementaryStream": {
      "properties": {
        "audioStream": {
          "$ref": "AudioStream",
          "description": "Encoding of an audio stream."
        },
        "key": {
          "type": "string",
          "description": "A unique key for this elementary stream."
        },
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        }
      },
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "id": "ElementaryStream",
      "type": "object"
    },
    "H264ColorFormatSDR": {
      "id": "H264ColorFormatSDR",
      "type": "object",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video."
    },
    "MuxStream": {
      "type": "object",
      "id": "MuxStream",
      "properties": {
        "fmp4": {
          "description": "Optional. `fmp4` container configuration.",
          "$ref": "Fmp4Config"
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        },
        "elementaryStreams": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ElementaryStream.key values multiplexed in this stream."
        },
        "fileName": {
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`.",
          "type": "string"
        },
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "encryptionId": {
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this multiplexed stream."
        }
      },
      "description": "Multiplexing settings for output stream."
    },
    "BwdifConfig": {
      "type": "object",
      "id": "BwdifConfig",
      "properties": {
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        },
        "parity": {
          "type": "string",
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity"
        },
        "mode": {
          "type": "string",
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
        }
      },
      "description": "Bob Weaver Deinterlacing Filter Configuration."
    },
    "YadifConfig": {
      "description": "Yet Another Deinterlacing Filter Configuration.",
      "properties": {
        "disableSpatialInterlacing": {
          "type": "boolean",
          "description": "Disable spacial interlacing. The default is `false`."
        },
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        }
      },
      "type": "object",
      "id": "YadifConfig"
    },
    "Job": {
      "description": "Transcoding job resource.",
      "properties": {
        "optimization": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ],
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`.",
          "type": "string",
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ]
        },
        "endTime": {
          "description": "Output only. The time the transcoding finished.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "state": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ],
          "description": "Output only. The current state of the job.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.",
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ],
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ]
        },
        "startTime": {
          "description": "Output only. The time the transcoding started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "ttlAfterCompletionDays": {
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "type": "integer",
          "format": "int32"
        },
        "error": {
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`.",
          "readOnly": true,
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
        },
        "inputUri": {
          "type": "string",
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "config": {
          "description": "The configuration for this job.",
          "$ref": "JobConfig"
        },
        "createTime": {
          "description": "Output only. The time the job was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs."
        },
        "templateId": {
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`",
          "type": "string"
        },
        "fillContentGaps": {
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream.",
          "type": "boolean"
        },
        "batchModePriority": {
          "format": "int32",
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Job"
    },
    "SampleAesEncryption": {
      "properties": {},
      "id": "SampleAesEncryption",
      "description": "Configuration for SAMPLE-AES encryption.",
      "type": "object"
    },
    "PreprocessingConfig": {
      "type": "object",
      "properties": {
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        },
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        },
        "denoise": {
          "description": "Denoise preprocessing configuration.",
          "$ref": "Denoise"
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        },
        "color": {
          "$ref": "Color",
          "description": "Color preprocessing configuration."
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        }
      },
      "description": "Preprocessing configurations.",
      "id": "PreprocessingConfig"
    },
    "AnimationEnd": {
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time to end overlay object, in seconds. Default: 0"
        }
      },
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video.",
      "type": "object",
      "id": "AnimationEnd"
    },
    "MpegCommonEncryption": {
      "type": "object",
      "id": "MpegCommonEncryption",
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "properties": {
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`",
          "type": "string"
        }
      }
    },
    "Deinterlace": {
      "description": "Deinterlace configuration for input video.",
      "id": "Deinterlace",
      "properties": {
        "yadif": {
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration.",
          "$ref": "YadifConfig"
        },
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        }
      },
      "type": "object"
    },
    "EditAtom": {
      "properties": {
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "type": "string"
        },
        "inputs": {
          "items": {
            "type": "string"
          },
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "type": "array"
        }
      },
      "id": "EditAtom",
      "description": "Edit atom.",
      "type": "object"
    },
    "Manifest": {
      "id": "Manifest",
      "properties": {
        "muxStreams": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list."
        },
        "type": {
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ],
          "description": "Required. Type of the manifest.",
          "type": "string"
        },
        "dash": {
          "$ref": "DashConfig",
          "description": "`DASH` manifest configuration."
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type."
        }
      },
      "type": "object",
      "description": "Manifest configuration."
    },
    "Vp9ColorFormatSDR": {
      "properties": {},
      "type": "object",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "id": "Vp9ColorFormatSDR"
    },
    "Crop": {
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object",
      "properties": {
        "leftPixels": {
          "description": "The number of pixels to crop from the left. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "rightPixels": {
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "topPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the top. The default is 0.",
          "format": "int32"
        },
        "bottomPixels": {
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Crop"
    },
    "Aes128Encryption": {
      "description": "Configuration for AES-128 encryption.",
      "id": "Aes128Encryption",
      "type": "object",
      "properties": {}
    },
    "AudioMapping": {
      "id": "AudioMapping",
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
      "properties": {
        "inputChannel": {
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "format": "int32",
          "type": "integer"
        },
        "gainDb": {
          "format": "double",
          "type": "number",
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0."
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "inputTrack": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file."
        },
        "atomKey": {
          "type": "string",
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list."
        },
        "outputChannel": {
          "description": "Required. The zero-based index of the channel in the output audio stream.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AnimationFade": {
      "properties": {
        "endTimeOffset": {
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "type": "string",
          "format": "google-duration"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string"
        },
        "fadeType": {
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "type": "string",
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ]
        },
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        }
      },
      "id": "AnimationFade",
      "description": "Display overlay object with fade animation.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AnimationStatic": {
      "description": "Display static overlay object.",
      "properties": {
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time to start displaying the overlay object, in seconds. Default: 0"
        }
      },
      "id": "AnimationStatic",
      "type": "object"
    },
    "SegmentSettings": {
      "type": "object",
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "id": "SegmentSettings",
      "properties": {
        "segmentDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream)."
        },
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "Output": {
      "type": "object",
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "id": "Output"
    }
  },
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "revision": "20260909",
  "rootUrl": "https://transcoder.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. "
}