{
  "rootUrl": "https://translation.googleapis.com/",
  "title": "Cloud Translation API",
  "revision": "20260901",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "id": "translate:v3",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "baseUrl": "https://translation.googleapis.com/",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "refineText": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "path": "v3/{+parent}:refineText",
              "request": {
                "$ref": "RefineTextRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "response": {
                "$ref": "RefineTextResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.refineText",
              "description": "Refines the input translated text to improve the quality."
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "path": "v3/{+name}/locations",
              "id": "translate.projects.locations.list",
              "httpMethod": "GET",
              "flatPath": "v3/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "getSupportedLanguages": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SupportedLanguages"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}/supportedLanguages",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "description": "Returns a list of supported languages for translation.",
              "id": "translate.projects.locations.getSupportedLanguages",
              "parameters": {
                "displayLanguageCode": {
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                },
                "model": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
                }
              }
            },
            "translateText": {
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "description": "Translates input text and returns translated text.",
              "id": "translate.projects.locations.translateText",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "path": "v3/{+parent}:translateText",
              "parameterOrder": [
                "parent"
              ]
            },
            "adaptiveMtTranslate": {
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "description": "Translate text using Adaptive MT.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "batchTranslateDocument": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}:batchTranslateDocument",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "httpMethod": "POST",
              "id": "translate.projects.locations.batchTranslateDocument",
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument"
            },
            "batchTranslateText": {
              "id": "translate.projects.locations.batchTranslateText",
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "httpMethod": "POST",
              "path": "v3/{+parent}:batchTranslateText",
              "response": {
                "$ref": "Operation"
              },
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            },
            "translateDocument": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:translateDocument",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "description": "Translates documents in synchronous mode.",
              "id": "translate.projects.locations.translateDocument"
            },
            "detectLanguage": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "path": "v3/{+parent}:detectLanguage",
              "id": "translate.projects.locations.detectLanguage",
              "response": {
                "$ref": "DetectLanguageResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Detects the language of text within a request.",
              "httpMethod": "POST"
            },
            "romanizeText": {
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "type": "string"
                }
              },
              "id": "translate.projects.locations.romanizeText",
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "path": "v3/{+parent}:romanizeText",
              "httpMethod": "POST",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "get": {
              "id": "translate.projects.locations.get",
              "description": "Gets information about a location.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v3/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "wait": {
                  "id": "translate.projects.locations.operations.wait",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "path": "v3/{+name}:wait",
                  "httpMethod": "POST",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "delete": {
                  "path": "v3/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "translate.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "path": "v3/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "translate.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v3/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "translate.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "translate.projects.locations.operations.cancel",
                  "path": "v3/{+name}:cancel"
                }
              }
            },
            "datasets": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Dataset"
                  },
                  "path": "v3/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the dataset to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.datasets.get"
                },
                "create": {
                  "request": {
                    "$ref": "Dataset"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+parent}/datasets",
                  "id": "translate.projects.locations.datasets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "path": "v3/{+name}",
                  "description": "Deletes a dataset and all of its contents.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to delete.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "translate.projects.locations.datasets.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "exportData": {
                  "description": "Exports dataset's data to the provided output location.",
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "path": "v3/{+dataset}:exportData",
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "parameters": {
                    "dataset": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "id": "translate.projects.locations.datasets.exportData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "importData": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.datasets.importData",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "path": "v3/{+dataset}:importData",
                  "parameterOrder": [
                    "dataset"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData",
                  "description": "Import sentence pairs into translation Dataset.",
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "id": "translate.projects.locations.datasets.list",
                  "path": "v3/{+parent}/datasets",
                  "description": "Lists datasets."
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v3/{+parent}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`"
                        },
                        "parent": {
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Lists sentence pairs in the dataset.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "translate.projects.locations.datasets.examples.list",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples"
                    }
                  }
                }
              }
            },
            "glossaries": {
              "resources": {
                "glossaryEntries": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a glossary entry.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$"
                        }
                      },
                      "path": "v3/{+name}"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/glossaryEntries",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.create",
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the glossary to create the entry under.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Creates a glossary entry.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries"
                    },
                    "get": {
                      "description": "Gets a single glossary entry by the given id.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+name}",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.get",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the glossary entry to get"
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the glossary entry to delete",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$"
                        }
                      },
                      "description": "Deletes a single entry from the glossary",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.delete",
                      "httpMethod": "DELETE"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListGlossaryEntriesResponse"
                      },
                      "description": "List the entries for the glossary.",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. The server may return fewer glossary entries than requested. If unspecified, the server picks an appropriate default.",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The parent glossary resource name for listing the glossary's entries.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossaryEntriesResponse.next_page_token] returned from the previous call. The first page is returned if `page_token`is empty or missing.",
                          "location": "query"
                        }
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.glossaries.create",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "description": "Creates a glossary and returns the long-running operation. Returns NOT_FOUND, if the project doesn't exist.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The project name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v3/{+parent}/glossaries",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Glossary"
                  }
                },
                "delete": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the glossary to delete."
                    }
                  },
                  "id": "translate.projects.locations.glossaries.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a glossary, or cancels glossary construction if the glossary isn't created yet. Returns NOT_FOUND, if the glossary doesn't exist."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated. Currently, only `display_name` and `input_config` are supported.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "description": "Updates a glossary. A LRO is used since the update can be async if the glossary's entry file is updated.",
                  "id": "translate.projects.locations.glossaries.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Glossary"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGlossariesResponse"
                  },
                  "path": "v3/{+parent}/glossaries",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossariesResponse.next_page_token] returned from the previous call to `ListGlossaries` method. The first page is returned if `page_token`is empty or missing."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server may return fewer glossaries than requested. If unspecified, the server picks an appropriate default."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter specifying constraints of a list operation. Specify the constraint by the format of \"key=value\", where key must be \"src\" or \"tgt\", and the value must be a valid language code. For multiple restrictions, concatenate them by \"AND\" (uppercase only), such as: \"src=en-US AND tgt=zh-CN\". Notice that the exact match is used here, which means using 'en-US' and 'en' can lead to different results, which depends on the language code you used when you create the glossary. For the unidirectional glossaries, the \"src\" and \"tgt\" add restrictions on the source and target language code separately. For the equivalent term set glossaries, the \"src\" and/or \"tgt\" add restrictions on the term set. For example: \"src=en-US AND tgt=zh-CN\" will only pick the unidirectional glossaries which exactly match the source language code as \"en-US\" and the target language code \"zh-CN\", but all equivalent term set glossaries which contain \"en-US\" and \"zh-CN\" in their language set will be picked. If missing, no filtering is performed.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the project from which to list all of the glossaries.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "translate.projects.locations.glossaries.list",
                  "description": "Lists glossaries in a project. Returns NOT_FOUND, if the project doesn't exist."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "description": "Gets a glossary. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "path": "v3/{+name}",
                  "id": "translate.projects.locations.glossaries.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the glossary to retrieve.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Glossary"
                  }
                }
              }
            },
            "models": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListModelsResponse"
                  },
                  "path": "v3/{+parent}/models",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists models.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "id": "translate.projects.locations.models.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the models that will be returned. Supported filter: `dataset_id=${dataset_id}`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server can return fewer results than requested."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListModels call.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "id": "translate.projects.locations.models.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "description": "Required. The name of the model to delete."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a model."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project name, in form of `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a Model.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+parent}/models",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.models.create",
                  "request": {
                    "$ref": "Model"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "response": {
                    "$ref": "Model"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the model to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "description": "Gets a model.",
                  "id": "translate.projects.locations.models.get",
                  "httpMethod": "GET"
                }
              }
            },
            "adaptiveMtDatasets": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "type": "string"
                    }
                  },
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission.",
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "importAdaptiveMtFile": {
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset."
                },
                "delete": {
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.create",
                  "description": "Creates an Adaptive MT dataset.",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`"
                    }
                  },
                  "path": "v3/{+parent}/adaptiveMtDatasets"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "description": "Gets the Adaptive MT dataset.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`"
                    }
                  },
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "path": "v3/{+name}"
                }
              },
              "resources": {
                "adaptiveMtSentences": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListAdaptiveMtSentencesResponse"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtSentences.list",
                      "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtSentences",
                      "path": "v3/{+parent}/adaptiveMtSentences",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "adaptiveMtFiles": {
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}/adaptiveMtSentences",
                          "httpMethod": "GET",
                          "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-translation"
                          ],
                          "response": {
                            "$ref": "ListAdaptiveMtSentencesResponse"
                          },
                          "path": "v3/{+parent}/adaptiveMtSentences"
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the file to delete, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$"
                        }
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes an AdaptiveMtFile along with its sentences.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    },
                    "get": {
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "description": "Gets and AdaptiveMtFile",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "AdaptiveMtFile"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. "
                        },
                        "parent": {
                          "description": "Required. The resource name of the dataset from which to list the Adaptive MT files. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtFilesResponse.next_page_token returned from the previous call to `ListAdaptiveMtFiles` method. The first page is returned if `page_token`is empty or missing."
                        }
                      },
                      "response": {
                        "$ref": "ListAdaptiveMtFilesResponse"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.list",
                      "description": "Lists all AdaptiveMtFiles associated to an AdaptiveMtDataset.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles",
                      "httpMethod": "GET",
                      "path": "v3/{+parent}/adaptiveMtFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "translateText": {
          "flatPath": "v3/projects/{projectsId}:translateText",
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v3/{+parent}:translateText",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "description": "Translates input text and returns translated text.",
          "id": "translate.projects.translateText",
          "httpMethod": "POST"
        },
        "getSupportedLanguages": {
          "id": "translate.projects.getSupportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "path": "v3/{+parent}/supportedLanguages",
          "parameters": {
            "model": {
              "type": "string",
              "location": "query",
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
            },
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "description": "Returns a list of supported languages for translation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SupportedLanguages"
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "romanizeText": {
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "id": "translate.projects.romanizeText",
          "path": "v3/{+parent}:romanizeText",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
              "pattern": "^projects/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "httpMethod": "POST",
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "detectLanguage": {
          "path": "v3/{+parent}:detectLanguage",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "description": "Detects the language of text within a request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "id": "translate.projects.detectLanguage",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "DetectLanguageResponse"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "DocumentInputConfig": {
      "id": "DocumentInputConfig",
      "type": "object",
      "description": "A document translation request input config.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Document's content represented as a stream of bytes.",
          "format": "byte"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf",
          "$ref": "GcsSource"
        },
        "mimeType": {
          "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "type": "string"
        }
      }
    },
    "Model": {
      "properties": {
        "sourceLanguageCode": {
          "readOnly": true,
          "description": "Output only. The BCP-47 language code of the source language.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this model was last updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        },
        "trainExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "readOnly": true
        },
        "testExampleCount": {
          "type": "integer",
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "readOnly": true,
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started."
        },
        "validateExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples (sentence pairs) used to validate the model.",
          "readOnly": true
        },
        "dataset": {
          "type": "string",
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        },
        "targetLanguageCode": {
          "description": "Output only. The BCP-47 language code of the target language.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Model",
      "description": "A trained translation model."
    },
    "GlossaryTerm": {
      "id": "GlossaryTerm",
      "description": "Represents a single glossary term",
      "properties": {
        "languageCode": {
          "description": "The language for this glossary term.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text for the glossary term."
        }
      },
      "type": "object"
    },
    "TranslateDocumentResponse": {
      "id": "TranslateDocumentResponse",
      "description": "A translated document response message.",
      "type": "object",
      "properties": {
        "documentTranslation": {
          "$ref": "DocumentTranslation",
          "description": "Translated document."
        },
        "glossaryDocumentTranslation": {
          "description": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply.",
          "$ref": "DocumentTranslation"
        },
        "model": {
          "type": "string",
          "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
        },
        "glossaryConfig": {
          "$ref": "TranslateTextGlossaryConfig",
          "description": "The `glossary_config` used for this translation."
        }
      }
    },
    "TranslateDocumentRequest": {
      "id": "TranslateDocumentRequest",
      "properties": {
        "isTranslateNativePdfOnly": {
          "type": "boolean",
          "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "documentInputConfig": {
          "$ref": "DocumentInputConfig",
          "description": "Required. Input configurations."
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "documentOutputConfig": {
          "$ref": "DocumentOutputConfig",
          "description": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type."
        },
        "enableRotationCorrection": {
          "type": "boolean",
          "description": "Optional. If true, enable auto rotation correction in DVS."
        },
        "model": {
          "type": "string",
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation."
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        }
      },
      "type": "object",
      "description": "A document translation request."
    },
    "LanguageCodesSet": {
      "description": "Used with equivalent term set glossaries.",
      "properties": {
        "languageCodes": {
          "type": "array",
          "description": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "LanguageCodesSet"
    },
    "GcsInputSource": {
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      },
      "id": "GcsInputSource",
      "type": "object",
      "description": "The Google Cloud Storage location for the input content."
    },
    "AdaptiveMtFile": {
      "id": "AdaptiveMtFile",
      "properties": {
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that the file contains."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this file was last updated."
        },
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this file was created."
        },
        "name": {
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An AdaptiveMtFile."
    },
    "RomanizeTextRequest": {
      "description": "The request message for synchronous romanization.",
      "properties": {
        "contents": {
          "type": "array",
          "description": "Required. The content of the input in string format.",
          "items": {
            "type": "string"
          }
        },
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RomanizeTextRequest"
    },
    "ListDatasetsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page."
        },
        "datasets": {
          "items": {
            "$ref": "Dataset"
          },
          "type": "array",
          "description": "The datasets read."
        }
      },
      "type": "object",
      "id": "ListDatasetsResponse",
      "description": "Response message for ListDatasets."
    },
    "LanguageCodePair": {
      "properties": {
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code."
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Used with unidirectional glossaries.",
      "id": "LanguageCodePair"
    },
    "ListAdaptiveMtFilesResponse": {
      "properties": {
        "nextPageToken": {
[...]
