{
  "servicePath": "language/translate/",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "canonicalName": "Translate",
  "protocol": "rest",
  "rootUrl": "https://translation.googleapis.com/",
  "id": "translate:v2",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "version": "v2",
  "ownerDomain": "google.com",
  "name": "translate",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "parameters": {
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query",
              "type": "string"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "id": "language.languages.list",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "v2/languages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns a list of supported languages for translation.",
          "httpMethod": "GET"
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "id": "language.detections.list",
          "description": "Detects the language of text within a request.",
          "parameterOrder": [
            "q"
          ]
        },
        "detect": {
          "id": "language.detections.detect",
          "parameters": {},
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "description": "Detects the language of text within a request.",
          "parameterOrder": []
        }
      }
    },
    "translations": {
      "methods": {
        "translate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2",
          "id": "language.translations.translate",
          "httpMethod": "POST",
          "description": "Translates input text, returning translated text.",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "request": {
            "$ref": "TranslateTextRequest"
          }
        },
        "list": {
          "path": "v2",
          "parameterOrder": [
            "q",
            "target"
          ],
          "parameters": {
            "q": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true
            },
            "format": {
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ]
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "target": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query",
              "type": "string"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            }
          },
          "httpMethod": "GET",
          "id": "language.translations.list",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Translates input text, returning translated text."
        }
      }
    }
  },
  "title": "Google Cloud Translation API",
  "kind": "discovery#restDescription",
  "basePath": "/language/translate/",
  "features": [
    "dataWrapper"
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "batchPath": "batch/translate",
  "schemas": {
    "DetectionsResource": {
      "type": "array",
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "properties": {
          "confidence": {
            "type": "number",
            "description": "The confidence of the detection result of this language.",
            "format": "float"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        },
        "type": "object"
      }
    },
    "GetSupportedLanguagesRequest": {
      "description": "The request message for discovering supported languages.",
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest"
    },
    "TranslateTextRequest": {
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        }
      },
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "id": "TranslateTextRequest"
    },
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "type": "object"
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "type": "array",
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    },
    "TranslationsResource": {
      "properties": {
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language."
        }
      },
      "type": "object",
      "id": "TranslationsResource"
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "LanguagesResource": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      },
      "id": "LanguagesResource",
      "type": "object"
    },
    "DetectLanguageRequest": {
      "type": "object",
      "description": "The request message for language detection.",
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "revision": "20170525"
}