{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Transcoder API",
  "batchPath": "batch",
  "baseUrl": "https://transcoder.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260819",
  "canonicalName": "Transcoder",
  "version": "v1",
  "version_module": true,
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobs": {
              "methods": {
                "list": {
                  "id": "transcoder.projects.locations.jobs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "description": "Lists jobs in the specified region.",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "path": "v1/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "transcoder.projects.locations.jobs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Returns the job data.",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "id": "transcoder.projects.locations.jobs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "description": "Creates a job in the specified region.",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "delete": {
                  "id": "transcoder.projects.locations.jobs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Deletes a job.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "jobTemplates": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a job template.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "path": "v1/{+parent}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "jobTemplateId": {
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job template in the specified region.",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates"
                },
                "list": {
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "description": "Lists job templates in the specified region.",
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "path": "v1/{+parent}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "description": "Returns the job template data.",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "basePath": "",
  "schemas": {
    "JobConfig": {
      "id": "JobConfig",
      "properties": {
        "encryptions": {
          "items": {
            "$ref": "Encryption"
          },
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output.",
          "type": "array"
        },
        "editList": {
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest.",
          "type": "array",
          "items": {
            "$ref": "EditAtom"
          }
        },
        "inputs": {
          "description": "List of input assets stored in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "Input"
          }
        },
        "elementaryStreams": {
          "items": {
            "$ref": "ElementaryStream"
          },
          "description": "List of elementary streams.",
          "type": "array"
        },
        "spriteSheets": {
          "items": {
            "$ref": "SpriteSheet"
          },
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig.",
          "type": "array"
        },
        "output": {
          "description": "Output configuration.",
          "$ref": "Output"
        },
        "overlays": {
          "description": "List of overlays on the output video, in descending Z-order.",
          "type": "array",
          "items": {
            "$ref": "Overlay"
          }
        },
        "adBreaks": {
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "type": "array",
          "items": {
            "$ref": "AdBreak"
          }
        },
        "pubsubDestination": {
          "$ref": "PubsubDestination",
          "description": "Destination on Pub/Sub."
        },
        "muxStreams": {
          "items": {
            "$ref": "MuxStream"
          },
          "description": "List of multiplexing settings for output streams.",
          "type": "array"
        },
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "description": "List of output manifests.",
          "type": "array"
        }
      },
      "description": "Job configuration",
      "type": "object"
    },
    "H264CodecSettings": {
      "description": "H264 codec settings.",
      "type": "object",
      "properties": {
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        },
        "vbvFullnessBits": {
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits.",
          "type": "integer",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "vbvSizeBits": {
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps.",
          "type": "integer"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number",
          "format": "double"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H264.",
          "$ref": "H264ColorFormatHLG"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer",
          "format": "int32"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "bitrateBps": {
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "type": "integer"
        },
        "bFrameCount": {
          "format": "int32",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "type": "integer"
        },
        "sdr": {
          "$ref": "H264ColorFormatSDR",
          "description": "Optional. SDR color format setting for H264."
        }
      },
      "id": "H264CodecSettings"
    },
    "H265ColorFormatHLG": {
      "id": "H265ColorFormatHLG",
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object"
    },
    "Image": {
      "description": "Overlaid image.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported.",
          "type": "string"
        },
        "resolution": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
        },
        "alpha": {
          "format": "double",
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "type": "number"
        }
      },
      "id": "Image"
    },
    "Denoise": {
      "properties": {
        "strength": {
          "format": "double",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number"
        },
        "tune": {
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`",
          "type": "string"
        }
      },
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "id": "Denoise"
    },
    "AnimationStatic": {
      "properties": {
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "startTimeOffset": {
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Display static overlay object.",
      "type": "object",
      "id": "AnimationStatic"
    },
    "H265ColorFormatSDR": {
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object",
      "id": "H265ColorFormatSDR"
    },
    "DashConfig": {
      "description": "`DASH` manifest configuration.",
      "type": "object",
      "properties": {
        "segmentReferenceScheme": {
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ],
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ],
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "type": "string"
        }
      },
      "id": "DashConfig"
    },
    "SampleAesEncryption": {
      "id": "SampleAesEncryption",
      "properties": {},
      "description": "Configuration for SAMPLE-AES encryption.",
      "type": "object"
    },
    "MpegCommonEncryption": {
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "type": "object",
      "properties": {
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`",
          "type": "string"
        }
      },
      "id": "MpegCommonEncryption"
    },
    "YadifConfig": {
      "id": "YadifConfig",
      "description": "Yet Another Deinterlacing Filter Configuration.",
      "type": "object",
      "properties": {
        "disableSpatialInterlacing": {
          "description": "Disable spacial interlacing. The default is `false`.",
          "type": "boolean"
        },
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        }
      }
    },
    "TextMapping": {
      "properties": {
        "atomKey": {
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer",
          "format": "int32"
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        }
      },
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
      "type": "object",
      "id": "TextMapping"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`",
          "type": "string"
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the transcoding finished.",
          "type": "string"
        },
        "ttlAfterCompletionDays": {
          "format": "int32",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "type": "integer"
        },
        "templateId": {
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ],
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ],
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the job was created.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time the transcoding started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the job."
        },
        "optimization": {
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ],
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ],
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`."
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "batchModePriority": {
          "format": "int32",
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job.",
          "type": "integer"
        },
        "fillContentGaps": {
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream.",
          "type": "boolean"
        }
      },
      "description": "Transcoding job resource.",
      "type": "object"
    },
    "JobTemplate": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job template. You can use these to organize and group your job templates.",
          "type": "object"
        },
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        }
      },
      "description": "Transcoding job template resource.",
      "type": "object",
      "id": "JobTemplate"
    },
    "Deinterlace": {
      "description": "Deinterlace configuration for input video.",
      "type": "object",
      "properties": {
        "bwdif": {
          "$ref": "BwdifConfig",
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration."
        },
        "yadif": {
          "$ref": "YadifConfig",
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration."
        }
      },
      "id": "Deinterlace"
    },
    "H264ColorFormatHLG": {
      "id": "H264ColorFormatHLG",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object",
      "properties": {}
    },
    "H265CodecSettings": {
      "properties": {
        "hlg": {
          "description": "Optional. HLG color format setting for H265.",
          "$ref": "H265ColorFormatHLG"
        },
        "widthPixels": {
          "format": "int32",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "hdr10": {
          "$ref": "H265ColorFormatHDR10",
          "description": "Optional. HDR10 color format setting for H265."
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer",
          "format": "int32"
        },
        "aqStrength": {
          "format": "double",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "bitrateBps": {
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "type": "integer"
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "sdr": {
          "$ref": "H265ColorFormatSDR",
          "description": "Optional. SDR color format setting for H265."
        },
        "gopFrameCount": {
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer"
        },
        "vbvFullnessBits": {
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.",
          "type": "integer",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ]
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "gopDuration": {
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer",
          "format": "int32"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number",
          "format": "double"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        }
      },
      "description": "H265 codec settings.",
      "type": "object",
      "id": "H265CodecSettings"
    },
    "Fmp4Config": {
      "description": "`fmp4` container configuration.",
      "type": "object",
      "properties": {
        "codecTag": {
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`",
          "type": "string"
        }
      },
      "id": "Fmp4Config"
    },
    "Animation": {
      "id": "Animation",
      "properties": {
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationFade": {
          "$ref": "AnimationFade",
          "description": "Display overlay object with fade animation."
        },
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        }
      },
      "description": "Animation types.",
      "type": "object"
    },
    "VideoStream": {
      "id": "VideoStream",
      "properties": {
        "h265": {
          "$ref": "H265CodecSettings",
          "description": "H265 codec settings."
        },
        "vp9": {
          "$ref": "Vp9CodecSettings",
          "description": "VP9 codec settings."
        },
        "h264": {
          "description": "H264 codec settings.",
          "$ref": "H264CodecSettings"
        }
      },
      "description": "Video stream resource.",
      "type": "object"
    },
    "Input": {
      "description": "Input asset.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "attributes": {
          "$ref": "InputAttributes",
          "description": "Optional. Input Attributes."
        },
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        }
      },
      "id": "Input"
    },
    "TrackDefinition": {
      "properties": {
        "detectLanguages": {
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field.",
          "type": "boolean"
        },
        "detectedLanguages": {
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "inputTrack": {
          "format": "int32",
          "description": "The input track.",
          "type": "integer"
        },
        "languages": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "array"
        }
      },
      "description": "Track definition for the input asset.",
      "type": "object",
      "id": "TrackDefinition"
    },
    "Overlay": {
      "properties": {
        "image": {
          "description": "Image overlay.",
          "$ref": "Image"
        },
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "description": "List of animations. The list should be chronological, without any time overlap.",
          "type": "array"
        }
      },
      "description": "Overlay configuration.",
      "type": "object",
      "id": "Overlay"
    },
    "Aes128Encryption": {
      "id": "Aes128Encryption",
      "description": "Configuration for AES-128 encryption.",
      "type": "object",
      "properties": {}
    },
    "Vp9ColorFormatHLG": {
      "id": "Vp9ColorFormatHLG",
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object"
    },
    "SecretManagerSource": {
      "description": "Configuration for secrets stored in Google Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported.",
          "type": "string"
        }
      },
      "id": "SecretManagerSource"
    },
    "Encryption": {
      "id": "Encryption",
      "properties": {
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "drmSystems": {
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled.",
          "$ref": "DrmSystems"
        },
        "sampleAes": {
          "$ref": "SampleAesEncryption",
          "description": "Configuration for SAMPLE-AES encryption."
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        },
        "secretManagerKeySource": {
          "description": "Keys are stored in Google Secret Manager.",
          "$ref": "SecretManagerSource"
        },
        "aes128": {
          "$ref": "Aes128Encryption",
          "description": "Configuration for AES-128 encryption."
        }
      },
      "description": "Encryption settings.",
      "type": "object"
    },
    "Vp9CodecSettings": {
      "id": "Vp9CodecSettings",
      "properties": {
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate",
          "type": "string"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "sdr": {
          "$ref": "Vp9ColorFormatSDR",
          "description": "Optional. SDR color format setting for VP9."
        },
        "crfLevel": {
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "type": "integer"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message.",
          "type": "string"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for VP9.",
          "$ref": "Vp9ColorFormatHLG"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "VP9 codec settings.",
      "type": "object"
    },
    "Color": {
      "id": "Color",
      "properties": {
        "saturation": {
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "contrast": {
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "type": "number"
        },
        "brightness": {
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Deblock": {
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "properties": {
        "strength": {
          "format": "double",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "type": "number"
        },
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        }
      },
      "id": "Deblock"
    },
    "Output": {
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "id": "Output"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status"
    },
    "PreprocessingConfig": {
      "id": "PreprocessingConfig",
      "description": "Preprocessing configurations.",
      "type": "object",
      "properties": {
        "deblock": {
          "description": "Deblock preprocessing configuration.",
          "$ref": "Deblock"
        },
        "crop": {
          "$ref": "Crop",
          "description": "Specify the video cropping configuration."
        },
        "denoise": {
          "description": "Denoise preprocessing configuration.",
          "$ref": "Denoise"
        },
        "pad": {
          "$ref": "Pad",
          "description": "Specify the video pad filter configuration."
        },
        "audio": {
          "$ref": "Audio",
          "description": "Audio preprocessing configuration."
        },
        "color": {
          "$ref": "Color",
          "description": "Color preprocessing configuration."
        },
        "deinterlace": {
          "$ref": "Deinterlace",
          "description": "Specify the video deinterlace configuration."
        }
      }
    },
    "PubsubDestination": {
      "id": "PubsubDestination",
      "description": "A Pub/Sub destination.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      }
    },
    "Clearkey": {
      "id": "Clearkey",
      "description": "Clearkey configuration.",
      "type": "object",
      "properties": {}
    },
    "Audio": {
      "id": "Audio",
      "properties": {
        "lufs": {
          "format": "double",
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "type": "number"
        },
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        }
      },
      "description": "Audio preprocessing configuration.",
      "type": "object"
    },
    "AudioStream": {
      "properties": {
        "bitrateBps": {
          "format": "int32",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "type": "integer"
        },
        "sampleRateHertz": {
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        },
        "channelCount": {
          "format": "int32",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "type": "integer"
        },
        "mapping": {
          "items": {
            "$ref": "AudioMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
          "type": "array"
        },
        "codec": {
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`",
          "type": "string"
        },
        "channelLayout": {
          "items": {
            "type": "string"
          },
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "type": "array"
        }
      },
      "description": "Audio stream resource.",
      "type": "object",
      "id": "AudioStream"
    },
    "InputAttributes": {
      "id": "InputAttributes",
      "description": "Input attributes that provide additional information about the input asset.",
      "type": "object",
      "properties": {
        "trackDefinitions": {
          "description": "Optional. A list of track definitions for the input asset.",
          "type": "array",
          "items": {
            "$ref": "TrackDefinition"
          }
        }
      }
    },
    "EditAtom": {
      "properties": {
        "inputs": {
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startTimeOffset": {
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "type": "string",
          "format": "google-duration"
        },
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        },
        "endTimeOffset": {
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Edit atom.",
      "type": "object",
      "id": "EditAtom"
    },
    "H265ColorFormatHDR10": {
      "properties": {},
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video.",
      "type": "object",
      "id": "H265ColorFormatHDR10"
    },
    "Vp9ColorFormatSDR": {
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object",
      "id": "Vp9ColorFormatSDR"
    },
    "Playready": {
      "properties": {},
      "description": "Playready configuration.",
      "type": "object",
      "id": "Playready"
    },
    "Pad": {
      "properties": {
        "topPixels": {
          "description": "The number of pixels to add to the top. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "leftPixels": {
          "description": "The number of pixels to add to the left. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "bottomPixels": {
          "description": "The number of pixels to add to the bottom. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the right. The default is 0.",
          "type": "integer"
        }
      },
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "type": "object",
      "id": "Pad"
    },
    "AudioMapping": {
      "id": "AudioMapping",
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
      "type": "object",
      "properties": {
        "atomKey": {
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "gainDb": {
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "inputChannel": {
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "type": "integer",
          "format": "int32"
        },
        "outputChannel": {
          "description": "Required. The zero-based index of the channel in the output audio stream.",
          "type": "integer",
          "format": "int32"
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DrmSystems": {
      "description": "Defines configuration for DRM systems in use.",
      "type": "object",
      "properties": {
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        },
        "fairplay": {
          "$ref": "Fairplay",
          "description": "Fairplay configuration."
        },
        "widevine": {
          "description": "Widevine configuration.",
          "$ref": "Widevine"
        },
        "playready": {
          "$ref": "Playready",
          "description": "Playready configuration."
        }
      },
      "id": "DrmSystems"
    },
    "SegmentSettings": {
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "type": "object",
      "properties": {
        "segmentDuration": {
          "format": "google-duration",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream).",
          "type": "string"
        },
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        }
      },
      "id": "SegmentSettings"
    },
    "AnimationFade": {
      "description": "Display overlay object with fade animation.",
      "type": "object",
      "properties": {
        "fadeType": {
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string",
          "format": "google-duration"
        },
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "type": "string"
        }
      },
      "id": "AnimationFade"
    },
    "Crop": {
      "properties": {
        "topPixels": {
          "description": "The number of pixels to crop from the top. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the left. The default is 0.",
          "type": "integer"
        },
        "bottomPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "type": "integer"
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer"
        }
      },
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object",
      "id": "Crop"
    },
    "BwdifConfig": {
      "description": "Bob Weaver Deinterlacing Filter Configuration.",
      "type": "object",
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        }
      },
      "id": "BwdifConfig"
    },
    "ElementaryStream": {
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "type": "object",
      "properties": {
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        },
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        },
        "audioStream": {
          "$ref": "AudioStream",
          "description": "Encoding of an audio stream."
        },
        "textStream": {
          "$ref": "TextStream",
          "description": "Encoding of a text stream. For example, closed captions or subtitles."
        }
      },
      "id": "ElementaryStream"
    },
    "H264ColorFormatSDR": {
      "id": "H264ColorFormatSDR",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object",
      "properties": {}
    },
    "SpriteSheet": {
      "description": "Sprite sheet configuration.",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "rowCount": {
          "format": "int32",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "type": "integer"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "type": "string"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "spriteHeightPixels": {
          "format": "int32",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "spriteWidthPixels": {
          "format": "int32",
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "columnCount": {
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "type": "integer",
          "format": "int32"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "type": "integer",
          "format": "int32"
        },
        "quality": {
          "format": "int32",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "type": "integer"
        }
      },
      "id": "SpriteSheet"
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of regions that could not be reached.",
          "type": "array"
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        }
      },
      "description": "Response message for `TranscoderService.ListJobs`.",
      "type": "object"
    },
    "Widevine": {
      "description": "Widevine configuration.",
      "type": "object",
      "properties": {},
      "id": "Widevine"
    },
    "TextStream": {
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        },
        "codec": {
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`",
          "type": "string"
        },
        "mapping": {
          "items": {
            "$ref": "TextMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
          "type": "array"
        },
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        }
      },
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "type": "object",
      "id": "TextStream"
    },
    "NormalizedCoordinate": {
      "id": "NormalizedCoordinate",
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "type": "object",
      "properties": {
        "x": {
          "format": "double",
          "description": "Normalized x coordinate.",
          "type": "number"
        },
        "y": {
          "description": "Normalized y coordinate.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ListJobTemplatesResponse": {
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "type": "object",
      "properties": {
        "jobTemplates": {
          "items": {
            "$ref": "JobTemplate"
          },
          "description": "List of job templates in the specified region.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of regions that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListJobTemplatesResponse"
    },
    "AnimationEnd": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to end overlay object, in seconds. Default: 0",
          "type": "string"
        }
      },
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video.",
      "type": "object",
      "id": "AnimationEnd"
    },
    "AdBreak": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "type": "string"
        }
      },
      "description": "Ad break.",
      "type": "object",
      "id": "AdBreak"
    },
    "Fairplay": {
      "id": "Fairplay",
      "description": "Fairplay configuration.",
      "type": "object",
      "properties": {}
    },
    "Manifest": {
      "id": "Manifest",
      "description": "Manifest configuration.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ],
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "description": "Required. Type of the manifest.",
          "type": "string"
        },
        "dash": {
          "$ref": "DashConfig",
          "description": "`DASH` manifest configuration."
        },
        "fileName": {
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type.",
          "type": "string"
        },
        "muxStreams": {
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MuxStream": {
      "id": "MuxStream",
      "properties": {
        "fileName": {
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`.",
          "type": "string"
        },
        "elementaryStreams": {
          "description": "List of ElementaryStream.key values multiplexed in this stream.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encryptionId": {
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted.",
          "type": "string"
        },
        "key": {
          "description": "A unique key for this multiplexed stream.",
          "type": "string"
        },
        "segmentSettings": {
          "$ref": "SegmentSettings",
          "description": "Segment settings for `ts`, `fmp4` and `vtt`."
        },
        "fmp4": {
          "description": "Optional. `fmp4` container configuration.",
          "$ref": "Fmp4Config"
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        }
      },
      "description": "Multiplexing settings for output stream.",
      "type": "object"
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "transcoder",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "id": "transcoder:v1",
  "rootUrl": "https://transcoder.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. "
}