{
  "id": "translate:v2",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "revision": "20170525",
  "version": "v2",
  "protocol": "rest",
  "servicePath": "language/translate/",
  "kind": "discovery#restDescription",
  "name": "translate",
  "features": [
    "dataWrapper"
  ],
  "batchPath": "batch/translate",
  "basePath": "/language/translate/",
  "canonicalName": "Translate",
  "ownerName": "Google",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "title": "Google Cloud Translation API",
  "discoveryVersion": "v1",
  "rootUrl": "https://translation.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "path": "v2/detect",
          "parameters": {
            "q": {
              "required": true,
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Detects the language of text within a request.",
          "httpMethod": "GET",
          "id": "language.detections.list",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [
            "q"
          ]
        },
        "detect": {
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect",
          "id": "language.detections.detect",
          "description": "Detects the language of text within a request."
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "parameters": {
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query",
              "type": "string"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "path": "v2/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.languages.list",
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation."
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "language.translations.list",
          "path": "v2",
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameters": {
            "cid": {
              "location": "query",
              "repeated": true,
              "description": "The customization id for translate",
              "type": "string"
            },
            "target": {
              "required": true,
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query"
            },
            "q": {
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query",
              "type": "string"
            },
            "format": {
              "location": "query",
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
            }
          },
          "parameterOrder": [
            "q",
            "target"
          ]
        },
        "translate": {
          "parameterOrder": [],
          "description": "Translates input text, returning translated text.",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "id": "language.translations.translate",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        }
      }
    }
  },
  "schemas": {
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "properties": {
        "q": {
          "type": "array",
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest"
    },
    "LanguagesListResponse": {
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array"
        }
      },
      "id": "LanguagesListResponse"
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      }
    },
    "TranslateTextRequest": {
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "id": "GetSupportedLanguagesRequest"
    },
    "TranslationsResource": {
      "type": "object",
      "id": "TranslationsResource",
      "properties": {
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        }
      }
    },
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array",
          "description": "A detections contains detection results of several text"
        }
      }
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "format": "float",
            "type": "number",
            "description": "The confidence of the detection result of this language."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          }
        }
      }
    },
    "TranslationsListResponse": {
      "type": "object",
      "id": "TranslationsListResponse",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array",
          "description": "Translations contains list of translation results of given text"
        }
      }
    }
  },
  "ownerDomain": "google.com"
}