{
  "ownerDomain": "google.com",
  "id": "translate:v3",
  "basePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version_module": true,
  "title": "Cloud Translation API",
  "ownerName": "Google",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "version": "v3",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "name": "translate",
  "batchPath": "batch",
  "revision": "20260901",
  "kind": "discovery#restDescription",
  "rootUrl": "https://translation.googleapis.com/",
  "baseUrl": "https://translation.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "getSupportedLanguages": {
          "description": "Returns a list of supported languages for translation.",
          "path": "v3/{+parent}/supportedLanguages",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET",
          "id": "translate.projects.getSupportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "parameters": {
            "model": {
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
              "type": "string",
              "location": "query"
            },
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "SupportedLanguages"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ]
        },
        "romanizeText": {
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "parameterOrder": [
            "parent"
          ],
          "id": "translate.projects.romanizeText",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "path": "v3/{+parent}:romanizeText",
          "request": {
            "$ref": "RomanizeTextRequest"
          }
        },
        "detectLanguage": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "id": "translate.projects.detectLanguage",
          "path": "v3/{+parent}:detectLanguage"
        },
        "translateText": {
          "id": "translate.projects.translateText",
          "path": "v3/{+parent}:translateText",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "flatPath": "v3/projects/{projectsId}:translateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Translates input text and returns translated text.",
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            }
          },
          "response": {
            "$ref": "TranslateTextResponse"
          }
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "adaptiveMtDatasets": {
              "resources": {
                "adaptiveMtFiles": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.get",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "description": "Gets and AdaptiveMtFile",
                      "response": {
                        "$ref": "AdaptiveMtFile"
                      },
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "description": "Required. The resource name of the file to delete, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes an AdaptiveMtFile along with its sentences.",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}"
                    },
                    "list": {
                      "path": "v3/{+parent}/adaptiveMtFiles",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListAdaptiveMtFilesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the dataset from which to list the Adaptive MT files. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtFilesResponse.next_page_token returned from the previous call to `ListAdaptiveMtFiles` method. The first page is returned if `page_token`is empty or missing.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. "
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists all AdaptiveMtFiles associated to an AdaptiveMtDataset."
                    }
                  },
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing."
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-translation"
                          ],
                          "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}/adaptiveMtSentences",
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/adaptiveMtSentences",
                          "response": {
                            "$ref": "ListAdaptiveMtSentencesResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "adaptiveMtSentences": {
                  "methods": {
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtSentences",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ListAdaptiveMtSentencesResponse"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtSentences.list",
                      "path": "v3/{+parent}/adaptiveMtSentences",
                      "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "importAdaptiveMtFile": {
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "POST",
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an Adaptive MT dataset.",
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the Adaptive MT dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata.",
                  "httpMethod": "DELETE",
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission.",
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "glossaries": {
              "resources": {
                "glossaryEntries": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List the entries for the glossary.",
                      "response": {
                        "$ref": "ListGlossaryEntriesResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. The server may return fewer glossary entries than requested. If unspecified, the server picks an appropriate default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossaryEntriesResponse.next_page_token] returned from the previous call. The first page is returned if `page_token`is empty or missing."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent glossary resource name for listing the glossary's entries."
                        }
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.list"
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single entry from the glossary",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the glossary entry to delete"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.get",
                      "path": "v3/{+name}",
                      "description": "Gets a single glossary entry by the given id.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the glossary entry to get"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "id": "translate.projects.locations.glossaries.glossaryEntries.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "description": "Updates a glossary entry.",
                      "httpMethod": "PATCH",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "path": "v3/{+name}"
                    },
                    "create": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "description": "Creates a glossary entry.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The resource name of the glossary to create the entry under.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "id": "translate.projects.locations.glossaries.glossaryEntries.create"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the glossary to retrieve.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Glossary"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "description": "Gets a glossary. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "id": "translate.projects.locations.glossaries.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.glossaries.list",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "response": {
                    "$ref": "ListGlossariesResponse"
                  },
                  "path": "v3/{+parent}/glossaries",
                  "description": "Lists glossaries in a project. Returns NOT_FOUND, if the project doesn't exist.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossariesResponse.next_page_token] returned from the previous call to `ListGlossaries` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the project from which to list all of the glossaries.",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter specifying constraints of a list operation. Specify the constraint by the format of \"key=value\", where key must be \"src\" or \"tgt\", and the value must be a valid language code. For multiple restrictions, concatenate them by \"AND\" (uppercase only), such as: \"src=en-US AND tgt=zh-CN\". Notice that the exact match is used here, which means using 'en-US' and 'en' can lead to different results, which depends on the language code you used when you create the glossary. For the unidirectional glossaries, the \"src\" and \"tgt\" add restrictions on the source and target language code separately. For the equivalent term set glossaries, the \"src\" and/or \"tgt\" add restrictions on the term set. For example: \"src=en-US AND tgt=zh-CN\" will only pick the unidirectional glossaries which exactly match the source language code as \"en-US\" and the target language code \"zh-CN\", but all equivalent term set glossaries which contain \"en-US\" and \"zh-CN\" in their language set will be picked. If missing, no filtering is performed."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. The server may return fewer glossaries than requested. If unspecified, the server picks an appropriate default."
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a glossary, or cancels glossary construction if the glossary isn't created yet. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "description": "Required. The name of the glossary to delete.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "translate.projects.locations.glossaries.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+name}"
                },
                "patch": {
                  "id": "translate.projects.locations.glossaries.patch",
                  "description": "Updates a glossary. A LRO is used since the update can be async if the glossary's entry file is updated.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to be updated. Currently, only `display_name` and `input_config` are supported."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "request": {
                    "$ref": "Glossary"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates a glossary and returns the long-running operation. Returns NOT_FOUND, if the project doesn't exist.",
                  "id": "translate.projects.locations.glossaries.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+parent}/glossaries",
                  "request": {
                    "$ref": "Glossary"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project name.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries"
                }
              }
            },
            "models": {
              "methods": {
                "get": {
                  "id": "translate.projects.locations.models.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "description": "Required. The resource name of the model to retrieve."
                    }
                  },
                  "response": {
                    "$ref": "Model"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "path": "v3/{+name}",
                  "description": "Gets a model.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "create": {
                  "path": "v3/{+parent}/models",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates a Model.",
                  "id": "translate.projects.locations.models.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The project name, in form of `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Model"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models"
                },
                "list": {
                  "id": "translate.projects.locations.models.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/models",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for filtering the models that will be returned. Supported filter: `dataset_id=${dataset_id}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListModels call."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListModelsResponse"
                  },
                  "description": "Lists models.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models"
                },
                "delete": {
                  "path": "v3/{+name}",
                  "httpMethod": "DELETE",
                  "id": "translate.projects.locations.models.delete",
                  "description": "Deletes a model.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the model to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                }
              }
            },
            "datasets": {
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/examples",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "type": "integer"
                        }
                      },
                      "description": "Lists sentence pairs in the dataset.",
                      "id": "translate.projects.locations.datasets.examples.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "path": "v3/{+parent}/datasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call.",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.datasets.list",
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "description": "Lists datasets.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets"
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v3/{+parent}/datasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "id": "translate.projects.locations.datasets.create",
                  "description": "Creates a Dataset.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project name."
                    }
                  },
                  "request": {
                    "$ref": "Dataset"
                  }
                },
                "exportData": {
                  "parameterOrder": [
                    "dataset"
                  ],
                  "description": "Exports dataset's data to the provided output location.",
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "id": "translate.projects.locations.datasets.exportData",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+dataset}:exportData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "importData": {
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "dataset"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Import sentence pairs into translation Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData",
                  "path": "v3/{+dataset}:importData",
                  "id": "translate.projects.locations.datasets.importData"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the dataset to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.datasets.get",
                  "response": {
                    "$ref": "Dataset"
                  },
                  "path": "v3/{+name}",
                  "description": "Gets a Dataset.",
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "description": "Deletes a dataset and all of its contents.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the dataset to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.datasets.delete",
                  "path": "v3/{+name}"
                }
              }
            },
            "operations": {
              "methods": {
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "translate.projects.locations.operations.wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v3/{+name}:wait",
                  "request": {
                    "$ref": "WaitOperationRequest"
                  }
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "translate.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v3/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "id": "translate.projects.locations.operations.list",
                  "path": "v3/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "translate.projects.locations.operations.delete",
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                }
              }
            }
          },
          "methods": {
            "getSupportedLanguages": {
              "httpMethod": "GET",
              "parameters": {
                "displayLanguageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                },
                "model": {
                  "location": "query",
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SupportedLanguages"
              },
              "description": "Returns a list of supported languages for translation.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "id": "translate.projects.locations.getSupportedLanguages",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}/supportedLanguages"
            },
            "romanizeText": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "path": "v3/{+parent}:romanizeText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.romanizeText",
              "httpMethod": "POST"
            },
            "refineText": {
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "translate.projects.locations.refineText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "response": {
                "$ref": "RefineTextResponse"
              },
              "description": "Refines the input translated text to improve the quality.",
              "path": "v3/{+parent}:refineText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "RefineTextRequest"
              }
            },
            "detectLanguage": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.detectLanguage",
              "path": "v3/{+parent}:detectLanguage",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "description": "Detects the language of text within a request.",
              "response": {
                "$ref": "DetectLanguageResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              }
            },
            "translateDocument": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}:translateDocument",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.translateDocument",
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "description": "Translates documents in synchronous mode.",
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+name}/locations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "translate.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v3/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "batchTranslateDocument": {
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v3/{+parent}:batchTranslateDocument",
              "parameterOrder": [
                "parent"
              ],
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "id": "translate.projects.locations.batchTranslateDocument",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument",
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            },
            "translateText": {
              "httpMethod": "POST",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "id": "translate.projects.locations.translateText",
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "description": "Translates input text and returns translated text.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v3/{+parent}:translateText"
            },
            "get": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "id": "translate.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+name}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            },
            "batchTranslateText": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "httpMethod": "POST",
              "path": "v3/{+parent}:batchTranslateText",
              "id": "translate.projects.locations.batchTranslateText",
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "adaptiveMtTranslate": {
              "httpMethod": "POST",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translate text using Adaptive MT.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`."
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ListAdaptiveMtDatasetsResponse": {
      "id": "ListAdaptiveMtDatasetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results."
        },
        "adaptiveMtDatasets": {
          "readOnly": true,
          "items": {
            "$ref": "AdaptiveMtDataset"
          },
          "description": "Output only. A list of Adaptive MT datasets.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of AdaptiveMtDatasets."
    },
    "BatchDocumentInputConfig": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB.",
          "$ref": "GcsSource"
        }
      },
      "type": "object",
      "id": "BatchDocumentInputConfig",
      "description": "Input configuration for BatchTranslateDocument request."
    },
    "ImportDataRequest": {
      "id": "ImportDataRequest",
      "properties": {
        "inputConfig": {
          "$ref": "DatasetInputConfig",
          "description": "Required. The config for the input content."
        }
      },
      "description": "Request message for ImportData.",
      "type": "object"
    },
    "TranslateTextGlossaryConfig": {
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "id": "TranslateTextGlossaryConfig",
      "properties": {
        "glossary": {
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`",
          "type": "string"
        },
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        },
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DocumentOutputConfig": {
      "description": "A document translation request output config.",
      "properties": {
        "mimeType": {
          "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "type": "string"
        },
        "gcsDestination": {
          "description": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket.",
          "$ref": "GcsDestination"
        }
      },
      "id": "DocumentOutputConfig",
      "type": "object"
    },
    "AdaptiveMtTranslateRequest": {
      "id": "AdaptiveMtTranslateRequest",
      "type": "object",
      "properties": {
        "glossaryConfig": {
          "$ref": "GlossaryConfig",
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned."
        },
        "referenceSentenceConfig": {
          "$ref": "ReferenceSentenceConfig",
          "description": "Configuration for caller provided reference sentences."
        },
        "dataset": {
          "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`",
          "type": "string"
        },
        "content": {
          "description": "Required. The content of the input in string format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "The format of the source text. Currently only text/plain is supported.",
          "type": "string"
        }
      },
      "description": "The request for sending an AdaptiveMt translation query."
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "AdaptiveMtDataset": {
      "type": "object",
      "id": "AdaptiveMtDataset",
      "description": "An Adaptive MT Dataset.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this dataset was last updated.",
          "format": "google-datetime"
        },
        "exampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples in the dataset."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the source language."
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
        }
      }
    },
    "BatchDocumentOutputConfig": {
      "type": "object",
      "description": "Output configuration for BatchTranslateDocument request.",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
[...]
