{
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "version": "v3",
  "resources": {
    "projects": {
      "methods": {
        "getSupportedLanguages": {
          "parameters": {
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
            },
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned."
            }
          },
          "path": "v3/{+parent}/supportedLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "response": {
            "$ref": "SupportedLanguages"
          },
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "parameterOrder": [
            "parent"
          ],
          "description": "Returns a list of supported languages for translation.",
          "id": "translate.projects.getSupportedLanguages",
          "httpMethod": "GET"
        },
        "romanizeText": {
          "httpMethod": "POST",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "path": "v3/{+parent}:romanizeText",
          "id": "translate.projects.romanizeText",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`."
            }
          },
          "request": {
            "$ref": "RomanizeTextRequest"
          }
        },
        "detectLanguage": {
          "httpMethod": "POST",
          "path": "v3/{+parent}:detectLanguage",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "id": "translate.projects.detectLanguage",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+$"
            }
          },
          "description": "Detects the language of text within a request."
        },
        "translateText": {
          "flatPath": "v3/projects/{projectsId}:translateText",
          "httpMethod": "POST",
          "description": "Translates input text and returns translated text.",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "path": "v3/{+parent}:translateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned."
            }
          },
          "id": "translate.projects.translateText"
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "translate.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "translate.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v3/{+name}/operations",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "translate.projects.locations.operations.list"
                },
                "wait": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}:wait",
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "translate.projects.locations.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v3/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "translate.projects.locations.operations.cancel",
                  "httpMethod": "POST"
                }
              }
            },
            "glossaries": {
              "methods": {
                "list": {
                  "id": "translate.projects.locations.glossaries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/glossaries",
                  "description": "Lists glossaries in a project. Returns NOT_FOUND, if the project doesn't exist.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. The server may return fewer glossaries than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossariesResponse.next_page_token] returned from the previous call to `ListGlossaries` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the project from which to list all of the glossaries."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter specifying constraints of a list operation. Specify the constraint by the format of \"key=value\", where key must be \"src\" or \"tgt\", and the value must be a valid language code. For multiple restrictions, concatenate them by \"AND\" (uppercase only), such as: \"src=en-US AND tgt=zh-CN\". Notice that the exact match is used here, which means using 'en-US' and 'en' can lead to different results, which depends on the language code you used when you create the glossary. For the unidirectional glossaries, the \"src\" and \"tgt\" add restrictions on the source and target language code separately. For the equivalent term set glossaries, the \"src\" and/or \"tgt\" add restrictions on the term set. For example: \"src=en-US AND tgt=zh-CN\" will only pick the unidirectional glossaries which exactly match the source language code as \"en-US\" and the target language code \"zh-CN\", but all equivalent term set glossaries which contain \"en-US\" and \"zh-CN\" in their language set will be picked. If missing, no filtering is performed.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListGlossariesResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries"
                },
                "get": {
                  "id": "translate.projects.locations.glossaries.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "description": "Gets a glossary. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "response": {
                    "$ref": "Glossary"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the glossary to retrieve."
                    }
                  }
                },
                "create": {
                  "id": "translate.projects.locations.glossaries.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project name.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Glossary"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a glossary and returns the long-running operation. Returns NOT_FOUND, if the project doesn't exist.",
                  "path": "v3/{+parent}/glossaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`."
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to be updated. Currently, only `display_name` and `input_config` are supported.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "id": "translate.projects.locations.glossaries.patch",
                  "request": {
                    "$ref": "Glossary"
                  },
                  "description": "Updates a glossary. A LRO is used since the update can be async if the glossary's entry file is updated.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a glossary, or cancels glossary construction if the glossary isn't created yet. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the glossary to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "translate.projects.locations.glossaries.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                }
              },
              "resources": {
                "glossaryEntries": {
                  "methods": {
                    "patch": {
                      "id": "translate.projects.locations.glossaries.glossaryEntries.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "description": "Updates a glossary entry.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a single entry from the glossary",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the glossary entry to delete",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+name}",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.delete"
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the glossary entry to get",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$"
                        }
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.get",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+name}",
                      "description": "Gets a single glossary entry by the given id.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "description": "List the entries for the glossary.",
                      "httpMethod": "GET",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "response": {
                        "$ref": "ListGlossaryEntriesResponse"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+parent}/glossaryEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "description": "Required. The parent glossary resource name for listing the glossary's entries.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossaryEntriesResponse.next_page_token] returned from the previous call. The first page is returned if `page_token`is empty or missing."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. The server may return fewer glossary entries than requested. If unspecified, the server picks an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        }
                      }
                    },
                    "create": {
                      "id": "translate.projects.locations.glossaries.glossaryEntries.create",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "description": "Required. The resource name of the glossary to create the entry under.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "description": "Creates a glossary entry.",
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "datasets": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to delete.",
                      "required": true
                    }
                  },
                  "id": "translate.projects.locations.datasets.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "description": "Deletes a dataset and all of its contents.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Dataset"
                  },
                  "id": "translate.projects.locations.datasets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a Dataset.",
                  "path": "v3/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the dataset to retrieve."
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "translate.projects.locations.datasets.create",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The project name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Dataset"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a Dataset.",
                  "path": "v3/{+parent}/datasets"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/datasets",
                  "description": "Lists datasets.",
                  "id": "translate.projects.locations.datasets.list",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call."
                    },
                    "parent": {
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "importData": {
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Import sentence pairs into translation Dataset.",
                  "id": "translate.projects.locations.datasets.importData",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData",
                  "parameters": {
                    "dataset": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+dataset}:importData"
                },
                "exportData": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "path": "v3/{+dataset}:exportData",
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "id": "translate.projects.locations.datasets.exportData",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "description": "Exports dataset's data to the provided output location.",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "description": "Lists sentence pairs in the dataset.",
                      "path": "v3/{+parent}/examples",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "id": "translate.projects.locations.datasets.examples.list"
                    }
                  }
                }
              }
            },
            "models": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the model to retrieve."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Model"
                  },
                  "id": "translate.projects.locations.models.get",
                  "description": "Gets a model."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project name, in form of `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Model"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+parent}/models",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.models.create",
                  "description": "Creates a Model.",
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a model.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "path": "v3/{+name}",
                  "id": "translate.projects.locations.models.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the model to delete.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/models",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListModels call.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the models that will be returned. Supported filter: `dataset_id=${dataset_id}`",
                      "location": "query"
                    }
                  },
                  "description": "Lists models.",
                  "response": {
                    "$ref": "ListModelsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "id": "translate.projects.locations.models.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "adaptiveMtDatasets": {
              "resources": {
                "adaptiveMtFiles": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListAdaptiveMtFilesResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles",
                      "httpMethod": "GET",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the dataset from which to list the Adaptive MT files. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtFilesResponse.next_page_token returned from the previous call to `ListAdaptiveMtFiles` method. The first page is returned if `page_token`is empty or missing.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. "
                        }
                      },
                      "path": "v3/{+parent}/adaptiveMtFiles",
                      "description": "Lists all AdaptiveMtFiles associated to an AdaptiveMtDataset.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "httpMethod": "DELETE",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "description": "Required. The resource name of the file to delete, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "required": true
                        }
                      },
                      "description": "Deletes an AdaptiveMtFile along with its sentences."
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "AdaptiveMtFile"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
                        }
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.get",
                      "description": "Gets and AdaptiveMtFile",
                      "httpMethod": "GET",
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  },
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-translation"
                          ],
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/adaptiveMtSentences",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "response": {
                            "$ref": "ListAdaptiveMtSentencesResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}/adaptiveMtSentences"
                        }
                      }
                    }
                  }
                },
                "adaptiveMtSentences": {
                  "methods": {
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtSentences",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAdaptiveMtSentencesResponse"
                      },
                      "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtSentences.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/adaptiveMtSentences",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "description": "Gets the Adaptive MT dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates an Adaptive MT dataset.",
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.create"
                },
                "importAdaptiveMtFile": {
                  "httpMethod": "POST",
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                    }
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "path": "v3/{+name}",
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "path": "v3/{+parent}/adaptiveMtDatasets"
                }
              }
            }
          },
          "methods": {
            "getSupportedLanguages": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}/supportedLanguages",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned."
                },
                "model": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
                },
                "displayLanguageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Returns a list of supported languages for translation.",
              "httpMethod": "GET",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "id": "translate.projects.locations.getSupportedLanguages",
              "response": {
                "$ref": "SupportedLanguages"
              }
            },
            "detectLanguage": {
              "httpMethod": "POST",
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "id": "translate.projects.locations.detectLanguage",
              "description": "Detects the language of text within a request.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "response": {
                "$ref": "DetectLanguageResponse"
              },
              "path": "v3/{+parent}:detectLanguage",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v3/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "id": "translate.projects.locations.get"
            },
            "translateDocument": {
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "path": "v3/{+parent}:translateDocument",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "id": "translate.projects.locations.translateDocument",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates documents in synchronous mode.",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchTranslateText": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "path": "v3/{+parent}:batchTranslateText",
              "id": "translate.projects.locations.batchTranslateText",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "translate.projects.locations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+name}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              }
            },
            "romanizeText": {
              "id": "translate.projects.locations.romanizeText",
              "httpMethod": "POST",
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "location": "path"
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "path": "v3/{+parent}:romanizeText",
              "response": {
                "$ref": "RomanizeTextResponse"
              }
            },
            "translateText": {
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "httpMethod": "POST",
              "id": "translate.projects.locations.translateText",
              "path": "v3/{+parent}:translateText",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates input text and returns translated text."
            },
            "adaptiveMtTranslate": {
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "httpMethod": "POST",
              "description": "Translate text using Adaptive MT.",
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "refineText": {
              "request": {
                "$ref": "RefineTextRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "RefineTextResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "required": true
                }
              },
              "id": "translate.projects.locations.refineText",
              "path": "v3/{+parent}:refineText",
              "description": "Refines the input translated text to improve the quality."
            },
            "batchTranslateDocument": {
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v3/{+parent}:batchTranslateDocument",
              "response": {
                "$ref": "Operation"
              },
              "id": "translate.projects.locations.batchTranslateDocument",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument"
            }
          }
        }
      }
    }
  },
  "name": "translate",
  "description": "Integrates text translation into your website or application.",
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "protocol": "rest",
  "rootUrl": "https://translation.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://translation.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Translate",
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20260901",
  "version_module": true,
  "servicePath": "",
  "batchPath": "batch",
  "id": "translate:v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "schemas": {
    "FileInputSource": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The file's mime type."
        },
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Required. The file's byte contents."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The file's display name."
        }
      },
      "description": "An inlined file.",
      "id": "FileInputSource",
      "type": "object"
    },
    "BatchTranslateTextRequest": {
      "id": "BatchTranslateTextRequest",
      "type": "object",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied for translation. It's keyed by target language code.",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          },
          "type": "object"
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "OutputConfig"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used."
        },
        "targetLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "inputConfigs": {
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding.",
          "type": "array",
          "items": {
            "$ref": "InputConfig"
          }
        }
      },
      "description": "The batch translation request."
    },
    "ListGlossaryEntriesResponse": {
      "id": "ListGlossaryEntriesResponse",
      "properties": {
        "glossaryEntries": {
          "description": "Optional. The Glossary Entries",
          "type": "array",
          "items": {
            "$ref": "GlossaryEntry"
          }
        },
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListGlossaryEntries"
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "description": "Response message for ListModels.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page.",
          "type": "string"
        },
        "models": {
          "description": "The models read.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        }
      },
      "type": "object"
    },
    "ImportDataRequest": {
      "id": "ImportDataRequest",
      "properties": {
        "inputConfig": {
          "$ref": "DatasetInputConfig",
          "description": "Required. The config for the input content."
        }
      },
      "description": "Request message for ImportData.",
      "type": "object"
    },
    "AdaptiveMtTranslateResponse": {
      "properties": {
        "glossaryTranslations": {
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        },
        "translations": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "readOnly": true,
          "description": "Output only. The translation."
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The translation's language code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdaptiveMtTranslateResponse",
      "description": "An AdaptiveMtTranslate response."
    },
    "OutputConfig": {
      "description": "Output configuration for BatchTranslateText request.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`"
        }
      },
      "id": "OutputConfig"
    },
    "TransliterationConfig": {
      "description": "Configures transliteration feature on top of translation.",
      "type": "object",
      "id": "TransliterationConfig",
      "properties": {
        "enableTransliteration": {
          "type": "boolean",
          "description": "If true, source text in romanized form can be translated to the target language."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "Glossary": {
      "properties": {
        "submitTime": {
          "readOnly": true,
          "description": "Output only. When CreateGlossary was called.",
          "type": "string",
[...]
