{
  "baseUrl": "https://transcoder.googleapis.com/",
  "protocol": "rest",
  "version_module": true,
  "rootUrl": "https://transcoder.googleapis.com/",
  "canonicalName": "Transcoder",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "discoveryVersion": "v1",
  "revision": "20260930",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "ownerName": "Google",
  "id": "transcoder:v1",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "get": {
                  "description": "Returns the job template data.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "id": "transcoder.projects.locations.jobTemplates.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists job templates in the specified region.",
                  "path": "v1/{+parent}/jobTemplates",
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "jobTemplateId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Creates a job template in the specified region.",
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "path": "v1/{+parent}/jobTemplates",
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a job template.",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}"
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the job data.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "GET",
                  "description": "Lists jobs in the specified region.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "transcoder.projects.locations.jobs.list",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "path": "v1/{+parent}/jobs"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "transcoder.projects.locations.jobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a job."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "transcoder.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "description": "Creates a job in the specified region.",
                  "path": "v1/{+parent}/jobs"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "fullyEncodeReservedExpansion": true,
  "title": "Transcoder API",
  "servicePath": "",
  "name": "transcoder",
  "schemas": {
    "Audio": {
      "type": "object",
      "id": "Audio",
      "properties": {
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "lufs": {
          "format": "double",
          "type": "number",
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization"
        },
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        }
      },
      "description": "Audio preprocessing configuration."
    },
    "Vp9ColorFormatHLG": {
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "properties": {},
      "id": "Vp9ColorFormatHLG",
      "type": "object"
    },
    "H265ColorFormatHLG": {
      "type": "object",
      "properties": {},
      "id": "H265ColorFormatHLG",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video."
    },
    "Input": {
      "id": "Input",
      "description": "Input asset.",
      "properties": {
        "attributes": {
          "description": "Optional. Input Attributes.",
          "$ref": "InputAttributes"
        },
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists."
        },
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobConfig": {
      "type": "object",
      "id": "JobConfig",
      "description": "Job configuration",
      "properties": {
        "editList": {
          "type": "array",
          "items": {
            "$ref": "EditAtom"
          },
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest."
        },
        "adBreaks": {
          "type": "array",
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "items": {
            "$ref": "AdBreak"
          }
        },
        "overlays": {
          "description": "List of overlays on the output video, in descending Z-order.",
          "type": "array",
          "items": {
            "$ref": "Overlay"
          }
        },
        "muxStreams": {
          "items": {
            "$ref": "MuxStream"
          },
          "type": "array",
          "description": "List of multiplexing settings for output streams."
        },
        "pubsubDestination": {
          "description": "Destination on Pub/Sub.",
          "$ref": "PubsubDestination"
        },
        "encryptions": {
          "type": "array",
          "items": {
            "$ref": "Encryption"
          },
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output."
        },
        "output": {
          "description": "Output configuration.",
          "$ref": "Output"
        },
        "spriteSheets": {
          "type": "array",
          "items": {
            "$ref": "SpriteSheet"
          },
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig."
        },
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "description": "List of output manifests.",
          "type": "array"
        },
        "inputs": {
          "description": "List of input assets stored in Cloud Storage.",
          "items": {
            "$ref": "Input"
          },
          "type": "array"
        },
        "elementaryStreams": {
          "description": "List of elementary streams.",
          "items": {
            "$ref": "ElementaryStream"
          },
          "type": "array"
        }
      }
    },
    "ElementaryStream": {
      "properties": {
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this elementary stream."
        },
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "videoStream": {
          "$ref": "VideoStream",
          "description": "Encoding of a video stream."
        }
      },
      "type": "object",
      "id": "ElementaryStream",
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats."
    },
    "DrmSystems": {
      "description": "Defines configuration for DRM systems in use.",
      "id": "DrmSystems",
      "type": "object",
      "properties": {
        "playready": {
          "$ref": "Playready",
          "description": "Playready configuration."
        },
        "widevine": {
          "description": "Widevine configuration.",
          "$ref": "Widevine"
        },
        "fairplay": {
          "description": "Fairplay configuration.",
          "$ref": "Fairplay"
        },
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        }
      }
    },
    "SpriteSheet": {
      "properties": {
        "totalCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100."
        },
        "startTimeOffset": {
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "quality": {
          "type": "integer",
          "format": "int32",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio."
        },
        "format": {
          "type": "string",
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`"
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "type": "string",
          "format": "google-duration"
        },
        "interval": {
          "format": "google-duration",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "type": "string"
        },
        "spriteHeightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit."
        },
        "columnCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit."
        }
      },
      "type": "object",
      "id": "SpriteSheet",
      "description": "Sprite sheet configuration."
    },
    "JobTemplate": {
      "properties": {
        "labels": {
          "description": "The labels associated with this job template. You can use these to organize and group your job templates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`"
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this template."
        }
      },
      "description": "Transcoding job template resource.",
      "id": "JobTemplate",
      "type": "object"
    },
    "TextStream": {
      "properties": {
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "codec": {
          "type": "string",
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`"
        },
        "mapping": {
          "items": {
            "$ref": "TextMapping"
          },
          "type": "array",
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs."
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        }
      },
      "id": "TextStream",
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "AudioStream": {
      "id": "AudioStream",
      "description": "Audio stream resource.",
      "type": "object",
      "properties": {
        "mapping": {
          "items": {
            "$ref": "AudioMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
          "type": "array"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files."
        },
        "channelLayout": {
          "items": {
            "type": "string"
          },
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "type": "array"
        },
        "channelCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2."
        },
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000."
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz."
        },
        "codec": {
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`",
          "type": "string"
        }
      }
    },
    "EditAtom": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`."
        },
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom."
        },
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        },
        "inputs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline."
        }
      },
      "description": "Edit atom.",
      "type": "object",
      "id": "EditAtom"
    },
    "SampleAesEncryption": {
      "properties": {},
      "type": "object",
      "description": "Configuration for SAMPLE-AES encryption.",
      "id": "SampleAesEncryption"
    },
    "Deblock": {
      "properties": {
        "strength": {
          "format": "double",
          "type": "number",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0."
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable deblocker. The default is `false`."
        }
      },
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "id": "Deblock",
      "type": "object"
    },
    "Color": {
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "id": "Color",
      "type": "object",
      "properties": {
        "saturation": {
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "brightness": {
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "contrast": {
          "type": "number",
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0."
        }
      }
    },
    "TrackDefinition": {
      "description": "Track definition for the input asset.",
      "properties": {
        "detectLanguages": {
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field.",
          "type": "boolean"
        },
        "languages": {
          "type": "array",
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "items": {
            "type": "string"
          }
        },
        "detectedLanguages": {
          "type": "array",
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "inputTrack": {
          "type": "integer",
          "format": "int32",
          "description": "The input track."
        }
      },
      "type": "object",
      "id": "TrackDefinition"
    },
    "SecretManagerSource": {
      "description": "Configuration for secrets stored in Google Secret Manager.",
      "id": "SecretManagerSource",
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported."
        }
      }
    },
    "AudioMapping": {
      "type": "object",
      "id": "AudioMapping",
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
      "properties": {
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "outputChannel": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The zero-based index of the channel in the output audio stream."
        },
        "gainDb": {
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "inputChannel": {
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "format": "int32"
        },
        "atomKey": {
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "inputTrack": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file."
        }
      }
    },
    "H265CodecSettings": {
      "id": "H265CodecSettings",
      "properties": {
        "sdr": {
          "$ref": "H265ColorFormatSDR",
          "description": "Optional. SDR color format setting for H265."
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H265.",
          "$ref": "H265ColorFormatHLG"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "gopDuration": {
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "bFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0."
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "hdr10": {
          "description": "Optional. HDR10 color format setting for H265.",
          "$ref": "H265ColorFormatHDR10"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32",
          "type": "integer"
        },
        "vbvSizeBits": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`."
        },
        "aqStrength": {
          "type": "number",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "type": "integer",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits."
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double",
          "type": "number"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "type": "string",
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ]
        },
        "heightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        }
      },
      "description": "H265 codec settings.",
      "type": "object"
    },
    "Vp9ColorFormatSDR": {
      "id": "Vp9ColorFormatSDR",
      "properties": {},
      "type": "object",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video."
    },
    "SegmentSettings": {
      "properties": {
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        },
        "segmentDuration": {
          "format": "google-duration",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream).",
          "type": "string"
        }
      },
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "type": "object",
      "id": "SegmentSettings"
    },
    "YadifConfig": {
      "description": "Yet Another Deinterlacing Filter Configuration.",
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "disableSpatialInterlacing": {
          "description": "Disable spacial interlacing. The default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "YadifConfig"
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "H264ColorFormatSDR": {
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "properties": {},
      "type": "object",
      "id": "H264ColorFormatSDR"
    },
    "PubsubDestination": {
      "id": "PubsubDestination",
      "type": "object",
      "description": "A Pub/Sub destination.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`."
        }
      }
    },
    "Animation": {
      "type": "object",
      "properties": {
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        },
        "animationFade": {
          "$ref": "AnimationFade",
          "description": "Display overlay object with fade animation."
        }
      },
      "id": "Animation",
      "description": "Animation types."
    },
    "H264ColorFormatHLG": {
      "properties": {},
      "type": "object",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "H264ColorFormatHLG"
    },
    "Vp9CodecSettings": {
      "type": "object",
      "properties": {
        "crfLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported."
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message.",
          "type": "string"
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000."
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for VP9.",
          "$ref": "Vp9ColorFormatHLG"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate",
          "type": "string"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for VP9.",
          "$ref": "Vp9ColorFormatSDR"
        },
        "heightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number"
        }
      },
      "description": "VP9 codec settings.",
      "id": "Vp9CodecSettings"
    },
    "Fmp4Config": {
      "properties": {
        "codecTag": {
          "type": "string",
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`"
        }
      },
      "type": "object",
      "description": "`fmp4` container configuration.",
      "id": "Fmp4Config"
    },
    "Manifest": {
      "properties": {
        "type": {
          "description": "Required. Type of the manifest.",
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ],
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "type": "string"
        },
        "dash": {
          "$ref": "DashConfig",
          "description": "`DASH` manifest configuration."
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type."
        },
        "muxStreams": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list."
        }
      },
      "type": "object",
      "id": "Manifest",
      "description": "Manifest configuration."
    },
    "AnimationEnd": {
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video.",
      "id": "AnimationEnd",
      "properties": {
        "startTimeOffset": {
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MuxStream": {
      "type": "object",
      "id": "MuxStream",
      "properties": {
        "container": {
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        },
        "fmp4": {
          "description": "Optional. `fmp4` container configuration.",
          "$ref": "Fmp4Config"
        },
        "key": {
          "description": "A unique key for this multiplexed stream.",
          "type": "string"
        },
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "encryptionId": {
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted.",
          "type": "string"
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`."
        },
        "elementaryStreams": {
          "type": "array",
          "description": "List of ElementaryStream.key values multiplexed in this stream.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Multiplexing settings for output stream."
    },
    "H265ColorFormatSDR": {
      "type": "object",
      "properties": {},
      "id": "H265ColorFormatSDR",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video."
    },
    "Overlay": {
      "description": "Overlay configuration.",
      "properties": {
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "type": "array",
          "description": "List of animations. The list should be chronological, without any time overlap."
        },
        "image": {
          "description": "Image overlay.",
          "$ref": "Image"
        }
      },
      "id": "Overlay",
      "type": "object"
    },
    "ListJobTemplatesResponse": {
      "type": "object",
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of regions that could not be reached."
        },
        "jobTemplates": {
          "type": "array",
          "items": {
            "$ref": "JobTemplate"
          },
          "description": "List of job templates in the specified region."
        }
      },
      "id": "ListJobTemplatesResponse"
    },
    "H264CodecSettings": {
      "properties": {
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`."
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "crfLevel": {
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer"
        },
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps.",
          "type": "integer",
          "format": "int32"
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "aqStrength": {
          "format": "double",
          "type": "number",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0."
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H264.",
          "$ref": "H264ColorFormatHLG"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "type": "string"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for H264.",
          "$ref": "H264ColorFormatSDR"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32"
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "vbvFullnessBits": {
          "type": "integer",
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits."
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number",
          "format": "double"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "H264CodecSettings",
      "description": "H264 codec settings."
    },
    "Encryption": {
      "properties": {
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "drmSystems": {
          "$ref": "DrmSystems",
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled."
        },
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        },
        "mpegCenc": {
          "$ref": "MpegCommonEncryption",
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC)."
        },
        "secretManagerKeySource": {
          "description": "Keys are stored in Google Secret Manager.",
          "$ref": "SecretManagerSource"
        }
      },
      "description": "Encryption settings.",
      "type": "object",
      "id": "Encryption"
    },
    "Widevine": {
      "properties": {},
      "id": "Widevine",
      "type": "object",
      "description": "Widevine configuration."
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "Response message for `TranscoderService.ListJobs`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region.",
          "type": "array"
        },
        "unreachable": {
          "description": "List of regions that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Playready": {
      "description": "Playready configuration.",
      "properties": {},
      "type": "object",
      "id": "Playready"
    },
    "MpegCommonEncryption": {
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "type": "object",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`"
        }
      },
      "id": "MpegCommonEncryption"
    },
    "Job": {
      "type": "object",
      "properties": {
        "optimization": {
          "type": "string",
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ],
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`."
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "error": {
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`.",
          "$ref": "Status",
          "readOnly": true
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time the transcoding started.",
          "type": "string",
          "format": "google-datetime"
        },
        "fillContentGaps": {
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream.",
          "type": "boolean"
        },
        "batchModePriority": {
          "type": "integer",
          "format": "int32",
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
        },
        "templateId": {
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the job was created.",
          "readOnly": true,
          "type": "string"
        },
        "mode": {
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ],
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ],
          "type": "string",
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`."
        },
        "config": {
          "description": "The configuration for this job.",
          "$ref": "JobConfig"
        },
        "state": {
          "description": "Output only. The current state of the job.",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ]
        },
        "ttlAfterCompletionDays": {
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "type": "integer",
          "format": "int32"
        },
        "outputUri": {
          "type": "string",
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "endTime": {
          "description": "Output only. The time the transcoding finished.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Job",
      "description": "Transcoding job resource."
    },
    "InputAttributes": {
      "type": "object",
      "id": "InputAttributes",
      "description": "Input attributes that provide additional information about the input asset.",
      "properties": {
        "trackDefinitions": {
          "description": "Optional. A list of track definitions for the input asset.",
          "type": "array",
          "items": {
            "$ref": "TrackDefinition"
          }
        }
      }
    },
    "Output": {
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        }
      },
      "type": "object",
      "id": "Output"
    },
    "DashConfig": {
      "description": "`DASH` manifest configuration.",
      "id": "DashConfig",
      "properties": {
        "segmentReferenceScheme": {
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ],
          "type": "string",
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ]
        }
      },
      "type": "object"
    },
    "BwdifConfig": {
      "type": "object",
      "id": "BwdifConfig",
      "properties": {
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        },
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        }
      },
      "description": "Bob Weaver Deinterlacing Filter Configuration."
    },
    "AnimationFade": {
      "type": "object",
      "id": "AnimationFade",
      "description": "Display overlay object with fade animation.",
      "properties": {
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "fadeType": {
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "type": "string"
        },
        "endTimeOffset": {
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string"
        }
      }
    },
    "Denoise": {
      "type": "object",
      "properties": {
        "tune": {
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`",
          "type": "string"
        },
        "strength": {
          "type": "number",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "format": "double"
        }
      },
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported.",
      "id": "Denoise"
    },
    "AdBreak": {
      "id": "AdBreak",
      "description": "Ad break.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Image": {
      "id": "Image",
      "description": "Overlaid image.",
      "properties": {
        "alpha": {
          "type": "number",
          "format": "double",
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`."
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported."
        },
        "resolution": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
        }
      },
      "type": "object"
    },
    "AnimationStatic": {
      "description": "Display static overlay object.",
      "id": "AnimationStatic",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "type": "string"
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        }
      }
    },
    "NormalizedCoordinate": {
      "type": "object",
      "id": "NormalizedCoordinate",
      "properties": {
        "y": {
          "format": "double",
          "type": "number",
          "description": "Normalized y coordinate."
        },
        "x": {
          "description": "Normalized x coordinate.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`"
    },
    "Clearkey": {
      "id": "Clearkey",
      "description": "Clearkey configuration.",
      "type": "object",
      "properties": {}
    },
    "TextMapping": {
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
      "id": "TextMapping",
      "type": "object",
      "properties": {
        "atomKey": {
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "inputTrack": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file."
        }
      }
    },
    "H265ColorFormatHDR10": {
      "properties": {},
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video.",
      "type": "object",
      "id": "H265ColorFormatHDR10"
    },
    "VideoStream": {
      "properties": {
        "h265": {
          "$ref": "H265CodecSettings",
          "description": "H265 codec settings."
        },
        "h264": {
          "description": "H264 codec settings.",
          "$ref": "H264CodecSettings"
        },
        "vp9": {
          "description": "VP9 codec settings.",
          "$ref": "Vp9CodecSettings"
        }
      },
      "type": "object",
      "description": "Video stream resource.",
      "id": "VideoStream"
    },
    "Fairplay": {
      "id": "Fairplay",
      "description": "Fairplay configuration.",
      "type": "object",
      "properties": {}
    },
    "Crop": {
      "id": "Crop",
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object",
      "properties": {
        "rightPixels": {
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "topPixels": {
          "description": "The number of pixels to crop from the top. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "bottomPixels": {
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "leftPixels": {
          "description": "The number of pixels to crop from the left. The default is 0.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PreprocessingConfig": {
      "description": "Preprocessing configurations.",
      "properties": {
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        },
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        },
        "deblock": {
          "description": "Deblock preprocessing configuration.",
          "$ref": "Deblock"
        },
        "denoise": {
          "$ref": "Denoise",
          "description": "Denoise preprocessing configuration."
        },
        "audio": {
          "$ref": "Audio",
          "description": "Audio preprocessing configuration."
        },
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "color": {
          "$ref": "Color",
          "description": "Color preprocessing configuration."
        }
      },
      "id": "PreprocessingConfig",
      "type": "object"
    },
    "Deinterlace": {
      "description": "Deinterlace configuration for input video.",
      "type": "object",
      "id": "Deinterlace",
      "properties": {
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        },
        "yadif": {
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration.",
          "$ref": "YadifConfig"
        }
      }
    },
    "Pad": {
      "id": "Pad",
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "properties": {
        "topPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to add to the top. The default is 0."
        },
        "bottomPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the bottom. The default is 0."
        },
        "leftPixels": {
          "type": "integer",
          "description": "The number of pixels to add to the left. The default is 0.",
          "format": "int32"
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the right. The default is 0.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Aes128Encryption": {
      "properties": {},
      "type": "object",
      "id": "Aes128Encryption",
      "description": "Configuration for AES-128 encryption."
    }
  },
  "kind": "discovery#restDescription"
}