{
  "rootUrl": "https://translation.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20170525",
  "version": "v2",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "features": [
    "dataWrapper"
  ],
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "pp": {
      "type": "boolean",
      "location": "query",
      "description": "Pretty-print response.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "discoveryVersion": "v1",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "httpMethod": "GET",
          "path": "v2",
          "id": "language.translations.list",
          "parameterOrder": [
            "q",
            "target"
          ],
          "description": "Translates input text, returning translated text.",
          "parameters": {
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
            },
            "target": {
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "type": "string"
            },
            "q": {
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "cid": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The customization id for translate"
            },
            "format": {
              "type": "string",
              "location": "query",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ]
            },
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "translate": {
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [],
          "id": "language.translations.translate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "path": "v2"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation.",
          "path": "v2/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "id": "language.languages.list"
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "description": "Detects the language of text within a request.",
          "parameters": {
            "q": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.list",
          "httpMethod": "GET"
        },
        "detect": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "id": "language.detections.detect",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Detects the language of text within a request."
        }
      }
    }
  },
  "ownerName": "Google",
  "title": "Google Cloud Translation API",
  "basePath": "/language/translate/",
  "batchPath": "batch/translate",
  "name": "translate",
  "id": "translate:v2",
  "schemas": {
    "DetectionsResource": {
      "items": {
        "properties": {
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "type": "number",
            "format": "float"
          }
        },
        "type": "object"
      },
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "type": "array"
    },
    "TranslationsResource": {
      "type": "object",
      "id": "TranslationsResource",
      "properties": {
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "id": "GetSupportedLanguagesRequest",
      "properties": {
        "target": {
          "type": "string",
          "description": "The language to use to return localized, human readable names of supported\nlanguages."
        }
      },
      "description": "The request message for discovering supported languages."
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      },
      "type": "object",
      "description": "The request message for language detection."
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      }
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        }
      },
      "id": "TranslateTextRequest"
    },
    "TranslationsListResponse": {
      "description": "The main language translation response message.",
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text",
          "type": "array"
        }
      },
      "type": "object"
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      }
    },
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text",
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "canonicalName": "Translate",
  "ownerDomain": "google.com",
  "servicePath": "language/translate/",
  "kind": "discovery#restDescription"
}