{
  "version": "v2",
  "id": "translate:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "rootUrl": "https://translation.googleapis.com/",
  "batchPath": "batch/translate",
  "schemas": {
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array"
        }
      }
    },
    "DetectLanguageRequest": {
      "type": "object",
      "description": "The request message for language detection.",
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      }
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DetectionsListResponse"
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TranslateTextRequest": {
      "properties": {
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        },
        "model": {
          "type": "string",
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        }
      },
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object"
    },
    "DetectionsResource": {
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          }
        }
      },
      "id": "DetectionsResource"
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text"
        }
      },
      "description": "The main language translation response message.",
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "type": "object",
      "description": "The request message for discovering supported languages."
    },
    "LanguagesResource": {
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      },
      "id": "LanguagesResource",
      "type": "object"
    }
  },
  "revision": "20170525",
  "features": [
    "dataWrapper"
  ],
  "protocol": "rest",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "discoveryVersion": "v1",
  "name": "translate",
  "ownerName": "Google",
  "resources": {
    "translations": {
      "methods": {
        "translate": {
          "parameterOrder": [],
          "description": "Translates input text, returning translated text.",
          "id": "language.translations.translate",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v2",
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [
            "q",
            "target"
          ],
          "id": "language.translations.list",
          "parameters": {
            "format": {
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "enum": [
                "html",
                "text"
              ],
              "location": "query",
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
            },
            "target": {
              "type": "string",
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "location": "query"
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "path": "v2"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "path": "v2/languages",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "location": "query",
              "type": "string"
            },
            "target": {
              "location": "query",
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "parameters": {
            "q": {
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "language.detections.list",
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ],
          "description": "Detects the language of text within a request."
        },
        "detect": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "description": "Detects the language of text within a request.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "id": "language.detections.detect"
        }
      }
    }
  },
  "title": "Google Cloud Translation API",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "servicePath": "language/translate/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "basePath": "/language/translate/",
  "canonicalName": "Translate",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html"
}