{
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "version": "v3",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "revision": "20260901",
  "fullyEncodeReservedExpansion": true,
  "name": "translate",
  "description": "Integrates text translation into your website or application.",
  "protocol": "rest",
  "title": "Cloud Translation API",
  "canonicalName": "Translate",
  "version_module": true,
  "batchPath": "batch",
  "basePath": "",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "translateDocument": {
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "path": "v3/{+parent}:translateDocument",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.translateDocument",
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates documents in synchronous mode."
            },
            "translateText": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              },
              "path": "v3/{+parent}:translateText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates input text and returns translated text.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "id": "translate.projects.locations.translateText"
            },
            "romanizeText": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:romanizeText",
              "id": "translate.projects.locations.romanizeText",
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText"
            },
            "getSupportedLanguages": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "path": "v3/{+parent}/supportedLanguages",
              "description": "Returns a list of supported languages for translation.",
              "id": "translate.projects.locations.getSupportedLanguages",
              "httpMethod": "GET",
              "parameters": {
                "model": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
                },
                "parent": {
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "displayLanguageCode": {
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SupportedLanguages"
              }
            },
            "list": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v3/projects/{projectsId}/locations",
              "id": "translate.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v3/{+name}/locations"
            },
            "batchTranslateDocument": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:batchTranslateDocument",
              "id": "translate.projects.locations.batchTranslateDocument",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "httpMethod": "POST",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "detectLanguage": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned."
                }
              },
              "path": "v3/{+parent}:detectLanguage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Detects the language of text within a request.",
              "id": "translate.projects.locations.detectLanguage",
              "response": {
                "$ref": "DetectLanguageResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "translate.projects.locations.get",
              "path": "v3/{+name}",
              "description": "Gets information about a location.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "refineText": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "path": "v3/{+parent}:refineText",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RefineTextRequest"
              },
              "response": {
                "$ref": "RefineTextResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "description": "Refines the input translated text to improve the quality.",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.refineText"
            },
            "batchTranslateText": {
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "id": "translate.projects.locations.batchTranslateText",
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "path": "v3/{+parent}:batchTranslateText",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText"
            },
            "adaptiveMtTranslate": {
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`."
                }
              },
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Translate text using Adaptive MT.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            }
          },
          "resources": {
            "adaptiveMtDatasets": {
              "resources": {
                "adaptiveMtFiles": {
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}/adaptiveMtSentences",
                          "response": {
                            "$ref": "ListAdaptiveMtSentencesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-translation"
                          ],
                          "path": "v3/{+parent}/adaptiveMtSentences",
                          "httpMethod": "GET",
                          "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "AdaptiveMtFile"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "description": "Gets and AdaptiveMtFile",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
                        }
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "description": "Deletes an AdaptiveMtFile along with its sentences.",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the file to delete, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. "
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the dataset from which to list the Adaptive MT files. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtFilesResponse.next_page_token returned from the previous call to `ListAdaptiveMtFiles` method. The first page is returned if `page_token`is empty or missing.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all AdaptiveMtFiles associated to an AdaptiveMtDataset.",
                      "response": {
                        "$ref": "ListAdaptiveMtFilesResponse"
                      },
                      "path": "v3/{+parent}/adaptiveMtFiles",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                },
                "adaptiveMtSentences": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListAdaptiveMtSentencesResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtSentences",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtSentences.list",
                      "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+parent}/adaptiveMtSentences"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission.",
                  "httpMethod": "GET",
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "importAdaptiveMtFile": {
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset.",
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`"
                    }
                  },
                  "path": "v3/{+name}",
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an Adaptive MT dataset."
                },
                "get": {
                  "description": "Gets the Adaptive MT dataset.",
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "required": true
                    }
                  },
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  }
                }
              }
            },
            "models": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+parent}/models",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListModels call.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server can return fewer results than requested."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the models that will be returned. Supported filter: `dataset_id=${dataset_id}`"
                    }
                  },
                  "response": {
                    "$ref": "ListModelsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "id": "translate.projects.locations.models.list",
                  "description": "Lists models."
                },
                "create": {
                  "request": {
                    "$ref": "Model"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+parent}/models",
                  "id": "translate.projects.locations.models.create",
                  "description": "Creates a Model.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project name, in form of `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the model to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.models.get",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "description": "Gets a model.",
                  "response": {
                    "$ref": "Model"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the model to delete."
                    }
                  },
                  "id": "translate.projects.locations.models.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "path": "v3/{+name}",
                  "description": "Deletes a model."
                }
              }
            },
            "datasets": {
              "methods": {
                "exportData": {
                  "httpMethod": "POST",
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.datasets.exportData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "description": "Exports dataset's data to the provided output location.",
                  "path": "v3/{+dataset}:exportData"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.datasets.delete",
                  "description": "Deletes a dataset and all of its contents.",
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The name of the dataset to delete.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Dataset"
                  },
                  "id": "translate.projects.locations.datasets.get",
                  "description": "Gets a Dataset.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the dataset to retrieve.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v3/{+parent}/datasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.datasets.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "description": "Lists datasets."
                },
                "importData": {
                  "description": "Import sentence pairs into translation Dataset.",
                  "id": "translate.projects.locations.datasets.importData",
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+dataset}:importData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "dataset": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`"
                    }
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData"
                },
                "create": {
                  "path": "v3/{+parent}/datasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "request": {
                    "$ref": "Dataset"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The project name.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Creates a Dataset.",
                  "id": "translate.projects.locations.datasets.create",
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets"
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "id": "translate.projects.locations.datasets.examples.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Lists sentence pairs in the dataset.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "httpMethod": "GET",
                      "path": "v3/{+parent}/examples"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "path": "v3/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "translate.projects.locations.operations.list"
                },
                "wait": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "path": "v3/{+name}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.operations.wait"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "translate.projects.locations.operations.get",
                  "path": "v3/{+name}"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "translate.projects.locations.operations.cancel",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}:cancel"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.operations.delete",
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "glossaries": {
              "resources": {
                "glossaryEntries": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a glossary entry.",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.patch"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the glossary entry to get",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a single glossary entry by the given id.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GlossaryEntry"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the glossary entry to delete",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "translate.projects.locations.glossaries.glossaryEntries.delete",
                      "description": "Deletes a single entry from the glossary",
                      "path": "v3/{+name}"
                    },
                    "create": {
                      "id": "translate.projects.locations.glossaries.glossaryEntries.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+parent}/glossaryEntries",
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "description": "Creates a glossary entry.",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the glossary to create the entry under.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries"
                    },
                    "list": {
                      "description": "List the entries for the glossary.",
                      "response": {
                        "$ref": "ListGlossaryEntriesResponse"
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "id": "translate.projects.locations.glossaries.glossaryEntries.list",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent glossary resource name for listing the glossary's entries.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. The server may return fewer glossary entries than requested. If unspecified, the server picks an appropriate default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossaryEntriesResponse.next_page_token] returned from the previous call. The first page is returned if `page_token`is empty or missing.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The project name.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates a glossary and returns the long-running operation. Returns NOT_FOUND, if the project doesn't exist.",
                  "path": "v3/{+parent}/glossaries",
                  "request": {
                    "$ref": "Glossary"
                  },
                  "id": "translate.projects.locations.glossaries.create"
                },
                "list": {
                  "path": "v3/{+parent}/glossaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "ListGlossariesResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "description": "Lists glossaries in a project. Returns NOT_FOUND, if the project doesn't exist.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. The server may return fewer glossaries than requested. If unspecified, the server picks an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the project from which to list all of the glossaries.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossariesResponse.next_page_token] returned from the previous call to `ListGlossaries` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter specifying constraints of a list operation. Specify the constraint by the format of \"key=value\", where key must be \"src\" or \"tgt\", and the value must be a valid language code. For multiple restrictions, concatenate them by \"AND\" (uppercase only), such as: \"src=en-US AND tgt=zh-CN\". Notice that the exact match is used here, which means using 'en-US' and 'en' can lead to different results, which depends on the language code you used when you create the glossary. For the unidirectional glossaries, the \"src\" and \"tgt\" add restrictions on the source and target language code separately. For the equivalent term set glossaries, the \"src\" and/or \"tgt\" add restrictions on the term set. For example: \"src=en-US AND tgt=zh-CN\" will only pick the unidirectional glossaries which exactly match the source language code as \"en-US\" and the target language code \"zh-CN\", but all equivalent term set glossaries which contain \"en-US\" and \"zh-CN\" in their language set will be picked. If missing, no filtering is performed.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.glossaries.list"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "path": "v3/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated. Currently, only `display_name` and `input_config` are supported.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Glossary"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a glossary. A LRO is used since the update can be async if the glossary's entry file is updated.",
                  "id": "translate.projects.locations.glossaries.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "response": {
                    "$ref": "Glossary"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "id": "translate.projects.locations.glossaries.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the glossary to retrieve.",
                      "required": true
                    }
                  },
                  "description": "Gets a glossary. Returns NOT_FOUND, if the glossary doesn't exist."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "translate.projects.locations.glossaries.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "description": "Required. The name of the glossary to delete.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a glossary, or cancels glossary construction if the glossary isn't created yet. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "path": "v3/{+name}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "getSupportedLanguages": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SupportedLanguages"
          },
          "id": "translate.projects.getSupportedLanguages",
          "parameters": {
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "location": "query",
              "type": "string"
            },
            "model": {
              "type": "string",
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
              "location": "query"
            },
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v3/{+parent}/supportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "parameterOrder": [
            "parent"
          ],
          "description": "Returns a list of supported languages for translation."
        },
        "translateText": {
          "description": "Translates input text and returns translated text.",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "path": "v3/{+parent}:translateText",
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "flatPath": "v3/projects/{projectsId}:translateText",
          "id": "translate.projects.translateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ]
        },
        "romanizeText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "path": "v3/{+parent}:romanizeText",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`."
            }
          },
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "id": "translate.projects.romanizeText"
        },
        "detectLanguage": {
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "path": "v3/{+parent}:detectLanguage",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "id": "translate.projects.detectLanguage"
        }
      }
    }
  },
  "baseUrl": "https://translation.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "OutputConfig": {
      "id": "OutputConfig",
      "description": "Output configuration for BatchTranslateText request.",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`",
          "$ref": "GcsDestination"
        }
      },
      "type": "object"
    },
    "ReferenceSentencePair": {
      "properties": {
        "sourceSentence": {
          "description": "Source sentence in the sentence pair.",
          "type": "string"
        },
        "targetSentence": {
          "description": "Target sentence in the sentence pair.",
          "type": "string"
        }
      },
      "id": "ReferenceSentencePair",
      "description": "A pair of sentences used as reference in source and target languages.",
      "type": "object"
    },
    "DetectLanguageResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "DetectedLanguage"
          },
          "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result.",
          "type": "array"
        }
      },
      "id": "DetectLanguageResponse",
      "type": "object",
      "description": "The response message for language detection."
    },
    "GlossaryConfig": {
      "id": "GlossaryConfig",
      "type": "object",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "properties": {
        "contextualTranslationEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, the glossary will be used for contextual translation."
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        },
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        }
      }
    },
    "ListDatasetsResponse": {
      "id": "ListDatasetsResponse",
      "properties": {
        "datasets": {
          "description": "The datasets read.",
          "items": {
            "$ref": "Dataset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page."
        }
      },
      "type": "object",
      "description": "Response message for ListDatasets."
    },
    "ListAdaptiveMtFilesResponse": {
      "id": "ListAdaptiveMtFilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results."
        },
        "adaptiveMtFiles": {
          "description": "Output only. The Adaptive MT files.",
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtFile"
          },
          "readOnly": true
        }
      },
      "description": "The response for listing all AdaptiveMt files under a given dataset."
    },
    "InputConfig": {
      "type": "object",
      "description": "Input configuration for BatchTranslateText request.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty."
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text."
        }
      },
      "id": "InputConfig"
    },
    "GlossaryTermsSet": {
      "id": "GlossaryTermsSet",
      "type": "object",
      "properties": {
        "terms": {
          "description": "Each term in the set represents a term that can be replaced by the other terms.",
          "type": "array",
          "items": {
            "$ref": "GlossaryTerm"
          }
        }
      },
      "description": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListGlossariesResponse": {
      "type": "object",
      "id": "ListGlossariesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results."
        },
        "glossaries": {
          "type": "array",
          "items": {
            "$ref": "Glossary"
          },
          "description": "The list of glossaries for a project."
        }
      },
      "description": "Response message for ListGlossaries."
    },
    "RefineTextRequest": {
      "type": "object",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\".",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\".",
          "type": "string"
        },
        "refinementEntries": {
          "items": {
            "$ref": "RefinementEntry"
          },
          "type": "array",
[...]
