{
  "protocol": "rest",
  "baseUrl": "https://transcoder.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "revision": "20260825",
  "canonicalName": "Transcoder",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "schemas": {
    "Crop": {
      "id": "Crop",
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object",
      "properties": {
        "topPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to crop from the top. The default is 0."
        },
        "bottomPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "type": "integer"
        },
        "leftPixels": {
          "description": "The number of pixels to crop from the left. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer"
        }
      }
    },
    "Deinterlace": {
      "properties": {
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        },
        "yadif": {
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration.",
          "$ref": "YadifConfig"
        }
      },
      "description": "Deinterlace configuration for input video.",
      "id": "Deinterlace",
      "type": "object"
    },
    "Widevine": {
      "description": "Widevine configuration.",
      "type": "object",
      "properties": {},
      "id": "Widevine"
    },
    "InputAttributes": {
      "id": "InputAttributes",
      "properties": {
        "trackDefinitions": {
          "items": {
            "$ref": "TrackDefinition"
          },
          "type": "array",
          "description": "Optional. A list of track definitions for the input asset."
        }
      },
      "description": "Input attributes that provide additional information about the input asset.",
      "type": "object"
    },
    "H265ColorFormatSDR": {
      "type": "object",
      "id": "H265ColorFormatSDR",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video."
    },
    "PubsubDestination": {
      "id": "PubsubDestination",
      "description": "A Pub/Sub destination.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      }
    },
    "Animation": {
      "id": "Animation",
      "properties": {
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        },
        "animationEnd": {
          "description": "End previous animation.",
          "$ref": "AnimationEnd"
        },
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        }
      },
      "description": "Animation types.",
      "type": "object"
    },
    "H265CodecSettings": {
      "id": "H265CodecSettings",
      "type": "object",
      "description": "H265 codec settings.",
      "properties": {
        "crfLevel": {
          "format": "int32",
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21."
        },
        "heightPixels": {
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "gopFrameCount": {
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "vbvSizeBits": {
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        },
        "hlg": {
          "$ref": "H265ColorFormatHLG",
          "description": "Optional. HLG color format setting for H265."
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "hdr10": {
          "$ref": "H265ColorFormatHDR10",
          "description": "Optional. HDR10 color format setting for H265."
        },
        "aqStrength": {
          "format": "double",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "frameRateConversionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ]
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.",
          "type": "integer"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "sdr": {
          "$ref": "H265ColorFormatSDR",
          "description": "Optional. SDR color format setting for H265."
        },
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`."
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "H264ColorFormatSDR": {
      "id": "H264ColorFormatSDR",
      "type": "object",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "properties": {}
    },
    "Fmp4Config": {
      "type": "object",
      "description": "`fmp4` container configuration.",
      "properties": {
        "codecTag": {
          "type": "string",
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`"
        }
      },
      "id": "Fmp4Config"
    },
    "Encryption": {
      "id": "Encryption",
      "description": "Encryption settings.",
      "type": "object",
      "properties": {
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "drmSystems": {
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled.",
          "$ref": "DrmSystems"
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        },
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        },
        "secretManagerKeySource": {
          "description": "Keys are stored in Google Secret Manager.",
          "$ref": "SecretManagerSource"
        }
      }
    },
    "Overlay": {
      "properties": {
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "description": "List of animations. The list should be chronological, without any time overlap.",
          "type": "array"
        },
        "image": {
          "description": "Image overlay.",
          "$ref": "Image"
        }
      },
      "type": "object",
      "description": "Overlay configuration.",
      "id": "Overlay"
    },
    "H264ColorFormatHLG": {
      "properties": {},
      "type": "object",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "H264ColorFormatHLG"
    },
    "Deblock": {
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "id": "Deblock",
      "properties": {
        "strength": {
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable deblocker. The default is `false`."
        }
      },
      "type": "object"
    },
    "VideoStream": {
      "description": "Video stream resource.",
      "properties": {
        "h264": {
          "$ref": "H264CodecSettings",
          "description": "H264 codec settings."
        },
        "vp9": {
          "description": "VP9 codec settings.",
          "$ref": "Vp9CodecSettings"
        },
        "h265": {
          "$ref": "H265CodecSettings",
          "description": "H265 codec settings."
        }
      },
      "id": "VideoStream",
      "type": "object"
    },
    "TextStream": {
      "properties": {
        "mapping": {
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
          "items": {
            "$ref": "TextMapping"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "codec": {
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        }
      },
      "type": "object",
      "id": "TextStream",
      "description": "Encoding of a text stream. For example, closed captions or subtitles."
    },
    "JobConfig": {
      "type": "object",
      "description": "Job configuration",
      "id": "JobConfig",
      "properties": {
        "muxStreams": {
          "description": "List of multiplexing settings for output streams.",
          "items": {
            "$ref": "MuxStream"
          },
          "type": "array"
        },
        "output": {
          "description": "Output configuration.",
          "$ref": "Output"
        },
        "spriteSheets": {
          "type": "array",
          "items": {
            "$ref": "SpriteSheet"
          },
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig."
        },
        "encryptions": {
          "items": {
            "$ref": "Encryption"
          },
          "type": "array",
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output."
        },
        "elementaryStreams": {
          "items": {
            "$ref": "ElementaryStream"
          },
          "type": "array",
          "description": "List of elementary streams."
        },
        "pubsubDestination": {
          "description": "Destination on Pub/Sub.",
          "$ref": "PubsubDestination"
        },
        "manifests": {
          "description": "List of output manifests.",
          "items": {
            "$ref": "Manifest"
          },
          "type": "array"
        },
        "editList": {
          "items": {
            "$ref": "EditAtom"
          },
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest.",
          "type": "array"
        },
        "overlays": {
          "type": "array",
          "items": {
            "$ref": "Overlay"
          },
          "description": "List of overlays on the output video, in descending Z-order."
        },
        "adBreaks": {
          "type": "array",
          "items": {
            "$ref": "AdBreak"
          },
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests."
        },
        "inputs": {
          "description": "List of input assets stored in Cloud Storage.",
          "items": {
            "$ref": "Input"
          },
          "type": "array"
        }
      }
    },
    "AnimationStatic": {
      "properties": {
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "startTimeOffset": {
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "AnimationStatic",
      "description": "Display static overlay object."
    },
    "AdBreak": {
      "id": "AdBreak",
      "description": "Ad break.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "format": "google-duration"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "AnimationEnd": {
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video.",
      "id": "AnimationEnd",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "TextMapping": {
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
      "properties": {
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "atomKey": {
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "inputTrack": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file."
        }
      },
      "type": "object",
      "id": "TextMapping"
    },
    "ListJobTemplatesResponse": {
      "type": "object",
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "id": "ListJobTemplatesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "List of regions that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "jobTemplates": {
          "items": {
            "$ref": "JobTemplate"
          },
          "description": "List of job templates in the specified region.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        }
      }
    },
    "Job": {
      "id": "Job",
      "properties": {
        "name": {
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the job was created."
        },
        "fillContentGaps": {
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the transcoding started.",
          "readOnly": true
        },
        "outputUri": {
          "type": "string",
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "optimization": {
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`.",
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the transcoding finished.",
          "readOnly": true
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the job.",
          "type": "string",
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ],
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "type": "object"
        },
        "config": {
          "description": "The configuration for this job.",
          "$ref": "JobConfig"
        },
        "templateId": {
          "type": "string",
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`"
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "format": "int32"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`."
        },
        "mode": {
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ],
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.",
          "type": "string",
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ]
        },
        "batchModePriority": {
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Transcoding job resource."
    },
    "SecretManagerSource": {
      "id": "SecretManagerSource",
      "type": "object",
      "description": "Configuration for secrets stored in Google Secret Manager.",
      "properties": {
        "secretVersion": {
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported.",
          "type": "string"
        }
      }
    },
    "Clearkey": {
      "description": "Clearkey configuration.",
      "properties": {},
      "id": "Clearkey",
      "type": "object"
    },
    "Fairplay": {
      "properties": {},
      "id": "Fairplay",
      "type": "object",
      "description": "Fairplay configuration."
    },
    "JobTemplate": {
      "properties": {
        "labels": {
          "description": "The labels associated with this job template. You can use these to organize and group your job templates.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`"
        }
      },
      "type": "object",
      "id": "JobTemplate",
      "description": "Transcoding job template resource."
    },
    "Input": {
      "type": "object",
      "properties": {
        "preprocessingConfig": {
          "$ref": "PreprocessingConfig",
          "description": "Preprocessing configurations."
        },
        "key": {
          "type": "string",
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists."
        },
        "uri": {
          "type": "string",
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "attributes": {
          "$ref": "InputAttributes",
          "description": "Optional. Input Attributes."
        }
      },
      "id": "Input",
      "description": "Input asset."
    },
    "Image": {
      "description": "Overlaid image.",
      "properties": {
        "alpha": {
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "format": "double",
          "type": "number"
        },
        "resolution": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
        },
        "uri": {
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported.",
          "type": "string"
        }
      },
      "id": "Image",
      "type": "object"
    },
    "MuxStream": {
      "id": "MuxStream",
      "type": "object",
      "description": "Multiplexing settings for output stream.",
      "properties": {
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this multiplexed stream."
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`."
        },
        "elementaryStreams": {
          "items": {
            "type": "string"
          },
          "description": "List of ElementaryStream.key values multiplexed in this stream.",
          "type": "array"
        },
        "fmp4": {
          "$ref": "Fmp4Config",
          "description": "Optional. `fmp4` container configuration."
        },
        "encryptionId": {
          "type": "string",
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted."
        }
      }
    },
    "Vp9ColorFormatSDR": {
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object",
      "properties": {},
      "id": "Vp9ColorFormatSDR"
    },
    "H265ColorFormatHLG": {
      "type": "object",
      "id": "H265ColorFormatHLG",
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video."
    },
    "Aes128Encryption": {
      "description": "Configuration for AES-128 encryption.",
      "id": "Aes128Encryption",
      "properties": {},
      "type": "object"
    },
    "AudioMapping": {
      "properties": {
        "atomKey": {
          "type": "string",
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list."
        },
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer",
          "format": "int32"
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "gainDb": {
          "format": "double",
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "type": "number"
        },
        "inputChannel": {
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "format": "int32"
        },
        "outputChannel": {
          "description": "Required. The zero-based index of the channel in the output audio stream.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AudioMapping",
      "type": "object",
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs."
    },
    "Color": {
      "id": "Color",
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "properties": {
        "brightness": {
          "format": "double",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number"
        },
        "saturation": {
          "format": "double",
          "type": "number",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
        },
        "contrast": {
          "type": "number",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "format": "double"
        }
      }
    },
    "Vp9ColorFormatHLG": {
      "type": "object",
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "Vp9ColorFormatHLG"
    },
    "Pad": {
      "id": "Pad",
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "type": "object",
      "properties": {
        "rightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the right. The default is 0."
        },
        "bottomPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to add to the bottom. The default is 0."
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the left. The default is 0.",
          "type": "integer"
        },
        "topPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the top. The default is 0."
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of regions that could not be reached."
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region."
        }
      },
      "description": "Response message for `TranscoderService.ListJobs`."
    },
    "Audio": {
      "id": "Audio",
      "properties": {
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "lufs": {
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Audio preprocessing configuration.",
      "type": "object"
    },
    "EditAtom": {
      "properties": {
        "endTimeOffset": {
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "type": "string",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "format": "google-duration"
        },
        "inputs": {
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Edit atom.",
      "id": "EditAtom"
    },
    "PreprocessingConfig": {
      "properties": {
        "denoise": {
          "$ref": "Denoise",
          "description": "Denoise preprocessing configuration."
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        },
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        },
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        }
      },
      "description": "Preprocessing configurations.",
      "type": "object",
      "id": "PreprocessingConfig"
    },
    "YadifConfig": {
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "disableSpatialInterlacing": {
          "description": "Disable spacial interlacing. The default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "YadifConfig",
      "description": "Yet Another Deinterlacing Filter Configuration."
    },
    "Denoise": {
      "properties": {
        "tune": {
          "type": "string",
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`"
        },
        "strength": {
          "format": "double",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Denoise",
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported."
    },
    "H264CodecSettings": {
      "description": "H264 codec settings.",
      "id": "H264CodecSettings",
      "type": "object",
      "properties": {
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "widthPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H264.",
          "$ref": "H264ColorFormatHLG"
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "gopFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "frameRateConversionStrategy": {
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "type": "string"
        },
        "vbvSizeBits": {
          "format": "int32",
          "type": "integer",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps."
        },
        "frameRate": {
          "format": "double",
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120."
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        },
        "sdr": {
          "$ref": "H264ColorFormatSDR",
          "description": "Optional. SDR color format setting for H264."
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "aqStrength": {
          "format": "double",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "crfLevel": {
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer"
        },
        "vbvFullnessBits": {
          "type": "integer",
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits."
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "heightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        }
      }
    },
    "Output": {
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Output",
      "description": "Location of output file(s) in a Cloud Storage bucket."
    },
    "H265ColorFormatHDR10": {
      "id": "H265ColorFormatHDR10",
      "type": "object",
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video.",
      "properties": {}
    },
    "SampleAesEncryption": {
      "description": "Configuration for SAMPLE-AES encryption.",
      "type": "object",
      "id": "SampleAesEncryption",
      "properties": {}
    },
    "TrackDefinition": {
      "id": "TrackDefinition",
      "properties": {
        "inputTrack": {
          "format": "int32",
          "type": "integer",
          "description": "The input track."
        },
        "detectedLanguages": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true."
        },
        "languages": {
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectLanguages": {
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field.",
          "type": "boolean"
        }
      },
      "description": "Track definition for the input asset.",
      "type": "object"
    },
    "DrmSystems": {
      "properties": {
        "playready": {
          "$ref": "Playready",
          "description": "Playready configuration."
        },
        "widevine": {
          "$ref": "Widevine",
          "description": "Widevine configuration."
        },
        "fairplay": {
          "description": "Fairplay configuration.",
          "$ref": "Fairplay"
        },
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        }
      },
      "description": "Defines configuration for DRM systems in use.",
      "id": "DrmSystems",
      "type": "object"
    },
    "AnimationFade": {
      "description": "Display overlay object with fade animation.",
      "properties": {
        "endTimeOffset": {
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "format": "google-duration",
          "type": "string"
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "fadeType": {
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ]
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string"
        }
      },
      "id": "AnimationFade",
      "type": "object"
    },
    "MpegCommonEncryption": {
      "type": "object",
      "properties": {
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`",
          "type": "string"
        }
      },
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "id": "MpegCommonEncryption"
    },
    "AudioStream": {
      "description": "Audio stream resource.",
      "id": "AudioStream",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        },
        "bitrateBps": {
          "type": "integer",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "format": "int32"
        },
        "displayName": {
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "channelLayout": {
          "type": "array",
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "items": {
            "type": "string"
          }
        },
        "mapping": {
          "type": "array",
          "items": {
            "$ref": "AudioMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs."
        },
        "channelCount": {
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "type": "integer",
          "format": "int32"
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "format": "int32"
        },
        "codec": {
          "type": "string",
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`"
        }
      }
    },
    "Playready": {
      "id": "Playready",
      "properties": {},
      "description": "Playready configuration.",
      "type": "object"
    },
    "NormalizedCoordinate": {
      "properties": {
        "x": {
          "description": "Normalized x coordinate.",
          "type": "number",
          "format": "double"
        },
        "y": {
          "format": "double",
          "description": "Normalized y coordinate.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "id": "NormalizedCoordinate"
    },
    "ElementaryStream": {
      "type": "object",
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "properties": {
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        },
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        },
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        },
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        }
      },
      "id": "ElementaryStream"
    },
    "Vp9CodecSettings": {
      "type": "object",
      "description": "VP9 codec settings.",
      "id": "Vp9CodecSettings",
      "properties": {
        "sdr": {
          "$ref": "Vp9ColorFormatSDR",
          "description": "Optional. SDR color format setting for VP9."
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message."
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration",
          "type": "string"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        },
        "crfLevel": {
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ]
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for VP9.",
          "$ref": "Vp9ColorFormatHLG"
        },
        "gopFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "widthPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double",
          "type": "number"
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "DashConfig": {
      "properties": {
        "segmentReferenceScheme": {
          "type": "string",
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ],
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ]
        }
      },
      "id": "DashConfig",
      "type": "object",
      "description": "`DASH` manifest configuration."
    },
    "BwdifConfig": {
      "type": "object",
      "description": "Bob Weaver Deinterlacing Filter Configuration.",
      "properties": {
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "parity": {
          "type": "string",
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity"
        },
        "mode": {
          "type": "string",
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
        }
      },
      "id": "BwdifConfig"
    },
    "SpriteSheet": {
      "properties": {
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "quality": {
          "format": "int32",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "type": "integer"
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "interval": {
          "format": "google-duration",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "type": "string"
        },
        "spriteHeightPixels": {
          "format": "int32",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "totalCount": {
          "format": "int32",
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "type": "integer"
        },
        "columnCount": {
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "format": "int32",
          "type": "integer"
        },
        "startTimeOffset": {
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "type": "string",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "format": "google-duration",
          "type": "string"
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit."
        }
      },
      "description": "Sprite sheet configuration.",
      "id": "SpriteSheet",
      "type": "object"
    },
    "SegmentSettings": {
      "properties": {
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        },
        "segmentDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream)."
        }
      },
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "id": "SegmentSettings",
      "type": "object"
    },
    "Manifest": {
      "id": "Manifest",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ],
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "description": "Required. Type of the manifest."
        },
        "dash": {
          "$ref": "DashConfig",
          "description": "`DASH` manifest configuration."
        },
        "muxStreams": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list.",
          "type": "array"
        },
        "fileName": {
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Manifest configuration."
    }
  },
  "name": "transcoder",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "path": "v1/{+parent}/jobTemplates",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`"
                    },
                    "jobTemplateId": {
                      "location": "query",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "type": "string"
                    }
                  },
                  "description": "Creates a job template in the specified region."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    }
                  },
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "path": "v1/{+name}",
                  "description": "Returns the job template data."
                },
                "delete": {
                  "description": "Deletes a job template.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/jobTemplates",
                  "description": "Lists job templates in the specified region."
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the job data.",
                  "id": "transcoder.projects.locations.jobs.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "list": {
                  "description": "Lists jobs in the specified region.",
                  "path": "v1/{+parent}/jobs",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobs.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a job in the specified region.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "POST",
                  "id": "transcoder.projects.locations.jobs.create"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a job.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "transcoder.projects.locations.jobs.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Transcoder API",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://transcoder.googleapis.com/",
  "id": "transcoder:v1"
}