{
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "description": "Integrates text translation into your website or application.",
  "title": "Cloud Translation API",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version_module": true,
  "rootUrl": "https://translation.googleapis.com/",
  "ownerName": "Google",
  "id": "translate:v3",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "translate",
  "baseUrl": "https://translation.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "schemas": {
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ImportDataRequest": {
      "id": "ImportDataRequest",
      "properties": {
        "inputConfig": {
          "$ref": "DatasetInputConfig",
          "description": "Required. The config for the input content."
        }
      },
      "type": "object",
      "description": "Request message for ImportData."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ReferenceSentencePairList": {
      "type": "object",
      "id": "ReferenceSentencePairList",
      "properties": {
        "referenceSentencePairs": {
          "type": "array",
          "items": {
            "$ref": "ReferenceSentencePair"
          },
          "description": "Reference sentence pairs."
        }
      },
      "description": "A list of reference sentence pairs."
    },
    "RomanizeTextRequest": {
      "description": "The request message for synchronous romanization.",
      "type": "object",
      "id": "RomanizeTextRequest",
      "properties": {
        "contents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The content of the input in string format."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response."
        }
      }
    },
    "Glossary": {
      "id": "Glossary",
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Required. Provides examples to build the glossary from. Total glossary must not exceed 10M Unicode codepoints.",
          "$ref": "GlossaryInputConfig"
        },
        "endTime": {
          "description": "Output only. When the glossary creation was finished.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
          "type": "string"
        },
        "languagePair": {
          "$ref": "LanguageCodePair",
          "description": "Used with unidirectional glossaries."
        },
        "entryCount": {
          "readOnly": true,
          "description": "Output only. The number of entries defined in the glossary.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "Optional. The display name of the glossary.",
          "type": "string"
        },
        "languageCodesSet": {
          "$ref": "LanguageCodesSet",
          "description": "Used with equivalent term set glossaries."
        },
        "submitTime": {
          "description": "Output only. When CreateGlossary was called.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a glossary built from user-provided data."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "ListAdaptiveMtSentencesResponse": {
      "id": "ListAdaptiveMtSentencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Optional. ",
          "type": "string"
        },
        "adaptiveMtSentences": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtSentence"
          },
          "readOnly": true,
          "description": "Output only. The list of AdaptiveMtSentences."
        }
      },
      "type": "object",
      "description": "List AdaptiveMt sentences response."
    },
    "ListDatasetsResponse": {
      "type": "object",
      "description": "Response message for ListDatasets.",
      "properties": {
        "datasets": {
          "description": "The datasets read.",
          "items": {
            "$ref": "Dataset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page."
        }
      },
      "id": "ListDatasetsResponse"
    },
    "DocumentOutputConfig": {
      "type": "object",
      "id": "DocumentOutputConfig",
      "properties": {
        "mimeType": {
          "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "type": "string"
        },
        "gcsDestination": {
          "description": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket.",
          "$ref": "GcsDestination"
        }
      },
      "description": "A document translation request output config."
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "properties": {
        "documentInputConfig": {
          "$ref": "DocumentInputConfig",
          "description": "Optional. The document configuration of the input."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        },
        "model": {
          "description": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used.",
          "type": "string"
        },
        "content": {
          "description": "The content of the input stored as a string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request message for language detection."
    },
    "GlossaryInputConfig": {
      "properties": {
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary)."
        }
      },
      "type": "object",
      "description": "Input configuration for glossaries.",
      "id": "GlossaryInputConfig"
    },
    "LanguageCodesSet": {
      "properties": {
        "languageCodes": {
          "description": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Used with equivalent term set glossaries.",
      "id": "LanguageCodesSet"
    },
    "Dataset": {
      "id": "Dataset",
      "description": "A dataset that hosts the examples (sentence pairs) used for translation models.",
      "type": "object",
      "properties": {
        "validateExampleCount": {
          "description": "Output only. Number of validation examples (sentence pairs).",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "testExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of test examples (sentence pairs).",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "exampleCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of examples in the dataset."
        },
        "trainExampleCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of training examples (sentence pairs).",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the source language."
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the target language."
        }
      }
    },
    "BatchDocumentOutputConfig": {
      "id": "BatchDocumentOutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input document (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateDocumentRequest). While the input documents are being processed, we write/update an index file `index.csv` under `gcs_destination.output_uri_prefix` (for example, gs://translation_output/index.csv) The index file is generated/updated as new files are being translated. The format is: input_document,target_language_code,translation_output,error_output, glossary_translation_output,glossary_error_output `input_document` is one file we matched using gcs_source.input_uri. `target_language_code` is provided in the request. `translation_output` contains the translations. (details provided below) `error_output` contains the error message during processing of the file. Both translations_file and errors_file could be empty strings if we have no content to output. `glossary_translation_output` and `glossary_error_output` are the translated output/error when we apply glossaries. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The naming format of translation output files follows (for target language code [trg]): `translation_output`: `gs://translation_output/a_b_c_[trg]_translation.[extension]` `glossary_translation_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.[extension]`. The output document will maintain the same file format as the input document. The naming format of error output files follows (for target language code [trg]): `error_output`: `gs://translation_test/a_b_c_[trg]_errors.txt` `glossary_error_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.txt`. The error output is a txt file containing error details.",
          "$ref": "GcsDestination"
        }
      },
      "description": "Output configuration for BatchTranslateDocument request.",
      "type": "object"
    },
    "GcsSource": {
      "description": "The Google Cloud Storage location for the input content.",
      "id": "GcsSource",
      "type": "object",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
        }
      }
    },
    "DocumentTranslation": {
      "properties": {
        "byteStreamOutputs": {
          "type": "array",
          "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "detectedLanguageCode": {
          "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty.",
          "type": "string"
        },
        "mimeType": {
          "description": "The translated document's mime type.",
          "type": "string"
        }
      },
      "id": "DocumentTranslation",
      "description": "A translated document message.",
      "type": "object"
    },
    "InputFile": {
      "properties": {
        "gcsSource": {
          "$ref": "GcsInputSource",
          "description": "Google Cloud Storage file source."
        },
        "usage": {
          "description": "Optional. Usage of the file contents. Options are TRAIN|VALIDATION|TEST, or UNASSIGNED (by default) for auto split.",
          "type": "string"
        }
      },
      "id": "InputFile",
      "description": "An input file.",
      "type": "object"
    },
    "BatchTranslateTextRequest": {
      "type": "object",
      "id": "BatchTranslateTextRequest",
      "description": "The batch translation request.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "targetLanguageCodes": {
          "type": "array",
          "description": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "type": "object"
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied for translation. It's keyed by target language code.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          }
        },
        "inputConfigs": {
          "type": "array",
          "items": {
            "$ref": "InputConfig"
          },
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
        },
        "outputConfig": {
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs.",
          "$ref": "OutputConfig"
        }
      }
    },
    "AdaptiveMtSentence": {
      "id": "AdaptiveMtSentence",
      "type": "object",
      "description": "An AdaptiveMt sentence entry.",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when this sentence was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceSentence": {
          "type": "string",
          "description": "Required. The source sentence."
        },
        "name": {
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}/adaptiveMtSentences/{sentence}`",
          "type": "string"
        },
        "targetSentence": {
          "description": "Required. The target sentence.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this sentence was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "TranslateTextResponse": {
      "type": "object",
      "id": "TranslateTextResponse",
      "properties": {
        "translations": {
          "description": "Text translation responses with no glossary applied. This field has the same length as `contents`.",
          "type": "array",
          "items": {
            "$ref": "Translation"
          }
        },
        "glossaryTranslations": {
          "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`.",
          "type": "array",
          "items": {
            "$ref": "Translation"
          }
        }
      }
    },
    "SupportedLanguage": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN')."
        },
        "supportSource": {
          "type": "boolean",
          "description": "Can be used as a source language."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the language localized in the display language specified in the request."
        },
        "supportTarget": {
          "description": "Can be used as a target language.",
          "type": "boolean"
        }
      },
      "id": "SupportedLanguage",
      "description": "A single supported language response corresponds to information related to one supported language."
    },
    "BatchTranslateDocumentRequest": {
      "id": "BatchTranslateDocumentRequest",
      "description": "The BatchTranslateDocument request.",
      "properties": {
        "pdfNativeOnly": {
          "description": "Optional. If true, only native pdf pages will be translated.",
          "type": "boolean"
        },
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        },
        "targetLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ISO-639 language code to use for translation of the input document. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "formatConversions": {
          "description": "Optional. The file format conversion map that is applied to all input files. The map key is the original mime_type. The map value is the target mime_type of translated documents. Supported file format conversion includes: - `application/pdf` to `application/vnd.openxmlformats-officedocument.wordprocessingml.document` If nothing specified, output files will be in the same format as the original file.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputConfig": {
          "$ref": "BatchDocumentOutputConfig",
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs."
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied. It's keyed by target language code.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          }
        },
        "models": {
          "type": "object",
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is the model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "inputConfigs": {
          "items": {
            "$ref": "BatchDocumentInputConfig"
          },
          "type": "array",
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size to translate should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
        }
      },
      "type": "object"
    },
    "BatchDocumentInputConfig": {
      "description": "Input configuration for BatchTranslateDocument request.",
      "properties": {
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB."
        }
      },
      "type": "object",
      "id": "BatchDocumentInputConfig"
    },
    "ListGlossariesResponse": {
      "properties": {
        "glossaries": {
          "type": "array",
          "description": "The list of glossaries for a project.",
          "items": {
            "$ref": "Glossary"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results."
        }
      },
      "description": "Response message for ListGlossaries.",
      "type": "object",
      "id": "ListGlossariesResponse"
    },
    "GcsOutputDestination": {
      "description": "The Google Cloud Storage location for the output content.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist."
        }
      },
      "id": "GcsOutputDestination"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ReferenceSentenceConfig": {
      "id": "ReferenceSentenceConfig",
      "description": "Message of caller-provided reference configuration.",
      "properties": {
        "referenceSentencePairLists": {
          "items": {
            "$ref": "ReferenceSentencePairList"
          },
          "type": "array",
          "description": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Source language code."
        },
        "targetLanguageCode": {
          "description": "Target language code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Example": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the example, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}/examples/{example_id}`",
          "readOnly": true,
          "type": "string"
        },
        "sourceText": {
          "type": "string",
          "description": "Sentence in source language."
        },
        "targetText": {
          "description": "Sentence in target language.",
          "type": "string"
        },
        "usage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Usage of the sentence pair. Options are TRAIN|VALIDATION|TEST."
        }
      },
      "description": "A sentence pair.",
      "id": "Example",
      "type": "object"
    },
    "GlossaryTerm": {
      "properties": {
        "text": {
          "description": "The text for the glossary term.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language for this glossary term."
        }
      },
      "description": "Represents a single glossary term",
      "id": "GlossaryTerm",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DetectedLanguage": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The ISO-639 language code of the source content in the request, detected automatically."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The confidence of the detection result for this language."
        }
      },
      "type": "object",
      "description": "The response message for language detection.",
      "id": "DetectedLanguage"
    },
    "RefineTextResponse": {
      "type": "object",
      "properties": {
        "refinedTranslations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The refined translations obtained from the original translations."
        }
      },
      "description": "Response message for RefineText.",
      "id": "RefineTextResponse"
    },
    "ExportDataRequest": {
      "properties": {
        "outputConfig": {
          "$ref": "DatasetOutputConfig",
          "description": "Required. The config for the output content."
        }
      },
      "type": "object",
      "id": "ExportDataRequest",
      "description": "Request message for ExportData."
    },
    "GlossaryTermsPair": {
      "description": "Represents a single entry for an unidirectional glossary.",
      "type": "object",
      "properties": {
        "targetTerm": {
          "description": "The term that will replace the match source term.",
          "$ref": "GlossaryTerm"
        },
        "sourceTerm": {
          "$ref": "GlossaryTerm",
          "description": "The source term is the term that will get match in the text,"
        }
      },
      "id": "GlossaryTermsPair"
    },
    "RomanizeTextResponse": {
      "properties": {
        "romanizations": {
          "type": "array",
          "items": {
            "$ref": "Romanization"
          },
          "description": "Text romanization responses. This field has the same length as `contents`."
        }
      },
      "description": "The response message for synchronous romanization.",
      "type": "object",
      "id": "RomanizeTextResponse"
    },
    "ListAdaptiveMtFilesResponse": {
      "description": "The response for listing all AdaptiveMt files under a given dataset.",
      "id": "ListAdaptiveMtFilesResponse",
      "type": "object",
      "properties": {
        "adaptiveMtFiles": {
          "items": {
            "$ref": "AdaptiveMtFile"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The Adaptive MT files."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results."
        }
      }
    },
    "FileInputSource": {
      "id": "FileInputSource",
      "description": "An inlined file.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The file's mime type.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Required. The file's byte contents.",
          "format": "byte"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The file's display name."
        }
      }
    },
    "ReferenceSentencePair": {
      "id": "ReferenceSentencePair",
      "properties": {
        "sourceSentence": {
          "description": "Source sentence in the sentence pair.",
          "type": "string"
        },
        "targetSentence": {
          "type": "string",
          "description": "Target sentence in the sentence pair."
        }
      },
      "type": "object",
      "description": "A pair of sentences used as reference in source and target languages."
    },
    "SupportedLanguages": {
      "properties": {
        "languages": {
          "type": "array",
          "description": "A list of supported language responses. This list contains an entry for each language the Translation API supports.",
          "items": {
            "$ref": "SupportedLanguage"
          }
        }
      },
      "type": "object",
      "id": "SupportedLanguages",
      "description": "The response message for discovering supported languages."
    },
    "GlossaryConfig": {
      "properties": {
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
        }
      },
      "id": "GlossaryConfig",
      "type": "object",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary."
    },
    "RefineTextRequest": {
      "id": "RefineTextRequest",
      "properties": {
        "refinementEntries": {
          "items": {
            "$ref": "RefinementEntry"
          },
          "type": "array",
          "description": "Required. The source texts and original translations in the source and target languages."
        },
        "sourceLanguageCode": {
          "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\".",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
        }
      },
      "type": "object",
      "description": "Request message for RefineText."
    },
    "DocumentInputConfig": {
      "id": "DocumentInputConfig",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        },
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Document's content represented as a stream of bytes."
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf"
        }
      },
      "description": "A document translation request input config.",
      "type": "object"
    },
    "GcsInputSource": {
      "type": "object",
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      },
      "id": "GcsInputSource",
      "description": "The Google Cloud Storage location for the input content."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object"
    },
    "AdaptiveMtFile": {
      "description": "An AdaptiveMtFile.",
      "id": "AdaptiveMtFile",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this file was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that the file contains."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this file was last updated."
        }
      }
    },
    "ListModelsResponse": {
      "properties": {
        "models": {
          "description": "The models read.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page.",
          "type": "string"
        }
      },
      "id": "ListModelsResponse",
      "description": "Response message for ListModels.",
      "type": "object"
    },
    "TransliterationConfig": {
      "description": "Configures transliteration feature on top of translation.",
      "type": "object",
      "properties": {
        "enableTransliteration": {
          "type": "boolean",
          "description": "If true, source text in romanized form can be translated to the target language."
        }
      },
      "id": "TransliterationConfig"
    },
    "RefinementEntry": {
      "description": "A single refinement entry for RefineTextRequest.",
      "id": "RefinementEntry",
      "properties": {
        "originalTranslation": {
          "type": "string",
          "description": "Required. The original translation of the source text."
        },
        "sourceText": {
          "description": "Required. The source text to be refined.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAdaptiveMtDatasetsResponse": {
      "properties": {
        "adaptiveMtDatasets": {
          "items": {
            "$ref": "AdaptiveMtDataset"
          },
          "description": "Output only. A list of Adaptive MT datasets.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListAdaptiveMtDatasetsResponse",
      "type": "object",
      "description": "A list of AdaptiveMtDatasets."
    },
    "AdaptiveMtTranslation": {
      "id": "AdaptiveMtTranslation",
      "description": "An AdaptiveMt translation.",
      "properties": {
        "translatedText": {
          "readOnly": true,
          "description": "Output only. The translated text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatasetOutputConfig": {
      "type": "object",
      "description": "Output configuration for datasets.",
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination to write the output.",
          "$ref": "GcsOutputDestination"
        }
      },
      "id": "DatasetOutputConfig"
    },
    "TranslateDocumentResponse": {
      "description": "A translated document response message.",
      "id": "TranslateDocumentResponse",
      "type": "object",
      "properties": {
        "model": {
          "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`.",
          "type": "string"
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "documentTranslation": {
          "description": "Translated document.",
          "$ref": "DocumentTranslation"
        },
        "glossaryDocumentTranslation": {
          "description": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply.",
          "$ref": "DocumentTranslation"
        }
      }
    },
    "ListGlossaryEntriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls.",
          "type": "string"
        },
        "glossaryEntries": {
          "description": "Optional. The Glossary Entries",
          "type": "array",
          "items": {
            "$ref": "GlossaryEntry"
          }
        }
      },
      "id": "ListGlossaryEntriesResponse",
      "description": "Response message for ListGlossaryEntries",
      "type": "object"
    },
    "AdaptiveMtDataset": {
      "description": "An Adaptive MT Dataset.",
      "type": "object",
      "id": "AdaptiveMtDataset",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`"
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "exampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples in the dataset."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this dataset was last updated.",
          "format": "google-datetime"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the source language."
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the target language."
        }
      }
    },
    "ImportAdaptiveMtFileResponse": {
      "properties": {
        "adaptiveMtFile": {
          "$ref": "AdaptiveMtFile",
          "readOnly": true,
          "description": "Output only. The Adaptive MT file that was imported."
        }
      },
      "description": "The response for importing an AdaptiveMtFile",
      "type": "object",
      "id": "ImportAdaptiveMtFileResponse"
    },
    "Romanization": {
      "type": "object",
      "properties": {
        "romanizedText": {
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        }
      },
      "description": "A single romanization response.",
      "id": "Romanization"
    },
    "GlossaryTermsSet": {
      "properties": {
        "terms": {
          "description": "Each term in the set represents a term that can be replaced by the other terms.",
          "items": {
            "$ref": "GlossaryTerm"
          },
          "type": "array"
        }
      },
      "description": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set.",
      "id": "GlossaryTermsSet",
      "type": "object"
    },
    "TranslateTextRequest": {
      "type": "object",
      "description": "The request message for synchronous translation.",
      "id": "TranslateTextRequest",
      "properties": {
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used",
          "type": "string"
        },
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response.",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "transliterationConfig": {
          "description": "Optional. Transliteration to be applied.",
          "$ref": "TransliterationConfig"
        },
        "contents": {
          "description": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\".",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "DatasetInputConfig": {
      "properties": {
        "inputFiles": {
          "type": "array",
          "description": "Files containing the sentence pairs to be imported to the dataset.",
          "items": {
            "$ref": "InputFile"
          }
        }
      },
      "type": "object",
      "id": "DatasetInputConfig",
      "description": "Input configuration for datasets."
    },
    "GlossaryEntry": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`"
        },
        "termsPair": {
          "description": "Used for an unidirectional glossary.",
          "$ref": "GlossaryTermsPair"
        },
        "description": {
          "description": "Describes the glossary entry.",
          "type": "string"
        },
        "termsSet": {
          "$ref": "GlossaryTermsSet",
          "description": "Used for an equivalent term sets glossary."
        }
      },
      "type": "object",
      "id": "GlossaryEntry",
      "description": "Represents a single entry in a glossary."
    },
    "OutputConfig": {
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`"
        }
      },
      "description": "Output configuration for BatchTranslateText request.",
      "type": "object",
      "id": "OutputConfig"
    },
    "AdaptiveMtTranslateResponse": {
      "description": "An AdaptiveMtTranslate response.",
      "properties": {
        "glossaryTranslations": {
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
          "type": "array"
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translation's language code."
        },
        "translations": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          },
          "readOnly": true,
          "description": "Output only. The translation."
        }
      },
      "id": "AdaptiveMtTranslateResponse",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "TranslateDocumentRequest": {
      "type": "object",
      "id": "TranslateDocumentRequest",
      "description": "A document translation request.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model.",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation.",
          "type": "string"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "documentInputConfig": {
          "$ref": "DocumentInputConfig",
          "description": "Required. Input configurations."
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "enableRotationCorrection": {
          "description": "Optional. If true, enable auto rotation correction in DVS.",
          "type": "boolean"
        },
        "isTranslateNativePdfOnly": {
          "type": "boolean",
          "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "documentOutputConfig": {
          "description": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type.",
          "$ref": "DocumentOutputConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information."
        }
      }
    },
    "ImportAdaptiveMtFileRequest": {
      "description": "The request for importing an AdaptiveMt file along with its sentences.",
      "id": "ImportAdaptiveMtFileRequest",
      "properties": {
        "fileInputSource": {
          "description": "Inline file source.",
          "$ref": "FileInputSource"
        },
        "gcsInputSource": {
          "description": "Google Cloud Storage file source.",
          "$ref": "GcsInputSource"
        }
      },
      "type": "object"
    },
    "DetectLanguageResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "DetectedLanguage"
          },
          "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DetectLanguageResponse",
      "description": "The response message for language detection."
    },
    "GcsDestination": {
      "description": "The Google Cloud Storage location for the output content.",
      "id": "GcsDestination",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned."
        }
      }
    },
    "Translation": {
      "id": "Translation",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response."
        },
        "detectedLanguageCode": {
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      },
      "description": "A single translation response.",
      "type": "object"
    },
    "AdaptiveMtTranslateRequest": {
      "description": "The request for sending an AdaptiveMt translation query.",
      "id": "AdaptiveMtTranslateRequest",
      "type": "object",
      "properties": {
        "glossaryConfig": {
          "$ref": "GlossaryConfig",
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned."
        },
        "referenceSentenceConfig": {
          "description": "Configuration for caller provided reference sentences.",
          "$ref": "ReferenceSentenceConfig"
        },
        "mimeType": {
          "type": "string",
          "description": "The format of the source text. Currently only text/plain is supported."
        },
        "dataset": {
          "type": "string",
          "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`"
        },
        "content": {
          "description": "Required. The content of the input in string format.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LanguageCodePair": {
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LanguageCodePair",
      "description": "Used with unidirectional glossaries."
    },
    "Model": {
      "description": "A trained translation model.",
      "type": "object",
      "id": "Model",
      "properties": {
        "trainExampleCount": {
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this model was last updated.",
          "format": "google-datetime"
        },
        "dataset": {
          "type": "string",
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        },
        "sourceLanguageCode": {
          "readOnly": true,
          "description": "Output only. The BCP-47 language code of the source language.",
          "type": "string"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Output only. The BCP-47 language code of the target language.",
          "readOnly": true
        },
        "displayName": {
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started.",
          "readOnly": true,
          "type": "string"
        },
        "validateExampleCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of examples (sentence pairs) used to validate the model."
        },
        "testExampleCount": {
          "readOnly": true,
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TranslateTextGlossaryConfig": {
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "id": "TranslateTextGlossaryConfig",
      "type": "object",
      "properties": {
        "glossary": {
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`",
          "type": "string"
        },
        "contextualTranslationEnabled": {
          "type": "boolean",
          "description": "Optional. If set to true, the glossary will be used for contextual translation."
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing."
        }
      }
    },
    "ListExamplesResponse": {
      "properties": {
        "examples": {
          "description": "The sentence pairs.",
          "type": "array",
          "items": {
            "$ref": "Example"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListExamplesRequest to obtain the corresponding page.",
          "type": "string"
        }
      },
      "id": "ListExamplesResponse",
      "description": "Response message for ListExamples.",
      "type": "object"
    },
    "InputConfig": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty."
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text."
        }
      },
      "id": "InputConfig",
      "description": "Input configuration for BatchTranslateText request.",
      "type": "object"
    },
    "WaitOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.WaitOperation.",
      "id": "WaitOperationRequest",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
        }
      }
    }
  },
  "version": "v3",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "revision": "20260901",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Translate",
  "resources": {
    "projects": {
      "methods": {
        "getSupportedLanguages": {
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "description": "Returns a list of supported languages for translation.",
          "parameters": {
            "displayLanguageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response."
            },
            "model": {
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "SupportedLanguages"
          },
          "id": "translate.projects.getSupportedLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "path": "v3/{+parent}/supportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages"
        },
        "detectLanguage": {
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "id": "translate.projects.detectLanguage",
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "path": "v3/{+parent}:detectLanguage"
        },
        "romanizeText": {
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "httpMethod": "POST",
          "id": "translate.projects.romanizeText",
          "path": "v3/{+parent}:romanizeText",
          "parameters": {
            "parent": {
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "parameterOrder": [
            "parent"
          ]
        },
        "translateText": {
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "httpMethod": "POST",
          "id": "translate.projects.translateText",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "v3/{+parent}:translateText",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v3/projects/{projectsId}:translateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Translates input text and returns translated text."
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "datasets": {
              "methods": {
                "exportData": {
                  "parameterOrder": [
                    "dataset"
                  ],
                  "path": "v3/{+dataset}:exportData",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "translate.projects.locations.datasets.exportData",
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Exports dataset's data to the provided output location."
                },
                "importData": {
                  "path": "v3/{+dataset}:importData",
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "id": "translate.projects.locations.datasets.importData",
                  "parameters": {
                    "dataset": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "dataset"
                  ],
                  "description": "Import sentence pairs into translation Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a dataset and all of its contents.",
                  "path": "v3/{+name}",
                  "id": "translate.projects.locations.datasets.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the dataset to delete.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Dataset"
                  },
                  "id": "translate.projects.locations.datasets.create",
                  "path": "v3/{+parent}/datasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Creates a Dataset.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "description": "Lists datasets.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "id": "translate.projects.locations.datasets.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/datasets"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "id": "translate.projects.locations.datasets.get",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The resource name of the dataset to retrieve.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets a Dataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Dataset"
                  }
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists sentence pairs in the dataset.",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call.",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "id": "translate.projects.locations.datasets.examples.list",
                      "httpMethod": "GET",
                      "path": "v3/{+parent}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              }
            },
            "adaptiveMtDatasets": {
              "resources": {
                "adaptiveMtFiles": {
[...]
