{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "canonicalName": "Transcoder",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "name": "transcoder",
  "version_module": true,
  "version": "v1",
  "rootUrl": "https://transcoder.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "baseUrl": "https://transcoder.googleapis.com/",
  "revision": "20260923",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobs": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/jobs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "id": "transcoder.projects.locations.jobs.list",
                  "description": "Lists jobs in the specified region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a job in the specified region.",
                  "id": "transcoder.projects.locations.jobs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "location": "path",
                      "required": true
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobs.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a job."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "path": "v1/{+name}",
                  "id": "transcoder.projects.locations.jobs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Returns the job data.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "jobTemplates": {
              "methods": {
                "create": {
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "description": "Creates a job template in the specified region.",
                  "path": "v1/{+parent}/jobTemplates",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "jobTemplateId": {
                      "location": "query",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "description": "Deletes a job template.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    }
                  },
                  "description": "Returns the job template data.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/jobTemplates",
                  "description": "Lists job templates in the specified region.",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "transcoder:v1",
  "schemas": {
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "Manifest": {
      "description": "Manifest configuration.",
      "type": "object",
      "id": "Manifest",
      "properties": {
        "type": {
          "description": "Required. Type of the manifest.",
          "type": "string",
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ],
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ]
        },
        "muxStreams": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list."
        },
        "fileName": {
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type.",
          "type": "string"
        },
        "dash": {
          "$ref": "DashConfig",
          "description": "`DASH` manifest configuration."
        }
      }
    },
    "AdBreak": {
      "description": "Ad break.",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`."
        }
      },
      "id": "AdBreak",
      "type": "object"
    },
    "VideoStream": {
      "type": "object",
      "description": "Video stream resource.",
      "id": "VideoStream",
      "properties": {
        "h264": {
          "$ref": "H264CodecSettings",
          "description": "H264 codec settings."
        },
        "h265": {
          "description": "H265 codec settings.",
          "$ref": "H265CodecSettings"
        },
        "vp9": {
          "description": "VP9 codec settings.",
          "$ref": "Vp9CodecSettings"
        }
      }
    },
    "H265ColorFormatHLG": {
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "H265ColorFormatHLG",
      "properties": {},
      "type": "object"
    },
    "Deinterlace": {
      "description": "Deinterlace configuration for input video.",
      "properties": {
        "yadif": {
          "$ref": "YadifConfig",
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration."
        },
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        }
      },
      "id": "Deinterlace",
      "type": "object"
    },
    "TrackDefinition": {
      "properties": {
        "languages": {
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "detectedLanguages": {
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectLanguages": {
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field.",
          "type": "boolean"
        },
        "inputTrack": {
          "format": "int32",
          "type": "integer",
          "description": "The input track."
        }
      },
      "type": "object",
      "description": "Track definition for the input asset.",
      "id": "TrackDefinition"
    },
    "YadifConfig": {
      "type": "object",
      "id": "YadifConfig",
      "description": "Yet Another Deinterlacing Filter Configuration.",
      "properties": {
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        },
        "disableSpatialInterlacing": {
          "description": "Disable spacial interlacing. The default is `false`.",
          "type": "boolean"
        },
        "parity": {
          "type": "string",
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity"
        }
      }
    },
    "Vp9CodecSettings": {
      "type": "object",
      "properties": {
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate"
        },
        "frameRate": {
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double"
        },
        "heightPixels": {
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "hlg": {
          "$ref": "Vp9ColorFormatHLG",
          "description": "Optional. HLG color format setting for VP9."
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message."
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "type": "integer",
          "format": "int32"
        },
        "bitrateBps": {
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000.",
          "type": "integer"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for VP9.",
          "$ref": "Vp9ColorFormatSDR"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "Vp9CodecSettings",
      "description": "VP9 codec settings."
    },
    "Image": {
      "description": "Overlaid image.",
      "type": "object",
      "properties": {
        "alpha": {
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "format": "double",
          "type": "number"
        },
        "resolution": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported."
        }
      },
      "id": "Image"
    },
    "InputAttributes": {
      "description": "Input attributes that provide additional information about the input asset.",
      "properties": {
        "trackDefinitions": {
          "items": {
            "$ref": "TrackDefinition"
          },
          "description": "Optional. A list of track definitions for the input asset.",
          "type": "array"
        }
      },
      "id": "InputAttributes",
      "type": "object"
    },
    "Vp9ColorFormatSDR": {
      "properties": {},
      "type": "object",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "id": "Vp9ColorFormatSDR"
    },
    "SegmentSettings": {
      "properties": {
        "segmentDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream)."
        },
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        }
      },
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "type": "object",
      "id": "SegmentSettings"
    },
    "Animation": {
      "id": "Animation",
      "description": "Animation types.",
      "type": "object",
      "properties": {
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        },
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        }
      }
    },
    "ElementaryStream": {
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "properties": {
        "textStream": {
          "$ref": "TextStream",
          "description": "Encoding of a text stream. For example, closed captions or subtitles."
        },
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        },
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        },
        "videoStream": {
          "$ref": "VideoStream",
          "description": "Encoding of a video stream."
        }
      },
      "type": "object",
      "id": "ElementaryStream"
    },
    "Aes128Encryption": {
      "type": "object",
      "description": "Configuration for AES-128 encryption.",
      "id": "Aes128Encryption",
      "properties": {}
    },
    "H265CodecSettings": {
      "properties": {
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "sdr": {
          "$ref": "H265ColorFormatSDR",
          "description": "Optional. SDR color format setting for H265."
        },
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "heightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "gopDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "vbvFullnessBits": {
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.",
          "format": "int32",
          "type": "integer"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H265.",
          "$ref": "H265ColorFormatHLG"
        },
        "frameRateConversionStrategy": {
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "type": "string"
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32",
          "type": "integer"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32"
        },
        "hdr10": {
          "$ref": "H265ColorFormatHDR10",
          "description": "Optional. HDR10 color format setting for H265."
        },
        "vbvSizeBits": {
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer"
        }
      },
      "description": "H265 codec settings.",
      "id": "H265CodecSettings",
      "type": "object"
    },
    "MuxStream": {
      "type": "object",
      "description": "Multiplexing settings for output stream.",
      "properties": {
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`."
        },
        "elementaryStreams": {
          "description": "List of ElementaryStream.key values multiplexed in this stream.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "container": {
          "type": "string",
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)"
        },
        "key": {
          "description": "A unique key for this multiplexed stream.",
          "type": "string"
        },
        "encryptionId": {
          "type": "string",
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted."
        },
        "fmp4": {
          "$ref": "Fmp4Config",
          "description": "Optional. `fmp4` container configuration."
        }
      },
      "id": "MuxStream"
    },
    "Fairplay": {
      "id": "Fairplay",
      "description": "Fairplay configuration.",
      "type": "object",
      "properties": {}
    },
    "PubsubDestination": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`."
        }
      },
      "type": "object",
      "description": "A Pub/Sub destination.",
      "id": "PubsubDestination"
    },
    "MpegCommonEncryption": {
      "type": "object",
      "id": "MpegCommonEncryption",
      "properties": {
        "scheme": {
          "type": "string",
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`"
        }
      },
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC)."
    },
    "Color": {
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "properties": {
        "saturation": {
          "type": "number",
          "format": "double",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
        },
        "brightness": {
          "type": "number",
          "format": "double",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0."
        },
        "contrast": {
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Color"
    },
    "EditAtom": {
      "description": "Edit atom.",
      "properties": {
        "endTimeOffset": {
          "type": "string",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "format": "google-duration"
        },
        "inputs": {
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`."
        }
      },
      "id": "EditAtom",
      "type": "object"
    },
    "H265ColorFormatSDR": {
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "properties": {},
      "type": "object",
      "id": "H265ColorFormatSDR"
    },
    "Output": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        }
      },
      "type": "object",
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "id": "Output"
    },
    "Crop": {
      "id": "Crop",
      "properties": {
        "rightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to crop from the right. The default is 0."
        },
        "topPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the top. The default is 0.",
          "type": "integer"
        },
        "leftPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to crop from the left. The default is 0."
        },
        "bottomPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to crop from the bottom. The default is 0."
        }
      },
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object"
    },
    "PreprocessingConfig": {
      "description": "Preprocessing configurations.",
      "id": "PreprocessingConfig",
      "type": "object",
      "properties": {
        "denoise": {
          "$ref": "Denoise",
          "description": "Denoise preprocessing configuration."
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        },
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        },
        "pad": {
          "$ref": "Pad",
          "description": "Specify the video pad filter configuration."
        },
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        }
      }
    },
    "NormalizedCoordinate": {
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "type": "object",
      "properties": {
        "y": {
          "description": "Normalized y coordinate.",
          "type": "number",
          "format": "double"
        },
        "x": {
          "description": "Normalized x coordinate.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "NormalizedCoordinate"
    },
    "H264CodecSettings": {
      "description": "H264 codec settings.",
      "properties": {
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`."
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "vbvFullnessBits": {
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits.",
          "type": "integer",
          "format": "int32"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H264.",
          "$ref": "H264ColorFormatHLG"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "type": "string",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "crfLevel": {
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32"
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "gopFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps.",
          "format": "int32",
          "type": "integer"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for H264.",
          "$ref": "H264ColorFormatSDR"
        },
        "bitrateBps": {
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "format": "int32"
        },
        "aqStrength": {
          "format": "double",
          "type": "number",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0."
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number",
          "format": "double"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "H264CodecSettings"
    },
    "AudioStream": {
      "description": "Audio stream resource.",
      "properties": {
        "channelCount": {
          "type": "integer",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "format": "int32"
        },
        "sampleRateHertz": {
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "format": "int32",
          "type": "integer"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        },
        "displayName": {
          "type": "string",
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files."
        },
        "bitrateBps": {
          "type": "integer",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "format": "int32"
        },
        "codec": {
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`",
          "type": "string"
        },
        "mapping": {
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
          "type": "array",
          "items": {
            "$ref": "AudioMapping"
          }
        },
        "channelLayout": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency"
        }
      },
      "type": "object",
      "id": "AudioStream"
    },
    "Audio": {
      "description": "Audio preprocessing configuration.",
      "properties": {
        "lowBoost": {
          "type": "boolean",
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported."
        },
        "lufs": {
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "format": "double",
          "type": "number"
        },
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        }
      },
      "id": "Audio",
      "type": "object"
    },
    "Fmp4Config": {
      "properties": {
        "codecTag": {
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`",
          "type": "string"
        }
      },
      "id": "Fmp4Config",
      "description": "`fmp4` container configuration.",
      "type": "object"
    },
    "SampleAesEncryption": {
      "properties": {},
      "type": "object",
      "description": "Configuration for SAMPLE-AES encryption.",
      "id": "SampleAesEncryption"
    },
    "JobConfig": {
      "type": "object",
      "properties": {
        "adBreaks": {
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "items": {
            "$ref": "AdBreak"
          },
          "type": "array"
        },
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "type": "array",
          "description": "List of output manifests."
        },
        "muxStreams": {
          "description": "List of multiplexing settings for output streams.",
          "type": "array",
          "items": {
            "$ref": "MuxStream"
          }
        },
        "pubsubDestination": {
          "$ref": "PubsubDestination",
          "description": "Destination on Pub/Sub."
        },
        "overlays": {
          "description": "List of overlays on the output video, in descending Z-order.",
          "items": {
            "$ref": "Overlay"
          },
          "type": "array"
        },
        "elementaryStreams": {
          "type": "array",
          "description": "List of elementary streams.",
          "items": {
            "$ref": "ElementaryStream"
          }
        },
        "inputs": {
          "items": {
            "$ref": "Input"
          },
          "type": "array",
          "description": "List of input assets stored in Cloud Storage."
        },
        "editList": {
          "items": {
            "$ref": "EditAtom"
          },
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest.",
          "type": "array"
        },
        "encryptions": {
          "type": "array",
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output.",
          "items": {
            "$ref": "Encryption"
          }
        },
        "spriteSheets": {
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig.",
          "type": "array",
          "items": {
            "$ref": "SpriteSheet"
          }
        },
        "output": {
          "description": "Output configuration.",
          "$ref": "Output"
        }
      },
      "id": "JobConfig",
      "description": "Job configuration"
    },
    "H264ColorFormatHLG": {
      "properties": {},
      "type": "object",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "H264ColorFormatHLG"
    },
    "Denoise": {
      "properties": {
        "strength": {
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "tune": {
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`",
          "type": "string"
        }
      },
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "id": "Denoise"
    },
    "TextStream": {
      "properties": {
        "mapping": {
          "items": {
            "$ref": "TextMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        },
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "codec": {
          "type": "string",
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`"
        }
      },
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "id": "TextStream",
      "type": "object"
    },
    "SecretManagerSource": {
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported."
        }
      },
      "description": "Configuration for secrets stored in Google Secret Manager.",
      "id": "SecretManagerSource",
      "type": "object"
    },
    "AnimationStatic": {
      "type": "object",
      "properties": {
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "startTimeOffset": {
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Display static overlay object.",
      "id": "AnimationStatic"
    },
    "BwdifConfig": {
      "type": "object",
      "id": "BwdifConfig",
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        }
      },
      "description": "Bob Weaver Deinterlacing Filter Configuration."
    },
    "Widevine": {
      "properties": {},
      "id": "Widevine",
      "description": "Widevine configuration.",
      "type": "object"
    },
    "Encryption": {
      "type": "object",
      "id": "Encryption",
      "properties": {
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "mpegCenc": {
          "$ref": "MpegCommonEncryption",
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC)."
        },
        "secretManagerKeySource": {
          "description": "Keys are stored in Google Secret Manager.",
          "$ref": "SecretManagerSource"
        },
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "drmSystems": {
          "$ref": "DrmSystems",
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled."
        },
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        }
      },
      "description": "Encryption settings."
    },
    "DrmSystems": {
      "properties": {
        "fairplay": {
          "$ref": "Fairplay",
          "description": "Fairplay configuration."
        },
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        },
        "playready": {
          "description": "Playready configuration.",
          "$ref": "Playready"
        },
        "widevine": {
          "$ref": "Widevine",
          "description": "Widevine configuration."
        }
      },
      "type": "object",
      "description": "Defines configuration for DRM systems in use.",
      "id": "DrmSystems"
    },
    "H265ColorFormatHDR10": {
      "id": "H265ColorFormatHDR10",
      "type": "object",
      "properties": {},
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video."
    },
    "JobTemplate": {
      "id": "JobTemplate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job template. You can use these to organize and group your job templates."
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        }
      },
      "description": "Transcoding job template resource."
    },
    "DashConfig": {
      "properties": {
        "segmentReferenceScheme": {
          "type": "string",
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ],
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ]
        }
      },
      "description": "`DASH` manifest configuration.",
      "id": "DashConfig",
      "type": "object"
    },
    "Pad": {
      "properties": {
        "topPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to add to the top. The default is 0."
        },
        "bottomPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the bottom. The default is 0."
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the right. The default is 0.",
          "type": "integer"
        },
        "leftPixels": {
          "type": "integer",
          "description": "The number of pixels to add to the left. The default is 0.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Pad",
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution."
    },
    "ListJobTemplatesResponse": {
      "type": "object",
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "id": "ListJobTemplatesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of regions that could not be reached."
        },
        "jobTemplates": {
          "type": "array",
          "items": {
            "$ref": "JobTemplate"
          },
          "description": "List of job templates in the specified region."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        }
      }
    },
    "H264ColorFormatSDR": {
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "properties": {},
      "id": "H264ColorFormatSDR",
      "type": "object"
    },
    "Vp9ColorFormatHLG": {
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "Vp9ColorFormatHLG",
      "type": "object"
    },
    "Deblock": {
      "type": "object",
      "id": "Deblock",
      "properties": {
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        },
        "strength": {
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported."
    },
    "Overlay": {
      "type": "object",
      "properties": {
        "animations": {
          "type": "array",
          "description": "List of animations. The list should be chronological, without any time overlap.",
          "items": {
            "$ref": "Animation"
          }
        },
        "image": {
          "$ref": "Image",
          "description": "Image overlay."
        }
      },
      "id": "Overlay",
      "description": "Overlay configuration."
    },
    "Playready": {
      "id": "Playready",
      "description": "Playready configuration.",
      "type": "object",
      "properties": {}
    },
    "AudioMapping": {
      "type": "object",
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
      "properties": {
        "gainDb": {
          "type": "number",
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "format": "double"
        },
        "outputChannel": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The zero-based index of the channel in the output audio stream."
        },
        "atomKey": {
          "type": "string",
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list."
        },
        "inputChannel": {
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "format": "int32"
        },
        "inputKey": {
          "type": "string",
          "description": "Required. The Input.key that identifies the input file."
        },
        "inputTrack": {
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32"
        }
      },
      "id": "AudioMapping"
    },
    "TextMapping": {
      "id": "TextMapping",
      "properties": {
        "inputKey": {
          "type": "string",
          "description": "Required. The Input.key that identifies the input file."
        },
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32",
          "type": "integer"
        },
        "atomKey": {
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs."
    },
    "Clearkey": {
      "properties": {},
      "id": "Clearkey",
      "description": "Clearkey configuration.",
      "type": "object"
    },
    "Input": {
      "id": "Input",
      "description": "Input asset.",
      "type": "object",
      "properties": {
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "attributes": {
          "$ref": "InputAttributes",
          "description": "Optional. Input Attributes."
        },
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      }
    },
    "AnimationEnd": {
      "type": "object",
      "id": "AnimationEnd",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The time to end overlay object, in seconds. Default: 0"
        }
      },
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video."
    },
    "AnimationFade": {
      "type": "object",
      "description": "Display overlay object with fade animation.",
      "id": "AnimationFade",
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "type": "string"
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "fadeType": {
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "type": "string",
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ]
        },
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time to start the fade animation, in seconds. Default: 0"
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "Response message for `TranscoderService.ListJobs`.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "List of regions that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jobs": {
          "description": "List of jobs in the specified region.",
          "items": {
            "$ref": "Job"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        }
      }
    },
    "SpriteSheet": {
      "description": "Sprite sheet configuration.",
      "type": "object",
      "id": "SpriteSheet",
      "properties": {
        "rowCount": {
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "type": "integer",
          "format": "int32"
        },
        "spriteHeightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "startTimeOffset": {
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "type": "string",
          "format": "google-duration"
        },
        "columnCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit."
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "type": "integer",
          "format": "int32"
        },
        "spriteWidthPixels": {
          "type": "integer",
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "quality": {
          "format": "int32",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "type": "integer"
        },
        "interval": {
          "type": "string",
          "format": "google-duration",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds."
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Job": {
      "type": "object",
      "description": "Transcoding job resource.",
      "properties": {
        "batchModePriority": {
          "format": "int32",
          "type": "integer",
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job."
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        },
        "outputUri": {
          "type": "string",
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the transcoding finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "optimization": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ],
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`.",
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time the transcoding started.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ttlAfterCompletionDays": {
          "format": "int32",
          "type": "integer",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`."
        },
        "inputUri": {
          "type": "string",
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "templateId": {
          "type": "string",
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`"
        },
        "state": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ],
          "description": "Output only. The current state of the job."
        },
        "mode": {
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ],
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.",
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
        },
        "fillContentGaps": {
          "type": "boolean",
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the job was created.",
          "readOnly": true
        }
      },
      "id": "Job"
    }
  },
  "title": "Transcoder API"
}