{
  "discoveryVersion": "v1",
  "features": [
    "dataWrapper"
  ],
  "resources": {
    "detections": {
      "methods": {
        "detect": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "description": "Detects the language of text within a request.",
          "path": "v2/detect",
          "id": "language.detections.detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "response": {
            "$ref": "DetectionsListResponse"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "required": true,
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "q"
          ],
          "path": "v2/detect",
          "description": "Detects the language of text within a request.",
          "id": "language.detections.list",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "source": {
              "location": "query",
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            },
            "format": {
              "location": "query",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "type": "string",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
            },
            "cid": {
              "location": "query",
              "description": "The customization id for translate",
              "repeated": true,
              "type": "string"
            },
            "q": {
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "target": {
              "required": true,
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            }
          },
          "path": "v2",
          "description": "Translates input text, returning translated text.",
          "id": "language.translations.list",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q",
            "target"
          ]
        },
        "translate": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Translates input text, returning translated text.",
          "id": "language.translations.translate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v2",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "response": {
            "$ref": "TranslationsListResponse"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "location": "query",
              "type": "string"
            },
            "target": {
              "location": "query",
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            }
          },
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "v2/languages",
          "id": "language.languages.list"
        }
      }
    }
  },
  "name": "translate",
  "id": "translate:v2",
  "ownerName": "Google",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "pp": {
      "default": "true",
      "type": "boolean",
      "description": "Pretty-print response.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "rootUrl": "https://translation.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "title": "Google Cloud Translation API",
  "version": "v2",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "canonicalName": "Translate",
  "servicePath": "language/translate/",
  "revision": "20170525",
  "batchPath": "batch/translate",
  "kind": "discovery#restDescription",
  "schemas": {
    "GetSupportedLanguagesRequest": {
      "id": "GetSupportedLanguagesRequest",
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      }
    },
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          }
        }
      },
      "id": "DetectionsResource",
      "type": "array"
    },
    "TranslationsListResponse": {
      "type": "object",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text",
          "type": "array"
        }
      },
      "id": "TranslationsListResponse"
    },
    "DetectLanguageRequest": {
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array"
        }
      },
      "id": "DetectLanguageRequest",
      "type": "object",
      "description": "The request message for language detection."
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "id": "TranslateTextRequest",
      "properties": {
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text",
          "type": "array"
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TranslationsResource": {
      "properties": {
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "model": {
          "type": "string",
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "id": "TranslationsResource",
      "type": "object"
    }
  },
  "basePath": "/language/translate/"
}