{
  "revision": "20260827",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Vault API",
  "discoveryVersion": "v1",
  "name": "vault",
  "baseUrl": "https://vault.googleapis.com/",
  "rootUrl": "https://vault.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "servicePath": "",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The standard list page token.",
              "type": "string"
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The standard list page size.",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "name": {
              "location": "path",
              "description": "The name of the operation's parent resource.",
              "pattern": "^operations$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/operations",
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
        },
        "get": {
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true,
              "location": "path",
              "description": "The name of the operation resource."
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "cancel": {
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.cancel",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "location": "path"
            }
          },
          "flatPath": "v1/operations/{operationsId}:cancel"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be deleted.",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "vault.operations.delete",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "matters": {
      "methods": {
        "removePermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Removes an account as a matter collaborator.",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "path": "v1/matters/{matterId}:removePermissions",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.removePermissions"
        },
        "close": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "path": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/matters/{matterId}:close",
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.close"
        },
        "list": {
          "response": {
            "$ref": "ListMattersResponse"
          },
          "path": "v1/matters",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "location": "query",
              "description": "Specifies how much information about the matter to return in response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ]
            },
            "pageToken": {
              "description": "The pagination token as returned in the response.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "type": "integer",
              "location": "query"
            },
            "state": {
              "location": "query",
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "type": "string"
            }
          },
          "flatPath": "v1/matters",
          "parameterOrder": [],
          "id": "vault.matters.list",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "description": "Lists matters the requestor has access to."
        },
        "reopen": {
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "id": "vault.matters.reopen",
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}:reopen",
          "path": "v1/matters/{matterId}:reopen",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "ReopenMatterResponse"
          }
        },
        "addPermissions": {
          "response": {
            "$ref": "MatterPermission"
          },
          "path": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.addPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Adds an account as a matter collaborator.",
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "description": "Gets the specified matter.",
          "id": "vault.matters.get",
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "httpMethod": "GET",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "view": {
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "Specifies how much information about the matter to return in the response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "location": "query"
            }
          },
          "response": {
            "$ref": "Matter"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "response": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "httpMethod": "DELETE",
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID",
              "type": "string",
              "location": "path"
            }
          },
          "id": "vault.matters.delete",
          "parameterOrder": [
            "matterId"
          ]
        },
        "count": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Counts the accounts processed by the specified query.",
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/matters/{matterId}:count",
          "path": "v1/matters/{matterId}:count",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "id": "vault.matters.count",
          "parameterOrder": [
            "matterId"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "request": {
            "$ref": "Matter"
          },
          "path": "v1/matters",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/matters",
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [],
          "id": "vault.matters.create"
        },
        "update": {
          "request": {
            "$ref": "Matter"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "id": "vault.matters.update",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "httpMethod": "PUT",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          }
        },
        "undelete": {
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.undelete",
          "path": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "response": {
            "$ref": "Matter"
          }
        }
      },
      "resources": {
        "exports": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Deletes an export.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "DELETE",
              "parameters": {
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path"
                },
                "exportId": {
                  "location": "path",
                  "description": "The export ID.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "id": "vault.matters.exports.delete"
            },
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.exports.create",
              "response": {
                "$ref": "Export"
              },
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "request": {
                "$ref": "Export"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Creates an export."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Gets an export.",
              "id": "vault.matters.exports.get",
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "response": {
                "$ref": "Export"
              },
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "GET",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                },
                "exportId": {
                  "description": "The export ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Lists details about the exports in the specified matter.",
              "response": {
                "$ref": "ListExportsResponse"
              },
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "GET",
              "parameters": {
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The number of exports to return in the response.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.exports.list"
            }
          }
        },
        "holds": {
          "resources": {
            "accounts": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "description": "Removes an account from a hold.",
                  "id": "vault.matters.holds.accounts.delete",
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The ID of the account to remove from the hold.",
                      "type": "string",
                      "required": true
                    },
                    "holdId": {
                      "location": "path",
                      "required": true,
                      "description": "The hold ID.",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "id": "vault.matters.holds.accounts.create",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "POST",
                  "parameters": {
                    "holdId": {
                      "location": "path",
                      "required": true,
                      "description": "The hold ID.",
                      "type": "string"
                    },
                    "matterId": {
                      "location": "path",
                      "required": true,
                      "description": "The matter ID.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "id": "vault.matters.holds.accounts.list",
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "parameters": {
                    "holdId": {
                      "required": true,
                      "description": "The hold ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "matterId": {
                      "required": true,
                      "description": "The matter ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts"
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.get",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "GET",
              "parameters": {
                "holdId": {
                  "required": true,
                  "description": "The hold ID.",
                  "type": "string",
                  "location": "path"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "description": "The amount of detail to return for a hold.",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "location": "query"
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "response": {
                "$ref": "Hold"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Gets the specified hold."
            },
            "delete": {
              "id": "vault.matters.holds.delete",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "DELETE",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                },
                "holdId": {
                  "location": "path",
                  "description": "The hold ID.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged."
            },
            "addHeldAccounts": {
              "id": "vault.matters.holds.addHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "httpMethod": "POST",
              "parameters": {
                "holdId": {
                  "required": true,
                  "description": "The hold ID.",
                  "type": "string",
                  "location": "path"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold."
            },
            "removeHeldAccounts": {
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "httpMethod": "POST",
              "parameters": {
                "holdId": {
                  "location": "path",
                  "required": true,
                  "description": "The hold ID.",
                  "type": "string"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.removeHeldAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request.",
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Creates a hold in the specified matter.",
              "request": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds",
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.create",
              "parameterOrder": [
                "matterId"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Lists the holds in a matter.",
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "type": "string",
                  "location": "query"
                },
                "matterId": {
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "view": {
                  "description": "The amount of detail to return for a hold.",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ]
                }
              },
              "flatPath": "v1/matters/{matterId}/holds",
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.holds.list"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "request": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "PUT",
              "parameters": {
                "holdId": {
                  "description": "The ID of the hold.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "response": {
                "$ref": "Hold"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.update"
            }
          }
        },
        "savedQueries": {
          "methods": {
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.savedQueries.create",
              "response": {
                "$ref": "SavedQuery"
              },
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The ID of the matter to create the saved query in.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "request": {
                "$ref": "SavedQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Creates a saved query."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Retrieves the specified saved query.",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "GET",
              "parameters": {
                "savedQueryId": {
                  "required": true,
                  "description": "ID of the saved query to retrieve.",
                  "type": "string",
                  "location": "path"
                },
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the matter to get the saved query from.",
                  "type": "string"
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "SavedQuery"
              },
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "id": "vault.matters.savedQueries.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "description": "Lists the saved queries in a matter.",
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of saved queries to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "type": "string",
                  "location": "query"
                },
                "matterId": {
                  "required": true,
                  "description": "The ID of the matter to get the saved queries for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.savedQueries.list"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Deletes the specified saved query.",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "DELETE",
              "parameters": {
                "savedQueryId": {
                  "description": "ID of the saved query to delete.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "matterId": {
                  "required": true,
                  "description": "The ID of the matter to delete the saved query from.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "id": "vault.matters.savedQueries.delete"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "version": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "schemas": {
    "CountArtifactsResponse": {
      "id": "CountArtifactsResponse",
      "description": "Definition of the response for method CountArtifacts.",
      "type": "object",
      "properties": {
        "totalCount": {
          "format": "int64",
          "description": "Total count of messages.",
          "type": "string"
        },
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        },
        "groupsCountResult": {
          "$ref": "GroupsCountResult",
          "description": "Count metrics for Groups."
        }
      }
    },
    "HeldMailQuery": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Query options for Gmail holds.",
      "type": "object",
      "id": "HeldMailQuery"
    },
    "Query": {
      "id": "Query",
      "properties": {
        "accountInfo": {
          "description": "Required when **SearchMethod** is **ACCOUNT**.",
          "$ref": "AccountInfo"
        },
        "hangoutsChatInfo": {
          "$ref": "HangoutsChatInfo",
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)"
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        },
        "calendarOptions": {
          "$ref": "CalendarOptions",
          "description": "Set Calendar search-specific options."
        },
        "method": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "type": "string",
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ]
        },
        "dataScope": {
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ],
          "description": "The data source to search.",
          "type": "string",
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ]
        },
        "geminiOptions": {
          "$ref": "GeminiOptions",
          "description": "Set Gemini search-specific options."
        },
        "orgUnitInfo": {
          "description": "Required when **SearchMethod** is **ORG_UNIT**.",
          "$ref": "OrgUnitInfo"
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "voiceOptions": {
          "description": "Set Voice search-specific options.",
          "$ref": "VoiceOptions"
        },
        "driveDocumentInfo": {
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**.",
          "$ref": "DriveDocumentInfo"
        },
        "searchMethod": {
          "description": "The search method to use.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "deprecated": true,
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ]
        },
        "startTime": {
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "teamDriveInfo": {
          "$ref": "TeamDriveInfo",
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**.",
          "deprecated": true
        },
        "endTime": {
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "mailOptions": {
          "description": "Set Gmail search-specific options.",
          "$ref": "MailOptions"
        },
        "corpus": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The Google Workspace service to search.",
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "hangoutsChatOptions": {
          "description": "Set Chat search-specific options. (read-only)",
          "$ref": "HangoutsChatOptions"
        },
        "driveOptions": {
          "$ref": "DriveOptions",
          "description": "Set Drive search-specific options."
        }
      },
      "description": "The query definition used for search and export.",
      "type": "object"
    },
    "HeldDriveQuery": {
      "id": "HeldDriveQuery",
      "properties": {
        "includeTeamDriveFiles": {
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "deprecated": true,
          "type": "boolean"
        },
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Drive holds.",
      "type": "object"
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "properties": {
        "hangoutsChatOptions": {
          "description": "Options for Chat exports.",
          "$ref": "HangoutsChatExportOptions"
        },
        "driveOptions": {
          "description": "Options for Drive exports.",
          "$ref": "DriveExportOptions"
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "groupsOptions": {
          "description": "Options for Groups exports.",
          "$ref": "GroupsExportOptions"
        },
        "voiceOptions": {
          "description": "Options for Voice exports.",
          "$ref": "VoiceExportOptions"
        },
        "geminiOptions": {
          "description": "Option available for Gemini export.",
          "$ref": "GeminiExportOptions"
        },
        "calendarOptions": {
          "$ref": "CalendarExportOptions",
          "description": "Option available for Calendar export."
        },
        "region": {
          "description": "The requested data region for the export.",
          "type": "string",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        }
      },
      "description": "Additional options for exports",
      "type": "object"
    },
    "MailOptions": {
      "properties": {
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        }
      },
      "description": "Additional options for Gmail search",
      "type": "object",
      "id": "MailOptions"
    },
    "DriveExportOptions": {
      "description": "Options for Drive exports.",
      "type": "object",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      },
      "id": "DriveExportOptions"
    },
    "ListMattersResponse": {
      "properties": {
        "matters": {
          "description": "List of matters.",
          "type": "array",
          "items": {
            "$ref": "Matter"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "description": "Provides the list of matters.",
      "type": "object",
      "id": "ListMattersResponse"
    },
    "ListSavedQueriesResponse": {
      "description": "Definition of the response for method ListSaveQuery.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list.",
          "type": "string"
        },
        "savedQueries": {
          "items": {
            "$ref": "SavedQuery"
          },
          "description": "List of saved queries.",
          "type": "array"
        }
      },
      "id": "ListSavedQueriesResponse"
    },
    "VoiceExportOptions": {
      "description": "The options for Voice exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported text messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "id": "VoiceExportOptions"
    },
    "AddMatterPermissionsRequest": {
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        },
        "sendEmails": {
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**.",
          "type": "boolean"
        },
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        }
      },
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object"
    },
    "AccountCountError": {
      "description": "An error that occurred when querying a specific account",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ],
          "description": "Account query error.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ]
        }
      },
      "id": "AccountCountError"
    },
    "Matter": {
      "id": "Matter",
      "properties": {
        "matterRegion": {
          "description": "Optional. The requested data region for the matter.",
          "type": "string",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "matterPermissions": {
          "items": {
            "$ref": "MatterPermission"
          },
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "type": "array"
        },
        "state": {
          "description": "The state of the matter.",
          "type": "string",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ]
        }
      },
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object"
    },
    "HeldOrgUnit": {
      "id": "HeldOrgUnit",
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "format": "google-datetime",
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "type": "string"
        }
      }
    },
    "CountArtifactsMetadata": {
      "description": "Long running operation metadata for CountArtifacts.",
      "type": "object",
      "properties": {
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        },
        "endTime": {
          "description": "End time of count operation. Available when operation is done.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Creation time of count operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        }
      },
      "id": "CountArtifactsMetadata"
    },
    "CloudStorageFile": {
      "properties": {
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "size": {
          "description": "The export file size.",
          "type": "string",
          "format": "int64"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        }
      },
      "description": "The export file in Cloud Storage",
      "type": "object",
      "id": "CloudStorageFile"
    },
    "HangoutsChatInfo": {
      "id": "HangoutsChatInfo",
      "description": "The Chat spaces to search",
      "type": "object",
      "properties": {
        "roomId": {
          "items": {
            "type": "string"
          },
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "type": "array"
        }
      }
    },
    "DriveDocumentIds": {
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of Drive document IDs.",
          "type": "array"
        }
      },
      "description": "Specify Drive documents by document ID.",
      "type": "object",
      "id": "DriveDocumentIds"
    },
    "ReopenMatterRequest": {
      "id": "ReopenMatterRequest",
      "properties": {},
      "description": "Reopen a matter by ID.",
      "type": "object"
    },
    "HeldGeminiQuery": {
      "id": "HeldGeminiQuery",
      "description": "Options for Gemini holds.",
      "type": "object",
      "properties": {}
    },
    "GroupsExportOptions": {
      "description": "Options for Groups exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "id": "GroupsExportOptions"
    },
    "CloudStorageSink": {
      "id": "CloudStorageSink",
      "description": "Export sink for Cloud Storage files.",
      "type": "object",
      "properties": {
        "files": {
          "description": "Output only. The exported files in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "MailExportOptions": {
      "id": "MailExportOptions",
      "description": "Options for Gmail exports.",
      "type": "object",
      "properties": {
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        },
        "exportLinkedDriveFiles": {
          "description": "Optional. To enable exporting linked Drive files, set to **true**.",
          "type": "boolean"
        },
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "AccountInfo": {
      "id": "AccountInfo",
      "description": "The accounts to search",
      "type": "object",
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "A set of accounts to search.",
          "type": "array"
        }
      }
    },
    "Hold": {
      "id": "Hold",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "query": {
          "$ref": "CorpusQuery",
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**."
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "type": "array"
        },
        "corpus": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The service to be searched.",
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last time this hold was modified.",
          "type": "string"
        }
      }
    },
    "HeldVoiceQuery": {
      "description": "Options for Voice holds.",
      "type": "object",
      "properties": {
        "coveredData": {
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          }
        }
      },
      "id": "HeldVoiceQuery"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "OrgUnitInfo": {
      "description": "The organizational unit to search",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      },
      "id": "OrgUnitInfo"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "SitesUrlInfo": {
      "description": "The published site URLs of new Google Sites to search",
      "type": "object",
      "properties": {
        "urls": {
          "description": "A list of published site URLs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SitesUrlInfo"
    },
    "GeminiOptions": {
      "properties": {},
      "description": "Additional options for Gemini search",
      "type": "object",
      "id": "GeminiOptions"
    },
    "CalendarExportOptions": {
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported text messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "description": "The options for Calendar exports.",
      "type": "object",
      "id": "CalendarExportOptions"
    },
    "ExportStats": {
      "description": "Progress information for an export.",
      "type": "object",
      "properties": {
        "exportedArtifactCount": {
          "format": "int64",
          "description": "The number of messages or files already processed for export.",
          "type": "string"
        },
        "sizeInBytes": {
          "format": "int64",
          "description": "The size of export in bytes.",
          "type": "string"
        },
        "totalArtifactCount": {
          "format": "int64",
          "description": "The number of messages or files to be exported.",
          "type": "string"
        }
      },
      "id": "ExportStats"
    },
    "GroupsCountResult": {
      "description": "Groups specific count metrics.",
      "type": "object",
      "properties": {
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "description": "Error occurred when querying these accounts.",
          "type": "array"
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array",
          "items": {
            "$ref": "AccountCount"
          }
        },
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GroupsCountResult"
    },
    "CalendarOptions": {
      "properties": {
        "locationQuery": {
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peopleQuery": {
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseStatuses": {
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "type": "array",
          "items": {
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          }
        },
        "minusWords": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\".",
          "type": "array"
        },
        "versionDate": {
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Additional options for Calendar search",
      "type": "object",
      "id": "CalendarOptions"
    },
    "ListExportsResponse": {
      "description": "The exports for a matter.",
      "type": "object",
      "properties": {
        "exports": {
          "items": {
            "$ref": "Export"
          },
          "description": "The list of exports.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListExportsResponse"
    },
    "HeldGroupsQuery": {
      "description": "Query options for group holds.",
      "type": "object",
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        }
      },
      "id": "HeldGroupsQuery"
    },
    "AccountCount": {
      "id": "AccountCount",
      "description": "The results count for each account.",
      "type": "object",
      "properties": {
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "type": "string",
          "format": "int64"
        },
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        }
      }
    },
    "ReopenMatterResponse": {
      "id": "ReopenMatterResponse",
      "description": "Response to a ReopenMatterRequest.",
      "type": "object",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **OPEN**."
        }
      }
    },
    "RemoveHeldAccountsResponse": {
      "id": "RemoveHeldAccountsResponse",
      "properties": {
        "statuses": {
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "Response for batch delete held accounts.",
      "type": "object"
    },
    "AddHeldAccountsResponse": {
      "id": "AddHeldAccountsResponse",
      "description": "Response for batch create held accounts.",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "description": "The list of responses, in the same order as the batch request.",
          "type": "array"
        }
      }
    },
    "UserInfo": {
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The displayed name of the user.",
          "type": "string"
        }
      },
      "description": "User's information.",
      "type": "object",
      "id": "UserInfo"
    },
    "HangoutsChatOptions": {
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      },
      "description": "Additional options for Google Chat search",
      "type": "object",
      "id": "HangoutsChatOptions"
    },
    "HangoutsChatExportOptions": {
      "id": "HangoutsChatExportOptions",
      "description": "Options for Chat exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      }
    },
    "MatterPermission": {
      "id": "MatterPermission",
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ],
          "description": "The user's role for the matter.",
          "type": "string",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ]
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      },
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "type": "object"
    },
    "CloseMatterResponse": {
      "properties": {
        "matter": {
          "description": "The updated matter, with state **CLOSED**.",
          "$ref": "Matter"
        }
      },
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "id": "CloseMatterResponse"
    },
    "TeamDriveInfo": {
      "description": "Team Drives to search",
      "id": "TeamDriveInfo",
      "properties": {
        "teamDriveIds": {
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "Export": {
      "properties": {
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Additional export options."
        },
        "parentExportId": {
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the export was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "status": {
          "description": "Output only. The status of the export.",
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        },
        "query": {
          "description": "The query parameters used to create the export.",
          "$ref": "Query"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        }
      },
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "id": "Export"
    },
    "HeldHangoutsChatQuery": {
      "id": "HeldHangoutsChatQuery",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Chat holds.",
      "type": "object"
    },
    "RemoveMatterPermissionsRequest": {
      "description": "Remove an account as a matter collaborator.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "id": "RemoveMatterPermissionsRequest"
    },
    "HeldAccount": {
      "id": "HeldAccount",
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "holdTime": {
          "format": "google-datetime",
          "description": "Output only. When the account was put on hold.",
          "type": "string"
        },
        "firstName": {
          "description": "Output only. The first name of the account holder.",
          "type": "string"
        },
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        }
      }
    },
    "HeldCalendarQuery": {
      "id": "HeldCalendarQuery",
      "description": "Options for Calendar holds.",
      "type": "object",
      "properties": {}
    },
    "VoiceOptions": {
      "id": "VoiceOptions",
      "properties": {
        "coveredData": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "description": "Datatypes to search",
          "type": "array"
        }
      },
      "description": "Additional options for Voice search",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListHoldsResponse": {
      "description": "The holds for a matter.",
      "type": "object",
      "properties": {
        "holds": {
          "items": {
            "$ref": "Hold"
          },
          "description": "The list of holds.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list.",
          "type": "string"
        }
      },
      "id": "ListHoldsResponse"
    },
    "AddHeldAccountResult": {
      "properties": {
        "account": {
          "description": "Returned when the account was successfully created.",
          "$ref": "HeldAccount"
        },
        "status": {
          "$ref": "Status",
          "description": "Reports the request status. If it failed, returns an error message."
        }
      },
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "type": "object",
      "id": "AddHeldAccountResult"
    },
    "CloseMatterRequest": {
      "description": "Close a matter by ID.",
      "type": "object",
      "properties": {},
      "id": "CloseMatterRequest"
    },
    "UndeleteMatterRequest": {
      "description": "Undelete a matter by ID.",
      "type": "object",
      "properties": {},
      "id": "UndeleteMatterRequest"
    },
    "SavedQuery": {
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The search parameters of the saved query."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The server-generated timestamp when the saved query was created.",
          "type": "string"
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        },
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        }
      },
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "id": "SavedQuery"
    },
    "AddHeldAccountsRequest": {
      "description": "Add a list of accounts to a hold.",
      "type": "object",
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array"
        },
        "accountIds": {
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AddHeldAccountsRequest"
    },
    "DriveDocumentInfo": {
      "properties": {
        "documentIds": {
          "$ref": "DriveDocumentIds",
          "description": "Specify Drive documents by document ID."
        }
      },
      "description": "The Drive documents to search.",
      "type": "object",
      "id": "DriveDocumentInfo"
    },
    "CorpusQuery": {
      "id": "CorpusQuery",
      "description": "Service-specific options for holds.",
      "type": "object",
      "properties": {
        "geminiQuery": {
          "$ref": "HeldGeminiQuery",
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**."
        },
        "mailQuery": {
          "$ref": "HeldMailQuery",
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**."
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "voiceQuery": {
          "$ref": "HeldVoiceQuery",
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**."
        },
        "hangoutsChatQuery": {
          "$ref": "HeldHangoutsChatQuery",
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**."
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        },
        "calendarQuery": {
          "$ref": "HeldCalendarQuery",
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**."
        }
      }
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        }
      },
      "description": "Returns a list of the accounts covered by a hold.",
      "type": "object"
    },
    "DriveOptions": {
      "id": "DriveOptions",
      "properties": {
        "clientSideEncryptedOption": {
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        },
        "includeTeamDrives": {
          "description": "Set to true to include Team Drive.",
          "deprecated": true,
          "type": "boolean"
        },
        "includeSharedDrives": {
          "description": "Set to **true** to include shared drives.",
          "deprecated": true,
          "type": "boolean"
        },
[...]
