{
  "kind": "discovery#restDescription",
  "baseUrl": "https://vault.googleapis.com/",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "discoveryVersion": "v1",
  "version": "v1",
  "name": "vault",
  "revision": "20260827",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "id": "vault.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The standard list page size.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "type": "string",
              "required": true
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "flatPath": "v1/operations",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "delete": {
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.delete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/operations/{operationsId}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        },
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.operations.cancel",
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST"
        }
      }
    },
    "matters": {
      "methods": {
        "addPermissions": {
          "id": "vault.matters.addPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "path": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "MatterPermission"
          },
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "description": "Adds an account as a matter collaborator."
        },
        "delete": {
          "path": "v1/matters/{matterId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.delete",
          "flatPath": "v1/matters/{matterId}",
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "parameters": {
            "matterId": {
              "description": "The matter ID",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Matter"
          }
        },
        "create": {
          "parameters": {},
          "response": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters",
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "path": "v1/matters",
          "httpMethod": "POST",
          "id": "vault.matters.create",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "Matter"
          }
        },
        "get": {
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "id": "vault.matters.get",
          "path": "v1/matters/{matterId}",
          "httpMethod": "GET",
          "flatPath": "v1/matters/{matterId}",
          "description": "Gets the specified matter.",
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "location": "path",
              "required": true
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "Specifies how much information about the matter to return in the response.",
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ]
            }
          },
          "response": {
            "$ref": "Matter"
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The pagination token as returned in the response.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "Specifies how much information about the matter to return in response.",
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ]
            },
            "state": {
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "location": "query",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "type": "string"
            },
            "pageSize": {
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListMattersResponse"
          },
          "flatPath": "v1/matters",
          "description": "Lists matters the requestor has access to.",
          "id": "vault.matters.list",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [],
          "path": "v1/matters",
          "httpMethod": "GET"
        },
        "removePermissions": {
          "path": "v1/matters/{matterId}:removePermissions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.removePermissions",
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "description": "Removes an account as a matter collaborator.",
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "description": "The matter ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          }
        },
        "reopen": {
          "path": "v1/matters/{matterId}:reopen",
          "httpMethod": "POST",
          "id": "vault.matters.reopen",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "flatPath": "v1/matters/{matterId}:reopen",
          "description": "Reopens the specified matter. Returns the matter with updated state."
        },
        "close": {
          "id": "vault.matters.close",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "path": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "description": "The matter ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "flatPath": "v1/matters/{matterId}:close",
          "description": "Closes the specified matter. Returns the matter with updated state."
        },
        "update": {
          "path": "v1/matters/{matterId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.update",
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters/{matterId}",
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Matter"
          }
        },
        "count": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.count",
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "path": "v1/matters/{matterId}:count",
          "httpMethod": "POST",
          "flatPath": "v1/matters/{matterId}:count",
          "description": "Counts the accounts processed by the specified query.",
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "undelete": {
          "parameters": {
            "matterId": {
              "required": true,
              "description": "The matter ID.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "path": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "parameterOrder": [
            "matterId"
          ],
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "id": "vault.matters.undelete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        }
      },
      "resources": {
        "exports": {
          "methods": {
            "create": {
              "parameters": {
                "matterId": {
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Export"
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "description": "Creates an export.",
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "POST",
              "parameterOrder": [
                "matterId"
              ],
              "request": {
                "$ref": "Export"
              },
              "id": "vault.matters.exports.create",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "get": {
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                },
                "exportId": {
                  "required": true,
                  "type": "string",
                  "description": "The export ID.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Export"
              },
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "description": "Gets an export.",
              "id": "vault.matters.exports.get",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "GET"
            },
            "delete": {
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "id": "vault.matters.exports.delete",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "DELETE",
              "parameters": {
                "exportId": {
                  "description": "The export ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "description": "Deletes an export."
            },
            "list": {
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.exports.list",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The pagination token as returned in the response.",
                  "location": "query"
                },
                "matterId": {
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "The number of exports to return in the response.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListExportsResponse"
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "description": "Lists details about the exports in the specified matter."
            }
          }
        },
        "holds": {
          "methods": {
            "addHeldAccounts": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.holds.addHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "httpMethod": "POST",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                },
                "holdId": {
                  "required": true,
                  "type": "string",
                  "description": "The hold ID.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AddHeldAccountsResponse"
              }
            },
            "delete": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged.",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                },
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.holds.delete",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "DELETE"
            },
            "update": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "request": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.update",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "PUT",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                },
                "holdId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the hold.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored."
            },
            "removeHeldAccounts": {
              "id": "vault.matters.holds.removeHeldAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                },
                "holdId": {
                  "required": true,
                  "type": "string",
                  "description": "The hold ID.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request."
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/holds",
              "description": "Lists the holds in a matter.",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "description": "The amount of detail to return for a hold.",
                  "location": "query",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.holds.list",
              "parameterOrder": [
                "matterId"
              ]
            },
            "create": {
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "POST",
              "parameterOrder": [
                "matterId"
              ],
              "request": {
                "$ref": "Hold"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.holds.create",
              "flatPath": "v1/matters/{matterId}/holds",
              "description": "Creates a hold in the specified matter.",
              "parameters": {
                "matterId": {
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Hold"
              }
            },
            "get": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Gets the specified hold.",
              "parameters": {
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string"
                },
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "view": {
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "description": "The amount of detail to return for a hold.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ]
                }
              },
              "response": {
                "$ref": "Hold"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.holds.get",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "delete": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "description": "Removes an account from a hold.",
                  "parameters": {
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "description": "The hold ID.",
                      "location": "path"
                    },
                    "matterId": {
                      "required": true,
                      "type": "string",
                      "description": "The matter ID.",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The ID of the account to remove from the hold.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "id": "vault.matters.holds.accounts.delete",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "holdId": {
                      "description": "The hold ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "id": "vault.matters.holds.accounts.list",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "id": "vault.matters.holds.accounts.create",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "POST",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "parameters": {
                    "matterId": {
                      "required": true,
                      "description": "The matter ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "holdId": {
                      "description": "The hold ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "HeldAccount"
                  }
                }
              }
            }
          }
        },
        "savedQueries": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.savedQueries.delete",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "DELETE",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "description": "Deletes the specified saved query.",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to delete the saved query from.",
                  "location": "path"
                },
                "savedQueryId": {
                  "required": true,
                  "description": "ID of the saved query to delete.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "description": "Lists the saved queries in a matter.",
              "parameters": {
                "pageToken": {
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "location": "query",
                  "type": "string"
                },
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to get the saved queries for.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of saved queries to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.savedQueries.list",
              "parameterOrder": [
                "matterId"
              ]
            },
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "request": {
                "$ref": "SavedQuery"
              },
              "id": "vault.matters.savedQueries.create",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to create the saved query in.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SavedQuery"
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "description": "Creates a saved query."
            },
            "get": {
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the matter to get the saved query from.",
                  "location": "path"
                },
                "savedQueryId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the saved query to retrieve.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SavedQuery"
              },
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "description": "Retrieves the specified saved query.",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "GET",
              "id": "vault.matters.savedQueries.get",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ]
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "canonicalName": "Vault",
  "batchPath": "batch",
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "rootUrl": "https://vault.googleapis.com/",
  "schemas": {
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "HeldAccount": {
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "id": "HeldAccount",
      "properties": {
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "Output only. The first name of the account holder."
        },
        "lastName": {
          "type": "string",
          "description": "Output only. The last name of the account holder."
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "description": "Output only. When the account was put on hold.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "HangoutsChatOptions": {
      "id": "HangoutsChatOptions",
      "properties": {
        "includeRooms": {
          "type": "boolean",
          "description": "For searches by account or organizational unit, set to **true** to include rooms."
        }
      },
      "description": "Additional options for Google Chat search",
      "type": "object"
    },
    "ReopenMatterResponse": {
      "description": "Response to a ReopenMatterRequest.",
      "type": "object",
      "id": "ReopenMatterResponse",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **OPEN**.",
          "$ref": "Matter"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "VoiceOptions": {
      "type": "object",
      "description": "Additional options for Voice search",
      "id": "VoiceOptions",
      "properties": {
        "coveredData": {
          "description": "Datatypes to search",
          "items": {
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          },
          "type": "array"
        }
      }
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Returns a list of the accounts covered by a hold."
    },
    "CountArtifactsResponse": {
      "id": "CountArtifactsResponse",
      "properties": {
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of messages."
        },
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        }
      },
      "type": "object",
      "description": "Definition of the response for method CountArtifacts."
    },
    "AccountCountError": {
      "description": "An error that occurred when querying a specific account",
      "type": "object",
      "id": "AccountCountError",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "errorType": {
          "type": "string",
          "description": "Account query error.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ],
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ]
        }
      }
    },
    "CloudStorageSink": {
      "type": "object",
      "description": "Export sink for Cloud Storage files.",
      "id": "CloudStorageSink",
      "properties": {
        "files": {
          "type": "array",
          "description": "Output only. The exported files in Cloud Storage.",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      }
    },
    "MailCountResult": {
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "type": "object",
      "id": "MailCountResult",
      "properties": {
        "queriedAccountsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of accounts involved in this count operation."
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "items": {
            "$ref": "AccountCount"
          },
          "type": "array"
        },
        "accountCountErrors": {
          "type": "array",
          "description": "Errors occurred when querying these accounts.",
          "items": {
            "$ref": "AccountCountError"
          }
        },
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DriveDocumentInfo": {
      "id": "DriveDocumentInfo",
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      },
      "description": "The Drive documents to search.",
      "type": "object"
    },
    "Query": {
      "id": "Query",
      "properties": {
        "corpus": {
          "type": "string",
          "description": "The Google Workspace service to search.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "dataScope": {
          "type": "string",
          "description": "The data source to search.",
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ],
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ]
        },
        "driveDocumentInfo": {
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**.",
          "$ref": "DriveDocumentInfo"
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "teamDriveInfo": {
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**.",
          "deprecated": true,
          "$ref": "TeamDriveInfo"
        },
        "mailOptions": {
          "description": "Set Gmail search-specific options.",
          "$ref": "MailOptions"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "geminiOptions": {
          "description": "Set Gemini search-specific options.",
          "$ref": "GeminiOptions"
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "hangoutsChatOptions": {
          "description": "Set Chat search-specific options. (read-only)",
          "$ref": "HangoutsChatOptions"
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        },
        "terms": {
          "type": "string",
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results."
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "method": {
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "accountInfo": {
          "description": "Required when **SearchMethod** is **ACCOUNT**.",
          "$ref": "AccountInfo"
        },
        "voiceOptions": {
          "description": "Set Voice search-specific options.",
          "$ref": "VoiceOptions"
        },
        "calendarOptions": {
          "description": "Set Calendar search-specific options.",
          "$ref": "CalendarOptions"
        },
        "searchMethod": {
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "description": "The search method to use.",
          "deprecated": true,
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "orgUnitInfo": {
          "description": "Required when **SearchMethod** is **ORG_UNIT**.",
          "$ref": "OrgUnitInfo"
        }
      },
      "type": "object",
      "description": "The query definition used for search and export."
    },
    "SavedQuery": {
      "id": "SavedQuery",
      "properties": {
        "savedQueryId": {
          "type": "string",
          "description": "A unique identifier for the saved query."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The server-generated timestamp when the saved query was created."
        },
        "matterId": {
          "type": "string",
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the saved query."
        },
        "query": {
          "description": "The search parameters of the saved query.",
          "$ref": "Query"
        }
      },
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object"
    },
    "VoiceExportOptions": {
      "id": "VoiceExportOptions",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string",
          "description": "The file format for exported text messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "The options for Voice exports.",
      "type": "object"
    },
    "HeldCalendarQuery": {
      "id": "HeldCalendarQuery",
      "properties": {},
      "description": "Options for Calendar holds.",
      "type": "object"
    },
    "OrgUnitInfo": {
      "description": "The organizational unit to search",
      "type": "object",
      "id": "OrgUnitInfo",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/)."
        }
      }
    },
    "AddMatterPermissionsRequest": {
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object",
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        },
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        },
        "sendEmails": {
          "type": "boolean",
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**."
        }
      }
    },
    "RemoveMatterPermissionsRequest": {
      "id": "RemoveMatterPermissionsRequest",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account ID."
        }
      },
      "description": "Remove an account as a matter collaborator.",
      "type": "object"
    },
    "HeldGroupsQuery": {
      "description": "Query options for group holds.",
      "type": "object",
      "id": "HeldGroupsQuery",
      "properties": {
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        }
      }
    },
    "HeldDriveQuery": {
      "id": "HeldDriveQuery",
      "properties": {
        "includeTeamDriveFiles": {
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "deprecated": true,
          "type": "boolean"
        },
        "includeSharedDriveFiles": {
          "type": "boolean",
          "description": "To include files in shared drives in the hold, set to **true**."
        }
      },
      "description": "Options for Drive holds.",
      "type": "object"
    },
    "AddHeldAccountsRequest": {
      "id": "AddHeldAccountsRequest",
      "properties": {
        "accountIds": {
          "type": "array",
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "items": {
            "type": "string"
          }
        },
        "emails": {
          "type": "array",
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Add a list of accounts to a hold.",
      "type": "object"
    },
    "ListSavedQueriesResponse": {
      "description": "Definition of the response for method ListSaveQuery.",
      "type": "object",
      "id": "ListSavedQueriesResponse",
      "properties": {
        "savedQueries": {
          "type": "array",
          "description": "List of saved queries.",
          "items": {
            "$ref": "SavedQuery"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list."
        }
      }
    },
    "UndeleteMatterRequest": {
      "description": "Undelete a matter by ID.",
      "type": "object",
      "id": "UndeleteMatterRequest",
      "properties": {}
    },
    "AddHeldAccountsResponse": {
      "id": "AddHeldAccountsResponse",
      "properties": {
        "responses": {
          "description": "The list of responses, in the same order as the batch request.",
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for batch create held accounts."
    },
    "ListMattersResponse": {
      "id": "ListMattersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        },
        "matters": {
          "description": "List of matters.",
          "items": {
            "$ref": "Matter"
          },
          "type": "array"
        }
      },
      "description": "Provides the list of matters.",
      "type": "object"
    },
    "Hold": {
      "id": "Hold",
      "properties": {
        "holdId": {
          "type": "string",
          "description": "The unique immutable ID of the hold. Assigned during creation."
        },
        "name": {
          "type": "string",
          "description": "The name of the hold."
        },
        "corpus": {
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ],
          "type": "string",
          "description": "The service to be searched.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ]
        },
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        },
        "updateTime": {
          "description": "The last time this hold was modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "accounts": {
          "type": "array",
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "items": {
            "$ref": "HeldAccount"
          }
        },
        "orgUnit": {
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**.",
          "$ref": "HeldOrgUnit"
        }
      },
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object"
    },
    "AccountCount": {
      "id": "AccountCount",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The results count for each account.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CountArtifactsMetadata": {
      "id": "CountArtifactsMetadata",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation time of count operation."
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "endTime": {
          "description": "End time of count operation. Available when operation is done.",
          "type": "string",
          "format": "google-datetime"
        },
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        }
      },
      "type": "object",
      "description": "Long running operation metadata for CountArtifacts."
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "properties": {
        "mailOptions": {
          "description": "Options for Gmail exports.",
          "$ref": "MailExportOptions"
        },
        "voiceOptions": {
          "description": "Options for Voice exports.",
          "$ref": "VoiceExportOptions"
        },
        "calendarOptions": {
          "description": "Option available for Calendar export.",
          "$ref": "CalendarExportOptions"
        },
        "hangoutsChatOptions": {
          "description": "Options for Chat exports.",
          "$ref": "HangoutsChatExportOptions"
        },
        "groupsOptions": {
          "description": "Options for Groups exports.",
          "$ref": "GroupsExportOptions"
        },
        "driveOptions": {
          "description": "Options for Drive exports.",
          "$ref": "DriveExportOptions"
        },
        "geminiOptions": {
          "description": "Option available for Gemini export.",
          "$ref": "GeminiExportOptions"
        },
        "region": {
          "type": "string",
          "description": "The requested data region for the export.",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ]
        }
      },
      "description": "Additional options for exports",
      "type": "object"
    },
    "HangoutsChatInfo": {
      "type": "object",
      "description": "The Chat spaces to search",
      "id": "HangoutsChatInfo",
      "properties": {
        "roomId": {
          "type": "array",
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserInfo": {
      "description": "User's information.",
      "type": "object",
      "id": "UserInfo",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The displayed name of the user."
        }
      }
    },
    "HeldVoiceQuery": {
      "id": "HeldVoiceQuery",
      "properties": {
        "coveredData": {
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "items": {
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Options for Voice holds."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "DriveOptions": {
      "description": "Additional options for Drive search.",
      "type": "object",
      "id": "DriveOptions",
      "properties": {
        "includeTeamDrives": {
          "deprecated": true,
          "type": "boolean",
          "description": "Set to true to include Team Drive."
        },
        "sharedDrivesOption": {
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "type": "string",
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set.",
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ]
        },
        "includeSharedDrives": {
          "deprecated": true,
          "type": "boolean",
          "description": "Set to **true** to include shared drives."
        },
        "versionDate": {
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string",
          "format": "google-datetime"
        },
        "clientSideEncryptedOption": {
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ]
        }
      }
    },
    "RemoveHeldAccountsResponse": {
      "type": "object",
      "description": "Response for batch delete held accounts.",
      "id": "RemoveHeldAccountsResponse",
      "properties": {
        "statuses": {
          "type": "array",
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "GeminiExportOptions": {
      "id": "GeminiExportOptions",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The options for Gemini exports."
    },
    "ExportStats": {
      "id": "ExportStats",
      "properties": {
        "exportedArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files already processed for export."
        },
        "totalArtifactCount": {
          "description": "The number of messages or files to be exported.",
          "type": "string",
          "format": "int64"
        },
        "sizeInBytes": {
          "type": "string",
          "format": "int64",
          "description": "The size of export in bytes."
        }
      },
      "type": "object",
      "description": "Progress information for an export."
    },
    "CalendarOptions": {
      "type": "object",
      "description": "Additional options for Calendar search",
      "id": "CalendarOptions",
      "properties": {
        "peopleQuery": {
          "type": "array",
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "items": {
            "type": "string"
          }
        },
        "minusWords": {
          "type": "array",
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\".",
          "items": {
            "type": "string"
          }
        },
        "versionDate": {
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string",
          "format": "google-datetime"
        },
        "responseStatuses": {
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "items": {
            "type": "string",
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          },
          "type": "array"
        },
        "locationQuery": {
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListExportsResponse": {
      "type": "object",
      "description": "The exports for a matter.",
      "id": "ListExportsResponse",
      "properties": {
        "exports": {
          "type": "array",
          "description": "The list of exports.",
          "items": {
            "$ref": "Export"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      }
    },
    "CloseMatterRequest": {
      "id": "CloseMatterRequest",
      "properties": {},
      "type": "object",
      "description": "Close a matter by ID."
    },
    "MailOptions": {
      "id": "MailOptions",
      "properties": {
        "clientSideEncryptedOption": {
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "type": "string"
        },
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Additional options for Gmail search"
    },
    "RemoveHeldAccountsRequest": {
      "description": "Remove a list of accounts from a hold.",
      "type": "object",
      "id": "RemoveHeldAccountsRequest",
      "properties": {
        "accountIds": {
          "type": "array",
          "description": "The account IDs of the accounts to remove from the hold.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HeldOrgUnit": {
      "type": "object",
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "id": "HeldOrgUnit",
      "properties": {
        "holdTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the organizational unit was put on hold. This property is immutable."
        },
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      }
    },
    "MatterPermission": {
      "id": "MatterPermission",
      "properties": {
        "role": {
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "type": "string",
          "description": "The user's role for the matter.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ]
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist."
    },
    "CorpusQuery": {
      "type": "object",
      "description": "Service-specific options for holds.",
      "id": "CorpusQuery",
      "properties": {
        "mailQuery": {
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**.",
          "$ref": "HeldMailQuery"
        },
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        },
        "geminiQuery": {
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**.",
          "$ref": "HeldGeminiQuery"
        },
        "hangoutsChatQuery": {
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**.",
          "$ref": "HeldHangoutsChatQuery"
        },
        "calendarQuery": {
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**.",
          "$ref": "HeldCalendarQuery"
        }
      }
    },
    "GroupsExportOptions": {
      "description": "Options for Groups exports.",
      "type": "object",
      "id": "GroupsExportOptions",
      "properties": {
        "exportFormat": {
          "type": "string",
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      }
    },
    "CloseMatterResponse": {
      "id": "CloseMatterResponse",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **CLOSED**.",
          "$ref": "Matter"
        }
      },
      "description": "Response to a CloseMatterRequest.",
      "type": "object"
    },
    "GeminiOptions": {
      "description": "Additional options for Gemini search",
      "type": "object",
      "id": "GeminiOptions",
      "properties": {}
    },
    "GroupsCountResult": {
      "description": "Groups specific count metrics.",
      "type": "object",
      "id": "GroupsCountResult",
      "properties": {
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        },
        "accountCounts": {
          "type": "array",
          "description": "Subtotal count per matching account that have more than zero messages.",
          "items": {
            "$ref": "AccountCount"
          }
        },
        "accountCountErrors": {
          "description": "Error occurred when querying these accounts.",
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array"
        },
        "nonQueryableAccounts": {
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Matter": {
      "id": "Matter",
      "properties": {
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "items": {
            "$ref": "MatterPermission"
          },
          "type": "array"
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "state": {
          "description": "The state of the matter.",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ]
        },
        "matterRegion": {
          "type": "string",
          "description": "Optional. The requested data region for the matter.",
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the matter."
        }
      },
      "type": "object",
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "DriveExportOptions": {
      "id": "DriveExportOptions",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Options for Drive exports."
    },
    "HeldMailQuery": {
      "id": "HeldMailQuery",
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        }
      },
      "description": "Query options for Gmail holds.",
      "type": "object"
    },
    "CalendarExportOptions": {
      "description": "The options for Calendar exports.",
      "type": "object",
      "id": "CalendarExportOptions",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported text messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "type": "string"
        }
      }
    },
    "CloudStorageFile": {
      "description": "The export file in Cloud Storage",
      "type": "object",
      "id": "CloudStorageFile",
      "properties": {
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "size": {
          "description": "The export file size.",
          "type": "string",
          "format": "int64"
        },
        "objectName": {
          "type": "string",
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api)."
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        }
      }
    },
    "HangoutsChatExportOptions": {
      "id": "HangoutsChatExportOptions",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "description": "The file format for exported messages.",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "type": "string"
        }
      },
      "description": "Options for Chat exports.",
      "type": "object"
    },
    "SitesUrlInfo": {
      "type": "object",
[...]
