{
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Challenge"
          },
          "id": "verifiedaccess.challenge.create",
          "httpMethod": "POST",
          "description": "CreateChallenge API",
          "flatPath": "v1/challenge",
          "path": "v1/challenge",
          "request": {
            "$ref": "Empty"
          }
        },
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "httpMethod": "POST",
          "flatPath": "v1/challenge:verify",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "path": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "parameters": {},
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "id": "verifiedaccess.challenge.verify"
        }
      }
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "title": "Chrome Verified Access API",
  "kind": "discovery#restDescription",
  "canonicalName": "verifiedaccess",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "version_module": true,
  "id": "verifiedaccess:v1",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260929",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version": "v1",
  "schemas": {
    "Challenge": {
      "type": "object",
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        }
      },
      "description": "signed ChallengeResponse",
      "type": "object"
    },
    "VerifyChallengeResponseResult": {
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SignedData": {
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The data to be signed."
        },
        "signature": {
          "description": "The signature of the data field.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "name": "verifiedaccess",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network"
}