{
  "version_module": true,
  "revision": "20260909",
  "name": "verifiedaccess",
  "fullyEncodeReservedExpansion": true,
  "id": "verifiedaccess:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "title": "Chrome Verified Access API",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Challenge"
          },
          "parameterOrder": [],
          "parameters": {},
          "description": "CreateChallenge API",
          "httpMethod": "POST",
          "path": "v1/challenge",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "Empty"
          },
          "id": "verifiedaccess.challenge.create",
          "flatPath": "v1/challenge"
        },
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "flatPath": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.verify",
          "httpMethod": "POST",
          "path": "v1/challenge:verify",
          "parameters": {}
        }
      }
    }
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "protocol": "rest",
  "canonicalName": "verifiedaccess",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "description": "signed ChallengeResponse",
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "type": "string",
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The data to be signed."
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        }
      }
    },
    "Challenge": {
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "type": "object",
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "version": "v1"
}