{
  "name": "verifiedaccess",
  "title": "Chrome Verified Access API",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    }
  },
  "version_module": true,
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "path": "v1/challenge",
          "flatPath": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "response": {
            "$ref": "Challenge"
          },
          "request": {
            "$ref": "Empty"
          },
          "description": "CreateChallenge API"
        },
        "verify": {
          "parameters": {},
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.verify",
          "parameterOrder": [],
          "description": "VerifyChallengeResponse API",
          "flatPath": "v1/challenge:verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "path": "v1/challenge:verify"
        }
      }
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "servicePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "verifiedaccess",
  "batchPath": "batch",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "id": "verifiedaccess:v1",
  "revision": "20260909",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "schemas": {
    "VerifyChallengeResponseResult": {
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object",
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "verificationOutput": {
          "type": "string",
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Challenge": {
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object",
      "id": "Challenge"
    },
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "type": "string",
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        }
      },
      "id": "VerifyChallengeResponseRequest",
      "description": "signed ChallengeResponse"
    },
    "SignedData": {
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        },
        "data": {
          "description": "The data to be signed.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SignedData"
    }
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "version": "v1"
}