{
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "id": "verifiedaccess:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "version": "v1",
  "name": "verifiedaccess",
  "revision": "20260902",
  "title": "Chrome Verified Access API",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "description": "signed ChallengeResponse",
      "type": "object",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        }
      }
    },
    "SignedData": {
      "id": "SignedData",
      "description": "The wrapper message of any data and its signature.",
      "type": "object",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The data to be signed."
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        }
      }
    },
    "Challenge": {
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "properties": {
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "type": "object"
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "deprecated": true,
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    }
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "canonicalName": "verifiedaccess",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "id": "verifiedaccess.challenge.create",
          "description": "CreateChallenge API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "path": "v1/challenge"
        },
        "verify": {
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "flatPath": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "description": "VerifyChallengeResponse API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/challenge:verify",
          "id": "verifiedaccess.challenge.verify"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/"
}