{
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "servicePath": "",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "revision": "20260909",
  "name": "verifiedaccess",
  "title": "Chrome Verified Access API",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "flatPath": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "parameters": {},
          "description": "CreateChallenge API",
          "httpMethod": "POST",
          "response": {
            "$ref": "Challenge"
          },
          "parameterOrder": [],
          "path": "v1/challenge",
          "request": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        },
        "verify": {
          "description": "VerifyChallengeResponse API",
          "flatPath": "v1/challenge:verify",
          "path": "v1/challenge:verify",
          "parameters": {},
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.verify"
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "verifiedaccess",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "description": "signed ChallengeResponse"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "id": "Challenge",
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "type": "object"
    },
    "SignedData": {
      "properties": {
        "data": {
          "description": "The data to be signed.",
          "type": "string",
          "format": "byte"
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        }
      },
      "id": "SignedData",
      "type": "object",
      "description": "The wrapper message of any data and its signature."
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "id": "VerifyChallengeResponseResult",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "verificationOutput": {
          "type": "string",
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "id": "verifiedaccess:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/"
}