{
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "name": "verifiedaccess",
  "protocol": "rest",
  "servicePath": "",
  "id": "verifiedaccess:v2",
  "batchPath": "batch",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "version": "v2",
  "resources": {
    "challenge": {
      "methods": {
        "generate": {
          "description": "Generates a new challenge.",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "response": {
            "$ref": "Challenge"
          },
          "parameterOrder": [],
          "parameters": {},
          "id": "verifiedaccess.challenge.generate",
          "flatPath": "v2/challenge:generate",
          "httpMethod": "POST",
          "request": {
            "$ref": "Empty"
          },
          "path": "v2/challenge:generate"
        },
        "verify": {
          "description": "Verifies the challenge response.",
          "parameterOrder": [],
          "path": "v2/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v2/challenge:verify",
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.verify",
          "parameters": {}
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "version_module": true,
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "revision": "20260826",
  "discoveryVersion": "v1",
  "canonicalName": "verifiedaccess",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "basePath": "",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "description": "Signed ChallengeResponse.",
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "challengeResponse": {
          "description": "Required. The generated response to the challenge, the bytes representation of SignedData.",
          "format": "byte",
          "type": "string"
        },
        "expectedIdentity": {
          "type": "string",
          "description": "Optional. Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "DeviceSignals": {
      "id": "DeviceSignals",
      "description": "The device signals as reported by Chrome. Unless otherwise specified, signals are available on all platforms.",
      "properties": {
        "imei": {
          "type": "array",
          "description": "Output only. International Mobile Equipment Identity (IMEI) of the device. Available on ChromeOS only.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "TRIGGER_BROWSER_NAVIGATION",
            "TRIGGER_LOGIN_SCREEN"
          ],
          "description": "Output only. The trigger which generated this set of signals.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "When navigating to an URL inside a browser.",
            "When signing into an account on the ChromeOS login screen."
          ]
        },
        "thirdPartyBlockingEnabled": {
          "readOnly": true,
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated. The corresponding policy is now deprecated. Whether Chrome is blocking third-party software injection or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/?policy=ThirdPartyBlockingEnabled. Available on Windows only."
        },
        "allowScreenLock": {
          "type": "boolean",
          "description": "Output only. Value of the AllowScreenLock policy on the device. See https://chromeenterprise.google/policies/?policy=AllowScreenLock for more details. Available on ChromeOS only.",
          "readOnly": true
        },
        "secureBootMode": {
          "enum": [
            "SECURE_BOOT_MODE_UNSPECIFIED",
            "SECURE_BOOT_MODE_UNKNOWN",
            "SECURE_BOOT_MODE_DISABLED",
            "SECURE_BOOT_MODE_ENABLED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the device's startup software has its Secure Boot feature enabled. Available on Windows only.",
          "enumDescriptions": [
            "Unspecified.",
            "Chrome was unable to determine the Secure Boot mode.",
            "Secure Boot was disabled on the startup software.",
            "Secure Boot was enabled on the startup software."
          ]
        },
        "deviceAffiliationIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the device. When the sets of device and profile affiliation IDs overlap, it means that the organizations managing the device and user are affiliated. To learn more about user affiliation, visit https://support.google.com/chrome/a/answer/12801245?ref_topic=9027936.",
          "type": "array",
          "readOnly": true
        },
        "deviceManufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the device's manufacturer."
        },
        "browserVersion": {
          "description": "Output only. Current version of the Chrome browser which generated this set of signals. Example value: \"107.0.5286.0\".",
          "readOnly": true,
          "type": "string"
        },
        "osFirewall": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Chrome could not evaluate the OS firewall state.",
            "The OS firewall is disabled.",
            "The OS firewall is enabled."
          ],
          "description": "Output only. The state of the OS level firewall. On ChromeOS, the value will always be ENABLED on regular devices and UNKNOWN on devices in developer mode. Support for MacOS 15 (Sequoia) and later has been introduced in Chrome M131.",
          "enum": [
            "OS_FIREWALL_UNSPECIFIED",
            "OS_FIREWALL_UNKNOWN",
            "OS_FIREWALL_DISABLED",
            "OS_FIREWALL_ENABLED"
          ],
          "type": "string"
        },
        "chromeRemoteDesktopAppBlocked": {
          "description": "Output only. Whether access to the Chrome Remote Desktop application is blocked via a policy.",
          "type": "boolean",
          "readOnly": true
        },
        "builtInDnsClientEnabled": {
          "type": "boolean",
          "description": "Output only. Whether Chrome's built-in DNS client is used. The OS DNS client is otherwise used. This value may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the device, as defined by the user.",
          "readOnly": true,
          "type": "string"
        },
        "profileAffiliationIds": {
          "description": "Output only. Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the Chrome Profile’s user or ChromeOS user.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operatingSystem": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "CHROME_OS",
            "CHROMIUM_OS",
            "WINDOWS",
            "MAC_OS_X",
            "LINUX"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS.",
            "ChromiumOS.",
            "Windows.",
            "Mac Os X.",
            "Linux"
          ],
          "description": "Output only. The type of the Operating System currently running on the device."
        },
        "crowdStrikeAgent": {
          "description": "Output only. Crowdstrike agent properties installed on the device, if any. Available on Windows and MacOS only.",
          "$ref": "CrowdStrikeAgent",
          "readOnly": true
        },
        "antivirus": {
          "$ref": "Antivirus",
          "readOnly": true,
          "description": "Output only. Information about Antivirus software on the device. Available on Windows only."
        },
        "passwordProtectionWarningTrigger": {
          "enum": [
            "PASSWORD_PROTECTION_WARNING_TRIGGER_UNSPECIFIED",
            "POLICY_UNSET",
            "PASSWORD_PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ],
          "description": "Output only. Whether the Password Protection Warning feature is enabled or not. Password protection alerts users when they reuse their protected password on potentially suspicious sites. This setting is controlled by an enterprise policy: https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger. Note that the policy unset does not have the same effects as having the policy explicitly set to `PASSWORD_PROTECTION_OFF`.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The policy is not set.",
            "No password protection warning will be shown.",
            "Password protection warning is shown if a protected password is re-used.",
            "Password protection warning is shown if a protected password is re-used on a known phishing website."
          ]
        },
        "safeBrowsingProtectionLevel": {
          "readOnly": true,
          "description": "Output only. Safe Browsing Protection Level. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel.",
          "enum": [
            "SAFE_BROWSING_PROTECTION_LEVEL_UNSPECIFIED",
            "INACTIVE",
            "STANDARD",
            "ENHANCED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Safe Browsing is disabled.",
            "Safe Browsing is active in the standard mode.",
            "Safe Browsing is active in the enhanced mode."
          ],
          "type": "string"
        },
        "screenLockSecured": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SCREEN_LOCK_SECURED_UNSPECIFIED",
            "SCREEN_LOCK_SECURED_UNKNOWN",
            "SCREEN_LOCK_SECURED_DISABLED",
            "SCREEN_LOCK_SECURED_ENABLED"
          ],
          "description": "Output only. The state of the Screen Lock password protection. On ChromeOS, this value will always be ENABLED as there is not way to disable requiring a password or pin when unlocking the device.",
          "enumDescriptions": [
            "Unspecified.",
            "Chrome could not evaluate the state of the Screen Lock mechanism.",
            "The Screen Lock is not password-protected.",
            "The Screen Lock is password-protected."
          ]
        },
        "deviceModel": {
          "description": "Output only. The name of the device's model.",
          "readOnly": true,
          "type": "string"
        },
        "meid": {
          "readOnly": true,
          "description": "Output only. Mobile Equipment Identifier (MEID) of the device. Available on ChromeOS only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the device."
        },
        "realtimeUrlCheckMode": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Disabled. Consumer Safe Browsing checks are applied.",
            "Realtime check for main frame URLs is enabled."
          ],
          "enum": [
            "REALTIME_URL_CHECK_MODE_UNSPECIFIED",
            "REALTIME_URL_CHECK_MODE_DISABLED",
            "REALTIME_URL_CHECK_MODE_ENABLED_MAIN_FRAME"
          ],
          "description": "Output only. Whether Enterprise-grade (i.e. custom) unsafe URL scanning is enabled or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode",
          "type": "string"
        },
        "siteIsolationEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the Site Isolation (a.k.a Site Per Process) setting is enabled. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SitePerProcess"
        },
        "systemDnsServers": {
          "description": "List of the addesses of all OS level DNS servers configured in the device's network settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serialNumber": {
          "description": "Output only. The serial number of the device. On Windows, this represents the BIOS's serial number. Not available on most Linux distributions.",
          "type": "string",
          "readOnly": true
        },
        "osVersion": {
          "description": "Output only. The current version of the Operating System. On Windows and linux, the value will also include the security patch information.",
          "type": "string",
          "readOnly": true
        },
        "windowsMachineDomain": {
          "readOnly": true,
          "description": "Output only. Windows domain that the current machine has joined. Available on Windows only.",
          "type": "string"
        },
        "diskEncryption": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Chrome could not evaluate the encryption state.",
            "The main disk is not encrypted.",
            "The main disk is encrypted."
          ],
          "enum": [
            "DISK_ENCRYPTION_UNSPECIFIED",
            "DISK_ENCRYPTION_UNKNOWN",
            "DISK_ENCRYPTION_DISABLED",
            "DISK_ENCRYPTION_ENCRYPTED"
          ],
          "description": "Output only. The encryption state of the disk. On ChromeOS, the main disk is always ENCRYPTED."
        },
        "windowsUserDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Windows domain for the current OS user. Available on Windows only."
        },
        "profileEnrollmentDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Enrollment domain of the customer which is currently managing the profile."
        },
        "macAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Output only. MAC addresses of the device.",
          "type": "array",
          "readOnly": true
        },
        "deviceEnrollmentDomain": {
          "readOnly": true,
          "description": "Output only. Enrollment domain of the customer which is currently managing the device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Challenge": {
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.GenerateChallenge.",
      "type": "object",
      "properties": {
        "challenge": {
          "format": "byte",
          "description": "Generated challenge, the bytes representation of SignedData.",
          "type": "string"
        }
      }
    },
    "CrowdStrikeAgent": {
      "properties": {
        "agentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Agent ID of the Crowdstrike agent."
        },
        "customerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Customer ID to which the agent belongs to."
        }
      },
      "description": "Properties of the CrowdStrike agent installed on a device.",
      "id": "CrowdStrikeAgent",
      "type": "object"
    },
    "Antivirus": {
      "type": "object",
      "description": "Antivirus information on a device.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the antivirus on the device. Introduced in Chrome M136.",
          "enum": [
            "STATE_UNSPECIFIED",
            "MISSING",
            "DISABLED",
            "ENABLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "No antivirus was detected on the device.",
            "At least one antivirus was installed on the device but none was enabled.",
            "At least one antivirus was enabled on the device."
          ]
        }
      },
      "id": "Antivirus"
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Output only. Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "readOnly": true
        },
        "customerId": {
          "description": "Output only. Unique customer id that this device belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers",
          "readOnly": true,
          "type": "string"
        },
        "profileKeyTrustLevel": {
          "description": "Output only. Profile attested key trust level.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS device in verified mode.",
            "ChromeOS device in developer mode.",
            "Chrome Browser with the key stored in the device hardware.",
            "Chrome Browser with the key stored at OS level.",
            "Chrome Browser without an attestation key.",
            "ChromeOS device without a signing key (e.g., Flex without TPM). Applies to both device and user contexts on ChromeOS."
          ],
          "type": "string",
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_OS_VERIFIED_MODE",
            "CHROME_OS_DEVELOPER_MODE",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY",
            "CHROME_BROWSER_NO_KEY",
            "CHROME_OS_NO_KEY"
          ],
          "readOnly": true
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Output only. Device permanent id is returned in this field (for the machine response only).",
          "readOnly": true
        },
        "deviceEnrollmentId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device enrollment id for ChromeOS devices."
        },
        "deviceSignals": {
          "readOnly": true,
          "$ref": "DeviceSignals",
          "description": "Output only. Device signals."
        },
        "attestedDeviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Attested device ID (ADID)."
        },
        "virtualProfileId": {
          "type": "string",
          "description": "Output only. The client-provided ID of a profile on the device.",
          "readOnly": true
        },
        "profilePermanentId": {
          "description": "Output only. The unique server-side ID of a profile on the device.",
          "type": "string",
          "readOnly": true
        },
        "profileCustomerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique customer id that this profile belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers"
        },
        "keyTrustLevel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device attested key trust level.",
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_OS_VERIFIED_MODE",
            "CHROME_OS_DEVELOPER_MODE",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY",
            "CHROME_BROWSER_NO_KEY",
            "CHROME_OS_NO_KEY"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS device in verified mode.",
            "ChromeOS device in developer mode.",
            "Chrome Browser with the key stored in the device hardware.",
            "Chrome Browser with the key stored at OS level.",
            "Chrome Browser without an attestation key.",
            "ChromeOS device without a signing key (e.g., Flex without TPM). Applies to both device and user contexts on ChromeOS."
          ]
        },
        "virtualDeviceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Virtual device id of the device. The definition of virtual device id is platform-specific."
        },
        "deviceSignal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Deprecated. Device signal in json string representation. Prefer using `device_signals` instead."
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse. The response returned when successful for Managed profiles on Unmanaged browsers will NOT have devicePermanentId, keyTrustLevel, virtualDeviceId and customerId fields. Managed profiles will INSTEAD have the profileCustomerId, virtualProfileId, profilePermanentId and profileKeyTrustLevel fields."
    }
  },
  "title": "Chrome Verified Access API"
}