{
  "id": "verifiedaccess:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "title": "Chrome Verified Access API",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "revision": "20260831",
  "protocol": "rest",
  "version_module": true,
  "ownerName": "Google",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "path": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "description": "CreateChallenge API",
          "flatPath": "v1/challenge",
          "request": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "id": "verifiedaccess.challenge.create"
        },
        "verify": {
          "description": "VerifyChallengeResponse API",
          "parameterOrder": [],
          "flatPath": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/challenge:verify"
        }
      }
    }
  },
  "name": "verifiedaccess",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "verifiedaccess",
  "schemas": {
    "VerifyChallengeResponseResult": {
      "properties": {
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true,
          "type": "string"
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "type": "object",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        }
      },
      "description": "signed ChallengeResponse"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "id": "Challenge",
      "type": "object",
      "properties": {
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      }
    },
    "SignedData": {
      "properties": {
        "data": {
          "description": "The data to be signed.",
          "format": "byte",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        }
      },
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData",
      "type": "object"
    }
  },
  "basePath": "",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "version": "v1",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "ownerDomain": "google.com"
}