{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "revision": "20260920",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "id": "verifiedaccess:v1",
  "canonicalName": "verifiedaccess",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "name": "verifiedaccess",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "ownerName": "Google",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "description": "CreateChallenge API",
          "flatPath": "v1/challenge",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "Empty"
          },
          "id": "verifiedaccess.challenge.create",
          "response": {
            "$ref": "Challenge"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameters": {},
          "path": "v1/challenge"
        },
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "v1/challenge:verify",
          "id": "verifiedaccess.challenge.verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "description": "VerifyChallengeResponse API",
          "httpMethod": "POST"
        }
      }
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SignedData": {
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "data": {
          "type": "string",
          "description": "The data to be signed.",
          "format": "byte"
        },
        "signature": {
          "type": "string",
          "description": "The signature of the data field.",
          "format": "byte"
        }
      },
      "id": "SignedData"
    },
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "id": "VerifyChallengeResponseRequest",
      "description": "signed ChallengeResponse",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        }
      }
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "verificationOutput": {
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object",
      "id": "VerifyChallengeResponseResult"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "properties": {
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      },
      "id": "Challenge",
      "type": "object"
    }
  },
  "version_module": true,
  "title": "Chrome Verified Access API"
}