{
  "version_module": true,
  "title": "Chrome Verified Access API",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "id": "verifiedaccess:v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "schemas": {
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "type": "object",
      "id": "Challenge"
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object",
      "properties": {
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "deprecated": true,
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        }
      }
    },
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "id": "VerifyChallengeResponseRequest",
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "SignedData": {
      "id": "SignedData",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The data to be signed."
        },
        "signature": {
          "type": "string",
          "description": "The signature of the data field.",
          "format": "byte"
        }
      },
      "type": "object"
    }
  },
  "discoveryVersion": "v1",
  "name": "verifiedaccess",
  "ownerName": "Google",
  "canonicalName": "verifiedaccess",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20260915",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.verify",
          "parameters": {},
          "path": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "description": "VerifyChallengeResponse API",
          "flatPath": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "httpMethod": "POST"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Empty"
          },
          "path": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "description": "CreateChallenge API",
          "parameters": {},
          "flatPath": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "parameterOrder": []
        }
      }
    }
  },
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "version": "v1"
}