{
  "id": "verifiedaccess:v1",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "Empty"
          },
          "response": {
            "$ref": "Challenge"
          },
          "parameters": {},
          "description": "CreateChallenge API",
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.create",
          "parameterOrder": [],
          "flatPath": "v1/challenge",
          "path": "v1/challenge"
        },
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "id": "verifiedaccess.challenge.verify",
          "path": "v1/challenge:verify",
          "flatPath": "v1/challenge:verify",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "description": "VerifyChallengeResponse API"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "id": "VerifyChallengeResponseResult",
      "type": "object"
    },
    "Challenge": {
      "id": "Challenge",
      "type": "object",
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "type": "object",
      "properties": {
        "expectedIdentity": {
          "type": "string",
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        },
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        }
      },
      "id": "VerifyChallengeResponseRequest"
    },
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData",
      "type": "object",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        },
        "data": {
          "description": "The data to be signed.",
          "type": "string",
          "format": "byte"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "title": "Chrome Verified Access API",
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "revision": "20261005",
  "canonicalName": "verifiedaccess",
  "protocol": "rest",
  "name": "verifiedaccess",
  "batchPath": "batch",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "discoveryVersion": "v1",
  "servicePath": "",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access"
}