{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "version": "v1",
  "canonicalName": "Version History",
  "mtlsRootUrl": "https://versionhistory.mtls.googleapis.com/",
  "basePath": "",
  "title": "versionhistory.googleapis.com API",
  "ownerName": "Google",
  "resources": {
    "platforms": {
      "methods": {
        "list": {
          "description": "Returns list of platforms that are available for a given product. The resource \"product\" has no resource name in its name.",
          "response": {
            "$ref": "ListPlatformsResponse"
          },
          "path": "v1/{+parent}/platforms",
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. The product, which owns this collection of platforms. Format: {product}"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            }
          },
          "id": "versionhistory.platforms.list",
          "httpMethod": "GET",
          "flatPath": "v1/{v1Id}/platforms",
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "channels": {
          "resources": {
            "versions": {
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "description": "Returns list of releases of the given version.",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"starttime\", \"endtime\", \"platform\", \"channel\", and \"fraction\". Optionally, you can append \"desc\" or \"asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by starttime in descending order. Ex) \"...?order_by=starttime asc\" Ex) \"...?order_by=platform desc, channel, startime desc\""
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+/versions/[^/]+$",
                          "description": "Required. The version, which owns this collection of releases. Format: {product}/platforms/{platform}/channels/{channel}/versions/{version}"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", \"channel\", \"fraction\" \"starttime\", and \"endtime\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. must be a valid channel when filtering by channel. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. Ex) 1.0.0.8 < 1.0.0.10. If version is not entirely written, the version will be appended with 0 for the missing fields. Ex) version > 80 becoms version > 80.0.0.0 When filtering by starttime or endtime, string must be in RFC 3339 date string format. Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81 Ex) \"...?filter=starttime>2020-01-01T00:00:00Z",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Optional limit on the number of releases to include in the response. If unspecified, the server will pick an appropriate default."
                        }
                      },
                      "id": "versionhistory.platforms.channels.versions.releases.list",
                      "path": "v1/{+parent}/releases",
                      "httpMethod": "GET",
                      "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions/{versionsId}/releases",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "description": "Returns list of version for the given platform/channel.",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The channel, which owns this collection of versions. Format: {product}/platforms/{platform}/channels/{channel}",
                      "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", and \"channel\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. If version is not entirely written, the version will be appended with 0 in missing fields. Ex) version > 80 becoms version > 80.0.0.0 Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListVersions` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"platform\", and \"channel\". Optionally, you can append \" desc\" or \" asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by version in descending order. Ex) \"...?order_by=version asc\" Ex) \"...?order_by=platform desc, channel, version\""
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Optional limit on the number of versions to include in the response. If unspecified, the server will pick an appropriate default.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "versionhistory.platforms.channels.versions.list",
                  "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions",
                  "path": "v1/{+parent}/versions"
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The platform, which owns this collection of channels. Format: {product}/platforms/{platform}",
                  "pattern": "^[^/]+/platforms/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              },
              "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels",
              "description": "Returns list of channels that are available for a given platform.",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "httpMethod": "GET",
              "id": "versionhistory.platforms.channels.list",
              "path": "v1/{+parent}/channels"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20260826",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "versionhistory",
  "version_module": true,
  "id": "versionhistory:v1",
  "rootUrl": "https://versionhistory.googleapis.com/",
  "baseUrl": "https://versionhistory.googleapis.com/",
  "documentationLink": "https://developer.chrome.com/docs/web-platform/versionhistory/guide",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Version History API - Prod",
  "batchPath": "batch",
  "schemas": {
    "Version": {
      "description": "Each Version is owned by a Channel. A Version only displays the Version number (e.g. 84.0.4147.38). A Version owns a collection of releases.",
      "properties": {
        "version": {
          "type": "string",
          "description": "String containing just the version number. e.g. \"84.0.4147.38\""
        },
        "name": {
          "description": "Version name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}\" e.g. \"chrome/platforms/win/channels/beta/versions/84.0.4147.38\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Version"
    },
    "ListChannelsResponse": {
      "type": "object",
      "description": "Response message for ListChannels.",
      "id": "ListChannelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          },
          "description": "The list of channels."
        }
      }
    },
    "ListReleasesResponse": {
      "type": "object",
      "description": "Response message for ListReleases.",
      "id": "ListReleasesResponse",
      "properties": {
        "releases": {
          "description": "The list of releases.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RolloutData": {
      "type": "object",
      "description": "Rollout-related metadata for a release.",
      "properties": {
        "rolloutName": {
          "type": "string",
          "description": "The name of the rollout."
        },
        "tag": {
          "type": "array",
          "description": "Tags associated with a release's role in a rollout. Most rollouts will have at least one release with a \"rollout\" tag and another release with a \"control\" tag. Some rollouts may have additional named arms.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RolloutData"
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Release": {
      "type": "object",
      "properties": {
        "pinnable": {
          "description": "Whether or not the release was available for version pinning.",
          "type": "boolean"
        },
        "rolloutData": {
          "type": "array",
          "items": {
            "$ref": "RolloutData"
          },
          "description": "Rollout-related metadata. Some releases are part of one or more A/B rollouts. This field contains the names and data describing this release's role in any rollouts."
        },
        "serving": {
          "description": "Timestamp interval of when the release was live. If end_time is unspecified, the release is currently live.",
          "$ref": "Interval"
        },
        "fractionGroup": {
          "description": "Rollout fraction group. Only fractions with the same fraction_group are statistically comparable: there may be non-fractional differences between different fraction groups.",
          "format": "int64",
          "type": "string"
        },
        "fraction": {
          "description": "Rollout fraction. This fraction indicates the fraction of people that should receive this version in this release. If the fraction is not specified in ReleaseManager, the API will assume fraction is 1.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Release name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}/releases/{release}\""
        },
        "version": {
          "type": "string",
          "description": "String containing just the version number. e.g. \"84.0.4147.38\""
        }
      },
      "id": "Release",
      "description": "A Release is owned by a Version. A Release contains information about the release(s) of its parent version. This includes when the release began and ended, as well as what percentage it was released at. If the version is released again, or if the serving percentage changes, it will create another release under the version."
    },
    "ListPlatformsResponse": {
      "id": "ListPlatformsResponse",
      "type": "object",
      "description": "Response message for ListPlatforms.",
      "properties": {
        "platforms": {
          "items": {
            "$ref": "Platform"
          },
          "type": "array",
          "description": "The list of platforms."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListVersions."
    },
    "Platform": {
      "type": "object",
      "description": "Each Platform is owned by a Product and owns a collection of channels. Available platforms are listed in Platform enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX).",
      "id": "Platform",
      "properties": {
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WIN",
            "WIN64",
            "MAC",
            "LINUX",
            "ANDROID",
            "WEBVIEW",
            "IOS",
            "ALL",
            "MAC_ARM64",
            "LACROS",
            "LACROS_ARM32",
            "CHROMEOS",
            "LACROS_ARM64",
            "FUCHSIA",
            "WIN_ARM64"
          ],
          "enumDescriptions": [
            "",
            "Chrome Desktop for Windows (32-bit).",
            "Chrome Desktop for Windows (x86_64).",
            "Chrome Desktop for macOS (x86_64).",
            "Chrome Desktop for Linux.",
            "Chrome for Android.",
            "WebView for Android.",
            "Chrome for iOS.",
            "",
            "Chrome for macOS (ARM64).",
            "ChromeOS Lacros (x86_64).",
            "ChromeOS Lacros (ARM).",
            "ChromeOS.",
            "ChromeOS Lacros (ARM64).",
            "Chrome for Fuchsia.",
            "Chrome Desktop for Windows (ARM64)."
          ],
          "description": "Type of platform.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Platform name. Format is \"{product}/platforms/{platform}\""
        }
      }
    },
    "Channel": {
      "type": "object",
      "id": "Channel",
      "properties": {
        "name": {
          "description": "Channel name. Format is \"{product}/platforms/{platform}/channels/{channel}\"",
          "type": "string"
        },
        "channelType": {
          "enumDescriptions": [
            "",
            "The Stable channel.",
            "The Beta channel.",
            "The Dev channel.",
            "The Canary channel.",
            "The Canary channel for Chrome, with DCHECK/ASAN enabled.",
            "",
            "The Extended Stable channel for Chrome.",
            "The Long-term support channel for ChromeOS.",
            "The Long-term support candidate channel for ChromeOS."
          ],
          "description": "Type of channel.",
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "STABLE",
            "BETA",
            "DEV",
            "CANARY",
            "CANARY_ASAN",
            "ALL",
            "EXTENDED",
            "LTS",
            "LTC"
          ]
        }
      },
      "description": "Each Channel is owned by a Platform and owns a collection of versions. Possible Channels are listed in the Channel enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX)."
    }
  }
}