{
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://videointelligence.googleapis.com/",
  "name": "videointelligence",
  "fullyEncodeReservedExpansion": true,
  "id": "videointelligence:v1p1beta1",
  "canonicalName": "Cloud Video Intelligence",
  "version": "v1p1beta1",
  "batchPath": "batch",
  "baseUrl": "https://videointelligence.googleapis.com/",
  "revision": "20260428",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1p1beta1/videos:annotate",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "id": "videointelligence.videos.annotate",
          "flatPath": "v1p1beta1/videos:annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest"
          },
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com",
  "title": "Cloud Video Intelligence API",
  "servicePath": "",
  "schemas": {
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "speakerTag": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "speakerLabel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word."
        },
        "endTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "speakerLabel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word."
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "type": "object",
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client.",
      "properties": {
        "annotationResults": {
          "description": "Streaming annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation."
        },
        "annotationResultsUri": {
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig": {
      "description": "Config for LABEL_DETECTION.",
      "properties": {
        "videoConfidenceThreshold": {
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float",
          "type": "number"
        },
        "stationaryCamera": {
          "type": "boolean",
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
        },
        "labelDetectionMode": {
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "type": "string",
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ]
        },
        "model": {
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "frameConfidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "type": "object",
      "description": "Annotation progress for a single video.",
      "properties": {
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
        },
        "feature": {
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress",
      "description": "Annotation progress for a single video.",
      "properties": {
        "exportStatus": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus",
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request."
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechContext": {
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "properties": {
        "phrases": {
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechContext"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation",
      "description": "Deprecated. No effect.",
      "properties": {
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string",
          "format": "byte"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
          },
          "description": "All video segments where a face was detected."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "type": "object",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "pornographyLikelihood": {
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LabelSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig": {
      "description": "Config for PERSON_DETECTION.",
      "properties": {
        "includePoseLandmarks": {
          "type": "boolean",
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeBoundingBoxes": {
          "type": "boolean",
          "description": "Whether bounding boxes are included in the person detection annotation output."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Timestamp of this frame."
        },
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_VideoSegment": {
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_VideoSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1]."
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "type": "object",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
      "type": "object",
      "description": "Annotation progress for a single video.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus"
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation",
      "type": "object",
      "description": "Person detection annotation per video.",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "properties": {
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "type": "string",
          "format": "byte"
        },
        "tracks": {
          "type": "array",
          "description": "The face tracks with attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse",
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1]."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "pornographyLikelihood": {
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "landmarks": {
          "type": "array",
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TimestampedObject",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "format": "float",
          "type": "number"
        },
        "top": {
          "description": "Top Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "type": "object",
      "description": "Label annotation.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Detected entity."
        },
        "categoryEntities": {
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          }
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          },
          "description": "All video frames where a label was detected.",
          "type": "array"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "type": "object",
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "description": "Label annotation.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "type": "array"
        },
        "frames": {
          "type": "array",
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          }
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "description": "All video segments where a label was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "type": "number",
          "format": "float"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "description": "Video segment.",
      "properties": {
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        },
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "landmarks": {
          "type": "array",
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          }
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus": {
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the `output_uri` export.",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "$ref": "GoogleRpc_Status",
          "description": "Output only. Only set if state is FAILED."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "pornographyLikelihood": {
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "deprecated": true,
      "type": "object",
      "description": "Deprecated. No effect.",
      "properties": {
        "thumbnail": {
          "type": "string",
          "format": "byte",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "frames": {
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          },
          "type": "array"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          },
          "description": "All video segments where a face was detected.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
    },
    "GoogleRpc_Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "GoogleRpc_Status"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the `output_uri` export.",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "type": "object",
      "description": "Detected entity from video analysis.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Object category's labeling confidence of this track."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        },
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame",
      "type": "object",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "pornographyLikelihood": {
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus": {
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the `output_uri` export.",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "type": "string"
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "The detected tracks of a person.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        },
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_NormalizedVertex",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig",
      "type": "object",
      "description": "Config for EXPLICIT_CONTENT_DETECTION.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation",
      "type": "object",
      "description": "Face detection annotation.",
      "properties": {
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "format": "byte",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "description": "The face tracks with attributes."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
    },
    "GoogleLongrunning_Operation": {
      "id": "GoogleLongrunning_Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "top": {
          "description": "Top Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "type": "number",
          "format": "float",
          "description": "Right X coordinate."
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceFrame": {
      "type": "object",
      "deprecated": true,
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame",
      "description": "Deprecated. No effect.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "normalizedBoundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "description": "Video segment level annotation results for text detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
      "type": "object",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "type": "object",
      "description": "Annotation progress for a single video.",
      "properties": {
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment where a text snippet was detected."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress"
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1]."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        },
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "properties": {
        "faceTrack": {
          "description": "A track of a person's face.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
        },
        "celebrities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          },
          "description": "Top N match of the celebrities for the face in this track."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "description": "A track of an object instance.",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment of a track."
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. The confidence score of the tracked object."
        },
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "description": "Deprecated. No effect.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceFrame",
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative"
          }
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig",
      "type": "object",
      "description": "Config for OBJECT_TRACKING.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "type": "array",
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig",
      "type": "object",
      "description": "Config for FACE_DETECTION.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for face detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        },
        "includeAttributes": {
          "description": "Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the face annotation output.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1."
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1]."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_SpeechTranscription",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "startTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "type": "object"
    },
[...]
