{
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "id": "videointelligence.videos.annotate",
          "flatPath": "v1p2beta1/videos:annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest"
          },
          "httpMethod": "POST",
          "path": "v1p2beta1/videos:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results)."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://videointelligence.googleapis.com/",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "rootUrl": "https://videointelligence.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "title": "Cloud Video Intelligence API",
  "schemas": {
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "description": "All video segments where a label was detected.",
          "type": "array"
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          },
          "type": "array",
          "description": "All video frames where a label was detected."
        },
        "categoryEntities": {
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "description": "Label annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_FaceAnnotation": {
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceFrame"
          },
          "type": "array",
          "description": "All video frames where a face was detected."
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceSegment"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceAnnotation"
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "startTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "endTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerTag": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerLabel": {
          "readOnly": true,
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "type": "object",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "properties": {
        "bottom": {
          "format": "float",
          "description": "Bottom Y coordinate.",
          "type": "number"
        },
        "top": {
          "description": "Top Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Object category's labeling confidence of this track."
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string",
          "format": "int64"
        },
        "frames": {
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_Track": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_Track",
      "properties": {
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number",
          "format": "float"
        },
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
          }
        }
      },
      "type": "object",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelDetectionConfig",
      "properties": {
        "labelDetectionMode": {
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ]
        },
        "videoConfidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
        },
        "model": {
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "stationaryCamera": {
          "type": "boolean",
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
        },
        "frameConfidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
        }
      },
      "type": "object",
      "description": "Config for LABEL_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "description": "Video segment level annotation results for text detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number",
          "format": "float"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "type": "object",
      "properties": {
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation"
          },
          "type": "array",
          "description": "Face detection annotations."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscription"
          },
          "description": "Speech transcription.",
          "type": "array"
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceAnnotation"
          },
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead."
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "description": "Detected entity from video analysis.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_Entity"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "description": "Person detection annotation per video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Timestamp of this frame.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          }
        }
      },
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "properties": {
        "left": {
          "format": "float",
          "type": "number",
          "description": "Left X coordinate."
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "description": "Bottom Y coordinate.",
          "type": "number"
        },
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          }
        }
      },
      "type": "object",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest": {
      "description": "Video annotation request.",
      "type": "object",
      "properties": {
        "features": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Required. Requested video annotation features."
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoContext"
        },
        "inputUri": {
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location."
        },
        "inputContent": {
          "type": "string",
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.",
          "format": "byte"
        },
        "outputUri": {
          "type": "string",
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints)."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation": {
      "properties": {
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "The thumbnail of a person's face."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "type": "array",
          "description": "The face tracks with attributes."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation",
      "description": "Face detection annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
      "type": "object",
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "properties": {
        "faceTrack": {
          "description": "A track of a person's face.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
        },
        "celebrities": {
          "description": "Top N match of the celebrities for the face in this track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_NormalizedVertex": {
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative",
      "properties": {
        "words": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "type": "array"
        },
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      },
      "type": "object",
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "properties": {
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "frameTimestamp": {
          "type": "string",
          "description": "Timestamp of the processed frame in microseconds.",
          "format": "google-duration"
        },
        "labelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Label annotation results."
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotation results. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          }
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Object tracking results.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed. Only ONE type of annotation will be specified in the response."
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          }
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "description": "Label annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          },
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string"
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          },
          "type": "array",
          "description": "Optional. The detected landmarks."
        },
        "attributes": {
          "type": "array",
          "description": "Optional. The attributes of the object in the bounding box.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "type": "array",
          "description": "All video frames where explicit content was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "type": "object",
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute",
      "properties": {
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "description": "Video segment.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "properties": {
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "startTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "speakerLabel": {
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "The detected tracks of a person.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionConfig": {
      "description": "Config for FACE_DETECTION.",
      "type": "object",
      "properties": {
        "includeBoundingBoxes": {
          "type": "boolean",
          "description": "Whether bounding boxes are included in the face annotation output."
        },
        "includeAttributes": {
          "description": "Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "model": {
          "description": "Model to use for face detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1_VideoSegment": {
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_VideoSegment",
      "description": "Video segment.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "type": "object",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          },
          "type": "array",
          "description": "Normalized vertices of the bounding polygon."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "properties": {
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer",
          "format": "int32"
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "description": "Annotation progress for a single video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "deprecated": true,
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          }
        },
        "thumbnail": {
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        },
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of the most recent update.",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
          },
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "top": {
          "format": "float",
          "description": "Top Y coordinate.",
          "type": "number"
        },
        "bottom": {
          "format": "float",
          "description": "Bottom Y coordinate.",
          "type": "number"
        },
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "right": {
          "type": "number",
          "description": "Right X coordinate.",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number"
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation",
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechContext": {
      "type": "object",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechContext",
      "properties": {
        "phrases": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription": {
      "type": "object",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
          },
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
      "type": "object",
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
          }
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
          },
          "description": "All video segments where a label was detected.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "type": "array",
          "description": "The face tracks with attributes."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number",
          "format": "float"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Entity": {
      "type": "object",
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Entity",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig",
      "properties": {
        "enableAutomaticPunctuation": {
          "type": "boolean",
          "description": "Optional. If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses. NOTE: \"This is currently offered as an experimental service, complimentary to all users. In the future this may be exclusively available as a premium feature.\""
        },
        "filterProfanity": {
          "type": "boolean",
          "description": "Optional. If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered out."
        },
        "languageCode": {
          "description": "Required. *Required* The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech/docs/languages) for a list of the currently supported language codes.",
          "type": "string"
        },
        "enableSpeakerDiarization": {
          "description": "Optional. If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo. Note: When this is true, we send all the words from the beginning of the audio for the top alternative in every consecutive response. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time.",
          "type": "boolean"
        },
        "speechContexts": {
          "description": "Optional. A means to provide context to assist the speech recognition.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechContext"
          }
        },
        "audioTracks": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. For file formats, such as MXF or MKV, supporting multiple audio tracks, specify up to two tracks. Default: track 0."
        },
        "diarizationSpeakerCount": {
          "format": "int32",
          "description": "Optional. If set, specifies the estimated number of speakers in the conversation. If not set, defaults to '2'. Ignored unless enable_speaker_diarization is set to true.",
          "type": "integer"
        },
        "enableWordConfidence": {
          "description": "Optional. If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`.",
          "type": "boolean"
        },
        "maxAlternatives": {
          "type": "integer",
          "description": "Optional. Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechTranscription`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one.",
          "format": "int32"
        },
        "audioOutputUriPrefix": {
          "description": "Optional. Legacy field. This field must be a Cloud Storage URI prefix. (e.g., `gs://bucket/path/`).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Config for SPEECH_TRANSCRIPTION."
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "Normalized vertices of the bounding polygon.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "properties": {
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "celebrityRecognitionAnnotations": {
          "description": "Celebrity recognition annotations.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          },
          "description": "Speech transcription.",
          "type": "array"
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "faceAnnotations": {
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "shotLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          }
        },
        "textAnnotations": {
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults",
      "description": "Annotation results for a single video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_FaceSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceSegment",
      "description": "Video segment level annotation results for face detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
          },
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig",
      "description": "Config for OBJECT_TRACKING.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "type": "object",
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "properties": {
        "segments": {
          "description": "All video segments where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          }
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          }
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array"
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        }
      },
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location."
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "type": "object",
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "type": "object",
      "description": "The recognized celebrity with confidence score.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Recognition confidence. Range [0, 1]."
        },
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame",
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox": {
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "format": "float",
          "type": "number",
          "description": "Right X coordinate."
        },
        "top": {
          "format": "float",
          "description": "Top Y coordinate.",
          "type": "number"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus": {
      "type": "object",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus",
      "properties": {
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "description": "Output only. State of the `output_uri` export.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "description": "Celebrity recognition annotation per video.",
      "type": "object",
      "properties": {
        "celebrityTracks": {
          "type": "array",
          "description": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus": {
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "description": "Output only. State of the `output_uri` export.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
[...]
