{
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "path": "v1p1beta1/videos:annotate",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "parameters": {},
          "parameterOrder": [],
          "id": "videointelligence.videos.annotate",
          "flatPath": "v1p1beta1/videos:annotate",
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          }
        }
      }
    }
  },
  "basePath": "",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "baseUrl": "https://videointelligence.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "rootUrl": "https://videointelligence.googleapis.com/",
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "title": "Cloud Video Intelligence API",
  "schemas": {
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
          },
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
      "properties": {
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_FaceSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceSegment",
      "description": "Video segment level annotation results for face detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "properties": {
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      },
      "type": "object",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "properties": {
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Recognition confidence. Range [0, 1]."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "description": "The recognized celebrity with confidence score.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark",
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "type": "object",
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "properties": {
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          },
          "description": "All video frames where a label was detected.",
          "type": "array"
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          },
          "description": "All video segments where a label was detected.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus": {
      "id": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the `output_uri` export.",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ]
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Status of exporting annotation response to user specified `output_uri`."
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox": {
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
      "properties": {
        "top": {
          "type": "number",
          "description": "Top Y coordinate.",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "right": {
          "format": "float",
          "type": "number",
          "description": "Right X coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the `output_uri` export.",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation",
      "properties": {
        "celebrityTracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
          },
          "description": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Celebrity recognition annotation per video."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig": {
      "description": "Config for SHOT_CHANGE_DETECTION.",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset), \"builtin/latest\", and \"builtin/legacy\"."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1p3beta1_WordInfo": {
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_WordInfo",
      "properties": {
        "startTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "endTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerLabel": {
          "readOnly": true,
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceFrame": {
      "deprecated": true,
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "type": "object",
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "properties": {
        "error": {
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation.",
          "$ref": "GoogleRpc_Status"
        },
        "annotationResults": {
          "description": "Streaming annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults"
        },
        "annotationResultsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array"
        },
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame."
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
      "properties": {
        "top": {
          "type": "number",
          "description": "Top Y coordinate.",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "format": "float",
          "type": "number",
          "description": "Right X coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string"
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks.",
          "type": "array"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        }
      },
      "type": "object",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig": {
      "type": "object",
      "description": "Config for PERSON_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig",
      "properties": {
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeBoundingBoxes": {
          "type": "boolean",
          "description": "Whether bounding boxes are included in the person detection annotation output."
        },
        "includePoseLandmarks": {
          "type": "boolean",
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "updateTime": {
          "type": "string",
          "description": "Time of the most recent update.",
          "format": "google-datetime"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the request was received.",
          "type": "string"
        },
        "feature": {
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame",
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
          }
        }
      },
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
      "type": "object",
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
      "properties": {
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
          },
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
          }
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
          },
          "type": "array",
          "description": "All video segments where a label was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription": {
      "type": "object",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array"
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark",
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location."
    },
    "GoogleCloudVideointelligenceV1p3beta1_Entity": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_Entity",
      "properties": {
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      },
      "type": "object",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          }
        }
      },
      "type": "object",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig": {
      "properties": {
        "labelDetectionMode": {
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ]
        },
        "videoConfidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float"
        },
        "model": {
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "stationaryCamera": {
          "type": "boolean",
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
        },
        "frameConfidenceThreshold": {
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig",
      "description": "Config for LABEL_DETECTION.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "type": "object",
      "description": "Face detection annotation.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "type": "array",
          "description": "The face tracks with attributes."
        },
        "thumbnail": {
          "type": "string",
          "description": "The thumbnail of a person's face.",
          "format": "byte"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "type": "object",
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults",
      "properties": {
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation"
          },
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead."
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          }
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "celebrityRecognitionAnnotations": {
          "description": "Celebrity recognition annotations.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          },
          "type": "array",
          "description": "Face detection annotations."
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly": {
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "properties": {
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          }
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        }
      },
      "type": "object",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "properties": {
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          }
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          },
          "description": "All video segments where a label was detected.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "type": "object",
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "type": "object",
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation": {
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "The detected tracks of a person.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation",
      "description": "Person detection annotation per video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "properties": {
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The timestamp of the frame in microseconds."
        }
      },
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          }
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          }
        },
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string",
          "format": "byte"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "type": "object",
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "properties": {
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "description": "Annotation progress for a single video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation",
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "type": "number",
          "format": "float"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1p2beta1_Track": {
      "properties": {
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level.",
          "type": "array"
        },
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoContext": {
      "properties": {
        "personDetectionConfig": {
          "description": "Config for PERSON_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig"
        },
        "faceDetectionConfig": {
          "description": "Config for FACE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig"
        },
        "labelDetectionConfig": {
          "description": "Config for LABEL_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig"
        },
        "textDetectionConfig": {
          "description": "Config for TEXT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig"
        },
        "objectTrackingConfig": {
          "description": "Config for OBJECT_TRACKING.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig"
        },
        "shotChangeDetectionConfig": {
          "description": "Config for SHOT_CHANGE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig"
        },
        "explicitContentDetectionConfig": {
          "description": "Config for EXPLICIT_CONTENT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig"
        },
        "speechTranscriptionConfig": {
          "description": "Config for SPEECH_TRANSCRIPTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscriptionConfig"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "type": "array",
          "description": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoContext",
      "description": "Video context and/or feature-specific parameters.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "format": "float",
          "description": "Top Y coordinate.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          }
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "frames": {
          "type": "array",
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          }
        }
      },
      "type": "object",
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1_FaceAnnotation": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceFrame"
          },
          "type": "array",
          "description": "All video frames where a face was detected."
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceSegment"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceAnnotation",
      "description": "Deprecated. No effect.",
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object",
      "properties": {
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerLabel": {
          "readOnly": true,
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "endTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "speakerTag": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_WordInfo"
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "description": "Detected entity from video analysis.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_Entity"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
      "type": "object",
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults",
      "properties": {
        "personDetectionAnnotations": {
          "type": "array",
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation"
          },
          "description": "Face detection annotations.",
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextAnnotation"
          }
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscription"
          }
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceAnnotation"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "description": "Video segment level annotation results for text detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number"
        },
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig": {
      "type": "object",
      "description": "Config for FACE_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig",
      "properties": {
        "model": {
          "description": "Model to use for face detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the face annotation output.",
          "type": "boolean"
        },
        "includeAttributes": {
          "description": "Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "deprecated": true,
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "type": "object",
      "properties": {
        "faceTrack": {
          "description": "A track of a person's face.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
        },
        "celebrities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          },
          "type": "array",
          "description": "Top N match of the celebrities for the face in this track."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation": {
      "properties": {
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "description": "The face tracks with attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation",
      "description": "Face detection annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "description": "Video segment level annotation results for text detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "properties": {
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "format": "float",
          "description": "Top Y coordinate.",
          "type": "number"
        },
        "bottom": {
          "type": "number",
          "description": "Bottom Y coordinate.",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          },
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "type": "object",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Timestamp of this frame.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextFrame"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "properties": {
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "Shot annotation results. Each shot is represented as a video segment."
        },
        "objectAnnotations": {
          "type": "array",
          "description": "Object tracking results.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "frameTimestamp": {
          "description": "Timestamp of the processed frame in microseconds.",
          "type": "string",
          "format": "google-duration"
        },
        "labelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Label annotation results.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed. Only ONE type of annotation will be specified in the response."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig",
      "properties": {
        "model": {
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Config for OBJECT_TRACKING."
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "words": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "type": "object",
      "description": "Video frame level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
[...]
