{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Video Intelligence API",
  "basePath": "",
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "servicePath": "",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "flatPath": "v1beta2/videos:annotate",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "path": "v1beta2/videos:annotate",
          "httpMethod": "POST",
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest"
          },
          "id": "videointelligence.videos.annotate",
          "parameters": {}
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v1beta2",
  "id": "videointelligence:v1beta2",
  "batchPath": "batch",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "schemas": {
    "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "type": "object",
      "description": "Face detection annotation.",
      "id": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "description": "The face tracks with attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        },
        "thumbnail": {
          "type": "string",
          "description": "The thumbnail of a person's face.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true,
          "type": "string"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_WordInfo"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExportToOutputUriStatus": {
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the `output_uri` export.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "type": "string"
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpc_Status"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExportToOutputUriStatus"
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object",
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset), \"builtin/latest\", and \"builtin/legacy\"."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig",
      "description": "Config for SHOT_CHANGE_DETECTION.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation",
      "description": "Person detection annotation per video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A speech recognition result corresponding to a portion of the audio."
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "type": "object",
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "description": "The face tracks with attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        },
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation",
      "description": "Face detection annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation": {
      "properties": {
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
          },
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse": {
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "type": "array",
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "description": "Output only. State of the `output_uri` export.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpc_Status"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object",
      "properties": {
        "landmarks": {
          "type": "array",
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
          }
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TimestampedObject"
    },
    "GoogleCloudVideointelligenceV1_SpeechTranscription": {
      "properties": {
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
          }
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Time of the most recent update.",
          "format": "google-datetime"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
          },
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "properties": {
        "error": {
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation.",
          "$ref": "GoogleRpc_Status"
        },
        "annotationResultsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'."
        },
        "annotationResults": {
          "description": "Streaming annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults"
        }
      },
      "type": "object",
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client."
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1_FaceFrame",
      "type": "object",
      "properties": {
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "type": "string",
          "description": "Timestamp of this frame.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus": {
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the `output_uri` export.",
          "readOnly": true
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpc_Status"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "type": "string",
          "description": "Timestamp of this frame.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood of the pornography content.."
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechContext": {
      "type": "object",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechContext",
      "properties": {
        "phrases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content)."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        }
      },
      "type": "object",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "description": "The face tracks with attributes.",
          "type": "array"
        },
        "thumbnail": {
          "type": "string",
          "description": "The thumbnail of a person's face.",
          "format": "byte"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "description": "The face tracks with attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        },
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        }
      },
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class."
    },
    "GoogleCloudVideointelligenceV1p2beta1_Track": {
      "type": "object",
      "description": "A track of an object instance.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Track",
      "properties": {
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float",
          "type": "number"
        },
        "timestampedObjects": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array"
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_FaceSegment": {
      "type": "object",
      "description": "Video segment level annotation results for face detection.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceSegment",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1p2beta1_Entity": {
      "description": "Detected entity from video analysis.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_Entity"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "type": "array",
          "description": "The face tracks with attributes."
        },
        "thumbnail": {
          "type": "string",
          "description": "The thumbnail of a person's face.",
          "format": "byte"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_FaceAnnotation": {
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1_FaceAnnotation",
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte",
          "type": "string"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "properties": {
        "confidence": {
          "description": "Recognition confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "description": "The recognized celebrity with confidence score.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "type": "object",
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood of the pornography content.."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "description": "Video segment.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig": {
      "description": "Config for LABEL_DETECTION.",
      "type": "object",
      "properties": {
        "labelDetectionMode": {
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "type": "string",
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ]
        },
        "videoConfidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float"
        },
        "stationaryCamera": {
          "type": "boolean",
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
        },
        "model": {
          "type": "string",
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        },
        "frameConfidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "properties": {
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true,
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation",
      "properties": {
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoSegment": {
      "type": "object",
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "properties": {
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "properties": {
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        }
      },
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "type": "object",
      "properties": {
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true,
          "type": "array"
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
          },
          "description": "Face detection annotations.",
          "type": "array"
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation"
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
          },
          "type": "array",
          "description": "Speech transcription."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "segmentPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative": {
      "type": "object",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          },
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceAnnotation": {
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
          }
        },
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte",
          "type": "string"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation",
      "deprecated": true,
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
          },
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame",
      "deprecated": true,
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingConfig": {
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingConfig",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "type": "object",
      "description": "Config for OBJECT_TRACKING."
    },
    "GoogleCloudVideointelligenceV1p1beta1_Entity": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_Entity",
      "properties": {
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        }
      },
      "type": "object",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus"
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_Entity": {
      "type": "object",
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Entity",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
          },
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        }
      },
      "type": "object",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1_NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object",
      "properties": {
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_NormalizedVertex"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "type": "array",
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          },
          "type": "array",
          "description": "Normalized vertices of the bounding polygon."
        }
      },
      "type": "object",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box."
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          },
          "type": "array",
          "description": "All video segments where a face was detected."
        },
        "thumbnail": {
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte"
        },
        "frames": {
          "description": "All video frames where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation",
      "deprecated": true,
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "properties": {
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "textAnnotations": {
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
          }
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
          },
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "type": "array",
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
          }
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Annotation results for a single video."
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        },
        "top": {
          "type": "number",
          "description": "Top Y coordinate.",
          "format": "float"
        },
        "bottom": {
          "type": "number",
          "description": "Bottom Y coordinate.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
    },
    "GoogleCloudVideointelligenceV1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1_TextSegment",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextFrame"
          }
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "type": "object",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation",
      "properties": {
        "frames": {
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
          }
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "speakerLabel": {
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          }
        }
      },
      "type": "object",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "type": "object",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          }
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionConfig": {
      "description": "Config for PERSON_DETECTION.",
      "type": "object",
      "properties": {
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeBoundingBoxes": {
          "type": "boolean",
          "description": "Whether bounding boxes are included in the person detection annotation output."
        },
        "includePoseLandmarks": {
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly": {
[...]
