{
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "title": "Cloud Video Intelligence API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "path": "v1p1beta1/videos:annotate",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest"
          },
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "videointelligence.videos.annotate",
          "flatPath": "v1p1beta1/videos:annotate",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results)."
        }
      }
    }
  },
  "id": "videointelligence:v1p1beta1",
  "discoveryVersion": "v1",
  "name": "videointelligence",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "protocol": "rest",
  "servicePath": "",
  "version_module": true,
  "ownerName": "Google",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "baseUrl": "https://videointelligence.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "schemas": {
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "type": "array"
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          },
          "type": "array"
        }
      },
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoContext": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoContext",
      "type": "object",
      "properties": {
        "speechTranscriptionConfig": {
          "description": "Config for SPEECH_TRANSCRIPTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscriptionConfig"
        },
        "objectTrackingConfig": {
          "description": "Config for OBJECT_TRACKING.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig"
        },
        "shotChangeDetectionConfig": {
          "description": "Config for SHOT_CHANGE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig"
        },
        "faceDetectionConfig": {
          "description": "Config for FACE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig"
        },
        "textDetectionConfig": {
          "description": "Config for TEXT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig"
        },
        "segments": {
          "type": "array",
          "description": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          }
        },
        "explicitContentDetectionConfig": {
          "description": "Config for EXPLICIT_CONTENT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig"
        },
        "personDetectionConfig": {
          "description": "Config for PERSON_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig"
        },
        "labelDetectionConfig": {
          "description": "Config for LABEL_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig"
        }
      },
      "description": "Video context and/or feature-specific parameters."
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "Normalized vertices of the bounding polygon.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          }
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content.."
        }
      },
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        },
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "type": "object",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative",
      "type": "object",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
          },
          "type": "array"
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "type": "object",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "type": "array"
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "type": "object",
      "properties": {
        "annotationResults": {
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          }
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_Entity": {
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Entity",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig": {
      "description": "Config for OBJECT_TRACKING.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig",
      "type": "object",
      "properties": {
        "model": {
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress",
      "type": "object",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "type": "array"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults",
      "type": "object",
      "properties": {
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
          },
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
          },
          "type": "array"
        },
        "textAnnotations": {
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "faceAnnotations": {
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
          }
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "objectAnnotations": {
          "type": "array",
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "type": "object",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus": {
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "id": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the `output_uri` export.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpc_Status"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "description": "Video segment level annotation results for text detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig",
      "type": "object",
      "properties": {
        "includeAttributes": {
          "description": "Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "model": {
          "description": "Model to use for face detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the face annotation output.",
          "type": "boolean"
        }
      },
      "description": "Config for FACE_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechContext": {
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechContext",
      "type": "object",
      "properties": {
        "phrases": {
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation",
      "type": "object",
      "properties": {
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
          }
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress",
      "type": "object",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest",
      "type": "object",
      "properties": {
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "inputContent": {
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.",
          "format": "byte",
          "type": "string"
        },
        "inputUri": {
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset.",
          "type": "string"
        },
        "locationId": {
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location.",
          "type": "string"
        },
        "features": {
          "type": "array",
          "description": "Required. Requested video annotation features.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ]
          }
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoContext"
        }
      },
      "description": "Video annotation request."
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        }
      },
      "description": "A generic detected landmark represented by name in string format and a 2D location."
    },
    "GoogleLongrunning_Operation": {
      "id": "GoogleLongrunning_Operation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpc_Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject",
      "type": "object",
      "properties": {
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "type": "array"
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p3beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_WordInfo",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "speakerLabel": {
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "Normalized vertices of the bounding polygon.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
          }
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig": {
      "description": "Config for EXPLICIT_CONTENT_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig",
      "type": "object",
      "properties": {
        "model": {
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "deprecated": true,
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame",
      "type": "object",
      "properties": {
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "type": "array"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig": {
      "description": "Config for LABEL_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig",
      "type": "object",
      "properties": {
        "model": {
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "labelDetectionMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ],
          "type": "string",
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`."
        },
        "stationaryCamera": {
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled.",
          "type": "boolean"
        },
        "frameConfidenceThreshold": {
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float",
          "type": "number"
        },
        "videoConfidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "type": "object",
      "properties": {
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation"
          },
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          },
          "type": "array"
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "frameLabelAnnotations": {
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "faceAnnotations": {
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
          }
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceAnnotation": {
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
          }
        },
        "frames": {
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
          },
          "type": "array"
        },
        "thumbnail": {
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
      "type": "object",
      "properties": {
        "words": {
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          }
        },
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "type": "object",
      "properties": {
        "objectAnnotations": {
          "description": "Object tracking results.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "description": "Shot annotation results. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array"
        },
        "frameTimestamp": {
          "type": "string",
          "description": "Timestamp of the processed frame in microseconds.",
          "format": "google-duration"
        },
        "labelAnnotations": {
          "description": "Label annotation results.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        }
      },
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed. Only ONE type of annotation will be specified in the response."
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation",
      "type": "object",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          },
          "type": "array"
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1_FaceAnnotation": {
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1_FaceAnnotation",
      "type": "object",
      "properties": {
        "thumbnail": {
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte"
        },
        "frames": {
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceFrame"
          },
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceSegment"
          },
          "type": "array"
        }
      },
      "deprecated": true
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
          }
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "type": "object",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "description": "The face tracks with attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        }
      },
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse",
      "type": "object",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "type": "object",
      "properties": {
        "feature": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        },
        "updateTime": {
          "type": "string",
          "description": "Time of the most recent update.",
          "format": "google-datetime"
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExportToOutputUriStatus"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        }
      },
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "type": "object",
      "properties": {
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerLabel": {
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation",
      "type": "object",
      "properties": {
        "thumbnail": {
          "type": "string",
          "description": "The thumbnail of a person's face.",
          "format": "byte"
        },
        "tracks": {
          "description": "The face tracks with attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults",
      "type": "object",
      "properties": {
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          },
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          }
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "segmentLabelAnnotations": {
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation"
          },
          "deprecated": true,
          "type": "array"
        },
        "celebrityRecognitionAnnotations": {
          "description": "Celebrity recognition annotations.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          }
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          }
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          }
        }
      },
      "description": "Annotation results for a single video."
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "id": "GoogleCloudVideointelligenceV1_FaceFrame",
      "type": "object",
      "properties": {
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          },
          "type": "array"
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        }
      },
      "description": "Deprecated. No effect.",
      "deprecated": true
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation": {
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation",
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte",
          "type": "string"
        },
        "frames": {
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame"
          },
          "type": "array"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment"
          }
        }
      },
      "deprecated": true
    },
    "GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1beta2_WordInfo",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "speakerLabel": {
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "id": "GoogleCloudVideointelligenceV1beta2_Entity",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
      "type": "object",
      "properties": {
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Time of the most recent update.",
          "format": "google-datetime"
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string"
        }
      },
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "type": "array"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array"
        },
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        }
      },
      "description": "Annotation corresponding to one detected, tracked and recognized logo class."
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
      "type": "object",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "type": "object",
      "properties": {
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
        }
      },
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
[...]
