{
  "documentationLink": "https://cloud.google.com/vision/",
  "ownerDomain": "google.com",
  "version": "v1",
  "rootUrl": "https://vision.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "ownerName": "Google",
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "canonicalName": "Vision",
  "resources": {
    "files": {
      "methods": {
        "annotate": {
          "request": {
            "$ref": "BatchAnnotateFilesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "path": "v1/files:annotate",
          "parameterOrder": [],
          "flatPath": "v1/files:annotate",
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "httpMethod": "POST",
          "parameters": {},
          "id": "vision.files.annotate",
          "response": {
            "$ref": "BatchAnnotateFilesResponse"
          }
        },
        "asyncBatchAnnotate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameterOrder": [],
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "AsyncBatchAnnotateFilesRequest"
          },
          "path": "v1/files:asyncBatchAnnotate",
          "parameters": {},
          "httpMethod": "POST",
          "id": "vision.files.asyncBatchAnnotate",
          "flatPath": "v1/files:asyncBatchAnnotate"
        }
      }
    },
    "locations": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "id": "vision.locations.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "path": "v1/{+name}:cancel",
          "response": {
            "$ref": "Empty"
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled."
            }
          },
          "id": "vision.operations.cancel",
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "type": "string",
              "pattern": "^operations/[^/]+$",
              "required": true
            }
          },
          "id": "vision.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "list": {
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "httpMethod": "GET",
          "id": "vision.operations.list",
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The standard list page size.",
              "location": "query"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "name": {
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "flatPath": "v1/operations",
          "path": "v1/{+name}"
        },
        "delete": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "id": "vision.operations.delete",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        }
      }
    },
    "projects": {
      "resources": {
        "files": {
          "methods": {
            "asyncBatchAnnotate": {
              "path": "v1/{+parent}/files:asyncBatchAnnotate",
              "flatPath": "v1/projects/{projectsId}/files:asyncBatchAnnotate",
              "request": {
                "$ref": "AsyncBatchAnnotateFilesRequest"
              },
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
                }
              },
              "httpMethod": "POST",
              "id": "vision.projects.files.asyncBatchAnnotate"
            },
            "annotate": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchAnnotateFilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "id": "vision.projects.files.annotate",
              "flatPath": "v1/projects/{projectsId}/files:annotate",
              "path": "v1/{+parent}/files:annotate",
              "request": {
                "$ref": "BatchAnnotateFilesRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "vision.projects.operations.get",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET"
            }
          }
        },
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "flatPath": "v1/projects/{projectsId}/images:asyncBatchAnnotate",
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "AsyncBatchAnnotateImagesRequest"
              },
              "id": "vision.projects.images.asyncBatchAnnotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+parent}/images:asyncBatchAnnotate"
            },
            "annotate": {
              "id": "vision.projects.images.annotate",
              "flatPath": "v1/projects/{projectsId}/images:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "request": {
                "$ref": "BatchAnnotateImagesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/images:annotate",
              "response": {
                "$ref": "BatchAnnotateImagesResponse"
              },
              "description": "Run image detection and annotation for a batch of images."
            }
          }
        },
        "locations": {
          "resources": {
            "images": {
              "methods": {
                "annotate": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+parent}/images:annotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchAnnotateImagesRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchAnnotateImagesResponse"
                  },
                  "description": "Run image detection and annotation for a batch of images.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "id": "vision.projects.locations.images.annotate"
                },
                "asyncBatchAnnotate": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "path": "v1/{+parent}/images:asyncBatchAnnotate",
                  "httpMethod": "POST",
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AsyncBatchAnnotateImagesRequest"
                  }
                }
              }
            },
            "products": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name of the Product to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "id": "vision.projects.locations.products.get",
                  "description": "Gets information associated with a Product. Possible errors: * Returns NOT_FOUND if the Product does not exist.",
                  "response": {
                    "$ref": "Product"
                  }
                },
                "purge": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "request": {
                    "$ref": "PurgeProductsRequest"
                  },
                  "id": "vision.projects.locations.products.purge",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Asynchronous API to delete all Products in a ProductSet or all Products that are in no ProductSet. If a Product is a member of the specified ProductSet in addition to other ProductSets, the Product will still be deleted. It is recommended to not delete the specified ProductSet until after this operation has completed. It is also recommended to not add any of the Products involved in the batch delete to a new ProductSet while this operation is running because those Products may still end up deleted. It's not possible to undo the PurgeProducts operation. Therefore, it is recommended to keep the csv files used in ImportProductSets (if that was how you originally built the Product Set) before starting PurgeProducts, in case you need to re-import the data after deletion. If the plan is to purge all of the Products from a ProductSet and then re-use the empty ProductSet to re-import new Products into the empty ProductSet, you must wait until the PurgeProducts operation has finished for that ProductSet. The google.longrunning.Operation API can be used to keep track of the progress and results of the request. `Operation.metadata` contains `BatchOperationMetadata`. (progress)",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location in which the Products should be deleted. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products:purge",
                  "path": "v1/{+parent}/products:purge",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+parent}/products",
                  "response": {
                    "$ref": "Product"
                  },
                  "id": "vision.projects.locations.products.create",
                  "description": "Creates and returns a new product resource. Possible errors: * Returns INVALID_ARGUMENT if display_name is missing or longer than 4096 characters. * Returns INVALID_ARGUMENT if description is longer than 4096 characters. * Returns INVALID_ARGUMENT if product_category is missing or invalid.",
                  "parameters": {
                    "productId": {
                      "location": "query",
                      "type": "string",
                      "description": "A user-supplied resource id for this Product. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project in which the Product should be created. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Product"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "vision.projects.locations.products.delete",
                  "httpMethod": "DELETE",
                  "description": "Permanently deletes a product and its reference images. Metadata of the product and all its images will be deleted right away, but search queries against ProductSets containing the product may still work until all related caches are refreshed.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of product to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListProductsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "vision.projects.locations.products.list",
                  "description": "Lists products in an unspecified order. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100 or less than 1.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project OR ProductSet from which Products should be listed. Format: `projects/PROJECT_ID/locations/LOC_ID`",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return. Default 10, maximum 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+parent}/products"
                },
                "patch": {
                  "id": "vision.projects.locations.products.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "request": {
                    "$ref": "Product"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Product"
                  },
                  "description": "Makes changes to a Product resource. Only the `display_name`, `description`, and `labels` fields can be updated right now. If labels are updated, the change will not be reflected in queries until the next index time. Possible errors: * Returns NOT_FOUND if the Product does not exist. * Returns INVALID_ARGUMENT if display_name is present in update_mask but is missing from the request or longer than 4096 characters. * Returns INVALID_ARGUMENT if description is present in update_mask but is longer than 4096 characters. * Returns INVALID_ARGUMENT if product_category is present in update_mask.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "The FieldMask that specifies which fields to update. If update_mask isn't specified, all mutable fields are to be updated. Valid mask paths include `product_labels`, `display_name`, and `description`.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                    }
                  }
                }
              },
              "resources": {
                "referenceImages": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of items to return. Default 10, maximum 100."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Resource name of the product containing the reference images. Format is `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This is the value of `nextPageToken` returned in a previous reference image list request. Defaults to the first page if not specified."
                        }
                      },
                      "id": "vision.projects.locations.products.referenceImages.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists reference images. Possible errors: * Returns NOT_FOUND if the parent product does not exist. * Returns INVALID_ARGUMENT if the page_size is greater than 100, or less than 1.",
                      "path": "v1/{+parent}/referenceImages",
                      "response": {
                        "$ref": "ListReferenceImagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}",
                      "description": "Gets information associated with a ReferenceImage. Possible errors: * Returns NOT_FOUND if the specified image does not exist.",
                      "id": "vision.projects.locations.products.referenceImages.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "response": {
                        "$ref": "ReferenceImage"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the ReferenceImage to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "response": {
                        "$ref": "ReferenceImage"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "vision.projects.locations.products.referenceImages.create",
                      "request": {
                        "$ref": "ReferenceImage"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "description": "Creates and returns a new ReferenceImage resource. The `bounding_poly` field is optional. If `bounding_poly` is not specified, the system will try to detect regions of interest in the image that are compatible with the product_category on the parent product. If it is specified, detection is ALWAYS skipped. The system converts polygons into non-rotated rectangles. Note that the pipeline will resize the image if the image resolution is too large to process (above 50MP). Possible errors: * Returns INVALID_ARGUMENT if the image_uri is missing or longer than 4096 characters. * Returns INVALID_ARGUMENT if the product does not exist. * Returns INVALID_ARGUMENT if bounding_poly is not provided, and nothing compatible with the parent product's product_category is detected. * Returns INVALID_ARGUMENT if bounding_poly contains more than 10 polygons.",
                      "path": "v1/{+parent}/referenceImages",
                      "httpMethod": "POST",
                      "parameters": {
                        "referenceImageId": {
                          "type": "string",
                          "location": "query",
                          "description": "A user-supplied resource id for the ReferenceImage to be added. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "description": "Required. Resource name of the product in which to create the reference image. Format is `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "vision.projects.locations.products.referenceImages.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Permanently deletes a reference image. The image metadata will be deleted right away, but search queries against ProductSets containing the image may still work until all related caches are refreshed. The actual image files are not deleted from Google Cloud Storage.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the reference image to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}"
                    }
                  }
                }
              }
            },
            "files": {
              "methods": {
                "asyncBatchAnnotate": {
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "path": "v1/{+parent}/files:asyncBatchAnnotate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "request": {
                    "$ref": "AsyncBatchAnnotateFilesRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate"
                },
                "annotate": {
                  "request": {
                    "$ref": "BatchAnnotateFilesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "vision.projects.locations.files.annotate",
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/files:annotate",
                  "response": {
                    "$ref": "BatchAnnotateFilesResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "vision.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "productSets": {
              "resources": {
                "products": {
                  "methods": {
                    "list": {
                      "description": "Lists the Products in a ProductSet, in an unspecified order. If the ProductSet does not exist, the products field of the response will be empty. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100 or less than 1.",
                      "response": {
                        "$ref": "ListProductsInProductSetResponse"
                      },
                      "path": "v1/{+name}/products",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token returned from a previous List request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of items to return. Default 10, maximum 100."
                        },
                        "name": {
                          "description": "Required. The ProductSet resource for which to retrieve Products. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}/products",
                      "id": "vision.projects.locations.productSets.products.list"
                    }
                  }
                }
              },
              "methods": {
                "addProduct": {
                  "id": "vision.projects.locations.productSets.addProduct",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:addProduct",
                  "request": {
                    "$ref": "AddProductToProductSetRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+name}:addProduct",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name for the ProductSet to modify. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Adds a Product to the specified ProductSet. If the Product is already present, no change is made. One Product can be added to at most 100 ProductSets. Possible errors: * Returns NOT_FOUND if the Product or the ProductSet doesn't exist."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "description": "Makes changes to a ProductSet resource. Only display_name can be updated currently. Possible errors: * Returns NOT_FOUND if the ProductSet does not exist. * Returns INVALID_ARGUMENT if display_name is present in update_mask but missing from the request or longer than 4096 characters.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "description": "The resource name of the ProductSet. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`. This field is ignored when creating a ProductSet."
                    },
                    "updateMask": {
                      "description": "The FieldMask that specifies which fields to update. If update_mask isn't specified, all mutable fields are to be updated. Valid mask path is `display_name`.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "id": "vision.projects.locations.productSets.patch",
                  "request": {
                    "$ref": "ProductSet"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}"
                },
                "import": {
                  "description": "Asynchronous API that imports a list of reference images to specified product sets based on a list of image information. The google.longrunning.Operation API can be used to keep track of the progress and results of the request. `Operation.metadata` contains `BatchOperationMetadata`. (progress) `Operation.response` contains `ImportProductSetsResponse`. (results) The input source of this method is a csv file on Google Cloud Storage. For the format of the csv file please see ImportProductSetsGcsSource.csv_file_uri.",
                  "id": "vision.projects.locations.productSets.import",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project in which the ProductSets should be imported. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets:import",
                  "path": "v1/{+parent}/productSets:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "request": {
                    "$ref": "ImportProductSetsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "id": "vision.projects.locations.productSets.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the ProductSet to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information associated with a ProductSet. Possible errors: * Returns NOT_FOUND if the ProductSet does not exist."
                },
                "removeProduct": {
                  "id": "vision.projects.locations.productSets.removeProduct",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Removes a Product from the specified ProductSet.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:removeProduct",
                  "request": {
                    "$ref": "RemoveProductFromProductSetRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name for the ProductSet to modify. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:removeProduct"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "path": "v1/{+parent}/productSets",
                  "id": "vision.projects.locations.productSets.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates and returns a new ProductSet resource. Possible errors: * Returns INVALID_ARGUMENT if display_name is missing, or is longer than 4096 characters.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                  "request": {
                    "$ref": "ProductSet"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The project in which the ProductSet should be created. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "productSetId": {
                      "location": "query",
                      "type": "string",
                      "description": "A user-supplied resource id for this ProductSet. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`."
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListProductSetsResponse"
                  },
                  "path": "v1/{+parent}/productSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return. Default 10, maximum 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project from which ProductSets should be listed. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "vision.projects.locations.productSets.list",
                  "description": "Lists ProductSets in an unspecified order. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100, or less than 1."
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "vision.projects.locations.productSets.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the ProductSet to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`"
                    }
                  },
                  "description": "Permanently deletes a ProductSet. Products and ReferenceImages in the ProductSet are not deleted. The actual image files are not deleted from Google Cloud Storage.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "images": {
      "methods": {
        "asyncBatchAnnotate": {
          "id": "vision.images.asyncBatchAnnotate",
          "request": {
            "$ref": "AsyncBatchAnnotateImagesRequest"
          },
          "flatPath": "v1/images:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "path": "v1/images:asyncBatchAnnotate",
          "parameterOrder": [],
          "parameters": {},
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        },
        "annotate": {
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchAnnotateImagesRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1/images:annotate",
          "description": "Run image detection and annotation for a batch of images.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "path": "v1/images:annotate",
          "response": {
            "$ref": "BatchAnnotateImagesResponse"
          },
          "id": "vision.images.annotate"
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version_module": true,
  "name": "vision",
  "basePath": "",
  "baseUrl": "https://vision.googleapis.com/",
  "title": "Cloud Vision API",
  "schemas": {
    "GoogleCloudVisionV1p4beta1Word": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1]."
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        },
        "symbols": {
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Symbol"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Word",
      "description": "A word representation."
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebPage": {
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebPage",
      "type": "object",
      "description": "Metadata for web pages.",
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the web page."
        },
        "partialMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops."
        },
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "fullMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "description": "Fully matching images on the page. Can include resized copies of the query image.",
          "type": "array"
        },
        "url": {
          "description": "The result web page URL.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "id": "GoogleCloudVisionV1p2beta1BoundingPoly",
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1NormalizedVertex"
          },
          "type": "array"
        },
        "vertices": {
          "description": "The bounding polygon vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Vertex"
          }
        }
      }
    },
    "GoogleCloudVisionV1p3beta1CropHintsAnnotation": {
      "properties": {
        "cropHints": {
          "description": "Crop hint results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1CropHint"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1CropHintsAnnotation",
      "type": "object",
      "description": "Set of crop hints that are used to generate new crops when serving images."
    },
    "GoogleCloudVisionV1p4beta1GcsDestination": {
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1GcsDestination",
      "description": "The Google Cloud Storage location where the output will be written to.",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1Paragraph": {
      "properties": {
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "words": {
          "description": "List of all words in this paragraph.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Word"
          },
          "type": "array"
        },
        "property": {
          "description": "Additional information detected for the paragraph.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Paragraph",
      "description": "Structural unit of text representing a number of words in certain order."
    },
    "GoogleCloudVisionV1p2beta1Product": {
      "properties": {
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        },
        "productCategory": {
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products.",
          "type": "string"
        },
        "productLabels": {
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductKeyValue"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
        },
        "displayName": {
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Product",
      "description": "A Product contains ReferenceImages.",
      "type": "object"
    },
    "WebPage": {
      "properties": {
        "score": {
          "description": "(Deprecated) Overall relevancy score for the web page.",
          "format": "float",
          "type": "number"
        },
        "pageTitle": {
          "description": "Title for the web page, may contain HTML markups.",
          "type": "string"
        },
        "url": {
          "description": "The result web page URL.",
          "type": "string"
        },
        "fullMatchingImages": {
          "description": "Fully matching images on the page. Can include resized copies of the query image.",
          "type": "array",
          "items": {
            "$ref": "WebImage"
          }
        },
        "partialMatchingImages": {
          "items": {
            "$ref": "WebImage"
          },
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array"
        }
      },
      "id": "WebPage",
      "description": "Metadata for web pages.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1AsyncBatchAnnotateFilesResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of file annotation responses, one for each request in AsyncBatchAnnotateFilesRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse"
          }
        }
      },
      "id": "GoogleCloudVisionV1p3beta1AsyncBatchAnnotateFilesResponse",
      "description": "Response to an async batch file annotation request."
    },
    "BatchAnnotateFilesResponse": {
      "type": "object",
      "description": "A list of file annotation responses.",
      "properties": {
        "responses": {
          "items": {
            "$ref": "AnnotateFileResponse"
          },
          "type": "array",
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest."
        }
      },
      "id": "BatchAnnotateFilesResponse"
    },
    "ProductSetPurgeConfig": {
      "properties": {
        "productSetId": {
          "description": "The ProductSet that contains the Products to delete. If a Product is a member of product_set_id in addition to other ProductSets, the Product will still be deleted.",
          "type": "string"
        }
      },
      "description": "Config to control which ProductSet contains the Products to be deleted.",
      "id": "ProductSetPurgeConfig",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        },
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1NormalizedVertex"
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak": {
      "description": "Detected start or end of a structural component.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ]
        },
        "isPrefix": {
          "description": "True if break prepends the element.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak"
    },
    "GoogleCloudVisionV1p4beta1WebDetection": {
      "type": "object",
      "description": "Relevant information for the image from the Internet.",
      "id": "GoogleCloudVisionV1p4beta1WebDetection",
      "properties": {
        "visuallySimilarImages": {
          "description": "The visually similar image results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "type": "array"
        },
        "pagesWithMatchingImages": {
          "type": "array",
          "description": "Web pages containing the matching images from the Internet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebPage"
          }
        },
        "partialMatchingImages": {
          "type": "array",
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          }
        },
        "fullMatchingImages": {
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "type": "array"
        },
        "bestGuessLabels": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebLabel"
          },
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web.",
          "type": "array"
        },
        "webEntities": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebEntity"
          },
          "description": "Deduced entities from similar images on the Internet.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1FaceAnnotation": {
      "id": "GoogleCloudVisionV1p4beta1FaceAnnotation",
      "description": "A face annotation object contains the results of face detection.",
      "properties": {
        "fdBoundingPoly": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix."
        },
        "recognitionResult": {
          "type": "array",
          "description": "Additional recognition information. Only computed if image_context.face_recognition_params is provided, **and** a match is found to a Celebrity in the input CelebritySet. This field is sorted in order of decreasing confidence values.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1FaceRecognitionResult"
          }
        },
        "detectionConfidence": {
          "description": "Detection confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blurredLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Blurred likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "panAngle": {
          "type": "number",
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180].",
          "format": "float"
        },
        "surpriseLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Surprise likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "sorrowLikelihood": {
          "description": "Sorrow likelihood.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "rollAngle": {
          "format": "float",
          "type": "number",
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180]."
        },
        "boundingPoly": {
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated.",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        },
        "underExposedLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Under-exposed likelihood."
        },
        "landmarkingConfidence": {
          "type": "number",
          "description": "Face landmarking confidence. Range [0, 1].",
          "format": "float"
        },
        "joyLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Joy likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "angerLikelihood": {
          "description": "Anger likelihood.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "tiltAngle": {
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180].",
          "format": "float",
          "type": "number"
        },
        "headwearLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Headwear likelihood.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1FaceAnnotationLandmark"
          },
          "description": "Detected face landmarks.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GroupedResult": {
      "description": "Information about the products similar to a single product in a query image.",
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon around the product detected in the query image.",
          "$ref": "BoundingPoly"
        },
        "objectAnnotations": {
          "type": "array",
          "description": "List of generic predictions for the object in the bounding box.",
          "items": {
            "$ref": "ObjectAnnotation"
          }
        },
        "results": {
          "type": "array",
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "Result"
          }
        }
      },
      "type": "object",
      "id": "GroupedResult"
    },
    "AsyncAnnotateFileResponse": {
      "id": "AsyncAnnotateFileResponse",
      "type": "object",
      "properties": {
        "outputConfig": {
          "description": "The output location and metadata from AsyncAnnotateFileRequest.",
          "$ref": "OutputConfig"
        }
      },
      "description": "The response for a single offline file annotation request."
    },
    "DominantColorsAnnotation": {
      "properties": {
        "colors": {
          "type": "array",
          "description": "RGB color values with their score and pixel fraction.",
          "items": {
            "$ref": "ColorInfo"
          }
        }
      },
      "type": "object",
      "id": "DominantColorsAnnotation",
      "description": "Set of dominant colors and their corresponding scores."
    },
    "GoogleCloudVisionV1p4beta1GcsSource": {
      "id": "GoogleCloudVisionV1p4beta1GcsSource",
      "description": "The Google Cloud Storage location where the input will be read from.",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Product": {
      "description": "A Product contains ReferenceImages.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Product",
      "properties": {
        "productLabels": {
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductKeyValue"
          },
          "type": "array"
        },
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        },
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
        },
        "displayName": {
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1Word": {
      "type": "object",
      "properties": {
        "property": {
          "description": "Additional information detected for the word.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty"
        },
        "symbols": {
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Symbol"
          },
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "format": "float"
        },
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1Word",
      "description": "A word representation."
    },
    "GoogleCloudVisionV1p3beta1TextAnnotation": {
      "properties": {
        "pages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Page"
          },
          "type": "array",
          "description": "List of pages detected by OCR."
        },
        "text": {
          "description": "UTF-8 text detected on the pages.",
          "type": "string"
        }
      },
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail.",
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotation"
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResultsResult": {
      "properties": {
        "score": {
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "format": "float",
          "type": "number"
        },
        "product": {
          "description": "The Product.",
          "$ref": "GoogleCloudVisionV1p3beta1Product"
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        }
      },
      "description": "Information about a product.",
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult"
    },
    "ImageSource": {
      "properties": {
        "imageUri": {
          "description": "The URI of the source image. Can be either: 1. A Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info. 2. A publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications. When both `gcs_image_uri` and `image_uri` are specified, `image_uri` takes precedence.",
          "type": "string"
        },
        "gcsImageUri": {
          "type": "string",
          "description": "**Use `image_uri` instead.** The Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info."
        }
      },
      "description": "External image source (Google Cloud Storage or web URL image location).",
      "id": "ImageSource",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty": {
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "detectedBreak": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak",
          "description": "Detected start or end of a text segment."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
      "type": "object",
      "description": "Additional information detected on the structural component."
    },
    "GoogleCloudVisionV1p4beta1TextAnnotation": {
      "id": "GoogleCloudVisionV1p4beta1TextAnnotation",
      "properties": {
        "text": {
          "type": "string",
          "description": "UTF-8 text detected on the pages."
        },
        "pages": {
          "description": "List of pages detected by OCR.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Page"
          }
        }
      },
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail.",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "properties": {
        "uri": {
          "description": "The URI of the file used to produce the image.",
          "type": "string"
        },
        "pageNumber": {
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1ImageAnnotationContext"
    },
    "WebImage": {
      "id": "WebImage",
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the image."
        },
        "url": {
          "type": "string",
          "description": "The result image URL."
        }
      },
      "type": "object",
      "description": "Metadata for online images."
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation": {
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation",
      "properties": {
        "name": {
[...]
