{
  "revision": "20260918",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Cloud Vision API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "ownerDomain": "google.com",
  "rootUrl": "https://vision.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version": "v1p1beta1",
  "documentationLink": "https://cloud.google.com/vision/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "images": {
              "methods": {
                "asyncBatchAnnotate": {
                  "path": "v1p1beta1/{+parent}/images:asyncBatchAnnotate",
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
                  }
                },
                "annotate": {
                  "id": "vision.projects.locations.images.annotate",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1p1beta1/{+parent}/images:annotate",
                  "response": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
                  },
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "parameters": {
                    "parent": {
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Run image detection and annotation for a batch of images.",
                  "httpMethod": "POST"
                }
              }
            },
            "files": {
              "methods": {
                "asyncBatchAnnotate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1p1beta1/{+parent}/files:asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
                  }
                },
                "annotate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "response": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
                  },
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "vision.projects.locations.files.annotate",
                  "path": "v1p1beta1/{+parent}/files:annotate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "id": "vision.projects.images.asyncBatchAnnotate",
              "flatPath": "v1p1beta1/projects/{projectsId}/images:asyncBatchAnnotate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
              },
              "path": "v1p1beta1/{+parent}/images:asyncBatchAnnotate",
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "httpMethod": "POST"
            },
            "annotate": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Run image detection and annotation for a batch of images.",
              "response": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
              },
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
              },
              "flatPath": "v1p1beta1/projects/{projectsId}/images:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path"
                }
              },
              "id": "vision.projects.images.annotate",
              "httpMethod": "POST",
              "path": "v1p1beta1/{+parent}/images:annotate"
            }
          }
        },
        "files": {
          "methods": {
            "asyncBatchAnnotate": {
              "id": "vision.projects.files.asyncBatchAnnotate",
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
              },
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1p1beta1/{+parent}/files:asyncBatchAnnotate",
              "parameters": {
                "parent": {
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1p1beta1/projects/{projectsId}/files:asyncBatchAnnotate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "annotate": {
              "response": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
              },
              "flatPath": "v1p1beta1/projects/{projectsId}/files:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
              },
              "id": "vision.projects.files.annotate",
              "path": "v1p1beta1/{+parent}/files:annotate",
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "images": {
      "methods": {
        "asyncBatchAnnotate": {
          "id": "vision.images.asyncBatchAnnotate",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "flatPath": "v1p1beta1/images:asyncBatchAnnotate",
          "path": "v1p1beta1/images:asyncBatchAnnotate",
          "parameters": {},
          "response": {
            "$ref": "Operation"
          }
        },
        "annotate": {
          "httpMethod": "POST",
          "id": "vision.images.annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameters": {},
          "path": "v1p1beta1/images:annotate",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
          },
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
          },
          "description": "Run image detection and annotation for a batch of images.",
          "flatPath": "v1p1beta1/images:annotate"
        }
      }
    },
    "files": {
      "methods": {
        "annotate": {
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
          },
          "flatPath": "v1p1beta1/files:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
          },
          "id": "vision.files.annotate",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1p1beta1/files:annotate"
        },
        "asyncBatchAnnotate": {
          "flatPath": "v1p1beta1/files:asyncBatchAnnotate",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "id": "vision.files.asyncBatchAnnotate",
          "httpMethod": "POST",
          "path": "v1p1beta1/files:asyncBatchAnnotate"
        }
      }
    }
  },
  "name": "vision",
  "baseUrl": "https://vision.googleapis.com/",
  "id": "vision:v1p1beta1",
  "schemas": {
    "DetectedLanguage": {
      "type": "object",
      "id": "DetectedLanguage",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of detected language. Range [0, 1]."
        }
      },
      "description": "Detected language for a structural component."
    },
    "GoogleCloudVisionV1p4beta1FaceAnnotationLandmark": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ],
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "description": "Face landmark type."
        },
        "position": {
          "description": "Face landmark position.",
          "$ref": "GoogleCloudVisionV1p4beta1Position"
        }
      },
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`.",
      "id": "GoogleCloudVisionV1p4beta1FaceAnnotationLandmark"
    },
    "GoogleCloudVisionV1p1beta1TextAnnotation": {
      "id": "GoogleCloudVisionV1p1beta1TextAnnotation",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "UTF-8 text detected on the pages."
        },
        "pages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Page"
          },
          "description": "List of pages detected by OCR."
        }
      },
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail."
    },
    "GoogleCloudVisionV1p3beta1FaceAnnotation": {
      "properties": {
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotationLandmark"
          },
          "description": "Detected face landmarks.",
          "type": "array"
        },
        "fdBoundingPoly": {
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "headwearLikelihood": {
          "type": "string",
          "description": "Headwear likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "landmarkingConfidence": {
          "type": "number",
          "format": "float",
          "description": "Face landmarking confidence. Range [0, 1]."
        },
        "blurredLikelihood": {
          "description": "Blurred likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        },
        "rollAngle": {
          "type": "number",
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180].",
          "format": "float"
        },
        "joyLikelihood": {
          "description": "Joy likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "tiltAngle": {
          "format": "float",
          "type": "number",
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180]."
        },
        "boundingPoly": {
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "sorrowLikelihood": {
          "description": "Sorrow likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "underExposedLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Under-exposed likelihood.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "angerLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Anger likelihood."
        },
        "surpriseLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Surprise likelihood.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "panAngle": {
          "type": "number",
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180].",
          "format": "float"
        },
        "detectionConfidence": {
          "description": "Detection confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1FaceAnnotation",
      "description": "A face annotation object contains the results of face detection."
    },
    "GoogleCloudVisionV1p2beta1Block": {
      "description": "Logical element on the page.",
      "type": "object",
      "properties": {
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty"
        },
        "blockType": {
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "description": "Detected block type (text, image etc) for this block.",
          "type": "string",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ]
        },
        "confidence": {
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "paragraphs": {
          "type": "array",
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Paragraph"
          }
        },
        "boundingBox": {
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Block"
    },
    "GoogleCloudVisionV1p1beta1AnnotateFileRequest": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1AnnotateFileRequest",
      "properties": {
        "features": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Feature"
          },
          "description": "Required. Requested features."
        },
        "imageContext": {
          "description": "Additional context that may accompany the image(s) in the file.",
          "$ref": "GoogleCloudVisionV1p1beta1ImageContext"
        },
        "pages": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Pages of the file to perform image annotation. Pages starts from 1, we assume the first page of the file is page 1. At most 5 pages are supported per request. Pages can be negative. Page 1 means the first page. Page 2 means the second page. Page -1 means the last page. Page -2 means the second to the last page. If the file is GIF instead of PDF or TIFF, page refers to GIF frames. If this field is empty, by default the service performs image annotation for the first 5 pages of the file."
        },
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p1beta1InputConfig",
          "description": "Required. Information about the input file."
        }
      },
      "description": "A request to annotate one single file, e.g. a PDF, TIFF or GIF file."
    },
    "GoogleCloudVisionV1p1beta1AnnotateFileResponse": {
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1AnnotateFileResponse",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p1beta1InputConfig",
          "description": "Information about the file for which this response is generated."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case."
        },
        "totalPages": {
          "format": "int32",
          "type": "integer",
          "description": "This field gives the total number of pages in the file."
        },
        "responses": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1AnnotateImageResponse"
          },
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1CropHint",
      "properties": {
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "type": "number"
        },
        "importanceFraction": {
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "KeyValue": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "value": {
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        }
      },
      "description": "A product label represented as a key-value pair.",
      "id": "KeyValue"
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebEntity": {
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebEntity",
      "properties": {
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "type": "number",
          "format": "float"
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Canonical description of the entity, in English."
        }
      },
      "description": "Entity deduced from similar images on the Internet."
    },
    "BatchAnnotateFilesResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "AnnotateFileResponse"
          },
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest."
        }
      },
      "type": "object",
      "description": "A list of file annotation responses.",
      "id": "BatchAnnotateFilesResponse"
    },
    "Word": {
      "properties": {
        "boundingBox": {
          "$ref": "BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1]."
        },
        "symbols": {
          "items": {
            "$ref": "Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "type": "array"
        },
        "property": {
          "$ref": "TextProperty",
          "description": "Additional information detected for the word."
        }
      },
      "description": "A word representation.",
      "type": "object",
      "id": "Word"
    },
    "GoogleCloudVisionV1p2beta1ProductSearchResults": {
      "type": "object",
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p2beta1ProductSearchResults",
      "properties": {
        "productGroupedResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results."
        },
        "results": {
          "type": "array",
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResultsResult"
          }
        },
        "indexTime": {
          "type": "string",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ProductSearchParams": {
      "type": "object",
      "description": "Parameters for a product search request.",
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon around the area of interest in the image. If it is not specified, system discretion will be applied.",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "filter": {
          "description": "The filtering expression. This can be used to restrict search results based on Product labels. We currently support an AND of OR of key-value expressions, where each expression within an OR must have the same key. An '=' should be used to connect the key and value. For example, \"(color = red OR color = blue) AND brand = Google\" is acceptable, but \"(color = red OR brand = Google)\" is not acceptable. \"color: red\" is not acceptable because it uses a ':' instead of an '='.",
          "type": "string"
        },
        "productSet": {
          "type": "string",
          "description": "The resource name of a ProductSet to be searched for similar images. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`."
        },
        "productCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of product categories to search in. Currently, we only consider the first category, and either \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\", or \"general-v1\" should be specified. The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported but will be deprecated. For new products, please use \"homegoods-v2\", \"apparel-v2\", or \"toys-v2\" for better product search accuracy. It is recommended to migrate existing products to these categories as well."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1ProductSearchParams"
    },
    "GoogleCloudVisionV1p1beta1GcsSource": {
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "description": "The Google Cloud Storage location where the input will be read from.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1GcsSource"
    },
    "GoogleCloudVisionV1p4beta1OperationMetadata": {
      "description": "Contains metadata for the BatchAnnotateImages operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the batch request was received.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "description": "Current state of the batch operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1OperationMetadata"
    },
    "GoogleCloudVisionV1p3beta1AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "id": "GoogleCloudVisionV1p3beta1AnnotateImageResponse",
      "type": "object",
      "properties": {
        "localizedObjectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation"
          },
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score."
        },
        "textAnnotations": {
          "description": "If present, text (OCR) detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "type": "array"
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "type": "array"
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1SafeSearchAnnotation"
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotation"
          },
          "description": "If present, face detection has completed successfully.",
          "type": "array"
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1CropHintsAnnotation"
        },
        "context": {
          "description": "If present, contextual information is needed to understand where this image comes from.",
          "$ref": "GoogleCloudVisionV1p3beta1ImageAnnotationContext"
        },
        "productSearchResults": {
          "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "labelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "description": "If present, label detection has completed successfully."
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1ImageProperties"
        },
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotation"
        },
        "landmarkAnnotations": {
          "type": "array",
          "description": "If present, landmark detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p3beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse": {
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudVisionV1p3beta1OutputConfig",
          "description": "The output location and metadata from AsyncAnnotateFileRequest."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse",
      "description": "The response for a single offline file annotation request.",
      "type": "object"
    },
    "BatchOperationMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true."
        },
        "submitTime": {
          "description": "The time when the batch request was submitted to the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ],
          "description": "The current state of the batch operation."
        }
      },
      "id": "BatchOperationMetadata",
      "type": "object",
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "LocationInfo": {
      "type": "object",
      "id": "LocationInfo",
      "description": "Detected entity location information.",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Word": {
      "type": "object",
      "properties": {
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "format": "float"
        },
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Word",
      "description": "A word representation."
    },
    "GoogleCloudVisionV1p2beta1AnnotateFileResponse": {
      "type": "object",
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses.",
      "id": "GoogleCloudVisionV1p2beta1AnnotateFileResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateImageResponse"
          },
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set.",
          "type": "array"
        },
        "totalPages": {
          "description": "This field gives the total number of pages in the file.",
          "type": "integer",
          "format": "int32"
        },
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p2beta1InputConfig",
          "description": "Information about the file for which this response is generated."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1EntityAnnotation": {
      "description": "Set of detected entity features.",
      "id": "GoogleCloudVisionV1p3beta1EntityAnnotation",
      "type": "object",
      "properties": {
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "topicality": {
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Property"
          },
          "type": "array",
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity."
        },
        "mid": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The language code for the locale in which the entity textual `description` is expressed."
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "confidence": {
          "deprecated": true,
          "format": "float",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "type": "number"
        },
        "score": {
          "description": "Overall score of the result. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "locations": {
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocationInfo"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "GoogleCloudVisionV1p2beta1Paragraph": {
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "property": {
          "description": "Additional information detected for the paragraph.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty"
        },
        "words": {
          "type": "array",
          "description": "List of all words in this paragraph.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Word"
          }
        },
        "confidence": {
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Structural unit of text representing a number of words in certain order.",
      "id": "GoogleCloudVisionV1p2beta1Paragraph",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak": {
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ]
        },
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        }
      },
      "type": "object",
      "description": "Detected start or end of a structural component."
    },
    "GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of detected language. Range [0, 1].",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage",
      "description": "Detected language for a structural component."
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResults": {
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult"
          },
          "type": "array",
          "description": "List of results, one for each product match."
        },
        "productGroupedResults": {
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResultsGroupedResult"
          }
        },
        "indexTime": {
          "type": "string",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime"
        }
      },
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResults",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1LocationInfo": {
      "id": "GoogleCloudVisionV1p1beta1LocationInfo",
      "description": "Detected entity location information.",
      "type": "object",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      }
    },
    "Block": {
      "description": "Logical element on the page.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results on the block. Range [0, 1]."
        },
        "blockType": {
          "type": "string",
          "description": "Detected block type (text, image etc) for this block.",
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ]
        },
        "paragraphs": {
          "type": "array",
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "Paragraph"
          }
        },
        "boundingBox": {
          "$ref": "BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "TextProperty"
        }
      },
      "type": "object",
      "id": "Block"
    },
    "WebEntity": {
      "type": "object",
      "description": "Entity deduced from similar images on the Internet.",
      "id": "WebEntity",
      "properties": {
        "description": {
          "type": "string",
          "description": "Canonical description of the entity, in English."
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries."
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        }
      }
    },
    "ReferenceImage": {
      "description": "A `ReferenceImage` represents a product image and its associated metadata, such as bounding boxes.",
      "id": "ReferenceImage",
      "properties": {
        "boundingPolys": {
          "description": "Optional. Bounding polygons around the areas of interest in the reference image. If this field is empty, the system will try to detect regions of interest. At most 10 bounding polygons will be used. The provided shape is converted into a non-rotated rectangle. Once converted, the small edge of the rectangle must be greater than or equal to 300 pixels. The aspect ratio must be 1:4 or less (i.e. 1:3 is ok; 1:5 is not).",
          "items": {
            "$ref": "BoundingPoly"
          },
          "type": "array"
        },
        "uri": {
          "description": "Required. The Google Cloud Storage URI of the reference image. The URI must start with `gs://`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the reference image. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`. This field is ignored when creating a reference image."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        },
        "importanceFraction": {
          "format": "float",
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1CropHint"
    },
    "GoogleCloudVisionV1p4beta1FaceAnnotation": {
      "description": "A face annotation object contains the results of face detection.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1FaceAnnotation",
      "properties": {
        "tiltAngle": {
          "format": "float",
          "type": "number",
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180]."
        },
        "angerLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Anger likelihood.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "surpriseLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Surprise likelihood.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1FaceAnnotationLandmark"
          },
          "description": "Detected face landmarks.",
          "type": "array"
        },
        "blurredLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Blurred likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "recognitionResult": {
          "type": "array",
          "description": "Additional recognition information. Only computed if image_context.face_recognition_params is provided, **and** a match is found to a Celebrity in the input CelebritySet. This field is sorted in order of decreasing confidence values.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1FaceRecognitionResult"
          }
        },
        "rollAngle": {
          "type": "number",
          "format": "float",
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180]."
        },
        "sorrowLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Sorrow likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated."
        },
        "underExposedLikelihood": {
          "description": "Under-exposed likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "detectionConfidence": {
          "type": "number",
          "description": "Detection confidence. Range [0, 1].",
          "format": "float"
        },
        "fdBoundingPoly": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix."
        },
        "joyLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Joy likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        },
        "panAngle": {
          "type": "number",
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180].",
          "format": "float"
        },
        "headwearLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Headwear likelihood."
        },
        "landmarkingConfidence": {
          "format": "float",
          "type": "number",
          "description": "Face landmarking confidence. Range [0, 1]."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1Vertex": {
      "properties": {
        "y": {
          "type": "integer",
          "description": "Y coordinate.",
          "format": "int32"
        },
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "X coordinate."
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Vertex"
    },
    "GoogleCloudVisionV1p4beta1ImportProductSetsResponse": {
      "id": "GoogleCloudVisionV1p4beta1ImportProductSetsResponse",
      "description": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field.",
      "type": "object",
      "properties": {
        "statuses": {
          "items": {
            "$ref": "Status"
          },
          "description": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0.",
          "type": "array"
        },
        "referenceImages": {
          "type": "array",
          "description": "The list of reference_images that are imported successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ReferenceImage"
          }
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Block": {
      "description": "Logical element on the page.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Block",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        },
        "blockType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "description": "Detected block type (text, image etc) for this block."
        },
        "paragraphs": {
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Paragraph"
          }
        },
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the OCR results on the block. Range [0, 1]."
        }
      }
    },
    "Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "id": "Vertex",
      "type": "object",
      "properties": {
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "Y coordinate."
        },
        "x": {
          "format": "int32",
          "description": "X coordinate.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1AnnotateImageResponse": {
      "id": "GoogleCloudVisionV1p2beta1AnnotateImageResponse",
      "type": "object",
      "description": "Response to an image annotation request.",
      "properties": {
        "safeSearchAnnotation": {
          "$ref": "GoogleCloudVisionV1p2beta1SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        },
        "labelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          },
          "description": "If present, label detection has completed successfully."
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1CropHintsAnnotation"
        },
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotation"
        },
        "webDetection": {
          "description": "If present, web detection has completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1WebDetection"
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResults"
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1ImageProperties"
        },
        "textAnnotations": {
          "type": "array",
          "description": "If present, text (OCR) detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          }
        },
        "faceAnnotations": {
          "type": "array",
          "description": "If present, face detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1FaceAnnotation"
          }
        },
        "localizedObjectAnnotations": {
          "type": "array",
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation"
          }
        },
        "context": {
          "description": "If present, contextual information is needed to understand where this image comes from.",
          "$ref": "GoogleCloudVisionV1p2beta1ImageAnnotationContext"
        },
        "logoAnnotations": {
          "type": "array",
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          }
        },
        "landmarkAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          },
          "description": "If present, landmark detection has completed successfully.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse": {
      "id": "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse",
      "type": "object",
      "description": "The response for a single offline file annotation request.",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudVisionV1p1beta1OutputConfig",
          "description": "The output location and metadata from AsyncAnnotateFileRequest."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1InputConfig": {
      "id": "GoogleCloudVisionV1p4beta1InputConfig",
      "description": "The desired input location and metadata.",
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "type": "string"
        },
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from.",
          "$ref": "GoogleCloudVisionV1p4beta1GcsSource"
        },
        "mimeType": {
          "type": "string",
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1WebDetectionWebPage": {
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebPage",
      "description": "Metadata for web pages.",
      "type": "object",
      "properties": {
        "partialMatchingImages": {
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          }
        },
        "score": {
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the web page.",
          "format": "float"
        },
        "fullMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "description": "Fully matching images on the page. Can include resized copies of the query image."
        },
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "url": {
          "description": "The result web page URL.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1DominantColorsAnnotation": {
      "description": "Set of dominant colors and their corresponding scores.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1DominantColorsAnnotation",
      "properties": {
        "colors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ColorInfo"
          },
          "description": "RGB color values with their score and pixel fraction."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage": {
      "description": "Detected language for a structural component.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
    },
    "GoogleCloudVisionV1p1beta1CropHintsAnnotation": {
      "properties": {
        "cropHints": {
          "description": "Crop hint results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1CropHint"
          }
        }
      },
      "id": "GoogleCloudVisionV1p1beta1CropHintsAnnotation",
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "type": "object"
    },
    "Property": {
      "properties": {
        "uint64Value": {
          "description": "Value of numeric properties.",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the property."
        },
        "value": {
          "description": "Value of the property.",
          "type": "string"
        }
      },
      "id": "Property",
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair."
    },
    "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse": {
      "description": "A list of file annotation responses.",
      "id": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1AnnotateFileResponse"
          }
        }
      }
    },
    "GoogleCloudVisionV1p3beta1ImageAnnotationContext": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "format": "int32",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1ImageAnnotationContext",
      "type": "object",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image."
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsResult": {
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult",
      "type": "object",
      "description": "Information about a product.",
      "properties": {
        "product": {
          "$ref": "GoogleCloudVisionV1p1beta1Product",
          "description": "The Product."
        },
        "image": {
          "description": "The resource name of the image from the product that is the closest match to the query.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence)."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ImageAnnotationContext": {
      "properties": {
        "uri": {
          "description": "The URI of the file used to produce the image.",
          "type": "string"
        },
        "pageNumber": {
          "type": "integer",
          "format": "int32",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1ImageAnnotationContext",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image."
    },
    "GoogleCloudVisionV1p2beta1BoundingPoly": {
      "properties": {
        "normalizedVertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices."
        },
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Vertex"
          },
          "description": "The bounding polygon vertices."
        }
      },
      "type": "object",
      "description": "A bounding polygon for the detected image annotation.",
      "id": "GoogleCloudVisionV1p2beta1BoundingPoly"
    },
    "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation": {
      "description": "Set of detected objects with bounding boxes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Object name, expressed in its `language_code` language.",
          "type": "string"
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "Image region to which this object belongs. This must be populated."
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Score of the result. Range [0, 1]."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation"
    },
    "GoogleCloudVisionV1p3beta1Product": {
      "type": "object",
      "properties": {
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        },
        "displayName": {
          "type": "string",
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long."
        },
        "name": {
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
          "type": "string"
        },
        "productLabels": {
          "type": "array",
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductKeyValue"
          }
        },
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1Product",
      "description": "A Product contains ReferenceImages."
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebLabel": {
      "description": "Label to provide extra metadata for the web detection.",
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebLabel",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "label": {
          "type": "string",
          "description": "Label for extra metadata."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ProductKeyValue": {
      "properties": {
        "value": {
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        },
        "key": {
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        }
      },
      "description": "A product label represented as a key-value pair.",
      "id": "GoogleCloudVisionV1p2beta1ProductKeyValue",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Image": {
      "description": "Client image to perform Google Cloud Vision API tasks over.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Image",
      "properties": {
        "source": {
          "$ref": "GoogleCloudVisionV1p1beta1ImageSource",
          "description": "Google Cloud Storage image location, or publicly-accessible image URL. If both `content` and `source` are provided for an image, `content` takes precedence and is used to perform the image annotation request."
        },
        "content": {
          "format": "byte",
          "description": "Image content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateImages requests. It does not work for AsyncBatchAnnotateImages requests.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Property": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the property."
        },
        "uint64Value": {
          "format": "uint64",
          "type": "string",
          "description": "Value of numeric properties."
        },
        "name": {
          "type": "string",
          "description": "Name of the property."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Property",
      "description": "A `Property` consists of a user-supplied name/value pair."
    },
    "GoogleCloudVisionV1p1beta1ImageProperties": {
      "id": "GoogleCloudVisionV1p1beta1ImageProperties",
      "description": "Stores image properties, such as dominant colors.",
      "properties": {
        "dominantColors": {
          "description": "If present, dominant colors completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Symbol": {
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "property": {
          "description": "Additional information detected for the symbol.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty"
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        }
      },
      "description": "A single symbol representation.",
      "id": "GoogleCloudVisionV1p2beta1Symbol"
    },
    "AsyncBatchAnnotateFilesResponse": {
      "id": "AsyncBatchAnnotateFilesResponse",
      "properties": {
        "responses": {
          "items": {
[...]
