{
  "discoveryVersion": "v1",
  "baseUrl": "https://vision.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "canonicalName": "Vision",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "rootUrl": "https://vision.googleapis.com/",
  "schemas": {
    "GcsSource": {
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location where the input will be read from.",
      "id": "GcsSource"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak": {
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "description": "Detected break type.",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "type": "string"
        },
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        }
      },
      "type": "object",
      "description": "Detected start or end of a structural component."
    },
    "GoogleCloudVisionV1p1beta1CropHint": {
      "id": "GoogleCloudVisionV1p1beta1CropHint",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "type": "number"
        },
        "importanceFraction": {
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        }
      },
      "type": "object",
      "description": "Single crop hint that is used to generate a new crop when serving an image."
    },
    "GoogleCloudVisionV1p1beta1DominantColorsAnnotation": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation",
      "description": "Set of dominant colors and their corresponding scores.",
      "properties": {
        "colors": {
          "description": "RGB color values with their score and pixel fraction.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ColorInfo"
          }
        }
      }
    },
    "GoogleCloudVisionV1p2beta1OutputConfig": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1OutputConfig",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudVisionV1p2beta1GcsDestination",
          "description": "The Google Cloud Storage location to write the output(s) to."
        },
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations."
        }
      },
      "description": "The desired output location and metadata."
    },
    "GoogleCloudVisionV1p1beta1WebDetection": {
      "properties": {
        "bestGuessLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebLabel"
          },
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web."
        },
        "webEntities": {
          "type": "array",
          "description": "Deduced entities from similar images on the Internet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebEntity"
          }
        },
        "visuallySimilarImages": {
          "description": "The visually similar image results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          },
          "type": "array"
        },
        "partialMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          },
          "type": "array",
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops."
        },
        "pagesWithMatchingImages": {
          "description": "Web pages containing the matching images from the Internet.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebPage"
          }
        },
        "fullMatchingImages": {
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          }
        }
      },
      "description": "Relevant information for the image from the Internet.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1WebDetection"
    },
    "GoogleCloudVisionV1p2beta1ImageAnnotationContext": {
      "id": "GoogleCloudVisionV1p2beta1ImageAnnotationContext",
      "type": "object",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "properties": {
        "uri": {
          "description": "The URI of the file used to produce the image.",
          "type": "string"
        },
        "pageNumber": {
          "format": "int32",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "type": "integer"
        }
      }
    },
    "Color": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "Color",
      "properties": {
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        },
        "red": {
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1CropHintsAnnotation": {
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "properties": {
        "cropHints": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1CropHint"
          },
          "description": "Crop hint results.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1CropHintsAnnotation"
    },
    "GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse",
      "properties": {
        "outputConfig": {
          "description": "The output location and metadata from AsyncAnnotateFileRequest.",
          "$ref": "GoogleCloudVisionV1p2beta1OutputConfig"
        }
      },
      "description": "The response for a single offline file annotation request."
    },
    "ReferenceImage": {
      "properties": {
        "boundingPolys": {
          "type": "array",
          "items": {
            "$ref": "BoundingPoly"
          },
          "description": "Optional. Bounding polygons around the areas of interest in the reference image. If this field is empty, the system will try to detect regions of interest. At most 10 bounding polygons will be used. The provided shape is converted into a non-rotated rectangle. Once converted, the small edge of the rectangle must be greater than or equal to 300 pixels. The aspect ratio must be 1:4 or less (i.e. 1:3 is ok; 1:5 is not)."
        },
        "name": {
          "description": "The resource name of the reference image. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`. This field is ignored when creating a reference image.",
          "type": "string"
        },
        "uri": {
          "description": "Required. The Google Cloud Storage URI of the reference image. The URI must start with `gs://`.",
          "type": "string"
        }
      },
      "id": "ReferenceImage",
      "description": "A `ReferenceImage` represents a product image and its associated metadata, such as bounding boxes.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesResponse": {
      "id": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse"
          },
          "type": "array",
          "description": "The list of file annotation responses, one for each request in AsyncBatchAnnotateFilesRequest."
        }
      },
      "description": "Response to an async batch file annotation request.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Property": {
      "properties": {
        "uint64Value": {
          "description": "Value of numeric properties.",
          "format": "uint64",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the property."
        },
        "name": {
          "description": "Name of the property.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Property",
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair."
    },
    "GoogleCloudVisionV1p2beta1GcsSource": {
      "type": "object",
      "description": "The Google Cloud Storage location where the input will be read from.",
      "id": "GoogleCloudVisionV1p2beta1GcsSource",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1LocationInfo": {
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1LocationInfo",
      "description": "Detected entity location information.",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ColorInfo": {
      "properties": {
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        }
      },
      "id": "GoogleCloudVisionV1p4beta1ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak": {
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak",
      "type": "object",
      "description": "Detected start or end of a structural component.",
      "properties": {
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        },
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ]
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsResult": {
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult",
      "properties": {
        "product": {
          "$ref": "GoogleCloudVisionV1p1beta1Product",
          "description": "The Product."
        },
        "score": {
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "type": "number",
          "format": "float"
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        }
      },
      "type": "object",
      "description": "Information about a product."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse": {
      "properties": {
        "outputConfig": {
          "description": "The output location and metadata from AsyncAnnotateFileRequest.",
          "$ref": "GoogleCloudVisionV1p3beta1OutputConfig"
        }
      },
      "description": "The response for a single offline file annotation request.",
      "id": "GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1BatchOperationMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "description": "The current state of the batch operation.",
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "submitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the batch request was submitted to the server."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true."
        }
      },
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1BatchOperationMetadata"
    },
    "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse": {
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudVisionV1p1beta1OutputConfig",
          "description": "The output location and metadata from AsyncAnnotateFileRequest."
        }
      },
      "type": "object",
      "description": "The response for a single offline file annotation request.",
      "id": "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse"
    },
    "GoogleCloudVisionV1p1beta1Vertex": {
      "id": "GoogleCloudVisionV1p1beta1Vertex",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "integer",
          "format": "int32"
        },
        "y": {
          "description": "Y coordinate.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
    },
    "GoogleCloudVisionV1p3beta1GcsSource": {
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location where the input will be read from.",
      "id": "GoogleCloudVisionV1p3beta1GcsSource"
    },
    "GoogleCloudVisionV1p3beta1EntityAnnotation": {
      "type": "object",
      "properties": {
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "mid": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "confidence": {
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "format": "float",
          "type": "number",
          "deprecated": true
        },
        "topicality": {
          "format": "float",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "type": "number"
        },
        "description": {
          "description": "Entity textual description, expressed in its `locale` language.",
          "type": "string"
        },
        "properties": {
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Property"
          }
        },
        "score": {
          "format": "float",
          "description": "Overall score of the result. Range [0, 1].",
          "type": "number"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocationInfo"
          },
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks."
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        }
      },
      "description": "Set of detected entity features.",
      "id": "GoogleCloudVisionV1p3beta1EntityAnnotation"
    },
    "BoundingPoly": {
      "properties": {
        "vertices": {
          "description": "The bounding polygon vertices.",
          "type": "array",
          "items": {
            "$ref": "Vertex"
          }
        },
        "normalizedVertices": {
          "type": "array",
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "NormalizedVertex"
          }
        }
      },
      "id": "BoundingPoly",
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult": {
      "type": "object",
      "description": "Information about the products similar to a single product in a query image.",
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult",
      "properties": {
        "results": {
          "type": "array",
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult"
          }
        },
        "boundingPoly": {
          "description": "The bounding polygon around the product detected in the query image.",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "objectAnnotations": {
          "description": "List of generic predictions for the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation"
          }
        }
      }
    },
    "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty": {
      "description": "Additional information detected on the structural component.",
      "type": "object",
      "properties": {
        "detectedBreak": {
          "description": "Detected start or end of a text segment.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationDetectedBreak"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "id": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
    },
    "DetectedBreak": {
      "id": "DetectedBreak",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "description": "Detected break type.",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ]
        },
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        }
      },
      "description": "Detected start or end of a structural component.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Block": {
      "id": "GoogleCloudVisionV1p1beta1Block",
      "type": "object",
      "properties": {
        "paragraphs": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Paragraph"
          },
          "type": "array",
          "description": "List of paragraphs in this block (if this blocks is of type text)."
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the block."
        },
        "blockType": {
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "description": "Detected block type (text, image etc) for this block.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ]
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Logical element on the page."
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebImage": {
      "properties": {
        "url": {
          "description": "The result image URL.",
          "type": "string"
        },
        "score": {
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metadata for online images.",
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebImage"
    },
    "GoogleCloudVisionV1p1beta1ColorInfo": {
      "id": "GoogleCloudVisionV1p1beta1ColorInfo",
      "properties": {
        "score": {
          "format": "float",
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "type": "number"
        },
        "pixelFraction": {
          "format": "float",
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "type": "number"
        },
        "color": {
          "description": "RGB components of the color.",
          "$ref": "Color"
        }
      },
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1ImageProperties": {
      "id": "GoogleCloudVisionV1p3beta1ImageProperties",
      "properties": {
        "dominantColors": {
          "description": "If present, dominant colors completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1DominantColorsAnnotation"
        }
      },
      "description": "Stores image properties, such as dominant colors.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Product": {
      "properties": {
        "productLabels": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductKeyValue"
          },
          "type": "array",
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet."
        },
        "name": {
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long."
        },
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        },
        "displayName": {
          "type": "string",
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long."
        }
      },
      "type": "object",
      "description": "A Product contains ReferenceImages.",
      "id": "GoogleCloudVisionV1p1beta1Product"
    },
    "GoogleCloudVisionV1p4beta1WebDetection": {
      "id": "GoogleCloudVisionV1p4beta1WebDetection",
      "properties": {
        "webEntities": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebEntity"
          },
          "description": "Deduced entities from similar images on the Internet.",
          "type": "array"
        },
        "pagesWithMatchingImages": {
          "description": "Web pages containing the matching images from the Internet.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebPage"
          }
        },
        "partialMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "type": "array",
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops."
        },
        "fullMatchingImages": {
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "type": "array"
        },
        "visuallySimilarImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "description": "The visually similar image results.",
          "type": "array"
        },
        "bestGuessLabels": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebLabel"
          },
          "type": "array",
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web."
        }
      },
      "type": "object",
      "description": "Relevant information for the image from the Internet."
    },
    "GoogleCloudVisionV1p1beta1Position": {
      "properties": {
        "z": {
          "format": "float",
          "description": "Z coordinate (or depth).",
          "type": "number"
        },
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "id": "GoogleCloudVisionV1p1beta1Position"
    },
    "BatchAnnotateImagesRequest": {
      "properties": {
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requests": {
          "description": "Required. Individual image annotation requests for this batch.",
          "type": "array",
          "items": {
            "$ref": "AnnotateImageRequest"
          }
        },
        "parent": {
          "type": "string",
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
        }
      },
      "type": "object",
      "description": "Multiple image annotation requests are batched into a single service call.",
      "id": "BatchAnnotateImagesRequest"
    },
    "GoogleCloudVisionV1p2beta1ProductSearchResultsGroupedResult": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1ProductSearchResultsGroupedResult",
      "properties": {
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResultsObjectAnnotation"
          },
          "description": "List of generic predictions for the object in the bounding box."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "The bounding polygon around the product detected in the query image."
        },
        "results": {
          "description": "List of results, one for each product match.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResultsResult"
          }
        }
      },
      "description": "Information about the products similar to a single product in a query image."
    },
    "GoogleCloudVisionV1p2beta1TextAnnotation": {
      "properties": {
        "text": {
          "description": "UTF-8 text detected on the pages.",
          "type": "string"
        },
        "pages": {
          "type": "array",
          "description": "List of pages detected by OCR.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Page"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1TextAnnotation",
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail."
    },
    "EntityAnnotation": {
      "properties": {
        "confidence": {
          "type": "number",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "deprecated": true,
          "format": "float"
        },
        "topicality": {
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "locale": {
          "type": "string",
          "description": "The language code for the locale in which the entity textual `description` is expressed."
        },
        "locations": {
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "items": {
            "$ref": "LocationInfo"
          },
          "type": "array"
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "BoundingPoly"
        },
        "properties": {
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "items": {
            "$ref": "Property"
          },
          "type": "array"
        },
        "score": {
          "format": "float",
          "description": "Overall score of the result. Range [0, 1].",
          "type": "number"
        }
      },
      "id": "EntityAnnotation",
      "description": "Set of detected entity features.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Word": {
      "description": "A word representation.",
      "id": "GoogleCloudVisionV1p2beta1Word",
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        },
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order."
        },
        "confidence": {
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "CropHintsAnnotation": {
      "type": "object",
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "id": "CropHintsAnnotation",
      "properties": {
        "cropHints": {
          "description": "Crop hint results.",
          "type": "array",
          "items": {
            "$ref": "CropHint"
          }
        }
      }
    },
    "GoogleCloudVisionV1p3beta1AnnotateImageResponse": {
      "id": "GoogleCloudVisionV1p3beta1AnnotateImageResponse",
      "description": "Response to an image annotation request.",
      "type": "object",
      "properties": {
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1CropHintsAnnotation"
        },
        "landmarkAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "description": "If present, landmark detection has completed successfully."
        },
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotation"
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1ImageProperties"
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p3beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1SafeSearchAnnotation"
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotation"
          },
          "description": "If present, face detection has completed successfully."
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "description": "If present, text (OCR) detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResults"
        },
        "context": {
          "description": "If present, contextual information is needed to understand where this image comes from.",
          "$ref": "GoogleCloudVisionV1p3beta1ImageAnnotationContext"
        }
      }
    },
    "AsyncAnnotateFileResponse": {
      "properties": {
        "outputConfig": {
          "$ref": "OutputConfig",
          "description": "The output location and metadata from AsyncAnnotateFileRequest."
        }
      },
      "id": "AsyncAnnotateFileResponse",
      "type": "object",
      "description": "The response for a single offline file annotation request."
    },
    "KeyValue": {
      "id": "KeyValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "key": {
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A product label represented as a key-value pair."
    },
    "GoogleCloudVisionV1p1beta1GcsSource": {
      "description": "The Google Cloud Storage location where the input will be read from.",
      "id": "GoogleCloudVisionV1p1beta1GcsSource",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Symbol": {
      "id": "Symbol",
      "description": "A single symbol representation.",
      "properties": {
        "property": {
          "$ref": "TextProperty",
          "description": "Additional information detected for the symbol."
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        },
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "BoundingPoly"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the OCR results for the symbol. Range [0, 1]."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1Position": {
      "type": "object",
      "properties": {
        "z": {
          "format": "float",
          "type": "number",
          "description": "Z coordinate (or depth)."
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        },
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1Position",
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image."
    },
    "ImageContext": {
      "type": "object",
      "id": "ImageContext",
      "properties": {
        "productSearchParams": {
          "description": "Parameters for product search.",
          "$ref": "ProductSearchParams"
        },
        "webDetectionParams": {
          "$ref": "WebDetectionParams",
          "description": "Parameters for web detection."
        },
        "textDetectionParams": {
          "description": "Parameters for text detection and document text detection.",
          "$ref": "TextDetectionParams"
        },
        "cropHintsParams": {
          "$ref": "CropHintsParams",
          "description": "Parameters for crop hints annotation request."
        },
        "latLongRect": {
          "$ref": "LatLongRect",
          "description": "Not used."
        },
        "languageHints": {
          "description": "List of languages to use for TEXT_DETECTION. In most cases, an empty value yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting `language_hints` is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong). Text detection returns an error if one or more of the specified languages is not one of the [supported languages](https://cloud.google.com/vision/docs/languages).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Image context and/or feature-specific parameters."
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebPage": {
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebPage",
      "properties": {
        "url": {
          "description": "The result web page URL.",
          "type": "string"
        },
        "partialMatchingImages": {
          "type": "array",
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1WebDetectionWebImage"
          }
        },
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "fullMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1WebDetectionWebImage"
          },
          "type": "array",
          "description": "Fully matching images on the page. Can include resized copies of the query image."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "(Deprecated) Overall relevancy score for the web page."
        }
      },
      "type": "object",
      "description": "Metadata for web pages."
    },
    "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation": {
      "description": "Set of detected objects with bounding boxes.",
      "properties": {
        "boundingPoly": {
          "description": "Image region to which this object belongs. This must be populated.",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "score": {
          "format": "float",
          "description": "Score of the result. Range [0, 1].",
          "type": "number"
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        },
        "name": {
          "description": "Object name, expressed in its `language_code` language.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation",
      "type": "object"
    },
    "Product": {
      "id": "Product",
      "description": "A Product contains ReferenceImages.",
      "type": "object",
      "properties": {
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
          "type": "string"
        },
        "productLabels": {
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "KeyValue"
          },
          "type": "array"
        },
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        },
        "displayName": {
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long.",
          "type": "string"
        }
      }
    },
    "WebEntity": {
      "type": "object",
      "description": "Entity deduced from similar images on the Internet.",
      "id": "WebEntity",
      "properties": {
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries."
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        }
      }
    },
    "BatchOperationMetadata": {
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ],
          "description": "The current state of the batch operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "submitTime": {
          "format": "google-datetime",
          "description": "The time when the batch request was submitted to the server.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true."
        }
      },
      "type": "object",
      "id": "BatchOperationMetadata"
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebImage": {
      "properties": {
        "score": {
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float",
          "type": "number"
        },
        "url": {
          "description": "The result image URL.",
          "type": "string"
        }
      },
      "description": "Metadata for online images.",
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebImage",
      "type": "object"
    },
    "ImportProductSetsResponse": {
      "description": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field.",
      "id": "ImportProductSetsResponse",
      "type": "object",
      "properties": {
        "statuses": {
          "description": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "referenceImages": {
          "description": "The list of reference_images that are imported successfully.",
          "type": "array",
          "items": {
            "$ref": "ReferenceImage"
          }
        }
      }
    },
    "GoogleCloudVisionV1p4beta1OutputConfig": {
      "id": "GoogleCloudVisionV1p4beta1OutputConfig",
      "description": "The desired output location and metadata.",
      "properties": {
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations."
        },
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output(s) to.",
          "$ref": "GoogleCloudVisionV1p4beta1GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1OutputConfig": {
      "description": "The desired output location and metadata.",
      "id": "GoogleCloudVisionV1p3beta1OutputConfig",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output(s) to.",
          "$ref": "GoogleCloudVisionV1p3beta1GcsDestination"
        },
        "batchSize": {
          "type": "integer",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResultsResult": {
      "properties": {
        "score": {
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "format": "float"
        },
        "image": {
          "description": "The resource name of the image from the product that is the closest match to the query.",
          "type": "string"
        },
        "product": {
          "description": "The Product.",
          "$ref": "GoogleCloudVisionV1p4beta1Product"
        }
      },
      "type": "object",
      "description": "Information about a product.",
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResultsResult"
    },
    "ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "properties": {
        "pageNumber": {
          "format": "int32",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "type": "integer"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        }
      },
      "id": "ImageAnnotationContext",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1WebDetectionWebPage": {
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebPage",
      "description": "Metadata for web pages.",
      "properties": {
        "fullMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "type": "array",
          "description": "Fully matching images on the page. Can include resized copies of the query image."
        },
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "(Deprecated) Overall relevancy score for the web page."
        },
        "url": {
          "type": "string",
          "description": "The result web page URL."
        },
        "partialMatchingImages": {
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1WebDetectionWebImage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Product": {
      "properties": {
        "productLabels": {
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductKeyValue"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long."
        },
        "description": {
          "type": "string",
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long."
        },
        "productCategory": {
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Product contains ReferenceImages.",
      "id": "GoogleCloudVisionV1p4beta1Product"
    },
    "GoogleCloudVisionV1p3beta1Property": {
      "properties": {
        "name": {
          "description": "Name of the property.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the property."
        },
        "uint64Value": {
          "format": "uint64",
          "description": "Value of numeric properties.",
          "type": "string"
        }
      },
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "id": "GoogleCloudVisionV1p3beta1Property",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1NormalizedVertex": {
      "type": "object",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVisionV1p1beta1Paragraph": {
      "description": "Structural unit of text representing a number of words in certain order.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Paragraph",
      "properties": {
        "words": {
          "description": "List of all words in this paragraph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Word"
          }
        },
        "confidence": {
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "boundingBox": {
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "property": {
          "description": "Additional information detected for the paragraph.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Block": {
      "id": "GoogleCloudVisionV1p2beta1Block",
      "description": "Logical element on the page.",
      "properties": {
        "blockType": {
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "type": "string",
          "description": "Detected block type (text, image etc) for this block."
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "type": "number"
        },
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty"
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "paragraphs": {
          "type": "array",
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Paragraph"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1SafeSearchAnnotation": {
      "properties": {
        "racy": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "adult": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities."
        },
        "spoof": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "type": "string"
        },
        "medical": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that this is a medical image."
        },
        "violence": {
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation",
      "type": "object",
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence)."
    },
    "TextProperty": {
      "type": "object",
      "id": "TextProperty",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "DetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "detectedBreak": {
          "description": "Detected start or end of a text segment.",
          "$ref": "DetectedBreak"
        }
      },
      "description": "Additional information detected on the structural component."
    },
    "NormalizedVertex": {
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "NormalizedVertex",
      "properties": {
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty": {
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage"
          },
          "type": "array"
        },
        "detectedBreak": {
          "description": "Detected start or end of a text segment.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak"
        }
      },
      "description": "Additional information detected on the structural component.",
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty"
    },
    "GoogleCloudVisionV1p1beta1Property": {
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "properties": {
        "uint64Value": {
          "description": "Value of numeric properties.",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the property."
        },
        "value": {
          "type": "string",
          "description": "Value of the property."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1Property"
    },
    "GoogleCloudVisionV1p3beta1WebDetection": {
      "description": "Relevant information for the image from the Internet.",
      "properties": {
        "partialMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array"
        },
        "visuallySimilarImages": {
          "type": "array",
          "description": "The visually similar image results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          }
        },
        "webEntities": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebEntity"
          },
          "type": "array",
          "description": "Deduced entities from similar images on the Internet."
        },
        "pagesWithMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebPage"
          },
          "description": "Web pages containing the matching images from the Internet.",
          "type": "array"
        },
        "fullMatchingImages": {
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          }
        },
        "bestGuessLabels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebLabel"
          },
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1WebDetection",
      "type": "object"
    },
    "WebPage": {
      "description": "Metadata for web pages.",
      "id": "WebPage",
      "properties": {
        "url": {
          "type": "string",
          "description": "The result web page URL."
        },
        "partialMatchingImages": {
          "type": "array",
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "WebImage"
          }
        },
        "pageTitle": {
          "description": "Title for the web page, may contain HTML markups.",
          "type": "string"
        },
        "fullMatchingImages": {
          "type": "array",
          "description": "Fully matching images on the page. Can include resized copies of the query image.",
          "items": {
            "$ref": "WebImage"
          }
        },
        "score": {
          "format": "float",
          "description": "(Deprecated) Overall relevancy score for the web page.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse": {
      "id": "GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse",
      "description": "A list of file annotation responses.",
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AnnotateFileResponse"
          }
        }
      }
    },
    "GoogleCloudVisionV1p3beta1FaceAnnotation": {
      "properties": {
        "joyLikelihood": {
          "description": "Joy likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "underExposedLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Under-exposed likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated."
        },
        "angerLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Anger likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "tiltAngle": {
          "format": "float",
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180].",
          "type": "number"
        },
        "surpriseLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Surprise likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "blurredLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Blurred likelihood."
        },
        "headwearLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Headwear likelihood."
        },
        "rollAngle": {
          "type": "number",
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180].",
          "format": "float"
        },
        "fdBoundingPoly": {
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "detectionConfidence": {
          "description": "Detection confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "landmarks": {
          "description": "Detected face landmarks.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotationLandmark"
          },
          "type": "array"
        },
        "sorrowLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Sorrow likelihood."
        },
        "landmarkingConfidence": {
          "description": "Face landmarking confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "panAngle": {
          "type": "number",
          "format": "float",
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180]."
        }
      },
      "description": "A face annotation object contains the results of face detection.",
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1FaceAnnotation"
    },
    "GoogleCloudVisionV1p4beta1Symbol": {
      "description": "A single symbol representation.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Symbol",
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the symbol."
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the OCR results for the symbol. Range [0, 1]."
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebEntity": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebEntity",
      "description": "Entity deduced from similar images on the Internet.",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        },
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "format": "float",
          "type": "number"
        },
        "description": {
          "type": "string",
          "description": "Canonical description of the entity, in English."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1Page": {
      "id": "GoogleCloudVisionV1p3beta1Page",
      "properties": {
        "confidence": {
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "height": {
          "type": "integer",
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        },
        "width": {
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "type": "integer",
          "format": "int32"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
          "description": "Additional information detected on the page."
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Block"
          },
          "type": "array",
          "description": "List of blocks of text, images etc on this page."
        }
      },
      "description": "Detected page from OCR.",
      "type": "object"
    },
    "GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files."
        }
      },
      "description": "The Google Cloud Storage location where the output will be written to.",
      "id": "GcsDestination"
    },
    "GoogleCloudVisionV1p1beta1Word": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Word",
      "properties": {
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1]."
        },
        "property": {
          "description": "Additional information detected for the word.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
        },
        "symbols": {
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Symbol"
          },
          "type": "array"
        }
      },
      "description": "A word representation."
    },
    "ProductSearchParams": {
      "id": "ProductSearchParams",
      "type": "object",
      "properties": {
        "productCategories": {
          "description": "The list of product categories to search in. Currently, we only consider the first category, and either \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\", or \"general-v1\" should be specified. The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported but will be deprecated. For new products, please use \"homegoods-v2\", \"apparel-v2\", or \"toys-v2\" for better product search accuracy. It is recommended to migrate existing products to these categories as well.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "description": "The filtering expression. This can be used to restrict search results based on Product labels. We currently support an AND of OR of key-value expressions, where each expression within an OR must have the same key. An '=' should be used to connect the key and value. For example, \"(color = red OR color = blue) AND brand = Google\" is acceptable, but \"(color = red OR brand = Google)\" is not acceptable. \"color: red\" is not acceptable because it uses a ':' instead of an '='.",
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "BoundingPoly",
          "description": "The bounding polygon around the area of interest in the image. If it is not specified, system discretion will be applied."
        },
        "productSet": {
          "description": "The resource name of a ProductSet to be searched for similar images. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`.",
          "type": "string"
        }
      },
      "description": "Parameters for a product search request."
    },
    "ListProductSetsResponse": {
      "type": "object",
      "id": "ListProductSetsResponse",
      "description": "Response message for the `ListProductSets` method.",
      "properties": {
        "productSets": {
          "type": "array",
          "description": "List of ProductSets.",
          "items": {
            "$ref": "ProductSet"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "BatchAnnotateFilesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The list of file annotation requests. Right now we support only one AnnotateFileRequest in BatchAnnotateFilesRequest.",
          "type": "array",
          "items": {
            "$ref": "AnnotateFileRequest"
          }
        },
        "parent": {
[...]
