{
  "id": "vmmigration:v1alpha1",
  "name": "vmmigration",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "VM Migration Service",
  "discoveryVersion": "v1",
  "servicePath": "",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "version": "v1alpha1",
  "title": "VM Migration API",
  "ownerDomain": "google.com",
  "schemas": {
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded instance configuration.",
      "properties": {
        "secureBoot": {
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "type": "string",
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ]
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "properties": {
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        }
      },
      "id": "VmwareSourceDetails",
      "type": "object"
    },
    "CopyingSourceDiskSnapshotStep": {
      "type": "object",
      "id": "CopyingSourceDiskSnapshotStep",
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "properties": {}
    },
    "ServiceAccount": {
      "description": "Service account to assign to the instance created by the machine image.",
      "id": "ServiceAccount",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "Required. The email address of the service account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tag": {
      "description": "Tag is an AWS tag representation.",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        }
      },
      "id": "Tag",
      "type": "object"
    },
    "ListCloneJobsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "cloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of clone jobs response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListCloneJobs' request.",
      "id": "ListCloneJobsResponse",
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "type": "object",
      "id": "InstantiatingMigratedVMStep",
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details."
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "type": "object",
      "id": "Encryption",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      }
    },
    "ComputeEngineDisksTargetDefaults": {
      "properties": {
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "The details of each Persistent Disk to create.",
          "type": "array"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks."
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "type": "object",
      "id": "ComputeEngineDisksTargetDefaults"
    },
    "CreatingSourceDiskSnapshotStep": {
      "properties": {},
      "type": "object",
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "id": "CreatingSourceDiskSnapshotStep"
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "properties": {},
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "description": "Represent the source Vmware VM details.",
      "type": "object",
      "properties": {
        "firmware": {
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "committedStorageBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          }
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "description": "CutoverStep holds information about the cutover step progress.",
      "properties": {
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "endTime": {
          "description": "The time the step has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "startTime": {
          "description": "The time the step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        }
      },
      "type": "object"
    },
    "AwsVmsDetails": {
      "description": "AWSVmsDetails describes VMs in AWS.",
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the AWS VMs.",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      },
      "type": "object",
      "id": "AwsVmsDetails"
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "deprecated": true,
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Source",
      "type": "object"
    },
    "AdaptationModifier": {
      "type": "object",
      "properties": {
        "modifier": {
          "type": "string",
          "description": "Optional. The modifier name."
        },
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        }
      },
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "id": "AdaptationModifier"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "DisksMigrationVmTargetDetails": {
      "type": "object",
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string"
        }
      },
      "description": "Details for the VM created VM as part of disks migration."
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the image import was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImport."
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "recentImageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "ImageImport"
    },
    "PreparingVMDisksStep": {
      "type": "object",
      "description": "PreparingVMDisksStep contains specific step details.",
      "properties": {},
      "id": "PreparingVMDisksStep"
    },
    "PauseMigrationRequest": {
      "type": "object",
      "description": "Request message for 'PauseMigration' request.",
      "properties": {},
      "id": "PauseMigrationRequest"
    },
    "AwsSecurityGroup": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The AWS security group id."
        },
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        }
      },
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "id": "AwsSecurityGroup",
      "type": "object"
    },
    "VmUtilizationMetrics": {
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "properties": {
        "memoryMax": {
          "format": "int32",
          "deprecated": true,
          "description": "Max memory usage, percent.",
          "type": "integer"
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "cpuAverage": {
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "format": "int32",
          "deprecated": true
        },
        "cpuAveragePercent": {
          "format": "int32",
          "description": "Average CPU usage, percent.",
          "type": "integer"
        },
        "memoryAverage": {
          "deprecated": true,
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "cpuMax": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "Max CPU usage, percent."
        },
        "memoryMaxPercent": {
          "format": "int32",
          "description": "Max memory usage, percent.",
          "type": "integer"
        },
        "diskIoRateMax": {
          "type": "string",
          "deprecated": true,
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "networkThroughputAverageKbps": {
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "memoryAveragePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Average memory usage, percent."
        },
        "networkThroughputMax": {
          "deprecated": true,
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "description": "Max CPU usage, percent.",
          "format": "int32"
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second."
        },
        "diskIoRateAverage": {
          "format": "int64",
          "type": "string",
          "deprecated": true,
          "description": "Average disk IO rate, in kilobytes per second."
        },
        "networkThroughputAverage": {
          "deprecated": true,
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Group name."
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "migrationTargetType": {
          "type": "string",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        }
      },
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "type": "object",
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "targetProjects": {
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "items": {
            "$ref": "TargetProject"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "DatacenterConnector": {
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "id": "DatacenterConnector",
      "properties": {
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the connector was updated with an API call."
        },
        "availableVersions": {
          "description": "Output only. The available versions for updating this appliance.",
          "readOnly": true,
          "$ref": "AvailableUpdates"
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to use in the connector when communicating with the cloud."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connector's name."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "bucket": {
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "readOnly": true,
          "type": "string"
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "$ref": "UpgradeStatus",
          "readOnly": true
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        }
      },
      "type": "object"
    },
    "UtilizationReport": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The report display name, as assigned by the user."
        },
        "frameEndTime": {
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the report."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed)."
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "readOnly": true
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the report in case of an error."
        },
        "timeFrame": {
          "type": "string",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "description": "Time frame of the report.",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ]
        },
        "vmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true
        },
        "vmsCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Total number of VMs included in the report."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The report unique name."
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "type": "object",
      "id": "UtilizationReport"
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "description": "Request message for 'RemoveMigration' request.",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      },
      "id": "ListDatacenterConnectorsResponse"
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "ReplicationSync": {
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync"
    },
    "BootDiskDefaults": {
      "type": "object",
      "id": "BootDiskDefaults",
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "properties": {
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the disk."
        },
        "image": {
          "description": "The image to use when creating the disk.",
          "$ref": "DiskImageDefaults"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Optional. The type of disk provisioning to use for the VM."
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDefaults",
      "properties": {
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "diskType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "The disk type to use in the VM."
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        },
        "licenseType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled."
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "appliedLicense": {
          "readOnly": true,
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption to apply to the VM disks."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "disks": {
          "description": "Optional. The details of each disk to create.",
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "bootConversion": {
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ]
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM disks."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another."
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of network tags to associate with the VM."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Link": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      },
      "id": "Link",
      "description": "Describes a URL link."
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      },
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest"
    },
    "UpgradeStatus": {
      "type": "object",
      "properties": {
        "previousVersion": {
          "type": "string",
          "description": "The version from which we upgraded."
        },
        "error": {
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "The time the operation was started.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "description": "The state of the upgradeAppliance operation."
        },
        "version": {
          "type": "string",
          "description": "The version to upgrade to."
        }
      },
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation."
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities",
      "properties": {
        "lastOsCapabilitiesUpdateTime": {
          "description": "Output only. The last time OS capabilities list was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "osCapabilities": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          },
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features."
        }
      },
      "type": "object"
    },
    "AwsSourceDetails": {
      "type": "object",
      "properties": {
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "publicIp": {
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string",
          "readOnly": true
        },
        "inventoryTagList": {
          "type": "array",
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "migrationResourcesUserTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        }
      },
      "id": "AwsSourceDetails",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type."
    },
    "VmwareDiskDetails": {
      "properties": {
        "label": {
          "description": "Output only. The disk label.",
          "readOnly": true,
          "type": "string"
        },
        "diskNumber": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The ordinal number of the disk."
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk."
    },
    "ClientSecretCredentials": {
      "type": "object",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        }
      },
      "id": "ClientSecretCredentials"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "OSDisk": {
      "type": "object",
      "description": "A message describing the OS disk.",
      "properties": {
        "type": {
          "description": "The disk's type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The disk's full name."
        },
        "sizeGb": {
          "type": "integer",
          "description": "The disk's size in GB.",
          "format": "int32"
        }
      },
      "id": "OSDisk"
    },
    "LocalizedMessage": {
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "id": "LocalizedMessage",
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      }
    },
    "CancelCloneJobRequest": {
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "id": "CancelCloneJobRequest",
      "properties": {}
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "properties": {
        "values": {
          "type": "array",
          "description": "Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        }
      },
      "type": "object"
    },
    "AzureVmsDetails": {
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the Azure VMs.",
          "items": {
            "$ref": "AzureVmDetails"
          }
        }
      },
      "id": "AzureVmsDetails",
      "type": "object",
      "description": "AzureVmsDetails describes VMs in Azure."
    },
    "MigrationError": {
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "properties": {
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        },
        "code": {
          "description": "Output only. The error code.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ]
        },
        "errorTime": {
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "MigrationError"
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "properties": {},
      "id": "ShuttingDownSourceVMStep",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DiskMigrationStep": {
      "type": "object",
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "id": "DiskMigrationStep",
      "properties": {
        "provisioningTargetDisk": {
          "$ref": "ProvisioningTargetDiskStep",
          "description": "Creating target disk step."
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "copyingSourceDiskSnapshot": {
          "$ref": "CopyingSourceDiskSnapshotStep",
          "description": "Copying source disk snapshot step."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the step has ended.",
          "format": "google-datetime"
        }
      }
    },
    "ListReplicationCyclesResponse": {
      "type": "object",
      "description": "Response message for 'ListReplicationCycles' request.",
      "properties": {
        "replicationCycles": {
          "items": {
            "$ref": "ReplicationCycle"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of replication cycles response."
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListReplicationCyclesResponse"
    },
    "PersistentDiskDefaults": {
      "type": "object",
      "id": "PersistentDiskDefaults",
      "description": "Details for creation of a Persistent Disk.",
      "properties": {
        "sourceDiskNumber": {
          "type": "integer",
          "description": "Required. The ordinal number of the source VM disk.",
          "format": "int32"
        },
        "additionalLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the Persistent Disk."
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM."
        },
        "diskType": {
          "description": "The disk type to use.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        }
      }
    },
    "PostProcessingStep": {
      "description": "PostProcessingStep contains specific step details.",
      "id": "PostProcessingStep",
      "type": "object",
      "properties": {}
    },
    "ComputeScheduling": {
      "properties": {
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "type": "array"
        },
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ]
        },
        "onHostMaintenance": {
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ]
        },
        "automaticRestart": {
          "deprecated": true,
          "type": "boolean"
        },
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        }
      },
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "type": "object",
      "id": "ComputeScheduling"
    },
    "AzureSourceVmDetails": {
      "description": "Represent the source Azure VM details.",
      "type": "object",
      "properties": {
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "committedStorageBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities",
          "readOnly": true
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "firmware": {
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true
        }
      },
      "id": "AzureSourceVmDetails"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RunDiskMigrationJobRequest": {
      "id": "RunDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "type": "object"
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "type": "object",
      "properties": {
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded instance configuration."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to apply to the instance created by the machine image."
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array"
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        }
      },
      "id": "MachineImageTargetDetails"
    },
    "AwsVmDetails": {
      "properties": {
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ]
        },
        "zone": {
          "type": "string",
          "description": "The AWS zone of the VM."
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM.",
          "type": "object"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option."
        },
        "virtualizationType": {
          "description": "The virtualization type.",
          "type": "string",
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ]
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of CPU cores the VM has.",
          "format": "int32"
        },
        "securityGroups": {
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "description": "The security groups the VM belongs to."
        },
        "vcpuCount": {
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has.",
          "type": "integer"
        },
        "vpcId": {
          "type": "string",
          "description": "The VPC ID the VM belongs to."
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has."
        },
        "sourceDescription": {
          "type": "string",
          "description": "The descriptive name of the AWS's source this VM is connected to."
        },
        "instanceType": {
          "type": "string",
          "description": "The instance type of the VM."
        },
        "powerState": {
          "readOnly": true,
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ]
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The VM ID in AWS."
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The memory size of the VM in MB."
        }
      },
      "id": "AwsVmDetails",
      "description": "AwsVmDetails describes a VM in AWS.",
      "type": "object"
    },
    "UpgradeApplianceRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object"
    },
    "CloneStep": {
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CloneStep",
      "description": "CloneStep holds information about the clone step progress."
    },
    "OSDescription": {
      "properties": {
        "offer": {
          "type": "string",
          "description": "OS offer."
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "type": {
          "type": "string",
          "description": "OS type."
        }
      },
      "id": "OSDescription",
      "type": "object",
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "ReplicatingStep": {
      "id": "ReplicatingStep",
      "type": "object",
      "properties": {
        "lastThirtyMinutesAverageBytesPerSecond": {
          "format": "int64",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "type": "string"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "format": "int64",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "type": "string"
        },
        "totalBytes": {
          "type": "string",
          "description": "Total bytes to be handled in the step.",
          "format": "int64"
        },
        "replicatedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Replicated bytes in the step."
        }
      },
      "description": "ReplicatingStep contains specific step details."
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "type": "object",
      "properties": {
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "AWS access key ID."
        }
      },
      "description": "Message describing AWS Credentials using access key id and secret."
    },
    "Expiration": {
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "properties": {
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "format": "google-datetime"
        },
        "extendable": {
          "readOnly": true,
          "description": "Output only. Describes whether the expiration can be extended.",
          "type": "boolean"
        },
        "extensionCount": {
          "type": "integer",
          "description": "Output only. The number of times expiration was extended.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Expiration"
    },
    "AzureVmDetails": {
      "description": "AzureVmDetails describes a VM in Azure.",
      "type": "object",
      "properties": {
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "disks": {
          "description": "Description of the data disks.",
          "items": {
            "$ref": "Disk"
          },
          "type": "array"
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has, including OS disk.",
          "type": "integer"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option.",
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "osDisk": {
          "$ref": "OSDisk",
          "description": "Description of the OS disk."
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ]
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "osDescription": {
          "$ref": "OSDescription",
          "description": "Description of the OS."
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus the VM has.",
          "format": "int32"
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        }
      },
      "id": "AzureVmDetails"
    },
    "CutoverForecast": {
      "properties": {
        "estimatedCutoverJobDuration": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. Estimation of the CutoverJob duration."
        }
      },
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "type": "object",
      "id": "CutoverForecast"
    },
    "ListImageImportsResponse": {
      "id": "ListImageImportsResponse",
      "type": "object",
      "description": "Response message for 'ListImageImports' call.",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "imageImports": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          },
          "description": "Output only. The list of target response."
        }
      }
    },
    "CloneJob": {
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "id": "CloneJob",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        },
        "computeEngineVmDetails": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails"
        },
        "steps": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloneStep"
          },
          "description": "Output only. The clone steps list representing its progress."
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last updated."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
[...]
