{
  "discoveryVersion": "v1",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "protocol": "rest",
  "canonicalName": "VM Migration Service",
  "id": "vmmigration:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://vmmigration.googleapis.com/",
  "schemas": {
    "InitializingReplicationStep": {
      "type": "object",
      "id": "InitializingReplicationStep",
      "properties": {},
      "description": "InitializingReplicationStep contains specific step details."
    },
    "VmwareSourceVmDetails": {
      "properties": {
        "firmware": {
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "committedStorageBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true
        }
      },
      "description": "Represent the source Vmware VM details.",
      "id": "VmwareSourceVmDetails",
      "type": "object"
    },
    "NetworkInterface": {
      "type": "object",
      "properties": {
        "externalIp": {
          "type": "string",
          "description": "Optional. The external IP to define in the NIC."
        },
        "networkTier": {
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "type": "string",
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ]
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The subnetwork to connect the NIC to."
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        }
      },
      "id": "NetworkInterface",
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "ListDiskMigrationJobsResponse": {
      "id": "ListDiskMigrationJobsResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "diskMigrationJobs": {
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "readOnly": true,
          "description": "Output only. The list of the disk migration jobs.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'ListDiskMigrationJobs' request."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "AzureVmDetails": {
      "id": "AzureVmDetails",
      "type": "object",
      "properties": {
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus the VM has.",
          "format": "int32"
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        },
        "osDisk": {
          "$ref": "OSDisk",
          "description": "Description of the OS disk."
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Description of the data disks.",
          "type": "array"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The memory size of the VM in MB."
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "The CPU architecture.",
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "diskCount": {
          "description": "The number of disks the VM has, including OS disk.",
          "type": "integer",
          "format": "int32"
        },
        "osDescription": {
          "$ref": "OSDescription",
          "description": "Description of the OS."
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "type": "string"
        },
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        }
      },
      "description": "AzureVmDetails describes a VM in Azure."
    },
    "ReplicatingStep": {
      "description": "ReplicatingStep contains specific step details.",
      "type": "object",
      "properties": {
        "lastTwoMinutesAverageBytesPerSecond": {
          "format": "int64",
          "type": "string",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second."
        },
        "replicatedBytes": {
          "format": "int64",
          "description": "Replicated bytes in the step.",
          "type": "string"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "format": "int64",
          "type": "string"
        },
        "totalBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total bytes to be handled in the step."
        }
      },
      "id": "ReplicatingStep"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "OSDisk": {
      "description": "A message describing the OS disk.",
      "type": "object",
      "id": "OSDisk",
      "properties": {
        "sizeGb": {
          "description": "The disk's size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The disk's type."
        },
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "properties": {
        "secureBoot": {
          "type": "string",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ]
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled."
        }
      },
      "description": "Shielded instance configuration.",
      "id": "ShieldedInstanceConfig"
    },
    "AwsSourceDetails": {
      "id": "AwsSourceDetails",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "properties": {
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        },
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "inventoryTagList": {
          "type": "array",
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          }
        },
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "publicIp": {
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ListReplicationCyclesResponse": {
      "type": "object",
      "description": "Response message for 'ListReplicationCycles' request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "replicationCycles": {
          "readOnly": true,
          "description": "Output only. The list of replication cycles response.",
          "items": {
            "$ref": "ReplicationCycle"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "ListReplicationCyclesResponse"
    },
    "VmAttachmentDetails": {
      "type": "object",
      "description": "Details for attachment of the disk to a VM.",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "id": "VmAttachmentDetails"
    },
    "VmUtilizationInfo": {
      "description": "Utilization information of a single VM.",
      "id": "VmUtilizationInfo",
      "properties": {
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "type": "object"
    },
    "FetchStorageInventoryResponse": {
      "properties": {
        "resources": {
          "type": "array",
          "description": "The list of storage resources in the source.",
          "items": {
            "$ref": "SourceStorageResource"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchStorageInventoryResponse",
      "description": "Response message for fetchStorageInventory."
    },
    "ImageImportOsAdaptationParameters": {
      "type": "object",
      "id": "ImageImportOsAdaptationParameters",
      "description": "Parameters affecting the OS adaptation process.",
      "properties": {
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string"
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "bootConversion": {
          "type": "string",
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        }
      }
    },
    "ImageImportStep": {
      "type": "object",
      "description": "ImageImportStep holds information about the image import step progress.",
      "id": "ImageImportStep",
      "properties": {
        "loadingSourceFiles": {
          "$ref": "LoadingImageSourceFilesStep",
          "description": "Loading source files step."
        },
        "initializing": {
          "$ref": "InitializingImageImportStep",
          "description": "Initializing step."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the step has started."
        },
        "creatingImage": {
          "$ref": "CreatingImageStep",
          "description": "Creating image step."
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "properties": {
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The tags to apply to the instance created by the machine image."
        },
        "labels": {
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetProject": {
          "type": "string",
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "skipOsAdaptation": {
          "$ref": "SkipOsAdaptation",
          "description": "Optional. Use to skip OS adaptation process."
        }
      },
      "type": "object",
      "id": "MachineImageTargetDetails"
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "description": "Describes a URL link."
    },
    "FetchInventoryResponse": {
      "description": "Response message for fetchInventory.",
      "id": "FetchInventoryResponse",
      "type": "object",
      "properties": {
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        }
      }
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "migrationTargetType": {
          "type": "string",
          "description": "Immutable. The target type of this group.",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        },
        "name": {
          "type": "string",
          "description": "Output only. The Group name.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ListImageImportsResponse": {
      "id": "ListImageImportsResponse",
      "description": "Response message for 'ListImageImports' call.",
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "imageImports": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ImageImport"
          },
          "description": "Output only. The list of target response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "type": "object",
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "utilizationReports": {
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          },
          "readOnly": true,
          "description": "Output only. The list of reports."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for 'ListUtilizationReports' request."
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "id": "AccessKeyCredentials",
      "properties": {
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "AWS access key ID."
        }
      },
      "type": "object"
    },
    "Expiration": {
      "properties": {
        "extendable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Describes whether the expiration can be extended."
        },
        "expireTime": {
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "extensionCount": {
          "readOnly": true,
          "description": "Output only. The number of times expiration was extended.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Expiration",
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "type": "object"
    },
    "CreatingSourceDiskSnapshotStep": {
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "properties": {},
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object"
    },
    "DiskMigrationStep": {
      "type": "object",
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "id": "DiskMigrationStep",
      "properties": {
        "provisioningTargetDisk": {
          "$ref": "ProvisioningTargetDiskStep",
          "description": "Creating target disk step."
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the step has ended."
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "copyingSourceDiskSnapshot": {
          "$ref": "CopyingSourceDiskSnapshotStep",
          "description": "Copying source disk snapshot step."
        }
      }
    },
    "AwsVmDetails": {
      "description": "AwsVmDetails describes a VM in AWS.",
      "properties": {
        "vcpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "virtualizationType": {
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "description": "The virtualization type.",
          "type": "string",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ]
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ]
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "description": "The VM Boot Option.",
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The VM ID in AWS."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The tags of the VM."
        },
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has.",
          "format": "int32"
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of CPU cores the VM has."
        },
        "powerState": {
          "readOnly": true,
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "type": "string",
          "description": "Output only. The power state of the VM at the moment list was taken."
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "securityGroups": {
          "description": "The security groups the VM belongs to.",
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "instanceType": {
          "type": "string",
          "description": "The instance type of the VM."
        },
        "memoryMb": {
          "format": "int32",
          "description": "The memory size of the VM in MB.",
          "type": "integer"
        }
      },
      "id": "AwsVmDetails",
      "type": "object"
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "type": "object",
      "properties": {
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "description": "The state of the upgradeAppliance operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the operation was started.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "type": "object",
      "id": "ComputeEngineTargetDefaults",
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "properties": {
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "Optional. The details of each disk to create.",
          "type": "array"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "adaptationModifiers": {
          "type": "array",
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation.",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        }
      }
    },
    "AwsSecurityGroup": {
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "id": "AwsSecurityGroup",
      "properties": {
        "id": {
          "type": "string",
          "description": "The AWS security group id."
        },
        "name": {
          "type": "string",
          "description": "The AWS security group name."
        }
      },
      "type": "object"
    },
    "DiskMigrationJobTargetDetails": {
      "type": "object",
      "id": "DiskMigrationJobTargetDetails",
      "properties": {
        "targetProject": {
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of labels to associate with the disk.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetDisk": {
          "$ref": "ComputeEngineDisk",
          "description": "Required. The target disk."
        }
      },
      "description": "Details of the target disk in Compute Engine."
    },
    "AdaptingOSStep": {
      "properties": {},
      "type": "object",
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep"
    },
    "VmwareDiskDetails": {
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk.",
      "properties": {
        "label": {
          "description": "Output only. The disk label.",
          "readOnly": true,
          "type": "string"
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Size in GB.",
          "readOnly": true
        },
        "diskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DatacenterConnector": {
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status"
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "availableVersions": {
          "readOnly": true,
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance."
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "upgradeStatus": {
          "$ref": "UpgradeStatus",
          "readOnly": true,
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "type": "string",
          "readOnly": true
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime"
        },
        "registrationId": {
          "type": "string",
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified."
        },
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "bucket": {
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time the connector was updated with an API call.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The connector's name.",
          "type": "string",
          "readOnly": true
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DatacenterConnector",
      "type": "object"
    },
    "ProvisioningTargetDiskStep": {
      "properties": {},
      "type": "object",
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "id": "ProvisioningTargetDiskStep"
    },
    "ApplianceVersion": {
      "description": "Describes an appliance version.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "A link for downloading the version."
        },
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "critical": {
          "type": "boolean",
          "description": "Determine whether it's critical to upgrade the appliance to this version."
        }
      },
      "id": "ApplianceVersion",
      "type": "object"
    },
    "DiskImageTargetDetails": {
      "description": "The target details of the image resource that will be created by the import job.",
      "id": "DiskImageTargetDetails",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. A map of labels to associate with the image.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "description": {
          "description": "Optional. An optional description of the image.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the image."
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "dataDiskImageImport": {
          "$ref": "DataDiskImageImport",
          "description": "Optional. Use to skip OS adaptation process."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        }
      }
    },
    "InstantiatingMigratedVMStep": {
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep",
      "properties": {}
    },
    "CutoverForecast": {
      "properties": {
        "estimatedCutoverJobDuration": {
          "type": "string",
          "description": "Output only. Estimation of the CutoverJob duration.",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "id": "CutoverForecast",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "type": "object"
    },
    "StartMigrationRequest": {
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "type": "object",
      "id": "StartMigrationRequest"
    },
    "LoadingImageSourceFilesStep": {
      "properties": {},
      "id": "LoadingImageSourceFilesStep",
      "type": "object",
      "description": "LoadingImageSourceFilesStep contains specific step details."
    },
    "CreatingImageStep": {
      "type": "object",
      "description": "CreatingImageStep contains specific step details.",
      "id": "CreatingImageStep",
      "properties": {}
    },
    "VmwareSourceDetails": {
      "properties": {
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "resolvedVcenterHost": {
          "type": "string",
          "description": "The hostname of the vcenter."
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareSourceDetails",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type."
    },
    "SchedulePolicy": {
      "description": "A policy for scheduling replications.",
      "type": "object",
      "id": "SchedulePolicy",
      "properties": {
        "skipOsAdaptation": {
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine.",
          "type": "boolean"
        },
        "idleDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The idle duration between replication stages."
        }
      }
    },
    "AdaptationModifier": {
      "id": "AdaptationModifier",
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "type": "object",
      "properties": {
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty."
        }
      }
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "groups": {
          "description": "Output only. The list of groups response.",
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "readOnly": true
        }
      }
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS."
        }
      },
      "id": "Encryption"
    },
    "CutoverJob": {
      "properties": {
        "steps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The cutover steps list representing its progress.",
          "items": {
            "$ref": "CutoverStep"
          }
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "stateMessage": {
          "readOnly": true,
          "description": "Output only. A message providing possible extra details about the current state.",
          "type": "string"
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the cutover job.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "readOnly": true,
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "type": "string"
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot."
    },
    "CutoverStep": {
      "properties": {
        "finalSync": {
          "$ref": "ReplicationCycle",
          "description": "Final sync step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        }
      },
      "id": "CutoverStep",
      "description": "CutoverStep holds information about the cutover step progress.",
      "type": "object"
    },
    "ServiceAccount": {
      "type": "object",
      "description": "Service account to assign to the instance created by the machine image.",
      "id": "ServiceAccount",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account."
        },
        "email": {
          "description": "Required. The email address of the service account.",
          "type": "string"
        }
      }
    },
    "AzureDiskDetails": {
      "description": "The details of an Azure VM disk.",
      "properties": {
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "diskId": {
          "readOnly": true,
          "description": "Output only. Azure disk ID.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "AzureDiskDetails",
      "type": "object"
    },
    "UtilizationReport": {
      "type": "object",
      "id": "UtilizationReport",
      "properties": {
        "timeFrame": {
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "description": "Time frame of the report.",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        },
        "frameEndTime": {
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "format": "google-datetime",
          "readOnly": true
        },
        "vmCount": {
          "readOnly": true,
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The report unique name.",
          "type": "string"
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "description": "Output only. Current state of the report.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "vms": {
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the report in case of an error."
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs."
    },
    "VmUtilizationMetrics": {
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "type": "object",
      "properties": {
        "networkThroughputAverageKbps": {
          "format": "int64",
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "cpuMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        },
        "cpuAveragePercent": {
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "format": "int32"
        },
        "memoryAveragePercent": {
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "networkThroughputMaxKbps": {
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string"
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "diskIoRateMaxKbps": {
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64"
        }
      }
    },
    "AppliedLicense": {
      "id": "AppliedLicense",
      "type": "object",
      "properties": {
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation."
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report."
    },
    "BootDiskDefaults": {
      "id": "BootDiskDefaults",
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "properties": {
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tag": {
      "type": "object",
      "description": "Tag is an AWS tag representation.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Key of tag."
        },
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        }
      },
      "id": "Tag"
    },
    "DisksMigrationVmTargetDefaults": {
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "type": "object",
      "properties": {
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of network tags to associate with the VM.",
          "type": "array"
        },
        "metadata": {
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        },
        "networkInterfaces": {
          "description": "Optional. NICs to attach to the VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM.",
          "type": "array"
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "Optional. The machine type series to create the VM with. For presentation only."
        }
      },
      "id": "DisksMigrationVmTargetDefaults"
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "properties": {}
    },
    "ImageImport": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport.",
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "$ref": "MachineImageTargetDetails",
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob."
        },
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the image import was created."
        },
        "recentImageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "type": "array",
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        }
      },
      "id": "ImageImport",
      "description": "ImageImport describes the configuration of the image import to run.",
      "type": "object"
    },
    "ClientSecretCredentials": {
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "type": "object",
      "properties": {
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        }
      },
      "id": "ClientSecretCredentials"
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "type": "array"
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "targetProjects": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse"
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "properties": {
        "sourceDiskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the source VM disk.",
          "format": "int32",
          "type": "integer"
        },
        "diskUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the Persistent Disk."
        }
      },
      "id": "PersistentDisk",
      "type": "object"
    },
    "UpgradeApplianceRequest": {
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object"
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "description": "InitializingImageImportStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "DisksMigrationDisksTargetDetails": {
      "type": "object",
      "id": "DisksMigrationDisksTargetDetails",
      "description": "Details for a disks-only migration.",
      "properties": {}
    },
    "AvailableUpdates": {
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      },
      "type": "object",
      "description": "Holds information about the available versions for upgrade.",
      "id": "AvailableUpdates"
    },
    "ListDatacenterConnectorsResponse": {
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "properties": {
        "datacenterConnectors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ListDatacenterConnectorsResponse",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      }
    },
    "ShuttingDownSourceVMStep": {
      "type": "object",
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "id": "ShuttingDownSourceVMStep",
      "properties": {}
    },
    "VmCapabilities": {
      "type": "object",
      "properties": {
        "osCapabilities": {
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "items": {
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "lastOsCapabilitiesUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time OS capabilities list was updated."
        }
      },
      "id": "VmCapabilities",
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features."
    },
    "OSDescription": {
      "id": "OSDescription",
      "type": "object",
      "properties": {
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "type": {
          "description": "OS type.",
          "type": "string"
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        }
      },
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable."
    },
    "ComputeEngineDisksTargetDefaults": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDefaults",
      "properties": {
        "zone": {
          "type": "string",
          "description": "The zone in which to create the Persistent Disks."
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "The details of each Persistent Disk to create.",
          "type": "array"
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project."
    },
    "CycleStep": {
      "description": "CycleStep holds information about a step progress.",
      "properties": {
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "endTime": {
          "description": "The time the cycle step has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has started."
        }
      },
      "type": "object",
      "id": "CycleStep"
    },
    "MigrationError": {
      "type": "object",
      "id": "MigrationError",
      "properties": {
        "errorTime": {
          "description": "Output only. The time the error occurred.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized error message.",
          "readOnly": true
        },
        "code": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "description": "Output only. The error code."
        },
        "helpLinks": {
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "type": "array"
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error."
        }
      },
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations."
    },
    "PostProcessingStep": {
      "properties": {},
      "type": "object",
      "id": "PostProcessingStep",
      "description": "PostProcessingStep contains specific step details."
    },
    "ResumeMigrationRequest": {
      "type": "object",
      "description": "Request message for 'ResumeMigration' request.",
      "id": "ResumeMigrationRequest",
      "properties": {}
    },
    "SourceStorageResource": {
      "properties": {
        "awsDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Source AWS volume details."
        }
      },
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "type": "object"
    },
    "LocalizedMessage": {
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      },
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "id": "LocalizedMessage",
      "type": "object"
    },
    "DiskMigrationJob": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "readOnly": true
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "description": "Output only. The disk migration steps list representing its progress.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob."
        },
[...]
