{
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "canonicalName": "VM Migration Service",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "vmmigration",
  "kind": "discovery#restDescription",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "schemas": {
    "CopyingSourceDiskSnapshotStep": {
      "type": "object",
      "id": "CopyingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CopyingSourceDiskSnapshotStep contains specific step details."
    },
    "ComputeEngineTargetDetails": {
      "type": "object",
      "properties": {
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option, as set in the source VM."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM.",
          "type": "string"
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "bootConversion": {
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "licenseType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        }
      },
      "id": "ComputeEngineTargetDetails",
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "BootDiskDefaults": {
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the disk."
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "description": "Optional. The type of disk provisioning to use for the VM."
        }
      },
      "type": "object",
      "id": "BootDiskDefaults",
      "description": "BootDiskDefaults hold information about the boot disk of a VM."
    },
    "ReplicationCycle": {
      "type": "object",
      "id": "ReplicationCycle",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has started."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "description": "State of the ReplicationCycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "error": {
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "totalPauseDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The accumulated duration the replication cycle was paused."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the replication cycle has ended.",
          "type": "string"
        },
        "warnings": {
          "description": "Output only. Warnings that occurred during the cycle.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress."
        },
        "cycleNumber": {
          "format": "int32",
          "description": "The cycle's ordinal number.",
          "type": "integer"
        },
        "progressPercent": {
          "type": "integer",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "deprecated": true,
          "format": "int32"
        }
      },
      "description": "ReplicationCycle contains information about the current replication cycle status."
    },
    "SkipOsAdaptation": {
      "type": "object",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "properties": {},
      "id": "SkipOsAdaptation"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "type": "object"
    },
    "AwsVmsDetails": {
      "type": "object",
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS."
    },
    "ImageImportJob": {
      "description": "ImageImportJob describes the progress and result of an image import.",
      "id": "ImageImportJob",
      "properties": {
        "warnings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the image import."
        },
        "state": {
          "description": "Output only. The state of the image import.",
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        },
        "diskImageTargetDetails": {
          "$ref": "DiskImageTargetDetails",
          "readOnly": true,
          "description": "Output only. Target details used to import a disk image."
        },
        "steps": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The image import steps list representing its progress.",
          "items": {
            "$ref": "ImageImportStep"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the image import was ended.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource path of the ImageImportJob.",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Provides details on the error that led to the image import state in case of an error."
        },
        "machineImageTargetDetails": {
          "description": "Output only. Target details used to import a machine image.",
          "$ref": "MachineImageTargetDetails",
          "readOnly": true
        },
        "createdResources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "items": {
            "type": "string"
          }
        },
        "cloudStorageUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported."
        }
      },
      "type": "object"
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "properties": {
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        },
        "operator": {
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceStorageResource": {
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "description": "SourceStorageResource describes a storage resource in the source.",
      "type": "object",
      "id": "SourceStorageResource"
    },
    "VmUtilizationInfo": {
      "id": "VmUtilizationInfo",
      "properties": {
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "utilization": {
          "$ref": "VmUtilizationMetrics",
          "description": "Utilization metrics for this VM."
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "type": "object",
      "description": "Utilization information of a single VM."
    },
    "DisksMigrationVmTargetDefaults": {
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "type": "object",
      "properties": {
        "bootDiskDefaults": {
          "$ref": "BootDiskDefaults",
          "description": "Optional. Details of the boot disk of the VM."
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "Optional. NICs to attach to the VM."
        },
        "metadata": {
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "Optional. The machine type series to create the VM with. For presentation only."
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of network tags to associate with the VM."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DisksMigrationVmTargetDefaults"
    },
    "CycleStep": {
      "description": "CycleStep holds information about a step progress.",
      "type": "object",
      "id": "CycleStep",
      "properties": {
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has started."
        },
        "replicating": {
          "$ref": "ReplicatingStep",
          "description": "Replicating step."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has ended."
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        }
      }
    },
    "InstantiatingMigratedVMStep": {
      "type": "object",
      "properties": {},
      "id": "InstantiatingMigratedVMStep",
      "description": "InstantiatingMigratedVMStep contains specific step details."
    },
    "CancelImageImportJobRequest": {
      "id": "CancelImageImportJobRequest",
      "description": "Request message for 'CancelImageImportJob' request.",
      "type": "object",
      "properties": {}
    },
    "ListReplicationCyclesResponse": {
      "description": "Response message for 'ListReplicationCycles' request.",
      "properties": {
        "replicationCycles": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of replication cycles response.",
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListReplicationCyclesResponse"
    },
    "MachineImageParametersOverrides": {
      "type": "object",
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "id": "MachineImageParametersOverrides",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource."
        }
      }
    },
    "Disk": {
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "The disk's Logical Unit Number (LUN)."
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "The disk size in GB."
        }
      },
      "description": "A message describing a data disk.",
      "id": "Disk",
      "type": "object"
    },
    "CloneJob": {
      "id": "CloneJob",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true,
          "description": "Output only. State of the clone job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ]
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "name": {
          "description": "Output only. The name of the clone.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target)."
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true
        },
        "steps": {
          "readOnly": true,
          "description": "Output only. The clone steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CloneStep"
          }
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the clone job was ended.",
          "type": "string"
        },
        "stateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListTargetProjectsResponse",
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object"
    },
    "AzureVmsDetails": {
      "description": "AzureVmsDetails describes VMs in Azure.",
      "type": "object",
      "id": "AzureVmsDetails",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AzureVmDetails"
          },
          "description": "The details of the Azure VMs."
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "VmUtilizationMetrics": {
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "type": "object",
      "properties": {
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "memoryAveragePercent": {
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "cpuMaxPercent": {
          "format": "int32",
          "description": "Max CPU usage, percent.",
          "type": "integer"
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "cpuAveragePercent": {
          "description": "Average CPU usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FetchInventoryResponse": {
      "properties": {
        "azureVms": {
          "description": "The description of the VMs in a Source of type Azure.",
          "$ref": "AzureVmsDetails"
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        }
      },
      "type": "object",
      "description": "Response message for fetchInventory.",
      "id": "FetchInventoryResponse"
    },
    "AdaptingOSStep": {
      "properties": {},
      "type": "object",
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep"
    },
    "ExtendMigrationRequest": {
      "id": "ExtendMigrationRequest",
      "properties": {},
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "type": "object"
    },
    "LocalizedMessage": {
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "id": "LocalizedMessage",
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      }
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "description": "Request message for 'RemoveMigration' request.",
      "type": "object",
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      }
    },
    "DiskMigrationJob": {
      "type": "object",
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "id": "DiskMigrationJob",
      "properties": {
        "steps": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "description": "Output only. The disk migration steps list representing its progress."
        },
        "errors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "description": "Output only. State of the DiskMigrationJob.",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "readOnly": true
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "format": "google-datetime"
        }
      }
    },
    "ServiceAccount": {
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "type": "string",
          "description": "Required. The email address of the service account."
        }
      },
      "description": "Service account to assign to the instance created by the machine image.",
      "type": "object",
      "id": "ServiceAccount"
    },
    "AzureSourceDetails": {
      "id": "AzureSourceDetails",
      "properties": {
        "migrationResourcesUserTags": {
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "azureLocation": {
          "type": "string",
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from."
        },
        "clientSecretCreds": {
          "$ref": "ClientSecretCredentials",
          "description": "Azure Credentials using tenant ID, client ID and secret."
        },
        "resourceGroupId": {
          "readOnly": true,
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "type": "string"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Immutable. Azure subscription ID."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "type": "object"
    },
    "Source": {
      "properties": {
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "labels": {
          "type": "object",
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the source."
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The Source name.",
          "readOnly": true
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        }
      },
      "id": "Source",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "type": "object"
    },
    "DisksMigrationVmTargetDetails": {
      "description": "Details for the VM created VM as part of disks migration.",
      "properties": {
        "vmUri": {
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DisksMigrationVmTargetDetails"
    },
    "ClientSecretCredentials": {
      "properties": {
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        },
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        }
      },
      "id": "ClientSecretCredentials",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "type": "object"
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "type": "object",
      "id": "AppliedLicense",
      "properties": {
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation.",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "AzureSourceVmDetails": {
      "properties": {
        "architecture": {
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "firmware": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "committedStorageBytes": {
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "readOnly": true
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "AzureSourceVmDetails",
      "description": "Represent the source Azure VM details.",
      "type": "object"
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "description": "Represents the source AWS Disk details.",
      "properties": {
        "diskType": {
          "description": "Optional. Output only. Disk type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ]
        },
        "tags": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Output only. A map of AWS volume tags."
        },
        "volumeId": {
          "type": "string",
          "description": "Required. AWS volume ID."
        },
        "sizeGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size in GiB.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsDiskDetails": {
      "type": "object",
      "properties": {
        "volumeId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. AWS volume ID."
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64"
        },
        "diskNumber": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer"
        }
      },
      "id": "AwsDiskDetails",
      "description": "The details of an AWS instance disk."
    },
    "CancelCutoverJobRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelCutoverJobRequest",
      "description": "Request message for 'CancelCutoverJob' request."
    },
    "ComputeEngineDisk": {
      "description": "Compute Engine disk target details.",
      "type": "object",
      "properties": {
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Required. The disk type to use."
        },
        "replicaZones": {
          "type": "array",
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ComputeEngineDisk"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "properties": {
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "List of NICs connected to this VM."
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation.",
          "type": "array"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "disks": {
          "description": "Optional. The details of each disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array"
        },
        "networkTags": {
          "type": "array",
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "description": "The license type to use in OS adaptation."
        },
        "appliedLicense": {
          "readOnly": true,
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption to apply to the VM disks."
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string"
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true
        }
      },
      "id": "ComputeEngineTargetDefaults",
      "type": "object",
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ListUtilizationReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "utilizationReports": {
          "description": "Output only. The list of reports.",
          "items": {
            "$ref": "UtilizationReport"
          },
          "type": "array",
          "readOnly": true
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "id": "ListUtilizationReportsResponse",
      "description": "Response message for 'ListUtilizationReports' request.",
      "type": "object"
    },
    "PauseMigrationRequest": {
      "properties": {},
      "type": "object",
      "id": "PauseMigrationRequest",
      "description": "Request message for 'PauseMigration' request."
    },
    "AwsSecurityGroup": {
      "properties": {
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        },
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        }
      },
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "type": "object",
      "id": "AwsSecurityGroup"
    },
    "VmwareSourceDetails": {
      "properties": {
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        }
      },
      "id": "VmwareSourceDetails",
      "type": "object",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type."
    },
    "ComputeScheduling": {
      "properties": {
        "restartType": {
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart."
        },
        "onHostMaintenance": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "type": "string"
        },
        "nodeAffinities": {
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "type": "array",
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "minNodeCpus": {
          "format": "int32",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "id": "ComputeScheduling"
    },
    "ListSourcesResponse": {
      "type": "object",
      "id": "ListSourcesResponse",
      "description": "Response message for 'ListSources' request.",
      "properties": {
        "sources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "type": "object",
      "id": "Group",
      "properties": {
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The Group name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "migrationTargetType": {
          "type": "string",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "description": "Immutable. The target type of this group."
        }
      }
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has started."
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "adaptingOs": {
          "$ref": "AdaptingOSStep",
          "description": "Adapting OS step."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the step has ended.",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        }
      },
      "id": "CloneStep"
    },
    "PreparingVMDisksStep": {
      "type": "object",
      "properties": {},
      "id": "PreparingVMDisksStep",
      "description": "PreparingVMDisksStep contains specific step details."
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "properties": {},
      "description": "InitializingReplicationStep contains specific step details.",
      "type": "object"
    },
    "CancelDiskMigrationJobRequest": {
      "type": "object",
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "properties": {},
      "id": "CancelDiskMigrationJobRequest"
    },
    "Tag": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Required. Key of tag."
        }
      },
      "description": "Tag is an AWS tag representation.",
      "id": "Tag"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsSourceDetails": {
      "type": "object",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "properties": {
        "state": {
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "publicIp": {
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string",
          "readOnly": true
        },
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "id": "AwsSourceDetails"
    },
    "LoadingImageSourceFilesStep": {
      "properties": {},
      "type": "object",
      "id": "LoadingImageSourceFilesStep",
      "description": "LoadingImageSourceFilesStep contains specific step details."
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "properties": {
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "copyingSourceDiskSnapshot": {
          "$ref": "CopyingSourceDiskSnapshotStep",
          "description": "Copying source disk snapshot step."
        },
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "description": "Request message for 'FinalizeMigration' request.",
      "id": "FinalizeMigrationRequest",
      "type": "object",
      "properties": {}
    },
    "OSDisk": {
      "type": "object",
      "id": "OSDisk",
      "properties": {
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "The disk's size in GB."
        },
        "type": {
          "type": "string",
          "description": "The disk's type."
        },
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        }
      },
      "description": "A message describing the OS disk."
    },
    "MigrationError": {
      "type": "object",
      "properties": {
        "errorTime": {
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "code": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "description": "Output only. The error code.",
          "readOnly": true
        },
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error."
        },
        "helpLinks": {
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        }
      },
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "id": "MigrationError"
    },
    "AzureVmDetails": {
      "description": "AzureVmDetails describes a VM in Azure.",
      "id": "AzureVmDetails",
      "properties": {
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has, including OS disk."
        },
        "osDisk": {
          "$ref": "OSDisk",
          "description": "Description of the OS disk."
        },
        "tags": {
          "type": "object",
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option."
        },
        "computerName": {
          "type": "string",
          "description": "The VM's ComputerName."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The memory size of the VM in MB."
        },
        "vmSize": {
          "type": "string",
          "description": "VM size as configured in Azure. Determines the VM's hardware spec."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ]
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "type": "array",
          "description": "Description of the data disks."
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "cpuCount": {
          "description": "The number of cpus the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDetails",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "properties": {
        "disks": {
          "type": "array",
          "description": "The details of each created Persistent Disk.",
          "items": {
            "$ref": "PersistentDisk"
          }
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        },
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        }
      }
    },
    "PersistentDisk": {
      "id": "PersistentDisk",
      "properties": {
        "sourceDiskNumber": {
          "format": "int32",
          "description": "Output only. The ordinal number of the source VM disk.",
          "readOnly": true,
          "type": "integer"
        },
        "diskUri": {
          "description": "Output only. The URI of the Persistent Disk.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details of a created Persistent Disk.",
      "type": "object"
    },
    "AdaptationModifier": {
      "type": "object",
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "id": "AdaptationModifier",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty."
        },
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        }
      }
    },
    "VmAttachmentDetails": {
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        }
      },
      "description": "Details for attachment of the disk to a VM.",
      "id": "VmAttachmentDetails",
      "type": "object"
    },
    "PersistentDiskDefaults": {
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "diskType": {
          "description": "The disk type to use.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "vmAttachmentDetails": {
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM.",
          "$ref": "VmAttachmentDetails"
        },
        "sourceDiskNumber": {
          "description": "Required. The ordinal number of the source VM disk.",
          "type": "integer",
          "format": "int32"
        },
        "additionalLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the Persistent Disk.",
          "type": "object"
        },
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the Persistent Disk to create."
        }
      },
      "id": "PersistentDiskDefaults",
      "description": "Details for creation of a Persistent Disk.",
      "type": "object"
    },
    "ListImageImportJobsResponse": {
      "id": "ListImageImportJobsResponse",
      "description": "Response message for 'ListImageImportJobs' call.",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "imageImportJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "type": "object",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs."
        }
      }
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the image import was created.",
          "readOnly": true,
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "name": {
          "description": "Output only. The resource path of the ImageImport.",
          "readOnly": true,
          "type": "string"
        },
        "recentImageImportJobs": {
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true,
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs."
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        }
      },
      "type": "object",
      "id": "ImageImport"
    },
    "ListCloneJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "cloneJobs": {
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true
        }
      },
      "id": "ListCloneJobsResponse"
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "type": "object",
      "description": "InitializingImageImportStep contains specific step details.",
      "properties": {}
    },
    "MigratingVm": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "type": "string",
          "readOnly": true
        },
        "currentSyncInfo": {
          "description": "Output only. Details of the current running replication cycle.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "lastReplicationCycle": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles."
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string",
          "readOnly": true
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "recentCutoverJobs": {
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true,
          "$ref": "ReplicationSync"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "awsSourceVmDetails": {
          "$ref": "AwsSourceVmDetails",
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "recentCloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array",
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true,
          "$ref": "AzureSourceVmDetails"
        },
        "state": {
[...]
