{
  "ownerDomain": "google.com",
  "name": "vmmigration",
  "protocol": "rest",
  "canonicalName": "VM Migration Service",
  "discoveryVersion": "v1",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "revision": "20260903",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "ownerName": "Google",
  "schemas": {
    "LocalizedMessage": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      },
      "type": "object",
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "TargetVMDetails": {
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "TargetVMDetails",
      "properties": {
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "externalIp": {
          "description": "The external IP to define in the VM.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD",
            "HYPERDISK_BALANCED",
            "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "name": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of network tags to associate with the VM."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "network": {
          "description": "The network to connect the VM to.",
          "type": "string"
        },
        "project": {
          "description": "Output only. The project in which to create the VM.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM.",
          "type": "object"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "ClientSecretCredentials": {
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        }
      },
      "type": "object",
      "id": "ClientSecretCredentials"
    },
    "Tag": {
      "type": "object",
      "description": "Tag is an AWS tag representation.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Key of tag."
        },
        "value": {
          "type": "string",
          "description": "Required. Value of tag."
        }
      },
      "id": "Tag"
    },
    "CloneJob": {
      "type": "object",
      "id": "CloneJob",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "steps": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloneStep"
          },
          "description": "Output only. The clone steps list representing its progress."
        },
        "computeEngineVmDetails": {
          "deprecated": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "description": "Output only. State of the clone job."
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "targetDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the clone."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the clone job was ended."
        }
      },
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone."
    },
    "FinalizeMigrationRequest": {
      "description": "Request message for 'FinalizeMigration' request.",
      "properties": {},
      "type": "object",
      "id": "FinalizeMigrationRequest"
    },
    "ImageImportStep": {
      "properties": {
        "loadingSourceFiles": {
          "$ref": "LoadingImageSourceFilesStep",
          "description": "Loading source files step."
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "initializing": {
          "$ref": "InitializingImageImportStep",
          "description": "Initializing step."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time the step has started.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "ImageImportStep holds information about the image import step progress.",
      "type": "object",
      "id": "ImageImportStep"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListReplicationCyclesResponse": {
      "description": "Response message for 'ListReplicationCycles' request.",
      "properties": {
        "replicationCycles": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of replication cycles response.",
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListReplicationCyclesResponse"
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "description": "Response message for 'ListMigratingVms' request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "migratingVms": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of Migrating VMs response.",
          "items": {
            "$ref": "MigratingVm"
          }
        }
      }
    },
    "ListDatacenterConnectorsResponse": {
      "id": "ListDatacenterConnectorsResponse",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "type": "object",
      "properties": {
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources response."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      }
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetProjects": {
          "readOnly": true,
          "items": {
            "$ref": "TargetProject"
          },
          "description": "Output only. The list of target response.",
          "type": "array"
        }
      },
      "id": "ListTargetProjectsResponse",
      "type": "object"
    },
    "Group": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Group name."
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time timestamp."
        },
        "migrationTargetType": {
          "description": "Immutable. The target type of this group.",
          "type": "string",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ]
        }
      },
      "id": "Group",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      }
    },
    "RunDiskMigrationJobRequest": {
      "type": "object",
      "id": "RunDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'RunDiskMigrationJobRequest' request."
    },
    "TargetProject": {
      "id": "TargetProject",
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the target project resource was updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the target project.",
          "readOnly": true
        },
        "project": {
          "type": "string",
          "description": "Required. The target project ID (number) or project name."
        }
      },
      "type": "object"
    },
    "Expiration": {
      "id": "Expiration",
      "properties": {
        "extensionCount": {
          "readOnly": true,
          "description": "Output only. The number of times expiration was extended.",
          "format": "int32",
          "type": "integer"
        },
        "expireTime": {
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "extendable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Describes whether the expiration can be extended."
        }
      },
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "type": "object"
    },
    "AzureSourceDetails": {
      "type": "object",
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "properties": {
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "resourceGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Immutable. Azure subscription ID."
        },
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        }
      },
      "id": "AzureSourceDetails"
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "CutoverJob": {
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "type": "object",
      "properties": {
        "progressPercent": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "targetDetails": {
          "deprecated": true,
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true,
          "$ref": "TargetVMDetails"
        },
        "steps": {
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "progress": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "deprecated": true,
          "format": "int32"
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true,
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "description": "Output only. State of the cutover job."
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the cutover job had finished.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state."
        }
      }
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "properties": {
        "osCapabilities": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          },
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features."
        },
        "lastOsCapabilitiesUpdateTime": {
          "readOnly": true,
          "description": "Output only. The last time OS capabilities list was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "VmCapabilities"
    },
    "ProvisioningTargetDiskStep": {
      "type": "object",
      "properties": {},
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "id": "ProvisioningTargetDiskStep"
    },
    "VmAttachmentDetails": {
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "id": "VmAttachmentDetails",
      "type": "object",
      "description": "Details for attachment of the disk to a VM."
    },
    "FetchInventoryResponse": {
      "description": "Response message for fetchInventory.",
      "type": "object",
      "id": "FetchInventoryResponse",
      "properties": {
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        }
      }
    },
    "InstantiatingMigratedVMStep": {
      "id": "InstantiatingMigratedVMStep",
      "type": "object",
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details."
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      }
    },
    "Disk": {
      "properties": {
        "sizeGb": {
          "description": "The disk size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Disk",
      "type": "object",
      "description": "A message describing a data disk."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "NetworkInterface": {
      "properties": {
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ]
        },
        "externalIp": {
          "type": "string",
          "description": "Optional. The external IP to define in the NIC."
        },
        "internalIp": {
          "type": "string",
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        }
      },
      "id": "NetworkInterface",
      "type": "object",
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "type": "object",
      "description": "Response message for 'ListSources' request.",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "sources": {
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "Source"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "MachineImageTargetDetails": {
      "properties": {
        "additionalLicenses": {
          "type": "array",
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "items": {
            "type": "string"
          }
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array"
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "targetProject": {
          "type": "string",
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created."
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to apply to the instance created by the machine image."
        },
        "skipOsAdaptation": {
          "$ref": "SkipOsAdaptation",
          "description": "Optional. Use to skip OS adaptation process."
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        }
      },
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "type": "object"
    },
    "AwsSecurityGroup": {
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The AWS security group id."
        }
      },
      "id": "AwsSecurityGroup",
      "type": "object",
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "ReplicationSync": {
      "type": "object",
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "SourceStorageResource": {
      "properties": {
        "awsDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Source AWS volume details."
        }
      },
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "type": "object"
    },
    "AwsSourceDetails": {
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "type": "object",
      "id": "AwsSourceDetails",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "inventoryTagList": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "AWS resource tags to limit the scope of the source inventory."
        },
        "publicIp": {
          "readOnly": true,
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string"
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "id": "ComputeEngineTargetDefaults",
      "type": "object",
      "properties": {
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array",
          "description": "Optional. The details of each disk to create."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "bootConversion": {
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "diskReplicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "adaptationModifiers": {
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation.",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "readOnly": true
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        }
      },
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project."
    },
    "CutoverStep": {
      "properties": {
        "previousReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "A replication cycle prior cutover step."
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the step has ended."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        }
      },
      "description": "CutoverStep holds information about the cutover step progress.",
      "type": "object",
      "id": "CutoverStep"
    },
    "DiskMigrationJob": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "description": "Output only. State of the DiskMigrationJob.",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ]
        },
        "targetDetails": {
          "$ref": "DiskMigrationJobTargetDetails",
          "description": "Required. Details of the target Disk in Compute Engine."
        },
        "updateTime": {
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "type": "array"
        },
        "steps": {
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The disk migration steps list representing its progress."
        },
        "createTime": {
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "id": "DiskMigrationJob",
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "type": "object"
    },
    "CycleStep": {
      "description": "CycleStep holds information about a step progress.",
      "type": "object",
      "id": "CycleStep",
      "properties": {
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has ended."
        },
        "startTime": {
          "description": "The time the cycle step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        }
      }
    },
    "UpgradeApplianceRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object"
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request.",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      },
      "id": "AddGroupMigrationRequest"
    },
    "ImageImportJob": {
      "description": "ImageImportJob describes the progress and result of an image import.",
      "id": "ImageImportJob",
      "type": "object",
      "properties": {
        "warnings": {
          "readOnly": true,
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the image import.",
          "type": "array"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the image import was ended."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImportJob.",
          "type": "string"
        },
        "createdResources": {
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "description": "Output only. The state of the image import."
        },
        "machineImageTargetDetails": {
          "description": "Output only. Target details used to import a machine image.",
          "readOnly": true,
          "$ref": "MachineImageTargetDetails"
        },
        "steps": {
          "items": {
            "$ref": "ImageImportStep"
          },
          "description": "Output only. The image import steps list representing its progress.",
          "readOnly": true,
          "type": "array"
        },
        "cloudStorageUri": {
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "$ref": "DiskImageTargetDetails",
          "readOnly": true
        }
      }
    },
    "OSDescription": {
      "type": "object",
      "id": "OSDescription",
      "properties": {
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "plan": {
          "description": "OS plan.",
          "type": "string"
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "type": {
          "description": "OS type.",
          "type": "string"
        }
      },
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable."
    },
    "ComputeEngineDisksTargetDefaults": {
      "id": "ComputeEngineDisksTargetDefaults",
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "type": "object",
      "properties": {
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        },
        "disksTargetDefaults": {
          "$ref": "DisksMigrationDisksTargetDefaults",
          "description": "Details of the disk only migration target."
        },
        "disks": {
          "type": "array",
          "description": "The details of each Persistent Disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks."
        },
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        }
      }
    },
    "MigrationWarning": {
      "properties": {
        "warningTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the warning occurred."
        },
        "code": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "description": "The warning code."
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "helpLinks": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true
        }
      },
      "id": "MigrationWarning",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "type": "object"
    },
    "BootDiskDefaults": {
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the boot disk."
        },
        "diskType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Optional. The type of disk provisioning to use for the VM."
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        }
      },
      "id": "BootDiskDefaults",
      "type": "object"
    },
    "SkipOsAdaptation": {
      "type": "object",
      "id": "SkipOsAdaptation",
      "properties": {},
      "description": "Mentions that the machine image import is not using OS adaptation process."
    },
    "AwsDiskDetails": {
      "type": "object",
      "id": "AwsDiskDetails",
      "properties": {
        "volumeId": {
          "description": "Output only. AWS volume ID.",
          "readOnly": true,
          "type": "string"
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64"
        },
        "diskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The details of an AWS instance disk."
    },
    "DisksMigrationDisksTargetDetails": {
      "description": "Details for a disks-only migration.",
      "type": "object",
      "id": "DisksMigrationDisksTargetDetails",
      "properties": {}
    },
    "VmUtilizationInfo": {
      "type": "object",
      "id": "VmUtilizationInfo",
      "description": "Utilization information of a single VM.",
      "properties": {
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        },
        "utilization": {
          "$ref": "VmUtilizationMetrics",
          "description": "Utilization metrics for this VM."
        }
      }
    },
    "ListImageImportJobsResponse": {
      "type": "object",
      "id": "ListImageImportJobsResponse",
      "properties": {
        "imageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of target response."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for 'ListImageImportJobs' call."
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "type": "object",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "CutoverForecast"
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "type": "object",
      "properties": {
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "type": "string"
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "error": {
          "deprecated": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true
        }
      },
      "id": "Source"
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "properties": {
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Size in GB.",
          "readOnly": true
        },
        "diskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "format": "int32"
        },
        "label": {
          "type": "string",
          "description": "Output only. The disk label.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "VmwareDiskDetails"
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails",
      "properties": {
        "disks": {
          "items": {
            "$ref": "PersistentDisk"
          },
          "description": "The details of each created Persistent Disk.",
          "type": "array"
        },
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        },
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        }
      }
    },
    "CancelImageImportJobRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for 'CancelImageImportJob' request.",
      "id": "CancelImageImportJobRequest"
    },
    "UtilizationReport": {
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport",
      "properties": {
        "frameEndTime": {
          "format": "google-datetime",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The report unique name.",
          "type": "string",
          "readOnly": true
        },
        "vmCount": {
          "readOnly": true,
          "description": "Output only. Total number of VMs included in the report.",
          "type": "integer",
          "format": "int32"
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime"
        },
        "vmsCount": {
          "format": "int32",
          "deprecated": true,
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "The report display name, as assigned by the user."
        },
        "state": {
          "description": "Output only. Current state of the report.",
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "timeFrame": {
          "type": "string",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "description": "Time frame of the report."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the report in case of an error."
        },
        "createTime": {
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "vms": {
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VmwareSourceDetails": {
      "id": "VmwareSourceDetails",
      "properties": {
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        }
      },
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "type": "object"
    },
    "CancelCutoverJobRequest": {
      "id": "CancelCutoverJobRequest",
      "properties": {},
      "description": "Request message for 'CancelCutoverJob' request.",
      "type": "object"
    },
    "AppliedLicense": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type that was used in OS adaptation."
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense"
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "description": "Response message for 'ListCloneJobs' request.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "cloneJobs": {
          "type": "array",
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true,
          "items": {
            "$ref": "CloneJob"
          }
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "type": "object",
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "utilizationReports": {
          "items": {
            "$ref": "UtilizationReport"
          },
          "description": "Output only. The list of reports.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SchedulePolicy": {
      "properties": {
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        },
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "SchedulePolicy",
      "description": "A policy for scheduling replications.",
      "type": "object"
    },
    "PersistentDisk": {
      "type": "object",
      "id": "PersistentDisk",
      "description": "Details of a created Persistent Disk.",
      "properties": {
        "sourceDiskNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ordinal number of the source VM disk.",
          "format": "int32"
        },
        "diskUri": {
          "description": "Output only. The URI of the Persistent Disk.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "cutoverJobs": {
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse"
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "properties": {
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Output only. A map of AWS volume tags."
        },
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size in GiB."
        },
        "diskType": {
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "description": "Optional. Output only. Disk type.",
          "readOnly": true
        }
      },
      "description": "Represents the source AWS Disk details.",
      "type": "object"
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "properties": {
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "provisioningTargetDisk": {
          "$ref": "ProvisioningTargetDiskStep",
          "description": "Creating target disk step."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the step has started.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "DiskMigrationStep holds information about the disk migration step progress."
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "type": "object",
      "description": "Request message for 'CancelCloneJob' request.",
      "properties": {}
    },
    "InitializingImageImportStep": {
      "properties": {},
      "id": "InitializingImageImportStep",
      "description": "InitializingImageImportStep contains specific step details.",
      "type": "object"
    },
    "Encryption": {
      "type": "object",
      "description": "Encryption message describes the details of the applied encryption.",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "id": "Encryption"
    },
    "VmwareVmsDetails": {
      "type": "object",
      "id": "VmwareVmsDetails",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the vmware VMs.",
          "items": {
            "$ref": "VmwareVmDetails"
          }
        }
      }
    },
    "DatacenterConnector": {
      "type": "object",
      "properties": {
        "registrationId": {
          "type": "string",
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime"
        },
        "availableVersions": {
          "$ref": "AvailableUpdates",
          "readOnly": true,
          "description": "Output only. The available versions for updating this appliance."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connector's name."
        },
        "bucket": {
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true
        },
        "applianceInfrastructureVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        },
        "upgradeStatus": {
          "readOnly": true,
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "applianceSoftwareVersion": {
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed)."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time the connector was updated with an API call.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ]
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        }
      },
      "id": "DatacenterConnector",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer."
    },
    "DiskMigrationJobTargetDetails": {
      "description": "Details of the target disk in Compute Engine.",
      "id": "DiskMigrationJobTargetDetails",
      "properties": {
        "targetDisk": {
          "$ref": "ComputeEngineDisk",
          "description": "Required. The target disk."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the disk.",
          "type": "object"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key."
        }
      },
      "type": "object"
    },
    "AdaptingOSStep": {
      "type": "object",
      "properties": {},
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep"
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "type": "object",
      "description": "CreatingImageStep contains specific step details.",
      "properties": {}
    },
    "AwsSourceVmDetails": {
      "properties": {
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "architecture": {
          "readOnly": true,
          "description": "Output only. The VM architecture.",
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "committedStorageBytes": {
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AwsDiskDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "firmware": {
          "readOnly": true,
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        }
      },
      "description": "Represent the source AWS VM details.",
      "type": "object",
      "id": "AwsSourceVmDetails"
    },
    "RemoveGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for 'RemoveMigration' request.",
      "id": "RemoveGroupMigrationRequest"
    },
    "AzureDiskDetails": {
      "id": "AzureDiskDetails",
      "type": "object",
      "properties": {
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "diskId": {
          "description": "Output only. Azure disk ID.",
          "readOnly": true,
          "type": "string"
        },
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The details of an Azure VM disk."
    },
    "CloneStep": {
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        }
      },
      "type": "object",
[...]
