{
  "discoveryVersion": "v1",
  "canonicalName": "VM Migration Service",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "version_module": true,
  "rootUrl": "https://vmmigration.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "title": "VM Migration API",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "revision": "20260903",
  "batchPath": "batch",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AdaptationModifier": {
      "type": "object",
      "id": "AdaptationModifier",
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "properties": {
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        }
      }
    },
    "Link": {
      "description": "Describes a URL link.",
      "id": "Link",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      }
    },
    "CopyingSourceDiskSnapshotStep": {
      "properties": {},
      "id": "CopyingSourceDiskSnapshotStep",
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "ImageImportJob": {
      "type": "object",
      "description": "ImageImportJob describes the progress and result of an image import.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImportJob."
        },
        "endTime": {
          "description": "Output only. The time the image import was ended.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "description": "Output only. The state of the image import.",
          "readOnly": true
        },
        "steps": {
          "items": {
            "$ref": "ImageImportStep"
          },
          "type": "array",
          "description": "Output only. The image import steps list representing its progress.",
          "readOnly": true
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "readOnly": true,
          "$ref": "DiskImageTargetDetails"
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Warnings that occurred during the image import.",
          "items": {
            "$ref": "MigrationWarning"
          }
        },
        "createdResources": {
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineImageTargetDetails": {
          "readOnly": true,
          "$ref": "MachineImageTargetDetails",
          "description": "Output only. Target details used to import a machine image."
        },
        "errors": {
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cloudStorageUri": {
          "readOnly": true,
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        }
      },
      "id": "ImageImportJob"
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "properties": {},
      "id": "ShuttingDownSourceVMStep",
      "type": "object"
    },
    "MigrationWarning": {
      "type": "object",
      "id": "MigrationWarning",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "warningTime": {
          "type": "string",
          "description": "The time the warning occurred.",
          "format": "google-datetime"
        },
        "helpLinks": {
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "type": "array",
          "items": {
            "$ref": "Link"
          }
        },
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "type": "string",
          "description": "The warning code."
        }
      }
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "type": "object",
      "properties": {
        "recentImageImportJobs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "createTime": {
          "description": "Output only. The time the image import was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine."
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported."
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        }
      },
      "id": "ImageImport"
    },
    "ListReplicationCyclesResponse": {
      "type": "object",
      "id": "ListReplicationCyclesResponse",
      "properties": {
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "InitializingReplicationStep": {
      "type": "object",
      "properties": {},
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details."
    },
    "PersistentDiskDefaults": {
      "properties": {
        "vmAttachmentDetails": {
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM.",
          "$ref": "VmAttachmentDetails"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "The disk type to use.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string"
        },
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk.",
          "$ref": "Encryption"
        },
        "sourceDiskNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The ordinal number of the source VM disk."
        },
        "additionalLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the Persistent Disk."
        }
      },
      "type": "object",
      "description": "Details for creation of a Persistent Disk.",
      "id": "PersistentDiskDefaults"
    },
    "ListTargetProjectsResponse": {
      "properties": {
        "targetProjects": {
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object",
      "id": "ListTargetProjectsResponse"
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "type": "object",
      "properties": {
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the step has ended."
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        }
      },
      "description": "CutoverStep holds information about the cutover step progress."
    },
    "ResumeMigrationRequest": {
      "type": "object",
      "description": "Request message for 'ResumeMigration' request.",
      "properties": {},
      "id": "ResumeMigrationRequest"
    },
    "ProvisioningTargetDiskStep": {
      "properties": {},
      "type": "object",
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "id": "ProvisioningTargetDiskStep"
    },
    "RunDiskMigrationJobRequest": {
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "type": "object",
      "id": "RunDiskMigrationJobRequest",
      "properties": {}
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CutoverJob": {
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "properties": {
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A message providing possible extra details about the current state."
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the cutover job.",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ]
        },
        "steps": {
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CutoverStep"
          }
        },
        "progressPercent": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer"
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "PauseMigrationRequest": {
      "description": "Request message for 'PauseMigration' request.",
      "type": "object",
      "id": "PauseMigrationRequest",
      "properties": {}
    },
    "VmUtilizationInfo": {
      "properties": {
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        }
      },
      "description": "Utilization information of a single VM.",
      "type": "object",
      "id": "VmUtilizationInfo"
    },
    "ComputeEngineTargetDetails": {
      "type": "object",
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the VM."
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "description": "The VM Boot Option, as set in the source VM."
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM disks."
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array"
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListDiskMigrationJobsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "diskMigrationJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "description": "Output only. The list of the disk migration jobs."
        }
      },
      "id": "ListDiskMigrationJobsResponse",
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "type": "object"
    },
    "Encryption": {
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Encryption",
      "description": "Encryption message describes the details of the applied encryption."
    },
    "ListCutoverJobsResponse": {
      "id": "ListCutoverJobsResponse",
      "description": "Response message for 'ListCutoverJobs' request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "cutoverJobs": {
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "ListMigratingVmsResponse": {
      "type": "object",
      "id": "ListMigratingVmsResponse",
      "description": "Response message for 'ListMigratingVms' request.",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "migratingVms": {
          "type": "array",
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ImageImportOsAdaptationParameters": {
      "id": "ImageImportOsAdaptationParameters",
      "type": "object",
      "description": "Parameters affecting the OS adaptation process.",
      "properties": {
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "bootConversion": {
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        }
      }
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the group."
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "migrationTargetType": {
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "description": "Immutable. The target type of this group."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Group name.",
          "type": "string"
        }
      }
    },
    "SchedulePolicy": {
      "type": "object",
      "id": "SchedulePolicy",
      "description": "A policy for scheduling replications.",
      "properties": {
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "type": "string",
          "format": "google-duration"
        },
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        }
      }
    },
    "DiskImageDefaults": {
      "description": "Contains details about the image source used to create the disk.",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      },
      "type": "object",
      "id": "DiskImageDefaults"
    },
    "SourceStorageResource": {
      "type": "object",
      "id": "SourceStorageResource",
      "description": "SourceStorageResource describes a storage resource in the source.",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      }
    },
    "AddGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      },
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest",
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "type": "object",
      "properties": {
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time timestamp."
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "name": {
          "description": "Output only. The Source name.",
          "type": "string",
          "readOnly": true
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "labels": {
          "description": "The labels of the source.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the source."
        },
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time timestamp."
        }
      }
    },
    "BootDiskDefaults": {
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the boot disk."
        },
        "diskType": {
          "type": "string",
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "id": "BootDiskDefaults"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "FetchInventoryResponse": {
      "type": "object",
      "description": "Response message for fetchInventory.",
      "properties": {
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "FetchInventoryResponse"
    },
    "ClientSecretCredentials": {
      "id": "ClientSecretCredentials",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Azure client ID."
        },
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        }
      }
    },
    "ApplianceVersion": {
      "type": "object",
      "id": "ApplianceVersion",
      "description": "Describes an appliance version.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "critical": {
          "type": "boolean",
          "description": "Determine whether it's critical to upgrade the appliance to this version."
        },
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        }
      }
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "properties": {
        "diskType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "description": "Optional. Output only. Disk type.",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ]
        },
        "sizeGib": {
          "type": "string",
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Output only. A map of AWS volume tags.",
          "readOnly": true
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the source AWS Disk details."
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "type": "object",
      "description": "NetworkInterface represents a NIC of a VM.",
      "properties": {
        "externalIp": {
          "type": "string",
          "description": "Optional. The external IP to define in the NIC."
        },
        "network": {
          "type": "string",
          "description": "Optional. The network to connect the NIC to."
        },
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The subnetwork to connect the NIC to."
        },
        "internalIp": {
          "type": "string",
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        }
      }
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "properties": {},
      "description": "CreatingImageStep contains specific step details.",
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "properties": {},
      "id": "InstantiatingMigratedVMStep",
      "type": "object",
      "description": "InstantiatingMigratedVMStep contains specific step details."
    },
    "ListDatacenterConnectorsResponse": {
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "datacenterConnectors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "DatacenterConnector"
          }
        }
      }
    },
    "CycleStep": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has started."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the cycle step has ended.",
          "type": "string"
        },
        "replicating": {
          "$ref": "ReplicatingStep",
          "description": "Replicating step."
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        }
      },
      "type": "object",
      "id": "CycleStep",
      "description": "CycleStep holds information about a step progress."
    },
    "CancelCutoverJobRequest": {
      "id": "CancelCutoverJobRequest",
      "properties": {},
      "description": "Request message for 'CancelCutoverJob' request.",
      "type": "object"
    },
    "FetchStorageInventoryResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resources": {
          "items": {
            "$ref": "SourceStorageResource"
          },
          "type": "array",
          "description": "The list of storage resources in the source."
        }
      },
      "type": "object",
      "id": "FetchStorageInventoryResponse",
      "description": "Response message for fetchStorageInventory."
    },
    "ReplicatingStep": {
      "type": "object",
      "id": "ReplicatingStep",
      "description": "ReplicatingStep contains specific step details.",
      "properties": {
        "lastTwoMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "format": "int64",
          "type": "string"
        },
        "replicatedBytes": {
          "format": "int64",
          "description": "Replicated bytes in the step.",
          "type": "string"
        },
        "totalBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total bytes to be handled in the step."
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RemoveGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      },
      "description": "Request message for 'RemoveMigration' request.",
      "id": "RemoveGroupMigrationRequest",
      "type": "object"
    },
    "VmwareVmsDetails": {
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "properties": {
        "details": {
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs.",
          "type": "array"
        }
      },
      "id": "VmwareVmsDetails",
      "type": "object"
    },
    "VmwareVmDetails": {
      "properties": {
        "datacenterDescription": {
          "type": "string",
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in."
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the memory of the VM in MB."
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "format": "int32",
          "type": "integer"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option."
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        }
      },
      "id": "VmwareVmDetails",
      "type": "object",
      "description": "VmwareVmDetails describes a VM in vCenter."
    },
    "DisksMigrationVmTargetDetails": {
      "properties": {
        "vmUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the Compute Engine VM."
        }
      },
      "description": "Details for the VM created VM as part of disks migration.",
      "id": "DisksMigrationVmTargetDetails",
      "type": "object"
    },
    "ListImageImportJobsResponse": {
      "properties": {
        "imageImportJobs": {
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for 'ListImageImportJobs' call.",
      "id": "ListImageImportJobsResponse",
      "type": "object"
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "properties": {
        "secretAccessKey": {
          "type": "string",
          "description": "Input only. AWS secret access key."
        },
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "AWS access key ID."
        }
      },
      "description": "Message describing AWS Credentials using access key id and secret.",
      "type": "object"
    },
    "TargetProject": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time the target project resource was updated."
        },
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the target project.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "id": "TargetProject"
    },
    "CancelDiskMigrationJobRequest": {
      "id": "CancelDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "properties": {
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "firmware": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The firmware type of the source VM.",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "disks": {
          "type": "array",
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          }
        },
        "architecture": {
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Represent the source Vmware VM details.",
      "type": "object"
    },
    "DisksMigrationDisksTargetDetails": {
      "description": "Details for a disks-only migration.",
      "type": "object",
      "id": "DisksMigrationDisksTargetDetails",
      "properties": {}
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "ListSourcesResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ListSourcesResponse",
      "description": "Response message for 'ListSources' request."
    },
    "FinalizeMigrationRequest": {
      "properties": {},
      "id": "FinalizeMigrationRequest",
      "type": "object",
      "description": "Request message for 'FinalizeMigration' request."
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "properties": {
        "estimatedCutoverJobDuration": {
          "format": "google-duration",
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmAttachmentDetails": {
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details for attachment of the disk to a VM.",
      "id": "VmAttachmentDetails"
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "type": "object",
      "id": "CloneStep",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the step has ended.",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "LocalizedMessage": {
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      },
      "id": "LocalizedMessage"
    },
    "ComputeEngineTargetDefaults": {
      "properties": {
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array",
          "description": "Optional. The details of each disk to create."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string"
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation.",
          "type": "array"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption to apply to the VM disks."
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        }
      },
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object",
      "id": "ComputeEngineTargetDefaults"
    },
    "AzureVmsDetails": {
      "properties": {
        "details": {
          "description": "The details of the Azure VMs.",
          "type": "array",
          "items": {
            "$ref": "AzureVmDetails"
          }
        }
      },
      "description": "AzureVmsDetails describes VMs in Azure.",
      "id": "AzureVmsDetails",
      "type": "object"
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "properties": {
        "sourceDiskNumber": {
          "description": "Output only. The ordinal number of the source VM disk.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "diskUri": {
          "description": "Output only. The URI of the Persistent Disk.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PersistentDisk"
    },
    "MachineImageTargetDetails": {
      "properties": {
        "encryption": {
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded instance configuration."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the machine image."
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The tags to apply to the instance created by the machine image."
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created."
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to apply to the instance created by the machine image."
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        }
      },
      "type": "object",
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails"
    },
    "AzureDiskDetails": {
      "properties": {
        "diskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "type": "integer"
        },
        "diskId": {
          "readOnly": true,
          "description": "Output only. Azure disk ID.",
          "type": "string"
        },
        "sizeGb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64"
        }
      },
      "id": "AzureDiskDetails",
      "description": "The details of an Azure VM disk.",
      "type": "object"
    },
    "AzureSourceVmDetails": {
      "properties": {
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities",
          "readOnly": true
        },
        "disks": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AzureDiskDetails"
          }
        },
        "firmware": {
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture."
        }
      },
      "id": "AzureSourceVmDetails",
      "type": "object",
      "description": "Represent the source Azure VM details."
    },
    "VmwareSourceDetails": {
      "properties": {
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        },
        "resolvedVcenterHost": {
          "type": "string",
          "description": "The hostname of the vcenter."
        },
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareSourceDetails",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type."
    },
    "Disk": {
      "type": "object",
      "description": "A message describing a data disk.",
      "properties": {
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "format": "int32",
          "type": "integer"
        },
        "sizeGb": {
          "description": "The disk size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        }
      },
      "id": "Disk"
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "type": "object",
      "properties": {},
      "id": "CancelImageImportJobRequest"
    },
    "PreparingVMDisksStep": {
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "type": "object",
      "id": "PreparingVMDisksStep"
    },
    "ListUtilizationReportsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "utilizationReports": {
          "readOnly": true,
          "description": "Output only. The list of reports.",
          "items": {
            "$ref": "UtilizationReport"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse"
    },
    "LoadingImageSourceFilesStep": {
      "id": "LoadingImageSourceFilesStep",
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "ExtendMigrationRequest": {
      "properties": {},
      "type": "object",
      "id": "ExtendMigrationRequest",
      "description": "Request message for 'ExtendMigrationRequest' request."
    },
    "AdaptingOSStep": {
      "id": "AdaptingOSStep",
      "type": "object",
      "description": "AdaptingOSStep contains specific step details.",
      "properties": {}
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "secureBoot": {
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "type": "string",
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled."
        }
      },
      "type": "object",
      "description": "Shielded instance configuration."
    },
    "AwsSecurityGroup": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The AWS security group name."
        }
      },
      "id": "AwsSecurityGroup",
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "ComputeScheduling": {
      "properties": {
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          }
        },
        "onHostMaintenance": {
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance."
        },
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "type": "string"
        },
        "minNodeCpus": {
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ComputeScheduling",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance."
    },
    "DatacenterConnector": {
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "type": "object",
      "properties": {
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the state was last set.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true,
          "$ref": "UpgradeStatus"
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "type": "string"
        },
        "availableVersions": {
          "$ref": "AvailableUpdates",
          "readOnly": true,
          "description": "Output only. The available versions for updating this appliance."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the connector was updated with an API call.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "registrationId": {
          "type": "string",
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified."
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The connector's name.",
          "type": "string"
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "readOnly": true
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        }
      },
      "id": "DatacenterConnector"
    },
    "DataDiskImageImport": {
      "properties": {
        "guestOsFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features."
        }
      },
      "description": "Used when the image import is not using OS adaptation process.",
      "id": "DataDiskImageImport",
      "type": "object"
    },
    "AzureVmDetails": {
      "type": "object",
      "properties": {
        "bootOption": {
          "type": "string",
          "description": "The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ]
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has, including OS disk."
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus the VM has.",
          "format": "int32"
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The tags of the VM."
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Description of the data disks.",
          "type": "array"
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ]
        },
        "computerName": {
          "type": "string",
          "description": "The VM's ComputerName."
        },
        "osDisk": {
          "$ref": "OSDisk",
          "description": "Description of the OS disk."
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        }
      },
      "id": "AzureVmDetails",
      "description": "AzureVmDetails describes a VM in Azure."
    },
    "CreatingSourceDiskSnapshotStep": {
      "properties": {},
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object",
      "description": "CreatingSourceDiskSnapshotStep contains specific step details."
    },
    "AvailableUpdates": {
      "id": "AvailableUpdates",
      "description": "Holds information about the available versions for upgrade.",
      "type": "object",
      "properties": {
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        },
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        }
      }
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "VmUtilizationMetrics": {
      "properties": {
        "diskIoRateAverageKbps": {
          "type": "string",
[...]
