{
  "canonicalName": "VM Migration Service",
  "batchPath": "batch",
  "name": "vmmigration",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "baseUrl": "https://vmmigration.googleapis.com/",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListUtilizationReportsResponse": {
      "description": "Response message for 'ListUtilizationReports' request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "utilizationReports": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          },
          "description": "Output only. The list of reports."
        }
      },
      "id": "ListUtilizationReportsResponse",
      "type": "object"
    },
    "MigrationWarning": {
      "type": "object",
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "warningMessage": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized warning message."
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "type": "array"
        },
        "warningTime": {
          "description": "The time the warning occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "code": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "type": "string",
          "description": "The warning code."
        }
      },
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "id": "MigrationWarning"
    },
    "ReplicationCycle": {
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the ReplicationCycle.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "warnings": {
          "readOnly": true,
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the cycle.",
          "type": "array"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress."
        },
        "startTime": {
          "type": "string",
          "description": "The time the replication cycle has started.",
          "format": "google-datetime"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has ended."
        },
        "cycleNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The cycle's ordinal number."
        },
        "progress": {
          "deprecated": true,
          "description": "The current progress in percentage of this cycle.",
          "format": "int32",
          "type": "integer"
        },
        "totalPauseDuration": {
          "format": "google-duration",
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "deprecated": true,
          "format": "int32"
        }
      },
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "id": "ReplicationCycle"
    },
    "LocalizedMessage": {
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      },
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object"
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "id": "InstantiatingMigratedVMStep",
      "properties": {},
      "type": "object"
    },
    "PreparingVMDisksStep": {
      "type": "object",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "id": "PreparingVMDisksStep"
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "description": "CreatingImageStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "ApplianceVersion": {
      "properties": {
        "version": {
          "description": "The appliance version.",
          "type": "string"
        },
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "A link for downloading the version."
        },
        "critical": {
          "type": "boolean",
          "description": "Determine whether it's critical to upgrade the appliance to this version."
        }
      },
      "description": "Describes an appliance version.",
      "type": "object",
      "id": "ApplianceVersion"
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      }
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "description": "Response message for 'ListMigratingVms' request.",
      "type": "object",
      "properties": {
        "migratingVms": {
          "description": "Output only. The list of Migrating VMs response.",
          "items": {
            "$ref": "MigratingVm"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "VmUtilizationMetrics": {
      "id": "VmUtilizationMetrics",
      "type": "object",
      "description": "Utilization metrics values for a single VM.",
      "properties": {
        "networkThroughputMax": {
          "type": "string",
          "deprecated": true,
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "networkThroughputMaxKbps": {
          "format": "int64",
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "cpuMax": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "Max CPU usage, percent."
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "networkThroughputAverage": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "memoryAverage": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "Average memory usage, percent."
        },
        "cpuAverage": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "Average CPU usage, percent."
        },
        "memoryMax": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "memoryAveragePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Average memory usage, percent."
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "diskIoRateAverage": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "diskIoRateMax": {
          "deprecated": true,
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "networkThroughputAverageKbps": {
          "format": "int64",
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "cpuMaxPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Max CPU usage, percent."
        }
      }
    },
    "CutoverJob": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the cutover job.",
          "type": "string"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "progress": {
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true,
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "readOnly": true,
          "description": "Output only. State of the cutover job.",
          "type": "string"
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state."
        },
        "steps": {
          "items": {
            "$ref": "CutoverStep"
          },
          "readOnly": true,
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array"
        },
        "progressPercent": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "targetDetails": {
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        }
      },
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "id": "CutoverJob",
      "type": "object"
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "properties": {
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "finalSync": {
          "$ref": "ReplicationCycle",
          "description": "Final sync step."
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        }
      },
      "description": "CutoverStep holds information about the cutover step progress.",
      "type": "object"
    },
    "Tag": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        }
      },
      "id": "Tag",
      "description": "Tag is an AWS tag representation."
    },
    "UpgradeApplianceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request."
    },
    "AwsVmDetails": {
      "description": "AwsVmDetails describes a VM in AWS.",
      "id": "AwsVmDetails",
      "type": "object",
      "properties": {
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of CPU cores the VM has."
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The VM ID in AWS."
        },
        "vcpuCount": {
          "type": "integer",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has.",
          "format": "int32"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The tags of the VM."
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has.",
          "type": "integer"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option."
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The memory size of the VM in MB."
        },
        "architecture": {
          "type": "string",
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ]
        },
        "securityGroups": {
          "type": "array",
          "description": "The security groups the VM belongs to.",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "virtualizationType": {
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "type": "string",
          "description": "The virtualization type."
        }
      }
    },
    "AdaptationModifier": {
      "type": "object",
      "id": "AdaptationModifier",
      "properties": {
        "modifier": {
          "type": "string",
          "description": "Optional. The modifier name."
        },
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        }
      },
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process."
    },
    "BootDiskDefaults": {
      "type": "object",
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "properties": {
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the boot disk."
        }
      },
      "id": "BootDiskDefaults"
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "groups": {
          "type": "array",
          "description": "Output only. The list of groups response.",
          "items": {
            "$ref": "Group"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for 'ListGroups' request."
    },
    "PostProcessingStep": {
      "type": "object",
      "properties": {},
      "description": "PostProcessingStep contains specific step details.",
      "id": "PostProcessingStep"
    },
    "FinalizeMigrationRequest": {
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request.",
      "type": "object",
      "id": "FinalizeMigrationRequest"
    },
    "ListImageImportsResponse": {
      "description": "Response message for 'ListImageImports' call.",
      "type": "object",
      "id": "ListImageImportsResponse",
      "properties": {
        "imageImports": {
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "ImageImport"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OSDescription": {
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "id": "OSDescription",
      "type": "object",
      "properties": {
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "offer": {
          "type": "string",
          "description": "OS offer."
        },
        "plan": {
          "description": "OS plan.",
          "type": "string"
        },
        "type": {
          "description": "OS type.",
          "type": "string"
        }
      }
    },
    "ListReplicationCyclesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "items": {
            "$ref": "ReplicationCycle"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListReplicationCycles' request.",
      "type": "object",
      "id": "ListReplicationCyclesResponse"
    },
    "ComputeScheduling": {
      "properties": {
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          }
        },
        "minNodeCpus": {
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "type": "integer",
          "format": "int32"
        },
        "automaticRestart": {
          "deprecated": true,
          "type": "boolean"
        },
        "onHostMaintenance": {
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "type": "string",
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ]
        },
        "restartType": {
          "type": "string",
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ]
        }
      },
      "id": "ComputeScheduling",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "type": "object"
    },
    "VmwareVmDetails": {
      "properties": {
        "committedStorage": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has.",
          "format": "int32"
        },
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "committedStorageMb": {
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this is not necessarily unique."
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of cpus in the VM."
        },
        "uuid": {
          "type": "string",
          "description": "The unique identifier of the VM in vCenter."
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true,
          "description": "Output only. The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "description": "Output only. The VM Boot Option.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareVmDetails",
      "description": "VmwareVmDetails describes a VM in vCenter."
    },
    "VmUtilizationInfo": {
      "type": "object",
      "properties": {
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        }
      },
      "id": "VmUtilizationInfo",
      "description": "Utilization information of a single VM."
    },
    "ListCutoverJobsResponse": {
      "id": "ListCutoverJobsResponse",
      "properties": {
        "cutoverJobs": {
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for 'ListCutoverJobs' request."
    },
    "DiskImageDefaults": {
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      },
      "id": "DiskImageDefaults",
      "description": "Contains details about the image source used to create the disk.",
      "type": "object"
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "type": "object",
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Required. AWS volume ID."
        },
        "sizeGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size in GiB.",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. Output only. Disk type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Optional. Output only. A map of AWS volume tags.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Represents the source AWS Disk details."
    },
    "DisksMigrationDisksTargetDefaults": {
      "properties": {},
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object",
      "description": "Details for a disk only migration."
    },
    "Encryption": {
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS."
        }
      },
      "type": "object",
      "id": "Encryption",
      "description": "Encryption message describes the details of the applied encryption."
    },
    "AzureVmDetails": {
      "properties": {
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "osDisk": {
          "description": "Description of the OS disk.",
          "$ref": "OSDisk"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ]
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "The CPU architecture.",
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "cpuCount": {
          "description": "The number of cpus the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "diskCount": {
          "description": "The number of disks the VM has, including OS disk.",
          "format": "int32",
          "type": "integer"
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "disks": {
          "description": "Description of the data disks.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        }
      },
      "description": "AzureVmDetails describes a VM in Azure.",
      "id": "AzureVmDetails",
      "type": "object"
    },
    "VmwareVmsDetails": {
      "type": "object",
      "id": "VmwareVmsDetails",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "type": "array"
        }
      }
    },
    "DisksMigrationDisksTargetDetails": {
      "properties": {},
      "type": "object",
      "description": "Details for a disks-only migration.",
      "id": "DisksMigrationDisksTargetDetails"
    },
    "CopyingSourceDiskSnapshotStep": {
      "type": "object",
      "id": "CopyingSourceDiskSnapshotStep",
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "properties": {}
    },
    "AvailableUpdates": {
      "type": "object",
      "description": "Holds information about the available versions for upgrade.",
      "id": "AvailableUpdates",
      "properties": {
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        },
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        }
      }
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "properties": {}
    },
    "ImageImportOsAdaptationParameters": {
      "id": "ImageImportOsAdaptationParameters",
      "properties": {
        "generalize": {
          "type": "boolean",
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID)."
        },
        "bootConversion": {
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "type": "string"
        },
        "licenseType": {
          "type": "string",
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          }
        }
      },
      "description": "Parameters affecting the OS adaptation process.",
      "type": "object"
    },
    "ReplicatingStep": {
      "properties": {
        "lastThirtyMinutesAverageBytesPerSecond": {
          "type": "string",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "format": "int64"
        },
        "replicatedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Replicated bytes in the step."
        },
        "totalBytes": {
          "format": "int64",
          "description": "Total bytes to be handled in the step.",
          "type": "string"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "format": "int64",
          "type": "string",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second."
        }
      },
      "id": "ReplicatingStep",
      "type": "object",
      "description": "ReplicatingStep contains specific step details."
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Source name.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true,
          "deprecated": true
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time timestamp."
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the source."
        }
      },
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information."
    },
    "CloneJob": {
      "type": "object",
      "id": "CloneJob",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "readOnly": true
        },
        "computeEngineVmDetails": {
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the clone job was ended.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "description": "Output only. State of the clone job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "readOnly": true
        },
        "steps": {
          "description": "Output only. The clone steps list representing its progress.",
          "items": {
            "$ref": "CloneStep"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the clone.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status"
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        }
      }
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "description": "InitializingImageImportStep contains specific step details.",
      "properties": {},
      "type": "object"
    },
    "ListDiskMigrationJobsResponse": {
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "id": "ListDiskMigrationJobsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "diskMigrationJobs": {
          "description": "Output only. The list of the disk migration jobs.",
          "readOnly": true,
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "type": "array"
        }
      }
    },
    "AzureDiskDetails": {
      "properties": {
        "sizeGb": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Size in GB."
        },
        "diskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true
        },
        "diskId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Azure disk ID."
        }
      },
      "type": "object",
      "description": "The details of an Azure VM disk.",
      "id": "AzureDiskDetails"
    },
    "PersistentDisk": {
      "id": "PersistentDisk",
      "description": "Details of a created Persistent Disk.",
      "type": "object",
      "properties": {
        "sourceDiskNumber": {
          "format": "int32",
          "description": "Output only. The ordinal number of the source VM disk.",
          "readOnly": true,
          "type": "integer"
        },
        "diskUri": {
          "description": "Output only. The URI of the Persistent Disk.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImageImport": {
      "type": "object",
      "id": "ImageImport",
      "properties": {
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        },
        "name": {
          "description": "Output only. The resource path of the ImageImport.",
          "readOnly": true,
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "$ref": "MachineImageTargetDetails",
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob."
        },
        "recentImageImportJobs": {
          "type": "array",
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true,
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the image import was created.",
          "format": "google-datetime"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine."
        }
      },
      "description": "ImageImport describes the configuration of the image import to run."
    },
    "ListSourcesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListSources' request.",
      "id": "ListSourcesResponse",
      "type": "object"
    },
    "ComputeEngineDisksTargetDetails": {
      "properties": {
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        },
        "disks": {
          "items": {
            "$ref": "PersistentDisk"
          },
          "description": "The details of each created Persistent Disk.",
          "type": "array"
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        }
      },
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails",
      "type": "object"
    },
    "AzureSourceVmDetails": {
      "id": "AzureSourceVmDetails",
      "description": "Represent the source Azure VM details.",
      "type": "object",
      "properties": {
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true,
          "type": "string"
        },
        "disks": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AzureDiskDetails"
          }
        },
        "committedStorageBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities"
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The firmware type of the source VM."
        }
      }
    },
    "ListImageImportJobsResponse": {
      "description": "Response message for 'ListImageImportJobs' call.",
      "properties": {
        "imageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of target response."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListImageImportJobsResponse",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "properties": {
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "migrationTargetType": {
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The Group name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        }
      },
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms."
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "ResumeMigrationRequest": {
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object",
      "id": "ResumeMigrationRequest",
      "properties": {}
    },
    "ExtendMigrationRequest": {
      "properties": {},
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "type": "object",
      "id": "ExtendMigrationRequest"
    },
    "ListCloneJobsResponse": {
      "type": "object",
      "properties": {
        "cloneJobs": {
          "description": "Output only. The list of clone jobs response.",
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListCloneJobs' request.",
      "id": "ListCloneJobsResponse"
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "properties": {
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "type": "string",
          "description": "The hostname of the vcenter."
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The credentials username."
        }
      },
      "type": "object"
    },
    "TargetVMDetails": {
      "id": "TargetVMDetails",
      "deprecated": true,
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "The network to connect the VM to."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of network tags to associate with the VM."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "externalIp": {
          "description": "The external IP to define in the VM.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "type": "string",
          "readOnly": true
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD",
            "HYPERDISK_BALANCED",
            "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "name": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "subnetwork": {
          "type": "string",
          "description": "The subnetwork to connect the VM to."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "project": {
          "deprecated": true,
          "description": "Output only. The project in which to create the VM.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded instance configuration.",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "secureBoot": {
          "type": "string",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        }
      }
    },
    "MigratingVm": {
      "type": "object",
      "properties": {
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true,
          "$ref": "Status"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime"
        },
        "recentCutoverJobs": {
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "stateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the migrating VM state was updated.",
          "format": "google-datetime"
        },
        "targetDefaults": {
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails"
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "currentSyncInfo": {
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle.",
          "readOnly": true
        },
        "lastReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "readOnly": true,
          "description": "Output only. State of the MigratingVm.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ]
        },
        "sourceVmId": {
          "type": "string",
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-."
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "recentCloneJobs": {
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CloneJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "azureSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from an Azure source.",
          "$ref": "AzureSourceVmDetails"
        },
        "cutoverForecast": {
          "$ref": "CutoverForecast",
          "readOnly": true,
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable."
        },
        "awsSourceVmDetails": {
          "$ref": "AwsSourceVmDetails",
          "readOnly": true,
          "description": "Output only. Details of the VM from an AWS source."
        },
        "expiration": {
          "readOnly": true,
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration"
        },
        "lastSync": {
          "$ref": "ReplicationSync",
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM.",
          "type": "object"
        },
        "group": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource."
        },
        "updateTime": {
          "description": "Output only. The last time the migrating VM resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "computeEngineVmDefaults": {
          "deprecated": true,
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails"
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        }
      },
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "id": "MigratingVm"
    },
    "ComputeEngineDisksTargetDefaults": {
      "type": "object",
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "properties": {
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the Persistent Disks."
        },
        "vmTargetDefaults": {
          "$ref": "DisksMigrationVmTargetDefaults",
          "description": "Details of the VM migration target."
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array"
        }
      },
      "id": "ComputeEngineDisksTargetDefaults"
    },
    "DataDiskImageImport": {
      "properties": {
        "guestOsFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features."
        }
      },
      "type": "object",
      "id": "DataDiskImageImport",
      "description": "Used when the image import is not using OS adaptation process."
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "id": "CancelImageImportJobRequest",
      "type": "object",
      "properties": {}
    },
    "CancelDiskMigrationJobRequest": {
      "id": "CancelDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "type": "object"
    },
    "AwsDiskDetails": {
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Output only. AWS volume ID.",
          "readOnly": true
        },
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "diskNumber": {
          "format": "int32",
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "AwsDiskDetails",
      "description": "The details of an AWS instance disk.",
      "type": "object"
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "description": "AWSVmsDetails describes VMs in AWS.",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DisksMigrationVmTargetDefaults": {
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "id": "DisksMigrationVmTargetDefaults",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The metadata key/value pairs to assign to the VM."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "Optional. NICs to attach to the VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "bootDiskDefaults": {
          "$ref": "BootDiskDefaults",
          "description": "Optional. Details of the boot disk of the VM."
        },
        "vmName": {
          "type": "string",
          "description": "Required. The name of the VM to create."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "computeScheduling": {
          "description": "Optional. Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the VM."
        }
      }
    },
    "SchedulingNodeAffinity": {
      "properties": {
        "operator": {
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ]
        },
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        }
      },
      "id": "SchedulingNodeAffinity",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "type": "object"
    },
    "InitializingReplicationStep": {
      "type": "object",
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "properties": {}
    },
    "CycleStep": {
      "id": "CycleStep",
      "description": "CycleStep holds information about a step progress.",
      "properties": {
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "startTime": {
          "description": "The time the cycle step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has ended."
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        }
      },
      "type": "object"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "type": "object",
      "description": "Details for the VM created VM as part of disks migration.",
      "properties": {
        "vmUri": {
          "type": "string",
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true
        }
      }
    },
    "Link": {
      "type": "object",
      "description": "Describes a URL link.",
      "id": "Link",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the link."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Disk": {
      "properties": {
        "lun": {
          "format": "int32",
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer"
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The disk size in GB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Disk",
      "description": "A message describing a data disk."
    },
    "DatacenterConnector": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        },
        "availableVersions": {
          "readOnly": true,
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance."
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the state was last set.",
          "type": "string"
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ]
        },
        "name": {
          "description": "Output only. The connector's name.",
          "type": "string",
          "readOnly": true
        },
        "applianceInfrastructureVersion": {
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "upgradeStatus": {
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true
        },
        "registrationId": {
          "type": "string",
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified."
        },
        "updateTime": {
          "description": "Output only. The last time the connector was updated with an API call.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DatacenterConnector",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "type": "object"
    },
    "OSDisk": {
      "type": "object",
      "description": "A message describing the OS disk.",
      "id": "OSDisk",
      "properties": {
        "type": {
          "description": "The disk's type.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "The disk's size in GB."
        },
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        }
      }
    },
    "CloneStep": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the step has ended.",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        }
      },
      "type": "object",
      "description": "CloneStep holds information about the clone step progress.",
      "id": "CloneStep"
    },
    "DiskMigrationStep": {
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "properties": {
        "provisioningTargetDisk": {
          "$ref": "ProvisioningTargetDiskStep",
          "description": "Creating target disk step."
        },
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
[...]
