{
  "fullyEncodeReservedExpansion": true,
  "title": "VMware Engine API",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "id": "vmwareengine:v1",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "batchPath": "batch",
  "name": "vmwareengine",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/solutions/vmware-as-a-service",
  "description": "The Google VMware Engine API lets you programmatically manage VMware environments.",
  "ownerDomain": "google.com",
  "revision": "20260608",
  "canonicalName": "VMware Engine",
  "version": "v1",
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "ListNetworkPoliciesResponse": {
      "description": "Response message for VmwareEngine.ListNetworkPolicies",
      "type": "object",
      "id": "ListNetworkPoliciesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkPolicies": {
          "items": {
            "$ref": "NetworkPolicy"
          },
          "type": "array",
          "description": "A list of network policies."
        },
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "UndeletePrivateCloudRequest": {
      "id": "UndeletePrivateCloudRequest",
      "properties": {
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for VmwareEngine.UndeletePrivateCloud",
      "type": "object"
    },
    "NfsDatastore": {
      "type": "object",
      "description": "The NFS datastore configuration.",
      "id": "NfsDatastore",
      "properties": {
        "thirdPartyFileService": {
          "$ref": "ThirdPartyFileService",
          "description": "Third party file service configuration"
        },
        "googleFileService": {
          "description": "Google file service configuration",
          "$ref": "GoogleFileService"
        },
        "googleVmwareFileService": {
          "description": "GCVE file service configuration",
          "$ref": "GoogleVmwareFileService"
        }
      }
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "id": "ListPrivateConnectionPeeringRoutesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "peeringRoutes": {
          "description": "A list of peering routes.",
          "type": "array",
          "items": {
            "$ref": "PeeringRoute"
          }
        }
      }
    },
    "GoogleFileService": {
      "type": "object",
      "id": "GoogleFileService",
      "properties": {
        "netappVolume": {
          "type": "string",
          "description": "Google netapp volume resource name e.g. projects/my-project/locations/me-west1-b/volumes/my-volume"
        },
        "filestoreInstance": {
          "description": "Google filestore instance resource name e.g. projects/my-project/locations/me-west1-b/instances/my-instance",
          "type": "string"
        }
      },
      "description": "Google service file service configuration"
    },
    "StretchedClusterConfig": {
      "description": "Configuration of a stretched cluster.",
      "id": "StretchedClusterConfig",
      "properties": {
        "secondaryLocation": {
          "type": "string",
          "description": "Required. Additional zone for a higher level of availability and load balancing. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-b` where `{project}` can either be a project number or a project ID."
        },
        "preferredLocation": {
          "type": "string",
          "description": "Required. Zone that will remain operational when connection between the two zones is lost. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-a` where `{project}` can either be a project number or a project ID."
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "ResetNsxCredentialsRequest": {
      "id": "ResetNsxCredentialsRequest",
      "type": "object",
      "description": "Request message for VmwareEngine.ResetNsxCredentials",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "UnmountDatastoreRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request."
        },
        "datastore": {
          "type": "string",
          "description": "Required. The resource name of the datastore to unmount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UnmountDatastoreRequest",
      "description": "Unmount Datastore Request messag",
      "type": "object"
    },
    "Credentials": {
      "properties": {
        "username": {
          "description": "Initial username.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Initial password."
        }
      },
      "id": "Credentials",
      "type": "object",
      "description": "Credentials for a private cloud."
    },
    "PeeringRoute": {
      "type": "object",
      "properties": {
        "destRange": {
          "description": "Output only. Destination range of the peering route in CIDR notation.",
          "readOnly": true,
          "type": "string"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ],
          "readOnly": true
        },
        "imported": {
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict.",
          "type": "boolean",
          "readOnly": true
        },
        "nextHopRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network."
        },
        "priority": {
          "readOnly": true,
          "description": "Output only. The priority of the peering route.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "description": "Output only. Type of the route in the peer VPC network.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Exchanged network peering route.",
      "id": "PeeringRoute"
    },
    "ListNodeTypesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeTypes": {
          "description": "A list of Node Types.",
          "items": {
            "$ref": "NodeType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListNodeTypesResponse",
      "description": "Response message for VmwareEngine.ListNodeTypes"
    },
    "ExternalAccessRule": {
      "id": "ExternalAccessRule",
      "properties": {
        "description": {
          "description": "User-provided description for this external access rule.",
          "type": "string"
        },
        "sourcePorts": {
          "items": {
            "type": "string"
          },
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`.",
          "type": "array"
        },
        "priority": {
          "type": "integer",
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`.",
          "format": "int32"
        },
        "action": {
          "description": "The action that the external access rule performs.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ],
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The rule is ready.",
            "The rule is being created.",
            "The rule is being updated.",
            "The rule is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the resource.",
          "type": "string"
        },
        "destinationPorts": {
          "description": "A list of destination ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all destination ports, specify `[\"0-65535\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The resource name of this external access rule. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-policy/externalAccessRules/my-rule`",
          "type": "string",
          "readOnly": true
        },
        "destinationIpRanges": {
          "description": "If destination ranges are specified, the external access rule applies only to the traffic that has a destination IP address in these ranges. The specified IP addresses must have reserved external IP addresses in the scope of the parent network policy. To match all external IP addresses in the scope of the parent network policy, specify `0.0.0.0/0`. To match a specific external IP address, specify it using the `IpRange.external_address` property.",
          "items": {
            "$ref": "IpRange"
          },
          "type": "array"
        },
        "ipProtocol": {
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sourceIpRanges": {
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0/0`.",
          "type": "array",
          "items": {
            "$ref": "IpRange"
          }
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources."
    },
    "AutoscalingSettings": {
      "description": "Autoscaling settings define the rules used by VMware Engine to automatically scale-out and scale-in the clusters in a private cloud.",
      "id": "AutoscalingSettings",
      "type": "object",
      "properties": {
        "autoscalingPolicies": {
          "additionalProperties": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Required. The map with autoscaling policies applied to the cluster. The key is the identifier of the policy. It must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5) Currently there map must contain only one element that describes the autoscaling policy for compute nodes.",
          "type": "object"
        },
        "maxClusterNodeCount": {
          "description": "Optional. Maximum number of nodes of any type in a cluster. If not specified the default limits apply.",
          "type": "integer",
          "format": "int32"
        },
        "coolDownPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The minimum duration between consecutive autoscale operations. It starts once addition or removal of nodes is fully completed. Defaults to 30 minutes if not specified. Cool down period must be in whole minutes (for example, 30, 31, 50, 180 minutes)."
        },
        "minClusterNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of nodes of any type in a cluster. If not specified the default limits apply."
        }
      }
    },
    "ListManagementDnsZoneBindingsResponse": {
      "id": "ListManagementDnsZoneBindingsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "managementDnsZoneBindings": {
          "type": "array",
          "description": "A list of management DNS zone bindings.",
          "items": {
            "$ref": "ManagementDnsZoneBinding"
          }
        }
      },
      "description": "Response message for VmwareEngine.ListManagementDnsZoneBindings"
    },
    "Thresholds": {
      "id": "Thresholds",
      "type": "object",
      "properties": {
        "scaleIn": {
          "description": "Required. The utilization triggering the scale-in operation in percent.",
          "type": "integer",
          "format": "int32"
        },
        "scaleOut": {
          "type": "integer",
          "description": "Required. The utilization triggering the scale-out operation in percent.",
          "format": "int32"
        }
      },
      "description": "Thresholds define the utilization of resources triggering scale-out and scale-in operations."
    },
    "ThirdPartyFileService": {
      "description": "Third party file service configuration",
      "type": "object",
      "id": "ThirdPartyFileService",
      "properties": {
        "fileShare": {
          "description": "Required. Required Mount Folder name",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. Required to identify vpc peering used for NFS access network name of NFS's vpc e.g. projects/project-id/global/networks/my-network_id"
        },
        "servers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Server IP addresses of the NFS file service. NFS v3, provide a single IP address or DNS name. Multiple servers can be supported in future when NFS 4.1 protocol support is enabled."
        }
      }
    },
    "Announcement": {
      "description": "Announcement for the resources of Vmware Engine.",
      "properties": {
        "cluster": {
          "description": "A Cluster resource name.",
          "type": "string"
        },
        "activityType": {
          "description": "Optional. Activity type of the announcement There can be only one active announcement for a given activity type and target resource.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Active announcement which should be visible to user.",
            "Inactive announcement which should not be visible to user.",
            "Announcement which is being deleted",
            "Announcement which being created"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Additional structured details about this announcement."
        },
        "targetResourceType": {
          "type": "string",
          "description": "Output only. Target Resource Type defines the type of the target for the announcement",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the announcement. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/announcements/my-announcement-id`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource. It also serves as start time of notification.",
          "readOnly": true
        },
        "privateCloud": {
          "description": "A Private Cloud resource name.",
          "type": "string"
        },
        "code": {
          "description": "Required. Code of the announcement. Indicates the presence of a VMware Engine related announcement and corresponds to a related message in the `description` field.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource."
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of the announcement.",
          "readOnly": true
        }
      },
      "id": "Announcement",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Vcenter": {
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        }
      },
      "id": "Vcenter",
      "type": "object",
      "description": "Details about a vCenter Server management appliance."
    },
    "ListHcxActivationKeysResponse": {
      "description": "Response message for VmwareEngine.ListHcxActivationKeys",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        },
        "hcxActivationKeys": {
          "description": "List of HCX activation keys.",
          "items": {
            "$ref": "HcxActivationKey"
          },
          "type": "array"
        }
      },
      "id": "ListHcxActivationKeysResponse",
      "type": "object"
    },
    "ListPrivateCloudsResponse": {
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "id": "ListPrivateCloudsResponse",
      "type": "object",
      "properties": {
        "privateClouds": {
          "description": "A list of private clouds.",
          "type": "array",
          "items": {
            "$ref": "PrivateCloud"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DnsBindPermission": {
      "description": "DnsBindPermission resource that contains the accounts having the consumer DNS bind permission on the corresponding intranet VPC of the consumer project.",
      "type": "object",
      "properties": {
        "principals": {
          "items": {
            "$ref": "Principal"
          },
          "type": "array",
          "description": "Output only. Users/Service accounts which have access for binding on the intranet VPC project corresponding to the consumer project.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. The name of the resource which stores the users/service accounts having the permission to bind to the corresponding intranet VPC of the consumer project. DnsBindPermission is a global resource and location can only be global. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/dnsBindPermission`",
          "readOnly": true
        }
      },
      "id": "DnsBindPermission"
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object"
    },
    "NodeTypeConfig": {
      "id": "NodeTypeConfig",
      "description": "Information about the type and number of nodes associated with the cluster.",
      "type": "object",
      "properties": {
        "customCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used."
        },
        "nodeCount": {
          "format": "int32",
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer"
        }
      }
    },
    "MigrateManagementVmsRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The user-provided identifier of the workload cluster to which the management VMs are to be migrated. The cluster must be in the same private cloud as the one specified in `name`, and must be a workload cluster. The eventual cluster name will be constructed from the private cloud name and this cluster ID."
        },
        "etag": {
          "description": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for VmwareEngine.MigrateManagementVms",
      "type": "object",
      "id": "MigrateManagementVmsRequest"
    },
    "NetworkPeering": {
      "description": "Details of a network peering.",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "peerMtu": {
          "type": "integer",
          "description": "Optional. Maximum transmission unit (MTU) in bytes. The default value is `1500`. If a value of `0` is provided for this field, VMware Engine uses the default value instead.",
          "format": "int32"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Output Only. Details about the current state of the network peering."
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "exchangeSubnetRoutes": {
          "type": "boolean",
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this network peering."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ]
        },
        "peerNetworkType": {
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers",
            "Peering connection used for connecting to Google Cloud NetApp Volumes.",
            "Peering connection used for connecting to Google Cloud Filestore Instances."
          ],
          "type": "string",
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE",
            "GOOGLE_CLOUD_NETAPP_VOLUMES",
            "GOOGLE_CLOUD_FILESTORE_INSTANCES"
          ],
          "description": "Required. The type of the network to peer with the VMware Engine network."
        },
        "peerNetwork": {
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects/{project}/global/networks/{network_id}`, where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "exportCustomRoutes": {
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the network peering. NetworkPeering is a global resource and location can only be global. Resource names are scheme-less URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/networkPeerings/my-peering`",
          "readOnly": true
        },
        "exportCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always exported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "importCustomRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always imported to peers and are not controlled by this field."
        },
        "importCustomRoutes": {
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        }
      },
      "id": "NetworkPeering",
      "type": "object"
    },
    "NetworkService": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "True if the service is enabled; false otherwise."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned/deprovisioned.",
            "Service is active."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ],
          "description": "Output only. State of the service. New values may be added to this enum when appropriate."
        }
      },
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet.",
      "id": "NetworkService"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListExternalAddressesResponse": {
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        }
      },
      "id": "ListExternalAddressesResponse"
    },
    "DatastoreNetwork": {
      "description": "The network configuration for the datastore.",
      "properties": {
        "mtu": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility."
        },
        "subnet": {
          "type": "string",
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet"
        },
        "networkPeering": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering"
        },
        "connectionCount": {
          "format": "int32",
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts.",
          "type": "integer"
        }
      },
      "id": "DatastoreNetwork",
      "type": "object"
    },
    "AutoscalingPolicy": {
      "description": "Autoscaling policy describes the behavior of the autoscaling with respect to the resource utilization. The scale-out operation is initiated if the utilization exceeds ANY of the respective thresholds. The scale-in operation is initiated if the utilization is below ALL of the respective thresholds.",
      "type": "object",
      "properties": {
        "nodeTypeId": {
          "description": "Required. The canonical identifier of the node type to add or remove. Corresponds to the `NodeType`.",
          "type": "string"
        },
        "consumedMemoryThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed memory."
        },
        "cpuThresholds": {
          "description": "Optional. Utilization thresholds pertaining to CPU utilization.",
          "$ref": "Thresholds"
        },
        "grantedMemoryThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of granted memory."
        },
        "scaleOutSize": {
          "type": "integer",
          "description": "Required. Number of nodes to add to a cluster during a scale-out operation. Must be divisible by 2 for stretched clusters. During a scale-in operation only one node (or 2 for stretched clusters) are removed in a single iteration.",
          "format": "int32"
        },
        "storageThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed storage."
        }
      },
      "id": "AutoscalingPolicy"
    },
    "ExternalAddress": {
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ],
          "description": "Output only. The state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this resource."
        },
        "internalIp": {
          "description": "The internal IP address of a workload VM.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "externalIp": {
          "readOnly": true,
          "description": "Output only. The external IP address of a workload VM.",
          "type": "string"
        }
      },
      "id": "ExternalAddress"
    },
    "Nsx": {
      "description": "Details about a NSX Manager appliance.",
      "id": "Nsx",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "description": "Output only. The state of the appliance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        }
      }
    },
    "ResetVcenterCredentialsRequest": {
      "id": "ResetVcenterCredentialsRequest",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for VmwareEngine.ResetVcenterCredentials",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "PrivateConnection": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this private connection."
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`"
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default."
        },
        "routingMode": {
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Private connection type.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ]
        },
        "peeringId": {
          "type": "string",
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "serviceNetwork": {
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the private connection.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ]
        },
        "peeringState": {
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ],
          "readOnly": true,
          "description": "Output only. Peering state between service network and VMware Engine network.",
          "type": "string",
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ]
        }
      },
      "id": "PrivateConnection",
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds."
    },
    "NetworkConfig": {
      "properties": {
        "dnsServerIp": {
          "description": "Output only. DNS Server IP of the Private Cloud. All DNS queries can be forwarded to this address for name resolution of Private Cloud's management entities like vCenter, NSX-T Manager and ESXi hosts.",
          "readOnly": true,
          "type": "string"
        },
        "managementIpAddressLayoutVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features.",
          "readOnly": true
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "managementCidr": {
          "description": "Required. Management CIDR used by VMware management appliances.",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        }
      },
      "id": "NetworkConfig",
      "type": "object",
      "description": "Network configuration in the consumer project with which the peering has to be done."
    },
    "LoggingServer": {
      "properties": {
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sourceType": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Logs produced by ESXI hosts",
            "Logs produced by vCenter server"
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ESXI",
            "VCSA"
          ],
          "description": "Required. The type of component that produces logs that will be forwarded to this logging server.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Fully-qualified domain name (FQDN) or IP Address of the logging server."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this logging server. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/loggingServers/my-logging-server`",
          "readOnly": true
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Port number at which the logging server receives logs."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified communications protocol. This is the default value.",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "description": "Required. Protocol used by vCenter to send logs to a logging server.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ]
        }
      },
      "id": "LoggingServer",
      "type": "object",
      "description": "Logging server to receive vCenter or ESXi logs."
    },
    "ListVmwareEngineNetworksResponse": {
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks",
      "type": "object",
      "properties": {
        "vmwareEngineNetworks": {
          "type": "array",
          "description": "A list of VMware Engine networks.",
          "items": {
            "$ref": "VmwareEngineNetwork"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListVmwareEngineNetworksResponse"
    },
    "ListDatastoresResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "datastores": {
          "description": "A list of Datastores.",
          "type": "array",
          "items": {
            "$ref": "Datastore"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        }
      },
      "id": "ListDatastoresResponse",
      "description": "Response message for VmwareEngine.ListDatastores"
    },
    "VpcNetwork": {
      "description": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource.",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "VPC network that will be peered with a consumer VPC network or the intranet VPC of another VMware Engine network. Access a private cloud through Compute Engine VMs on a peered VPC network or an on-premises resource connected to a peered consumer VPC network.",
            "VPC network used for internet access to and from a private cloud.",
            "VPC network used for access to Google Cloud services like Cloud Storage."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTRANET",
            "INTERNET",
            "GOOGLE_CLOUD"
          ],
          "type": "string"
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects/123123/global/networks/my-network`"
        }
      },
      "id": "VpcNetwork"
    },
    "Constraints": {
      "description": "Constraints to be applied while editing a schedule. These constraints ensure that `Upgrade` specific requirements are met.",
      "type": "object",
      "id": "Constraints",
      "properties": {
        "rescheduleDateRange": {
          "$ref": "Interval",
          "readOnly": true,
          "description": "Output only. Output Only. The user can only reschedule an upgrade that starts within this range."
        },
        "minHoursDay": {
          "type": "integer",
          "description": "Output only. Minimum number of hours must be allotted for the upgrade activities for each selected day. This is a minimum; the upgrade schedule can allot more hours for the given day.",
          "readOnly": true,
          "format": "int32"
        },
        "disallowedIntervals": {
          "items": {
            "$ref": "WeeklyTimeInterval"
          },
          "readOnly": true,
          "description": "Output only. Output Only. A list of intervals in which maintenance windows are not allowed. Any time window that overlaps with any of these intervals will be considered invalid.",
          "type": "array"
        },
        "minHoursWeek": {
          "readOnly": true,
          "description": "Output only. The minimum number of weekly hours must be allotted for the upgrade activities. This is just a minimum; the schedule can assign more weekly hours.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListSubnetsResponse": {
      "description": "Response message for VmwareEngine.ListSubnets",
      "id": "ListSubnetsResponse",
      "type": "object",
      "properties": {
        "subnets": {
          "items": {
            "$ref": "Subnet"
          },
          "type": "array",
          "description": "A list of subnets."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ForwardingRule": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain used to resolve a `name_servers` list."
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of DNS servers to use for domain resolution",
          "type": "array"
        }
      },
      "description": "A forwarding rule is a mapping of a `domain` to `name_servers`. This mapping allows VMware Engine to resolve domains for attached private clouds by forwarding DNS requests for a given domain to the specified nameservers.",
      "type": "object",
      "id": "ForwardingRule"
    },
    "Datastore": {
      "description": "Represents a datastore resource.",
      "id": "Datastore",
      "type": "object",
      "properties": {
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description for this datastore",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "nfsDatastore": {
          "description": "Required. Settings for the NFS datastore.",
          "$ref": "NfsDatastore"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The NFS volume is being created.",
            "The NFS volume is active.",
            "The NFS volume is being updated.",
            "The NFS volume is being deleted."
          ],
          "description": "Output only. The state of the Datastore."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "clusters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Clusters to which the datastore is attached.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this datastore. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/datastore`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ManagementCluster": {
      "description": "Management cluster configuration.",
      "id": "ManagementCluster",
      "properties": {
        "nodeTypeConfigs": {
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "type": "object"
        },
        "stretchedClusterConfig": {
          "$ref": "StretchedClusterConfig",
          "description": "Optional. Configuration of a stretched cluster. Required for STRETCHED private clouds."
        },
        "clusterId": {
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "capabilities": {
          "type": "array",
          "items": {
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "Stretch clusters are supported in this location."
            ],
            "type": "string"
          },
          "description": "Output only. Capabilities of this location.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field."
    },
    "Upgrade": {
      "type": "object",
      "id": "Upgrade",
      "description": "Describes Private cloud Upgrade.",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "startVersion": {
          "description": "Output only. Output Only. The start version",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the private cloud `Upgrade`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/privateClouds/my-cloud/upgrades/my-upgrade`",
          "type": "string",
          "readOnly": true
        },
        "targetVersion": {
          "type": "string",
          "description": "Output only. Output Only. The target version",
          "readOnly": true
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "Schedule details for the upgrade."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Output Only. End time of the upgrade.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "The etag for the upgrade resource. If this is provided on update, it must match the server's etag."
        },
        "version": {
          "readOnly": true,
          "description": "Output only. ",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Output Only. Last update time of this resource."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Output Only. Creation time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "componentUpgrades": {
          "items": {
            "$ref": "VmwareUpgradeComponent"
          },
          "description": "Output only. Output Only. The list of component upgrades.",
          "readOnly": true,
          "type": "array"
        },
        "estimatedDuration": {
          "type": "string",
          "description": "Output only. Output Only. The estimated total duration of the upgrade. This information can be used to plan or schedule upgrades to minimize disruptions. Please note that the estimated duration is only an estimate. The actual upgrade duration may vary.",
          "readOnly": true,
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the upgrade.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled but not started yet.",
            "The upgrade is currently in progress and has not completed yet.",
            "The upgrade completed successfully.",
            "The upgrade is currently paused.",
            "The upgrade failed.",
            "The upgrade is in process of being canceled.",
            "The upgrade is canceled.",
            "The upgrade is in process of being rescheduled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "ONGOING",
            "SUCCEEDED",
            "PAUSED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "RESCHEDULING"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Upgrade of vmware components when a major version is available. 7.0u2 -> 7.0u3.",
            "Patching of vmware components when a minor version is available. 7.0u2c -> 7.0u2d.",
            "Workarounds are hotfixes for vulnerabilities or issues applied to mitigate the known vulnerability or issue until a patch or update is released. The description of the upgrade will have more details.",
            "Firmware upgrade for VMware product used in the private cloud.",
            "Switch upgrade.",
            "The upgrade type that doesn't fall into any other category.",
            "Infrastructure upgrade in BM node maintenance."
          ],
          "description": "Output only. Output Only. The type of upgrade.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "VSPHERE_UPGRADE",
            "VSPHERE_PATCH",
            "WORKAROUND",
            "FIRMWARE_UPGRADE",
            "SWITCH_UPGRADE",
            "OTHER",
            "INFRASTRUCTURE_UPGRADE"
          ],
          "readOnly": true
        },
        "description": {
          "description": "Output only. Output Only. The description of the upgrade. This is used to provide additional information about the private cloud upgrade, such as the upgrade's purpose, the changes included in the upgrade, or any other relevant information about the upgrade.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "type": "object",
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "edgeServicesCidr": {
          "type": "string",
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network."
        },
        "externalIp": {
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled.",
          "$ref": "NetworkService"
        },
        "internetAccess": {
          "description": "Network service that allows VMware workloads to access the internet.",
          "$ref": "NetworkService"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this network policy."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`",
          "readOnly": true
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string"
        }
      }
    },
    "TimeWindow": {
      "description": "Represents the time window to perform upgrade activities.",
      "type": "object",
      "id": "TimeWindow",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "Required. The duration of the window. The max allowed duration for any window is 24 hours.",
          "type": "string"
        },
        "dayOfWeek": {
          "description": "Required. Day of the week for this window.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the window starts."
        }
      }
    },
    "MountDatastoreRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request."
        },
        "datastoreMountConfig": {
          "$ref": "DatastoreMountConfig",
          "description": "Required. The datastore mount configuration."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "ignoreColocation": {
          "description": "Optional. If set to true, the colocation requirement will be ignored. If set to false, the colocation requirement will be enforced. If not set, the colocation requirement will be enforced. Colocation requirement is the requirement that the cluster must be in the same region/zone of datastore(regional/zonal datastore).",
          "type": "boolean"
        }
      },
      "id": "MountDatastoreRequest",
      "description": "Mount Datastore Request message",
      "type": "object"
    },
    "GoogleVmwareFileService": {
      "properties": {},
      "id": "GoogleVmwareFileService",
      "description": "Volume message captures user inputs for creation of file services managed by GCVE",
      "type": "object"
    },
    "Subnet": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ]
        },
        "vlanId": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured",
          "format": "int32"
        },
        "ipCidrRange": {
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'.",
          "type": "string"
        },
        "gatewayIp": {
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`"
        },
        "type": {
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Subnet",
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated."
    },
    "Principal": {
      "properties": {
        "user": {
          "description": "The user who needs to be granted permission.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account which needs to be granted the permission.",
          "type": "string"
        }
      },
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project.",
      "type": "object",
      "id": "Principal"
    },
    "PrivateCloud": {
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional.",
      "id": "PrivateCloud",
      "properties": {
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the resource was scheduled for deletion."
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the private cloud. If this field is left unspecified, Google default encryption is used.",
          "$ref": "EncryptionConfig"
        },
        "vcenter": {
          "$ref": "Vcenter",
[...]
