{
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "VMware Engine",
  "version": "v1",
  "basePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260608",
  "schemas": {
    "ListExternalAccessRulesResponse": {
      "id": "ListExternalAccessRulesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListExternalAccessRules",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "externalAccessRules": {
          "items": {
            "$ref": "ExternalAccessRule"
          },
          "type": "array",
          "description": "A list of external access firewall rules."
        }
      }
    },
    "ListPrivateCloudsResponse": {
      "id": "ListPrivateCloudsResponse",
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "properties": {
        "privateClouds": {
          "description": "A list of private clouds.",
          "items": {
            "$ref": "PrivateCloud"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        }
      },
      "type": "object"
    },
    "NfsDatastore": {
      "description": "The NFS datastore configuration.",
      "id": "NfsDatastore",
      "properties": {
        "thirdPartyFileService": {
          "description": "Third party file service configuration",
          "$ref": "ThirdPartyFileService"
        },
        "googleVmwareFileService": {
          "description": "GCVE file service configuration",
          "$ref": "GoogleVmwareFileService"
        },
        "googleFileService": {
          "description": "Google file service configuration",
          "$ref": "GoogleFileService"
        }
      },
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnections",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "privateConnections": {
          "items": {
            "$ref": "PrivateConnection"
          },
          "type": "array",
          "description": "A list of private connections."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "announcements": {
          "description": "A list of announcement runs.",
          "items": {
            "$ref": "Announcement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "list of unreachable locations",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListAnnouncementsResponse",
      "description": "Response message for VmwareEngine.ListAnnouncements"
    },
    "VpcNetwork": {
      "description": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource.",
      "id": "VpcNetwork",
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects/123123/global/networks/my-network`"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTRANET",
            "INTERNET",
            "GOOGLE_CLOUD"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "VPC network that will be peered with a consumer VPC network or the intranet VPC of another VMware Engine network. Access a private cloud through Compute Engine VMs on a peered VPC network or an on-premises resource connected to a peered consumer VPC network.",
            "VPC network used for internet access to and from a private cloud.",
            "VPC network used for access to Google Cloud services like Cloud Storage."
          ],
          "type": "string",
          "description": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)"
        }
      },
      "type": "object"
    },
    "RepairManagementDnsZoneBindingRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RepairManagementDnsZoneBindingRequest",
      "type": "object",
      "description": "Request message for VmwareEngine.RepairManagementDnsZoneBindings"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "Thresholds": {
      "type": "object",
      "id": "Thresholds",
      "description": "Thresholds define the utilization of resources triggering scale-out and scale-in operations.",
      "properties": {
        "scaleOut": {
          "description": "Required. The utilization triggering the scale-out operation in percent.",
          "format": "int32",
          "type": "integer"
        },
        "scaleIn": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The utilization triggering the scale-in operation in percent."
        }
      }
    },
    "ListHcxActivationKeysResponse": {
      "id": "ListHcxActivationKeysResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListHcxActivationKeys",
      "properties": {
        "hcxActivationKeys": {
          "type": "array",
          "description": "List of HCX activation keys.",
          "items": {
            "$ref": "HcxActivationKey"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Credentials": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Initial username."
        },
        "password": {
          "type": "string",
          "description": "Initial password."
        }
      },
      "id": "Credentials",
      "description": "Credentials for a private cloud."
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "properties": {
        "peeringRoutes": {
          "type": "array",
          "description": "A list of peering routes.",
          "items": {
            "$ref": "PeeringRoute"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "id": "ListPrivateConnectionPeeringRoutesResponse"
    },
    "AutoscalingPolicy": {
      "id": "AutoscalingPolicy",
      "description": "Autoscaling policy describes the behavior of the autoscaling with respect to the resource utilization. The scale-out operation is initiated if the utilization exceeds ANY of the respective thresholds. The scale-in operation is initiated if the utilization is below ALL of the respective thresholds.",
      "type": "object",
      "properties": {
        "cpuThresholds": {
          "description": "Optional. Utilization thresholds pertaining to CPU utilization.",
          "$ref": "Thresholds"
        },
        "storageThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed storage."
        },
        "consumedMemoryThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed memory."
        },
        "grantedMemoryThresholds": {
          "description": "Optional. Utilization thresholds pertaining to amount of granted memory.",
          "$ref": "Thresholds"
        },
        "scaleOutSize": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of nodes to add to a cluster during a scale-out operation. Must be divisible by 2 for stretched clusters. During a scale-in operation only one node (or 2 for stretched clusters) are removed in a single iteration."
        },
        "nodeTypeId": {
          "description": "Required. The canonical identifier of the node type to add or remove. Corresponds to the `NodeType`.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PeeringRoute": {
      "properties": {
        "nextHopRegion": {
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network.",
          "readOnly": true,
          "type": "string"
        },
        "imported": {
          "type": "boolean",
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict.",
          "readOnly": true
        },
        "destRange": {
          "description": "Output only. Destination range of the peering route in CIDR notation.",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "description": "Output only. The priority of the peering route.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "description": "Output only. Type of the route in the peer VPC network.",
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "type": "string"
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ],
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PeeringRoute",
      "type": "object",
      "description": "Exchanged network peering route."
    },
    "VmwareEngineNetwork": {
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the VMware Engine network."
        },
        "vpcNetworks": {
          "items": {
            "$ref": "VpcNetwork"
          },
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "readOnly": true,
          "type": "array"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments.",
            "Standard network type used for private cloud connectivity."
          ],
          "description": "Required. VMware Engine network type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY",
            "STANDARD"
          ]
        }
      },
      "id": "VmwareEngineNetwork"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "NetworkPeering": {
      "properties": {
        "peerNetworkType": {
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE",
            "GOOGLE_CLOUD_NETAPP_VOLUMES",
            "GOOGLE_CLOUD_FILESTORE_INSTANCES"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers",
            "Peering connection used for connecting to Google Cloud NetApp Volumes.",
            "Peering connection used for connecting to Google Cloud Filestore Instances."
          ],
          "description": "Required. The type of the network to peer with the VMware Engine network.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "peerMtu": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum transmission unit (MTU) in bytes. The default value is `1500`. If a value of `0` is provided for this field, VMware Engine uses the default value instead."
        },
        "exchangeSubnetRoutes": {
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'.",
          "type": "boolean"
        },
        "peerNetwork": {
          "type": "string",
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects/{project}/global/networks/{network_id}`, where `{project}` can either be a project number or a project ID."
        },
        "exportCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always exported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Output Only. Details about the current state of the network peering."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "type": "string",
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate."
        },
        "description": {
          "description": "Optional. User-provided description for this network peering.",
          "type": "string"
        },
        "importCustomRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always imported to peers and are not controlled by this field."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the network peering. NetworkPeering is a global resource and location can only be global. Resource names are scheme-less URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/networkPeerings/my-peering`"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime"
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        },
        "exportCustomRoutes": {
          "type": "boolean",
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true."
        },
        "importCustomRoutes": {
          "type": "boolean",
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true."
        }
      },
      "id": "NetworkPeering",
      "description": "Details of a network peering.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "ListDatastoresResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "datastores": {
          "items": {
            "$ref": "Datastore"
          },
          "description": "A list of Datastores.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for VmwareEngine.ListDatastores",
      "id": "ListDatastoresResponse"
    },
    "ListVmwareEngineNetworksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "vmwareEngineNetworks": {
          "description": "A list of VMware Engine networks.",
          "items": {
            "$ref": "VmwareEngineNetwork"
          },
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks",
      "type": "object",
      "id": "ListVmwareEngineNetworksResponse"
    },
    "GrantDnsBindPermissionRequest": {
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project.",
          "$ref": "Principal"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "GrantDnsBindPermissionRequest",
      "type": "object",
      "description": "Request message for VmwareEngine.GrantDnsBindPermission"
    },
    "Constraints": {
      "properties": {
        "disallowedIntervals": {
          "items": {
            "$ref": "WeeklyTimeInterval"
          },
          "type": "array",
          "description": "Output only. Output Only. A list of intervals in which maintenance windows are not allowed. Any time window that overlaps with any of these intervals will be considered invalid.",
          "readOnly": true
        },
        "minHoursDay": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Minimum number of hours must be allotted for the upgrade activities for each selected day. This is a minimum; the upgrade schedule can allot more hours for the given day.",
          "readOnly": true
        },
        "minHoursWeek": {
          "description": "Output only. The minimum number of weekly hours must be allotted for the upgrade activities. This is just a minimum; the schedule can assign more weekly hours.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "rescheduleDateRange": {
          "description": "Output only. Output Only. The user can only reschedule an upgrade that starts within this range.",
          "readOnly": true,
          "$ref": "Interval"
        }
      },
      "type": "object",
      "description": "Constraints to be applied while editing a schedule. These constraints ensure that `Upgrade` specific requirements are met.",
      "id": "Constraints"
    },
    "ListNodeTypesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nodeTypes": {
          "description": "A list of Node Types.",
          "items": {
            "$ref": "NodeType"
          },
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListNodeTypes",
      "id": "ListNodeTypesResponse",
      "type": "object"
    },
    "DatastoreMountConfig": {
      "id": "DatastoreMountConfig",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
        },
        "accessMode": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "type": "string",
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ]
        },
        "datastoreNetwork": {
          "$ref": "DatastoreNetwork",
          "description": "Required. The network configuration for the datastore."
        },
        "fileShare": {
          "type": "string",
          "description": "Output only. File share name.",
          "readOnly": true
        },
        "nfsVersion": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ],
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ],
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "type": "string"
        },
        "servers": {
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The Datastore Mount configuration"
    },
    "UndeletePrivateCloudRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "UndeletePrivateCloudRequest",
      "description": "Request message for VmwareEngine.UndeletePrivateCloud"
    },
    "ListClustersResponse": {
      "description": "Response message for VmwareEngine.ListClusters",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "A list of private cloud clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListClustersResponse"
    },
    "ExternalAccessRule": {
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources.",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the resource.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The rule is ready.",
            "The rule is being created.",
            "The rule is being updated.",
            "The rule is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ]
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`."
        },
        "sourcePorts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`."
        },
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of destination ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all destination ports, specify `[\"0-65535\"]`."
        },
        "action": {
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The action that the external access rule performs."
        },
        "description": {
          "description": "User-provided description for this external access rule.",
          "type": "string"
        },
        "sourceIpRanges": {
          "type": "array",
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0/0`.",
          "items": {
            "$ref": "IpRange"
          }
        },
        "ipProtocol": {
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`.",
          "type": "string"
        },
        "destinationIpRanges": {
          "items": {
            "$ref": "IpRange"
          },
          "type": "array",
          "description": "If destination ranges are specified, the external access rule applies only to the traffic that has a destination IP address in these ranges. The specified IP addresses must have reserved external IP addresses in the scope of the parent network policy. To match all external IP addresses in the scope of the parent network policy, specify `0.0.0.0/0`. To match a specific external IP address, specify it using the `IpRange.external_address` property."
        },
        "name": {
          "description": "Output only. The resource name of this external access rule. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-policy/externalAccessRules/my-rule`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ExternalAccessRule",
      "type": "object"
    },
    "PrivateCloud": {
      "id": "PrivateCloud",
      "type": "object",
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional.",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "managementCluster": {
          "$ref": "ManagementCluster",
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`."
        },
        "type": {
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes.",
            "Stretched private cloud is a regional resource with redundancy, with a minimum of 6 nodes, nodes count has to be even."
          ],
          "type": "string",
          "enum": [
            "STANDARD",
            "TIME_LIMITED",
            "STRETCHED"
          ],
          "description": "Optional. Type of the private cloud. Defaults to STANDARD."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption configuration for the private cloud. If this field is left unspecified, Google default encryption is used."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ],
          "type": "string",
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "readOnly": true
        },
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource."
        },
        "hcx": {
          "readOnly": true,
          "description": "Output only. HCX appliance.",
          "$ref": "Hcx"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the resource was scheduled for deletion.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this private cloud."
        },
        "nsx": {
          "$ref": "Nsx",
          "description": "Output only. NSX appliance.",
          "readOnly": true
        },
        "vcenter": {
          "$ref": "Vcenter",
          "description": "Output only. Vcenter appliance.",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the resource will be irreversibly deleted."
        }
      }
    },
    "DnsForwarding": {
      "id": "DnsForwarding",
      "properties": {
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this DNS profile. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/dnsForwarding`",
          "readOnly": true
        },
        "forwardingRules": {
          "type": "array",
          "items": {
            "$ref": "ForwardingRule"
          },
          "description": "Required. List of domain mappings to configure"
        }
      },
      "type": "object",
      "description": "DNS forwarding config. This config defines a list of domain to name server mappings, and is attached to the private cloud for custom domain resolution."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Hcx": {
      "properties": {
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed.",
            "The appliance is being activated."
          ],
          "description": "Output only. The state of the appliance.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "ACTIVATING"
          ]
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Hcx",
      "description": "Details about a HCX Cloud Manager appliance."
    },
    "ListUpgradesResponse": {
      "id": "ListUpgradesResponse",
      "description": "Response message for VmwareEngine.ListUpgrades.",
      "type": "object",
      "properties": {
        "upgrades": {
          "description": "A list of `Upgrades`.",
          "type": "array",
          "items": {
            "$ref": "Upgrade"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of unreachable resources.",
          "type": "array"
        }
      }
    },
    "NodeTypeConfig": {
      "description": "Information about the type and number of nodes associated with the cluster.",
      "properties": {
        "customCoreCount": {
          "type": "integer",
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "format": "int32"
        },
        "nodeCount": {
          "format": "int32",
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "NodeTypeConfig"
    },
    "Vcenter": {
      "id": "Vcenter",
      "type": "object",
      "description": "Details about a vCenter Server management appliance.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "description": "Output only. The state of the appliance."
        },
        "version": {
          "type": "string",
          "description": "Version of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        }
      }
    },
    "ListNetworkPeeringsResponse": {
      "properties": {
        "networkPeerings": {
          "description": "A list of network peerings.",
          "type": "array",
          "items": {
            "$ref": "NetworkPeering"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        }
      },
      "id": "ListNetworkPeeringsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListNetworkPeerings"
    },
    "RevokeDnsBindPermissionRequest": {
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project.",
          "$ref": "Principal"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RevokeDnsBindPermissionRequest",
      "type": "object",
      "description": "Request message for VmwareEngine.RevokeDnsBindPermission"
    },
    "IpRange": {
      "description": "An IP range provided in any one of the supported formats.",
      "id": "IpRange",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "A single IP address. For example: `10.0.0.5`.",
          "type": "string"
        },
        "externalAddress": {
          "description": "The name of an `ExternalAddress` resource. The external address must have been reserved in the scope of this external access rule's parent network policy. Provide the external address name in the form of `projects/{project}/locations/{location}/privateClouds/{private_cloud}/externalAddresses/{external_address}`. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`.",
          "type": "string"
        },
        "ipAddressRange": {
          "description": "An IP address range in the CIDR format. For example: `10.0.0.0/24`.",
          "type": "string"
        }
      }
    },
    "Nsx": {
      "id": "Nsx",
      "description": "Details about a NSX Manager appliance.",
      "type": "object",
      "properties": {
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ]
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        }
      }
    },
    "ResetVcenterCredentialsRequest": {
      "type": "object",
      "id": "ResetVcenterCredentialsRequest",
      "description": "Request message for VmwareEngine.ResetVcenterCredentials",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Announcement": {
      "description": "Announcement for the resources of Vmware Engine.",
      "type": "object",
      "id": "Announcement",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. Code of the announcement. Indicates the presence of a VMware Engine related announcement and corresponds to a related message in the `description` field."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource. It also serves as start time of notification."
        },
        "privateCloud": {
          "description": "A Private Cloud resource name.",
          "type": "string"
        },
        "activityType": {
          "description": "Optional. Activity type of the announcement There can be only one active announcement for a given activity type and target resource.",
          "type": "string"
        },
        "targetResourceType": {
          "type": "string",
          "description": "Output only. Target Resource Type defines the type of the target for the announcement",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "CREATING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Active announcement which should be visible to user.",
            "Inactive announcement which should not be visible to user.",
            "Announcement which is being deleted",
            "Announcement which being created"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the announcement. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/announcements/my-announcement-id`"
        },
        "metadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Additional structured details about this announcement."
        },
        "cluster": {
          "type": "string",
          "description": "A Cluster resource name."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the announcement."
        }
      }
    },
    "ListLoggingServersResponse": {
      "properties": {
        "loggingServers": {
          "items": {
            "$ref": "LoggingServer"
          },
          "type": "array",
          "description": "A list of Logging Servers."
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListLoggingServersResponse",
      "description": "Response message for VmwareEngine.ListLoggingServers"
    },
    "FetchNetworkPolicyExternalAddressesResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.FetchNetworkPolicyExternalAddresses",
      "id": "FetchNetworkPolicyExternalAddressesResponse",
      "properties": {
        "externalAddresses": {
          "description": "A list of external IP addresses assigned to VMware workload VMs within the scope of the given network policy.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "ListPeeringRoutesResponse": {
      "description": "Response message for VmwareEngine.ListPeeringRoutes",
      "properties": {
        "peeringRoutes": {
          "description": "A list of peering routes.",
          "type": "array",
          "items": {
            "$ref": "PeeringRoute"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListPeeringRoutesResponse"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Encryption configuration for a private cloud.",
      "type": "object",
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "Optional. The resource name of the Cloud KMS key to be used for CMEK encryption. The format of this field is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`. The key must be in the same region as the private cloud. This key is used for wrapping the key-encrypting key of vSAN clusters. This field must be provided when `type` is `CMEK` or `LEGACY_CMEK`, and must not be set when `type` is `OTHER`."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CMEK",
            "LEGACY_CMEK",
            "OTHER"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Customer-managed encryption keys (CMEK).",
            "Legacy customer-managed encryption keys (CMEK).",
            "Other encryption types, such as self-managed external KMS."
          ],
          "type": "string",
          "description": "Required. The encryption type of the private cloud."
        }
      }
    },
    "HcxActivationKey": {
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "id": "HcxActivationKey",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of HCX activation key.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of HCX activation key.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ]
        },
        "name": {
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string"
        },
        "activationKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HCX activation key."
        }
      }
    },
    "ListSubnetsResponse": {
      "description": "Response message for VmwareEngine.ListSubnets",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subnets": {
          "description": "A list of subnets.",
          "type": "array",
          "items": {
            "$ref": "Subnet"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSubnetsResponse",
      "type": "object"
    },
    "Principal": {
      "properties": {
        "user": {
          "description": "The user who needs to be granted permission.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account which needs to be granted the permission."
        }
      },
      "type": "object",
      "id": "Principal",
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project."
    },
    "LoggingServer": {
      "id": "LoggingServer",
      "description": "Logging server to receive vCenter or ESXi logs.",
      "type": "object",
      "properties": {
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this logging server. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/loggingServers/my-logging-server`",
          "type": "string"
        },
        "port": {
          "description": "Required. Port number at which the logging server receives logs.",
          "type": "integer",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Fully-qualified domain name (FQDN) or IP Address of the logging server.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified communications protocol. This is the default value.",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "description": "Required. Protocol used by vCenter to send logs to a logging server.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sourceType": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Logs produced by ESXI hosts",
            "Logs produced by vCenter server"
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ESXI",
            "VCSA"
          ],
          "type": "string",
          "description": "Required. The type of component that produces logs that will be forwarded to this logging server."
        }
      }
    },
    "Schedule": {
      "properties": {
        "constraints": {
          "readOnly": true,
          "$ref": "Constraints",
          "description": "Output only. Output Only. Constraints applied to the schedule. These constraints should be applicable at the time of any rescheduling."
        },
        "weeklyWindows": {
          "description": "Required. Weekly time windows for upgrade activities. The server performs upgrade activities during these time windows to minimize disruptions.",
          "items": {
            "$ref": "TimeWindow"
          },
          "type": "array"
        },
        "editWindow": {
          "$ref": "Interval",
          "readOnly": true,
          "description": "Output only. Output Only. The schedule is open for edits during this time interval or window."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The scheduled start time for the upgrade.",
          "type": "string"
        },
        "lastEditor": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled by the System or internal service.",
            "The upgrade is scheduled by the end user."
          ],
          "description": "Output only. Output Only. Indicates who most recently edited the upgrade schedule. The value is updated whenever the upgrade is rescheduled.",
          "readOnly": true,
          "enum": [
            "EDITOR_UNSPECIFIED",
            "SYSTEM",
            "USER"
          ]
        }
      },
      "type": "object",
      "id": "Schedule",
      "description": "Schedule for the upgrade."
    },
    "ManagementDnsZoneBinding": {
      "description": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager.",
      "id": "ManagementDnsZoneBinding",
      "type": "object",
      "properties": {
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The binding is ready.",
            "The binding is being created.",
            "The binding is being updated.",
            "The binding is being deleted.",
            "The binding has failed."
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`",
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "vpcNetwork": {
          "type": "string",
          "description": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object",
      "id": "AuditConfig"
    },
    "PrivateConnection": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "peeringId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the private connection.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ]
        },
        "type": {
          "type": "string",
          "description": "Required. Private connection type.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this private connection."
        },
        "routingMode": {
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported.",
          "type": "string"
        },
        "serviceNetwork": {
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc.",
          "type": "string"
        },
        "peeringState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ],
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ],
          "description": "Output only. Peering state between service network and VMware Engine network."
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default.",
          "type": "string"
        }
      },
      "id": "PrivateConnection",
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds."
    },
    "DatastoreNetwork": {
      "properties": {
        "subnet": {
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet",
          "type": "string"
        },
        "mtu": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility."
        },
        "connectionCount": {
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts.",
          "type": "integer",
          "format": "int32"
        },
        "networkPeering": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering"
        }
      },
      "id": "DatastoreNetwork",
      "description": "The network configuration for the datastore.",
      "type": "object"
    },
    "Subnet": {
      "properties": {
        "ipCidrRange": {
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\".",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ],
          "description": "Output only. The state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ]
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`",
          "type": "string",
          "readOnly": true
        },
        "gatewayIp": {
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above.",
          "type": "string"
        },
        "vlanId": {
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated.",
      "type": "object",
      "id": "Subnet"
    },
    "ListNetworkPoliciesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "networkPolicies": {
          "description": "A list of network policies.",
          "items": {
            "$ref": "NetworkPolicy"
          },
          "type": "array"
        }
      },
      "id": "ListNetworkPoliciesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListNetworkPolicies"
    },
    "TimeWindow": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The duration of the window. The max allowed duration for any window is 24 hours."
        },
        "dayOfWeek": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Day of the week for this window.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "description": "Required. Time in UTC when the window starts.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "TimeWindow",
      "type": "object",
      "description": "Represents the time window to perform upgrade activities."
    },
    "NodeType": {
      "type": "object",
      "description": "Describes node type.",
      "id": "NodeType",
      "properties": {
        "availableCustomCoreCounts": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. List of possible values of custom core count.",
          "type": "array",
          "readOnly": true
        },
        "capabilities": {
          "description": "Output only. Capabilities of this node type.",
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "This node type supports stretch clusters."
            ]
          }
        },
        "families": {
          "description": "Output only. Families of the node type. For node types to be in the same cluster they must share at least one element in the `families`.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "memoryGb": {
          "description": "Output only. The amount of physical memory available, defined in GB.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72",
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "STANDARD",
            "STORAGE_ONLY"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Standard HCI node.",
            "Storage only Node."
          ],
          "description": "Output only. The type of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "virtualCpuCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of virtual CPUs in a single node."
        },
        "nodeTypeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72."
        },
        "diskSizeGb": {
          "description": "Output only. The amount of storage available, defined in GB.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "totalCoreCount": {
          "description": "Output only. The total number of CPU cores in a single node.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-proj/locations/us-central1-a/nodeTypes/standard-72`",
          "type": "string"
        }
      }
    },
    "ForwardingRule": {
      "properties": {
        "domain": {
          "description": "Required. Domain used to resolve a `name_servers` list.",
          "type": "string"
        },
        "nameServers": {
          "type": "array",
          "description": "Required. List of DNS servers to use for domain resolution",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ForwardingRule",
      "type": "object",
      "description": "A forwarding rule is a mapping of a `domain` to `name_servers`. This mapping allows VMware Engine to resolve domains for attached private clouds by forwarding DNS requests for a given domain to the specified nameservers."
    },
    "StretchedClusterConfig": {
      "type": "object",
      "description": "Configuration of a stretched cluster.",
      "id": "StretchedClusterConfig",
      "properties": {
        "secondaryLocation": {
          "description": "Required. Additional zone for a higher level of availability and load balancing. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-b` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "preferredLocation": {
          "description": "Required. Zone that will remain operational when connection between the two zones is lost. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-a` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      }
    },
    "VmwareUpgradeComponent": {
      "id": "VmwareUpgradeComponent",
      "description": "Per component upgrade resource",
      "properties": {
        "componentType": {
          "enum": [
            "VMWARE_COMPONENT_TYPE_UNSPECIFIED",
            "VCENTER",
            "ESXI",
            "NSXT_UC",
            "NSXT_EDGE",
            "NSXT_MGR",
            "HCX",
            "VSAN",
            "DVS",
            "NAMESERVER_VM",
            "KMS_VM",
            "WITNESS_VM",
            "NSXT",
            "CLUSTER",
            "VM_TOOLS"
          ],
          "description": "Output only. Type of component",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "vcenter",
            "esxi nodes + transport nodes",
            "nsxt upgrade coordinator",
            "nsxt edges cluster",
            "nsxt managers/management plane",
            "hcx",
            "VSAN cluster",
            "DVS switch",
            "Nameserver VMs",
            "KMS VM used for vsan encryption",
            "witness VM in case of stretch PC",
            "nsxt",
            "Cluster is used in case of BM",
            "VMware Tools."
          ],
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Component's upgrade is in progress",
            "The component's upgrade is paused. Will be resumed when upgrade job is resumed",
            "The component's upgrade is successfully completed",
[...]
