{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "version_module": true,
  "version": "v1",
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "name": "vmwareengine",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "title": "VMware Engine API",
  "servicePath": "",
  "description": "The Google VMware Engine API lets you programmatically manage VMware environments.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "vmwareengine:v1",
  "schemas": {
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DatastoreNetwork": {
      "type": "object",
      "description": "The network configuration for the datastore.",
      "properties": {
        "networkPeering": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering"
        },
        "subnet": {
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet",
          "type": "string"
        },
        "connectionCount": {
          "format": "int32",
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts.",
          "type": "integer"
        },
        "mtu": {
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DatastoreNetwork"
    },
    "ListNetworkPeeringsResponse": {
      "description": "Response message for VmwareEngine.ListNetworkPeerings",
      "id": "ListNetworkPeeringsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "networkPeerings": {
          "description": "A list of network peerings.",
          "type": "array",
          "items": {
            "$ref": "NetworkPeering"
          }
        }
      }
    },
    "GoogleVmwareFileService": {
      "id": "GoogleVmwareFileService",
      "properties": {},
      "type": "object",
      "description": "Volume message captures user inputs for creation of file services managed by GCVE"
    },
    "PrivateCloud": {
      "type": "object",
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional.",
      "id": "PrivateCloud",
      "properties": {
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption configuration for the private cloud. If this field is left unspecified, Google default encryption is used."
        },
        "nsx": {
          "$ref": "Nsx",
          "description": "Output only. NSX appliance.",
          "readOnly": true
        },
        "vcenter": {
          "description": "Output only. Vcenter appliance.",
          "$ref": "Vcenter",
          "readOnly": true
        },
        "hcx": {
          "readOnly": true,
          "description": "Output only. HCX appliance.",
          "$ref": "Hcx"
        },
        "description": {
          "description": "User-provided description for this private cloud.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the resource was scheduled for deletion."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of this resource."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ]
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "managementCluster": {
          "$ref": "ManagementCluster",
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`."
        },
        "type": {
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes.",
            "Stretched private cloud is a regional resource with redundancy, with a minimum of 6 nodes, nodes count has to be even."
          ],
          "type": "string",
          "enum": [
            "STANDARD",
            "TIME_LIMITED",
            "STRETCHED"
          ],
          "description": "Optional. Type of the private cloud. Defaults to STANDARD."
        }
      }
    },
    "Principal": {
      "id": "Principal",
      "properties": {
        "user": {
          "type": "string",
          "description": "The user who needs to be granted permission."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account which needs to be granted the permission."
        }
      },
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project.",
      "type": "object"
    },
    "ListPrivateCloudsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateClouds": {
          "items": {
            "$ref": "PrivateCloud"
          },
          "type": "array",
          "description": "A list of private clouds."
        }
      },
      "id": "ListPrivateCloudsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListPrivateClouds"
    },
    "ListExternalAddressesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        }
      },
      "id": "ListExternalAddressesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListExternalAddresses"
    },
    "HcxActivationKey": {
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of HCX activation key."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ],
          "description": "Output only. State of HCX activation key.",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`"
        },
        "activationKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. HCX activation key."
        }
      },
      "id": "HcxActivationKey",
      "type": "object"
    },
    "Nsx": {
      "id": "Nsx",
      "description": "Details about a NSX Manager appliance.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "readOnly": true
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "A list of private cloud clusters."
        }
      },
      "description": "Response message for VmwareEngine.ListClusters"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds.",
      "properties": {
        "state": {
          "description": "Output only. State of the private connection.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "peeringState": {
          "type": "string",
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ],
          "readOnly": true,
          "description": "Output only. Peering state between service network and VMware Engine network."
        },
        "peeringId": {
          "type": "string",
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork.",
          "readOnly": true
        },
        "type": {
          "description": "Required. Private connection type.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ]
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this private connection."
        },
        "serviceNetwork": {
          "type": "string",
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc."
        },
        "routingMode": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported.",
          "type": "string",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ]
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ResetVcenterCredentialsRequest": {
      "description": "Request message for VmwareEngine.ResetVcenterCredentials",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "ResetVcenterCredentialsRequest",
      "type": "object"
    },
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "description": "Encryption configuration for a private cloud.",
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "Optional. The resource name of the Cloud KMS key to be used for CMEK encryption. The format of this field is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`. The key must be in the same region as the private cloud. This key is used for wrapping the key-encrypting key of vSAN clusters. This field must be provided when `type` is `CMEK` or `LEGACY_CMEK`, and must not be set when `type` is `OTHER`."
        },
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Customer-managed encryption keys (CMEK).",
            "Legacy customer-managed encryption keys (CMEK).",
            "Other encryption types, such as self-managed external KMS."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CMEK",
            "LEGACY_CMEK",
            "OTHER"
          ],
          "description": "Required. The encryption type of the private cloud."
        }
      }
    },
    "Cluster": {
      "properties": {
        "management": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the cluster is a management cluster; false otherwise. There can only be one management cluster in a private cloud and it has to be the first one."
        },
        "datastoreMountConfig": {
          "description": "Output only. Configuration of a mounted datastore.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DatastoreMountConfig"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the resource.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "REPAIRING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The Cluster is operational and can be used by the user.",
            "The Cluster is being deployed.",
            "Adding or removing of a node to the cluster, any other cluster specific updates.",
            "The Cluster is being deleted.",
            "The Cluster is undergoing maintenance, for example: a failed node is getting replaced."
          ]
        },
        "nodeTypeConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`)."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "stretchedClusterConfig": {
          "$ref": "StretchedClusterConfig",
          "description": "Optional. Configuration of a stretched cluster. Required for clusters that belong to a STRETCHED private cloud."
        },
        "autoscalingSettings": {
          "description": "Optional. Configuration of the autoscaling applied to this cluster.",
          "$ref": "AutoscalingSettings"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of this cluster. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        }
      },
      "id": "Cluster",
      "type": "object",
      "description": "A cluster in a private cloud."
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "unreachable": {
          "description": "list of unreachable locations",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "announcements": {
          "items": {
            "$ref": "Announcement"
          },
          "description": "A list of announcement runs.",
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListAnnouncements",
      "type": "object",
      "id": "ListAnnouncementsResponse"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ListNodeTypesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "nodeTypes": {
          "description": "A list of Node Types.",
          "type": "array",
          "items": {
            "$ref": "NodeType"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for VmwareEngine.ListNodeTypes",
      "type": "object",
      "id": "ListNodeTypesResponse"
    },
    "ThirdPartyFileService": {
      "type": "object",
      "id": "ThirdPartyFileService",
      "properties": {
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Server IP addresses of the NFS file service. NFS v3, provide a single IP address or DNS name. Multiple servers can be supported in future when NFS 4.1 protocol support is enabled."
        },
        "fileShare": {
          "description": "Required. Required Mount Folder name",
          "type": "string"
        },
        "network": {
          "description": "Required. Required to identify vpc peering used for NFS access network name of NFS's vpc e.g. projects/project-id/global/networks/my-network_id",
          "type": "string"
        }
      },
      "description": "Third party file service configuration"
    },
    "ListHcxActivationKeysResponse": {
      "type": "object",
      "id": "ListHcxActivationKeysResponse",
      "properties": {
        "hcxActivationKeys": {
          "items": {
            "$ref": "HcxActivationKey"
          },
          "type": "array",
          "description": "List of HCX activation keys."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListHcxActivationKeys"
    },
    "NodeTypeConfig": {
      "properties": {
        "nodeCount": {
          "format": "int32",
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer"
        },
        "customCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used."
        }
      },
      "id": "NodeTypeConfig",
      "type": "object",
      "description": "Information about the type and number of nodes associated with the cluster."
    },
    "AutoscalingSettings": {
      "description": "Autoscaling settings define the rules used by VMware Engine to automatically scale-out and scale-in the clusters in a private cloud.",
      "type": "object",
      "id": "AutoscalingSettings",
      "properties": {
        "autoscalingPolicies": {
          "type": "object",
          "description": "Required. The map with autoscaling policies applied to the cluster. The key is the identifier of the policy. It must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5) Currently there map must contain only one element that describes the autoscaling policy for compute nodes.",
          "additionalProperties": {
            "$ref": "AutoscalingPolicy"
          }
        },
        "coolDownPeriod": {
          "type": "string",
          "description": "Optional. The minimum duration between consecutive autoscale operations. It starts once addition or removal of nodes is fully completed. Defaults to 30 minutes if not specified. Cool down period must be in whole minutes (for example, 30, 31, 50, 180 minutes).",
          "format": "google-duration"
        },
        "maxClusterNodeCount": {
          "description": "Optional. Maximum number of nodes of any type in a cluster. If not specified the default limits apply.",
          "format": "int32",
          "type": "integer"
        },
        "minClusterNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum number of nodes of any type in a cluster. If not specified the default limits apply."
        }
      }
    },
    "DatastoreMountConfig": {
      "properties": {
        "servers": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names."
        },
        "fileShare": {
          "readOnly": true,
          "description": "Output only. File share name.",
          "type": "string"
        },
        "accessMode": {
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE",
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ]
        },
        "datastoreNetwork": {
          "$ref": "DatastoreNetwork",
          "description": "Required. The network configuration for the datastore."
        },
        "nfsVersion": {
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "type": "string",
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ]
        },
        "datastore": {
          "type": "string",
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
        }
      },
      "id": "DatastoreMountConfig",
      "description": "The Datastore Mount configuration",
      "type": "object"
    },
    "NetworkPeering": {
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. Output Only. Details about the current state of the network peering.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the network peering. NetworkPeering is a global resource and location can only be global. Resource names are scheme-less URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/networkPeerings/my-peering`",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description for this network peering.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "importCustomRoutes": {
          "type": "boolean",
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true."
        },
        "peerMtu": {
          "type": "integer",
          "description": "Optional. Maximum transmission unit (MTU) in bytes. The default value is `1500`. If a value of `0` is provided for this field, VMware Engine uses the default value instead.",
          "format": "int32"
        },
        "exportCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always exported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ]
        },
        "exchangeSubnetRoutes": {
          "type": "boolean",
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'."
        },
        "peerNetworkType": {
          "description": "Required. The type of the network to peer with the VMware Engine network.",
          "type": "string",
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE",
            "GOOGLE_CLOUD_NETAPP_VOLUMES",
            "GOOGLE_CLOUD_FILESTORE_INSTANCES"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers",
            "Peering connection used for connecting to Google Cloud NetApp Volumes.",
            "Peering connection used for connecting to Google Cloud Filestore Instances."
          ]
        },
        "peerNetwork": {
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects/{project}/global/networks/{network_id}`, where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "importCustomRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always imported to peers and are not controlled by this field."
        },
        "exportCustomRoutes": {
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        }
      },
      "id": "NetworkPeering",
      "type": "object",
      "description": "Details of a network peering."
    },
    "WeeklyTimeInterval": {
      "id": "WeeklyTimeInterval",
      "properties": {
        "endTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. The time on the end day at which the interval ends."
        },
        "endDay": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "readOnly": true,
          "description": "Output only. The day on which the interval ends. Can be same as start day.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Output only. The time on the start day at which the interval starts.",
          "readOnly": true
        },
        "startDay": {
          "readOnly": true,
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Output only. The day on which the interval starts.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "Represents a time interval, spanning across days of the week. Until local timezones are supported, this interval is in UTC.",
      "type": "object"
    },
    "ListPeeringRoutesResponse": {
      "description": "Response message for VmwareEngine.ListPeeringRoutes",
      "id": "ListPeeringRoutesResponse",
      "type": "object",
      "properties": {
        "peeringRoutes": {
          "type": "array",
          "description": "A list of peering routes.",
          "items": {
            "$ref": "PeeringRoute"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ManagementDnsZoneBinding": {
      "id": "ManagementDnsZoneBinding",
      "properties": {
        "vpcNetwork": {
          "type": "string",
          "description": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID."
        },
        "name": {
          "description": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID."
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The binding is ready.",
            "The binding is being created.",
            "The binding is being updated.",
            "The binding is being deleted.",
            "The binding has failed."
          ],
          "readOnly": true,
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this resource."
        }
      },
      "type": "object",
      "description": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager."
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "type": "object",
      "id": "ListPrivateConnectionPeeringRoutesResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "properties": {
        "peeringRoutes": {
          "description": "A list of peering routes.",
          "items": {
            "$ref": "PeeringRoute"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListLoggingServersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "loggingServers": {
          "description": "A list of Logging Servers.",
          "type": "array",
          "items": {
            "$ref": "LoggingServer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for VmwareEngine.ListLoggingServers",
      "id": "ListLoggingServersResponse"
    },
    "Upgrade": {
      "properties": {
        "componentUpgrades": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "VmwareUpgradeComponent"
          },
          "description": "Output only. Output Only. The list of component upgrades."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Output Only. Last update time of this resource.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Output Only. The description of the upgrade. This is used to provide additional information about the private cloud upgrade, such as the upgrade's purpose, the changes included in the upgrade, or any other relevant information about the upgrade.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the private cloud `Upgrade`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/privateClouds/my-cloud/upgrades/my-upgrade`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Output Only. Creation time of this resource.",
          "readOnly": true
        },
        "etag": {
          "description": "The etag for the upgrade resource. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "ONGOING",
            "SUCCEEDED",
            "PAUSED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "RESCHEDULING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled but not started yet.",
            "The upgrade is currently in progress and has not completed yet.",
            "The upgrade completed successfully.",
            "The upgrade is currently paused.",
            "The upgrade failed.",
            "The upgrade is in process of being canceled.",
            "The upgrade is canceled.",
            "The upgrade is in process of being rescheduled."
          ],
          "description": "Output only. The current state of the upgrade."
        },
        "estimatedDuration": {
          "description": "Output only. Output Only. The estimated total duration of the upgrade. This information can be used to plan or schedule upgrades to minimize disruptions. Please note that the estimated duration is only an estimate. The actual upgrade duration may vary.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "version": {
          "description": "Output only. ",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Output Only. End time of the upgrade.",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "targetVersion": {
          "description": "Output only. Output Only. The target version",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "VSPHERE_UPGRADE",
            "VSPHERE_PATCH",
            "WORKAROUND",
            "FIRMWARE_UPGRADE",
            "SWITCH_UPGRADE",
            "OTHER",
            "INFRASTRUCTURE_UPGRADE"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Upgrade of vmware components when a major version is available. 7.0u2 -> 7.0u3.",
            "Patching of vmware components when a minor version is available. 7.0u2c -> 7.0u2d.",
            "Workarounds are hotfixes for vulnerabilities or issues applied to mitigate the known vulnerability or issue until a patch or update is released. The description of the upgrade will have more details.",
            "Firmware upgrade for VMware product used in the private cloud.",
            "Switch upgrade.",
            "The upgrade type that doesn't fall into any other category.",
            "Infrastructure upgrade in BM node maintenance."
          ],
          "description": "Output only. Output Only. The type of upgrade.",
          "readOnly": true
        },
        "startVersion": {
          "type": "string",
          "description": "Output only. Output Only. The start version",
          "readOnly": true
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "Schedule details for the upgrade."
        }
      },
      "id": "Upgrade",
      "type": "object",
      "description": "Describes Private cloud Upgrade."
    },
    "GoogleFileService": {
      "id": "GoogleFileService",
      "description": "Google service file service configuration",
      "properties": {
        "filestoreInstance": {
          "type": "string",
          "description": "Google filestore instance resource name e.g. projects/my-project/locations/me-west1-b/instances/my-instance"
        },
        "netappVolume": {
          "description": "Google netapp volume resource name e.g. projects/my-project/locations/me-west1-b/volumes/my-volume",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmwareEngineNetwork": {
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds.",
      "id": "VmwareEngineNetwork",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`"
        },
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments.",
            "Standard network type used for private cloud connectivity."
          ],
          "description": "Required. VMware Engine network type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY",
            "STANDARD"
          ]
        },
        "etag": {
          "type": "string",
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "vpcNetworks": {
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VpcNetwork"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ],
          "readOnly": true,
          "description": "Output only. State of the VMware Engine network."
        }
      }
    },
    "Vcenter": {
      "id": "Vcenter",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ]
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        },
        "version": {
          "type": "string",
          "description": "Version of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about a vCenter Server management appliance."
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ExternalAccessRule": {
      "id": "ExternalAccessRule",
      "type": "object",
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources.",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description for this external access rule."
        },
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of destination ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all destination ports, specify `[\"0-65535\"]`."
        },
        "ipProtocol": {
          "type": "string",
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The rule is ready.",
            "The rule is being created.",
            "The rule is being updated.",
            "The rule is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. The state of the resource."
        },
        "sourceIpRanges": {
          "items": {
            "$ref": "IpRange"
          },
          "type": "array",
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0/0`."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "priority": {
          "type": "integer",
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`.",
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourcePorts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "destinationIpRanges": {
          "type": "array",
          "items": {
            "$ref": "IpRange"
          },
          "description": "If destination ranges are specified, the external access rule applies only to the traffic that has a destination IP address in these ranges. The specified IP addresses must have reserved external IP addresses in the scope of the parent network policy. To match all external IP addresses in the scope of the parent network policy, specify `0.0.0.0/0`. To match a specific external IP address, specify it using the `IpRange.external_address` property."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this external access rule. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-policy/externalAccessRules/my-rule`",
          "readOnly": true
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ],
          "description": "The action that the external access rule performs."
        }
      }
    },
    "ExternalAddress": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "internalIp": {
          "description": "The internal IP address of a workload VM.",
          "type": "string"
        },
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The external IP address of a workload VM."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ],
          "description": "Output only. The state of the resource."
        }
      },
      "id": "ExternalAddress",
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud.",
      "type": "object"
    },
    "AutoscalingPolicy": {
      "description": "Autoscaling policy describes the behavior of the autoscaling with respect to the resource utilization. The scale-out operation is initiated if the utilization exceeds ANY of the respective thresholds. The scale-in operation is initiated if the utilization is below ALL of the respective thresholds.",
      "id": "AutoscalingPolicy",
      "type": "object",
      "properties": {
        "cpuThresholds": {
          "description": "Optional. Utilization thresholds pertaining to CPU utilization.",
          "$ref": "Thresholds"
        },
        "consumedMemoryThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed memory."
        },
        "storageThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed storage."
        },
        "grantedMemoryThresholds": {
          "description": "Optional. Utilization thresholds pertaining to amount of granted memory.",
          "$ref": "Thresholds"
        },
        "nodeTypeId": {
          "description": "Required. The canonical identifier of the node type to add or remove. Corresponds to the `NodeType`.",
          "type": "string"
        },
        "scaleOutSize": {
          "description": "Required. Number of nodes to add to a cluster during a scale-out operation. Must be divisible by 2 for stretched clusters. During a scale-in operation only one node (or 2 for stretched clusters) are removed in a single iteration.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnections",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateConnections": {
          "description": "A list of private connections.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        }
      },
      "type": "object"
    },
    "NfsDatastore": {
      "type": "object",
      "properties": {
        "googleFileService": {
          "$ref": "GoogleFileService",
          "description": "Google file service configuration"
        },
        "googleVmwareFileService": {
          "$ref": "GoogleVmwareFileService",
          "description": "GCVE file service configuration"
        },
        "thirdPartyFileService": {
          "description": "Third party file service configuration",
          "$ref": "ThirdPartyFileService"
        }
      },
      "id": "NfsDatastore",
      "description": "The NFS datastore configuration."
    },
    "GrantDnsBindPermissionRequest": {
      "type": "object",
      "properties": {
        "principal": {
          "$ref": "Principal",
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "GrantDnsBindPermissionRequest",
      "description": "Request message for VmwareEngine.GrantDnsBindPermission"
    },
    "LoggingServer": {
      "id": "LoggingServer",
      "properties": {
        "port": {
          "description": "Required. Port number at which the logging server receives logs.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this logging server. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/loggingServers/my-logging-server`",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "sourceType": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Logs produced by ESXI hosts",
            "Logs produced by vCenter server"
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ESXI",
            "VCSA"
          ],
          "description": "Required. The type of component that produces logs that will be forwarded to this logging server."
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "description": "Required. Protocol used by vCenter to send logs to a logging server.",
          "enumDescriptions": [
            "Unspecified communications protocol. This is the default value.",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Fully-qualified domain name (FQDN) or IP Address of the logging server."
        }
      },
      "description": "Logging server to receive vCenter or ESXi logs.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "ForwardingRule": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. Domain used to resolve a `name_servers` list."
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of DNS servers to use for domain resolution",
          "type": "array"
        }
      },
      "description": "A forwarding rule is a mapping of a `domain` to `name_servers`. This mapping allows VMware Engine to resolve domains for attached private clouds by forwarding DNS requests for a given domain to the specified nameservers.",
      "id": "ForwardingRule",
      "type": "object"
    },
    "PeeringRoute": {
      "id": "PeeringRoute",
      "properties": {
        "imported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict."
        },
        "destRange": {
          "description": "Output only. Destination range of the peering route in CIDR notation.",
          "type": "string",
          "readOnly": true
        },
        "priority": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The priority of the peering route."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "description": "Output only. Type of the route in the peer VPC network.",
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "readOnly": true
        },
        "nextHopRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network."
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network."
        }
      },
      "description": "Exchanged network peering route.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "Subnet": {
      "type": "object",
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`"
        },
        "ipCidrRange": {
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\".",
          "readOnly": true,
          "type": "string"
        },
        "gatewayIp": {
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ],
          "description": "Output only. The state of the resource.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ],
          "readOnly": true
        },
        "vlanId": {
          "type": "integer",
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "Subnet"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListDatastoresResponse": {
      "id": "ListDatastoresResponse",
      "properties": {
        "datastores": {
          "description": "A list of Datastores.",
          "items": {
            "$ref": "Datastore"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for VmwareEngine.ListDatastores",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "TimeWindow": {
      "properties": {
        "startTime": {
          "description": "Required. Time in UTC when the window starts.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The duration of the window. The max allowed duration for any window is 24 hours."
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Day of the week for this window.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "type": "object",
      "description": "Represents the time window to perform upgrade activities.",
      "id": "TimeWindow"
    },
    "Hcx": {
      "description": "Details about a HCX Cloud Manager appliance.",
      "type": "object",
      "id": "Hcx",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "state": {
[...]
