{
  "discoveryVersion": "v1",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "ListExternalAddressesResponse": {
      "id": "ListExternalAddressesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        }
      }
    },
    "DnsBindPermission": {
      "description": "DnsBindPermission resource that contains the accounts having the consumer DNS bind permission on the corresponding intranet VPC of the consumer project.",
      "type": "object",
      "id": "DnsBindPermission",
      "properties": {
        "principals": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Users/Service accounts which have access for binding on the intranet VPC project corresponding to the consumer project.",
          "items": {
            "$ref": "Principal"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Required. Output only. The name of the resource which stores the users/service accounts having the permission to bind to the corresponding intranet VPC of the consumer project. DnsBindPermission is a global resource and location can only be global. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/dnsBindPermission`",
          "type": "string"
        }
      }
    },
    "AutoscalingSettings": {
      "id": "AutoscalingSettings",
      "properties": {
        "coolDownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The minimum duration between consecutive autoscale operations. It starts once addition or removal of nodes is fully completed. Defaults to 30 minutes if not specified. Cool down period must be in whole minutes (for example, 30, 31, 50, 180 minutes)."
        },
        "autoscalingPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Required. The map with autoscaling policies applied to the cluster. The key is the identifier of the policy. It must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5) Currently there map must contain only one element that describes the autoscaling policy for compute nodes."
        },
        "maxClusterNodeCount": {
          "description": "Optional. Maximum number of nodes of any type in a cluster. If not specified the default limits apply.",
          "type": "integer",
          "format": "int32"
        },
        "minClusterNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum number of nodes of any type in a cluster. If not specified the default limits apply."
        }
      },
      "type": "object",
      "description": "Autoscaling settings define the rules used by VMware Engine to automatically scale-out and scale-in the clusters in a private cloud."
    },
    "AcceleratePrivateCloudDeletionRequest": {
      "type": "object",
      "description": "Request message for VmwareEngine.AcceleratePrivateCloudDeletion",
      "id": "AcceleratePrivateCloudDeletionRequest",
      "properties": {
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error.",
          "type": "string"
        }
      }
    },
    "Announcement": {
      "id": "Announcement",
      "properties": {
        "targetResourceType": {
          "description": "Output only. Target Resource Type defines the type of the target for the announcement",
          "type": "string",
          "readOnly": true
        },
        "cluster": {
          "type": "string",
          "description": "A Cluster resource name."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "CREATING"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Active announcement which should be visible to user.",
            "Inactive announcement which should not be visible to user.",
            "Announcement which is being deleted",
            "Announcement which being created"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of this resource. It also serves as start time of notification.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Required. Code of the announcement. Indicates the presence of a VMware Engine related announcement and corresponds to a related message in the `description` field."
        },
        "activityType": {
          "description": "Optional. Activity type of the announcement There can be only one active announcement for a given activity type and target resource.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the announcement."
        },
        "metadata": {
          "description": "Output only. Additional structured details about this announcement.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "privateCloud": {
          "description": "A Private Cloud resource name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the announcement. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/announcements/my-announcement-id`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Announcement for the resources of Vmware Engine.",
      "type": "object"
    },
    "ExternalAddress": {
      "type": "object",
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud.",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description for this resource."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`",
          "readOnly": true,
          "type": "string"
        },
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The external IP address of a workload VM."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. The state of the resource."
        },
        "internalIp": {
          "description": "The internal IP address of a workload VM.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ExternalAddress"
    },
    "Vcenter": {
      "id": "Vcenter",
      "type": "object",
      "description": "Details about a vCenter Server management appliance.",
      "properties": {
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the appliance.",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "readOnly": true
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        }
      }
    },
    "GrantDnsBindPermissionRequest": {
      "description": "Request message for VmwareEngine.GrantDnsBindPermission",
      "id": "GrantDnsBindPermissionRequest",
      "type": "object",
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project. Principal can be a user or a service account. For example, to specify the user `user@example.com`, use `\"principal\": {\"user\": \"user@example.com\"}` and to specify the service account `service-account@gserviceaccount.com`, use `\"principal\": {\"serviceAccount\": \"service-account@gserviceaccount.com\"}`.",
          "$ref": "Principal"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "DatastoreNetwork": {
      "properties": {
        "mtu": {
          "type": "integer",
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility.",
          "format": "int32"
        },
        "networkPeering": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering"
        },
        "connectionCount": {
          "type": "integer",
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts.",
          "format": "int32"
        },
        "subnet": {
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet",
          "type": "string"
        }
      },
      "description": "The network configuration for the datastore.",
      "type": "object",
      "id": "DatastoreNetwork"
    },
    "ListDatastoresResponse": {
      "properties": {
        "datastores": {
          "type": "array",
          "description": "A list of Datastores.",
          "items": {
            "$ref": "Datastore"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      },
      "description": "Response message for VmwareEngine.ListDatastores",
      "id": "ListDatastoresResponse",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object"
    },
    "ListSubnetsResponse": {
      "id": "ListSubnetsResponse",
      "description": "Response message for VmwareEngine.ListSubnets",
      "properties": {
        "subnets": {
          "type": "array",
          "items": {
            "$ref": "Subnet"
          },
          "description": "A list of subnets."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "NfsDatastore": {
      "properties": {
        "googleVmwareFileService": {
          "description": "GCVE file service configuration",
          "$ref": "GoogleVmwareFileService"
        },
        "thirdPartyFileService": {
          "description": "Third party file service configuration",
          "$ref": "ThirdPartyFileService"
        },
        "googleFileService": {
          "$ref": "GoogleFileService",
          "description": "Google file service configuration"
        }
      },
      "description": "The NFS datastore configuration.",
      "id": "NfsDatastore",
      "type": "object"
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Schedule for the upgrade.",
      "type": "object",
      "properties": {
        "editWindow": {
          "$ref": "Interval",
          "description": "Output only. Output Only. The schedule is open for edits during this time interval or window.",
          "readOnly": true
        },
        "lastEditor": {
          "enum": [
            "EDITOR_UNSPECIFIED",
            "SYSTEM",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled by the System or internal service.",
            "The upgrade is scheduled by the end user."
          ],
          "description": "Output only. Output Only. Indicates who most recently edited the upgrade schedule. The value is updated whenever the upgrade is rescheduled.",
          "readOnly": true
        },
        "constraints": {
          "$ref": "Constraints",
          "readOnly": true,
          "description": "Output only. Output Only. Constraints applied to the schedule. These constraints should be applicable at the time of any rescheduling."
        },
        "startTime": {
          "description": "Required. The scheduled start time for the upgrade.",
          "type": "string",
          "format": "google-datetime"
        },
        "weeklyWindows": {
          "description": "Required. Weekly time windows for upgrade activities. The server performs upgrade activities during these time windows to minimize disruptions.",
          "type": "array",
          "items": {
            "$ref": "TimeWindow"
          }
        }
      }
    },
    "FetchNetworkPolicyExternalAddressesResponse": {
      "description": "Response message for VmwareEngine.FetchNetworkPolicyExternalAddresses",
      "type": "object",
      "id": "FetchNetworkPolicyExternalAddressesResponse",
      "properties": {
        "externalAddresses": {
          "items": {
            "$ref": "ExternalAddress"
          },
          "description": "A list of external IP addresses assigned to VMware workload VMs within the scope of the given network policy.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LoggingServer": {
      "description": "Logging server to receive vCenter or ESXi logs.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Fully-qualified domain name (FQDN) or IP Address of the logging server."
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified communications protocol. This is the default value.",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "description": "Required. Protocol used by vCenter to send logs to a logging server."
        },
        "sourceType": {
          "description": "Required. The type of component that produces logs that will be forwarded to this logging server.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Logs produced by ESXI hosts",
            "Logs produced by vCenter server"
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ESXI",
            "VCSA"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this logging server. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/loggingServers/my-logging-server`"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Port number at which the logging server receives logs."
        }
      },
      "id": "LoggingServer",
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "description": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field.",
      "properties": {
        "capabilities": {
          "items": {
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "Stretch clusters are supported in this location."
            ],
            "type": "string"
          },
          "description": "Output only. Capabilities of this location.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "Binding": {
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "AutoscalingPolicy": {
      "id": "AutoscalingPolicy",
      "description": "Autoscaling policy describes the behavior of the autoscaling with respect to the resource utilization. The scale-out operation is initiated if the utilization exceeds ANY of the respective thresholds. The scale-in operation is initiated if the utilization is below ALL of the respective thresholds.",
      "properties": {
        "nodeTypeId": {
          "description": "Required. The canonical identifier of the node type to add or remove. Corresponds to the `NodeType`.",
          "type": "string"
        },
        "cpuThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to CPU utilization."
        },
        "consumedMemoryThresholds": {
          "description": "Optional. Utilization thresholds pertaining to amount of consumed memory.",
          "$ref": "Thresholds"
        },
        "grantedMemoryThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of granted memory."
        },
        "storageThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed storage."
        },
        "scaleOutSize": {
          "description": "Required. Number of nodes to add to a cluster during a scale-out operation. Must be divisible by 2 for stretched clusters. During a scale-in operation only one node (or 2 for stretched clusters) are removed in a single iteration.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "NodeTypeConfig": {
      "id": "NodeTypeConfig",
      "type": "object",
      "description": "Information about the type and number of nodes associated with the cluster.",
      "properties": {
        "customCoreCount": {
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "type": "integer",
          "format": "int32"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Required. The number of nodes of this type in the cluster",
          "format": "int32"
        }
      }
    },
    "RepairManagementDnsZoneBindingRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for VmwareEngine.RepairManagementDnsZoneBindings",
      "type": "object",
      "id": "RepairManagementDnsZoneBindingRequest"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "type": "object"
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "id": "ListPrivateConnectionPeeringRoutesResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "type": "object",
      "properties": {
        "peeringRoutes": {
          "items": {
            "$ref": "PeeringRoute"
          },
          "description": "A list of peering routes.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "UnmountDatastoreRequest": {
      "id": "UnmountDatastoreRequest",
      "type": "object",
      "description": "Unmount Datastore Request messag",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request."
        },
        "datastore": {
          "description": "Required. The resource name of the datastore to unmount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "clusters": {
          "type": "array",
          "description": "A list of private cloud clusters.",
          "items": {
            "$ref": "Cluster"
          }
        }
      },
      "type": "object",
      "id": "ListClustersResponse",
      "description": "Response message for VmwareEngine.ListClusters"
    },
    "NodeType": {
      "description": "Describes node type.",
      "type": "object",
      "properties": {
        "availableCustomCoreCounts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of possible values of custom core count.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "capabilities": {
          "type": "array",
          "description": "Output only. Capabilities of this node type.",
          "readOnly": true,
          "items": {
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "This node type supports stretch clusters."
            ]
          }
        },
        "displayName": {
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72",
          "readOnly": true,
          "type": "string"
        },
        "totalCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of CPU cores in a single node.",
          "readOnly": true
        },
        "nodeTypeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-proj/locations/us-central1-a/nodeTypes/standard-72`"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "STANDARD",
            "STORAGE_ONLY"
          ],
          "readOnly": true,
          "description": "Output only. The type of the resource.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Standard HCI node.",
            "Storage only Node."
          ]
        },
        "memoryGb": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The amount of physical memory available, defined in GB.",
          "type": "integer"
        },
        "families": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Families of the node type. For node types to be in the same cluster they must share at least one element in the `families`."
        },
        "virtualCpuCount": {
          "description": "Output only. The total number of virtual CPUs in a single node.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "diskSizeGb": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The amount of storage available, defined in GB."
        }
      },
      "id": "NodeType"
    },
    "UndeletePrivateCloudRequest": {
      "description": "Request message for VmwareEngine.UndeletePrivateCloud",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UndeletePrivateCloudRequest"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IpRange": {
      "id": "IpRange",
      "properties": {
        "externalAddress": {
          "type": "string",
          "description": "The name of an `ExternalAddress` resource. The external address must have been reserved in the scope of this external access rule's parent network policy. Provide the external address name in the form of `projects/{project}/locations/{location}/privateClouds/{private_cloud}/externalAddresses/{external_address}`. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`."
        },
        "ipAddress": {
          "description": "A single IP address. For example: `10.0.0.5`.",
          "type": "string"
        },
        "ipAddressRange": {
          "type": "string",
          "description": "An IP address range in the CIDR format. For example: `10.0.0.0/24`."
        }
      },
      "type": "object",
      "description": "An IP range provided in any one of the supported formats."
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListExternalAccessRulesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "externalAccessRules": {
          "items": {
            "$ref": "ExternalAccessRule"
          },
          "type": "array",
          "description": "A list of external access firewall rules."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for VmwareEngine.ListExternalAccessRules",
      "id": "ListExternalAccessRulesResponse"
    },
    "VmwareUpgradeComponent": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Component's upgrade is in progress",
            "The component's upgrade is paused. Will be resumed when upgrade job is resumed",
            "The component's upgrade is successfully completed",
            "The component's upgrade has failed. This will move to resume if upgrade is resumed or stay as is",
            "Component's upgrade has not started yet",
            "Component's upgrade is not applicable in this upgrade. It will be skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "NOT_STARTED",
            "NOT_APPLICABLE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Component's upgrade state."
        },
        "componentType": {
          "type": "string",
          "description": "Output only. Type of component",
          "enum": [
            "VMWARE_COMPONENT_TYPE_UNSPECIFIED",
            "VCENTER",
            "ESXI",
            "NSXT_UC",
            "NSXT_EDGE",
            "NSXT_MGR",
            "HCX",
            "VSAN",
            "DVS",
            "NAMESERVER_VM",
            "KMS_VM",
            "WITNESS_VM",
            "NSXT",
            "CLUSTER",
            "VM_TOOLS"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "vcenter",
            "esxi nodes + transport nodes",
            "nsxt upgrade coordinator",
            "nsxt edges cluster",
            "nsxt managers/management plane",
            "hcx",
            "VSAN cluster",
            "DVS switch",
            "Nameserver VMs",
            "KMS VM used for vsan encryption",
            "witness VM in case of stretch PC",
            "nsxt",
            "Cluster is used in case of BM",
            "VMware Tools."
          ],
          "readOnly": true
        }
      },
      "description": "Per component upgrade resource",
      "id": "VmwareUpgradeComponent"
    },
    "ResetVcenterCredentialsRequest": {
      "id": "ResetVcenterCredentialsRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "username": {
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for VmwareEngine.ResetVcenterCredentials"
    },
    "ListHcxActivationKeysResponse": {
      "description": "Response message for VmwareEngine.ListHcxActivationKeys",
      "type": "object",
      "id": "ListHcxActivationKeysResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hcxActivationKeys": {
          "description": "List of HCX activation keys.",
          "type": "array",
          "items": {
            "$ref": "HcxActivationKey"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnections",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "type": "array",
          "description": "A list of private connections.",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkPeering": {
      "id": "NetworkPeering",
      "properties": {
        "exportCustomRoutes": {
          "type": "boolean",
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true."
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Output Only. Details about the current state of the network peering."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "exportCustomRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always exported to peers and are not controlled by this field."
        },
        "exchangeSubnetRoutes": {
          "type": "boolean",
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "peerNetworkType": {
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE",
            "GOOGLE_CLOUD_NETAPP_VOLUMES",
            "GOOGLE_CLOUD_FILESTORE_INSTANCES"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers",
            "Peering connection used for connecting to Google Cloud NetApp Volumes.",
            "Peering connection used for connecting to Google Cloud Filestore Instances."
          ],
          "type": "string",
          "description": "Required. The type of the network to peer with the VMware Engine network."
        },
        "importCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always imported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "importCustomRoutes": {
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "type": "string"
        },
        "peerNetwork": {
          "type": "string",
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects/{project}/global/networks/{network_id}`, where `{project}` can either be a project number or a project ID."
        },
        "peerMtu": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum transmission unit (MTU) in bytes. The default value is `1500`. If a value of `0` is provided for this field, VMware Engine uses the default value instead."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the network peering. NetworkPeering is a global resource and location can only be global. Resource names are scheme-less URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/networkPeerings/my-peering`",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description for this network peering.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a network peering."
    },
    "ListNodesResponse": {
      "id": "ListNodesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "description": "The nodes.",
          "items": {
            "$ref": "Node"
          }
        }
      },
      "type": "object",
      "description": "Response message for VmwareEngine.ListNodes"
    },
    "ThirdPartyFileService": {
      "id": "ThirdPartyFileService",
      "description": "Third party file service configuration",
      "type": "object",
      "properties": {
        "servers": {
          "description": "Required. Server IP addresses of the NFS file service. NFS v3, provide a single IP address or DNS name. Multiple servers can be supported in future when NFS 4.1 protocol support is enabled.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Required. Required to identify vpc peering used for NFS access network name of NFS's vpc e.g. projects/project-id/global/networks/my-network_id",
          "type": "string"
        },
        "fileShare": {
          "type": "string",
          "description": "Required. Required Mount Folder name"
        }
      }
    },
    "DatastoreMountConfig": {
      "id": "DatastoreMountConfig",
      "description": "The Datastore Mount configuration",
      "properties": {
        "accessMode": {
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "fileShare": {
          "description": "Output only. File share name.",
          "type": "string",
          "readOnly": true
        },
        "servers": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names.",
          "readOnly": true,
          "type": "array"
        },
        "datastoreNetwork": {
          "$ref": "DatastoreNetwork",
          "description": "Required. The network configuration for the datastore."
        },
        "datastore": {
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        },
        "nfsVersion": {
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ],
          "type": "string",
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ]
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "dnsServerIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. DNS Server IP of the Private Cloud. All DNS queries can be forwarded to this address for name resolution of Private Cloud's management entities like vCenter, NSX-T Manager and ESXi hosts."
        },
        "managementCidr": {
          "type": "string",
          "description": "Required. Management CIDR used by VMware management appliances."
        },
        "vmwareEngineNetworkCanonical": {
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "type": "string"
        },
        "managementIpAddressLayoutVersion": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features.",
          "type": "integer"
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        }
      },
      "type": "object",
      "description": "Network configuration in the consumer project with which the peering has to be done."
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "StretchedClusterConfig": {
      "description": "Configuration of a stretched cluster.",
      "id": "StretchedClusterConfig",
      "type": "object",
      "properties": {
        "preferredLocation": {
          "description": "Required. Zone that will remain operational when connection between the two zones is lost. Specify the resource name or ID of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-a` or `europe-west3-a`, where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "secondaryLocation": {
          "type": "string",
          "description": "Required. Additional zone for a higher level of availability and load balancing. Specify the resource name or ID of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-b` or `europe-west3-b`, where `{project}` can either be a project number or a project ID."
        }
      }
    },
    "MigrateManagementVmsRequest": {
      "id": "MigrateManagementVmsRequest",
      "description": "Request message for VmwareEngine.MigrateManagementVms",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The user-provided identifier of the workload cluster to which the management VMs are to be migrated. The cluster must be in the same private cloud as the one specified in `name`, and must be a workload cluster. The eventual cluster name will be constructed from the private cloud name and this cluster ID."
        },
        "etag": {
          "description": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object"
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "RevokeDnsBindPermissionRequest": {
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project. Principal can be a user or a service account. For example, to specify the user `user@example.com`, use `\"principal\": {\"user\": \"user@example.com\"}` and to specify the service account `service-account@gserviceaccount.com`, use `\"principal\": {\"serviceAccount\": \"service-account@gserviceaccount.com\"}`.",
          "$ref": "Principal"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "RevokeDnsBindPermissionRequest",
      "description": "Request message for VmwareEngine.RevokeDnsBindPermission"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListNetworkPeeringsResponse": {
      "id": "ListNetworkPeeringsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "networkPeerings": {
          "description": "A list of network peerings.",
          "type": "array",
          "items": {
            "$ref": "NetworkPeering"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for VmwareEngine.ListNetworkPeerings"
    },
    "Thresholds": {
      "id": "Thresholds",
      "properties": {
        "scaleIn": {
          "format": "int32",
          "description": "Required. The utilization triggering the scale-in operation in percent.",
          "type": "integer"
        },
        "scaleOut": {
          "description": "Required. The utilization triggering the scale-out operation in percent.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Thresholds define the utilization of resources triggering scale-out and scale-in operations."
    },
    "HcxActivationKey": {
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "id": "HcxActivationKey",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "description": "Output only. State of HCX activation key.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "activationKey": {
          "description": "Output only. HCX activation key.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of HCX activation key.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PeeringRoute": {
      "description": "Exchanged network peering route.",
      "type": "object",
      "id": "PeeringRoute",
      "properties": {
        "imported": {
          "readOnly": true,
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict.",
          "type": "boolean"
        },
        "nextHopRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network."
        },
        "direction": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ]
        },
        "destRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Destination range of the peering route in CIDR notation."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "readOnly": true,
          "description": "Output only. Type of the route in the peer VPC network.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The priority of the peering route."
        }
      }
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "list of unreachable locations"
        },
        "announcements": {
          "description": "A list of announcement runs.",
          "type": "array",
          "items": {
            "$ref": "Announcement"
          }
        }
      },
      "type": "object",
      "description": "Response message for VmwareEngine.ListAnnouncements",
      "id": "ListAnnouncementsResponse"
    },
    "Principal": {
      "id": "Principal",
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project. Principal can be a user or a service account. For example: For specifying user `user@example.com` use `{\"user\": \"user@example.com\"}` and for specifying service account `service-account@gserviceaccount.com` use `{\"serviceAccount\": \"service-account@gserviceaccount.com\"}`.",
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "The user who needs to be granted permission."
        },
        "serviceAccount": {
          "description": "The service account which needs to be granted the permission.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "MountDatastoreRequest": {
      "type": "object",
      "id": "MountDatastoreRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "datastoreMountConfig": {
          "$ref": "DatastoreMountConfig",
          "description": "Required. The datastore mount configuration."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request."
        },
        "ignoreColocation": {
          "type": "boolean",
          "description": "Optional. If set to true, the colocation requirement will be ignored. If set to false, the colocation requirement will be enforced. If not set, the colocation requirement will be enforced. Colocation requirement is the requirement that the cluster must be in the same region/zone of datastore(regional/zonal datastore)."
        }
      },
      "description": "Mount Datastore Request message"
    },
    "PrivateCloud": {
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional.",
      "type": "object",
      "id": "PrivateCloud",
      "properties": {
        "description": {
          "description": "User-provided description for this private cloud.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ]
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the resource was scheduled for deletion."
        },
        "type": {
          "description": "Optional. Type of the private cloud. Defaults to STANDARD.",
          "type": "string",
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes.",
            "Stretched private cloud is a regional resource with redundancy, with a minimum of 6 nodes, nodes count has to be even."
          ],
          "enum": [
            "STANDARD",
            "TIME_LIMITED",
            "STRETCHED"
          ]
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the private cloud. If this field is left unspecified, Google default encryption is used.",
          "$ref": "EncryptionConfig"
        },
        "managementCluster": {
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`.",
          "$ref": "ManagementCluster"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "vcenter": {
          "readOnly": true,
          "$ref": "Vcenter",
          "description": "Output only. Vcenter appliance."
        },
        "hcx": {
          "$ref": "Hcx",
          "description": "Output only. HCX appliance.",
          "readOnly": true
        },
        "nsx": {
          "$ref": "Nsx",
          "description": "Output only. NSX appliance.",
          "readOnly": true
        },
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`"
        }
      }
    },
    "Datastore": {
      "properties": {
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-provided description for this datastore",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The NFS volume is being created.",
            "The NFS volume is active.",
            "The NFS volume is being updated.",
            "The NFS volume is being deleted."
          ],
          "type": "string",
          "description": "Output only. The state of the Datastore.",
          "readOnly": true
        },
        "nfsDatastore": {
          "description": "Required. Settings for the NFS datastore.",
          "$ref": "NfsDatastore"
        },
        "clusters": {
          "type": "array",
          "description": "Output only. Clusters to which the datastore is attached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this datastore. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/datastore`",
          "type": "string"
        }
      },
      "id": "Datastore",
      "description": "Represents a datastore resource.",
      "type": "object"
    },
    "NetworkPolicy": {
      "properties": {
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "edgeServicesCidr": {
          "type": "string",
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network."
        },
        "internetAccess": {
          "$ref": "NetworkService",
          "description": "Network service that allows VMware workloads to access the internet."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource."
        },
        "vmwareEngineNetworkCanonical": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "externalIp": {
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled.",
          "$ref": "NetworkService"
        },
        "description": {
          "description": "Optional. User-provided description for this network policy.",
          "type": "string"
        }
      },
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy.",
      "type": "object",
      "id": "NetworkPolicy"
    },
    "ManagementCluster": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)"
        },
        "stretchedClusterConfig": {
          "$ref": "StretchedClusterConfig",
          "description": "Optional. Configuration of a stretched cluster. Required for STRETCHED private clouds."
        },
        "nodeTypeConfigs": {
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "type": "object"
        }
      },
      "id": "ManagementCluster",
      "type": "object",
      "description": "Management cluster configuration."
    },
    "VmwareEngineNetwork": {
      "type": "object",
      "properties": {
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments.",
            "Standard network type used for private cloud connectivity."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY",
            "STANDARD"
          ],
          "type": "string",
          "description": "Required. VMware Engine network type."
        },
        "vpcNetworks": {
          "type": "array",
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "readOnly": true,
          "items": {
            "$ref": "VpcNetwork"
          }
        },
        "state": {
          "description": "Output only. State of the VMware Engine network.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds.",
      "id": "VmwareEngineNetwork"
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "Subnet": {
      "properties": {
        "vlanId": {
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "name": {
[...]
