{
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "version_module": true,
  "revision": "20260608",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "description": "The Google VMware Engine API lets you programmatically manage VMware environments.",
  "name": "vmwareengine",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "vmwareengine:v1",
  "title": "VMware Engine API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Principal": {
      "id": "Principal",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The service account which needs to be granted the permission."
        },
        "user": {
          "type": "string",
          "description": "The user who needs to be granted permission."
        }
      },
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project."
    },
    "VmwareEngineNetwork": {
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds.",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ],
          "type": "string",
          "description": "Output only. State of the VMware Engine network.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`"
        },
        "vpcNetworks": {
          "items": {
            "$ref": "VpcNetwork"
          },
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "type": "array",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments.",
            "Standard network type used for private cloud connectivity."
          ],
          "type": "string",
          "description": "Required. VMware Engine network type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY",
            "STANDARD"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareEngineNetwork"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "type": "object"
    },
    "Cluster": {
      "properties": {
        "autoscalingSettings": {
          "$ref": "AutoscalingSettings",
          "description": "Optional. Configuration of the autoscaling applied to this cluster."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "state": {
          "description": "Output only. State of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "REPAIRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The Cluster is operational and can be used by the user.",
            "The Cluster is being deployed.",
            "Adding or removing of a node to the cluster, any other cluster specific updates.",
            "The Cluster is being deleted.",
            "The Cluster is undergoing maintenance, for example: a failed node is getting replaced."
          ],
          "readOnly": true
        },
        "nodeTypeConfigs": {
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this cluster. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster`",
          "type": "string",
          "readOnly": true
        },
        "datastoreMountConfig": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DatastoreMountConfig"
          },
          "description": "Output only. Configuration of a mounted datastore."
        },
        "stretchedClusterConfig": {
          "$ref": "StretchedClusterConfig",
          "description": "Optional. Configuration of a stretched cluster. Required for clusters that belong to a STRETCHED private cloud."
        },
        "management": {
          "description": "Output only. True if the cluster is a management cluster; false otherwise. There can only be one management cluster in a private cloud and it has to be the first one.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "A cluster in a private cloud.",
      "id": "Cluster",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUpgradesResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.ListUpgrades.",
      "id": "ListUpgradesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of unreachable resources."
        },
        "upgrades": {
          "type": "array",
          "items": {
            "$ref": "Upgrade"
          },
          "description": "A list of `Upgrades`."
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "UnmountDatastoreRequest": {
      "type": "object",
      "id": "UnmountDatastoreRequest",
      "properties": {
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        },
        "datastore": {
          "description": "Required. The resource name of the datastore to unmount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        }
      },
      "description": "Unmount Datastore Request messag"
    },
    "NodeTypeConfig": {
      "id": "NodeTypeConfig",
      "description": "Information about the type and number of nodes associated with the cluster.",
      "properties": {
        "nodeCount": {
          "format": "int32",
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer"
        },
        "customCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used."
        }
      },
      "type": "object"
    },
    "ListNodesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "description": "The nodes.",
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListNodes",
      "type": "object",
      "id": "ListNodesResponse"
    },
    "GrantDnsBindPermissionRequest": {
      "type": "object",
      "description": "Request message for VmwareEngine.GrantDnsBindPermission",
      "id": "GrantDnsBindPermissionRequest",
      "properties": {
        "principal": {
          "$ref": "Principal",
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "DatastoreMountConfig": {
      "type": "object",
      "id": "DatastoreMountConfig",
      "description": "The Datastore Mount configuration",
      "properties": {
        "servers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names.",
          "items": {
            "type": "string"
          }
        },
        "datastore": {
          "type": "string",
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
        },
        "nfsVersion": {
          "type": "string",
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ]
        },
        "datastoreNetwork": {
          "description": "Required. The network configuration for the datastore.",
          "$ref": "DatastoreNetwork"
        },
        "accessMode": {
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ]
        },
        "fileShare": {
          "readOnly": true,
          "description": "Output only. File share name.",
          "type": "string"
        }
      }
    },
    "NodeType": {
      "description": "Describes node type.",
      "properties": {
        "nodeTypeId": {
          "type": "string",
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72",
          "type": "string",
          "readOnly": true
        },
        "capabilities": {
          "description": "Output only. Capabilities of this node type.",
          "items": {
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "This node type supports stretch clusters."
            ]
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-proj/locations/us-central1-a/nodeTypes/standard-72`",
          "readOnly": true,
          "type": "string"
        },
        "families": {
          "description": "Output only. Families of the node type. For node types to be in the same cluster they must share at least one element in the `families`.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "virtualCpuCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of virtual CPUs in a single node.",
          "format": "int32"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. The type of the resource.",
          "enum": [
            "KIND_UNSPECIFIED",
            "STANDARD",
            "STORAGE_ONLY"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Standard HCI node.",
            "Storage only Node."
          ],
          "type": "string"
        },
        "totalCoreCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of CPU cores in a single node."
        },
        "availableCustomCoreCounts": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. List of possible values of custom core count.",
          "type": "array",
          "readOnly": true
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Output only. The amount of storage available, defined in GB.",
          "readOnly": true,
          "format": "int32"
        },
        "memoryGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The amount of physical memory available, defined in GB.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "NodeType"
    },
    "Hcx": {
      "description": "Details about a HCX Cloud Manager appliance.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "ACTIVATING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed.",
            "The appliance is being activated."
          ],
          "description": "Output only. The state of the appliance."
        }
      },
      "type": "object",
      "id": "Hcx"
    },
    "NetworkPolicy": {
      "properties": {
        "edgeServicesCidr": {
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network.",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "externalIp": {
          "$ref": "NetworkService",
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled."
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`",
          "type": "string",
          "readOnly": true
        },
        "internetAccess": {
          "$ref": "NetworkService",
          "description": "Network service that allows VMware workloads to access the internet."
        },
        "description": {
          "description": "Optional. User-provided description for this network policy.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy.",
      "type": "object",
      "id": "NetworkPolicy"
    },
    "Node": {
      "id": "Node",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this node. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster/nodes/my-node",
          "readOnly": true,
          "type": "string"
        },
        "customCoreCount": {
          "description": "Output only. Customized number of cores",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "nodeTypeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72."
        },
        "fqdn": {
          "description": "Output only. Fully qualified domain name of the node.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Node is operational and can be used by the user.",
            "Node is being provisioned.",
            "Node is in a failed state.",
            "Node is undergoing maintenance, e.g.: during private cloud upgrade."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "UPGRADING"
          ],
          "description": "Output only. The state of the appliance.",
          "type": "string",
          "readOnly": true
        },
        "internalIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Internal IP address of the node."
        },
        "version": {
          "description": "Output only. The version number of the VMware ESXi management component in this cluster.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Node in a cluster."
    },
    "PeeringRoute": {
      "id": "PeeringRoute",
      "description": "Exchanged network peering route.",
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ]
        },
        "imported": {
          "type": "boolean",
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "description": "Output only. Type of the route in the peer VPC network.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "type": "string"
        },
        "nextHopRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network."
        },
        "destRange": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Destination range of the peering route in CIDR notation."
        },
        "priority": {
          "type": "string",
          "description": "Output only. The priority of the peering route.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListPrivateCloudsResponse": {
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "type": "object",
      "id": "ListPrivateCloudsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "privateClouds": {
          "description": "A list of private clouds.",
          "type": "array",
          "items": {
            "$ref": "PrivateCloud"
          }
        }
      }
    },
    "DnsForwarding": {
      "description": "DNS forwarding config. This config defines a list of domain to name server mappings, and is attached to the private cloud for custom domain resolution.",
      "id": "DnsForwarding",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this DNS profile. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/dnsForwarding`"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "forwardingRules": {
          "type": "array",
          "description": "Required. List of domain mappings to configure",
          "items": {
            "$ref": "ForwardingRule"
          }
        }
      }
    },
    "ManagementDnsZoneBinding": {
      "description": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager.",
      "id": "ManagementDnsZoneBinding",
      "properties": {
        "vmwareEngineNetwork": {
          "description": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "vpcNetwork": {
          "type": "string",
          "description": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID."
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The binding is ready.",
            "The binding is being created.",
            "The binding is being updated.",
            "The binding is being deleted.",
            "The binding has failed."
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MountDatastoreRequest": {
      "description": "Mount Datastore Request message",
      "type": "object",
      "id": "MountDatastoreRequest",
      "properties": {
        "ignoreColocation": {
          "description": "Optional. If set to true, the colocation requirement will be ignored. If set to false, the colocation requirement will be enforced. If not set, the colocation requirement will be enforced. Colocation requirement is the requirement that the cluster must be in the same region/zone of datastore(regional/zonal datastore).",
          "type": "boolean"
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "datastoreMountConfig": {
          "$ref": "DatastoreMountConfig",
          "description": "Required. The datastore mount configuration."
        }
      }
    },
    "ListDatastoresResponse": {
      "description": "Response message for VmwareEngine.ListDatastores",
      "id": "ListDatastoresResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "datastores": {
          "description": "A list of Datastores.",
          "items": {
            "$ref": "Datastore"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListManagementDnsZoneBindingsResponse": {
      "properties": {
        "managementDnsZoneBindings": {
          "description": "A list of management DNS zone bindings.",
          "type": "array",
          "items": {
            "$ref": "ManagementDnsZoneBinding"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListManagementDnsZoneBindingsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListManagementDnsZoneBindings"
    },
    "PrivateConnection": {
      "type": "object",
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds.",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ],
          "type": "string",
          "description": "Required. Private connection type.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this private connection."
        },
        "routingMode": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ],
          "type": "string",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported."
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ],
          "type": "string",
          "description": "Output only. State of the private connection.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ]
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default."
        },
        "peeringId": {
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork.",
          "readOnly": true,
          "type": "string"
        },
        "serviceNetwork": {
          "type": "string",
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc."
        },
        "name": {
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`",
          "readOnly": true,
          "type": "string"
        },
        "peeringState": {
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ],
          "readOnly": true,
          "description": "Output only. Peering state between service network and VMware Engine network."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PrivateConnection"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "description": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field.",
      "properties": {
        "capabilities": {
          "type": "array",
          "description": "Output only. Capabilities of this location.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "Stretch clusters are supported in this location."
            ]
          }
        }
      }
    },
    "DatastoreNetwork": {
      "description": "The network configuration for the datastore.",
      "type": "object",
      "properties": {
        "connectionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts."
        },
        "subnet": {
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet",
          "type": "string"
        },
        "networkPeering": {
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering",
          "readOnly": true,
          "type": "string"
        },
        "mtu": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility."
        }
      },
      "id": "DatastoreNetwork"
    },
    "Announcement": {
      "id": "Announcement",
      "description": "Announcement for the resources of Vmware Engine.",
      "properties": {
        "targetResourceType": {
          "readOnly": true,
          "description": "Output only. Target Resource Type defines the type of the target for the announcement",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "A Cluster resource name."
        },
        "createTime": {
          "description": "Output only. Creation time of this resource. It also serves as start time of notification.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "privateCloud": {
          "description": "A Private Cloud resource name.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the announcement.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Active announcement which should be visible to user.",
            "Inactive announcement which should not be visible to user.",
            "Announcement which is being deleted",
            "Announcement which being created"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "CREATING"
          ],
          "type": "string",
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate."
        },
        "activityType": {
          "description": "Optional. Activity type of the announcement There can be only one active announcement for a given activity type and target resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the announcement. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/announcements/my-announcement-id`"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Additional structured details about this announcement."
        },
        "code": {
          "description": "Required. Code of the announcement. Indicates the presence of a VMware Engine related announcement and corresponds to a related message in the `description` field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNodeTypesResponse": {
      "id": "ListNodeTypesResponse",
      "description": "Response message for VmwareEngine.ListNodeTypes",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "nodeTypes": {
          "type": "array",
          "description": "A list of Node Types.",
          "items": {
            "$ref": "NodeType"
          }
        }
      },
      "type": "object"
    },
    "AutoscalingPolicy": {
      "id": "AutoscalingPolicy",
      "properties": {
        "consumedMemoryThresholds": {
          "$ref": "Thresholds",
          "description": "Optional. Utilization thresholds pertaining to amount of consumed memory."
        },
        "cpuThresholds": {
          "description": "Optional. Utilization thresholds pertaining to CPU utilization.",
          "$ref": "Thresholds"
        },
        "scaleOutSize": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Number of nodes to add to a cluster during a scale-out operation. Must be divisible by 2 for stretched clusters. During a scale-in operation only one node (or 2 for stretched clusters) are removed in a single iteration."
        },
        "nodeTypeId": {
          "type": "string",
          "description": "Required. The canonical identifier of the node type to add or remove. Corresponds to the `NodeType`."
        },
        "storageThresholds": {
          "description": "Optional. Utilization thresholds pertaining to amount of consumed storage.",
          "$ref": "Thresholds"
        },
        "grantedMemoryThresholds": {
          "description": "Optional. Utilization thresholds pertaining to amount of granted memory.",
          "$ref": "Thresholds"
        }
      },
      "description": "Autoscaling policy describes the behavior of the autoscaling with respect to the resource utilization. The scale-out operation is initiated if the utilization exceeds ANY of the respective thresholds. The scale-in operation is initiated if the utilization is below ALL of the respective thresholds.",
      "type": "object"
    },
    "TimeWindow": {
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Day of the week for this window."
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The duration of the window. The max allowed duration for any window is 24 hours."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the window starts."
        }
      },
      "id": "TimeWindow",
      "description": "Represents the time window to perform upgrade activities.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "GoogleVmwareFileService": {
      "description": "Volume message captures user inputs for creation of file services managed by GCVE",
      "type": "object",
      "id": "GoogleVmwareFileService",
      "properties": {}
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Thresholds": {
      "properties": {
        "scaleIn": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The utilization triggering the scale-in operation in percent."
        },
        "scaleOut": {
          "format": "int32",
          "description": "Required. The utilization triggering the scale-out operation in percent.",
          "type": "integer"
        }
      },
      "id": "Thresholds",
      "type": "object",
      "description": "Thresholds define the utilization of resources triggering scale-out and scale-in operations."
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Schedule for the upgrade.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The scheduled start time for the upgrade."
        },
        "lastEditor": {
          "readOnly": true,
          "description": "Output only. Output Only. Indicates who most recently edited the upgrade schedule. The value is updated whenever the upgrade is rescheduled.",
          "enum": [
            "EDITOR_UNSPECIFIED",
            "SYSTEM",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled by the System or internal service.",
            "The upgrade is scheduled by the end user."
          ]
        },
        "constraints": {
          "description": "Output only. Output Only. Constraints applied to the schedule. These constraints should be applicable at the time of any rescheduling.",
          "readOnly": true,
          "$ref": "Constraints"
        },
        "weeklyWindows": {
          "items": {
            "$ref": "TimeWindow"
          },
          "type": "array",
          "description": "Required. Weekly time windows for upgrade activities. The server performs upgrade activities during these time windows to minimize disruptions."
        },
        "editWindow": {
          "readOnly": true,
          "description": "Output only. Output Only. The schedule is open for edits during this time interval or window.",
          "$ref": "Interval"
        }
      }
    },
    "MigrateManagementVmsRequest": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error."
        },
        "clusterId": {
          "description": "Required. The user-provided identifier of the workload cluster to which the management VMs are to be migrated. The cluster must be in the same private cloud as the one specified in `name`, and must be a workload cluster. The eventual cluster name will be constructed from the private cloud name and this cluster ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for VmwareEngine.MigrateManagementVms",
      "id": "MigrateManagementVmsRequest"
    },
    "Nsx": {
      "description": "Details about a NSX Manager appliance.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the appliance."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "description": "Output only. The state of the appliance.",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "type": "string"
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        }
      },
      "id": "Nsx"
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Customer-managed encryption keys (CMEK).",
            "Legacy customer-managed encryption keys (CMEK).",
            "Other encryption types, such as self-managed external KMS."
          ],
          "description": "Required. The encryption type of the private cloud.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CMEK",
            "LEGACY_CMEK",
            "OTHER"
          ],
          "type": "string"
        },
        "cryptoKeyName": {
          "type": "string",
          "description": "Optional. The resource name of the Cloud KMS key to be used for CMEK encryption. The format of this field is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`. The key must be in the same region as the private cloud. This key is used for wrapping the key-encrypting key of vSAN clusters. This field must be provided when `type` is `CMEK` or `LEGACY_CMEK`, and must not be set when `type` is `OTHER`."
        }
      },
      "id": "EncryptionConfig",
      "description": "Encryption configuration for a private cloud."
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "id": "ListPrivateConnectionPeeringRoutesResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "type": "object",
      "properties": {
        "peeringRoutes": {
          "items": {
            "$ref": "PeeringRoute"
          },
          "description": "A list of peering routes.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleFileService": {
      "id": "GoogleFileService",
      "properties": {
        "filestoreInstance": {
          "type": "string",
          "description": "Google filestore instance resource name e.g. projects/my-project/locations/me-west1-b/instances/my-instance"
        },
        "netappVolume": {
          "type": "string",
          "description": "Google netapp volume resource name e.g. projects/my-project/locations/me-west1-b/volumes/my-volume"
        }
      },
      "description": "Google service file service configuration",
      "type": "object"
    },
    "FetchNetworkPolicyExternalAddressesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "externalAddresses": {
          "description": "A list of external IP addresses assigned to VMware workload VMs within the scope of the given network policy.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        }
      },
      "type": "object",
      "id": "FetchNetworkPolicyExternalAddressesResponse",
      "description": "Response message for VmwareEngine.FetchNetworkPolicyExternalAddresses"
    },
    "ListExternalAddressesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "items": {
            "$ref": "ExternalAddress"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        }
      },
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "type": "object",
      "id": "ListExternalAddressesResponse"
    },
    "Vcenter": {
      "type": "object",
      "id": "Vcenter",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "readOnly": true,
          "description": "Output only. The state of the appliance."
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        }
      },
      "description": "Details about a vCenter Server management appliance."
    },
    "Upgrade": {
      "id": "Upgrade",
      "properties": {
        "state": {
          "description": "Output only. The current state of the upgrade.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "ONGOING",
            "SUCCEEDED",
            "PAUSED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "RESCHEDULING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled but not started yet.",
            "The upgrade is currently in progress and has not completed yet.",
            "The upgrade completed successfully.",
            "The upgrade is currently paused.",
            "The upgrade failed.",
            "The upgrade is in process of being canceled.",
            "The upgrade is canceled.",
            "The upgrade is in process of being rescheduled."
          ]
        },
        "version": {
          "description": "Output only. ",
          "readOnly": true,
          "type": "string"
        },
        "targetVersion": {
          "type": "string",
          "description": "Output only. Output Only. The target version",
          "readOnly": true
        },
        "etag": {
          "description": "The etag for the upgrade resource. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Output Only. The description of the upgrade. This is used to provide additional information about the private cloud upgrade, such as the upgrade's purpose, the changes included in the upgrade, or any other relevant information about the upgrade.",
          "readOnly": true
        },
        "estimatedDuration": {
          "description": "Output only. Output Only. The estimated total duration of the upgrade. This information can be used to plan or schedule upgrades to minimize disruptions. Please note that the estimated duration is only an estimate. The actual upgrade duration may vary.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Output only. Output Only. End time of the upgrade.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the private cloud `Upgrade`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/privateClouds/my-cloud/upgrades/my-upgrade`"
        },
        "schedule": {
          "description": "Schedule details for the upgrade.",
          "$ref": "Schedule"
        },
        "componentUpgrades": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VmwareUpgradeComponent"
          },
          "description": "Output only. Output Only. The list of component upgrades."
        },
        "startVersion": {
          "type": "string",
          "description": "Output only. Output Only. The start version",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Output Only. Creation time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "VSPHERE_UPGRADE",
            "VSPHERE_PATCH",
            "WORKAROUND",
            "FIRMWARE_UPGRADE",
            "SWITCH_UPGRADE",
            "OTHER",
            "INFRASTRUCTURE_UPGRADE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Output Only. The type of upgrade.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Upgrade of vmware components when a major version is available. 7.0u2 -> 7.0u3.",
            "Patching of vmware components when a minor version is available. 7.0u2c -> 7.0u2d.",
            "Workarounds are hotfixes for vulnerabilities or issues applied to mitigate the known vulnerability or issue until a patch or update is released. The description of the upgrade will have more details.",
            "Firmware upgrade for VMware product used in the private cloud.",
            "Switch upgrade.",
            "The upgrade type that doesn't fall into any other category.",
            "Infrastructure upgrade in BM node maintenance."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Output Only. Last update time of this resource.",
          "type": "string"
        }
      },
      "description": "Describes Private cloud Upgrade.",
      "type": "object"
    },
    "HcxActivationKey": {
      "id": "HcxActivationKey",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of HCX activation key.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ]
        },
        "activationKey": {
          "description": "Output only. HCX activation key.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of HCX activation key.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        }
      },
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "type": "object"
    },
    "ListLoggingServersResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingServers": {
          "description": "A list of Logging Servers.",
          "items": {
            "$ref": "LoggingServer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for VmwareEngine.ListLoggingServers",
      "type": "object",
      "id": "ListLoggingServersResponse"
    },
    "Datastore": {
      "type": "object",
      "id": "Datastore",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this datastore"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "nfsDatastore": {
          "$ref": "NfsDatastore",
          "description": "Required. Settings for the NFS datastore."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "clusters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Clusters to which the datastore is attached."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of this datastore. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/datastore`"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The NFS volume is being created.",
            "The NFS volume is active.",
            "The NFS volume is being updated.",
            "The NFS volume is being deleted."
          ],
          "readOnly": true,
          "description": "Output only. The state of the Datastore."
        }
      },
      "description": "Represents a datastore resource."
    },
    "ThirdPartyFileService": {
      "type": "object",
      "description": "Third party file service configuration",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. Required to identify vpc peering used for NFS access network name of NFS's vpc e.g. projects/project-id/global/networks/my-network_id"
        },
        "servers": {
          "items": {
            "type": "string"
          },
          "description": "Required. Server IP addresses of the NFS file service. NFS v3, provide a single IP address or DNS name. Multiple servers can be supported in future when NFS 4.1 protocol support is enabled.",
          "type": "array"
        },
        "fileShare": {
          "description": "Required. Required Mount Folder name",
          "type": "string"
        }
      },
      "id": "ThirdPartyFileService"
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListPrivateConnections",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "description": "A list of private connections.",
          "items": {
            "$ref": "PrivateConnection"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ListPeeringRoutesResponse": {
      "description": "Response message for VmwareEngine.ListPeeringRoutes",
      "type": "object",
      "properties": {
        "peeringRoutes": {
          "description": "A list of peering routes.",
          "items": {
            "$ref": "PeeringRoute"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListPeeringRoutesResponse"
    },
    "IpRange": {
      "type": "object",
      "id": "IpRange",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "A single IP address. For example: `10.0.0.5`."
        },
        "ipAddressRange": {
          "type": "string",
          "description": "An IP address range in the CIDR format. For example: `10.0.0.0/24`."
        },
        "externalAddress": {
          "description": "The name of an `ExternalAddress` resource. The external address must have been reserved in the scope of this external access rule's parent network policy. Provide the external address name in the form of `projects/{project}/locations/{location}/privateClouds/{private_cloud}/externalAddresses/{external_address}`. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`.",
          "type": "string"
        }
      },
      "description": "An IP range provided in any one of the supported formats."
    },
    "ManagementCluster": {
      "id": "ManagementCluster",
      "type": "object",
      "description": "Management cluster configuration.",
      "properties": {
        "stretchedClusterConfig": {
          "description": "Optional. Configuration of a stretched cluster. Required for STRETCHED private clouds.",
          "$ref": "StretchedClusterConfig"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)"
        },
        "nodeTypeConfigs": {
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "type": "object"
        }
      }
    },
    "Credentials": {
      "id": "Credentials",
      "type": "object",
      "description": "Credentials for a private cloud.",
      "properties": {
        "username": {
          "description": "Initial username.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Initial password."
        }
      }
    },
    "ListAnnouncementsResponse": {
      "id": "ListAnnouncementsResponse",
      "description": "Response message for VmwareEngine.ListAnnouncements",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "list of unreachable locations",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "announcements": {
          "type": "array",
          "description": "A list of announcement runs.",
          "items": {
            "$ref": "Announcement"
          }
        }
      },
      "type": "object"
    },
    "PrivateCloud": {
      "type": "object",
      "properties": {
        "hcx": {
          "$ref": "Hcx",
          "readOnly": true,
          "description": "Output only. HCX appliance."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ]
        },
        "vcenter": {
          "readOnly": true,
          "description": "Output only. Vcenter appliance.",
          "$ref": "Vcenter"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the resource was scheduled for deletion.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "type": "string"
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Required. Network configuration of the private cloud."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption configuration for the private cloud. If this field is left unspecified, Google default encryption is used."
        },
        "type": {
          "description": "Optional. Type of the private cloud. Defaults to STANDARD.",
          "type": "string",
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes.",
            "Stretched private cloud is a regional resource with redundancy, with a minimum of 6 nodes, nodes count has to be even."
          ],
          "enum": [
            "STANDARD",
            "TIME_LIMITED",
            "STRETCHED"
          ]
        },
        "nsx": {
          "$ref": "Nsx",
          "readOnly": true,
          "description": "Output only. NSX appliance."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this private cloud."
        },
        "managementCluster": {
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`.",
          "$ref": "ManagementCluster"
        }
      },
      "id": "PrivateCloud",
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional."
    },
    "NetworkService": {
      "id": "NetworkService",
      "properties": {
        "enabled": {
          "description": "True if the service is enabled; false otherwise.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned/deprovisioned.",
            "Service is active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ],
          "type": "string",
          "description": "Output only. State of the service. New values may be added to this enum when appropriate."
        }
      },
      "type": "object",
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "ListVmwareEngineNetworksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "vmwareEngineNetworks": {
          "items": {
            "$ref": "VmwareEngineNetwork"
          },
          "type": "array",
          "description": "A list of VMware Engine networks."
        }
      },
      "id": "ListVmwareEngineNetworksResponse",
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks"
    },
    "Subnet": {
      "properties": {
        "gatewayIp": {
          "type": "string",
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\".",
          "readOnly": true
        },
        "ipCidrRange": {
          "type": "string",
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'."
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ],
          "readOnly": true,
          "description": "Output only. The state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`",
          "readOnly": true,
          "type": "string"
        },
        "vlanId": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Subnet",
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated."
    },
    "RevokeDnsBindPermissionRequest": {
      "id": "RevokeDnsBindPermissionRequest",
      "description": "Request message for VmwareEngine.RevokeDnsBindPermission",
      "type": "object",
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project.",
          "$ref": "Principal"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListNetworkPeeringsResponse": {
      "id": "ListNetworkPeeringsResponse",
      "description": "Response message for VmwareEngine.ListNetworkPeerings",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
[...]
