{
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "rootUrl": "https://walletobjects.googleapis.com/",
  "title": "Google Wallet API",
  "discoveryVersion": "v1",
  "resources": {
    "offerclass": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/offerClass",
          "path": "walletobjects/v1/offerClass",
          "parameters": {},
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Inserts an offer class with the given ID and properties.",
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "description": "Returns the offer class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET"
        },
        "addmessage": {
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "id": "walletobjects.offerclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.offerclass.patch",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "OfferClass"
          },
          "request": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "parameterOrder": [],
          "path": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            }
          },
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "httpMethod": "GET",
          "id": "walletobjects.offerclass.list"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Updates the offer class referenced by the given class ID.",
          "request": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.update",
          "path": "walletobjects/v1/offerClass/{resourceId}"
        }
      }
    },
    "flightobject": {
      "methods": {
        "patch": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.patch"
        },
        "update": {
          "id": "walletobjects.flightobject.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "id": "walletobjects.flightobject.list",
          "parameterOrder": [],
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/flightObject"
        },
        "get": {
          "description": "Returns the flight object with the given object ID.",
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.flightobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject",
          "description": "Inserts an flight object with the given ID and properties.",
          "parameters": {},
          "request": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "id": "walletobjects.flightobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameters": {},
          "path": "walletobjects/v1/giftCardClass",
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an gift card class with the given ID and properties."
        },
        "patch": {
          "id": "walletobjects.giftcardclass.patch",
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardclass.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the gift card class with the given class ID.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.giftcardclass.addmessage",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "id": "walletobjects.giftcardclass.list",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardClass",
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardClass"
        },
        "update": {
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.update",
          "httpMethod": "PUT"
        }
      }
    },
    "transitclass": {
      "methods": {
        "insert": {
          "description": "Inserts a transit class with the given ID and properties.",
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass",
          "request": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/transitClass",
          "httpMethod": "POST"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.transitclass.patch",
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "id": "walletobjects.transitclass.addmessage",
          "httpMethod": "POST",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "id": "walletobjects.transitclass.list",
          "path": "walletobjects/v1/transitClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "flatPath": "walletobjects/v1/transitClass",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "description": "Returns a list of all transit classes for a given issuer ID."
        },
        "get": {
          "description": "Returns the transit class with the given class ID.",
          "id": "walletobjects.transitclass.get",
          "response": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitClass/{resourceId}"
        },
        "update": {
          "id": "walletobjects.transitclass.update",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "TransitClass"
          },
          "response": {
            "$ref": "TransitClass"
          }
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "flatPath": "walletobjects/v1/smartTap",
          "parameterOrder": [],
          "parameters": {},
          "description": "Inserts the smart tap.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "SmartTap"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/smartTap"
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers."
            }
          },
          "id": "walletobjects.permissions.update",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "description": "Updates the permissions for the given issuer.",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "Permissions"
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.permissions.get",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "description": "Returns the permissions for the given issuer id.",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          }
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/jwt",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "description": "Inserts the resources in the JWT.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "flatPath": "walletobjects/v1/jwt",
          "id": "walletobjects.jwt.insert",
          "request": {
            "$ref": "JwtResource"
          }
        },
        "validate": {
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "flatPath": "walletobjects/v1/jwt/validate",
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "id": "walletobjects.jwt.validate",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "path": "walletobjects/v1/jwt/validate"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "update": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.loyaltyobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "description": "Updates the loyalty object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "patch": {
          "request": {
            "$ref": "LoyaltyObject"
          },
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyobject.patch",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PATCH"
        },
        "list": {
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "id": "walletobjects.loyaltyobject.list",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "insert": {
          "request": {
            "$ref": "LoyaltyObject"
          },
          "description": "Inserts an loyalty object with the given ID and properties.",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.insert",
          "flatPath": "walletobjects/v1/loyaltyObject"
        },
        "get": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID.",
          "id": "walletobjects.loyaltyobject.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "GET"
        },
        "addmessage": {
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "id": "walletobjects.loyaltyobject.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST"
        },
        "modifylinkedofferobjects": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true,
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects"
        }
      }
    },
    "offerobject": {
      "methods": {
        "update": {
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the offer object referenced by the given object ID."
        },
        "patch": {
          "id": "walletobjects.offerobject.patch",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "OfferObject"
          }
        },
        "list": {
          "path": "walletobjects/v1/offerObject",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "id": "walletobjects.offerobject.list"
        },
        "get": {
          "id": "walletobjects.offerobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Returns the offer object with the given object ID.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.addmessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.insert",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/offerObject",
          "httpMethod": "POST",
          "description": "Inserts an offer object with the given ID and properties.",
          "path": "walletobjects/v1/offerObject",
          "response": {
            "$ref": "OfferObject"
          },
          "parameters": {}
        }
      }
    },
    "issuer": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/issuer",
          "httpMethod": "GET",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "description": "Returns a list of all issuers shared to the caller."
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.issuer.get",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer."
            }
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Returns the issuer with the given issuer ID.",
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "description": "Inserts an issuer with the given ID and properties.",
          "id": "walletobjects.issuer.insert",
          "parameterOrder": [],
          "response": {
            "$ref": "Issuer"
          },
          "parameters": {},
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/issuer"
        },
        "update": {
          "description": "Updates the issuer referenced by the given issuer ID.",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.issuer.update",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.patch",
          "httpMethod": "PATCH"
        }
      }
    },
    "flightclass": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.list",
          "path": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "walletobjects/v1/flightClass"
        },
        "update": {
          "httpMethod": "PUT",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "request": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "id": "walletobjects.flightclass.update",
          "description": "Updates the flight class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "id": "walletobjects.flightclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Returns the flight class with the given class ID.",
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.flightclass.patch",
          "request": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "path": "walletobjects/v1/flightClass/{resourceId}"
        },
        "insert": {
          "parameterOrder": [],
          "description": "Inserts an flight class with the given ID and properties.",
          "path": "walletobjects/v1/flightClass",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/flightClass",
          "request": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.insert",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClass"
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "id": "walletobjects.transitobject.addmessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage"
        },
        "insert": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject",
          "description": "Inserts an transit object with the given ID and properties.",
          "id": "walletobjects.transitobject.insert",
          "response": {
            "$ref": "TransitObject"
          },
          "request": {
            "$ref": "TransitObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject",
          "parameterOrder": []
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "id": "walletobjects.transitobject.patch",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics."
        },
        "list": {
          "path": "walletobjects/v1/transitObject",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "id": "walletobjects.transitobject.list",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TransitObjectListResponse"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "id": "walletobjects.transitobject.update",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitObject"
          }
        },
        "get": {
          "description": "Returns the transit object with the given object ID.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.transitobject.get",
          "response": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "GET"
        }
      }
    },
    "genericclass": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/genericClass",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericClass",
          "parameterOrder": [],
          "parameters": {
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "walletobjects.genericclass.list"
        },
        "insert": {
          "description": "Inserts a generic class with the given ID and properties.",
          "response": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [],
          "id": "walletobjects.genericclass.insert",
          "request": {
            "$ref": "GenericClass"
          },
          "parameters": {},
          "flatPath": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "httpMethod": "POST"
        },
        "update": {
          "id": "walletobjects.genericclass.update",
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Returns the generic class with the given class ID."
        },
        "addmessage": {
          "id": "walletobjects.genericclass.addmessage",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage"
        },
        "patch": {
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GenericClass"
          },
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch"
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "patch": {
          "id": "walletobjects.giftcardobject.patch",
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PATCH",
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "insert": {
          "path": "walletobjects/v1/giftCardObject",
          "httpMethod": "POST",
          "description": "Inserts an gift card object with the given ID and properties.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        },
        "addmessage": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "id": "walletobjects.giftcardobject.addmessage",
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          }
        },
        "get": {
          "description": "Returns the gift card object with the given object ID.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get"
        },
        "list": {
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "id": "walletobjects.giftcardobject.list"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID.",
          "id": "walletobjects.giftcardobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyclass.patch",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "id": "walletobjects.loyaltyclass.insert",
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": []
        },
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "path": "walletobjects/v1/loyaltyClass"
        },
        "get": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the loyalty class with the given class ID."
        },
        "update": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.update",
          "description": "Updates the loyalty class referenced by the given class ID."
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "genericobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the generic object with the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "id": "walletobjects.genericobject.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Inserts a generic object with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/genericObject",
          "flatPath": "walletobjects/v1/genericObject",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "id": "walletobjects.genericobject.list"
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.genericobject.patch",
          "request": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "id": "walletobjects.genericobject.update",
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}"
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "id": "walletobjects.genericobject.addmessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage"
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "parameters": {},
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "parameterOrder": [],
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "httpMethod": "POST",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Returns the event ticket object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "list": {
          "parameterOrder": [],
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "id": "walletobjects.eventticketobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject",
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "EventTicketObjectListResponse"
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.update"
        },
        "addmessage": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "id": "walletobjects.eventticketobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
[...]
