{
  "version": "v1",
  "canonicalName": "Walletobjects",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "name": "walletobjects",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "basePath": "",
  "revision": "20260927",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "discoveryVersion": "v1",
  "id": "walletobjects:v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "title": "Google Wallet API",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://walletobjects.googleapis.com/",
  "resources": {
    "offerobject": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts an offer object with the given ID and properties.",
          "parameters": {},
          "request": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject",
          "id": "walletobjects.offerobject.insert",
          "path": "walletobjects/v1/offerObject",
          "response": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            }
          },
          "id": "walletobjects.offerobject.list",
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerObject",
          "path": "walletobjects/v1/offerObject",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferObjectListResponse"
          }
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "id": "walletobjects.offerobject.addmessage",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PUT"
        },
        "patch": {
          "id": "walletobjects.offerobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.offerobject.get",
          "response": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "JwtResource"
          },
          "description": "Inserts the resources in the JWT.",
          "id": "walletobjects.jwt.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/jwt",
          "parameterOrder": [],
          "path": "walletobjects/v1/jwt",
          "parameters": {}
        },
        "validate": {
          "id": "walletobjects.jwt.validate",
          "parameterOrder": [],
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "path": "walletobjects/v1/jwt/validate",
          "parameters": {},
          "flatPath": "walletobjects/v1/jwt/validate",
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "response": {
            "$ref": "JwtValidateResponse"
          }
        }
      }
    },
    "issuer": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "description": "Returns a list of all issuers shared to the caller.",
          "path": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "flatPath": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "IssuerListResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.patch",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics."
        },
        "insert": {
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties.",
          "parameterOrder": [],
          "path": "walletobjects/v1/issuer"
        },
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "description": "Returns the issuer with the given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.get",
          "path": "walletobjects/v1/issuer/{resourceId}"
        },
        "update": {
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Issuer"
          },
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.update",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "path": "walletobjects/v1/issuer/{resourceId}"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.giftcardclass.list",
          "parameterOrder": [],
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "path": "walletobjects/v1/giftCardClass",
          "flatPath": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "request": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "id": "walletobjects.giftcardclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the gift card class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardClass",
          "description": "Inserts an gift card class with the given ID and properties.",
          "httpMethod": "POST",
          "id": "walletobjects.giftcardclass.insert",
          "request": {
            "$ref": "GiftCardClass"
          },
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [],
          "parameters": {},
          "path": "walletobjects/v1/giftCardClass"
        },
        "patch": {
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.patch",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardClass"
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "list": {
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "id": "walletobjects.eventticketobject.list",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "path": "walletobjects/v1/eventTicketObject",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "addmessage": {
          "id": "walletobjects.eventticketobject.addmessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "modifylinkedofferobjects": {
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "deprecated": true,
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "httpMethod": "POST",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects"
        },
        "update": {
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          }
        },
        "patch": {
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "description": "Returns the event ticket object with the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.get",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "path": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts an event ticket object with the given ID and properties.",
          "id": "walletobjects.eventticketobject.insert"
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "list": {
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "id": "walletobjects.eventticketclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass",
          "path": "walletobjects/v1/eventTicketClass",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "id": "walletobjects.eventticketclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "EventTicketClass"
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the event ticket class referenced by the given class ID.",
          "httpMethod": "PUT",
          "id": "walletobjects.eventticketclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "request": {
            "$ref": "EventTicketClass"
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "insert": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an event ticket class with the given ID and properties.",
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketClass",
          "id": "walletobjects.eventticketclass.insert",
          "response": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "POST"
        },
        "addmessage": {
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "id": "walletobjects.eventticketclass.addmessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the event ticket class referenced by the given class ID."
        }
      }
    },
    "transitobject": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitObject"
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID.",
          "id": "walletobjects.transitobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Returns the transit object with the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitObject"
          }
        },
        "patch": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH"
        },
        "insert": {
          "request": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject",
          "description": "Inserts an transit object with the given ID and properties.",
          "httpMethod": "POST",
          "id": "walletobjects.transitobject.insert",
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {},
          "flatPath": "walletobjects/v1/transitObject"
        },
        "list": {
          "flatPath": "walletobjects/v1/transitObject",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "path": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.transitobject.list",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Media"
          },
          "id": "walletobjects.media.download",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues"
        },
        "upload": {
          "supportsMediaUpload": true,
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.media.upload",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
                "multipart": true
              }
            }
          }
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "insert": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "patch": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.patch"
        },
        "get": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.get",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Returns the loyalty object with the given object ID."
        },
        "list": {
          "httpMethod": "GET",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.list",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "modifylinkedofferobjects": {
          "deprecated": true,
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "httpMethod": "POST",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID."
        },
        "update": {
          "description": "Updates the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "addmessage": {
          "id": "walletobjects.loyaltyobject.addmessage",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "description": "Adds a message to the loyalty object referenced by the given object ID."
        }
      }
    },
    "genericobject": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "id": "walletobjects.genericobject.addmessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "id": "walletobjects.genericobject.list",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "flatPath": "walletobjects/v1/genericObject",
          "path": "walletobjects/v1/genericObject",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject",
          "description": "Inserts a generic object with the given ID and properties.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.insert",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GenericObject"
          }
        },
        "patch": {
          "id": "walletobjects.genericobject.patch",
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "response": {
            "$ref": "GenericObject"
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.get",
          "description": "Returns the generic object with the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GenericObject"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/transitClass",
          "id": "walletobjects.transitclass.list",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "TransitClassListResponse"
          }
        },
        "insert": {
          "id": "walletobjects.transitclass.insert",
          "parameterOrder": [],
          "parameters": {},
          "path": "walletobjects/v1/transitClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitClass",
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Inserts a transit class with the given ID and properties.",
          "request": {
            "$ref": "TransitClass"
          }
        },
        "update": {
          "id": "walletobjects.transitclass.update",
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID.",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "get": {
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.get",
          "description": "Returns the transit class with the given class ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}"
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.transitclass.addmessage"
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "TransitClass"
          },
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.patch"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/smartTap",
          "path": "walletobjects/v1/smartTap",
          "parameters": {},
          "id": "walletobjects.smarttap.insert",
          "response": {
            "$ref": "SmartTap"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "SmartTap"
          },
          "httpMethod": "POST",
          "description": "Inserts the smart tap."
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "parameters": {},
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "parameterOrder": [],
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.get",
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClass"
          }
        },
        "list": {
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "walletobjects.loyaltyclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.loyaltyclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyclass.patch",
          "httpMethod": "PATCH"
        },
        "insert": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "genericclass": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "httpMethod": "POST",
          "id": "walletobjects.genericclass.insert",
          "description": "Inserts a generic class with the given ID and properties.",
          "parameters": {},
          "response": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "parameterOrder": []
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "path": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.list",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "id": "walletobjects.genericclass.addmessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.get",
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Returns the generic class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "GenericClass"
          },
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.update",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "PATCH"
        }
      }
    },
    "flightclass": {
      "methods": {
        "get": {
          "description": "Returns the flight class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.get",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}"
        },
        "insert": {
          "path": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.insert",
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties.",
          "httpMethod": "POST"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.update",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "request": {
            "$ref": "FlightClass"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.flightclass.patch",
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FlightClass"
          }
        },
        "list": {
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "id": "walletobjects.flightclass.list",
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "issuerId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "id": "walletobjects.flightclass.addmessage",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "list": {
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "id": "walletobjects.flightobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "flatPath": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObjectListResponse"
          }
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "FlightObject"
          },
          "request": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.flightobject.insert",
          "path": "walletobjects/v1/flightObject",
          "description": "Inserts an flight object with the given ID and properties."
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "id": "walletobjects.flightobject.addmessage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "get": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.flightobject.get",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Returns the flight object with the given object ID."
        },
        "update": {
          "response": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID.",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "request": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.update",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PATCH",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.patch"
        },
        "get": {
          "response": {
[...]
