{
  "version": "v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "rootUrl": "https://walletobjects.googleapis.com/",
  "title": "Google Wallet API",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/pay/passes",
  "schemas": {
    "LoyaltyClassListResponse": {
      "id": "LoyaltyClassListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "LoyaltyClass"
          },
          "type": "array",
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      }
    },
    "TransitClassListResponse": {
      "type": "object",
      "id": "TransitClassListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "TransitClass"
          }
        }
      }
    },
    "TextModuleData": {
      "id": "TextModuleData",
      "description": "Data for Text module. All fields are optional. Header will be displayed if available, different types of bodies will be concatenated if they are defined.",
      "properties": {
        "localizedHeader": {
          "description": "Translated strings for the header. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "id": {
          "type": "string",
          "description": "The ID associated with a text module. This field is here to enable ease of management of text modules and referencing them in template overrides. The ID should only include alphanumeric characters, '_', or '-'. It can not include dots, as dots are used to separate fields within FieldReference.fieldPaths in template overrides."
        },
        "header": {
          "type": "string",
          "description": "The header of the Text Module. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens."
        },
        "body": {
          "description": "The body of the Text Module, which is defined as an uninterrupted string. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedBody": {
          "description": "Translated strings for the body. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "IssuerContactInfo": {
      "id": "IssuerContactInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "The primary contact name."
        },
        "alertsEmails": {
          "items": {
            "type": "string"
          },
          "description": "Email addresses which will receive alerts.",
          "type": "array"
        },
        "email": {
          "description": "The primary contact email address.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The primary contact phone number."
        }
      },
      "type": "object"
    },
    "CallbackOptions": {
      "id": "CallbackOptions",
      "type": "object",
      "properties": {
        "updateRequestUrl": {
          "description": "URL for the merchant endpoint that would be called to request updates. The URL should be hosted on HTTPS and robots.txt should allow the URL path to be accessible by UserAgent:Googlebot. Deprecated.",
          "deprecated": true,
          "type": "string"
        },
        "url": {
          "description": "The HTTPS url configured by the merchant. The URL should be hosted on HTTPS and robots.txt should allow the URL path to be accessible by UserAgent:Googlebot.",
          "type": "string"
        }
      }
    },
    "FirstRowOption": {
      "id": "FirstRowOption",
      "type": "object",
      "properties": {
        "fieldOption": {
          "description": "A reference to the field to be displayed in the first row.",
          "$ref": "FieldSelector"
        },
        "transitOption": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ORIGIN_AND_DESTINATION_NAMES`. Deprecated.",
            "",
            "Legacy alias for `ORIGIN_AND_DESTINATION_CODES`. Deprecated.",
            "",
            "Legacy alias for `ORIGIN_NAME`. Deprecated."
          ],
          "enum": [
            "TRANSIT_OPTION_UNSPECIFIED",
            "ORIGIN_AND_DESTINATION_NAMES",
            "originAndDestinationNames",
            "ORIGIN_AND_DESTINATION_CODES",
            "originAndDestinationCodes",
            "ORIGIN_NAME",
            "originName"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string"
        }
      }
    },
    "RotatingBarcodeTotpDetails": {
      "type": "object",
      "properties": {
        "algorithm": {
          "enum": [
            "TOTP_ALGORITHM_UNSPECIFIED",
            "TOTP_SHA1"
          ],
          "enumDescriptions": [
            "",
            "TOTP algorithm from RFC 6238 with the SHA1 hash function"
          ],
          "description": "The TOTP algorithm used to generate the OTP.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "description": "The TOTP parameters for each of the {totp_value_*} substitutions. The TotpParameters at index n is used for the {totp_value_n} substitution.",
          "items": {
            "$ref": "RotatingBarcodeTotpDetailsTotpParameters"
          }
        },
        "periodMillis": {
          "format": "int64",
          "description": "The time interval used for the TOTP value generation, in milliseconds.",
          "type": "string"
        }
      },
      "description": "Configuration for the time-based OTP substitutions. See https://tools.ietf.org/html/rfc6238",
      "id": "RotatingBarcodeTotpDetails"
    },
    "GiftCardClassAddMessageResponse": {
      "properties": {
        "resource": {
          "$ref": "GiftCardClass",
          "description": "The updated GiftCardClass resource."
        }
      },
      "id": "GiftCardClassAddMessageResponse",
      "type": "object"
    },
    "CardTemplateOverride": {
      "type": "object",
      "id": "CardTemplateOverride",
      "properties": {
        "cardRowTemplateInfos": {
          "type": "array",
          "items": {
            "$ref": "CardRowTemplateInfo"
          },
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified."
        }
      }
    },
    "FlightClassListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "FlightClass"
          },
          "type": "array"
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "id": "FlightClassListResponse"
    },
    "SignUpInfo": {
      "id": "SignUpInfo",
      "type": "object",
      "properties": {
        "classId": {
          "type": "string",
          "description": "ID of the class the user can sign up for."
        }
      }
    },
    "DateTime": {
      "type": "object",
      "id": "DateTime",
      "properties": {
        "date": {
          "description": "An ISO 8601 extended format date/time. Offset may or may not be required (refer to the parent field's documentation). Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the date/time is intended for a physical location in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Providing an offset makes this an absolute instant in time around the world. The date/time will be adjusted based on the user's time zone. For example, a time of `2018-06-19T18:30:00-04:00` will be 18:30:00 for a user in New York and 15:30:00 for a user in Los Angeles. Omitting the offset makes this a local date/time, representing several instants in time around the world. The date/time will always be in the user's current time zone. For example, a time of `2018-06-19T18:30:00` will be 18:30:00 for a user in New York and also 18:30:00 for a user in Los Angeles. This is useful when the same local date/time should apply to many physical locations across several time zones.",
          "type": "string"
        }
      }
    },
    "JwtInsertResponse": {
      "properties": {
        "saveUri": {
          "description": "A URI that, when opened, will allow the end user to save the object(s) identified in the JWT to their Google account.",
          "type": "string"
        },
        "resources": {
          "$ref": "Resources",
          "description": "Data that corresponds to the ids of the provided classes and objects in the JWT. resources will only include the non-empty arrays (i.e. if the JWT only includes eventTicketObjects, then that is the only field that will be present in resources)."
        }
      },
      "type": "object",
      "id": "JwtInsertResponse"
    },
    "ClassTemplateInfo": {
      "properties": {
        "cardTemplateOverride": {
          "$ref": "CardTemplateOverride",
          "description": "Override for the card view."
        },
        "listTemplateOverride": {
          "$ref": "ListTemplateOverride",
          "description": "Override for the passes list view."
        },
        "detailsTemplateOverride": {
          "description": "Override for the details view (beneath the card view).",
          "$ref": "DetailsTemplateOverride"
        },
        "cardBarcodeSectionDetails": {
          "description": "Specifies extra information to be displayed above and below the barcode.",
          "$ref": "CardBarcodeSectionDetails"
        }
      },
      "type": "object",
      "id": "ClassTemplateInfo"
    },
    "MerchantLocation": {
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected."
        },
        "longitude": {
          "description": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "MerchantLocation",
      "description": "Locations of interest for this class or object. Currently, this location is used for geofenced notifications. When a user is within a set radius of this lat/long, and dwells there, Google will trigger a notification. When a user exits this radius, the notification will be hidden."
    },
    "Notifications": {
      "id": "Notifications",
      "properties": {
        "expiryNotification": {
          "description": "A notification would be triggered at a specific time before the card expires.",
          "$ref": "ExpiryNotification"
        },
        "upcomingNotification": {
          "$ref": "UpcomingNotification",
          "description": "A notification would be triggered at a specific time before the card becomes usable."
        }
      },
      "type": "object",
      "description": "Indicates if the object needs to have notification enabled. We support only one of ExpiryNotification/UpcomingNotification. `expiryNotification` takes precedence over `upcomingNotification`. In other words if `expiryNotification` is set, we ignore the `upcomingNotification` field."
    },
    "TransitClassAddMessageResponse": {
      "id": "TransitClassAddMessageResponse",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated TransitClass resource.",
          "$ref": "TransitClass"
        }
      }
    },
    "FlightClassAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "FlightClass",
          "description": "The updated FlightClass resource."
        }
      },
      "id": "FlightClassAddMessageResponse"
    },
    "CompositeMedia": {
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites.",
      "type": "object",
      "properties": {
        "length": {
          "format": "int64",
          "type": "string",
          "description": "Size of the data, in bytes"
        },
        "inline": {
          "type": "string",
          "description": "Media data, set if reference_type is INLINE",
          "format": "byte"
        },
        "crc32cHash": {
          "description": "crc32.c hash for the payload.",
          "type": "integer",
          "format": "uint32"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "ObjectId"
        },
        "blobstore2Info": {
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob.",
          "$ref": "Blobstore2Info"
        },
        "blobRef": {
          "format": "byte",
          "type": "string",
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "deprecated": true
        },
        "md5Hash": {
          "description": "MD5 hash for the payload.",
          "type": "string",
          "format": "byte"
        },
        "sha1Hash": {
          "description": "SHA-1 hash for the payload.",
          "type": "string",
          "format": "byte"
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "format": "byte",
          "type": "string"
        },
        "referenceType": {
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ],
          "description": "Describes what the field reference contains."
        }
      },
      "id": "CompositeMedia"
    },
    "ObjectId": {
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763.",
      "id": "ObjectId",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "The name of the bucket to which this object belongs."
        },
        "generation": {
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions",
          "type": "string",
          "format": "int64"
        },
        "objectName": {
          "type": "string",
          "description": "The name of the object."
        }
      },
      "type": "object"
    },
    "ExpiryNotification": {
      "type": "object",
      "description": "Indicates that the issuer would like Google Wallet to send expiry notifications 2 days prior to the card expiration.",
      "id": "ExpiryNotification",
      "properties": {
        "enableNotification": {
          "description": "Indicates if the object needs to have expiry notification enabled.",
          "type": "boolean"
        }
      }
    },
    "CardBarcodeSectionDetails": {
      "type": "object",
      "id": "CardBarcodeSectionDetails",
      "properties": {
        "secondTopDetail": {
          "description": "Optional second piece of information to display above the barcode. If `firstTopDetail` is defined, this will be displayed to the end side of this detail section.",
          "$ref": "BarcodeSectionDetail"
        },
        "firstTopDetail": {
          "description": "Optional information to display above the barcode. If `secondTopDetail` is defined, this will be displayed to the start side of this detail section.",
          "$ref": "BarcodeSectionDetail"
        },
        "firstBottomDetail": {
          "$ref": "BarcodeSectionDetail",
          "description": "Optional information to display below the barcode."
        }
      }
    },
    "UploadPrivateImageRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to upload a private image to use in a pass.",
      "id": "UploadPrivateImageRequest"
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "type": "object",
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "If set, calculate the checksums based on the contents and return them to the caller."
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol."
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the server object."
        },
        "chunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The chunk size of checksums. Must be a multiple of 256KB."
        }
      }
    },
    "LoyaltyClassAddMessageResponse": {
      "id": "LoyaltyClassAddMessageResponse",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "LoyaltyClass",
          "description": "The updated LoyaltyClass resource."
        }
      }
    },
    "TransitObjectUploadRotatingBarcodeValuesRequest": {
      "properties": {
        "mediaRequestInfo": {
          "description": "Extra information about the uploaded media.",
          "$ref": "MediaRequestInfo"
        },
        "blob": {
          "description": "A reference to the rotating barcode values payload that was uploaded.",
          "$ref": "Media"
        }
      },
      "description": "Request to upload rotating barcode values.",
      "id": "TransitObjectUploadRotatingBarcodeValuesRequest",
      "type": "object"
    },
    "FrequentFlyerInfo": {
      "type": "object",
      "id": "FrequentFlyerInfo",
      "properties": {
        "frequentFlyerProgramName": {
          "description": "Frequent flyer program name. eg: \"Lufthansa Miles & More\"",
          "$ref": "LocalizedString"
        },
        "frequentFlyerNumber": {
          "description": "Frequent flyer number. Required for each nested object of kind `walletobjects#frequentFlyerInfo`.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#frequentFlyerInfo\"`.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "Blobstore2Info": {
      "properties": {
        "blobId": {
          "type": "string",
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty"
        },
        "uploadFragmentListCreationInfo": {
          "type": "string",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte"
        },
        "blobGeneration": {
          "format": "int64",
          "description": "The blob generation id.",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "type": "string",
          "format": "byte",
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads."
        },
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "downloadReadHandle": {
          "type": "string",
          "format": "byte",
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads."
        },
        "uploadMetadataContainer": {
          "type": "string",
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte"
        }
      },
      "description": "Information to read/write to blobstore2.",
      "type": "object",
      "id": "Blobstore2Info"
    },
    "PurchaseDetails": {
      "properties": {
        "ticketCost": {
          "$ref": "TicketCost",
          "description": "The cost of the ticket."
        },
        "confirmationCode": {
          "description": "The confirmation code for the purchase. This may be the same for multiple different tickets and is used to group tickets together.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "ID of the account used to purchase the ticket."
        },
        "purchaseDateTime": {
          "type": "string",
          "description": "The purchase date/time of the ticket. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Without offset information, some rich features may not be available."
        },
        "purchaseReceiptNumber": {
          "type": "string",
          "description": "Receipt number/identifier for tracking the ticket purchase via the body that sold the ticket."
        }
      },
      "type": "object",
      "id": "PurchaseDetails"
    },
    "TicketRestrictions": {
      "id": "TicketRestrictions",
      "type": "object",
      "properties": {
        "routeRestrictionsDetails": {
          "$ref": "LocalizedString",
          "description": "More details about the above `routeRestrictions`."
        },
        "timeRestrictions": {
          "description": "Restrictions about times this ticket may be used.",
          "$ref": "LocalizedString"
        },
        "routeRestrictions": {
          "description": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\".",
          "$ref": "LocalizedString"
        },
        "otherRestrictions": {
          "description": "Extra restrictions that don't fall under the \"route\" or \"time\" categories.",
          "$ref": "LocalizedString"
        }
      }
    },
    "GiftCardObjectListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "GiftCardObject"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "id": "GiftCardObjectListResponse"
    },
    "GiftCardClass": {
      "id": "GiftCardClass",
      "properties": {
        "programLogo": {
          "description": "The logo of the gift card program or company. This logo is displayed in both the details and list views of the app.",
          "$ref": "Image"
        },
        "allowMultipleUsersPerObject": {
          "type": "boolean",
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead.",
          "deprecated": true
        },
        "cardNumberLabel": {
          "description": "The label to display for the card number, such as \"Card Number\".",
          "type": "string"
        },
        "localizedEventNumberLabel": {
          "description": "Translated strings for the event_number_label.",
          "$ref": "LocalizedString"
        },
        "reviewStatus": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`."
        },
        "issuerName": {
          "type": "string",
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "wideProgramLogo": {
          "description": "The wide logo of the gift card program or company. When provided, this will be used in place of the program logo in the top left of the card view.",
          "$ref": "Image"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "pinLabel": {
          "description": "The label to display for the PIN, such as \"4-digit PIN\".",
          "type": "string"
        },
        "localizedMerchantName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the merchant_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "localizedCardNumberLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the card_number_label."
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class."
        },
        "locations": {
          "type": "array",
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "wordMark": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "Image"
        },
        "homepageUri": {
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object).",
          "$ref": "Uri"
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "localizedPinLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the pin_label."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#giftCardClass\"`.",
          "deprecated": true,
          "type": "string"
        },
        "infoModuleData": {
          "deprecated": true,
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "allowBarcodeRedemption": {
          "type": "boolean",
          "description": "Determines whether the merchant supports gift card redemption using barcode. If true, app displays a barcode for the gift card on the Gift card details screen. If false, a barcode is not displayed."
        },
        "eventNumberLabel": {
          "type": "string",
          "description": "The label to display for event number, such as \"Target Event #\"."
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "merchantName": {
          "description": "Merchant name, such as \"Adam's Apparel\". The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "merchantLocations": {
          "type": "array",
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          }
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        },
        "version": {
          "description": "Deprecated",
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "valueAddedModuleData": {
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "type": "array"
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "viewUnlockRequirement": {
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "description": "View Unlock Requirement options for the gift card.",
          "type": "string"
        },
        "redemptionIssuers": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string"
        },
        "localizedIssuerName": {
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "LatLongPoint": {
      "type": "object",
      "id": "LatLongPoint",
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected."
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#latLongPoint\"`.",
          "type": "string"
        },
        "latitude": {
          "description": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "LoyaltyClass": {
      "properties": {
        "review": {
          "$ref": "Review",
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`."
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "type": "string"
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "infoModuleData": {
          "deprecated": true,
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "viewUnlockRequirement": {
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "description": "View Unlock Requirement options for the loyalty card.",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ]
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        },
        "reviewStatus": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "type": "string"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "redemptionIssuers": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and one of object level `smartTapRedemptionValue`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "array"
        },
        "localizedProgramName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the program_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
        },
        "wordMark": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "Image"
        },
        "programName": {
          "type": "string",
          "description": "Required. The program name, such as \"Adam's Apparel\". The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
        },
        "allowMultipleUsersPerObject": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
        },
        "localizedRewardsTierLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the rewards_tier_label. Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
        },
        "secondaryRewardsTierLabel": {
          "description": "The secondary rewards tier label, such as \"Rewards Tier.\"",
          "type": "string"
        },
        "merchantLocations": {
          "type": "array",
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#loyaltyClass\"`.",
          "deprecated": true,
          "type": "string"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class."
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "securityAnimation": {
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details.",
          "$ref": "SecurityAnimation"
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "localizedRewardsTier": {
          "description": "Translated strings for the rewards_tier. Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "valueAddedModuleData": {
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array",
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
        },
        "localizedAccountNameLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the account_name_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
        },
        "locations": {
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "deprecated": true
        },
        "programLogo": {
          "$ref": "Image",
          "description": "Required. The logo of the loyalty program or company. This logo is displayed in both the details and list views of the app."
        },
        "rewardsTier": {
          "description": "The rewards tier, such as \"Gold\" or \"Platinum.\" Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "classTemplateInfo": {
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display.",
          "$ref": "ClassTemplateInfo"
        },
        "rewardsTierLabel": {
          "type": "string",
          "description": "The rewards tier label, such as \"Rewards Tier.\" Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens."
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "accountIdLabel": {
          "description": "The account ID label, such as \"Member ID.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "version": {
          "format": "int64",
          "description": "Deprecated",
          "deprecated": true,
          "type": "string"
        },
        "localizedAccountIdLabel": {
          "description": "Translated strings for the account_id_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "wideProgramLogo": {
          "description": "The wide logo of the loyalty program or company. When provided, this will be used in place of the program logo in the top left of the card view.",
          "$ref": "Image"
        },
        "accountNameLabel": {
          "description": "The account name label, such as \"Member Name.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedSecondaryRewardsTier": {
          "description": "Translated strings for the secondary_rewards_tier.",
          "$ref": "LocalizedString"
        },
        "localizedSecondaryRewardsTierLabel": {
          "description": "Translated strings for the secondary_rewards_tier_label.",
          "$ref": "LocalizedString"
        },
        "discoverableProgram": {
          "description": "Information about how the class may be discovered and instantiated from within the Google Pay app.",
          "$ref": "DiscoverableProgram"
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "secondaryRewardsTier": {
          "type": "string",
          "description": "The secondary rewards tier, such as \"Gold\" or \"Platinum.\""
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and one of object level `smartTapRedemptionLevel`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LoyaltyClass"
    },
    "OfferClassListResponse": {
      "id": "OfferClassListResponse",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "OfferClass"
          }
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "type": "object"
    },
    "Message": {
      "description": "A message that will be displayed with a Valuable",
      "type": "object",
      "properties": {
        "localizedBody": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the message body."
        },
        "body": {
          "description": "The message body.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#walletObjectMessage\"`.",
          "type": "string",
          "deprecated": true
        },
        "localizedHeader": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the message header."
        },
        "displayInterval": {
          "description": "The period of time that the message will be displayed to users. You can define both a `startTime` and `endTime` for each message. A message is displayed immediately after a Wallet Object is inserted unless a `startTime` is set. The message will appear in a list of messages indefinitely if `endTime` is not provided.",
          "$ref": "TimeInterval"
        },
        "id": {
          "description": "The ID associated with a message. This field is here to enable ease of management of messages. Notice ID values could possibly duplicate across multiple messages in the same class/instance, and care must be taken to select a reasonable ID for each message.",
          "type": "string"
        },
        "messageType": {
          "enumDescriptions": [
            "",
            "Renders the message as text on the card details screen. This is the default message type.",
            "Legacy alias for `TEXT`. Deprecated.",
            "Note: This enum is currently not supported.",
            "Legacy alias for `EXPIRATION_NOTIFICATION`. Deprecated.",
            "Renders the message as text on the card details screen and as an Android notification."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "description": "The message type.",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TEXT",
            "text",
            "EXPIRATION_NOTIFICATION",
            "expirationNotification",
            "TEXT_AND_NOTIFY"
          ],
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "The message header."
        }
      },
      "id": "Message"
    },
    "EventTicketObjectListResponse": {
      "id": "EventTicketObjectListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "EventTicketObject"
          }
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      }
    },
    "EventTicketClassAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "EventTicketClass"
        }
      },
      "type": "object",
      "id": "EventTicketClassAddMessageResponse"
    },
    "CardRowTwoItems": {
      "properties": {
        "startItem": {
          "description": "The item to be displayed at the start of the row. This item will be aligned to the left.",
          "$ref": "TemplateItem"
        },
        "endItem": {
          "description": "The item to be displayed at the end of the row. This item will be aligned to the right.",
          "$ref": "TemplateItem"
        }
      },
      "type": "object",
      "id": "CardRowTwoItems"
    },
    "OfferObjectAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated OfferObject resource.",
          "$ref": "OfferObject"
        }
      },
      "type": "object",
      "id": "OfferObjectAddMessageResponse"
    },
    "ImageUri": {
      "id": "ImageUri",
      "properties": {
        "localizedDescription": {
          "deprecated": true,
          "$ref": "LocalizedString",
          "description": "Translated strings for the description, which are unused and retained only for backward compatibility."
        },
        "uri": {
          "type": "string",
          "description": "The location of the image. URIs must have a scheme."
        },
        "description": {
          "type": "string",
          "deprecated": true,
          "description": "Additional information about the image, which is unused and retained only for backward compatibility."
        }
      },
      "type": "object"
    },
    "LoyaltyObjectListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyObject"
          },
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "id": "LoyaltyObjectListResponse"
    },
    "OfferClass": {
      "id": "OfferClass",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. The offer provider (either the aggregator name or merchant name). Recommended maximum length is 12 characters to ensure full string is displayed on smaller screens."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "version": {
          "description": "Deprecated",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "redemptionIssuers": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "allowMultipleUsersPerObject": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
        },
        "viewUnlockRequirement": {
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "description": "View Unlock Requirement options for the offer."
        },
        "redemptionChannel": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "REDEMPTION_CHANNEL_UNSPECIFIED",
            "INSTORE",
            "instore",
            "ONLINE",
            "online",
            "BOTH",
            "both",
            "TEMPORARY_PRICE_REDUCTION",
            "temporaryPriceReduction"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `INSTORE`. Deprecated.",
            "",
            "Legacy alias for `ONLINE`. Deprecated.",
            "",
            "Legacy alias for `BOTH`. Deprecated.",
            "",
            "Legacy alias for `TEMPORARY_PRICE_REDUCTION`. Deprecated."
          ],
          "type": "string",
          "description": "Required. The redemption channels applicable to this offer."
        },
        "reviewStatus": {
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "description": "Required. The status of the class. This field can be set to `draft` or The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`."
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerClass\"`."
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true
        },
        "securityAnimation": {
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details.",
          "$ref": "SecurityAnimation"
        },
        "wideTitleImage": {
          "description": "The wide title image of the offer. When provided, this will be used in place of the title image in the top left of the card view.",
          "$ref": "Image"
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "localizedTitle": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the title. Recommended maximum length is 60 characters to ensure full string is displayed on smaller screens."
        },
        "helpUri": {
          "description": "The help link for the offer, such as `http://myownpersonaldomain.com/help`",
          "$ref": "Uri"
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the offer, such as \"20% off any t-shirt.\" Recommended maximum length is 60 characters to ensure full string is displayed on smaller screens."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "valueAddedModuleData": {
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "merchantLocations": {
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string"
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "finePrint": {
          "description": "The fine print or terms of the offer, such as \"20% off any t-shirt at Adam's Apparel.\"",
          "type": "string"
        },
        "localizedProvider": {
          "description": "Translated strings for the provider. Recommended maximum length is 12 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "issuerName": {
          "type": "string",
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "titleImage": {
          "$ref": "Image",
          "description": "The title image of the offer. This image is displayed in both the details and list views of the app."
        },
        "localizedDetails": {
          "description": "Translated strings for the details.",
          "$ref": "LocalizedString"
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "wordMark": {
          "$ref": "Image",
          "deprecated": true,
          "description": "Deprecated."
        },
        "localizedShortTitle": {
          "description": "Translated strings for the short title. Recommended maximum length is 20 characters.",
          "$ref": "LocalizedString"
        },
        "locations": {
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "shortTitle": {
          "type": "string",
          "description": "A shortened version of the title of the offer, such as \"20% off,\" shown to users as a quick reference to the offer contents. Recommended maximum length is 20 characters."
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class."
        },
        "details": {
          "description": "The details of the offer.",
          "type": "string"
        },
        "enableSmartTap": {
          "type": "boolean",
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "localizedFinePrint": {
          "description": "Translated strings for the fine_print.",
          "$ref": "LocalizedString"
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        }
      }
    },
    "LoyaltyPointsBalance": {
      "id": "LoyaltyPointsBalance",
      "properties": {
        "int": {
          "format": "int32",
          "type": "integer",
          "description": "The integer form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "string": {
          "description": "The string form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "string"
        },
        "double": {
          "description": "The double form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "number",
          "format": "double"
        },
        "money": {
          "description": "The money form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "$ref": "Money"
        }
      },
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "emailAddress": {
          "description": "The email address of the user, group, or service account to which this permission refers to.",
          "type": "string"
        },
        "role": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "owner",
            "READER",
            "reader",
            "WRITER",
            "writer"
          ],
          "type": "string",
          "description": "The role granted by this permission.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `OWNER`. Deprecated.",
            "",
            "Legacy alias for `READER`. Deprecated.",
            "",
            "Legacy alias for `WRITER`. Deprecated."
          ]
        }
      }
    },
    "TicketLeg": {
      "type": "object",
      "properties": {
        "originStationCode": {
          "type": "string",
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present."
        },
        "fareName": {
          "$ref": "LocalizedString",
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\"."
        },
        "destinationStationCode": {
          "type": "string",
          "description": "The destination station code."
        },
        "zone": {
          "type": "string",
          "description": "The zone of boarding within the platform."
        },
        "arrivalDateTime": {
          "type": "string",
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "transitOperatorName": {
          "description": "The name of the transit operator that is operating this leg of a trip.",
          "$ref": "LocalizedString"
        },
        "departureDateTime": {
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "originName": {
          "$ref": "LocalizedString",
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present."
        },
        "carriage": {
          "description": "The train or ship name/number that the passsenger needs to board.",
          "type": "string"
        },
        "ticketSeat": {
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "$ref": "TicketSeat"
        },
        "destinationName": {
          "$ref": "LocalizedString",
          "description": "The destination name."
        },
        "platform": {
          "type": "string",
          "description": "The platform or gate where the passenger can board the carriage."
        },
        "ticketSeats": {
          "items": {
            "$ref": "TicketSeat"
          },
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "type": "array"
        },
        "transitTerminusName": {
          "description": "Terminus station or destination of the train/bus/etc.",
          "$ref": "LocalizedString"
        }
      },
      "id": "TicketLeg"
    },
    "SetPassUpdateNoticeResponse": {
      "type": "object",
      "id": "SetPassUpdateNoticeResponse",
      "properties": {},
      "description": "A response to a request to notify Google of an awaiting update to a private pass."
    },
    "FlightHeader": {
      "properties": {
        "operatingFlightNumber": {
          "type": "string",
          "description": "The flight number used by the operating carrier without IATA carrier code. This field should contain only digits. eg: \"234\""
        },
        "operatingCarrier": {
          "$ref": "FlightCarrier",
          "description": "Information about operating airline carrier."
        },
        "carrier": {
          "$ref": "FlightCarrier",
          "description": "Information about airline carrier. This is a required property of `flightHeader`."
        },
        "flightNumber": {
          "type": "string",
          "description": "The flight number without IATA carrier code. This field should contain only digits. This is a required property of `flightHeader`. eg: \"123\""
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightHeader\"`.",
          "type": "string"
        },
        "flightNumberDisplayOverride": {
          "type": "string",
          "description": "Override value to use for flight number. The default value used for display purposes is carrier + flight_number. If a different value needs to be shown to passengers, use this field to override the default behavior. eg: \"XX1234 / YY576\""
        }
      },
      "id": "FlightHeader",
      "type": "object"
    },
    "RotatingBarcode": {
      "properties": {
        "valuePattern": {
          "type": "string",
          "description": "String encoded barcode value. This string supports the following substitutions: * {totp_value_n}: Replaced with the TOTP value (see TotpDetails.parameters). * {totp_timestamp_millis}: Replaced with the timestamp (millis since epoch) at which the barcode was generated. * {totp_timestamp_seconds}: Replaced with the timestamp (seconds since epoch) at which the barcode was generated."
        },
        "showCodeText": {
          "$ref": "LocalizedString",
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "type": "string",
          "description": "The type of this barcode.",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ]
        },
        "alternateText": {
          "type": "string",
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned."
        },
        "initialRotatingBarcodeValues": {
          "description": "Input only. NOTE: This feature is only available for the transit vertical. Optional set of initial rotating barcode values. This allows a small subset of barcodes to be included with the object. Further rotating barcode values must be uploaded with the UploadRotatingBarcodeValues endpoint.",
          "$ref": "RotatingBarcodeValues"
        },
        "totpDetails": {
          "description": "Details used to evaluate the {totp_value_n} substitutions.",
          "$ref": "RotatingBarcodeTotpDetails"
        },
        "renderEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ],
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ]
        }
      },
      "type": "object",
      "id": "RotatingBarcode"
    },
    "ActivationStatus": {
      "id": "ActivationStatus",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ]
        }
      },
      "description": "The activation status of the object. This field includes activation status if valuable supports activation.",
      "type": "object"
    },
    "FlightCarrier": {
      "id": "FlightCarrier",
      "properties": {
        "carrierIataCode": {
          "description": "Two character IATA airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIcaoCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"LX\" for Swiss Air",
          "type": "string"
        },
        "airlineAllianceLogo": {
          "description": "A logo for the airline alliance, displayed below the QR code that the passenger scans to board.",
          "$ref": "Image"
        },
        "carrierIcaoCode": {
          "description": "Three character ICAO airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIataCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"EZY\" for Easy Jet",
          "type": "string"
        },
        "wideAirlineLogo": {
          "description": "The wide logo of the airline. When provided, this will be used in place of the airline logo in the top left of the card view.",
          "$ref": "Image"
        },
        "airlineName": {
          "$ref": "LocalizedString",
          "description": "A localized name of the airline specified by carrierIataCode. If unset, `issuer_name` or `localized_issuer_name` from `FlightClass` will be used for display purposes. eg: \"Swiss Air\" for \"LX\""
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightCarrier\"`.",
          "deprecated": true,
          "type": "string"
        },
        "airlineLogo": {
          "description": "A logo for the airline described by carrierIataCode and localizedAirlineName. This logo will be rendered at the top of the detailed card view.",
          "$ref": "Image"
        }
      },
      "type": "object"
    },
    "AddMessageRequest": {
      "id": "AddMessageRequest",
      "description": "Resource used when the AddMessage endpoints are called.",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "LoyaltyObjectAddMessageResponse": {
      "id": "LoyaltyObjectAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated LoyaltyObject resource.",
          "$ref": "LoyaltyObject"
        }
      },
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "properties": {
        "privateImageId": {
          "description": "An ID for an already uploaded private image. Either this or source_uri should be set. Requests setting both or neither will be rejected. Please contact support to use private images.",
          "type": "string"
        },
        "contentDescription": {
          "$ref": "LocalizedString",
          "description": "Description of the image used for accessibility."
        },
        "sourceUri": {
          "description": "A URI for the image. Either this or private_image_id should be set. Requests setting both or neither will be rejected.",
          "$ref": "ImageUri"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#image\"`.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Wrapping type for Google hosted images.",
      "type": "object"
    },
    "AppLinkDataAppLinkInfo": {
      "type": "object",
      "properties": {
        "appTarget": {
          "$ref": "AppLinkDataAppLinkInfoAppTarget",
          "description": "Target to follow when opening the app link on clients. It will be used by partners to open their app or webpage."
        },
        "title": {
[...]
