{
  "kind": "discovery#restDescription",
  "servicePath": "",
  "name": "walletobjects",
  "canonicalName": "Walletobjects",
  "fullyEncodeReservedExpansion": true,
  "id": "walletobjects:v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "giftcardobject": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.giftcardobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GiftCardObject"
          }
        },
        "list": {
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardobject.list",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/giftCardObject"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "id": "walletobjects.giftcardobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Returns the gift card object with the given object ID.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get"
        },
        "insert": {
          "parameterOrder": [],
          "description": "Inserts an gift card object with the given ID and properties.",
          "parameters": {},
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject",
          "id": "walletobjects.giftcardobject.insert",
          "flatPath": "walletobjects/v1/giftCardObject"
        },
        "update": {
          "id": "walletobjects.giftcardobject.update",
          "description": "Updates the gift card object referenced by the given object ID.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "path": "walletobjects/v1/giftCardObject/{resourceId}"
        }
      }
    },
    "flightobject": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "walletobjects.flightobject.patch",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "get": {
          "id": "walletobjects.flightobject.get",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the flight object with the given object ID.",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "list": {
          "flatPath": "walletobjects/v1/flightObject",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightObject",
          "parameters": {
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "id": "walletobjects.flightobject.list"
        },
        "update": {
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID.",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.update",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "id": "walletobjects.flightobject.addmessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage"
        },
        "insert": {
          "response": {
            "$ref": "FlightObject"
          },
          "request": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject",
          "path": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts an flight object with the given ID and properties.",
          "id": "walletobjects.flightobject.insert",
          "parameters": {}
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Permissions"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64"
            }
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Returns the permissions for the given issuer id."
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Permissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.update",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Updates the permissions for the given issuer.",
          "response": {
            "$ref": "Permissions"
          }
        }
      }
    },
    "offerobject": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.offerobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID."
        },
        "patch": {
          "id": "walletobjects.offerobject.patch",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "OfferObject"
          },
          "response": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}"
        },
        "insert": {
          "description": "Inserts an offer object with the given ID and properties.",
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "walletobjects/v1/offerObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.insert",
          "path": "walletobjects/v1/offerObject",
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.offerobject.update",
          "request": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.offerobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "path": "walletobjects/v1/offerObject",
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/offerObject"
        },
        "addmessage": {
          "id": "walletobjects.offerobject.addmessage",
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST",
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "transitclass": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the transit class with the given class ID.",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "path": "walletobjects/v1/transitClass",
          "flatPath": "walletobjects/v1/transitClass",
          "description": "Inserts a transit class with the given ID and properties.",
          "request": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert"
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "id": "walletobjects.transitclass.addmessage",
          "description": "Adds a message to the transit class referenced by the given class ID."
        },
        "update": {
          "description": "Updates the transit class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "id": "walletobjects.transitclass.update",
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT"
        },
        "list": {
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "id": "walletobjects.transitclass.list",
          "flatPath": "walletobjects/v1/transitClass",
          "path": "walletobjects/v1/transitClass",
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        },
        "patch": {
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.patch",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "request": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "genericobject": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/genericObject",
          "flatPath": "walletobjects/v1/genericObject",
          "parameters": {},
          "id": "walletobjects.genericobject.insert",
          "response": {
            "$ref": "GenericObject"
          },
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Inserts a generic object with the given ID and properties."
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GenericObject"
          },
          "request": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}"
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "walletobjects.genericobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the generic object referenced by the given object ID."
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.update",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}"
        },
        "list": {
          "path": "walletobjects/v1/genericObject",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.list"
        },
        "get": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.get",
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Returns the generic object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          }
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID.",
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "id": "walletobjects.eventticketclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "patch": {
          "id": "walletobjects.eventticketclass.patch",
          "request": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "get": {
          "id": "walletobjects.eventticketclass.get",
          "description": "Returns the event ticket class with the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "insert": {
          "parameters": {},
          "path": "walletobjects/v1/eventTicketClass",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventTicketClass"
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an event ticket class with the given ID and properties.",
          "id": "walletobjects.eventticketclass.insert"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketclass.addmessage",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          }
        },
        "list": {
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "path": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "id": "walletobjects.eventticketclass.list",
          "flatPath": "walletobjects/v1/eventTicketClass"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "patch": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "walletobjects/v1/loyaltyObject",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "id": "walletobjects.loyaltyobject.list",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "insert": {
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.insert",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "description": "Inserts an loyalty object with the given ID and properties."
        },
        "modifylinkedofferobjects": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "deprecated": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Updates the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.update",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "request": {
            "$ref": "LoyaltyObject"
          }
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.addmessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/issuer",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "response": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties.",
          "id": "walletobjects.issuer.insert"
        },
        "list": {
          "description": "Returns a list of all issuers shared to the caller.",
          "flatPath": "walletobjects/v1/issuer",
          "httpMethod": "GET",
          "parameters": {},
          "id": "walletobjects.issuer.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/issuer"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the issuer with the given issuer ID.",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.get"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.patch",
          "request": {
            "$ref": "Issuer"
          }
        },
        "update": {
          "id": "walletobjects.issuer.update",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "parameters": {
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass"
        },
        "insert": {
          "path": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass"
        },
        "get": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyclass.get",
          "description": "Returns the loyalty class with the given class ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "id": "walletobjects.loyaltyclass.addmessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PATCH",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.patch"
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty class referenced by the given class ID.",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.loyaltyclass.update",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "flightclass": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.list",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "id": "walletobjects.flightclass.patch"
        },
        "get": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Returns the flight class with the given class ID.",
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.update",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PUT",
          "description": "Updates the flight class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "path": "walletobjects/v1/flightClass/{resourceId}"
        },
        "addmessage": {
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.addmessage",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          }
        },
        "insert": {
          "request": {
            "$ref": "FlightClass"
          },
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Inserts an flight class with the given ID and properties.",
          "path": "walletobjects/v1/flightClass",
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.insert",
          "flatPath": "walletobjects/v1/flightClass"
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "modifylinkedofferobjects": {
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "deprecated": true,
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "id": "walletobjects.eventticketobject.addmessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/eventTicketObject",
          "id": "walletobjects.eventticketobject.insert",
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "EventTicketObject"
          }
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.eventticketobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "get": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.get",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the event ticket object with the given object ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.update",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the event ticket object referenced by the given object ID."
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.eventticketobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject",
          "flatPath": "walletobjects/v1/eventTicketObject"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Media"
          },
          "id": "walletobjects.media.download",
          "parameterOrder": [
            "resourceId"
          ],
          "supportsMediaDownload": true,
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID."
        },
        "upload": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.media.upload",
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
                "multipart": true
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.insert",
          "description": "Inserts an transit object with the given ID and properties.",
          "response": {
            "$ref": "TransitObject"
          },
          "request": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitObject"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer"
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "walletobjects.transitobject.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "path": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID."
        },
        "addmessage": {
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.transitobject.addmessage"
        },
        "get": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.get",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the transit object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.patch",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH"
        },
        "update": {
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.update",
          "request": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "description": "Updates the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/smartTap",
          "id": "walletobjects.smarttap.insert",
          "response": {
            "$ref": "SmartTap"
          },
          "request": {
            "$ref": "SmartTap"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "description": "Inserts the smart tap.",
          "flatPath": "walletobjects/v1/smartTap",
          "parameters": {},
          "httpMethod": "POST"
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "parameters": {},
                  "httpMethod": "POST",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "parameterOrder": [],
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "description": "Inserts the resources in the JWT.",
          "flatPath": "walletobjects/v1/jwt",
          "id": "walletobjects.jwt.insert",
          "parameterOrder": [],
          "request": {
            "$ref": "JwtResource"
          },
          "path": "walletobjects/v1/jwt",
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "JwtInsertResponse"
          }
        },
        "validate": {
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "path": "walletobjects/v1/jwt/validate",
          "flatPath": "walletobjects/v1/jwt/validate",
          "id": "walletobjects.jwt.validate",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "id": "walletobjects.genericclass.addmessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage"
        },
        "insert": {
          "parameters": {},
          "id": "walletobjects.genericclass.insert",
          "flatPath": "walletobjects/v1/genericClass",
          "path": "walletobjects/v1/genericClass",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Inserts a generic class with the given ID and properties."
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.update",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.list"
        },
        "patch": {
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.patch",
          "request": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          }
        },
        "get": {
          "description": "Returns the generic class with the given class ID.",
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.get"
[...]
