{
  "rootUrl": "https://walletobjects.googleapis.com/",
  "revision": "20260918",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "servicePath": "",
  "id": "walletobjects:v1",
  "canonicalName": "Walletobjects",
  "protocol": "rest",
  "ownerName": "Google",
  "title": "Google Wallet API",
  "version": "v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/pay/passes",
  "name": "walletobjects",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "schemas": {
    "DeviceContext": {
      "id": "DeviceContext",
      "description": "Device context associated with the object.",
      "type": "object",
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "If set, redemption information will only be returned to the given device upon activation of the object. This should not be used as a stable identifier to trace a user's device. It can change across different passes for the same device or even across different activations for the same device. When setting this, callers must also set has_linked_device on the object being activated."
        }
      }
    },
    "GenericClassAddMessageResponse": {
      "description": "Response to adding a new issuer message to the class. This contains the entire updated GenericClass.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "GenericClass"
        }
      },
      "id": "GenericClassAddMessageResponse"
    },
    "IssuerToUserInfo": {
      "type": "object",
      "id": "IssuerToUserInfo",
      "properties": {
        "signUpInfo": {
          "$ref": "SignUpInfo"
        },
        "url": {
          "description": "Currently not used, consider deprecating.",
          "type": "string"
        },
        "value": {
          "description": "JSON web token for action S2AP.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "S2AP",
            "s2ap",
            "SIGN_UP",
            "signUp"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `S2AP`. Deprecated.",
            "",
            "Legacy alias for `SIGN_UP`. Deprecated."
          ]
        }
      }
    },
    "EventSeat": {
      "id": "EventSeat",
      "properties": {
        "gate": {
          "description": "The gate the ticket holder should enter to get to their seat, such as \"A\" or \"West\". This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        },
        "section": {
          "description": "The section of the seat, such as \"121\". This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        },
        "row": {
          "$ref": "LocalizedString",
          "description": "The row of the seat, such as \"1\", E\", \"BB\", or \"A5\". This field is localizable so you may translate words or use different alphabets for the characters in an identifier."
        },
        "seat": {
          "description": "The seat number, such as \"1\", \"2\", \"3\", or any other seat identifier. This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventSeat\"`."
        }
      },
      "type": "object"
    },
    "CardRowTwoItems": {
      "id": "CardRowTwoItems",
      "properties": {
        "endItem": {
          "description": "The item to be displayed at the end of the row. This item will be aligned to the right.",
          "$ref": "TemplateItem"
        },
        "startItem": {
          "$ref": "TemplateItem",
          "description": "The item to be displayed at the start of the row. This item will be aligned to the left."
        }
      },
      "type": "object"
    },
    "DiscoverableProgramMerchantSignupInfo": {
      "description": "Information about the merchant hosted signup flow for a program.",
      "properties": {
        "signupSharedDatas": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "single line address field",
              "multi line address fields",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "SHARED_DATA_TYPE_UNSPECIFIED",
              "FIRST_NAME",
              "LAST_NAME",
              "STREET_ADDRESS",
              "ADDRESS_LINE_1",
              "ADDRESS_LINE_2",
              "ADDRESS_LINE_3",
              "CITY",
              "STATE",
              "ZIPCODE",
              "COUNTRY",
              "EMAIL",
              "PHONE"
            ]
          },
          "type": "array",
          "description": "User data that is sent in a POST request to the signup website URL. This information is encoded and then shared so that the merchant's website can prefill fields used to enroll the user for the discoverable program."
        },
        "signupWebsite": {
          "description": "The URL to direct the user to for the merchant's signup site.",
          "$ref": "Uri"
        }
      },
      "type": "object",
      "id": "DiscoverableProgramMerchantSignupInfo"
    },
    "OfferObject": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerObject\"`.",
          "deprecated": true,
          "type": "string"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "version": {
          "format": "int64",
          "deprecated": true,
          "type": "string",
          "description": "Deprecated"
        },
        "notifyPreference": {
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "type": "string"
        },
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
        },
        "locations": {
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "type": "string"
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "OfferClass"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "saveRestrictions": {
          "$ref": "SaveRestrictions",
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "linkedObjectIds": {
          "type": "array",
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this offer object. If a user had saved this offer, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID.identifier where the former is issued by Google and the latter is chosen by you.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array"
        }
      },
      "id": "OfferObject"
    },
    "FlightClassListResponse": {
      "id": "FlightClassListResponse",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "FlightClass"
          },
          "type": "array"
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "type": "object"
    },
    "ContentTypeInfo": {
      "properties": {
        "fromUrlPath": {
          "type": "string",
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API)."
        },
        "fromFileName": {
          "description": "The content type of the file derived from the file extension of the original file name used by the client.",
          "type": "string"
        },
        "bestGuess": {
          "description": "Scotty's best guess of what the content type of the file is.",
          "type": "string"
        },
        "fromBytes": {
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        },
        "fromFusionId": {
          "type": "string",
          "description": "The content type of the file detected by Fusion ID. go/fusionid"
        },
        "fusionIdDetectionMetadata": {
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo",
      "type": "object",
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty."
    },
    "Blobstore2Info": {
      "properties": {
        "uploadMetadataContainer": {
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "blobGeneration": {
          "format": "int64",
          "description": "The blob generation id.",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte",
          "type": "string"
        },
        "blobId": {
          "type": "string",
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty"
        },
        "uploadFragmentListCreationInfo": {
          "type": "string",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte"
        },
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "downloadReadHandle": {
          "type": "string",
          "format": "byte",
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads."
        }
      },
      "type": "object",
      "id": "Blobstore2Info",
      "description": "Information to read/write to blobstore2."
    },
    "GenericClass": {
      "id": "GenericClass",
      "description": "Generic Class",
      "properties": {
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "id": {
          "description": "Required. The unique identifier for the class. This ID must be unique across all from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
          "type": "string"
        },
        "enableSmartTap": {
          "type": "boolean",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ]
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "imageModulesData": {
          "description": "Image module data. If `imageModulesData` is also defined on the object, both will be displayed. Only one of the image from class and one from object level will be rendered when both set.",
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "redemptionIssuers": {
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "viewUnlockRequirement": {
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "description": "View Unlock Requirement options for the generic pass.",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ]
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array",
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "linksModuleData": {
          "description": "Links module data. If `linksModuleData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "$ref": "LinksModuleData"
        },
        "classTemplateInfo": {
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display.",
          "$ref": "ClassTemplateInfo"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If `textModulesData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        }
      },
      "type": "object"
    },
    "IssuerListResponse": {
      "type": "object",
      "id": "IssuerListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Issuer"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        }
      }
    },
    "ModifyLinkedOfferObjects": {
      "properties": {
        "addLinkedOfferObjectIds": {
          "description": "The linked offer object ids to add to the object.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLinkedOfferObjectIds": {
          "description": "The linked offer object ids to remove from the object.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyLinkedOfferObjects",
      "type": "object"
    },
    "UploadPrivateImageRequest": {
      "type": "object",
      "id": "UploadPrivateImageRequest",
      "properties": {},
      "description": "Request to upload a private image to use in a pass."
    },
    "TransitObjectUploadRotatingBarcodeValuesResponse": {
      "description": "Response for uploading rotating barcode values.",
      "id": "TransitObjectUploadRotatingBarcodeValuesResponse",
      "type": "object",
      "properties": {}
    },
    "BarcodeSectionDetail": {
      "properties": {
        "fieldSelector": {
          "description": "A reference to an existing text-based or image field to display.",
          "$ref": "FieldSelector"
        }
      },
      "id": "BarcodeSectionDetail",
      "type": "object"
    },
    "TicketRestrictions": {
      "properties": {
        "otherRestrictions": {
          "$ref": "LocalizedString",
          "description": "Extra restrictions that don't fall under the \"route\" or \"time\" categories."
        },
        "routeRestrictionsDetails": {
          "description": "More details about the above `routeRestrictions`.",
          "$ref": "LocalizedString"
        },
        "timeRestrictions": {
          "description": "Restrictions about times this ticket may be used.",
          "$ref": "LocalizedString"
        },
        "routeRestrictions": {
          "$ref": "LocalizedString",
          "description": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\"."
        }
      },
      "type": "object",
      "id": "TicketRestrictions"
    },
    "FlightHeader": {
      "properties": {
        "carrier": {
          "$ref": "FlightCarrier",
          "description": "Information about airline carrier. This is a required property of `flightHeader`."
        },
        "operatingCarrier": {
          "$ref": "FlightCarrier",
          "description": "Information about operating airline carrier."
        },
        "operatingFlightNumber": {
          "description": "The flight number used by the operating carrier without IATA carrier code. This field should contain only digits. eg: \"234\"",
          "type": "string"
        },
        "flightNumber": {
          "type": "string",
          "description": "The flight number without IATA carrier code. This field should contain only digits. This is a required property of `flightHeader`. eg: \"123\""
        },
        "flightNumberDisplayOverride": {
          "type": "string",
          "description": "Override value to use for flight number. The default value used for display purposes is carrier + flight_number. If a different value needs to be shown to passengers, use this field to override the default behavior. eg: \"XX1234 / YY576\""
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightHeader\"`."
        }
      },
      "id": "FlightHeader",
      "type": "object"
    },
    "Pagination": {
      "id": "Pagination",
      "properties": {
        "resultsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "Number of results returned in this page."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#pagination\"`.",
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "Page token to send to fetch the next page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DetailsTemplateOverride": {
      "type": "object",
      "properties": {
        "detailsItemInfos": {
          "description": "Information for the \"nth\" item displayed in the details list.",
          "type": "array",
          "items": {
            "$ref": "DetailsItemInfo"
          }
        }
      },
      "id": "DetailsTemplateOverride"
    },
    "TimeInterval": {
      "type": "object",
      "properties": {
        "start": {
          "$ref": "DateTime",
          "description": "Start time of the interval. Offset is not required. If an offset is provided and `end` time is set, `end` must also include an offset."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#timeInterval\"`."
        },
        "end": {
          "description": "End time of the interval. Offset is not required. If an offset is provided and `start` time is set, `start` must also include an offset.",
          "$ref": "DateTime"
        }
      },
      "id": "TimeInterval"
    },
    "ActivationStatus": {
      "properties": {
        "state": {
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ]
        }
      },
      "type": "object",
      "id": "ActivationStatus",
      "description": "The activation status of the object. This field includes activation status if valuable supports activation."
    },
    "UploadPrivateImageResponse": {
      "type": "object",
      "properties": {
        "privateImageId": {
          "description": "Unique ID of the uploaded image to be referenced later in Image.private_image_id.",
          "type": "string"
        }
      },
      "description": "Response for uploading the private image.",
      "id": "UploadPrivateImageResponse"
    },
    "RotatingBarcodeTotpDetailsTotpParameters": {
      "type": "object",
      "id": "RotatingBarcodeTotpDetailsTotpParameters",
      "description": "Configuration for the key and value length. See https://www.rfc-editor.org/rfc/rfc4226#section-5.3",
      "properties": {
        "key": {
          "type": "string",
          "description": "The secret key used for the TOTP value generation, encoded as a Base16 string."
        },
        "valueLength": {
          "description": "The length of the TOTP value in decimal digits.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SignUpInfo": {
      "id": "SignUpInfo",
      "properties": {
        "classId": {
          "type": "string",
          "description": "ID of the class the user can sign up for."
        }
      },
      "type": "object"
    },
    "OfferObjectListResponse": {
      "id": "OfferObjectListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "OfferObject"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "type": "object"
    },
    "DiffChecksumsResponse": {
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "DiffChecksumsResponse",
      "properties": {
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "CompositeMedia"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "The total size of the server object.",
          "type": "string"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "description": "The chunk size of checksums. Must be a multiple of 256KB.",
          "type": "string"
        },
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        }
      }
    },
    "CallbackOptions": {
      "id": "CallbackOptions",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The HTTPS url configured by the merchant. The URL should be hosted on HTTPS and robots.txt should allow the URL path to be accessible by UserAgent:Googlebot."
        },
        "updateRequestUrl": {
          "description": "URL for the merchant endpoint that would be called to request updates. The URL should be hosted on HTTPS and robots.txt should allow the URL path to be accessible by UserAgent:Googlebot. Deprecated.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "ActivationOptions": {
      "description": "ActivationOptions for the class",
      "id": "ActivationOptions",
      "properties": {
        "allowReactivation": {
          "description": "Flag to allow users to make activation call from different device. This allows client to render the activation button enabled even if the activationStatus is ACTIVATED but the requested device is different than the current device.",
          "type": "boolean"
        },
        "activationUrl": {
          "description": "HTTPS URL that supports REST semantics. Would be used for requesting activation from partners for given valuable, triggered by the users.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LabelValue": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        },
        "label": {
          "description": "The label for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "type": "string"
        },
        "localizedLabel": {
          "description": "Translated strings for the label. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "$ref": "LocalizedString"
        },
        "localizedValue": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the value. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        }
      },
      "description": "A pair of text strings to be displayed in the details view. Note we no longer display LabelValue/LabelValueRow as a table, instead a list of items.",
      "id": "LabelValue"
    },
    "FlightClassAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated FlightClass resource.",
          "$ref": "FlightClass"
        }
      },
      "id": "FlightClassAddMessageResponse"
    },
    "CardRowTemplateInfo": {
      "id": "CardRowTemplateInfo",
      "type": "object",
      "properties": {
        "oneItem": {
          "description": "Template for a row containing one item. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowOneItem"
        },
        "threeItems": {
          "description": "Template for a row containing three items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowThreeItems"
        },
        "twoItems": {
          "$ref": "CardRowTwoItems",
          "description": "Template for a row containing two items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set."
        }
      }
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "The version of the object stored at the server."
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "TicketLeg": {
      "type": "object",
      "id": "TicketLeg",
      "properties": {
        "platform": {
          "description": "The platform or gate where the passenger can board the carriage.",
          "type": "string"
        },
        "destinationName": {
          "$ref": "LocalizedString",
          "description": "The destination name."
        },
        "carriage": {
          "description": "The train or ship name/number that the passsenger needs to board.",
          "type": "string"
        },
        "originStationCode": {
          "type": "string",
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present."
        },
        "departureDateTime": {
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "fareName": {
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\".",
          "$ref": "LocalizedString"
        },
        "arrivalDateTime": {
          "type": "string",
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "originName": {
          "$ref": "LocalizedString",
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present."
        },
        "destinationStationCode": {
          "description": "The destination station code.",
          "type": "string"
        },
        "ticketSeat": {
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "$ref": "TicketSeat"
        },
        "zone": {
          "description": "The zone of boarding within the platform.",
          "type": "string"
        },
        "ticketSeats": {
          "items": {
            "$ref": "TicketSeat"
          },
          "type": "array",
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set."
        },
        "transitOperatorName": {
          "description": "The name of the transit operator that is operating this leg of a trip.",
          "$ref": "LocalizedString"
        },
        "transitTerminusName": {
          "description": "Terminus station or destination of the train/bus/etc.",
          "$ref": "LocalizedString"
        }
      }
    },
    "JwtResource": {
      "description": "A JWT representation of a pass.",
      "id": "JwtResource",
      "type": "object",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "Required. A string representing a JWT of the format described at https://developers.google.com/wallet/reference/rest/v1/Jwt"
        }
      }
    },
    "TicketSeat": {
      "type": "object",
      "id": "TicketSeat",
      "properties": {
        "seatAssignment": {
          "description": "The passenger's seat assignment. Eg. \"no specific seat\". To be used when there is no specific identifier to use in `seat`.",
          "$ref": "LocalizedString"
        },
        "seat": {
          "type": "string",
          "description": "The identifier of where the ticketed seat is located. Eg. \"42\". If there is no specific identifier, use `seatAssigment` instead."
        },
        "coach": {
          "description": "The identifier of the train car or coach in which the ticketed seat is located. Eg. \"10\"",
          "type": "string"
        },
        "fareClass": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "FARE_CLASS_UNSPECIFIED",
            "ECONOMY",
            "economy",
            "FIRST",
            "first",
            "BUSINESS",
            "business"
          ],
          "description": "The fare class of the ticketed seat.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ECONOMY`. Deprecated.",
            "",
            "Legacy alias for `FIRST`. Deprecated.",
            "",
            "Legacy alias for `BUSINESS`. Deprecated."
          ],
          "type": "string"
        },
        "customFareClass": {
          "$ref": "LocalizedString",
          "description": "A custome fare class to be used if no `fareClass` applies. Both `fareClass` and `customFareClass` may not be set."
        }
      }
    },
    "Message": {
      "description": "A message that will be displayed with a Valuable",
      "type": "object",
      "id": "Message",
      "properties": {
        "body": {
          "type": "string",
          "description": "The message body."
        },
        "messageType": {
          "type": "string",
          "description": "The message type.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "",
            "Renders the message as text on the card details screen. This is the default message type.",
            "Legacy alias for `TEXT`. Deprecated.",
            "Note: This enum is currently not supported.",
            "Legacy alias for `EXPIRATION_NOTIFICATION`. Deprecated.",
            "Renders the message as text on the card details screen and as an Android notification."
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TEXT",
            "text",
            "EXPIRATION_NOTIFICATION",
            "expirationNotification",
            "TEXT_AND_NOTIFY"
          ]
        },
        "localizedBody": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the message body."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#walletObjectMessage\"`.",
          "deprecated": true
        },
        "header": {
          "description": "The message header.",
          "type": "string"
        },
        "displayInterval": {
          "description": "The period of time that the message will be displayed to users. You can define both a `startTime` and `endTime` for each message. A message is displayed immediately after a Wallet Object is inserted unless a `startTime` is set. The message will appear in a list of messages indefinitely if `endTime` is not provided.",
          "$ref": "TimeInterval"
        },
        "id": {
          "type": "string",
          "description": "The ID associated with a message. This field is here to enable ease of management of messages. Notice ID values could possibly duplicate across multiple messages in the same class/instance, and care must be taken to select a reasonable ID for each message."
        },
        "localizedHeader": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the message header."
        }
      }
    },
    "FieldReference": {
      "properties": {
        "dateFormat": {
          "description": "Only valid if the `fieldPath` references a date field. Chooses how the date field will be formatted and displayed in the UI.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Default option when no format is specified, when selected, no formatting will be applied.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14` in `en_US`.",
            "Legacy alias for `DATE_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `1:00 PM` in `en_US`.",
            "Legacy alias for `TIME_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018` in `en_US`.",
            "Legacy alias for `DATE_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `2018-12`.",
            "Renders `2018-12-14T13:00:00` as `2018-12-14`."
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_TIME",
            "dateTime",
            "DATE_ONLY",
            "dateOnly",
            "TIME_ONLY",
            "timeOnly",
            "DATE_TIME_YEAR",
            "dateTimeYear",
            "DATE_YEAR",
            "dateYear",
            "YEAR_MONTH",
            "YEAR_MONTH_DAY"
          ]
        },
        "fieldPath": {
          "type": "string",
          "description": "Path to the field being referenced, prefixed with \"object\" or \"class\" and separated with dots. For example, it may be the string \"object.purchaseDetails.purchasePrice\"."
        }
      },
      "description": "Reference definition to use with field overrides.",
      "type": "object",
      "id": "FieldReference"
    },
    "RotatingBarcodeValues": {
      "type": "object",
      "description": "A payload containing many barcode values and start date/time.",
      "id": "RotatingBarcodeValues",
      "properties": {
        "periodMillis": {
          "type": "string",
          "format": "int64",
          "description": "Required. The amount of time each barcode is valid for."
        },
        "startDateTime": {
          "description": "Required. The date/time the first barcode is valid from. Barcodes will be rotated through using period_millis defined on the object's RotatingBarcodeValueInfo. This is an ISO 8601 extended format date/time, with an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year.",
          "type": "string"
        },
        "values": {
          "description": "Required. The values to encode in the barcode. At least one value is required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "The original object location."
        }
      },
      "type": "object",
      "id": "DiffDownloadResponse",
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "LoyaltyClass": {
      "type": "object",
      "properties": {
        "secondaryRewardsTierLabel": {
          "type": "string",
          "description": "The secondary rewards tier label, such as \"Rewards Tier.\""
        },
        "rewardsTierLabel": {
          "type": "string",
          "description": "The rewards tier label, such as \"Rewards Tier.\" Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens."
        },
        "localizedAccountNameLabel": {
          "description": "Translated strings for the account_name_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and one of object level `smartTapRedemptionLevel`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "localizedRewardsTierLabel": {
          "description": "Translated strings for the rewards_tier_label. Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "type": "string"
        },
        "localizedSecondaryRewardsTierLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the secondary_rewards_tier_label."
        },
        "redemptionIssuers": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and one of object level `smartTapRedemptionValue`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "array"
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedSecondaryRewardsTier": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the secondary_rewards_tier."
        },
        "wideProgramLogo": {
          "$ref": "Image",
          "description": "The wide logo of the loyalty program or company. When provided, this will be used in place of the program logo in the top left of the card view."
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "locations": {
          "deprecated": true,
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "classTemplateInfo": {
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display.",
          "$ref": "ClassTemplateInfo"
        },
        "accountIdLabel": {
          "type": "string",
          "description": "The account ID label, such as \"Member ID.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
        },
        "wordMark": {
          "description": "Deprecated.",
          "$ref": "Image",
          "deprecated": true
        },
        "secondaryRewardsTier": {
          "description": "The secondary rewards tier, such as \"Gold\" or \"Platinum.\"",
          "type": "string"
        },
        "viewUnlockRequirement": {
          "description": "View Unlock Requirement options for the loyalty card.",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ]
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead."
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width.",
          "$ref": "Image"
        },
        "securityAnimation": {
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details.",
          "$ref": "SecurityAnimation"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated",
          "deprecated": true
        },
        "localizedIssuerName": {
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "accountNameLabel": {
          "type": "string",
          "description": "The account name label, such as \"Member Name.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
        },
        "textModulesData": {
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array"
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "localizedRewardsTier": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the rewards_tier. Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens."
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "discoverableProgram": {
          "$ref": "DiscoverableProgram",
          "description": "Information about how the class may be discovered and instantiated from within the Google Pay app."
        },
        "localizedProgramName": {
          "description": "Translated strings for the program_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "type": "string"
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        },
        "programName": {
          "description": "Required. The program name, such as \"Adam's Apparel\". The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the object, both will be displayed."
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          }
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#loyaltyClass\"`.",
          "type": "string"
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "allowMultipleUsersPerObject": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
        },
        "programLogo": {
          "description": "Required. The logo of the loyalty program or company. This logo is displayed in both the details and list views of the app.",
          "$ref": "Image"
        },
        "reviewStatus": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "type": "string"
        },
        "rewardsTier": {
          "description": "The rewards tier, such as \"Gold\" or \"Platinum.\" Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedAccountIdLabel": {
          "description": "Translated strings for the account_id_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          }
        }
      },
      "id": "LoyaltyClass"
    },
    "FlightCarrier": {
      "id": "FlightCarrier",
      "properties": {
        "airlineName": {
          "description": "A localized name of the airline specified by carrierIataCode. If unset, `issuer_name` or `localized_issuer_name` from `FlightClass` will be used for display purposes. eg: \"Swiss Air\" for \"LX\"",
          "$ref": "LocalizedString"
        },
        "airlineLogo": {
          "$ref": "Image",
          "description": "A logo for the airline described by carrierIataCode and localizedAirlineName. This logo will be rendered at the top of the detailed card view."
        },
        "carrierIcaoCode": {
          "type": "string",
          "description": "Three character ICAO airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIataCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"EZY\" for Easy Jet"
        },
        "wideAirlineLogo": {
          "description": "The wide logo of the airline. When provided, this will be used in place of the airline logo in the top left of the card view.",
          "$ref": "Image"
        },
        "carrierIataCode": {
          "type": "string",
          "description": "Two character IATA airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIcaoCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"LX\" for Swiss Air"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightCarrier\"`.",
          "type": "string"
        },
        "airlineAllianceLogo": {
          "description": "A logo for the airline alliance, displayed below the QR code that the passenger scans to board.",
          "$ref": "Image"
        }
      },
      "type": "object"
    },
    "DetailsItemInfo": {
      "id": "DetailsItemInfo",
      "properties": {
        "item": {
          "description": "The item to be displayed in the details list.",
          "$ref": "TemplateItem"
        }
      },
      "type": "object"
    },
    "EventReservationInfo": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventReservationInfo\"`.",
          "type": "string",
          "deprecated": true
        },
        "confirmationCode": {
          "type": "string",
          "description": "The confirmation code of the event reservation. This may also take the form of an \"order number\", \"confirmation number\", \"reservation number\", or other equivalent."
        }
      },
      "id": "EventReservationInfo",
      "type": "object"
    },
    "SmartTapMerchantData": {
      "properties": {
        "smartTapMerchantId": {
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "format": "int64",
          "type": "string"
        },
        "authenticationKeys": {
          "items": {
            "$ref": "AuthenticationKey"
          },
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "array"
        }
      },
      "id": "SmartTapMerchantData",
      "type": "object"
    },
    "GiftCardClassAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated GiftCardClass resource.",
          "$ref": "GiftCardClass"
        }
      },
      "type": "object",
      "id": "GiftCardClassAddMessageResponse"
    },
    "SmartTap": {
      "id": "SmartTap",
      "properties": {
        "infos": {
          "type": "array",
          "items": {
            "$ref": "IssuerToUserInfo"
          },
          "description": "Communication from merchant to user."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#smartTap\"`.",
          "deprecated": true
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for a smart tap. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is the Smart Tap id. The Smart Tap id is a Base64 encoded string which represents the id which was generated by the Google Pay app."
        },
        "merchantId": {
          "format": "int64",
          "type": "string",
          "description": "Smart Tap merchant ID of who engaged in the Smart Tap interaction."
        }
      },
      "type": "object"
    },
    "DiscoverableProgram": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Visibility state of the discoverable program.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "Visible only to testers that have access to issuer account.",
            "Legacy alias for `TRUSTED_TESTERS`. Deprecated.",
            "Visible to all.",
            "Legacy alias for `LIVE`. Deprecated.",
            "Not visible.",
            "Legacy alias for `DISABLED`. Deprecated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRUSTED_TESTERS",
            "trustedTesters",
            "LIVE",
            "live",
            "DISABLED",
            "disabled"
          ]
        },
        "merchantSigninInfo": {
          "$ref": "DiscoverableProgramMerchantSigninInfo",
          "description": "Information about the ability to signin and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNIN is enabled."
        },
        "merchantSignupInfo": {
          "description": "Information about the ability to signup and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNUP is enabled.",
          "$ref": "DiscoverableProgramMerchantSignupInfo"
        }
      },
      "id": "DiscoverableProgram",
      "description": "Information about how a class may be discovered and instantiated from within the Google Wallet app. This is done by searching for a loyalty or gift card program and scanning or manually entering."
    },
    "LoyaltyPoints": {
      "type": "object",
      "id": "LoyaltyPoints",
      "properties": {
        "balance": {
          "description": "The account holder's loyalty point balance, such as \"500\" or \"$10.00\". Recommended maximum length is 7 characters. This is a required field of `loyaltyPoints` and `secondaryLoyaltyPoints`.",
          "$ref": "LoyaltyPointsBalance"
        },
        "localizedLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the label. Recommended maximum length is 9 characters."
        },
        "label": {
          "type": "string",
          "description": "The loyalty points label, such as \"Points\". Recommended maximum length is 9 characters."
        }
      }
    },
    "MerchantLocation": {
      "type": "object",
      "id": "MerchantLocation",
      "description": "Locations of interest for this class or object. Currently, this location is used for geofenced notifications. When a user is within a set radius of this lat/long, and dwells there, Google will trigger a notification. When a user exits this radius, the notification will be hidden.",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected.",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected."
        }
      }
    },
    "LatLongPoint": {
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#latLongPoint\"`.",
          "deprecated": true
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected."
        }
      },
      "type": "object",
      "id": "LatLongPoint"
    },
    "Issuer": {
      "type": "object",
      "id": "Issuer",
      "properties": {
        "callbackOptions": {
          "description": "Allows the issuer to provide their callback settings.",
          "$ref": "CallbackOptions"
        },
        "name": {
          "type": "string",
          "description": "The account name of the issuer."
        },
        "smartTapMerchantData": {
          "$ref": "SmartTapMerchantData",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        },
        "contactInfo": {
          "description": "Issuer contact information.",
          "$ref": "IssuerContactInfo"
        },
        "homepageUrl": {
          "description": "URL for the issuer's home page.",
          "type": "string"
        },
        "issuerId": {
          "format": "int64",
          "type": "string",
          "description": "The unique identifier for an issuer account. This is automatically generated when the issuer is inserted."
        }
      }
    },
    "AppLinkData": {
      "id": "AppLinkData",
      "type": "object",
      "properties": {
        "displayText": {
          "description": "Optional display text for the app link button. Character limit is 30.",
          "$ref": "LocalizedString"
        },
        "androidAppLinkInfo": {
          "$ref": "AppLinkDataAppLinkInfo",
          "description": "Optional information about the partner app link."
        },
        "iosAppLinkInfo": {
          "$ref": "AppLinkDataAppLinkInfo",
          "deprecated": true,
          "description": "Deprecated. Links to open iOS apps are not supported."
        },
        "webAppLinkInfo": {
          "description": "Optional information about the partner web link.",
          "$ref": "AppLinkDataAppLinkInfo"
        }
      }
    },
    "Resources": {
      "type": "object",
      "properties": {
        "transitClasses": {
          "items": {
            "$ref": "TransitClass"
          },
          "description": "A list of transit classes.",
          "type": "array"
        },
        "transitObjects": {
          "description": "A list of transit objects.",
          "type": "array",
          "items": {
            "$ref": "TransitObject"
          }
        },
        "genericObjects": {
          "description": "A list of generic objects.",
          "items": {
            "$ref": "GenericObject"
          },
          "type": "array"
        },
        "giftCardClasses": {
          "description": "A list of gift card classes.",
          "items": {
            "$ref": "GiftCardClass"
          },
          "type": "array"
        },
        "eventTicketClasses": {
          "type": "array",
          "description": "A list of event ticket classes.",
          "items": {
            "$ref": "EventTicketClass"
          }
        },
        "offerObjects": {
          "description": "A list of offer objects.",
          "items": {
            "$ref": "OfferObject"
          },
          "type": "array"
        },
        "eventTicketObjects": {
          "type": "array",
          "items": {
            "$ref": "EventTicketObject"
          },
          "description": "A list of event ticket objects."
        },
        "flightClasses": {
          "type": "array",
          "description": "A list of flight classes.",
          "items": {
            "$ref": "FlightClass"
          }
        },
        "loyaltyClasses": {
          "type": "array",
          "description": "A list of loyalty classes.",
          "items": {
            "$ref": "LoyaltyClass"
          }
        },
        "loyaltyObjects": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyObject"
          },
          "description": "A list of loyalty objects."
        },
        "flightObjects": {
          "items": {
            "$ref": "FlightObject"
          },
          "type": "array",
          "description": "A list of flight objects."
        },
        "giftCardObjects": {
          "items": {
            "$ref": "GiftCardObject"
          },
          "description": "A list of gift card objects.",
          "type": "array"
        },
        "offerClasses": {
          "description": "A list of offer classes.",
          "type": "array",
          "items": {
            "$ref": "OfferClass"
          }
        },
        "genericClasses": {
          "items": {
            "$ref": "GenericClass"
          },
          "type": "array",
          "description": "A list of generic classes."
        }
      },
      "id": "Resources"
    },
    "ListTemplateOverride": {
      "type": "object",
      "id": "ListTemplateOverride",
      "properties": {
        "firstRowOption": {
          "$ref": "FirstRowOption",
          "description": "Specifies from a predefined set of options or from a reference to the field what will be displayed in the first row. To set this override, set the FirstRowOption.fieldOption to the FieldSelector of your choice."
        },
        "secondRowOption": {
          "description": "A reference to the field to be displayed in the second row. This option is only displayed if there are not multiple user objects in a group. If there is a group, the second row will always display a field shared by all objects. To set this override, please set secondRowOption to the FieldSelector of you choice.",
          "$ref": "FieldSelector"
        },
        "thirdRowOption": {
          "description": "An unused/deprecated field. Setting it will have no effect on what the user sees.",
          "$ref": "FieldSelector",
          "deprecated": true
        }
      }
    },
    "EventTicketClassAddMessageResponse": {
      "type": "object",
      "id": "EventTicketClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "EventTicketClass"
        }
      }
    },
    "BoardingAndSeatingInfo": {
      "id": "BoardingAndSeatingInfo",
      "type": "object",
      "properties": {
        "seatAssignment": {
          "description": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\"",
          "$ref": "LocalizedString"
        },
        "seatClass": {
          "type": "string",
          "description": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\""
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`.",
          "type": "string"
        },
        "boardingGroup": {
          "type": "string",
          "description": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object."
        },
        "boardingPrivilegeImage": {
          "$ref": "Image",
          "description": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program."
        },
        "sequenceNumber": {
          "description": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\"",
          "type": "string"
        },
        "boardingDoor": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FRONT`. Deprecated.",
            "",
            "Legacy alias for `BACK`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "BOARDING_DOOR_UNSPECIFIED",
            "FRONT",
            "front",
            "BACK",
            "back"
          ]
        },
        "boardingPosition": {
          "type": "string",
          "description": "The value of boarding position. eg: \"76\""
        },
        "seatNumber": {
          "description": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\"",
          "type": "string"
        }
      }
    },
    "DiffUploadRequest": {
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in."
        },
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol."
        },
        "objectInfo": {
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received.",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffUploadRequest"
    },
    "EventTicketObjectListResponse": {
      "id": "EventTicketObjectListResponse",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "EventTicketObject"
          },
          "type": "array"
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "type": "object"
    },
    "AppLinkDataAppLinkInfoAppTarget": {
      "type": "object",
      "id": "AppLinkDataAppLinkInfoAppTarget",
      "properties": {
        "targetUri": {
          "description": "URI for AppTarget. The description on the URI must be set. Prefer setting package field instead, if this target is defined for your application.",
          "$ref": "Uri"
        },
        "packageName": {
          "description": "Package name for AppTarget. For example: com.google.android.gm",
          "type": "string"
        }
      }
    },
    "MediaRequestInfo": {
      "properties": {
        "finalStatus": {
          "description": "The existence of the final_status field indicates that this is the last call to the agent for this request_id. http://google3/uploader/agent/scotty_agent.proto?l=737&rcl=347601929",
          "type": "integer",
          "format": "int32"
        },
        "totalBytesIsEstimated": {
          "type": "boolean",
          "description": "Whether the total bytes field contains an estimated data."
        },
        "physicalHeaders": {
          "type": "string",
          "description": "The physical headers provided by RequestReceivedParameters in Scotty request. type is uploader_service.KeyValuePairs.",
          "format": "byte"
        },
        "requestId": {
          "type": "string",
          "description": "The Scotty request ID."
        },
        "diffObjectVersion": {
          "description": "Set if the http request info is diff encoded. The value of this field is the version number of the base revision. This is corresponding to Apiary's mediaDiffObjectVersion (//depot/google3/java/com/google/api/server/media/variable/DiffObjectVersionVariable.java). See go/esf-scotty-diff-upload for more information.",
          "type": "string"
        },
        "currentBytes": {
          "type": "string",
          "format": "int64",
          "description": "The number of current bytes uploaded or downloaded."
        },
        "requestReceivedParamsServingInfo": {
          "type": "string",
          "format": "byte",
          "description": "The partition of the Scotty server handling this request. type is uploader_service.RequestReceivedParamsServingInfo LINT.IfChange(request_received_params_serving_info_annotations) LINT.ThenChange()"
        },
        "notificationType": {
          "type": "string",
          "enum": [
            "START",
            "PROGRESS",
            "END",
            "RESPONSE_SENT",
            "ERROR"
          ],
          "enumDescriptions": [
            "Such requests signals the start of a request containing media upload. Only the media field(s) in the inserted/updated resource are set. The response should either return an error or succeed. On success, responses don't need to contain anything.",
            "Such requests signals that the upload has progressed and that the backend might want to access the media file specified in relevant fields in the resource. Only the media field(s) in the inserted/updated resource are set. The response should either return an error or succeed. On success, responses don't need to contain anything.",
            "Such requests signals the end of a request containing media upload. END should be handled just like normal Insert/Upload requests, that is, they should process the request and return a complete resource in the response. Pointers to media data (a GFS path usually) appear in the relevant fields in the inserted/updated resource. See gdata.Media in data.proto.",
            "Such requests occur after an END and signal that the response has been sent back to the client. RESPONSE_SENT is only sent to the backend if it is configured to receive them. The response does not need to contain anything.",
            "Such requests indicate that an error occurred while processing the request. ERROR is only sent to the backend if it is configured to receive them. It is not guaranteed that all errors will result in this notification to the backend, even if the backend requests them. Since these requests are just for informational purposes, the response does not need to contain anything."
          ],
          "description": "The type of notification received from Scotty."
        },
        "customData": {
          "description": "Data to be copied to backend requests. Custom data is returned to Scotty in the agent_state field, which Scotty will then provide in subsequent upload notifications.",
          "type": "string"
        },
        "totalBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the file."
        }
      },
      "id": "MediaRequestInfo",
      "description": "Extra information added to operations that support Scotty media requests.",
      "type": "object"
    },
    "LoyaltyClassListResponse": {
      "properties": {
        "resources": {
          "items": {
            "$ref": "LoyaltyClass"
          },
          "type": "array",
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "id": "LoyaltyClassListResponse",
      "type": "object"
    },
    "IssuerContactInfo": {
      "id": "IssuerContactInfo",
      "properties": {
        "name": {
          "description": "The primary contact name.",
          "type": "string"
        },
        "alertsEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Email addresses which will receive alerts."
        },
        "phone": {
          "type": "string",
          "description": "The primary contact phone number."
        },
        "email": {
          "type": "string",
          "description": "The primary contact email address."
        }
      },
      "type": "object"
    },
    "SecurityAnimation": {
      "properties": {
        "animationType": {
          "enumDescriptions": [
            "",
            "Default Foil & Shimmer animation",
            "Legacy alias for `FOIL_SHIMMER`. Deprecated."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "ANIMATION_UNSPECIFIED",
            "FOIL_SHIMMER",
            "foilShimmer"
          ],
          "description": "Type of animation."
        }
      },
      "id": "SecurityAnimation",
      "type": "object"
    },
    "CardBarcodeSectionDetails": {
      "id": "CardBarcodeSectionDetails",
      "properties": {
        "firstBottomDetail": {
          "description": "Optional information to display below the barcode.",
          "$ref": "BarcodeSectionDetail"
        },
        "firstTopDetail": {
          "$ref": "BarcodeSectionDetail",
          "description": "Optional information to display above the barcode. If `secondTopDetail` is defined, this will be displayed to the start side of this detail section."
        },
        "secondTopDetail": {
          "$ref": "BarcodeSectionDetail",
          "description": "Optional second piece of information to display above the barcode. If `firstTopDetail` is defined, this will be displayed to the end side of this detail section."
        }
      },
      "type": "object"
    },
    "GiftCardClass": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "wideProgramLogo": {
          "description": "The wide logo of the gift card program or company. When provided, this will be used in place of the program logo in the top left of the card view.",
          "$ref": "Image"
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#giftCardClass\"`."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated",
          "deprecated": true
        },
        "merchantLocations": {
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          },
[...]
