{
  "revision": "20260904",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "title": "Google Wallet API",
  "canonicalName": "Walletobjects",
  "basePath": "",
  "name": "walletobjects",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "schemas": {
    "TransitClassListResponse": {
      "properties": {
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        },
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "TransitClass"
          }
        }
      },
      "type": "object",
      "id": "TransitClassListResponse"
    },
    "EventReservationInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventReservationInfo\"`."
        },
        "confirmationCode": {
          "description": "The confirmation code of the event reservation. This may also take the form of an \"order number\", \"confirmation number\", \"reservation number\", or other equivalent.",
          "type": "string"
        }
      },
      "id": "EventReservationInfo"
    },
    "DiffChecksumsResponse": {
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol."
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        },
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "CompositeMedia"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The chunk size of checksums. Must be a multiple of 256KB."
        }
      },
      "type": "object",
      "id": "DiffChecksumsResponse"
    },
    "BarcodeSectionDetail": {
      "properties": {
        "fieldSelector": {
          "$ref": "FieldSelector",
          "description": "A reference to an existing text-based or image field to display."
        }
      },
      "id": "BarcodeSectionDetail",
      "type": "object"
    },
    "ClassTemplateInfo": {
      "properties": {
        "detailsTemplateOverride": {
          "$ref": "DetailsTemplateOverride",
          "description": "Override for the details view (beneath the card view)."
        },
        "cardTemplateOverride": {
          "$ref": "CardTemplateOverride",
          "description": "Override for the card view."
        },
        "listTemplateOverride": {
          "description": "Override for the passes list view.",
          "$ref": "ListTemplateOverride"
        },
        "cardBarcodeSectionDetails": {
          "$ref": "CardBarcodeSectionDetails",
          "description": "Specifies extra information to be displayed above and below the barcode."
        }
      },
      "type": "object",
      "id": "ClassTemplateInfo"
    },
    "GiftCardClass": {
      "properties": {
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "allowBarcodeRedemption": {
          "type": "boolean",
          "description": "Determines whether the merchant supports gift card redemption using barcode. If true, app displays a barcode for the gift card on the Gift card details screen. If false, a barcode is not displayed."
        },
        "wideProgramLogo": {
          "$ref": "Image",
          "description": "The wide logo of the gift card program or company. When provided, this will be used in place of the program logo in the top left of the card view."
        },
        "viewUnlockRequirement": {
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "description": "View Unlock Requirement options for the gift card."
        },
        "wordMark": {
          "$ref": "Image",
          "description": "Deprecated.",
          "deprecated": true
        },
        "localizedCardNumberLabel": {
          "description": "Translated strings for the card_number_label.",
          "$ref": "LocalizedString"
        },
        "cardNumberLabel": {
          "description": "The label to display for the card number, such as \"Card Number\".",
          "type": "string"
        },
        "allowMultipleUsersPerObject": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "localizedEventNumberLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the event_number_label."
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array"
        },
        "programLogo": {
          "description": "The logo of the gift card program or company. This logo is displayed in both the details and list views of the app.",
          "$ref": "Image"
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#giftCardClass\"`."
        },
        "textModulesData": {
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "version": {
          "description": "Deprecated",
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "localizedPinLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the pin_label."
        },
        "merchantName": {
          "description": "Merchant name, such as \"Adam's Apparel\". The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "eventNumberLabel": {
          "description": "The label to display for event number, such as \"Target Event #\".",
          "type": "string"
        },
        "localizedMerchantName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the merchant_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "reviewStatus": {
          "type": "string",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "pinLabel": {
          "description": "The label to display for the PIN, such as \"4-digit PIN\".",
          "type": "string"
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class."
        },
        "redemptionIssuers": {
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array"
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true,
          "$ref": "InfoModuleData"
        },
        "localizedIssuerName": {
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GiftCardClass"
    },
    "SetPassUpdateNoticeResponse": {
      "properties": {},
      "type": "object",
      "id": "SetPassUpdateNoticeResponse",
      "description": "A response to a request to notify Google of an awaiting update to a private pass."
    },
    "ObjectId": {
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "The name of the bucket to which this object belongs."
        },
        "generation": {
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions",
          "format": "int64",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the object.",
          "type": "string"
        }
      },
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763.",
      "type": "object",
      "id": "ObjectId"
    },
    "Permissions": {
      "type": "object",
      "id": "Permissions",
      "properties": {
        "permissions": {
          "description": "The complete list of permissions for the issuer account.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "issuerId": {
          "format": "int64",
          "description": "ID of the issuer the list of permissions refer to.",
          "type": "string"
        }
      }
    },
    "TicketCost": {
      "properties": {
        "discountMessage": {
          "$ref": "LocalizedString",
          "description": "A message describing any kind of discount that was applied."
        },
        "purchasePrice": {
          "description": "The actual purchase price of the ticket, after tax and/or discounts.",
          "$ref": "Money"
        },
        "faceValue": {
          "description": "The face value of the ticket.",
          "$ref": "Money"
        }
      },
      "id": "TicketCost",
      "type": "object"
    },
    "ActivationStatus": {
      "description": "The activation status of the object. This field includes activation status if valuable supports activation.",
      "type": "object",
      "id": "ActivationStatus",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ]
        }
      }
    },
    "RotatingBarcodeTotpDetailsTotpParameters": {
      "id": "RotatingBarcodeTotpDetailsTotpParameters",
      "description": "Configuration for the key and value length. See https://www.rfc-editor.org/rfc/rfc4226#section-5.3",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The secret key used for the TOTP value generation, encoded as a Base16 string."
        },
        "valueLength": {
          "format": "int32",
          "type": "integer",
          "description": "The length of the TOTP value in decimal digits."
        }
      }
    },
    "IssuerContactInfo": {
      "properties": {
        "alertsEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Email addresses which will receive alerts."
        },
        "email": {
          "description": "The primary contact email address.",
          "type": "string"
        },
        "name": {
          "description": "The primary contact name.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The primary contact phone number."
        }
      },
      "type": "object",
      "id": "IssuerContactInfo"
    },
    "TicketSeat": {
      "properties": {
        "fareClass": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ECONOMY`. Deprecated.",
            "",
            "Legacy alias for `FIRST`. Deprecated.",
            "",
            "Legacy alias for `BUSINESS`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "FARE_CLASS_UNSPECIFIED",
            "ECONOMY",
            "economy",
            "FIRST",
            "first",
            "BUSINESS",
            "business"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The fare class of the ticketed seat."
        },
        "seat": {
          "description": "The identifier of where the ticketed seat is located. Eg. \"42\". If there is no specific identifier, use `seatAssigment` instead.",
          "type": "string"
        },
        "coach": {
          "description": "The identifier of the train car or coach in which the ticketed seat is located. Eg. \"10\"",
          "type": "string"
        },
        "customFareClass": {
          "description": "A custome fare class to be used if no `fareClass` applies. Both `fareClass` and `customFareClass` may not be set.",
          "$ref": "LocalizedString"
        },
        "seatAssignment": {
          "description": "The passenger's seat assignment. Eg. \"no specific seat\". To be used when there is no specific identifier to use in `seat`.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object",
      "id": "TicketSeat"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "description": "The total size of the server object.",
          "format": "int64"
        }
      }
    },
    "CardBarcodeSectionDetails": {
      "properties": {
        "firstTopDetail": {
          "description": "Optional information to display above the barcode. If `secondTopDetail` is defined, this will be displayed to the start side of this detail section.",
          "$ref": "BarcodeSectionDetail"
        },
        "secondTopDetail": {
          "description": "Optional second piece of information to display above the barcode. If `firstTopDetail` is defined, this will be displayed to the end side of this detail section.",
          "$ref": "BarcodeSectionDetail"
        },
        "firstBottomDetail": {
          "$ref": "BarcodeSectionDetail",
          "description": "Optional information to display below the barcode."
        }
      },
      "type": "object",
      "id": "CardBarcodeSectionDetails"
    },
    "LabelValueRow": {
      "properties": {
        "columns": {
          "description": "A list of labels and values. These will be displayed in a singular column, one after the other, not in multiple columns, despite the field name.",
          "type": "array",
          "items": {
            "$ref": "LabelValue"
          }
        }
      },
      "id": "LabelValueRow",
      "type": "object"
    },
    "LabelValue": {
      "properties": {
        "localizedLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the label. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        },
        "label": {
          "description": "The label for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        },
        "localizedValue": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the value. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        }
      },
      "description": "A pair of text strings to be displayed in the details view. Note we no longer display LabelValue/LabelValueRow as a table, instead a list of items.",
      "id": "LabelValue",
      "type": "object"
    },
    "Blobstore2Info": {
      "properties": {
        "blobId": {
          "type": "string",
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty"
        },
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "downloadExternalReadToken": {
          "format": "byte",
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        },
        "downloadReadHandle": {
          "format": "byte",
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "type": "string"
        },
        "blobGeneration": {
          "format": "int64",
          "description": "The blob generation id.",
          "type": "string"
        },
        "uploadFragmentListCreationInfo": {
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Blobstore2Info",
      "description": "Information to read/write to blobstore2."
    },
    "ValueAddedModuleData": {
      "type": "object",
      "properties": {
        "body": {
          "$ref": "LocalizedString",
          "description": "Body to be displayed on the module. Character limit is 50 and longer strings will be truncated."
        },
        "image": {
          "description": "Image to be displayed on the module. Recommended image ratio is 1:1. Images will be resized to fit this ratio.",
          "$ref": "Image"
        },
        "viewConstraints": {
          "description": "Constraints that all must be met for the module to be shown.",
          "$ref": "ModuleViewConstraints"
        },
        "sortIndex": {
          "description": "The index for sorting the modules. Modules with a lower sort index are shown before modules with a higher sort index. If unspecified, the sort index is assumed to be INT_MAX. For two modules with the same index, the sorting behavior is undefined.",
          "type": "integer",
          "format": "int32"
        },
        "header": {
          "$ref": "LocalizedString",
          "description": "Header to be displayed on the module. Character limit is 60 and longer strings will be truncated."
        },
        "uri": {
          "type": "string",
          "description": "URI that the module leads to on click. This can be a web link or a deep link as mentioned in https://developer.android.com/training/app-links/deep-linking."
        }
      },
      "id": "ValueAddedModuleData",
      "description": "Data for Value Added module. Required fields are header and uri."
    },
    "ExpiryNotification": {
      "properties": {
        "enableNotification": {
          "description": "Indicates if the object needs to have expiry notification enabled.",
          "type": "boolean"
        }
      },
      "id": "ExpiryNotification",
      "type": "object",
      "description": "Indicates that the issuer would like Google Wallet to send expiry notifications 2 days prior to the card expiration."
    },
    "CardRowTemplateInfo": {
      "id": "CardRowTemplateInfo",
      "properties": {
        "threeItems": {
          "description": "Template for a row containing three items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowThreeItems"
        },
        "oneItem": {
          "$ref": "CardRowOneItem",
          "description": "Template for a row containing one item. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set."
        },
        "twoItems": {
          "description": "Template for a row containing two items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowTwoItems"
        }
      },
      "type": "object"
    },
    "Pagination": {
      "id": "Pagination",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#pagination\"`.",
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to send to fetch the next page."
        },
        "resultsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "Number of results returned in this page."
        }
      }
    },
    "LoyaltyObject": {
      "id": "LoyaltyObject",
      "type": "object",
      "properties": {
        "textModulesData": {
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "LoyaltyClass"
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "linkedObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this loyalty object. If a user had saved this loyalty card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#loyaltyObject\"`.",
          "deprecated": true,
          "type": "string"
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported. If this value is not set but the class level fields `enableSmartTap` and `redemptionIssuers` are set up correctly, the `barcode.value` or the `accountId` fields are used as fallback if present."
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "locations": {
          "deprecated": true,
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "linkedOfferIds": {
          "type": "array",
          "description": "A list of offer objects linked to this loyalty card. The offer objects must already exist. Offer object IDs should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you.",
          "items": {
            "type": "string"
          }
        },
        "valueAddedModuleData": {
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed."
        },
        "secondaryLoyaltyPoints": {
          "$ref": "LoyaltyPoints",
          "description": "The secondary loyalty reward points label, balance, and type. Shown in addition to the primary loyalty points."
        },
        "accountName": {
          "description": "The loyalty account holder name, such as \"John Smith.\" Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value."
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        },
        "hasUsers": {
          "description": "Indicates if the object has users. This field is set by the platform.",
          "type": "boolean"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "loyaltyPoints": {
          "description": "The loyalty reward points label, balance, and type.",
          "$ref": "LoyaltyPoints"
        },
        "version": {
          "format": "int64",
          "description": "Deprecated",
          "type": "string",
          "deprecated": true
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section."
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        },
        "merchantLocations": {
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "accountId": {
          "description": "The loyalty account identifier. Recommended maximum length is 20 characters.",
          "type": "string"
        },
        "notifyPreference": {
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
        },
        "saveRestrictions": {
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass.",
          "$ref": "SaveRestrictions"
        }
      }
    },
    "GenericClass": {
      "type": "object",
      "description": "Generic Class",
      "id": "GenericClass",
      "properties": {
        "valueAddedModuleData": {
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          }
        },
        "redemptionIssuers": {
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class."
        },
        "viewUnlockRequirement": {
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "description": "View Unlock Requirement options for the generic pass."
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. If `imageModulesData` is also defined on the object, both will be displayed. Only one of the image from class and one from object level will be rendered when both set.",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "textModulesData": {
          "description": "Text module data. If `textModulesData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "id": {
          "description": "Required. The unique identifier for the class. This ID must be unique across all from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
          "type": "string"
        },
        "securityAnimation": {
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details.",
          "$ref": "SecurityAnimation"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If `linksModuleData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "classTemplateInfo": {
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display.",
          "$ref": "ClassTemplateInfo"
        },
        "enableSmartTap": {
          "type": "boolean",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        }
      }
    },
    "CompositeMedia": {
      "properties": {
        "length": {
          "type": "string",
          "format": "int64",
          "description": "Size of the data, in bytes"
        },
        "sha1Hash": {
          "description": "SHA-1 hash for the payload.",
          "format": "byte",
          "type": "string"
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "Media data, set if reference_type is INLINE"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob."
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string",
          "format": "byte"
        },
        "referenceType": {
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ],
          "description": "Describes what the field reference contains.",
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ]
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF."
        },
        "blobRef": {
          "type": "string",
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "format": "byte",
          "deprecated": true
        },
        "path": {
          "type": "string",
          "description": "Path to the data, set if reference_type is PATH"
        },
        "crc32cHash": {
          "description": "crc32.c hash for the payload.",
          "format": "uint32",
          "type": "integer"
        },
        "md5Hash": {
          "type": "string",
          "description": "MD5 hash for the payload.",
          "format": "byte"
        }
      },
      "id": "CompositeMedia",
      "type": "object",
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites."
    },
    "TransitObjectAddMessageResponse": {
      "id": "TransitObjectAddMessageResponse",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "TransitObject",
          "description": "The updated TransitObject resource."
        }
      }
    },
    "EventDateTime": {
      "properties": {
        "doorsOpenLabel": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `DOORS_OPEN`. Deprecated.",
            "",
            "Legacy alias for `GATES_OPEN`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "DOORS_OPEN_LABEL_UNSPECIFIED",
            "DOORS_OPEN",
            "doorsOpen",
            "GATES_OPEN",
            "gatesOpen"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "The label to use for the doors open value (`doorsOpen`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used."
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventDateTime\"`.",
          "type": "string"
        },
        "start": {
          "description": "The date/time when the event starts. If the event spans multiple days, it should be the start date/time on the first day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "doorsOpen": {
          "description": "The date/time when the doors open at the venue. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "end": {
          "description": "The date/time when the event ends. If the event spans multiple days, it should be the end date/time on the last day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "customDoorsOpenLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the doors open value (`doorsOpen`) on the card detail view. This should only be used if the default \"Doors Open\" label or one of the `doorsOpenLabel` options is not sufficient. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used."
        }
      },
      "id": "EventDateTime",
      "type": "object"
    },
    "TransitObjectListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "TransitObject"
          },
          "type": "array"
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "id": "TransitObjectListResponse"
    },
    "TimeInterval": {
      "type": "object",
      "properties": {
        "end": {
          "description": "End time of the interval. Offset is not required. If an offset is provided and `start` time is set, `start` must also include an offset.",
          "$ref": "DateTime"
        },
        "start": {
          "description": "Start time of the interval. Offset is not required. If an offset is provided and `end` time is set, `end` must also include an offset.",
          "$ref": "DateTime"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#timeInterval\"`.",
          "deprecated": true
        }
      },
      "id": "TimeInterval"
    },
    "FlightObject": {
      "type": "object",
      "properties": {
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value."
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for Flights."
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ]
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightObject\"`.",
          "deprecated": true,
          "type": "string"
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "valueAddedModuleData": {
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "type": "array"
        },
        "version": {
          "description": "Deprecated",
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "boardingAndSeatingInfo": {
          "$ref": "BoardingAndSeatingInfo",
          "description": "Passenger specific information about boarding and seating."
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "FlightClass"
        },
        "hasLinkedDevice": {
          "type": "boolean",
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
        },
        "linkedObjectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this flight object. If a user had saved this boarding pass, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you."
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array",
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "securityProgramLogo": {
          "description": "An image for the security program that applies to the passenger.",
          "$ref": "Image"
        },
        "locations": {
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "deprecated": true,
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "reservationInfo": {
          "$ref": "ReservationInfo",
          "description": "Required. Information about flight reservation."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "passengerName": {
          "description": "Required. Passenger name as it would appear on the boarding pass. eg: \"Dave M Gahan\" or \"Gahan/Dave\" or \"GAHAN/DAVEM\"",
          "type": "string"
        },
        "saveRestrictions": {
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass.",
          "$ref": "SaveRestrictions"
        }
      },
      "id": "FlightObject"
    },
    "TransitObject": {
      "properties": {
        "linkedObjectIds": {
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this transit object. If a user had saved this transit card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ]
        },
        "ticketRestrictions": {
          "description": "Information about what kind of restrictions there are on using this ticket. For example, which days of the week it must be used, or which routes are allowed to be taken.",
          "$ref": "TicketRestrictions"
        },
        "customConcessionCategory": {
          "description": "A custom concession category to use when `concessionCategory` does not provide the right option. Both `concessionCategory` and `customConcessionCategory` may not be set.",
          "$ref": "LocalizedString"
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "textModulesData": {
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "activationStatus": {
          "description": "The activation status for the object. Required if the class has `activationOptions` set.",
          "$ref": "ActivationStatus"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "passengerNames": {
          "description": "The name(s) of the passengers the ticket is assigned to. The above `passengerType` field is meant to give Google context on this field.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "version": {
          "format": "int64",
          "deprecated": true,
          "description": "Deprecated",
          "type": "string"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "TransitClass"
        },
        "saveRestrictions": {
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass.",
          "$ref": "SaveRestrictions"
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value."
        },
        "ticketStatus": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `USED`. Deprecated.",
            "",
            "Legacy alias for `REFUNDED`. Deprecated.",
            "",
            "Legacy alias for `EXCHANGED`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TICKET_STATUS_UNSPECIFIED",
            "USED",
            "used",
            "REFUNDED",
            "refunded",
            "EXCHANGED",
            "exchanged"
          ],
          "description": "The status of the ticket. For states which affect display, use the `state` field instead."
        },
        "tripType": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ROUND_TRIP`. Deprecated.",
            "",
            "Legacy alias for `ONE_WAY`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "TRIP_TYPE_UNSPECIFIED",
            "ROUND_TRIP",
            "roundTrip",
            "ONE_WAY",
            "oneWay"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The type of trip this transit object represents. Used to determine the pass title and/or which symbol to use between the origin and destination."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "passengerType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "The number of passengers.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `SINGLE_PASSENGER`. Deprecated.",
            "",
            "Legacy alias for `MULTIPLE_PASSENGERS`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "PASSENGER_TYPE_UNSPECIFIED",
            "SINGLE_PASSENGER",
            "singlePassenger",
            "MULTIPLE_PASSENGERS",
            "multiplePassengers"
          ]
        },
        "ticketLegs": {
          "items": {
            "$ref": "TicketLeg"
          },
          "description": "Each ticket may contain one or more legs. Each leg contains departure and arrival information along with boarding and seating information. If only one leg is to be specified then use the `ticketLeg` field instead. Both `ticketLeg` and `ticketLegs` may not be set.",
          "type": "array"
        },
        "customTicketStatus": {
          "description": "A custom status to use for the ticket status value when `ticketStatus` does not provide the right option. Both `ticketStatus` and `customTicketStatus` may not be set.",
          "$ref": "LocalizedString"
        },
        "concessionCategory": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ADULT`. Deprecated.",
            "",
            "Legacy alias for `CHILD`. Deprecated.",
            "",
            "Legacy alias for `SENIOR`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "CONCESSION_CATEGORY_UNSPECIFIED",
            "ADULT",
            "adult",
            "CHILD",
            "child",
            "SENIOR",
            "senior"
          ],
          "description": "The concession category for the ticket."
        },
        "locations": {
          "deprecated": true,
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array"
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        },
        "ticketNumber": {
          "description": "The number of the ticket. This is a unique identifier for the ticket in the transit operator's system.",
          "type": "string"
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "deviceContext": {
          "$ref": "DeviceContext",
          "description": "Device context associated with the object."
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "tripId": {
          "description": "This id is used to group tickets together if the user has saved multiple tickets for the same trip.",
          "type": "string"
        },
        "valueAddedModuleData": {
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "type": "array"
        },
        "purchaseDetails": {
          "description": "Purchase details for this ticket.",
          "$ref": "PurchaseDetails"
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "merchantLocations": {
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "ticketLeg": {
          "$ref": "TicketLeg",
          "description": "A single ticket leg contains departure and arrival information along with boarding and seating information. If more than one leg is to be specified then use the `ticketLegs` field instead. Both `ticketLeg` and `ticketLegs` may not be set."
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode type and value."
        }
      },
      "id": "TransitObject",
      "type": "object"
    },
    "DeviceContext": {
      "type": "object",
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "If set, redemption information will only be returned to the given device upon activation of the object. This should not be used as a stable identifier to trace a user's device. It can change across different passes for the same device or even across different activations for the same device. When setting this, callers must also set has_linked_device on the object being activated."
        }
      },
      "id": "DeviceContext",
      "description": "Device context associated with the object."
    },
    "EventTicketObject": {
      "properties": {
        "textModulesData": {
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "seatInfo": {
          "$ref": "EventSeat",
          "description": "Seating details for this ticket."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "hasLinkedDevice": {
          "type": "boolean",
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "linkedObjectIds": {
          "type": "array",
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this event ticket object. If a user had saved this event ticket, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventTicketObject\"`."
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "ticketType": {
          "description": "The type of the ticket, such as \"Adult\" or \"Child\", or \"VIP\" or \"Standard\".",
          "$ref": "LocalizedString"
        },
        "locations": {
          "type": "array",
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "reservationInfo": {
          "description": "Reservation details for this ticket. This is expected to be shared amongst all tickets that were purchased in the same order.",
          "$ref": "EventReservationInfo"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "ticketHolderName": {
          "description": "Name of the ticket holder, if the ticket is assigned to a person. E.g. \"John Doe\" or \"Jane Doe\".",
          "type": "string"
        },
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array"
        },
        "faceValue": {
          "description": "The face value of the ticket, matching what would be printed on a physical version of the ticket.",
          "$ref": "Money"
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "saveRestrictions": {
          "$ref": "SaveRestrictions",
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "version": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated",
          "format": "int64"
        },
        "linkedOfferIds": {
          "description": "A list of offer objects linked to this event ticket. The offer objects must already exist. Offer object IDs should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
[...]
