{
  "rootUrl": "https://walletobjects.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "canonicalName": "Walletobjects",
  "version": "v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "revision": "20260826",
  "name": "walletobjects",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "ownerName": "Google",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "ownerDomain": "google.com",
  "resources": {
    "genericclass": {
      "methods": {
        "patch": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.patch",
          "response": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "path": "walletobjects/v1/genericClass",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Inserts a generic class with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericClass",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {},
          "id": "walletobjects.genericclass.insert"
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericClass",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "path": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.list",
          "response": {
            "$ref": "GenericClassListResponse"
          }
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "id": "walletobjects.genericclass.addmessage",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage"
        },
        "update": {
          "id": "walletobjects.genericclass.update",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "GenericClass"
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the generic class with the given class ID."
        }
      }
    },
    "flightclass": {
      "methods": {
        "get": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the flight class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.get"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.update",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}"
        },
        "list": {
          "flatPath": "walletobjects/v1/flightClass",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "walletobjects/v1/flightClass",
          "id": "walletobjects.flightclass.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClassListResponse"
          }
        },
        "patch": {
          "response": {
            "$ref": "FlightClass"
          },
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "id": "walletobjects.flightclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass",
          "id": "walletobjects.flightclass.insert",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/flightClass",
          "request": {
            "$ref": "FlightClass"
          },
          "parameters": {},
          "description": "Inserts an flight class with the given ID and properties."
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardobject.patch",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH"
        },
        "insert": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.insert",
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/giftCardObject",
          "description": "Inserts an gift card object with the given ID and properties.",
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {}
        },
        "addmessage": {
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "id": "walletobjects.giftcardobject.addmessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the gift card object with the given object ID.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/giftCardObject",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "id": "walletobjects.giftcardobject.list",
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the gift card object referenced by the given object ID.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.update",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          }
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "id": "walletobjects.eventticketclass.patch",
          "request": {
            "$ref": "EventTicketClass"
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "request": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "PUT",
          "description": "Updates the event ticket class referenced by the given class ID.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "id": "walletobjects.eventticketclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.get",
          "response": {
            "$ref": "EventTicketClass"
          },
          "description": "Returns the event ticket class with the given class ID."
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketClass",
          "id": "walletobjects.eventticketclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all event ticket classes for a given issuer ID."
        },
        "insert": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/eventTicketClass",
          "description": "Inserts an event ticket class with the given ID and properties.",
          "parameters": {},
          "id": "walletobjects.eventticketclass.insert",
          "request": {
            "$ref": "EventTicketClass"
          }
        },
        "addmessage": {
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "id": "walletobjects.eventticketclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "id": "walletobjects.smarttap.insert",
          "flatPath": "walletobjects/v1/smartTap",
          "httpMethod": "POST",
          "description": "Inserts the smart tap.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/smartTap",
          "request": {
            "$ref": "SmartTap"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "SmartTap"
          },
          "parameters": {}
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "list": {
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.giftcardclass.list",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/giftCardClass",
          "path": "walletobjects/v1/giftCardClass"
        },
        "update": {
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.update",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "id": "walletobjects.giftcardclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.patch",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameterOrder": [],
          "parameters": {},
          "path": "walletobjects/v1/giftCardClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.insert",
          "description": "Inserts an gift card class with the given ID and properties.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "get": {
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "description": "Returns the gift card class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.get",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}"
        }
      }
    },
    "offerobject": {
      "methods": {
        "update": {
          "response": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "id": "walletobjects.offerobject.update",
          "description": "Updates the offer object referenced by the given object ID.",
          "request": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}"
        },
        "addmessage": {
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "id": "walletobjects.offerobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "id": "walletobjects.offerobject.list",
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "parameterOrder": [],
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "description": "Returns the offer object with the given object ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "id": "walletobjects.offerobject.get",
          "httpMethod": "GET",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObject"
          }
        },
        "insert": {
          "parameters": {},
          "response": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.insert",
          "description": "Inserts an offer object with the given ID and properties.",
          "path": "walletobjects/v1/offerObject",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/offerObject"
        },
        "patch": {
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "id": "walletobjects.offerobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "offerclass": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "id": "walletobjects.offerclass.insert",
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an offer class with the given ID and properties.",
          "parameterOrder": [],
          "request": {
            "$ref": "OfferClass"
          }
        },
        "get": {
          "id": "walletobjects.offerclass.get",
          "response": {
            "$ref": "OfferClass"
          },
          "description": "Returns the offer class with the given class ID.",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "id": "walletobjects.offerclass.addmessage"
        },
        "update": {
          "id": "walletobjects.offerclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Updates the offer class referenced by the given class ID.",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}"
        },
        "patch": {
          "id": "walletobjects.offerclass.patch",
          "request": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PATCH"
        },
        "list": {
          "path": "walletobjects/v1/offerClass",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "flatPath": "walletobjects/v1/offerClass",
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerclass.list"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "list": {
          "flatPath": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.list",
          "parameterOrder": [],
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "id": "walletobjects.loyaltyclass.get",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "description": "Returns the loyalty class with the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "LoyaltyClass"
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.patch",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "insert": {
          "description": "Inserts an loyalty class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.insert",
          "path": "walletobjects/v1/loyaltyClass"
        },
        "update": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.update",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "LoyaltyClass"
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.get",
          "description": "Returns the event ticket object with the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "addmessage": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "id": "walletobjects.eventticketobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.patch",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "description": "Updates the event ticket object referenced by the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.update"
        },
        "list": {
          "id": "walletobjects.eventticketobject.list",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketObjectListResponse"
          }
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.insert",
          "parameters": {},
          "description": "Inserts an event ticket object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST"
        },
        "modifylinkedofferobjects": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketObject"
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "deprecated": true,
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects"
        }
      }
    },
    "transitobject": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an transit object with the given ID and properties.",
          "request": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject",
          "httpMethod": "POST",
          "id": "walletobjects.transitobject.insert",
          "parameterOrder": []
        },
        "addmessage": {
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "id": "walletobjects.transitobject.addmessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitobject.get",
          "description": "Returns the transit object with the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitObject/{resourceId}"
        },
        "patch": {
          "id": "walletobjects.transitobject.patch",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/transitObject/{resourceId}"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitobject.update",
          "httpMethod": "PUT",
          "description": "Updates the transit object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitObject"
          }
        },
        "list": {
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "parameters": {
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "path": "walletobjects/v1/transitObject",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "id": "walletobjects.media.upload"
        },
        "download": {
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "id": "walletobjects.media.download"
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Permissions"
          },
          "id": "walletobjects.permissions.update",
          "description": "Updates the permissions for the given issuer.",
          "response": {
            "$ref": "Permissions"
          },
          "parameters": {
            "resourceId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT"
        },
        "get": {
          "path": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the permissions for the given issuer id.",
          "response": {
            "$ref": "Permissions"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "id": "walletobjects.permissions.get"
        }
      }
    },
    "genericobject": {
      "methods": {
        "update": {
          "id": "walletobjects.genericobject.update",
          "description": "Updates the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "response": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "id": "walletobjects.genericobject.get",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Returns the generic object with the given object ID.",
          "response": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "id": "walletobjects.genericobject.insert",
          "httpMethod": "POST",
          "description": "Inserts a generic object with the given ID and properties.",
          "request": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "path": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObject"
          },
          "parameterOrder": []
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.patch"
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericobject.addmessage",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericObject",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.list",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "path": "walletobjects/v1/genericObject"
        }
      }
    },
    "issuer": {
      "methods": {
        "list": {
          "description": "Returns a list of all issuers shared to the caller.",
          "parameters": {},
          "id": "walletobjects.issuer.list",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer",
          "httpMethod": "GET",
          "path": "walletobjects/v1/issuer",
          "parameterOrder": []
        },
        "insert": {
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "id": "walletobjects.issuer.insert",
          "flatPath": "walletobjects/v1/issuer",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties.",
          "request": {
            "$ref": "Issuer"
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the issuer with the given issuer ID.",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.patch",
          "request": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH"
        },
        "update": {
          "description": "Updates the issuer referenced by the given issuer ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an issuer."
            }
          },
          "id": "walletobjects.issuer.update",
          "request": {
            "$ref": "Issuer"
          },
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.jwt.insert",
          "flatPath": "walletobjects/v1/jwt",
          "parameters": {},
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "path": "walletobjects/v1/jwt",
          "request": {
            "$ref": "JwtResource"
          },
          "description": "Inserts the resources in the JWT."
        },
        "validate": {
          "id": "walletobjects.jwt.validate",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/jwt/validate",
          "path": "walletobjects/v1/jwt/validate",
          "parameterOrder": [],
          "parameters": {},
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "request": {
            "$ref": "JwtValidateRequest"
          }
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "parameters": {},
          "flatPath": "walletobjects/v1/loyaltyObject"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "id": "walletobjects.loyaltyobject.addmessage"
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyObject",
          "httpMethod": "GET",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "id": "walletobjects.loyaltyobject.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "description": "Returns the loyalty object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "id": "walletobjects.loyaltyobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "modifylinkedofferobjects": {
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "deprecated": true,
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.patch",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        }
      }
    },
    "transitclass": {
      "methods": {
        "update": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the transit class referenced by the given class ID.",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
[...]
