{
  "title": "Google Wallet API",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "canonicalName": "Walletobjects",
  "resources": {
    "jwt": {
      "methods": {
        "validate": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "flatPath": "walletobjects/v1/jwt/validate",
          "path": "walletobjects/v1/jwt/validate",
          "httpMethod": "POST",
          "id": "walletobjects.jwt.validate",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "parameters": {},
          "parameterOrder": []
        },
        "insert": {
          "parameters": {},
          "request": {
            "$ref": "JwtResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "flatPath": "walletobjects/v1/jwt",
          "id": "walletobjects.jwt.insert",
          "parameterOrder": [],
          "description": "Inserts the resources in the JWT.",
          "path": "walletobjects/v1/jwt"
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "id": "walletobjects.permissions.get",
          "response": {
            "$ref": "Permissions"
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the permissions for the given issuer id.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "response": {
            "$ref": "Permissions"
          },
          "request": {
            "$ref": "Permissions"
          },
          "description": "Updates the permissions for the given issuer.",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.update",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "update": {
          "id": "walletobjects.giftcardclass.update",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "request": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "PATCH",
          "id": "walletobjects.giftcardclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "id": "walletobjects.giftcardclass.addmessage",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Returns the gift card class with the given class ID.",
          "httpMethod": "GET",
          "id": "walletobjects.giftcardclass.get",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an gift card class with the given ID and properties.",
          "flatPath": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.insert",
          "path": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClass"
          },
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST"
        },
        "list": {
          "path": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.list",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameterOrder": []
        }
      }
    },
    "flightobject": {
      "methods": {
        "list": {
          "id": "walletobjects.flightobject.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/flightObject",
          "path": "walletobjects/v1/flightObject",
          "parameterOrder": []
        },
        "insert": {
          "parameters": {},
          "id": "walletobjects.flightobject.insert",
          "request": {
            "$ref": "FlightObject"
          },
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/flightObject",
          "path": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "description": "Inserts an flight object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PATCH",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}"
        },
        "update": {
          "httpMethod": "PUT",
          "id": "walletobjects.flightobject.update",
          "description": "Updates the flight object referenced by the given object ID.",
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}"
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.get",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Returns the flight object with the given object ID.",
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "id": "walletobjects.flightobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage"
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.update"
        },
        "addmessage": {
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Returns the gift card object with the given object ID.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardobject.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "patch": {
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PATCH"
        },
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.giftcardobject.insert",
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "httpMethod": "POST",
          "description": "Inserts an gift card object with the given ID and properties.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.giftcardobject.list",
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "flatPath": "walletobjects/v1/giftCardObject"
        }
      }
    },
    "transitclass": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Returns the transit class with the given class ID.",
          "id": "walletobjects.transitclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "request": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert",
          "response": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass",
          "path": "walletobjects/v1/transitClass",
          "httpMethod": "POST",
          "description": "Inserts a transit class with the given ID and properties.",
          "parameters": {},
          "parameterOrder": []
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.transitclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the transit class referenced by the given class ID."
        },
        "update": {
          "id": "walletobjects.transitclass.update",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PUT",
          "description": "Updates the transit class referenced by the given class ID.",
          "response": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "patch": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.patch",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "path": "walletobjects/v1/transitClass",
          "flatPath": "walletobjects/v1/transitClass",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "id": "walletobjects.transitclass.list",
          "httpMethod": "GET"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Media"
          },
          "id": "walletobjects.media.download",
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET"
        },
        "upload": {
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.media.upload",
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "supportsMediaUpload": true,
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "id": "walletobjects.loyaltyobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          }
        },
        "update": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "description": "Updates the loyalty object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.update"
        },
        "patch": {
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PATCH",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the loyalty object with the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.get",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "modifylinkedofferobjects": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "deprecated": true,
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects"
        },
        "list": {
          "id": "walletobjects.loyaltyobject.list",
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "description": "Returns a list of all loyalty objects for a given issuer ID."
        },
        "insert": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {},
          "request": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject",
          "path": "walletobjects/v1/loyaltyObject",
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyobject.insert",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyclass.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "path": "walletobjects/v1/loyaltyClass"
        },
        "update": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "path": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "parameters": {},
          "request": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass"
        },
        "patch": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyclass.patch",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "addmessage": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Returns the loyalty class with the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}"
        }
      }
    },
    "issuer": {
      "methods": {
        "get": {
          "id": "walletobjects.issuer.get",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the issuer with the given issuer ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT"
        },
        "list": {
          "parameterOrder": [],
          "parameters": {},
          "description": "Returns a list of all issuers shared to the caller.",
          "httpMethod": "GET",
          "id": "walletobjects.issuer.list",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer"
        },
        "patch": {
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "location": "path"
            }
          },
          "id": "walletobjects.issuer.patch"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/issuer",
          "description": "Inserts an issuer with the given ID and properties.",
          "response": {
            "$ref": "Issuer"
          },
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer",
          "parameters": {},
          "id": "walletobjects.issuer.insert",
          "httpMethod": "POST"
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Returns the event ticket object with the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "modifylinkedofferobjects": {
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "deprecated": true,
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PATCH"
        },
        "insert": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.insert",
          "path": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "update": {
          "description": "Updates the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.update",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PUT"
        },
        "list": {
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.eventticketobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "id": "walletobjects.eventticketobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          }
        }
      }
    },
    "flightclass": {
      "methods": {
        "update": {
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.flightclass.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the flight class referenced by the given class ID."
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "request": {
            "$ref": "FlightClass"
          },
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.flightclass.patch",
          "httpMethod": "PATCH",
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics."
        },
        "list": {
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "id": "walletobjects.flightclass.list",
          "flatPath": "walletobjects/v1/flightClass"
        },
        "addmessage": {
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "httpMethod": "POST",
          "id": "walletobjects.flightclass.addmessage",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.insert",
          "flatPath": "walletobjects/v1/flightClass",
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts an flight class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {}
        },
        "get": {
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Returns the flight class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.get",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "update": {
          "id": "walletobjects.eventticketclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the event ticket class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          },
          "request": {
            "$ref": "EventTicketClass"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.patch",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "request": {
            "$ref": "EventTicketClass"
          },
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "get": {
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.get",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the event ticket class with the given class ID.",
          "httpMethod": "GET"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "id": "walletobjects.eventticketclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage"
        },
        "list": {
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketClass",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "id": "walletobjects.eventticketclass.list"
        },
        "insert": {
          "flatPath": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketclass.insert",
          "description": "Inserts an event ticket class with the given ID and properties.",
          "path": "walletobjects/v1/eventTicketClass",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "EventTicketClass"
          }
        }
      }
    },
    "genericclass": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "id": "walletobjects.genericclass.get",
          "httpMethod": "GET",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Returns the generic class with the given class ID."
        },
        "insert": {
          "path": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [],
          "description": "Inserts a generic class with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericClass",
          "parameters": {}
        },
        "list": {
          "parameterOrder": [],
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "id": "walletobjects.genericclass.list",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.addmessage",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "httpMethod": "POST"
        },
        "update": {
          "id": "walletobjects.genericclass.update",
          "description": "Updates the Generic class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "path": "walletobjects/v1/genericClass/{resourceId}"
        }
      }
    },
    "transitobject": {
      "methods": {
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.patch",
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "TransitObject"
          }
        },
        "get": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the transit object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitobject.get",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}"
        },
        "list": {
          "path": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "id": "walletobjects.transitobject.list",
          "flatPath": "walletobjects/v1/transitObject",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "addmessage": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.transitobject.addmessage",
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an transit object with the given ID and properties.",
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "walletobjects/v1/transitObject",
          "parameters": {},
          "id": "walletobjects.transitobject.insert"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the transit object referenced by the given object ID.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.update"
        }
      }
    },
    "offerclass": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "description": "Inserts an offer class with the given ID and properties.",
          "path": "walletobjects/v1/offerClass",
          "id": "walletobjects.offerclass.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "OfferClass"
          },
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass"
        },
        "addmessage": {
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "id": "walletobjects.offerclass.addmessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Returns the offer class with the given class ID.",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.offerclass.get",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "request": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "path": "walletobjects/v1/offerClass/{resourceId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.patch",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "parameterOrder": [],
          "path": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "id": "walletobjects.offerclass.list"
        }
      }
    },
    "genericobject": {
      "methods": {
        "list": {
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.genericobject.list",
          "path": "walletobjects/v1/genericObject",
          "flatPath": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericobject.addmessage",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage"
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "id": "walletobjects.genericobject.patch",
[...]
