{
  "revision": "20260828",
  "documentationLink": "https://developers.google.com/pay/passes",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "walletobjects",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "canonicalName": "Walletobjects",
  "resources": {
    "jwt": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "JwtResource"
          },
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "id": "walletobjects.jwt.insert",
          "description": "Inserts the resources in the JWT.",
          "flatPath": "walletobjects/v1/jwt",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/jwt"
        },
        "validate": {
          "id": "walletobjects.jwt.validate",
          "parameterOrder": [],
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "flatPath": "walletobjects/v1/jwt/validate",
          "httpMethod": "POST",
          "parameters": {},
          "path": "walletobjects/v1/jwt/validate",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "response": {
            "$ref": "JwtValidateResponse"
          }
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "id": "walletobjects.genericclass.addmessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "patch": {
          "response": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.patch",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Returns the generic class with the given class ID.",
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.get"
        },
        "insert": {
          "description": "Inserts a generic class with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericClass",
          "parameterOrder": [],
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {},
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.insert"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            }
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericClass",
          "path": "walletobjects/v1/genericClass",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericclass.list"
        },
        "update": {
          "request": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "id": "walletobjects.genericclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/smartTap",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "flatPath": "walletobjects/v1/smartTap",
          "parameterOrder": [],
          "request": {
            "$ref": "SmartTap"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts the smart tap."
        }
      }
    },
    "issuer": {
      "methods": {
        "list": {
          "flatPath": "walletobjects/v1/issuer",
          "path": "walletobjects/v1/issuer",
          "httpMethod": "GET",
          "parameters": {},
          "description": "Returns a list of all issuers shared to the caller.",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.issuer.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "id": "walletobjects.issuer.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "description": "Updates the issuer referenced by the given issuer ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Issuer"
          },
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}"
        },
        "get": {
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.get",
          "description": "Returns the issuer with the given issuer ID.",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "The unique identifier for an issuer."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        },
        "insert": {
          "id": "walletobjects.issuer.insert",
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer",
          "description": "Inserts an issuer with the given ID and properties.",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "Issuer"
          },
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        },
        "patch": {
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.issuer.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics."
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Returns the gift card object with the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "path": "walletobjects/v1/giftCardObject",
          "request": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Inserts an gift card object with the given ID and properties.",
          "id": "walletobjects.giftcardobject.insert",
          "flatPath": "walletobjects/v1/giftCardObject"
        },
        "patch": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.patch",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject",
          "parameterOrder": [],
          "id": "walletobjects.giftcardobject.list",
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "id": "walletobjects.giftcardobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "addmessage": {
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.addmessage"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the flight object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.update",
          "path": "walletobjects/v1/flightObject/{resourceId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "id": "walletobjects.flightobject.patch",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics."
        },
        "get": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.get",
          "description": "Returns the flight object with the given object ID."
        },
        "insert": {
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightObject",
          "parameters": {},
          "description": "Inserts an flight object with the given ID and properties.",
          "id": "walletobjects.flightobject.insert",
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/flightObject",
          "id": "walletobjects.flightobject.list"
        }
      }
    },
    "flightclass": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "id": "walletobjects.flightclass.insert",
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties."
        },
        "get": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the flight class with the given class ID.",
          "id": "walletobjects.flightclass.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightClass",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.flightclass.list",
          "flatPath": "walletobjects/v1/flightClass",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PATCH",
          "id": "walletobjects.flightclass.patch",
          "request": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          }
        },
        "update": {
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.update",
          "description": "Updates the flight class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "id": "walletobjects.flightclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.patch",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "update": {
          "request": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.update"
        },
        "list": {
          "parameterOrder": [],
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyclass.list"
        },
        "get": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.loyaltyclass.get",
          "httpMethod": "GET",
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "addmessage": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the loyalty class referenced by the given class ID."
        },
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.insert",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an loyalty class with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyClass"
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "list": {
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "path": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.list",
          "flatPath": "walletobjects/v1/transitObject",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "flatPath": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Inserts an transit object with the given ID and properties.",
          "request": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject"
        },
        "addmessage": {
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "id": "walletobjects.transitobject.addmessage",
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage"
        },
        "update": {
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "id": "walletobjects.transitobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the transit object referenced by the given object ID.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitobject.get",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the transit object with the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}"
        },
        "patch": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.transitobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "transitclass": {
      "methods": {
        "get": {
          "id": "walletobjects.transitclass.get",
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the transit class with the given class ID.",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}"
        },
        "patch": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "request": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/transitClass",
          "description": "Inserts a transit class with the given ID and properties.",
          "request": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass",
          "id": "walletobjects.transitclass.insert",
          "response": {
            "$ref": "TransitClass"
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "id": "walletobjects.transitclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "update": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "TransitClass"
          },
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID.",
          "id": "walletobjects.transitclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}"
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            }
          },
          "id": "walletobjects.transitclass.list",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "path": "walletobjects/v1/transitClass"
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Permissions"
          },
          "description": "Updates the permissions for the given issuer.",
          "id": "walletobjects.permissions.update",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true
            }
          },
          "response": {
            "$ref": "Permissions"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "description": "Returns the permissions for the given issuer id.",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.get"
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "httpMethod": "POST",
                  "parameters": {},
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "parameterOrder": [],
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
                "multipart": true
              }
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "httpMethod": "POST",
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "supportsMediaUpload": true,
          "id": "walletobjects.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "download": {
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "id": "walletobjects.media.download",
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "offerobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the offer object with the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.offerobject.get",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "id": "walletobjects.offerobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage"
        },
        "patch": {
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.patch",
          "response": {
            "$ref": "OfferObject"
          },
          "request": {
            "$ref": "OfferObject"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates the offer object referenced by the given object ID.",
          "request": {
            "$ref": "OfferObject"
          },
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "id": "walletobjects.offerobject.list",
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject"
        },
        "insert": {
          "response": {
            "$ref": "OfferObject"
          },
          "request": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.offerobject.insert",
          "parameters": {},
          "path": "walletobjects/v1/offerObject",
          "description": "Inserts an offer object with the given ID and properties.",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/offerObject"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardclass.addmessage",
          "httpMethod": "POST"
        },
        "insert": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Inserts an gift card class with the given ID and properties.",
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.insert",
          "request": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "list": {
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "path": "walletobjects/v1/giftCardClass",
          "parameterOrder": [],
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates the gift card class referenced by the given class ID.",
          "response": {
            "$ref": "GiftCardClass"
          },
          "request": {
            "$ref": "GiftCardClass"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.patch",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Returns the gift card class with the given class ID.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.get"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.get",
          "description": "Returns the loyalty object with the given object ID."
        },
        "update": {
          "description": "Updates the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "id": "walletobjects.loyaltyobject.update",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.patch",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "modifylinkedofferobjects": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "deprecated": true,
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects"
        },
        "addmessage": {
          "id": "walletobjects.loyaltyobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "id": "walletobjects.loyaltyobject.list",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "path": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "description": "Inserts an loyalty object with the given ID and properties.",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "id": "walletobjects.loyaltyobject.insert",
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObject"
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "id": "walletobjects.eventticketobject.addmessage",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "flatPath": "walletobjects/v1/eventTicketObject",
          "id": "walletobjects.eventticketobject.insert",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [],
          "description": "Inserts an event ticket object with the given ID and properties.",
          "httpMethod": "POST",
          "parameters": {},
          "path": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "modifylinkedofferobjects": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "deprecated": true,
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "id": "walletobjects.eventticketobject.list",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "parameters": {
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/eventTicketObject"
        },
        "update": {
          "id": "walletobjects.eventticketobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the event ticket object with the given object ID.",
          "id": "walletobjects.eventticketobject.get",
          "response": {
            "$ref": "EventTicketObject"
          }
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "GET",
          "id": "walletobjects.eventticketclass.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the event ticket class with the given class ID."
        },
        "addmessage": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketclass.addmessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID."
        },
        "insert": {
          "description": "Inserts an event ticket class with the given ID and properties.",
          "id": "walletobjects.eventticketclass.insert",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass"
        },
        "list": {
          "id": "walletobjects.eventticketclass.list",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "update": {
          "request": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.update",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the event ticket class referenced by the given class ID."
        }
      }
    },
    "offerclass": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "id": "walletobjects.offerclass.insert",
          "request": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferClass"
          }
        },
        "get": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "description": "Returns the offer class with the given class ID.",
          "response": {
            "$ref": "OfferClass"
          },
          "scopes": [
[...]
