{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "walletobjects:v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "baseUrl": "https://walletobjects.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20260911",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "name": "walletobjects",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/pay/passes",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "Walletobjects",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "jwt": {
      "methods": {
        "validate": {
          "parameters": {},
          "flatPath": "walletobjects/v1/jwt/validate",
          "httpMethod": "POST",
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "path": "walletobjects/v1/jwt/validate",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.jwt.validate",
          "parameterOrder": []
        },
        "insert": {
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "JwtResource"
          },
          "description": "Inserts the resources in the JWT.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/jwt",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "id": "walletobjects.jwt.insert",
          "flatPath": "walletobjects/v1/jwt"
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "id": "walletobjects.genericclass.addmessage",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "patch": {
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.patch",
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "httpMethod": "PATCH"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.update",
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the Generic class referenced by the given class ID."
        },
        "list": {
          "id": "walletobjects.genericclass.list",
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the generic class with the given class ID.",
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.get"
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a generic class with the given ID and properties.",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "request": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "id": "walletobjects.giftcardclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.giftcardclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "request": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics."
        },
        "insert": {
          "path": "walletobjects/v1/giftCardClass",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Inserts an gift card class with the given ID and properties.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.insert",
          "response": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass"
        },
        "update": {
          "description": "Updates the gift card class referenced by the given class ID.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT"
        },
        "list": {
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "path": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.list",
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            }
          }
        },
        "get": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the gift card class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.get",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}"
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Returns the gift card object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.giftcardobject.get",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject",
          "id": "walletobjects.giftcardobject.insert",
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "parameters": {},
          "description": "Inserts an gift card object with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GiftCardObject"
          }
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PATCH",
          "id": "walletobjects.giftcardobject.patch",
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "addmessage": {
          "id": "walletobjects.giftcardobject.addmessage",
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage"
        },
        "list": {
          "id": "walletobjects.giftcardobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "flatPath": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "parameterOrder": []
        },
        "update": {
          "description": "Updates the gift card object referenced by the given object ID.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "request": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.update"
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "walletobjects.eventticketobject.insert",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "path": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an event ticket object with the given ID and properties.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "modifylinkedofferobjects": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "deprecated": true
        },
        "list": {
          "path": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.eventticketobject.list"
        },
        "patch": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the event ticket object referenced by the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.update",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "addmessage": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.addmessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Returns the event ticket object with the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.get"
        }
      }
    },
    "issuer": {
      "methods": {
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "format": "int64",
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.patch",
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.get",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Returns the issuer with the given issuer ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "The unique identifier for an issuer."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "id": "walletobjects.issuer.update",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "parameters": {
            "resourceId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.list",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/issuer",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameters": {},
          "httpMethod": "GET",
          "description": "Returns a list of all issuers shared to the caller.",
          "path": "walletobjects/v1/issuer"
        },
        "insert": {
          "flatPath": "walletobjects/v1/issuer",
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer",
          "description": "Inserts an issuer with the given ID and properties.",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "id": "walletobjects.issuer.insert"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts the smart tap.",
          "path": "walletobjects/v1/smartTap",
          "request": {
            "$ref": "SmartTap"
          },
          "httpMethod": "POST",
          "id": "walletobjects.smarttap.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/smartTap",
          "response": {
            "$ref": "SmartTap"
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.get",
          "description": "Returns the transit object with the given object ID.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "id": "walletobjects.transitobject.insert",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an transit object with the given ID and properties.",
          "flatPath": "walletobjects/v1/transitObject",
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject"
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "id": "walletobjects.transitobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "parameterOrder": [],
          "path": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID.",
          "id": "walletobjects.transitobject.update"
        },
        "patch": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.patch"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "insert": {
          "id": "walletobjects.loyaltyclass.insert",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "description": "Inserts an loyalty class with the given ID and properties.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "walletobjects/v1/loyaltyClass"
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            },
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "get": {
          "id": "walletobjects.loyaltyclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Returns the loyalty class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.update"
        },
        "patch": {
          "id": "walletobjects.loyaltyclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          }
        }
      }
    },
    "genericobject": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.patch",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates the generic object referenced by the given object ID.",
          "id": "walletobjects.genericobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "path": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.list",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "id": "walletobjects.genericobject.addmessage"
        },
        "insert": {
          "description": "Inserts a generic object with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject",
          "request": {
            "$ref": "GenericObject"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "walletobjects.genericobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "id": "walletobjects.genericobject.get",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the generic object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "flightobject": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.list",
          "path": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObjectListResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the flight object with the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/flightObject/{resourceId}"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.patch",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "httpMethod": "POST",
          "id": "walletobjects.flightobject.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/flightObject",
          "path": "walletobjects/v1/flightObject",
          "request": {
            "$ref": "FlightObject"
          },
          "response": {
            "$ref": "FlightObject"
          },
          "description": "Inserts an flight object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.insert",
          "parameters": {},
          "httpMethod": "POST"
        },
        "update": {
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.update",
          "description": "Updates the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "offerobject": {
      "methods": {
        "patch": {
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.patch",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "OfferObject"
          },
          "response": {
            "$ref": "OfferObject"
          }
        },
        "update": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Returns the offer object with the given object ID.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.get",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          }
        },
        "addmessage": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.addmessage",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "id": "walletobjects.offerobject.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/offerObject",
          "request": {
            "$ref": "OfferObject"
          },
          "response": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an offer object with the given ID and properties.",
          "parameterOrder": [],
          "path": "walletobjects/v1/offerObject"
        },
        "list": {
          "id": "walletobjects.offerobject.list",
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/offerObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/offerObject"
        }
      }
    },
    "flightclass": {
      "methods": {
        "update": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.update",
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}"
        },
        "get": {
          "description": "Returns the flight class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.get"
        },
        "insert": {
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Inserts an flight class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass",
          "path": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.insert"
        },
        "list": {
          "path": "walletobjects/v1/flightClass",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/flightClass",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.flightclass.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            }
          }
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.patch"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "id": "walletobjects.flightclass.addmessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "description": "Returns the permissions for the given issuer id.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Permissions"
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.permissions.get"
        },
        "update": {
          "description": "Updates the permissions for the given issuer.",
          "id": "walletobjects.permissions.update",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Permissions"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers."
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "get": {
          "id": "walletobjects.loyaltyobject.get",
          "description": "Returns the loyalty object with the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "list": {
          "parameterOrder": [],
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "id": "walletobjects.loyaltyobject.list",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "id": "walletobjects.loyaltyobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH"
        },
        "modifylinkedofferobjects": {
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "deprecated": true,
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "description": "Updates the loyalty object referenced by the given object ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.loyaltyobject.update",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "addmessage": {
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "id": "walletobjects.loyaltyobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "parameters": {},
          "id": "walletobjects.loyaltyobject.insert"
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "httpMethod": "POST",
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "parameters": {},
                  "parameterOrder": [],
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "get": {
          "description": "Returns the event ticket class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.update",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID.",
          "request": {
            "$ref": "EventTicketClass"
          }
        },
        "patch": {
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "request": {
            "$ref": "EventTicketClass"
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "addmessage": {
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketclass.addmessage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          }
        },
        "list": {
          "parameterOrder": [],
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "id": "walletobjects.eventticketclass.list"
        },
        "insert": {
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Inserts an event ticket class with the given ID and properties.",
          "path": "walletobjects/v1/eventTicketClass",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClass"
          },
          "request": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketclass.insert"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "id": "walletobjects.media.download",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Media"
          },
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues"
        },
        "upload": {
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "id": "walletobjects.media.upload",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
[...]
