{
  "canonicalName": "Webfonts",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "title": "Web Fonts Developer API",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "id": "webfonts.webfonts.list",
          "parameters": {
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "category": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "sort": {
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "family": {
              "type": "string",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "path": "v1/webfonts",
          "parameterOrder": [],
          "flatPath": "v1/webfonts"
        }
      }
    }
  },
  "schemas": {
    "Axis": {
      "properties": {
        "end": {
          "description": "maximum value",
          "format": "float",
          "type": "number"
        },
        "start": {
          "format": "float",
          "description": "minimum value",
          "type": "number"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        }
      },
      "id": "Axis",
      "type": "object",
      "description": "Metadata for a variable font axis."
    },
    "Webfont": {
      "type": "object",
      "id": "Webfont",
      "properties": {
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "axes": {
          "type": "array",
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts."
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font.",
          "type": "array"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        }
      },
      "description": "Metadata describing a family of fonts."
    },
    "WebfontList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList"
    },
    "Tag": {
      "type": "object",
      "id": "Tag",
      "description": "Metadata for a tag.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "format": "float",
          "description": "The weight of the tag.",
          "type": "number"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "id": "webfonts:v1",
  "batchPath": "batch",
  "servicePath": "",
  "version": "v1",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://webfonts.googleapis.com/",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "ownerName": "Google",
  "basePath": "",
  "name": "webfonts",
  "rootUrl": "https://webfonts.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20260903",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}