{
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "name": "webfonts",
  "baseUrl": "https://webfonts.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "revision": "20260903",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Webfonts",
  "title": "Web Fonts Developer API",
  "rootUrl": "https://webfonts.googleapis.com/",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v1/webfonts",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "response": {
            "$ref": "WebfontList"
          },
          "parameterOrder": [],
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "parameters": {
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "description": "Enables sorting of the list."
            },
            "subset": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "capability": {
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true,
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ]
            },
            "family": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            },
            "category": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Axis": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "start": {
          "description": "minimum value",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "id": "Axis"
    },
    "Tag": {
      "description": "Metadata for a tag.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of the tag."
        }
      }
    },
    "Webfont": {
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scripts supported by the font."
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family.",
          "type": "array"
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Webfont"
    },
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "id": "webfonts:v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerDomain": "google.com"
}