{
  "ownerDomain": "google.com",
  "id": "webfonts:v1",
  "rootUrl": "https://webfonts.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "WebfontList": {
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        }
      },
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object"
    },
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "Tag": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "type": "number",
          "format": "float",
          "description": "The weight of the tag."
        }
      },
      "id": "Tag",
      "description": "Metadata for a tag."
    },
    "Webfont": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "axes": {
          "type": "array",
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          }
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "files": {
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        }
      },
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "type": "object"
    }
  },
  "revision": "20260811",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "servicePath": "",
  "name": "webfonts",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Webfonts",
  "version": "v1",
  "baseUrl": "https://webfonts.googleapis.com/",
  "protocol": "rest",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "path": "v1/webfonts",
          "parameters": {
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            },
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string",
              "description": "Enables sorting of the list.",
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "family": {
              "repeated": true,
              "type": "string",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query"
            }
          },
          "id": "webfonts.webfonts.list",
          "httpMethod": "GET",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "flatPath": "v1/webfonts"
        }
      }
    }
  },
  "title": "Web Fonts Developer API"
}