{
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "id": "webfonts:v1",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "ownerName": "Google",
  "baseUrl": "https://webfonts.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "batchPath": "batch",
  "title": "Web Fonts Developer API",
  "version": "v1",
  "revision": "20260903",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "parameters": {
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "type": "string",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query"
            },
            "family": {
              "location": "query",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "type": "string"
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string"
            },
            "category": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "basePath": "",
  "rootUrl": "https://webfonts.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "schemas": {
    "Tag": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "format": "float",
          "description": "The weight of the tag.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Tag",
      "description": "Metadata for a tag."
    },
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      }
    },
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array"
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    },
    "Webfont": {
      "type": "object",
      "properties": {
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font."
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        }
      },
      "id": "Webfont",
      "description": "Metadata describing a family of fonts."
    }
  },
  "servicePath": "",
  "canonicalName": "Webfonts",
  "name": "webfonts"
}