{
  "rootUrl": "https://webfonts.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20260903",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "id": "webfonts:v1",
  "schemas": {
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "type": "number",
          "format": "float",
          "description": "maximum value"
        },
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        }
      },
      "id": "Axis"
    },
    "Webfont": {
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont",
      "properties": {
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The tags that apply to this family."
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The available variants for the font."
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The color format(s) available for this family."
        }
      },
      "type": "object"
    },
    "WebfontList": {
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList",
      "type": "object"
    },
    "Tag": {
      "type": "object",
      "description": "Metadata for a tag.",
      "id": "Tag",
      "properties": {
        "weight": {
          "format": "float",
          "type": "number",
          "description": "The weight of the tag."
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "Webfonts",
  "ownerDomain": "google.com",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "name": "webfonts",
  "version": "v1",
  "ownerName": "Google",
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://webfonts.googleapis.com/",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "response": {
            "$ref": "WebfontList"
          },
          "path": "v1/webfonts",
          "parameters": {
            "sort": {
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "description": "Enables sorting of the list.",
              "type": "string"
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true
            },
            "family": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            },
            "subset": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            }
          },
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "title": "Web Fonts Developer API"
}