{
  "ownerDomain": "google.com",
  "name": "webfonts",
  "revision": "20260811",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "baseUrl": "https://webfonts.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "parameters": {
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "family": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "sort": {
              "type": "string",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "description": "Enables sorting of the list."
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "path": "v1/webfonts",
          "httpMethod": "GET",
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "response": {
            "$ref": "WebfontList"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "title": "Web Fonts Developer API",
  "canonicalName": "Webfonts",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "batchPath": "batch",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "schemas": {
    "Webfont": {
      "id": "Webfont",
      "type": "object",
      "properties": {
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font.",
          "type": "array"
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Metadata describing a family of fonts."
    },
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    },
    "Axis": {
      "id": "Axis",
      "type": "object",
      "properties": {
        "start": {
          "description": "minimum value",
          "format": "float",
          "type": "number"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metadata for a variable font axis."
    },
    "Tag": {
      "description": "Metadata for a tag.",
      "id": "Tag",
      "type": "object",
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of the tag."
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://webfonts.googleapis.com/",
  "basePath": "",
  "id": "webfonts:v1"
}