{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "canonicalName": "Webfonts",
  "title": "Web Fonts Developer API",
  "id": "webfonts:v1",
  "revision": "20260811",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "basePath": "",
  "baseUrl": "https://webfonts.googleapis.com/",
  "rootUrl": "https://webfonts.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1",
  "protocol": "rest",
  "name": "webfonts",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "schemas": {
    "Axis": {
      "id": "Axis",
      "type": "object",
      "properties": {
        "end": {
          "type": "number",
          "format": "float",
          "description": "maximum value"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        }
      },
      "description": "Metadata for a variable font axis."
    },
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    },
    "Webfont": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font."
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "files": {
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "axes": {
          "type": "array",
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts."
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family."
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        }
      },
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont"
    }
  },
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameters": {
            "sort": {
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query"
            },
            "capability": {
              "location": "query",
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "subset": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            }
          },
          "id": "webfonts.webfonts.list",
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "parameterOrder": [],
          "path": "v1/webfonts",
          "httpMethod": "GET"
        }
      }
    }
  },
  "servicePath": ""
}