{
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "name": "webfonts",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "rootUrl": "https://webfonts.googleapis.com/",
  "revision": "20260903",
  "schemas": {
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "items": {
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array"
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "Webfont": {
      "properties": {
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "variants": {
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "colorCapabilities": {
          "type": "array",
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          }
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont"
    },
    "Axis": {
      "type": "object",
      "properties": {
        "start": {
          "format": "float",
          "description": "minimum value",
          "type": "number"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "end": {
          "format": "float",
          "type": "number",
          "description": "maximum value"
        }
      },
      "id": "Axis",
      "description": "Metadata for a variable font axis."
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "baseUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Web Fonts Developer API",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "canonicalName": "Webfonts",
  "id": "webfonts:v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v1/webfonts",
          "parameterOrder": [],
          "parameters": {
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "description": "Enables sorting of the list.",
              "type": "string"
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "repeated": true
            },
            "family": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "id": "webfonts.webfonts.list"
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1"
}