{
  "id": "webfonts:v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "webfonts",
  "revision": "20260903",
  "baseUrl": "https://webfonts.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "response": {
            "$ref": "WebfontList"
          },
          "parameterOrder": [],
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "parameters": {
            "family": {
              "location": "query",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "type": "string"
            },
            "capability": {
              "location": "query",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent."
            },
            "subset": {
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string"
            },
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "location": "query",
              "description": "Enables sorting of the list."
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "canonicalName": "Webfonts",
  "kind": "discovery#restDescription",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://webfonts.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Web Fonts Developer API",
  "schemas": {
    "Webfont": {
      "properties": {
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scripts supported by the font."
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "axes": {
          "type": "array",
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts."
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Webfont",
      "description": "Metadata describing a family of fonts."
    },
    "Axis": {
      "type": "object",
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "start": {
          "format": "float",
          "type": "number",
          "description": "minimum value"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      }
    },
    "Tag": {
      "type": "object",
      "id": "Tag",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metadata for a tag."
    },
    "WebfontList": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        }
      },
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "servicePath": "",
  "basePath": ""
}