{
  "baseUrl": "https://webrisk.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "mtlsRootUrl": "https://webrisk.mtls.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Web Risk",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudWebriskV1SearchHashesResponseThreatHash": {
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
        },
        "hash": {
          "type": "string",
          "format": "byte",
          "description": "A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
        },
        "threatTypes": {
          "type": "array",
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ],
            "type": "string"
          },
          "description": "The ThreatList this threat belongs to. This must contain at least one entry."
        }
      },
      "type": "object",
      "description": "Contains threat information on a matching hash.",
      "id": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudWebriskV1ThreatEntryRemovals": {
      "description": "Contains the set of entries to remove from a local database.",
      "properties": {
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleCloudWebriskV1RawIndices"
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding"
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1ThreatEntryRemovals"
    },
    "GoogleCloudWebriskV1Submission": {
      "description": "Wraps a URI that might be displaying malicious content.",
      "type": "object",
      "id": "GoogleCloudWebriskV1Submission",
      "properties": {
        "uri": {
          "description": "Required. The URI that is being reported for malicious content to be analyzed.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudWebriskV1SearchUrisResponseThreatUri": {
      "type": "object",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives.",
          "format": "google-datetime"
        },
        "threatTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ]
          },
          "description": "The ThreatList this threat belongs to.",
          "type": "array"
        }
      },
      "id": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
      "description": "Contains threat information on a matching uri."
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponse": {
      "type": "object",
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponse",
      "properties": {
        "removals": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryRemovals",
          "description": "A set of entries to remove from a local threat type's list. This field may be empty."
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list.",
          "$ref": "GoogleCloudWebriskV1ThreatEntryAdditions"
        },
        "responseType": {
          "description": "The type of response. This may indicate that an action must be taken by the client when the response is received.",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "DIFF",
            "RESET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates resets the client's entire local database. This means that either the client had no state, was seriously out-of-date, or the client is believed to be corrupt."
          ]
        },
        "recommendedNextDiff": {
          "type": "string",
          "format": "google-datetime",
          "description": "The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want."
        },
        "checksum": {
          "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later."
        },
        "newVersionToken": {
          "type": "string",
          "description": "The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'. A separate version token should be stored and used for each threatList.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudWebriskV1RiceDeltaEncoding": {
      "properties": {
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer",
          "format": "int32"
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string",
          "format": "byte"
        },
        "firstValue": {
          "type": "string",
          "format": "int64",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero."
        },
        "entryCount": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "id": "GoogleCloudWebriskV1RiceDeltaEncoding"
    },
    "GoogleCloudWebriskV1SearchUrisResponse": {
      "id": "GoogleCloudWebriskV1SearchUrisResponse",
      "type": "object",
      "properties": {
        "threat": {
          "description": "The threat list matches. This might be empty if the URI is on no list.",
          "$ref": "GoogleCloudWebriskV1SearchUrisResponseThreatUri"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchHashesResponse": {
      "id": "GoogleCloudWebriskV1SearchHashesResponse",
      "properties": {
        "negativeExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response until."
        },
        "threats": {
          "description": "The full hashes that matched the requested prefixes. The hash will be populated in the key.",
          "items": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1RawIndices": {
      "properties": {
        "indices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array"
        }
      },
      "id": "GoogleCloudWebriskV1RawIndices",
      "description": "A set of raw indices to remove from a local list.",
      "type": "object"
    },
    "GoogleCloudWebriskV1RawHashes": {
      "id": "GoogleCloudWebriskV1RawHashes",
      "description": "The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "properties": {
        "prefixSize": {
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances.",
          "format": "int32"
        },
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum": {
      "properties": {
        "sha256": {
          "format": "byte",
          "type": "string",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "type": "object",
      "description": "The expected state of a client's local database.",
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Matches the `/v1/{project-name}/operations/{operation-id}` pattern."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Contains a `SubmitUriMetadata` object.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudWebriskV1ThreatEntryAdditions": {
      "id": "GoogleCloudWebriskV1ThreatEntryAdditions",
      "description": "Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response.",
      "properties": {
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding"
        },
        "rawHashes": {
          "type": "array",
          "description": "The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes.",
          "items": {
            "$ref": "GoogleCloudWebriskV1RawHashes"
          }
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/web-risk/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "revision": "20260823",
  "description": "",
  "name": "webrisk",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "webrisk.projects.operations.cancel",
              "request": {
                "$ref": "GoogleLongrunningCancelOperationRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size."
                }
              },
              "path": "v1/{+name}/operations",
              "flatPath": "v1/projects/{projectsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "webrisk.projects.operations.list"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource."
                }
              },
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "webrisk.projects.operations.get"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "webrisk.projects.operations.delete",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            }
          }
        },
        "submissions": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "id": "webrisk.projects.submissions.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/submissions",
              "description": "Creates a Submission of a URI suspected of containing phishing content for review. If the review confirms malicious phishing content, Google adds the site to [Google's Social Engineering lists](https://support.google.com/webmasters/answer/6350487/) to help protect users. Only allowlisted projects can use this method during Early Access. To obtain access, contact Sales or your customer engineer.",
              "flatPath": "v1/projects/{projectsId}/submissions",
              "response": {
                "$ref": "GoogleCloudWebriskV1Submission"
              }
            }
          }
        }
      }
    },
    "uris": {
      "methods": {
        "search": {
          "description": "This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/uris:search",
          "id": "webrisk.uris.search",
          "flatPath": "v1/uris:search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchUrisResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "uri": {
              "description": "Required. The URI to be checked for matches.",
              "location": "query",
              "type": "string"
            },
            "threatTypes": {
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ],
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "threatLists": {
      "methods": {
        "computeDiff": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/threatLists:computeDiff",
          "httpMethod": "GET",
          "parameters": {
            "constraints.maxDatabaseEntries": {
              "type": "integer",
              "format": "int32",
              "description": "Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
              "location": "query"
            },
            "constraints.maxDiffEntries": {
              "description": "The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "versionToken": {
              "type": "string",
              "format": "byte",
              "description": "The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned.",
              "location": "query"
            },
            "threatType": {
              "location": "query",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ],
              "type": "string",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "description": "Required. The threat list to update. Only a single ThreatType should be specified per request. If you want to handle multiple ThreatTypes, you must make one request per ThreatType."
            },
            "constraints.supportedCompressions": {
              "type": "string",
              "enum": [
                "COMPRESSION_TYPE_UNSPECIFIED",
                "RAW",
                "RICE"
              ],
              "description": "The compression types supported by the client.",
              "location": "query",
              "enumDescriptions": [
                "Unknown.",
                "Raw, uncompressed data.",
                "Rice-Golomb encoded data."
              ],
              "repeated": true
            }
          },
          "flatPath": "v1/threatLists:computeDiff",
          "response": {
            "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
          },
          "parameterOrder": [],
          "id": "webrisk.threatLists.computeDiff",
          "description": "Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned. This Method only updates a single ThreatList at a time. To update multiple ThreatList databases, this method needs to be called once for each list."
        }
      }
    },
    "hashes": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "hashPrefix": {
              "location": "query",
              "type": "string",
              "format": "byte",
              "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded. Note that if this parameter is provided by a URI, it must be encoded using the web safe base64 variant (RFC 4648)."
            },
            "threatTypes": {
              "location": "query",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "repeated": true,
              "type": "string",
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ]
            }
          },
          "id": "webrisk.hashes.search",
          "flatPath": "v1/hashes:search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponse"
          },
          "description": "Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/hashes:search"
        }
      }
    }
  },
  "title": "Web Risk API",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "id": "webrisk:v1",
  "rootUrl": "https://webrisk.googleapis.com/"
}