{
  "version_module": true,
  "title": "Web Risk API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "name": "webrisk",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://webrisk.mtls.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://webrisk.googleapis.com/",
  "baseUrl": "https://webrisk.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "batchPath": "batch",
  "id": "webrisk:v1",
  "resources": {
    "uris": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1/uris:search",
          "parameters": {
            "uri": {
              "location": "query",
              "type": "string",
              "description": "Required. The URI to be checked for matches."
            },
            "threatTypes": {
              "type": "string",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "location": "query",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ],
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned.",
          "flatPath": "v1/uris:search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchUrisResponse"
          },
          "id": "webrisk.uris.search"
        }
      }
    },
    "hashes": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat.",
          "parameterOrder": [],
          "path": "v1/hashes:search",
          "parameters": {
            "hashPrefix": {
              "format": "byte",
              "type": "string",
              "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded. Note that if this parameter is provided by a URI, it must be encoded using the web safe base64 variant (RFC 4648).",
              "location": "query"
            },
            "threatTypes": {
              "type": "string",
              "repeated": true,
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "location": "query",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ]
            }
          },
          "id": "webrisk.hashes.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponse"
          },
          "flatPath": "v1/hashes:search"
        }
      }
    },
    "projects": {
      "resources": {
        "submissions": {
          "methods": {
            "create": {
              "id": "webrisk.projects.submissions.create",
              "request": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "response": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "httpMethod": "POST",
              "description": "Creates a Submission of a URI suspected of containing phishing content for review. If the review confirms malicious phishing content, Google adds the site to [Google's Social Engineering lists](https://support.google.com/webmasters/answer/6350487/) to help protect users. Only allowlisted projects can use this method during Early Access. To obtain access, contact Sales or your customer engineer.",
              "flatPath": "v1/projects/{projectsId}/submissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\"."
                }
              },
              "path": "v1/{+parent}/submissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleLongrunningCancelOperationRequest"
              },
              "path": "v1/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ],
              "id": "webrisk.projects.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled."
                }
              }
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "webrisk.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                }
              },
              "id": "webrisk.projects.operations.list",
              "flatPath": "v1/projects/{projectsId}/operations"
            },
            "delete": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "webrisk.projects.operations.delete"
            }
          }
        }
      }
    },
    "threatLists": {
      "methods": {
        "computeDiff": {
          "path": "v1/threatLists:computeDiff",
          "parameters": {
            "constraints.supportedCompressions": {
              "enumDescriptions": [
                "Unknown.",
                "Raw, uncompressed data.",
                "Rice-Golomb encoded data."
              ],
              "location": "query",
              "description": "The compression types supported by the client.",
              "type": "string",
              "repeated": true,
              "enum": [
                "COMPRESSION_TYPE_UNSPECIFIED",
                "RAW",
                "RICE"
              ]
            },
            "constraints.maxDatabaseEntries": {
              "location": "query",
              "type": "integer",
              "description": "Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
              "format": "int32"
            },
            "threatType": {
              "description": "Required. The threat list to update. Only a single ThreatType should be specified per request. If you want to handle multiple ThreatTypes, you must make one request per ThreatType.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "A list of extended coverage social engineering URIs targeting any platform."
              ],
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ]
            },
            "versionToken": {
              "format": "byte",
              "description": "The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned.",
              "location": "query",
              "type": "string"
            },
            "constraints.maxDiffEntries": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.",
              "location": "query"
            }
          },
          "id": "webrisk.threatLists.computeDiff",
          "description": "Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned. This Method only updates a single ThreatList at a time. To update multiple ThreatList databases, this method needs to be called once for each list.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/threatLists:computeDiff"
        }
      }
    }
  },
  "revision": "20260830",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/web-risk/",
  "canonicalName": "Web Risk",
  "schemas": {
    "GoogleCloudWebriskV1ComputeThreatListDiffResponse": {
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponse",
      "properties": {
        "additions": {
          "description": "A set of entries to add to a local threat type's list.",
          "$ref": "GoogleCloudWebriskV1ThreatEntryAdditions"
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "DIFF",
            "RESET"
          ],
          "description": "The type of response. This may indicate that an action must be taken by the client when the response is received.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates resets the client's entire local database. This means that either the client had no state, was seriously out-of-date, or the client is believed to be corrupt."
          ]
        },
        "removals": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryRemovals",
          "description": "A set of entries to remove from a local threat type's list. This field may be empty."
        },
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later.",
          "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum"
        },
        "recommendedNextDiff": {
          "format": "google-datetime",
          "type": "string",
          "description": "The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want."
        },
        "newVersionToken": {
          "description": "The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'. A separate version token should be stored and used for each threatList.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1Submission": {
      "type": "object",
      "id": "GoogleCloudWebriskV1Submission",
      "description": "Wraps a URI that might be displaying malicious content.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI that is being reported for malicious content to be analyzed."
        }
      }
    },
    "GoogleCloudWebriskV1SearchUrisResponseThreatUri": {
      "id": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
      "type": "object",
      "description": "Contains threat information on a matching uri.",
      "properties": {
        "threatTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ]
          },
          "description": "The ThreatList this threat belongs to.",
          "type": "array"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum": {
      "type": "object",
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
      "properties": {
        "sha256": {
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "The expected state of a client's local database."
    },
    "GoogleCloudWebriskV1RawHashes": {
      "properties": {
        "prefixSize": {
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances.",
          "format": "int32"
        },
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudWebriskV1RawHashes",
      "description": "The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "type": "object"
    },
    "GoogleCloudWebriskV1RawIndices": {
      "type": "object",
      "description": "A set of raw indices to remove from a local list.",
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudWebriskV1RawIndices"
    },
    "GoogleCloudWebriskV1ThreatEntryAdditions": {
      "id": "GoogleCloudWebriskV1ThreatEntryAdditions",
      "description": "Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response.",
      "properties": {
        "riceHashes": {
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawHashes": {
          "type": "array",
          "description": "The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes.",
          "items": {
            "$ref": "GoogleCloudWebriskV1RawHashes"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1ThreatEntryRemovals": {
      "description": "Contains the set of entries to remove from a local database.",
      "id": "GoogleCloudWebriskV1ThreatEntryRemovals",
      "properties": {
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleCloudWebriskV1RawIndices"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Matches the `/v1/{project-name}/operations/{operation-id}` pattern.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Contains a `SubmitUriMetadata` object.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchHashesResponse": {
      "id": "GoogleCloudWebriskV1SearchHashesResponse",
      "properties": {
        "negativeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "For requested entities that did not match the threat list, how long to cache the response until."
        },
        "threats": {
          "items": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
          },
          "type": "array",
          "description": "The full hashes that matched the requested prefixes. The hash will be populated in the key."
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1RiceDeltaEncoding": {
      "type": "object",
      "properties": {
        "encodedData": {
          "type": "string",
          "format": "byte",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder."
        },
        "riceParameter": {
          "format": "int32",
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
        },
        "firstValue": {
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64"
        },
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        }
      },
      "id": "GoogleCloudWebriskV1RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchUrisResponse": {
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchUrisResponse",
      "properties": {
        "threat": {
          "$ref": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
          "description": "The threat list matches. This might be empty if the URI is on no list."
        }
      }
    },
    "GoogleCloudWebriskV1SearchHashesResponseThreatHash": {
      "id": "GoogleCloudWebriskV1SearchHashesResponseThreatHash",
      "type": "object",
      "description": "Contains threat information on a matching hash.",
      "properties": {
        "hash": {
          "format": "byte",
          "type": "string",
          "description": "A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
        },
        "threatTypes": {
          "type": "array",
          "description": "The ThreatList this threat belongs to. This must contain at least one entry.",
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "A list of extended coverage social engineering URIs targeting any platform."
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "description": ""
}