{
  "ownerDomain": "google.com",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "version_module": true,
  "revision": "20260806",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "title": "Web Security Scanner API",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "websecurityscanner",
  "id": "websecurityscanner:v1alpha",
  "schemas": {
    "ScanRun": {
      "id": "ScanRun",
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which the ScanRun started.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "type": "string"
        },
        "urlsCrawledCount": {
          "format": "int64",
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
          "type": "integer"
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
          "type": "string",
          "format": "int64"
        },
        "executionState": {
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "description": "The execution state of the ScanRun.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system.",
          "type": "string"
        },
        "resultState": {
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ],
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "type": "string"
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        }
      }
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "description": "Request for the `StartScanRun` method.",
      "type": "object",
      "properties": {}
    },
    "GoogleAccount": {
      "description": "Describes authentication configuration that uses a Google account.",
      "type": "object",
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        }
      },
      "id": "GoogleAccount"
    },
    "ListScanRunsResponse": {
      "id": "ListScanRunsResponse",
      "description": "Response for the `ListScanRuns` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "scanRuns": {
          "description": "The list of ScanRuns returned.",
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          }
        }
      }
    },
    "VulnerableHeaders": {
      "description": "Information about vulnerable or missing HTTP Headers.",
      "type": "object",
      "properties": {
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "List of vulnerable headers.",
          "type": "array"
        },
        "missingHeaders": {
          "items": {
            "$ref": "Header"
          },
          "description": "List of missing headers.",
          "type": "array"
        }
      },
      "id": "VulnerableHeaders"
    },
    "Authentication": {
      "id": "Authentication",
      "description": "Scan authentication configuration.",
      "type": "object",
      "properties": {
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        },
        "customAccount": {
          "$ref": "CustomAccount",
          "description": "Authentication using a custom account."
        }
      }
    },
    "OutdatedLibrary": {
      "id": "OutdatedLibrary",
      "description": "Information reported for an outdated library.",
      "type": "object",
      "properties": {
        "learnMoreUrls": {
          "items": {
            "type": "string"
          },
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "type": "array"
        },
        "libraryName": {
          "description": "The name of the outdated library.",
          "type": "string"
        },
        "version": {
          "description": "The version number.",
          "type": "string"
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "type": "object",
      "properties": {
        "findingType": {
          "description": "The type of the Finding.",
          "type": "string",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ]
        },
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
          "type": "string"
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
          "type": "string"
        },
        "outdatedLibrary": {
          "$ref": "OutdatedLibrary",
          "description": "An addon containing information about outdated libraries."
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        },
        "vulnerableHeaders": {
          "$ref": "VulnerableHeaders",
          "description": "An addon containing information about vulnerable or missing HTTP headers."
        },
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        },
        "name": {
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
          "type": "string"
        },
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        }
      }
    },
    "ViolatingResource": {
      "id": "ViolatingResource",
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        }
      }
    },
    "ListFindingTypeStatsResponse": {
      "id": "ListFindingTypeStatsResponse",
      "description": "Response for the `ListFindingTypeStats` method.",
      "type": "object",
      "properties": {
        "findingTypeStats": {
          "items": {
            "$ref": "FindingTypeStats"
          },
          "description": "The list of FindingTypeStats returned.",
          "type": "array"
        }
      }
    },
    "Schedule": {
      "id": "Schedule",
      "description": "Scan schedule configuration.",
      "type": "object",
      "properties": {
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "type": "integer",
          "format": "int32"
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately.",
          "type": "string"
        }
      }
    },
    "ScanConfig": {
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12",
      "type": "object",
      "properties": {
        "schedule": {
          "$ref": "Schedule",
          "description": "The schedule of the ScanConfig."
        },
        "authentication": {
          "$ref": "Authentication",
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning."
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "targetPlatforms": {
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ],
            "type": "string"
          }
        },
        "latestRun": {
          "$ref": "ScanRun",
          "description": "Latest ScanRun if available."
        },
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
          "type": "string"
        },
        "maxQps": {
          "format": "int32",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "type": "integer"
        },
        "userAgent": {
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "description": "The user agent used during scanning.",
          "type": "string"
        },
        "blacklistPatterns": {
          "items": {
            "type": "string"
          },
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "type": "array"
        },
        "startingUrls": {
          "items": {
            "type": "string"
          },
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "type": "array"
        }
      },
      "id": "ScanConfig"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "CrawledUrl": {
      "id": "CrawledUrl",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Output only. The body of the request that was used to visit the URL.",
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        },
        "httpMethod": {
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase.",
          "type": "string"
        }
      }
    },
    "CustomAccount": {
      "id": "CustomAccount",
      "description": "Describes authentication configuration that uses a custom account.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The user name of the custom account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        }
      }
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "scanConfigs": {
          "description": "The list of ScanConfigs returned.",
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          }
        }
      }
    },
    "StopScanRunRequest": {
      "id": "StopScanRunRequest",
      "description": "Request for the `StopScanRun` method.",
      "type": "object",
      "properties": {}
    },
    "Header": {
      "description": "Describes a HTTP Header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "description": "Header value.",
          "type": "string"
        }
      },
      "id": "Header"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response for the `ListFindings` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "description": "The list of Findings returned.",
          "type": "array"
        }
      }
    },
    "FindingTypeStats": {
      "id": "FindingTypeStats",
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "type": "object",
      "properties": {
        "findingCount": {
          "format": "int32",
          "description": "The count of findings belonging to this finding type.",
          "type": "integer"
        },
        "findingType": {
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "description": "The finding type associated with the stats.",
          "type": "string"
        }
      }
    },
    "ListCrawledUrlsResponse": {
      "id": "ListCrawledUrlsResponse",
      "description": "Response for the `ListCrawledUrls` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "crawledUrls": {
          "items": {
            "$ref": "CrawledUrl"
          },
          "description": "The list of CrawledUrls returned.",
          "type": "array"
        }
      }
    },
    "VulnerableParameters": {
      "description": "Information about vulnerable request parameters.",
      "type": "object",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VulnerableParameters"
    },
    "Xss": {
      "id": "Xss",
      "description": "Information reported for an XSS.",
      "type": "object",
      "properties": {
        "stackTraces": {
          "items": {
            "type": "string"
          },
          "description": "Stack traces leading to the point where the XSS occurred.",
          "type": "array"
        },
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "delete": {
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an existing ScanConfig and its child resources.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string"
                }
              },
              "id": "websecurityscanner.projects.scanConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "description": "Gets a ScanConfig."
            },
            "patch": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "request": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "start": {
              "response": {
                "$ref": "ScanRun"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}:start",
              "description": "Start a ScanRun according to the given ScanConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "id": "websecurityscanner.projects.scanConfigs.start",
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true
                }
              }
            },
            "create": {
              "id": "websecurityscanner.projects.scanConfigs.create",
              "request": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new ScanConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+parent}/scanConfigs"
            },
            "list": {
              "description": "Lists ScanConfigs under a given project.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+parent}/scanConfigs",
              "id": "websecurityscanner.projects.scanConfigs.list",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "type": "string"
                    }
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "description": "Gets a ScanRun."
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "path": "v1alpha/{+parent}/scanRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  }
                },
                "stop": {
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "path": "v1alpha/{+name}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "findings": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "description": "List Findings under a given ScanRun.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/findings",
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "parameters": {
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Finding"
                      },
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a Finding.",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}"
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List all FindingTypeStats under a given ScanRun.",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "description": "List CrawledUrls under a given ScanRun.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1alpha",
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "WebSecurityScanner"
}