{
  "discoveryVersion": "v1",
  "id": "websecurityscanner:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "title": "Web Security Scanner API",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": "",
  "canonicalName": "WebSecurityScanner",
  "basePath": "",
  "protocol": "rest",
  "name": "websecurityscanner",
  "revision": "20260806",
  "schemas": {
    "Authentication": {
      "properties": {
        "googleAccount": {
          "$ref": "GoogleAccount",
          "description": "Authentication using a Google account."
        },
        "customAccount": {
          "$ref": "CustomAccount",
          "description": "Authentication using a custom account."
        }
      },
      "id": "Authentication",
      "type": "object",
      "description": "Scan authentication configuration."
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "type": "object",
      "properties": {},
      "description": "Request for the `StartScanRun` method."
    },
    "VulnerableParameters": {
      "properties": {
        "parameterNames": {
          "type": "array",
          "description": "The vulnerable parameter names.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VulnerableParameters",
      "type": "object",
      "description": "Information about vulnerable request parameters."
    },
    "CrawledUrl": {
      "properties": {
        "httpMethod": {
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase.",
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Output only. The body of the request that was used to visit the URL."
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        }
      },
      "id": "CrawledUrl",
      "type": "object",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against."
    },
    "Schedule": {
      "description": "Scan schedule configuration.",
      "id": "Schedule",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "type": "string",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately.",
          "format": "google-datetime"
        },
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListScanRunsResponse": {
      "properties": {
        "scanRuns": {
          "type": "array",
          "description": "The list of ScanRuns returned.",
          "items": {
            "$ref": "ScanRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListScanRunsResponse",
      "type": "object",
      "description": "Response for the `ListScanRuns` method."
    },
    "Header": {
      "description": "Describes a HTTP Header.",
      "id": "Header",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "GoogleAccount": {
      "properties": {
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        }
      },
      "id": "GoogleAccount",
      "type": "object",
      "description": "Describes authentication configuration that uses a Google account."
    },
    "Finding": {
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "id": "Finding",
      "type": "object",
      "properties": {
        "finalUrl": {
          "type": "string",
          "description": "The URL where the browser lands when the vulnerability is detected."
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "outdatedLibrary": {
          "$ref": "OutdatedLibrary",
          "description": "An addon containing information about outdated libraries."
        },
        "xss": {
          "$ref": "Xss",
          "description": "An addon containing information reported for an XSS, if any."
        },
        "violatingResource": {
          "$ref": "ViolatingResource",
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
          "type": "string"
        },
        "findingType": {
          "description": "The type of the Finding.",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "type": "string"
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system."
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns."
        },
        "fuzzedUrl": {
          "type": "string",
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability."
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "vulnerableHeaders": {
          "description": "An addon containing information about vulnerable or missing HTTP headers.",
          "$ref": "VulnerableHeaders"
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        }
      }
    },
    "OutdatedLibrary": {
      "description": "Information reported for an outdated library.",
      "properties": {
        "libraryName": {
          "type": "string",
          "description": "The name of the outdated library."
        },
        "learnMoreUrls": {
          "type": "array",
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The version number."
        }
      },
      "id": "OutdatedLibrary",
      "type": "object"
    },
    "ListFindingTypeStatsResponse": {
      "properties": {
        "findingTypeStats": {
          "type": "array",
          "description": "The list of FindingTypeStats returned.",
          "items": {
            "$ref": "FindingTypeStats"
          }
        }
      },
      "id": "ListFindingTypeStatsResponse",
      "type": "object",
      "description": "Response for the `ListFindingTypeStats` method."
    },
    "CustomAccount": {
      "description": "Describes authentication configuration that uses a custom account.",
      "id": "CustomAccount",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        }
      }
    },
    "Xss": {
      "properties": {
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        },
        "stackTraces": {
          "description": "Stack traces leading to the point where the XSS occurred.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Xss",
      "type": "object",
      "description": "Information reported for an XSS."
    },
    "ListScanConfigsResponse": {
      "description": "Response for the `ListScanConfigs` method.",
      "properties": {
        "scanConfigs": {
          "description": "The list of ScanConfigs returned.",
          "items": {
            "$ref": "ScanConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListScanConfigsResponse",
      "type": "object"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "The list of Findings returned.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for the `ListFindings` method."
    },
    "ScanConfig": {
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The user provided display name of the ScanConfig."
        },
        "userAgent": {
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "description": "The user agent used during scanning.",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "type": "string"
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "The schedule of the ScanConfig."
        },
        "latestRun": {
          "$ref": "ScanRun",
          "description": "Latest ScanRun if available."
        },
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "startingUrls": {
          "type": "array",
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "items": {
            "type": "string"
          }
        },
        "blacklistPatterns": {
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetPlatforms": {
          "type": "array",
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default.",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ],
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
          "type": "string"
        },
        "maxQps": {
          "type": "integer",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "format": "int32"
        }
      },
      "id": "ScanConfig",
      "type": "object"
    },
    "ListCrawledUrlsResponse": {
      "description": "Response for the `ListCrawledUrls` method.",
      "id": "ListCrawledUrlsResponse",
      "type": "object",
      "properties": {
        "crawledUrls": {
          "description": "The list of CrawledUrls returned.",
          "items": {
            "$ref": "CrawledUrl"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "ViolatingResource": {
      "id": "ViolatingResource",
      "type": "object",
      "properties": {
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        },
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        }
      },
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
    },
    "VulnerableHeaders": {
      "description": "Information about vulnerable or missing HTTP Headers.",
      "id": "VulnerableHeaders",
      "type": "object",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "items": {
            "$ref": "Header"
          },
          "type": "array"
        },
        "missingHeaders": {
          "description": "List of missing headers.",
          "items": {
            "$ref": "Header"
          },
          "type": "array"
        }
      }
    },
    "StopScanRunRequest": {
      "properties": {},
      "id": "StopScanRunRequest",
      "type": "object",
      "description": "Request for the `StopScanRun` method."
    },
    "ScanRun": {
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "properties": {
        "urlsCrawledCount": {
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "format": "int64",
          "type": "string"
        },
        "executionState": {
          "type": "string",
          "description": "The execution state of the ScanRun.",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ]
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
          "format": "int64",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
          "format": "int32"
        },
        "endTime": {
          "type": "string",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time at which the ScanRun started.",
          "format": "google-datetime",
          "type": "string"
        },
        "resultState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ],
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ]
        }
      },
      "id": "ScanRun",
      "type": "object"
    },
    "FindingTypeStats": {
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "properties": {
        "findingType": {
          "type": "string",
          "description": "The finding type associated with the stats.",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ]
        },
        "findingCount": {
          "description": "The count of findings belonging to this finding type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FindingTypeStats",
      "type": "object"
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "websecurityscanner.projects.scanConfigs.create",
              "path": "v1alpha/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new ScanConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "request": {
                "$ref": "ScanConfig"
              }
            },
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                },
                "pageSize": {
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "httpMethod": "GET",
              "id": "websecurityscanner.projects.scanConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists ScanConfigs under a given project."
            },
            "start": {
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "ScanRun"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "path": "v1alpha/{+name}:start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Start a ScanRun according to the given ScanConfig.",
              "id": "websecurityscanner.projects.scanConfigs.start",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an existing ScanConfig and its child resources.",
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "websecurityscanner.projects.scanConfigs.get",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a ScanConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "GET"
            },
            "patch": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "request": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig."
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a ScanRun.",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                    },
                    "pageSize": {
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'."
                    }
                  },
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "path": "v1alpha/{+parent}/scanRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time."
                },
                "stop": {
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                    }
                  },
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "path": "v1alpha/{+name}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        }
                      },
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List CrawledUrls under a given ScanRun."
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'."
                        }
                      },
                      "response": {
                        "$ref": "Finding"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a Finding.",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/findings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List Findings under a given ScanRun.",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        }
                      },
                      "response": {
                        "$ref": "ListFindingsResponse"
                      }
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List all FindingTypeStats under a given ScanRun."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha"
}