{
  "batchPath": "batch",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "revision": "20260806",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "create": {
              "id": "websecurityscanner.projects.scanConfigs.create",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates a new ScanConfig.",
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1alpha/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ScanConfig"
              }
            },
            "delete": {
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes an existing ScanConfig and its child resources.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "get": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "websecurityscanner.projects.scanConfigs.get",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets a ScanConfig.",
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "response": {
                "$ref": "ScanConfig"
              },
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "parameters": {
                "name": {
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ScanConfig"
              }
            },
            "list": {
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "id": "websecurityscanner.projects.scanConfigs.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Lists ScanConfigs under a given project.",
              "path": "v1alpha/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "start": {
              "response": {
                "$ref": "ScanRun"
              },
              "id": "websecurityscanner.projects.scanConfigs.start",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Start a ScanRun according to the given ScanConfig.",
              "path": "v1alpha/{+name}:start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "StartScanRunRequest"
              }
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets a ScanRun.",
                  "response": {
                    "$ref": "ScanRun"
                  }
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "path": "v1alpha/{+parent}/scanRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "httpMethod": "POST",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                    }
                  },
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "path": "v1alpha/{+name}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                        }
                      },
                      "description": "List all FindingTypeStats under a given ScanRun."
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "required": true
                        }
                      },
                      "description": "Gets a Finding.",
                      "response": {
                        "$ref": "Finding"
                      }
                    },
                    "list": {
                      "path": "v1alpha/{+parent}/findings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "List Findings under a given ScanRun.",
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "List CrawledUrls under a given ScanRun.",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "name": "websecurityscanner",
  "title": "Web Security Scanner API",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "version": "v1alpha",
  "canonicalName": "WebSecurityScanner",
  "schemas": {
    "Authentication": {
      "type": "object",
      "id": "Authentication",
      "description": "Scan authentication configuration.",
      "properties": {
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        },
        "customAccount": {
          "description": "Authentication using a custom account.",
          "$ref": "CustomAccount"
        }
      }
    },
    "ScanRun": {
      "type": "object",
      "id": "ScanRun",
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "properties": {
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "urlsCrawledCount": {
          "type": "string",
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "format": "int64"
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the ScanRun started.",
          "format": "google-datetime"
        },
        "executionState": {
          "description": "The execution state of the ScanRun.",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "format": "google-datetime"
        },
        "resultState": {
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ],
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ]
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "ViolatingResource": {
      "id": "ViolatingResource",
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
      "properties": {
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAccount": {
      "type": "object",
      "id": "GoogleAccount",
      "description": "Describes authentication configuration that uses a Google account.",
      "properties": {
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        }
      }
    },
    "ListFindingTypeStatsResponse": {
      "id": "ListFindingTypeStatsResponse",
      "description": "Response for the `ListFindingTypeStats` method.",
      "properties": {
        "findingTypeStats": {
          "description": "The list of FindingTypeStats returned.",
          "type": "array",
          "items": {
            "$ref": "FindingTypeStats"
          }
        }
      },
      "type": "object"
    },
    "Header": {
      "id": "Header",
      "description": "Describes a HTTP Header.",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "description": "Header value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CrawledUrl": {
      "type": "object",
      "id": "CrawledUrl",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "properties": {
        "httpMethod": {
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase.",
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        },
        "body": {
          "description": "Output only. The body of the request that was used to visit the URL.",
          "type": "string"
        }
      }
    },
    "FindingTypeStats": {
      "id": "FindingTypeStats",
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "properties": {
        "findingType": {
          "description": "The finding type associated with the stats.",
          "type": "string",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ]
        },
        "findingCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of findings belonging to this finding type."
        }
      },
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "description": "Scan schedule configuration.",
      "properties": {
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately."
        },
        "intervalDurationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The duration of time between executions in days."
        }
      }
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "properties": {
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "vulnerableHeaders": {
          "description": "An addon containing information about vulnerable or missing HTTP headers.",
          "$ref": "VulnerableHeaders"
        },
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
          "type": "string"
        },
        "findingType": {
          "type": "string",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "description": "The type of the Finding."
        },
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
          "type": "string"
        },
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
          "type": "string"
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "name": {
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
          "type": "string"
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "outdatedLibrary": {
          "description": "An addon containing information about outdated libraries.",
          "$ref": "OutdatedLibrary"
        }
      }
    },
    "ListFindingsResponse": {
      "type": "object",
      "id": "ListFindingsResponse",
      "description": "Response for the `ListFindings` method.",
      "properties": {
        "findings": {
          "description": "The list of Findings returned.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ScanConfig": {
      "type": "object",
      "id": "ScanConfig",
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12",
      "properties": {
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "userAgent": {
          "description": "The user agent used during scanning.",
          "type": "string",
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ]
        },
        "startingUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The starting URLs from which the scanner finds site pages."
        },
        "targetPlatforms": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ],
            "type": "string"
          },
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default."
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "maxQps": {
          "format": "int32",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "type": "integer"
        },
        "schedule": {
          "description": "The schedule of the ScanConfig.",
          "$ref": "Schedule"
        },
        "blacklistPatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls"
        },
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
          "type": "string"
        }
      }
    },
    "ListScanConfigsResponse": {
      "type": "object",
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method.",
      "properties": {
        "scanConfigs": {
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          },
          "description": "The list of ScanConfigs returned."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ListCrawledUrlsResponse": {
      "type": "object",
      "id": "ListCrawledUrlsResponse",
      "description": "Response for the `ListCrawledUrls` method.",
      "properties": {
        "crawledUrls": {
          "type": "array",
          "items": {
            "$ref": "CrawledUrl"
          },
          "description": "The list of CrawledUrls returned."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Xss": {
      "id": "Xss",
      "description": "Information reported for an XSS.",
      "properties": {
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        },
        "stackTraces": {
          "description": "Stack traces leading to the point where the XSS occurred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "description": "Request for the `StartScanRun` method.",
      "properties": {},
      "type": "object"
    },
    "ListScanRunsResponse": {
      "type": "object",
      "id": "ListScanRunsResponse",
      "description": "Response for the `ListScanRuns` method.",
      "properties": {
        "scanRuns": {
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          },
          "description": "The list of ScanRuns returned."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "VulnerableHeaders": {
      "type": "object",
      "id": "VulnerableHeaders",
      "description": "Information about vulnerable or missing HTTP Headers.",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "missingHeaders": {
          "type": "array",
          "items": {
            "$ref": "Header"
          },
          "description": "List of missing headers."
        }
      }
    },
    "OutdatedLibrary": {
      "type": "object",
      "id": "OutdatedLibrary",
      "description": "Information reported for an outdated library.",
      "properties": {
        "version": {
          "description": "The version number.",
          "type": "string"
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "libraryName": {
          "description": "The name of the outdated library.",
          "type": "string"
        }
      }
    },
    "VulnerableParameters": {
      "id": "VulnerableParameters",
      "description": "Information about vulnerable request parameters.",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CustomAccount": {
      "id": "CustomAccount",
      "description": "Describes authentication configuration that uses a custom account.",
      "properties": {
        "username": {
          "description": "Required. The user name of the custom account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StopScanRunRequest": {
      "id": "StopScanRunRequest",
      "description": "Request for the `StopScanRun` method.",
      "properties": {},
      "type": "object"
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "basePath": "",
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "id": "websecurityscanner:v1alpha",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true
}