{
  "revision": "20260806",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "id": "workloadmanager:v1",
  "version": "v1",
  "basePath": "",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "workloadmanager",
  "ownerDomain": "google.com",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "discoveryVersion": "v1",
  "servicePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "schemas": {
    "ListRulesResponse": {
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response."
        }
      },
      "id": "ListRulesResponse",
      "type": "object",
      "description": "Response message for the ListRules RPC."
    },
    "SapValidation": {
      "type": "object",
      "id": "SapValidation",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        },
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "type": "array"
        }
      },
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data."
    },
    "AgentStates": {
      "properties": {
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        },
        "hanaMonitoring": {
          "$ref": "ServiceStates",
          "description": "Optional. HANA monitoring metrics of the agent."
        },
        "systemDiscovery": {
          "$ref": "ServiceStates",
          "description": "Optional. The System discovery metrics of the agent."
        },
        "processMetrics": {
          "$ref": "ServiceStates",
          "description": "Optional. The Process metrics of the agent."
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        }
      },
      "description": "Agent status.",
      "id": "AgentStates",
      "type": "object"
    },
    "ActiveDirectory": {
      "type": "object",
      "description": "Active Directory details.",
      "id": "ActiveDirectory",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ],
          "description": "Required. Active Directory type.",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ]
        },
        "domain": {
          "type": "string",
          "description": "Optional. Human readable form of a domain such as `example.com`."
        },
        "domainUsername": {
          "type": "string",
          "description": "Optional. Domain username."
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "dnsAddress": {
          "type": "string",
          "description": "Optional. DNS IP address."
        }
      }
    },
    "Actuation": {
      "id": "Actuation",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "type": "object",
      "properties": {
        "actuationOutput": {
          "readOnly": true,
          "$ref": "ActuationOutput",
          "description": "Output only. Actuation output."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. End time stamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Start time stamp."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. Actuation state."
        },
        "deploymentOutput": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Deployment output.",
          "items": {
            "$ref": "DeploymentOutput"
          }
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        }
      }
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "type": "object",
      "id": "AgentStatus",
      "properties": {
        "systemdServiceRunning": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent service is running in systemd.",
          "readOnly": true
        },
        "agentName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the agent."
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true,
          "type": "string"
        },
        "cloudApiAccessFullScopesGranted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs."
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string",
          "readOnly": true
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "AgentStatusReference"
          },
          "readOnly": true,
          "description": "Output only. Optional references to public documentation."
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "readOnly": true,
          "type": "string"
        },
        "configurationValid": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string"
        },
        "services": {
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The services (process metrics, host metrics, etc.)."
        },
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "type": "string",
          "readOnly": true
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "type": "string",
          "readOnly": true
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "readOnly": true
        }
      }
    },
    "ResourceFilter": {
      "properties": {
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "resourceIdPatterns": {
          "type": "array",
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "id": "ResourceFilter"
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "id": "RuleExecutionResult",
      "type": "object",
      "properties": {
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "description": "Output only. The execution status.",
          "readOnly": true
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "resultCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of violations."
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        }
      }
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "id": "Execution",
      "properties": {
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "items": {
            "$ref": "Notice"
          },
          "type": "array",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endTime": {
          "type": "string",
          "description": "Output only. [Output only] End time stamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "externalDataSources": {
          "type": "array",
          "description": "Optional. External data sources.",
          "items": {
            "$ref": "ExternalDataSources"
          }
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "evaluationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Evaluation ID."
        },
        "ruleResults": {
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "type": "array"
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "description": "Optional. Engine.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "runType": {
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "type": "string",
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "type": "string",
          "description": "Output only. [Output only] State."
        }
      },
      "type": "object"
    },
    "AgentStatusConfigValue": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the configuration value."
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the configuration value."
        }
      },
      "description": "The configuration value.",
      "type": "object",
      "id": "AgentStatusConfigValue"
    },
    "Product": {
      "description": "Contains the details of a product.",
      "id": "Product",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        }
      }
    },
    "AgentCommand": {
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "AgentCommand",
      "type": "object",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run."
    },
    "Deployment": {
      "properties": {
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        },
        "workloadType": {
          "description": "Optional. Workload type of the deployment.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ]
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "createTime": {
          "description": "Output only. Create time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sqlServerWorkload": {
          "$ref": "SqlServerWorkload",
          "description": "MS SQL workload input."
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "description": "Output only. Current state of the deployment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "type": "string"
        },
        "terraformVariables": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object",
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }"
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "name": {
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "id": "Deployment"
    },
    "SapDiscoveryWorkloadProperties": {
      "type": "object",
      "description": "A set of properties describing an SAP workload.",
      "id": "SapDiscoveryWorkloadProperties",
      "properties": {
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array"
        },
        "softwareComponentVersions": {
          "type": "array",
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        }
      }
    },
    "Notice": {
      "type": "object",
      "id": "Notice",
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Optional. Filesystem mount point."
        },
        "diskNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the disk."
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "description": "Disk mount on the instance.",
      "type": "object"
    },
    "SqlserverValidationValidationDetail": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "description": "Optional. The Sqlserver system that the validation data is from."
        },
        "details": {
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values.",
          "type": "array"
        }
      },
      "description": "Message describing the Sqlserver validation metrics.",
      "type": "object",
      "id": "SqlserverValidationValidationDetail"
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "id": "WorkloadProfileHealth",
      "properties": {
        "componentsHealth": {
          "type": "array",
          "description": "The detailed condition reports of each component.",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "checkTime": {
          "description": "The time when the health check was performed.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The health state of the workload.",
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        }
      }
    },
    "BackupProperties": {
      "description": "Backup properties.",
      "type": "object",
      "properties": {
        "latestBackupTime": {
          "format": "google-datetime",
          "description": "The time when the latest backup was performed.",
          "type": "string"
        },
        "latestBackupStatus": {
          "description": "Output only. The state of the latest backup.",
          "type": "string",
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ]
        }
      },
      "id": "BackupProperties"
    },
    "ListDeploymentsResponse": {
      "type": "object",
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing deployments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        }
      }
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the resource."
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeploymentOutput"
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "type": "object",
      "id": "WriteInsightRequest",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "insight": {
          "$ref": "Insight",
          "description": "Required. The metrics data details."
        }
      }
    },
    "HealthCheck": {
      "type": "object",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "id": "HealthCheck",
      "properties": {
        "source": {
          "description": "Output only. The source of the health check.",
          "readOnly": true,
          "type": "string"
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "$ref": "CloudResource",
          "description": "Output only. The resource the check performs on.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message of the health check."
        }
      }
    },
    "Location": {
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource type."
        },
        "resource": {
          "type": "string",
          "description": "Resource name."
        }
      },
      "type": "object",
      "description": "A scanned resource."
    },
    "GceInstanceFilter": {
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array"
        }
      },
      "id": "GceInstanceFilter",
      "description": "A filter for matching Compute Engine instances."
    },
    "ListEvaluationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListEvaluationsResponse",
      "description": "Response message for the ListEvaluations RPC."
    },
    "Summary": {
      "description": "Execution summary.",
      "properties": {
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "newFixes": {
          "format": "int64",
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "type": "string",
          "readOnly": true
        },
        "failures": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of failures.",
          "readOnly": true
        }
      },
      "id": "Summary",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "type": "object",
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "type": "string",
          "description": "Optional. Destination dataset to save evaluation results."
        },
        "createNewResultsTable": {
          "type": "boolean",
          "description": "Optional. Determines if a new results table will be created when an Execution is created."
        }
      }
    },
    "CloudResource": {
      "id": "CloudResource",
      "description": "The resource on GCP",
      "properties": {
        "instanceProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "InstanceProperties"
        },
        "name": {
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. ",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "TorsoValidation": {
      "type": "object",
      "description": "The schema of torso workload validation data.",
      "id": "TorsoValidation",
      "properties": {
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload."
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from."
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "description": "A set of properties describing an SAP Database layer.",
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "properties": {
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "databaseType": {
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "landscapeId": {
          "type": "string",
          "description": "Optional. Landscape ID from the HANA nameserver."
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "properties": {
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. The component's major version."
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        }
      },
      "description": "A SAP software component name, version, and type.",
      "type": "object",
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
    },
    "ActuationOutput": {
      "description": "Message for output of actuation.",
      "id": "ActuationOutput",
      "properties": {
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        },
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ]
        },
        "ansibleFailedTask": {
          "description": "Output only. Failed task name returned from Ansible.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "ansibleError": {
          "type": "string",
          "description": "Output only. Error message returned from Ansible.",
          "readOnly": true
        },
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "properties": {
        "hostProject": {
          "type": "string",
          "description": "Required. Pantheon Project in which the resources reside."
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array"
        },
        "sid": {
          "type": "string",
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers."
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "topologyType": {
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component."
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        }
      },
      "description": "Message describing the system component.",
      "id": "SapDiscoveryComponent",
      "type": "object"
    },
    "TerraformVariable": {
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      },
      "id": "TerraformVariable",
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable.",
      "type": "object"
    },
    "SapSystemS4Config": {
      "type": "object",
      "id": "SapSystemS4Config",
      "description": "Message for SAP system workload.",
      "properties": {
        "environmentType": {
          "description": "Required. Deployment environment.",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "ansibleRunnerServiceAccount": {
          "type": "string",
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner."
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "Database details."
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Supports non-HA and HA models.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ]
        },
        "scalingMethod": {
          "description": "Required. Supports scale up and scale out.",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ],
          "type": "string"
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "sapBootDiskImage": {
          "type": "string",
          "description": "Optional. SAP boot disk image."
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "location": {
          "$ref": "LocationDetails",
          "description": "Database details."
        },
        "version": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "description": "Required. SAP HANA version.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "app": {
          "$ref": "AppDetails",
          "description": "Instance details."
        }
      }
    },
    "SapValidationValidationDetail": {
      "properties": {
        "sapValidationType": {
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The pairs of metrics data: field name & field value."
        },
        "isPresent": {
          "type": "boolean",
          "description": "Optional. Was there a SAP system detected for this validation type."
        }
      },
      "description": "Message describing the SAP validation metrics.",
      "id": "SapValidationValidationDetail",
      "type": "object"
    },
    "ResourceStatus": {
      "type": "object",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "type": "string"
        }
      },
      "id": "ResourceStatus"
    },
    "Database": {
      "id": "Database",
      "description": "Database details.",
      "type": "object",
      "properties": {
        "soleTenantNode": {
          "type": "string",
          "description": "Optional. The name of a primary sole-tenant node/node group."
        },
        "floatingIpAddress": {
          "type": "string",
          "description": "Optional. Only useful for Linux High Availability setup."
        },
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "secondarySoleTenantNode": {
          "type": "string",
          "description": "Optional. The name of a secondary-sole-tenant node/node group."
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "secondarySoleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        },
        "tenancyModel": {
          "type": "string",
          "description": "Required. SHARED or SOLE_TENANT.",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ]
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "soleTenantNodeType": {
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        }
      }
    },
    "ListActuationsResponse": {
      "properties": {
        "actuations": {
          "description": "The list of actuations.",
          "items": {
            "$ref": "Actuation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListActuationsResponse",
      "type": "object",
      "description": "The response object from `ListActuations`."
    },
    "ServiceStates": {
      "properties": {
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          }
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The overall state of the service."
        }
      },
      "id": "ServiceStates",
      "type": "object",
      "description": "The state of the service."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "properties": {
        "rawString": {
          "type": "string",
          "description": "Optional. Raw string of the kernel version."
        },
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        }
      },
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "SapInstanceProperties": {
      "description": "SAP instance properties.",
      "type": "object",
      "id": "SapInstanceProperties",
      "properties": {
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        },
        "numbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        }
      }
    },
    "AgentStatusIAMPermission": {
      "properties": {
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AgentStatusIAMPermission",
      "type": "object",
      "description": "The IAM permission status."
    },
    "ListDiscoveredProfilesResponse": {
      "description": "List discovered profile Response returns discovered profiles from agents",
      "type": "object",
      "id": "ListDiscoveredProfilesResponse",
      "properties": {
        "workloadProfiles": {
          "items": {
            "$ref": "WorkloadProfile"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of workload profiles"
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ViolationDetails": {
      "properties": {
        "observed": {
          "description": "Details of the violation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "ruleOutput": {
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation.",
          "type": "array"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        }
      },
      "type": "object",
      "id": "ViolationDetails",
      "description": "The violation in an evaluation result."
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "properties": {
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        },
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A replication site used in Disaster Recovery (DR) configurations."
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "description": "A product name and version.",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "executions": {
          "description": "The list of Execution.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for the ListExecutions RPC.",
      "type": "object",
      "id": "ListExecutionsResponse"
    },
    "IAMPermission": {
      "properties": {
        "granted": {
          "type": "boolean",
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the permission."
        }
      },
      "description": "The IAM permission status.",
      "id": "IAMPermission",
      "type": "object"
    },
    "SapDiscoveryMetadata": {
      "properties": {
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SapDiscoveryMetadata",
      "description": "Message describing SAP discovery system metadata"
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "id": "Rule",
      "properties": {
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "ruleType": {
          "description": "The type of the rule.",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The message template for rule."
        },
        "tags": {
          "description": "List of user-defined tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secondaryCategory": {
          "type": "string",
          "description": "The secondary category."
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The version of the rule.",
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The document url for the rule."
        }
      },
      "type": "object"
    },
    "SqlserverValidationDetails": {
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Message containing collected data names and values.",
      "id": "SqlserverValidationDetails"
    },
    "DatabaseDetails": {
      "description": "Message for SAP instance details.",
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "type": "string",
          "description": "Database service account. Let customers bring their own SA for the database."
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. Instance ID."
        }
      }
    },
    "ListScannedResourcesResponse": {
      "properties": {
        "scannedResources": {
          "type": "array",
          "description": "All scanned resources in response.",
          "items": {
            "$ref": "ScannedResource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListScannedResources RPC.",
      "id": "ListScannedResourcesResponse"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "ExecutionResult": {
      "description": "The result of an execution.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "type": {
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "description": "Execution result type of the scanned resource.",
          "type": "string"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        }
      },
      "id": "ExecutionResult",
      "type": "object"
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload.",
      "type": "object",
      "properties": {
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
        },
        "internetAccess": {
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "description": "Required. Internet Access.",
          "type": "string"
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        }
      },
      "id": "SqlLocationDetails"
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "properties": {
        "component": {
          "type": "string",
          "description": "The component of a workload."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the component."
        },
        "componentHealthType": {
          "description": "Output only. The type of the component health.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "type": "string"
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "componentHealthChecks": {
          "type": "array",
          "items": {
            "$ref": "HealthCheck"
          },
          "description": "The detailed health checks of the component."
        }
      },
      "description": "HealthCondition contains the detailed health check of each component.",
      "type": "object"
    },
    "WriteInsightResponse": {
      "properties": {},
      "description": "The response for write insights request.",
      "type": "object",
      "id": "WriteInsightResponse"
    },
    "Command": {
      "type": "object",
      "properties": {
        "agentCommand": {
          "$ref": "AgentCommand",
          "description": "AgentCommand specifies a one-time executable program for the agent to run."
        },
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        }
      },
      "id": "Command",
      "description": "Command specifies the type of command to execute."
    },
    "ListExecutionResultsResponse": {
      "id": "ListExecutionResultsResponse",
      "type": "object",
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "executionResults": {
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "WorkloadProfile": {
      "properties": {
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "type": "string",
          "description": "Required. The type of the workload"
        },
        "refreshedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. time when the workload data was refreshed"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. such as name, description, version. More example can be found in deployment"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        }
      },
      "type": "object",
      "description": "Workload resource.",
      "id": "WorkloadProfile"
    },
    "SapDiscovery": {
      "type": "object",
      "description": "The schema of SAP system discovery data.",
      "properties": {
        "useDrReconciliation": {
          "type": "boolean",
          "description": "Optional. Whether to use DR reconciliation or not."
        },
        "workloadProperties": {
          "$ref": "SapDiscoveryWorkloadProperties",
          "description": "Optional. The properties of the workload."
        },
        "systemId": {
          "readOnly": true,
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "type": "string"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "projectNumber": {
          "type": "string",
          "description": "Optional. The GCP project number that this SapSystem belongs to."
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "updateTime": {
          "description": "Required. Unix timestamp this system has been updated last.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SapDiscovery"
    },
    "SapDiscoveryResource": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        },
        "resourceKind": {
          "type": "string",
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "relatedResources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "SapDiscoveryResource",
      "description": "Message describing a resource."
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object",
      "description": "Fields to describe an SAP application server instance."
    },
    "SapDiscoveryComponentApplicationProperties": {
      "type": "object",
      "description": "A set of properties describing an SAP Application layer.",
      "id": "SapDiscoveryComponentApplicationProperties",
      "properties": {
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        },
        "applicationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "description": "Required. Type of the application. Netweaver, etc."
        },
        "ascsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized ASCS host of the application."
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        }
      }
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936)."
        },
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "AgentStatusReference": {
      "description": "The reference to public documentation.",
      "type": "object",
      "id": "AgentStatusReference",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the reference.",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL of the reference.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "type": "object",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data."
        }
      }
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "id": "SapDiscoveryResourceInstanceProperties",
      "properties": {
        "appInstances": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array",
          "description": "Optional. App server instances on the host"
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "instanceNumber": {
          "format": "int64",
          "description": "Optional. The VM's instance number.",
          "type": "string",
          "deprecated": true
        },
        "instanceRole": {
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "type": "string",
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ]
        },
        "virtualHostname": {
          "type": "string",
          "description": "Optional. A virtual hostname of the instance if it has one."
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "diskMounts": {
          "type": "array",
          "description": "Optional. Disk mounts on the instance.",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          }
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "AppDetails": {
      "type": "object",
      "description": "Message for SAP instance details.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "ersInstanceId": {
          "type": "string",
[...]
