{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Allows administrators to create managed developer environments in the cloud. ",
  "servicePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1beta/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "workstations.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "workstations.projects.locations.operations.get",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "workstations.projects.locations.operations.delete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "path": "v1beta/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "workstations.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "workstationClusters": {
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "setIamPolicy": {
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Policy"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "delete": {
                      "description": "Deletes the specified workstation configuration.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "Required. Name of the workstation configuration to delete.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If set, the request is rejected if the latest version of the workstation configuration on the server does not have this ETag."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                        },
                        "force": {
                          "description": "Optional. If set, any workstations in the workstation configuration are also deleted. Otherwise, the request works only if the workstation configuration has no workstations.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "listUsable": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "description": "Required. Parent resource name."
                        },
                        "pageToken": {
                          "description": "Optional. next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of items to return.",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns all workstation configurations in the specified cluster on which the caller has the \"workstations.workstation.create\" permission.",
                      "path": "v1beta/{+parent}/workstationConfigs:listUsable",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "description": "Required. Parent resource name."
                        },
                        "pageToken": {
                          "description": "Optional. next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter the WorkstationConfigs to be listed. Possible filters are described in https://google.aip.dev/160.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all workstation configurations in the specified cluster."
                    },
                    "testIamPermissions": {
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:testIamPermissions"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "Required. Name of the requested resource."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "description": "Returns the requested workstation configuration.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "description": "Creates a new workstation configuration.",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "workstationConfigId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. ID to use for the workstation configuration."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "request": {
                        "$ref": "WorkstationConfig"
                      }
                    },
                    "patch": {
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set and the workstation configuration is not found, a new workstation configuration will be created. In this situation, update_mask is ignored."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "Identifier. Full name of this workstation configuration.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Mask specifying which fields in the workstation configuration should be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "description": "Updates an existing workstation configuration."
                    },
                    "getIamPolicy": {
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Policy"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy"
                    }
                  },
                  "resources": {
                    "workstations": {
                      "methods": {
                        "setIamPolicy": {
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Policy"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+resource}:setIamPolicy"
                        },
                        "stop": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to stop."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Stops running a workstation, reducing costs.",
                          "path": "v1beta/{+name}:stop",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "testIamPermissions": {
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "path": "v1beta/{+resource}:testIamPermissions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "parameters": {
                            "resource": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                            }
                          },
                          "parameterOrder": [
                            "resource"
                          ]
                        },
                        "suspend": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.suspend",
                          "request": {
                            "$ref": "SuspendWorkstationRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:suspend",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to suspend.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Suspends a workstation to reduce costs.",
                          "path": "v1beta/{+name}:suspend",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "create": {
                          "description": "Creates a new workstation.",
                          "path": "v1beta/{+parent}/workstations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "description": "Required. Parent resource name."
                            },
                            "workstationId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. ID to use for the workstation."
                            },
                            "validateOnly": {
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "generateAccessToken": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+workstation}:generateAccessToken",
                          "description": "Returns a short-lived credential that can be used to send authenticated and authorized traffic to a workstation. Once generated this token cannot be revoked and is good for the lifetime of the token.",
                          "parameters": {
                            "workstation": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation for which the access token should be generated."
                            }
                          },
                          "parameterOrder": [
                            "workstation"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:generateAccessToken",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GenerateAccessTokenResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.generateAccessToken",
                          "request": {
                            "$ref": "GenerateAccessTokenRequest"
                          }
                        },
                        "pushCredentials": {
                          "description": "Pushes credentials to a running workstation on behalf of a user. Once complete, supported credential types (application_default_credentials) are made available to processes running in the user container.",
                          "path": "v1beta/{+workstation}:pushCredentials",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.pushCredentials",
                          "request": {
                            "$ref": "PushCredentialsRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:pushCredentials",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "workstation": {
                              "description": "Required. Name of the workstation for which the credentials should be pushed.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "workstation"
                          ]
                        },
                        "delete": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "validateOnly": {
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "etag": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag."
                            },
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to delete."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes the specified workstation."
                        },
                        "start": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start",
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to start."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Starts running a workstation so that users can connect to it.",
                          "path": "v1beta/{+name}:start",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "listUsable": {
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. Maximum number of items to return.",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. next_page_token value returned from a previous List request, if any."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "description": "Returns all workstations using the specified workstation configuration on which the caller has the \"workstations.workstations.use\" permission.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/workstations:listUsable"
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "description": "Required. Parent resource name.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. next_page_token value returned from a previous List request, if any."
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filter the Workstations to be listed. Possible filters are described in https://google.aip.dev/160."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Maximum number of items to return."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          },
                          "description": "Returns all Workstations using the specified workstation configuration.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/workstations"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "description": "Returns the requested workstation.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the requested resource."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Workstation"
                          }
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "description": "Updates an existing workstation.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Identifier. Full name of this workstation.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. Mask specifying which fields in the workstation should be updated.",
                              "format": "google-fieldmask"
                            },
                            "validateOnly": {
                              "location": "query",
                              "type": "boolean",
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                            },
                            "allowMissing": {
                              "description": "Optional. If set and the workstation is not found, a new workstation is created. In this situation, update_mask is ignored.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "getIamPolicy": {
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "options.requestedPolicyVersion": {
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:getIamPolicy",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Policy"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.getIamPolicy",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+resource}:getIamPolicy",
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. next_page_token value returned from a previous List request, if any."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter the WorkstationClusters to be listed. Possible filters are described in https://google.aip.dev/160."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return.",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "description": "Returns all workstation clusters in the specified location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/workstationClusters"
                },
                "get": {
                  "description": "Returns the requested workstation cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the requested resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "id": "workstations.projects.locations.workstationClusters.get"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/workstationClusters",
                  "description": "Creates a new workstation cluster.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                    },
                    "workstationClusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID to use for the workstation cluster."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.create",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If set, and the workstation cluster is not found, a new workstation cluster will be created. In this situation, update_mask is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                    },
                    "name": {
                      "description": "Identifier. Full name of this workstation cluster.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Mask that specifies which fields in the workstation cluster should be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Updates an existing workstation cluster."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Deletes the specified workstation cluster.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "description": "Required. Name of the workstation cluster to delete."
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. If set, the request will be rejected if the latest version of the workstation cluster on the server does not have this ETag."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the result, but do not apply it."
                    },
                    "force": {
                      "description": "Optional. If set, any workstation configurations and workstations in the workstation cluster are also deleted. Otherwise, the request only works if the workstation cluster has no configurations or workstations.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20260923",
  "id": "workstations:v1beta",
  "schemas": {
    "PushCredentialsRequest": {
      "id": "PushCredentialsRequest",
      "type": "object",
      "description": "Request message for PushCredentials.",
      "properties": {
        "applicationDefaultCredentials": {
          "description": "Optional. Credentials used by Cloud Client Libraries, Google API Client Libraries, and other tooling within the user container. For more information, see https://cloud.google.com/docs/authentication/application-default-credentials",
          "$ref": "OAuthToken"
        }
      }
    },
    "PortRange": {
      "description": "A PortRange defines a range of ports. Both first and last are inclusive. To specify a single port, both first and last should be the same.",
      "properties": {
        "last": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Ending port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535."
        },
        "first": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Starting port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535."
        }
      },
      "id": "PortRange",
      "type": "object"
    },
    "SuspendWorkstationRequest": {
      "description": "Request message for SuspendWorkstation.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
        },
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        }
      },
      "id": "SuspendWorkstationRequest",
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "type": "object",
      "description": "ReservationAffinity is the configuration of the desired reservation from which instances can consume resources.",
      "properties": {
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "consumeReservationType": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "type": "string",
          "description": "Optional. Corresponds to the type of reservation consumption.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "values": {
          "type": "array",
          "description": "Optional. Corresponds to the label values of reservation resources. Valid values are either the name of a reservation in the same project or \"projects/{project}/reservations/{reservation}\" to target a shared reservation in the same zone but in a different project.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "GceConfidentialInstanceConfig": {
      "description": "A set of Compute Engine Confidential VM instance options.",
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Whether the instance has confidential compute enabled."
        }
      },
      "id": "GceConfidentialInstanceConfig",
      "type": "object"
    },
    "PersistentDirectory": {
      "id": "PersistentDirectory",
      "type": "object",
      "description": "A directory to persist across workstation sessions. Updates to this field will not update existing workstations and will only take effect on new workstations.",
      "properties": {
        "mountPath": {
          "description": "Optional. Location of this directory in the running workstation.",
          "type": "string"
        },
        "gcePd": {
          "$ref": "GceRegionalPersistentDisk",
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk."
        },
        "gceHd": {
          "description": "A PersistentDirectory backed by a Compute Engine hyperdisk high availability disk.",
          "$ref": "GceHyperdiskBalancedHighAvailability"
        }
      }
    },
    "ListWorkstationsResponse": {
      "id": "ListWorkstationsResponse",
      "type": "object",
      "description": "Response message for ListWorkstations.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations.",
          "type": "array"
        },
        "unreachable": {
          "description": "Optional. Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUsableWorkstationConfigsResponse": {
      "id": "ListUsableWorkstationConfigsResponse",
      "type": "object",
      "description": "Response message for ListUsableWorkstationConfigs.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        },
        "workstationConfigs": {
          "description": "The requested configs.",
          "type": "array",
          "items": {
            "$ref": "WorkstationConfig"
          }
        }
      }
    },
    "GceInstanceHost": {
      "description": "The Compute Engine instance host.",
      "properties": {
        "zone": {
          "description": "Optional. Output only. The zone of the Compute Engine instance.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Output only. The name of the Compute Engine instance.",
          "readOnly": true
        },
        "id": {
          "description": "Optional. Output only. The ID of the Compute Engine instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GceInstanceHost",
      "type": "object"
    },
    "Workstation": {
      "description": "A single instance of a developer workstation with its own persistent storage.",
      "properties": {
        "startTime": {
          "description": "Output only. Time when this workstation was most recently successfully started, regardless of the workstation's initial state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Time when this workstation was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "description": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format `{port}-{host}`.",
          "readOnly": true,
          "type": "string"
        },
        "env": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Environment variables passed to the workstation container's entrypoint."
        },
        "boostConfigs": {
          "items": {
            "$ref": "WorkstationBoostConfig"
          },
          "type": "array",
          "description": "Output only. List of available boost configuration IDs that this workstation can be boosted up to.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time when this workstation was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "kmsKey": {
          "description": "Output only. The name of the Google Cloud KMS encryption key used to encrypt this workstation. The KMS key can only be configured in the WorkstationConfig. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "The workstation is not yet ready to accept requests from users but will be soon.",
            "The workstation is ready to accept requests from users.",
            "The workstation is being stopped.",
            "The workstation is stopped and will not be able to receive requests until it is started.",
            "The workstation is being suspended.",
            "The workstation is suspended."
          ],
          "description": "Output only. Current state of the workstation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_STARTING",
            "STATE_RUNNING",
            "STATE_STOPPING",
            "STATE_STOPPED",
            "STATE_SUSPENDING",
            "STATE_SUSPENDED"
          ]
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Client-specified annotations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceWorkstation": {
          "type": "string",
          "description": "Optional. The source workstation from which this workstation's persistent directories were cloned on creation."
        },
        "conditions": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Output only. Status conditions describing the workstation's current state.",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "runtimeHost": {
          "description": "Optional. Output only. Runtime host for the workstation when in STATE_RUNNING.",
          "readOnly": true,
          "$ref": "RuntimeHost"
        },
        "persistentDirectories": {
          "items": {
            "$ref": "WorkstationPersistentDirectory"
          },
          "description": "Optional. Directories to persist across workstation sessions.",
          "type": "array"
        },
        "degraded": {
          "description": "Output only. Whether this workstation is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the workstation.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time when this workstation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation and that are also propagated to the underlying Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Full name of this workstation.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "Workstation",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListUsableWorkstationsResponse": {
      "description": "Response message for ListUsableWorkstations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations.",
          "type": "array"
        }
      },
      "id": "ListUsableWorkstationsResponse",
      "type": "object"
    },
    "WorkstationPersistentDirectory": {
      "id": "WorkstationPersistentDirectory",
      "type": "object",
      "description": "A directory to persist across workstation sessions. Updates to this field will only take effect on this workstation after it is restarted.",
      "properties": {
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Size of the persistent directory in GB. If specified in an update request, this is the desired size of the directory."
        },
        "mountPath": {
          "description": "Optional. The mount path of the persistent directory.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Metadata for long-running operations.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. Time that the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time that the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "BoostConfig": {
      "id": "BoostConfig",
      "type": "object",
      "description": "A boost configuration is a set of resources that a workstation can use to increase its performance. If you specify a boost configuration, upon startup, workstation users can choose to use a VM provisioned under the boost config by passing the boost config ID in the start request. If the workstation user does not provide a boost config ID in the start request, the system will choose a VM from the pool provisioned under the default config.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID to be used for the boost configuration."
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Optional. Whether to enable nested virtualization on boosted Cloud Workstations VMs running using this boost configuration. Defaults to false. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on boost configurations that specify a machine_type in the N1 or N2 machine series."
        },
        "reservationAffinity": {
          "description": "Optional. [ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) specifies a reservation that can be consumed to create boost VM instances. If SPECIFIC_RESERVATION is specified, Cloud Workstations will only create VMs in the zone where the reservation is located. This would affect availability since the service will no longer be resilient to zonal outages. If ANY_RESERVATION is specified, creating reservations in both zones that the config creates VMs in will ensure higher availability. **Important Considerations for Reservation Affinity:** * This feature is intended for advanced users and requires familiarity with Google Compute Engine reservations. * Using reservations incurs charges, regardless of utilization. * The resources in the pool will consume the specified reservation. Take this into account when setting the pool size.",
          "$ref": "ReservationAffinity"
        },
        "poolSize": {
          "type": "integer",
          "description": "Optional. The number of boost VMs that the system should keep idle so that workstations can be boosted quickly. Defaults to `0`.",
          "format": "int32"
        },
        "accelerators": {
          "items": {
            "$ref": "Accelerator"
          },
          "description": "Optional. A list of the type and count of accelerator cards attached to the boost instance. Defaults to `none`.",
          "type": "array"
        },
        "machineType": {
          "description": "Optional. The type of machine that boosted VM instances will use—for example, `e2-standard-4`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types). Defaults to `e2-standard-4`.",
          "type": "string"
        },
        "bootDiskSizeGb": {
          "type": "integer",
          "description": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB.",
          "format": "int32"
        }
      }
    },
    "ListWorkstationConfigsResponse": {
      "id": "ListWorkstationConfigsResponse",
      "type": "object",
      "description": "Response message for ListWorkstationConfigs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        },
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "description": "The requested configs.",
          "type": "array"
        }
      }
    },
    "RuntimeHost": {
      "description": "Runtime host for the workstation.",
      "properties": {
        "gceInstanceHost": {
          "$ref": "GceInstanceHost",
          "description": "Specifies a Compute Engine instance as the host."
        }
      },
      "id": "RuntimeHost",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GenerateAccessTokenResponse": {
      "description": "Response message for GenerateAccessToken.",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "Time at which the generated token will expire.",
          "type": "string"
        },
        "accessToken": {
          "type": "string",
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname—for example, `Authorization: Bearer `."
        }
      },
      "id": "GenerateAccessTokenResponse",
      "type": "object"
    },
    "EphemeralDirectory": {
      "id": "EphemeralDirectory",
      "type": "object",
      "description": "An ephemeral directory which won't persist across workstation sessions. It is freshly created on every workstation start operation.",
      "properties": {
        "gcePd": {
          "$ref": "GcePersistentDisk",
          "description": "An EphemeralDirectory backed by a Compute Engine persistent disk."
        },
        "mountPath": {
          "description": "Required. Location of this directory in the running workstation.",
          "type": "string"
        }
      }
    },
    "Container": {
      "description": "A Docker container.",
      "properties": {
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If set, overrides the default ENTRYPOINT specified by the image."
        },
        "env": {
          "type": "object",
          "description": "Optional. Environment variables passed to the container's entrypoint.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runAsUser": {
          "type": "integer",
          "description": "Optional. If set, overrides the USER specified in the image with the given uid.",
          "format": "int32"
        },
        "image": {
          "type": "string",
          "description": "Optional. A Docker container image that defines a custom environment. Cloud Workstations provides a number of [preconfigured images](https://cloud.google.com/workstations/docs/preconfigured-base-images), but you can create your own [custom container images](https://cloud.google.com/workstations/docs/custom-container-images). If using a private image, the `host.gceInstance.serviceAccount` field must be specified in the workstation configuration. If using a custom container image, the service account must have [Artifact Registry Reader](https://cloud.google.com/artifact-registry/docs/access-control#roles) permission to pull the specified image. Otherwise, the image must be publicly accessible."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Arguments passed to the entrypoint.",
          "type": "array"
        },
        "workingDir": {
          "description": "Optional. If set, overrides the default DIR specified by the image.",
          "type": "string"
        }
      },
      "id": "Container",
      "type": "object"
    },
    "DomainConfig": {
      "id": "DomainConfig",
      "type": "object",
      "description": "Configuration options for a custom domain.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Immutable. Domain used by Workstations for HTTP ingress."
        }
      }
    },
    "Accelerator": {
      "description": "An accelerator card attached to the instance.",
      "properties": {
        "type": {
          "description": "Optional. Type of accelerator resource to attach to the instance, for example, `\"nvidia-tesla-p100\"`.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "description": "Optional. Number of accelerator cards exposed to the instance.",
          "format": "int32"
        }
      },
      "id": "Accelerator",
      "type": "object"
    },
    "WorkstationConfig": {
      "id": "WorkstationConfig",
      "type": "object",
      "description": "A workstation configuration resource in the Cloud Workstations API. Workstation configurations act as templates for workstations. The workstation configuration defines details such as the workstation virtual machine (VM) instance type, persistent storage, container image defining environment, which IDE or Code Editor to use, and more. Administrators and platform teams can also use [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/overview) rules to grant access to teams or to individual developers.",
      "properties": {
        "encryptionKey": {
          "$ref": "CustomerEncryptionKey",
[...]
