{
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "workloadmanager:v1",
  "discoveryVersion": "v1",
  "title": "Workload Manager API",
  "batchPath": "batch",
  "schemas": {
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "properties": {
        "diskNames": {
          "type": "array",
          "description": "Optional. Names of the disks providing this mount point.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "mountPoint": {
          "type": "string",
          "description": "Optional. Filesystem mount point."
        }
      },
      "description": "Disk mount on the instance.",
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "properties": {
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "type": "array"
        },
        "sid": {
          "type": "string",
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers."
        },
        "haHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "topologyType": {
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "type": "string",
          "description": "Optional. The detected topology of the component."
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SapDiscoveryComponent",
      "description": "Message describing the system component."
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "type": "object",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. The message of the health check.",
          "readOnly": true
        },
        "metric": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The health check source metric name."
        },
        "source": {
          "readOnly": true,
          "description": "Output only. The source of the health check.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "type": "string",
          "description": "Output only. The state of the health check.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        },
        "resource": {
          "readOnly": true,
          "$ref": "CloudResource",
          "description": "Output only. The resource the check performs on."
        }
      }
    },
    "AppDetails": {
      "type": "object",
      "properties": {
        "ascsImage": {
          "type": "string",
          "description": "Required. Image for the ASCS server."
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "format": "int32",
          "type": "integer"
        },
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account. Let customers bring their own service account for ASCS."
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "appVmNames": {
          "type": "array",
          "description": "Optional. Customized VM names.",
          "items": {
            "type": "string"
          }
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "sharedStorage": {
          "type": "string",
          "description": "Optional. Storage location."
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ASCS machine type."
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "ascsVm": {
          "type": "string",
          "description": "Optional. ASCS VM name."
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        }
      },
      "id": "AppDetails",
      "description": "Message for SAP instance details."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "RunEvaluationRequest": {
      "properties": {
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the RunEvaluation RPC.",
      "id": "RunEvaluationRequest",
      "type": "object"
    },
    "ListActuationsResponse": {
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "actuations": {
          "description": "The list of actuations.",
          "items": {
            "$ref": "Actuation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "ServiceStates": {
      "properties": {
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "items": {
            "$ref": "IAMPermission"
          },
          "type": "array",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The overall state of the service.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ServiceStates",
      "description": "The state of the service.",
      "type": "object"
    },
    "Deployment": {
      "properties": {
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "terraformVariables": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "type": "object"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "description": "Output only. Current state of the deployment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        },
        "workloadType": {
          "type": "string",
          "description": "Optional. Workload type of the deployment.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ]
        },
        "sqlServerWorkload": {
          "$ref": "SqlServerWorkload",
          "description": "MS SQL workload input."
        },
        "name": {
          "type": "string",
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time stamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "type": "object",
      "id": "Deployment"
    },
    "SqlServerWorkload": {
      "type": "object",
      "properties": {
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. Deployment environment.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ]
        },
        "sqlServerEdition": {
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ],
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "type": "string",
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux."
        },
        "mediaBucket": {
          "type": "string",
          "description": "Required. Name of the media storing SQL server installation files."
        },
        "operatingSystemType": {
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "type": "string",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "description": "Required. The type of the operating system the SQL server is going to run on top of."
        },
        "sqlServerVersion": {
          "description": "Optional. 2017, 2019, or 2022.",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ],
          "type": "string"
        },
        "fciType": {
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ]
        },
        "database": {
          "description": "Required. Database details.",
          "$ref": "Database"
        },
        "computeEngineServiceAccount": {
          "type": "string",
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine."
        },
        "location": {
          "description": "Required. Location details.",
          "$ref": "SqlLocationDetails"
        },
        "deploymentModel": {
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ]
        },
        "vmPrefix": {
          "description": "Required. Should be unique in the project.",
          "type": "string"
        },
        "activeDirectory": {
          "$ref": "ActiveDirectory",
          "description": "Required. Active Directory details."
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "osImage": {
          "type": "string",
          "description": "Required. The image of the operating system."
        },
        "osImageType": {
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ],
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "type": "string"
        },
        "haType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ],
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode."
        },
        "isSqlPayg": {
          "type": "boolean",
          "description": "Required. SQL licensing type."
        }
      },
      "description": "Message for MS SQL workload.",
      "id": "SqlServerWorkload"
    },
    "AgentStatusReference": {
      "properties": {
        "name": {
          "description": "Output only. The name of the reference.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL of the reference.",
          "type": "string"
        }
      },
      "id": "AgentStatusReference",
      "type": "object",
      "description": "The reference to public documentation."
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "id": "UpcomingMaintenanceEvent",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Start time"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. End time"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        }
      }
    },
    "WorkloadProfile": {
      "properties": {
        "workloadType": {
          "description": "Required. The type of the workload",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "type": "string"
        },
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        },
        "labels": {
          "type": "object",
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Workload resource.",
      "id": "WorkloadProfile"
    },
    "DatabaseDetails": {
      "type": "object",
      "properties": {
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. Instance ID."
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "primaryDbVm": {
          "type": "string",
          "description": "Optional. Primary DB VM name."
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        }
      },
      "id": "DatabaseDetails",
      "description": "Message for SAP instance details."
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource in execution result.",
      "properties": {
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "properties": {
        "minor": {
          "format": "int32",
          "description": "Optional. The minor version number.",
          "type": "integer"
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "type": "integer",
          "format": "int32"
        },
        "major": {
          "format": "int32",
          "description": "Optional. The major version number.",
          "type": "integer"
        },
        "remainder": {
          "type": "string",
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
        },
        "build": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The build version number."
        }
      },
      "description": "Version is reported as Major.Minor.Build.Patch."
    },
    "ExecutionResult": {
      "properties": {
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        },
        "type": {
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "type": "string",
          "description": "Execution result type of the scanned resource."
        },
        "documentationUrl": {
          "type": "string",
          "description": "The URL for the documentation of the rule."
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "violationDetails": {
          "$ref": "ViolationDetails",
          "description": "The details of violation in an evaluation result."
        }
      },
      "description": "The result of an execution.",
      "type": "object",
      "id": "ExecutionResult"
    },
    "AgentStatusConfigValue": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the configuration value.",
          "readOnly": true
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        },
        "value": {
          "description": "Output only. The value of the configuration value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentStatusConfigValue",
      "description": "The configuration value."
    },
    "SapValidation": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        },
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        }
      },
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "id": "SapValidation"
    },
    "Execution": {
      "type": "object",
      "id": "Execution",
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "engine": {
          "description": "Optional. Engine.",
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true
        },
        "runType": {
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "state": {
          "type": "string",
          "description": "Output only. [Output only] State.",
          "readOnly": true,
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "notices": {
          "items": {
            "$ref": "Notice"
          },
          "readOnly": true,
          "description": "Output only. Additional information generated by the execution.",
          "type": "array"
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "evaluationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Evaluation ID."
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "inventoryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true
        }
      }
    },
    "ListDiscoveredProfilesResponse": {
      "type": "object",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "id": "ListDiscoveredProfilesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true
        },
        "workloadProfiles": {
          "type": "array",
          "description": "Output only. The list of workload profiles",
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          }
        }
      }
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "description": "HealthCondition contains the detailed health check of each component.",
      "type": "object",
      "properties": {
        "componentHealthType": {
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "description": "Output only. The type of the component health.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The health state of the component.",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "items": {
            "$ref": "ComponentHealth"
          },
          "type": "array"
        },
        "component": {
          "type": "string",
          "description": "The component of a workload."
        },
        "componentHealthChecks": {
          "items": {
            "$ref": "HealthCheck"
          },
          "description": "The detailed health checks of the component.",
          "type": "array"
        }
      }
    },
    "Insight": {
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "properties": {
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "sqlserverValidation": {
          "$ref": "SqlserverValidation",
          "description": "The insights data for the sqlserver workload validation."
        },
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. The instance id where the insight is generated from"
        },
        "sapValidation": {
          "$ref": "SapValidation",
          "description": "The insights data for the SAP workload validation."
        }
      },
      "id": "Insight"
    },
    "SapSystemS4Config": {
      "properties": {
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "environmentType": {
          "description": "Required. Deployment environment.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "scalingMethod": {
          "type": "string",
          "description": "Required. Supports scale up and scale out.",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ],
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ]
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "Database details."
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Required. SAP HANA version."
        },
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        },
        "deploymentModel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "description": "Required. Supports non-HA and HA models."
        },
        "ansibleRunnerServiceAccount": {
          "type": "string",
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner."
        },
        "sapBootDiskImage": {
          "type": "string",
          "description": "Optional. SAP boot disk image."
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SapSystemS4Config",
      "description": "Message for SAP system workload."
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing deployments.",
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "checkTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the health check was performed."
        },
        "state": {
          "description": "Output only. The health state of the workload.",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        }
      },
      "type": "object",
      "id": "WorkloadProfileHealth"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "TerraformVariable": {
      "type": "object",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      },
      "id": "TerraformVariable",
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable."
    },
    "InstanceProperties": {
      "properties": {
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "roles": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          },
          "type": "array",
          "description": "Optional. Instance roles."
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        }
      },
      "type": "object",
      "id": "InstanceProperties",
      "description": "Instance Properties."
    },
    "SapDiscovery": {
      "description": "The schema of SAP system discovery data.",
      "type": "object",
      "properties": {
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "systemId": {
          "readOnly": true,
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "type": "string"
        },
        "applicationLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. An SAP system may run without an application layer."
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "projectNumber": {
          "type": "string",
          "description": "Optional. The GCP project number that this SapSystem belongs to."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp this system has been updated last."
        }
      },
      "id": "SapDiscovery"
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "properties": {
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. Subnetwork name."
        },
        "internetAccess": {
          "description": "Required. Internet Access.",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "type": "string"
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        }
      },
      "description": "Location and networking details for configuring SQL server workload.",
      "type": "object"
    },
    "Notice": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Additional information generated by an execution.",
      "id": "Notice"
    },
    "ShellCommand": {
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "id": "ShellCommand",
      "type": "object",
      "properties": {
        "timeoutSeconds": {
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "type": "integer",
          "format": "int32"
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        }
      }
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "description": "Message containing collected data names and values.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "type": "object",
      "id": "SapComponent",
      "properties": {
        "sid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. sid is the sap component identificator"
        },
        "topologyType": {
          "type": "string",
          "description": "The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "resources": {
          "items": {
            "$ref": "CloudResource"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. resources in the component"
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "databaseProperties": {
          "$ref": "DatabaseProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        }
      }
    },
    "WriteInsightRequest": {
      "id": "WriteInsightRequest",
      "type": "object",
      "properties": {
        "insight": {
          "$ref": "Insight",
          "description": "Required. The metrics data details."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      },
      "description": "Request for sending the data insights."
    },
    "SqlserverValidation": {
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
        }
      },
      "id": "SqlserverValidation",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "type": "object"
    },
    "DeploymentOutput": {
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      },
      "id": "DeploymentOutput",
      "type": "object",
      "description": "Message for output of deployment resource."
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "SapDiscoveryResourceInstanceProperties": {
      "id": "SapDiscoveryResourceInstanceProperties",
      "properties": {
        "appInstances": {
          "description": "Optional. App server instances on the host",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array"
        },
        "instanceRole": {
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once."
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "diskMounts": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance.",
          "type": "array"
        },
        "osKernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Optional. The kernel version of the instance."
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "instanceNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64",
          "description": "Optional. The VM's instance number."
        },
        "clusterInstances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of instance URIs that are part of a cluster with this one."
        }
      },
      "description": "A set of properties only present for an instance type resource",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Instance name of the SAP application instance."
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Fields to describe an SAP application server instance.",
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance"
    },
    "AgentCommand": {
      "id": "AgentCommand",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "properties": {
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "type": "boolean",
          "deprecated": true
        },
        "ascsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized ASCS host of the application."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "applicationType": {
          "type": "string",
          "description": "Required. Type of the application. Netweaver, etc.",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A set of properties describing an SAP Application layer.",
      "id": "SapDiscoveryComponentApplicationProperties"
    },
    "SapDiscoveryComponentReplicationSite": {
      "properties": {
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        },
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        }
      },
      "type": "object",
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations."
    },
    "AgentStatusServiceStatus": {
      "type": "object",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "unspecifiedStateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message to display when the service state is unspecified."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the service."
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "fullyFunctional": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed)."
        },
        "state": {
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        }
      },
      "id": "AgentStatusServiceStatus"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "properties": {
        "sharedNfsUri": {
          "type": "string",
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node."
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "databaseType": {
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc."
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The version of the database software running in the system."
        },
        "databaseSid": {
          "type": "string",
          "description": "Optional. SID of the system database."
        }
      },
      "description": "A set of properties describing an SAP Database layer.",
      "type": "object",
      "id": "SapDiscoveryComponentDatabaseProperties"
    },
    "Command": {
      "properties": {
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        },
        "agentCommand": {
          "$ref": "AgentCommand",
          "description": "AgentCommand specifies a one-time executable program for the agent to run."
        }
      },
      "id": "Command",
      "description": "Command specifies the type of command to execute.",
      "type": "object"
    },
    "BackupProperties": {
      "type": "object",
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the latest backup was performed."
        },
        "latestBackupStatus": {
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "description": "Output only. The state of the latest backup.",
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "readOnly": true
        }
      },
      "id": "BackupProperties"
    },
    "Pacemaker": {
      "description": "Pacemaker configuration.",
      "properties": {
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. SQL Pacemaker username."
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "pacemakerCluster": {
          "type": "string",
          "description": "Required. Pacemaker cluster name."
        },
        "sqlPacemakerSecret": {
          "type": "string",
          "description": "Required. SQL Pacemaker secret name."
        }
      },
      "id": "Pacemaker",
      "type": "object"
    },
    "Actuation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}."
        },
        "deploymentOutput": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Deployment output.",
          "items": {
            "$ref": "DeploymentOutput"
          }
        },
        "startTime": {
          "description": "Output only. Start time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. End time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "actuationOutput": {
          "description": "Output only. Actuation output.",
          "readOnly": true,
          "$ref": "ActuationOutput"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Actuation state.",
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ]
        }
      },
      "id": "Actuation",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "type": "object"
    },
    "RuleOutput": {
      "type": "object",
      "description": "The rule output of the violation.",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message generated by rule."
        },
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Violation details generated by rule.",
          "type": "object"
        }
      },
      "id": "RuleOutput"
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object"
        },
        "sapValidationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "type": "string",
          "description": "Optional. The SAP system that the validation data is from.",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ]
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      },
      "description": "Message describing the SAP validation metrics.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      }
    },
    "ListRulesResponse": {
      "description": "Response message for the ListRules RPC.",
      "type": "object",
      "id": "ListRulesResponse",
      "properties": {
        "rules": {
          "type": "array",
          "description": "All rules in response.",
          "items": {
            "$ref": "Rule"
          }
        }
      }
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "properties": {
        "customTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Network tags."
        },
        "internetAccess": {
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "regionName": {
          "type": "string",
          "description": "Required. Region name."
        },
        "createCommsFirewall": {
          "type": "boolean",
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment."
        },
        "zone1Name": {
          "type": "string",
          "description": "Required. Zone 1 name."
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. DNS zone name."
        },
        "vpcName": {
          "type": "string",
          "description": "Required. VPC name."
        },
        "deploymentDnsEnabled": {
          "type": "boolean",
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true."
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for SAP instance details."
    },
    "CloudResource": {
      "description": "The resource on GCP",
      "id": "CloudResource",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "type": "string",
          "readOnly": true
        },
        "instanceProperties": {
          "readOnly": true,
          "description": "Output only. All instance properties.",
          "$ref": "InstanceProperties"
        },
        "kind": {
          "description": "Output only. ",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "readOnly": true
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "id": "SapDiscoveryWorkloadProperties",
      "properties": {
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        },
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A set of properties describing an SAP workload."
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "properties": {
        "backupProperties": {
          "readOnly": true,
          "description": "Output only. Backup properties.",
          "$ref": "BackupProperties"
        },
        "databaseType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        }
      },
      "type": "object",
      "id": "DatabaseProperties"
    },
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "id": "ListEvaluationsResponse",
      "properties": {
        "evaluations": {
          "description": "The list of evaluations.",
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "SapDiscoveryResource": {
      "type": "object",
      "description": "Message describing a resource.",
      "id": "SapDiscoveryResource",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated."
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of this resource.",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ]
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapInstanceProperties": {
      "description": "SAP instance properties.",
      "properties": {
        "numbers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "type": "array"
        },
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        }
      },
      "id": "SapInstanceProperties",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "properties": {
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        }
      },
      "description": "A SAP software component name, version, and type.",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "description": "Response message for the ListExecutions RPC.",
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "executions": {
          "type": "array",
          "description": "The list of Execution.",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "description": "Required. Type of external data source.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ]
        },
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        }
      },
      "description": "External data sources for an execution."
    },
    "AgentStates": {
      "type": "object",
      "properties": {
        "installedVersion": {
          "type": "string",
          "description": "Optional. The installed version of the agent on the host."
        },
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "availableVersion": {
          "type": "string",
          "description": "Optional. The available version of the agent in artifact registry."
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        }
      },
      "id": "AgentStates",
      "description": "Agent status."
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "description": "A product name and version.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesProductVersion"
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "type": "object",
      "id": "RuleExecutionResult",
      "properties": {
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "resultCount": {
          "description": "Number of violations.",
          "type": "string",
          "format": "int64"
        },
        "scannedResourceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of total scanned resources."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "description": "Output only. The execution status.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "readOnly": true
        }
      }
    },
    "TorsoValidation": {
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string"
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "validationDetails": {
          "type": "object",
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The schema of torso workload validation data.",
      "id": "TorsoValidation",
      "type": "object"
    },
    "GceInstanceFilter": {
      "description": "A filter for matching Compute Engine instances.",
      "type": "object",
      "id": "GceInstanceFilter",
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Rule": {
      "type": "object",
      "properties": {
        "assetType": {
          "type": "string",
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types."
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
[...]
