{
  "kind": "discovery#restDescription",
  "version": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "version_module": true,
  "ownerName": "Google",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "description": "Response message for the ListRules RPC.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "All rules in response.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        }
      }
    },
    "AgentStatusReference": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the reference."
        },
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the reference."
        }
      },
      "id": "AgentStatusReference",
      "description": "The reference to public documentation."
    },
    "DatabaseProperties": {
      "type": "object",
      "properties": {
        "databaseType": {
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "backupProperties": {
          "readOnly": true,
          "$ref": "BackupProperties",
          "description": "Output only. Backup properties."
        }
      },
      "id": "DatabaseProperties",
      "description": "Database Properties."
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "description": "A SAP software component name, version, and type.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. The component's type."
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the component."
        }
      }
    },
    "RunEvaluationRequest": {
      "type": "object",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "type": "string",
          "description": "Required. ID of the execution which will be created."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC."
    },
    "SapValidation": {
      "type": "object",
      "properties": {
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "description": "Optional. A list of SAP validation metrics data."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        }
      },
      "id": "SapValidation",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data."
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "type": "object",
      "properties": {
        "resourceStatus": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource."
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "customRulesBucket": {
          "type": "string",
          "description": "The Cloud Storage bucket name for custom rules."
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource."
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        }
      }
    },
    "SapDiscovery": {
      "id": "SapDiscovery",
      "description": "The schema of SAP system discovery data.",
      "type": "object",
      "properties": {
        "projectNumber": {
          "type": "string",
          "description": "Optional. The GCP project number that this SapSystem belongs to."
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "updateTime": {
          "description": "Required. Unix timestamp this system has been updated last.",
          "format": "google-datetime",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "databaseLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Required. An SAP System must have a database."
        },
        "systemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system."
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        }
      }
    },
    "ExternalDataSources": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}."
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        }
      },
      "id": "ExternalDataSources",
      "description": "External data sources for an execution."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "InstanceProperties": {
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "roles": {
          "description": "Optional. Instance roles.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          }
        }
      },
      "id": "InstanceProperties",
      "description": "Instance Properties."
    },
    "Notice": {
      "id": "Notice",
      "description": "Additional information generated by an execution.",
      "type": "object",
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Message of the notice."
        }
      }
    },
    "DatabaseDetails": {
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "secondaryDbVm": {
          "type": "string",
          "description": "Optional. Secondary DB VM name."
        },
        "databaseServiceAccount": {
          "type": "string",
          "description": "Database service account. Let customers bring their own SA for the database."
        },
        "sid": {
          "type": "string",
          "description": "Required. The SID is a three-digit server-specific unique identification code."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        }
      },
      "id": "DatabaseDetails",
      "description": "Message for SAP instance details."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "type": "object",
      "properties": {
        "major": {
          "type": "integer",
          "description": "Optional. The major version number.",
          "format": "int32"
        },
        "remainder": {
          "type": "string",
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
        },
        "minor": {
          "type": "integer",
          "description": "Optional. The minor version number.",
          "format": "int32"
        },
        "patch": {
          "type": "integer",
          "description": "Optional. The patch version number.",
          "format": "int32"
        },
        "build": {
          "description": "Optional. The build version number.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "description": "Version is reported as Major.Minor.Build.Patch."
    },
    "ListScannedResourcesResponse": {
      "type": "object",
      "properties": {
        "scannedResources": {
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListScannedResourcesResponse",
      "description": "Response message for the ListScannedResources RPC."
    },
    "BigQueryDestination": {
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "type": "boolean",
          "description": "Optional. Determines if a new results table will be created when an Execution is created."
        }
      },
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "type": "object",
      "properties": {
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "UpcomingMaintenanceEvent": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. End time",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Start time",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Optional. Type"
        },
        "maintenanceStatus": {
          "type": "string",
          "description": "Optional. Maintenance status"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenanceEvent",
      "description": "Maintenance Event"
    },
    "ShellCommand": {
      "id": "ShellCommand",
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "type": "object",
      "properties": {
        "timeoutSeconds": {
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32",
          "type": "integer"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "args": {
          "type": "string",
          "description": "Arguments to be passed to the command."
        }
      }
    },
    "WriteInsightRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point."
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        }
      },
      "id": "WriteInsightRequest",
      "description": "Request for sending the data insights."
    },
    "SapInstanceProperties": {
      "type": "object",
      "properties": {
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        },
        "numbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        }
      },
      "id": "SapInstanceProperties",
      "description": "SAP instance properties."
    },
    "CloudResource": {
      "id": "CloudResource",
      "description": "The resource on GCP",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true,
          "type": "string"
        },
        "instanceProperties": {
          "readOnly": true,
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        }
      }
    },
    "GceInstanceFilter": {
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GceInstanceFilter",
      "description": "A filter for matching Compute Engine instances."
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "description": "Disk mount on the instance.",
      "type": "object",
      "properties": {
        "diskNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point."
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "mountPoint": {
          "type": "string",
          "description": "Optional. Filesystem mount point."
        }
      }
    },
    "SqlServerWorkload": {
      "type": "object",
      "properties": {
        "isSqlPayg": {
          "type": "boolean",
          "description": "Required. SQL licensing type."
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "location": {
          "description": "Required. Location details.",
          "$ref": "SqlLocationDetails"
        },
        "activeDirectory": {
          "description": "Required. Active Directory details.",
          "$ref": "ActiveDirectory"
        },
        "database": {
          "description": "Required. Database details.",
          "$ref": "Database"
        },
        "osImage": {
          "description": "Required. The image of the operating system.",
          "type": "string"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "type": "string"
        },
        "osImageType": {
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ],
          "type": "string"
        },
        "vmPrefix": {
          "type": "string",
          "description": "Required. Should be unique in the project."
        },
        "sqlServerEdition": {
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ],
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "type": "string"
        },
        "fciType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D."
        },
        "pacemaker": {
          "$ref": "Pacemaker",
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments."
        },
        "haType": {
          "type": "string",
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode.",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ],
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ]
        },
        "operatingSystemType": {
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "type": "string"
        },
        "mediaBucket": {
          "type": "string",
          "description": "Required. Name of the media storing SQL server installation files."
        },
        "sqlServerVersion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ],
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "description": "Optional. 2017, 2019, or 2022."
        },
        "environmentType": {
          "type": "string",
          "description": "Required. Deployment environment.",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        }
      },
      "id": "SqlServerWorkload",
      "description": "Message for MS SQL workload."
    },
    "Insight": {
      "id": "Insight",
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "properties": {
        "sentTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Resource": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of resource."
        }
      },
      "id": "Resource",
      "description": "Resource in execution result."
    },
    "AgentStatusConfigValue": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the configuration value."
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "AgentStatusConfigValue",
      "description": "The configuration value."
    },
    "Command": {
      "type": "object",
      "properties": {
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        },
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        }
      },
      "id": "Command",
      "description": "Command specifies the type of command to execute."
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "description": "Message describing the system component.",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "topologyType": {
          "type": "string",
          "description": "Optional. The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "replicationSites": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations."
        },
        "haHosts": {
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "databaseProperties": {
          "$ref": "SapDiscoveryComponentDatabaseProperties",
          "description": "Optional. The component is a SAP database."
        }
      }
    },
    "SapDiscoveryResource": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime"
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        },
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "resourceType": {
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource.",
          "type": "string"
        },
        "relatedResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource."
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string"
        }
      },
      "id": "SapDiscoveryResource",
      "description": "Message describing a resource."
    },
    "SapDiscoveryWorkloadProperties": {
      "type": "object",
      "properties": {
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        },
        "softwareComponentVersions": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "description": "Optional. A list of SAP software components and their versions running on the system."
        }
      },
      "id": "SapDiscoveryWorkloadProperties",
      "description": "A set of properties describing an SAP workload."
    },
    "HealthCheck": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the health check.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        },
        "metric": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The health check source metric name."
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source of the health check."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message of the health check."
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "readOnly": true,
          "$ref": "CloudResource"
        }
      },
      "id": "HealthCheck",
      "description": "HealthCheck contains the detailed health check of a component based on asource."
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "description": "The lifecycle status of an Evaluation resource.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "State of the Evaluation resource."
        }
      }
    },
    "TorsoValidation": {
      "type": "object",
      "properties": {
        "workloadType": {
          "type": "string",
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ]
        },
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. validation_details contains the pairs of validation data: field name & field value."
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. project_id lists the human readable cloud project that the data comes from."
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        }
      },
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data."
    },
    "Rule": {
      "type": "object",
      "properties": {
        "primaryCategory": {
          "type": "string",
          "description": "The primary category."
        },
        "ruleType": {
          "description": "The type of the rule.",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The message template for rule."
        },
        "uri": {
          "type": "string",
          "description": "The document url for the rule."
        },
        "remediation": {
          "type": "string",
          "description": "The remediation for the rule."
        },
        "secondaryCategory": {
          "type": "string",
          "description": "The secondary category."
        },
        "tags": {
          "description": "List of user-defined tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "revisionId": {
          "description": "Output only. The version of the rule.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "displayName": {
          "type": "string",
          "description": "The name display in UI."
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        }
      },
      "id": "Rule",
      "description": "A rule to be evaluated."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "description": "A set of properties describing an SAP Application layer.",
      "type": "object",
      "properties": {
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "type": "string"
        },
        "ascsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized ASCS host of the application."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "appInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        },
        "ascsInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ASCS instance."
        }
      }
    },
    "IAMPermission": {
      "id": "IAMPermission",
      "description": "The IAM permission status.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "LocationDetails": {
      "type": "object",
      "properties": {
        "internetAccess": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        },
        "customTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Network tags."
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "zone2Name": {
          "type": "string",
          "description": "Optional. Zone 2 name."
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "createCommsFirewall": {
          "type": "boolean",
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment."
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        },
        "zone1Name": {
          "type": "string",
          "description": "Required. Zone 1 name."
        },
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. DNS zone name suffix."
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        }
      },
      "id": "LocationDetails",
      "description": "Message for SAP instance details."
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "properties": {
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListEvaluationsResponse",
      "description": "Response message for the ListEvaluations RPC."
    },
    "WorkloadProfile": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "type": "object"
        },
        "refreshedTime": {
          "type": "string",
          "description": "Required. time when the workload data was refreshed",
          "format": "google-datetime"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "description": "Required. The type of the workload"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        }
      },
      "id": "WorkloadProfile",
      "description": "Workload resource."
    },
    "SapWorkload": {
      "type": "object",
      "properties": {
        "products": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "Output only. The products on this workload."
        },
        "database": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. database component"
        },
        "application": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. application component"
        },
        "architecture": {
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "description": "Output only. The architecture.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. The metadata for SAP workload.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SapWorkload",
      "description": "The body of sap workload"
    },
    "Actuation": {
      "id": "Actuation",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "type": "object",
      "properties": {
        "actuationOutput": {
          "description": "Output only. Actuation output.",
          "readOnly": true,
          "$ref": "ActuationOutput"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Start time stamp.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. End time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deploymentOutput": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. Deployment output."
        },
        "name": {
          "type": "string",
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}."
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. Actuation state.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Summary": {
      "id": "Summary",
      "description": "Execution summary.",
      "type": "object",
      "properties": {
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "newFixes": {
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "failures": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of failures.",
          "format": "int64"
        }
      }
    },
    "AppDetails": {
      "type": "object",
      "properties": {
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "ersVm": {
          "type": "string",
          "description": "Optional. ERS VM name."
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "sid": {
          "type": "string",
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code."
        },
        "ascsInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ASCS."
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AppDetails",
      "description": "Message for SAP instance details."
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "workloadProfiles": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return"
        }
      }
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "description": "Message containing collected data names and values.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "type": "object",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional."
        },
        "unspecifiedStateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message to display when the service state is unspecified."
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "fullyFunctional": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "type": "string"
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "iamPermissions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "description": "Output only. The permissions required for the service."
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "type": "object",
      "properties": {
        "landscapeId": {
          "type": "string",
          "description": "Optional. Landscape ID from the HANA nameserver."
        },
        "databaseType": {
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "type": "string",
          "description": "Required. URI of the recognized primary instance of the database."
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "sharedNfsUri": {
          "type": "string",
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node."
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryComponentDatabaseProperties",
      "description": "A set of properties describing an SAP Database layer."
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing deployments.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ViolationDetails": {
      "type": "object",
      "properties": {
        "asset": {
          "type": "string",
          "description": "The name of the asset."
        },
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation.",
          "type": "object"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "ruleOutput": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation."
        }
      },
      "id": "ViolationDetails",
      "description": "The violation in an evaluation result."
    },
    "ScannedResource": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "ScannedResource",
      "description": "A scanned resource."
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "description": "The state of the service.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The overall state of the service.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ]
        },
        "iamPermissions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IAMPermission"
          },
          "description": "Optional. Output only. The IAM permissions for the service."
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "description": "Fields to describe an SAP application server instance."
    },
    "ListActuationsResponse": {
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "actuations": {
          "type": "array",
          "items": {
            "$ref": "Actuation"
          },
          "description": "The list of actuations."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListExecutionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "executions": {
          "description": "The list of Execution.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        }
      },
      "id": "ListExecutionsResponse",
      "description": "Response message for the ListExecutions RPC."
    },
    "ActuationOutput": {
      "id": "ActuationOutput",
      "description": "Message for output of actuation.",
      "type": "object",
      "properties": {
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "terraformTemplate": {
          "type": "string",
          "description": "Reference to the Terraform template used."
        },
        "errorCode": {
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ]
        },
        "hasUserFacingErrorMsg": {
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true,
          "type": "boolean"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "terraformError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message returned from Terraform."
        },
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "readOnly": true,
          "type": "string"
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible."
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        }
      }
    },
    "SapValidationValidationDetail": {
      "type": "object",
      "properties": {
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sapValidationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string"
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      },
      "id": "SapValidationValidationDetail",
      "description": "Message describing the SAP validation metrics."
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "description": "The result of an execution.",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        },
        "type": {
          "type": "string",
          "description": "Execution result type of the scanned resource.",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        }
      }
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "description": "The rule output of the violation.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AgentStates": {
      "id": "AgentStates",
      "description": "Agent status.",
      "type": "object",
      "properties": {
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        },
        "systemDiscovery": {
          "$ref": "ServiceStates",
          "description": "Optional. The System discovery metrics of the agent."
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "processMetrics": {
          "$ref": "ServiceStates",
          "description": "Optional. The Process metrics of the agent."
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        }
      }
    },
    "ListExecutionResultsResponse": {
      "id": "ListExecutionResultsResponse",
      "description": "Response message for the ListExecutionResults RPC.",
      "type": "object",
      "properties": {
        "executionResults": {
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "RuleExecutionResult": {
      "id": "RuleExecutionResult",
      "description": "Execution result summary per rule.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "resultCount": {
          "type": "string",
          "description": "Number of violations.",
          "format": "int64"
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The execution status.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ]
        }
      }
    },
    "OpenShiftValidation": {
      "type": "object",
      "properties": {
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Required. The validation details of the OpenShift cluster in JSON format."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936)."
        }
      },
      "id": "OpenShiftValidation",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data."
    },
    "WriteInsightResponse": {
      "type": "object",
      "properties": {},
      "id": "WriteInsightResponse",
      "description": "The response for write insights request."
    },
    "Execution": {
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] End time stamp.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "engine": {
          "type": "string",
          "description": "Optional. Engine.",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ]
        },
        "runType": {
          "type": "string",
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "notices": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution."
        },
        "resultSummary": {
          "readOnly": true,
          "$ref": "Summary",
          "description": "Output only. [Output only] Result summary for the execution."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Execution",
      "description": "Execution that represents a single run of an Evaluation."
    },
    "SapDiscoveryMetadata": {
      "type": "object",
      "properties": {
        "definedSystem": {
          "type": "string",
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\""
        },
        "environmentType": {
          "type": "string",
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc."
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "customerRegion": {
          "type": "string",
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region."
        }
      },
      "id": "SapDiscoveryMetadata",
      "description": "Message describing SAP discovery system metadata"
    },
    "WorkloadProfileHealth": {
      "type": "object",
      "properties": {
        "checkTime": {
          "type": "string",
          "description": "The time when the health check was performed.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The health state of the workload.",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        }
      },
      "id": "WorkloadProfileHealth",
      "description": "WorkloadProfileHealth contains the detailed health check of workload."
    },
    "SapComponent": {
      "id": "SapComponent",
      "description": "The component of sap workload",
      "type": "object",
      "properties": {
        "haHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        },
        "topologyType": {
          "description": "The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string"
        },
        "resources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloudResource"
          },
          "description": "Output only. resources in the component"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "AgentCommand": {
      "id": "AgentCommand",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "type": "object",
      "properties": {
        "command": {
          "type": "string",
          "description": "The name of the agent one-time executable that will be invoked."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "type": "object"
        }
      }
    },
    "SapDiscoveryResourceInstanceProperties": {
      "type": "object",
      "properties": {
        "osKernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Optional. The kernel version of the instance."
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. The VM's instance number.",
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "appInstances": {
          "description": "Optional. App server instances on the host",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          }
        },
        "instanceRole": {
          "type": "string",
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ]
        },
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        }
      },
      "id": "SapDiscoveryResourceInstanceProperties",
      "description": "A set of properties only present for an instance type resource"
    },
    "AgentStatusIAMPermission": {
      "id": "AgentStatusIAMPermission",
      "description": "The IAM permission status.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the permission is granted.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "description": "A product name and version.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        },
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        }
      }
    },
    "SqlserverValidationValidationDetail": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values."
        }
      },
      "id": "SqlserverValidationValidationDetail",
      "description": "Message describing the Sqlserver validation metrics."
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "description": "HealthCondition contains the detailed health check of each component.",
      "type": "object",
      "properties": {
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "type": "array",
          "items": {
            "$ref": "HealthCheck"
          }
        },
        "component": {
          "type": "string",
          "description": "The component of a workload."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the component."
        },
        "componentHealthType": {
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "description": "Output only. The type of the component health.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SqlLocationDetails": {
      "type": "object",
      "properties": {
        "secondaryZone": {
          "type": "string",
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode."
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "primaryZone": {
          "type": "string",
          "description": "Required. Primary zone."
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "region": {
[...]
