{
  "id": "workloadmanager:v1",
  "discoveryVersion": "v1",
  "canonicalName": "Workload Manager",
  "schemas": {
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "type": "object",
      "id": "SapDiscoveryWorkloadProperties",
      "properties": {
        "softwareComponentVersions": {
          "type": "array",
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        },
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system."
        }
      }
    },
    "SapComponent": {
      "type": "object",
      "description": "The component of sap workload",
      "properties": {
        "databaseProperties": {
          "readOnly": true,
          "$ref": "DatabaseProperties",
          "description": "Output only. All instance properties."
        },
        "topologyType": {
          "description": "The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string"
        },
        "sid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. sid is the sap component identificator"
        },
        "resources": {
          "type": "array",
          "description": "Output only. resources in the component",
          "readOnly": true,
          "items": {
            "$ref": "CloudResource"
          }
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SapComponent"
    },
    "Notice": {
      "type": "object",
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Message of the notice.",
          "readOnly": true
        }
      },
      "id": "Notice"
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "type": "object",
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sapValidationType": {
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "type": "string",
          "description": "Optional. The SAP system that the validation data is from."
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      }
    },
    "ShellCommand": {
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "timeoutSeconds": {
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32",
          "type": "integer"
        },
        "command": {
          "type": "string",
          "description": "The name of the command to be executed."
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        }
      },
      "id": "ShellCommand",
      "type": "object"
    },
    "SqlLocationDetails": {
      "properties": {
        "primaryZone": {
          "type": "string",
          "description": "Required. Primary zone."
        },
        "internetAccess": {
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "description": "Required. Internet Access."
        },
        "network": {
          "type": "string",
          "description": "Required. Network name."
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. Subnetwork name."
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        }
      },
      "description": "Location and networking details for configuring SQL server workload.",
      "id": "SqlLocationDetails",
      "type": "object"
    },
    "TerraformVariable": {
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      },
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable.",
      "id": "TerraformVariable",
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "scannedResources": {
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response."
        }
      },
      "type": "object",
      "id": "ListScannedResourcesResponse"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "properties": {
        "clusterInstances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of instance URIs that are part of a cluster with this one."
        },
        "instanceNumber": {
          "description": "Optional. The VM's instance number.",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "instanceRole": {
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ]
        },
        "diskMounts": {
          "description": "Optional. Disk mounts on the instance.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          }
        },
        "appInstances": {
          "description": "Optional. App server instances on the host",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array"
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "virtualHostname": {
          "type": "string",
          "description": "Optional. A virtual hostname of the instance if it has one."
        }
      },
      "description": "A set of properties only present for an instance type resource",
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object"
    },
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "properties": {
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "ascsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized ASCS host of the application."
        },
        "appInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "applicationType": {
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "description": "Required. Type of the application. Netweaver, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "abap": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java."
        },
        "ersInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ERS instance."
        }
      },
      "type": "object",
      "description": "A set of properties describing an SAP Application layer."
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "properties": {
        "value": {
          "description": "Output only. The value of the configuration value.",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        }
      },
      "type": "object"
    },
    "HealthCheck": {
      "type": "object",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "id": "HealthCheck",
      "properties": {
        "state": {
          "description": "Output only. The state of the health check.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ]
        },
        "resource": {
          "readOnly": true,
          "$ref": "CloudResource",
          "description": "Output only. The resource the check performs on."
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        },
        "message": {
          "readOnly": true,
          "description": "Output only. The message of the health check.",
          "type": "string"
        }
      }
    },
    "SapDiscovery": {
      "type": "object",
      "id": "SapDiscovery",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "systemId": {
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Required. Unix timestamp this system has been updated last.",
          "type": "string"
        },
        "useDrReconciliation": {
          "type": "boolean",
          "description": "Optional. Whether to use DR reconciliation or not."
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "databaseLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Required. An SAP System must have a database."
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        }
      },
      "description": "The schema of SAP system discovery data."
    },
    "WorkloadProfileHealth": {
      "properties": {
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "checkTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the health check was performed."
        },
        "state": {
          "description": "Output only. The health state of the workload.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        }
      },
      "type": "object",
      "id": "WorkloadProfileHealth",
      "description": "WorkloadProfileHealth contains the detailed health check of workload."
    },
    "ViolationDetails": {
      "properties": {
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Details of the violation."
        },
        "ruleOutput": {
          "items": {
            "$ref": "RuleOutput"
          },
          "type": "array",
          "description": "Output only. The rule output of the violation.",
          "readOnly": true
        },
        "asset": {
          "type": "string",
          "description": "The name of the asset."
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      },
      "description": "The violation in an evaluation result.",
      "id": "ViolationDetails",
      "type": "object"
    },
    "ResourceStatus": {
      "description": "The lifecycle status of an Evaluation resource.",
      "id": "ResourceStatus",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      }
    },
    "AgentCommand": {
      "id": "AgentCommand",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings."
        },
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run."
    },
    "WriteInsightResponse": {
      "type": "object",
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "properties": {}
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "type": "object",
      "properties": {
        "databaseType": {
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        },
        "backupProperties": {
          "$ref": "BackupProperties",
          "description": "Output only. Backup properties.",
          "readOnly": true
        }
      },
      "id": "DatabaseProperties"
    },
    "InstanceProperties": {
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "roles": {
          "items": {
            "type": "string",
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ]
          },
          "description": "Optional. Instance roles.",
          "type": "array"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Optional. Instance status."
        },
        "upcomingMaintenanceEvent": {
          "$ref": "UpcomingMaintenanceEvent",
          "description": "Optional. the next maintenance event on VM"
        }
      },
      "id": "InstanceProperties",
      "description": "Instance Properties."
    },
    "LocationDetails": {
      "properties": {
        "customTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Network tags."
        },
        "subnetName": {
          "type": "string",
          "description": "Required. Subnet name."
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        },
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "createCommsFirewall": {
          "type": "boolean",
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment."
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "internetAccess": {
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "vpcName": {
          "type": "string",
          "description": "Required. VPC name."
        }
      },
      "id": "LocationDetails",
      "type": "object",
      "description": "Message for SAP instance details."
    },
    "WorkloadProfile": {
      "description": "Workload resource.",
      "id": "WorkloadProfile",
      "properties": {
        "sapWorkload": {
          "$ref": "SapWorkload",
          "description": "The sap workload content"
        },
        "refreshedTime": {
          "description": "Required. time when the workload data was refreshed",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'"
        },
        "workloadType": {
          "description": "Required. The type of the workload",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "type": "string"
        },
        "labels": {
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "type": "object",
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "properties": {
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "rawString": {
          "type": "string",
          "description": "Optional. Raw string of the kernel version."
        },
        "osKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "type": "object",
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SqlServer validation metrics data.",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
        }
      },
      "id": "SqlserverValidation"
    },
    "Database": {
      "properties": {
        "secondarySoleTenantNodeType": {
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "soleTenantNode": {
          "description": "Optional. The name of a primary sole-tenant node/node group.",
          "type": "string"
        },
        "smt": {
          "type": "boolean",
          "description": "Required. Whether simultaneous multithreading is enabled or not."
        },
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "soleTenantNodeType": {
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "floatingIpAddress": {
          "type": "string",
          "description": "Optional. Only useful for Linux High Availability setup."
        },
        "secondarySoleTenantNode": {
          "type": "string",
          "description": "Optional. The name of a secondary-sole-tenant node/node group."
        },
        "tenancyModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT."
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Database details.",
      "id": "Database"
    },
    "BackupProperties": {
      "type": "object",
      "properties": {
        "latestBackupStatus": {
          "type": "string",
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "description": "Output only. The state of the latest backup.",
          "readOnly": true,
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ]
        },
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Backup properties.",
      "id": "BackupProperties"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the RunEvaluation RPC."
    },
    "SapDiscoveryComponentReplicationSite": {
      "type": "object",
      "id": "SapDiscoveryComponentReplicationSite",
      "properties": {
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      },
      "description": "A replication site used in Disaster Recovery (DR) configurations."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      }
    },
    "ScannedResource": {
      "description": "A scanned resource.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "ScannedResource",
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "type": "object",
      "id": "UpcomingMaintenanceEvent",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. End time",
          "format": "google-datetime"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Start time",
          "format": "google-datetime"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`."
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      }
    },
    "RuleOutput": {
      "properties": {
        "details": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "readOnly": true,
          "description": "Output only. The message generated by rule.",
          "type": "string"
        }
      },
      "description": "The rule output of the violation.",
      "type": "object",
      "id": "RuleOutput"
    },
    "CloudResource": {
      "type": "object",
      "description": "The resource on GCP",
      "properties": {
        "kind": {
          "description": "Output only. ",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true
        },
        "instanceProperties": {
          "description": "Output only. All instance properties.",
          "$ref": "InstanceProperties",
          "readOnly": true
        }
      },
      "id": "CloudResource"
    },
    "AgentStatusReference": {
      "description": "The reference to public documentation.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the reference.",
          "type": "string"
        },
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the reference."
        }
      },
      "id": "AgentStatusReference",
      "type": "object"
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "id": "AgentStatusIAMPermission",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        },
        "granted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the permission is granted."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "properties": {
        "diskNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point."
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Disk mount on the instance.",
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "properties": {
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object",
      "description": "Fields to describe an SAP application server instance."
    },
    "SqlServerWorkload": {
      "type": "object",
      "id": "SqlServerWorkload",
      "description": "Message for MS SQL workload.",
      "properties": {
        "deploymentModel": {
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ],
          "type": "string",
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ]
        },
        "osImageType": {
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "type": "string",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        },
        "haType": {
          "type": "string",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ],
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode."
        },
        "mediaBucket": {
          "type": "string",
          "description": "Required. Name of the media storing SQL server installation files."
        },
        "sqlServerVersion": {
          "type": "string",
          "description": "Optional. 2017, 2019, or 2022.",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ]
        },
        "sqlServerEdition": {
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ],
          "type": "string"
        },
        "fciType": {
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D.",
          "type": "string"
        },
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. Deployment environment.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ]
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "osImage": {
          "description": "Required. The image of the operating system.",
          "type": "string"
        },
        "operatingSystemType": {
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "type": "string"
        },
        "database": {
          "$ref": "Database",
          "description": "Required. Database details."
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "activeDirectory": {
          "$ref": "ActiveDirectory",
          "description": "Required. Active Directory details."
        },
        "location": {
          "$ref": "SqlLocationDetails",
          "description": "Required. Location details."
        },
        "vmPrefix": {
          "description": "Required. Should be unique in the project.",
          "type": "string"
        },
        "isSqlPayg": {
          "description": "Required. SQL licensing type.",
          "type": "boolean"
        }
      }
    },
    "SapDiscoveryResource": {
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceKind": {
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string",
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource.",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "type": "string"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        }
      },
      "id": "SapDiscoveryResource",
      "description": "Message describing a resource."
    },
    "Resource": {
      "description": "Resource in execution result.",
      "id": "Resource",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        }
      }
    },
    "AgentStatusServiceStatus": {
      "type": "object",
      "properties": {
        "iamPermissions": {
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The permissions required for the service."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional."
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration)."
        },
        "fullyFunctional": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true
        }
      },
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.)."
    },
    "ActiveDirectory": {
      "properties": {
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "domain": {
          "description": "Optional. Human readable form of a domain such as `example.com`.",
          "type": "string"
        },
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Active Directory type.",
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ],
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ]
        },
        "domainUsername": {
          "type": "string",
          "description": "Optional. Domain username."
        }
      },
      "id": "ActiveDirectory",
      "type": "object",
      "description": "Active Directory details."
    },
    "ExternalDataSources": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ]
        }
      },
      "description": "External data sources for an execution.",
      "id": "ExternalDataSources"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ActuationOutput": {
      "id": "ActuationOutput",
      "properties": {
        "ansibleFailedTask": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible."
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "errorLogs": {
          "type": "string",
          "description": "A link to the actuation Cloud Build log."
        },
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "type": "string",
          "readOnly": true
        },
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "readOnly": true,
          "type": "string"
        },
        "errorCode": {
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for output of actuation."
    },
    "Command": {
      "id": "Command",
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        }
      },
      "type": "object",
      "description": "Command specifies the type of command to execute."
    },
    "SapWorkload": {
      "type": "object",
      "properties": {
        "products": {
          "readOnly": true,
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "Output only. The products on this workload."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true
        },
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "type": "string"
        },
        "application": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. application component"
        }
      },
      "id": "SapWorkload",
      "description": "The body of sap workload"
    },
    "ResourceFilter": {
      "properties": {
        "resourceIdPatterns": {
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionLabels": {
          "type": "object",
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resources."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
        }
      },
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "id": "ResourceFilter"
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results.",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      }
    },
    "ListExecutionsResponse": {
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "executions": {
          "type": "array",
          "description": "The list of Execution.",
          "items": {
            "$ref": "Execution"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListExecutionsResponse"
    },
    "IAMPermission": {
      "description": "The IAM permission status.",
      "id": "IAMPermission",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        },
        "granted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the permission is granted."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ComponentHealth": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "description": "Output only. The health state of the component.",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "componentHealthType": {
          "description": "Output only. The type of the component health.",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "type": "string"
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "subComponentsHealth": {
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "Sub component health.",
          "type": "array"
        },
        "componentHealthChecks": {
          "items": {
            "$ref": "HealthCheck"
          },
          "description": "The detailed health checks of the component.",
          "type": "array"
        }
      },
      "id": "ComponentHealth",
      "type": "object",
      "description": "HealthCondition contains the detailed health check of each component."
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "properties": {
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "items": {
            "$ref": "IAMPermission"
          },
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The overall state of the service.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        }
      },
      "description": "The state of the service.",
      "type": "object"
    },
    "Execution": {
      "id": "Execution",
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "ruleResults": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule."
        },
        "notices": {
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true,
          "type": "array"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. [Output only] State.",
          "readOnly": true,
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "$ref": "Summary",
          "readOnly": true
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "type": "string",
          "description": "Optional. Engine.",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ]
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
        },
        "evaluationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Evaluation ID."
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "resources": {
          "type": "array",
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "replicationSites": {
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "type": "array",
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations."
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "sid": {
          "type": "string",
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers."
        },
        "topologyType": {
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component."
        },
        "hostProject": {
          "type": "string",
          "description": "Required. Pantheon Project in which the resources reside."
        }
      },
      "description": "Message describing the system component.",
      "id": "SapDiscoveryComponent"
    },
    "Deployment": {
      "type": "object",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "id": "Deployment",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. Current state of the deployment.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "readOnly": true
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "description": "Optional. Workload type of the deployment."
        },
        "description": {
          "type": "string",
          "description": "Description of the deployment."
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time stamp.",
          "type": "string",
          "readOnly": true
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "terraformVariables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }"
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input.",
          "$ref": "SqlServerWorkload"
        }
      }
    },
    "ListExecutionResultsResponse": {
      "description": "Response message for the ListExecutionResults RPC.",
      "id": "ListExecutionResultsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "executionResults": {
          "type": "array",
          "description": "The versions from the specified publisher.",
          "items": {
            "$ref": "ExecutionResult"
          }
        }
      }
    },
    "AgentStatus": {
      "type": "object",
      "properties": {
        "cloudApiAccessFullScopesGranted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs."
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "type": "string",
          "readOnly": true
        },
        "installedVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The installed version of the agent on the host."
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. The name of the agent.",
          "type": "string"
        },
        "systemdServiceRunning": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the agent service is running in systemd."
        },
        "references": {
          "items": {
            "$ref": "AgentStatusReference"
          },
          "readOnly": true,
          "description": "Output only. Optional references to public documentation.",
          "type": "array"
        },
        "configurationValid": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "readOnly": true
        },
        "availableVersion": {
          "type": "string",
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true
        },
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "type": "string",
          "readOnly": true
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "type": "string",
          "readOnly": true
        },
        "services": {
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "systemdServiceEnabled": {
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        }
      },
      "description": "The schema of agent status data.",
      "id": "AgentStatus"
    },
    "ListDeploymentsResponse": {
      "description": "Message for response to listing deployments.",
      "id": "ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "SapDiscoveryMetadata": {
      "properties": {
        "customerRegion": {
          "type": "string",
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region."
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "definedSystem": {
          "type": "string",
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\""
        }
      },
      "id": "SapDiscoveryMetadata",
      "type": "object",
      "description": "Message describing SAP discovery system metadata"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "description": "A product name and version.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp."
        },
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`."
        },
        "resourceStatus": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource."
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        }
      }
    },
    "Insight": {
      "properties": {
        "sentTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "type": "string"
        },
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        },
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. The instance id where the insight is generated from"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sapValidation": {
          "$ref": "SapValidation",
          "description": "The insights data for the SAP workload validation."
        }
      },
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "id": "Insight"
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "description": "Response message for the ListRules RPC.",
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AppDetails": {
      "properties": {
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "appVmNames": {
          "type": "array",
          "description": "Optional. Customized VM names.",
          "items": {
            "type": "string"
          }
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "type": "integer",
          "format": "int32"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account. Let customers bring their own service account for ASCS."
        },
        "image": {
          "type": "string",
          "description": "Required. Image for the app server and ASCS server."
        },
        "sharedStorage": {
          "type": "string",
          "description": "Optional. Storage location."
        },
        "ascsImage": {
          "type": "string",
          "description": "Required. Image for the ASCS server."
        },
        "ersInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ERS."
        },
        "appServiceAccount": {
          "type": "string",
          "description": "Application service account. Let customers bring their own service account for the application."
        }
      },
      "type": "object",
      "description": "Message for SAP instance details.",
      "id": "AppDetails"
    },
    "Actuation": {
      "properties": {
        "actuationOutput": {
          "readOnly": true,
          "$ref": "ActuationOutput",
          "description": "Output only. Actuation output."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. End time stamp.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. Actuation state.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ]
        },
        "deploymentOutput": {
          "description": "Output only. Deployment output.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Start time stamp.",
          "type": "string"
        }
      },
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "id": "Actuation",
      "type": "object"
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values."
        },
        "type": {
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "type": "string",
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ]
        }
      },
      "description": "Message describing the Sqlserver validation metrics."
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "type": "object",
      "id": "SapValidation",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        }
      }
    },
    "OpenShiftValidation": {
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "additionalProperties": {
[...]
