{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://workflowexecutions.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://workflowexecutions.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://workflowexecutions.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://workflowexecutions.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://workflowexecutions.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://workflowexecutions.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://workflowexecutions.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://workflowexecutions.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://workflowexecutions.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://workflowexecutions.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://workflowexecutions.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://workflowexecutions.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://workflowexecutions.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://workflowexecutions.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://workflowexecutions.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://workflowexecutions.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://workflowexecutions.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://workflowexecutions.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://workflowexecutions.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://workflowexecutions.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://workflowexecutions.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "endpointUrl": "https://workflowexecutions.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://cloud.google.com/workflows",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "version": "v1",
  "name": "workflowexecutions",
  "fullyEncodeReservedExpansion": true,
  "id": "workflowexecutions:v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "schemas": {
    "Exception": {
      "description": "Exception describes why the step entry failed.",
      "id": "Exception",
      "type": "object",
      "properties": {
        "payload": {
          "type": "string",
          "description": "Error message represented as a JSON string."
        }
      }
    },
    "StepEntry": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recently updated time of the step entry.",
          "format": "google-datetime"
        },
        "step": {
          "description": "Output only. The name of the step this step entry belongs to.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The creation time of the step entry.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "stepEntryMetadata": {
          "$ref": "StepEntryMetadata",
          "readOnly": true,
          "description": "Output only. The StepEntryMetadata associated with this step."
        },
        "navigationInfo": {
          "$ref": "NavigationInfo",
          "description": "Output only. The NavigationInfo associated with this step.",
          "readOnly": true
        },
        "variableData": {
          "description": "Output only. The VariableData associated with this step.",
          "readOnly": true,
          "$ref": "VariableData"
        },
        "routine": {
          "description": "Output only. The name of the routine this step entry belongs to. A routine name is the subworkflow name defined in the YAML source code. The top level routine name is `main`.",
          "type": "string",
          "readOnly": true
        },
        "exception": {
          "$ref": "Exception",
          "description": "Output only. The exception thrown by the step entry.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full resource name of the step entry. Each step entry has a unique entry ID, which is a monotonically increasing counter. Step entry names have the format: `projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/stepEntries/{step_entry}`.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Invalid state.",
            "The step entry is in progress.",
            "The step entry finished successfully.",
            "The step entry failed with an error.",
            "The step entry is cancelled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_IN_PROGRESS",
            "STATE_SUCCEEDED",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ],
          "description": "Output only. The state of the step entry.",
          "readOnly": true
        },
        "stepType": {
          "enumDescriptions": [
            "Invalid step type.",
            "The step entry assigns new variable(s).",
            "The step entry calls a standard library routine.",
            "The step entry calls a connector.",
            "The step entry calls a subworklfow.",
            "The step entry calls a subworkflow/stdlib.",
            "The step entry executes a switch-case block.",
            "The step entry executes a condition inside a switch.",
            "The step entry executes a for loop.",
            "The step entry executes a iteration of a for loop.",
            "The step entry executes a parallel for loop.",
            "The step entry executes a series of parallel branch(es).",
            "The step entry executes a branch of a parallel branch.",
            "The step entry executes a try/retry/except block.",
            "The step entry executes the try part of a try/retry/except block.",
            "The step entry executes the retry part of a try/retry/except block.",
            "The step entry executes the except part of a try/retry/except block.",
            "The step entry returns.",
            "The step entry raises an error.",
            "The step entry jumps to another step."
          ],
          "enum": [
            "STEP_TYPE_UNSPECIFIED",
            "STEP_ASSIGN",
            "STEP_STD_LIB_CALL",
            "STEP_CONNECTOR_CALL",
            "STEP_SUBWORKFLOW_CALL",
            "STEP_CALL",
            "STEP_SWITCH",
            "STEP_CONDITION",
            "STEP_FOR",
            "STEP_FOR_ITERATION",
            "STEP_PARALLEL_FOR",
            "STEP_PARALLEL_BRANCH",
            "STEP_PARALLEL_BRANCH_ENTRY",
            "STEP_TRY_RETRY_EXCEPT",
            "STEP_TRY",
            "STEP_RETRY",
            "STEP_EXCEPT",
            "STEP_RETURN",
            "STEP_RAISE",
            "STEP_GOTO"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the step this step entry belongs to."
        },
        "entryId": {
          "type": "string",
          "description": "Output only. The numeric ID of this step entry, used for navigation.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "StepEntry",
      "description": "An StepEntry contains debugging information for a step transition in a workflow execution."
    },
    "StateError": {
      "description": "Describes an error related to the current state of the Execution resource.",
      "id": "StateError",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Provides specifics about the error."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No type specified.",
            "Caused by an issue with KMS."
          ],
          "description": "The type of this state error.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "KMS_ERROR"
          ]
        }
      }
    },
    "TriggerPubsubExecutionRequest": {
      "properties": {
        "GCPCloudEventsMode": {
          "description": "Required. LINT: LEGACY_NAMES The query parameter value for __GCP_CloudEventsMode, set by the Eventarc service when configuring triggers.",
          "type": "string"
        },
        "deliveryAttempt": {
          "format": "int32",
          "description": "The number of attempts that have been made to deliver this message. This is set by Pub/Sub for subscriptions that have the \"dead letter\" feature enabled, and hence provided here for compatibility, but is ignored by Workflows.",
          "type": "integer"
        },
        "message": {
          "description": "Required. The message of the Pub/Sub push notification.",
          "$ref": "PubsubMessage"
        },
        "subscription": {
          "description": "Required. The subscription of the Pub/Sub push notification. Format: projects/{project}/subscriptions/{sub}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for the TriggerPubsubExecution method.",
      "id": "TriggerPubsubExecutionRequest"
    },
    "CancelExecutionRequest": {
      "properties": {},
      "id": "CancelExecutionRequest",
      "type": "object",
      "description": "Request for the CancelExecution method."
    },
    "PubsubMessage": {
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Optional. The message data field. If this field is empty, the message must contain at least one attribute."
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription.",
          "type": "object"
        },
        "publishTime": {
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "format": "google-datetime",
          "type": "string"
        },
        "orderingKey": {
          "description": "Optional. If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PubsubMessage",
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits."
    },
    "StackTrace": {
      "description": "A collection of stack elements (frames) where an error occurred.",
      "type": "object",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "$ref": "StackTraceElement"
          },
          "description": "An array of stack elements."
        }
      },
      "id": "StackTrace"
    },
    "ListStepEntriesResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the total number of StepEntries that matched the request filter. For running executions, this number shows the number of StepEntries that are executed thus far."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListStepEntriesRequest.page_token field in the subsequent call to `ListStepEntries` method to retrieve the next page of results."
        },
        "stepEntries": {
          "type": "array",
          "description": "The list of entries.",
          "items": {
            "$ref": "StepEntry"
          }
        }
      },
      "id": "ListStepEntriesResponse",
      "description": "Response message for ExecutionHistory.ListStepEntries."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "StepEntryMetadata": {
      "properties": {
        "progressNumber": {
          "description": "Progress number represents the current state of the current progress. eg: A step entry represents the 4th iteration in a progress of PROGRESS_TYPE_FOR. Note: This field is only populated when an iteration exists and the starting value is 1.",
          "format": "int64",
          "type": "string"
        },
        "expectedIteration": {
          "description": "Expected iteration represents the expected number of iterations in the step's progress.",
          "type": "string",
          "format": "int64"
        },
        "threadId": {
          "description": "Child thread id that this step entry belongs to.",
          "type": "string"
        },
        "progressType": {
          "description": "Progress type of this step entry.",
          "type": "string",
          "enum": [
            "PROGRESS_TYPE_UNSPECIFIED",
            "PROGRESS_TYPE_FOR",
            "PROGRESS_TYPE_SWITCH",
            "PROGRESS_TYPE_RETRY",
            "PROGRESS_TYPE_PARALLEL_FOR",
            "PROGRESS_TYPE_PARALLEL_BRANCH"
          ],
          "enumDescriptions": [
            "Current step entry does not have any progress data.",
            "Current step entry is in progress of a FOR step.",
            "Current step entry is in progress of a SWITCH step.",
            "Current step entry is in progress of a RETRY step.",
            "Current step entry is in progress of a PARALLEL FOR step.",
            "Current step entry is in progress of a PARALLEL BRANCH step."
          ]
        }
      },
      "description": "StepEntryMetadata contains metadata information about this step.",
      "type": "object",
      "id": "StepEntryMetadata"
    },
    "ExportDataResponse": {
      "description": "Response for the ExportData method.",
      "type": "object",
      "id": "ExportDataResponse",
      "properties": {
        "data": {
          "type": "string",
          "description": "The JSON string with customer data and metadata for an execution with the given name"
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Marks the beginning of execution. Note that this will be the same as `createTime` for executions that start immediately.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Execution data is unavailable. See the `state_error` field.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "description": "Output only. Current state of the execution.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with this execution. Labels can contain at most 64 entries. Keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, and dashes. Label keys must start with a letter. International characters are allowed. By default, labels are inherited from the workflow but are overridden by any labels associated with the execution.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "disableConcurrencyQuotaOverflowBuffering": {
          "description": "Optional. If set to true, the execution will not be backlogged when the concurrency quota is exhausted. The backlog execution starts when the concurrency quota becomes available.",
          "type": "boolean"
        },
        "status": {
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Marks the creation of the execution.",
          "format": "google-datetime",
          "readOnly": true
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. Measures the duration of the execution.",
          "type": "string",
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
          "type": "string",
          "readOnly": true
        },
        "executionHistoryLevel": {
          "enumDescriptions": [
            "The default/unset value.",
            "Enable execution history basic feature for this execution.",
            "Enable execution history detailed feature for this execution."
          ],
          "enum": [
            "EXECUTION_HISTORY_LEVEL_UNSPECIFIED",
            "EXECUTION_HISTORY_BASIC",
            "EXECUTION_HISTORY_DETAILED"
          ],
          "description": "Optional. Describes the execution history level to apply to this execution. If not specified, the execution history level is determined by its workflow's execution history level. If the levels are different, the executionHistoryLevel overrides the workflow's execution history level for this execution.",
          "type": "string"
        },
        "workflowRevisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Revision of the workflow this execution is using."
        },
        "error": {
          "readOnly": true,
          "$ref": "Error",
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Marks the end of execution, successful or not.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "callLogLevel": {
          "description": "The call logging level associated to this execution.",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows.",
            "Explicitly log nothing."
          ],
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY",
            "LOG_NONE"
          ],
          "type": "string"
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "stateError": {
          "$ref": "StateError",
          "readOnly": true,
          "description": "Output only. Error regarding the state of the Execution resource. For example, this field will have error details if the execution data is unavailable due to revoked KMS key permissions."
        }
      },
      "type": "object",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1/projects.locations.workflows)."
    },
    "NavigationInfo": {
      "id": "NavigationInfo",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The step entry, if any, that can be reached by \"stepping out\" of the current workflow being executed.",
          "format": "int64"
        },
        "previous": {
          "format": "int64",
          "type": "string",
          "description": "The index of the previous step in the current workflow, if any."
        },
        "next": {
          "type": "string",
          "description": "The index of the next step in the current workflow, if any.",
          "format": "int64"
        },
        "children": {
          "type": "array",
          "description": "Step entries that can be reached by \"stepping into\" e.g. a subworkflow call.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "NavigationInfo describes what steps if any come before or after this step, or what steps are parents or children of this step."
    },
    "Callback": {
      "description": "An instance of a Callback created by an execution.",
      "properties": {
        "availablePayloads": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The payloads received by the callback that have not been processed by a waiting execution step.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The resource name of the callback. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/callback/{callback}",
          "type": "string",
          "readOnly": true
        },
        "waiters": {
          "description": "Output only. Number of execution steps waiting on this callback.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Output only. The method accepted by the callback. For example: GET, POST, PUT.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Callback"
    },
    "Position": {
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "type": "object",
      "id": "Position",
      "properties": {
        "length": {
          "description": "The number of bytes of source code making up this stack trace element.",
          "type": "string",
          "format": "int64"
        },
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "The source code column position (of the line) the current instruction was generated from.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Status": {
      "description": "Represents the current status of this execution.",
      "type": "object",
      "properties": {
        "currentSteps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step."
        }
      },
      "id": "Status"
    },
    "Step": {
      "type": "object",
      "description": "Represents a step of the workflow this execution is running.",
      "id": "Step",
      "properties": {
        "routine": {
          "type": "string",
          "description": "Name of a routine within the workflow."
        },
        "step": {
          "type": "string",
          "description": "Name of a step within the routine."
        }
      }
    },
    "VariableData": {
      "properties": {
        "variables": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Variables that are associated with this step.",
          "type": "object"
        }
      },
      "id": "VariableData",
      "type": "object",
      "description": "VariableData contains the variable data for this step."
    },
    "DeleteExecutionHistoryRequest": {
      "description": "Request for the DeleteExecutionHistory method.",
      "type": "object",
      "id": "DeleteExecutionHistoryRequest",
      "properties": {}
    },
    "Error": {
      "properties": {
        "context": {
          "type": "string",
          "description": "Human-readable stack trace string."
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        }
      },
      "description": "Error describes why the execution was abnormally terminated.",
      "type": "object",
      "id": "Error"
    },
    "ListExecutionsResponse": {
      "properties": {
        "executions": {
          "description": "The executions which match the request.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListExecutionsResponse",
      "description": "Response for the ListExecutions method."
    },
    "ListCallbacksResponse": {
      "id": "ListCallbacksResponse",
      "description": "RPC response object for the ListCallbacks method.",
      "properties": {
        "callbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "The callbacks which match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StackTraceElement": {
      "id": "StackTraceElement",
      "properties": {
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        },
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        }
      },
      "description": "A single stack element (frame) where an error occurred.",
      "type": "object"
    }
  },
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "title": "Workflow Executions API",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "resources": {
                    "stepEntries": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "id": "workflowexecutions.projects.locations.workflows.executions.stepEntries.list",
                          "path": "v1/{+parent}/stepEntries",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/stepEntries",
                          "description": "Lists step entries for the corresponding workflow execution. Returned entries are ordered by their create_time.",
                          "response": {
                            "$ref": "ListStepEntriesResponse"
                          },
                          "parameters": {
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Comma-separated list of fields that specify the ordering applied to the `[StepEntries.ListStepEntries]` results. By default the ordering is based on ascending `entryId`. The following fields are supported for ordering: `entryId`, `createTime`, `updateTime`, `routine`, `step`, `stepType`, `state`. For details, see AIP-132."
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListStepEntries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStepEntries` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "view": {
                              "enumDescriptions": [
                                "The default/unset value.",
                                "Include basic information in the step entries. All fields in StepEntry are returned except for variable_data.",
                                "Include all data."
                              ],
                              "enum": [
                                "EXECUTION_ENTRY_VIEW_UNSPECIFIED",
                                "EXECUTION_ENTRY_VIEW_BASIC",
                                "EXECUTION_ENTRY_VIEW_DETAILED"
                              ],
                              "deprecated": true,
                              "description": "Deprecated field.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. Number of step entries to return per call. The default max is 1000.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "skip": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The number of step entries to skip. It can be used with or without a pageToken. If used with a pageToken, then it indicates the number of step entries to skip starting from the requested page."
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Filters applied to the `[StepEntries.ListStepEntries]` results. The following fields are supported for filtering: `entryId`, `createTime`, `updateTime`, `routine`, `step`, `stepType`, `parent`, `state`. For details, see AIP-160. For example, if you are using the Google APIs Explorer: `state=\"SUCCEEDED\"` or `createTime>\"2023-08-01\" AND state=\"FAILED\"`"
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. Name of the workflow execution to list entries for. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workflowexecutions.projects.locations.workflows.executions.stepEntries.get",
                          "response": {
                            "$ref": "StepEntry"
                          },
                          "description": "Gets a step entry.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/stepEntries/{stepEntriesId}",
                          "parameters": {
                            "view": {
                              "deprecated": true,
                              "enum": [
                                "EXECUTION_ENTRY_VIEW_UNSPECIFIED",
                                "EXECUTION_ENTRY_VIEW_BASIC",
                                "EXECUTION_ENTRY_VIEW_DETAILED"
                              ],
                              "location": "query",
                              "enumDescriptions": [
                                "The default/unset value.",
                                "Include basic information in the step entries. All fields in StepEntry are returned except for variable_data.",
                                "Include all data."
                              ],
                              "description": "Deprecated field.",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+/stepEntries/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the step entry to retrieve. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/stepEntries/{step_entry}",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}"
                        }
                      }
                    },
                    "callbacks": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/callbacks",
                          "path": "v1/{+parent}/callbacks",
                          "response": {
                            "$ref": "ListCallbacksResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageSize": {
                              "description": "Maximum number of callbacks to return per call. The default value is 100 and is also the maximum value.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "parent": {
                              "description": "Required. Name of the execution for which the callbacks should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListCallbacks` call. Provide this to retrieve the subsequent page. Note that pagination is applied to dynamic data. The list of callbacks returned can change between page requests if callbacks are created or deleted."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Returns a list of active callbacks that belong to the execution with the given name. The returned callbacks are ordered by callback ID.",
                          "httpMethod": "GET",
                          "id": "workflowexecutions.projects.locations.workflows.executions.callbacks.list"
                        }
                      }
                    }
                  },
                  "methods": {
                    "create": {
                      "path": "v1/{+parent}/executions",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Creates a new execution using the latest revision of the given workflow. For more information, see Execute a workflow.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "request": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "path": "v1/{+parent}/executions",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 1000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filters applied to the `[Executions.ListExecutions]` results. The following fields are supported for filtering: `executionId`, `state`, `createTime`, `startTime`, `endTime`, `duration`, `workflowRevisionId`, `stepName`, `label`, and `disableConcurrencyQuotaOverflowBuffering`. For details, see AIP-160. For more information, see Filter executions. For example, if you are using the Google APIs Explorer: `state=\"SUCCEEDED\"` or `startTime>\"2023-08-01\" AND state=\"FAILED\"`",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Comma-separated list of fields that specify the ordering applied to the `[Executions.ListExecutions]` results. By default the ordering is based on descending `createTime`. The following fields are supported for ordering: `executionId`, `state`, `createTime`, `startTime`, `endTime`, `duration`, and `workflowRevisionId`. For details, see AIP-132."
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "type": "string",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token. Note that pagination is applied to dynamic data. The list of executions returned can change between page requests."
                        }
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.list"
                    },
                    "cancel": {
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "description": "Cancels an execution of the given name.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel"
                    },
                    "exportData": {
                      "path": "v1/{+name}:exportData",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:exportData",
                      "response": {
                        "$ref": "ExportDataResponse"
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.exportData",
                      "description": "Returns all metadata stored about an execution, excluding most data that is already accessible using other API methods.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the execution for which data is to be exported. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "deleteExecutionHistory": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes all step entries for an execution.",
                      "path": "v1/{+name}:deleteExecutionHistory",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.deleteExecutionHistory",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:deleteExecutionHistory",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the execution for which step entries should be deleted. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "DeleteExecutionHistoryRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "location": "query",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Returns an execution of the given name.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "id": "workflowexecutions.projects.locations.workflows.executions.get"
                    }
                  }
                }
              },
              "methods": {
                "triggerPubsubExecution": {
                  "id": "workflowexecutions.projects.locations.workflows.triggerPubsubExecution",
                  "request": {
                    "$ref": "TriggerPubsubExecutionRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}:triggerPubsubExecution",
                  "response": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "workflow"
                  ],
                  "parameters": {
                    "workflow": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Triggers a new execution using the latest revision of the given workflow by a Pub/Sub push notification.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+workflow}:triggerPubsubExecution"
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260904",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "description": "Execute workflows created with Workflows API.",
  "canonicalName": "Workflow Executions",
  "basePath": "",
  "ownerName": "Google"
}