{
  "id": "workstations:v1beta",
  "name": "workstations",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/workstations",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Cloud Workstations",
  "protocol": "rest",
  "basePath": "",
  "ownerName": "Google",
  "schemas": {
    "StartWorkstationRequest": {
      "description": "Request message for StartWorkstation.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        },
        "boostConfig": {
          "description": "Optional. If set, the workstation starts using the boost configuration with the specified ID.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
          "type": "boolean"
        }
      },
      "id": "StartWorkstationRequest"
    },
    "ListWorkstationConfigsResponse": {
      "description": "Response message for ListWorkstationConfigs.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstationConfigs": {
          "description": "The requested configs.",
          "type": "array",
          "items": {
            "$ref": "WorkstationConfig"
          }
        }
      },
      "id": "ListWorkstationConfigsResponse"
    },
    "SuspendWorkstationRequest": {
      "id": "SuspendWorkstationRequest",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        }
      },
      "description": "Request message for SuspendWorkstation.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GcePersistentDisk": {
      "id": "GcePersistentDisk",
      "properties": {
        "diskType": {
          "description": "Optional. Type of the disk to use. Defaults to `\"pd-standard\"`.",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. Must be empty if source_image is set. Must be empty if read_only is false. Updating source_snapshot will update content in the ephemeral directory after the workstation is restarted. Only file systems supported by Container-Optimized OS (COS) are explicitly supported. For a list of supported file systems, see [the filesystems available in Container-Optimized OS](https://cloud.google.com/container-optimized-os/docs/concepts/supported-filesystems). This field is mutable.",
          "type": "string"
        },
        "sourceImage": {
          "description": "Optional. Name of the disk image to use as the source for the disk. Must be empty if source_snapshot is set. Updating source_image will update content in the ephemeral directory after the workstation is restarted. Only file systems supported by Container-Optimized OS (COS) are explicitly supported. For a list of supported file systems, please refer to the [COS documentation](https://cloud.google.com/container-optimized-os/docs/concepts/supported-filesystems). This field is mutable.",
          "type": "string"
        },
        "readOnly": {
          "description": "Optional. Whether the disk is read only. If true, the disk may be shared by multiple VMs and source_snapshot must be set.",
          "type": "boolean"
        }
      },
      "description": "An EphemeralDirectory is backed by a Compute Engine persistent disk.",
      "type": "object"
    },
    "GatewayConfig": {
      "description": "Configuration options for Cluster HTTP Gateway.",
      "type": "object",
      "properties": {
        "http2Enabled": {
          "description": "Optional. Whether HTTP/2 is enabled for this workstation cluster. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "GatewayConfig"
    },
    "GceConfidentialInstanceConfig": {
      "id": "GceConfidentialInstanceConfig",
      "description": "A set of Compute Engine Confidential VM instance options.",
      "type": "object",
      "properties": {
        "enableConfidentialCompute": {
          "description": "Optional. Whether the instance has confidential compute enabled.",
          "type": "boolean"
        }
      }
    },
    "WorkstationPersistentDirectory": {
      "id": "WorkstationPersistentDirectory",
      "properties": {
        "sizeGb": {
          "format": "int32",
          "description": "Optional. Size of the persistent directory in GB. If specified in an update request, this is the desired size of the directory.",
          "type": "integer"
        },
        "mountPath": {
          "description": "Optional. The mount path of the persistent directory.",
          "type": "string"
        }
      },
      "description": "A directory to persist across workstation sessions. Updates to this field will only take effect on this workstation after it is restarted.",
      "type": "object"
    },
    "RuntimeHost": {
      "properties": {
        "gceInstanceHost": {
          "description": "Specifies a Compute Engine instance as the host.",
          "$ref": "GceInstanceHost"
        }
      },
      "description": "Runtime host for the workstation.",
      "type": "object",
      "id": "RuntimeHost"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "WorkstationCluster": {
      "description": "A workstation cluster resource in the Cloud Workstations API. Defines a group of workstations in a particular region and the VPC network they're attached to.",
      "type": "object",
      "properties": {
        "controlPlaneIp": {
          "description": "Output only. The private IP address of the control plane for this workstation cluster. Workstation VMs need access to this IP address to work with the service, so make sure that your firewall rules allow egress from the workstation VMs to this address.",
          "readOnly": true,
          "type": "string"
        },
        "domainConfig": {
          "description": "Optional. Configuration options for a custom domain.",
          "$ref": "DomainConfig"
        },
        "workstationLaunchUrl": {
          "description": "Optional. Specifies the launch URL for workstations in this cluster. Requests sent to unstarted workstations will be redirected to this URL. Requests redirected to the launch endpoint will be sent with a `workstation` and `project` query parameter containing the full workstation resource name and project ID, respectively. The launch endpoint is responsible for starting the workstation, polling it until it reaches `STATE_RUNNING`, and then issuing a redirect to the workstation's host URL.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this workstation cluster was created.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. Time when this workstation cluster was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this workstation cluster was most recently updated.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation cluster is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "gatewayConfig": {
          "description": "Optional. Configuration options for Cluster HTTP Gateway.",
          "$ref": "GatewayConfig"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client-specified annotations.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation cluster and that are also propagated to the underlying Compute Engine resources.",
          "type": "object"
        },
        "degraded": {
          "description": "Output only. Whether this workstation cluster is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "network": {
          "description": "Immutable. Name of the Compute Engine network in which instances associated with this workstation cluster will be created.",
          "type": "string"
        },
        "privateClusterConfig": {
          "description": "Optional. Configuration for private workstation cluster.",
          "$ref": "PrivateClusterConfig"
        },
        "workstationAuthorizationUrl": {
          "description": "Optional. Specifies the redirect URL for unauthorized requests received by workstation VMs in this cluster. Redirects to this endpoint will send a base64 encoded `state` query param containing the target workstation name and original request hostname. The endpoint is responsible for retrieving a token using `GenerateAccessToken` and redirecting back to the original hostname with the token.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation cluster.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation cluster.",
          "readOnly": true,
          "type": "string"
        },
        "subnetwork": {
          "description": "Immutable. Name of the Compute Engine subnetwork in which instances associated with this workstation cluster will be created. Must be part of the subnetwork specified for this workstation cluster.",
          "type": "string"
        },
        "conditions": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Status conditions describing the workstation cluster's current state.",
          "readOnly": true,
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Full name of this workstation cluster.",
          "type": "string"
        }
      },
      "id": "WorkstationCluster"
    },
    "ListWorkstationsResponse": {
      "description": "Response message for ListWorkstations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Unreachable resources.",
          "type": "array"
        },
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListWorkstationsResponse"
    },
    "EphemeralDirectory": {
      "id": "EphemeralDirectory",
      "description": "An ephemeral directory which won't persist across workstation sessions. It is freshly created on every workstation start operation.",
      "type": "object",
      "properties": {
        "gcePd": {
          "description": "An EphemeralDirectory backed by a Compute Engine persistent disk.",
          "$ref": "GcePersistentDisk"
        },
        "mountPath": {
          "description": "Required. Location of this directory in the running workstation.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "PushCredentialsRequest": {
      "properties": {
        "applicationDefaultCredentials": {
          "description": "Optional. Credentials used by Cloud Client Libraries, Google API Client Libraries, and other tooling within the user container. For more information, see https://cloud.google.com/docs/authentication/application-default-credentials",
          "$ref": "OAuthToken"
        }
      },
      "description": "Request message for PushCredentials.",
      "type": "object",
      "id": "PushCredentialsRequest"
    },
    "OperationMetadata": {
      "description": "Metadata for long-running operations.",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time that the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Time that the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "GceShieldedInstanceConfig": {
      "id": "GceShieldedInstanceConfig",
      "description": "A set of Compute Engine Shielded instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Optional. Whether the instance has Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Whether the instance has the vTPM enabled.",
          "type": "boolean"
        }
      }
    },
    "ReadinessCheck": {
      "description": "A readiness check to be performed on a workstation.",
      "type": "object",
      "properties": {
        "port": {
          "description": "Optional. Port to which the request should be sent.",
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "description": "Optional. Path to which the request should be sent.",
          "type": "string"
        }
      },
      "id": "ReadinessCheck"
    },
    "PrivateClusterConfig": {
      "properties": {
        "allowedProjects": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional projects that are allowed to attach to the workstation cluster's service attachment. By default, the workstation cluster's project and the VPC host project (if different) are allowed.",
          "type": "array"
        },
        "enablePrivateEndpoint": {
          "description": "Immutable. Whether Workstations endpoint is private.",
          "type": "boolean"
        },
        "clusterHostname": {
          "description": "Output only. Hostname for the workstation cluster. This field will be populated only when private endpoint is enabled. To access workstations in the workstation cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachmentUri": {
          "description": "Output only. Service attachment URI for the workstation cluster. The service attachment is created when private endpoint is enabled. To access workstations in the workstation cluster, configure access to the managed service using [Private Service Connect](https://cloud.google.com/vpc/docs/configure-private-service-connect-services).",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration options for private workstation clusters.",
      "type": "object",
      "id": "PrivateClusterConfig"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "WorkstationBoostConfig": {
      "id": "WorkstationBoostConfig",
      "properties": {
        "id": {
          "description": "Output only. Boost configuration ID.",
          "readOnly": true,
          "type": "string"
        },
        "running": {
          "description": "Output only. Whether or not the current workstation is actively boosted with this id.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Boost configuration for this workstation. This object is populated from the parent workstation configuration.",
      "type": "object"
    },
    "Host": {
      "properties": {
        "gceInstance": {
          "description": "Specifies a Compute Engine instance as the host.",
          "$ref": "GceInstance"
        }
      },
      "description": "Runtime host for a workstation.",
      "type": "object",
      "id": "Host"
    },
    "Accelerator": {
      "id": "Accelerator",
      "properties": {
        "type": {
          "description": "Optional. Type of accelerator resource to attach to the instance, for example, `\"nvidia-tesla-p100\"`.",
          "type": "string"
        },
        "count": {
          "description": "Optional. Number of accelerator cards exposed to the instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An accelerator card attached to the instance.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "GceInstanceHost": {
      "id": "GceInstanceHost",
      "properties": {
        "name": {
          "description": "Optional. Output only. The name of the Compute Engine instance.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Optional. Output only. The ID of the Compute Engine instance.",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "description": "Optional. Output only. The zone of the Compute Engine instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The Compute Engine instance host.",
      "type": "object"
    },
    "GceInstance": {
      "description": "A runtime using a Compute Engine instance.",
      "type": "object",
      "properties": {
        "serviceAccountScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Scopes to grant to the service_account. When specified, users of workstations under this configuration must have `iam.serviceAccounts.actAs` on the service account.",
          "type": "array"
        },
        "serviceAccount": {
          "description": "Optional. The email address of the service account for Cloud Workstations VMs created with this configuration. When specified, be sure that the service account has `logging.logEntries.create` and `monitoring.timeSeries.create` permissions on the project so it can write logs out to Cloud Logging. If using a custom container image, the service account must have [Artifact Registry Reader](https://cloud.google.com/artifact-registry/docs/access-control#roles) permission to pull the specified image. If you as the administrator want to be able to `ssh` into the underlying VM, you need to set this value to a service account for which you have the `iam.serviceAccounts.actAs` permission. Conversely, if you don't want anyone to be able to `ssh` into the underlying VM, use a service account where no one has that permission. If not set, VMs run with a service account provided by the Cloud Workstations service, and the image must be publicly accessible.",
          "type": "string"
        },
        "reservationAffinity": {
          "description": "Optional. [ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) specifies a reservation that can be consumed to create VM instances. If SPECIFIC_RESERVATION is specified, Cloud Workstations will only create VMs in the zone where the reservation is located. This would affect availability since the service will no longer be resilient to zonal outages. If ANY_RESERVATION is specified, creating reservations in both zones that the config creates VMs in will ensure higher availability. **Important Considerations for Reservation Affinity:** * This feature is intended for advanced users and requires familiarity with Google Compute Engine reservations. * Using reservations incurs charges, regardless of utilization. * The resources in the pool will consume the specified reservation. Take this into account when setting the pool size.",
          "$ref": "ReservationAffinity"
        },
        "poolSize": {
          "format": "int32",
          "description": "Optional. The number of VMs that the system should keep idle so that new workstations can be started quickly for new users. Defaults to `0` in the API.",
          "type": "integer"
        },
        "pooledInstances": {
          "format": "int32",
          "description": "Output only. Number of instances currently available in the pool for faster workstation startup.",
          "readOnly": true,
          "type": "integer"
        },
        "disablePublicIpAddresses": {
          "description": "Optional. When set to true, disables public IP addresses for VMs. If you disable public IP addresses, you must set up Private Google Access or Cloud NAT on your network. If you use Private Google Access and you use `private.googleapis.com` or `restricted.googleapis.com` for Container Registry and Artifact Registry, make sure that you set up DNS records for domains `*.gcr.io` and `*.pkg.dev`. Defaults to false (VMs have public IP addresses).",
          "type": "boolean"
        },
        "boostConfigs": {
          "description": "Optional. A list of the boost configurations that workstations created using this workstation configuration are allowed to use. If specified, users will have the option to choose from the list of boost configs when starting a workstation.",
          "type": "array",
          "items": {
            "$ref": "BoostConfig"
          }
        },
        "confidentialInstanceConfig": {
          "description": "Optional. A set of Compute Engine Confidential VM instance options.",
          "$ref": "GceConfidentialInstanceConfig"
        },
        "bootDiskSizeGb": {
          "description": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB.",
          "type": "integer",
          "format": "int32"
        },
        "vmTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags to be bound to this instance. Tag keys and values have the same definition as [resource manager tags](https://cloud.google.com/resource-manager/docs/tags/tags-overview). Keys must be in the format `tagKeys/{tag_key_id}`, and values are in the format `tagValues/456`.",
          "type": "object"
        },
        "machineType": {
          "description": "Optional. The type of machine to use for VM instances—for example, `\"e2-standard-4\"`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types).",
          "type": "string"
        },
        "startupScriptUri": {
          "description": "Optional. Link to the startup script stored in Cloud Storage. This script will be run on the host workstation VM when the VM is created. The URI must be of the form gs://{bucket-name}/{object-name}. If specifying a startup script, the service account must have [Permission to access the bucket and script file in Cloud Storage](https://cloud.google.com/storage/docs/access-control/iam-permissions). Otherwise, the script must be publicly accessible. Note that the service regularly updates the OS version of the host VM, and it is the responsibility of the user to ensure the script stays compatible with the OS version.",
          "type": "string"
        },
        "instanceMetadata": {
          "description": "Optional. Custom metadata to apply to Compute Engine instances.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "accelerators": {
          "description": "Optional. A list of the type and count of accelerator cards attached to the instance.",
          "type": "array",
          "items": {
            "$ref": "Accelerator"
          }
        },
        "enableNestedVirtualization": {
          "description": "Optional. Whether to enable nested virtualization on Cloud Workstations VMs created using this workstation configuration. Defaults to false. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on workstation configurations that specify a machine_type in the N1 or N2 machine series.",
          "type": "boolean"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. A set of Compute Engine Shielded instance options.",
          "$ref": "GceShieldedInstanceConfig"
        },
        "tags": {
          "description": "Optional. Network tags to add to the Compute Engine VMs backing the workstations. This option applies [network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags) to VMs created with this configuration. These network tags enable the creation of [firewall rules](https://cloud.google.com/workstations/docs/configure-firewall-rules).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableSsh": {
          "description": "Optional. Whether to disable SSH access to the VM.",
          "type": "boolean"
        }
      },
      "id": "GceInstance"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "Container": {
      "id": "Container",
      "description": "A Docker container.",
      "type": "object",
      "properties": {
        "workingDir": {
          "description": "Optional. If set, overrides the default DIR specified by the image.",
          "type": "string"
        },
        "env": {
          "description": "Optional. Environment variables passed to the container's entrypoint.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "command": {
          "description": "Optional. If set, overrides the default ENTRYPOINT specified by the image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Arguments passed to the entrypoint.",
          "type": "array"
        },
        "runAsUser": {
          "description": "Optional. If set, overrides the USER specified in the image with the given uid.",
          "type": "integer",
          "format": "int32"
        },
        "image": {
          "description": "Optional. A Docker container image that defines a custom environment. Cloud Workstations provides a number of [preconfigured images](https://cloud.google.com/workstations/docs/preconfigured-base-images), but you can create your own [custom container images](https://cloud.google.com/workstations/docs/custom-container-images). If using a private image, the `host.gceInstance.serviceAccount` field must be specified in the workstation configuration. If using a custom container image, the service account must have [Artifact Registry Reader](https://cloud.google.com/artifact-registry/docs/access-control#roles) permission to pull the specified image. Otherwise, the image must be publicly accessible.",
          "type": "string"
        }
      }
    },
    "ListUsableWorkstationsResponse": {
      "properties": {
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        }
      },
      "description": "Response message for ListUsableWorkstations.",
      "type": "object",
      "id": "ListUsableWorkstationsResponse"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "GceRegionalPersistentDisk": {
      "id": "GceRegionalPersistentDisk",
      "properties": {
        "fsType": {
          "description": "Optional. Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if source_snapshot is set. Defaults to `\"ext4\"`.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`. If less than `200` GB, the disk_type must be `\"pd-balanced\"` or `\"pd-ssd\"`.",
          "type": "integer",
          "format": "int32"
        },
        "reclaimPolicy": {
          "description": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`.",
          "type": "string",
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ],
          "enumDescriptions": [
            "Do not use.",
            "Delete the persistent disk when deleting the workstation.",
            "Keep the persistent disk when deleting the workstation. An administrator must manually delete the disk."
          ]
        },
        "diskType": {
          "description": "Optional. The [type of the persistent disk](https://cloud.google.com/compute/docs/disks#disk-types) for the home directory. Defaults to `\"pd-standard\"`.",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb and fs_type must be empty. Must be formatted as ext4 file system with no partitions.",
          "type": "string"
        },
        "archiveTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds to wait after initially creating or subsequently shutting down the workstation before converting its disk into a snapshot. This generally saves costs at the expense of greater startup time on next workstation start, as the service will need to create a disk from the archival snapshot. A value of `\"0s\"` indicates that the disk will never be archived.",
          "type": "string"
        },
        "maxSizeGb": {
          "description": "Optional. Maximum size in GB to which this persistent directory can be resized. Defaults to `0`, which indicates no maximum limit is enforced by this configuration. Resizing is still subject to the quotas and limits of the underlying disk type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A Persistent Directory backed by a Compute Engine regional persistent disk. The persistent_directories field is repeated, but it may contain only one entry. It creates a [persistent disk](https://cloud.google.com/compute/docs/disks/persistent-disks) that mounts to the workstation VM at `/home` when the session starts and detaches when the session ends. If this field is empty, workstations created with this configuration do not have a persistent home directory.",
      "type": "object"
    },
    "HttpOptions": {
      "id": "HttpOptions",
      "properties": {
        "allowedUnauthenticatedCorsPreflightRequests": {
          "description": "Optional. By default, the workstations service makes sure that all requests to the workstation are authenticated. CORS preflight requests do not include cookies or custom headers, and so are considered unauthenticated and blocked by the workstations service. Enabling this option allows these unauthenticated CORS preflight requests through to the workstation, where it becomes the responsibility of the destination server in the workstation to validate the request.",
          "type": "boolean"
        },
        "disableLocalhostReplacement": {
          "description": "Optional. By default, the workstations service replaces references to localhost, 127.0.0.1, and 0.0.0.0 with the workstation's hostname in http responses from the workstation so that applications under development run properly on the workstation. This may intefere with some applications, and so this option allows that behavior to be disabled.",
          "type": "boolean"
        }
      },
      "description": "HTTP options for the running workstations.",
      "type": "object"
    },
    "DomainConfig": {
      "properties": {
        "domain": {
          "description": "Immutable. Domain used by Workstations for HTTP ingress.",
          "type": "string"
        }
      },
      "description": "Configuration options for a custom domain.",
      "type": "object",
      "id": "DomainConfig"
    },
    "BoostConfig": {
      "id": "BoostConfig",
      "properties": {
        "machineType": {
          "description": "Optional. The type of machine that boosted VM instances will use—for example, `e2-standard-4`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types). Defaults to `e2-standard-4`.",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID to be used for the boost configuration.",
          "type": "string"
        },
        "enableNestedVirtualization": {
          "description": "Optional. Whether to enable nested virtualization on boosted Cloud Workstations VMs running using this boost configuration. Defaults to false. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on boost configurations that specify a machine_type in the N1 or N2 machine series.",
          "type": "boolean"
        },
        "poolSize": {
          "description": "Optional. The number of boost VMs that the system should keep idle so that workstations can be boosted quickly. Defaults to `0`.",
          "type": "integer",
          "format": "int32"
        },
        "bootDiskSizeGb": {
          "format": "int32",
          "description": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB.",
          "type": "integer"
        },
        "reservationAffinity": {
          "description": "Optional. [ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) specifies a reservation that can be consumed to create boost VM instances. If SPECIFIC_RESERVATION is specified, Cloud Workstations will only create VMs in the zone where the reservation is located. This would affect availability since the service will no longer be resilient to zonal outages. If ANY_RESERVATION is specified, creating reservations in both zones that the config creates VMs in will ensure higher availability. **Important Considerations for Reservation Affinity:** * This feature is intended for advanced users and requires familiarity with Google Compute Engine reservations. * Using reservations incurs charges, regardless of utilization. * The resources in the pool will consume the specified reservation. Take this into account when setting the pool size.",
          "$ref": "ReservationAffinity"
        },
        "accelerators": {
          "items": {
            "$ref": "Accelerator"
          },
          "description": "Optional. A list of the type and count of accelerator cards attached to the boost instance. Defaults to `none`.",
          "type": "array"
        }
      },
      "description": "A boost configuration is a set of resources that a workstation can use to increase its performance. If you specify a boost configuration, upon startup, workstation users can choose to use a VM provisioned under the boost config by passing the boost config ID in the start request. If the workstation user does not provide a boost config ID in the start request, the system will choose a VM from the pool provisioned under the default config.",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StopWorkstationRequest": {
      "id": "StopWorkstationRequest",
      "description": "Request message for StopWorkstation.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
          "type": "boolean"
        }
      }
    },
    "CustomerEncryptionKey": {
      "properties": {
        "kmsKeyServiceAccount": {
          "description": "Immutable. The service account to use with the specified KMS key. We recommend that you use a separate service account and follow KMS best practices. For more information, see [Separation of duties](https://cloud.google.com/kms/docs/separation-of-duties) and `gcloud kms keys add-iam-policy-binding` [`--member`](https://cloud.google.com/sdk/gcloud/reference/kms/keys/add-iam-policy-binding#--member).",
          "type": "string"
        },
        "kmsKey": {
          "description": "Immutable. The name of the Google Cloud KMS encryption key. For example, `\"projects/PROJECT_ID/locations/REGION/keyRings/KEY_RING/cryptoKeys/KEY_NAME\"`. The key must be in the same region as the workstation configuration.",
          "type": "string"
        }
      },
      "description": "A customer-managed encryption key (CMEK) for the Compute Engine resources of the associated workstation configuration. Specify the name of your Cloud KMS encryption key and the default service account. We recommend that you use a separate service account and follow [Cloud KMS best practices](https://cloud.google.com/kms/docs/separation-of-duties).",
      "type": "object",
      "id": "CustomerEncryptionKey"
    },
    "OAuthToken": {
      "id": "OAuthToken",
      "description": "Represents an OAuth 2.0 access token and its associated metadata.",
      "type": "object",
      "properties": {
        "expiresIn": {
          "format": "google-duration",
          "description": "Optional. The lifetime duration of the access token. Only one of `expire_time` or `expires_in` should be specified.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The scopes associated with the OAuth 2.0 access token. See https://developers.google.com/identity/protocols/oauth2/scopes for more information.",
          "type": "string"
        },
        "accessToken": {
          "description": "Required. The OAuth 2.0 access token value.",
          "type": "string"
        },
        "expireTime": {
          "description": "Optional. The time the OAuth access token will expire. This should be the time the access token was generated plus the expires_in offset returned from the Access Token Response. Only one of `expire_time` or `expires_in` should be specified.",
          "type": "string",
          "format": "google-datetime"
        },
        "email": {
          "description": "Optional. The email address associated with the OAuth 2.0 access token.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "PersistentDirectory": {
      "id": "PersistentDirectory",
      "properties": {
        "mountPath": {
          "description": "Optional. Location of this directory in the running workstation.",
          "type": "string"
        },
        "gcePd": {
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk.",
          "$ref": "GceRegionalPersistentDisk"
        },
        "gceHd": {
          "description": "A PersistentDirectory backed by a Compute Engine hyperdisk high availability disk.",
          "$ref": "GceHyperdiskBalancedHighAvailability"
        }
      },
      "description": "A directory to persist across workstation sessions. Updates to this field will not update existing workstations and will only take effect on new workstations.",
      "type": "object"
    },
    "GceHyperdiskBalancedHighAvailability": {
      "properties": {
        "archiveTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds to wait after initially creating or subsequently shutting down the workstation before converting its disk into a snapshot. This generally saves costs at the expense of greater startup time on next workstation start, as the service will need to create a disk from the archival snapshot. A value of `\"0s\"` indicates that the disk will never be archived.",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb must be empty. Must be formatted as ext4 file system with no partitions.",
          "type": "string"
        },
        "maxSizeGb": {
          "format": "int32",
          "description": "Optional. Maximum size in GB to which this persistent directory can be resized. Defaults to `0`, which indicates no maximum limit is enforced by this configuration. Resizing is still subject to the quotas and limits of the underlying disk type.",
          "type": "integer"
        },
        "provisionedIops": {
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. Values must be between 3000 and 100,000.",
          "type": "string",
          "format": "int64"
        },
        "reclaimPolicy": {
          "enumDescriptions": [
            "Do not use.",
            "Delete the persistent disk when deleting the workstation.",
            "Keep the persistent disk when deleting the workstation. An administrator must manually delete the disk."
          ],
          "description": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`.",
          "type": "string",
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ]
        },
        "sizeGb": {
          "format": "int32",
          "description": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`.",
          "type": "integer"
        },
        "provisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput mb per second that the disk can handle. Values must be between 1 and 2,400.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A Persistent Directory backed by a Compute Engine [Hyperdisk Balanced High Availability Disk](https://cloud.google.com/compute/docs/disks/hd-types/hyperdisk-balanced-ha). This is a high-availability block storage solution that offers a balance between performance and cost for most general-purpose workloads.",
      "type": "object",
      "id": "GceHyperdiskBalancedHighAvailability"
    },
    "ListWorkstationClustersResponse": {
      "properties": {
        "workstationClusters": {
          "items": {
            "$ref": "WorkstationCluster"
          },
          "description": "The requested workstation clusters.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for ListWorkstationClusters.",
      "type": "object",
      "id": "ListWorkstationClustersResponse"
    },
    "WorkstationConfig": {
      "properties": {
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this workstation configuration was soft-deleted.",
          "readOnly": true,
          "type": "string"
        },
        "enableAuditAgent": {
          "description": "Optional. Whether to enable Linux `auditd` logging on the workstation. When enabled, a service_account must also be specified that has `roles/logging.logWriter` and `roles/monitoring.metricWriter` on the project. Operating system audit logging is distinct from [Cloud Audit Logs](https://cloud.google.com/workstations/docs/audit-logging) and [Container output logging](https://cloud.google.com/workstations/docs/container-output-logging#overview). Operating system audit logs are available in the [Cloud Logging](https://cloud.google.com/logging/docs) console by querying: resource.type=\"gce_instance\" log_name:\"/logs/linux-auditd\"",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time when this workstation configuration was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "description": "Optional. Runtime host for the workstation.",
          "$ref": "Host"
        },
        "annotations": {
          "description": "Optional. Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "httpOptions": {
          "description": "Optional. HTTP options that customize the behavior of the workstation service's HTTP proxy.",
          "$ref": "HttpOptions"
        },
        "maxUsableWorkstations": {
          "format": "int32",
          "description": "Optional. Maximum number of workstations under this configuration a user can have `workstations.workstation.use` permission on. Only enforced on CreateWorkstation API calls on the user issuing the API request. Can be overridden by: - granting a user workstations.workstationConfigs.exemptMaxUsableWorkstationLimit permission, or - having a user with that permission create a workstation and granting another user `workstations.workstation.use` permission on that workstation. If not specified, defaults to `0`, which indicates unlimited.",
          "type": "integer"
        },
        "container": {
          "description": "Optional. Container that runs upon startup for each workstation using this workstation configuration.",
          "$ref": "Container"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation configuration is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "runningTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds to wait before automatically stopping a workstation. We recommend that workstations be stopped daily so that security updates can be applied upon restart. The idle_timeout and running_timeout fields are independent of each other. Note that the running_timeout field stops workstations after the specified time, regardless of whether or not the workstations are idle. Provide duration terminated by `s` for seconds—for example, `\"54000s\"` (15 hours). Defaults to `\"43200s\"` (12 hours). A value of `\"0s\"` indicates that workstations using this configuration should never time out. If encryption_key is set, it must be greater than `\"0s\"` and less than `\"86400s\"` (24 hours). Warning: A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration have no maximum running time. This is strongly discouraged because you incur costs and will not pick up security updates.",
          "type": "string"
        },
        "replicaZones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Specifies the zones used to replicate the VM and disk resources within the region. If set, exactly two zones within the workstation cluster's region must be specified—for example, `['us-central1-a', 'us-central1-f']`. If this field is empty, two default zones within the region are used. Immutable after the workstation configuration is created.",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this workstation configuration was most recently updated.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation configuration.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionKey": {
          "description": "Immutable. Encrypts resources of this workstation configuration using a customer-managed encryption key (CMEK). If specified, the boot disk of the Compute Engine instance and the persistent disk are encrypted using this encryption key. If this field is not set, the disks are encrypted using a generated key. Customer-managed encryption keys do not protect disk metadata. If the customer-managed encryption key is rotated, when the workstation instance is stopped, the system attempts to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk might be lost. If the encryption key is revoked, the workstation session automatically stops within 7 hours. Immutable after the workstation configuration is created.",
          "$ref": "CustomerEncryptionKey"
        },
        "idleTimeout": {
          "description": "Optional. Number of seconds to wait before automatically stopping a workstation after it last received user traffic. A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration should never time out due to idleness. Provide [duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) terminated by `s` for seconds—for example, `\"7200s\"` (2 hours). The default is `\"1200s\"` (20 minutes).",
          "type": "string",
          "format": "google-duration"
        },
        "readinessChecks": {
          "description": "Optional. Readiness checks to perform when starting a workstation using this workstation configuration. Mark a workstation as running only after all specified readiness checks return 200 status codes.",
          "type": "array",
          "items": {
            "$ref": "ReadinessCheck"
          }
        },
        "enablePushingCredentials": {
          "description": "Optional. Enables pushing user provided credentials to Workstations by calling workstations.pushCredentials. If application_default_credentials are supplied to pushCredentials, the provided token is returned when tools and applications running in the user container make a request for Default Application Credentials. Please note that any credentials supplied are made available to all users with access to the workstation.",
          "type": "boolean"
        },
        "persistentDirectories": {
          "description": "Optional. Directories to persist across workstation sessions.",
          "type": "array",
          "items": {
            "$ref": "PersistentDirectory"
          }
        },
        "name": {
          "description": "Identifier. Full name of this workstation configuration.",
          "type": "string"
        },
        "ephemeralDirectories": {
          "items": {
            "$ref": "EphemeralDirectory"
          },
          "description": "Optional. Ephemeral directories which won't persist across workstation sessions.",
          "type": "array"
        },
        "idleAction": {
          "enum": [
            "IDLE_ACTION_UNSPECIFIED",
            "STOP",
            "SUSPEND"
          ],
          "description": "Optional. The action to take when the workstation has been idle for the duration specified in idle_timeout. Defaults to STOP.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to STOP.",
            "Stop the workstation after idle_timeout.",
            "Suspend the workstation after idle_timeout."
          ]
        },
        "grantWorkstationAdminRoleOnCreate": {
          "description": "Optional. Grant creator of a workstation `roles/workstations.policyAdmin` role along with `roles/workstations.user` role on the workstation created by them. This allows workstation users to share access to either their entire workstation, or individual ports. Defaults to false.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation configuration and that are also propagated to the underlying Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "degraded": {
          "description": "Output only. Whether this workstation configuration is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the configuration.",
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation configuration.",
          "type": "string"
        },
        "allowedPorts": {
          "description": "Optional. A list of PortRanges specifying single ports or ranges of ports that are externally accessible in the workstation. Allowed ports must be one of 22, 80, or within range 1024-65535. If not specified defaults to ports 22, 80, and ports 1024-65535.",
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        },
        "disableTcpConnections": {
          "description": "Optional. Disables support for plain TCP connections in the workstation. By default the service supports TCP connections through a websocket relay. Setting this option to true disables that relay, which prevents the usage of services that require plain TCP connections, such as SSH. When enabled, all communication must occur over HTTPS or WSS.",
          "type": "boolean"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the workstation configuration's current state.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "A workstation configuration resource in the Cloud Workstations API. Workstation configurations act as templates for workstations. The workstation configuration defines details such as the workstation virtual machine (VM) instance type, persistent storage, container image defining environment, which IDE or Code Editor to use, and more. Administrators and platform teams can also use [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/overview) rules to grant access to teams or to individual developers.",
      "type": "object",
      "id": "WorkstationConfig"
    },
    "GenerateAccessTokenRequest": {
      "id": "GenerateAccessTokenRequest",
      "properties": {
        "expireTime": {
          "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "type": "string",
          "format": "google-duration"
        },
        "port": {
          "description": "Optional. Port for which the access token should be generated. If specified, the generated access token grants access only to the specified port of the workstation. If specified, values must be within the range [1 - 65535]. If not specified, the generated access token grants access to all ports of the workstation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Request message for GenerateAccessToken.",
      "type": "object"
    },
    "PortRange": {
      "description": "A PortRange defines a range of ports. Both first and last are inclusive. To specify a single port, both first and last should be the same.",
      "type": "object",
      "properties": {
        "first": {
          "description": "Required. Starting port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535.",
          "type": "integer",
          "format": "int32"
        },
        "last": {
          "format": "int32",
          "description": "Required. Ending port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535.",
          "type": "integer"
        }
      },
      "id": "PortRange"
    },
    "ListUsableWorkstationConfigsResponse": {
      "description": "Response message for ListUsableWorkstationConfigs.",
      "type": "object",
      "properties": {
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "description": "The requested configs.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListUsableWorkstationConfigsResponse"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "properties": {
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of reservation resources. Valid values are either the name of a reservation in the same project or \"projects/{project}/reservations/{reservation}\" to target a shared reservation in the same zone but in a different project.",
          "type": "array"
        },
        "consumeReservationType": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Corresponds to the type of reservation consumption.",
          "type": "string"
        }
      },
      "description": "ReservationAffinity is the configuration of the desired reservation from which instances can consume resources.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "properties": {
        "accessToken": {
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname—for example, `Authorization: Bearer `.",
          "type": "string"
        },
        "expireTime": {
          "description": "Time at which the generated token will expire.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Response message for GenerateAccessToken.",
      "type": "object"
    },
    "Workstation": {
      "properties": {
        "deleteTime": {
          "description": "Output only. Time when this workstation was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Time when this workstation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "description": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format `{port}-{host}`.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client-specified annotations.",
          "type": "object"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation and that are also propagated to the underlying Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "degraded": {
          "description": "Output only. Whether this workstation is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the workstation.",
          "readOnly": true,
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when this workstation was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeHost": {
          "$ref": "RuntimeHost",
          "description": "Optional. Output only. Runtime host for the workstation when in STATE_RUNNING.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation.",
          "readOnly": true,
          "type": "string"
        },
        "sourceWorkstation": {
          "description": "Optional. The source workstation from which this workstation's persistent directories were cloned on creation.",
          "type": "string"
        },
        "boostConfigs": {
          "items": {
            "$ref": "WorkstationBoostConfig"
          },
          "description": "Output only. List of available boost configuration IDs that this workstation can be boosted up to.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Identifier. Full name of this workstation.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Do not use.",
            "The workstation is not yet ready to accept requests from users but will be soon.",
            "The workstation is ready to accept requests from users.",
            "The workstation is being stopped.",
            "The workstation is stopped and will not be able to receive requests until it is started.",
            "The workstation is being suspended.",
            "The workstation is suspended."
          ],
          "description": "Output only. Current state of the workstation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_STARTING",
            "STATE_RUNNING",
            "STATE_STOPPING",
            "STATE_STOPPED",
            "STATE_SUSPENDING",
            "STATE_SUSPENDED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "env": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Environment variables passed to the workstation container's entrypoint.",
          "type": "object"
        },
        "kmsKey": {
          "description": "Output only. The name of the Google Cloud KMS encryption key used to encrypt this workstation. The KMS key can only be configured in the WorkstationConfig. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "readOnly": true,
          "type": "string"
        },
        "persistentDirectories": {
          "description": "Optional. Directories to persist across workstation sessions.",
          "type": "array",
          "items": {
            "$ref": "WorkstationPersistentDirectory"
          }
        },
        "startTime": {
          "description": "Output only. Time when this workstation was most recently successfully started, regardless of the workstation's initial state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the workstation's current state.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "A single instance of a developer workstation with its own persistent storage.",
      "type": "object",
      "id": "Workstation"
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://workstations.us-central1.rep.googleapis.com/"
    }
  ],
  "rootUrl": "https://workstations.googleapis.com/",
  "description": "Allows administrators to create managed developer environments in the cloud. ",
  "title": "Cloud Workstations API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workstationClusters": {
              "methods": {
                "delete": {
                  "description": "Deletes the specified workstation cluster.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the result, but do not apply it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. Name of the workstation cluster to delete.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$"
                    },
                    "etag": {
                      "description": "Optional. If set, the request will be rejected if the latest version of the workstation cluster on the server does not have this ETag.",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set, any workstation configurations and workstations in the workstation cluster are also deleted. Otherwise, the request only works if the workstation cluster has no configurations or workstations.",
                      "type": "boolean"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "description": "Returns the requested workstation cluster.",
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the requested resource."
                    }
                  },
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "description": "Returns all workstation clusters in the specified location.",
[...]
