{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version_module": true,
  "name": "workflowexecutions",
  "basePath": "",
  "discoveryVersion": "v1",
  "title": "Workflow Executions API",
  "ownerName": "Google",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "methods": {
                "triggerPubsubExecution": {
                  "response": {
                    "$ref": "Execution"
                  },
                  "path": "v1/{+workflow}:triggerPubsubExecution",
                  "parameterOrder": [
                    "workflow"
                  ],
                  "request": {
                    "$ref": "TriggerPubsubExecutionRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}:triggerPubsubExecution",
                  "id": "workflowexecutions.projects.locations.workflows.triggerPubsubExecution",
                  "parameters": {
                    "workflow": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                      "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Triggers a new execution using the latest revision of the given workflow by a Pub/Sub push notification."
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "exportData": {
                      "httpMethod": "GET",
                      "description": "Returns all metadata stored about an execution, excluding most data that is already accessible using other API methods.",
                      "response": {
                        "$ref": "ExportDataResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the execution for which data is to be exported. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}:exportData",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:exportData",
                      "id": "workflowexecutions.projects.locations.workflows.executions.exportData"
                    },
                    "create": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/executions",
                      "httpMethod": "POST",
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "description": "Creates a new execution using the latest revision of the given workflow. For more information, see Execute a workflow.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Execution"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 1000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token. Note that pagination is applied to dynamic data. The list of executions returned can change between page requests."
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view."
                        },
                        "orderBy": {
                          "description": "Optional. Comma-separated list of fields that specify the ordering applied to the `[Executions.ListExecutions]` results. By default the ordering is based on descending `createTime`. The following fields are supported for ordering: `executionId`, `state`, `createTime`, `startTime`, `endTime`, `duration`, and `workflowRevisionId`. For details, see AIP-132.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filters applied to the `[Executions.ListExecutions]` results. The following fields are supported for filtering: `executionId`, `state`, `createTime`, `startTime`, `endTime`, `duration`, `workflowRevisionId`, `stepName`, `label`, and `disableConcurrencyQuotaOverflowBuffering`. For details, see AIP-160. For more information, see Filter executions. For example, if you are using the Google APIs Explorer: `state=\"SUCCEEDED\"` or `startTime>\"2023-08-01\" AND state=\"FAILED\"`",
                          "type": "string"
                        }
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "path": "v1/{+parent}/executions"
                    },
                    "get": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Returns an execution of the given name.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "location": "query",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "type": "string",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}"
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "path": "v1/{+name}:cancel",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Cancels an execution of the given name.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "deleteExecutionHistory": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:deleteExecutionHistory",
                      "id": "workflowexecutions.projects.locations.workflows.executions.deleteExecutionHistory",
                      "request": {
                        "$ref": "DeleteExecutionHistoryRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution for which step entries should be deleted. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Deletes all step entries for an execution.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:deleteExecutionHistory",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "stepEntries": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/stepEntries",
                          "id": "workflowexecutions.projects.locations.workflows.executions.stepEntries.list",
                          "description": "Lists step entries for the corresponding workflow execution. Returned entries are ordered by their create_time.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                              "description": "Required. Name of the workflow execution to list entries for. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "type": "string"
                            },
                            "skip": {
                              "type": "integer",
                              "description": "Optional. The number of step entries to skip. It can be used with or without a pageToken. If used with a pageToken, then it indicates the number of step entries to skip starting from the requested page.",
                              "format": "int32",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Optional. Comma-separated list of fields that specify the ordering applied to the `[StepEntries.ListStepEntries]` results. By default the ordering is based on ascending `entryId`. The following fields are supported for ordering: `entryId`, `createTime`, `updateTime`, `routine`, `step`, `stepType`, `state`. For details, see AIP-132.",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. Number of step entries to return per call. The default max is 1000.",
                              "type": "integer"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Filters applied to the `[StepEntries.ListStepEntries]` results. The following fields are supported for filtering: `entryId`, `createTime`, `updateTime`, `routine`, `step`, `stepType`, `parent`, `state`. For details, see AIP-160. For example, if you are using the Google APIs Explorer: `state=\"SUCCEEDED\"` or `createTime>\"2023-08-01\" AND state=\"FAILED\"`"
                            },
                            "view": {
                              "deprecated": true,
                              "location": "query",
                              "description": "Deprecated field.",
                              "enumDescriptions": [
                                "The default/unset value.",
                                "Include basic information in the step entries. All fields in StepEntry are returned except for variable_data.",
                                "Include all data."
                              ],
                              "type": "string",
                              "enum": [
                                "EXECUTION_ENTRY_VIEW_UNSPECIFIED",
                                "EXECUTION_ENTRY_VIEW_BASIC",
                                "EXECUTION_ENTRY_VIEW_DETAILED"
                              ]
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListStepEntries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStepEntries` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/stepEntries",
                          "response": {
                            "$ref": "ListStepEntriesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET"
                        },
                        "get": {
                          "response": {
                            "$ref": "StepEntry"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets a step entry.",
                          "id": "workflowexecutions.projects.locations.workflows.executions.stepEntries.get",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the step entry to retrieve. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/stepEntries/{step_entry}",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+/stepEntries/[^/]+$"
                            },
                            "view": {
                              "description": "Deprecated field.",
                              "type": "string",
                              "enum": [
                                "EXECUTION_ENTRY_VIEW_UNSPECIFIED",
                                "EXECUTION_ENTRY_VIEW_BASIC",
                                "EXECUTION_ENTRY_VIEW_DETAILED"
                              ],
                              "enumDescriptions": [
                                "The default/unset value.",
                                "Include basic information in the step entries. All fields in StepEntry are returned except for variable_data.",
                                "Include all data."
                              ],
                              "deprecated": true,
                              "location": "query"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/stepEntries/{stepEntriesId}"
                        }
                      }
                    },
                    "callbacks": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/callbacks",
                          "path": "v1/{+parent}/callbacks",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workflowexecutions.projects.locations.workflows.executions.callbacks.list",
                          "description": "Returns a list of active callbacks that belong to the execution with the given name. The returned callbacks are ordered by callback ID.",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "Maximum number of callbacks to return per call. The default value is 100 and is also the maximum value."
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListCallbacks` call. Provide this to retrieve the subsequent page. Note that pagination is applied to dynamic data. The list of callbacks returned can change between page requests if callbacks are created or deleted.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Name of the execution for which the callbacks should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "ListCallbacksResponse"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "workflowexecutions:v1",
  "schemas": {
    "ListStepEntriesResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the total number of StepEntries that matched the request filter. For running executions, this number shows the number of StepEntries that are executed thus far."
        },
        "stepEntries": {
          "description": "The list of entries.",
          "type": "array",
          "items": {
            "$ref": "StepEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListStepEntriesRequest.page_token field in the subsequent call to `ListStepEntries` method to retrieve the next page of results."
        }
      },
      "id": "ListStepEntriesResponse",
      "description": "Response message for ExecutionHistory.ListStepEntries."
    },
    "NavigationInfo": {
      "id": "NavigationInfo",
      "description": "NavigationInfo describes what steps if any come before or after this step, or what steps are parents or children of this step.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "format": "int64",
          "description": "The step entry, if any, that can be reached by \"stepping out\" of the current workflow being executed."
        },
        "children": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Step entries that can be reached by \"stepping into\" e.g. a subworkflow call."
        },
        "previous": {
          "format": "int64",
          "description": "The index of the previous step in the current workflow, if any.",
          "type": "string"
        },
        "next": {
          "format": "int64",
          "type": "string",
          "description": "The index of the next step in the current workflow, if any."
        }
      }
    },
    "VariableData": {
      "id": "VariableData",
      "type": "object",
      "properties": {
        "variables": {
          "type": "object",
          "description": "Variables that are associated with this step.",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "description": "VariableData contains the variable data for this step."
    },
    "Position": {
      "properties": {
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "type": "string",
          "format": "int64"
        },
        "length": {
          "type": "string",
          "description": "The number of bytes of source code making up this stack trace element.",
          "format": "int64"
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        }
      },
      "type": "object",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "id": "Position"
    },
    "ListCallbacksResponse": {
      "type": "object",
      "id": "ListCallbacksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "callbacks": {
          "items": {
            "$ref": "Callback"
          },
          "type": "array",
          "description": "The callbacks which match the request."
        }
      },
      "description": "RPC response object for the ListCallbacks method."
    },
    "Callback": {
      "description": "An instance of a Callback created by an execution.",
      "id": "Callback",
      "properties": {
        "waiters": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of execution steps waiting on this callback.",
          "readOnly": true
        },
        "method": {
          "description": "Output only. The method accepted by the callback. For example: GET, POST, PUT.",
          "readOnly": true,
          "type": "string"
        },
        "availablePayloads": {
          "description": "Output only. The payloads received by the callback that have not been processed by a waiting execution step.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the callback. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/callback/{callback}"
        }
      },
      "type": "object"
    },
    "StackTrace": {
      "description": "A collection of stack elements (frames) where an error occurred.",
      "id": "StackTrace",
      "properties": {
        "elements": {
          "description": "An array of stack elements.",
          "items": {
            "$ref": "StackTraceElement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "executions": {
          "description": "The executions which match the request.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for the ListExecutions method."
    },
    "CancelExecutionRequest": {
      "type": "object",
      "id": "CancelExecutionRequest",
      "description": "Request for the CancelExecution method.",
      "properties": {}
    },
    "StackTraceElement": {
      "id": "StackTraceElement",
      "description": "A single stack element (frame) where an error occurred.",
      "type": "object",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "The source position information of the stack trace element."
        },
        "step": {
          "type": "string",
          "description": "The step the error occurred at."
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        }
      }
    },
    "TriggerPubsubExecutionRequest": {
      "id": "TriggerPubsubExecutionRequest",
      "properties": {
        "deliveryAttempt": {
          "description": "The number of attempts that have been made to deliver this message. This is set by Pub/Sub for subscriptions that have the \"dead letter\" feature enabled, and hence provided here for compatibility, but is ignored by Workflows.",
          "format": "int32",
          "type": "integer"
        },
        "GCPCloudEventsMode": {
          "type": "string",
          "description": "Required. LINT: LEGACY_NAMES The query parameter value for __GCP_CloudEventsMode, set by the Eventarc service when configuring triggers."
        },
        "subscription": {
          "description": "Required. The subscription of the Pub/Sub push notification. Format: projects/{project}/subscriptions/{sub}",
          "type": "string"
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "Required. The message of the Pub/Sub push notification."
        }
      },
      "description": "Request for the TriggerPubsubExecution method.",
      "type": "object"
    },
    "Error": {
      "type": "object",
      "description": "Error describes why the execution was abnormally terminated.",
      "properties": {
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        }
      },
      "id": "Error"
    },
    "ExportDataResponse": {
      "id": "ExportDataResponse",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "The JSON string with customer data and metadata for an execution with the given name"
        }
      },
      "description": "Response for the ExportData method."
    },
    "StateError": {
      "description": "Describes an error related to the current state of the Execution resource.",
      "type": "object",
      "id": "StateError",
      "properties": {
        "details": {
          "type": "string",
          "description": "Provides specifics about the error."
        },
        "type": {
          "enumDescriptions": [
            "No type specified.",
            "Caused by an issue with KMS."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "KMS_ERROR"
          ],
          "description": "The type of this state error."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "currentSteps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step."
        }
      },
      "type": "object",
      "description": "Represents the current status of this execution."
    },
    "Execution": {
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1/projects.locations.workflows).",
      "id": "Execution",
      "properties": {
        "disableConcurrencyQuotaOverflowBuffering": {
          "type": "boolean",
          "description": "Optional. If set to true, the execution will not be backlogged when the concurrency quota is exhausted. The backlog execution starts when the concurrency quota becomes available."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Marks the end of execution, successful or not.",
          "readOnly": true,
          "type": "string"
        },
        "argument": {
          "type": "string",
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`"
        },
        "stateError": {
          "$ref": "StateError",
          "readOnly": true,
          "description": "Output only. Error regarding the state of the Execution resource. For example, this field will have error details if the execution data is unavailable due to revoked KMS key permissions."
        },
        "duration": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Measures the duration of the execution."
        },
        "status": {
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Marks the creation of the execution.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "result": {
          "type": "string",
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this execution. Labels can contain at most 64 entries. Keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, and dashes. Label keys must start with a letter. International characters are allowed. By default, labels are inherited from the workflow but are overridden by any labels associated with the execution.",
          "type": "object"
        },
        "error": {
          "$ref": "Error",
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "readOnly": true
        },
        "executionHistoryLevel": {
          "type": "string",
          "enum": [
            "EXECUTION_HISTORY_LEVEL_UNSPECIFIED",
            "EXECUTION_HISTORY_BASIC",
            "EXECUTION_HISTORY_DETAILED"
          ],
          "description": "Optional. Describes the execution history level to apply to this execution. If not specified, the execution history level is determined by its workflow's execution history level. If the levels are different, the executionHistoryLevel overrides the workflow's execution history level for this execution.",
          "enumDescriptions": [
            "The default/unset value.",
            "Enable execution history basic feature for this execution.",
            "Enable execution history detailed feature for this execution."
          ]
        },
        "workflowRevisionId": {
          "readOnly": true,
          "description": "Output only. Revision of the workflow this execution is using.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Marks the beginning of execution. Note that this will be the same as `createTime` for executions that start immediately.",
          "type": "string"
        },
        "callLogLevel": {
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows.",
            "Explicitly log nothing."
          ],
          "description": "The call logging level associated to this execution.",
          "type": "string",
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY",
            "LOG_NONE"
          ]
        },
        "state": {
          "description": "Output only. Current state of the execution.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Execution data is unavailable. See the `state_error` field.",
            "Request has been placed in the backlog for processing at a later time."
          ]
        }
      },
      "type": "object"
    },
    "DeleteExecutionHistoryRequest": {
      "type": "object",
      "id": "DeleteExecutionHistoryRequest",
      "properties": {},
      "description": "Request for the DeleteExecutionHistory method."
    },
    "PubsubMessage": {
      "properties": {
        "data": {
          "description": "Optional. The message data field. If this field is empty, the message must contain at least one attribute.",
          "type": "string",
          "format": "byte"
        },
        "orderingKey": {
          "description": "Optional. If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering).",
          "type": "string"
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription."
        }
      },
      "id": "PubsubMessage",
      "type": "object",
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits."
    },
    "StepEntry": {
      "id": "StepEntry",
      "properties": {
        "entryId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The numeric ID of this step entry, used for navigation."
        },
        "routine": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the routine this step entry belongs to. A routine name is the subworkflow name defined in the YAML source code. The top level routine name is `main`."
        },
        "navigationInfo": {
          "readOnly": true,
          "$ref": "NavigationInfo",
          "description": "Output only. The NavigationInfo associated with this step."
        },
        "name": {
          "description": "Output only. The full resource name of the step entry. Each step entry has a unique entry ID, which is a monotonically increasing counter. Step entry names have the format: `projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/stepEntries/{step_entry}`.",
          "readOnly": true,
          "type": "string"
        },
        "stepEntryMetadata": {
          "readOnly": true,
          "description": "Output only. The StepEntryMetadata associated with this step.",
          "$ref": "StepEntryMetadata"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recently updated time of the step entry."
        },
        "step": {
          "description": "Output only. The name of the step this step entry belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_IN_PROGRESS",
            "STATE_SUCCEEDED",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid state.",
            "The step entry is in progress.",
            "The step entry finished successfully.",
            "The step entry failed with an error.",
            "The step entry is cancelled."
          ],
          "readOnly": true,
          "description": "Output only. The state of the step entry."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time of the step entry.",
          "format": "google-datetime",
          "readOnly": true
        },
        "stepType": {
          "description": "Output only. The type of the step this step entry belongs to.",
          "enumDescriptions": [
            "Invalid step type.",
            "The step entry assigns new variable(s).",
            "The step entry calls a standard library routine.",
            "The step entry calls a connector.",
            "The step entry calls a subworklfow.",
            "The step entry calls a subworkflow/stdlib.",
            "The step entry executes a switch-case block.",
            "The step entry executes a condition inside a switch.",
            "The step entry executes a for loop.",
            "The step entry executes a iteration of a for loop.",
            "The step entry executes a parallel for loop.",
            "The step entry executes a series of parallel branch(es).",
            "The step entry executes a branch of a parallel branch.",
            "The step entry executes a try/retry/except block.",
            "The step entry executes the try part of a try/retry/except block.",
            "The step entry executes the retry part of a try/retry/except block.",
            "The step entry executes the except part of a try/retry/except block.",
            "The step entry returns.",
            "The step entry raises an error.",
            "The step entry jumps to another step."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STEP_TYPE_UNSPECIFIED",
            "STEP_ASSIGN",
            "STEP_STD_LIB_CALL",
            "STEP_CONNECTOR_CALL",
            "STEP_SUBWORKFLOW_CALL",
            "STEP_CALL",
            "STEP_SWITCH",
            "STEP_CONDITION",
            "STEP_FOR",
            "STEP_FOR_ITERATION",
            "STEP_PARALLEL_FOR",
            "STEP_PARALLEL_BRANCH",
            "STEP_PARALLEL_BRANCH_ENTRY",
            "STEP_TRY_RETRY_EXCEPT",
            "STEP_TRY",
            "STEP_RETRY",
            "STEP_EXCEPT",
            "STEP_RETURN",
            "STEP_RAISE",
            "STEP_GOTO"
          ]
        },
        "variableData": {
          "readOnly": true,
          "description": "Output only. The VariableData associated with this step.",
          "$ref": "VariableData"
        },
        "exception": {
          "description": "Output only. The exception thrown by the step entry.",
          "readOnly": true,
          "$ref": "Exception"
        }
      },
      "description": "An StepEntry contains debugging information for a step transition in a workflow execution.",
      "type": "object"
    },
    "Exception": {
      "description": "Exception describes why the step entry failed.",
      "id": "Exception",
      "properties": {
        "payload": {
          "type": "string",
          "description": "Error message represented as a JSON string."
        }
      },
      "type": "object"
    },
    "StepEntryMetadata": {
      "description": "StepEntryMetadata contains metadata information about this step.",
      "id": "StepEntryMetadata",
      "properties": {
        "progressNumber": {
          "description": "Progress number represents the current state of the current progress. eg: A step entry represents the 4th iteration in a progress of PROGRESS_TYPE_FOR. Note: This field is only populated when an iteration exists and the starting value is 1.",
          "type": "string",
          "format": "int64"
        },
        "threadId": {
          "description": "Child thread id that this step entry belongs to.",
          "type": "string"
        },
        "progressType": {
          "description": "Progress type of this step entry.",
          "enumDescriptions": [
            "Current step entry does not have any progress data.",
            "Current step entry is in progress of a FOR step.",
            "Current step entry is in progress of a SWITCH step.",
            "Current step entry is in progress of a RETRY step.",
            "Current step entry is in progress of a PARALLEL FOR step.",
            "Current step entry is in progress of a PARALLEL BRANCH step."
          ],
          "type": "string",
          "enum": [
            "PROGRESS_TYPE_UNSPECIFIED",
            "PROGRESS_TYPE_FOR",
            "PROGRESS_TYPE_SWITCH",
            "PROGRESS_TYPE_RETRY",
            "PROGRESS_TYPE_PARALLEL_FOR",
            "PROGRESS_TYPE_PARALLEL_BRANCH"
          ]
        },
        "expectedIteration": {
          "type": "string",
          "description": "Expected iteration represents the expected number of iterations in the step's progress.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Step": {
      "type": "object",
      "properties": {
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        },
        "routine": {
          "type": "string",
          "description": "Name of a routine within the workflow."
        }
      },
      "id": "Step",
      "description": "Represents a step of the workflow this execution is running."
    }
  },
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/workflows",
  "description": "Execute workflows created with Workflows API.",
  "revision": "20260922",
  "canonicalName": "Workflow Executions",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "asia-east1",
      "endpointUrl": "https://workflowexecutions.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://workflowexecutions.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://workflowexecutions.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://workflowexecutions.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://workflowexecutions.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://workflowexecutions.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://workflowexecutions.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://workflowexecutions.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://workflowexecutions.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://workflowexecutions.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://workflowexecutions.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://workflowexecutions.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://workflowexecutions.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://workflowexecutions.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://workflowexecutions.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://workflowexecutions.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://workflowexecutions.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://workflowexecutions.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://workflowexecutions.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://workflowexecutions.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://workflowexecutions.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://workflowexecutions.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://workflowexecutions.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://workflowexecutions.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://workflowexecutions.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://workflowexecutions.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://workflowexecutions.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://workflowexecutions.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://workflowexecutions.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    }
  ]
}