{
  "version": "v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "discoveryVersion": "v1",
  "rootUrl": "https://youtube.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "YouTube",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "resources": {
    "superChatEvents": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.superChatEvents.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/superChatEvents",
          "flatPath": "youtube/v3/superChatEvents",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. This parameter is currently not supported."
            },
            "hl": {
              "type": "string",
              "location": "query",
              "description": "Return rendered funding amounts in specified language."
            },
            "maxResults": {
              "default": "5",
              "format": "uint32",
              "minimum": "1",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer",
              "location": "query"
            }
          }
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "transition": {
          "parameterOrder": [],
          "response": {
            "$ref": "LiveChatMessage"
          },
          "flatPath": "youtube/v3/liveChat/messages/transition",
          "path": "youtube/v3/liveChat/messages/transition",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "status": {
              "location": "query",
              "enumDescriptions": [
                "Default unknown enum value.",
                "The durable chat event is over."
              ],
              "type": "string",
              "enum": [
                "statusUnspecified",
                "closed"
              ],
              "description": "The status to which the chat event is going to transition."
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "The ID that uniquely identify the chat message event to transition."
            }
          },
          "description": "Transition a durable chat event.",
          "id": "youtube.liveChatMessages.transition",
          "httpMethod": "POST"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/messages",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.delete",
          "description": "Deletes a chat message.",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "Specifies the localization language in which the system messages should be returned.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "maximum": "2000",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
              "format": "uint32",
              "type": "integer",
              "default": "500",
              "minimum": "200"
            },
            "profileImageSize": {
              "maximum": "720",
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "minimum": "16"
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.liveChatMessages.list",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/liveChat/messages",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "path": "youtube/v3/liveChat/messages"
        },
        "insert": {
          "id": "youtube.liveChatMessages.insert",
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveChat/messages",
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "request": {
            "$ref": "LiveChatMessage"
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "id": "youtube.members.list",
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "parameters": {
            "filterByMemberChannelId": {
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "mode": {
              "type": "string",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "description": "Parameter that specifies which channel members to return.",
              "default": "all_current",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "hasAccessToLevel": {
              "description": "Filter members in the results set to the ones that have access to a level.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "maximum": "1000",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/members",
          "path": "youtube/v3/members",
          "response": {
            "$ref": "MemberListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ]
        }
      }
    },
    "playlists": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "Playlist"
          },
          "flatPath": "youtube/v3/playlists",
          "httpMethod": "POST",
          "id": "youtube.playlists.insert",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "Return content in specified language",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query",
              "required": true,
              "repeated": true
            },
            "id": {
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "mine": {
              "location": "query",
              "description": "Return the playlists owned by the authenticated user.",
              "type": "boolean"
            },
            "maxResults": {
              "type": "integer",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "default": "5"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "path": "youtube/v3/playlists",
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.playlists.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlists"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlists",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/playlists",
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.delete"
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.update",
          "request": {
            "$ref": "Playlist"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlists",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          }
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "path": "youtube/v3/activities",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "id": "youtube.activities.list",
          "parameters": {
            "publishedBefore": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "channelId": {
              "location": "query",
              "type": "string"
            },
            "publishedAfter": {
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "home": {
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "location": "query"
            },
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "maximum": "50"
            }
          },
          "flatPath": "youtube/v3/activities",
          "response": {
            "$ref": "ActivityListResponse"
          },
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "path": "youtube/v3/thumbnails/set",
          "mediaUpload": {
            "maxSize": "52428800",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "id": "youtube.thumbnails.set",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "location": "query",
              "required": true,
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/thumbnails/set",
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "supportsMediaUpload": true,
          "parameterOrder": [
            "videoId"
          ]
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet."
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "default": "5",
              "format": "uint32",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "liveChatId": {
              "location": "query",
              "required": true,
              "description": "The id of the live chat for which moderators should be returned.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a chat moderator.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveChat/moderators",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatModerators.delete"
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveChat/moderators",
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveChatModerator"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.liveChatModerators.insert",
          "flatPath": "youtube/v3/liveChat/moderators",
          "request": {
            "$ref": "LiveChatModerator"
          }
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "parameters": {
            "id": {
              "description": "Return the channels with the specified IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "managedByMe": {
              "description": "Return the channels managed by the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "maximum": "50",
              "type": "integer",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32",
              "default": "5"
            },
            "categoryId": {
              "location": "query",
              "description": "Return the channels within the specified guide category ID.",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "type": "string",
              "location": "query"
            },
            "forUsername": {
              "type": "string",
              "location": "query",
              "description": "Return the channel associated with a YouTube username."
            },
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Return the ids of channels owned by the authenticated user."
            },
            "mySubscribers": {
              "description": "Return the channels subscribed to the authenticated user",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query",
              "type": "string"
            },
            "forHandle": {
              "location": "query",
              "type": "string",
              "description": "Return the channel associated with a YouTube handle."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/channels",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/channels",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "id": "youtube.channels.list"
        },
        "update": {
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.channels.update",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/channels",
          "request": {
            "$ref": "Channel"
          },
          "path": "youtube/v3/channels"
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/channelBanners/insert",
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "path": "youtube/v3/channelBanners/insert",
          "id": "youtube.channelBanners.insert",
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "mediaUpload": {
            "maxSize": "6291456",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "path": "/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          }
        }
      }
    },
    "playlistImages": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistImages.list",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Return PlaylistImages for this playlist id.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistImage resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/playlistImages",
          "path": "youtube/v3/playlistImages",
          "response": {
            "$ref": "PlaylistImageListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistImage"
          },
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [],
          "flatPath": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.insert",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/playlistImages",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/playlistImages",
                "multipart": true
              }
            },
            "maxSize": "52428800",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "path": "youtube/v3/playlistImages",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "location": "query",
              "repeated": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "PlaylistImage"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "id": "youtube.playlistImages.delete",
          "path": "youtube/v3/playlistImages",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "description": "Id to identify this image. This is returned from by the List method."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/playlistImages",
          "httpMethod": "DELETE"
        },
        "update": {
          "parameterOrder": [],
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "PlaylistImage"
          },
          "request": {
            "$ref": "PlaylistImage"
          },
          "httpMethod": "PUT",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/playlistImages"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/playlistImages"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "52428800"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistImages",
          "supportsMediaUpload": true
        }
      }
    },
    "youtube": {
      "resources": {
        "v3": {
          "resources": {
            "liveChat": {
              "resources": {
                "messages": {
                  "methods": {
                    "stream": {
                      "response": {
                        "$ref": "LiveChatMessageListResponse"
                      },
                      "description": "Allows a user to load live chat through a server-streamed RPC.",
                      "parameterOrder": [],
                      "flatPath": "youtube/v3/liveChat/messages/stream",
                      "path": "youtube/v3/liveChat/messages/stream",
                      "id": "youtube.youtube.v3.liveChat.messages.stream",
                      "parameters": {
                        "profileImageSize": {
                          "maximum": "720",
                          "description": "Specifies the size of the profile image that should be returned for each user.",
                          "minimum": "16",
                          "location": "query",
                          "format": "uint32",
                          "type": "integer"
                        },
                        "maxResults": {
                          "format": "uint32",
                          "location": "query",
                          "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
                          "minimum": "200",
                          "default": "500",
                          "type": "integer",
                          "maximum": "2000"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
                          "location": "query"
                        },
                        "hl": {
                          "type": "string",
                          "description": "Specifies the localization language in which the system messages should be returned.",
                          "location": "query"
                        },
                        "part": {
                          "location": "query",
                          "repeated": true,
                          "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
                          "type": "string"
                        },
                        "liveChatId": {
                          "type": "string",
                          "location": "query",
                          "description": "The id of the live chat for which comments should be returned."
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.tests.insert",
          "description": "POST method.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "request": {
            "$ref": "TestItem"
          },
          "flatPath": "youtube/v3/tests",
          "path": "youtube/v3/tests",
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string"
            },
            "externalChannelId": {
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TestItem"
          }
        }
      }
    },
    "commentThreads": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "CommentThread"
          },
          "flatPath": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.insert",
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/commentThreads",
          "httpMethod": "POST",
          "response": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "required": true,
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ]
        },
        "list": {
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/commentThreads",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "location": "query"
            },
            "moderationStatus": {
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "default": "published",
              "location": "query",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ]
            },
            "searchTerms": {
              "type": "string",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.",
              "location": "query"
            },
            "videoId": {
              "location": "query",
              "description": "Returns the comment threads of the specified video.",
              "type": "string"
            },
            "allThreadsRelatedToChannelId": {
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string",
              "location": "query"
            },
            "postId": {
              "location": "query",
              "description": "Returns the comment threads of the specified post.",
              "type": "string"
            },
            "order": {
              "type": "string",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "default": "time",
              "location": "query"
            },
            "channelId": {
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "location": "query",
              "type": "string"
            },
            "textFormat": {
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ]
            },
            "id": {
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "maximum": "100",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "location": "query",
              "default": "20",
              "minimum": "1"
            }
          },
          "id": "youtube.commentThreads.list",
          "flatPath": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "playlistItems": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "playlistId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items within the given playlist."
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "minimum": "0",
              "default": "5",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "id": "youtube.playlistItems.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "PlaylistItem"
          },
          "request": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.update",
          "httpMethod": "PUT",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "required": true,
              "repeated": true
            }
          }
        },
        "insert": {
          "id": "youtube.playlistItems.insert",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "PlaylistItem"
          },
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query"
            }
          },
          "path": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "httpMethod": "GET",
          "id": "youtube.videoCategories.list",
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet."
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "hl": {
              "default": "en-US",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/videoCategories",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videoCategories",
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "videos": {
      "methods": {
        "update": {
          "id": "youtube.videos.update",
          "flatPath": "youtube/v3/videos",
          "request": {
            "$ref": "Video"
          },
          "response": {
            "$ref": "Video"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response."
            }
          },
          "path": "youtube/v3/videos",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource."
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videos",
          "id": "youtube.videos.insert",
          "description": "Inserts a new resource into this collection.",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/videos",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/videos"
              }
            },
            "maxSize": "274877906944",
            "accept": [
              "video/*",
              "application/octet-stream"
            ]
          },
          "response": {
            "$ref": "Video"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Video"
          },
          "parameters": {
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "notifySubscribers": {
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "location": "query",
              "type": "boolean",
              "default": "true"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "stabilize": {
              "type": "boolean",
              "location": "query",
              "description": "Should stabilize be applied to the upload."
            }
          },
          "flatPath": "youtube/v3/videos",
          "httpMethod": "POST"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "path": "youtube/v3/videos",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.delete",
          "description": "Deletes a resource.",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "flatPath": "youtube/v3/videos",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Return videos with the given ids.",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query"
            },
            "videoCategoryId": {
              "location": "query",
              "type": "string",
              "default": "0",
              "description": "Use chart that is specific to the specified video category"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "maximum": "50",
              "format": "uint32",
              "type": "integer",
              "minimum": "1",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "default": "5"
            },
            "locale": {
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "location": "query",
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ]
            },
            "maxHeight": {
              "location": "query",
              "type": "integer",
              "maximum": "8192",
              "minimum": "72",
              "format": "int32"
            },
            "chart": {
              "type": "string",
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "description": "Return the videos that are in the specified chart.",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "maxWidth": {
              "minimum": "72",
              "location": "query",
              "format": "int32",
              "maximum": "8192",
              "type": "integer",
              "description": "Return the player with maximum height specified in"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
            },
            "regionCode": {
              "type": "string",
              "description": "Use a chart that is specific to the specified region",
              "location": "query"
            }
          },
          "response": {
            "$ref": "VideoListResponse"
          },
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.list",
          "parameterOrder": [
            "part"
          ]
        },
        "getRating": {
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "id": "youtube.videos.getRating",
          "path": "youtube/v3/videos/getRating",
          "httpMethod": "GET",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "id": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/videos/getRating",
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "reportAbuse": {
          "path": "youtube/v3/videos/reportAbuse",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Report abuse for a video.",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.reportAbuse",
          "parameterOrder": []
        },
        "batchGetStats": {
          "httpMethod": "GET",
          "flatPath": "youtube/v3/videos:batchGetStats",
          "parameters": {
            "id": {
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "BatchGetStatsResponse"
          },
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience.",
          "id": "youtube.videos.batchGetStats",
          "parameterOrder": [],
          "path": "youtube/v3/videos:batchGetStats"
        },
        "rate": {
          "path": "youtube/v3/videos/rate",
          "httpMethod": "POST",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "rating": {
              "location": "query",
              "required": true,
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ]
            }
          },
          "parameterOrder": [
            "id",
            "rating"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.rate",
          "flatPath": "youtube/v3/videos/rate"
        }
      }
    },
    "captions": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Caption"
          },
          "parameterOrder": [
            "part"
[...]
