{
  "revision": "20260930",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "Schedules reporting jobs containing your YouTube Analytics data and downloads the resulting bulk data reports in the form of CSV files.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly": {
          "description": "View monetary and non-monetary YouTube Analytics reports for your YouTube content"
        },
        "https://www.googleapis.com/auth/yt-analytics.readonly": {
          "description": "View YouTube Analytics reports for your YouTube content"
        }
      }
    }
  },
  "canonicalName": "YouTube Reporting",
  "discoveryVersion": "v1",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "response": {
            "$ref": "GdataMedia"
          },
          "id": "youtubereporting.media.download",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "description": "Method for media download. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "httpMethod": "GET",
          "path": "v1/media/{+resourceName}",
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded.",
              "required": true,
              "pattern": "^.*$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/media/{mediaId}"
        }
      }
    },
    "reportTypes": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListReportTypesResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListReportTypesResponse.next_page_token returned in response to the previous call to the `ListReportTypes` method.",
              "type": "string"
            },
            "includeSystemManaged": {
              "description": "If set to true, also system-managed report types will be returned; otherwise only the report types that can be used to create new reporting jobs will be returned.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Requested page size. Server may return fewer report types than requested. If unspecified, server will pick an appropriate default."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "parameterOrder": [],
          "description": "Lists report types.",
          "path": "v1/reportTypes",
          "id": "youtubereporting.reportTypes.list",
          "flatPath": "v1/reportTypes",
          "httpMethod": "GET"
        }
      }
    },
    "jobs": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "jobId",
                "reportId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                "https://www.googleapis.com/auth/yt-analytics.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Report"
              },
              "description": "Gets the metadata of a specific report.",
              "flatPath": "v1/jobs/{jobId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the report to retrieve."
                },
                "onBehalfOfContentOwner": {
                  "location": "query",
                  "type": "string",
                  "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel)."
                },
                "jobId": {
                  "description": "The ID of the job.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/jobs/{jobId}/reports/{reportId}",
              "id": "youtubereporting.jobs.reports.get"
            },
            "list": {
              "response": {
                "$ref": "ListReportsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. Server may return fewer report types than requested. If unspecified, server will pick an appropriate default."
                },
                "startTimeAtOrAfter": {
                  "description": "If set, only reports whose start time is greater than or equal the specified date/time are returned.",
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListReportsResponse.next_page_token returned in response to the previous call to the `ListReports` method.",
                  "location": "query",
                  "type": "string"
                },
                "createdAfter": {
                  "description": "If set, only reports created after the specified date/time are returned.",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "onBehalfOfContentOwner": {
                  "location": "query",
                  "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).",
                  "type": "string"
                },
                "jobId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the job.",
                  "type": "string"
                },
                "startTimeBefore": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "If set, only reports whose start time is smaller than the specified date/time are returned.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "jobId"
              ],
              "description": "Lists reports created by a specific job. Returns NOT_FOUND if the job does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                "https://www.googleapis.com/auth/yt-analytics.readonly"
              ],
              "id": "youtubereporting.jobs.reports.list",
              "path": "v1/jobs/{jobId}/reports",
              "flatPath": "v1/jobs/{jobId}/reports",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Gets a job.",
          "parameterOrder": [
            "jobId"
          ],
          "flatPath": "v1/jobs/{jobId}",
          "parameters": {
            "jobId": {
              "required": true,
              "location": "path",
              "description": "The ID of the job to retrieve.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).",
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtubereporting.jobs.get",
          "path": "v1/jobs/{jobId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "response": {
            "$ref": "Job"
          }
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "description": "Deletes a job.",
          "parameterOrder": [
            "jobId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "path": "v1/jobs/{jobId}",
          "parameters": {
            "jobId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the job to delete."
            },
            "onBehalfOfContentOwner": {
              "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).",
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtubereporting.jobs.delete",
          "flatPath": "v1/jobs/{jobId}"
        },
        "list": {
          "flatPath": "v1/jobs",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Server may return fewer jobs than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "location": "query"
            },
            "includeSystemManaged": {
              "type": "boolean",
              "location": "query",
              "description": "If set to true, also system-managed jobs will be returned; otherwise only user-created jobs will be returned. System-managed jobs can neither be modified nor deleted."
            },
            "onBehalfOfContentOwner": {
              "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListReportTypesResponse.next_page_token returned in response to the previous call to the `ListJobs` method.",
              "type": "string"
            }
          },
          "id": "youtubereporting.jobs.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListJobsResponse"
          },
          "description": "Lists jobs.",
          "scopes": [
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "path": "v1/jobs"
        },
        "create": {
          "path": "v1/jobs",
          "flatPath": "v1/jobs",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "The content owner's external ID on which behalf the user is acting on. If not set, the user is acting for himself (his own channel).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Job"
          },
          "id": "youtubereporting.jobs.create",
          "httpMethod": "POST",
          "description": "Creates a job and returns it.",
          "request": {
            "$ref": "Job"
          },
          "scopes": [
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "parameterOrder": []
        }
      }
    }
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://youtubereporting.mtls.googleapis.com/",
  "schemas": {
    "ListReportTypesResponse": {
      "id": "ListReportTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token field in the subsequent call to `ListReportTypes` method to retrieve the next page of results."
        },
        "reportTypes": {
          "description": "The list of report types.",
          "type": "array",
          "items": {
            "$ref": "ReportType"
          }
        }
      },
      "description": "Response message for ReportingService.ListReportTypes.",
      "type": "object"
    },
    "GdataBlobstore2Info": {
      "id": "GdataBlobstore2Info",
      "properties": {
        "downloadReadHandle": {
          "description": "gdata",
          "type": "string",
          "format": "byte"
        },
        "uploadFragmentListCreationInfo": {
          "description": "gdata",
          "type": "string",
          "format": "byte"
        },
        "blobId": {
          "type": "string",
          "description": "gdata"
        },
        "downloadExternalReadToken": {
          "description": "gdata",
          "format": "byte",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "type": "string",
          "format": "byte",
          "description": "gdata"
        },
        "readToken": {
          "type": "string",
          "description": "gdata"
        },
        "blobGeneration": {
          "format": "int64",
          "description": "gdata",
          "type": "string"
        }
      },
      "description": "gdata",
      "type": "object"
    },
    "Report": {
      "description": "A report's metadata including the URL from which the report itself can be downloaded.",
      "type": "object",
      "id": "Report",
      "properties": {
        "downloadUrl": {
          "description": "The URL from which the report can be downloaded (max. 1000 characters).",
          "type": "string"
        },
        "jobExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The date/time when the job this report belongs to will expire/expired."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date/time when this report was created."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the time period that the report instance covers. The value is exclusive.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The server-generated ID of the report."
        },
        "jobId": {
          "type": "string",
          "description": "The ID of the job that created this report."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the time period that the report instance covers. The value is inclusive."
        }
      }
    },
    "GdataDownloadParameters": {
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "gdata"
        },
        "ignoreRange": {
          "description": "gdata",
          "type": "boolean"
        }
      },
      "description": "gdata",
      "type": "object",
      "id": "GdataDownloadParameters"
    },
    "GdataDiffVersionResponse": {
      "description": "gdata",
      "type": "object",
      "id": "GdataDiffVersionResponse",
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "gdata"
        },
        "objectVersion": {
          "type": "string",
          "description": "gdata"
        }
      }
    },
    "GdataContentTypeInfo": {
      "id": "GdataContentTypeInfo",
      "description": "gdata",
      "type": "object",
      "properties": {
        "bestGuess": {
          "type": "string",
          "description": "gdata"
        },
        "fromFileName": {
          "description": "gdata",
          "type": "string"
        },
        "fromFusionId": {
          "type": "string",
          "description": "gdata"
        },
        "fromUrlPath": {
          "description": "gdata",
          "type": "string"
        },
        "fromBytes": {
          "description": "gdata",
          "type": "string"
        },
        "fusionIdDetectionMetadata": {
          "type": "string",
          "format": "byte",
          "description": "gdata"
        },
        "fromHeader": {
          "type": "string",
          "description": "gdata"
        }
      }
    },
    "GdataDiffUploadResponse": {
      "id": "GdataDiffUploadResponse",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "gdata"
        },
        "originalObject": {
          "description": "gdata",
          "$ref": "GdataCompositeMedia"
        }
      },
      "type": "object",
      "description": "gdata"
    },
    "ListReportsResponse": {
      "type": "object",
      "id": "ListReportsResponse",
      "description": "Response message for ReportingService.ListReports.",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of report types.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token field in the subsequent call to `ListReports` method to retrieve the next page of results."
        }
      }
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token field in the subsequent call to `ListJobs` method to retrieve the next page of results.",
          "type": "string"
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "The list of jobs.",
          "type": "array"
        }
      },
      "id": "ListJobsResponse",
      "description": "Response message for ReportingService.ListJobs."
    },
    "ReportType": {
      "properties": {
        "name": {
          "description": "The name of the report type (max. 100 characters).",
          "type": "string"
        },
        "systemManaged": {
          "description": "True if this a system-managed report type; otherwise false. Reporting jobs for system-managed report types are created automatically and can thus not be used in the `CreateJob` method.",
          "type": "boolean"
        },
        "deprecateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date/time when this report type was/will be deprecated."
        },
        "id": {
          "type": "string",
          "description": "The ID of the report type (max. 100 characters)."
        }
      },
      "description": "A report type.",
      "type": "object",
      "id": "ReportType"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GdataCompositeMedia": {
      "description": "gdata",
      "type": "object",
      "id": "GdataCompositeMedia",
      "properties": {
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "gdata"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "description": "gdata",
          "type": "string"
        },
        "referenceType": {
          "enumDescriptions": [
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata"
          ],
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "description": "gdata"
        },
        "crc32cHash": {
          "description": "gdata",
          "type": "integer",
          "format": "uint32"
        },
        "objectId": {
          "$ref": "GdataObjectId",
          "description": "gdata"
        },
        "blobstore2Info": {
          "description": "gdata",
          "$ref": "GdataBlobstore2Info"
        },
        "length": {
          "description": "gdata",
          "type": "string",
          "format": "int64"
        },
        "md5Hash": {
          "format": "byte",
          "description": "gdata",
          "type": "string"
        },
        "blobRef": {
          "deprecated": true,
          "format": "byte",
          "type": "string",
          "description": "gdata"
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "gdata"
        },
        "path": {
          "type": "string",
          "description": "gdata"
        }
      }
    },
    "GdataMedia": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "gdata",
          "$ref": "GdataObjectId"
        },
        "sha1Hash": {
          "description": "gdata",
          "format": "byte",
          "type": "string"
        },
        "diffDownloadResponse": {
          "description": "gdata",
          "$ref": "GdataDiffDownloadResponse"
        },
        "length": {
          "description": "gdata",
          "format": "int64",
          "type": "string"
        },
        "diffUploadResponse": {
          "description": "gdata",
          "$ref": "GdataDiffUploadResponse"
        },
        "diffUploadRequest": {
          "$ref": "GdataDiffUploadRequest",
          "description": "gdata"
        },
        "cosmoBinaryReference": {
          "format": "byte",
          "type": "string",
          "description": "gdata"
        },
        "downloadParameters": {
          "$ref": "GdataDownloadParameters",
          "description": "gdata"
        },
        "blobstore2Info": {
          "description": "gdata",
          "$ref": "GdataBlobstore2Info"
        },
        "contentTypeInfo": {
          "description": "gdata",
          "$ref": "GdataContentTypeInfo"
        },
        "filename": {
          "description": "gdata",
          "type": "string"
        },
        "diffChecksumsResponse": {
          "$ref": "GdataDiffChecksumsResponse",
          "description": "gdata"
        },
        "algorithm": {
          "description": "gdata",
          "deprecated": true,
          "type": "string"
        },
        "mediaId": {
          "format": "byte",
          "description": "gdata",
          "type": "string"
        },
        "compositeMedia": {
          "description": "gdata",
          "items": {
            "$ref": "GdataCompositeMedia"
          },
          "type": "array"
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "gdata"
        },
        "blobRef": {
          "format": "byte",
          "type": "string",
          "deprecated": true,
          "description": "gdata"
        },
        "hash": {
          "deprecated": true,
          "type": "string",
          "description": "gdata"
        },
        "crc32cHash": {
          "description": "gdata",
          "format": "uint32",
          "type": "integer"
        },
        "contentType": {
          "description": "gdata",
          "type": "string"
        },
        "diffVersionResponse": {
          "description": "gdata",
          "$ref": "GdataDiffVersionResponse"
        },
        "hashVerified": {
          "description": "gdata",
          "type": "boolean"
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "gdata"
        },
        "timestamp": {
          "type": "string",
          "description": "gdata",
          "format": "uint64"
        },
        "path": {
          "type": "string",
          "description": "gdata"
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "gdata"
        },
        "md5Hash": {
          "format": "byte",
          "description": "gdata",
          "type": "string"
        },
        "sha512Hash": {
          "type": "string",
          "format": "byte",
          "description": "gdata"
        },
        "token": {
          "description": "gdata",
          "type": "string"
        },
        "bigstoreObjectRef": {
          "deprecated": true,
          "format": "byte",
          "description": "gdata",
          "type": "string"
        },
        "referenceType": {
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "description": "gdata",
          "enumDescriptions": [
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata",
            "gdata"
          ]
        }
      },
      "id": "GdataMedia",
      "description": "gdata"
    },
    "GdataDiffChecksumsResponse": {
      "properties": {
        "objectSizeBytes": {
          "description": "gdata",
          "format": "int64",
          "type": "string"
        },
        "objectVersion": {
          "type": "string",
          "description": "gdata"
        },
        "chunkSizeBytes": {
          "description": "gdata",
          "format": "int64",
          "type": "string"
        },
        "checksumsLocation": {
          "$ref": "GdataCompositeMedia",
          "description": "gdata"
        },
        "objectLocation": {
          "description": "gdata",
          "$ref": "GdataCompositeMedia"
        }
      },
      "id": "GdataDiffChecksumsResponse",
      "description": "gdata",
      "type": "object"
    },
    "GdataObjectId": {
      "properties": {
        "bucketName": {
          "description": "gdata",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "description": "gdata",
          "type": "string"
        },
        "objectName": {
          "type": "string",
          "description": "gdata"
        }
      },
      "id": "GdataObjectId",
      "type": "object",
      "description": "gdata"
    },
    "GdataDiffDownloadResponse": {
      "id": "GdataDiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "description": "gdata",
          "$ref": "GdataCompositeMedia"
        }
      },
      "type": "object",
      "description": "gdata"
    },
    "Job": {
      "id": "Job",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation date/time of the job."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date/time when this job will expire/expired. After a job expired, no new reports are generated."
        },
        "reportTypeId": {
          "description": "The type of reports this job creates. Corresponds to the ID of a ReportType.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The server-generated ID of the job (max. 40 characters)."
        },
        "systemManaged": {
          "type": "boolean",
          "description": "True if this a system-managed job that cannot be modified by the user; otherwise false."
        },
        "name": {
          "type": "string",
          "description": "The name of the job (max. 100 characters)."
        }
      },
      "type": "object",
      "description": "A job creating reports of a specific type."
    },
    "GdataDiffUploadRequest": {
      "id": "GdataDiffUploadRequest",
      "description": "gdata",
      "properties": {
        "checksumsInfo": {
          "$ref": "GdataCompositeMedia",
          "description": "gdata"
        },
        "objectInfo": {
          "description": "gdata",
          "$ref": "GdataCompositeMedia"
        },
        "objectVersion": {
          "description": "gdata",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "name": "youtubereporting",
  "documentationLink": "https://developers.google.com/youtube/reporting/v1/reports/",
  "title": "YouTube Reporting API",
  "basePath": "",
  "servicePath": "",
  "ownerName": "Google",
  "id": "youtubereporting:v1",
  "baseUrl": "https://youtubereporting.googleapis.com/",
  "rootUrl": "https://youtubereporting.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch"
}