{
  "name": "youtube",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "YouTube",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "basePath": "",
  "baseUrl": "https://youtube.googleapis.com/",
  "version": "v3",
  "id": "youtube:v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "servicePath": "",
  "ownerName": "Google",
  "rootUrl": "https://youtube.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "title": "YouTube Data API v3",
  "revision": "20261001",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "schemas": {
    "VideoStatsStatistics": {
      "type": "object",
      "id": "VideoStatsStatistics",
      "properties": {
        "viewCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of times the video has been viewed."
        },
        "likeCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of users who have indicated that they liked the video by giving it a positive rating.",
          "format": "int64"
        },
        "commentCount": {
          "format": "int64",
          "description": "Output only. The number of comments for the video.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Statistics about the video, such as the number of times the video was viewed or liked."
    },
    "MonitorStreamInfo": {
      "type": "object",
      "description": "Settings and Info of the monitor stream",
      "properties": {
        "enableMonitorStream": {
          "type": "boolean",
          "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "embedHtml": {
          "description": "HTML code that embeds a player that plays the monitor stream.",
          "type": "string"
        },
        "broadcastStreamDelayMs": {
          "format": "uint32",
          "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "integer"
        }
      },
      "id": "MonitorStreamInfo"
    },
    "LiveBroadcastSnippet": {
      "type": "object",
      "description": "Basic broadcast information.",
      "properties": {
        "scheduledEndTime": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to end."
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        },
        "categoryId": {
          "type": "string",
          "description": "The YouTube video category associated with the video broadcast."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "actualStartTime": {
          "type": "string",
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "format": "date-time"
        },
        "scheduledStartTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast is scheduled to start.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        },
        "liveChatId": {
          "description": "The id of the live chat for this broadcast.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast."
        },
        "description": {
          "type": "string",
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource."
        },
        "actualEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule.",
          "type": "string"
        }
      },
      "id": "LiveBroadcastSnippet"
    },
    "ThumbnailSetResponse": {
      "type": "object",
      "id": "ThumbnailSetResponse",
      "properties": {
        "items": {
          "description": "A list of thumbnails.",
          "items": {
            "$ref": "ThumbnailDetails"
          },
          "type": "array"
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\".",
          "type": "string",
          "default": "youtube#thumbnailSetResponse"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "ChannelProfileDetails": {
      "id": "ChannelProfileDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        }
      }
    },
    "ChannelSettings": {
      "description": "Branding properties for the channel view.",
      "id": "ChannelSettings",
      "properties": {
        "title": {
          "description": "Specifies the channel title.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string"
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string"
        },
        "featuredChannelsUrls": {
          "deprecated": true,
          "type": "array",
          "description": "The list of featured channels.",
          "items": {
            "type": "string"
          }
        },
        "moderateComments": {
          "type": "boolean",
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible.",
          "deprecated": true
        },
        "unsubscribedTrailer": {
          "type": "string",
          "description": "The trailer of the channel, for users that are not subscribers."
        },
        "profileColor": {
          "description": "A prominent color that can be rendered on this channel page.",
          "type": "string",
          "deprecated": true
        },
        "featuredChannelsTitle": {
          "type": "string",
          "description": "Title for the featured channels tab.",
          "deprecated": true
        },
        "showRelatedChannels": {
          "type": "boolean",
          "description": "Whether related channels should be proposed.",
          "deprecated": true
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "defaultTab": {
          "deprecated": true,
          "description": "Which content tab users should see when viewing the channel.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Specifies the channel description."
        },
        "showBrowseView": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the tab to browse the videos should be displayed."
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AbuseReport": {
      "id": "AbuseReport",
      "type": "object",
      "properties": {
        "relatedEntities": {
          "type": "array",
          "items": {
            "$ref": "RelatedEntity"
          }
        },
        "description": {
          "type": "string"
        },
        "subject": {
          "$ref": "Entity"
        },
        "abuseTypes": {
          "items": {
            "$ref": "AbuseType"
          },
          "type": "array"
        }
      }
    },
    "LiveChatGiftDetails": {
      "type": "object",
      "properties": {
        "giftDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration of the gift."
        },
        "jewelsAmount": {
          "type": "integer",
          "description": "The value of the gift in jewels.",
          "format": "int32"
        },
        "comboCount": {
          "format": "int32",
          "description": "The number of times the gift has been sent in a row.",
          "type": "integer"
        },
        "hasVisualEffect": {
          "description": "Whether the gift involves a visual effect.",
          "type": "boolean"
        },
        "altText": {
          "type": "string",
          "description": "The alternative text to be used for accessibility."
        },
        "giftName": {
          "type": "string",
          "description": "The name of the gift."
        },
        "language": {
          "description": "The BCP-47 language code of the gift.",
          "type": "string"
        },
        "giftUrl": {
          "type": "string",
          "description": "The URL of the gift image."
        }
      },
      "description": "Details about the gift event, this is only set if the type is 'giftEvent'.",
      "id": "LiveChatGiftDetails"
    },
    "ActivityContentDetailsComment": {
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the resource associated with the comment."
        }
      },
      "id": "ActivityContentDetailsComment",
      "description": "Information about a resource that received a comment."
    },
    "ImageSettings": {
      "type": "object",
      "id": "ImageSettings",
      "description": "Branding properties for images associated with the channel.",
      "properties": {
        "bannerMobileHdImageUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Banner image. Mobile size high resolution (1280x360)."
        },
        "bannerMobileMediumHdImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. Mobile size medium/high resolution (960x263)."
        },
        "smallBrandedBannerImageImapScript": {
          "description": "The image map script for the small banner image.",
          "$ref": "LocalizedProperty",
          "deprecated": true
        },
        "bannerTvHighImageUrl": {
          "type": "string",
          "description": "Banner image. TV size high resolution (1920x1080).",
          "deprecated": true
        },
        "bannerTvMediumImageUrl": {
          "description": "Banner image. TV size medium resolution (1280x720).",
          "type": "string",
          "deprecated": true
        },
        "bannerMobileLowImageUrl": {
          "deprecated": true,
          "description": "Banner image. Mobile size low resolution (320x88).",
          "type": "string"
        },
        "watchIconImageUrl": {
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletLowImageUrl": {
          "description": "Banner image. Tablet size low resolution (1138x188).",
          "deprecated": true,
          "type": "string"
        },
        "largeBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "deprecated": true,
          "description": "The image map script for the large banner image."
        },
        "bannerMobileExtraHdImageUrl": {
          "deprecated": true,
          "description": "Banner image. Mobile size high resolution (1440x395).",
          "type": "string"
        },
        "bannerExternalUrl": {
          "description": "This is generated when a ChannelBanner.Insert request has succeeded for the given channel.",
          "type": "string"
        },
        "backgroundImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k.",
          "deprecated": true
        },
        "bannerImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. Desktop size (1060x175)."
        },
        "bannerTabletExtraHdImageUrl": {
          "description": "Banner image. Tablet size extra high resolution (2560x424).",
          "type": "string",
          "deprecated": true
        },
        "bannerMobileImageUrl": {
          "description": "Banner image. Mobile size (640x175).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletHdImageUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Banner image. Tablet size high resolution (2276x377)."
        },
        "bannerTvLowImageUrl": {
          "description": "Banner image. TV size low resolution (854x480).",
          "deprecated": true,
          "type": "string"
        },
        "largeBrandedBannerImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page.",
          "deprecated": true
        },
        "trackingImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages."
        },
        "bannerTabletImageUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Banner image. Tablet size (1707x283)."
        },
        "bannerTvImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. TV size extra high resolution (2120x1192)."
        },
        "smallBrandedBannerImageUrl": {
          "deprecated": true,
          "$ref": "LocalizedProperty",
          "description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page. The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels."
        }
      }
    },
    "TestItem": {
      "type": "object",
      "id": "TestItem",
      "properties": {
        "etag": {
          "description": "Etag for the resource. See https://en.wikipedia.org/wiki/HTTP_ETag.",
          "type": "string"
        },
        "gaia": {
          "type": "string",
          "format": "int64"
        },
        "snippet": {
          "$ref": "TestItemTestItemSnippet"
        },
        "id": {
          "type": "string"
        },
        "featuredPart": {
          "type": "boolean"
        }
      }
    },
    "VideoTrainability": {
      "description": "Specifies who is allowed to train on the video.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "youtube#videoTrainability",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\"."
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video."
        },
        "permitted": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "id": "VideoTrainability"
    },
    "Playlist": {
      "type": "object",
      "id": "Playlist",
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
      "properties": {
        "localizations": {
          "type": "object",
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          }
        },
        "kind": {
          "default": "youtube#playlist",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
          "type": "string"
        },
        "snippet": {
          "$ref": "PlaylistSnippet",
          "description": "The snippet object contains basic details about the playlist, such as its title and description."
        },
        "contentDetails": {
          "$ref": "PlaylistContentDetails",
          "description": "The contentDetails object contains information like video count."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist."
        },
        "player": {
          "description": "The player object contains information that you would use to play the playlist in an embedded player.",
          "$ref": "PlaylistPlayer"
        },
        "status": {
          "$ref": "PlaylistStatus",
          "description": "The status object contains status information for the playlist."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "LiveChatSuperStickerDetails": {
      "id": "LiveChatSuperStickerDetails",
      "type": "object",
      "properties": {
        "amountMicros": {
          "type": "string",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "format": "uint64"
        },
        "tier": {
          "type": "integer",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32"
        },
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "superStickerMetadata": {
          "$ref": "SuperStickerMetadata",
          "description": "Information about the Super Sticker."
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      }
    },
    "LiveChatMembershipGiftingDetails": {
      "type": "object",
      "properties": {
        "giftMembershipsCount": {
          "format": "int32",
          "description": "The number of gift memberships purchased by the user.",
          "type": "integer"
        },
        "giftMembershipsLevelName": {
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        }
      },
      "id": "LiveChatMembershipGiftingDetails"
    },
    "LiveStreamStatus": {
      "description": "Brief description of the live stream status.",
      "properties": {
        "streamStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      },
      "type": "object",
      "id": "LiveStreamStatus"
    },
    "ChannelLocalization": {
      "description": "Channel localization setting",
      "properties": {
        "title": {
          "description": "The localized strings for channel's title.",
          "type": "string"
        },
        "description": {
          "description": "The localized strings for channel's description.",
          "type": "string"
        }
      },
      "id": "ChannelLocalization",
      "type": "object"
    },
    "CommentThread": {
      "type": "object",
      "id": "CommentThread",
      "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.",
      "properties": {
        "replies": {
          "$ref": "CommentThreadReplies",
          "description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "CommentThreadSnippet",
          "description": "The snippet object contains basic details about the comment thread and also the top level comment."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\".",
          "default": "youtube#commentThread"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment thread.",
          "type": "string"
        }
      }
    },
    "PageInfo": {
      "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
      "type": "object",
      "properties": {
        "totalResults": {
          "format": "int32",
          "description": "The total number of results in the result set.",
          "type": "integer"
        },
        "resultsPerPage": {
          "description": "The number of results included in the API response.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "PageInfo"
    },
    "VideoAbuseReportReason": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of this abuse report reason."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`.",
          "type": "string",
          "default": "youtube#videoAbuseReportReason"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the abuse report reason.",
          "$ref": "VideoAbuseReportReasonSnippet"
        }
      },
      "id": "VideoAbuseReportReason",
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`."
    },
    "VideoSuggestionsTagSuggestion": {
      "type": "object",
      "properties": {
        "categoryRestricts": {
          "items": {
            "type": "string"
          },
          "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword.",
          "type": "array"
        },
        "tag": {
          "description": "The keyword tag suggested for the video.",
          "type": "string"
        }
      },
      "description": "A single tag suggestion with its relevance information.",
      "id": "VideoSuggestionsTagSuggestion"
    },
    "PlaylistImage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifies this resource (playlist id and image type)."
        },
        "snippet": {
          "$ref": "PlaylistImageSnippet"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImages\".",
          "default": "youtube#playlistImage",
          "type": "string"
        }
      },
      "id": "PlaylistImage"
    },
    "MembershipsDurationAtLevel": {
      "properties": {
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "format": "int32",
          "type": "integer"
        },
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        },
        "memberSince": {
          "description": "The date and time when the user became a continuous member for the given level.",
          "type": "string"
        }
      },
      "id": "MembershipsDurationAtLevel",
      "type": "object"
    },
    "VideoProjectDetails": {
      "type": "object",
      "id": "VideoProjectDetails",
      "description": "DEPRECATED. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
      "properties": {}
    },
    "LiveBroadcastStatistics": {
      "properties": {
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts.",
      "type": "object",
      "id": "LiveBroadcastStatistics"
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PlaylistItem": {
      "properties": {
        "snippet": {
          "$ref": "PlaylistItemSnippet",
          "description": "The snippet object contains basic details about the playlist item, such as its title and position in the playlist."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "status": {
          "description": "The status object contains information about the playlist item's privacy status.",
          "$ref": "PlaylistItemStatus"
        },
        "contentDetails": {
          "description": "The contentDetails object is included in the resource if the included item is a YouTube video. The object contains additional information about the video.",
          "$ref": "PlaylistItemContentDetails"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the playlist item.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#playlistItem",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItem\"."
        }
      },
      "type": "object",
      "id": "PlaylistItem",
      "description": "A *playlistItem* resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel."
    },
    "ChannelToStoreLinkDetails": {
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel.",
      "properties": {
        "storeUrl": {
          "type": "string",
          "description": "Landing page of the store."
        },
        "storeName": {
          "description": "Name of the store.",
          "type": "string"
        },
        "billingDetails": {
          "description": "Information specific to billing (read-only).",
          "$ref": "ChannelToStoreLinkDetailsBillingDetails"
        },
        "merchantId": {
          "format": "uint64",
          "description": "Google Merchant Center id of the store.",
          "type": "string"
        },
        "merchantAffiliateProgramDetails": {
          "$ref": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails",
          "description": "Information specific to merchant affiliate program (read-only)."
        }
      },
      "type": "object",
      "id": "ChannelToStoreLinkDetails"
    },
    "I18nRegionSnippet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The human-readable name of the region.",
          "type": "string"
        },
        "gl": {
          "type": "string",
          "description": "The region code as a 2-letter ISO country code."
        }
      },
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "id": "I18nRegionSnippet"
    },
    "LiveChatModerator": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the moderator."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "LiveChatModeratorSnippet",
          "description": "The snippet object contains basic details about the moderator."
        },
        "kind": {
          "default": "youtube#liveChatModerator",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModerator\"."
        }
      },
      "type": "object",
      "description": "A *liveChatModerator* resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc.",
      "id": "LiveChatModerator"
    },
    "VideoProcessingDetails": {
      "description": "Describes processing status and progress and availability of some other Video resource parts.",
      "properties": {
        "editorSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "processingStatus": {
          "type": "string",
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ]
        },
        "processingFailureReason": {
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "fileDetailsAvailability": {
          "type": "string",
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request."
        },
        "processingIssuesAvailability": {
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "tagSuggestionsAvailability": {
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        },
        "thumbnailsAvailability": {
          "description": "This value indicates whether thumbnail images have been generated for the video.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoProcessingDetails"
    },
    "ChannelContentOwnerDetails": {
      "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
      "id": "ChannelContentOwnerDetails",
      "properties": {
        "contentOwner": {
          "type": "string",
          "description": "The ID of the content owner linked to the channel."
        },
        "timeLinked": {
          "description": "The date and time when the channel was linked to the content owner.",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchGetStatsResponse": {
      "description": "Response for the Videos.stats API. Returns VideoStat information about a batch of videos. VideoStat contains a subset of the information in Video that is relevant to statistics and content details. BatchGetStats is intentionally not atomic to provide a better user experience. BatchGetStatsResponse returns a summary to help users understand the outcome of the operation.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "VideoStat"
          },
          "description": "The videos' stats information."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#batchGetStatsResponse\".",
          "default": "youtube#batchGetStatsResponse",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BatchGetStatsResponse"
    },
    "I18nRegion": {
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n region.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#i18nRegion",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\"."
        },
        "snippet": {
          "$ref": "I18nRegionSnippet",
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "id": "I18nRegion"
    },
    "LiveBroadcastContentDetails": {
      "id": "LiveBroadcastContentDetails",
      "type": "object",
      "properties": {
        "enableClosedCaptions": {
          "type": "boolean",
          "deprecated": true,
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST."
        },
        "enableContentEncryption": {
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast.",
          "type": "boolean"
        },
        "closedCaptionsType": {
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "enableLowLatency": {
          "deprecated": true,
          "type": "boolean",
          "description": "Indicates whether this broadcast has low latency enabled."
        },
        "recordFromStart": {
          "type": "boolean",
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback."
        },
        "monitorStream": {
          "$ref": "MonitorStreamInfo",
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly."
        },
        "projection": {
          "type": "string",
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The projection format of this broadcast. This defaults to rectangular."
        },
        "startWithSlate": {
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.",
          "type": "boolean",
          "deprecated": true
        },
        "enableAutoStop": {
          "type": "boolean",
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "boundStreamLastUpdateTimeMs": {
          "format": "date-time",
          "description": "The date and time that the live stream referenced by boundStreamId was last updated.",
          "type": "string"
        },
        "enableDvr": {
          "type": "boolean",
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends."
        },
        "availabilityConfig": {
          "$ref": "AvailabilityConfig",
          "description": "Optional. The broadcast's availability config. Used to set specific region availability or block specific regions It is optional - if not set, it is not enforced."
        },
        "stereoLayout": {
          "description": "The 3D stereo layout of this broadcast. This defaults to mono.",
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "boundStreamId": {
          "description": "This value uniquely identifies the live stream bound to the broadcast.",
          "type": "string"
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "latencyPreference": {
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ]
        },
        "mesh": {
          "type": "string",
          "format": "byte",
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags."
        },
        "enableEmbed": {
          "type": "boolean",
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video."
        }
      },
      "description": "Detailed settings of a broadcast."
    },
    "AvailabilityConfigRegionsConfigRegionInterval": {
      "description": "Region and time window where video is available for the region.",
      "properties": {
        "regionCode": {
          "description": "Required. Region where video is available",
          "type": "string"
        },
        "interval": {
          "$ref": "Interval",
          "description": "Time window where video is available for the region. Not supported for upcoming / active live broadcasts. If start time is unspecified, video is already available If end time is unspecified, video is available forever Specified start and end times cannot be more than five years in the future."
        }
      },
      "id": "AvailabilityConfigRegionsConfigRegionInterval",
      "type": "object"
    },
    "VideoMonetizationDetails": {
      "id": "VideoMonetizationDetails",
      "type": "object",
      "properties": {
        "access": {
          "description": "The value of access indicates whether the video can be monetized or not.",
          "$ref": "AccessPolicy"
        }
      },
      "description": "Details about monetization of a YouTube Video."
    },
    "SuperChatEventListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\".",
          "default": "youtube#superChatEventListResponse"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "SuperChatEvent"
          },
          "type": "array",
          "description": "A list of Super Chat purchases that match the request criteria."
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuperChatEventListResponse"
    },
    "BrandPartner": {
      "description": "Details about the brand partner linked to the video for Creator Initiated Linking (CIL). Next ID: 6",
      "id": "BrandPartner",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "Required. External Channel ID, must begin with \"UC\"",
          "type": "string"
        },
        "channelHandle": {
          "description": "Required. Channel handle, must begin with \"@\"",
          "type": "string"
        }
      }
    },
    "LiveChatMessage": {
      "id": "LiveChatMessage",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the message."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "authorDetails": {
          "$ref": "LiveChatMessageAuthorDetails",
          "description": "The authorDetails object contains basic details about the user that posted this message."
        },
        "kind": {
          "default": "youtube#liveChatMessage",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\".",
          "type": "string"
        },
        "snippet": {
          "$ref": "LiveChatMessageSnippet",
          "description": "The snippet object contains basic details about the message."
        }
      },
      "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat.",
      "type": "object"
    },
    "CommentListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "eventId": {
          "type": "string",
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "default": "youtube#commentListResponse"
        },
        "items": {
          "description": "A list of comments that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        }
      },
      "id": "CommentListResponse"
    },
    "VideoStatus": {
      "description": "Basic details about a video category, such as its localized title. Next Id: 20",
      "type": "object",
      "properties": {
        "madeForKids": {
          "type": "boolean"
        },
        "license": {
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update",
          "enumDescriptions": [
            "Standard YouTube license.",
            "Creative Commons license."
          ],
          "type": "string",
          "enum": [
            "youtube",
            "creativeCommon"
          ]
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update"
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "description": "The video's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "uploadStatus": {
          "description": "The status of the uploaded video.",
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ],
          "type": "string"
        },
        "publishAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private.."
        },
        "containsSyntheticMedia": {
          "description": "Indicates if the video contains altered or synthetic media.",
          "type": "boolean"
        },
        "rejectionReason": {
          "type": "string",
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ],
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected."
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "embeddable": {
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update",
          "type": "boolean"
        },
        "failureReason": {
          "type": "string",
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ],
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ]
        }
      },
      "id": "VideoStatus"
    },
    "PlaylistStatus": {
      "properties": {
        "podcastStatus": {
          "enum": [
            "enabled",
            "disabled"
          ],
          "description": "The playlist's podcast status.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The playlist's privacy status.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "PlaylistStatus",
      "type": "object"
    },
    "ChannelAuditDetails": {
      "type": "object",
      "id": "ChannelAuditDetails",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "properties": {
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean"
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        },
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        }
      }
    },
    "ChannelConversionPings": {
      "properties": {
        "pings": {
          "type": "array",
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "items": {
            "$ref": "ChannelConversionPing"
          }
        }
      },
      "id": "ChannelConversionPings",
      "type": "object",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
    },
    "VideoCategorySnippet": {
      "type": "object",
      "properties": {
        "assignable": {
          "type": "boolean"
        },
        "title": {
          "description": "The video category's title.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel that created the video category.",
          "default": "UCBR8-60-B28hp2BmDPdntcQ"
        }
      },
      "id": "VideoCategorySnippet",
      "description": "Basic details about a video category, such as its localized title."
    },
    "Interval": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "LiveChatMemberMilestoneChatDetails": {
      "id": "LiveChatMemberMilestoneChatDetails",
      "type": "object",
      "properties": {
        "memberLevelName": {
          "description": "The name of the Level at which the viever is a member. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the member to this Member Milestone Chat. This field is empty for messages without a comment from the member."
        },
        "memberMonth": {
          "format": "uint32",
          "type": "integer",
          "description": "The total amount of months (rounded up) the viewer has been a member that granted them this Member Milestone Chat. This is the same number of months as is being displayed to YouTube users."
        }
      }
    },
    "RelatedEntity": {
      "type": "object",
      "id": "RelatedEntity",
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      }
    },
    "ChannelSection": {
      "id": "ChannelSection",
      "type": "object",
      "properties": {
        "targeting": {
          "description": "The targeting object contains basic targeting settings about the channel section.",
          "deprecated": true,
          "$ref": "ChannelSectionTargeting"
        },
        "contentDetails": {
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section.",
          "$ref": "ChannelSectionContentDetails"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "default": "youtube#channelSection"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel section."
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages",
          "deprecated": true,
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title.",
          "$ref": "ChannelSectionSnippet"
        }
      }
    },
    "LiveBroadcastListResponse": {
      "id": "LiveBroadcastListResponse",
      "properties": {
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "default": "youtube#liveBroadcastListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveBroadcast"
          },
          "description": "A list of broadcasts that match the request criteria."
        }
      },
      "type": "object"
    },
    "LiveChatModeratorListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "youtube#liveChatModeratorListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LiveChatModerator"
          },
          "type": "array",
          "description": "A list of moderators that match the request criteria."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      },
      "id": "LiveChatModeratorListResponse",
      "type": "object"
    },
    "AvailabilityConfigRegionsConfig": {
      "id": "AvailabilityConfigRegionsConfig",
      "type": "object",
      "properties": {
        "regionIntervals": {
          "description": "Required. List of regions and time windows where video is available. If a region is specified multiple times, the union of all intervals is used.",
          "items": {
            "$ref": "AvailabilityConfigRegionsConfigRegionInterval"
          },
          "type": "array"
        }
      },
      "description": "Video is available in the specified regions only."
    },
    "I18nLanguage": {
      "type": "object",
      "id": "I18nLanguage",
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\".",
          "type": "string",
          "default": "youtube#i18nLanguage"
        },
        "snippet": {
          "$ref": "I18nLanguageSnippet",
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the i18n language."
        }
      }
    },
    "SearchListResponse": {
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "Pagination information for token pagination."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
          "type": "string",
          "default": "youtube#searchListResponse"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitor ID identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchListResponse"
    },
    "ContentRating": {
      "type": "object",
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange",
      "properties": {
        "fskRating": {
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ],
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ]
        },
        "cnaRating": {
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).",
          "type": "string",
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ]
        },
        "bfvcRating": {
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "type": "string"
        },
        "medietilsynetRating": {
          "type": "string",
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ]
        },
        "cncRating": {
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "description": "Rating system in France - Commission de classification cinematographique",
          "type": "string",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ]
        },
        "ifcoRating": {
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "eefilmRating": {
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "description": "The video's rating in Estonia.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ]
        },
        "chfilmRating": {
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "description": "The video's rating in Switzerland.",
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ]
        },
        "catvfrRating": {
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "fpbRatingReasons": {
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "type": "array",
          "items": {
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "russiaRating": {
          "type": "string",
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ],
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating."
        },
        "moctwRating": {
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ],
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部).",
          "type": "string"
        },
        "cicfRating": {
          "type": "string",
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ],
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium)."
        },
        "agcomRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ],
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM)."
        },
        "djctqRatingReasons": {
          "type": "array",
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)",
              "Temer (Fear)",
              "Procedimentos médicos (Medical Procedures)",
              "Tópicos sensíveis (Sensitive Topics)",
              "Fantasia Violência (Fantasy Violence)"
            ],
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent",
              "djctqFear",
              "djctqMedicalProcedures",
              "djctqSensitiveTopics",
              "djctqFantasyViolence"
            ]
          }
        },
        "chvrsRating": {
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "type": "string",
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ]
        },
        "icaaRating": {
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "type": "string",
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ]
        },
        "tvpgRating": {
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "type": "string",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ]
        },
        "kmrbRating": {
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ],
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "type": "string"
        },
        "smsaRating": {
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council).",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ]
        },
        "pefilmRating": {
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in Peru.",
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "type": "string"
        },
        "fcbmRating": {
          "description": "The video's rating from Malaysia's Film Censorship Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ],
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "type": "string"
        },
        "skfilmRating": {
          "description": "The video's rating in Slovakia.",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ],
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "type": "string"
        },
        "eirinRating": {
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ],
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ]
        },
        "acbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ]
        },
        "mibacRating": {
          "type": "string",
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ],
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "oflcRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "type": "string",
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating."
        },
        "mdaRating": {
          "type": "string",
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC)."
        },
        "rtcRating": {
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "type": "string",
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ]
        },
        "nfrcRating": {
          "description": "The video's rating from the Bulgarian National Film Center.",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ],
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "type": "string"
        },
        "grfilmRating": {
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "type": "string",
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece."
        },
        "catvRating": {
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ]
        },
        "kijkwijzerRating": {
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ]
        },
        "djctqRating": {
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ]
        },
        "nfvcbRating": {
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ]
        },
        "mocRating": {
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ],
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ]
        },
        "fcoRating": {
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ],
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
[...]
