{
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "version": "v3",
  "baseUrl": "https://youtube.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "rootUrl": "https://youtube.googleapis.com/",
  "id": "youtube:v3",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/youtube/",
  "ownerName": "Google",
  "name": "youtube",
  "title": "YouTube Data API v3",
  "resources": {
    "i18nRegions": {
      "methods": {
        "list": {
          "id": "youtube.i18nRegions.list",
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query"
            },
            "hl": {
              "type": "string",
              "default": "en_US",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/i18nRegions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/i18nRegions",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "LiveChatBan"
          },
          "id": "youtube.liveChatBans.insert",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/bans",
          "path": "youtube/v3/liveChat/bans",
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "repeated": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "LiveChatBan"
          },
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "description": "Deletes a chat ban.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatBans.delete"
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "path": "youtube/v3/membershipsLevels",
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/membershipsLevels",
          "id": "youtube.membershipsLevels.list",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "MembershipsLevelListResponse"
          }
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/tests",
          "path": "youtube/v3/tests",
          "description": "POST method.",
          "response": {
            "$ref": "TestItem"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string"
            },
            "externalChannelId": {
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "TestItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.tests.insert",
          "httpMethod": "POST"
        }
      }
    },
    "playlistItems": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "PlaylistItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true
            }
          },
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.insert"
        },
        "list": {
          "path": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.playlistItems.list",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "parameters": {
            "playlistId": {
              "type": "string",
              "description": "Return the playlist items within the given playlist.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "minimum": "0",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true
            }
          }
        },
        "update": {
          "path": "youtube/v3/playlistItems",
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "id": "youtube.playlistItems.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlaylistItem"
          },
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "youtube.playlistItems.delete",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "request": {
            "$ref": "LiveChatMessage"
          },
          "id": "youtube.liveChatMessages.insert",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "part"
          ]
        },
        "transition": {
          "parameters": {
            "status": {
              "type": "string",
              "enumDescriptions": [
                "Default unknown enum value.",
                "The durable chat event is over."
              ],
              "description": "The status to which the chat event is going to transition.",
              "location": "query",
              "enum": [
                "statusUnspecified",
                "closed"
              ]
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "The ID that uniquely identify the chat message event to transition."
            }
          },
          "description": "Transition a durable chat event.",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveChat/messages/transition",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveChat/messages/transition",
          "id": "youtube.liveChatMessages.transition",
          "response": {
            "$ref": "LiveChatMessage"
          }
        },
        "delete": {
          "flatPath": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a chat message.",
          "path": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "youtube.liveChatMessages.list",
          "flatPath": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/liveChat/messages",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
              "repeated": true,
              "type": "string"
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
              "location": "query",
              "format": "uint32",
              "minimum": "200",
              "maximum": "2000",
              "type": "integer",
              "default": "500"
            },
            "profileImageSize": {
              "type": "integer",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "minimum": "16",
              "maximum": "720",
              "format": "uint32",
              "location": "query"
            },
            "hl": {
              "description": "Specifies the localization language in which the system messages should be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "superChatEvents": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.superChatEvents.list",
          "flatPath": "youtube/v3/superChatEvents",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "hl": {
              "location": "query",
              "description": "Return rendered funding amounts in specified language.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "maximum": "50"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. This parameter is currently not supported.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "path": "youtube/v3/superChatEvents"
        }
      }
    },
    "commentThreads": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "CommentThread"
          },
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/commentThreads",
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "CommentThread"
          },
          "id": "youtube.commentThreads.insert"
        },
        "list": {
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.list",
          "parameters": {
            "id": {
              "location": "query",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "type": "string",
              "repeated": true
            },
            "moderationStatus": {
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "default": "published",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "default": "20",
              "minimum": "1",
              "maximum": "100",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "order": {
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "default": "time",
              "type": "string"
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "description": "The requested text format for the returned comments.",
              "default": "html",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string"
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Returns the comment threads of the specified video."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "channelId": {
              "location": "query",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "type": "string"
            },
            "allThreadsRelatedToChannelId": {
              "type": "string",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "location": "query"
            },
            "searchTerms": {
              "location": "query",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "location": "query",
              "repeated": true
            }
          },
          "path": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "playlists": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "path": "youtube/v3/playlists",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "hl": {
              "type": "string",
              "description": "Return content in specified language",
              "location": "query"
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Return the playlists owned by the authenticated user."
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "minimum": "0",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "path": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "flatPath": "youtube/v3/playlists",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.insert",
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Playlist"
          }
        },
        "delete": {
          "flatPath": "youtube/v3/playlists",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.delete",
          "description": "Deletes a resource.",
          "path": "youtube/v3/playlists",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "update": {
          "flatPath": "youtube/v3/playlists",
          "request": {
            "$ref": "Playlist"
          },
          "path": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.update",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Updates an existing resource."
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "path": "youtube/v3/videoAbuseReportReasons",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "hl": {
              "default": "en-US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            }
          },
          "id": "youtube.videoAbuseReportReasons.list",
          "httpMethod": "GET"
        }
      }
    },
    "channelSections": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true
            },
            "hl": {
              "type": "string",
              "deprecated": true,
              "description": "Return content in specified language",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "mine": {
              "location": "query",
              "description": "Return the ChannelSections owned by the authenticated user.",
              "type": "boolean"
            },
            "id": {
              "repeated": true,
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "type": "string",
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "httpMethod": "GET",
          "id": "youtube.channelSections.list",
          "flatPath": "youtube/v3/channelSections",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "ChannelSectionListResponse"
          }
        },
        "insert": {
          "request": {
            "$ref": "ChannelSection"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/channelSections",
          "id": "youtube.channelSections.insert",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "required": true
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection."
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/channelSections",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.channelSections.update",
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Updates an existing resource."
        },
        "delete": {
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a resource.",
          "parameterOrder": [
            "id"
          ]
        }
      }
    },
    "videos": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.delete",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/videos",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource."
        },
        "batchGetStats": {
          "response": {
            "$ref": "BatchGetStatsResponse"
          },
          "parameterOrder": [],
          "id": "youtube.videos.batchGetStats",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos:batchGetStats",
          "httpMethod": "GET",
          "path": "youtube/v3/videos:batchGetStats",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "location": "query",
              "repeated": true
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience."
        },
        "rate": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos/rate",
          "id": "youtube.videos.rate",
          "path": "youtube/v3/videos/rate",
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameters": {
            "rating": {
              "enumDescriptions": [
                "The entity has not been rated.",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "required": true,
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          }
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "stabilize": {
              "location": "query",
              "description": "Should stabilize be applied to the upload.",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "notifySubscribers": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled."
            },
            "autoLevels": {
              "location": "query",
              "type": "boolean",
              "description": "Should auto-levels be applied to the upload."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Video"
          },
          "response": {
            "$ref": "Video"
          },
          "mediaUpload": {
            "maxSize": "274877906944",
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/videos",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/videos",
                "multipart": true
              }
            },
            "accept": [
              "video/*",
              "application/octet-stream"
            ]
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos"
        },
        "update": {
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.videos.update",
          "response": {
            "$ref": "Video"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Video"
          },
          "flatPath": "youtube/v3/videos",
          "httpMethod": "PUT"
        },
        "reportAbuse": {
          "path": "youtube/v3/videos/reportAbuse",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "description": "Report abuse for a video.",
          "id": "youtube.videos.reportAbuse",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "getRating": {
          "id": "youtube.videos.getRating",
          "parameters": {
            "id": {
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "httpMethod": "GET",
          "path": "youtube/v3/videos/getRating",
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "flatPath": "youtube/v3/videos/getRating",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.list",
          "path": "youtube/v3/videos",
          "parameters": {
            "locale": {
              "type": "string",
              "deprecated": true,
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "minimum": "1",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "default": "5"
            },
            "regionCode": {
              "location": "query",
              "type": "string",
              "description": "Use a chart that is specific to the specified region"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "type": "string"
            },
            "part": {
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "videoCategoryId": {
              "type": "string",
              "default": "0",
              "location": "query",
              "description": "Use chart that is specific to the specified video category"
            },
            "chart": {
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "type": "string",
              "description": "Return the videos that are in the specified chart.",
              "location": "query"
            },
            "myRating": {
              "type": "string",
              "enumDescriptions": [
                "The entity has not been rated.",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "location": "query",
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "enum": [
                "none",
                "like",
                "dislike"
              ]
            },
            "maxWidth": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Return the player with maximum height specified in",
              "minimum": "72",
              "maximum": "8192"
            },
            "hl": {
              "type": "string",
              "location": "query",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
            },
            "maxHeight": {
              "type": "integer",
              "minimum": "72",
              "maximum": "8192",
              "format": "int32",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "description": "Return videos with the given ids.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/videos",
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "subscriptions": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/subscriptions",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/subscriptions",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "id": "youtube.subscriptions.delete"
        },
        "list": {
          "id": "youtube.subscriptions.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "flatPath": "youtube/v3/subscriptions",
          "parameters": {
            "myRecentSubscribers": {
              "type": "boolean",
              "location": "query"
            },
            "forChannelId": {
              "type": "string",
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary."
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "location": "query"
            },
            "mySubscribers": {
              "type": "boolean",
              "description": "Return the subscribers of the given channel owner.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "order": {
              "type": "string",
              "description": "The order of the returned subscriptions",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "default": "relevance",
              "location": "query",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ]
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "description": "Return the subscriptions of the given channel owner."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "default": "5",
              "location": "query",
              "minimum": "0",
              "maximum": "50",
              "format": "uint32"
            },
            "mine": {
              "description": "Flag for returning the subscriptions of the authenticated user.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/subscriptions"
        },
        "insert": {
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "Subscription"
          },
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "Subscription"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/subscriptions",
          "path": "youtube/v3/subscriptions",
          "id": "youtube.subscriptions.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "watermarks": {
      "methods": {
        "unset": {
          "id": "youtube.watermarks.unset",
          "parameterOrder": [
            "channelId"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/watermarks/unset",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "channelId": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Allows removal of channel watermark.",
          "flatPath": "youtube/v3/watermarks/unset"
        },
        "set": {
          "httpMethod": "POST",
          "path": "youtube/v3/watermarks/set",
          "parameterOrder": [
            "channelId"
          ],
          "flatPath": "youtube/v3/watermarks/set",
          "request": {
            "$ref": "InvideoBranding"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Allows upload of watermark image and setting it for a channel.",
          "id": "youtube.watermarks.set",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "10485760",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/watermarks/set",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/watermarks/set",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Unused, channel_id is currently derived from the security context of the requestor."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "path": "youtube/v3/channelBanners/insert",
          "flatPath": "youtube/v3/channelBanners/insert",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              }
            },
            "maxSize": "6291456",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "supportsMediaUpload": true,
          "id": "youtube.channelBanners.insert",
          "response": {
            "$ref": "ChannelBannerResource"
          }
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "maximum": "1000",
              "type": "integer",
              "default": "5"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet."
            },
            "filterByMemberChannelId": {
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "location": "query",
              "type": "string"
            },
            "mode": {
              "description": "Parameter that specifies which channel members to return.",
              "default": "all_current",
              "type": "string",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ]
            },
            "hasAccessToLevel": {
              "description": "Filter members in the results set to the ones that have access to a level.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "MemberListResponse"
          },
          "path": "youtube/v3/members",
          "flatPath": "youtube/v3/members",
          "id": "youtube.members.list",
          "httpMethod": "GET"
        }
      }
    },
    "channels": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Channel"
          },
          "flatPath": "youtube/v3/channels",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "id": "youtube.channels.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Channel"
          },
          "path": "youtube/v3/channels",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner. This parameter must be provided if the request is authenticated with credentials for a CMS content owner user acting on a managed channel. If omitted, the request executes under the authenticated user's direct context and returns an HTTP 403 Forbidden error."
            }
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "default": "5",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "maximum": "50",
              "format": "uint32",
              "location": "query"
            },
            "forHandle": {
              "type": "string",
              "location": "query",
              "description": "Return the channel associated with a YouTube handle."
            },
            "hl": {
              "type": "string",
              "location": "query",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
            },
            "categoryId": {
              "description": "Return the channels within the specified guide category ID.",
              "type": "string",
              "location": "query"
            },
            "mySubscribers": {
[...]
