{
  "discoveryVersion": "v1",
  "canonicalName": "YouTube",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/youtube/",
  "baseUrl": "https://youtube.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "name": "youtube",
  "batchPath": "batch",
  "rootUrl": "https://youtube.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v3",
  "id": "youtube:v3",
  "basePath": "",
  "schemas": {
    "LiveChatMemberMilestoneChatDetails": {
      "type": "object",
      "properties": {
        "memberLevelName": {
          "description": "The name of the Level at which the viever is a member. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the member to this Member Milestone Chat. This field is empty for messages without a comment from the member."
        },
        "memberMonth": {
          "format": "uint32",
          "type": "integer",
          "description": "The total amount of months (rounded up) the viewer has been a member that granted them this Member Milestone Chat. This is the same number of months as is being displayed to YouTube users."
        }
      },
      "id": "LiveChatMemberMilestoneChatDetails"
    },
    "SearchListResponse": {
      "properties": {
        "kind": {
          "default": "youtube#searchListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitor ID identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "Pagination information for token pagination.",
          "items": {
            "$ref": "SearchResult"
          }
        }
      },
      "id": "SearchListResponse",
      "type": "object"
    },
    "VideoProcessingDetails": {
      "id": "VideoProcessingDetails",
      "properties": {
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        },
        "processingFailureReason": {
          "type": "string",
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed."
        },
        "fileDetailsAvailability": {
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request.",
          "type": "string"
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "thumbnailsAvailability": {
          "type": "string",
          "description": "This value indicates whether thumbnail images have been generated for the video."
        },
        "processingStatus": {
          "type": "string",
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "tagSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "processingIssuesAvailability": {
          "type": "string",
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        }
      },
      "type": "object",
      "description": "Describes processing status and progress and availability of some other Video resource parts."
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "type": "object",
      "properties": {
        "isChatModerator": {
          "type": "boolean",
          "description": "Whether the author is a moderator of the live chat."
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "isVerified": {
          "type": "boolean",
          "description": "Whether the author's identity has been verified by YouTube."
        },
        "isChatSponsor": {
          "type": "boolean",
          "description": "Whether the author is a sponsor of the live chat."
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The channel's display name."
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        }
      }
    },
    "ResourceId": {
      "type": "object",
      "id": "ResourceId",
      "properties": {
        "playlistId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource.",
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel.",
          "type": "string"
        }
      },
      "description": "A resource id is a generic reference that points to another YouTube resource."
    },
    "LiveChatModeratorListResponse": {
      "id": "LiveChatModeratorListResponse",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "A list of moderators that match the request criteria.",
          "items": {
            "$ref": "LiveChatModerator"
          }
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "eventId": {
          "type": "string",
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "default": "youtube#liveChatModeratorListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\"."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      },
      "type": "object"
    },
    "BrandPartner": {
      "type": "object",
      "id": "BrandPartner",
      "description": "Details about the brand partner linked to the video for Creator Initiated Linking (CIL). Next ID: 6",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "Required. External Channel ID, must begin with \"UC\""
        },
        "channelHandle": {
          "type": "string",
          "description": "Required. Channel handle, must begin with \"@\""
        }
      }
    },
    "InvideoBranding": {
      "description": "Describes an invideo branding.",
      "type": "object",
      "id": "InvideoBranding",
      "properties": {
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "targetChannelId": {
          "description": "The channel to which this branding links. If not present it defaults to the current channel.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        },
        "position": {
          "description": "The spatial position within the video where the branding watermark will be displayed.",
          "deprecated": true,
          "$ref": "InvideoPosition"
        },
        "imageBytes": {
          "type": "string",
          "description": "The bytes the uploaded image. Only used in api to youtube communication.",
          "format": "byte"
        }
      }
    },
    "ActivityContentDetailsPlaylistItem": {
      "properties": {
        "resourceId": {
          "description": "The `resourceId` object contains information about the resource that was added to the playlist.",
          "$ref": "ResourceId"
        },
        "playlistItemId": {
          "type": "string",
          "description": "ID of the item within the playlist."
        },
        "playlistId": {
          "description": "The value that YouTube uses to uniquely identify the playlist.",
          "type": "string"
        }
      },
      "description": "Information about a new playlist item.",
      "type": "object",
      "id": "ActivityContentDetailsPlaylistItem"
    },
    "AccessPolicy": {
      "type": "object",
      "description": "Rights management policy for YouTube resources.",
      "properties": {
        "allowed": {
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default.",
          "type": "boolean"
        },
        "exception": {
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AccessPolicy"
    },
    "PlaylistPlayer": {
      "id": "PlaylistPlayer",
      "type": "object",
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "An <iframe> tag that embeds a player that will play the playlist."
        }
      }
    },
    "PlaylistItemSnippet": {
      "type": "object",
      "properties": {
        "channelTitle": {
          "description": "Channel title for the channel that the playlist item belongs to.",
          "type": "string"
        },
        "videoOwnerChannelId": {
          "type": "string",
          "description": "Channel id for the channel this video belongs to."
        },
        "publishedAt": {
          "description": "The date and time that the item was added to the playlist.",
          "type": "string",
          "format": "date-time"
        },
        "videoOwnerChannelTitle": {
          "description": "Channel title for the channel this video belongs to.",
          "type": "string"
        },
        "description": {
          "description": "The item's description.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
          "annotations": {
            "required": [
              "youtube.playlistItems.insert",
              "youtube.playlistItems.update"
            ]
          }
        },
        "position": {
          "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
          "format": "uint32",
          "type": "integer"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "title": {
          "description": "The item's title.",
          "type": "string"
        },
        "playlistId": {
          "annotations": {
            "required": [
              "youtube.playlistItems.insert",
              "youtube.playlistItems.update"
            ]
          },
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in.",
          "type": "string"
        }
      },
      "id": "PlaylistItemSnippet",
      "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 15"
    },
    "LevelDetails": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name that should be used when referring to this level.",
          "type": "string"
        }
      },
      "id": "LevelDetails"
    },
    "ChannelSectionSnippet": {
      "properties": {
        "type": {
          "description": "The type of the channel section.",
          "enum": [
            "channelsectionTypeUndefined",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            true,
            true,
            false
          ]
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section."
        },
        "localized": {
          "description": "Localized title, read-only.",
          "$ref": "ChannelSectionLocalization",
          "deprecated": true
        },
        "position": {
          "description": "The position of the channel section in the channel.",
          "format": "uint32",
          "type": "integer"
        },
        "defaultLanguage": {
          "deprecated": true,
          "description": "The language of the channel section's default title and description.",
          "type": "string"
        },
        "style": {
          "type": "string",
          "description": "The style of the channel section.",
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "deprecated": true
        }
      },
      "description": "Basic details about a channel section, including title, style and position.",
      "id": "ChannelSectionSnippet",
      "type": "object"
    },
    "SearchResult": {
      "properties": {
        "id": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request."
        },
        "snippet": {
          "$ref": "SearchResultSnippet",
          "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
        },
        "kind": {
          "type": "string",
          "default": "youtube#searchResult",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "id": "SearchResult",
      "type": "object",
      "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data."
    },
    "VideoFileDetails": {
      "type": "object",
      "id": "VideoFileDetails",
      "properties": {
        "fileName": {
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "container": {
          "type": "string",
          "description": "The uploaded video file's container format."
        },
        "audioStreams": {
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          },
          "type": "array",
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream."
        },
        "durationMs": {
          "type": "string",
          "description": "The length of the uploaded video in milliseconds.",
          "format": "uint64"
        },
        "videoStreams": {
          "type": "array",
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "bitrateBps": {
          "format": "uint64",
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "type": "string"
        },
        "fileSize": {
          "format": "uint64",
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "fileType": {
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ],
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM "
        }
      },
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information."
    },
    "PlaylistStatus": {
      "properties": {
        "privacyStatus": {
          "description": "The playlist's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        },
        "podcastStatus": {
          "type": "string",
          "enum": [
            "enabled",
            "disabled"
          ],
          "description": "The playlist's podcast status.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "PlaylistStatus"
    },
    "ActivityContentDetailsRecommendation": {
      "properties": {
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "enumDescriptions": [
            "",
            "Deprecated: This reason is no longer used.",
            "Deprecated: This reason is no longer used.",
            ""
          ],
          "type": "string",
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ]
        },
        "seedResourceId": {
          "description": "The `seedResourceId` object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        },
        "resourceId": {
          "description": "The `resourceId` object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        }
      },
      "description": "Information that identifies the recommended resource.",
      "type": "object",
      "id": "ActivityContentDetailsRecommendation"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "description": "A thumbnail is an image representing a YouTube resource.",
      "properties": {
        "url": {
          "description": "The thumbnail image's URL.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "(Optional) Width of the thumbnail image.",
          "format": "uint32"
        },
        "height": {
          "description": "(Optional) Height of the thumbnail image.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "ChannelStatus": {
      "description": "JSON template for the status part of a channel.",
      "properties": {
        "isChannelMonetizationEnabled": {
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.",
          "type": "boolean"
        },
        "longUploadsStatus": {
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "type": "string",
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        },
        "isLinked": {
          "type": "boolean",
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
        },
        "madeForKids": {
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ChannelStatus"
    },
    "ChannelContentDetails": {
      "type": "object",
      "description": "Details about the content of a channel.",
      "properties": {
        "relatedPlaylists": {
          "type": "object",
          "properties": {
            "watchHistory": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "deprecated": true
            },
            "likes": {
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "favorites": {
              "type": "string",
              "deprecated": true,
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            },
            "uploads": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos."
            },
            "watchLater": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "deprecated": true
            }
          }
        }
      },
      "id": "ChannelContentDetails"
    },
    "I18nLanguage": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the i18n language."
        },
        "snippet": {
          "$ref": "I18nLanguageSnippet",
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
        },
        "kind": {
          "type": "string",
          "default": "youtube#i18nLanguage",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "I18nLanguage",
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube."
    },
    "VideoLiveStreamingDetails": {
      "properties": {
        "scheduledEndTime": {
          "format": "date-time",
          "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely.",
          "type": "string"
        },
        "actualStartTime": {
          "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins.",
          "type": "string",
          "format": "date-time"
        },
        "scheduledStartTime": {
          "type": "string",
          "description": "The time that the broadcast is scheduled to begin.",
          "format": "date-time"
        },
        "actualEndTime": {
          "format": "date-time",
          "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over.",
          "type": "string"
        },
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        },
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Details about the live streaming metadata.",
      "type": "object",
      "id": "VideoLiveStreamingDetails"
    },
    "VideoLocalization": {
      "type": "object",
      "id": "VideoLocalization",
      "properties": {
        "title": {
          "description": "Localized version of the video's title.",
          "type": "string"
        },
        "description": {
          "description": "Localized version of the video's description.",
          "type": "string"
        }
      },
      "description": "Localized versions of certain video properties (e.g. title)."
    },
    "LiveBroadcastStatistics": {
      "id": "LiveBroadcastStatistics",
      "type": "object",
      "properties": {
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts."
    },
    "VideoStatus": {
      "description": "Basic details about a video category, such as its localized title. Next Id: 19",
      "properties": {
        "publishAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private.."
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "failureReason": {
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "type": "string",
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ]
        },
        "rejectionReason": {
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ],
          "type": "string"
        },
        "uploadStatus": {
          "type": "string",
          "description": "The status of the uploaded video.",
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ]
        },
        "containsSyntheticMedia": {
          "type": "boolean",
          "description": "Indicates if the video contains altered or synthetic media."
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update"
        },
        "madeForKids": {
          "type": "boolean"
        },
        "embeddable": {
          "type": "boolean",
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update"
        },
        "license": {
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "youtube",
            "creativeCommon"
          ],
          "type": "string"
        },
        "privacyStatus": {
          "description": "The video's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        }
      },
      "type": "object",
      "id": "VideoStatus"
    },
    "VideoPaidProductPlacementDetails": {
      "id": "VideoPaidProductPlacementDetails",
      "type": "object",
      "description": "Details about paid content, such as paid product placement, sponsorships or endorsement, contained in a YouTube video and a method to inform viewers of paid promotion. This data can only be retrieved by the video owner.",
      "properties": {
        "hasPaidProductPlacement": {
          "type": "boolean",
          "description": "This boolean represents whether the video contains Paid Product Placement, Studio equivalent: https://screenshot.googleplex.com/4Me79DE6AfT2ktp.png"
        }
      }
    },
    "VideoAbuseReportReasonSnippet": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The localized label belonging to this abuse report reason."
        },
        "secondaryReasons": {
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)"
        }
      },
      "id": "VideoAbuseReportReasonSnippet",
      "description": "Basic details about a video category, such as its localized title.",
      "type": "object"
    },
    "CuepointSchedule": {
      "id": "CuepointSchedule",
      "description": "Schedule to insert cuepoints into a broadcast by ads automator.",
      "type": "object",
      "properties": {
        "pauseAdsUntil": {
          "description": "If set, automatic cuepoint insertion is paused until this timestamp (\"No Ad Zone\"). The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "scheduleStrategy": {
          "enumDescriptions": [
            "",
            "Strategy to schedule cuepoints at one time for all viewers.",
            "Strategy to schedule cuepoints at an increased rate to allow viewers to receive cuepoints when eligible. See go/lcr-non-concurrent-ads for more details."
          ],
          "deprecated": true,
          "enum": [
            "scheduleStrategyUnspecified",
            "concurrent",
            "nonConcurrent"
          ],
          "type": "string",
          "description": "The strategy to use when scheduling cuepoints."
        },
        "enabled": {
          "description": "This field is semantically required. If it is set false or not set, other fields in this message will be ignored.",
          "type": "boolean"
        },
        "repeatIntervalSecs": {
          "format": "int32",
          "description": "Interval frequency in seconds that api uses to insert cuepoints automatically.",
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "LiveChatSuperChatDetails": {
      "properties": {
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this Super Chat event."
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "amountMicros": {
          "type": "string",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "format": "uint64"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "type": "integer",
          "format": "uint32"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        }
      },
      "id": "LiveChatSuperChatDetails",
      "type": "object"
    },
    "CdnSettings": {
      "type": "object",
      "properties": {
        "resolution": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The resolution of the inbound video data.",
          "type": "string",
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ]
        },
        "ingestionInfo": {
          "$ref": "IngestionInfo",
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube."
        },
        "frameRate": {
          "type": "string",
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The frame rate of the inbound video data."
        },
        "ingestionType": {
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ],
          "description": " The method or protocol used to transmit the video stream.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "format": {
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "type": "string",
          "description": "The format of the video stream that you are sending to Youtube. ",
          "deprecated": true
        }
      },
      "id": "CdnSettings",
      "description": "Brief description of the live stream cdn settings."
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "type": "object",
      "properties": {
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "type": "string",
          "description": "The ID of the live chat this moderator can act on."
        }
      }
    },
    "LiveChatMessage": {
      "type": "object",
      "id": "LiveChatMessage",
      "properties": {
        "snippet": {
          "$ref": "LiveChatMessageSnippet",
          "description": "The snippet object contains basic details about the message."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the message."
        },
        "authorDetails": {
          "description": "The authorDetails object contains basic details about the user that posted this message.",
          "$ref": "LiveChatMessageAuthorDetails"
        },
        "kind": {
          "default": "youtube#liveChatMessage",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\".",
          "type": "string"
        }
      },
      "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat."
    },
    "ChannelBannerResource": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "type": "string",
          "default": "youtube#channelBannerResource"
        },
        "etag": {
          "type": "string"
        },
        "url": {
          "description": "The URL of this banner image.",
          "type": "string"
        }
      },
      "id": "ChannelBannerResource",
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "type": "object"
    },
    "Activity": {
      "properties": {
        "contentDetails": {
          "description": "The `contentDetails` object contains information about the content associated with the activity. For example, if the `snippet.type` value is `videoRated`, then the `contentDetails` object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the activity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: The fixed string `\"youtube#activity\"`.",
          "default": "youtube#activity"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource"
        }
      },
      "type": "object",
      "id": "Activity",
      "description": "An `activity` resource contains information about an action that a particular channel, or user, has taken on YouTube. The actions reported in activity feeds include sharing a video, uploading a video, and so forth. Each `activity` resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded."
    },
    "TestItemTestItemSnippet": {
      "id": "TestItemTestItemSnippet",
      "properties": {},
      "type": "object"
    },
    "VideoSuggestionsTagSuggestion": {
      "description": "A single tag suggestion with its relevance information.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The keyword tag suggested for the video."
        },
        "categoryRestricts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword."
        }
      },
      "type": "object",
      "id": "VideoSuggestionsTagSuggestion"
    },
    "I18nRegionSnippet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The human-readable name of the region.",
          "type": "string"
        },
        "gl": {
          "description": "The region code as a 2-letter ISO country code.",
          "type": "string"
        }
      },
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "id": "I18nRegionSnippet"
    },
    "Comment": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "youtube#comment",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        },
        "snippet": {
          "$ref": "CommentSnippet",
          "description": "The snippet object contains basic details about the comment."
        }
      },
      "description": "A *comment* represents a single YouTube comment.",
      "id": "Comment",
      "type": "object"
    },
    "CaptionListResponse": {
      "id": "CaptionListResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#captionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of captions that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Caption"
          }
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "ChannelSnippet": {
      "id": "ChannelSnippet",
      "type": "object",
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "properties": {
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the channel was created.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "defaultLanguage": {
          "description": "The language of the channel's default title and description.",
          "type": "string"
        },
        "title": {
          "description": "The channel's title.",
          "type": "string"
        },
        "description": {
          "description": "The description of the channel.",
          "type": "string"
        },
        "customUrl": {
          "description": "The custom url of the channel.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate.",
          "$ref": "ThumbnailDetails"
        },
        "localized": {
          "$ref": "ChannelLocalization",
          "description": "Localized title and description, read-only."
        }
      }
    },
    "ChannelSectionLocalization": {
      "type": "object",
      "description": "ChannelSection localization setting",
      "properties": {
        "title": {
          "description": "The localized strings for channel section's title.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "ChannelSectionLocalization"
    },
    "CaptionSnippet": {
      "description": "Basic details about a caption track, such as its language and name.",
      "id": "CaptionSnippet",
      "properties": {
        "failureReason": {
          "type": "string",
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback."
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
          "type": "boolean"
        },
        "status": {
          "description": "The caption track's status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "type": "string"
        },
        "isEasyReader": {
          "type": "boolean",
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false."
        },
        "trackKind": {
          "description": "The caption track's type.",
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "lastUpdated": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the caption track was last updated."
        },
        "isLarge": {
          "type": "boolean",
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."
        },
        "language": {
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "description": "The language of the caption track. The property value is a BCP-47 language tag."
        },
        "audioTrackType": {
          "type": "string",
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "description": "The type of audio track associated with the caption track.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "isCC": {
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LiveChatPollDetails": {
      "properties": {
        "metadata": {
          "$ref": "LiveChatPollDetailsPollMetadata"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "active",
            "closed"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatPollDetails"
    },
    "VideoRating": {
      "description": "Basic details about rating of a video.",
      "properties": {
        "rating": {
          "description": "Rating of a video.",
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        }
      },
      "type": "object",
      "id": "VideoRating"
    },
    "ActivityListResponse": {
      "id": "ActivityListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Activity"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#activityListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\"."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      }
    },
    "PlaylistItem": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status object contains information about the playlist item's privacy status.",
          "$ref": "PlaylistItemStatus"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "contentDetails": {
          "description": "The contentDetails object is included in the resource if the included item is a YouTube video. The object contains additional information about the video.",
          "$ref": "PlaylistItemContentDetails"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist item."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItem\".",
          "default": "youtube#playlistItem",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist item, such as its title and position in the playlist.",
          "$ref": "PlaylistItemSnippet"
        }
      },
      "description": "A *playlistItem* resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel.",
      "id": "PlaylistItem"
    },
    "LiveStreamStatus": {
      "type": "object",
      "properties": {
        "streamStatus": {
          "type": "string",
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      },
      "id": "LiveStreamStatus",
      "description": "Brief description of the live stream status."
    },
    "ActivityContentDetailsComment": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The `resourceId` object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      },
      "description": "Information about a resource that received a comment.",
      "id": "ActivityContentDetailsComment"
    },
    "WatchSettings": {
      "id": "WatchSettings",
      "description": "Branding properties for the watch. All deprecated.",
      "type": "object",
      "properties": {
        "textColor": {
          "type": "string",
          "description": "The background color for the video watch page's branded area."
        },
        "backgroundColor": {
          "description": "The text color for the video watch page's branded area.",
          "type": "string"
        },
        "featuredPlaylistId": {
          "type": "string",
          "description": "An ID that uniquely identifies a playlist that displays next to the video player."
        }
      }
    },
    "LiveChatModerator": {
      "id": "LiveChatModerator",
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "LiveChatModeratorSnippet",
          "description": "The snippet object contains basic details about the moderator."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the moderator.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#liveChatModerator",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModerator\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "description": "A *liveChatModerator* resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc."
    },
    "PageInfo": {
      "properties": {
        "resultsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results included in the API response."
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results in the result set.",
          "type": "integer"
        }
      },
      "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
      "id": "PageInfo",
      "type": "object"
    },
    "LiveChatMembershipGiftingDetails": {
      "properties": {
        "giftMembershipsCount": {
          "description": "The number of gift memberships purchased by the user.",
          "type": "integer",
          "format": "int32"
        },
        "giftMembershipsLevelName": {
          "type": "string",
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        }
      },
      "type": "object",
      "id": "LiveChatMembershipGiftingDetails"
    },
    "ChannelContentOwnerDetails": {
      "properties": {
        "contentOwner": {
          "type": "string",
          "description": "The ID of the content owner linked to the channel."
        },
        "timeLinked": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the channel was linked to the content owner."
        }
      },
      "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
      "id": "ChannelContentOwnerDetails",
      "type": "object"
    },
    "PropertyValue": {
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "A property."
        },
        "value": {
          "description": "The property's value.",
          "type": "string"
        }
      },
      "description": "A pair Property / Value.",
      "id": "PropertyValue"
    },
    "ChannelSection": {
      "id": "ChannelSection",
      "type": "object",
      "properties": {
        "targeting": {
          "$ref": "ChannelSectionTargeting",
          "deprecated": true,
          "description": "The targeting object contains basic targeting settings about the channel section."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string",
          "default": "youtube#channelSection"
        },
        "snippet": {
          "$ref": "ChannelSectionSnippet",
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title."
        },
        "contentDetails": {
          "$ref": "ChannelSectionContentDetails",
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section."
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages",
          "deprecated": true,
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel section."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "ActivityContentDetailsBulletin": {
      "description": "Details about a channel bulletin post.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert"
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsBulletin"
    },
    "LocalizedProperty": {
      "properties": {
        "defaultLanguage": {
          "$ref": "LanguageTag",
          "description": "The language of the default property."
        },
        "localized": {
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array"
        },
        "default": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocalizedProperty"
    },
    "VideoStat": {
      "id": "VideoStat",
      "description": "A *VideoStat* resource represents a YouTube video's stats.",
      "properties": {
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"youtube#videoStats\".",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID that YouTube uses to uniquely identify the video.",
          "readOnly": true
        },
        "contentDetails": {
          "$ref": "VideoStatsContentDetails",
          "description": "Output only. The VideoStatsContentDetails object contains information about the video content, including the length of the video.",
          "readOnly": true
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Etag of this resource."
        },
        "statistics": {
          "description": "Output only. The VideoStatsStatistics object contains statistics about the video.",
          "readOnly": true,
          "$ref": "VideoStatsStatistics"
        },
        "snippet": {
          "description": "Output only. The VideoStatsSnippet object contains basic details about the video, such publish time.",
          "readOnly": true,
          "$ref": "VideoStatsSnippet"
        }
      },
      "type": "object"
    },
    "GeoPoint": {
      "description": "Geographical coordinates of a point, in WGS84.",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in degrees."
        },
        "longitude": {
          "type": "number",
          "description": "Longitude in degrees.",
          "format": "double"
        },
        "altitude": {
          "type": "number",
          "description": "Altitude above the reference ellipsoid, in meters.",
          "format": "double"
        }
      },
      "id": "GeoPoint",
      "type": "object"
    },
    "VideoCategorySnippet": {
      "type": "object",
      "id": "VideoCategorySnippet",
      "description": "Basic details about a video category, such as its localized title.",
      "properties": {
        "assignable": {
          "type": "boolean"
        },
        "channelId": {
          "default": "UCBR8-60-B28hp2BmDPdntcQ",
          "description": "The YouTube channel that created the video category.",
          "type": "string"
        },
        "title": {
          "description": "The video category's title.",
          "type": "string"
        }
      }
    },
    "VideoFileDetailsAudioStream": {
      "properties": {
        "bitrateBps": {
          "format": "uint64",
          "type": "string",
          "description": "The audio stream's bitrate, in bits per second."
        },
        "channelCount": {
          "description": "The number of audio channels that the stream contains.",
          "format": "uint32",
          "type": "integer"
        },
        "vendor": {
          "type": "string",
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
        },
        "codec": {
          "description": "The audio codec that the stream uses.",
          "type": "string"
        }
      },
      "description": "Information about an audio stream.",
      "type": "object",
      "id": "VideoFileDetailsAudioStream"
    },
    "MembershipsLevel": {
      "id": "MembershipsLevel",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the level.",
          "$ref": "MembershipsLevelSnippet"
        },
        "kind": {
          "type": "string",
          "default": "youtube#membershipsLevel",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the memberships level."
        }
      },
      "description": "A *membershipsLevel* resource represents an offer made by YouTube creators for their fans. Users can become members of the channel by joining one of the available levels. They will provide recurring monetary support and receives special benefits."
    },
    "InvideoPosition": {
      "id": "InvideoPosition",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            ""
          ],
          "description": "Defines the position type.",
          "enum": [
            "corner"
          ],
          "type": "string"
        },
        "cornerPosition": {
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "type": "string",
          "enumDeprecated": [
            true,
            false,
            true,
            true
          ]
        }
      }
    },
    "Caption": {
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "id": "Caption",
      "properties": {
        "snippet": {
          "$ref": "CaptionSnippet",
          "description": "The snippet object contains basic details about the caption."
        },
        "kind": {
          "default": "youtube#caption",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "description": "The ID that YouTube uses to uniquely identify the caption track."
        }
      },
      "type": "object"
    },
    "ThirdPartyLinkListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#thirdPartyLinkListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLinkListResponse\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ThirdPartyLink"
          }
        }
      },
      "id": "ThirdPartyLinkListResponse"
    },
    "SuperChatEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`.",
          "default": "youtube#superChatEvent",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "SuperChatEventSnippet",
          "description": "The `snippet` object contains basic details about the Super Chat event."
        }
      },
      "id": "SuperChatEvent",
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel."
    },
    "ActivityContentDetailsSocial": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "An image of the post's author."
        },
        "referenceUrl": {
          "description": "The URL of the social network post.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object encapsulates information that identifies the resource associated with a social network post."
        },
        "type": {
          "description": "The name of the social network.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ]
        },
        "author": {
          "type": "string",
          "description": "The author of the social network post."
        }
      },
      "id": "ActivityContentDetailsSocial",
      "description": "Details about a social network post."
    },
    "LanguageTag": {
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "id": "LanguageTag",
      "type": "object"
    },
    "MembershipsDurationAtLevel": {
      "properties": {
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "format": "int32",
          "type": "integer",
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer)."
        },
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member for the given level."
        }
      },
      "type": "object",
      "id": "MembershipsDurationAtLevel"
    },
    "Entity": {
      "properties": {
        "url": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "typeId": {
          "type": "string"
        }
      },
      "id": "Entity",
      "type": "object"
    },
    "AbuseType": {
      "id": "AbuseType",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Video": {
      "type": "object",
      "id": "Video",
      "properties": {
        "contentDetails": {
          "$ref": "VideoContentDetails",
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio."
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video.",
          "$ref": "VideoTopicDetails"
        },
        "suggestions": {
          "$ref": "VideoSuggestions",
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner."
        },
        "projectDetails": {
          "$ref": "VideoProjectDetails",
          "deprecated": true,
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          },
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description."
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast."
        },
        "processingDetails": {
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner.",
          "$ref": "VideoProcessingDetails"
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "recordingDetails": {
          "$ref": "VideoRecordingDetails",
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded."
        },
        "paidProductPlacementDetails": {
          "$ref": "VideoPaidProductPlacementDetails"
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          },
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        },
        "kind": {
          "default": "youtube#video",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses.",
          "$ref": "VideoStatus"
        },
        "ageGating": {
          "$ref": "VideoAgeGating",
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner."
        },
        "brandPartner": {
          "$ref": "BrandPartner"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the video, such as its title, description, and category.",
          "$ref": "VideoSnippet"
        },
        "fileDetails": {
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner.",
          "$ref": "VideoFileDetails"
        },
        "statistics": {
          "$ref": "VideoStatistics",
          "description": "The statistics object contains statistics about the video."
        }
      },
      "description": "A *video* resource represents a YouTube video."
    },
    "MemberSnippet": {
      "properties": {
        "memberDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the member."
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        },
        "membershipsDetails": {
          "description": "Details about the user's membership.",
          "$ref": "MembershipsDetails"
        }
      },
      "id": "MemberSnippet",
      "type": "object"
    },
    "LiveStreamConfigurationIssue": {
      "id": "LiveStreamConfigurationIssue",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "type": "string",
          "description": "The kind of error happening."
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "info",
            "warning",
            "error"
          ],
          "type": "string",
          "description": "How severe this issue is to the stream."
        },
        "description": {
          "description": "The long-form description of the issue and how to resolve it.",
          "type": "string"
        },
        "reason": {
          "description": "The short-form reason for this issue.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoTrainability": {
      "description": "Specifies who is allowed to train on the video.",
      "type": "object",
      "properties": {
        "permitted": {
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "youtube#videoTrainability",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video."
        }
      },
      "id": "VideoTrainability"
    },
    "ChannelBrandingSettings": {
      "id": "ChannelBrandingSettings",
      "type": "object",
      "description": "Branding properties of a YouTube channel.",
      "properties": {
        "channel": {
          "$ref": "ChannelSettings",
          "description": "Branding properties for the channel view."
        },
        "watch": {
          "$ref": "WatchSettings",
          "deprecated": true,
          "description": "Branding properties for the watch page."
        },
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "hints": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "PropertyValue"
          },
          "description": "Additional experimental branding properties."
        }
      }
    },
    "VideoStatsSnippet": {
      "id": "VideoStatsSnippet",
      "type": "object",
      "description": "Basic details about a video. This is a subset of the information in VideoSnippet specifically for the Videos.stats API.",
      "properties": {
        "publishTime": {
          "description": "Output only. The date and time that the video was uploaded. The property value is a [`google.protobuf.Timestamp`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#timestamp) object.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ChannelConversionPings": {
      "type": "object",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "properties": {
        "pings": {
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "items": {
            "$ref": "ChannelConversionPing"
          },
          "type": "array"
        }
      },
      "id": "ChannelConversionPings"
    },
    "SuperChatEventListResponse": {
      "type": "object",
      "id": "SuperChatEventListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "items": {
            "$ref": "SuperChatEvent"
          },
          "type": "array",
          "description": "A list of Super Chat purchases that match the request criteria."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "kind": {
          "type": "string",
          "default": "youtube#superChatEventListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\"."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      }
    },
    "SubscriptionContentDetails": {
      "description": "Details about the content to witch a subscription refers.",
      "id": "SubscriptionContentDetails",
      "properties": {
        "totalItemCount": {
          "type": "integer",
          "description": "The approximate number of items that the subscription points to.",
          "format": "uint32"
        },
        "newItemCount": {
          "description": "The number of new items in the subscription since its content was last read.",
          "type": "integer",
          "format": "uint32"
        },
        "activityType": {
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "MemberListResponse": {
      "type": "object",
      "id": "MemberListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\".",
          "default": "youtube#memberListResponse",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Member"
          },
          "description": "A list of members that match the request criteria.",
          "type": "array"
        }
      }
    },
    "ChannelTopicDetails": {
      "id": "ChannelTopicDetails",
      "description": "Freebase topic information related to the channel.",
      "type": "object",
      "properties": {
        "topicIds": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "type": "array"
        },
        "topicCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Wikipedia URLs that describe the channel's content."
[...]
