{
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "canonicalName": "YouTube",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "LiveChatBanSnippet": {
      "type": "object",
      "id": "LiveChatBanSnippet",
      "properties": {
        "liveChatId": {
          "description": "The chat this ban is pertinent to.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "liveChatBanTypeUnspecified",
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "An invalid ban type.",
            "A permanent ban.",
            "A temporary ban."
          ],
          "description": "The type of ban."
        },
        "banDurationSeconds": {
          "type": "string",
          "format": "uint64",
          "description": "The duration of a ban, only filled if the ban has type TEMPORARY."
        },
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails"
        }
      }
    },
    "Activity": {
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the activity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        },
        "contentDetails": {
          "description": "The `contentDetails` object contains information about the content associated with the activity. For example, if the `snippet.type` value is `videoRated`, then the `contentDetails` object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: The fixed string `\"youtube#activity\"`.",
          "default": "youtube#activity",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource"
        }
      },
      "id": "Activity",
      "description": "An `activity` resource contains information about an action that a particular channel, or user, has taken on YouTube. The actions reported in activity feeds include sharing a video, uploading a video, and so forth. Each `activity` resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "type": "object"
    },
    "VideoAbuseReportReason": {
      "id": "VideoAbuseReportReason",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of this abuse report reason."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the abuse report reason.",
          "$ref": "VideoAbuseReportReasonSnippet"
        },
        "kind": {
          "type": "string",
          "default": "youtube#videoAbuseReportReason",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`."
        }
      },
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`."
    },
    "CommentThreadSnippet": {
      "type": "object",
      "properties": {
        "topLevelComment": {
          "$ref": "Comment",
          "description": "The top level comment of this thread."
        },
        "canReply": {
          "type": "boolean",
          "description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field."
        },
        "isPublic": {
          "description": "Whether the thread (and therefore all its comments) is visible to all YouTube users.",
          "type": "boolean"
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video the comments refer to, if any."
        },
        "totalReplyCount": {
          "description": "The total number of replies (not including the top level comment).",
          "format": "uint32",
          "type": "integer"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If neither video_id nor post_id is set the comments refer to the channel itself."
        },
        "postId": {
          "description": "The ID of the post the comments refer to, if any.",
          "type": "string"
        }
      },
      "description": "Basic details about a comment thread.",
      "id": "CommentThreadSnippet"
    },
    "LiveChatPollDetailsPollMetadata": {
      "type": "object",
      "properties": {
        "questionText": {
          "type": "string"
        },
        "options": {
          "description": "The options will be returned in the order that is displayed in 1P",
          "items": {
            "$ref": "LiveChatPollDetailsPollMetadataPollOption"
          },
          "type": "array"
        }
      },
      "id": "LiveChatPollDetailsPollMetadata"
    },
    "PlaylistSnippet": {
      "id": "PlaylistSnippet",
      "properties": {
        "thumbnailVideoId": {
          "type": "string",
          "description": "Note: if the playlist has a custom thumbnail, this field will not be populated. The video id selected by the user that will be used as the thumbnail of this playlist. This field defaults to the first publicly viewable video in the playlist, if: 1. The user has never selected a video to be the thumbnail of the playlist. 2. The user selects a video to be the thumbnail, and then removes that video from the playlist. 3. The user selects a non-owned video to be the thumbnail, but that video becomes private, or gets deleted."
        },
        "description": {
          "type": "string",
          "description": "The playlist's description."
        },
        "title": {
          "description": "The playlist's title.",
          "annotations": {
            "required": [
              "youtube.playlists.insert",
              "youtube.playlists.update"
            ]
          },
          "type": "string"
        },
        "localized": {
          "$ref": "PlaylistLocalization",
          "description": "Localized title and description, read-only."
        },
        "defaultLanguage": {
          "description": "The language of the playlist's default title and description.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Keyword tags associated with the playlist.",
          "items": {
            "type": "string"
          },
          "deprecated": true
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the playlist was created.",
          "type": "string"
        },
        "channelTitle": {
          "description": "The channel title of the channel that the video belongs to.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist.",
          "type": "string"
        }
      },
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "type": "object"
    },
    "VideoCategorySnippet": {
      "id": "VideoCategorySnippet",
      "type": "object",
      "description": "Basic details about a video category, such as its localized title.",
      "properties": {
        "assignable": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The video category's title."
        },
        "channelId": {
          "description": "The YouTube channel that created the video category.",
          "type": "string",
          "default": "UCBR8-60-B28hp2BmDPdntcQ"
        }
      }
    },
    "Video": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "default": "youtube#video"
        },
        "topicDetails": {
          "$ref": "VideoTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast."
        },
        "recordingDetails": {
          "$ref": "VideoRecordingDetails",
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded."
        },
        "snippet": {
          "$ref": "VideoSnippet",
          "description": "The snippet object contains basic details about the video, such as its title, description, and category."
        },
        "paidProductPlacementDetails": {
          "$ref": "VideoPaidProductPlacementDetails"
        },
        "fileDetails": {
          "$ref": "VideoFileDetails",
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          },
          "type": "string"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio.",
          "$ref": "VideoContentDetails"
        },
        "brandPartner": {
          "$ref": "BrandPartner"
        },
        "projectDetails": {
          "deprecated": true,
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
          "$ref": "VideoProjectDetails"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "status": {
          "$ref": "VideoStatus",
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses."
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          },
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description."
        },
        "suggestions": {
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner.",
          "$ref": "VideoSuggestions"
        },
        "statistics": {
          "description": "The statistics object contains statistics about the video.",
          "$ref": "VideoStatistics"
        },
        "ageGating": {
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner.",
          "$ref": "VideoAgeGating"
        },
        "processingDetails": {
          "$ref": "VideoProcessingDetails",
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner."
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        }
      },
      "type": "object",
      "description": "A *video* resource represents a YouTube video.",
      "id": "Video"
    },
    "LiveChatMembershipGiftingDetails": {
      "id": "LiveChatMembershipGiftingDetails",
      "type": "object",
      "properties": {
        "giftMembershipsLevelName": {
          "type": "string",
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        },
        "giftMembershipsCount": {
          "description": "The number of gift memberships purchased by the user.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TestItem": {
      "type": "object",
      "id": "TestItem",
      "properties": {
        "snippet": {
          "$ref": "TestItemTestItemSnippet"
        },
        "etag": {
          "description": "Etag for the resource. See https://en.wikipedia.org/wiki/HTTP_ETag.",
          "type": "string"
        },
        "featuredPart": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "gaia": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ChannelProfileDetails": {
      "properties": {
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChannelProfileDetails"
    },
    "CaptionSnippet": {
      "properties": {
        "audioTrackType": {
          "type": "string",
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The type of audio track associated with the caption track."
        },
        "isEasyReader": {
          "type": "boolean",
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "status": {
          "description": "The caption track's status.",
          "type": "string",
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "trackKind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "description": "The caption track's type."
        },
        "isAutoSynced": {
          "type": "boolean",
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions."
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean"
        },
        "isCC": {
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
          "type": "boolean"
        },
        "language": {
          "type": "string",
          "description": "The language of the caption track. The property value is a BCP-47 language tag.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "failureReason": {
          "type": "string",
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed."
        },
        "isLarge": {
          "type": "boolean",
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."
        },
        "lastUpdated": {
          "type": "string",
          "description": "The date and time when the caption track was last updated.",
          "format": "date-time"
        }
      },
      "type": "object",
      "description": "Basic details about a caption track, such as its language and name.",
      "id": "CaptionSnippet"
    },
    "PlaylistLocalization": {
      "description": "Playlist localization setting",
      "id": "PlaylistLocalization",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized strings for playlist's title."
        },
        "description": {
          "type": "string",
          "description": "The localized strings for playlist's description."
        }
      }
    },
    "CommentThread": {
      "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.",
      "id": "CommentThread",
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "CommentThreadSnippet",
          "description": "The snippet object contains basic details about the comment thread and also the top level comment."
        },
        "kind": {
          "default": "youtube#commentThread",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\"."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the comment thread."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "replies": {
          "description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet.",
          "$ref": "CommentThreadReplies"
        }
      }
    },
    "AvailabilityConfigRegionsConfig": {
      "properties": {
        "regionIntervals": {
          "description": "Required. List of regions and time windows where video is available. If a region is specified multiple times, the union of all intervals is used.",
          "type": "array",
          "items": {
            "$ref": "AvailabilityConfigRegionsConfigRegionInterval"
          }
        }
      },
      "description": "Video is available in the specified regions only.",
      "id": "AvailabilityConfigRegionsConfig",
      "type": "object"
    },
    "Subscription": {
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "SubscriptionSnippet",
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the subscription.",
          "type": "string"
        },
        "subscriberSnippet": {
          "$ref": "SubscriptionSubscriberSnippet",
          "description": "The subscriberSnippet object contains basic details about the subscriber."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "default": "youtube#subscription",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "SubscriptionContentDetails",
          "description": "The contentDetails object contains basic statistics about the subscription."
        }
      }
    },
    "LiveBroadcastSnippet": {
      "type": "object",
      "properties": {
        "categoryId": {
          "type": "string",
          "description": "The YouTube video category associated with the video broadcast."
        },
        "title": {
          "type": "string",
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "scheduledEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the broadcast is scheduled to end."
        },
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule.",
          "type": "string"
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.",
          "type": "string"
        },
        "scheduledStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the broadcast is scheduled to start.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "actualStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "liveChatId": {
          "description": "The id of the live chat for this broadcast.",
          "type": "string"
        },
        "actualEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete."
        }
      },
      "description": "Basic broadcast information.",
      "id": "LiveBroadcastSnippet"
    },
    "Member": {
      "id": "Member",
      "description": "A *member* resource represents a member for a YouTube channel. A member provides recurring monetary support to a creator and receives special benefits.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#member\".",
          "default": "youtube#member",
          "type": "string"
        },
        "snippet": {
          "$ref": "MemberSnippet",
          "description": "The snippet object contains basic details about the member."
        }
      },
      "type": "object"
    },
    "ChannelToStoreLinkDetails": {
      "type": "object",
      "id": "ChannelToStoreLinkDetails",
      "properties": {
        "merchantId": {
          "description": "Google Merchant Center id of the store.",
          "format": "uint64",
          "type": "string"
        },
        "storeUrl": {
          "description": "Landing page of the store.",
          "type": "string"
        },
        "merchantAffiliateProgramDetails": {
          "description": "Information specific to merchant affiliate program (read-only).",
          "$ref": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails"
        },
        "billingDetails": {
          "$ref": "ChannelToStoreLinkDetailsBillingDetails",
          "description": "Information specific to billing (read-only)."
        },
        "storeName": {
          "type": "string",
          "description": "Name of the store."
        }
      },
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel."
    },
    "PlaylistItemContentDetails": {
      "properties": {
        "startAt": {
          "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0.",
          "type": "string",
          "deprecated": true
        },
        "endAt": {
          "type": "string",
          "deprecated": true,
          "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video."
        },
        "note": {
          "type": "string",
          "description": "A user-generated note for this item."
        },
        "videoPublishedAt": {
          "type": "string",
          "description": "The date and time that the video was published to YouTube.",
          "format": "date-time"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request."
        }
      },
      "type": "object",
      "id": "PlaylistItemContentDetails"
    },
    "ActivityContentDetailsPromotedItem": {
      "type": "object",
      "description": "Details about a resource which is being promoted.",
      "id": "ActivityContentDetailsPromotedItem",
      "properties": {
        "impressionUrl": {
          "description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customCtaButtonText": {
          "description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type.",
          "type": "string"
        },
        "descriptionText": {
          "type": "string",
          "description": "The text description to accompany the promoted item."
        },
        "forecastingUrl": {
          "items": {
            "type": "string"
          },
          "description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
          "type": "array"
        },
        "ctaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
          "type": "string",
          "enum": [
            "ctaTypeUnspecified",
            "visitAdvertiserSite"
          ]
        },
        "creativeViewUrl": {
          "description": "The URL the client should ping to indicate that the user was shown this promoted item.",
          "type": "string"
        },
        "destinationUrl": {
          "type": "string",
          "description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website."
        },
        "adTag": {
          "type": "string",
          "description": "The URL the client should fetch to request a promoted item."
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the promoted video."
        },
        "clickTrackingUrl": {
          "description": "The URL the client should ping to indicate that the user clicked through on this promoted item.",
          "type": "string"
        }
      }
    },
    "VideoStat": {
      "properties": {
        "snippet": {
          "$ref": "VideoStatsSnippet",
          "readOnly": true,
          "description": "Output only. The VideoStatsSnippet object contains basic details about the video, such publish time."
        },
        "contentDetails": {
          "readOnly": true,
          "$ref": "VideoStatsContentDetails",
          "description": "Output only. The VideoStatsContentDetails object contains information about the video content, including the length of the video."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"youtube#videoStats\".",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The ID that YouTube uses to uniquely identify the video.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag of this resource.",
          "type": "string",
          "readOnly": true
        },
        "statistics": {
          "description": "Output only. The VideoStatsStatistics object contains statistics about the video.",
          "readOnly": true,
          "$ref": "VideoStatsStatistics"
        }
      },
      "description": "A *VideoStat* resource represents a YouTube video's stats.",
      "id": "VideoStat",
      "type": "object"
    },
    "LiveStreamContentDetails": {
      "properties": {
        "isReusable": {
          "type": "boolean",
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. "
        },
        "closedCaptionsIngestionUrl": {
          "description": "The ingestion URL where the closed captions of this stream are sent.",
          "type": "string"
        }
      },
      "id": "LiveStreamContentDetails",
      "type": "object",
      "description": "Detailed settings of a stream."
    },
    "CuepointSchedule": {
      "type": "object",
      "id": "CuepointSchedule",
      "description": "Schedule to insert cuepoints into a broadcast by ads automator.",
      "properties": {
        "scheduleStrategy": {
          "deprecated": true,
          "enumDescriptions": [
            "",
            "Strategy to schedule cuepoints at one time for all viewers.",
            "Strategy to schedule cuepoints at an increased rate to allow viewers to receive cuepoints when eligible. See go/lcr-non-concurrent-ads for more details."
          ],
          "description": "The strategy to use when scheduling cuepoints.",
          "type": "string",
          "enum": [
            "scheduleStrategyUnspecified",
            "concurrent",
            "nonConcurrent"
          ]
        },
        "repeatIntervalSecs": {
          "format": "int32",
          "deprecated": true,
          "description": "Interval frequency in seconds that api uses to insert cuepoints automatically.",
          "type": "integer"
        },
        "pauseAdsUntil": {
          "description": "If set, automatic cuepoint insertion is paused until this timestamp (\"No Ad Zone\"). The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "enabled": {
          "description": "This field is semantically required. If it is set false or not set, other fields in this message will be ignored.",
          "type": "boolean"
        }
      }
    },
    "I18nLanguageListResponse": {
      "id": "I18nLanguageListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "I18nLanguage"
          },
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".",
          "type": "string",
          "default": "youtube#i18nLanguageListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      }
    },
    "CommentListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "type": "string",
          "default": "youtube#commentListResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of comments that match the request criteria.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        }
      },
      "id": "CommentListResponse",
      "type": "object"
    },
    "LiveChatUserBannedMessageDetails": {
      "type": "object",
      "id": "LiveChatUserBannedMessageDetails",
      "properties": {
        "banDurationSeconds": {
          "type": "string",
          "description": "The duration of the ban. This property is only present if the banType is temporary.",
          "format": "uint64"
        },
        "banType": {
          "description": "The type of ban.",
          "type": "string",
          "enum": [
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "The details of the user that was banned."
        }
      }
    },
    "ActivityContentDetailsFavorite": {
      "description": "Information about a video that was marked as a favorite video. Deprecated: This resource is no longer returned.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the resource that was marked as a favorite."
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsFavorite"
    },
    "PlaylistImage": {
      "properties": {
        "id": {
          "description": "Identifies this resource (playlist id and image type).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#playlistImage",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImages\"."
        },
        "snippet": {
          "$ref": "PlaylistImageSnippet"
        }
      },
      "id": "PlaylistImage",
      "type": "object"
    },
    "BrandPartner": {
      "id": "BrandPartner",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "Required. External Channel ID, must begin with \"UC\""
        },
        "channelHandle": {
          "description": "Required. Channel handle, must begin with \"@\"",
          "type": "string"
        }
      },
      "description": "Details about the brand partner linked to the video for Creator Initiated Linking (CIL). Next ID: 6",
      "type": "object"
    },
    "ActivityContentDetailsUpload": {
      "type": "object",
      "properties": {
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the uploaded video."
        }
      },
      "id": "ActivityContentDetailsUpload",
      "description": "Information about the uploaded video."
    },
    "MembershipsLevelSnippet": {
      "id": "MembershipsLevelSnippet",
      "type": "object",
      "properties": {
        "levelDetails": {
          "description": "Details about the pricing level.",
          "$ref": "LevelDetails"
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        }
      }
    },
    "MemberSnippet": {
      "type": "object",
      "id": "MemberSnippet",
      "properties": {
        "membershipsDetails": {
          "description": "Details about the user's membership.",
          "$ref": "MembershipsDetails"
        },
        "creatorChannelId": {
          "type": "string",
          "description": "The id of the channel that's offering memberships."
        },
        "memberDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the member."
        }
      }
    },
    "VideoStatsContentDetails": {
      "id": "VideoStatsContentDetails",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The length of the video. The property value is a [`google.protobuf.Duration`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) object."
        }
      },
      "type": "object",
      "description": "Details about the content of a YouTube Video. This is a subset of the information in VideoContentDetails specifically for the Videos.stats API."
    },
    "ChannelSectionLocalization": {
      "type": "object",
      "description": "ChannelSection localization setting",
      "properties": {
        "title": {
          "deprecated": true,
          "type": "string",
          "description": "The localized strings for channel section's title."
        }
      },
      "id": "ChannelSectionLocalization"
    },
    "ChannelToStoreLinkDetailsBillingDetails": {
      "description": "Information specific to billing.",
      "id": "ChannelToStoreLinkDetailsBillingDetails",
      "type": "object",
      "properties": {
        "billingStatus": {
          "type": "string",
          "enum": [
            "billingStatusUnspecified",
            "billingStatusPending",
            "billingStatusActive",
            "billingStatusInactive"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The current billing profile status."
        }
      }
    },
    "VideoAbuseReport": {
      "properties": {
        "comments": {
          "type": "string",
          "description": "Additional comments regarding the abuse report."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "reasonId": {
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID.",
          "type": "string"
        },
        "secondaryReasonId": {
          "type": "string",
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason."
        }
      },
      "id": "VideoAbuseReport",
      "type": "object"
    },
    "ChannelToAffiliateProgramLinkDetails": {
      "description": "Information specific to a creator in an affiliate program linked to a YouTube channel.",
      "properties": {
        "statusUpdateTime": {
          "description": "Optional. Timestamp when the affiliate program status was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "statusUpdateReason": {
          "description": "Optional. Reason for the last update of the affiliate program status.",
          "type": "string"
        },
        "programStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "Channel is active in the affiliate program.",
            "Channel is inactive in the affiliate program."
          ],
          "description": "Required. Affiliate program status.",
          "type": "string",
          "enum": [
            "affiliateProgramStatusUnspecified",
            "active",
            "inactive"
          ]
        },
        "merchantId": {
          "description": "Required. Google Merchant Center ID of the partner.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "ChannelToAffiliateProgramLinkDetails"
    },
    "AbuseReport": {
      "properties": {
        "relatedEntities": {
          "type": "array",
          "items": {
            "$ref": "RelatedEntity"
          }
        },
        "subject": {
          "$ref": "Entity"
        },
        "abuseTypes": {
          "type": "array",
          "items": {
            "$ref": "AbuseType"
          }
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AbuseReport"
    },
    "PlaylistListResponse": {
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "A list of playlists that match the request criteria",
          "type": "array",
          "items": {
            "$ref": "Playlist"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "default": "youtube#playlistListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\".",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        }
      },
      "id": "PlaylistListResponse",
      "type": "object"
    },
    "ActivityContentDetails": {
      "type": "object",
      "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
      "id": "ActivityContentDetails",
      "properties": {
        "promotedItem": {
          "$ref": "ActivityContentDetailsPromotedItem",
          "description": "The `promotedItem` object contains details about a resource which is being promoted. This property is only present if the `snippet.type` is `promotedItem`."
        },
        "bulletin": {
          "$ref": "ActivityContentDetailsBulletin",
          "description": "The `bulletin` object contains details about a channel bulletin post. This object is only present if the `snippet.type` is `bulletin`."
        },
        "recommendation": {
          "description": "The `recommendation` object contains information about a recommended resource. This property is only present if the `snippet.type` is `recommendation`.",
          "$ref": "ActivityContentDetailsRecommendation"
        },
        "playlistItem": {
          "description": "The `playlistItem` object contains information about a new playlist item. This property is only present if the `snippet.type` is `playlistItem`.",
          "$ref": "ActivityContentDetailsPlaylistItem"
        },
        "favorite": {
          "$ref": "ActivityContentDetailsFavorite",
          "description": "The `favorite` object contains information about a video that was marked as a favorite video. This property is only present if the `snippet.type` is `favorite`. Deprecated: This property is no longer returned."
        },
        "like": {
          "description": "The `like` object contains information about a resource that received a positive (like) rating. This property is only present if the `snippet.type` is `like`. Deprecated: This property is no longer returned.",
          "$ref": "ActivityContentDetailsLike"
        },
        "comment": {
          "description": "The `comment` object contains information about a resource that received a comment. This property is only present if the `snippet.type` is `comment`.",
          "$ref": "ActivityContentDetailsComment"
        },
        "channelItem": {
          "description": "The `channelItem` object contains details about a resource which was added to a channel. This property is only present if the `snippet.type` is `channelItem`.",
          "$ref": "ActivityContentDetailsChannelItem"
        },
        "social": {
          "description": "The `social` object contains details about a social network post. This property is only present if the `snippet.type` is `social`.",
          "$ref": "ActivityContentDetailsSocial"
        },
        "subscription": {
          "$ref": "ActivityContentDetailsSubscription",
          "description": "The `subscription` object contains information about a channel that a user subscribed to. This property is only present if the `snippet.type` is `subscription`. Deprecated: This property is no longer returned."
        },
        "upload": {
          "$ref": "ActivityContentDetailsUpload",
          "description": "The `upload` object contains information about the uploaded video. This property is only present if the `snippet.type` is `upload`."
        }
      }
    },
    "PlaylistItemStatus": {
      "type": "object",
      "properties": {
        "privacyStatus": {
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "This resource's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Information about the playlist item's privacy status.",
      "id": "PlaylistItemStatus"
    },
    "LiveBroadcastContentDetails": {
      "description": "Detailed settings of a broadcast.",
      "id": "LiveBroadcastContentDetails",
      "type": "object",
      "properties": {
        "startWithSlate": {
          "deprecated": true,
          "type": "boolean",
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers."
        },
        "projection": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ],
          "description": "The projection format of this broadcast. This defaults to rectangular."
        },
        "monitorStream": {
          "$ref": "MonitorStreamInfo",
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly."
        },
        "boundStreamLastUpdateTimeMs": {
          "description": "The date and time that the live stream referenced by boundStreamId was last updated.",
          "format": "date-time",
          "type": "string"
        },
        "stereoLayout": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The 3D stereo layout of this broadcast. This defaults to mono.",
          "type": "string",
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ]
        },
        "enableEmbed": {
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.",
          "type": "boolean"
        },
        "boundStreamId": {
          "type": "string",
          "description": "This value uniquely identifies the live stream bound to the broadcast."
        },
        "availabilityConfig": {
          "$ref": "AvailabilityConfig",
          "description": "Optional. The broadcast's availability config. Used to set specific region availability or block specific regions It is optional - if not set, it is not enforced."
        },
        "recordFromStart": {
          "type": "boolean",
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback."
        },
        "enableContentEncryption": {
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast.",
          "type": "boolean"
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "mesh": {
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.",
          "type": "string",
          "format": "byte"
        },
        "enableDvr": {
          "type": "boolean",
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends."
        },
        "latencyPreference": {
          "type": "string",
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ],
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted."
        },
        "enableAutoStop": {
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableLowLatency": {
          "deprecated": true,
          "type": "boolean",
          "description": "Indicates whether this broadcast has low latency enabled."
        },
        "closedCaptionsType": {
          "type": "string",
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "enableClosedCaptions": {
          "deprecated": true,
          "type": "boolean",
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST."
        }
      }
    },
    "ChannelSettings": {
      "id": "ChannelSettings",
      "type": "object",
      "description": "Branding properties for the channel view.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Specifies the channel title."
        },
        "defaultTab": {
          "deprecated": true,
          "type": "string",
          "description": "Which content tab users should see when viewing the channel."
        },
        "showRelatedChannels": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether related channels should be proposed."
        },
        "unsubscribedTrailer": {
          "type": "string",
          "description": "The trailer of the channel, for users that are not subscribers."
        },
        "showBrowseView": {
          "type": "boolean",
          "description": "Whether the tab to browse the videos should be displayed.",
          "deprecated": true
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "description": {
          "type": "string",
          "description": "Specifies the channel description."
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string"
        },
        "moderateComments": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
        },
        "profileColor": {
          "type": "string",
          "description": "A prominent color that can be rendered on this channel page.",
          "deprecated": true
        },
        "featuredChannelsUrls": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "The list of featured channels."
        },
        "featuredChannelsTitle": {
          "deprecated": true,
          "type": "string",
          "description": "Title for the featured channels tab."
        }
      }
    },
    "PlaylistPlayer": {
      "properties": {
        "embedHtml": {
          "description": "An <iframe> tag that embeds a player that will play the playlist.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlaylistPlayer"
    },
    "ThirdPartyLinkListResponse": {
      "type": "object",
      "id": "ThirdPartyLinkListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "ThirdPartyLink"
          }
        },
        "kind": {
          "default": "youtube#thirdPartyLinkListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLinkListResponse\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ActivityContentDetailsSocial": {
      "properties": {
        "type": {
          "description": "The name of the social network.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "An image of the post's author."
        },
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        },
        "resourceId": {
          "description": "The `resourceId` object encapsulates information that identifies the resource associated with a social network post.",
          "$ref": "ResourceId"
        },
        "referenceUrl": {
          "type": "string",
          "description": "The URL of the social network post."
        }
      },
      "id": "ActivityContentDetailsSocial",
      "description": "Details about a social network post.",
      "type": "object"
    },
    "LiveChatMessageListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#liveChatMessageListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessageListResponse\".",
          "type": "string"
        },
        "pollingIntervalMillis": {
          "description": "The amount of time the client should wait before polling again.",
          "type": "integer",
          "format": "uint32"
        },
        "items": {
          "items": {
            "$ref": "LiveChatMessage"
          },
          "type": "array"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "offlineAt": {
          "type": "string",
          "description": "The date and time when the underlying stream went offline.",
          "format": "date-time"
        },
        "activePollItem": {
          "$ref": "LiveChatMessage",
          "description": "Set when there is an active poll."
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "id": "LiveChatMessageListResponse",
      "type": "object"
    },
    "ChannelContentDetails": {
      "id": "ChannelContentDetails",
      "properties": {
        "relatedPlaylists": {
          "type": "object",
          "properties": {
            "watchLater": {
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "deprecated": true
            },
            "likes": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            },
            "uploads": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos."
            },
            "watchHistory": {
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "deprecated": true
            },
            "favorites": {
              "deprecated": true,
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            }
          }
        }
      },
      "type": "object",
      "description": "Details about the content of a channel."
    },
    "LiveBroadcast": {
      "type": "object",
      "id": "LiveBroadcast",
      "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
          "default": "youtube#liveBroadcast",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time.",
          "$ref": "LiveBroadcastSnippet"
        },
        "statistics": {
          "description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live.",
          "$ref": "LiveBroadcastStatistics"
        },
        "monetizationDetails": {
          "$ref": "LiveBroadcastMonetizationDetails",
          "description": "The monetizationDetails object contains information about the event's monetization details."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded.",
          "$ref": "LiveBroadcastContentDetails"
        },
        "status": {
          "$ref": "LiveBroadcastStatus",
          "description": "The status object contains information about the event's status."
        }
      }
    },
    "VideoStatsSnippet": {
      "description": "Basic details about a video. This is a subset of the information in VideoSnippet specifically for the Videos.stats API.",
      "properties": {
        "publishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time that the video was uploaded. The property value is a [`google.protobuf.Timestamp`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#timestamp) object.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoStatsSnippet"
    },
    "VideoRating": {
      "id": "VideoRating",
      "type": "object",
      "properties": {
        "rating": {
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "type": "string",
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "description": "Rating of a video."
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        }
      },
      "description": "Basic details about rating of a video."
    },
    "ActivityContentDetailsChannelItem": {
      "properties": {
        "resourceId": {
          "description": "The `resourceId` object contains information that identifies the resource that was added to the channel.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsChannelItem",
      "description": "Details about a resource which was added to a channel.",
      "type": "object"
    },
    "LiveBroadcastStatus": {
      "description": "Live broadcast state.",
      "properties": {
        "recordingStatus": {
          "type": "string",
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "description": "The broadcast's recording status."
        },
        "selfDeclaredMadeForKids": {
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.",
          "type": "boolean"
        },
        "liveBroadcastPriority": {
          "type": "string",
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ],
          "description": "Priority of the live broadcast event (internal state)."
        },
        "madeForKids": {
          "type": "boolean",
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only."
        },
        "lifeCycleStatus": {
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "type": "string",
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ],
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method."
        },
        "privacyStatus": {
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        }
      },
      "id": "LiveBroadcastStatus",
      "type": "object"
    },
    "CommentThreadReplies": {
      "id": "CommentThreadReplies",
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies."
        }
      },
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment."
    },
    "PlaylistContentDetails": {
      "id": "PlaylistContentDetails",
      "type": "object",
      "properties": {
        "itemCount": {
          "description": "The number of videos in the playlist.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "VideoTopicDetails": {
      "description": "Freebase topic information related to the video.",
      "type": "object",
      "id": "VideoTopicDetails",
      "properties": {
        "topicCategories": {
          "type": "array",
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
          "items": {
            "type": "string"
          }
        },
        "relevantTopicIds": {
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the < a href=\"http://wiki.freebase.com/wiki/Topic_API\">Freebase Topic API.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LiveChatSuperChatDetails": {
      "type": "object",
      "id": "LiveChatSuperChatDetails",
      "properties": {
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "tier": {
          "type": "integer",
          "format": "uint32",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1."
        },
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "amountMicros": {
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "MemberListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\".",
          "default": "youtube#memberListResponse"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Member"
          },
          "description": "A list of members that match the request criteria."
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "MemberListResponse"
    },
    "SuperChatEventSnippet": {
      "id": "SuperChatEventSnippet",
      "type": "object",
      "properties": {
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "channelId": {
          "description": "Channel id where the event occurred.",
          "type": "string"
        },
        "amountMicros": {
          "type": "string",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "format": "uint64"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made. ISO 4217."
        },
        "commentText": {
          "type": "string",
          "description": "The text contents of the comment left by the user."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the event occurred."
        },
        "messageType": {
          "format": "uint32",
          "type": "integer",
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message."
        },
        "supporterDetails": {
          "description": "Details about the supporter.",
          "$ref": "ChannelProfileDetails"
        },
        "isSuperStickerEvent": {
          "description": "True if this event is a Super Sticker event.",
          "type": "boolean"
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        }
      }
    },
    "VideoLocalization": {
      "id": "VideoLocalization",
      "description": "Localized versions of certain video properties (e.g. title).",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Localized version of the video's description."
        },
        "title": {
          "description": "Localized version of the video's title.",
          "type": "string"
        }
      }
    },
    "LiveChatTextMessageDetails": {
      "id": "LiveChatTextMessageDetails",
      "type": "object",
      "properties": {
        "messageText": {
          "description": "The user's message.",
          "type": "string"
        }
      }
    },
    "ChannelSectionTargeting": {
      "id": "ChannelSectionTargeting",
      "properties": {
        "languages": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The language the channel section is targeting."
        },
        "countries": {
          "type": "array",
          "deprecated": true,
          "description": "The country the channel section is targeting.",
          "items": {
            "type": "string"
          }
        },
        "regions": {
          "deprecated": true,
          "description": "The region the channel section is targeting.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "ChannelSection targeting setting.",
      "type": "object"
    },
    "I18nLanguage": {
      "type": "object",
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.",
      "properties": {
        "kind": {
          "default": "youtube#i18nLanguage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\"."
        },
        "snippet": {
          "$ref": "I18nLanguageSnippet",
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n language.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "id": "I18nLanguage"
    },
    "VideoAbuseReportSecondaryReason": {
      "type": "object",
      "id": "VideoAbuseReportSecondaryReason",
      "properties": {
        "id": {
          "description": "The ID of this abuse report secondary reason.",
          "type": "string"
        },
        "label": {
          "description": "The localized label for this abuse report secondary reason.",
          "type": "string"
        }
      }
    },
    "MembershipsLevelListResponse": {
      "id": "MembershipsLevelListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevelListResponse",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "MembershipsLevel"
          },
          "description": "A list of pricing levels offered by a creator to the fans."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ChannelTopicDetails": {
      "type": "object",
      "id": "ChannelTopicDetails",
      "properties": {
        "topicIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "deprecated": true,
          "type": "array"
        },
        "topicCategories": {
          "description": "A list of Wikipedia URLs that describe the channel's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Freebase topic information related to the channel."
    },
    "CdnSettings": {
      "id": "CdnSettings",
      "description": "Brief description of the live stream cdn settings.",
      "properties": {
        "format": {
          "deprecated": true,
          "type": "string",
          "description": "The format of the video stream that you are sending to Youtube. ",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          }
        },
        "frameRate": {
          "description": "The frame rate of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ]
        },
        "ingestionType": {
          "description": " The method or protocol used to transmit the video stream.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ]
        },
        "ingestionInfo": {
          "$ref": "IngestionInfo",
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube."
        },
        "resolution": {
          "description": "The resolution of the inbound video data.",
          "type": "string",
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "AvailabilityConfig": {
      "type": "object",
      "description": "Common proto for Live and VOD geo-restrictions",
      "id": "AvailabilityConfig",
      "properties": {
        "globalConfig": {
          "$ref": "AvailabilityConfigGlobalConfig",
          "description": "Video is available in all regions except the ones specified in the config."
        },
        "regionsConfig": {
          "description": "Video is available in the specified regions only.",
          "$ref": "AvailabilityConfigRegionsConfig"
        }
      }
    },
    "I18nRegionSnippet": {
      "type": "object",
      "id": "I18nRegionSnippet",
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The human-readable name of the region."
        },
        "gl": {
          "description": "The region code as a 2-letter ISO country code.",
          "type": "string"
        }
      }
    },
    "LiveStreamStatus": {
      "properties": {
        "healthStatus": {
          "$ref": "LiveStreamHealthStatus",
          "description": "The health status of the stream."
        },
        "streamStatus": {
          "type": "string",
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Brief description of the live stream status.",
      "id": "LiveStreamStatus",
      "type": "object"
    },
    "ActivityContentDetailsLike": {
      "properties": {
        "resourceId": {
          "description": "The `resourceId` object contains information that identifies the rated resource.",
          "$ref": "ResourceId"
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsLike",
      "description": "Information about a resource that received a positive (like) rating. Deprecated: This resource is no longer returned."
    },
    "ChannelBannerResource": {
      "type": "object",
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "properties": {
        "etag": {
          "type": "string"
        },
        "kind": {
          "default": "youtube#channelBannerResource",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "type": "string"
        },
        "url": {
          "description": "The URL of this banner image.",
          "type": "string"
        }
      },
      "id": "ChannelBannerResource"
    },
    "PlaylistItemListResponse": {
      "type": "object",
      "id": "PlaylistItemListResponse",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "etag": {
          "type": "string"
        },
        "kind": {
          "default": "youtube#playlistItemListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\".",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlaylistItem"
          },
          "type": "array",
          "description": "A list of playlist items that match the request criteria."
        }
      }
    },
    "VideoCategoryListResponse": {
      "id": "VideoCategoryListResponse",
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
          "items": {
            "$ref": "VideoCategory"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "default": "youtube#videoCategoryListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "id": "I18nLanguageSnippet",
      "properties": {
        "name": {
          "description": "The human-readable name of the language in the language itself.",
          "type": "string"
        },
        "hl": {
          "type": "string",
          "description": "A short BCP-47 code that uniquely identifies a language."
        }
      },
      "type": "object",
      "description": "Basic details about an i18n language, such as language code and human-readable name."
    },
    "ActivityContentDetailsComment": {
      "id": "ActivityContentDetailsComment",
      "type": "object",
      "description": "Information about a resource that received a comment.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the resource associated with the comment."
        }
      }
    },
    "MembershipsDurationAtLevel": {
      "id": "MembershipsDurationAtLevel",
      "type": "object",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member for the given level.",
          "type": "string"
        },
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ThumbnailDetails": {
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "id": "ThumbnailDetails",
      "properties": {
        "qhd": {
          "$ref": "Thumbnail",
          "description": "The quad high definition (1440p / 2K) quality image for this resource."
        },
        "high": {
          "$ref": "Thumbnail",
          "description": "The high quality image for this resource."
        },
        "uhd": {
          "$ref": "Thumbnail",
          "description": "The ultra-high resolution (4K) quality image for this resource."
        },
        "maxres": {
          "$ref": "Thumbnail",
          "description": "The maximum resolution quality image for this resource."
        },
        "fhd": {
          "description": "The full high definition (1080p) quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "standard": {
          "$ref": "Thumbnail",
          "description": "The standard quality image for this resource."
        },
        "default": {
          "description": "The default image for this resource.",
          "$ref": "Thumbnail"
        }
      },
      "type": "object"
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "properties": {
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
[...]
