{
  "documentationLink": "https://developers.google.com/youtube/analytics",
  "version": "v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://youtubeanalytics.googleapis.com/",
  "description": "Retrieves your YouTube Analytics data.",
  "revision": "20260930",
  "basePath": "",
  "canonicalName": "YouTube Analytics",
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "title": "YouTube Analytics API",
  "schemas": {
    "ErrorProto": {
      "description": "Describes one specific error.",
      "type": "object",
      "id": "ErrorProto",
      "properties": {
        "code": {
          "description": "Error code in the error domain. This should correspond to a value of the enum type whose name is in domain. See the core error domain in error_domain.proto.",
          "type": "string"
        },
        "argument": {
          "type": "array",
          "description": "Error arguments, to be used when building user-friendly error messages given the error domain and code. Different error codes require different arguments.",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "Location of the error, as specified by the location type. If location_type is PATH, this should be a path to a field that's relative to the request, using FieldPath notation (net/proto2/util/public/field_path.h). Examples: authenticated_user.gaia_id resource.address[2].country",
          "type": "string"
        },
        "domain": {
          "description": "Error domain. RoSy services can define their own domain and error codes. This should normally be the name of an enum type, such as: gdata.CoreErrorDomain",
          "type": "string"
        },
        "locationType": {
          "enumDescriptions": [
            "location is an xpath-like path pointing to the request field that caused the error.",
            "other location type which can safely be shared externally.",
            "Location is request parameter. This maps to the {@link PARAMETERS} in {@link MessageLocation}."
          ],
          "type": "string",
          "enum": [
            "PATH",
            "OTHER",
            "PARAMETER"
          ]
        },
        "externalErrorMessage": {
          "type": "string",
          "description": "A short explanation for the error, which can be shared outside Google. Please set domain, code and arguments whenever possible instead of this error message so that external APIs can build safe error messages themselves. External messages built in a RoSy interface will most likely refer to information and concepts that are not available externally and should not be exposed. It is safer if external APIs can understand the errors and decide what the error message should look like."
        },
        "debugInfo": {
          "type": "string",
          "description": "Debugging information, which should not be shared externally."
        }
      }
    },
    "Group": {
      "description": "A group.",
      "id": "Group",
      "properties": {
        "snippet": {
          "description": "The `snippet` object contains basic information about the group, including its creation date and name.",
          "$ref": "GroupSnippet"
        },
        "contentDetails": {
          "$ref": "GroupContentDetails",
          "description": "The `contentDetails` object contains additional information about the group, such as the number and type of items that it contains."
        },
        "etag": {
          "description": "The Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the group."
        },
        "kind": {
          "description": "Identifies the API resource's type. The value will be `youtube#group`.",
          "type": "string"
        },
        "errors": {
          "description": "Apiary error details",
          "$ref": "Errors"
        }
      },
      "type": "object"
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "type": "object",
      "properties": {
        "columnHeaders": {
          "items": {
            "$ref": "ResultTableColumnHeader"
          },
          "description": "This value specifies information about the data returned in the `rows` fields. Each item in the `columnHeaders` list identifies a field returned in the `rows` value, which contains a list of comma-delimited data. The `columnHeaders` list will begin with the dimensions specified in the API request, which will be followed by the metrics specified in the API request. The order of both dimensions and metrics will match the ordering in the API request. For example, if the API request contains the parameters `dimensions=ageGroup,gender&metrics=viewerPercentage`, the API response will return columns in this order: `ageGroup`, `gender`, `viewerPercentage`.",
          "type": "array"
        },
        "rows": {
          "type": "array",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "The list contains all rows of the result table. Each item in the list is an array that contains comma-delimited data corresponding to a single row of data. The order of the comma-delimited data fields will match the order of the columns listed in the `columnHeaders` field. If no data is available for the given query, the `rows` element will be omitted from the response. The response for a query with the `day` dimension will not contain rows for the most recent days."
        },
        "kind": {
          "description": "This value specifies the type of data included in the API response. For the query method, the kind property value will be `youtubeAnalytics#resultTable`.",
          "type": "string"
        },
        "errors": {
          "description": "When set, indicates that the operation failed.",
          "$ref": "Errors"
        }
      },
      "description": "Response message for TargetedQueriesService.Query."
    },
    "EmptyResponse": {
      "description": "Empty response.",
      "type": "object",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "Apiary error details"
        }
      },
      "id": "EmptyResponse"
    },
    "GroupContentDetails": {
      "id": "GroupContentDetails",
      "properties": {
        "itemType": {
          "type": "string",
          "description": "The type of resources that the group contains. Valid values for this property are: * `youtube#channel` * `youtube#playlist` * `youtube#video` * `youtubePartner#asset`"
        },
        "itemCount": {
          "format": "uint64",
          "type": "string",
          "description": "The number of items in the group."
        }
      },
      "type": "object",
      "description": "A group's content details."
    },
    "GroupItemResource": {
      "id": "GroupItemResource",
      "type": "object",
      "properties": {
        "id": {
          "description": "The channel, video, playlist, or asset ID that YouTube uses to uniquely identify the item that is being added to the group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the type of resource being added to the group. Valid values for this property are: * `youtube#channel` * `youtube#playlist` * `youtube#video` * `youtubePartner#asset`",
          "type": "string"
        }
      }
    },
    "ResultTableColumnHeader": {
      "id": "ResultTableColumnHeader",
      "properties": {
        "columnType": {
          "description": "The type of the column (`DIMENSION` or `METRIC`).",
          "type": "string"
        },
        "dataType": {
          "description": "The type of the data in the column (`STRING`, `INTEGER`, `FLOAT`, etc.).",
          "type": "string"
        },
        "name": {
          "description": "The name of the dimension or metric.",
          "type": "string"
        }
      },
      "description": "The description of a column of the result table.",
      "type": "object"
    },
    "ListGroupItemsResponse": {
      "id": "ListGroupItemsResponse",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "Apiary error details"
        },
        "kind": {
          "description": "Identifies the API resource's type. The value will be `youtube#groupItemListResponse`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The Etag of this resource."
        },
        "items": {
          "items": {
            "$ref": "GroupItem"
          },
          "description": "A list of groups that match the API request parameters. Each item in the list represents a `groupItem` resource.",
          "type": "array"
        }
      },
      "description": "Response message for GroupsService.ListGroupItems.",
      "type": "object"
    },
    "GroupSnippet": {
      "description": "A group snippet.",
      "id": "GroupSnippet",
      "type": "object",
      "properties": {
        "publishedAt": {
          "description": "The date and time that the group was created. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sZ) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "The group name. The value must be a non-empty string."
        }
      }
    },
    "Errors": {
      "id": "Errors",
      "properties": {
        "code": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "BAD_REQUEST",
            "FORBIDDEN",
            "NOT_FOUND",
            "CONFLICT",
            "GONE",
            "PRECONDITION_FAILED",
            "INTERNAL_ERROR",
            "SERVICE_UNAVAILABLE"
          ],
          "description": "Global error code. Deprecated and ignored. Set custom error codes in ErrorProto.domain and ErrorProto.code instead.",
          "deprecated": true
        },
        "requestId": {
          "description": "Request identifier generated by the service, which can be used to identify the error in the logs",
          "type": "string"
        },
        "error": {
          "description": "Specific error description and codes",
          "type": "array",
          "items": {
            "$ref": "ErrorProto"
          }
        }
      },
      "type": "object",
      "description": "Request Error information. The presence of an error field signals that the operation has failed."
    },
    "ListGroupsResponse": {
      "description": "Response message for GroupsService.ListGroups.",
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the API resource's type. The value will be `youtube#groupListResponse`."
        },
        "errors": {
          "$ref": "Errors",
          "description": "Apiary error details"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "A list of groups that match the API request parameters. Each item in the list represents a `group` resource."
        },
        "etag": {
          "description": "The Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the `pageToken` parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      }
    },
    "GroupItem": {
      "type": "object",
      "id": "GroupItem",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the API resource's type. The value will be `youtube#groupItem`."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the `channel`, `video`, `playlist`, or `asset` resource that is included in the group. Note that this ID refers specifically to the inclusion of that resource in a particular group and is different than the channel ID, video ID, playlist ID, or asset ID that uniquely identifies the resource itself. The `resource.id` property's value specifies the unique channel, video, playlist, or asset ID.",
          "type": "string"
        },
        "groupId": {
          "description": "The ID that YouTube uses to uniquely identify the group that contains the item.",
          "type": "string"
        },
        "etag": {
          "description": "The Etag of this resource.",
          "type": "string"
        },
        "errors": {
          "description": "Apiary error details",
          "$ref": "Errors"
        },
        "resource": {
          "description": "The `resource` object contains information that identifies the item being added to the group.",
          "$ref": "GroupItemResource"
        }
      },
      "description": "A group item."
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/yt-analytics.readonly": {
          "description": "View YouTube Analytics reports for your YouTube content"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly": {
          "description": "View monetary and non-monetary YouTube Analytics reports for your YouTube content"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        }
      }
    }
  },
  "resources": {
    "reports": {
      "methods": {
        "query": {
          "flatPath": "v2/reports",
          "parameters": {
            "endDate": {
              "type": "string",
              "description": "The end date for fetching YouTube Analytics data. The value should be in `YYYY-MM-DD` format. required: true, pattern: [0-9]{4}-[0-9]{2}-[0-9]{2}",
              "location": "query"
            },
            "currency": {
              "type": "string",
              "description": "The currency to which financial metrics should be converted. The default is US Dollar (USD). If the result contains no financial metrics, this flag will be ignored. Responds with an error if the specified currency is not recognized.\", pattern: [A-Z]{3}",
              "location": "query"
            },
            "dimensions": {
              "location": "query",
              "description": "A comma-separated list of YouTube Analytics dimensions, such as `views` or `ageGroup,gender`. See the [Available Reports](/youtube/analytics/v2/available_reports) document for a list of the reports that you can retrieve and the dimensions used for those reports. Also see the [Dimensions](/youtube/analytics/v2/dimsmets/dims) document for definitions of those dimensions.\" pattern: [0-9a-zA-Z,]+",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "location": "query",
              "description": "The start date for fetching YouTube Analytics data. The value should be in `YYYY-MM-DD` format. required: true, pattern: \"[0-9]{4}-[0-9]{2}-[0-9]{2}"
            },
            "filters": {
              "description": "A list of filters that should be applied when retrieving YouTube Analytics data. The [Available Reports](/youtube/analytics/v2/available_reports) document identifies the dimensions that can be used to filter each report, and the [Dimensions](/youtube/analytics/v2/dimsmets/dims) document defines those dimensions. If a request uses multiple filters, join them together with a semicolon (`;`), and the returned result table will satisfy both filters. For example, a filters parameter value of `video==dMH0bHeiRNg;country==IT` restricts the result set to include data for the given video in Italy.\",",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter (one-based, inclusive).\", minValue: 1"
            },
            "sort": {
              "location": "query",
              "description": "A comma-separated list of dimensions or metrics that determine the sort order for YouTube Analytics data. By default the sort order is ascending. The '`-`' prefix causes descending sort order.\", pattern: [-0-9a-zA-Z,]+",
              "type": "string"
            },
            "metrics": {
              "type": "string",
              "description": "A comma-separated list of YouTube Analytics metrics, such as `views` or `likes,dislikes`. See the [Available Reports](/youtube/analytics/v2/available_reports) document for a list of the reports that you can retrieve and the metrics available in each report, and see the [Metrics](/youtube/analytics/v2/dimsmets/mets) document for definitions of those metrics. required: true, pattern: [0-9a-zA-Z,]+",
              "location": "query"
            },
            "includeHistoricalChannelData": {
              "type": "boolean",
              "description": "If set to true historical data (i.e. channel data from before the linking of the channel to the content owner) will be retrieved.\",",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of rows to include in the response.\", minValue: 1",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Identifies the YouTube channel or content owner for which you are retrieving YouTube Analytics data. - To request data for a YouTube user, set the `ids` parameter value to `channel==CHANNEL_ID`, where `CHANNEL_ID` specifies the unique YouTube channel ID. - To request data for a YouTube CMS content owner, set the `ids` parameter value to `contentOwner==OWNER_NAME`, where `OWNER_NAME` is the CMS name of the content owner. required: true, pattern: [a-zA-Z]+==[a-zA-Z0-9_+-]+"
            }
          },
          "description": "Retrieve your YouTube Analytics reports.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "path": "v2/reports",
          "httpMethod": "GET",
          "id": "youtubeAnalytics.reports.query",
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "groupItems": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "parameterOrder": [],
          "id": "youtubeAnalytics.groupItems.insert",
          "flatPath": "v2/groupItems",
          "response": {
            "$ref": "GroupItem"
          },
          "path": "v2/groupItems",
          "httpMethod": "POST",
          "request": {
            "$ref": "GroupItem"
          },
          "description": "Creates a group item.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "list": {
          "path": "v2/groupItems",
          "parameterOrder": [],
          "id": "youtubeAnalytics.groupItems.list",
          "description": "Returns a collection of group items that match the API request parameters.",
          "flatPath": "v2/groupItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "parameters": {
            "groupId": {
              "description": "The `groupId` parameter specifies the unique ID of the group for which you want to retrieve group items.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListGroupItemsResponse"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v2/groupItems",
          "response": {
            "$ref": "EmptyResponse"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "description": "The `id` parameter specifies the YouTube group item ID of the group item that is being deleted.",
              "type": "string"
            }
          },
          "id": "youtubeAnalytics.groupItems.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "flatPath": "v2/groupItems",
          "description": "Removes an item from a group.",
          "parameterOrder": []
        }
      }
    },
    "groups": {
      "methods": {
        "update": {
          "id": "youtubeAnalytics.groups.update",
          "parameterOrder": [],
          "response": {
            "$ref": "Group"
          },
          "description": "Modifies a group. For example, you could change a group's title.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "path": "v2/groups",
          "request": {
            "$ref": "Group"
          },
          "httpMethod": "PUT",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "flatPath": "v2/groups"
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "description": "The `id` parameter specifies the YouTube group ID of the group that is being deleted.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Deletes a group.",
          "flatPath": "v2/groups",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "EmptyResponse"
          },
          "path": "v2/groups",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "id": "youtubeAnalytics.groups.delete"
        },
        "list": {
          "parameters": {
            "mine": {
              "description": "This parameter can only be used in a properly authorized request. Set this parameter's value to true to retrieve all groups owned by the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "The `id` parameter specifies a comma-separated list of the YouTube group ID(s) for the resource(s) that are being retrieved. Each group must be owned by the authenticated user. In a `group` resource, the `id` property specifies the group's YouTube group ID. Note that if you do not specify a value for the `id` parameter, then you must set the `mine` parameter to `true`."
            },
            "pageToken": {
              "type": "string",
              "description": "The `pageToken` parameter identifies a specific page in the result set that should be returned. In an API response, the `nextPageToken` property identifies the next page that can be retrieved.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "httpMethod": "GET",
          "path": "v2/groups",
          "description": "Returns a collection of groups that match the API request parameters. For example, you can retrieve all groups that the authenticated user owns, or you can retrieve one or more groups by their unique IDs.",
          "flatPath": "v2/groups",
          "id": "youtubeAnalytics.groups.list"
        },
        "insert": {
          "parameterOrder": [],
          "description": "Creates a group.",
          "request": {
            "$ref": "Group"
          },
          "path": "v2/groups",
          "flatPath": "v2/groups",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
            "https://www.googleapis.com/auth/yt-analytics.readonly"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Group"
          },
          "id": "youtubeAnalytics.groups.insert",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. **Note:** This parameter is intended exclusively for YouTube content partners that own and manage many different YouTube channels. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube user who is acting on behalf of the content owner specified in the parameter value. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://youtubeanalytics.googleapis.com/",
  "name": "youtubeAnalytics",
  "batchPath": "batch",
  "id": "youtubeAnalytics:v2",
  "mtlsRootUrl": "https://youtubeanalytics.mtls.googleapis.com/",
  "ownerName": "Google",
  "servicePath": ""
}