{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v3",
  "kind": "discovery#restDescription",
  "name": "youtube",
  "ownerDomain": "google.com",
  "revision": "20260924",
  "batchPath": "batch",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "canonicalName": "YouTube",
  "id": "youtube:v3",
  "fullyEncodeReservedExpansion": true,
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "rootUrl": "https://youtube.googleapis.com/",
  "baseUrl": "https://youtube.googleapis.com/",
  "resources": {
    "comments": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "id": "youtube.comments.update",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "id": "youtube.comments.setModerationStatus",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "description": "Sets the moderation status of one or more comments.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments/setModerationStatus",
          "httpMethod": "POST",
          "parameters": {
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "moderationStatus": {
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "required": true,
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'."
            },
            "id": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Modifies the moderation status of the comments with the given IDs",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "description": "The requested text format for the returned comments.",
              "default": "html",
              "location": "query",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "location": "query",
              "type": "string"
            },
            "parentId": {
              "location": "query",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "default": "20",
              "maximum": "100",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "minimum": "1"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.comments.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "CommentListResponse"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "id": "youtube.comments.insert",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          }
        },
        "markAsSpam": {
          "path": "youtube/v3/comments/markAsSpam",
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments/markAsSpam",
          "id": "youtube.comments.markAsSpam",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "type": "string",
              "repeated": true
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "id": "youtube.comments.delete",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/comments"
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/i18nRegions",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "location": "query"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en_US"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.i18nRegions.list",
          "path": "youtube/v3/i18nRegions"
        }
      }
    },
    "captions": {
      "methods": {
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/captions",
          "parameterOrder": [
            "part"
          ],
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              }
            },
            "maxSize": "104857600"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "location": "query"
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "sync": {
              "location": "query",
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
            }
          },
          "response": {
            "$ref": "Caption"
          },
          "request": {
            "$ref": "Caption"
          },
          "httpMethod": "PUT",
          "path": "youtube/v3/captions",
          "id": "youtube.captions.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true
        },
        "list": {
          "path": "youtube/v3/captions",
          "httpMethod": "GET",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "response": {
            "$ref": "CaptionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.captions.list",
          "parameters": {
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Returns the captions for the specified video.",
              "required": true
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Returns the captions with the given IDs for Stubby or Apiary."
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/captions"
        },
        "download": {
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "path": "youtube/v3/captions/{id}",
          "description": "Downloads a caption track.",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions/{id}",
          "parameters": {
            "tfmt": {
              "location": "query",
              "type": "string",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt."
            },
            "tlang": {
              "location": "query",
              "type": "string",
              "description": "tlang is the language code; machine translate the captions into this language."
            },
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "The ID of the caption track to download, required for One Platform.",
              "required": true,
              "location": "path"
            }
          },
          "id": "youtube.captions.download"
        },
        "insert": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              }
            },
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600"
          },
          "path": "youtube/v3/captions",
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "Caption"
          },
          "id": "youtube.captions.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameters": {
            "sync": {
              "type": "boolean",
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOf": {
              "type": "string",
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "Caption"
          }
        },
        "delete": {
          "path": "youtube/v3/captions",
          "id": "youtube.captions.delete",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/captions",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource."
        }
      }
    },
    "channelSections": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channelSections",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "path": "youtube/v3/channelSections",
          "id": "youtube.channelSections.delete"
        },
        "list": {
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.list",
          "parameters": {
            "hl": {
              "type": "string",
              "deprecated": true,
              "location": "query",
              "description": "Return content in specified language"
            },
            "id": {
              "location": "query",
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Return the ChannelSections owned by the authenticated user."
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "channelId": {
              "type": "string",
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query"
            }
          },
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "ChannelSection"
          },
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.insert",
          "path": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSection"
          },
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "required": true,
              "type": "string",
              "repeated": true
            }
          }
        },
        "update": {
          "id": "youtube.channelSections.update",
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ChannelSection"
          },
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "ChannelSection"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
            }
          }
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "flatPath": "youtube/v3/channelBanners/insert",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/channelBanners/insert",
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "path": "/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "6291456"
          },
          "id": "youtube.channelBanners.insert",
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection."
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "required": true
            },
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en-US"
            }
          },
          "id": "youtube.videoAbuseReportReasons.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "path": "youtube/v3/videoAbuseReportReasons"
        }
      }
    },
    "commentThreads": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "searchTerms": {
              "location": "query",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.",
              "type": "string"
            },
            "moderationStatus": {
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "default": "published"
            },
            "textFormat": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "location": "query",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ]
            },
            "order": {
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "location": "query",
              "type": "string",
              "default": "time",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ]
            },
            "channelId": {
              "type": "string",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "location": "query"
            },
            "videoId": {
              "type": "string",
              "description": "Returns the comment threads of the specified video.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "default": "20",
              "maximum": "100",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "format": "uint32"
            },
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "type": "string",
              "location": "query"
            },
            "allThreadsRelatedToChannelId": {
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "repeated": true,
              "location": "query",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/commentThreads",
          "path": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "httpMethod": "GET",
          "id": "youtube.commentThreads.list",
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "id": "youtube.commentThreads.insert",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/commentThreads",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          },
          "request": {
            "$ref": "CommentThread"
          }
        }
      }
    },
    "liveStreams": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.liveStreams.list",
          "path": "youtube/v3/liveStreams",
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "maximum": "50",
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            }
          },
          "description": "Retrieve the list of streams associated with the given channel. --",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "description": "Deletes an existing stream for the authenticated user.",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/liveStreams",
          "httpMethod": "DELETE",
          "id": "youtube.liveStreams.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/liveStreams"
        },
        "insert": {
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Inserts a new stream for the authenticated user.",
          "path": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveStream"
          },
          "id": "youtube.liveStreams.insert",
          "flatPath": "youtube/v3/liveStreams",
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.liveStreams.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveStream"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams"
        }
      }
    },
    "videos": {
      "methods": {
        "reportAbuse": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/videos/reportAbuse",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "youtube.videos.reportAbuse",
          "description": "Report abuse for a video.",
          "flatPath": "youtube/v3/videos/reportAbuse"
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "type": "string",
              "enumDescriptions": [
                "The entity has not been rated.",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "location": "query"
            },
            "locale": {
              "type": "string",
              "deprecated": true,
              "location": "query"
            },
            "chart": {
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "type": "string",
              "location": "query",
              "description": "Return the videos that are in the specified chart."
            },
            "regionCode": {
              "type": "string",
              "description": "Use a chart that is specific to the specified region",
              "location": "query"
            },
            "hl": {
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "default": "5",
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "type": "integer",
              "format": "uint32"
            },
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "default": "0",
              "type": "string",
              "location": "query"
            },
            "maxWidth": {
              "format": "int32",
              "minimum": "72",
              "description": "Return the player with maximum height specified in",
              "type": "integer",
              "location": "query",
              "maximum": "8192"
            },
            "maxHeight": {
              "format": "int32",
              "maximum": "8192",
              "minimum": "72",
              "type": "integer",
              "location": "query"
            },
            "id": {
              "location": "query",
              "repeated": true,
              "description": "Return videos with the given ids.",
              "type": "string"
            }
          },
          "path": "youtube/v3/videos",
          "id": "youtube.videos.list",
          "flatPath": "youtube/v3/videos",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "VideoListResponse"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.delete",
          "path": "youtube/v3/videos"
        },
        "insert": {
          "supportsMediaUpload": true,
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.insert",
          "request": {
            "$ref": "Video"
          },
          "response": {
            "$ref": "Video"
          },
          "parameters": {
            "notifySubscribers": {
              "location": "query",
              "type": "boolean",
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "default": "true"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "stabilize": {
              "type": "boolean",
              "description": "Should stabilize be applied to the upload.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "location": "query",
              "type": "boolean"
            }
          },
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "274877906944",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/videos",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              }
            }
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/videos",
          "httpMethod": "POST"
        },
        "getRating": {
          "flatPath": "youtube/v3/videos/getRating",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "id": "youtube.videos.getRating",
          "path": "youtube/v3/videos/getRating",
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ]
        },
        "batchGetStats": {
          "id": "youtube.videos.batchGetStats",
          "httpMethod": "GET",
          "path": "youtube/v3/videos:batchGetStats",
          "flatPath": "youtube/v3/videos:batchGetStats",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "repeated": true,
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience.",
          "response": {
            "$ref": "BatchGetStatsResponse"
          }
        },
        "update": {
          "id": "youtube.videos.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Video"
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/videos",
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Video"
          }
        },
        "rate": {
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "rating": {
              "enumDescriptions": [
                "The entity has not been rated.",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "required": true
            }
          },
          "flatPath": "youtube/v3/videos/rate",
          "id": "youtube.videos.rate",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos/rate"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AbuseReport"
          },
          "id": "youtube.abuseReports.insert",
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/abuseReports",
          "response": {
            "$ref": "AbuseReport"
          },
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/abuseReports"
        }
      }
    },
    "playlists": {
      "methods": {
        "delete": {
          "description": "Deletes a resource.",
          "id": "youtube.playlists.delete",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/playlists",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/playlists"
        },
        "list": {
          "id": "youtube.playlists.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "channelId": {
              "location": "query",
              "description": "Return the playlists owned by the specified channel ID.",
              "type": "string"
            },
            "mine": {
              "description": "Return the playlists owned by the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "id": {
              "repeated": true,
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "maxResults": {
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "default": "5",
              "maximum": "50",
              "minimum": "0",
              "type": "integer"
            },
            "part": {
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Return content in specified language"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlists",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/playlists",
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "Playlist"
          },
          "id": "youtube.playlists.insert",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlists",
          "httpMethod": "POST",
          "path": "youtube/v3/playlists",
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Playlist"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "path": "youtube/v3/playlists",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.update",
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/playlists",
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "Playlist"
          },
          "request": {
            "$ref": "Playlist"
          }
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "insertCuepoint": {
          "parameterOrder": [],
          "request": {
            "$ref": "Cuepoint"
          },
          "description": "Insert cuepoints in a broadcast",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "description": "Broadcast to insert ads to, or equivalently `external_video_id` for internal use.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "httpMethod": "POST",
          "response": {
            "$ref": "Cuepoint"
          },
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "id": "youtube.liveBroadcasts.insertCuepoint"
        },
        "transition": {
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveBroadcasts/transition",
          "id": "youtube.liveBroadcasts.transition",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwner": {
[...]
